<!-- sections/index-hero-slideshow.liquid -->

{% assign height = section.settings.height %}
{% assign thumbnails = section.settings.thumbnails %}
{% assign arrows = false %}
{% assign pause = true %}
{% assign fade = true %}
{% assign speed = section.settings.speed %}

{% assign image_size = '2000x' %}
{% assign thumbnail_size = '800x' %}
{% assign thumbnail_ratio = '1:1' %}

{% if height == 'wide' %}
  {% assign image_ratio = '21:9' %}
{% elsif height == 'landscape' %}
  {% assign image_ratio = '16:9' %}
{% elsif height == 'standard' %}
  {% assign image_ratio = '4:3' %}
{% else %}
  {% assign image_ratio = '1:1' %}
{% endif %}

<section class="container l{% if section.settings.responsive == 'large' %} s-hide{% elsif section.settings.responsive == 'small' %} s-show{% endif %}">
  <div class="hero-slideshow-inner">

    <div id="slick-{{ section.id }}">
      {% for block in section.blocks %}
        <div class="palette bg-{{ block.settings.background }} fg-{{ block.settings.foreground }}{% if has_content %} has-content{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="no-decoration">
          {% endif %}

          {% if height == '' and block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: image_size }}" class="wide{% unless block.settings.image_s == blank %} s-hide{% endunless %}">
            {% unless block.settings.image_s == blank %}
              <img class="wide s-show" src="{{ block.settings.image_s | img_url: image_size }}">
            {% endunless %}
          {% elsif block.settings.image != blank %}
            <div class="ratio{% unless block.settings.image_s == blank %} s-hide{% endunless %}" data-ratio="{{ image_ratio }}" style="background-image:url({{ block.settings.image | img_url: image_size }})"></div>
            {% unless block.settings.image_s == blank %}
              <div class="ratio s-show" data-ratio="{{ image_ratio }}" style="background-image:url({{ block.settings.image_s | img_url: image_size }})"></div>
            {% endunless %}
          {% else %}
            {%- capture placeholder -%}{%- cycle '1','2' -%}{%- endcapture -%}
            <div class="ratio placeholder-background-lifestyle-{{ placeholder }}{% unless block.settings.image_s == blank %} s-hide{% endunless %}" data-ratio="{{ image_ratio }}"></div>
            {% unless block.settings.image_s == blank %}
              <div class="ratio s-show" data-ratio="{{ image_ratio }}" style="background-image:url({{ block.settings.image_s | img_url: image_size }})"></div>
            {% endunless %}
          {% endif %}

          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if thumbnails %}
      <div class="s-hide m-hide">
        <div class="thumbnails">
          {% for block in section.blocks %}
            <div class="thumbnail thumbnail-width--{{ section.blocks.size }}{% if forloop.first %} active{% endif %}" data-thumbnail>
              <div class="row collapse">
                <div class="column l4">
                  {% if block.settings.thumbnail != blank %}
                    <div class="ratio" data-ratio="{{ thumbnail_ratio }}" style="background-image:url({{ block.settings.thumbnail | img_url: thumbnail_size }})"></div>
                  {% elsif block.settings.image_s != blank %}
                    <div class="ratio" data-ratio="{{ thumbnail_ratio }}" style="background-image:url({{ block.settings.image_s | img_url: thumbnail_size }})"></div>
                  {% elsif block.settings.image != blank %}
                    <div class="ratio" data-ratio="{{ thumbnail_ratio }}" style="background-image:url({{ block.settings.image | img_url: thumbnail_size }})"></div>
                  {% else %}
                    {%- capture current -%}{%- cycle '1','2' -%}{%- endcapture -%}
                    <div class="ratio placeholder-background-lifestyle-{{ current }}" data-ratio="{{ thumbnail_ratio }}"></div>
                  {% endif %}
                </div>
                <div class="column l8">
                  {% unless block.settings.title == blank %}<div><p class="no-margin">{{ block.settings.title }}</p></div>{% endunless %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
</section>

<script>
  concrete.hero_{{ section.id }} = {
    settings: {
      autoplay: {% if speed == 0 %}false{% else %}true{% endif %},
      speed: {{ settings.transition_speed | times: 5 }},
      fade: {{ fade }},
      arrows: {{ arrows }},
      pauseOnHover: {{ pause }},
      autoplaySpeed: {{ speed }}000,
      dots: false,
      adaptiveHeight: {% if height == ''%}true{% else %}false{% endif %},
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: {{ settings.breakpoint_l }},
          settings: {
            arrows: false,
            dots: true,
            customPaging: function(slider, i) {
              return '';
            }
          }
        }
      ]
    },
    slideshow: function() {
      $('#slick-{{ section.id }}').slick(concrete.hero_{{ section.id }}.settings);
      concrete.hero_{{ section.id }}.thumbnails('.index-section-hero-slideshow');
    },
    thumbnails: function(target) {
      $(target).find('[data-thumbnail]').on('click', function() {
        $('[data-thumbnail]').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $(target).find('#slick-{{ section.id }}').slick('slickGoTo', index);
      });
      $(target).find('#slick-{{ section.id }}').on('afterChange', function(event, slick, currentSlide) {
        $(target).find('[data-thumbnail].active').removeClass('active');
        $(target).find('[data-thumbnail]:nth-child(' + (currentSlide + 1) + ')').addClass('active');
      });
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find('#slick-{{ section.id }}').slick(concrete.hero_{{ section.id }}.settings);
    concrete.hero_{{ section.id }}.thumbnails(event.target);
  });

  {% if section.settings.slideshow_speed != 0 %}
    $(document).on('shopify:section:deselect', function(event) {
      $(event.target).find('#slick-{{ section.id }}').slick('slickPlay');
    });

    $(document).on('shopify:block:deselect', function(event) {
      $(event.target).closest('#slick-{{ section.id }}').slick('slickPlay');
    });
  {% endif %}

  $(document).on('shopify:block:select', function(event) {
    var index = $(event.target).data('slick-index');
    $(event.target).closest('#slick-{{ section.id }}').slick('slickGoTo', index).slick('slickPause');
  });

  // Initialise
  $(document).ready(function() {
    concrete.hero_{{ section.id }}.slideshow();
  });
</script>

{% schema %}
  {
    "name": "Hero slideshow",
    "class": "index-section-hero-slideshow",
    "max_blocks": 10,
    "settings": [
      {
        "type": "header",
        "content": "Hero slideshow"
      },
      {
        "type": "range",
        "id": "speed",
        "label": "Slides change every",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 5,
        "unit": "sec",
        "info": "Set to zero to disable autoplay"
      },
      {
        "type": "checkbox",
        "id": "thumbnails",
        "label": "Display navigation thumbnails",
        "default": true
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Height",
        "options": [
          { "value": "", "label": "Automatic" },
          { "value": "wide", "label": "Wide" },
          { "value": "landscape", "label": "Landscape" },
          { "value": "standard", "label": "Standard" },
          { "value": "square", "label": "Square" }
        ]
      },
      {
        "type": "radio",
        "id": "responsive",
        "label": "Show on",
        "options": [
          {
            "label": "All screens",
            "value": ""
          },
          {
            "label": "Large screens",
            "value": "large"
          },
          {
            "label": "Small screens",
            "value": "small"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Slide"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_s",
            "label": "Image for small screens",
            "info": "Optionally, set an alternate image for small screens"
          },
          {
            "type": "image_picker",
            "id": "thumbnail",
            "label": "Thumbnail image",
            "info": "If no thumbnail image is set, the above images will be used"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero slideshow",
        "category": "Images",
        "blocks": [
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}
