<!-- sections/template-search.liquid -->

{% comment %}
  To return only products or pages in results http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
  Or manually add type=product or type=page to the search URL as a parameter
{% endcomment %}

{% assign filters = section.settings.filters %}
{% assign quicklook = section.settings.quicklook %}

{% assign pagination_amounts = '50,100,250' | split: ',' %}
{% assign collection_views = 'grid,list' | split: ',' %}

{% if search.terms contains 'tag:' %}
  {% assign current_terms = search.terms | split: 'tag:' | last %}
  {% if current_terms contains ',' %}
    {% assign current_terms = current_terms | split: ',' %}
  {% endif %}
{% endif %}

{% assign search_terms = search.terms | remove: 'tag:' %}

{% comment %}
  Let's grab a few url queries from the canonical_url
  ?collection is used for the collection pagination amount
  ?type is used for the collection view
{% endcomment %}
{% if canonical_url contains 'collection=' %}
  {% assign pagination_amount = canonical_url | split: 'collection=' | last %}
  {% if pagination_amount contains '&' %}
    {% assign pagination_amount = pagination_amount | split: '&' | first %}
  {% endif %}
  {% assign pagination_amount = pagination_amount | plus: 0 %}
{% endif %}

{% unless pagination_amount %}
  {% assign pagination_amount = pagination_amounts | last | plus: 0 %}
{% endunless %}

{% if canonical_url contains 'handle=' %}
  {% assign collection_view = canonical_url | split: 'handle=' | last %}
  {% if collection_view contains '&' %}
    {% assign collection_view = collection_view | split: '&' | first %}
  {% endif %}
{% endif %}

{% unless collection_view %}
  {% assign collection_view = collection_views | first %}
{% endunless %}

{% paginate search.results by pagination_amount %}

  <div class="container l padding-bottom-2x" data-section-type="search">

    <div class="row collapsed no-margin">
      {% if filters %}
        <div class="column collapsed l3 m4 s12 s-hide">
          <aside>
            {% include 'search-filters' %}
          </aside>
        </div>
      {% endif %}

      <div class="column collapsed {% if filters %}l9 m8{% else %}l12 m12{% endif %} s12">
        <header class="margin-bottom">
          <div class="row condensed no-margin">
            <div class="column l12">
              <div class="s-hide">
                {% include 'theme-breadcrumbs' %}
              </div>
            </div>
          </div>

          <div class="row l-table m-table condensed no-margin">
            <div class="column {% if search.performed and search.results_count > 0 %}l8 m8{% else %}l12{% endif %} s12 left v-middle">
              {% if search.performed %}
                {% if search.results_count > 0 %}
                  <p>{{ 'search.results_for_html' | t: terms: search_terms }}</p>
                {% else %}
                  <p>{{ 'search.no_results_html' | t: terms: search_terms }}</p>
                {% endif %}
              {% else %}
                <h1>{{ 'search.title' | t }}</h1>
              {% endif %}
            </div>
            {% if search.performed and search.results_count > 0 %}
              <div class="column l4 right v-middle">
                <div class="s-hide">
                  <label class="inline no-margin v-middle">{{ 'collection.view.title' | t }}</label>
                  {% for view in collection_views %}
                    {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
                    <p class="inline v-middle no-margin">
                      {% if view == collection_view %}
                        <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                        <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                      {% else %}
                        <a class="no-decoration" href="/search?q={{ search.terms | escape }}&handle={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-search-view="{{ view }}">
                          <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                          <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                        </a>
                      {% endif %}
                    </p>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="row condensed no-margin s-show">
            <div class="column l12">
              <div class="margin-bottom">
                {% if filters %}
                  {% include 'search-filters' %}
                {% endif %}
              </div>
              {% include 'theme-breadcrumbs' %}
            </div>
          </div>

          <hr>

          <div class="row collapse table s-hide no-margin">
            <div class="column l12 right v-middle">
              {% include 'search-pagination' %}
            </div>
          </div>
        </header>

        <section>
          {% if search.performed %}
            {% if search.results_count > 0 %}
              <div class="row condensed">
                {% for result in search.results %}
                  {% if result.object_type == 'product' %}
                    {% assign product = result %}
                    {% if collection_view == 'list' %}
                      {% include 'collection-product' with 'list' %}
                    {% else %}
                      {% include 'collection-product' %}
                    {% endif %}
                  {% else %}
                    <div class="column l4 m6 s12">
                      {% if result.image %}
                        <a href="{{ result.url }}" title="{{ result.title | escape }}">
                          <img srcset="{{ result.featured_image.src | img_url: 'x1400' }} 2x" src="{{ result.featured_image.src | img_url: 'x700' }}" alt="{{ result.featured_image.alt | escape }}" class="grid__image">
                        </a>
                      {% endif %}

                      <h2 class="h5">{{ result.title | link_to: result.url }}</h2>
                      <div class="rte">
                        <p>{{ result.content | strip_html | truncatewords: 50 }}</p>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="right">
                {% include 'search-pagination' %}
              </div>
            {% else %}
              {% include 'form-search' %}
              <p class="margin-top-3x"><b>{{ 'search.no_results_tips_title' | t }}</b></p>
              <p>{{ 'search.no_results_tips_content_html' | t }}</p>
            {% endif %}
          {% else %}
            {% include 'form-search' %}
          {% endif %}
        </section>
      </div>

    </div>
  </div>

{% endpaginate %}

<script>
  $(document).ready(function() {
    // Redirect any search requests to the proper search page
    window.location.href = window.location.href.replace('/search', '/pages/search-results-page');

    // Search view change
    $('[data-section-type="search"]').on('click', '[data-search-view]', function(event) {
      event.preventDefault();
      var view = $(this).attr('data-search-view');

      concrete.urlParams.handle = view;
      location.search = jQuery.param(concrete.urlParams);
    });

    // Search pagination change
    $('[data-section-type="search"]').on('click', '[data-paginate-by]', function(event) {
      event.preventDefault();
      var amount = $(this).attr('data-paginate-by');

      concrete.urlParams.collection = amount;
      location.search = jQuery.param(concrete.urlParams);
    });

    // Search filters
    concrete.filters = {
      settings: {
        filter: '[data-search-filter]',
        reset: '[data-search-filter-reset]'
      },
      listeners: function() {
        $(concrete.filters.settings.reset).on('click', function(event) {
          var reset = $(this).data('search-filter-reset');
          $('input[name="' + reset + '"]:checked').prop('checked', false);
          concrete.filters.updateTags($(this).closest('.search-filters'));
        });

        $(concrete.filters.settings.filter).on('change', function(event) {
          concrete.filters.updateTags($(this).closest('.search-filters'));
        });
      },
      updateTags: function(target) {
        var newTags = [];

        $(target).find(concrete.filters.settings.filter).each(function() {
          if ($(this).data('search-filter') == 'tag') {
            if ($(this).is(':checked')) {
              newTags.push($(this).data('filter'));
            }
          }
        });

        if (newTags.length) {
          var query = 'tag:' + newTags.join(',');

          concrete.urlParams.q = encodeURI(query);
          location.search = jQuery.param(concrete.urlParams);
        } else {
          concrete.urlParams.q = '';
          location.search = jQuery.param(concrete.urlParams);
        }
      }
    }

    concrete.filters.listeners();
  });
</script>

{% schema %}
  {
    "name": "Search template",
    "settings": [
      {
        "type": "header",
        "content": "Search template"
      },
      {
        "type": "checkbox",
        "id": "filters",
        "label": "Display filters",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "quicklook",
        "label": "Display quicklook",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tag",
        "name": "Tag filter",
        "settings": [
          {
            "type": "header",
            "content": "Tag filter",
            "info": "Create a search filter based on a link list chosen below"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "New tag filter"
          },
          {
            "type": "text",
            "id": "all",
            "label": "Not filtered label",
            "placeholder": "View All"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Limit to tags in"
          }
        ]
      }
    ]
  }
{% endschema %}
