<style>
  .announcement-bar-container {
    background-color: {{ section.settings.color_bg }}; 
    padding-left: calc(50vw - 650px);
    padding-right: calc(50vw - 650px); 
    position: absolute; 
    width: 100%; 
    border-bottom: 1px solid #ffffff26; 
  }
  .announcement-bar {
    max-width: 1200px; 
    margin: auto; 
    text-align: left; 
    display: inline-block; 
    width: 50%; 
  }

  .announcement-bar__message {
    color: {{ section.settings.color_text }};
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }
  .announcement-bar--link{
    display: inline-block;
  }
  .announcement-bar__message a {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }
  .popup-link{
    font-size: 9px;
    text-decoration: underline; 
    display: inline-block;
    font-family: 'StreetB-Medium', Arial, sans-serif;
  }
  .announcement-bar__message .announcement-bar__links {
    float: right;
  }

  .announcement-bar__message .announcement-bar__links a {
    color: {{ section.settings.color_text }};
    font-weight: normal;
    text-decoration: underline;
    margin-right: 20px;
    border-left: 1px solid;
    padding-left: 15px;
  }
  .announcement-bar__message .announcement-bar__links a:first-child {
    border-left: none;
  } 

  @media only screen and (max-width: 1330px) {
    .announcement-bar-container { 
      padding: 0px 15px; 
    }
  }

  @media only screen and (max-width: 960px) { 
    .announcement-bar-container { 
      background-color: transparent; 
      padding: 7.5px 0px 5.5px; 
      border-bottom: solid 1px rgba(244, 232, 215, 0.15); 
    } 

    .announcement-bar { 
      width: 100%; 
      text-align: center; 
    }
  }
</style>

{% if section.settings.message_text != blank %}
<div class="announcement-bar-container">
  <div class="announcement-bar">
    {% if section.settings.message_link != blank %}
    <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
    {% endif %}
      <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
    {% if section.settings.message_text != blank %}  
    </a>
    {% endif %}
    <a class="popup-link" data-popup data-popup-id="freeship-details">See details.</a>
  </div> 
  <div class="announcement-bar--links-container">
    <a href="/apps/tracktor/">Track my Order</a> 
    <a href="//www.blumhouse.com/?utm_source=Blumhouse%20Shop&utm_medium=weblink&utm_campaign=Blumhouse%20Website%20Relaunch" target="_blank">Blumhouse.com</a>
  </div>
</div>
{% endif %}

{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="site-header__container{% if template.name != 'index' %} lazyload{% endif %}"{% if template.name != 'index' %}  data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'img-header-background.jpg' | asset_url }}"{% endif %}>
  <div class="header-top-icons visually-hidden">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="site-header__account">
          My Account
          <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
        </a>
      {% else %}
        <a href="/account/login" class="site-header__account">
          My Account
          <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
        </a>
      {% endif %}
    {% endif %}

    <a href="/cart" id="minicart-open-link--" class="site-header__cart">
      {% include 'icon-cart' %}
      {% if cart.item_count > -1 %}
        <div id="CartCount" class="site-header__cart-count{% if cart.item_count < 1 %} empty--cart{% endif %}">
          <span>{{ cart.item_count }}</span>
          <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        </div>
      {% endif %}
    </a>
  </div>
  {% include 'popup-cart' %}
  <div class="minicart-overlay"></div>
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% unless linklists[section.settings.main_linklist] == blank %}
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      {% endunless %}

      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-third">
          <div class="site-header__search">
            {% include 'search-form' %} 
            <div></div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '1024x1024', scale: 2 }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: '1024x1024', scale: 2 }}"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            <span class="visually-hidden">{{shop.name}}</span>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %} site-header__search-container">
        
        <div class="site-header__search-btn">
        </div>
        <div id="search-overlay"></div>

        <div class="site-header__icons-wrapper">

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          <a href="/cart" id="minicart-open-link-mobile" class="site-header__cart">
            {% include 'icon-cart' %}
            {% if cart.item_count > -1 %}
              <div id="CartCount-mobile" class="site-header__cart-count{% if cart.item_count < 1 %} empty--cart{% endif %}">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>

        </div>

        <div class="header-top-icons">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__account"> 
              </a>
            {% else %}
              <a href="/account/login" class="site-header__account"> 
              </a>
            {% endif %}
          {% endif %}

          <a href="/cart" id="minicart-open-link" class="site-header__cart">
            <span class="icon-cart"></span>
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount" class="site-header__cart-count{% if cart.item_count < 1 %} empty--cart{% endif %}">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>
        </div>

      </div>
    </div>
  </header>
  {% if section.settings.align_logo == 'left' %}
  <div class="site-header__search visually-hidden">
    {% include 'search-form' %}
  </div>
  {% endif %}
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item border-bottom mobile-nav-close-button-container">
        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        {% endunless %}
      </li>
      <li class="mobile-nav__item border-bottom">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="site-header__account">
              <b>My Account</b> 
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="/account/login" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}
      </li>
      <li class="mobile-nav__item border-bottom mobile-nav__linklist">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
      <li class="mobile-nav__item border-bottom">
        <a href="/apps/tracktor/" class="site-header__trackorder">
          <b>Track My Order</b>
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        <div class="mobile-nav__promo">
          {% if section.settings.navigation_promo_link != blank %}
          <a href="{{ section.settings.navigation_promo_link }}" class="navigation-promo-link">
            {% if section.settings.navigation_promo_link_mobile_image != blank %}
              <img class="navigation-promo-link-image" src="{{ section.settings.navigation_promo_link_mobile_image | img_url: '300x300' }}" > 
            {% endif %}
          </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </nav>

  <div id="navigation-content" {% unless template == 'index' %}class="border-bottom"{% endunless %}>

    {% for _nav_link in linklists[section.settings.main_linklist].links %}
      {%- assign _sub_nav_list = blank -%}
      {% if _nav_link.links != blank %}
      {%- assign _sub_nav_list = _nav_link %}
      <div id="navigation-{{ _nav_link.title | handleize }}" class="navigation-menu" style="display: none;">
        {% include 'shop-menu-navigation' %}
      </div>
      {% endif %}
    {% endfor %} 
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
  {% include 'drop-down-menu-snippet' %} 
</div> 
<script type="text/javascript" src="{{ 'header-scripts.min.js' | asset_url }}" defer="defer"></script> 
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }, 
      {
        "type": "header", 
        "content": "Categories Navigation Default Promo Image"
      }, 
      {
        "type": "image_picker", 
        "id": "navigation_categories_content_holder_image", 
        "label": "Categories Navigation Default Content Image"
      }, 
      {
        "type": "text", 
        "id": "navigation_categories_content_holder_text", 
        "label": "Categories Navigation Default Content Text"
      }, 
      {
        "type": "url", 
        "id": "navigation_categories_content_link", 
        "label": "Categories Navigation Default Content link"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Brands Products",
        "settings": [
          {
            "type": "header",
            "content": "Brands Featured Products",
            "info": "Add featured products to Brands Navigation Menu"
          },
          {
            "type": "product",
            "id": "brands_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-brands-promo-tout", 
        "name": "Navigation Promo Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Navigation Promotion Tout",
            "info": "Add promotion tout to dropdown navigation"
          },
          {
            "type": "text",
            "id": "brand_title",
            "label": "Name of the Brand to display promo on"
          },
          {
            "type": "image_picker",
            "id": "brand_image",
            "label": "Image to display as tout"
          },
          {
            "type": "url",
            "id": "brand_promo_url",
            "label": "Promo URL"
          }
        ]
      },
      {
        "type": "menu-image-tout", 
        "name": "Drop Down Menu Image", 
        "settings": [
          {
            "type": "header", 
            "content": "Drop Down Menu Image", 
            "info": "Add Image on Drop Down Menu"
          }, 
          {
            "type": "image_picker", 
            "id": "drop_down_image", 
            "label": "Drop Down Image"
          }, 
          {
            "type": "text", 
            "id": "link_list_for_image", 
            "label": "Drop Down for Link List ( Title of The Link List)"
          }
        ]
      }
    ]
  }
{% endschema %}
