{% capture header_title %} {{ 'customer.account.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper--mini">

  <div class="grid-uniform">

    <div class="grid__item large--one-third medium-down--text-center">

      <h2 class="h4 home-section-title less-margin">{{ 'customer.account.details' | t }}</h2>

      <h3 class="h5">{{ customer.name }}</h3>

{% if customer.metafields.subscriptions.customer_string %}
<!-- Begin ReCharge code -->
<p><a href="/tools/recurring/customer/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/">Manage Subscriptions</a></p>
<!-- End ReCharge code -->
{% endif %}

      {% if customer.default_address != nil %}
        <p>
        {{ customer.default_address.address1 }}<br>

        {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}

        {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }}<br>
        {% endif %}

        {% if customer.default_address.province_code != "" %}
          {{ customer.default_address.province_code | upcase }}<br>
        {% endif %}

        {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
        {% endif %}

        {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
        {% endif %}

        {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
        {% endif %}
        </p>

      {% endif %}

<!--       <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p> -->

    </div>

    <div class="grid__item large--two-thirds medium-down--text-center">

      <h2 class="h4 home-section-title less-margin">{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 10 %}

        {% if customer.orders.size != 0 %}

          <div class="table-wrap">
            <table class="full table--responsive">
              <thead>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th>{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                  <tr>
                    <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                    <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}

        {% include 'page_pagination' %}

      {% endpaginate %}

    </div>

  </div>

  <hr class="thin-line" />

  <a class="btn btn--regular btn--dark btn--outline" href="/account/logout">{{ 'customer.account.logout' | t }}</a>

</div>
