#tags-filter-content{
        width: 100%;
        float: left;
        margin-bottom: 75px;
        .filter-tag-group{      
          @include display_flex(left);
          .tag-group{
            padding: 0;   
            width: 25%;
            @media(max-width: 991px){
              width: 50%;
              float: left;
            }
            @media(max-width: 360px){
              width: 100%;
            }          
            .title{
              font-size: $font_size_general;
              color: $font_heading;
              font-family: $font_general;
              font-weight: bold;            
              text-transform: uppercase;          
              height: 35px;
              line-height: 35px;
              padding-left: 20px;
              border-left: 1px solid #ccc;
              margin: 10px 0;
              text-align: left;
              @media(max-width: 991px){
                border-left: 0;
              }
              @media(max-width: 360px){
                padding-left: 0px;
              }
            }
            ul{
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              transition: all 0.3s ease; 
              margin: 0;
              list-style: none;  
              background-color: $bg-filter;
              width: 100%;
              float: left;
              min-height: 220px;
              height: 220px;
              overflow: auto;
              border-left: 1px solid $border_general;
              padding-left: 24px;
              padding-top: 20px;
              @media(max-width: 1199px){
                min-height: 220px;
              }
              @media(max-width: 991px){
                border-left: 0;            
              }
              @media(max-width:360px){
                min-height: 50px;
                height: auto;
                padding-bottom: 10px;
              }
              a{
                color: $font_heading;
                font-size: 14px;
                text-transform: capitalize;
              }
              li.swatch-tag {
                float: left;
                margin-right: 8px;
                margin-bottom: 8px;
                line-height: 20px;
                width: 30px;
                height: 30px;
                borde: 1px solid transparent;
                span{
                  width: 100%;
                  height: 100%;
                  display: block;               
                  background-position: -1px -1px;
                  a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 0px;                  
                  }
                }
              }
              li.swatch-tag:hover,
              li.swatch-tag.active{
                border: 1px solid #000;
                padding: 2px;            
              }          
              li{
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease; 
                margin-bottom: 15px;
                a {                                          
                  position: relative;
                  display: block;
                  line-height: 20px;
                  span.fe-checkbox{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    left: -30px;
                    margin-top: -10px;                
                    background-image: url(//cdn.shopify.com/s/files/1/1575/8079/t/12/assets/bg_none_check.png?v=16945172411161235786); 
                    background-repeat: no-repeat;
                    background-position: center center;				
                  }
                }
              }
              li.active{
                a{
                  span.fe-checkbox{                 
                    background-image: url(//cdn.shopify.com/s/files/1/1575/8079/t/12/assets/bg_check.png?v=8708962969093721941); 
                  }
                }
              }
              li:not(.swatch-tag){
                width: 50%;
                float: left;
                padding-left: 30px;
                @media(max-width: 1199px){
                  width: 100%;
                }
              }

            }        
          }
          .tag-group:first-child{
            .title{
              border-left: 0;
              padding-left: 27px;
              @media(max-width: 360px){
                padding-left: 0;
              }            
            }          
            ul{
              border-left: 0 !important;
            }
          }      
        }   
        .sidebar-filter-content{
          .filter-tag-group{
            .tag-group{
              width: 100%;
              ul{
                min-height: 0px;                            
                height: auto;
                padding-bottom: 10px;
              }   
              @media(max-width: 360px){
                .title{
                  padding-left: 15px;
                }              
              }
            }
          }
        }
        @media(max-width: 480px){
          margin-bottom: 0px;
        }
      }
      #tags-filter-content.tags-closed{    
        .filter-tag-group{
          .tag-group{
            ul{
              padding-top: 0;          
              padding-bottom: 0;          
              min-height: 0;
              height: 0;
              overflow: hidden;         
            }
          }
        }
        .title{
          display: none;
        }
      }