<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,footer-menu,categories-menu,more-characters,shop-by-title' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}

{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %}
  {% if collection_links_avoid contains linklist_handle %}
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | replace: '&', 'and' %}
  {% if linklist_title == collection.title %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}

{% comment %}{% if collection_links.links.size == 0 or collection_links == blank %}
  {% include 'collection-filters' %}
{% endif %}{% endcomment %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% if collection_links.links.size > 0 %}
  <div class="collection-links s-hide{% if collection_houses contains collection.handle %} houses-collection-links{% endif %}">
    <h4 class="t-uppercase no-margin">{{ collection_links.title }}</h4>
    <ul class="sublinks">
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

        <li>
          {% if link.url == '/' %}
            <h4 class="no-margin w-normal t-uppercase">{{ link.title }}</h4>
          {% else %}
            <a class="nav-link no-decoration{% if link.active %} active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endif %}
          {% if link.active %}{% assign collection_title = link.title %}{% endif %}
        </li>

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
      {% if collection_houses contains collection.handle %}
      <h4 class="t-uppercase houses-links border-top">{{ linklists['houses'].title }}</h4>
        <ul class="sublinks">
        {% for house_link in linklists['houses'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ house_link.url }}" title="{{ house_link.title }}">{{ house_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
    <div class="margin-bottom-2x"></div>
    {% include 'collection-filters' %}
  </div>
{% elsif collection_links.links.size == 0 or collection_links == blank %}
  <div class="collection-links s-hide{% if collection.handle contains 'game-of-thrones' %} houses-collection-links{% endif %}">
     {% capture collections_yaml %}
     {%- include 'collections-yaml' -%}
     {% endcapture %}
     {% if linklists['main-menu'].links != blank %}
     {% assign category_navigation = linklists['main-menu'].links[0] %}
     {% assign shows_navigation = linklists['main-menu'].links[1] %}
     {% endif %}
     {% assign parent_collection = blank %}
     {% if collections_yaml != blank %}
     {% assign ext_collections = collections_yaml | newline_to_br | split: "<br />" %}
     {% endif %}
     {% if category_navigation != blank and ext_collections != blank %}
     {% for collection_handle in ext_collections %}
        {% assign collection_data = collection_handle | split: ":" %}
        {% assign sub_collections = collection_data[1] | split: "," %}
        {% for sub_collection in sub_collections %}
            {% assign sub_collection_handle = sub_collection | strip %}
            {% if sub_collection_handle == collection.handle %}
              {% assign parent_collection = collection_data[0] | convert: "string" | strip %}
              {% break %}
            {% endif %}
        {% endfor %}
        {% if parent_collection != blank %}
         {% break %}
        {% endif %}
     {% endfor %}
     {% endif %}
      {% if parent_collection != blank %}
       {%- assign parent_list = blank -%}
       {% for link in category_navigation.links %}
        {% assign link_handle = link.handle | strip %}
        {% if link_handle == parent_collection %}
          {% assign parent_list = link.handle %}
     <h4 class="t-uppercase no-margin">{{ link.title }}</h4>
     <ul class="sublinks">
          {% for sub_link in link.links %}
          <li {% if sub_link.url == collection.url %}class="current-collection"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
          {% endfor %}
     </ul>
          {% break %}
        {% endif %}
       {% endfor %}
       {% if parent_list == blank %}
        {% for link in shows_navigation.links %}
          {% capture show_name %}{{ link.handle }}{% endcapture %}
          {% assign show_name_handle = show_name | strip | append: '-' %}
          {% if show_name == parent_collection %}
      <h4 class="t-uppercase no-margin">{{ link.title }}</h4>
      <ul class="sublinks">
            {% if linklists[show_name].links != blank %}
              {% for llink in linklists[show_name].links %}
                <li {% if llink.url == collection.url %}class="current-collection"{% endif %}><a href="{{ llink.url}}">{{ llink.title }}</a></li>
              {% endfor %}
            {% endif %}
      </ul>
          {% endif %}
        {% endfor %}
       {% endif %}
      {% else %}
      {% if collection.title == 'Cobra Kai' %}
      <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
      {% else %}
      <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
      {% endif %}
      {% endif %}
      
      {% if parent_collection contains 'game-of-thrones' %}
      <h4 class="t-uppercase houses-links border-top">{{ linklists['houses'].title }}</h4>
        <ul class="sublinks">
        {% for house_link in linklists['houses'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ house_link.url }}" title="{{ house_link.title }}">{{ house_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}

     {% include 'collection-filters' %}
  </div>
{% else %}
  <div class="collection-links s-hide">
    {% if collection.title == 'Cobra Kai' %}
      <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
      {% else %}
      <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
      {% endif %}
  </div>
{% endif %}
