{%- assign display_type = 'none' %}
{% for _block in section.blocks %}
	{% if _block.type == 'header_image_block' %}
		{% if _block.settings.display == 'all_collections' and display_type == 'none' %}
			{%- assign display_type = 'all' %}
		{% endif %}
		{% if _block.settings.display == 'link_list' and display_type != 'collection' %}
			{%- assign display_type = 'link_list' %}
		{% endif %}
		{% if _block.settings.display == 'collection' and _block.settings.collection == collection.handle %}
			{%- assign display_type = 'collection' %}
			{% break %}
		{% endif %}
	{% endif %}
{% endfor %}
{% for block in section.blocks %}
	{% if block.type == 'header_image_block' %}
		{% if block.settings.display == 'collection' and display_type == 'collection' and block.settings.collection and block.settings.collection == collection.handle %}
			<div class="header-image-container collection-collections-promo">
				<div class="header-image header-image-section">
					{% if block.settings.link %}
					<a href="{{ block.settings.link }}">
					{% endif %}
					<img src="{{ block.settings.image | img_url: '650x', scale: 2 }}" class="desktop-image{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
					{% if block.settings.image_mobile %}
					<img src="{{ block.settings.image_mobile | img_url: '650x', scale: 2 }}" class="mobile-image">
					{% endif %}
					{% if block.settings.link %}</a>{% endif %}
				</div>
			</div>
			{% break %}
		{% elsif block.settings.display == 'link_list' and display_type == 'link_list' %}
			{% if block.settings.link_list %}
				{% assign link_list = linklists[block.settings.link_list] %}
				{% assign collection_matched = false %}
				{% for link in link_list.links %}
					{% if link.url == collection.url %}
						{% assign collection_matched = true %}
						{% break %}
					{% elsif link.links %}
						{% for child_link in link.links %}
							{% if child_link.url == collection.url %}
								{% assign collection_matched = true %}
								{% break %}
							{% elsif child_link.links %}
								{% for child_link_1 in child_link.links %}
									{% if child_link_1.url == collection.url %}
										{% assign collection_matched = true %}
										{% break %}
									{% elsif child_link_1.links %}
										{% for child_link_2 in child_link_1.links %}
											{% if child_link_2.url == collection.url %}
												{% assign collection_matched = true %}
											{% endif %}
											{% if collection_matched %}
												{% break %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if collection_matched %}
										{% break %}
									{% endif %}
								{% endfor %}
								{% if collection_matched %}
									{% break %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
					{% if collection_matched %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% if collection_matched %}
				<div class="header-image-container list-collections-promo">
					<div class="header-image header-image-section" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
						{% if block.settings.link %}
						<a href="{{ block.settings.link }}">
						{% endif %}
						<img src="{{ block.settings.image | img_url: '650x', scale: 2 }}" class="desktop-image{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
						{% if block.settings.image_mobile %}
						<img src="{{ block.settings.image_mobile | img_url: '650x', scale: 2 }}" class="mobile-image">
						{% endif %}
						{% if block.settings.link %}</a>{% endif %}
					</div>
				</div>
				{% endif %}
			{% endif %}
		{% break %}
		{% elsif block.settings.display == 'all_collections' and display_type == 'all' %}
		<div class="header-image-container all-collections-promo">
			<div class="header-image header-image-section">
				{% if block.settings.link %}
				<a href="{{ block.settings.link }}">
				{% endif %}
				<img src="{{ block.settings.image | img_url: '650x', scale: 2 }}" class="desktop-image{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
				{% if block.settings.image_mobile %}
				<img src="{{ block.settings.image_mobile | img_url: '650x', scale: 2 }}" class="mobile-image">
				{% endif %}
				{% if block.settings.link %}</a>{% endif %}
			</div>
		</div>
		{% break %}
		{% endif %}
	{% endif %}
{% endfor %}
