{% if settings.password_validation_enabled %}

<script>

function doScrollToError() {
  var top_of_element = $("#password-validation-errors").offset().top;
  var bottom_of_element = $("#password-validation-errors").offset().top + $("#password-validation-errors").outerHeight();
  var bottom_of_screen = $(window).scrollTop() + window.innerHeight;
  var top_of_screen = $(window).scrollTop();

  if((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
  } else {
    $('html, body').animate({
        scrollTop: $("#password-validation-errors").offset().top - 30
    }, 500);
  }
}

function doOutputRequirements(target_form) {
  var message_ListIntro = 'Your password must include at least - ';
  var message_Length = '{{ settings.password_validation_requirements_length_value }} characters';
  var message_OneUppercase = '1 uppercase letter';
  var message_OneLowercase = '1 lowercase letter';
  var message_OneNumber = 'a number';
  var message_OneSpecial = 'a special character such as !, @, #, %';

  var message_Requirements = [];
  {% if settings.password_validation_requirements_length_enabled %}
    message_Requirements.push(message_Length);
  {% endif %}
  {% if settings.password_validation_requirements_oneuppercase_enabled %}
    message_Requirements.push(message_OneUppercase);
  {% endif %}
  {% if settings.password_validation_requirements_onelowercase_enabled %}
    message_Requirements.push(message_OneLowercase);
  {% endif %}
  {% if settings.password_validation_requirements_onenumber_enabled %}
    message_Requirements.push(message_OneNumber);
  {% endif %}
  {% if settings.password_validation_requirements_onespecial_enabled %}
    message_Requirements.push(message_OneSpecial);
  {% endif %}


  $(target_form + ' > input[type="password"]:last').after('<div id="password-validation-tip"></div>');

  $('#password-validation-tip').append(message_ListIntro);
  $.each(message_Requirements, function (index, value) {
    if(index < (message_Requirements.length - 1)) {
      $('#password-validation-tip').append(value + ', ');
    }
    if(index === (message_Requirements.length - 1)) {
      $('#password-validation-tip').append('and ' + value + '.');
    }
  });
}

$(function() {

  var message_ListHeader = 'Your password must:';
  var message_Match = 'match in both fields';
  var message_Length = 'include at least {{ settings.password_validation_requirements_length_value }} characters';
  var message_OneUppercase = 'include at least 1 uppercase letter';
  var message_OneLowercase = 'include at least 1 lowercase letter';
  var message_OneNumber = 'include a number';
  var message_OneSpecial = 'include a special character such as !, @, #, %';

  if($('form[action="/account"]').length) {
    doOutputRequirements('form[action="/account"]');
    $('form[action="/account"]').submit(function(event) {

      $('#password-validation-errors').remove();
      $(this).before('<div id="password-validation-errors"><span>' + message_ListHeader + '</span><ul></ul></div>');
      var errorCounter = 0; //Establish Validation Error Counter

      {% if settings.password_validation_requirements_length_enabled %}
        if ($(this).find('input[type="password"]').val().length < {{ settings.password_validation_requirements_length_value }}) {
          $('#password-validation-errors > ul').append("<li>" + message_Length + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_oneuppercase_enabled %}
        if ($(this).find('input[type="password"]').val().toLowerCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneUppercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onelowercase_enabled %}
        if ($(this).find('input[type="password"]').val().toUpperCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneLowercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onenumber_enabled %}
        if (!/\d/.test($(this).find('input[type="password"]').val())) {
          $('#password-validation-errors > ul').append("<li>" + message_OneNumber + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onespecial_enabled %}
        if (/^[a-zA-Z0-9- ]*$/.test($(this).find('input[type="password"]').val()) == true) {
          $('#password-validation-errors > ul').append("<li>" + message_OneSpecial + "</li>");
          errorCounter++;
        }
      {% endif %}

      if (errorCounter !== 0) {
        event.preventDefault();
        $(this).find('input[type="password"]').addClass('password-validation-error-marker').val('');
        doScrollToError();
      } else {
        $('#password-validation-errors').remove();
        $(this).find('input[type="password"]').removeClass('password-validation-error-marker');
      }
    });
  }

  if($('form[action="/account/activate"]').length) {
    doOutputRequirements('form[action="/account/activate"]');
    $('form[action="/account/activate"]').submit(function(event) {

      $('#password-validation-errors').remove();
      $(this).before('<div id="password-validation-errors"><span>' + message_ListHeader + '</span><ul></ul></div>');
      var errorCounter = 0; //Establish Validation Error Counter

      {% if settings.password_validation_requirements_length_enabled %}
        if ($(this).find('input[type="password"]').val().length < {{ settings.password_validation_requirements_length_value }}) {
          $('#password-validation-errors > ul').append("<li>" + message_Length + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_oneuppercase_enabled %}
        if ($(this).find('input[type="password"]').val().toLowerCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneUppercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onelowercase_enabled %}
        if ($(this).find('input[type="password"]').val().toUpperCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneLowercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onenumber_enabled %}
        if (!/\d/.test($(this).find('input[type="password"]').val())) {
          $('#password-validation-errors > ul').append("<li>" + message_OneNumber + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onespecial_enabled %}
        if (/^[a-zA-Z0-9- ]*$/.test($(this).find('input[type="password"]').val()) == true) {
          $('#password-validation-errors > ul').append("<li>" + message_OneSpecial + "</li>");
          errorCounter++;
        }
      {% endif %}

      if ($(this).find('input#CustomerPassword').val() !== $(this).find('input#CustomerPasswordConfirmation').val()) {
        $('#password-validation-errors > ul').append("<li>" + message_Match + "</li>");
        errorCounter++;
      }

      if (errorCounter !== 0) {
        event.preventDefault();
        $(this).find('input[type="password"]').addClass('password-validation-error-marker').val('');
        doScrollToError();
      } else {
        $('#password-validation-errors').remove();
        $(this).find('input[type="password"]').removeClass('password-validation-error-marker');
      }
    });
  }

  if($('form[action="/account/reset"]').length) {
    doOutputRequirements('form[action="/account/reset"]');
    $('form[action="/account/reset"]').submit(function(event) {

      $('#password-validation-errors').remove();
      $(this).before('<div id="password-validation-errors"><span>' + message_ListHeader + '</span><ul></ul></div>');
      var errorCounter = 0; //Establish Validation Error Counter

      {% if settings.password_validation_requirements_length_enabled %}
        if ($(this).find('input[type="password"]').val().length < {{ settings.password_validation_requirements_length_value }}) {
          $('#password-validation-errors > ul').append("<li>" + message_Length + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_oneuppercase_enabled %}
        if ($(this).find('input[type="password"]').val().toLowerCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneUppercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onelowercase_enabled %}
        if ($(this).find('input[type="password"]').val().toUpperCase() === $(this).find('input[type="password"]').val()) {
          $('#password-validation-errors > ul').append("<li>" + message_OneLowercase + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onenumber_enabled %}
        if (!/\d/.test($(this).find('input[type="password"]').val())) {
          $('#password-validation-errors > ul').append("<li>" + message_OneNumber + "</li>");
          errorCounter++;
        }
      {% endif %}

      {% if settings.password_validation_requirements_onespecial_enabled %}
        if (/^[a-zA-Z0-9- ]*$/.test($(this).find('input[type="password"]').val()) == true) {
          $('#password-validation-errors > ul').append("<li>" + message_OneSpecial + "</li>");
          errorCounter++;
        }
      {% endif %}

      if ($(this).find('input#ResetPassword').val() !== $(this).find('input#PasswordConfirmation').val()) {
        $('#password-validation-errors > ul').append("<li>" + message_Match + "</li>");
        errorCounter++;
      }

      if (errorCounter !== 0) {
        event.preventDefault();
        $(this).find('input[type="password"]').addClass('password-validation-error-marker').val('');
        doScrollToError();
      } else {
        $('#password-validation-errors').remove();
        $(this).find('input[type="password"]').removeClass('password-validation-error-marker');
      }
    });
  }

});
</script>

{% endif %}
