{% if product.images.size > 1 %}
  {% if product.images.size > 3 %}
  {% endif %}

  <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
    <div class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }} {% if product.images.size > 4 %}slick-thumbnails{% endif %}">
      {% for image in product.images %}
        <div class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js" style="clear:none;">
          <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
             class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
             data-thumbnail-id="{{ image.id }}"
             {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
               <img class="product-single__thumbnail-image lazyload" data-sizes="auto" data-src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
