<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ shop.name }} - {{ page_title }}</title>
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
      .cardholder-appreciation {
        color: #39b33d;
        padding: 10px;
        border: 1px solid rgb(217, 253, 193);
        border-radius: 5px;
        background-color: rgb(228, 252, 231);
        width: auto;
        font-weight: bold;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% for discount in checkout.discounts %}
              {% if discount.code == 'National Geographic Credit Card Discount' %}
                <div class="cardholder-appreciation" >Thank you for being a National Geographic Card Holder!</div>
              {% endif %}
            {% endfor %}

            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>

        <script>
          // Identify each step on load and change
          $(document).on('page:load page:change', function() {
            // With 'page:change' in place, we can target dynamically loaded elements
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });
          // Identify each step on load only
          $(document).on('page:load', function() {
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });


        </script>
      </div>
    </div>

    {{ tracking_code }}


    <!-------------------------------------------------------------->
    <!--START: Add Gift Note Feature-------------------------------->
    <!-------------------------------------------------------------->
    {% include 'checkout-gift-note' %}
    <!-------------------------------------------------------------->
    <!--END: Add Gift Note Feature---------------------------------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add 'Privacy Policy' Link To Opt-In Checkbox--------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists = setInterval(function() {
        var ObtainTarget = '.main__footer > div[role="contentinfo"] > .policy-list > .policy-list__item > a[title="Privacy policy"]';
        var InjectTarget = 'div[data-buyer-accepts-marketing] .checkbox-wrapper .checkbox__label';
        if ($(ObtainTarget).length) {
          if ($(InjectTarget).length) {
            $(InjectTarget).append($(ObtainTarget).get(0));
            clearInterval(checkInjectTargetExists);
          }
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'Privavy Policy' Link To Opt-In Checkbox----------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add 'View Shipping Rates' Link----------------------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists = setInterval(function() {
        var InjectTarget = '.step__sections > .section--shipping-method > .section__header';
        if ($(InjectTarget).length) {
          $(InjectTarget).find('.section__title').css('float', 'left');
          $(InjectTarget).append('<a style="margin-left:10px" title="Shipping Rates" data-modal="shipping-rates" data-close-text="Close" href="{{ 'shipping-rates.html' | asset_url }}">View Shipping Rates</a>');
          clearInterval(checkInjectTargetExists);
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'View Shipping Rates' Link------------------------->
    <!-------------------------------------------------------------->

  </body>
</html>
