/* Background image mixins ===================================================*/

// Image darkening
@mixin image-darken($opacity) {
  &[data-darken="#{$opacity}"] {
    position: relative;
    &:after {
      content: "";
      display: block;
      @include overlay();
      background-color: rgba(#000, ($opacity/100));
    }
  }
}

// Background images
@mixin background-image() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.contain {
    background-size: contain;
  }
  @include image-darken(10);
  @include image-darken(20);
  @include image-darken(30);
  @include image-darken(40);
  @include image-darken(50);
  @include image-darken(60);
  @include image-darken(70);
  @include image-darken(80);
  @include image-darken(90);
  @include image-darken(100);
}

// Aspect ratios
@mixin ratio($width, $height) {
  &[data-ratio="#{$width}:#{$height}"] {
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: percentage($height/$width);
    }
  }
}
.ratio {
  @include background-image();
  @include ratio(24, 9); // Ultra wide
  @include ratio(21, 9); // Cinematic
  @include ratio(2, 1); // Wide
  @include ratio(16, 9); // HD landscape
  @include ratio(4, 3); // Standard format
  @include ratio(1, 1); // Square
  @include ratio(3, 4); // Reverse standard format
  @include ratio(9, 16); // HD vertical
  @include ratio(1, 2); // Tall
  @include ratio(9, 21); // Long
}
