/* Placeholders ==============================================================*/

{% assign placeholders = 'collection-1,collection-2,collection-3,collection-4,collection-5,collection-6,lifestyle-1,lifestyle-2,image,product-1,product-2,product-3,product-4,product-5,product-6' | split: ',' %}
{% for placeholder in placeholders %}
  .placeholder-background-{{ placeholder }} {
    background: url("data:image/svg+xml;utf8,{{ placeholder | placeholder_svg_tag: 'placeholder-svg' | replace: '"', "'"}}")  no-repeat;
    background-color: #fff;
    @include background-image();
  }
{% endfor %}

{% assign gradients = '#a6c0fe-#f68084, #cfd9df-#e2ebf0, #e0c3fc-#8ec5fc, #a8edea-#fed6e3, #a3bded-#6991c7, #ddd6f3-#faaca8, #84fab0-#8fd3f4, #d299c2-#fef9d7, #cd9cf2-#f6f3ff, #feada6-#f5efef' | split: ',' %}
{% for gradient in gradients %}
  {% assign from = gradient | split: '-' | first | strip %}
  {% assign to = gradient | split: '-' | last | strip %}
  {% assign deg = forloop.index | times: '20' %}
  .placeholder-gradient-{{ forloop.index }} {
    background-image: linear-gradient({{ deg }}deg, {{ from }} 0%, {{ to }} 100%);
  }
{% endfor %}
