{% if settings.mybuys_enabled %}

  <div id="hidden_mybuys" style="display:none;">
    <span class="pid_mb">{{product.id}}</span>
    <span class="pn_mb">{{product.title}}</span>
    <span class="brand_mb">{{product.vendor}}</span>
    <span class="SKU_mb">{{product.metafields.sku.parent}}</span>
    <span class="breadcrumb_mb">Home{% if collection.url %}&rsaquo;{{ collection.title }}{% endif %}&rsaquo;{{ product.title }}</span>
    <span class="cat_mb">{% if collection.url %}{{ collection.title }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.title }}{% endif %}</span>
    <span class="pdpurl_mb">{{product.url}}</span>
    <span class="imgurl_mb">{{product.featured_image|img_url:'1024x'}}</span>
    <span class="baseprice_mb">{{product.price|divided_by:100|round:2}}</span>
    <span class="currentprice_mb">{{product.selected_or_first_available_variant.price|divided_by:100|round:2}}</span>
    <span class="qty_mb">1</span>
  </div>

  {% if settings.mybuys_zones_product_page_enabled %}
    <div mybuyszone="{{ settings.mybuys_zones_product_page_zone_id }}" class="padding-top-5x"></div>
    <script type="text/javascript">
      var mybuysCheck = setInterval(function() {
        if(typeof mybuys == 'undefined') {
          return;
        }

        clearInterval(mybuysCheck);

        mybuys.setPageType("PRODUCT_DETAILS");
        mybuys.set("productid","{{product.metafields.sku.parent}}");
        mybuys.addItemPresentOnPage("{{product.metafields.sku.parent}}");

      }, 100);
    </script>
  {% endif %}

{% endif %}
