{% if settings.mybuys_enabled %}
  {% if settings.mybuys_zones_collection_page_enabled %}
    <div mybuyszone="{{ settings.mybuys_zones_collection_page_zone_id }}"></div>
    <script type="text/javascript">
      var mybuysCheck = setInterval(function() {
        if(typeof mybuys == 'undefined') {
          return;
        }

        clearInterval(mybuysCheck);

        mybuys.setPageType("CATEGORY");
        mybuys.set("categoryid","{{collection.title}}");
        {% for products in collection.products %}
          mybuys.addItemPresentOnPage("{{products.metafields.sku.parent}}");
        {% endfor %}
      }, 100);
    </script>
  {% endif %}
{% endif %}
