<script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript" defer="defer"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer="defer"></script>
<script src="{{ 'consent-manager.js' | asset_url }}" defer="defer"></script>
<div class="consent-manager-cta">
  <img data-sizes="auto" data-src="{{ 'agreement.png' | asset_url }}" class="lazyload" />
</div>

<div class="consent-manager-mini">
  <div class="container">
    <span>This website collects data to provide you with the best possible shopping experience. Our use of your data is described in our <a href="/pages/privacy-policy">Privacy Policy</a>.</span>
    <form id="ConsentForm" data-post-url="">
      <div class="accept-consent-option">
        <input type="submit" value="Accept" data-consent-option="accept"/>
        <span>I have read and agree to the terms of the <a href="/pages/privacy-policy">Privacy Policy</a></span>
      </div>
      <div class="additional-consent-options">
        <a href="#" data-consent-option="manage-consent">No, I'd like to change how my data is used</a>
      </div>
    </form>
  </div>
</div>

<div class="consent-manager-extended">
  <div class="container">
    <span>This website collects data to provide you with the best possible shopping experience. Our use of your data is described in our <a href="/pages/privacy-policy">Privacy Policy</a>.</span>
    <form id="ConsentForm" data-post-url="">
      <ul class="accordion">
        <li>
          <input type="checkbox" name="consent[required]" checked disabled />
          <a>Required</a>
          <p>In order to provide basic shopping cart functionality, there are a few pieces of data that we need to capture. The capture of this data is required for us to fulfill our contractual obligation.</p>
        </li>
        <li>
          <input type="checkbox" name="consent[analytics]" />
          <a>Analytics</a>
          <p>We collect data based on your browsing and shopping behavior to be analyzed for various purposes, such as providing a better shopping experience to our customers.</p>
        </li>
        <li>
          <input type="checkbox" name="consent[services]" />
          <a>Services (Recommended)</a>
          <p>We offer an enhanced shopping experience using services provided by third-parties, who require us to share your personal data with them in order to provide personalized services to you. You can find more information on the services and the data shared in our Privacy Policy.</p>
        </li>
        <li>
          <input type="checkbox" name="consent[marketing]" />
          <a>Marketing</a>
          <p>We collect data on your shopping behavior, to present you with useful marketing content such as product recommendations.</p>
        </li>
      </ul>
      <a href="" class="navigate-back">&larr; Back</a>
      <input type="submit" value="Save" />
    </form>
  </div>
</div>
