<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="djPt0DyA5STFAbJKkSxjawGlRPJneqWzvaX3KnSjOL8" />
  <meta name="google-site-verification" content="4QlWxxvzdZ4-JxxVBpA-iIkfrKTGJCt6AB7q1nahFdM" />
  <meta name="google-site-verification" content="dhvGr9DnQqXKlF1Ie4f5s1M_hnTBEld3fMK2_Tg9pa0" />
  <meta name="google-site-verification" content="MZjkFXUjJw-xYZfPwOQka5v-FD2mYoeIPl9RbllIjjA" />
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://code.jquery.com">
  <link rel="preconnect" href="https://aracahq.com">
  <link rel="preconnect" href="https://cdn.shopify.com">
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  {% if handle contains 'holiday' %}
    <meta name="robots" content="noindex">
  {% endif %}
  <title>{{ seo_title }}</title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {% include 'social-meta-tags' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
  {% if settings.product_recommendations_enabled %}
  {{ 'recommendations.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% include 'google-fonts' %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP2QKVG');
  </script>
  <!-- End Google Tag Manager -->
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        preOrder: {{ 'products.product.preorder' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="https://code.jquery.com/jquery-3.3.1.min.js"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'jquery-ui.min.js' | asset_url }}"></script><![endif]-->

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  {{ 'free-gifts.js' | asset_url | script_tag }}
  {{ content_for_header }}
  {% include 'bold-common' %}
  {% include 'password-validation' %}
  {% include 'geolocation-redirect' %}

  {% include 'evergage' %}

  {% include 'field-validation' %}
  {{ 'pdp-video.scss.css' | asset_url | stylesheet_tag }}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'pdp-video.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'pdp-video.js' | asset_url }}"></script><![endif]-->

  {% include 'consent-management' %}
</head>
<body class="template-{{ template | split: '.' | first }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP2QKVG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  {% section 'header' %}
  <div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {% section 'popups' %}
  </div>
  {% include 'ajaxify-cart' %}
  {% include 'js_functions' %}
  {% unless product != blank and product.tags contains 'PDPLITE' %}
  {% include 'swym-wishlist' %}
  {% endunless %}
  {% include 'swym-personalizedgifts-wishlist' %}
  <iframe width="1" height="1" frameborder="0" style="display:none" src="https://d.agkn.com/iframe/9300/?page=shophbo&che=[cachebuster]"></iframe>
  <img width="1" height="1" border="0" style="display: none;" src="https://d.agkn.com/pixel/9300/?page=shophbo&che=[cachebuster]"/>
{% unless product != blank and product.tags contains 'PDPLITE' %}
{% include 'swymSnippet' %}
{% endunless %}

{% include 'stamped-global' %}
{% section 'free-gifts' %}
</body>
</html>
