<!-- sections/index-mobile-tabs.liquid -->

{% if section.settings.menu_1 == blank or section.settings.menu_2 == blank %}
  {% if section.settings.menu_1 == blank %}
    {% assign menu = section.settings.menu_2 %}
  {% else %}
    {% assign menu = section.settings.menu_1 %}
  {% endif %}
  <section class="s-show mobile-tab-menu container">
    <div id="{{ section.id }}Tab1" class="active" data-tab-content>
      <ul>
        {% for link in linklists[menu].links %}
          <li>
            {% assign child_handle = link.title | handleize %}
            <a href="{{ link.url }}" {% if linklists[child_handle].links.size > 0 %}data-accordion-toggle data-accordion-parent="#{{ section.id }}Tab1"{% endif %}>{{ link.title }}</a>
            {% if linklists[child_handle].links.size > 0 %}
              <ul data-accordion-content>
                {% for link in linklists[child_handle].links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% else %}
  <section class="s-show mobile-tab-menu container">
    <div class="mobile-tabs row no-margin">
      <div class="column s6 active" data-tab-toggle="#{{ section.id }}Tab1" data-tab-parent=".mobile-tab-menu">
        {{ section.settings.title_1 }}
      </div>
      <div class="column s6" data-tab-toggle="#{{ section.id }}Tab2" data-tab-parent=".mobile-tab-menu">
        {{ section.settings.title_2 }}
      </div>
    </div>
    <div class="tab-content row no-margin">
      <div id="{{ section.id }}Tab1" class="active" data-tab-content>
        <ul>
          {% for link in linklists[section.settings.menu_1].links %}
            <li>
              {% assign child_handle = link.title | handleize %}
              <a href="{{ link.url }}" {% if linklists[child_handle].links.size > 0 %}data-accordion-toggle data-accordion-parent="#{{ section.id }}Tab1"{% endif %}>{{ link.title }}</a>
              {% if linklists[child_handle].links.size > 0 %}
                <ul data-accordion-content>
                  {% for link in linklists[child_handle].links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div id="{{ section.id }}Tab2" data-tab-content>
        <ul>
          {% for link in linklists[section.settings.menu_2].links %}
            <li>
              {% assign child_handle = link.title | handleize %}
              <a href="{{ link.url }}" {% if linklists[child_handle].links.size > 0 %}data-accordion-toggle data-accordion-parent="#{{ section.id }}Tab2"{% endif %}>{{ link.title }}</a>
              {% if linklists[child_handle].links.size > 0 %}
                <ul data-accordion-content>
                  {% for link in linklists[child_handle].links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}
{% schema %}
  {
    "name": "Mobile Tabs",
    "settings": [
      {
        "type": "header",
        "content": "Tab one"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Tab 1 title",
        "default": "Shop by category"
      },
      {
         "type": "link_list",
         "id": "menu_1",
         "label": "Menu 1"
      },
      {
        "type": "header",
        "content": "Tab two"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Tab 2 title",
        "default": "Shop by show"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu 2"
      }
    ],
    "presets": [
      {
        "category": "Navigation",
        "name": "Mobile Tabs"
      }
    ]
  }
{% endschema %}
