<!-- sections/template-product.liquid -->

{% assign sharing = section.settings.sharing %}
{% assign tabs = section.settings.tabs %}
{% assign related = section.settings.related %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign price = current_variant.price | money %}

{% assign pre_order = false %}

{% assign has_tabs = tabs %}
{% assign active_tab = false %}
{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign multiple_variants = false %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% assign multiple_variants = true %}
{% endunless %}

{% if template.suffix == 'pre-order' %}
  {% assign pre_order = true %}
{% endif %}

{% comment %}
  Split up our product description into a one paragraph summary and the remaining description content
{% endcomment %}
{% assign product_description = product.description %}
{% unless product_description contains '<p' and product_description contains '</p>' %}
  {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
{% endunless %}
{% assign product_description = product_description | split: '</p>' %}
{% assign product_description_first = product_description | first | append: '</p>' %}
{% assign product_description_last = blank %}
{% assign product_tabs = blank %}

{% for paragraph in product_description %}
  {% unless forloop.first %}
  {% assign product_description_last = product_description_last | append: paragraph | append: '</p>' %}
  {% endunless %}
{% endfor %}

{% if product_description_last contains '<h4>' %}
  {% assign product_tabs = product_description_last | split: '<h4>' %}
{% endif %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

<section class="padding-bottom">
  <div class="s-show">
    {% include 'product-collection-image' %}
  </div>

  <div class="container l" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="false">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

    <div class="row collapse">
      <div class="column l12">
        <div class="s-hide">
          {% include 'product-collection-image' %}
          {% include 'theme-breadcrumbs' %}
        </div>
        <div class="s-show margin-bottom">
          {% include 'product-collection-nav' %}
        </div>
      </div>
    </div>

    <div class="row condensed">
      <div class="column l6 m6 s12">
        {% if product.metafields.productinfo.trailer_urls %}
          <div class="product-image-tabs">
            <div class="" data-tab-toggle="#TabProductPhotos" data-tab-parent=".product-image-tabs">
              Product Photos
            </div>
            <div class="active" data-tab-toggle="#TabProductVideos" data-tab-parent=".product-image-tabs">
              Product Videos
            </div>
            <div id="TabProductPhotos" class="" data-tab-content>
              {% include 'product-images' %}
            </div>
            <div id="TabProductVideos" class="active" data-tab-content>

              <iframe id="ytplayer" type="text/html" width="100%" height="370px;"
                src="{{ product.metafields.productinfo.trailer_urls | replace: 'http://', '//' | replace: 'https://', '//' }}?autoplay=1&origin={{ shop.url }}"
                frameborder="0">
              </iframe>

              {{ product.metafields.productinfo.trailer_title }}

            </div>
          </div>
        {% else %}
          {% include 'product-images' %}
        {% endif %}

        {% if product.images.size > 1 %}
          <div id="ProductThumbs" class="row collapse s-hide">
            {% for image in product.images %}
              <div class="column l3 m3 s6">
                <div class="product-image bg-foreground thumbnail{% if forloop.first %} active{% endif %}" data-thumbnail>
                  <div class="ratio" data-ratio="1:1" style="background-image:url({{ image | img_url: '1024x1024' }})"></div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}


        <div class="s-hide">
          {% include 'product-companions' %}
          {% include 'product-recently-viewed' %}
        </div>
      </div>

      <div class="column l6 m6 s12">

        <div class="relative">
          <div class="product-zoom absolute center">
            <div class="bg-brand fg-foreground palette"><h4 class="no-margin">{{ product.title }}</h4></div>
            <div id="ProductPhotoZoom" class="ratio" data-ratio="4:3"></div>
          </div>
        </div>

        <h1 itemprop="name" class="no-margin">{{ product.title }}</h1>

        {% include 'stamped-pdp-summary' %}

        <p class="no-margin">
          <s id="ComparePrice" {% unless on_sale %}class="hidden"{% endunless %} itemprop="price">
            {{ current_variant.compare_at_price | money }}
          </s>
          <span id="ProductPrice" class="{% if on_sale %}sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {% if on_sale %}
              {{ 'product.priced_sale_html' | t: price: price }}
            {% else %}
              {{ 'product.priced_html' | t: price: price }}
            {% endif %}
          </span>
          <span id="Savings" {% unless on_sale %}class="hidden"{% endunless %}>
            {% assign difference = current_variant.compare_at_price | minus: current_variant.price %}
            {% assign difference = difference | append: '.0' %}
            {% assign savings = difference | divided_by: current_variant.compare_at_price | times: 100 %}
            (save {{ savings | round | append: '%' }})
          </span>
        </p>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>
            <div class="variant-table">
              <div class="row collapse l-table m-table{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item-form{% endif %}">
                <div class="column l12 m12 s12">
                  {% if multiple_variants %}
                    <div class="margin-top-2x"></div>
                    <div class="row condensed margin-bottom">
                      {% assign variant_count = 0 %}
                      {% for option in product.options_with_values %}
                        <label{% if option.name == 'Default Title' or product.options.size == 1 %} class="hidden"{% endif %} for="SingleOptionSelector-{{ forloop.index }}">
                          {{ option.name }}
                        </label>
                        <div class="no-margin">
                          <select class="single-option-selector" data-name="{{ option.name | downcase | escape }}" id="SingleOptionSelector-{{ forloop.index }}" data-index="option{{ forloop.index }}" {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %}style="display: none;"{% endif %}>
                            <option value="" selected>
                              Select {{ option.name }}
                            </option>
                            {% for value in option.values %}
                              <option value="{{ value | escape }}">{{ value }} - {{ product.variants[variant_count].price | money }}</option>
                              {% assign variant_count = variant_count | plus: 1 %}
                            {% endfor %}
                          </select>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="quantity-adjust margin-bottom">
                    <span class="small">Qty:</span> <input type="number" id="Quantity" class="quantity" name="quantity" value="1" min="1" data-cart-quantity="1">
                  </div>
                  {% include 'product-personalizer' %}
                </div>
              </div>
            </div>

            <select name="id" id="productSelect" class="hidden" data-index="option{{ forloop.index }}">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option
                    value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <div class="row condensed">
              <div class="column l6 m6 s6 left s-center{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item{% endif %}" style="padding-left: 0px;">
                {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %}
                 {% include 'popup-ezprints' %}
                  <a class="button blue medium t-uppercase bitmap no-hover left" id="CustomizeProduct" style="display:none;">
                    <img src="{{ 'button-customize.png' | asset_url }}">
                  </a>
                {% else %}
                  <button class="blue medium t-uppercase bitmap no-hover left" type="submit" name="add" data-add-to-cart{% if sold_out or multiple_variants %} disabled{% endif %}>
                    <span id="AddToCartText">
                      {% if sold_out %}
                        <img src="{{ 'button-add_to_cart.png' | asset_url }}">
                      {% else %}
                        {% if pre_order %}
                          <img src="{{ 'button-pre_order.png' | asset_url }}">
                        {% else %}
                          <img src="{{ 'button-add_to_cart.png' | asset_url }}">
                        {% endif %}
                      {% endif %}
                    </span>
                  </button>
                {% endif %}
                <div style="padding-top: 15px; color: #900; font-weight: bold; ">ALL SALES FINAL</div>
              </div> 
              <div class="column l6 m6 s6 right v-middle">
                <h6 class="no-margin w-normal">
                  <button class="basic inactive add-to-wishlist-button" data-swaction="addToWishlist" data-product-id="{{ product.id | json }}">
                    <span class="add">{{ 'account.wishlist.add' | t }}</span>
                    <span class="added">{{ 'account.wishlist.added' | t }}</span>
                  </button>
                </h6>
              </div>
            </div>

            {% include 'elkfox-raincheck' %}
          </form>
        </div> 

        {% include 'product-features' %} 

        <p class="h5 no-margin w-normal">
          {{ product.metafields.sku.parent }}
        </p>

        {% for block in section.blocks %}
          {% if block.type == 'tab' %}
            {% if block.settings.display == '' or block.settings.display_on == blank %}
              {% assign has_tabs = true %}
            {% elsif block.settings.display == 'tag' %}
              {% if product.tags contains block.settings.display_on %}
                {% assign has_tabs = true %}
              {% endif %}
            {% elsif block.settings.display == 'type' %}
              {% if product.type == block.settings.display_on %}
                {% assign has_tabs = true %}
              {% endif %}
            {% elsif block.settings.display == 'vendor' %}
              {% if product.vendor == block.settings.display_on %}
                {% assign has_tabs = true %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% include 'product-description' %}

        <div class="s-show">
          {% include 'product-companions' %}
        </div> 

        {% comment %}{% if sharing %}
          <div class="s-hide margin-bottom-2x">
            {% include 'social-sharing' %}
          </div>
        {% endif %}

        {% if sharing %}
          <div class="s-show padding-bottom">
            <hr class="margin-bottom-2x">
            {% include 'social-sharing' %}
          </div>
        {% endif %}{% endcomment %}

        
      </div>
    </div> 

    <div class="row condensed">
      <div class="column l12 l12 s12">
        {% if related %}
          {% include 'product-related' %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<div id="OutOfStockPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
      </div>
      <div class="container">
        <div>

          {% if product.variants.size == 1 %}
          <h5>We only have <span class="red">{{ current_variant.inventory_quantity }}</span> units available of this product. Please adjust the quantity you'd like to purchase.</h5>

            {% else %}

            <h5>We only have
            {% for variant in product.variants %}
            {% if variant.available %}
            <span class="results {{ variant.title | escape }}" style="display:none;">{{ variant.inventory_quantity }}</span>
            {% endif %}
            {% endfor %}
            units available of this product. Please adjust the quantity you'd like to purchase.</h5>
            {% endif %}

          </div>
        </div>
        <a href="#close" class="popup-close" id="close_out_of_stock_popup" data-close aria-label="Close">
           <img src="//cdn.shopify.com/s/files/1/2959/2384/t/20/assets/cart-close.png?16228280012142088627">
        </a>
      </div>
    </div>
  </div>
  <!-- begin OutOfStock Popup  -->
<script>
  $('.popup-close').click(function (){
    $('#OutOfStockPopup').removeClass('visible');
    $('#OutOfStockPopup .results').hide();
  });

  $('#Quantity').change(function(){
    var value = $('#SingleOptionSelector-1').val();
    jQuery('#OutOfStockPopup .' + value).show();
  });

  $('#SingleOptionSelector-1').change(function(){ 
   var _selected_val = $(this).val(); 
   if(_selected_val.indexOf("Men's ") != -1) {
    _selected_val = _selected_val.replace("Men's ",""); 
   }
   jQuery('#OutOfStockPopup .' + _selected_val).show();
  });
</script>
<!-- end -->

<script>
  concrete.product = {
    settings: {
      currentSlide: 0,
      container: '#ProductPhoto',
      preOrder: {{ pre_order }},
      zoom: {
        container: '.zoom-wrapper',
        target: '#ProductPhotoZoom',
        breakpoint: {{ settings.breakpoint_s }}
      },
      slick: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        fade: true,
        dots: false,
        arrows: false,
        pauseOnHover: false,
        speed: {{ settings.transition_speed }},
        adaptiveHeight: false,
        responsive: [
          {
            breakpoint: {{ settings.breakpoint_m }},
            settings: {
              dots: true,
              customPaging: function(slider, i) {
                return '';
              }
            }
          }
        ]
      }
    },
    images: function() {
      $(concrete.product.settings.container).slick(concrete.product.settings.slick);
      concrete.product.thumbnails('[data-section-type="product"]');
      concrete.product.zoom('[data-section-type="product"]');
    },
    zoom: function(target) {
      if ($(window).width() > concrete.product.settings.zoom.breakpoint) {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).zoom({
          target: concrete.product.settings.zoom.target,
          onZoomIn: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').addClass('active');
          },
          onZoomOut: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').removeClass('active');
          }
        });
      } else {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).trigger('zoom.destroy');
      }
    },
    thumbnails: function(target) {
      $(target).find('[data-thumbnail]').on({
        click: function() {
          $('[data-thumbnail]').removeClass('active');
          $(this).addClass('active');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        }
      });
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:section:deselect', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:block:select', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    var target = $(event.target).data('tab-toggle');
    $(event.target).addClass('active');
    $(event.target).closest('[data-section-type="product"]').find(target).addClass('active');
  });

  $(document).on('shopify:block:deselect', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle]:first-child').addClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-content]:first-child').addClass('active');
  });

  $(window).on('resize', function() {
    concrete.product.zoom('[data-section-type="product"]');
  });

  // Init on docready
  $(document).ready(function() {
    concrete.product.images(); 

    if (document.getElementsByClassName("ezp-customizable-item-form").length > 0) {
      var __waitforezp = setInterval(function(){ 
        if(document.getElementById("CustomizeProduct").style.display == "none") {
          return;
        } 
        if(document.getElementsByClassName("ezp-customizable-item").length > 0) {
          document.getElementsByClassName("ezp-customizable-item")[0].classList.remove("ezp-customizable-item"); 
        }
        document.getElementsByClassName("ezp-customizable-item-form")[0].classList.remove("ezp-customizable-item-form"); 
        clearInterval(__waitforezp); 
      }, 500); 
    } 
  });
</script>

<script type="application/json" id="ProductJson">
 {{ product | json }}
</script>

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_product_page %}
<script src="{{ 'pdp-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="page-width product-template__recommendations-container product-recommendations visually-hidden"
     data-base-url="{{ routes.product_recommendations_url }}"
     data-product-id="{{ product.id }}"
     data-limit="8">
</div>
<div class="column l12 m12 s12 slideshow-product collection-product on_sale slick-slide visually-hidden" id="pdp-recommendations-item-template">
   <a class="product-image">
      <div class="relative bg-foreground ratio" data-ratio="1:1">
         <div class="overlay background-image contain"></div>
      </div>
   </a>
   <p class="padding-top-05x no-margin"><a class="product-title"></a></p>
   <p class="price padding-top-05x padding-bottom-2x"></p>  
</div>
{% endif %}

{% schema %}
  {
    "name": "Product template",
    "settings": [
      {
        "type": "header",
        "content": "Product template",
        "info": "These settings affect all products using this template"
      },
      {
        "type": "checkbox",
        "id": "sharing",
        "label": "Display social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tabs",
        "label": "Description tabs",
        "info": "H4 headings inside the product description will be converted into tabs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related",
        "label": "Display related products",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Content tab",
        "settings": [
          {
            "type": "header",
            "content": "Content tab",
            "info": "Add an additional content tab to the product description"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New tab"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page content",
            "info": "Optionally, retrieve content from a page on your store"
          }
        ]
      },
      {
        "type": "companion",
        "name": "Product companions",
        "settings": [
          {
            "type": "header",
            "content": "Product companions",
            "info": "Link companion products"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "placeholder": "Also Available:"
          },
          {
            "type": "header",
            "content": "Product 1"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_1",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Product 2"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_2",
            "label": "Content"
          }
        ]
      },
      {
        "type": "feature",
        "name": "Product feature",
        "settings": [
          {
            "type": "header",
            "content": "Product feature",
            "info": "Add features to all products or a specific set of products"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "popup",
            "label": "Popup ID",
            "info": "To link to a popup, enter the popup's ID here. This will override the above link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "info": "Leave blank to link the entire feature"
          }
        ]
      }
    ]
  }
{% endschema %}
