<!-- sections/template-page.liquid -->

{% assign show_title = section.settings.show_title %}

<div class="container l padding-top-2x padding-bottom-2x">

  {% if show_title %}<h1 class="h2">{{ page.title }}</h1>{% endif %}

  <div class="rte margin-bottom">
    {{ page.content }}
  </div>

</div>

{% schema %}
  {
    "name": "Page template",
    "settings": [
      {
        "type": "header",
        "content": "Page template",
        "info": "These settings will affect all pages using this template"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Display page titles",
        "default": true
      }
    ]
  }
{% endschema %}
