<!-- sections/template-collection.liquid -->

{% assign image = section.settings.image %}
{% assign menus = 2 %}
{% assign count = 0 %}
{% assign column_width = 'l12' %}

<div class="container l padding-top padding-bottom-3x">
  <div class="row no-margin">
    {% if image != blank %}
      <div class="column l6 m6 s12">
        <img src="{{ image | img_url: '1024x' }}" alt="{{ '404.title' | t }}">
        <div class="s-show margin-bottom-2x"></div>
      </div>
    {% endif %}
    <div class="column {% if image != blank %}l6 m6 s12{% else %}l12{% endif %}">
      <h1 class="h2 t-uppercase">{{ '404.title' | t }}</h1>
      <p>{{ '404.subtext_html' | t }}</p>
      <p>{{ '404.continue_html' | t }}</p>
      <p>{{ '404.contact_html' | t }}</p>

      <div class="row condensed">
        {% for i in (1..menus) %}
          {% assign menu_key = 'menu_' | append: i %}
          {% assign menu = linklists[section.settings[menu_key]] %}
          {% if menu != blank %}
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}

        {% case count %}
          {% when 2 %}
            {% assign column_width = 'l6 m6 s12' %}
          {% when 3 or 6 %}
            {% assign column_width = 'l4 m4 s12' %}
          {% when 4 or 8 %}
            {% assign column_width = 'l3 m6 s12' %}
        {% endcase %}

        {% for i in (1..menus) %}
          {% assign menu_key = 'menu_' | append: i %}
          {% assign menu = linklists[section.settings[menu_key]] %}
          {% if menu != blank %}
            <div class="column {{ column_width }}">
              <h5 class="t-uppercase no-margin">{{ menu.title }}</h5>
              <ul>
                {% for link in menu.links %}
                  <li class="padding-top-05x">
                    <p class="no-margin"><a class="fg-text" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></p>
                  </li>
                {% endfor %}
              </ul>
              <div class="s-show margin-bottom-2x"></div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404 template",
    "settings": [
      {
        "type": "header",
        "content": "404 template"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "link_list",
        "id": "menu_1",
        "label": "Menu 1"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "label": "Menu 2"
      }
    ]
  }
{% endschema %}
