<!-- /snippets/theme-header.liquid -->

{% assign primary_menu = linklists[section.settings.primary_menu] %}
{% assign secondary_menu = linklists[section.settings.secondary_menu] %}
{% assign tertiary_menu = linklists[section.settings.tertiary_menu] %}
{% assign search = section.settings.search %}
{% assign menu_titles = section.settings.menu_titles %}

{% assign offer = section.settings.offer %}
{% assign offer_link = section.settings.offer_link %}
{% assign offer_image = section.settings.offer_image %}

{% assign background_image = section.settings.background_image %}
{% assign background_image_size = section.settings.background_image_size %}
{% assign background_image_size_url = background_image_size | append: 'x' %}
{% assign background_image_position = section.settings.background_image_position %}
{% assign background_image_repeat = section.settings.background_image_repeat %}

{% assign logo_width = '2000x' %}
<header class="theme-header bg-highlight" role="banner"{% unless background_image == blank %} style="background-image:url('{% if background_image_size == 0 %}{{ background_image | img_url: '2000x' }}{% else %}{{ background_image | img_url: background_image_size_url }}{% endif %}');background-repeat:{{ background_image_repeat }};background-position:{{ background_image_position }};background-size:{% if background_image_size == 0 %}auto{% else %}{{ background_image_size | append: 'px' }}{% endif %};"{% endunless %}>
  <div class="container l">

    <div class="row relative collapse table margin-bottom fg-foreground">
      <div class="column l4 m7 s7 left v-top">
        <div class="m-hide s-hide">
          {% include 'theme-logo' %}
        </div>
        <div class="l-hide">
          <div class="row collapse table">
            <div class="column l2 s4 v-middle">
              <a href="#NavToggled" data-trigger="popup" data-target="#NavToggled" class="button bitmap menu-trigger">
                <img src="{{ 'menu.png' | asset_url }}">
                <img src="{{ 'menu--hover.png' | asset_url }}" class="hover">
              </a>
            </div>
            <div class="column l6 s8 v-middle">
              {% include 'theme-logo' %}
            </div>
          </div>
        </div>
      </div>
      <div class="column l10 m5 s5 right v-top s-v-middle m-v-middle">
        {% if tertiary_menu.links.size > 0 %}
          <div class="row table no-margin s-hide m-hide fg-foreground palette">
            <div class="column l12">
              <ul class="tertiary-menu inline">
                {% include 'theme-nav-account' %}
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="row collapse table no-margin">
          {% if offer %}
            <div class="column l4  m-hide s-hide left v-middle">
              {% if offer_link != '' %}<a href="{{ offer_link }}" class="image-link">{% endif %}
              {% if offer_image != blank %}<img src="{{ offer_image | img_url: '2000x' }}">{% endif %}
              {% if offer_link != '' %}</a>{% endif %}
            </div>
          {% endif %}
          {% if search %}
            <div class="column l6 m-hide s-hide right v-middle">
              {% include 'form-search' %}
            </div>
          {% endif %}
          <div class="column l3 m12 s12 v-middle">
            <div class="cart-content relative">
              <a href="/cart" class="cart-link h3 no-margin no-decoration" id="CartLink" aria-controls="Cart" aria-expanded="false" class="v-middle">
                <span class="button bitmap v-middle inline s-hide m-hide">
                  <img src="{{ 'cart.png' | asset_url }}">
                  <img src="{{ 'cart--hover.png' | asset_url }}" class="hover">
                </span>
                <span class="cart-button v-middle no-hover inline l-hide">
                  <img src="{{ 'cart--mobile.png' | asset_url }}">
                </span>
                <span class="v-middle item-count inline left cart-info padding-left">
                  <span class="s-hide m-hide"><img src="{{ 'heading-my-cart.png' | asset_url }}" alt="{{ 'cart.heading' | t }}"></span><br>
                  <span class="w-normal">
                    <span data-cart-item-count>{{ cart.item_count }}</span><span class="s-hide m-hide"> {{ 'cart.count' | t: count: cart.item_count }}</span>
                  </span>
                </span>
              </a>
              {% include 'popup-cart' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row relative table m-table no-margin">
      <div class="column l12 left">
        {% if search %}
          <div class="l-hide">
            {% include 'form-search' %}
          </div>
        {% endif %}
        {% if primary_menu.links.size > 0 %}
          <nav class="theme-nav-primary m-hide s-hide" role="navigation">
            {% include 'theme-nav-main' with primary_menu %}
          </nav>
        {% endif %}

        {% if secondary_menu.links.size > 0 %}
          <nav class="theme-nav-secondary m-hide s-hide" role="navigation">
            {% assign dropdown_split = 3 %}
            {% assign dropdown_split_logic = 'columns' %}
            {% include 'theme-nav-main' with secondary_menu %}
          </nav>
        {% endif %}
      </div>
    </div>

  </div>
</header>

<script>
  // Show cart popup on cart link hover -- disabled by default
  $(document).ready(function() {
    $('#CartLink').on('mouseover', function() {
      var popup = $(this).data('popup');
      if (!(($(popup).hasClass('visible')) || ($(window).width()<={{ settings.breakpoint_s }}))) {
        cartPopup.show();
      }
    });
    $('.cart-content').on('mouseleave', function() {
      if($('#PopupCart').hasClass('visible')) {
        $('#PopupCart').delay(2000).removeClass('visible');
      }
    });
  });
</script>

{% include 'theme-nav-toggled' %}

{% schema %}
  {
    "name": "Header & navigation",
    "settings": [
      {
        "type": "header",
        "content": "Header & navigation"
      },
      {
        "type": "link_list",
        "id": "primary_menu",
        "label": "Primary menu"
      },
      {
        "type": "link_list",
        "id": "secondary_menu",
        "label": "Secondary menu"
      },
      {
        "type": "link_list",
        "id": "tertiary_menu",
        "label": "Tertiary menu"
      },
      {
        "type": "checkbox",
        "id": "search",
        "label": "Display search",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "offer",
        "label": "Display offer",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "offer_image",
        "label": "Offer image"
      },
      {
        "id": "offer_link",
        "type": "url",
        "label": "Offer link"
      },
      {
        "type": "checkbox",
        "id": "menu_titles",
        "label": "Display menu titles on collapsed navigation",
        "default": true
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "background_image_size",
        "label": "Background image size",
        "min": 0,
        "max": 1000,
        "step": 10,
        "default": 0,
        "unit": "px",
        "info": "Set to zero for automatic sizing"
      },
      {
        "type": "select",
        "id": "background_image_repeat",
        "label": "Background image style",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat horizontally"
          },
          {
            "value": "repeat-y",
            "label": "Repeat vertically"
          }
        ],
        "default": "repeat-x"
      },
      {
        "type": "select",
        "id": "background_image_position",
        "label": "Background image position",
        "options": [
          {
            "value": "left top",
            "label": "Left top"
          },
          {
            "value": "left center",
            "label": "Left center"
          },
          {
            "value": "left bottom",
            "label": "Left bottom"
          },
          {
            "value": "center top",
            "label": "Center top"
          },
          {
            "value": "center center",
            "label": "Centered"
          },
          {
            "value": "center bottom",
            "label": "Center bottom"
          },
          {
            "value": "right top",
            "label": "Right top"
          },
          {
            "value": "right center",
            "label": "Right center"
          },
          {
            "value": "right bottom",
            "label": "Right bottom"
          }
        ],
        "default": "center bottom"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Submenu",
        "settings": [
          {
            "type": "header",
            "content": "Submenu",
            "info": "Add featured content to a submenu"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Submenu"
          },
          {
            "type": "header",
            "content": "Featured content"
          },
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu title"
          },
          {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "featured_link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
