<!-- /snippets/theme-footer.liquid -->

{% assign footer_menu_1 = linklists[section.settings.footer_menu_1] %}
{% assign footer_menu_2 = linklists[section.settings.footer_menu_2] %}
{% assign footer_menu_3 = linklists[section.settings.footer_menu_3] %}
{% assign footer_menu_4 = linklists[section.settings.footer_menu_4] %}
{% assign menu_titles = section.settings.menu_titles %}
{% assign disclaimer = section.settings.disclaimer %}
{% assign social = section.settings.social %}

{% assign subscribe = section.settings.subscribe %}
{% assign subscribe_header = section.settings.subscribe_header %}
{% assign subscribe_header_popup = section.settings.subscribe_header_popup %}

{% assign subscribe_details_text = section.settings.subscribe_details_text %}
{% assign subscribe_details_link = section.settings.subscribe_details_link %}


{% assign show_button = section.settings.subscribe_button %}
{% assign gateway_icons = section.settings.gateway_icons %}
{% assign background_image = section.settings.background_image %}
{% assign background_image_size = section.settings.background_image_size %}
{% assign background_image_size_url = background_image_size | append: 'x' %}
{% assign background_image_position = section.settings.background_image_position %}
{% assign background_image_repeat = section.settings.background_image_repeat %}

<footer class="theme-footer bg-highlight fg-foreground palette" role="contentinfo"{% unless background_image == blank %} style="background-image:url('{% if background_image_size == 0 %}{{ background_image | img_url: 'x2000' }}{% else %}{{ background_image | img_url: background_image_size_url }}{% endif %}');background-repeat:{{ background_image_repeat }};background-position:{{ background_image_position }};background-size:{% if background_image_size == 0 %}auto{% else %}{{ background_image_size | append: 'px' }}{% endif %};"{% endunless %}>
  <div class="container l center">

    {% if social or subscribe %}
      <div class="row l-table">
        {% if social %}
          <div class="column {% if subscribe %}l4 m4 l-left m-left{% else %}l12{% endif %} s12 v-middle">
            <div class="margin-bottom l-hide"></div>
            {% include 'social-links', use_images: true %}
            <div class="margin-bottom-2x s-show"></div>
          </div>
        {% endif %}
        {% if subscribe %}
          <div class="column {% if social %}l8 m8 l-right m-right{% else %}l12{% endif %} s12 v-middle">
            <div class="row l-table no-margin collapse">
              <div class="column l6 m12 s12 v-middle">
                {% unless subscribe_header == blank %}
                  <p class="small fg-white no-margin w-bold t-uppercase">
                    {{ subscribe_header }}
                    {% if subscribe_details_link != blank or subscribe_header_popup != blank %}
                      <a {% if subscribe_header_popup != blank %}href="#Popup_{{ subscribe_header_popup | handleize }}" data-trigger="popup" data-target="#Popup_{{ subscribe_header_popup | handleize }}"{% else %}href="{{ subscribe_details_link }}"{% endif %}>
                        {{ subscribe_details_text }}
                      </a>
                    {% endif %}
                  </p>
                  <div class="margin-bottom l-hide"></div>
                {% endunless %}
              </div>
              <div class="column l6 m12 s12 v-middle">
                {% include 'footer-subscribe' %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if footer_menu_1 != blank or footer_menu_2 != blank or footer_menu_3 != blank or footer_menu_4 != blank %}
      {% assign menus = 0 %}

      {% for i in (1..4) %}
        {% assign menu_key = 'footer_menu_' | append: i %}
        {% assign menu = linklists[section.settings[menu_key]] %}
        {% if menu != blank %}
          {% assign menus = menus | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% case menus %}
        {% when 1 %}
          {% assign column_width = 'l12' %}
        {% when 2 %}
          {% assign column_width = 'l6 m6 s12' %}
        {% when 3 %}
          {% assign column_width = 'l4 m4 s12' %}
        {% when 4 %}
          {% assign column_width = 'l3 m6 s12' %}
      {% endcase %}

      <div class="row l-table">
        <div class="column l8 m12 s12">
          <div class="row l-table condensed">
            {% for i in (1..4) %}
              {% assign menu_key = 'footer_menu_' | append: i %}
              {% assign menu = linklists[section.settings[menu_key]] %}
              {% assign menu_handle = menu.title | handleize %}
              {% assign heading = 'heading-' | append: menu_handle | append: '.png' %}
              {% if menu != blank %}
                <div class="column {{ column_width }} l-left m-left">
                  {% if menu_titles %}
                    <h5 class="fg-border menu-title inline wide"><img src="{{ heading | asset_url }}" alt="{{ menu.title }}"></h5>
                  {% endif %}
                  <ul>
                    {% for link in menu.links %}
                      <li><p class="no-margin"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></p></li>
                    {% endfor %}
                  </ul>
                  <div class="margin-bottom-2x s-show"></div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row no-margin">
      <div class="column l12 m12 s12 fg-border palette">
        {% if gateway_icons %}
          <div class="gateway-container">
            {% include 'payment-gateways' %}
            <h5>{{ 'common.payments.currency' | t: currency: shop.currency }}</h5>
          </div>
        {% endif %}

        {% if disclaimer != blank %}
          <div class="rte disclaimer">
            {{ disclaimer }}
          </div>
        {% endif %}

        <div class="disclaimer">
          <p><a href="http://araca.com" target="_blank" title="The Araca Group"><img class="araca-logo v-middle" src="{{ 'araca-logo.png' | asset_url }}"></a><span class="v-middle"> &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.</span></p>
          <p class="no-margin">&trade; &amp; &copy; {{ 'now' | date: "%Y" }} Warner Bros. Entertainment Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "link_list",
        "id": "footer_menu_1",
        "label": "Footer menu 1"
      },
      {
        "type": "link_list",
        "id": "footer_menu_2",
        "label": "Footer menu 2"
      },
      {
        "type": "link_list",
        "id": "footer_menu_3",
        "label": "Footer menu 3"
      },
      {
        "type": "link_list",
        "id": "footer_menu_4",
        "label": "Footer menu 4"
      },
      {
        "type": "checkbox",
        "id": "menu_titles",
        "label": "Display menu titles",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social",
        "label": "Display social media icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "gateway_icons",
        "label": "Display payment gateway icons",
        "info": "Relevant payment icons will appear automatically when configured in [Payment Settings](/admin/settings/payments)",
        "default": true
      },
      {
        "type": "header",
        "content": "Subscribe form"
      },
      {
        "type": "checkbox",
        "id": "subscribe",
        "label": "Display subscribe form",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "subscribe_button",
        "label": "Display submit button",
        "default": true
      },
      {
        "type": "text",
        "id": "subscribe_header",
        "label": "Title",
        "default": "Sign up and save $5 on your first order!"
      },
      {
        "type": "text",
        "id": "subscribe_details_text",
        "label": "Details text"
      },
      {
        "type": "url",
        "id": "subscribe_details_link",
        "label": "Details link"
      },
      {
        "type": "text",
        "id": "subscribe_header_popup",
        "label": "Title popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      },
      {
        "type": "richtext",
        "id": "disclaimer",
        "label": "Disclaimer",
        "default": "<p>WBshop.com is owned and operated by Araca Merchandise L.P. under license from Warner Bros. Consumer Products Inc. <br>Araca Merchandise L.P., United States, is solely responsible for the site's content and all aspects of your purchase.</p>"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "background_image_size",
        "label": "Background image size",
        "min": 0,
        "max": 1000,
        "step": 10,
        "default": 0,
        "unit": "px",
        "info": "Set to zero for automatic sizing"
      },
      {
        "type": "select",
        "id": "background_image_repeat",
        "label": "Background image style",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat horizontally"
          },
          {
            "value": "repeat-y",
            "label": "Repeat vertically"
          }
        ],
        "default": "repeat-x"
      },
      {
        "type": "select",
        "id": "background_image_position",
        "label": "Background image position",
        "options": [
          {
            "value": "left top",
            "label": "Left top"
          },
          {
            "value": "left center",
            "label": "Left center"
          },
          {
            "value": "left bottom",
            "label": "Left bottom"
          },
          {
            "value": "center top",
            "label": "Center top"
          },
          {
            "value": "center center",
            "label": "Centered"
          },
          {
            "value": "center bottom",
            "label": "Center bottom"
          },
          {
            "value": "right top",
            "label": "Right top"
          },
          {
            "value": "right center",
            "label": "Right center"
          },
          {
            "value": "right bottom",
            "label": "Right bottom"
          }
        ],
        "default": "center top"
      }
    ]
  }
{% endschema %}
