/* Account ===================================================================*/

// All account pages
body[class*="template-customers"] {
  #MainContent {
    color: $colorForeground;
    @include s() {
      padding: $gutter/3.33 0;
    }
  }
}

// Registration
.template-customers-register {
  form#create_customer {
    display: block;
    width: 100%;
    label {
      @include s() {
        margin-bottom: $gutter/10;
      }
      @include ml() {
        margin-top: $gutter/12.5;
        margin-right: $gutter/5;
      }
    }
    input:not([type="checkbox"]), button {
      width: $gutter*5;
    }
  }
}

// Login
.template-customers-login {
  form#customer_login {
    display: block;
    width: $gutter*5;
    label {
      margin-bottom: $gutter/10;
    }
    input {
      margin-bottom: $gutter/2.5;
    }
  }
  #PasswordRecoverForm {
    label {
      @include s() {
        margin-bottom: $gutter/10;
      }
      @include ml() {
        margin-top: $gutter/12.5;
        margin-right: $gutter/5;
      }
    }
  }
}

// Reset
.template-customers-reset_password {
  #PasswordResetForm form {
    width: 100%;
    display: block;
  }
}

// Account
.template-customers-account,
.template-customers-order,
.template-customers-addresses {
  aside {
    .nav-link {
      font-size: $h5Base;
    }
    ul {
      li {
        display: block;
        line-height: 1;
        a {
          display: block;
          padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          &:hover, &.active {
            background-image: url('menu-arrow.svg?v2');
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      [data-collapse-toggle] {
        padding: $gutter/10 0 $gutter/10 $gutter/3.33;
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle rgba($colorForeground, 0.1);
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      [data-collapse-content] {
        display: block !important;
      }
    }

    @include s() {
      [data-collapse-toggle] {
        .open, .close {
          padding-left: $gutter/3.33;
        }
        .close {
          display: none;
        }
        .open {
          display: inline;
        }
        &.active {
          .close {
            display: inline;
          }
          .open {
            display: none;
          }
        }
      }
      ul {
        padding: $gutter/5 0;
        margin-bottom: $gutter/3.33;
        border-bottom: $borderStyle $borderWeight $colorBorder;
      }
    }
  }

  .address {
    position: relative;
    display: inline-block;
    //background: url('address-middle.jpg') repeat-y;
    margin: $gutter/3.125 $gutter/5 $gutter/1.5 0;
    width: $gutter*3.6;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -$gutter/3.125;
      height: $gutter/3.125;
      //background: url('address-top.png') no-repeat;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -$gutter/7.14;
      height: $gutter/7.14;
      //background: url('address-bottom.jpg') no-repeat;
    }
    .address-content {
      padding: 0 $gutter/5;
      .address-actions {
        //border-top: $borderWeight $borderStyle rgba(darken($colorError, $hoverAmount), 0.5);
        padding-top: $gutter/10;
      }
    }
  }
}
