/* Collection ================================================================*/

.template-collection {
  aside {
    .collection-links {
      .nav-link, .input[type="checkbox"] + label {
        font-size: $h6Base;
      }
      ul {
        li {
          display: block;
          line-height: 1;
          a {
            display: block;
            padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
            background-repeat: no-repeat;
            background-position: $gutter/16.667 $gutter/6;
            &:hover, &.active {
              background-image: url('menu-arrow.svg?v1.0');
              color: $colorForeground;
              cursor: pointer;
            }
            &.active {
              text-decoration: underline !important;
            }
          }
        }
        [data-collapse-toggle] {
          padding: $gutter/10 0 $gutter/10 $gutter/3.33;
        }
      }
    }

    .collection-filters, .collection-links {
      label {
        font-size: $h6Base;
        color: $colorBrand;
        &:hover{
          color: $colorForeground;
        }
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .collection-filters, .collection-links {
        display: block !important;
      }
    }
  }

  @include s() {
    .collection-filter {
      input[type="checkbox"] + label {
        color: $colorText;
      }
    }
    [data-collapse-toggle] {
      .open, .close {
        padding-left: $gutter/3.33;
      }
      .close {
        display: none;
      }
      .open {
        display: inline;
      }
      &.active {
        .close {
          display: inline;
        }
        .open {
          display: none;
        }
      }
    }
    .collection-filters {
      padding: $gutter/5 0 0;
      margin-bottom: $gutter/3.33;
      border-bottom: $borderStyle $borderWeight $colorBorder;
      [data-collapse-content] {
        display: block !important;
      }
    }
  }

  .slideshow-container {
    padding: $gutter/5;
    .slick-slider .slick-dots li {
      background-color: $colorForeground;
      &.slick-active {
        background-color: $colorText;
      }
    }
    .thumbnails {
      .thumbnail {
        .ratio {
          position: relative;
          &:after {
            content: "";
            @include overlay();
            border: $borderWeight*3 $borderStyle transparent;
          }
        }
        &:hover, &.active {
          .ratio:after {
            border-color: $colorForeground;
          }
        }
      }
    }
  }

  nav.breadcrumb {
    color: $colorText;
  }

  .pagination {
    .pagination-amount {
      & + .pagination-amount {
        &:before {
          content: "|";
        }
      }
    }
  }

  &.suffix-landing {
    .collection-landing-links {
      background-color: lighten($colorBorder, 25%);
      padding-bottom: $gutter/2;
      .horizontal-padding {
        padding: 0 $gutter/2;
      }
      .border-frame {
        background-image: url('collection-slideshow-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: $gutter/2;
        margin: $gutter/5;
      }
    }
  }
}
