/* Product ===================================================================*/
  #trunk-container {
    padding-left: 0px;
  }
  

  #trunk {
    background: url({{ 'add-to-trunk.png' | asset_url }}) no-repeat;
    background-size: 100% 100%;
    height: 58px;
    width: 250px;
    line-height: 19px;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      background: url({{ 'add-to-trunk-hover.png' | asset_url }}) no-repeat;
      height: 58px;
      width: 250px;
    }
  }

  #wish-container{
    padding-right: 0px;
    margin-top: 39px;
    padding-bottom: 10px;
  }

  #wish {
    border: none;
    background-color: transparent; 
    webkit-box-shadow: none;
    box-shadow: none;
  }

  #wish span {
    color: #fff;

  }

  #CustomizeProduct {
    background: url({{ 'add-to-trunk.png' | asset_url }}) no-repeat;
    background-size: 100% 100%;
    height: 58px;
    width: 250px;
    line-height: 19px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    &:hover {
      background: url({{ 'add-to-trunk-hover.png' | asset_url }}) no-repeat;
      height: 58px;
      width: 250px;
    }
  }

  #CustomizeProduct #AddToCartText{
    display: block;
    text-align: center;
    padding-top: 7px;
  }

.collection-product {
  
  .on-sale {
    color: $colorError;
  }
  button {
    cursor: pointer;
  }
  .product-image {
    display: block;
    .ratio {
      border: $borderWeight $borderStyle $colorBorder;
      .quicklook {
        display: none;
        bottom: $gutter/1.25;
        right: $gutter/10;
        left: $gutter/10;
      }
      .sticker {
        bottom: $gutter/10;
        right: $gutter/10;
      }
    }
    &:hover {
      .ratio .quicklook {
        display: block;
      }
    }
  }
}

.template-product {
  #ProductPhoto, #ProductThumbs, #RecentlyViewed {
    .product-image {
      border: $borderWeight $borderStyle $colorBorder;
      &.zoom-wrapper {
        cursor: all-scroll;
      }
    }
    .thumbnail {
      margin: $gutter/10 $gutter/10 0 0;
    }
  }

  #raincheckForm {
    input, button {
      float: left;
    }
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .product-zoom {
    top: 0;
    left: 0;
    right: 0;
    border: $borderWeight $borderStyle $colorBrand;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    @include transition();
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  h1 {
    font-size: 1.25rem;
    font-family: arial;
  }

  .variant-table {
    @include ml() {
      border: $borderStyle $borderWeight $colorBorder;
      .row {
        padding: 0 $gutter/10;
        &:first-child {
          background-color: rgba($colorBrand, 0.15);
        }
      }
    }
  }

  .tab-toggles {
    font-size: 0;
    @include s() {
      border-bottom: $borderWeight $borderStyle $colorBorder;
      margin-bottom: $gutter/3.33;
    }
    [data-accordion-toggle] {
      font-size: $h4Base;
      font-weight: $fontBold;
      padding: 10px;
      color: #ffdc78;
      background-image: url(//cdn.shopify.com/s/files/1/2597/5112/t/17/assets/background-variant-table.jpg?3703198639478695336);
      border: 1px solid #b6925e;
      border-bottom: 0;
      text-transform: uppercase;
    }
    [data-accordion-content] {
      padding-bottom: $gutter/3.33;
      &.active {
        border-bottom-color: transparent;
        border: 1px solid #b6925e;
        padding: 10px;
        background-color: #fff;
        color: #333;
      }
    }
  }

  .rte {
    table {
      border: $borderWeight $borderStyle $colorText;
      tbody {
        tr {
          &:first-child {
            background-color: inherit;
            color: inherit;
          }
          & + tr {
            border-top: $borderWeight $borderStyle $colorText;
          }
          td + td {
            border-left: $borderWeight $borderStyle $colorText;
          }
        }
      }
    }
  }

  .related-products {
    .collection-product {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


@media screen and (max-width: 979px) {
  #trunk-container {
    padding-left: 10px;
  }
  #wish-container {
    padding-bottom: 4px;
    margin-top: 20px;
  }
  #wish {
    padding-left: 0px;
    float: left;
  }
   
}


