/* Search ====================================================================*/

.form-search {
  input[type="text"] {
    width: 85%;
    font-size: 1rem;
  }
}

.template-search {
  aside {
    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .search-filters {
        display: block !important;
      }
    }
  }
}


// Snize results page
.template-page {
  #MainContent {
    #snize-search-results-grid-mode {
      li.snize-product {
        min-height: 310px;
      }
      span.snize-thumbnail {
        background-color: $colorForeground !important;
        padding-bottom: 100%;
        height: auto;
      }
    }
  }
}
