<div class="page-width page-404">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <ul>
    	<li>{{ 'general.404.subtext_point_1' | t }}</li>
    	<li>{{ 'general.404.subtext_point_2' | t }}</li>
    	<li>{{ 'general.404.subtext_point_3' | t }}</li>
    </ul>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
