{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
{% section 'slideshow' %}
{% section 'collection-hero-template' %}
