<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% if template contains 'search' or page_title contains 'Search' %}
  <script type="text/javascript">
    
    function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { 
        vars[key] = value;
      });
      return vars;
    }

    $(document).ready(function(){
      var search_params = getUrlVars()['q'];
      search_params = search_params.replace('%20',' ');
      $('head > title').html( search_params + ' - ' + $('head > title').html() );
      $('.section-header.text-center > h1').html(search_params + ' - ' + $('.section-header.text-center > h1').html());
    });
  </script>
{% endif %}