<div id="pr-write"></div>

<script>
  POWERREVIEWS.display.render({
    api_key: '{{ settings.powerreviews_api_key }}',
    locale: 'en_US',
    merchant_group_id: '{{ settings.powerreviews_merchant_group_id }}',
    merchant_id: '{{ settings.powerreviews_merchant_id }}',
    components: {
      Write: "pr-write"
    }
  });
</script>
