/* Variables =================================================================*/

$colorPopupBackground: #fff;
$colorPopupBorder: #ccc;
$colorPopupInputBorder: #eee;
$colorDropdownBackground: #e8e4d9;
$colorDropdownHoverBackground: #d1bca2;
$colorDropdownHoverText: #882600;
$colorProductRelatedBackground: #d3bea5;
$colorActiveTabText: #3D1100;

/* Global =================================================================*/

body span {
  font-size: 1em;
}

.image-link {
  display: block;
  line-height: 0;
}

/* Forms ====================================================================*/

input[type="checkbox"] {
  border: $borderWeight $borderStyle $colorText;
  @include gradient($colorPopupBorder, $colorPopupBackground, -45deg);
  @include prefixer(appearance, none, webkit moz ms spec);
  &:after {
    content: "";
    @include overlay();
    color: $colorSuccess;
    font-size: $h4Base;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    border-color: $colorHighlight;
  }
  &:checked {
    &:after {
      content: "\2713";
    }
  }
}


/* Header =================================================================*/

.logo {
  margin-bottom: $gutter/10;
  margin-top: $gutter/10;
  line-height: 1;
  @include l() {
    top: auto;
    margin-bottom: $gutter/10;
    margin-top: $gutter/10;
    .logo-flare {
      display: none;
    }
  }
}

.theme-header {
  .form-search input[type="text"] {
    background-color: #FFC451;
    @include prefixer(box-shadow, inset 0 0 8px #000000, webkit moz spec);
    opacity: 0.7;
    &::placeholder {
      color: $colorText;
    }
    &::-webkit-input-placeholder {
      color: $colorText;
    }
    &::-moz-placeholder {
      color: $colorText;
    }
    &::-moz-placeholder {
      color: $colorText;
    }
  }
}


/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .menu-title {
    border-bottom: 0;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  .form-group {
    input[type="email"] {
      background-color: #FFC451;
      @include prefixer(box-shadow, inset 0 0 8px #000000, webkit moz spec);
      opacity: 0.7;
      &::placeholder {
        color: $colorText;
      }
      &::-webkit-input-placeholder {
        color: $colorText;
      }
      &::-moz-placeholder {
        color: $colorText;
      }
      &::-moz-placeholder {
        color: $colorText;
      }
    }
    button[type="submit"] {
      padding: 0;
      background: none;
    }
  }
  ul {
    li {
      padding: 0;
      a  {
        font-size: $h4Base;
        font-weight: 600;
      }
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}

/* Forms =================================================================*/


.form-search input[type="text"] {
  width: 85%;
}

.form-group {
  height: 30px;
}

/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  padding: $gutter/1.5;
  @include s() {
    padding: 0;
  }
  .hero-slideshow-inner {
    background-repeat: no-repeat;
    padding: $gutter/1.5;
    .slick-slider {
      margin-bottom: $gutter/5;
    }
    @include s() {
      background-image: none!important;
      padding: 0;
    }

    @include l() {
      border: 0;
    }
  }

  .thumbnails {
    margin-bottom: $gutter/10;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 $colorForeground;
    font-weight: $fontBold;
    .thumbnail {
      .ratio {
        margin-bottom: $gutter/10;
      }
      p {
        font-size: 0.7rem;
      }
      &.active, &:hover {
        .ratio {
          @include prefixer(box-shadow, 0px 0px 1px 3px #FFF, webkit moz spec);
        }
      }
    }
  }
}

/* Navigation =============================================================*/

// Main Nav
.theme-nav-primary, .theme-nav-secondary {
  .nav-link {
    font-size: 0.9rem;
  }
  .dropdown {
    .dropdown-menu {
      top: 1rem;
      width: 170px;
      border: 0;
      line-height: 1.5;
      @include prefixer(box-shadow, 0 0 5px #000000, webkit moz spec);
      background-color: $colorDropdownBackground;
      li {
        margin-right: 0;
        a {
          &:hover {
            background-color: $colorDropdownHoverBackground;
            color: $colorDropdownHoverText;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.theme-nav-primary {
  > ul {
    li {
      margin-right: $gutter/4;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tertiary-menu {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1;
  li {
    font-size: $h4Base;
    position: relative;
    & + li {
      &:before {
        content: "|";
        margin-left: $gutter/10;
        margin-right: $gutter/10;
        font-size: $h4Base;
        color: $colorForeground;
      }
    }
  }
}

.cart-info {
  line-height: 1;
}

.collection-links {
  h4 {
    font-size: 0.9rem;
  }
}

.breadcrumb {
  margin-bottom: $gutter/2;
}

// Tabbed content
[data-tab-toggle] {
  color: $colorText;
  @include gradient(lighten($colorPopupBorder, 6%), darken($colorPopupBorder, 6%), top);
  border: 1px solid lighten($colorPopupBorder, 6%);
  border-bottom: 0;
  border-top-left-radius: $gutter/10;
  border-top-right-radius: $gutter/10;
  font-size: 0.72rem;
  font-weight: $fontBold;
  &:active {
    @include gradient(darken($colorProductRelatedBackground, 12%), $colorProductRelatedBackground, top);
  }
  &.active {
    color: $colorActiveTabText;
    border-color: transparent;
    @include gradient(darken($colorProductRelatedBackground, 12%), $colorProductRelatedBackground, top);
    &:after {
      background-color: $colorProductRelatedBackground;
    }
  }
}

[data-tab-content] {
  border: 0;
  background-color: $colorProductRelatedBackground;
}


/* Sections =============================================================*/

.index-section-featured-links {
  .column {
    background-image: url('{{ 'section-featured-links-bg.jpg' | asset_url }}');
    background-size: 100%;
    padding: 10px 17px;
    margin: 15px 0;
  }
}

/* Collection ================================================================*/

.template-collection {
  aside {
    h4 {
      font-size: 0.9rem;
    }
    .collection-filter {
      h4 {
        font-size: 0.9rem;
      }
      label, a {
        color: $colorDropdownHoverText;
        &:hover {
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .collection-links {
      .nav-link {
        font-size: $h3Base;
      }
      ul {
        li {
          a {
            &:hover, &.active {
              background-color: transparent;
              color: $colorDropdownHoverText;
            }
          }
        }
      }
    }
  }
}

/* Product ====================================================================*/

.template-product {
  #AddToCartForm {
    .variant-table {
      border: 0;
      border-top: solid 1px $colorProductRelatedBackground;
      .row {
        background-color: transparent;
      }
    }
  }
  .product-description {
    [data-tab-toggle] {
      background: #fdf6ee;
      border: 1px solid #dbdbdb;
      border-bottom: 0;
      margin-right: -1px;
      font-size: 0.8rem;
      text-transform: none;
      &.active {
        background: #fff;
        &:after {
          background-color: #fff;
        }
      }
    }
    [data-tab-content] {
      background-color: #fff;
      border: 1px solid #dbdbdb;
    }
  }
}

/* Popups ====================================================================*/

.popup {
  .popup-content {
    padding: $gutter;
    background-color: $colorPopupBackground;
    color: $colorText;

    .form-note {
      color: $colorText;
    }

    form {
      width: 90%;
      margin: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    textarea {
      background-color: $colorPopupBackground;
      color: $colorText;
      font-size: $h3Base;
      font-family: inherit;
      border: $borderWeight $borderStyle $colorPopupInputBorder;
    }

    &.popup-header {
      background: $colorPopupBackground;
      padding-top: 0;
      .popup-header-logo {
        padding-bottom: $gutter/2;
        padding-top: $gutter/2;
      }
    }
  }
  &.overlay {
    background: rgba($colorPopupBackground, 0.1);
    &.bordered {
      .popup-content {
        background: $colorPopupBackground;
        @include ml() {
          border: $borderWeight*5 $borderStyle $colorPopupBorder;
        }
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/10;
    right: $gutter/10;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight !important;
          }
          .fill {
            fill: $colorHighlight !important;
          }
        }
      }
    }
  }
}

/* Helpers ================================================================*/

.fg-white {
  color: #fff;
}

.float-right {
  float: right;
}

/* =============================================================================
   Snize Override
============================================================================= */

html .snize-title {
  max-height: 6.8em !important;
  height: 5.8em !important;
  -webkit-line-clamp: 6 !important;
}

html #snize-search-results-grid-mode span.snize-overhidden {
  max-height: 10.8em !important;
}


#OutOfStockPopup{
  h5{
    margin-bottom: 0;
    .red,
    .results {
      color: red;
    }
  }
}
