<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-login" viewBox="0 0 100 100"><path id="Selection"
        fill="none" stroke="black" stroke-width="1"
        d="M 88.48,19.00 C 107.03,42.69 98.27,80.59 71.00,93.51 62.22,97.67 55.45,98.11 46.00,98.00 12.64,97.60 -8.03,62.20 2.54,32.00 8.63,14.61 22.43,4.26 40.00,0.46 59.14,-2.18 76.33,3.48 88.48,19.00 Z M 93.00,48.00 C 92.91,40.37 91.09,33.65 87.32,27.00 83.68,20.57 80.04,16.67 74.00,12.44 57.57,0.92 33.82,2.83 19.01,16.18 2.45,31.12 -0.53,60.30 15.00,77.00 15.96,73.78 16.66,70.81 18.65,68.02 26.17,57.46 40.67,60.00 52.00,60.00 59.22,60.00 67.72,59.04 73.96,63.26 80.90,67.95 80.25,71.63 83.00,78.00 90.16,66.54 93.16,62.02 93.00,48.00 Z M 53.00,56.67 C 34.83,59.86 20.74,39.38 31.65,24.01 35.44,18.68 39.90,16.83 46.00,15.47 74.32,12.17 78.28,52.24 53.00,56.67 Z" /></svg>