<!-- Tabs for Desktop view -->
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Overview</a></li>

    <li><a href="#tabs-2">Reviews</a></li>
    {% if product.metafields.productinfo.size_chart != blank %}
    <li><a href="#tabs-3">Size Chart</a></li>
    {% endif %}
	</ul>
    <div id="tabs-1">
      {{ product.description }}
    </div>	
    <div id="tabs-2">
      <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.review }}</div>
    </div>
    {% if product.metafields.productinfo.size_chart != blank %}
    <div id="tabs-3">
      <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

      </div>
    </div>
    {% endif %}
</div>
<!-- Accordion for Mobile view -->
<div id="accordion">
  <h3>Overview</h3>
  <div>{{ product.description }}</div>
  <h3>Reviews</h3>
  <div id="shopify-product-reviews_mobile" data-id="{{ product.id }}"></div>
  {% if product.metafields.productinfo.size_chart != blank %}
  <h3>Size Chart</h3>
  <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}"></div>
  {% endif %}
</div>
