<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

{% if product.variants.size > 1 and product.variants.first.price != product.variants.last.price %}
  {%- assign first_compare_at_price = product.variants.first.compare_at_price -%}
  {%- assign last_compare_at_price = product.variants.last.compare_at_price -%}
  {%- assign price_first = product.variants.first.price -%}
  {%- assign price_last = product.variants.last.price -%}
  {%- assign first_price_varies = product.variants.first.price_varies -%}
  {%- assign last_price_varies = product.variants.last.price_varies -%}
  {%- assign first_available = product.variants.first.available -%}
  {%- assign last_available = product.variants.last.available -%}

  {% if first_compare_at_price > price_first or last_compare_at_price > last_price %}
    {% if first_price_varies or last_price_varies %}
      <span class="visually-hidden">{{ 'products.product.variants.first.regular_price' | t }} - {{ 'products.product.variants.last.regular_price' | t }}</span>
      <s class="product-price__price">{{ first_compare_at_price | money }} - {{ last_compare_at_price | money }}</s>
      <span class="product-price__price product-price__sale">
        {{ price_first | money }} - {{ price_last | money }}
      </span>
      {% if first_compare_at_price > price_first %}
      <span class="savings">(Save {{ product.variants.first.compare_at_price_max | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
      {% elsif last_compare_at_price > price_last %}
      <span class="savings">(Save {{ product.variants.last.compare_at_price_max | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
      {% endif %}
    {% else %}
      <span class="visually-hidden">{{ 'products.product.variants.first.regular_price' | t }} - {{ 'products.product.variants.last.regular_price' | t }}</span>
      <s class="product-price__price">{{ first_compare_at_price | money }} - {{ last_compare_at_price | money }}</s>
      <span class="product-price__price product-price__sale">
        {{ price_first | money }} - {{ price_last | money }}
      </span>
      {% if first_compare_at_price > price_first %}
      <span class="savings">(Save {{ product.variants.first.compare_at_price_max | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
      {% elsif last_compare_at_price > price_last %}
      <span class="savings">(Save {{ product.variants.last.compare_at_price_max | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
      {% endif %}
    {% endif %}
  {% else %}

    {% if price_varies %}
      <span class="product-price__price">{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.variants.first.regular_price' | t }} - {{ 'products.product.variants.last.regular_price' | t }}</span>
      <span class="product-price__price">{{ price_first | money }} - {{ price_last | money }}</span>
    {% endif %}
  {% endif %}
{% else %}
  {% if compare_at_price > price %}
    {% if price_varies %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s class="product-price__price">{{ compare_at_price | money }}</s>
      <span class="product-price__price product-price__sale">
        {{ money_price }}
      </span>
      <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s class="product-price__price">{{ compare_at_price | money }}</s>
      <span class="product-price__price product-price__sale">
        {{ money_price }}
      </span>
      <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
    {% endif %}
  {% else %}

    {% if price_varies %}
      <span class="product-price__price">{{ money_price }}</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <span class="product-price__price">{{ money_price }}</span>
    {% endif %}
  {% endif %}
{% endif %}
