{% if settings.evergage_enabled and settings.evergage_account_code and settings.evergage_dataset_code %}
  <script type="text/javascript" src="//cdn.evgnet.com/beacon/{{ settings.evergage_account_code }}/{{ settings.evergage_dataset_code }}/scripts/evergage.min.js" defer="defer"></script> 
  {% case template %}
    {% when "product" %}
      {% if settings.evergage_display_product_page %}
      <style>
        .Evergage_ProductDefinition {
          display: none;
        }
      </style>
      <script type="text/javascript" src="{{ 'evergage-product.min.js' | asset_url }}" defer="defer"></script>
      {% endif %}
    {% when "cart" %}
      {% if settings.evergage_display_cart_page %}
      <script type="text/javascript" src="{{ 'evergage-cart.min.js' | asset_url }}" defer="defer"></script> 
      {% endif %}
    {% else %} 
  {% endcase %} 
{% endif %}
