{%- assign list = menu_navigation_for_list %}
<h1>{{ list.size }}</h1>
<div id="sub-navigation-apparel" class="sub-navigation-menu">
  {% if list.size != 0 %}
    <div id="apparel-content" class="menu-content">
      <div class="menu-navigation-content">
        {% assign __link_counter = 0 %}
        {% for link in list %}
        {% if __link_counter == 0 or __link_counter == 4 %}
        <div class="menu-navigation-content-container">
        {% endif %}
          <div id="apparel-{{link.handle}}" class="menu-navigation-section">
            <div class="menu-navigation-section-level-0">
              <ul class="menu-navigation-section-level-1">
              {% if link.links != blank %}
                <li class="list-title"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% for llink in link.links %}
                <li><a href="{{ llink.url }}">{{ llink.title }}</a></li>
                {% endfor%}
              {% else %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
              </ul>
            </div>
          </div>
        {% if __link_counter == 3 or __link_counter == 5 %}
        </div>
        {% endif %}
        {% assign __link_counter = __link_counter | plus: '1' %}
        {% endfor %}
      </div>
    </div>

    <div id="apparel-featured-item-section" class="menu-navigation-promo-section">
      {% for block in section.blocks %}
        {% if block.type == 'nav_apparel_image_tout' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
          {% assign apparel_menu_image = block.settings.apparel_menu_image | img_url: '512x512' %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if apparel_menu_image != blank %}
      <div class="featured-products">
        <div class="featured-product-items grid">
          <img class="lazyload js"
               data-src="{{apparel_menu_image}}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-sizes="auto"
               alt="Shop Apparels"
               id="apparel_menu_image_tout" >
        </div>
      </div>
      {% endif %}
    </div>

  {% endif %}
</div>
