<ul class="list--inline pagination">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </a>
    {% endunless %}
  </li>
  <li class="pagination__text">{{paginate.current_page}}
  </li>
  <li class="pagination__text">/</li>
  <li class="pagination__text">{{paginate.pages}}</li>
  <li>
    {% unless paginate.next.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </a>
    {% endunless %}
  </li>
</ul>
