<!-- snippet/product-pricing-->
{% if current_variant.compare_at_price > current_variant.price %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

    <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

    <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        {{ current_variant.price | money }}
      </span>
    </span>

    <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
{% elsif product.variants.size > 1 %}
  {% if product.variants.first.compare_at_price > product.variants.first.price or product.variants.last.compare_at_price > product.variants.last.price %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

    {% if product.variants.first.compare_at_price != product.variants.last.compare_at_price %}
    <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }} - {{ product.variants.last.compare_at_price | money }}</s>
    {% else %}
    <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }}</s>
    {% endif %}

    <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{% if product.variants.first.price == product.variants.last.price %}{{ product.variants.first.price | divided_by: 100.00 }}{% else %}{{ product.variants.first.price | divided_by: 100.00 }} - {{ product.variants.last.price | divided_by: 100.00 }}{% endif %}">
        {% if product.variants.first.price == product.variants.last.price %}{{ product.variants.first.price | money }}{% else %}{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}{% endif %}
      </span>
    </span>
    {%- assign first_compare_at_price = product.variants.first.compare_at_price -%}
    {%- assign last_compare_at_price = product.variants.last.compare_at_price -%}
    {%- assign price_first = product.variants.first.price -%}
    {%- assign price_last = product.variants.last.price -%}
    {% if first_compare_at_price > price_first %}
    <span class="savings">(Save {{ product.variants.first.compare_at_price | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
    {% elsif last_compare_at_price > price_last %}
    <span class="savings">(Save {{ product.variants.last.compare_at_price | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
    {% endif %}
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
    <span class="product-price__price product-price__price-{{ section.id }}">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        {{ current_variant.price | money }}
      </span>
    </span>
  {% endif %}

{% else %}
  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
  <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
  <span class="product-price__price product-price__price-{{ section.id }}">
    <span id="ProductPrice-{{ section.id }}"
      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      {{ current_variant.price | money }}
    </span>
  </span>
{% endif %}