<!--snippets/product-tags-custom.liquid-->
{%- assign custom_tag = settings.custom_sales_tag_tag | strip %}
{% for tag in product.tags %}
  {% case tag %}
    {% when custom_tag %}
		{% if settings.custom_tag_enabled %}
       <span class="product-tag-label product-tag__custom{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
	    {% endif %}
      {% break %}
  {% endcase %}
{% endfor %}