<!--- Page Background Section -->
<div class="Background-overlay" style="opacity: 1;position: fixed;overflow: hidden;width: 100%;height: 100%; background-color: rgba(0,0,0,0.5);">
  <div class="Background" style="opacity: 1;position: fixed;overflow: hidden;width: 100%;height: 100%;">
    <div class="desktop-background">
      <div class="Background-content" style="transform: translate3d(0.528944px, -3.13923px, 0px) scale(1.02, 1.02);">
          <div>
              <div class="background-container" style="z-index: 1; opacity: 1;">
                <img src="/media/images/background/clouds_loop_1stframe.jpg">
                <video src="/media/videos/background/lg_clouds_loop_launch_shortversion.mp4" autoplay="" playsinline="" loop="" style="opacity: 1;"></video>
              </div>
          </div>
          <div class="Background-overlay"></div>
      </div>
    </div>
    <div class="mobile-background"></div>
    <div class="Background-product" style="visibility: hidden; opacity: 0;">
        <div class="Background-product-overlay" style="background-color: rgba(0, 0, 0, 0);"></div>
    </div>
  </div> 
</div>
  <!-- End Page Background Section --> 
