<ul class="list--inline pagination" data-collection-handle="{{collection.handle}}">
  <li>
    {% unless paginate.previous.is_link %}
    {% else %}
      <a href="{{ paginate.previous.url }}" class="arrow-left"><img src="{{ 'arrow-left.png' | asset_url }}"></a>
    {% endunless %}
  </li>
  {% if collection.handle == 'best-sellers-all' %}
  {% assign page_limit = 2 %}
  {% else %}
  {% assign page_limit = paginate.pages %}  
  {% endif %}
  {% for i in (1..page_limit)%}
  
  {% if page_limit > 7 %}
    {% assign _diff = paginate.pages | minus:i %}
    {% assign _curr_diff = paginate.current_page | minus:i | abs %}
    {% if i < 4 or _diff < 3 or _curr_diff < 2 %}
    <li class="pagination__text {% if i == paginate.current_page%}pagination_active{% endif %}">
      <a href="?page={{i}}">{{i}}</a>
    </li>
    {% elsif _diff == 5 or _curr_diff == 2 %}
    <li class="pagination__text {% if i == paginate.current_page%}pagination_active{% endif %}">
      <a href="">...</a>
    </li>
    {% endif %}
  {% else %}
  <li class="pagination__text {% if i == paginate.current_page%}pagination_active{% endif %}">
    <a href="?page={{i}}">{{i}}</a>
  </li>
  {% endif %}
  {% endfor %}
  <li>
    {% unless paginate.next.is_link %}
    {% else %}      
      <a href="{{ paginate.next.url }}" class="arrow-left"><img src="{{ 'arrow-right.png' | asset_url }}"></a>
    {% endunless %}
  </li>
</ul>
