<form action="/search" method="get" class="search-header search" role="search">
  <input class="search-header__input search__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.placeholder' | t }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
  <button class="search-header__submit search__submit btn--link" type="submit">
    <img src="{{ 'icon-search.png' | asset_url }}" class="search-header-icon">
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>
