<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="page-width-no-padding collection-template-multiitems-page">
    {% include 'breadcrumbs' %}
    <div class="collection-content-wrapper">
      <div class="list-view-collection-multi top-image">
        {% for block in section.blocks %}
        {% if block.type == 'header_image_block' %}
          {% if block.settings.display == 'all_collections' %}
            <div class="header-image-container">
              <div class="header-image header-image-section-{{block.id}}">
                {% if block.settings.collection_header_image_text != '' %}
                <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                {% endif %}
              </div>
              <style type="text/css">
                {% if block.settings.image %}
                {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                .header-image-section-{{block.id}} {
                  background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                  background-size: 100%;
                  background-repeat: no-repeat;
                  height: {{ block.settings.collection_header_image_size | times: 2 }}px;
                  text-align: right;
                  margin-bottom: 20px;
                }
                {% if block.settings.image_mobile %}
                @media only screen and (max-width: 768px) {
                  .header-image-section-{{block.id}} {
                      background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                  }
                 }
                {% endif %}
                {% endif %}
                {% if block.settings.collection_header_image_text != '' %}
                .header-image-section-{{block.id}} .image-text {
                  font-size: {{block.settings.collection_header_image_text_size}}px;
                  color: {{block.settings.header_image_text_color}};
                  position: relative;
                  top: 75%;
                  right: 25px;
                }
                {% endif %}
              </style>
            </div>
            {% elsif block.settings.display == 'link_list' %}
              {% if block.settings.link_list %}
                {% assign link_list = linklists[block.settings.link_list] %}
                {% assign collection_matched = false %}
                {% for link in link_list.links %}
                  {% if link.url == collection.url %}
                    {% assign collection_matched = true %}
                    {% break %}
                  {% elsif link.links %}
                    {% for child_link in link.links %}
                      {% if child_link.url == collection.url %}
                        {% assign collection_matched = true %}
                        {% break %}
                      {% elsif child_link.links %}
                        {% for child_link_1 in child_link.links %}
                          {% if child_link_1.url == collection.url %}
                            {% assign collection_matched = true %}
                            {% break %}
                          {% elsif child_link_1.links %}
                            {% for child_link_2 in child_link_1.links %}
                              {% if child_link_2.url == collection.url %}
                                {% assign collection_matched = true %}
                              {% endif %}
                              {% if collection_matched %}
                                {% break %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                          {% if collection_matched %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                        {% if collection_matched %}
                          {% break %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% if collection_matched %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% if collection_matched %}
                <div class="header-image-container">
                  <div class="header-image header-image-section-{{block.id}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
                    {% if block.settings.collection_header_image_text != '' %}
                    <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                    {% endif %}
                  </div>
                  <style type="text/css">
                    {% if block.settings.image %}
                    {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                    .header-image-section-{{block.id}} {
                      background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                      background-size: 100%;
                      background-repeat: no-repeat;
                      height: {{ block.settings.collection_header_image_size | times: 2 }}px;
                      text-align: right;
                      margin-bottom: 20px;
                    }
                    {% if block.settings.image_mobile %}
                    @media only screen and (max-width: 768px) {
                      .header-image-section-{{block.id}} {
                          background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                      }
                     }
                    {% endif %}
                    {% endif %}
                    {% if block.settings.collection_header_image_text != '' %}
                    .header-image-section-{{block.id}} .image-text {
                      font-size: {{block.settings.collection_header_image_text_size}}px;
                      color: {{block.settings.header_image_text_color}};
                      position: relative;
                      top: 75%;
                      right: 25px;
                    }
                    {% endif %}
                  </style>
                </div>
                {% endif %}
              {% endif %}
            {% elsif block.settings.display == 'collection' %}
              {% if block.settings.collection and block.settings.collection == collection.handle %}
              <div class="header-image-container">
                <div class="header-image header-image-section-{{block.id}}">
                  {% if block.settings.collection_header_image_text != '' %}
                  <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                  {% endif %}
                </div>
                <style type="text/css">
                  {% if block.settings.image %}
                  {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                  .header-image-section-{{block.id}} {
                    background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                    background-size: 100%;
                    background-repeat: no-repeat;
                    height: {{ block.settings.collection_header_image_size | times: 2 }}px;
                    text-align: right;
                    margin-bottom: 20px;
                  }
                  {% if block.settings.image_mobile %}
                  @media only screen and (max-width: 768px) {
                    .header-image-section-{{block.id}} {
                        background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                    }
                   }
                  {% endif %}
                  {% endif %}
                  {% if block.settings.collection_header_image_text != '' %}
                  .header-image-section-{{block.id}} .image-text {
                    font-size: {{block.settings.collection_header_image_text_size}}px;
                    color: {{block.settings.header_image_text_color}};
                    position: relative;
                    top: 75%;
                    right: 25px;
                  }
                  {% endif %}
                </style>
              </div>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="list-view-collection-title border-bottom">
        <h1  >{{ collection.title }}</h1>
      </div>

      <div class="one-whole inline" id="Collection">

        <div class="list-view-items">
          {% for product in collection.products %}
            <div class="list-view-item" data-product-id="{{product.id}}" data-product-sku="{{product.metafields.sku.parent}}">
              {% include 'product-card-multi-list', product: product %}
            </div>
          {% else %}

            {% comment %}
            Add default products to help with onboarding for collections/all only.

            The onboarding styles and products are only loaded if the
            store has no products.
            {% endcomment %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
              {% for i in (1..4) %}
                <a href="#" class="list-view-item">
                  <div class="list-view-item__image-column">
                    <div class="list-view-item__image-wrapper">
                      <div class="list-view-item__image">
                        {%- assign placeholder = 'placeholder-product-' | append: i -%}
                        {% include placeholder %}
                      </div>
                    </div>
                  </div>

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  </div>

                  <div class="list-view-item__price-column">
                    <span class="product-price__price">$19.99</span>
                  </div>
                </a>
              {% endfor %}
            {% else %}
              {%- assign is_empty_collection = true -%}
            {% endif %}
          {% endfor %}

          <div class="collection-items-addtocart-section">
            <button class="btn button" id="collection-items-add-to-cart">Add to Cart</button>
          </div>

        </div>

        {% if is_empty_collection %}
          <div class="grid__item small--text-center empty">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="scroll-to-bottom-section-text">{{ section.settings.add_to_cart_message }}</div>


{% schema %}
  {
    "name": "Collection Multi page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      },
      {
        "type": "text",
        "id": "add_to_cart_message",
        "label": "Add to cart message"
      }
    ],
    "blocks": [
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "range",
            "id": "collection_header_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Image size",
            "default": 50
         },
          {
            "type": "text",
            "id": "collection_header_image_text",
            "label": "Header Image Text"
          },
          {
            "type":"color",
            "id":"header_image_text_color",
            "label":"Text color",
            "default":"#3d4246"
          },
          {
            "type": "range",
            "id": "collection_header_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text font size",
            "default": 14
          },

          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
