<div class="got-landing-page-image">
  <div class="got-landing-image hero ratio-container hero--large js small--hide"
    data-bgset="{% include 'bgset', image: section.settings.top_image %}" 
    data-sizes="auto" 
    data-parent-fit="contain" 
    style="background-position: center; background-image: url('{{ section.settings.top_image | img_url: '2048x' }}');"></div> 
  <div class="got-landing-image hero ratio-container hero--large js medium-up--hide"
    data-bgset="{% include 'bgset', image: section.settings.top_image_mobile %}" 
    data-sizes="auto" 
    data-parent-fit="contain" 
    style="background-position: center; background-image: url('{{ section.settings.top_image_mobile | img_url: '2048x' }}');"></div> 
</div>

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="page-width-no-padding">
    <div class="collection-content-wrapper got-landing-page-wrapper">
      <div class="one-quarter inline">
        <aside>
        {% include 'collection-links' with 'no-limit', collection: collections['game-of-thrones'] %}
        </aside>
      </div>

      <div class="three-quarters inline" id="Collection">       
        {% for _block in section.blocks %}
          {% case _block.type %}
            {% when 'full_width_image' %}
            <div class="full-width-image size--{{ _block.settings.image_height}}">
              <a href="{{ _block.settings.url }}">
                <div class="hero ratio-container hero--{{ _block.settings.image_height }} js small--hide"
                  data-bgset="{% include 'bgset', image: _block.settings.full_width_image %}" 
                  data-sizes="auto" 
                  data-parent-fit="contain" 
                  style="background-position: center; background-image: url('{{ _block.settings.full_width_image | img_url: '2048x' }}');"></div> 
                <div class="hero ratio-container hero--{{ _block.settings.image_height }} js medium-up--hide"
                  data-bgset="{% include 'bgset', image: _block.settings.full_width_image %}" 
                  data-sizes="auto" 
                  data-parent-fit="contain" 
                  style="background-position: center; background-image: url('{{ _block.settings.full_width_image_mobile | img_url: '2048x' }}');"></div>
              </a>
            </div>
            {% when 'half_width_images' %}
            <div class="half-width-image">
              <div class="left--image-container">
                <a href="{{ _block.settings.left_url }}">
                  <div class="hero ratio-container js"
                    data-bgset="{% include 'bgset', image: _block.settings.half_image_left %}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style="background-position: center; background-image: url('{{ _block.settings.half_image_left | img_url: '2048x' }}');"></div>
                </a>
              </div>
              <div class="right--image-container">
                <a href="{{ _block.settings.right_url }}">
                  <div class="hero ratio-container js"
                    data-bgset="{% include 'bgset', image: _block.settings.half_image_right %}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style="background-position: center; background-image: url('{{ _block.settings.half_image_right | img_url: '2048x' }}');"></div>
                </a>
              </div>
            </div>
            {% when 'third_width_images' %}
            <div class="third-width-image">
              <div class="third--image-container">
                <a href="{{ _block.settings.first_url }}">
                  <div class="hero ratio-container js"
                    data-bgset="{% include 'bgset', image: _block.settings.first_image %}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style="background-position: center; background-image: url('{{ _block.settings.first_image | img_url: '2048x' }}');"></div>
                    <div class="image__title"><h3>{{ _block.settings.first_img_text }}</h3></div> 
                </a>
              </div>
              <div class="third--image-container">
                <a href="{{ _block.settings.second_url }}">
                  <div class="hero ratio-container js"
                    data-bgset="{% include 'bgset', image: _block.settings.second_image %}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style="background-position: center; background-image: url('{{ _block.settings.second_image | img_url: '2048x' }}');"></div> 
                    <div class="image__title"><h3>{{ _block.settings.second_img_text }}</h3></div> 
                </a>
              </div>
              <div class="third--image-container">
                <a href="{{ _block.settings.third_url }}">
                  <div class="hero ratio-container js"
                    data-bgset="{% include 'bgset', image: _block.settings.third_image %}"
                    data-sizes="auto"
                    data-parent-fit="contain"
                    style="background-position: center; background-image: url('{{ _block.settings.third_image | img_url: '2048x' }}');"></div> 
                    <div class="image__title"><h3>{{ _block.settings.third_img_text }}</h3></div> 
                </a>
              </div> 
            </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

</div> 

<div class="got-landing-collection-carousel">
  <div class="carousel-title">{{ section.settings.collection_title }}</div>
  <div class="grid grid--uniform grid--view-items">
    {%- assign _got_collection = collections[section.settings.collection] %}
    {% for product in _got_collection.products limit: 8 %}
      <div class="grid__item grid__item--{{section.id}}">
        {% include 'product-card-grid', max_height: 345 %}
      </div>
    {% endfor %}
</div>

<script type="text/javascript">
  var got_waitForJQuery = setInterval(function(){
    if( jQuery == undefined && jQuery.ui == undefined){
      return;
    }
    clearInterval(got_waitForJQuery);

    if($('.got-landing-collection-carousel .grid').length > 0) {
      if($(window).width() > 768){
          $('.got-landing-collection-carousel .grid').slick({
            mobileFirst: true,
            dots: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            variableWidth: false,
            arrows: true
          });
        } else if (($(window).width() <= 768) && ($(window).width() >= 415)){
          $('.got-landing-collection-carousel .grid').slick({
            mobileFirst: true,
            dots: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            variableWidth: false,
            arrows: false 
          });

        } else if ($(window).width() <= 414) {
          $('.got-landing-collection-carousel .grid').slick({
            mobileFirst: true,
            dots: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            variableWidth: false,
            arrows: false 
            }); 
        } else{

        }

      // $('.got-landing-collection-carousel .grid').slicknew({
      // mobileFirst: true,
      // dots: true,
      // slidesToShow: 4,
      // slidesToScroll: 4,
      // infinite: true,
      // variableWidth: false,
      // arrows: false, 
      // responsive: [ 
      //   {
      //     breakpoint: 1025,
      //     settings: {
      //       slidesToShow: 3,
      //       slidesToScroll: 3
      //     }
      //   },
      //   {
      //     breakpoint: 768,
      //     settings: {
      //       slidesToShow: 3,
      //       slidesToScroll: 1
      //     }
      //   },
      //   {
      //     breakpoint: 414,
      //     settings: {
      //       slidesToShow: 2,
      //       slidesToScroll: 1
      //     }
      //   }
      // ]
      // });
    }

  }, 500);

  function updateTime() {
    var t_date = new Date($("#only_available_for_date").html().trim());
    var c_date = new Date();
    var time_diff = t_date - c_date;
    var diff_seconds = Math.floor((time_diff / 1000) % 60);
    if(diff_seconds < 10) {
      diff_seconds = "0"+diff_seconds;
    }
    var diff_minutes = Math.floor((time_diff / (1000 * 60)) % 60);
    if(diff_minutes < 10) {
      diff_minutes = "0"+diff_minutes;
    }
    var diff_hours = Math.floor((time_diff / (1000 * 60 * 60)) % 24);
    if(diff_hours < 10) {
      diff_hours = "0"+diff_hours;
    }
    var diff_days = Math.floor((time_diff / (1000 * 60 * 60 * 24)));
    if(diff_days < 10) {
      diff_days = "0"+diff_days;
    }
    $("#got-landing-timer-days").html(diff_days);
    $("#got-landing-timer-hours").html(diff_hours);
    $("#got-landing-timer-minutes").html(diff_minutes);
    $("#got-landing-timer-seconds").html(diff_seconds);
  }
</script> 

<style type="text/css"> 
  .template-collection .main-content { 
    padding-top: 0px; 
  } 

  .template-collection .collection-content-wrapper.got-landing-page-wrapper {
    padding-top: 0px; 
  } 

  .one-quarter {
    width: calc(25% - 35px); 
  }

  .one-quarter aside { 
    border-right: none; 
  }

  .three-quarters { 
    width: calc(75% + 35px);  
    border-left: 1px solid #ddd; 
  }

  #Filter-Navigation { 
    display: none; 
  } 

  .got-landing-page-wrapper {

  }

  .got-landing-page-wrapper #Collection {
    padding-left: 20px; 
  }

  .got-landing-page-wrapper #Collection .full-width-image {
    margin-bottom: 10px; 
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--large {
    
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--large .hero--large {
    height: auto; 
    background-size: contain; 
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--large .hero--large::after {
    padding-bottom: 46.145%;
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--large .hero--large::before {
    
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--medium {
    
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--medium .hero--medium {
    height: auto; 
    background-size: contain; 
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--medium .hero--medium::after {
    padding-bottom: 24.581%; 
  }

  .got-landing-page-wrapper #Collection .full-width-image.size--medium .hero--medium::before {
    
  } 

  .got-landing-page-wrapper #Collection .half-width-image {
    margin-bottom: 10px; 
  }

  .got-landing-page-wrapper #Collection .half-width-image > div {
    display: inline-block; 
    width: calc(50% - 5px); 
  }

  .got-landing-page-wrapper #Collection .half-width-image > div.right--image-container {
    float: right; 
  }

  .got-landing-page-wrapper #Collection .half-width-image .hero {
    height: auto; 
    background-size: contain; 
  } 

  .got-landing-page-wrapper #Collection .half-width-image .hero::after {
    padding-bottom: 84.246%; 
  } 

  .got-landing-page-wrapper #Collection .third-width-image {
    margin-bottom: 10px; 
    text-align: center; 
    display: flex; 
    flex-grow: 1; 
    width: calc(100% + 10px); 
    margin-left: -5px; 
  } 

  .got-landing-page-wrapper #Collection .third-width-image .third--image-container {
    display: inline-block; 
    width: calc(100% / 3);   
    margin: 5px;  
  } 

  .got-landing-page-wrapper #Collection .third-width-image .third--image-container .hero {
    height: auto; 
  } 

  .got-landing-page-wrapper #Collection .third-width-image .third--image-container .hero:after {
    padding-bottom: 100%; 
  } 

  .got-landing-page-wrapper #Collection .third-width-image .third--image-container .image__title { 
    padding: 10px 0px; 
  } 

  .got-landing-page-wrapper #Collection .third-width-image .third--image-container .image__title h3 { 
    font-family: 'StreetB-Regular', Arial, sans-serif; 
    font-size: 24px; 
  }

  .got-landing-page-wrapper {
    
  }

  .got-landing-page-image {
    display: block; 
    width: 100%; 
    height: 475px; 
    height: 8.52vw; 
  } 

  .got-landing-page-image + div { 
    padding-top: 40px; 
  }

  .got-landing-page-image .got-landing-image {
    display: block; 
    margin: auto; 
    width: 100%; 
    height: 475px; 
    height: 8.52vw; 
  } 

  .got-landing-page-image .got-landing-image::after {
    padding-bottom: 0%; 
  }

  .got-landing-page-timer { 
    position: absolute;
    height: 475px; 
    height: 8.52vw; 
    width: 100%;
    display: block;
    top: 0px; 
  } 

  .got-landing-page-timer .timer-wrapper { 
    display: block;
    height: 80px;
    margin: auto;
    position: absolute;
    bottom: 0px; 
    width: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container { 
    display: block; 
    height: 100%; 
    width: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer { 
    height: 100%; 
    text-align: center; 
    color: #fff; 
    font-family: 'Trajan';   
    background-color: #3d4246bf; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer:before {
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 2px;
    left: 0;
    background: linear-gradient( to right, transparent 12%, #fff 50%, #fff 50%, transparent 88%);
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days { 
    display: inline-block; 
    width: 160px; 
    height: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days:after { 
    display: block; 
    content: 'Days';
    text-transform: uppercase; 
    font-size: 18px; 
  } 

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours { 
    display: inline-block;  
    width: 160px; 
    height: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours:after { 
    display: block; 
    content: 'Hours';
    text-transform: uppercase; 
    font-size: 18px; 
  } 

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes { 
    display: inline-block; 
    width: 160px; 
    height: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes:after { 
    display: block; 
    content: 'Minutes';
    text-transform: uppercase; 
    font-size: 18px; 
  } 

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds { 
    display: inline-block; 
    width: 160px; 
    height: 100%; 
  }

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days #got-landing-timer-days, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours #got-landing-timer-hours,.got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes #got-landing-timer-minutes, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds #got-landing-timer-seconds { 
    width: 100%; 
    font-size: 32px; 
    padding-top: 5px; 
  } 

  .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds:after { 
    display: block; 
    content: 'Seconds';
    text-transform: uppercase; 
    font-size: 18px; 
  } 

  .got-landing-collection-carousel {
    margin-top: 50px; 
    padding-top: 35px; 
    padding-bottom: 60px; 
    background: #f1f1f1; 
  } 

  .got-landing-collection-carousel .carousel-title {
    color: #404040;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0px;
    font-family: 'StreetB-Bold', Arial, sans-serif;
    text-align: center; 
    padding-bottom: 25px; 
  } 

  .got-landing-collection-carousel .grid {
    overflow: visible; 
    max-width: 1200px; 
    margin: auto; 
    padding: 0 15px; 
  } 

  .got-landing-collection-carousel .grid .slick-prev {
    left: -10px;
    z-index: 1;
  } 

  .got-landing-collection-carousel .grid .slick-prev::before {
    color: transparent;
    background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_cbcbcb.png?7348073847935110952) no-repeat;
    background-size: contain;
    height: 38px;
    width: 20px;
    display: block;
    opacity: 1; 
  } 

  .got-landing-collection-carousel .grid .slick-prev:hover:before { 
    background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_404040.png?7348073847935110952);
  } 

  .got-landing-collection-carousel .grid .slick-next {
    right: -10px;
  } 

  .got-landing-collection-carousel .grid .slick-next::before {
    color: transparent;
    background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_cbcbcb.png?7348073847935110952) no-repeat;
    background-size: contain;
    height: 38px;
    width: 20px;
    display: block;
    opacity: 1; 
  } 

  .got-landing-collection-carousel .grid .slick-next:hover:before { 
    background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_404040.png?7348073847935110952);
  }

  .got-landing-collection-carousel .grid .slick-list {
    width: 98%; 
    margin: auto; 
  } 

  .got-landing-collection-carousel .grid .slick-list .slick-track {
    
  } 

  .got-landing-collection-carousel .grid .slick-list .slick-track .grid__item {
    padding: 0px; 
    margin-left: 5px; 
    margin-right: 5px; 
  } 

  .got-landing-collection-carousel .grid .slick-list .slick-track .grid__item .grid-view-item__quickview {
    display: none !important; 
  } 

  .got-landing-collection-carousel .grid .slick-dots {
    width: 100%; 
    margin: auto; 
    left: 0; 
  } 

  .got-landing-collection-carousel .grid .slick-dots li {
    width: 50px;
    height: 5px;
    margin: 0 5px;
  }

  .got-landing-collection-carousel .grid .slick-dots li.slick-active { 

  } 

  .got-landing-collection-carousel .grid .slick-dots li button {
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    transition: background-color 0.6s ease;
  } 

  .got-landing-collection-carousel .grid .slick-dots li button:before {
    width: 100%;
    height: 100%;
    background-color: transparent; 
  }

  .got-landing-collection-carousel .grid .slick-dots li.slick-active button { 
    background-color: #27afd9; 
  } 

  @media only screen and (max-width: 1275px) { 
    .got-landing-page-image { 
      /*height: 430px; */
    } 

    .got-landing-page-image .got-landing-image {
      /*height: 430px; */
    }

    .got-landing-page-timer { 
      /*height: 430px;*/
    } 
  } 

  @media only screen and (max-width: 1130px) { 
    .got-landing-page-image { 
      /*height: 380px;*/ 
    } 

    .got-landing-page-image .got-landing-image {
      /*height: 380px; */
    }

    .got-landing-page-timer { 
      /*height: 380px;*/
    } 
  } 
  
  @media only screen and (max-width: 1000px) { 
    .got-landing-page-image { 
      /*height: 330px; */
    } 

    .got-landing-page-image .got-landing-image {
      /*height: 330px; */
    }

    .got-landing-page-timer { 
      /*height: 330px;*/
    } 

    .got-landing-page-timer .timer-wrapper { 
      height: 72px; 
    }

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days #got-landing-timer-days, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours #got-landing-timer-hours,.got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes #got-landing-timer-minutes, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds #got-landing-timer-seconds {  
      font-size: 28px; 
    } 

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds:after { font-size: 16px; 
    } 
  } 

  @media only screen and (max-width: 870px) { 
    .got-landing-page-image { 
      /*height: 280px; */
    } 

    .got-landing-page-image .got-landing-image {
      /*height: 280px; */
    }

    .got-landing-page-timer { 
      /*height: 280px;*/
    } 
  }

  @media only screen and (max-width: 767px) { 
    .main-content { 
      padding-top: 0px; 
    } 

    .got-landing-page-wrapper {

    } 

    .got-landing-page-wrapper .one-quarter {
      display: none; 
    } 

    .got-landing-page-wrapper .three-quarters { 
      padding-left: 0px !important; 
      border-left: none; 
      width: 100%; 
    } 

    .got-landing-page-wrapper #Collection .full-width-image {
      margin-bottom: 15px; 
    } 

    .got-landing-page-wrapper #Collection .half-width-image {
      margin-bottom: 15px; 
    } 

    .got-landing-page-wrapper #Collection .third-width-image {
      /*margin-bottom: 5px;
      width: 100%;
      margin-left: 0;
      display: block; */
    } 

    .got-landing-page-wrapper #Collection .third-width-image .third--image-container .image__title h3 { 
      font-size: 18px; 
    }

    .got-landing-page-image {
      height: 33.557vw;  
    } 

    .got-landing-page-image .got-landing-image { 
      height: 33.557vw; 
    }

    .got-landing-page-timer { 
      height: 33.557vw; 
      top: 0px; 
    } 

    .got-landing-page-wrapper #Collection .full-width-image.size--large .hero--large::after {
      padding-bottom: 92.394%; 
    } 

    .got-landing-page-wrapper #Collection .half-width-image > div { 
      display: block; 
      width: 100%; 
      margin-bottom: 10px; 
    } 

    .got-landing-page-wrapper #Collection .full-width-image.size--medium .hero--medium::after { 
      padding-bottom: 49.217%; 
    } 

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days {
      max-width: 25%; 
      width: 100px; 
    } 

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours {
      max-width: 25%; 
      width: 100px; 
    }

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes {
      max-width: 25%; 
      width: 100px; 
    }

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds {
      max-width: 25%; 
      width: 100px; 
    }  

    .got-landing-page-timer .timer-wrapper { 
      height: 76px; 
    }

    .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-days, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-hours, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-minutes, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-seconds {
      font-size: 26px !important; 
      line-height: 55px; 
    } 

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds:after {
      font-size: 14px;  
      line-height: 0px; 
    } 

    .got-landing-collection-carousel .grid .slick-dots li {
      width: 20px;
      height: 5px;
      margin: 0 5px;
    } 

  } 

  @media only screen and (max-width: 475px) { 
    
    .got-landing-page-wrapper #Collection .third-width-image .third--image-container .image__title h3 { 
      font-size: 14px; 
    }
  }

  @media only screen and (max-width: 414px) {
    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds {
      width: 75px;   
    }

    .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-days, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-hours, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-minutes, .got-landing-page-timer .timer-wrapper .timer-container .timer #got-landing-timer-seconds {
      font-size: 20px !important; 
    } 

    .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-days:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-hours:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-minutes:after, .got-landing-page-timer .timer-wrapper .timer-container .timer .got-landing-timer-seconds:after {
      font-size: 10px;  
    }
  }

</style> 

{% schema %}
  {
    "name": "Game of Thrones page",
    "settings": [
      {
        "type": "image_picker",
        "id": "top_image",
        "label": "Top page image"
      }, 
      {
        "type": "image_picker",
        "id": "top_image_mobile",
        "label": "Top page mobile image"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection for Carousel"
      }, 
      {
        "type": "text", 
        "id": "collection_title", 
        "label": "Carousel Title"
      }
    ],
    "blocks": [
      {
        "type": "full_width_image",
        "name": "Full Width Image Segment",
        "settings": [
          {
            "type": "image_picker",
            "id": "full_width_image",
            "label": "Full Width Image"
          }, 
          {
            "type": "image_picker",
            "id": "full_width_image_mobile",
            "label": "Full Width Image Mobile"
          },
          {
            "type": "select", 
            "id": "image_height", 
            "label": "Image Size", 
            "default": "large", 
            "options": [
              {
                "value": "medium", 
                "label": "Medium"                 
              }, 
              {
                "value": "large", 
                "label": "Large"
              }
            ]
          },
          {
            "type": "url",
            "id": "url", 
            "label": "Link Url"
          }
        ]
      }, 
      {
        "type": "half_width_images", 
        "name": "Double Image Segment", 
        "settings": [
          {
            "type": "image_picker", 
            "id": "half_image_left", 
            "label": "Left Image"
          }, 
          {
            "type": "url", 
            "id": "left_url", 
            "label": "Left Image Link Url"
          }, 
          {
            "type": "image_picker", 
            "id": "half_image_right", 
            "label": "right Image"
          }, 
          {
            "type": "url", 
            "id": "right_url", 
            "label": "Right Image Link Url"
          }
        ]
      }, 
      {
        "type": "third_width_images", 
        "name": "Three Image Segment", 
        "settings": [
          {
            "type": "image_picker", 
            "id": "first_image", 
            "label": "Image 1"
          }, 
          {
            "type": "url", 
            "id": "first_url", 
            "label": "Image 1 Link Url"
          }, 
          {
            "type": "text", 
            "id": "first_img_text", 
            "label": "First Image Text"
          }, 
          {
            "type": "image_picker", 
            "id": "second_image", 
            "label": "Image 2"
          }, 
          {
            "type": "url", 
            "id": "second_url", 
            "label": "Image 2 Link Url"
          }, 
          {
            "type": "text", 
            "id": "second_img_text", 
            "label": "Second Image Text"
          }, 
          {
            "type": "image_picker", 
            "id": "third_image", 
            "label": "Image 3"
          }, 
          {
            "type": "url", 
            "id": "third_url", 
            "label": "Image 3 Link Url"
          }, 
          {
            "type": "text", 
            "id": "third_img_text", 
            "label": "Third Image Text" 
          } 
        ]
      } 
    ]
  }
{% endschema %}
