<!-- sections/banner-grid.liquid --> 
<div data-section-id="{{ section.id }}" data-section-type="skinny-banner-section" id="skinny-banner-section"> 
	<div>
		{% if section.settings.link != blank %}<a href="{{ section.settings.link }}">{% endif %}
		<img src="{{section.settings.image_desktop | img_url: '2048x'}}" style="width: 100vw;" {% if section.settings.image_mobile != blank %}class="desktop_tout s-hide"{% endif %}>
		{% if section.settings.image_mobile != blank %} 
		<img src="{{section.settings.image_mobile | img_url: '2048x'}}" class="mobile_tout l-hide" style="width: 100vw;">
		{% endif %} 
		{% if section.settings.link != blank %}</a>{% endif %}
	</div> 
</div>

{% schema %}
  {
    "name": "Skinny Banner",
    "class": "index-section index-section--skinny-banner",
    "settings": [ 
		{
			"type": "image_picker",
			"id": "image_desktop",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Mobile Image"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Link"
		} 
    ],
    "presets": [{
      "name": "Skinny Banner",
      "category": "Promotional"
  }]
  }
{% endschema %}
