{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div class="container">
        <div class="page-wrap">
            <div class="row">
                <div id="center_column" class="center_column col-md-12">
                    <div id="content">
                        <div id="blog-listing" class="blogs-container">
                            {% if current_tags %}
                                <h1 class="blogTitle">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
                            {% else %}
                                <h1 class="blogTitle">{{ blog.title }}</h1>
                            {% endif %}
                            <div class="inner">
                              	{% paginate blog.articles by 5 %}
                                {% for article in blog.articles %}
                                    <div class="blog-item">
                                        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                        {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
                                        {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
                                        <div class="blog-meta clearfix">
                                            <div class="postby">
                                                {{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}
                                            </div>
                                            {% if blog.comments_enabled? %}
                                                <div class="comment-meta">
                                                    <a href="{{ article.url }}#Comments">
                                                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="blog-tags">
                                                {% include 'tags-article' %}
                                            </div>
                                        </div>
                                        <div class="rte">
                                            {% if article.image %}
                                                {% assign imageSize = 'master' %}
                                                <div class="image">
                                                    <img class="img-responsive" src="{{ article.image | img_url: imageSize }}" alt="{{ article.title }}" />
                                                </div>
                                            {% endif %}
                                            {% if article.excerpt.size > 0 %}
                                                {{ article.excerpt }}
                                            {% else %}
                                                <p>{{ article.content | strip_html | truncatewords: 60 }}</p>
                                            {% endif %}
                                        </div>
                                        <p><a class="btn btn-readmore" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
                                        {% comment %}{% unless forloop.last %}<hr>{% endunless %}{% endcomment %}
                                    </div>
                                {% endfor %}
                              	{% endpaginate %}
                                {% if paginate.pages > 1 %}
                                    <div class="content_sortPagiBar">
                                        {% include 'pagination-custom' %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>