<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
            <div id="center_column" class="center_column col-md-12">
<!--               <div id="qab_placeholder" style="padding-bottom: 10px;"></div> -->
                <div id="cart-page">
                    {% if cart.item_count > 0 %}
                        <form action="/cart" method="post" novalidate class="cart">
                            <h1 class="cartTitle">{{ 'cart.general.title' | t }}</h1>
                          	<div class="page-content">
                                <div class="cart_header_labels clearfix hidden-xs">
                                    <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                        <div class="cart_product first_item">
                                            {{ 'cart.label.product' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-3 col-md-4">
                                        <div class="cart_description item">
                                            {{ 'cart.label.description' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                        <div class="cart_price item">
                                            {{ 'cart.label.price' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-3 col-md-2">
                                        <div class="cart_quantity item">
                                            {{ 'cart.label.quantity' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                        <div class="cart_total item">
                                            {{ 'cart.label.total' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                        <div class="cart_delete last_item">
                                            {{ 'cart.label.remove' | t }}
                                        </div>
                                    </div>
                                </div>
                                {% for item in cart.items %}
                                    <div class="list_product_cart clearfix" data-id="{{ item.id }}">
                                        {% assign image_size = settings.product_cart_imagesize %}
                                        <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                            <div class="cpro_item_inner">
                                                <a href="{{ item.url | within: collections.all }}" class="cartImage">
                                                  	{{ item.variants.size }}
                                                  	{% if item.variants.size > 0 %}
                                                  		<img class="img-responsive" src="{{ item.variant.image.src }}" alt="{{ item.variant.image.alt | escape }}">
                                                  	{% else %}
                                                    	<img class="img-responsive" src="{{ item | img_url: 'image_size' }}" alt="{{ item.title | escape }}">
                                                  	{% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-3 col-md-4">
                                            <div class="cpro_item_inner">
                                                <a href="{{ item.url }}" class="product_name">
                                                    {{ item.product.title }}
                                                </a>
                                                {% unless item.variant.title contains 'Default' %}
                                                    <small>{{ item.variant.title }}</small>
                                                {% endunless %}
                                                {% if item.properties.size > 0 %}
                                                    {% for p in item.properties %}
                                                        {% unless p.last == blank %}
                                                            {{ p.first }}:
                                                            {% if p.last contains '/uploads/' %}
                                                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                            {% else %}
                                                                {{ p.last }}
                                                            {% endif %}
                                                            <br>
                                                        {% endunless %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                            <div class="cpro_item_inner">
                                                <span class="price product-price">{{ item.price | money }}</span>
                                            </div>
                                        </div>
                                        <div class="cpro_item text-center col-xs-12 col-sm-3 col-md-2">
                                            <div class="cpro_item_inner">
                                                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                            <div class="cpro_item_inner">
                                                <span class="price product-price">{{ item.line_price | money }}</span>
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                            <div class="cpro_item_inner" style="text-align:right;">
                                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove" data-id="{{ item.id }}">
                                                  <small><span id="remove_item">Remove Item</span> X</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="list_button_cart clearfix">
                                    <div class="note_item col-xs-12 col-sm-6 col-md-6">
                                        {% if settings.cart_notes_enable %}
                                            <div class="note_cart">
                                                <label class="control-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                                <textarea name="note" class="form-control" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                                        <p>
                                            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
                                            <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
                                        </p>
                                        <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
                                        <div id="location">
                                          <p style="text-align: right; margin: 10px 0;">
                                            <input style="margin: 0; display: inline-block; width: 10%; max-width: 15px; vertical-align: top;" type="checkbox" id="agree" />
                                            <label id="agreelabel" style="    display: inline-block; font-weight: 400; font-size: 13px; line-height: 1.5; width: 76%;" for="agree">
                                              <span style="color: red;">*</span> If I ship my order outside of the USA, I accept that I am responsible for any and all import fees, duties and/or local taxes.
                                            </label>
                                          </p>
                                        </div>
                                        <a class="btn con-ajax-cart btn-outline" style="display:none;" href="/collections/all" title="{{ 'cart.general.continue_shopping' | t }}">{{ 'cart.general.continue_shopping' | t }}</a>
                                        <input type="submit" name="update" class="btn btn-outline update-cart" value="{{ 'cart.general.update' | t }}">
                                        <input type="submit" name="checkout" class="btn btn-outline" value="{{ 'cart.general.checkout' | t }}">
                                        {% if additional_checkout_buttons %}
                                            <p style="margin-top: 10px;">{{ content_for_additional_checkout_buttons }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                          	</div>
                        </form>
<!--                         <p class="cart_navigation clearfix">
                            <a class="btn btn-outline" href="/collections/all" title="{{ 'cart.general.continue_shopping' | t }}">{{ 'cart.general.continue_shopping' | t }}</a>
                        </p> -->
                    {% else %}
                        <h2>{{ 'cart.general.title' | t }}</h2>
                        <p class="alert alert-warning cart-empty">{{ 'cart.general.empty' | t }}</p>
                        <p class="cart-empty-continue">{{ 'cart.general.continue_browsing_html' | t }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>