{% assign column_center = 'col-xs-12 col-sm-12 col-md-12' %}
{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
          	{% if settings.collection_product_per_page != blank %}
          		{% assign product_per_page = settings.collection_product_per_page %}
            {% else %}
            	{% assign product_per_page = 12 %}
            {% endif %}
            {% assign columns_product_collections = settings.collection_product_per_row | plus: 0 %}
            {% if settings.apollo_count_down_enable and settings.apollo_count_down_collections %}
            	{% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
            {% else %}
            	{% assign dealTime = false %}
            {% endif %}
            {% assign colProduct = 12 | divided_by:columns_product_collections %}
          	{% if columns_product_collections == 5 %}
                {% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-12{% endcapture %}
            {% else %}
          		{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
          	{% endif %}
            <div id="center_column" class="center_column col-xs-12">
                {% paginate collection.products by product_per_page %}      
                    <div class="view">
                        <!-- Grid -->
                            <section class="grid_collection grid--loading">
                              <!-- Loader -->
                               <img class="grid__loader" src="{{ 'grid.svg' | asset_url }}" width="60" alt="{{collections.general.loading}}" />
                              <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
                              <div class="grid__sizer"></div>
                              <div class="row">
                                {% for product in collection.products %}
                                  {%- comment %}<locksmith:fd93>{% endcomment -%}
                                    {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                  {%- comment %}</locksmith:fd93>{% endcomment -%}
                                  {% include 'special-grid-item_1' %}
                                {% else %}
                                    <div class="warring col-xs-12">
                                        <p>{{ 'collections.general.no_matches' | t }}</p>
                                    </div>
                                {% endfor %}
                              </div>
                            </section>
                        </div>
                    {% if paginate.pages > 1 %}
                      <hr>
                      <div class="pagination">
                        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                      </div>
                    {% endif %}
                {% endpaginate %}
            </div>
        </div>
    </div>
</section>
