{% layout none %}
{% assign products = collection.products %}
{% for p in products %}
	{%- comment %}<locksmith:d72a>{% endcomment -%}
	  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: p %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
	{%- comment %}</locksmith:d72a>{% endcomment -%}
	{% assign featured_image = p.selected_or_first_available_variant.featured_image | default: p.featured_image %}
	<div class="aps-ajax" data-handle="{{ p.handle }}" data-title="{{ p.title }}" data-price="{{ p.price | money }}"  data-img="{{ featured_image | img_url: 'small' }}"></div>  
{% endfor %}