{% comment %} Added by SolverCircle for Product Badge App {% endcomment %}

{% layout none %}
{% paginate collection.products by 10 %}
{% assign resultTotal = collection.products_count %}

{% capture output %}
{
    "TotalProduct" : "{{resultTotal}}",
    {% if customer %} 
        "CustomerID" : "{{customer.id}}",
    {% endif %}
    "Items":
        [
            {%- comment %}<locksmith:4472>{% endcomment -%}
              {%- assign locksmith_ab84_forloop__size = 0 %}{% for product in collection.products %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_ab84_forloop__size = locksmith_ab84_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ab84_forloop__index = nil -%}
            {%- comment %}</locksmith:4472>{% endcomment -%}
            {% for product in collection.products %}					
                  {%- comment %}<locksmith:0c32>{% endcomment -%}
                    {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% if locksmith_ab84_forloop__index == nil %}{% assign locksmith_ab84_forloop__index = 1 %}{% assign locksmith_ab84_forloop__index0 = 0 %}{% else %}{% assign locksmith_ab84_forloop__index = locksmith_ab84_forloop__index | plus: 1 %}{% assign locksmith_ab84_forloop__index0 = locksmith_ab84_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ab84_forloop__index == 1 %}{% assign locksmith_ab84_forloop__first = true %}{% else %}{% assign locksmith_ab84_forloop__first = false %}{% endif %}{% if locksmith_ab84_forloop__index == locksmith_ab84_forloop__size %}{% assign locksmith_ab84_forloop__last = true %}{% else %}{% assign locksmith_ab84_forloop__last = false %}{% endif %}{% assign locksmith_ab84_forloop__rindex = locksmith_ab84_forloop__size | minus: locksmith_ab84_forloop__index | minus: 1 %}{% assign locksmith_ab84_forloop__rindex0 = locksmith_ab84_forloop__size | minus: locksmith_ab84_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:0c32>{% endcomment -%}					
                  {% assign thumbURL = product.images[0] | product_img_url: 'thumb' %}
                    {
                          "id":"{{product.id}}"
                          ,"title": {{product.title | json }}						  
                          ,"image" : { "src": {{thumbURL | json }} }
													,"handle"	: {{ product.handle | json }}
													,"variants": 
														[ {% for variant in product.variants %} {
															"id": {{ variant.id }},
															"title": {{ variant.title | json }},
															"price": {{ variant.price }} {% if variant.compare_at_price%},
															"compare_at_price": {{ variant.compare_at_price }} {% endif %} {% if variant.inventory_quantity%},
															"inventory_quantity": {{ variant.inventory_quantity }} {% endif %} {% if variant.inventory_management and variant.inventory_management != blank%},
															"inventory_management": "{{ variant.inventory_management }}" {% endif %} {% if variant.sku and variant.sku != blank%},
															"sku": "{{ variant.sku }}" {% endif %} }{% unless forloop.last %},{% endunless %}
															{% endfor %}
														]
													,"collections": [{%- comment %}<locksmith:250d>{% endcomment -%}{%- assign locksmith_1335_forloop__size = 0 %}{% for collection in product.collections %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% assign locksmith_1335_forloop__size = locksmith_1335_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_1335_forloop__index = nil -%}{%- comment %}</locksmith:250d>{% endcomment -%}{% for collection in product.collections %} {%- comment %}<locksmith:a007>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% if locksmith_1335_forloop__index == nil %}{% assign locksmith_1335_forloop__index = 1 %}{% assign locksmith_1335_forloop__index0 = 0 %}{% else %}{% assign locksmith_1335_forloop__index = locksmith_1335_forloop__index | plus: 1 %}{% assign locksmith_1335_forloop__index0 = locksmith_1335_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_1335_forloop__index == 1 %}{% assign locksmith_1335_forloop__first = true %}{% else %}{% assign locksmith_1335_forloop__first = false %}{% endif %}{% if locksmith_1335_forloop__index == locksmith_1335_forloop__size %}{% assign locksmith_1335_forloop__last = true %}{% else %}{% assign locksmith_1335_forloop__last = false %}{% endif %}{% assign locksmith_1335_forloop__rindex = locksmith_1335_forloop__size | minus: locksmith_1335_forloop__index | minus: 1 %}{% assign locksmith_1335_forloop__rindex0 = locksmith_1335_forloop__size | minus: locksmith_1335_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:a007>{% endcomment -%} {{ collection.id }}{% unless locksmith_1335_forloop__last %},{% endunless %} {% endfor %} ] 
                    }
                  {% unless locksmith_ab84_forloop__last %},{% endunless %}
            {% endfor %}
        ]
}
{% endcapture %}
{% endpaginate %}
{{ output | strip_newlines }}