{% assign column_center = 'col-xs-12 col-sm-12 col-md-12' %}
{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
          	<aside>
                <div id="left_column" class="left_column sidebar col-xs-12 col-sm-4 col-md-3">
                    {% include 'sidebar-toys-costumes' %}
                </div>
          	</aside>
          	{% if settings.collection_product_per_page != blank %}
          		{% assign product_per_page = settings.collection_product_per_page %}
            {% else %}
            	{% assign product_per_page = 12 %}
            {% endif %}
            {% assign columns_product_collections = settings.collection_product_per_row | plus: 0 %}
            {% if settings.apollo_count_down_enable and settings.apollo_count_down_collections %}
            	{% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
            {% else %}
            	{% assign dealTime = false %}
            {% endif %}
            {% assign colProduct = 12 | divided_by:columns_product_collections %}
          	{% if columns_product_collections == 5 %}
                {% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-12{% endcapture %}
            {% else %}
          		{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
          	{% endif %}
            <div id="center_column" class="center_column col-xs-12 col-sm-8 col-md-9">
                {% comment %}<div class="content_scene_cat">
                    <div class="content_scene_cat_bg">
                        {% if collection.image %}
                            <div class="image">
                                <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | img_url: '1024x1024' }}" />
                            </div>
                      	{% else %}
                      		{% if settings.collection_imgdefault_enable %}
                                <div class="image">
                                    {{ 'list_collection_default.png' | asset_url | img_tag: collection.title, "img-responsive" }}
                                </div>
                      		{% endif %}
                        {% endif %}
                      	{% if collection.description != blank %}
                        <div class="cat_desc">
                            <div class="rte">
                              	{% include 'shortcode' load: collection.description %}
                            </div>
                        </div>
                      	{% endif %}
                    </div>
                </div>
                <h1 class="page-heading product-listing cat-name">{{ collection.title }}</h1>
                {% endcomment %}
                
                <div class="category-heading clearfix">
                    <div class="sortPagiBar clearfix row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {% include 'collection-sorting' %}
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            {% include 'collection-views' %}
                        </div>
                    </div>
                </div>
                {% paginate collection.products by product_per_page %}
              		{% if settings.collection_product_userow %}
                        <div id="product_list" class="product_list grid">
                            {%- comment %}<locksmith:9c83>{% endcomment -%}
                              {%- assign locksmith_a1a3_forloop__size = 0 %}{% for product in collection.products %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_a1a3_forloop__size = locksmith_a1a3_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_a1a3_forloop__index = nil -%}
                            {%- comment %}</locksmith:9c83>{% endcomment -%}
                            {% for product in collection.products %}
                                {%- comment %}<locksmith:0f78>{% endcomment -%}
                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% if locksmith_a1a3_forloop__index == nil %}{% assign locksmith_a1a3_forloop__index = 1 %}{% assign locksmith_a1a3_forloop__index0 = 0 %}{% else %}{% assign locksmith_a1a3_forloop__index = locksmith_a1a3_forloop__index | plus: 1 %}{% assign locksmith_a1a3_forloop__index0 = locksmith_a1a3_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_a1a3_forloop__index == 1 %}{% assign locksmith_a1a3_forloop__first = true %}{% else %}{% assign locksmith_a1a3_forloop__first = false %}{% endif %}{% if locksmith_a1a3_forloop__index == locksmith_a1a3_forloop__size %}{% assign locksmith_a1a3_forloop__last = true %}{% else %}{% assign locksmith_a1a3_forloop__last = false %}{% endif %}{% assign locksmith_a1a3_forloop__rindex = locksmith_a1a3_forloop__size | minus: locksmith_a1a3_forloop__index | minus: 1 %}{% assign locksmith_a1a3_forloop__rindex0 = locksmith_a1a3_forloop__size | minus: locksmith_a1a3_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                                {%- comment %}</locksmith:0f78>{% endcomment -%}
                                {% assign modcol = locksmith_a1a3_forloop__index | modulo:columns_product_collections %}
                                {% if columns_product_collections == 1 %}
                                    <div class="product-items">
                                        <div class="row">
                                {% endif %}
                                {% if modcol == 1 %}
                                    <div class="product-items">
                                        <div class="row">
                                {% endif %}
                                    {% include 'product-grid-item' %}
                                {% if modcol == 0 or locksmith_a1a3_forloop__last %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="warring">
                                    <p>{{ 'collections.general.no_matches' | t }}</p>
                                </div>
                            {% endfor %}
                            {% assign dealTime = false %}
                        </div>
                    {% else %}
                        <div id="product_list" class="product-border product_list grid">
                          	<div class="row">
                            	{% for product in collection.products %}
                                    {%- comment %}<locksmith:3279>{% endcomment -%}
                                      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                    {%- comment %}</locksmith:3279>{% endcomment -%}
                                    {% include 'product-grid-item' %}
                                {% else %}
                                    <div class="warring col-xs-12">
                                        <p>{{ 'collections.general.no_matches' | t }}</p>
                                    </div>
                                {% endfor %}
                                {% assign dealTime = false %}
                          	</div>
                        </div>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div class="content_sortPagiBar">
                            {% include 'pagination-custom' %}
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
        </div>
    </div>
</section>
