{% if settings.collection_product_per_page != blank %}
    {% assign product_per_page = settings.collection_product_per_page %}
{% else %}
    {% assign product_per_page = 20 %}
{% endif %}
{% assign column_center = 'col-xs-12 col-sm-12 col-md-12' %}
{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
            <div id="center_column" class="center_column col-xs-12 col-sm-12 col-md-12">
                {% comment %}<h1 class="page-heading product-listing cat-name">{{ collection.title }}</h1>
                <div class="content_scene_cat">
                    <div class="content_scene_cat_bg">
                        {% if collection.image %}
                            <div class="image">
                                <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | img_url: '1024x1024' }}" />
                            </div>
                      	{% else %}
                      		{% if settings.collection_imgdefault_enable %}
                                <div class="image">
                                    {{ 'list_collection_default.png' | asset_url | img_tag: collection.title, "img-responsive" }}
                                </div>
                      		{% endif %}
                        {% endif %}
                        <div class="cat_desc">
                            {% if collection.description != blank %}
                                <div class="rte">
                                    {% include 'shortcode' load: collection.description %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endcomment %}
                <div class="category-heading clearfix">
                    <div class="sortPagiBar clearfix row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {% include 'collection-sorting' %}
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {% include 'collection-views' %}
                        </div>
                        
                    </div>
                </div>
                {% paginate collection.products by product_per_page %}
                    <div id="product_list" class="product_list list">
                      	<div class="row">
                            {% if settings.apollo_count_down_enable and settings.apollo_count_down_collections %}
                                {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
                            {% endif %}
                            {% for product in collection.products %}
                                {%- comment %}<locksmith:2a26>{% endcomment -%}
                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                {%- comment %}</locksmith:2a26>{% endcomment -%}
                                {% include 'product-list-item' %}
                            {% else %}
                                <div class="warring col-xs-12">
                                    <p>{{ 'collections.general.no_matches' | t }}</p>
                                </div>
                            {% endfor %}
                            {% assign dealTime = false %}
                      	</div>
                    </div>
                    {% if paginate.pages > 1 %}
                        <div class="content_sortPagiBar">
                            {% include 'pagination-custom' %}
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
        </div>
    </div>
</section>