{% assign column_center = 'col-xs-12 col-sm-12 col-md-12' %}
{% include 'breadcrumb' %}
<SCRIPT TYPE="text/javascript">
  function popup(mylink, windowname) { 
    if (! window.focus)return true;
    var href;
    if (typeof(mylink) == 'string') href=mylink;
    else href=mylink.href; 
    window.open(href, windowname, 'width=400,height=400,scrollbars=yes'); 
    return false; 
  }
</SCRIPT>

<!-- <a href="/pages/free-shipping-no-minimum" onClick="return popup(this, 'Free Shipping, No Minimum')"><div id="qab_placeholder"></div></a> -->
<!-- <div id="qab_placeholder"></div> -->
<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
            <!-- Marketing Headers start -->
<!--           		<a href="/collections/mothers-day-sale"><div class="promo-header" style="padding-bottom: 10px;"><img src="{{ '180503_header_mothersdayBTN.png' | asset_url }}"></div></a> -->
          	<!-- Marketing Headers end -->
          	<aside>
              <div id="left_column" class="left_column sidebar col-xs-12 col-sm-4 col-md-3">
                  {% if collection.title == 'Clothing' %}  
                    {% include 'sidebar-clothing' %}
                  {% else %}
                    {% if collection.title == 'Collectibles' or collection.title == 'Walking Dead Art Prints' or collection.title == "Featured on Talking Dead" or collection.title == 'Figures & Statues' or collection.title == 'Funko Pop Figures' or collection.title == 'Replicas' or collection.title == 'Plush' %}
                      {% include 'sidebar-collectibles' %}
                  	{% else %}
                	  {% if collection.title == 'Games & Costumes' or collection.title == 'Costumes & Accessories' or collection.title == "Games" %}
                	    {% include 'sidebar-gamescostumes' %}
                      {% else %}
                        {% if collection.title == 'Home Decor' or collection.title == 'Blankets & Bedding' or collection.title == 'Calendars' or collection.title == 'Kitchen' or collection.title == 'Lighting' or collection.title == 'Drinkware' or collection.title == 'Standees' or collection.title == 'Stationery' %}
                          {% include 'sidebar-homedecor' %}
                        {% else %}
                          {% if collection.title == 'Accessories' or collection.title == 'Aprons' or collection.title == 'Bags & Wallets' or collection.title == 'Jewelry' or collection.title == 'Phone Cases' or collection.title == 'Socks' %}
                            {% include 'sidebar-accessories' %}
                          {% else %}
                            {% if collection.title == 'Clothing' or collection.title == 'Baby Apparel' or collection.title == 'Outerwear' or collection.title == 'Shirts' %}
                              {% include 'sidebar-clothing' %}
                		  	{% endif %}
                		  {% endif %}
                		{% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
              </div>
          	</aside>
          	{% if settings.collection_product_per_page != blank %}
          		{% assign product_per_page = settings.collection_product_per_page %}
            {% else %}
            	{% assign product_per_page = 12 %}
            {% endif %}
            {% assign columns_product_collections = settings.collection_product_per_row | plus: 0 %}
            {% if settings.apollo_count_down_enable and settings.apollo_count_down_collections %}
            	{% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
            {% else %}
            	{% assign dealTime = false %}
            {% endif %}
            {% assign colProduct = 12 | divided_by:columns_product_collections %}
          	{% if columns_product_collections == 5 %}
                {% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-12{% endcapture %}
            {% else %}
          		{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
          	{% endif %}
            <div id="center_column" class="center_column col-xs-12 col-sm-8 col-md-9">
                {% comment %}<div class="content_scene_cat">
                    <div class="content_scene_cat_bg">
                        {% if collection.image %}
                            <div class="image">
                                <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | img_url: '1024x1024' }}" />
                            </div>
                      	{% else %}
                      		{% if settings.collection_imgdefault_enable %}
                                <div class="image">
                                    {{ 'list_collection_default.png' | asset_url | img_tag: collection.title, "img-responsive" }}
                                </div>
                      		{% endif %}
                        {% endif %}
                      	{% if collection.description != blank %}
                        <div class="cat_desc">
                            <div class="rte">
                              	{% include 'shortcode' load: collection.description %}
                            </div>
                        </div>
                      	{% endif %}
                    </div>
                </div>
                <h1 class="page-heading product-listing cat-name">{{ collection.title }}</h1>
                {% endcomment %}
                
                <div class="category-heading clearfix">
                    <div class="sortPagiBar clearfix row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% include 'collection-sorting' %}
                        </div>
<!--                         <div class="col-md-6 col-sm-6 hidden-xs">
                            {% include 'collection-views' %}
                        </div> -->
                    </div>
                </div>
                {% paginate collection.products by product_per_page %}
              		{% if settings.collection_product_userow %}
                        <div id="product_list" class="product_list grid">
                            {%- comment %}<locksmith:ec4b>{% endcomment -%}
                              {%- assign locksmith_fafa_forloop__size = 0 %}{% for product in collection.products %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_fafa_forloop__size = locksmith_fafa_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_fafa_forloop__index = nil -%}
                            {%- comment %}</locksmith:ec4b>{% endcomment -%}
                            {% for product in collection.products %}
                                {%- comment %}<locksmith:74cb>{% endcomment -%}
                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% if locksmith_fafa_forloop__index == nil %}{% assign locksmith_fafa_forloop__index = 1 %}{% assign locksmith_fafa_forloop__index0 = 0 %}{% else %}{% assign locksmith_fafa_forloop__index = locksmith_fafa_forloop__index | plus: 1 %}{% assign locksmith_fafa_forloop__index0 = locksmith_fafa_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_fafa_forloop__index == 1 %}{% assign locksmith_fafa_forloop__first = true %}{% else %}{% assign locksmith_fafa_forloop__first = false %}{% endif %}{% if locksmith_fafa_forloop__index == locksmith_fafa_forloop__size %}{% assign locksmith_fafa_forloop__last = true %}{% else %}{% assign locksmith_fafa_forloop__last = false %}{% endif %}{% assign locksmith_fafa_forloop__rindex = locksmith_fafa_forloop__size | minus: locksmith_fafa_forloop__index | minus: 1 %}{% assign locksmith_fafa_forloop__rindex0 = locksmith_fafa_forloop__size | minus: locksmith_fafa_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                                {%- comment %}</locksmith:74cb>{% endcomment -%}
                                {% assign modcol = locksmith_fafa_forloop__index | modulo:columns_product_collections %}
                                {% if columns_product_collections == 1 %}
                                    <div class="product-items">
                                        <div class="row">
                                {% endif %}
                                {% if modcol == 1 %}
                                    <div class="product-items">
                                        <div class="row">
                                {% endif %}
                                    {% include 'product-grid-item' %}
                                {% if modcol == 0 or locksmith_fafa_forloop__last %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="warring">
                                    <p>{{ 'collections.general.no_matches' | t }}</p>
                                </div>
                            {% endfor %}
                            {% assign dealTime = false %}
                        </div>
                    {% else %}
                        <div id="product_list" class="product-border product_list grid">
                          	<div class="row">
                            	{% for product in collection.products %}
                                    {%- comment %}<locksmith:7074>{% endcomment -%}
                                      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                    {%- comment %}</locksmith:7074>{% endcomment -%}
                                    {% include 'product-grid-item' %}
                                {% else %}
                                    <div class="warring col-xs-12">
                                        <p>{{ 'collections.general.no_matches' | t }}</p>
                                    </div>
                                {% endfor %}
                                {% assign dealTime = false %}
                          	</div>
                        </div>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div class="content_sortPagiBar">
                            {% include 'pagination-custom' %}
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
        </div>
    </div>
      	</div>
  	</div>
</section>
