<style>
  .columns-container{
    margin: 0 auto;
  }
  .mobile{display: none;}
  .desktop{margin-bottom: 10px;}
  .mobile{margin-bottom: 5px;}
  .desktop img,
  .mobile img{width: 100%;}
  /* Portrait and Landscape */
  @media only screen and (max-width: 767px){ 
      .mobile{display: block!important}
      .desktop{display: none;}
  }
</style>

<!-- <SCRIPT TYPE="text/javascript">
  function popup(mylink, windowname) { 
    if (! window.focus)return true;
    var href;
    if (typeof(mylink) == 'string') href=mylink;
    else href=mylink.href; 
    window.open(href, windowname, 'width=400,height=400,scrollbars=yes'); 
    return false; 
  }
</SCRIPT>

<a href="/pages/free-shipping-no-minimum" onClick="return popup(this, 'Free Shipping, No Minimum')"><div id="qab_placeholder"></div></a> -->
<!-- <div class="category-header">
  <div class="category-header-content">
    <a href="https://www.amc.com/shows/the-walking-dead/season-9?utm_medium=referral&utm_source=twdrewards.com&utm_campaign=the-walking-dead&utm_term=twd-s9-unauth&utm_content=top-nav">
    <div class="mobile"><img src="https://cdn.shopify.com/s/files/1/1505/6302/files/Banner768x250.png?36382" /></div>
    <div class="desktop"><img src="https://cdn.shopify.com/s/files/1/1505/6302/files/Banner2560x180.png?36377" /></div>
    </a>
  </div>
</div> -->
<!-- <div id="qab_placeholder"></div> -->
<!-- <div style="width:100%; max-width: 1200px; margin: 0 auto;"><a href="/pages/shipping-delivery"><img style="width:100%;" src="https://cdn.shopify.com/s/files/1/1505/6302/files/TWD_homeheader_holidaysched3.jpg?9258316047436769380"></a></div> -->
{% if settings.slider_home_enable %}
    <section id="slideshow" class="clearfix"> 
      	{% include 'slideshow' %}
    </section>
{% endif %}
<section id="columns" class="columns-container">
  	<div class="container-fluid no-padding">
      {% if settings.home_productlists_enable %}
        <div class="product__list bg_product">
          <div class="container">
            <div class="row {{ settings.home_productlists_class }} show_rating">
              <div class="products_top col-xs-12 col-sm-12">
                {% assign item_in_page = settings.home_productlists_itempage | plus:0 %}
                  {% assign columns_product = settings.home_productlists_columntab | plus:0 %}
                  {% assign product_in_tab = settings.home_productlists_limit | plus:0 %}
                  {% assign title_block = settings.home_productlist_titletab %}
                  {% assign product_interval = settings.home_productlists_interval %}
                  {% assign type_block = settings.home_productlists_type %}
                  {% assign collection_produclists = collections[settings.home_productlists_collection].products %}
                  {% assign proLazyLoad = settings.home_productlists_lazy %}
                  {% assign product_special = "" %}
                  {% include 'block-productlist' with '1' %}
                </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if settings.enable_list_collection %}
        <div class="row">
          <div class="col-xs-12">
          {% include 'list-category' %}
          </div>
        </div>
      {% endif %}
      <div class="row no-margin">
      {% if settings.home_banner_enable %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner.jpg' %}
            {% assign banner_link = settings.home_banner_link %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      {% if settings.home_banner_enable_2 %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class_2 }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner_2.jpg' %}
            {% assign banner_link = settings.home_banner_link_2 %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      </div>
      <div class="row no-margin">
      {% if settings.home_banner_enable_3 %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class_3 }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner_3.jpg' %}
            {% assign banner_link = settings.home_banner_link_3 %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      {% if settings.home_banner_enable_4 %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class_4 }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner_4.jpg' %}
            {% assign banner_link = settings.home_banner_link_4 %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      </div>
      <div class="row">
          <div id="center_column" class="center_column col-xs-12">
              <div class="center_wrap">
                  {% if settings.home_productlists_enable_2 %}
                	<div class="product__list bg_product">
                      <div class="container">
                        <div class="row {{ settings.home_productlists_class_2 }} show_rating">
                            <div class="products_top col-xs-12 col-sm-12">
                              {% assign item_in_page = settings.home_productlists_itempage_2 | plus:0 %}
                                {% assign columns_product = settings.home_productlists_columntab_2 | plus:0 %}
                                {% assign product_in_tab = settings.home_productlists_limit_2 | plus:0 %}
                                {% assign title_block = settings.home_productlist_titletab_2 %}
                                {% assign product_interval = settings.home_productlists_interval_2 %}
                                {% assign type_block = settings.home_productlists_type_2 %}
                                {% assign collection_produclists = collections[settings.home_productlists_collection_2].products %}
                                {% assign proLazyLoad = settings.home_productlists_lazy_2 %}
                                {% assign product_special = "" %}
                              {% include 'block-productlist' with '1' %}
                            </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
          </div>
      </div>
  	</div>
    <div class="row no-margin">
      {% if settings.home_banner_enable_5 %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class_5 }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner_5.jpg' %}
            {% assign banner_link = settings.home_banner_link_5 %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      {% if settings.home_banner_enable_6 %}
        <div class="col-md-6 col-xs-12 col-sm-6 {{ settings.home_banner_class_6 }} no-padding home-subtout-left">
            {% assign banner_name = 'home_banner_6.jpg' %}
            {% assign banner_link = settings.home_banner_link_6 %}
            {% include 'block-banner' %}
        </div>
      {% endif %}
      </div>
    {% if settings.home_sectout3_header_enable %}
    <div class="sectout3-header">
      <h4 class="page-subheading">{{settings.section3_header}}</h4>
    </div>
    {% endif %}
  	<div class="row no-margin">
    {% if settings.home_banner_enable_7 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_7 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_7.jpg' %}
          {% assign banner_link = settings.home_banner_link_7 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    {% if settings.home_banner_enable_8 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_8 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_8.jpg' %}
          {% assign banner_link = settings.home_banner_link_8 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    {% if settings.home_banner_enable_9 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_9 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_9.jpg' %}
          {% assign banner_link = settings.home_banner_link_9 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    </div>
    <div class="row no-margin">
    {% if settings.home_banner_enable_10 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_10 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_10.jpg' %}
          {% assign banner_link = settings.home_banner_link_10 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    {% if settings.home_banner_enable_11 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_11 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_11.jpg' %}
          {% assign banner_link = settings.home_banner_link_11 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    {% if settings.home_banner_enable_12 %}
      <div class="col-md-4 col-xs-12 col-sm-4 {{ settings.home_banner_class_12 }} no-padding home-subtout-left">
          {% assign banner_name = 'home_banner_12.jpg' %}
          {% assign banner_link = settings.home_banner_link_12 %}
          {% include 'block-banner' %}
      </div>
    {% endif %}
    </div>
    
    
    {% if settings.enable_block_aboutus %}
      <div class="block__about block-top">
        <div class="container">
          {% if settings.title_block_about %}
          <h4 class="page-subheading">{{settings.title_block_about}}</h4>
          {% endif %}
          <div class="row">
            <div class="col-md-8">
              {% if settings.description_abouts != blank %}
                <div class="block__about-des">
                  {{settings.description_abouts}}
                </div>
              {% endif %}
            </div>
            {% if settings.enable_block_time %}
              <div class="col-md-4">
                {% include 'block_open_time' %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if settings.home_blogs_enable %}
      <div class="block__blog block-top">
        <div class="container">
          <div class="row {{ settings.home_blogs_class }}">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  {% include 'block-blog' %}
              </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if settings.enable_home_block_service %}
    <div class="block__care container-fluid no-padding">
      <div class="row no-margin">
        {% if settings.title_block-service1 != blank %}
        <div class=" no-padding col-md-4 col-sm-4 col-xs-12">
          <div class="block__care--service color-red">
            <h4 class="block__care--title">{{settings.title_block-service1}}</h4>
          </div>
        </div>
        {% endif %}
        {% if settings.title_block-service2 != blank %}
        <div class=" no-padding col-md-4 col-sm-4 col-xs-12">
          <div class="block__care--service color-black">
            <h4 class="block__care--title">{{settings.title_block-service2}}</h4>
          </div>
        </div>
        {% endif %}
        {% if settings.title_block-service3 != blank %}
        <div class="no-padding  col-md-4 col-sm-4 col-xs-12">
          <div class="block__care--service color-gray">
            <h4 class="block__care--title">{{settings.title_block-service3}}</h4>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
<!--   	<div class="iTunes_wrap">
      <a href="https://www.amc.com/shows/the-walking-dead/season-9?utm_medium=referral&utm_source=twdrewards.com&utm_campaign=the-walking-dead&utm_term=twd-s9-unauth&utm_content=top-nav" target="_blank">
        <img id="iTunes_desk" src="https://cdn.shopify.com/s/files/1/1505/6302/files/TWDShopBanner2_Desktop_1200x100.png?36374">
        <img id="iTunes_mob" src="https://cdn.shopify.com/s/files/1/1505/6302/files/TWDShopBanner2_Mobile_780x440.png?36374">
      </a>
    </div> -->
    {% if settings.homepage_newsletter_enable %}
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
              {% include 'block-newsletter' %}
            </div>
          </div>
        </div>
    {% endif %}
<!--     {% if settings.instagram-block_enable %}
      <div class="instagram-home">
        <div class="container">
          {% include 'block-instagram' %}
          [powr-social-feed id=d215bc4a_1476300149]
        </div>
       </div>
    {% endif %} -->
</section>