<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
            <div id="center_column" class="center_column col-md-12">
            	<div id="list_collections">
            		{% paginate collections by 12 %}
						{%- comment %}<locksmith:be41>{% endcomment -%}
						  {%- assign locksmith_bcef_forloop__size = 0 %}{% for collection in collections %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% assign locksmith_bcef_forloop__size = locksmith_bcef_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_bcef_forloop__index = nil -%}
						{%- comment %}</locksmith:be41>{% endcomment -%}
						{% for collection in collections %}
							{%- comment %}<locksmith:0fec>{% endcomment -%}
							  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% if locksmith_bcef_forloop__index == nil %}{% assign locksmith_bcef_forloop__index = 1 %}{% assign locksmith_bcef_forloop__index0 = 0 %}{% else %}{% assign locksmith_bcef_forloop__index = locksmith_bcef_forloop__index | plus: 1 %}{% assign locksmith_bcef_forloop__index0 = locksmith_bcef_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_bcef_forloop__index == 1 %}{% assign locksmith_bcef_forloop__first = true %}{% else %}{% assign locksmith_bcef_forloop__first = false %}{% endif %}{% if locksmith_bcef_forloop__index == locksmith_bcef_forloop__size %}{% assign locksmith_bcef_forloop__last = true %}{% else %}{% assign locksmith_bcef_forloop__last = false %}{% endif %}{% assign locksmith_bcef_forloop__rindex = locksmith_bcef_forloop__size | minus: locksmith_bcef_forloop__index | minus: 1 %}{% assign locksmith_bcef_forloop__rindex0 = locksmith_bcef_forloop__size | minus: locksmith_bcef_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
							{%- comment %}</locksmith:0fec>{% endcomment -%}
							{% unless collection.handle == 'frontpage' %}
                  				{% assign modcol = locksmith_bcef_forloop__index | modulo:3 %}

                                    <div class="block_collection col-xs-12 col-sm-6 col-md-4">
                                        {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                                        <div class="collection_item">
                                            <div class="collection-top effect_banner">
                                                <a href="{{ collection.url }}" title="{{ collection_title }}">
                                                    {% if collection.image %}
                                                        {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title, "img-responsive" }}
                                                    {% else %}
                                                        {% if settings.collection_imgdefault_enable %}
                                                  			{{ 'list_collection_default.png' | asset_url | img_tag: collection.title, "img-responsive" }}
                                                  		{% endif %}
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="collection-meta">
                                                <h3 class="h5">
                                                    <a href="{{ collection.url }}" title="{{ collection_title }}">{{ collection.title }}</a>
                                                </h3>
                                                <div class="collection_products">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'product', 'products' }}</div>
                                                <p class="collection_desc">{{ collection.description | strip_html | truncatewords: 16 }}</p>
                                                <div class="text-center">
                                                    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t }}" class="btn btn-default btn-outline-inverse">
                                                        {{ 'collections.general.shop_collection' | t }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								
							{% endunless %}
						{% endfor %}
						{% if paginate.pages > 1 %}
					        <div class="text-center">
					            {% include 'pagination-custom' %}
					        </div>
					    {% endif %}
					{% endpaginate %}
            	</div>
            </div>
        </div>
    </div>
</section>