{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
  	<div class="aboutus">
      <div class="container">
        <section id="center_column">
            <div class="page-wrap">
                <div class="page-content">
                    <div class="rte">
                        <div class="row">
                          <div class="col-xs-12">
                            {% if settings.enable_img_about %}
                            <img src="{{'image-abouts.jpg' | asset_url }}" alt="about-us">
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="block page-abouts">
                              {% if settings.title_page_about_1 != blank %}
                                <h4 class="page-subheading">{{settings.title_page_about_1}}</h4>
                              {% endif %}
                              {% if settings.des_page_about_1 != blank %}
                                <p class="block_content">
                                  {{settings.des_page_about_1}}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="block page-abouts">
                              {% if settings.title_page_about_2 != blank %}
                                <h4 class="page-subheading">{{settings.title_page_about_2}}</h4>
                              {% endif %}
                              {% if settings.des_page_about_2 != blank %}
                                <p class="block_content">
                                  {{settings.des_page_about_2}}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                          {% if settings.enable_list_about %}
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="block page-abouts">
                              {% if settings.title_page_about_3 != blank %}
                                <h4 class="page-subheading">{{settings.title_page_about_3}}</h4>
                              {% endif %}
                              <div class="block_content">
                                  <ul class="list-aboutus list-group list-unstyled">
                                    {% for i in (1..3) %}
                                      {% assign img_about = 'img_about_' | append: i | append: '.png' %}
                                      {% assign content = 'content_' | append: i %}
                                      {% if settings[content] != blank  %}
                                        <li>
                                          <img class="pull-left" src="{{img_about | asset_url}}" alt=""><p class="name_abouts">{{ settings[content] }}</p>
                                        </li>
                                      {% endif %}
                                    {% endfor %}
                                  </ul>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        {% include 'shortcode' load: page.content %}
                    </div>
                </div>
            </div>
        </section>
      </div>
  </div>
</section>