<section id="columns" class="columns-container">
	<div class="container">
		<div class="row">
			<section id="center_column" class="col-sm-12 col-md-12">
              	<div class="page-wrap">
<!-- 					<h1 class="page-header bottom-indent">{{ page.title }}</h1> -->
                    <div class="page-content">
                        <div class="rte">
                            {% include 'shortcode' load: page.content %}
                        </div>
                    </div>
              	</div>
			</section>
		</div>
	</div>
</section>