{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div class="container">
    	<div class="row">
    		<div id="center_column" class="center_column col-sm-12 col-md-12">
    			<div class="wishlist-page">
	    			<h1 class="wishlistTitle">{{ page.title }}</h1>
                  	<div class="page-content">
                        {% if customer %}
                            <div class="table-responsive">
                                <table class="wishlist-product table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{ 'general.wishlist.product_image' | t }}</th>
                                            <th>{{ 'general.wishlist.product_name' | t }}</th>
                                            <th class="text-center">{{ 'cart.label.price' | t }}</th>
                                            <th class="text-center">{{ 'cart.general.remove' | t }}</th>
                                            <th class="text-center">{{ 'products.product.add_to_cart' | t }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% assign isProduct = false %}
                                        {% for tag in customer.tags %}
                                            {% assign the_test = 'nutthin' %}
                                            {% capture tag_id %}{{ tag }}{% endcapture %}
                                            {% assign tag_size = tag_id.size %}
                                            {% for tag in customer.tags %}
                                                {% capture cur_tag %}{{ tag }}{% endcapture %}
                                                {% if cur_tag contains tag_id %}
                                                    {% assign difference = tag_size | minus:cur_tag.size %}
                                                    {% if difference == 0 %}
                                                        {% assign the_test = tag_id %}
                                                    {% else %}
                                                        {% assign the_test = 'nutthin' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}	

                                            {% for collection in collections %}
                                                {%- comment %}<locksmith:30ba>{% endcomment -%}
                                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                {%- comment %}</locksmith:30ba>{% endcomment -%}
                                                {% paginate collection.products by collection.all_products_count %}
                                                    {% for product in collection.products %}
                                                        {%- comment %}<locksmith:6cd5>{% endcomment -%}
                                                          {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                        {%- comment %}</locksmith:6cd5>{% endcomment -%}
                                                        {% capture product_id %}{{ product.id }}{% endcapture %}
                                                        {% unless used contains product_id %}
                                                            {% capture diff %}{{ tag_size | minus:product_id.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
                                                            {% assign check = diff | split:'.' %}
                                                            {% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
                                                            {% if display and the_test contains product_id %}
                                                                {% assign isProduct = true %}
                                                                <tr class="row-{{tag_id}} product-item" id="product-{{ product.id }}">
                                                                    <td>
                                                                        <a href='{{ product.url }}' class="product-grid-image">
                                                                            <img src="{{ product.featured_image.src | product_img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}">
                                                                        </a>
                                                                    </td>
                                                                    <td class="product-name"><a href='{{ product.url }}' class="product-title">{{ product.title }}</a></td>
                                                                    <td class="text-center">
                                                                        <div class="content_price">
                                                                            {% if product.available %}
                                                                                {% if product.compare_at_price_max > product.price %}
                                                                                    <span class="old-price product-price">{{ product.compare_at_price | money }}</span>
                                                                                {% endif %}
                                                                                <span class="price product-price">
                                                                                    {{ product.price | money }}
                                                                                </span>
                                                                            {% else %}
                                                                                {{ product.price | money }} <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                                                                            {% endif %}
                                                                      </div>
                                                                    </td>
                                                                    <td class="text-center remove"><a href='#remove' onclick="removeTag('x{{ tag_id }}')"><i class="fa fa-trash-o"></i></a></td>
                                                                    <td class="text-center addtocart"><a href='#add-to-cart' id="addToCart" class="button" onclick="addToCart('{{ product.variants.first.id }}')">{{ 'products.product.add_to_cart' | t }}</a></td>
                                                                </tr>
                                                                {% capture used %}{{ product_id }} {{ used }}{% endcapture %}
                                                            {% endif %}
                                                        {% endunless %}
                                                    {% endfor %}
                                                {% endpaginate %}
                                            {% endfor %}
                                        {% endfor %}
                                        {% if isProduct == false %}
                                            <tr>
                                                <td colspan="5">
                                                    <div class="no_product-wishlist">
                                                        <p>{{ 'general.wishlist.no_product_wishlist' | t }}<p>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <form method='post' action='/contact' id='remove' accept-charset='UTF-8'>
                                <input name='form_type' type='hidden' value='customer'/>
                                <input name='utf8' type='hidden' value='✓'> 
                                <input type='hidden' name='contact[email]' value='{{ customer.email }}'/>
                                <input type='hidden' name='contact[tags]' id='remove-value' value='' />
                            </form>
                            <form action='/cart/add' id='add-variant' method='post'>
                                <input type='hidden' name='id' id='product-select' value='' />
                            </form>
                            <script type='text/javascript'>
                                function removeTag(tagID) {
                                    document.getElementById('remove-value').value = tagID;
                                    document.getElementById('remove').submit();
                                }
                                function addToCart(variantID) {
                                    document.getElementById('product-select').value = variantID;
                                    document.getElementById('add-variant').submit();
                                }
                            </script>
                            {% capture subject %}My%20{{ shop.name | replace: ' ','%20' }}%20Wish%20List{% endcapture %}
                            {% capture body %}I&rsquo;ve%20added%20the%20following%20items%20to%20my%20wish%20list%20at%20{{ shop.name | replace: ' ','%20' }}{% endcapture %}
                            {% capture body %}{{ body }}{% for tag in customer.tags %}{% assign the_test = 'nutthin' %}{% capture tag_id %}{{ tag }}{% endcapture %}{% assign tag_count = 0 %}{% assign tag_size = tag_id | size %}{% for tag in customer.tags %}{% capture cur_tag %}{{ tag }}{% endcapture %}{% if cur_tag contains tag_id %}{% assign cur_tag_size = cur_tag | size %}{% assign difference = tag_size | minus: cur_tag_size %}{% if difference == 0 %}{% assign the_test = tag_id %}{% else %}{% assign the_test = 'nutthin' %}{% endif %}{% endif %}{% endfor %}{% for collection in collections %}{%- comment %}<locksmith:b5e0>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:b5e0>{% endcomment -%}{% paginate collection.products by collection.all_products_count %}{% for p in collection.products %}{%- comment %}<locksmith:4794>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: p, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:4794>{% endcomment -%}{% capture pID %}{{ p.id }}{% endcapture %}{% unless email_used contains pID %}{% capture difference %}{{ tag_size | minus:pID.size | money_without_currency | times:100 | divided_by: 2 }}{% endcapture %}{% assign check = difference | split:'.' %}{% if check[1] contains '5' %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}{% if display and the_test contains pID %}%0A%0A{{ p.title | replace: ' ','%20' }}%3A%20%20{{ shop.url }}{{ p.url }}{% capture email_used %}{{ pID }} {{ email_used }}{% endcapture %}{% endif %}{% endunless %}{% endfor %}{% endpaginate %}{% endfor %}{% endfor %}{% endcapture %}		
                            <a href='mailto:?subject={{ subject }}&amp;body={{ body }}'>{{ 'general.wishlist.share_email' | t }}</a>
                        {% else %}
                            <div class="">
                                <p>{{ 'general.wishlist.subtext_html' | t }}</p>
                            </div>
                        {% endif %}
                  	</div>
				</div>
    		</div>
    	</div>
    </div>
</section>