{% assign collection_deal = collections[settings.apollo_count_down_dealpages] %}
{% assign colProductsDeal = 4 %}
{% if colProductsDeal == 5 %}
	{% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-12{% endcapture %}
{% else %}
	{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
{% endif %}
{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
	<div class="container">
		<div class="row">
			<section id="center_column" class="col-sm-12 col-md-12">
				<div id="deal-pages">
					{% paginate collection_deal.products by settings.apollo_dealpages_count %}
	                    <div class="product_list grid">
	                        {% if settings.apollo_count_down_enable %}
	                            {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
	                        {% endif %}
	                        {%- comment %}<locksmith:ef49>{% endcomment -%}
	                          {%- assign locksmith_6ece_forloop__size = 0 %}{% for product in collection_deal.products %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_6ece_forloop__size = locksmith_6ece_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_6ece_forloop__index = nil -%}
	                        {%- comment %}</locksmith:ef49>{% endcomment -%}
	                        {% for product in collection_deal.products %}
                          		{%- comment %}<locksmith:bc78>{% endcomment -%}
                          		  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection_deal %}{% if locksmith_transparent %}{% if locksmith_6ece_forloop__index == nil %}{% assign locksmith_6ece_forloop__index = 1 %}{% assign locksmith_6ece_forloop__index0 = 0 %}{% else %}{% assign locksmith_6ece_forloop__index = locksmith_6ece_forloop__index | plus: 1 %}{% assign locksmith_6ece_forloop__index0 = locksmith_6ece_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_6ece_forloop__index == 1 %}{% assign locksmith_6ece_forloop__first = true %}{% else %}{% assign locksmith_6ece_forloop__first = false %}{% endif %}{% if locksmith_6ece_forloop__index == locksmith_6ece_forloop__size %}{% assign locksmith_6ece_forloop__last = true %}{% else %}{% assign locksmith_6ece_forloop__last = false %}{% endif %}{% assign locksmith_6ece_forloop__rindex = locksmith_6ece_forloop__size | minus: locksmith_6ece_forloop__index | minus: 1 %}{% assign locksmith_6ece_forloop__rindex0 = locksmith_6ece_forloop__size | minus: locksmith_6ece_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                          		{%- comment %}</locksmith:bc78>{% endcomment -%}
                          		{% assign modcol = locksmith_6ece_forloop__index | modulo:colProductsDeal %}
                          		{% if modcol == 1 %}
                                    <div class="row">
                                {% endif %}
	                            	{% include 'product-grid-item' %}
                                {% if modcol == 0 or locksmith_6ece_forloop__last %}
                                    </div>
                                {% endif %}
	                        {% else %}
	                            <div class="col-xs-12">
	                                <p class="bg-warning">{{ 'collections.general.no_matches' | t }}</p>
	                            </div>
	                        {% endfor %}
	                        {% assign dealTime = false %}
	                    </div>
	                    {% if paginate.pages > 1 %}
	                        <div class="content_sortPagiBar">
	                            {% include 'pagination-custom' %}
	                        </div>
	                    {% endif %}
	                {% endpaginate %}
                </div>
			</section>
		</div>
	</div>
</section>