<style>
  .td-form{
  
  }
  .td_form_left{
  
  }
  .td_form_item{
  
  }
  .txt{
    height: 20px!important;
  }
  #repeaterFields_ctl00_txtText{
    height: 20px;
  }
</style>

{% include 'breadcrumb' %}
<section id="columns" class="columns-container product">
    <div class="container">
        <div class="row">
            <section id="center_column" class="col-sm-12 col-md-12">
              	<div class="page-wrap">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="box-contact-info block">
                                    {% if settings.contact_infor_title != blank %}
                                        <div class="page-subheading">
                                            <span>{{ settings.contact_infor_title }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="block_content">
                                        <div class="coninfo-des">
                                            {{ settings.contact_infor_des }}
                                        </div>
                                        <ul class="list-unstyled">
                                            {% if settings.contact_infor_address != blank %}
                                                <li class="address">
                                                    <span>{{ settings.contact_infor_address }}</span>
                                                </li>
                                            {% endif %}
                                            {% if settings.contact_infor_phone != blank %}
                                                <li class="phone">
                                                    <span>{{ settings.contact_infor_phone }}</span>
                                                </li>
                                            {% endif %}
<!--                                             {% if settings.contact_infor_email != blank %}
                                                <li class="email">
                                                    <span>{{ settings.contact_infor_email }}</span>
                                                </li>
                                            {% endif %} -->
                                            {% if settings.contact_infor_website != blank %}
                                                <li class="website">
                                                    <span>{{ settings.contact_infor_website }}</span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                               <div class="page-subheading">
                                  <span>SEND US A MESSAGE</span>
                        	   </div>
                               <script type="text/javascript">
                                (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
                                'https://fusionbposervices.ladesk.com/scripts/track.js',
                                function(e){ LiveAgent.createForm('2e065bb4', e); });
                               </script>
                            </div>
              			</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>