{%- comment %}<locksmith:9829>{% endcomment -%}
  {%- if search.results %}{% paginate search.results by 12 %}{% assign locksmith_search__results_count = 0 %}{% for result in search.results %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: result, locksmith_subject_parent: search %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}{% assign locksmith_search__results_count = locksmith_search__results_count | plus: 1 %}{% endfor %}{% endpaginate %}{% endif -%}
{%- comment %}</locksmith:9829>{% endcomment -%}

{% assign grid_results = true %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}
    <section id="columns" class="columns-container">
        <div class="container">
            <div class="row">
                <div id="center_column" class="center_column col-md-12">
                    <div id="search-page">
                        {% if search.performed %}
                            {% paginate search.results by 12 %}
                                {% if locksmith_search__results_count == 0 %}
                                    <h1 class="h2 text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
                                    {% include 'search-bar' %}
                                {% else %}
                                    <h1 class="h2 text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
                                    {% include 'search-bar' %}
                                    {% if grid_results == false %}
                                        <div class="product_list row list">
                                            {% for item in search.results %}
                                                {%- comment %}<locksmith:d312>{% endcomment -%}
                                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: item, locksmith_subject_parent: search %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                {%- comment %}</locksmith:d312>{% endcomment -%}
                                                {% include 'search-result' %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% assign columns_product = 4 | plus: 0 %}
                                        {% assign colProduct = 12 | divided_by:columns_product %}
                                        {% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
                                        <div class="pro_search_row">
                                            {%- comment %}<locksmith:bdac>{% endcomment -%}
                                              {%- assign locksmith_ba38_forloop__size = 0 %}{% for item in search.results %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: item %}{% if locksmith_transparent %}{% assign locksmith_ba38_forloop__size = locksmith_ba38_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ba38_forloop__index = nil -%}
                                            {%- comment %}</locksmith:bdac>{% endcomment -%}
                                            {% for item in search.results %}
                                                {%- comment %}<locksmith:a34e>{% endcomment -%}
                                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: item, locksmith_subject_parent: search %}{% if locksmith_transparent %}{% if locksmith_ba38_forloop__index == nil %}{% assign locksmith_ba38_forloop__index = 1 %}{% assign locksmith_ba38_forloop__index0 = 0 %}{% else %}{% assign locksmith_ba38_forloop__index = locksmith_ba38_forloop__index | plus: 1 %}{% assign locksmith_ba38_forloop__index0 = locksmith_ba38_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ba38_forloop__index == 1 %}{% assign locksmith_ba38_forloop__first = true %}{% else %}{% assign locksmith_ba38_forloop__first = false %}{% endif %}{% if locksmith_ba38_forloop__index == locksmith_ba38_forloop__size %}{% assign locksmith_ba38_forloop__last = true %}{% else %}{% assign locksmith_ba38_forloop__last = false %}{% endif %}{% assign locksmith_ba38_forloop__rindex = locksmith_ba38_forloop__size | minus: locksmith_ba38_forloop__index | minus: 1 %}{% assign locksmith_ba38_forloop__rindex0 = locksmith_ba38_forloop__size | minus: locksmith_ba38_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                                                {%- comment %}</locksmith:a34e>{% endcomment -%}
                                                {% assign modcol = locksmith_ba38_forloop__index | modulo:columns_product %}
                                                {% if modcol == 1 %}
                                                    <div class="row">
                                                {% endif %}
                                                    {% include 'search-result-grid' %}
                                                {% if modcol == 0 or locksmith_ba38_forloop__last %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if paginate.pages > 1 %}
                                    <div class="content_sortPagiBar">
                                        {% include 'pagination-custom' %}
                                    </div>
                                {% endif %}
                            {% endpaginate %}
                        {% else %}
                            <h1 class="h2 text-center">{{ 'general.search.title' | t }}</h1>
                            {% include 'search-bar' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    {% include 'respond' %}
    {% layout none %}
{% endunless %}
