{%- comment %}<locksmith:d24b>{% endcomment -%}
  {%- if search.results %}{% paginate search.results by 10 %}{% assign locksmith_search__results_count = 0 %}{% for result in search.results %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: result, locksmith_subject_parent: search %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif %}{% assign locksmith_search__results_count = locksmith_search__results_count | plus: 1 %}{% endfor %}{% endpaginate %}{% endif -%}
{%- comment %}</locksmith:d24b>{% endcomment -%}

{% comment %} Added by SolverCircle for Product Badge Tab {% endcomment %}

{% layout none %}
{% paginate search.results by 10 %}
{% assign resultTotal = locksmith_search__results_count %}

{% capture output %}
{
    "TotalProduct" : "{{resultTotal}}",
	{% if customer %} 
	"CustomerID" : "{{customer.id}}",
	{% endif %}
     "Items":
        [
            {%- comment %}<locksmith:b79d>{% endcomment -%}
              {%- assign locksmith_4239_forloop__size = 0 %}{% for product in search.results %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_4239_forloop__size = locksmith_4239_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_4239_forloop__index = nil -%}
            {%- comment %}</locksmith:b79d>{% endcomment -%}
            {% for product in search.results %}					
                  {%- comment %}<locksmith:8e5a>{% endcomment -%}
                    {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: search %}{% if locksmith_transparent %}{% if locksmith_4239_forloop__index == nil %}{% assign locksmith_4239_forloop__index = 1 %}{% assign locksmith_4239_forloop__index0 = 0 %}{% else %}{% assign locksmith_4239_forloop__index = locksmith_4239_forloop__index | plus: 1 %}{% assign locksmith_4239_forloop__index0 = locksmith_4239_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_4239_forloop__index == 1 %}{% assign locksmith_4239_forloop__first = true %}{% else %}{% assign locksmith_4239_forloop__first = false %}{% endif %}{% if locksmith_4239_forloop__index == locksmith_4239_forloop__size %}{% assign locksmith_4239_forloop__last = true %}{% else %}{% assign locksmith_4239_forloop__last = false %}{% endif %}{% assign locksmith_4239_forloop__rindex = locksmith_4239_forloop__size | minus: locksmith_4239_forloop__index | minus: 1 %}{% assign locksmith_4239_forloop__rindex0 = locksmith_4239_forloop__size | minus: locksmith_4239_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:8e5a>{% endcomment -%}					
                  {% assign thumbURL = product.images[0] | product_img_url: 'thumb' %}
                    {
                          "id":"{{product.id}}"
                          ,"title": {{product.title | json }}						  
                          ,"image" : {"src":{{thumbURL | json }}}
													,"handle"	: {{ product.handle | json }}
													,"variants": 
														[ {% for variant in product.variants %}
															{
																"id": {{ variant.id }}
																,"title": {{ variant.title | json }}
																,"price": {{ variant.price }}
																{% if variant.compare_at_price%}
																,"compare_at_price": {{ variant.compare_at_price }} 
																{% endif %}
																{% if variant.inventory_quantity%}
																,"inventory_quantity": {{ variant.inventory_quantity }} 
																{% endif %}
																{% if variant.inventory_management and variant.inventory_management != blank%}
																,"inventory_management": "{{ variant.inventory_management }}"
																{% endif %}
																{% if variant.sku and variant.sku != blank%}
																,"sku": "{{ variant.sku }}"
																{% endif %} 
															}
															{% unless forloop.last %},{% endunless %}
															{% endfor %}
														]
													,"collections": [{%- comment %}<locksmith:f063>{% endcomment -%}{%- assign locksmith_ad6c_forloop__size = 0 %}{% for collection in product.collections %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% assign locksmith_ad6c_forloop__size = locksmith_ad6c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ad6c_forloop__index = nil -%}{%- comment %}</locksmith:f063>{% endcomment -%}{% for collection in product.collections %} {%- comment %}<locksmith:3b1d>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% if locksmith_ad6c_forloop__index == nil %}{% assign locksmith_ad6c_forloop__index = 1 %}{% assign locksmith_ad6c_forloop__index0 = 0 %}{% else %}{% assign locksmith_ad6c_forloop__index = locksmith_ad6c_forloop__index | plus: 1 %}{% assign locksmith_ad6c_forloop__index0 = locksmith_ad6c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ad6c_forloop__index == 1 %}{% assign locksmith_ad6c_forloop__first = true %}{% else %}{% assign locksmith_ad6c_forloop__first = false %}{% endif %}{% if locksmith_ad6c_forloop__index == locksmith_ad6c_forloop__size %}{% assign locksmith_ad6c_forloop__last = true %}{% else %}{% assign locksmith_ad6c_forloop__last = false %}{% endif %}{% assign locksmith_ad6c_forloop__rindex = locksmith_ad6c_forloop__size | minus: locksmith_ad6c_forloop__index | minus: 1 %}{% assign locksmith_ad6c_forloop__rindex0 = locksmith_ad6c_forloop__size | minus: locksmith_ad6c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:3b1d>{% endcomment -%} {{ collection.id }}{% unless locksmith_ad6c_forloop__last %},{% endunless %} {% endfor %} ] 
                    }
                  {% unless locksmith_4239_forloop__last %},{% endunless %}
            {% endfor %}
        ]
	
}
{% endcapture %}
{% endpaginate %}
{{ output | strip_newlines }}