/* width: 1200px  */
@media (min-width: 2000px) {
  .paralx-main .paralax-images{background-size:cover;} 
}

@media (max-width: 1199px) {
  .footer-container a, .footer-bottom address{font-size:12px;}
  .product-slide .slide-product .owl-controls .owl-buttons .owl-next{right: 0;}
  .product-slide .slide-product .owl-controls .owl-buttons .owl-prev{left: 0;}
  .slide-text h3{font-size:50px;}
}

@media (min-width: 992px) { 



  #header-content .is-ticky .header-inner  .logo h1{
    line-height: 76px!important;
  }
  .is-ticky .header-inner .logo  img{
    max-width: 150px;
  }
  #header-content .header-inner .logo h1, #header-content .header-inner .logo-sticky a {
    text-align: left;
    line-height:70px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

  .newsletter .input-group-field { width: 245px; }


  .toolbar .btn-group { margin-left: 15px; }
  .text-slide3 h2, .text-slide1 h2, .text-slide2 h2{
    font-size: 30px;
  }
  .text-slide2 h2{
    margin-bottom: 20px;
  }
  .tabs-product-home .grid-item .product-image .add-to-link .wishlist,
  .grid-item .product-image .add-to-link .wishlist{
    padding: 17px;
  }
  .product-item .add-to-link .sca-qv-button{
    padding: 9px 3px !important;
    width: 50px;
    height: 49px;
  }
  .products-grid .grid-item .product-image .add-to-link .wishlist{
    padding: 15px;
  }
  .products-grid  .product-item .add-to-link .sca-qv-button {
    padding: 7px 10px !important;
    width: 46px;
    height: 45px;
  }

  .product-content h3{
    padding: 10px 0;
  }
  .product-top-sale .product-item .add-to-link .sca-qv-button-wrap {
    margin-bottom: 0;
  }
}

@media  (max-width: 991px) {
  .product-button .btn.add-to-cart-btn {
    padding: 5px 5px;
    font-size: 13px;
  }
  .hidden-md{display:none;}
  .wrap-main-content{padding-left:15px;}
  .home-category >div{margin:0;}
  .product-top-sale{display:none;}
  .template-tabs .tabs-product .nav.nav.nav-tabs li {
    float: left;
    clear: both;
    background: #fff;
  }
  .template-tabs .tabs-product .nav.nav.nav-tabs li a {
    display: block;
    height: 30px;
    color: #999;
  }
  .template-tabs .tabs-product .nav.nav.nav-tabs li a:hover {
    color: #f9c30a!important;
  }
  .template-tabs .module-title:hover{cursor:pointer;}
  .template-tabs .module-title h2 span{padding-left:30px;}
  .template-tabs i.fa.fa-list-ul {display: block;}
  .module-title{clear:both;}


  .block-images-right{display:none;}
  .nav-verticalmenu>li>a,#verticalmenu ul li{float:left;width:100%;}
  .menuvideo,.menuproduct,.menuhtml{display:none;}
  .menulink{width:100%;}
  .nav-verticalmenu>li>a i{display:none;}
  #menu-vertical .toggle-dropdown-mobile{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
  }
  .toggle-dropdown-mobile:hover{cursor:pointer;}
  .nav-verticalmenu>li .dropdown-menu{
    box-shadow:none;
    border:none;
    visibility: visible;
    position: initial;
    opacity: 1 !important;
    width: 100% !important;
    display:none !important;
    padding:0;
  }
  .nav-verticalmenu .dropdown-sub .dropdown-menu-inner,.nav-verticalmenu>li .mega-col .row >div,.nav-verticalmenu>li .mega-col{padding:0;}
  .nav-verticalmenu .mega-col-inner  .menu-title{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 30px;
    display: block;
    margin: 0;
    text-transform: capitalize;
    border:none;
    border-bottom: 1px solid #efefef;
  }
  #verticalmenu .dropdown-option .dropdown-menu-inner .mega-col .mega-col-inner  a{padding:0 30px;}
  #verticalmenu .dropdown-menu-inner a{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 15px;
    display: block;
    margin: 0;
    text-transform: capitalize;
    border:none;
    border-bottom: 1px solid #efefef;
  }
  #verticalmenu .dropdown-menu-inner .widget-inner a{
    padding:0 45px;
  }
  #verticalmenu ul li.parent.dropdown.active .dropdown-menu{display:block !important;}
  #verticalmenu ul >li.parent.dropdown.active >.toggle-dropdown-mobile .fa:before,
  #verticalmenu .mega-col-inner.active .toggle-dropdown-mobile .fa:before{    content: "\f106";}

  #verticalmenu ul li.parent.dropdown:not(.active) .toggle-dropdown-mobile .fa:before,
  #verticalmenu .mega-col-inner:not(.active) .toggle-dropdown-mobile .fa:before{    content: "\f107";}

  .nav-verticalmenu>li .mega-col .row >div{width:100%;}
  .nav-verticalmenu .widget-inner{clear:both;display:none;}
  .nav-verticalmenu .mega-col-inner.active .widget-inner{display:block;}
  .nav-verticalmenu .mega-col-inner {clear:both;overflow:hidden;position:relative;}
  .nav-verticalmenu .row {margin:0;}

  .sca-fancybox-opened{
    left: 0 !important;
    margin:0 2% !important;
  }

  .menu-action{padding:0;}
  .wrap-content-slider h2{font-size:30px;}
  .slide-text h3{font-size:35px;}
  .wrap-content-slider .slider-content{font-size:14px;margin:0;}
  .social,
  .text-slide3 h2, .text-slide1 h2, .text-slide2 h2{
    display: none;
  }
  .newsneter h3.module-title, .newsneter .content{
    width: 100%;
  } 


}


/* width: 750px  */

@media (min-width: 768px) and (max-width: 991px) {
  .home-category .block-content p {display: none;}
  .home-category .block-content .btn {
    margin-top: 8px;
  }
  .template-tabs .tabs-product .nav.nav.nav-tabs {
    top: 0px;
    left: 0;
    width: auto;
    display: none;
    margin-top: 0;
    z-index: 10;
    border: 1px solid #ccc;
    padding: 15px;
    right: auto;
    background: #fff;
  }

  .footer-top .col-md-2:nth-child(3){clear:left;}
  #block-top .block-item .static-collection,#block-top .block-item .static-collection .block-title h3{text-align:center;}
  #block-top .block-item .static-collection .block-title h3{padding:5px 0;}
  .logo {margin-top:15px;}
  .home-page-tabsproduct .product-content h3{margin-top:-10px;}
  .home-page-tabsproduct .grid-item{margin-bottom:10px;}
  .home-page-tabsproduct .grid-item .product-content{padding-bottom:0;}
  .home-page-tabsproduct .grid-item .price-box{min-height:56px;font-size:12px;}

  .customer-links{text-align:center;}
  #block-top >.container{border:none;padding:0 15px;margin:10px auto;}
  #block-top >.container .row{display:table;}
  #block-top >.container .col-md-4 {

    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .wrap-left-sidebar{width:100%;}
  .wrap-main-content{width:100%;}

  .paralx-main .about-home .block-item{
    padding: 80px 5px;
  }

  .site-nav li.mega-menu:hover .dropdown-sub,.site-nav li:hover .dropdown-sub{top:31px;}
  .slide-text-content{
    left: inherit;
    text-align: center;
  }
  .text-slide2 .button-link, .text-slide3 .button-link{margin-top:30px;}


  .header-inner .menu-top{padding: 0;}

  .menu-top #search-top .icon-search i {
    line-height: inherit;
    padding: 15px 0;
  }
  .menu-top #search-top, .menu-top #search-top .icon-search {
    height: auto;
    text-align: right;
  }
  .product-item .add-to-link .sca-qv-button {
    padding: 3px 3px !important;
    width: 38px;
    height: 37px;
  }
  .product-item .add-to-cart-btn{
    margin-top: 0px;
  } 
  .product-item .product-bottom .product-title
  #filter-sidebar .block-title, .sidebar-block .title h3 {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .arw-services-box.style-4 .service-content { 
    font-size: 11px; 
  }
  .item .blog-item h3.p10 {
    font-size: 18px;
  }
  .grid-item .product-image .add-to-link .wishlist{
    padding: 11px;
  }  
  .site-nav > li > a{
    padding: 0 18px ;
  }
  .header.is-ticky .site-nav > li > a{
    padding: 26px 18px 26px ;
  }
  .menu-top #search-top .icon-search i, #search-top .icon_search, #header-content .header-inner p.top-cart{line-height: 16px;}
  .header.is-ticky .menu-top #search-top .icon-search i, 
  .header.is-ticky #search-top .icon_search, 
  .header.is-ticky #header-content .header-inner p.top-cart{line-height: 45px;}
  .is-ticky .menu-top .header-cart{
    top: 15px;
  }
  #header-content .header-inner p.top-cart{padding-top: 0;}
  .menu-top #search-top .menu-top #search-top .icon-search {
    height: auto;
  }
  .flex-direction-nav li a{
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .flex-direction-nav li a span { 
    line-height: inherit;
  }


  .menu-action .site-nav > li > a{padding:20px;}
  .wrapper-container .site-nav li.menu-dropdown  .nav-dropdown{top: 50px;}
  #header-content .site-nav li:last-child a{padding-right:0;}
  .slide-text .slide-text-content h2{font-size:32px;}
  .slide-text .slide-text-content .item-slide{display:none!important;}
  .text-slide2 p, .text-slide3 p{display:none;}
  .text-slide2 h2{display:block;font-size:32px;}
  .text-slide2 h2 span{font-size:32px;}
  .text-slide3 h2{display:block; font-size:32px;}
  .text-slide3 h2 span{font-size:32px;}
  .slider-right{padding-right:25px;}
  .text-slide3 h2{
    line-height:32px;
  }
  .slide-text-content{text-align:left;}
  .text-heading{
    font-size:18px;
  }
  .widget-content .view-more a{    padding: 10px 20px;}
  .banner .inner { right: 5%; top: 20px; max-width: 320px; }
  .features-item{text-align:center;}
  .collection-title h3.h5 { font-size: 18px; }


  .refined-widgets > a { float: left; }

  .toolbar .view-mode label { display: none; }
  .toolbar .view-mode { margin: 16px 8px 16px 16px; }  

  /* product detail page */

  body #add-to-cart-form #product-add-to-cart{padding:10px;}
  body #add-to-cart-form #quantity{width:50px;}
  .quick-view .product-shop .btn, 
  .product-shop #add-to-cart-form .btn { min-width: 135px; }
  .footer-item-body .ft-line .ft-line-txt{word-wrap: break-word;}

  .footer-container .footer-top .newsletter .input-group-field{float:none;}
  .footer-container .newsletter .input-group-btn{display:block;clear:both;position: relative; margin-top: 10px;}


  /* cart page */
  .cart-row .btn { font-size: 12px; padding: 0 10px; }

  /* contact page */ 

  #get-rates-submit { padding: 0 10px; }
}
@media (max-width: 768px){
  .footer-columns{
  	width: 100%!important;
  }
}
@media (min-width: 768px) {
  .block-top-1, .block-top-2{}
  .block-top-1 .block-item, .block-top-2 .block-item{height:600px; overflow:hidden;padding:0;    background: #F5F5F5;}
  .block-top-1 .block-item:first-child{    
    border-right: solid 20px #fff;
    border-bottom: solid 20px #fff;}
  .block-top-2 .block-item:last-child{

  }
  .block-top-1 .block-item .slide-carousel, .block-top-2 .block-item .slide-carousel{
    position: absolute;
    top: 50%;
    left:50%;
    width:80%;
    transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);

  }
  .block-top-1 .block-item .slide-carousel .view-more, .block-top-2 .block-item .slide-carousel .view-more{float:none; text-align:center;margin-top:20px;}
  .block-top-1 .block-item .slide-carousel .view-more a, .block-top-2 .block-item .slide-carousel .view-more a{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease-out 0s;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    height:auto;
    line-height: 18px;
  }
  .block-top-1 .block-item .slide-carousel .price, .block-top-2 .block-item .slide-carousel .price{
    display: block;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 23px;
    position: relative;
    color: rgba(84,84,84,0.8);
    font-weight: 400;
    /* display: block; */
    text-align: center;

  }
  .block-top-1 .block-item .slide-carousel .banner-title, .block-top-2 .block-item .slide-carousel .banner-title{

    color: #90815b;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.13;
    font-weight: 700;
    text-transform: uppercase;

  }
  .block-top-1 .block-item .slide-carousel .mt-banner-content p, .block-top-2 .block-item .slide-carousel .mt-banner-content p{
    color: #808080;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-size: 15px;

    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .block-top-1 .block-item .images img, .block-top-2 .block-item .images img{height:900px;}
  .block-top-1 .block-item .images img:hover, .block-top-1 .block-item .images img:hover{opacity:1;}
  .block-top-1 .block-item .slide-carousel .images img, .block-top-2 .block-item .slide-carousel .images img{width:70%; height:auto;margin: 0 auto; display: block;}

  .header.is-ticky{
    z-index:99;
    position: fixed;
    top: 0 !important;
    left: 0;

    filter: alpha(opacity=80);
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);
    -ms-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);
    width: 100%;
    background: #fff;
  } 
  .header.is-ticky:hover{
    opacity: 1;
    filter: alpha(opacity=100);
  } 

  .sidebar, .cusstom-link { display: block!important; }



  .header-top .top-currency .icons {
    display: none;
  }

}

/* width: 100%  */
@media (max-width: 767px) {
  #popup-newsletter .popupnewsletter {
    width: 100%;
    padding: 60px 30px;
  }
  #popup-newsletter .newsletter-popup {
    width: 100%;
  }
  .related-products .owl-theme .owl-controls {
    position: absolute;
    z-index: 3;
    right: auto;
    top: -67px;
    right: 0;
  }
  .quickview-button {display: none;}
  .grid-item .product-image {padding: 0;}
  .template-tabs .tabs-product .nav.nav.nav-tabs {
    top: 0;
    left: 15px;
    width: auto;
    display: none;
    margin-top:0;
    z-index: 10;
    border: 1px solid #ccc;
    padding: 15px;
    right: auto;
    background: #fff;
  }

  .xs-pl15 {padding-left:15px;}
  .zoomContainer {
    display: none !important;visibility: hidden!important;
  }
  a#placeholder:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .block-images.hover-effect02 img {
    width: 100%;
    height: 120px;
  }
  .block-images .content-block{padding:0;text-align:center;}
  .block-images .title{font-size:13px;}
  .block-images .text{display:none;}
  .toggle-me{
    z-index: 9;
    width: 65px;
    padding-left:0;
  }
  @media only screen and (max-width: 360px){
    .toggle-me{
      padding-left: 0;
      left: -200px;
    }
  }
  @media only screen and (max-width: 320px){
    .toggle-me{
      padding-left: 0;
      left: -175px;
    }
  }
  .footer-bottom .container .row >div{width:100%;text-align:center;float:none;}

  #zt_list_product{border-bottom: 1px solid #e5e5e3;}
  .product-img-box{border-right:0;}
  .product-img-box .owl-carousel { height: auto !important;}
  .footer-container .footer-top .content{display:none;}
  .footer-col-content{padding:30px 0;}
  .product-shop .availability{float:left;}
  .page-header,.block-left{display:none;}
  .faqs .panel-title a{text-align:left;}
  .home-category{margin:0;}

  .logo{
    position:absolute;
    width:100%;
    margin-left: -80px;
  }
  .logo img{max-width:160px;}
  .wrap-cart-mini{display:none;}

  .header-cart{
    position: absolute;
    top: 0;
    width:auto;
    right: 15px;
  }
  .text-right,.header .container{position:initial;}
  .header .container .col-xs-12{padding:0;}
  .main-header{padding:0 15px;}


  .nav-verticalmenu,.newsneter .row{margin:0;}
  #menu-vertical{padding:0 15px;}
  .wrap-main-content,#block-top{padding: 15px 15px;}
  .testimonials{clear:both;}
  .home-category > div:first-child {margin-top:15px;}
  .home-category > div:last-child {margin-top:15px; left: 10px;}
  #widget-static-block >div:nth-child(2){margin:30px 0;}

  .blog-home .main-blog{margin:0;}
  .paralx-main .about-home .block-item{margin-bottom:25px;}
  .paralx-main .about-home #widget-static-block >div:last-child .block-item{margin-bottom:0;}

  .template-product .product-shop{margin-top:25px;}
  .tabs-product-home .tabs-product .nav-tabs {
    display: table;
    margin: 20px auto 0 auto;
    float: none;
  }


  .footer-bottom address{

    line-height: 30px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
  }
  .paypal-images{display:table;margin:0 auto;float:none;text-align:center;}
  ..paypal-images ul {margin-bottom:0;}
  #offcanvas .navbar-nav li a{text-align:left;}
  .content-slider{margin-bottom:15px;padding:0 15px;}
  #instafeed a{width:25%;}

  .content-slider,.block-item{height:initial !important;}

  .toggle-menu{float:left;}
  .home-category img{width:100%;}
  .row.cat-static-row >div:first-child{
    margin-bottom:25px;
  }
  .footer-top .container >div{
    clear:both;
  }
  .view-more{display:table;margin:0 auto;float:none;}
  .hotline{display:none;}
  .block-box{
    padding-top:30px;
    padding-bottom:30px;
  }

  .header-top{font-size:10px;}

  .header-inner .search-form{right:40px;border-right:none;}


  .flex-direction-nav li a { 
    height: 30px; 
    width: 30px;
    z-index: 99999;
  }
  .flex-direction-nav li a.flex-prev:after { 
    width: 10px; 
  }
  .flex-direction-nav li a span { 
    line-height: 30px;
  }
  .arrow_carrot-right:before, .arrow_carrot-left:before{
    margin-left:-5px;
  }
  .slide-text-content{
    left: inherit;
    text-align: center;
  }
  .testimonials .paralax-images{
    background-position: center center!important;
  }
  .customer-links{
    border: 1px solid #e9e9e9;
    background-color: #fff;
    position: absolute;
    width: 200px;
    top: 40px;
  }
  .customer-links li{
    display: block; 
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #e9e9e9;
  }
  .feature-wrap-content .features-item .content .banner-title{
    font-size: 3em;
  }
  .feature-wrap-content .features-item .content .banner-text{
    font-size: 1em;
  } 
  .slide-des{    top: 20%;}
  .header-inner .menu-top {
    border-top: 1px solid;
    padding: 0;
  }
  #currencies-top .block-title{display: none;}
  .menu-top #search-top .icon-search i {
    line-height: inherit;
    padding: 15px 0;
  }
  #currencies-top{    min-width: 100px;padding: 0;}
  .top-currency{
    top: 130px;
    left: 120px;
    padding: 0 0 5px 0;
    font-size: 12px;
    font-family: sans-serif;
  }
  .menu-top #search-top, .menu-top #search-top .icon-search {
    height: auto;
    text-align: right;
  }
  .header-top .top-currency .icons{display: block;} 
  .menu-action{display:none;}  

  .main-header{min-height:65px;}
  .logo-sticky{ text-align: center;}
  .menu-top .top-currency, .menu-top .header-cart, .menu-top #search-top, .menu-top .toggle-menu{width:25%;text-align: left;}
  .toggle-menu .navbar-toggle{float:none;font-size: 32px;padding:0;margin:0;margin-top: 10px;}
  .footer-container .footer-top .module-title{padding-bottom:20px; font-size: 16px!important;}
  .footer-container .footer-top .module-title i{margin-left: 10px;cursor: pointer;}
  body .header-cart .top-cart{padding:0;}
  .paralx-main{height:100%;}

  .paralx-main .paralax-images{height:100% !important;background-position:center center !important;background-size:cover;}
  .text-slide1{
    text-align: center;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .text-slide1 h3{
    display: none;
  }
  .input-group-btn{width:0%!important;white-space:nowrap;vertical-align:middle}
  .input-group{margin: auto;}
  .col-md-4.col-sm-6.col-sx-12, .col-md-2.col-sm-6.col-xs-12{width: 100%!important;}
  a[href="/collections/books-dvds"]{margin-bottom: 50px;}
}

@media (min-width: 768px) {
  .megamenu .navbar-nav>li{float:none;height:100%;}
  #header-content .site-nav li a{height:100%;}

  .footer-container .footer-top .content{display:block!important;}
  .footer-container .footer-top .module-title i{display:none}




}

@media (min-width: 678px) and (max-width: 767px){
  .top-currency{
    
  }
  .flexslider .slides > li {height: 350px !important;}
}

@media (max-width: 769px){
  .menu-main-home{
  	padding-left: 0;
    padding-right: 0;
  }
  #header-content  .site-nav li a{
  	font-size: 12px;
    padding: 0;
  }
}

@media (min-width: 531px) and (max-width: 676px){
  .top-currency{
    width: 676px;
    font-size: 12px;
    font-family: sans-serif;
  }
  .flexslider .slides > li {height: 275px !important;}
}
@media (min-width: 480px)  and (max-width: 530px) { 
  .top-currency{
    width: 80%;
    font-size: 12px;
    font-family: sans-serif;
  }
  .flexslider .slides > li {height: 250px !important;}
}

@media (max-width: 530px){
  .home-category > div:first-child{
    margin-top: 0;
  }
  .home-category > div:last-child{
    margin-top: 0;
    left: 0;
  }
}

@media  (max-width: 479px) { 
  .template-product .product-shop{padding:15px;}
  #block-top .block-item .static-collection{text-align:center;}
  #block-top .block-item .static-collection .block-title h3{text-align:center;}
  #block-top .block-icon{padding-bottom:10px;}

  .paralx-main .about-home .block-item{padding:90px 40px;}
  .mini_cart_header{
    width:272px;
  }
  .header-cart #dropdown-cart{width:276px;right:0;}
  .cart-empty{font-size:11px;}
  #cartform .image{display:none;}
  .top-currency{
    width: 100%;
    font-size: 12px;
    font-family: sans-serif;
  }
  .slide-link h3{font-size:30px;}
  .module-title h2 span,.main-blog .block-title h2 span{font-size:18px;}
  .slider-content p { line-height: 20px;
    white-space: inherit;
    padding: 5px 0;
  }
}
@media (max-width: 676px){
  .home-feature{margin-top: 50px;}
}

@media (max-width: 530px) {
  .grid-item .product-content{position:initial;padding-bottom:15px;}
  .grid-item.product-item{height:auto; min-height: 370px;}
  .testimonial-text{width:65%;}
  .testi-bottom{width:35%;}
  .home-category >div{width:100%!important;}
  .search-page .grid-item{width:100%;}
  .mt-banner-content{text-align:center;}
  .product-top-sale .module-title{margin-bottom:10px;}
  .product-top-sale{margin-top:0;}
  .product-top-sale .module-title{

  }
  .mt-banner-content h2{padding-bottom:10px;}
  #cart-count{font-size:9px;}
  .slide-text h3{font-size:20px;margin-bottom:10px;}

  .slider-right{padding-right:25px;}

  .share_toolbox ul { float: none; margin-top: 5px; }
  .share_toolbox ul li:first-child { padding: 0; }



  .header-cart .top-cart a#cartToggle i:before{font-size:30px;}
  .header-cart .top-cart{min-width:auto;}

  .flex-direction-nav li a.flex-next,.flex-direction-nav li a.flex-prev {
    right: 15px;
    top: 50%;
    margin-top: -30px;
  }

  .title-cart-mini{padding-top:5px;}
}
}

@media (max-width: 499px) {  

  .slide-des{display: none;}
  .collection-view{width: 100%;    margin-bottom: 10px;}

}

@media (max-width: 360px) {
  .product-top-sale .product-item .add-to-link .sca-qv-button-wrap{margin-bottom: 0;}
  .product-top-sale .price-box {
    margin: 5px 0;
  }
  .infinite-scrolling a, .infinite-scrolling-homepage a { width: 100%; }
  .button .btn { padding: 0 10px; }

  .toolbar .view-mode { margin: 16px 8px 16px 16px; }
  .toolbar .view-mode label { display: none; }

  .toolbar.toolbar-bottom { text-align: center; }
  .toolbar.toolbar-bottom .page-total { float: none; margin-bottom: 10px; }
  .pagination-page { text-align: center; }
}
@media (max-width: 991px) {
  .product-quickview .product-content { height: auto; width: 100%;}
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .template-index .nav-tabs > li > a:before {
    content: "\5e";
    left: -5px;
    top: 4px;
  }
  .template-index .nav-tabs > li > a {
    font-size: 12px;
    padding: 0px 10px;
    margin: 0;
  }
}
@media only screen and (max-width: 1200px){
  .container-page-boxed, .container {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .product-list-item .product-image,.col2sibar .product-list-item .product-image,.col3-rightsibar .product-list-item .product-image {
    width: 30% !important;
    display: inline-block;
    float: left;
  }
  .product-list-item .product-bottom,.col2sibar .product-list-item .product-bottom,.col3-rightsibar .product-list-item .product-bottom,
  .product-list-item .product-content,.col2sibar .product-list-item .product-content,.col3-rightsibar .product-list-item .product-content {
    width: 70%;
    display: inline-block;
  }
  .short-description {
    display: none;
  }
  .product-list-item .product-bottom h3,
  .product-list-item .product-content h3 {
    font-size: 14px;
  }
  .product-list-item .product-bottom .product-title,
  .product-list-item .product-content .product-title
  {padding-top:9px;}
  .product-list-item .product-button .btn.add-to-cart-btn {
    padding: 5px 6px;
    font-size: 13px;
  }
  .browse-tags {display: none;}
  .collection-view label {
    display: none;
  }
  span.special-price, .special-price span, .regular-product span {font-size: 18px;}
}

/*Ada*/
.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle; float: right;}

@media only screen and (max-width: 414px){
  .regular-product span {font-size: 16px;}
}



@media only screen and (max-width: 736px){
  #header-content .header-top{
    height: 40px;
  }
  #search-top{
    float: none;
    position: absolute;
    top: 60px;
    left: 285px;
  }
  .main-header-bar{
    height: 110px;
  }
  .row.home-category{
    padding: 0;
  }
  .AmcLogo{
    position: absolute;
  }
  #search-top input[type=text]{
    height: 35px;
  }
  #search-top button{
    height: 35px;
    line-height: 30px;
    width: 40px;
  }
}
@media only screen and (max-width: 414px){
  #search-top{
    left: 325px;
  }
}
@media only screen and (max-width: 375px){
  #search-top{
    left: 328px;
  }
}

@media only screen and (max-width: 320px){
  .search-bar input.input-group-field{
    width: 21.5rem;
  }
  #search-top{
    left: 323px;
  }
}


@media only screen and (max-width: 736px){
  #watchOnText{display:none;}
  .StarzLogo{
    position: absolute;
  }
  .bar-content{
    width: 10%!important;
    padding-left: 0;
  }
  .customer-links{
    border: none;
    background-color: transparent;
    position: relative;
    width: 70px;
    top: 0px;
  }
  .customer-links{
    padding: 0 5px 0 0;
  }
  .customer-links > li:first-child{
    display: none!important;
  }
  .customer-links > li:nth-child(2){
    display: none!important;
  }
  .customer-links li{
    padding: 0px;
    border-bottom: none;
  }
  .customer-links > li{
    margin-top: 0;
    border-left: none;
  }
  #currencies-top{
    min-width: 0;
    top: 5px;
    right: 20px;
  }
  .freeshipMessage{
    padding: 5px 0;
    left: 120px;
  }
  .cusstom-link{
    display: block!important;
  }
  .currencies-top{
    width: 60px;
  }
  .header-top .top-currency .icons{
    display: none;
  }
  #contactFormWrapper, .contact-top{
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 568px){
  .freeshipMessage{
    left: 85px;
  }
  .bar-content{
    width: 13%!important;
  }
  .top-currency{
    max-width: 568px;
  }
}

@media only screen and (max-width: 414px){
  .freeshipMessage{
    left: 70px;
  }
  .bar-content{
    width: 21%!important;
  }
  #currencies-top{
    left: 25px;
  }
}

@media only screen and (max-width: 320px){
  .freeshipMessage{
    left: 65px;
  }
}