/*
 * Copyright by By Smart Ecommerce App (SEA Inc)
 * http://www.secomapp.com
 * Do not reuse those source codes if don't have permission of us.
 * */
.sca-qv-button-wrap  {
  font-style:normal !important;
  overflow:visible !important;
	 position: initial !important;
}
.sca-qv-handle {
    opacity:1 !important;
  	filter:alpha(opacity=100) !important; 
}
.sca-qv-vendor-type {
    font-weight: normal;
    text-decoration: none;
    margin-bottom:12px;
    display:inline-block;
}
#sca-qv-vedor-type p{margin-bottom:0px;}
#sca-qv-vendor, #sca-qv-type{color:#ff665e} 
/* .sca-fancybox-skin{background:#f9f9f9 !important;} */
.sca-qv-btn {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px ;
    text-align: center;
    vertical-align: middle;
}


a.sca-qv-cartbtn, input.sca-qv-cartbtn {
  	-webkit-box-shadow:none; 
  	-moz-box-shadow:none; 
  	box-shadow:none; 
  	display:inline-block; 
  	height:36px; 
  	line-height:36px; 
  	border:none; 
  	margin:0px 12px 0px 12px !important; 
  	padding:0 20px !important; 
  	color:#fff;  
  	font-weight:700; 
  	font-size:12px; 
  	text-transform:none;
  	width:auto; 
	background:none repeat scroll 0 0 #f45b4f;
}

a.sca-qv-cartbtn:hover, input.sca-qv-cartbtn:hover { 
 	background-color:none repeat scroll 0 0 #f45b4f;
  	color:#fff; opacity:0.8;
}
a.sca-qv-cartbtn:hover:disabled, input.sca-qv-cartbtn:hover:disabled { 
  	-moz-opacity:0.20; 
  	opacity:.20; 
  	filter:alpha(opacity=20); 
  	cursor:default;
}
input.disabled.sca-qv-cartbtn:hover { 
  	background-color:none repeat scroll 0 0 #f45b4f ; 
    color:#fff; 
}
.sca-qv-cartbtn:disabled,.disabled {
  	-moz-opacity:0.20; opacity:.20; 
  	filter:alpha(opacity=20); 
  	cursor:default;}

.sca-qv-product-options { padding: 15px 0 20px; margin-bottom: 15px;
  	 border-bottom: 1px solid #dddddd;
     border-top: 1px solid #dddddd;
     margin-bottom: 15px;
     padding: 15px 0 20px;
}
.sca-qv-product-options label {clear:both; display: block; margin-bottom: 3px;  line-height: 21px; text-align: left !important;float:left !important;width:75px;float:left;margin-top:8px; margin-right: 5px !important;} 
.sca-qv-product-options select { margin-bottom: 20px; }
.sca-qv-product-options textarea { width: 30px; line-height: 18px; height: 18px; min-height: 18px; margin-bottom: 20px; }
#sca-qv-quantity {
    height: 27px !important;
    line-height: 27px !important;
    margin-bottom: 20px !important;
    width: 70px;
	float: left !important;
	padding: 4px !important;
	box-sizing: content-box !important;
}
@-moz-document url-prefix() { .sca-qv-product-options select { height: 30px; line-height: 30px; } } /* Firefox fix */

.sca-qv-hidden {display: none!important}

.sca-qv-price-container{
  
}
.sca-qv-product-price {

}


.sca-qv-product-compare-price {

}

#sca-qv-sale-text {
    display: block;
}

.sca-qv-sale {
   background-color: #f45b4f;
    border-radius: 44px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 10px;
    position: absolute !important;
    right: 4px;
    text-align: center;
    text-transform: uppercase;
    top: 48px;
    z-index: 2000;
}
 
.sca-qv-gallery a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 2px;
    text-align: center !important;
}
.sca-qv-gallery {
    margin-bottom: 10px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    text-align: center !important;
}

#gal1{margin-top:15px;}
#gal1 a{display:inline-block;margin-right:11px;}
#gal1 a{margin-bottom:12px;width:70px;}
#gal1 img {
    height: auto;
    width: 100%;
}


.quick-product-view-id{padding-bottom:0px;}
.zoomContainer {
    height: 0 !important;
    width: 0 !important;
    z-index: 9999099;
}
#sca-qv-cart-animation {
    background: none repeat scroll 0 0 #f45b4f !important;
    border: 3px solid #f45b4f;
    border-radius: 50%;
    color: #fff !important;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    position: absolute !important;
    text-align: center;
    width: 35px;

}
.quick-select {
  height: 30px;
}
.sca-qv-row {
	margin-bottom: 0px;
}
#sca-qv-des{margin-bottom:12px;margin-right:0px !important;margin-left:0px !important; text-align:justify;}
#sca-qv-reviewtext{margin-bottom:0px !important;}
#sca-qv-detail{display:inline-block;margin:15px 0;}

.quick-view-container {
	text-align: left;
}


.sca-qv-zoom-container {
    float: none;
    margin-bottom: 17px;
    text-align: center;
    background:#fff;
    
}

.sca-qv-zoom-container div {
   display: inline-block !important;
    margin: 0 auto !important;
    
}






.zoomWrapper {
}

.sqa-qv-zoomcontainer .zoomWrapper img {margin-top: 0px !important; position: relative;}

.zoomWrapper img,#gal1 img {
	 border: 1px solid #ddd 
 /*  border:none !important; */
}

.zoomWrapper img {
}


.sca-qv-gallery a  {
	border: 1px solid transparent ;
}

.sca-qv-gallery .sca-qv-gallery-a {
}

.sca-qv-gallery-a .sca-qv-gallery-img {
	/*	max-width:90px; max-height:90px; border:none; */
       
} 

.zoomGalleryActive,.zoomGalleryActive a,.sca-qv-gallery a:hover,#gal1 a:hover {
	border: 1px solid #fc4c03 !important
}




#sca-qv-previous{
    left: 14px;
    position: absolute;
    top: 47%;
    opacity:0;
    width:27px;
    height:45px;
  text-indent:-9999px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAtCAYAAABf9xDlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAShJREFUeNq82EsKwjAQBuCanTdwVfAgonTtJTyJeBLBMwjuREHoMQrdegC3TqAjMbRp5pWBH9EuPkpjM5NF27aVQdWQM+QA6fFHZwQ9IM3wWVthCK2H7+sQdIZQFYPOGMJa+WuuAPSB7CFPVwi6S58ZCZJgZIiLsSAOxoaomAiiYGIoF1OBcjA1aA5ThVKYOjSFmUBjmBkUY6ZQiJlDiBWBELskIF9HDQixv3ZrpE6QrRbWQXYJcAm5aYC4QIqA4dI3B+M/tQc3VuDY66q3AqdexCZgaotRB+c2T1Uwpy1QA3MbHhWQ0sqJQWqTKgI57Tcb5A4WLFAyMpFB6TCYCzZaA3wOePV3qDXAz4Fvf03zaGIK7Id9stM+dInBH2R1nITgK4R8fQUYACl4hLi/0tZkAAAAAElFTkSuQmCC) no-repeat scroll center center;
  z-index:9999;
     border:none;
    box-shadow: 0 0 0 0 transparent;

}
#sca-qv-previous:hover{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAtCAYAAABf9xDlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANJJREFUeNq82FsOhTAIBNALi3YBbpz7pVHjA5gZ/GrV5KQNko62LstPcMVhbNvAxdBp7mLodN8HoP25D0G0bYzke+ZTELqyEoRgZaiLtaAO1oaqGARVMBjKYhQog9GgL4wKvWF06AmTQHeYDLpiUuiIyaENG4EqHQSGFO3qE7Mp0IvbFKxtlIPeLIRgFYgMdLDUg1X6dNBJHzPt+E0D2e0qWMECBquHVAjsHL/bYDdYtEAkMpVBNAyWQEbMTYOsAG+sDsICjf3TxVQBPgvu878AAwCnaSzIn1haiwAAAABJRU5ErkJggg==) no-repeat scroll center center;
}

#sca-qv-next{
    right: 14px;
    position: absolute;
    top: 47%;
    opacity:0;
    width:27px;
    height:45px;
    text-indent:-9999px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAtCAYAAABf9xDlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASRJREFUeNq82EEKwjAQBdA6O2/gquBBRHHtGQRPIp7ElWdwJ4pCjyG49QBunUADIaRpMvOngU9Jp+RBMy2ls67rmmC0nDPnwPk04EERdOds+2NrhXlo2c+XFiAloMYKpH7RxUAdCjrswdlxfhnwiQD9nt1GwBYBht1oDlI0NwUpcc4MpIHzJiBlanCQRupQkAqugYFUeAcgIFXsrxqkyu5VgSR4NsUgCd88IlCKiUANVg1qsSoQgXnwmKk78ILC1pxTpu4+C/cEgq6ceQbacN40FaRtkCpIg1VDUkwESTAxVIupoBpMDZViEKgEg0FjGBTKYXBoCDOBUpgZFGOmUIiZQx6bBPKYW+RrDXnMLbhK/NGBQuGexSAcirvRgy8LyI2/AAMA2+SEuG7aYtcAAAAASUVORK5CYII=) no-repeat scroll center center;
   z-index:9999;
   border:none;
    box-shadow: 0 0 0 0 transparent;
}
#sca-qv-next:hover{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAtCAYAAABf9xDlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANVJREFUeNq82DsSxCAMA9CgQ+cAe3FtmwLwT3aqpOENQWbGXr/3fT4PP+/rET84QLtvGXZamGrMWpAdv7EdRCAIVO1sBEQi6lSdWSu4C0gbeEpjC3iLvhy06kwKeopaBnpvEAmIwPmWQQTTWwKRqM00mMHSYBZLgRUsDFaxEKjA3KAK4xTmvYgXpqDqzhg9T0xBWYzZhGIKimKs1hymIC9G1S2CKcjCpNANk0MnrAXaYW2Q1cBLIU8DL4O8DbxsLoIpyNvAyyY9VgMvHSndGnj57OovwACfhyzI0FtktAAAAABJRU5ErkJggg==) no-repeat scroll center center;
}
.spr-icon {
    font-size: 14px!important;
    color:#ffb51a;
}
.spr-badge-caption{
    font-size: 14px;
}
.spr-icon.spr-icon-star-empty{
    color: #969696;
}
/*
.sca-fancybox-inner:hover #sca-qv-previous, .sca-fancybox-inner:hover #sca-qv-next{opacity:1;}*/
/***************************/
.sca-qv-image{position:relative;} 

.sca-qv-button-eyes span {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATZJREFUeNqM08FHBGEYx/G3OnWKJZYYui4RQ6eIiBiiRHTqFMvSKfon+if21GkPiWUT26VTtCL22qlTKTWxbN6+7/aUp/G8Yx4+vOaZ9zfv+86M8967iDkc4QbveEYfTenF5rlYYx+vPl6hd1g1dB4dI+QJD8b1sIulstCGTNZ1gVTdM4sWRuqeMD6wQlM5M13tPM+dhd62seoTHbpinF94QE1CEnTQRyqhwb0RfPob+mg0e6EpoVfw4laFnkVe4ta0s2tGjRM1/lDjhjHva4LkVXwWnjZGIivNMEQ440VZ6V5klcf6Ra3JB67rDnXjJWXGvf++gKlJ8k8to4u62s4bzjFADZtIC1t+wQ6u/64UPtwFdH31assPU+k33cWwJCz01mO/qd6+VRvI1JYHchyXZZO+BRgA90AzsIThTKMAAAAASUVORK5CYII=)  !important;
    background-position:right center !important; 
    background-repeat: no-repeat  !important;
    padding-right: 28px  !important;
    display: inline-block !important;
} 

.sca-qv-button-plus span {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaZJREFUeNqc1MsrRGEYx/EZjSzcU0jIjkaJjSiXSC4lS7nMZuysJVH8A7KwlSS3hWQxO7F0KZcFkssGjVxW41ZCOb5vnqnj6R1q3vrMNO9553ee85z3HI/jOB6XIowi7PyMd/m+xBBy1fpfvOZDRitmkYMDHOEaxShDKY7Rjy2PbUhqMx5xhSAy1FnzMSiVPqDCVpn5KMSdXErVX5eBgATuIcUWNiB96VMH23CBOjU/Luu7bWEnOEaeOtguf6pX837cYFWH+WibHyHcum5EKqrldwuy8Yh1XCCMStsNcNRZYo1X15o1mfPqyr7gc+XXIxk1GMEY9vEsx83aNJybWnRl2zhFgepBh5y9Qc3Xyjaa0j1LIG8OJbIZ3eMNh/hU80GkY8HWs1Tsyv4J/LPPhqXaZSTatoZRLrf7A5OoVAsbMe26GU1IihUWDdyUxffSyw3sICLzprcvsjfN1fTECjPS0IUVqfQLZ1iU5zdLGh8dT+iNFaZ5LXMTav9FpIB/w2wysWQJ7IwnLNqOBRX4Hm+YR15B866wkPtNG88wL4QZefwC3wIMANDxyuunCjpHAAAAAElFTkSuQmCC)  !important;
    background-position:right center !important; 
    background-repeat: no-repeat  !important;
    padding-right: 28px  !important;
    display: inline-block !important;
	padding-top:3px !important;
} 

.sca-qv-button-normal span {
    display: inline-block !important;
  	font-family: 'HelveticaNeue Condensed Bold';
    font-size: 18px;
}
.sca-qv-image .sca-qv-button-eyes {
	 padding:8px 9px !important;
}

.sca-qv-image .sca-qv-button-plus {
	 padding:8px 9px !important;
}

.sca-qv-image .sca-qv-button-normal {
   padding:8px 18px 8px 35px!important;
}
.sca-qv-image .sca-qv-button {
    background-color: #555 ;
	text-align:center ;
	font-size: 14px ; 
	color: #fff ;
	position:absolute !important;
  	top:50% ;
	left:50%;
    margin-top: 200px;
    display: inline-block !important;
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s;
    -ms-transition:all 0.3s ease-in-out 0s;
    text-transform:none !important;
  	opacity:0; 
  	filter:alpha(opacity=0); 
    z-index: 70999 !important;
    text-decoration:none;
    font-family:tahoma;
    padding:10px 18px ;
  	clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}


.sca-qv-image .sca-qv-button:hover{
    background:  #008fbe ;
    color:  #fff ;
}
.fancybox-skin {
    background:#fff;
}
.sca-sold-out{color:#ff665e;font-size:18px;}
.name-title{font-size:21px;font-weight:normal;margin-bottom:15px;}
.name-title strong{font-weight:normal}
.sca-qv-product-price {
    color: #ff665e;
    font-size: 23px;
    font-weight: normal;
}
.sca-qv-product-compare-price{color:#444;font-size:16px;}
.sca-qv-price-container {
    margin-bottom: 12px;
}
.clear-both{clear:both;height:0px;}
.sca-qv-product-options select {
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
    padding: 9px 6px 0 !important;
    width:250px;
	background-color: #ffffff;
	border: 1px solid #ccc !important;
}

.sca-left {
    /* background: none repeat scroll 0 0 #fff; */
    float: left;
    width: 48%;
    padding:30px 0 15px;
	padding-left:1%;
	padding-right: 1%;
}
.fancyox-view-detail .zoomWrapper img {
    border:none;
}
.sca-right {
    float: right;
    margin-right: 2%;
    padding: 30px 0% 25px;
    width: 46%;
	font-size: 13px;
}
/***************************/

@media ( max-width : 768px) {
	.zoomWrapper {
		margin: auto
	}
}

/***************************/

a.sca-qv-cartbtn, input.sca-qv-cartbtn{
height:37px !important;
line-height:37px !important;
	text-decoration:none !important;
}
.sca-qv-product-options{border-bottom:0px !important;} 
.sca-qv-product-options select {
    padding: 5px 6px !important;
}
/***************************/
.sca-qv-optionrow div {margin-bottom:0px; !important;max-width:none !important}

#sca-qv-add-item-form {
	margin :0px !important;
}

#sca-qv-variant-options .selector-wrapper {
	margin: 0px !important;
}

#sca-qv-variant-options .selector-wrapper select{
	/* max-width: 275px !important; */
  	width: 60% !important;
	max-width:none !important;
	opacity: 1 !important;
	display: block !important;
	-moz-appearance: menulist !important;
  	-webkit-appearance: menulist !important;
	
    background-image: none !important;
	cursor: pointer;
}


#sca-qv-detail {
    display: inline-block;
    margin: 0 0 15px;
}
#sca-qv-reviewtext {
    margin-bottom: 11px;
}

.sca-qv-inventory-total {
	color: #ff665e;
    font-size: 18px;
    font-weight: bold;
}

.google-plus,.tweet-btn, .pinterest, .facebook-like {
    float: left;
    margin-right: 10px;
    width: auto !important;
}

.sca_qv_product__social {
	margin-top: 3px ;
	padding-left: 0px ;
    padding-right: 0px ;
  margin-bottom: 10px ;
}

.sca_qv_product__social:before,.sca_qv_product__social:after {
	content: "";
	display: table
}

.sca_qv_product__social:after {
	clear: both
}

.sca_qv_product__social span {
	display: inline-block;
	position: relative;
}

.sca_qv_product__social p.sca_qv_productsocialtext {
	color: #000;
	margin: 0;
	text-align: center
}

.sca_qv_product__social .facebook-like {
	margin-left: 3px
}

.sca_qv_product__social p.sca_qv_productsocialtext {
	color: #000;
	margin: 0;
	text-align: left !important;
}

.sca_qv_product__social .facebook-like {
	margin-left: 3px
}

#pinterest a {
	height: 21px !important
}
.google-plus div {display :block !important;}

a.disabled:hover {
  	-moz-opacity:0.20; opacity:.20; 
  	filter:alpha(opacity=20); 
  	cursor:default;}

.sca-next-back {
    background: none repeat scroll 0 0 transparent;
    height: 40px;
    position: absolute;
    top:0;
    width: 100%;
}

.sca-qv-bannercontent {
  	width: 96% !important;
  	position:absolute;
   	overflow:hidden;
  	height:auto;
   	margin: 8px auto 0;
	text-align:center !important;
    font-size: 13px;
}
.sca-qv-bannercontent span {white-space:nowrap;}

.sca-qv-optionrow span {
    padding: 0 !important;
}

#sca-qv-variant-options .single-option-selector {display:block !important; opacity:1 !important;}


@media screen and (max-width: 767px) {
  
  #mobileNavBar {
    z-index: 99;
  }
  .sca-fancybox-opened {
  	width: 99.5% !important;
    left: 0 !important;
    z-index: 9900;
  }
  
  .sca-fancybox-opened .sca-fancybox-inner,
  .sca-fancybox-opened .sca-left-config,
  .sca-fancybox-opened .sca-right{
    width: 100% !important;
    float: none;
  }
  
  .sca-fancybox-opened .sca-right {
    float: none;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fancyox-view-detail .zoomWrapper img {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 414px) {
  .sca-qv-image .sca-qv-button-normal{
    padding: 0!important;
  }
  .sca-qv-button-normal span{
    font-size: 10px;
  }
  .sca-qv-image .sca-qv-button{
    left: 50%;
    margin-top: 95px;
  }
}

@media screen and (max-width: 480px) {
  .sca-qv-bannercontent {
    width: 93% !important;
  }
}

@media screen and (max-width: 320px) {
  .sca-qv-bannercontent {
    width: 90% !important;
  }
}

.sca-qv-product-options select {
  height: 40px;
}
