<!-- snippets/collection-pagination.liquid -->
  <div class="pagination">
    {% if pagination_amounts.size > 0 %}
      <p class="inline no-margin s-hide">
        {{ 'collection.pagination.title' | t }}
        {% for amount in pagination_amounts %}
          {% assign compare_amount = amount | plus: 0 %}
          <span class="pagination-amount">
            {% if compare_amount == pagination_amount %}
              {{ amount }}
            {% else %}
              <a href="/collections/{{ collection.handle }}?collection={{ amount }}" title="{{ 'collection.pagination.collection' | t: amount: amount }}" data-paginate-by="{{ amount }}">{{ amount }}</a>
            {% endif %}
          </span>
        {% endfor %}

        <span class="pagination-amount">
          {{ 'collection.pagination.total' | t: total: collection.all_products_count }}
        </span>
      </p>
    {% endif %}

    {% if paginate.pages > 1 %}
      <p class="inline no-margin">
        {% if paginate.previous %}
          <a href="{{ paginate.previous.url }}" data-paginate="{{ paginate.previous.title }}">
            {{ 'common.pagination.previous' | t }}
          </a>
        {% else %}
          {{ 'common.pagination.previous' | t }}
        {% endif %}
      </p>

      <select class="inline" data-paginate>
        {% for page in (1..paginate.pages) %}
          <option value="{{ page }}"{% if paginate.current_page == page %} selected{% endif %}>{{ 'collection.pagination.of' | t: page: page, total: paginate.pages }}</option>
        {% endfor %}
      </select>

      <p class="inline no-margin">
        {% if paginate.next %}
          <a href="{{ paginate.next.url }}" data-paginate="{{ paginate.next.title }}">
            {{ 'common.pagination.next' | t }}
          </a>
        {% else %}
          {{ 'common.pagination.next' | t }}
        {% endif %}
      </p>
    {% endif %}
  </div>

  <script>
    $(document).ready(function() {
      // Update all applicable pagination selects
      $('[data-paginate]').on('change', function() {
        var newPagination = $(this).val();
        $('[data-paginate]').each(function() {
          if ($(this).val() != newPagination) {
            $(this).val(newPagination).change();
          }
        });
      });
    });
  </script>
