<!-- /snippets/collection-product.liquid -->

{% if collection-product == 'list' or collection-product == 'order-form' %}
  {% assign column_width = 'column l12' %}
{% endif %}

{% unless column_width %}
  {% assign column_width = 'column l3 m4 s12' %}
{% endunless %}

{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign collection_pre_order = false %}
{% assign price = product.price | money %}

{% if product.template_suffix == 'pre-order' %}
  {% assign collection_pre_order = true %}
{% endif %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Capture the metafields for the quicklook
{% endcomment %}
{% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku' | split: ',' %}

{% comment %}
  Let's check if this product is on sale, if it is we'll calculate the total savings
  If savings are less than 50% of the product's price, we'll show the saving in dollars
  Otherwise, we'll show the savings as a percentage

  We can always show the savings as a percentage by setting always_show_as_percentage to true
{% endcomment %}
{% assign always_show_as_percentage = true %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% assign compare_price_decimal = product.compare_at_price | plus: 0.00 %}
  {% assign price_decimal = product.price | plus: 0.00 %}
  {% assign percentage = price_decimal | divided_by: compare_price_decimal | times: 100 %}
  {% if percentage <= 50 or always_show_as_percentage %}
    {% assign savings = 100 | minus: percentage | round | append: '%' %}
  {% else %}
    {% assign savings = product.compare_at_price | minus: product.price | money | append: '!' %}
  {% endif %}
{% endif %}

<div class="{{ column_width }} collection-product{% if sold_out %} sold_out{% endif %}{% if on_sale %} on_sale{% endif %}">

  {% if collection-product == 'list' %}
    <div class="row condensed">
      <div class="column l3 m3 s12">
        <a class="product-image" href="{{ product.url | within: collection }}">
          <div class="relative bg-foreground ratio" data-ratio="1:1">
            {% if product.featured_image %}
              <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
            {% else %}
              {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
              <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
            {% endif %}
            {% if quicklook %}
              {% assign product_description = product.description %}
              {% unless product_description contains '<p' and product_description contains '</p>' %}
                {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
              {% endunless %}
              {% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
              <pre class="hidden" data-product="{{ product.id }}">
                {{ product | json | replace: ',"description":"', truncated_description }}
              </pre>
              <pre class="hidden" data-metafields="{{ product.id }}">
                {
                  {%- for namespace in metafield_namespaces -%}
                    {{ namespace | json }}: {
                      {%- for metafield in product.metafields[namespace] -%}
                        {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
                      {%- endfor -%}
                    },
                  {%- endfor -%}
                  "pre_order": {{ collection_pre_order | json }}
                }
              </pre>
              <div class="absolute quicklook center s-hide">
                <button class="bitmap no-hover" data-quicklook="{{ product.id }}"><img src="{{ 'button-quicklook.png' | asset_url }}"></button>
              </div>
            {% endif %}
            {% if on_sale %}
              <div class="absolute sticker">
                <button class="small monochromatic t-capitalize">{{ 'product.savings' | t: savings: savings }}</button>
              </div>
            {% endif %}
          </div>
        </a>
      </div>
      <div class="column l9 m9 s12">
        <p class="padding-top-05x padding-bottom">
          <a href="{{ product.url | within: collection }}" class="product-title">{{ product.title }}</a>
          {% if product.description != blank %}<br><span>{{ product.description | strip_html | split: '.' | first | append: '.' | truncate: 200 }}</span>{% endif %}
        </p>

        <!-- Product reviews -->
        <div id="category-snippet-{{ product.metafields.sku.parent }}"></div>

        <p class="padding-top padding-bottom">
          {% if on_sale %}
            {% if product.price_varies %}
              {% capture price_string %}
                {{ product.price_min | money }} - {{ product.price_max | money }}
              {% endcapture %}
            {% else %}
              {% assign price_string = price %}
            {% endif %}
            {{ 'product.priced_sale_html' | t: price: price_string }}
            <br>

            {% if product.compare_at_price_varies %}
              <s>{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</s>
            {% else %}
              <s>{{ product.compare_at_price | money }}</s>
            {% endif %}

            <br>
            ({{ 'product.savings' | t: savings: savings }})
          {% else %}

            {{ 'product.priced_html' | t: price: price }}
          {% endif %}
        </p>
      </div>
    </div>

    <hr class="dotted margin-bottom-2x">
  {% elsif collection-product == 'order-form' %}

    {% assign multiple_variants = false %}
    {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
      {% assign multiple_variants = true %}
    {% endunless %}
    <div class="row condensed">
      <div class="column l3 m3 s12">
        <a class="product-image" href="{{ product.url | within: collection }}">
          <div class="relative bg-foreground ratio" data-ratio="1:1">
            {% if product.featured_image %}
              <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
            {% else %}
              {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
              <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
            {% endif %}
            {% if on_sale %}
              <div class="absolute sticker">
                <button class="small monochromatic t-capitalize">{{ 'product.savings' | t: savings: savings }}</button>
              </div>
            {% endif %}
          </div>
        </a>
      </div>
      <div class="column l9 m9 s12">
        <p class="padding-top-05x padding-bottom">
          <a href="{{ product.url | within: collection }}" class="product-title">{{ product.title }}</a>
          {% if product.description != blank %}<br><span>{{ product.description | strip_html | split: '.' | first | append: '.' | truncate: 200 }}</span>{% endif %}
        </p>
        <p class="no-margin">
          {{ product.metafields.shipsto.country }}
        </p>
        <p class="no-margin">
          SKU: {{ product.metafields.sku.parent }}
        </p>
        <p class="no-margin">
          {{ product.metafields.shipping.days }}
        </p>
        <!-- Product reviews -->
        <div id="category-snippet-{{ product.metafields.sku.parent }}"></div>
        {% if multiple_variants %}
          {% for option in product.options_with_values %}
            <div class="padding-top">
              <label{% if option.name == 'Default Title' or product.options.size == 1 %} class="hidden"{% endif %} for="SingleOptionSelector-{{ forloop.index }}">
                {{ option.name }}
              </label>
              <select class="order-form-option-selector" data-product-id="{{ product.id }}">
                <option value="" selected>Make a selection</option>
                {% for value in option.values %}
                  <option value="{{ forloop.index }}">
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        {% endif %}

        <select class="variant-select hidden" data-product-id="{{ product.id }}">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option value="{{ variant.id }}">
                {{ variant.title }} - {{ variant.price | money_with_currency }}
              </option>
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'product.sold_out' | t }}
              </option>
            {% endif %}
          {% endfor %}
        </select>

        <div class="padding-top">
          <h4 class="no-margin">Quantity</h4>
          <p class="no-margin">
            <div class="quantity-adjust inline v-middle">
              <a class="adjust MinusOne">&#8211;</a>
              <input type="text" class="quantity" data-product-id="{{ product.id }}" data-variant-id="{{ product.first_available_variant.id }}" value="0" min="0">
              <a class="adjust PlusOne">&#43;</a>
            </div>
          </p>
        </div>

        <p class="padding-bottom">
          {% if on_sale %}
            {{ 'product.priced_sale_html' | t: price: price }}
            <br>
            <s>{{ product.compare_at_price | money }}</s>
            <br>
            ({{ 'product.savings' | t: savings: savings }})
          {% else %}
            {{ 'product.priced_html' | t: price: price }}
          {% endif %}
        </p>
      </div>
    </div>

    <hr class="dotted margin-bottom-2x">
  {% else %}
    <a class="product-image" href="{{ product.url | within: collection }}">
      <div class="relative bg-foreground ratio" data-ratio="1:1">
        {% if product.featured_image %}
          <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
        {% else %}
          {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
          <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
        {% endif %}
        {% if quicklook %}
          {% assign product_description = product.description %}
          {% unless product_description contains '<p' and product_description contains '</p>' %}
            {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
          {% endunless %}
          {% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
          <pre class="hidden" data-product="{{ product.id }}">
            {{ product | json | replace: ',"description":"', truncated_description }}
          </pre>
          <pre class="hidden" data-metafields="{{ product.id }}">
            {
              {%- for namespace in metafield_namespaces -%}
                {{ namespace | json }}: {
                  {%- for metafield in product.metafields[namespace] -%}
                    {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}
                },
              {%- endfor -%}
              "pre_order": {{ collection_pre_order | json }}
            }
          </pre>
          <div class="absolute quicklook center s-hide">
            <button class="bitmap no-hover" data-quicklook="{{ product.id }}"><img src="{{ 'button-quicklook.png' | asset_url }}"></button>
          </div>
        {% endif %}
        {% if on_sale %}
          <div class="absolute sticker">
            <button class="small monochromatic t-capitalize">{{ 'product.savings' | t: savings: savings }}</button>
          </div>
        {% endif %}
      </div>
    </a>

    <p class="padding-top-05x padding-bottom no-margin">
      <a href="{{ product.url | within: collection }}" class="product-title">{{ product.title }}</a>
    </p>

    <!-- Product reviews -->
    <div id="category-snippet-{{ product.metafields.sku.parent }}"></div>

    <p class="padding-top padding-bottom">
      {% if on_sale %}
        {% if product.price_varies %}
          {% capture price_string %}
            {{ product.price_min | money }} - {{ product.price_max | money }}
          {% endcapture %}
        {% else %}
          {% assign price_string = price %}
        {% endif %}
        {{ 'product.priced_sale_html' | t: price: price_string }}
        <br>
        {% if product.compare_at_price_varies %}
          <s>{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</s>
        {% else %}
          <s>{{ product.compare_at_price | money }}</s>
        {% endif %}
        <br>
        ({{ 'product.savings' | t: savings: savings }})
      {% else %}
        {% if product.price_varies %}
          {% capture price_string %}
            {{ product.price_min | money }} - {{ product.price_max | money }}
          {% endcapture %}
        {% else %}
          {% assign price_string = price %}
        {% endif %}
        {{ 'product.priced_html' | t: price: price }}
      {% endif %}
    </p>
  {% endif %}

</div>
