<!-- snippets/collection-promos.liquid -->
{%- assign _block_display_type = 'none' %}
{% for _block in section.blocks %}
  {% if _block.type == 'promo' %}
    {% if _block.settings.display == 'collection' and _block.settings.collection == collection.handle %}
      {%- assign _block_display_type = 'collection' %}
      {% break %}
    {% elsif _block.settings.display == 'link_list' and _block_display_type != 'collection' %}
      {% for link in linklists[_block.settings.link_list].links %}
        {% if link.url == collection.url %}
          {%- assign _block_display_type = 'link_list' %}
        {% endif %}
      {% endfor %}
    {% elsif _block.settings.display == '' and _block_display_type != 'link_list' and _block_display_type != 'collection' %}
      {%- assign _block_display_type = '' %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for block in section.blocks %}
  {% if block.type == 'promo' %}
    {% assign display_promo = false %}

    {% if block.settings.display == '' and _block_display_type == '' %}
      {% assign display_promo = true %}
    {% elsif block.settings.display == 'link_list' and _block_display_type == 'link_list' %}
      {% for link in linklists[block.settings.link_list].links %}
        {% if link.url == collection.url %}
          {% assign display_promo = true %}
        {% endif %}
      {% endfor %}
    {% elsif block.settings.display == 'collection' and block.settings.collection == collection.handle %}
        {% assign display_promo = true %}
    {% endif %}

    {% if display_promo %}
      {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="block">{% endif %}
        {% if block.settings.image != blank %}
          {% assign size = block.settings.image.width | append: 'x' %}
          <img class="wide" src="{{ block.settings.image | img_url: size }}">
        {% endif %}
      {% if block.settings.link != blank %}</a>{% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
