<!-- snippets/icon.liquid -->

{% comment %}
  Don't forget to compress your icons! https://jakearchibald.github.io/svgomg/
  All icons must be created at a viewbox of 32x32 regardless of size to be scaled to
{% endcomment %}


{% comment %}
   I have assigned this to be icon_size so that it is not interfered with by other liquid variables that are assigned to size.
{% endcomment %}
{% unless icon_size %}
  {% assign icon_size = 24 %}
{% endunless %}

<span class="icon" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" class="{{ icon }}" width="{{ icon_size }}" height="{{ icon_size }}" aria-label="{{ icon | capitalize }}" role="img" viewbox="0 0 32 32">
    <title>{{ icon | replace: '-', '' | capitalize }}</title>
    <desc>{{ icon | replace: '-', '' | capitalize }} {{ 'common.icon' | t }}</desc>
    {%- case icon -%}
    {% when 'menu' %}
      <g class="stroke">
        <path d="M2 16h28"/>
        <path d="M2 7h28M2 25h28"/>
      </g>
    {% when 'previous' %}
      <path d="M21 .586L5.586 16 21 31.414 26.414 26l-10-10 10-10z" class="fill"/>
    {% when 'next' %}
      <path d="M5.586 6l10 10-10 10L11 31.414 26.414 16 11 .586z" class="fill"/>
    {% when 'up' %}
      <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm6.7 19.7c-.2.2-.4.3-.7.3s-.5-.1-.7-.3L16 14.4l-5.3 5.3c-.4.4-1 .4-1.4 0s-.4-1 0-1.4l6-6c.4-.4 1-.4 1.4 0l6 6c.4.4.4 1 0 1.4z" class="fill"/>
    {% when 'down' %}
      <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm6.7 13.7l-6 6c-.2.2-.4.3-.7.3s-.5-.1-.7-.3l-6-6c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.3 5.3 5.3-5.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4z" class="fill"/>
    {% when 'close' %}
      <g>
        <circle fill="#FFF" cx="16" cy="16" r="15"/>
        <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm7.1 20.2c.4.4.4 1 0 1.4L21.7 23c-.4.4-1 .4-1.4 0L16 18.8 11.8 23c-.4.4-1 .4-1.4 0L9 21.6c-.4-.4-.4-1 0-1.4l4.2-4.2L9 11.8c-.4-.4-.4-1 0-1.4L10.4 9c.4-.4 1-.4 1.4 0l4.2 4.2L20.2 9c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4L18.8 16l4.3 4.2z" class="fill"/>
      </g>
    {% when 'plus' %}
      <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm9 17c0 .6-.4 1-1 1h-6v6c0 .6-.4 1-1 1h-2c-.6 0-1-.4-1-1v-6H8c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1h6V8c0-.6.4-1 1-1h2c.6 0 1 .4 1 1v6h6c.6 0 1 .4 1 1v2z" class="fill"/>
    {% when 'search' %}
      <g class="stroke">
        <path d="M30 30l-8.5-8.5"/>
        <circle cx="13" cy="13" r="12"/>
      </g>
    {% when 'elkfox' %}
      <g><path d="M0 0h32v32H0z" fill="none"/><path class="fill" d="M13.894 15.598c0 .003 3.02-5.426 2.18-5.77-.993-.407-2.1 4.88-2.18 5.77zm8.493-5.465C20.96 9.94 20.212 15.19 20.2 15.32c.185 0 3.262-5.04 2.187-5.187zM9.894 16.048s3.024-5.915 2.162-6.273c-.862-.358-2.162 6.273-2.162 6.273zm10.36 6.387c1.67.06 0-4.663-.36-4.663-.133 0-1.02 4.576.36 4.663zm4.302-6.758c-1.187-.173-2.248 3.09-.763 3.46 1.486.373 1.95-3.288.763-3.46zm4.476 2.652c-.28.53-.85 1.58-1.3 1.73-1.116.37-1.468-1.08-1.34-1.48.13-.4.31-.54.597-.57.41-.04.12.74.51.544.29-.16.91-1.204.91-1.403 0-.266-.37-.77-.517-.87-.456-.317-.504-.004-1.048-.004s-.717-.237-.594-.023c.195.72.158 1.226.103 1.6-.088.577-.555 2.5-2.34 2.49-2.403-.01-2.12-2.753-2.11-2.876-.21.08-.76.16-.75.185 1.44 2.463 1.44 6.04-1.03 5.93-2.135-.1-1.67-4.016-1.67-4.07-2.572 1.41-3.27-.02-3.336-.488-.357-2.476 2.4-1.93 2.11-2.77-.29-.837-1.57.265-2.006.9-.434.633-.54 1.174-.826 1.77-1.22 2.54-1.937.433-1.835.165-3.364 2.36-3.444-.107-3.72-.36-1.28 1.355-5.16 2.693-7.42 1.53C-.83 19.1.01 16.444.98 15.64c.964-.807 2.327-.92 2.555-.95-2.737-.377-2.18-2.75-1.962-3.255.22-.504 1.878-3.422 6.368-1.286.61.286 1.71.992 1.19 1.815-.67 1.07-1.17 1.163-1.43 1.163s-.19-.977.03-1.485c.11-.244-3.952-1.776-4.682.067-.73 1.845 1.21 2.078 2.192 2.365.404.12.633.318.633.683v.61c0 .245-.17.42-.5.42-.335 0-3.83-.42-3.575 2.226.167 1.73 2.41 1.287 2.91 1.165.905-.22 1.77-.56 2.59-.98.674-.35 1.218-.948 1.284-1.15.065-.206.99-8.655 3.52-8.655 2.526 0 .926 5.225-1.707 8.85-.26.36-.424 1.348.18 1.348.605 0 2.034-1.125 2.034-1.173 0-1.384.98-9.65 3.85-8.85 2.69.744-1.374 7.264-1.374 7.264s.162-.245.557-.65c.716-.73 1.92-.558 2.41.044.42.514 1.13 1.906-1.115 2.74-.545.2-.756.555-.2.697.53.136 1.82-.507 1.913-1.276.176-1.405 1.043-9.116 3.91-8.53 3.123.635-1.017 7.25-1.844 7.47.166-.02 1.277-.07 1.53-.367.346-.4.78-1.406 1.92-1.524 1.14-.118 1.5.19 1.937.442.18.108.33.458 1.286.054.954-.404 1.405-.133 1.956 1.193.13-.12.527-.605 1.466-1.14.583-.334.934-.19 1.054 0 .235.364.26.96-.2 1.12-.82.283-1.73.98-1.782 1.14-.053.157.527 1.012.78 1.33.437.45.99-.673 1.276 0 .285.674-.694 1.425-1.183 1.492-.496.07-.872.023-1.15-.48"/></g>
    {% when 'shopify' %}
      <path class="fill" d="M26.6 6.2c0-.2-.2-.3-.3-.3-.1 0-2.6-.2-2.6-.2S22 4.1 21.8 3.9c-.2-.2-.6-.1-.7-.1 0 0-.4.1-1 .3-.5-1.6-1.5-3.1-3.3-3.1h-.1c-.5-.7-1.1-1-1.7-1-4.1 0-6.1 5.2-6.7 7.8-1.6.5-2.8.8-2.9.9-.9.3-.9.3-1 1.1-.1.6-2.4 18.8-2.4 18.8L20.2 32l9.9-2.1S26.6 6.4 26.6 6.2zM16.5 5v.2c-1 .3-2.1.6-3.2 1 .6-2.4 1.8-3.5 2.8-3.9.3.6.4 1.5.4 2.7zm-1.6-3.9c.2 0 .4.1.5.2-1.3.6-2.7 2.2-3.3 5.3-.9.3-1.7.5-2.5.8.7-2.4 2.3-6.3 5.3-6.3zm.7 14s-1.1-.6-2.4-.6c-1.9 0-2 1.2-2 1.5 0 1.7 4.3 2.3 4.3 6.2 0 3.1-1.9 5-4.5 5-3.1 0-4.7-1.9-4.7-1.9l.8-2.8s1.6 1.4 3 1.4c.9 0 1.3-.7 1.3-1.2 0-2.2-3.5-2.3-3.5-5.8 0-3 2.1-5.9 6.5-5.9 1.7 0 2.5.5 2.5.5l-1.3 3.6zm2-10.2v-.3c0-1-.1-1.8-.4-2.5.9.1 1.5 1.2 1.9 2.3-.4.2-.9.3-1.5.5z"/>
    {% else %}
      <!-- No icon found -->
      <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
    {%- endcase -%}
  </svg>
</span>
