<!-- snippets/product-images.liquid -->
<script>
$(function() {
  $('.product-image-tabs > [data-tab-toggle="#TabProductPhotos"]').click(function() {
    $('#TabProductPhotos > #ProductPhoto').resize();
  });
});
</script>
<div id="ProductPhoto" class="margin-bottom">
  {% if product.images.size > 0 %}
    {% for image in product.images %}
      <div class="product-image bg-foreground zoom-wrapper">
        <img src="{{ image | img_url: '1024x1024' }}">
      </div>
    {% endfor %}
  {% else %}
    {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
    <div class="product-image bg-foreground">
      <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
    </div>
  {% endif %}
</div>
