<!-- snippets/product-features.liquid -->

{% if product.metafields.shipsto.country != blank %}
  <p>
    {{ product.metafields.shipsto.country }}
  </p>
{% endif %}

{% for block in section.blocks %}
  {% if block.type == 'feature' %}
    {% assign display = false %}

    {% if block.settings.display == '' or block.settings.display_on == blank %}
      {% assign display = true %}
    {% elsif block.settings.display == 'tag' %}
      {% if product.tags contains block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'type' %}
      {% if product.type == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'vendor' %}
      {% if product.vendor == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% endif %}

    {% if display %}
      <div class="product-feature margin-bottom-2x">
        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            <a class="block" {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %}>
          {% endif %}
        {% endif %}

        {% unless block.settings.image == blank %}
          {% assign size = block.settings.image.width | append: 'x' %}
          <img class="v-middle" src="{{ block.settings.image | img_url: size }}">
        {% endunless %}

        {% unless block.settings.content == blank %}
          <div class="inline rte v-middle">{{ block.settings.content }}</div>
        {% endunless %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% unless block.settings.link_text == blank %}
            <p class="inline no-margin v-middle"><a {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_text }}</a></p>
          {% endunless %}
        {% endif %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

<div class="product-infofields margin-bottom-2x">
  {% assign product_infofields = 'genres,directors,writers,actors,theatrical_release_date' | split: ',' %}

  {% for infofield in product_infofields %}
    {% if product.metafields.productinfo[infofield] != blank %}
      {% assign infofield_content = product.metafields.productinfo[infofield] %}

      {% if infofield_content contains ',' %}
        {% assign infofield_contents = infofield_content | split: ',' %}
        {% assign infofield_translation = infofield_content | split: ',' %}
        {% assign infofield_contents_count = infofield_contents.size %}
      {% else %}
        {% assign infofield_contents = infofield_content %}
        {% assign infofield_contents_count = 1 %}
      {% endif %}

      {% assign infofield_translation_key = 'product.infofields.' | append: infofield %}
      {% assign infofield_translation = infofield_translation_key | t: count: infofield_contents_count %}

      <p class="no-margin">
        <span>{{ infofield_translation }}: </span>
        {% for infofield_content_item in infofield_contents %}
          {% if infofield == 'theatrical_release_date' %}
            <span>{{ infofield_content_item }}</span>{% unless forloop.last %}, {% endunless %}
          {% else %}
            {% assign infofield_content_item_search_query = infofield_content_item | url_encode %}
            <a href="/search?q={{ infofield_content_item_search_query }}" title="{{ 'product.infofields.all' | t: info: infofield_content_item }}">{{ infofield_content_item }}</a>{% unless forloop.last %}, {% endunless %}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  {% endfor %}
</div>
