<!-- /snippets/template-collection-order-form.liquid -->

{% assign pagination = section.settings.pagination %}

{% paginate collection.products by 50 %}

  <div class="container l padding-bottom-2x">
    {% if collection.image %}
      <img class="wide s-hide margin-bottom" src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
    {% endif %}

    <div class="row collapsed no-margin">

      <div class="column collapsed l12 m12 s12">
        <header data-section-type="collection" class="margin-bottom">
          <div class="row condensed no-margin">
            <div class="column l12">
              <div class="s-hide">
                {% include 'theme-breadcrumbs' %}
              </div>
              {% include 'collection-promos' %}
            </div>
          </div>

          <div class="row l-table m-table condensed no-margin">
            <div class="column l6 m6 s12 left v-middle">
              <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">{{ collection.title }}</h1>
              {% if collection.description != blank %}
                <div class="rte">
                  {{ collection.description }}
                </div>
              {% endif %}
            </div>
          </div>

          <hr>

          <div class="row collapse table s-hide no-margin">
            <div class="column l12 right v-middle m-hide">
              {% include 'collection-pagination' %}
            </div>
          </div>
        </header>

        <section>
          <div class="row condensed">
            {% for product in collection.products %}
              {% include 'collection-product' with 'order-form' %}
            {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}
                {% unless emptyState %}
                  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                  {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}
              {% else %}
                <div class="column l12">
                  <h4>{{ 'collection.no_matches.title' | t }}</h4>
                  {% if current_tags %}
                    <p>{{ 'collection.no_matches.filters' | t }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="row collapse">
            <div class="column l6 left v-middle">
              {% include 'collection-pagination' %}
            </div>
            <div class="column l6 right v-middle">
              <button class="blue medium" id="AddToCartOrderForm">
                <span>{{ 'product.add_to_cart' | t }}</span>
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

{% endpaginate %}

<script>
  $(document).ready(function() {
    $(document).on('click', '#AddToCartOrderForm', function(event) {
      event.preventDefault();
      $('[data-variant-id]').each(function() {
        var quantity = $(this).val();
        if(quantity > 0 ) {
          var id = $(this).data('variant-id');
          if(id != '') {
            cart.addItem(id, quantity);
            $(this).val('0');
            $('.order-form-option-selector').each(function() {
              $(this).val('');
            })
          }
        }
      });
    });

    $(document).on('change', '.order-form-option-selector', function(event) {
      var product = $(this).data('product-id');
      var index = Number($(this).val());
      $('.variant-select[data-product-id="'+ product +'"]').prop('selectedIndex', index).change();
    });

    $(document).on('change', '.variant-select', function(event) {
      var product = $(this).data('product-id');
      var variant = $('.variant-select[data-product-id="'+ product +'"]').val();
      $('.quantity[data-product-id="'+ product +'"]').data('variant-id', variant);
    });

    $(document).on('click', '.PlusOne', function(event) {
      event.preventDefault();
      var $quantity = $(this).prev('.quantity');
      var id = $quantity.data('product-id');
      var $select = $('.order-form-option-selector[data-product-id="'+ id +'"]');
      var $select = $('.order-form-option-selector[data-product-id="'+ id +'"]');
      if($select.length != 0) {
        if($select.val() === '') {
          alert('Please make a selection')
        } else {
          $quantity.val(Number($quantity.val())+1);
        }
      } else {
        $quantity.val(Number($quantity.val())+1);
      }
    });
    $(document).on('click', '.MinusOne', function(event) {
      event.preventDefault();
      var $quantity = $(this).next('.quantity');
      var id = $quantity.data('product-id');
      var $select = $('.order-form-option-selector[data-product-id="'+ id +'"]');
      if($select.length != 0) {
        if($select.val() === '') {
          alert('Please make a selection')
        } else {
          $quantity.val(Number($quantity.val())-1);
        }
      } else {
        $quantity.val(Number($quantity.val())-1);
      }
    });

    $(".quantity").on("change paste click", function(event) {
      event.preventDefault();
      var $quantity = $(this);
      var id = $quantity.data('product-id');
      var $select = $('.order-form-option-selector[data-product-id="'+ id +'"]');
      if($select.length != 0) {
        if($select.val() === '') {
          $quantity.val(0);
          alert('Please make a selection')
        }
      }
    });


    $('.order-form-option-selector').each(function() {
      $(this).val('');
    });

  });
</script>
