<!-- /snippets/template-collection-landing.liquid -->

{% assign heading = section.settings.heading %}

<div class="container l padding-bottom-2x padding-top-2x">
  {% if collection.image %}
    <img class="wide s-hide margin-bottom" src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
  {% endif %}

  <div class="row collapsed no-margin columns-18">
    <div class="column collapsed l4 m4 s18 s-hide">
      <aside>
        {% include 'collection-links' with 'no-limit' %}
      </aside>
    </div>
    <div class="row l-table m-table condensed no-margin m-hide l-hide xl-hide">
      <div class="column l6 m6 s12 left v-middle">
        <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">
          {% if collection_title != blank %}
            {{ collection_title }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </h1>
        {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
      <div class="column l6 right v-middle">
        <div class="s-hide">
          <label class="inline no-margin v-middle">{{ 'collection.view.title' | t }}</label>
          {% for view in collection_views %}
            {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
            <p class="inline v-middle no-margin">
              {% if view == collection_view %}
                <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
              {% else %}
                <a class="no-decoration" href="/collections/{{ collection.handle }}?type={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-collection-view="{{ view }}">
                  <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                  <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                </a>
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column collapsed l14 m14 s18">
      <header data-section-type="collection">
        <div class="row condensed no-margin">
          <div class="column l12">
            {% include 'collection-promos' %}
          </div>
        </div>

        {% if heading %}
          <div class="row l-table m-table condensed margin-bottom">
            <div class="column l6 m6 s12 left v-middle">
              <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">{{ collection.title }}</h1>
              {% if collection.description != blank %}
                <div class="rte">
                  {{ collection.description }}
                </div>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endif %}
      </header>

      <section>
        {% for block in section.blocks %}
          {% if block.type == 'slideshow' %}
            {% if block.settings.collection == collection.handle %}
              {% assign speed = block.settings.speed %}
              {% assign thumbnails = block.settings.thumbnails %}
              {% assign pause = true %}
              {% assign fade = true %}
              {% assign arrows = false %}
              {% assign size = 0 %}
              {% assign count = 0 %}
              {% assign thumbnail_size = '800x' %}
              {% assign thumbnail_ratio = '24:9' %}

              <div class="row condensed slideshow-{{ block.id }}" {{ block.shopify_attributes}}>
                <div class="column l12">
                  <div class="slideshow-container bg-border">
                    <div id="slick-{{ block.id }}" class="padding">
                      {% for i in (1..5) %}
                        {% assign image_key = 'image_' | append: i %}
                        {% assign link_key = 'link_' | append: i %}
                        {% if block.settings[image_key] != blank %}
                          {% assign size = size | plus: 1 %}
                          {% if block.settings[link_key] != blank %}<a class="block" href="{{ block.settings[link_key] }}">{% endif %}
                            <img class="wide" src="{{ block.settings[image_key] | img_url: '1400x' }}">
                          {% if block.settings[link_key] != blank %}</a>{% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>

                    {% if thumbnails %}
                      <div class="s-hide m-hide">
                        <div class="thumbnails padding-top">
                          {% for i in (1..5) %}
                            {% assign image_key = 'image_' | append: i %}
                            {% assign thumbnail_key = 'thumbnail_' | append: i %}
                            {% if block.settings[image_key] != blank %}
                              {% assign count = count | plus: 1 %}
                              <div class="thumbnail thumbnail-width--{{ size }}{% if count == 1 %} active{% endif %}" data-thumbnail>
                                {% if block.settings[thumbnail_key] != blank %}
                                  <div class="ratio" data-ratio="{{ thumbnail_ratio }}" style="background-image:url({{ block.settings[thumbnail_key] | img_url: thumbnail_size }})"></div>
                                {% elsif block.settings[image_key] != blank %}
                                  <div class="ratio" data-ratio="{{ thumbnail_ratio }}" style="background-image:url({{ block.settings[image_key] | img_url: thumbnail_size }})"></div>
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

              <script>
                concrete.slideshow_{{ block.id }} = {
                  settings: {
                    autoplay: {% if speed == 0 %}false{% else %}true{% endif %},
                    speed: {{ settings.transition_speed | times: 5 }},
                    fade: {{ fade }},
                    arrows: {{ arrows }},
                    pauseOnHover: {{ pause }},
                    autoplaySpeed: {{ speed }}000,
                    dots: false,
                    adaptiveHeight: {% if height == ''%}true{% else %}false{% endif %},
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    responsive: [
                      {
                        breakpoint: {{ settings.breakpoint_l }},
                        settings: {
                          arrows: false,
                          dots: true,
                          customPaging: function(slider, i) {
                            return '';
                          }
                        }
                      }
                    ]
                  },
                  slideshow: function() {
                    $('#slick-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
                    concrete.slideshow_{{ block.id }}.thumbnails('.slideshow-{{ block.id }}');
                  },
                  thumbnails: function(target) {
                    $(target).find('[data-thumbnail]').on('click', function() {
                      $('[data-thumbnail]').removeClass('active');
                      $(this).addClass('active');
                      var index = $(this).index();
                      $(target).find('#slick-{{ block.id }}').slick('slickGoTo', index);
                    });
                    $(target).find('#slick-{{ block.id }}').on('afterChange', function(event, slick, currentSlide) {
                      $(target).find('[data-thumbnail].active').removeClass('active');
                      $(target).find('[data-thumbnail]:nth-child(' + (currentSlide + 1) + ')').addClass('active');
                    });
                  }
                }

                // Theme Editor Javascript API
                $(document).on('shopify:section:load', function(event) {
                  $(event.target).find('#slick-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
                  concrete.slideshow_{{ block.id }}.thumbnails(event.target);
                });

                // Initialise
                $(document).ready(function() {
                  concrete.slideshow_{{ block.id }}.slideshow();
                });
              </script>
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="row condensed no-clear">
          {% for block in section.blocks %}
            {% if block.type == 'collection' or block.type == 'iframe' %}
              {% if block.settings.collection == collection.handle %}
                {% if block.settings.width == 'third' %}
                  {% assign column_width = 'l4 m4 s12' %}
                {% elsif block.settings.width == 'half' %}
                  {% assign column_width = 'l6 m6 s12' %}
                {% else %}
                  {% assign column_width = 'l12' %}
                {% endif %}

                {% if block.type == 'collection' %}
                  {% assign link = block.settings.link %}
                  {% unless link == blank %}
                    <div class="column {{ column_width }}" {{ block.shopify_attributes}}>
                      {% if link contains '/collections/' %}
                        {% assign collection_handle = link | remove: '/collections/' %}
                        {% assign collection_block = collections[collection_handle] %}
                        <a href="{{ collection_block.url }}" title="{{ collection_block.title }}">
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '800x800'}}" alt="{{ collection_block.title }}">
                          {% elsif collection_block.image != blank %}
                            <img class="wide" src="{{ collection_block.image | img_url: '800x800'}}" alt="{{ collection_block.title }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% elsif link contains '/products/' %}
                        {% assign product_handle = link | remove: '/products/' %}
                        {% assign product_block = all_products[product_handle] %}
                        <a href="{{ product_block.url }}" title="{{ product_block.title }}">
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '800x800'}}" alt="{{ product_block.title }}">
                          {% elsif product_block.featured_image != blank %}
                            <img class="wide" src="{{ product_block.featured_image | img_url: '800x800'}}" alt="{{ product_block.title }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% else %}
                        <a href="{{ link }}" title="{{ block.settings.heading }}"{% if link contains 'http' %} target="_blank"{% endif %}>
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '800x800'}}" alt="{{ block.settings.heading }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% endif %}

                      <div class="padding-bottom-2x"></div>
                    </div>
                  {% endunless %}
                {% elsif block.type == 'iframe' %}
                  {% assign html = block.settings.html %}
                  {% unless html == blank %}
                    <div class="column {{ column_width }}" {{ block.shopify_attributes}}>{{ html }}</div>
                  {% endunless %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
  </div>

</div>
