<!-- /snippets/theme-nav-account.liquid -->

{% for link in tertiary_menu.links %}
  {% if link.title contains 'account' or link.title contains 'Account' %}
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        {% if customer.first_name != blank %}
          <li class="fg-border account-link">{{ 'account.welcome.name' | t: name: customer.first_name }}</li>
          <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
        {% else %}
          <li class="fg-border account-link">{{ 'account.welcome.no_name' | t }}</li>
          <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
        {% endif %}
      {% else %}
        <li class="fg-border account-link">{{ 'account.welcome.guest_html' | t }}</li>
        <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endif %}
    {% endif %}
  {% else %}
    <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
  {% endif %}
{% endfor %}
{% if shop.phone != blank %}
  <li><span class="fg-border m-hide s-hide">{{ shop.phone }}</span><a class="l-hide" href="tel:{{ shop.phone }}">{{ shop.phone }}</a></li>
{% endif %}
