{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{%- assign limit = 12 -%}

{% if canonical_url contains 'collection=' %}
  {%- assign product_limit = canonical_url | split: 'collection=' | last -%}
  {% if product_limit contains '&' %}
    {%- assign product_limit = product_limit | split: '&' | first -%}
  {% endif %}
  {%- assign product_limit = product_limit | plus: 0 -%}
  {%- assign limit = product_limit -%}
{% endif %}

{% paginate collection.products by limit %}

<h1>{{ sample_variable_1 }}</h1>
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js">
          <img data-size="auto" data-src="{{ collection.image | img_url: '2048x600' }}" class="lazyload">
        </div>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="page-width-no-padding">
    <h1 class="t-uppercase collection-title tablet-visible">{{ collection.title }}</h1>
    <div class="collection-content-wrapper">
      <div class="one-quarter inline">
        <aside>
        {% include 'collection-links' with 'no-limit' %}
        {% paginate collection.products by limit %}
        {% endpaginate %}
        </aside>
      </div>

      <div class="three-quarters inline" id="Collection">
          %%slideshow%%
          %%banner%%
      </div>
    </div>
  </div>
  <div class="collection-landing-products-grid index-section">
    <div class="collection-title section-header text-center">
      <h2>{{ section.settings.collection_items_grid_title }}</h2>
    </div>
    <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
      {% for product in collection.products %}
        <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          {% include 'product-card-grid', max_height: max_height %}
        </div>
      {% else %}
        {% comment %}
        Add default products to help with onboarding for collections/all only.

        The onboarding styles and products are only loaded if the
        store has no products.
        {% endcomment %}
        {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
          <div class="grid__item">
            <div class="grid grid--uniform">
              {% for i in (1..limit) %}
                <div class="grid__item {{ grid_item_width }}">
                  <div class="grid-view-item">
                    <a href="#" class="grid-view-item__link">
                      <div class="grid-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                      <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                      <div class="grid-view-item__meta">
                        <span class="product-price__price">$19.99</span>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          {%- assign is_empty_collection = true -%}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include 'popup-quickview' %}
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "text",
        "id": "collection_items_grid_title",
        "label": "Title",
        "default": "Featured Products"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sliders_enable",
        "label": "Enable Banner",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection_touts",
        "name": "Collection Touts",
        "settings": [
          {
            "type": "collection",
            "id": "collection_page",
            "label": "Choose the collection to display this on."
          },
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Upload tout"
          },
          {
            "type": "url",
            "id": "tout_link",
            "label": "This tout will link to"
          },
          {
            "type": "radio",
            "id": "image_amount",
            "label": "This image will span:",
            "options": [
              {"value": "one", "label": "Full Width Image"},
              {"value": "two", "label": "Half of Page Width"},
              {"value": "three", "label": "Third of Page Width"}
            ],
            "default":   "one"
          }
        ]
      },
      {
        "type": "collection_sliders",
        "name": "Collection Sliders",
        "settings": [
          {
            "type": "collection",
            "id": "collection_page",
            "label": "Choose the collection to display this slider on."
          },
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Upload Image"
          },
          {
            "type": "url",
            "id": "tout_link",
            "label": "This image will link to"
          }
        ]
      }
    ]
  }
{% endschema %}
