<script>
  var freeGifts = [
  {% for block in section.blocks %}
    {% assign current_product = all_products[block.settings.gift_with_purchase] %}
    {
      productAvailable: {{ current_product.available }},
      minCartVal: Math.floor('{{ block.settings.min_cart_val }}'),
      productSlug: '{{ current_product.handle }}',
      variantId: '{{ current_product.first_available_variant.id }}',
      rule: '{{ block.settings.rule }}',
      tag: '{{ block.settings.tag }}'
    }{% if forloop.last != true %},{% endif %}
   {% endfor %}
  ];
  FREE_GIFT_PLUGIN.setGifts(freeGifts);
</script>
<style>
.freegift-hidden{
  /* display: none!important; */
  pointer-events: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: block;
}
</style>
{% schema %}
  {
      "name": "Free Gifts",
      "settings": [
      ],
      "blocks": [
          {
              "name": "Free Gift",
              "type": "free-gift",
              "settings": [
                  {
                    "type": "product",
                    "id": "gift_with_purchase",
                    "label": "Free Gift"
                  },
                  {
                    "type": "text",
                    "id": "tag",
                    "label": "Tag"
                  },
                  {
                    "type": "text",
                    "id": "min_cart_val",
                    "label": "Minimum cart value"
                  },
                  {
                    "type":      "select",
                    "id":        "rule",
                    "label":     "Gift rule",
                    "options": [
                      { "value": "one_by_order", "label": "One by Order" }
                    ],
                    "default":   "one_by_order"
                 }
              ]
          }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}