<div class="page-width holiday-gift-guide-container">
	<div class="holiday-gift-guide-wrapper">
		{% if section.settings.holiday_gift_guide_title != blank or section.settings.holiday_gift_guide_sub_title != blank or section.settings.holiday_gift_guide_description != blank or section.settings.holiday_gift_guide_button_url != blank %}
		<div class="holiday-gift-guide-wrapper-container">
			<div class="holiday-gift-guide-title-container">
				<div class="container-wrapper">
					<div class="holiday-gift-guide-titles">
						<h2 class="holiday-gift-guide-subtitle">{{ section.settings.holiday_gift_guide_sub_title }}</h2>
						<h1 class="holiday-gift-guide-title">{{ section.settings.holiday_gift_guide_title }}</h1>
					</div>
					<div class="holiday-gift-guide-description">
						<p>{{ section.settings.holiday_gift_guide_description }}</p>
					</div>
					{% if section.settings.holiday_gift_guide_button_url and section.settings.holiday_gift_guide_button_text != blank %}
					<div class="holiday-gift-guide-button">
						<a href="{{ section.settings.holiday_gift_guide_button_url }}">{{ section.settings.holiday_gift_guide_button_text }}</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		<div class="holiday-gift-guide-collection-container page-width-no-padding">
			{% unless section.settings.giftguide_sidebar_link_list == blank %}
			<div class="one-quarter inline small--hide">
		        <aside>
		        {% include 'collection-links' with 'no-limit', supplied_link_list: section.settings.giftguide_sidebar_link_list %}
		    	</aside>
		   	</div> 
		   	{% endunless %}
			<div class="{% if section.settings.giftguide_sidebar_link_list == blank %}one-whole{% else %}three-quarters{% endif %} inline small--one-whole">
				{% for _block in section.blocks%}
				<div class="collections-block small--text-center{% if _block.type == 'products_carousel' %} collection-carousel-container{% endif %}" data-collection-block="{{ _block.id }}" >
				{% case _block.type %}
					{% when 'products_carousel' %}
					{% if _block.settings.carousel_collection != blank %}
					{%- assign carousel_collection = collections[_block.settings.carousel_collection] -%}
					{%- assign product_limit = _block.settings.product_limit -%}
					{%- assign max_height = 250 -%}
					<div class="collection-fullwidth collection-carousel">
						<div class="page-width">
							{% if _block.settings.title != blank %}
							<div class="section-header text-center">
								<h2>{{ _block.settings.title | escape }}</h2>
							</div>
							{% endif %}
							<div class="grid grid--view-items grid--uniform">
							{% for product in carousel_collection.products limit: product_limit %}
						      <div class="grid__item grid__item--{{section.id}}">
						        {% include 'product-card-grid', max_height: max_height %}
						      </div>
						    {% endfor %}
							</div>
						</div>
					</div>
					{% endif %}
					{% when 'full_width_block' %}
					{% if _block.settings.collection != blank %}
					<div class="collection-fullwidth">
						<a href="{{ _block.settings.collection }}">
							<div class="collection-desktop-image">
								<img src="{{ _block.settings.collection_image | img_url: '2048x2048' }}">
							</div>
							<div class="collection-mobile-image">
								<img src="{{ _block.settings.collection_mobile_image | img_url: '2048x2048' }}">
							</div>
						</a>
					</div>
					{% endif %}
					{% when 'two_collections_block' %}
					{% if _block.settings.collection_left != blank %}
					{%- assign display_type = _block.settings.display_type %}
					<div class="collection-halfwidth{% case display_type %}{% when 'equal' %} half-width{% when 'one_third_first'%} one-third-width{%when 'two_third_first'%} two-third-width{% else %}{% endcase %}">
						<div class="collection-content-wrapper left-wrapper">
							<div class="collection-image">
								<a href="{{ _block.settings.collection_left }}">
									<img src="{{ _block.settings.collection_image_left | img_url: '2048x2048' }}"{% if display_type == 'two_third_first'%} class="collection-desktop-image"{% endif %}>
									{% if display_type == 'two_third_first'%}<img src="{{ _block.settings.collection_mobile_image | img_url: '2048x2048' }}" class="collection-mobile-image">{% endif %}
								</a>
							</div>
							<div class="collection-title left-collection-title">
								<a href="{{ _block.settings.collection_left }}"><h2>{{ _block.settings.collection_left_title }}</h2></a>
							</div>
							<div class="collection-description left-collection-description">
								<p>{{ _block.settings.collection_left_description }}</p>
							</div>
							{% if _block.settings.collection_left_shop_now_link_text != blank %}
							<div class="collection-shop-now-link collection-shop-now-btn left-collection-link">
								<a href="{{ _block.settings.collection_left }}">{{ _block.settings.collection_left_shop_now_link_text }}</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if _block.settings.collection_right != blank %}
					<div class="collection-halfwidth{% case display_type %}{% when 'equal' %} half-width{% when 'one_third_first'%} two-third-width{%when 'two_third_first'%} one-third-width{% else %}{% endcase %}">
						<div class="collection-content-wrapper right-wrapper">
							<div class="collection-image">
								<a href="{{ _block.settings.collection_right }}">
									<img src="{{ _block.settings.collection_image_right | img_url: '2048x2048' }}"{% if display_type == 'one_third_first'%} class="collection-desktop-image" {% endif %}>
									{% if display_type == 'one_third_first'%}<img src="{{ _block.settings.collection_mobile_image | img_url: '2048x2048' }}" class="collection-mobile-image">{% endif %}
								</a>
							</div>
							<div class="collection-title right-collection-title">
								<a href="{{ _block.settings.collection_right }}"><h2>{{ _block.settings.collection_right_title }}</h2></a>
							</div>
							<div class="collection-description right-collection-description">
								<p>{{ _block.settings.collection_right_description }}</p>
							</div>
							{% if _block.settings.collection_right_shop_now_link_text != blank %}
							<div class="collection-shop-now-link collection-shop-now-btn right-collection-link">
								<a href="{{ _block.settings.collection_right }}">{{ _block.settings.collection_right_shop_now_link_text }}</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% when 'three_collections_block' %}
					{% if _block.settings.collection_left != blank %}
					<div class="collection-one-thirdwidth">
						<div class="collection-content-wrapper left-wrapper">
							<div class="collection-image">
								<a href="{{ _block.settings.collection_left }}">
									<img src="{{ _block.settings.collection_image_left | img_url: '2048x2048' }}">
								</a>
							</div>
							<div class="collection-title left-collection-title">
								<a href="{{ _block.settings.collection_left }}"><h2>{{ _block.settings.collection_left_title }}</h2></a>
							</div>
							<div class="collection-description left-collection-description">
								<p>{{ _block.settings.collection_left_description }}</p>
							</div>
							{% if _block.settings.collection_left_shop_now_link_text != blank %}
							<div class="collection-shop-now-link collection-shop-now-btn left-collection-link">
								<a href="{{ _block.settings.collection_left }}">{{ _block.settings.collection_left_shop_now_link_text }}</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if _block.settings.collection_center != blank %}
					<div class="collection-one-thirdwidth">
						<div class="collection-content-wrapper center-wrapper">
							<div class="collection-image">
								<a href="{{ _block.settings.collection_center }}">
									<img src="{{ _block.settings.collection_image_center | img_url: '2048x2048' }}">
								</a>
							</div>
							<div class="collection-title center-collection-title">
								<a href="{{ _block.settings.collection_center }}"><h2>{{ _block.settings.collection_center_title }}</h2></a>
							</div>
							<div class="collection-description center-collection-description">
								<p>{{ _block.settings.collection_center_description }}</p>
							</div>
							{% if _block.settings.collection_center_shop_now_link_text != blank %}
							<div class="collection-shop-now-link collection-shop-now-btn center-collection-link">
								<a href="{{ _block.settings.collection_center }}">{{ _block.settings.collection_center_shop_now_link_text }}</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if _block.settings.collection_right != blank %}
					<div class="collection-one-thirdwidth">
						<div class="collection-content-wrapper right-wrapper">
							<div class="collection-image">
								<a href="{{ _block.settings.collection_right }}">
									<img src="{{ _block.settings.collection_image_right | img_url: '2048x2048' }}">
								</a>
							</div>
							<div class="collection-title right-collection-title">
								<a href="{{ _block.settings.collection_right }}"><h2>{{ _block.settings.collection_right_title }}</h2></a>
							</div>
							<div class="collection-description right-collection-description">
								<p>{{ _block.settings.collection_right_description }}</p>
							</div>
							{% if _block.settings.collection_right_shop_now_link_text != blank %}
							<div class="collection-shop-now-link collection-shop-now-btn right-collection-link">
								<a href="{{ _block.settings.collection_right }}">{{ _block.settings.collection_right_shop_now_link_text }}</a>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% else %}
				{% endcase %}
				</div>
				{% endfor %} 
			</div>
		</div>
	</div>
</div>
{% include 'popup-quickview' %} 

<style type="text/css">
.main-content {
	margin-top: -5px;
	padding-top: 0px;
}

.holiday-gift-guide-container {
	width: 100%;
	max-width: 100%;
	margin: auto;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper {
	width: 100%;
	max-width: 100%;
} 

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-wrapper-container {
	max-width: 100%;
	margin: 0 auto 30px;
	{% if section.settings.holiday_gift_guide_top_section_background %}
	background: url({{ section.settings.holiday_gift_guide_top_section_background | img_url: '2048x2048' }}) no-repeat;
	background-size: cover;
	background-position: center;
	{% endif %}
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-wrapper-container .holiday-gift-guide-title-container {
	display: block;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
	{% if section.settings.holiday_gift_guide_title_background_image %}
	background: url({{ section.settings.holiday_gift_guide_title_background_image | img_url: '2048x2048' }}) no-repeat;
	background-size: contain;
	background-position: center;
	{% else %}
	background-color: {{ section.settings.holiday_gift_guide_title_background_color }};
	{% endif %}
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper {
	padding: 80px;
	{% unless section.settings.holiday_gift_guide_title_background_image %}
	border: 1px solid {{ section.settings.title_border_color }};
	{% endunless %}
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-titles {

}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-titles .holiday-gift-guide-subtitle {
	color: {{ section.settings.holiday_gift_guide_sub_title_color }};
    margin-bottom: 0;
    font-size: 16px;
    font-family: "Avenir-Regular","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-titles .holiday-gift-guide-title {
	color: {{ section.settings.holiday_gift_guide_title_color }};
    font-family: "Avenir-Bold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-description {
	margin-bottom: 17.5px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-description p {
	display: block;
	color: {{ section.settings.holiday_gift_guide_description_color }};
    font-size: 14px;
    font-family: "Avenir-Regular","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-button {
    display: block;
    width: 210px;
    margin: auto;
    text-align: center;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-title-container .container-wrapper .holiday-gift-guide-button a {
    display: block;
    padding: 15px;
    color: {{ section.settings.holiday_gift_guide_button_text_color }};
    background: {{ section.settings.holiday_gift_guide_button_background_color }};
    font-weight: 600;
    font-family: "Avenir-Regular","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container {

}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block {
	max-width: 1200px;
	margin: auto;
	text-align: left;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-fullwidth .collection-mobile-image, 
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-image a .collection-mobile-image {
	display: none;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-fullwidth .collection-desktop-image, 
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-image a .collection-desktop-image {
	display: block;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-fullwidth {

}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth {
	display: inline-block;
	width: calc(50%);
	vertical-align: top;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.half-width {
	display: inline-block;
	width: calc(50%);
	vertical-align: top;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.one-third-width {
	display: inline-block;
	width: calc(100%/3);
	vertical-align: top;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.two-third-width {
	display: inline-block;
	width: calc(200%/3);
	vertical-align: top;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth .left-wrapper {
	margin-right: 5px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth .right-wrapper {
	margin-left: 5px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth {
	display: inline-block;
	width: calc(100% / 3);
	vertical-align: top;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .left-wrapper {
	margin-right: calc(20px / 3);
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .center-wrapper {
	margin-left: calc(10px / 3);
	margin-right: calc(10px / 3);
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .right-wrapper {
	margin-left: calc(20px / 3);
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-title {

}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-title  a {
	
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-title a h2 {
	margin-top: 17.5px;
    font-family: "Avenir-Regular","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    padding-left: 0px; 
    text-align: center; 
    font-weight: 600; 
}
  
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-title a h2 b{
    font-family: "Avenir-Bold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-description {
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0px 15px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-description p {
	font-weight: normal; 
	text-align: center; 
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-link {
	text-align: center; 
} 

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-link a {
	margin: 0px auto 17.5px;
	text-transform: capitalize;
	text-decoration: underline;
	display: inline-block;
    font-family: "Avenir-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding-left: 10px;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-btn{
    background-color: #fff;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 40px;
    border: 1px solid #6a6e74;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}
  
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-btn a{
    color: #5f5f5f!important;
    text-decoration: none;
    padding: 10px 18px;
    margin-bottom: 0;
    font-family: 'Avenir-Regular', Arial, sans-serif; 
    text-transform: uppercase; 
    font-size: 13px; 
    line-height: 1.2;
    font-weight: 600; 
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-btn:hover {
	background: #6a6e74;
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-btn:hover a {
	color: #fff !important; 
}

{% for _block in section.blocks %}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] {
	{% if _block.type == 'two_collections_block' or _block.type == 'three_collections_block' %}
	display: flex;
	{% endif %}
}

.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-image {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-image a {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-image a img {

}
{% if _block.settings.collection_left != blank %}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.left-collection-title {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.left-collection-title a {
	color: {{ _block.settings.collection_left_title_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.left-collection-title a h2 {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.left-collection-description {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.left-collection-description p {
	color: {{ _block.settings.collection_left_description_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.left-collection-link {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.left-collection-link a {
	color: {{ _block.settings.collection_left_shop_now_link_color }};
}
{% endif %}
{% if _block.settings.collection_center != blank %}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.center-collection-title {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.center-collection-title a {
	color: {{ _block.settings.collection_center_title_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.center-collection-title a h2 {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.center-collection-description {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.center-collection-description p {
	color: {{ _block.settings.collection_center_description_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.center-collection-link {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.center-collection-link a {
	color: {{ _block.settings.collection_center_shop_now_link_color }};
}
{% endif %}
{% if _block.settings.collection_right != blank %}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.right-collection-title {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.right-collection-title a {
	color: {{ _block.settings.collection_right_title_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-title.right-collection-title a h2 {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.right-collection-description {

}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-description.right-collection-description p {
	color: {{ _block.settings.collection_right_description_color }};
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.right-collection-link {
	
}
.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] .collection-shop-now-link.right-collection-link a {
	color: {{ _block.settings.collection_right_shop_now_link_color }};
}
{% endif %}
{% endfor %}

@media only screen and (max-width: 1230px) {
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block.collection-carousel-container {
		margin-left: -15px; 
		margin-right: -15px; 
	}
}

@media only screen and (max-width: 1230px) and (min-width: 768px) {
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block.collection-carousel-container .collection-carousel {
		padding: 30px 15px 0px; 
	}
}

@media only screen and (max-width: 767px) {

	.holiday-gift-guide-container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-wrapper-container { 
		{% if section.settings.holiday_gift_guide_title_background_image %}
		background: url({{ section.settings.holiday_gift_guide_title_background_image | img_url: '2048x2048' }}) no-repeat;
		background-size: 100% 98%;
		background-position: center;
		{% endif %}
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-wrapper-container .holiday-gift-guide-title-container {
		width: 100%;
		margin: auto;
		padding: 10px;
		margin-bottom: 5px;
		max-width: 100%;
		{% if section.settings.holiday_gift_guide_title_background_image %}
		background: none;
		{% endif %}
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-wrapper-container .holiday-gift-guide-title-container .container-wrapper {
		padding: 20px;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .left, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .right {
		display: block;
		margin: auto;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
    .holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-title{
      padding-left: 15px;
    }
    .holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-shop-now-link a{
      padding-left: 15px;
    }

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-fullwidth .collection-mobile-image, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-image a .collection-mobile-image {
		display: block;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-fullwidth .collection-desktop-image, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-image a .collection-desktop-image {
		display: none;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.half-width, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.one-third-width, 
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth.two-third-width {
		display: block;
		width: 100%;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth {
		display: block;
		width: 100%;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth .left-wrapper {
		margin-right: 0px;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-halfwidth .right-wrapper {
		margin-left: 0px;
	}
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .left-wrapper {
		margin-right: 0px;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .center-wrapper {
		margin-left: 0px;
		margin-right: 0px;
	}

	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block .collection-one-thirdwidth .right-wrapper {
		margin-left: 0px;
	}

	{% for _block in section.blocks %}
	.holiday-gift-guide-container .holiday-gift-guide-wrapper .holiday-gift-guide-collection-container .collections-block[data-collection-block="{{ _block.id }}"] {
		{% if _block.type == 'two_collections_block' or _block.type == 'three_collections_block' %}
		display: block;
		{% endif %}
	}
	{% endfor %}
}
</style>

<script type="text/javascript">
$(document).ready(function() {
	if($('.holiday-gift-guide-collection-container .collections-block .collection-carousel .grid').length > 0){
		$('.holiday-gift-guide-collection-container .collections-block .collection-carousel .grid').slick({
			dots: false,
			slidesToShow: 4,
			slidesToScroll: 4,
			infinite: true,
			arrows: true,
			centerMode: false,
			initialSlide: 0,
			variableWidth: false,
			responsive: [
				{
					breakpoint: 769, 
					settings: {
						slidesToShow: 3,
						slidesToScroll: 2
					}
				}, 
				{
					breakpoint: 415, 
					settings: {
						slidesToShow: 1,
						slidesToScroll:  1
					}
				}
			]
		});  
	} 
});
</script>

{% schema %}
{
	"name": "Holiday Gifts Guide page",
	"settings": [
	  {
	    "type": "text",
	    "id": "holiday_gift_guide_title",
	    "label": "Holiday Gift Guide page Title"
	  },
	  {
	    "type": "color",
	    "id": "holiday_gift_guide_title_color",
	    "label": "Holiday Gift Guide page Title Color",
	    "default": "#fff"
	  },
	  {
	    "type": "text",
	    "id": "holiday_gift_guide_sub_title",
	    "label": "Holiday Gift Guide page Sub title"
	  },
	  {
	    "type": "color",
	    "id": "holiday_gift_guide_sub_title_color",
	    "label": "Holiday Gift Guide page Sub title Color",
	    "default": "#fff"
	  },
	  {
	    "type": "textarea",
	    "id": "holiday_gift_guide_description",
	    "label": "Holiday Gift Guide page description"
	  },
	  {
	    "type": "color",
	    "id": "holiday_gift_guide_description_color",
	    "label": "Holiday Gift Guide page description color",
	    "default": "#fff"
	  },
	  {
	  	"type": "text",
	  	"id": "holiday_gift_guide_button_text",
	  	"label": "Holiday Gift Guide page Title Button Text",
	  	"default": "Shop Now"
	  },
	  {
	  	"type": "color",
	  	"id": "holiday_gift_guide_button_text_color",
	  	"label": "Holiday Gift Guide Button text color",
	  	"default": "#fff"
	  },
	  {
	  	"type": "color",
	  	"id": "holiday_gift_guide_button_background_color",
	  	"label": "Holiday Gift Guide Button background color",
	  	"default": "#17aedb"
	  },
	  {
	  	"type": "color",
	  	"id": "holiday_gift_guide_title_background_color",
	  	"label": "Holiday Gift Guide page Title Section Background Color",
	  	"default": "#404040"
	  },
	  {
	  	"type": "image_picker", 
	  	"id": "holiday_gift_guide_title_background_image",
	  	"label": "Holiday Gift Guide Page Title Section Background Image"
	  },
	  {
	  	"type": "image_picker",
	  	"id": "holiday_gift_guide_top_section_background",
	  	"label": "Holiday Gift Guide Top Section Background Image"
	  },
	  {
	  	"type": "url",
	  	"id": "holiday_gift_guide_button_url",
	  	"label": "Holiday Gift Guide Button Link"
	  },
	  {
	  	"type": "color",
	  	"id": "title_border_color",
	  	"label": "Title Border Color",
	  	"default": "#fff"
	  }, 
	  {
	  	"type": "link_list", 
	  	"id": "giftguide_sidebar_link_list", 
	  	"label": "Sidebar Link list" 
	  }
	],
	"blocks": [
	  {
	    "type": "products_carousel",
	    "name": "Product Carousel",
	    "settings": [
	      {
	        "type": "text",
	        "id": "title",
	        "label": "Carousel Title"
	      }, 
	      {
	        "type": "collection",
	        "id": "carousel_collection",
	        "label": "Collection for Carousel",
	        "info": "Select the URL to display"
	      }, 
	      {
	        "type": "range",
	        "id": "product_limit",
	        "label": "Products in carousel",
	        "min": 2,
	        "max": 16,
	        "step": 1,
	        "default": 5
	      } 
	    ]
	  },{
	    "type": "full_width_block",
	    "name": "Full Width Collection",
	    "settings": [
	      {
	        "type": "url",
	        "id": "collection",
	        "label": "Full Width URL",
	        "info": "Select the URL to display"
	      },
	      {
	        "type": "image_picker",
	        "id": "collection_image",
	        "label": "Image for Collection"
	      },
	      {
	        "type": "image_picker",
	        "id": "collection_mobile_image",
	        "label": "Image for Collection for Mobile View"
	      }
	    ]
	  },
	  {
	    "type": "two_collections_block",
	    "name": "Two Collections Block",
	    "settings": [
	      {
		    "type": "radio",
			"id": "display_type",
			"label": "Sections Width",
			"options": [
			  {
			    "value": "equal",
			    "label": "1/2 and 1/2"
			  },
			  {
			    "value": "one_third_first",
			    "label": "1/3 and 2/3"
			  },
			  {
			    "value": "two_third_first",
			    "label": "2/3 and 1/3"
			  }
			]
          },
	      {
	        "type": "url",
	        "id": "collection_left",
	        "label": "Left URL",
	        "info": "Select the URL to display on left"
	      },
	      {
	        "type": "image_picker",
	        "id": "collection_image_left",
	        "label": "Image for Left Collection"
	      },
	      {
	      	"type": "text", 
	      	"id": "collection_left_title", 
	      	"label": "Left collection title"
	      },
	      {
	      	"type": "color", 
	      	"id": "collection_left_title_color", 
	      	"label": "Left collection title color"
	      },
	      {
	      	"type": "textarea", 
	      	"id": "collection_left_description", 
	      	"label": "Left collection description"
	      },
	      {
	      	"type": "color", 
	      	"id": "collection_left_description_color", 
	      	"label": "Left collection description color"
	      },
	      {
	      	"type": "text", 
	      	"id": "collection_left_shop_now_link_text", 
	      	"label": "Left collection shop now text"
	      }, 
	      {
	      	"type": "color", 
	      	"id": "collection_left_shop_now_link_color", 
	      	"label": "Left collection shop now link color"
	      },
	      {
	        "type": "url",
	        "id": "collection_right",
	        "label": "Right URL",
	        "info": "Select the URL to display on right"
	      },
	      {
	        "type": "image_picker",
	        "id": "collection_image_right",
	        "label": "Image for Right Collection"
	      },
	      {
	      	"type": "text", 
	      	"id": "collection_right_title", 
	      	"label": "right collection title"
	      },
	      {
	      	"type": "color", 
	      	"id": "collection_right_title_color", 
	      	"label": "Right collection title color"
	      },
	      {
	      	"type": "textarea", 
	      	"id": "collection_right_description", 
	      	"label": "Right collection description"
	      },
	      {
	      	"type": "color", 
	      	"id": "collection_right_description_color", 
	      	"label": "Right collection description color"
	      },
	      {
	      	"type": "text", 
	      	"id": "collection_right_shop_now_link_text", 
	      	"label": "Right collection shop now text"
	      }, 
	      {
	      	"type": "color", 
	      	"id": "collection_right_shop_now_link_color", 
	      	"label": "Right collection shop now link color"
	      },
	      {
	        "type": "image_picker",
	        "id": "collection_mobile_image",
	        "label": "Image for 2/3 Collection on Mobile View"
	      }
	    ]
	  },
	  {
	  	"type": "three_collections_block", 
	  	"name": "Three Collections Block", 
	  	"settings": [
	  		{
	        	"type": "url",
	        	"id": "collection_left",
	        	"label": "Left URL",
	        	"info": "Select the URL to display on left"
	      	},
	      	{
		        "type": "image_picker",
		        "id": "collection_image_left",
		        "label": "Image for Left Collection"
	      	},
	      	{
		      	"type": "text", 
		      	"id": "collection_left_title", 
		      	"label": "Left collection title"
	      	},
	      	{
		      	"type": "color", 
		      	"id": "collection_left_title_color", 
		      	"label": "Left collection title color"
	      	},
	      	{
		      	"type": "textarea", 
		      	"id": "collection_left_description", 
		      	"label": "Left collection description"
	      	},
	      	{
	      		"type": "color", 
	      		"id": "collection_left_description_color", 
	      		"label": "Left collection description color"
	      	},
	      	{
	      		"type": "text", 
	      		"id": "collection_left_shop_now_link_text", 
	      		"label": "Left collection shop now text"
	      	}, 
	      	{
	      		"type": "color", 
	      		"id": "collection_left_shop_now_link_color", 
	      		"label": "Left collection shop now link color"
	      	},
	      	{
	        	"type": "url",
	        	"id": "collection_center",
	        	"label": "Center URL",
	        	"info": "Select the URL to display on center"
	      	},
	      	{
	        	"type": "image_picker",
	        	"id": "collection_image_center",
	        	"label": "Image for Center Collection"
	      	},
	      	{
	      		"type": "text", 
	      		"id": "collection_center_title", 
	      		"label": "Center collection title"
	      	},
	      	{
	      		"type": "color", 
	      		"id": "collection_center_title_color", 
	      		"label": "Center collection title color"
	      	},
	      	{
	      		"type": "textarea", 
	      		"id": "collection_center_description", 
	      		"label": "Center collection description"
	      	},
	      	{
	      		"type": "color", 
	      		"id": "collection_center_description_color", 
	      		"label": "Center collection description color"
	      	},
	      	{
	      		"type": "text", 
	      		"id": "collection_center_shop_now_link_text", 
	      		"label": "Center collection shop now text"
	      	}, 
	      	{
	      		"type": "color", 
	      		"id": "collection_center_shop_now_link_color", 
	      		"label": "Center collection shop now link color"
	      	},
	      	{
	        	"type": "url",
	        	"id": "collection_right",
	        	"label": "Right URL",
	        	"info": "Select the URL to display on right"
	      	},
	      	{
	        	"type": "image_picker",
	        	"id": "collection_image_right",
	        	"label": "Image for Right Collection"
	      	},
	      	{
	      		"type": "text", 
	      		"id": "collection_right_title", 
	      		"label": "right collection title"
	      	},
	      	{
	      		"type": "color", 
	      		"id": "collection_right_title_color", 
	      		"label": "Right collection title color"
	      	},
	      	{
	      		"type": "textarea", 
	      		"id": "collection_right_description", 
	      		"label": "Right collection description"
	      	},
	      	{
	      		"type": "color", 
	      		"id": "collection_right_description_color", 
	      		"label": "Right collection description color"
	      	},
	      	{
	      		"type": "text", 
	      		"id": "collection_right_shop_now_link_text", 
	      		"label": "Right collection shop now text"
	      	}, 
	      	{
	      		"type": "color", 
	      		"id": "collection_right_shop_now_link_color", 
	      		"label": "Right collection shop now link color"
	      	}
	  	]
	  }
	]
}
{% endschema %}