<svg xmlns="http://www.w3.org/2000/svg" class="close icon" width="24" height="24" aria-label="Close" role="img" viewBox="0 0 32 32">
  <title>Close</title>
  <desc>Close Icon</desc>
  <g>
    <circle fill="#FFF" cx="16" cy="16" r="15"></circle>
    <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm7.1 20.2c.4.4.4 1 0 1.4L21.7 23c-.4.4-1 .4-1.4 0L16 18.8 11.8 23c-.4.4-1 .4-1.4 0L9 21.6c-.4-.4-.4-1 0-1.4l4.2-4.2L9 11.8c-.4-.4-.4-1 0-1.4L10.4 9c.4-.4 1-.4 1.4 0l4.2 4.2L20.2 9c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4L18.8 16l4.3 4.2z" class="fill"></path>
  </g>
</svg>