<!--snippets/product-tags.liquid-->
{%- assign custom_tag = settings.custom_sales_tag_tag | strip %}
{% for tag in product.tags %} 
  {% if settings.custom_tag_enabled and tag == custom_tag %}
   <span class="product-tag-label product-tag__custom{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
  {% elsif tag == '3NEW' %}
    <span class="product-tag-label product-tag__new">New</span>
    {% break %}
  {% elsif tag == 'ONSALE' or compare_at_price > price %}
    <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
    {% break %}
  {% endif %}
{% endfor %}