/* Global ====================================================================*/

// Shopify admin overrides
#admin_bar_iframe, .shopify-preview-bar {
  display: none !important;
}

html {
  height: 100%;
  padding-top: 0px !important;
}

body {
  height: 100%;
  color: $colorText;
  background-color: $colorBackground;
  font: 16px/21px sans-serif;
  font-family: $bodyFontStack;
  font-weight: $bodyFontWeight;
  //-webkit-font-smoothing: antialiased;
}

#MainContent {
  padding: $gutter/3.33 0;
  @include s() {
    padding: 0;
  }
  {% unless settings.background_image == blank %}
    {% assign background_size = settings.background_image_size | append: 'x' %}
    {% if settings.background_image_size == 0 %}
      background-image: url({{ settings.background_image | img_url }});
      background-size: contain;
    {% else %}
      background-image: url({{ settings.background_image | img_url: background_size }});
      background-size: {{ settings.background_image_size | append: 'px' }};
    {% endif %}
    background-repeat: {{ settings.background_image_repeat }};
    background-position: {{ settings.background_image_position }};
  {% endunless %}
}

img {
  max-width: 100%;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headingFontStack;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  letter-spacing: $headingLetterSpacing;
  line-height: $lineHeight;
  display: block;
  margin-bottom: $gutter/3.33;
}

h1, .h1 { font-size: $h1Base; }
h2, .h2 { font-size: $h2Base; }
h3, .h3 { font-size: $h3Base; }
h4, .h4 { font-size: $h4Base; }
h5, .h5 { font-size: $h5Base; }
h6, .h6 { font-size: $h6Base; }

p {
  font-size: $pBase;
  font-weight: $fontRegular;
  line-height: $lineHeight;
  margin-bottom: $gutter/3.33;
}

a {
  color: $colorBrand;
  cursor: pointer;
  @include transition();
  text-decoration: none;
  &:hover, &:focus {
    color: darken($colorBrand, $hoverAmount);
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  margin: $gutter/10 0;
  &.dotted {
    border-top-style: dotted;
  }
  &.dashed {
    border-top-style: dashed;
  }
}

strong, b {
  font-weight: $fontBold;
}

small, .small {
  font-size: $smallBase;
}

i {
  font-style: italic;
}

.rte {
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $gutter/2;
    li {
      list-style: none;
      list-style-position: inherit;
      margin-bottom: $gutter/10;
      margin-left: $gutter/2;
    }
  }
  ol {
    list-style-type: decimal;
  }
  p:last-child {
    margin-bottom: 0;
  }
  // Basic table styling for content areas
  table {
    width: 100%;
    margin-bottom: $gutter/3.33;
    font-size: $pBase;
    tbody {
      tr {
        &:first-child {
          background-color: lighten($colorText, $hoverAmount);
          color: $colorForeground;
          font-weight: $fontBold;
          .popup-content & {
            background-color: transparent;
            * {
              font-weight: $fontBold;
            }
          }
        }
        td {
          padding: $gutter/10 $gutter/20;
        }
      }
    }
  }
}

.breadcrumb {
  font-size: $pBase;
  line-height: 1;
  margin-bottom: $gutter/5;
}

// Forms
form {
  max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  max-width: 100%;
  height: $gutter/1.35;
  line-height: (($gutter/1.35) - ($borderWeight*2));
  background-color: $colorForeground;
  //background-image: url('{{ 'background-variant-table.png' | asset_url }}');
  color: $colorText;
  padding: 0 $gutter/5;
  font-size: $h3Base;
  font-family: 'magorianregular', serif;
  border: $borderWeight $borderStyle $colorBackground;
  border-radius: $borderRadius;
  -webkit-appearance: none;
  &.no-border {
    border: 0;
    line-height: $gutter/1.35;
  }
  &::-webkit-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &::-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &.medium {
    font-size: $pBase;
    height: $gutter/1.785;
    line-height: ($gutter/1.785) - ($borderWeight*2);
  }
  &.small {
    font-size: $pBase;
    height: $gutter/2.27;
    line-height: (($gutter/2.27) - ($borderWeight*2));
  }
  @include s() {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
  &.error {
    border-color: $colorError;
  }
}
textarea {
  height: initial;
  line-height: $lineHeight;
  padding: $gutter/5;
}
label {
  display: block;
  font-size: $pBase;
  font-weight: $fontBold;
  line-height: inherit;
}
input[type="checkbox"] {
  position: relative;
  width: $gutter/3.84;
  height: $gutter/3.84;
  border: $borderWeight $borderStyle $colorHighlight;
  @include gradient($colorBackground, $colorForeground, -45deg);
  @include prefixer(appearance, none, webkit moz ms spec);
  &:after {
    content: "";
    @include overlay();
    color: $colorSuccess;
    font-size: $h4Base;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    border-color: $colorHighlight;
  }
  &:checked {
    &:after {
      content: "\2713";
    }
  }
}
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  color: $colorBrand;
  &:hover {
    text-decoration: underline;
    color: darken($colorBrand, $hoverAmount);
  }
}
button, .button,
body #snize-search-results-grid-mode li.snize-product .snize-button,
body #snize-modal-product-quick-view .snize-button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  max-width: 100%;
  height: $h1Base*2;
  line-height: $h1Base*2;
  padding: 0 $gutter/5;
  font-size: $h4Base;
  font-weight: $fontRegular;
  @include prefixer(box-shadow, inset 1px 1px 3px rgba(0,0,0,0.4), webkit moz ms spec);
  font-family: 'magorianregular', serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  background-color: #5E1C23;
  color: $colorBrand;
  border: $borderWeight $borderStyle rgba(lighten($colorBrand, $hoverAmount), 0.5);
  border-radius: 0;
  cursor: pointer;
  @include prefixer(appearance, none, webkit moz ms spec);
  @include transition();
  .icon {
    margin-bottom: $borderWeight*2;
    svg {
      .stroke {
        stroke: $colorBrand !important;
      }
      .fill {
        fill: $colorBrand !important;
      }
    }
  }
  option {
    // Firefox
    background-color: $colorBackground;
    border: 0;
    display: block;
    color: $colorForeground;
  }
  &:active {
    background-color: darken($colorAlternate, $hoverAmount);
    @include prefixer(box-shadow, inset 2px 2px 3px rgba(0,0,0,0.4), webkit moz spec);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
  &.monochromatic {
    color: $colorText;
    @include gradient($colorForeground, $colorBackground, top);
    border-color: lighten($colorText, 35%);
  }
  &.basic {
    @include prefixer(box-shadow, none, webkit moz spec);
    text-shadow: none;
    font-family: $bodyFontStack;
    border-radius: $borderRadius;
  }
  &.medium {
    height: $gutter/1.785;
    font-size: $h2Base;
    line-height: $gutter/1.785;
  }
  &.large {
    height: $gutter/1.5;
    line-height: $gutter/1.5;
    font-size: $h1Base;
  }
  &.small {
    font-size: $pBase;
    font-weight: $fontRegular;
    height: $gutter/2.27;
    line-height: $gutter/2.27;
    &.w-bold {
      font-weight: $fontBold;
    }
  }
  &.square {
    width: $gutter/1.35;
    padding: 0;
    text-align: center;
    .icon svg {
      width: $gutter/3;
      height: $gutter/3;
    }
  }
  &:disabled, &.disabled {
    cursor: default;
    background-color: lighten($colorAlternate, $hoverAmount);
    border-color: rgba(lighten($colorBrand, $hoverAmount), 0.5);
    color: lighten($colorBrand, $hoverAmount);
    &:active {
      @extend .disabled;
    }
  }
  &.bitmap {
    @include prefixer(box-shadow, none, webkit moz spec);
    height: auto;
    width: auto;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 1;
    img {
      display: inline;
      &.hover {
        display: none;
      }
    }
    &:not(.no-hover) {
      &:hover {
        img {
          &:not(.hover) {
            display: none;
          }
          &.hover {
            display: inline;
          }
        }
      }
    }
    &.disabled,
    &:disabled {
      opacity: 0.75;
    }
    &:active {
      @extend .bitmap;
    }
  }
  &.background-image {
    width: auto;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}
a.button {
  display: inline-block;
  text-decoration: none;
}

select {
  display: inline-block;
  //background-color: $colorForeground;
  //border: $borderStyle $borderWeight $colorBorder;
  max-width: 100%;
  option {
    // Firefox
    display: block;
  }
}

.select-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: $gutter/5;
  select {
    width: 100%;
    @include prefixer(appearance, none, webkit moz ms spec);
    padding: $gutter/5 $gutter/1.25 $gutter/5 $gutter/5;
    font-size: $h5Base;
    font-family: $headingFontStack;
    background-color: $colorAlternate;
    border: $borderWeight $borderStyle $colorBrand;
    color: $colorBrand;
    margin-bottom: 0 !important;
  }
  .icon {
    pointer-events: none;
    right: $gutter/5;
    @include vertical-align();
    position: absolute;
  }
}
.errors, .note {
  padding: $gutter/5;
  margin: 0 auto $gutter/2.5;
  color: $colorForeground;
  background-color: $colorError;
  border: 0;
  font-size: $pBase;
  display: inline-block;
  width: 100%;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: $colorForeground;
    &:hover {
      color: darken($colorForeground, $hoverAmount);
    }
  }
}
