/* Helpers ===================================================================*/

// Alignment
.left {
  text-align: left;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right {
  text-align: right;
}

.wide {
  width: 100%;
}
.tall {
  height: 100%;
}

.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}
@include l() {
  .l-v-middle {
    vertical-align: middle;
  }
  .l-v-top {
    vertical-align: top;
  }
  .l-v-bottom {
    vertical-align: bottom;
  }
}
@include m() {
  .m-v-middle {
    vertical-align: middle;
  }
  .m-v-top {
    vertical-align: top;
  }
  .m-v-bottom {
    vertical-align: bottom;
  }
}
@include s() {
  .s-v-middle {
    vertical-align: middle;
  }
  .s-v-top {
    vertical-align: top;
  }
  .s-v-bottom {
    vertical-align: bottom;
  }
  .s-margin-top {
    margin-top: $gutter/5;
  }
}

// Type
.t-uppercase {
  text-transform: uppercase;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-none {
  text-transform: none;
}
.t-lowercase {
  text-transform: lowercase;
}
.f-normal {
  font-style: normal;
}
.f-italic {
  font-style: italic;
}
.w-bold {
  font-weight: $fontBold;
}
.w-normal {
  font-weight: $fontRegular;
}
.w-light {
  font-weight: $fontLight;
}
.f-body {
  font-family: $bodyFontStack !important;
}
.f-headings {
  font-family: $headingFontStack !important;
}

// Visibility helpers
@include xl() {
  .xl-hide { display: none !important; }
  .xl-left { text-align: left; }
  .xl-center { text-align: center; }
  .xl-right { text-align: right; }
  .l-show, .m-show, .s-show { display: none !important; }
}
@include l() {
  .l-hide { display: none !important; }
  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .xl-show, .m-show, .s-show { display: none !important; }
}
@include m() {
  .m-hide { display: none !important; }
  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .s-show { display: none !important; }
}
@include s() {
  .s-hide { display: none !important; }
  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .m-show { display: none !important; }
}
.hidden {
  display: none;
}

// Display
.inline {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}
.block {
  display: block;
}

// Misc.
.clearfix {
  @include clearfix();
}
.no-select {
  @include prefixer(user-select, none, webkit moz ms spec);
}
.no-radius {
  border-radius: 0 !important;
}
.overlay {
  @include overlay();
}
.background-image {
  @include background-image();
}
.vertical-align {
  @include vertical-align();
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.no-decoration {
  text-decoration: none !important;
}

// Thumbnail width helpers
.thumbnails {
  margin: $gutter/20 (-$gutter/5) 0;
  @include clearfix();
  .thumbnail {
    float: left;
    padding: 0 $gutter/5;
    width: 25%;
    cursor: pointer;
    &:hover {
      color: $colorAlternate;
    }
    &.active {
      color: $colorBrand;
    }
    @for $i from 1 through 12 {
      &.thumbnail-width--#{$i} {
        width: percentage((100/$i)/100);
      }
    }
  }
}

// Margin and padding helpers
.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.no-padding {
  padding: 0;
}
.margin-top-05x {
  margin-top: $gutter/10;
}
.margin-bottom-05x {
  margin-bottom: $gutter/10;
}
.margin-top {
  margin-top: $gutter/5;
}
.margin-bottom {
  margin-bottom: $gutter/5;
}
.margin-top-2x {
  margin-top: $gutter/2.5;
}
.margin-bottom-2x {
  margin-bottom: $gutter/2.5;
}
.margin-top-3x {
  margin-top: $gutter/1.667;
}
.margin-bottom-3x {
  margin-bottom: $gutter/1.667;
}
.margin-top-4x {
  margin-top: $gutter/1.25;
}
.margin-bottom-4x {
  margin-bottom: $gutter/1.25;
}
.margin-top-5x {
  margin-top: $gutter;
}
.margin-bottom-5x {
  margin-bottom: $gutter;
}
.padding-top-05x {
  padding-top: $gutter/10;
}
.padding-bottom-05x {
  padding-bottom: $gutter/10;
}
.padding-top {
  padding-top: $gutter/5;
}
.padding-bottom {
  padding-bottom: $gutter/5;
}
.padding-top-2x {
  padding-top: $gutter/2.5;
}
.padding-bottom-2x {
  padding-bottom: $gutter/2.5;
}
.padding-top-3x {
  padding-top: $gutter/1.667;
}
.padding-bottom-3x {
  padding-bottom: $gutter/1.667;
}
.padding-top-4x {
  padding-top: $gutter/1.25;
}
.padding-bottom-4x {
  padding-bottom: $gutter/1.25;
}
.padding-top-5x {
  padding-top: $gutter;
}
.padding-bottom-5x {
  padding-bottom: $gutter;
}
.padding-right {
  padding-right: $gutter/5;
}
