/* Color Palette =============================================================*/

$colors: $colorBrand, $colorText, $colorBackground, $colorForeground, $colorHighlight, $colorAlternate, $colorBorder;
$palettes: brand, text, background, foreground, highlight, alternate, border;

@mixin color-palette($element, $color) {
  @if $element == 'bg' {
    background-color: $color;
    &.palette {
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      input[type="checkbox"],
      select,
      textarea {
        //color: $color;
      }
    }
  } @else {
    color: $color;
    a:not(.button) {
      color: $color;
      .icon svg {
        .stroke {
          stroke: $color;
        }
        .fill {
          fill: $color;
        }
      }
      &:hover {
        color: lighten($color, $hoverAmount);
        .icon svg {
          .stroke {
            stroke: darken($color, $hoverAmount);
          }
          .fill {
            fill: darken($color, $hoverAmount);
          }
        }
      }
    }
    &.palette {
      h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
        color: $color;
      }
      a:not(.button) {
        color: $color;
        .icon svg {
          .stroke {
            stroke: $color;
          }
          .fill {
            fill: $color;
          }
        }
        &:hover {
          color: lighten($color, $hoverAmount);
          * {
            color: lighten($color, $hoverAmount);
          }
          .icon svg {
            .fill {
              fill: lighten($color, $hoverAmount);
            }
            .stroke {
              stroke: lighten($color, $hoverAmount);
            }
          }
        }
      }
      .icon svg {
        .fill {
          fill: $color;
        }
        .stroke {
          stroke: $color;
        }
      }
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      select {
        //background-color: $color;
        //border-color: $color;
        &:hover {
          //background-color: lighten($color, $hoverAmount);
          //border-color: lighten($color, $hoverAmount);
        }
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      textarea {
        //background-color: $color;
        //border-color: $color;
      }
      input[type="checkbox"] {
        //border-color: $color;
        &:checked {
          //background-color: $color;
        }
      }
      hr {
        //border-color: $color;
      }
    }
  }
}

@for $i from 1 through length($palettes) {
  .fg-#{nth($palettes, $i)} {
    @include color-palette(fg, nth($colors, $i));
    &.invert {
      @include color-palette(bg, nth($colors, $i));
    }
  }
  .bg-#{nth($palettes, $i)} {
    @include color-palette(bg, nth($colors, $i));
    &.invert {
      @include color-palette(fg, nth($colors, $i));
    }
  }

  h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
    }
  }
  a:not(.button) {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
      .icon svg {
        .stroke {
          stroke: nth($colors, $i);
        }
        .fill {
          fill: nth($colors, $i);
        }
      }
      &:hover {
        color: lighten(nth($colors, $i), $hoverAmount) !important;
        * {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
        .icon svg {
          .stroke {
            stroke: lighten(nth($colors, $i), $hoverAmount);
          }
          .fill {
            fill: lighten(nth($colors, $i), $hoverAmount);
          }
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
        &:hover {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
          * {
            color: lighten(nth($colors, $i), $hoverAmount) !important;
          }
        }
      }
    }
  }
  .icon {
    &.fg-#{nth($palettes, $i)} {
      svg {
        .fill {
          fill: nth($colors, $i) !important;
        }
        .stroke {
          stroke: nth($colors, $i) !important;
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        svg {
          .fill {
            fill: nth($colors, $i) !important;
          }
          .stroke {
            stroke: nth($colors, $i) !important;
          }
        }
      }
    }
  }
  button, .button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  select {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
      &:hover {
        background-color: lighten(nth($colors, $i), $hoverAmount) !important;
        //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
        &:hover {
          background-color: lighten(nth($colors, $i), $hoverAmount) !important;
          //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  input[type="search"],
  textarea {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
      }
    }
  }
  input[type="checkbox"] {
    &.fg-#{nth($palettes, $i)} {
      //border-color: nth($colors, $i) !important;
      &:checked {
        //background-color: nth($colors, $i) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
        &:checked {
          //background-color: nth($colors, $i) !important;
        }
      }
    }
  }
  hr {
    &.fg-#{nth($palettes, $i)} {
      //border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
      }
    }
  }
}

@mixin palette($bg, $fg) {
  @for $i from 1 through length($colors) {
    @extend .palette;
    @if $bg == nth($colors, $i) {
      @extend .bg-#{nth($palettes, $i)};
    }
    @if $fg == nth($colors, $i) {
      @extend .fg-#{nth($palettes, $i)};
    }
  }
}
