<!-- sections/banner-grid.liquid -->
{%- assign  banner_count = 0 %}
{% for __count in (1..4) %}
	{% capture __banner %}image{{__count}}{% endcapture %}
	{% if section.settings[__banner] != blank %}
		{%- assign banner_count = banner_count | plus: 1 %}
	{% endif %}
{% endfor %}
<div data-section-id="{{ section.id }}" data-section-type="banner-grid-section" id="banner-grid-section" data-banner-length="{{ banner_count }}" class="banners-count-{{ banner_count }}">

{% for count in (1..4) %}
	{% capture width %}
		width{{count}}
	{% endcapture %}	

	{% capture percentage %}
		percentage{{count}}
	{% endcapture %}

	{% capture banner %}
		image{{count}}
	{% endcapture %}

	{% capture mobile %}
		mobile{{count}}
	{% endcapture %}

	{% capture banner_link %}
		link{{count}}
	{% endcapture %}

	{% assign width = width | strip %}
	{% assign banner = banner | strip %}
	{% assign mobile = mobile | strip %}
	{% assign percentage = percentage | strip %}
	{% assign banner_link = banner_link | strip %}

	{% if section.settings[width] == 'twenty-five' %}
      {% assign column_width = 'medium-up--one-quarter stack' %}
    {% elsif section.settings[width] == 'fifty' %}
      {% assign column_width = 'medium-up--one-half stack' %}
    {% elsif section.settings[width] == 'forty' %}
      {% assign column_width = 'medium-up--two-fifths stack' %}
    {% elsif section.settings[width] == 'sixty' %}
      {% assign column_width = 'medium-up--three-fifths stack' %}
    {% else %}
      {% assign column_width = 'grid-item' %}
    {% endif %}

    {% if section.settings[banner] != blank %}
    	<div class="{{column_width}} inline">
    		<a href="{{section.settings[banner_link]}}">
    		<img data-sizes="auto" data-src="{{section.settings[banner] | img_url: '2048x'}}" style="width: {{section.settings[percentage]}};" class="lazyload{% if section.settings[mobile] != blank %} desktop_tout{% endif %}">
    		{% if section.settings[mobile] != blank %} 
    		<img data-sizes="auto" data-src="{{section.settings[mobile] | img_url: '2048x'}}" class="mobile_tout lazyload" style="width: {{section.settings[percentage]}};">
    		{% endif %}
    		</a>
    	</div>
    {% endif %}

{% endfor %}


</div>

{% schema %}
  {
    "name": "Banner Grid",
    "class": "index-section index-section--banner-grid",
    "settings": [
		{

			"type": "radio",
			"id": "width1",
			"label": "Width",
			"options": [
				{
					"value": "twenty-five",
					"label": "One-quarter"
				},
				{
					"value": "forty",
					"label": "Two-fifths"
				},
				{
					"value": "fifty",
					"label": "One-half"
				},
				{
					"value": "sixty",
					"label": "Three-fifths"
				},
				{
					"value": "whole",
					"label": "One whole"
				}
			],
			"default": "sixty"
		},
		{
			"type": "text",
			"id": "percentage1",
			"label": "Percentage Width",
			"default": "100%"
		},
		{
			"type": "image_picker",
			"id": "image1",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "mobile1",
			"label": "Mobile Image"
		},
		{
			"type": "url",
			"id": "link1",
			"label": "Link"
		},
		{

			"type": "radio",
			"id": "width2",
			"label": "Width",
			"options": [
				{
					"value": "twenty-five",
					"label": "One-quarter"
				},
				{
					"value": "forty",
					"label": "Two-fifths"
				},
				{
					"value": "fifty",
					"label": "One-half"
				},
				{
					"value": "sixty",
					"label": "Three-fifths"
				},
				{
					"value": "whole",
					"label": "One whole"
				}
			],
			"default": "forty"
		},
		{
			"type": "text",
			"id": "percentage2",
			"label": "Percentage Width",
			"default": "100%"
		},
		{
			"type": "image_picker",
			"id": "image2",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "mobile2",
			"label": "Mobile Image"
		},
		{
			"type": "url",
			"id": "link2",
			"label": "Link"
		},
		{

			"type": "radio",
			"id": "width3",
			"label": "Width",
			"options": [
				{
					"value": "twenty-five",
					"label": "One-quarter"
				},
				{
					"value": "forty",
					"label": "Two-fifths"
				},
				{
					"value": "fifty",
					"label": "One-half"
				},
				{
					"value": "sixty",
					"label": "Three-fifths"
				},
				{
					"value": "whole",
					"label": "One whole"
				}
			],
			"default": "forty"
		},
		{
			"type": "text",
			"id": "percentage3",
			"label": "Percentage Width",
			"default": "100%"
		},
		{
			"type": "image_picker",
			"id": "image3",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "mobile3",
			"label": "Mobile Image"
		},
		{
			"type": "url",
			"id": "link3",
			"label": "Link"
		},
		{

			"type": "radio",
			"id": "width4",
			"label": "Width",
			"options": [
				{
					"value": "twenty-five",
					"label": "One-quarter"
				},
				{
					"value": "forty",
					"label": "Two-fifths"
				},
				{
					"value": "fifty",
					"label": "One-half"
				},
				{
					"value": "sixty",
					"label": "Three-fifths"
				},
				{
					"value": "whole",
					"label": "One whole"
				}
			],
			"default": "forty"
		},
		{
			"type": "text",
			"id": "percentage4",
			"label": "Percentage Width",
			"default": "100%"
		},
		{
			"type": "image_picker",
			"id": "image4",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "mobile4",
			"label": "Mobile Image"
		},
		{
			"type": "url",
			"id": "link4",
			"label": "Link"
		}
    ],
    "presets": [{
      "name": "Banner Grid",
      "category": "Image"
  }]
  }
{% endschema %}
