{%- assign is_premium_customer = false %}
{%- assign is_premium_product = false %}

{% if customer %}
  {% if customer.tags contains 'premium' %}
    {%- assign is_premium_customer = true %}
  {% endif %}
{% endif %}

<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template">

  {% if cart.item_count > 0 %}
    <div class="section-header">
      <h1 class="cart-title">{{ 'cart.general.title' | t }}</h1>
      <div class="cart-top-checkout">
        <a type="submit" name="checkout" href="/checkout" class="btn btn--small-wide dark--primary-button">
          <span>{{ 'cart.general.checkout' | t }}</span>
        </a>
      </div>
    </div>
    <form action="/cart" method="post" novalidate class="cart">
      <table>
        <thead class="cart__row cart__header">
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th class="cart--quantity-label">{{ 'cart.label.quantity' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th class="text-right">{{ 'cart.label.remove' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr class="cart__row border-bottom line{{ forloop.index }} cart-flex">
              <td class="cart__image-wrapper cart-flex-item">
                <a href="{{ item.url | within: collections.all }}">
                  {% if item.properties._ezp_thumbnail %}
                  <img class="cart__image lazyload" data-sizes="auto" data-src="{{ item.properties._ezp_thumbnail }}" alt="{{ item.title | escape }}">
                  {% elsif item.image %}
                  <img class="cart__image lazyload" data-sizes="auto" data-src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                  {% endif %}
                </a>
              </td>
              <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% if item.quantity > 1 %}
                      <span class="medium-up--hide hide"><span class="visually-hidden">{{ 'cart.label.quantity' | t }}</span>(x{{ item.quantity }})</span>
                    {% endif %}
                  </a>
                </div>
                {% unless item.variant.title contains 'Default' %}
                  <div class="cart__meta-text">
                    {% for option in item.product.options %}
                      {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                    {% endfor %}
                  </div>
                {% endunless %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  Line item properties come in as having two parts. The first part will be passed with the default form,
                  but p.last is the actual custom property and may be blank. If it is, don't show it.

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {%- assign property_size = item.properties | size -%}

                <div class="meta-text">
                  {% assign property_size = item.properties | size %}
                  {% assign _properties_to_ignore = "Preview,_pplr_preview,_ezp_thumbnail,_isGiftBy,_ezp_projectId,_tags,_ezp_sku,days,country" | split: ',' %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                    {% unless _properties_to_ignore contains p.first %}
                      {% unless p.last == blank or hiddenProp == true %}
                  <p class="personalization-title no-margin">{{ p.first }}: <span class="{{ p.first }}">{{ p.last }}</span></p>
                      {% endunless %}
                    {% endunless %}
                    {% endfor %}
                  {% endif %} 

                  {% if item.product.metafields.shipsto.country != blank %}
                  <p>{{ item.product.metafields.shipsto.country | remove: "This item" | replace: 'ships', 'Ships' }}</p>
                  {% endif %}

                  {% if item.product.metafields.preorder.date != blank %}
                  <p>{{ item.product.metafields.preorder.date | remove: "Pre-Order" | replace: 'ships', 'Ships' }}</p>
                  {% elsif item.product.metafields.shipping.days != blank %}
                  <p>{{ item.product.metafields.shipping.days | remove: "This item" | replace: 'ships', 'Ships' }}</p>
                  {% endif %}
                  {% if settings.segment_analytics_enabled %}
                  <p class="visually-hidden" id="cart-template-sku">{{ item.product.metafields.sku.parent }}</p>
                  <p class="visually-hidden product-tags">{{ item.product.tags | join: ', ' | replace: 'gold_exclusive', 'GOLD EXCLUSIVE' | replace: '1EXCLUSIVE', 'EXCLUSIVE' | replace: '1LIMITED', 'LIMITED' | replace: '1EARLYACCESS', 'EARLY ACCESS' | replace: '2PREORDER', 'PRE ORDER' | replace: '3NEW', 'NEW' | replace: 'ONSALE', 'OFFER' }}</p>
                  <p class="visually-hidden product-brand">{{ item.product.metafields.brand }}</p>
                  <p class="visually-hidden product-character">{{ item.product.metafields.character }}</p>
                  <p class="visually-hidden product-house">{{ item.product.metafields.house }}</p>
                  <p class="visually-hidden" id="cart-template-product-type">{{ item.product.type }}</p>
                  <p class="visually-hidden" id="product-variant">{% if item.product.variants.size > 1 %}{{ item.variant.title }}{% else %}{{ item.product.title }}{% endif %}</p>
                  {% endif %}
                </div>
              </td>
              <td class="cart__update-wrapper cart-flex-item text-left">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide visually-hidden">{{ 'cart.general.remove' | t }}</a>
                <div class="cart__qty">
                  <label for="updates_{{ item.key }}" class="cart__qty-label small--hide">{{ 'cart.label.quantity' | t }}</label>
                  <div class="product-form__item product-form__item--quantity">
                    <div class="input-group input-number-group">
                      <div class="input-group-button">
                        <span class="input-number-decrement" data-variant-id="{{ item.variant_id }}">
                          <img data-sizes="auto" data-src="{{ 'ic_minus-blk.svg' | asset_url }}" class="lazyload">
                        </span>
                      </div>
                      <input class="input-number quantity" type="number" name="updates[]" id="Quantity" value="{{ item.quantity }}" min="0" pattern="[0-9]*" readonly>
                      <div class="input-group-button">
                        <span class="input-number-increment" data-variant-id="{{ item.variant_id }}">
                          <img data-sizes="auto" data-src="{{ 'ic_plus-blk.svg' | asset_url }}" class="lazyload">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart__update-btn visually-hidden">
                  <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="{{ 'cart.general.update' | t }}">
                </div>

                <p class="small--hide text-center">
                  <a href="#" type="submit" name="update" value="Update" class="btn btn--small btn--secondary cart__remove visually-hidden">{{ 'cart.general.update' | t }}</a>
                </p>
              </td>
              <td class="cart__price-wrapper cart-flex-item">
                {% assign current_variant = item.variant %}
                {%- assign is_premium_product = false %}
                {% if item.product.tags contains 'gold_exclusive' %}
                  {%- assign is_premium_product = true %}
                {% endif %}

                {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                  <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

                  <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                    <span id="ProductPrice-{{ section.id }}"
                      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      {{ item.price | money }}
                    </span>
                  </span>
                {% else %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                  {% if is_premium_customer %}
                  {% unless is_premium_product %}
                    {% if item.product.metafields.sku.parent != 'HPWWDGOLDBOX' %}
                    <s id="ComparePrice-{{ section.id }}" class="product-price__sale">{{ current_variant.price | money }}</s>
                    {% endif %}
                  {% endunless %}
                  {% endif %}
                  <span class="product-price__price product-price__price-{{ section.id }}">
                    <span id="ProductPrice-{{ section.id }}"
                      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      {{ item.price | money }}
                    </span>
                  </span>
                  {% if is_premium_customer %}
                  {% unless is_premium_product %}
                    {% if item.product.metafields.sku.parent != 'HPWWDGOLDBOX' %}
                    <p class="cart--discount-message t-uppercase">Gold member discount applied</p>
                    {% endif %}
                  {% endunless %}
                  {% endif %}
                {% endif %}

                {% for discount in item.discounts %}
                  <div class="cart-item__discount medium-up--hide">{{ discount.title }}</div>
                {% endfor %}

                <div class="cart__edit medium-up--hide visually-hidden">
                  <button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line{{ forloop.index }}">
                    <span class="cart__edit-text--edit">{{ 'cart.general.edit' | t }}</span>
                    <span class="cart__edit-text--cancel">{{ 'cart.general.cancel' | t }}</span>
                  </button>
                </div>
              </td>
              <td class="cart__actions text-center">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove">{{ 'cart.general.remove' | t }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          {% if section.settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div class="text-left small--text-right">
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings small--text-right">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}
            <div class="cart__shipping small--text-right">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            <a href="{{ shop.url }}" class="btn btn--secondary cart__update cart__continue--large dark--secondary-button" >{{ 'cart.general.continue_shopping' | t }}</a>
            <input type="submit" name="checkout" class="btn btn--small-wide dark--primary-button" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </div>
      </footer>
    </form>
  {% else %}
    <div class="empty-page-content text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="/" class="btn btn--has-icon-after cart__continue-btn dark--primary-button">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </div>
  {% endif %}
</div>

{% include 'segment-cart-snippet' %}

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_cart_page %}
<script src="{{ 'cart-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="cart-template__recommendations-container product-recommendations visually-hidden">
  <div class="visually-hidden" id="cart-products-recommendation-info">
  {% for _item in cart.items %} 
    <div data-base-url="{{ routes.product_recommendations_url }}"
         data-product-id="{{ _item.product.id }}"
         data-limit="6"
         {% if forloop.last %}class="last-cart-element"{% endif %}></div>
  {% endfor %}
  </div>
  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h2 class="section-header__title">You may also like...</h2>
      </header>
      <div class="rec-items">
        <div class="slick-carousel-container">
          <div class="carousel-left">
            <img width="16" height="28" aria-label="Previous Product" role="navigation" title="left arrow" alt="left arrow" src="https://cdn.shopify.com/s/files/1/0042/7242/2986/files/ic_arrow-left-white.svg?268792" class="slick-prev slick-arrow">
          </div>
          <div class="slick-responsive-carousel"></div>
          <div class="carousel-right">
            <img width="16" height="28" aria-label="Next Product" role="navigation" alt="right arrow" title="right arrow" src="https://cdn.shopify.com/s/files/1/0042/7242/2986/files/ic_arrow-right-white.svg?268792" class="slick-next slick-arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="cart-recommendations-item-template">
  <div class="recommended-item">
    <a>
      <div class="recommended-item-image">
        <img src="" alt="" title="" style="width:100%;">
      </div>
    </a>
    <a href="${item.url}" style="text-decoration:none;">
      <div class="name" style=""></div>
      <div class="single-price">
        <span class="reg-price"></span>
      </div>
      <div class="double-price">
        <s class="reg-price"></s>
        <span class="sale-price"></span>
        <div class="product-price__sale-label" style="top: 0px;">SALE</div>
      </div>
    </a>
  </div>
</div>
{% endif %} 

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
