{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

{% include 'powerreviews-collection-initialize' %} 

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="collection-page-full-width">
    <div class="collection-content-wrapper">
      <div class="collection-links">
        <h4 class="t-uppercase no-margin collection--title text-center">{{ collection.title | remove: "Wizarding World Digital" }}</h4>
      </div>
      <div class="medium-up--one-quarter inline"> 
        <aside class="collection--title-container">
          
          <div class="filters-toolbar__products_count">
            <label class="filters-toolbar__collection_products_count">
              {% if current_tags.size > 0 %}<span>{{ collection.products_count }}</span>{% else %}<span>{{ collection.all_products_count }}</span>{% endif %} item{% if collection.products_count > 1 %}s{% endif %}
            </label>
          </div>
          {% include 'collection-links' %}
          <div class="side-sortby-container small--hide">
            <div> 
              <h5>Sort By</h5>
              {%- assign sort_by = collection.sort_by | default: collection.default_sory_by -%} 
              <ul>
                <li class="Filter{% if sort_by == "manual" %} Selected{% endif %}"><a data-sort-by-value="manual" href="?sort_by=manual"{% if sort_by == "manual" %} class="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</a></li>
                <li class="Filter{% if sort_by == "best-selling" %} Selected{% endif %}"><a data-sort-by-value="best-selling" href="?sort_by=best-selling"{% if sort_by == "best-selling" %} class="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</a></li>
                <li class="Filter{% if sort_by == "created-descending" %} Selected{% endif %}"><a data-sort-by-value="created-descending" href="?sort_by=created-descending"{% if sort_by == "created-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</a></li> 
                <li class="Filter{% if sort_by == "price-ascending" %} Selected{% endif %}"><a data-sort-by-value="price-ascending" href="?sort_by=price-ascending"{% if sort_by == "price-ascending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</a></li>
                <li class="Filter{% if sort_by == "price-descending" %} Selected{% endif %}"><a data-sort-by-value="price-descending" href="?sort_by=price-descending"{% if sort_by == "price-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</a></li>
              </ul>
            </div> 
          </div>
          <div class="side-filters-container"></div>
        </aside>
      </div>

      <div class="medium-up--three-quarters inline" id="Collection">
        
        {% include 'collection-header-image' %}

        {% if section.settings.layout == 'grid' %}
          {% case section.settings.grid %}
          {% when '2' %}
            {%- assign grid_item_width = 'medium-up--one-half' -%}
          {% when '3' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
          {% when '4' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
          {% when '5' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
          {% endcase %} 

          <div class="template-collection__top-filter-section">
            <div class="popup--section" data-type="filters">
              <div class="title">Filter by</div>
              <div class="selection">{% unless current_tags.size > 0 %}All{% else %}{% for _tag in current_tags %}{% if _tag == 'ONSALE' %}<div>Sale</div>{% else %}<div>{{ _tag }}</div>{% endif %}{% endfor %}{% endunless %}</div>
            </div> 

            <div class="popup--section{% if collection.sort_by != blank %} item--selected{% endif %}" data-type="sort-by"> 
              <div class="title">Sort by</div> 
              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
              <div class="selection">{% case sort_by %}
                {% when "manual" %}{{ 'collections.sorting.featured' | t }}
                {% when "best-selling" %}{{ 'collections.sorting.best_selling' | t }}
                {% when "title-ascending" %}{{ 'collections.sorting.az' | t }}
                {% when "title-descending" %}{{ 'collections.sorting.za' | t }}
                {% when "price-ascending" %}{{ 'collections.sorting.price_ascending' | t }}
                {% when "price-descending" %}{{ 'collections.sorting.price_descending' | t }}
                {% when "created-descending" %}{{ 'collections.sorting.date_descending' | t }}
              {% endcase %}</div>
            </div> 
          </div>

          {%- assign featured_product_1 = blank %}
          {%- assign featured_product_2 = blank %}
          {%- assign featured_products = 0 %}
          {%- assign featured_product_1_index = blank %}
          {%- assign featured_product_2_index = blank %}
          {% for _product in collection.products %}
            {% if _product.tags contains 'FEATURED' %} 
              {% if featured_product_1 == blank and collection.products_count > 8 %}
                {%- assign featured_product_1 = _product %} 
                {%- assign featured_products = 1 %} 
                {%- assign featured_product_1_index = forloop.index %}
              {% else %}
                {% if collection.products_count > 17 %}
                  {%- assign featured_product_2 = _product %} 
                  {%- assign featured_products = 2 %} 
                  {%- assign featured_product_2_index = forloop.index %}
                {% endif %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}

          <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} page-width">
            {% for product in collection.products %}
              {% if featured_product_1 != blank and forloop.index == 7 %}
              <div class="grid__item grid__item--{{section.id}} medium-up--two-thirds first--featured-product">
                {% include 'product-special-grid-item', max_height: max_height, product: featured_product_1 %}
              </div>
              {% elsif featured_product_2 != blank and forloop.index == 16 %}
              <div class="grid__item grid__item--{{section.id}} medium-up--two-thirds second--featured-product">
                {% include 'product-special-grid-item', max_height: max_height, product: featured_product_2 %}
              </div>
              {% elsif forloop.index == featured_product_1_index %} 
              {% unless featured_product_2_index == 7 %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: collection.products[6] %}
              </div>
              {% else %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: collection.products[15] %}
              </div>
              {% endunless %}
              {% elsif forloop.index == featured_product_2_index %}
              {% unless featured_product_1_index == 16 %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: collection.products[15] %}
              </div>
              {% else %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height, product: collection.products[6] %}
              </div>
              {% endunless %}
              {% else %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height %}
              </div>
              {% endif %}
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
          {% comment %}{% include 'popup-quickview' %}{% endcomment %}
        {% else %}
          <div class="list-view-items">
            {% for product in collection.products %}
              <a href="{{ product.url | within: collection }}" class="list-view-item">
                {% include 'product-card-list', product: product %}
              </a>
            {% else %}

              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>

                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if is_empty_collection %}
          <div class="grid__item small--text-center empty">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

        {% assign collection_description = collection.description | strip %}
        {% if collection_description != '' %}
        <div class="collection-description-section border-top">
          <div>{{ collection.description }}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include 'segment-collection-snippet' with collection %} 

{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "text",
            "id": "collection_header_image_text",
            "label": "Header Image Text"
          },
          {
            "type": "text",
            "id": "collection_header_image_sub_text",
            "label": "Header Image Sub Text"
          },
          {
            "type":"color", 
            "id":"header_image_text_color", 
            "label":"Text color", 
            "default":"#3d4246"
          },
          {
            "type":"color", 
            "id":"header_image_sub_text_color", 
            "label":"Sub Text color", 
            "default":"#3d4246"
          },
          {
            "type": "range",
            "id": "collection_header_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text Mobile font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text Mobile font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Mobile Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Image size",
            "default": 50
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Mobile Image size",
            "default": 50
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
