<div class="page-width">
  {% if section.settings.title != blank %}
    {%- assign mega_title_color = '' %}
    {% case section.settings.title_color %}
      {% when 'golden' %}
        {%- assign mega_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
      {% when 'white' %}
        {%- assign mega_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
      {% when 'black' %}
        {%- assign mega_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
    {% endcase %}
    <div class="section-header text-center">
      <h2 {% if mega_title_color != '' %} style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  <div class="collection-grid">
    <div class="grid grid--uniform">
      {% for block in section.blocks limit: section.blocks.size %}
        <div class="grid__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item' %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Collection list",
    "class": "index-section collection-list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }, 
      {
        "type": "select", 
        "id": "title_color", 
        "label": "Title Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      }, 
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection Link",
            "id": "collection_url",
            "type": "url"
          },
          {
            "label": "Collection Image",
            "id": "collection_image",
            "type": "image_picker"
          },
          {
            "label": "Collection Title",
            "id": "collection_title",
            "type": "text"
          },
          {
            "label": "Collection Link Text",
            "id": "collection_link_text",
            "type": "text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
