{% if section.blocks.size > 0 %}
<div class="grid grid--no-gutters text-center">
	{% for _block in section.blocks %}
	{%- assign _product = all_products[_block.settings.product] %} 
	{% if _product != blank %}
	{%- assign background_color = '' %}
	{%- assign background_color = _block.settings.background_color %}
	<div class="grid__item medium-up--one-half js" style="background-color: {{ background_color }};"> 
		{% include 'product-card-grid', max_height: 500, product: _product %}
	</div>
	{% endif %}
	{% endfor %}

</div>
{% else %}
<h1>No Sales Product setup here!</h1>
{% endif %}
{% schema %}
{
	"name": "Featured Sale Products", 
	"class": "index-section featured-sale-products", 
	"blocks": [
		{
			"type": "sale_product", 
			"name": "Sale Product", 
			"settings": [
				{
					"type": "product", 
					"id": "product", 
					"label": "Sale Product"
				}, 
				{
					"type": "color", 
					"id": "background_color", 
					"label": "Background Color"
				}
			], 
			"limit": 2
		}
	],
	"presets": [
		{
			"name": "Featured sale products", 
			"category": "Product"
		}
	]
}
{% endschema %}