{%- assign featured_product = all_products[section.settings.featured_product] -%} 
{%- assign featured_collection = collections[section.settings.collection] -%} 

{% if featured_product == empty %}
  {%- assign section_onboarding = true -%}
{% endif %}

{%- assign is_premium_customer = false %} 
{% if customer and customer.tags contains 'premium' %}
  {%- assign is_premium_customer = true %} 
{% endif %}

{%- assign background_color = blank %} 
{% case section.settings.background_type %}
  {% when 'gradient' %}
    {% capture background_color %}linear-gradient(115deg, {{ section.settings.color_stop_1 }}, {{ section.settings.color_stop_2 }} 41%, {{ section.settings.color_stop_3 }});{% endcapture %} 
  {% when 'color' %} 
    {%- assign background_color = section.settings.custom_background_color %} 
{% endcase %}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product"{% if background_color != blank %} style="background: {{ background_color }}"{% endif %}>
	{%- assign current_variant = bold_selected_or_first_available_variant -%}
{%- include 'bold-variant' with current_variant, output: 'none' -%} 
	{%- assign featured_image = current_variant.featured_image | default: featured_product.featured_image -%} 
	{%- assign product_title_color = '' %}
	{% case section.settings.product_title_color %}
	  {% when 'golden' %}
	    {%- assign product_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
	  {% when 'white' %}
	    {%- assign product_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
	  {% when 'black' %}
	    {%- assign product_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
	{% endcase %} 
	<div class="product-single">
		{% if featured_collection != empty or featured_collection != blank %} 
		{% endif %} 
		<div class="featured-product-info-container text-center"> 
			{% include 'product-tags', product: featured_product %}
			<div class="product-single__photo-wrapper js">
				<div class="">
					<img id="FeaturedImage-{{ section.id }}-{{ featured_image.id }}" 
						class="product-featured-img lazyload"
						data-sizes="auto" 
						data-src="{{ featured_image | img_url: '1024x' }}"> 
				</div>
				{%- assign featured_product_title = '' %}
				{% if section.settings.featured_product_title != blank or section.settings.featured_product_title != '' %}
					{%- assign featured_product_title = section.settings.featured_product_title -%}
				{% else %}
					{%- assign featured_product_title = featured_product.title -%}
				{% endif %}
				<div class="featured-product-name product-single__title"{% if product_title_color != '' %} style="background-image: {{ product_title_color }}"{% endif %}>{{ featured_product_title }}</div> 
			</div>
			<div class="featured-product-info"> 
				{% unless section_onboarding %}
		          {%- assign compare_at_price = current_variant.compare_at_price -%}
		          {%- assign price = bold_variant_price -%}
		          {%- assign price_varies = bold_variant_price_varies -%}
		          {%- assign available = current_variant.available -%}
		        {% else %}
		          {%- assign compare_at_price = 1999 -%}
		          {%- assign price = 1999 -%}
		          {%- assign price_varies = false -%}
		          {%- assign available = true -%}
		        {% endunless %} 

				<div class="featured-product-price product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
					{% if featured_product.selected_or_first_available_variant.compare_at_price > featured_product.selected_or_first_available_variant.price %}
		                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
		                <s id="ComparePrice-{{ section.id }}">{{ featured_product.selected_or_first_available_variant.compare_at_price | money }}</s>
		                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
		                  <span id="ProductPrice-{{ section.id }}"
		                    itemprop="price" content="{{ featured_product.selected_or_first_available_variant.price | divided_by: 100.00 }}">
		                    {{ featured_product.selected_or_first_available_variant.price | money }}
		                  </span>
		                  <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
		                </span>
		            {% else %}
		              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
		              <s id="ComparePrice-{{ section.id }}" class="hide">{{ featured_product.selected_or_first_available_variant.compare_at_price | money }}</s>
		              <span class="product-price__price product-price__price-{{ section.id }}">
		                <span id="ProductPrice-{{ section.id }}"
		                  itemprop="price" content="{{ featured_product.selected_or_first_available_variant.price | divided_by: 100.00 }}">
		                  {{ featured_product.selected_or_first_available_variant.price | money }}
		                </span>
		                <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
		              </span>
		            {% endif %}
				</div> 
				{% if featured_product != empty %}
				<a href="{{ featured_product.url }}" class="featured-product-shop-btn btn hero__btn {{ section.settings.button_color }}--button">
				{% else %}
				<div class="featured-product-shop-btn btn hero__btn {{ section.settings.button_color }}--button">
				{% endif %}
					<span class="hero__btn--text">{{ section.settings.shop_button_text }}</span>
				{% if featured_product != empty %}
				</a>
				{% else %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Featured Product no Text", 
		"class": "index-section index-section-featured-product-no-text", 
		"settings": [ 
			{
				"type": "product", 
				"id": "featured_product", 
				"label": "Product"
			}, 
			{
				"type": "text", 
				"id": "featured_product_title", 
				"label": "Product Title" 
			}, 
			{
		        "type": "select", 
		        "id": "product_title_color", 
		        "label": "Product Title Color", 
		        "default": "white", 
		        "options": [
		          {
		            "value": "golden", 
		            "label": "Golden"
		          }, 
		          {
		            "value": "white", 
		            "label": "White"
		          }, 
		          {
		            "value": "black", 
		            "label": "Black"
		          }
		        ]
		    }, 
			{
				"type": "text", 
				"id": "shop_button_text", 
				"label": "Shop Button Text"
			}, 
			{
		        "type": "select", 
		        "id": "button_color", 
		        "label": "Button Color", 
		        "default": "dark--primary", 
		        "options": [
		          {
		            "label": "Primary Dark", 
		            "value": "dark--primary"
		          }, 
		          {
		          	"label": "Primary Light", 
		          	"value": "light--primary"
		          },  
		          {
		            "label": "Light", 
		            "value": "light"
		          }, 
		          {
		            "label": "Dark", 
		            "value": "dark"
		          }, 
		          {
		            "label": "Gold", 
		            "value": "gold"
		          }
		        ]
		    }, 
		    {
		        "type": "select",
		        "id": "background_type",
		        "label": "Background Type",
		        "default": "gradient",
		        "options": [
		          {
		            "value": "gradient",
		            "label": "Gradient"
		          },
		          {
		            "value": "color",
		            "label": "Color"
		          }
		        ]
		    }, 
		    {
				"type": "color", 
				"id": "color_stop_1",
				"label": "Gradient Color Point 1"
			}, 
			{
				"type": "color", 
				"id": "color_stop_2",
				"label": "Gradient Color Point 2"
			}, 
			{
				"type": "color", 
				"id": "color_stop_3",
				"label": "Gradient Color Point 3"
			}, 
			{
				"type": "color", 
				"id": "custom_background_color", 
				"label": "Background Color"
			}, 
			{
				"type": "collection", 
				"id": "collection", 
				"label": "Collection"
			}
		], 
		"presets": [
			{
				"name": "Featured product no text", 
				"category": "Product"
			}
		] 
	}
{% endschema %}
