{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
        display: inline-block;
        margin: 0; 
        padding: 3px 0px 6px; 
        line-height: 2; 
      }
      .announcement-bar--link{
        display: inline-block;
      }
      .announcement-bar__message a {
        font-size: 12px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
      }
      .popup-link{
        font-size: 9px;
        text-decoration: underline;
        color: #fff;
        display: inline-block;
        font-family: 'Sofia-Pro-Regular', Arial, sans-serif;
      }
      .announcement-bar__message .announcement-bar__links {
        float: right;
      }

      .announcement-bar__message .announcement-bar__links a {
        color: {{ section.settings.color_text }};
        font-weight: normal;
        text-decoration: underline;
        margin-right: 20px;
        border-left: 1px solid;
        padding-left: 15px;
      }
      .announcement-bar__message .announcement-bar__links a:first-child {
        border-left: none;
      }
    </style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="header-section">
  
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% unless linklists[section.settings.main_linklist] == blank %}
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open visually-hidden">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      {% endunless %}



      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item medium-up--one-third">
          <div class="grid--external-links-hamburger">
          </div>
          <div class="navigation-external-link-container"><a href="https://my.wizardingworld.com" class="navigation-external-link">wizardingworld.com</a></div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   data-src="{{ 'logo.png' | asset_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ 'logo.png' | asset_url }}"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            <span class="visually-hidden">{{shop.name}}</span>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="header-top-icons">
          <a href="/cart" id="minicart-open-link" class="site-header__cart"> 
            <span>Bag</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount" class="site-header__cart-count{% if cart.item_count < 1 %} empty--cart{% endif %}">
                <span>{{ cart.item_count }}</span>
              </div>
            {% endif %} 
            <img class="visually-hidden mobile-animation--image lazyload" data-sizes="auto" data-src="{{ 'checkout_animation.png' | asset_url }}">
          </a>
          {% comment %}{% include 'popup-cart' %}
          <div class="minicart-overlay"></div> {% endcomment %}
          {% if shop.customer_accounts_enabled %}
            <a href="{% if customer %}/account{% else %}{{ settings.user_login_url }}{% endif %}" class="site-header__account">
            </a> 
          {% endif %}
        </div>

        <div class="site-header__icons-wrapper visually-hidden">

          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search small--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          <a href="/cart" id="minicart-open-link-mobile" class="site-header__cart">
            {% include 'icon-cart' %}
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount-mobile" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>

        </div>

      </div>

    </div>
  </header>
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item border-bottom">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="{{ settings.user_login_url }}" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}

        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        {% endunless %}

      </li>
      <li class="mobile-nav__item border-bottom">
        <a href="/apps/tracktor/" class="site-header__trackorder">
          <b>Track My Order</b>
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
    </ul>
  </nav>

  <div id="navigation-content">
    <div id="navigation-shop-by-category">
      {% include 'shop-categories-navigation' %}
    </div>
    <div id="navigation-shop-shows">
      {% include 'shop-shows-navigation' %}
    </div>
    <div id="navigation-featured">
      {% include 'shop-featured-navigation' %}
    </div>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom visually-hidden" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>
  
  <div class="search-menu--popup visually-hidden">
    {% include 'search-menu--popup' %}
  </div> 
  
  <div class="video--popup visually-hidden">
    <div class="video-popup">
      <div class="video--container">
        <video id="popup--video"></video>
      </div>
    </div>
  </div>


  {% if collection %}
  <div class="filters--popup visually-hidden">
    {% include 'collection-filters' %}
  </div> 

  <div class="sort-by--popup visually-hidden">
    {% include 'sort-by-popup' %}
  </div>
  {% endif %}

<div class="header-search-bar-container">
  <div class="search-container">

    {% comment %}{% if template == "index" %}
    <div class="site-header__page-title small--hide"> 
      <h4 class="no-margin">Shop</h4>
    </div>
    {% endif %}{% endcomment %} 

    {% if template.name == "account" %}
    <div class="site-header__page-title account--page-title small--hide"> 
      <h4 class="no-margin">{{ 'customer.account.title' | t }}</h4>
    </div>
    {% endif %}

    {% comment %}<a href="/cart" id="minicart-open-link" class="site-header__cart"> 
      <span>Bag</span>
      {% if cart.item_count > -1 %}
        <div id="CartCount" class="site-header__cart-count{% if cart.item_count < 1 %} empty--cart{% endif %}">
          <span>{{ cart.item_count }}</span>
        </div>
      {% endif %} 
      <img class="visually-hidden mobile-animation--image" src="{{ 'checkout_animation.png' | asset_url }}">
    </a>{% endcomment %}
    {% include 'popup-cart' %}
    <div class="minicart-overlay"></div>
  </div>
</div>

{% if section.settings.message_text != blank %}
  {%- assign is_premium_customer = false %} 
  {% if customer %}{% if customer.tags contains 'premium' %}{%- assign is_premium_customer = true %}{% endif %}{% endif %} 
  <div class="announcement-bar">
    <p class="announcement-bar__message">{% if is_premium_customer %}{{ settings.free_shipping_message_header_gold }}{% else %}{{ settings.free_shipping_message_header_standard }}{% endif %}</p>
    <a class="popup-link visually-hidden" data-popup data-popup-id="freeship-details">see details</a>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }, 
      {
        "type": "url",
        "id": "hamburger_promo_link",
        "label": "Hamburger Promo Link"
      },
      {
        "type": "image_picker",
        "id": "hamburger_promo_link_image",
        "label": "Hamburger Promo Link image"
      }, 
      {
        "type": "text",
        "id": "hamburger_promo_title",
        "label": "Hamburger Promo Title"
      },
      {
        "type": "text",
        "id": "hamburger_promo_text",
        "label": "Hamburger Promo Text"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Shows Products",
        "settings": [
          {
            "type": "header",
            "content": "Shows Featured Products",
            "info": "Add featured products to Shows Navigation Menu"
          },
          {
            "type": "product",
            "id": "shows_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      }, 
      {
        "type": "search-menu-image-block", 
        "name": "Seach Menu Tout Image", 
        "settings": [
          {
            "type": "image_picker", 
            "id": "image", 
            "label": "Image tout"  
          }, 
          {
            "type": "image_picker", 
            "id": "image_mobile", 
            "label": "Mobile image tout"
          }, 
          {
            "type": "text", 
            "id": "text", 
            "label": "Image tout text"
          }, 
          {
            "type": "url", 
            "id": "url", 
            "label": "Image tout link"
          }
        ]
      }
    ]
  }
{% endschema %}
