{%- assign mega_title_color = '' %}
{% case section.settings.title_color %}
  {% when 'golden' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
  {% when 'white' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
  {% when 'black' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
{% endcase %}
<div class="hero--products-section">
  <div class="hero--products-side-image hero hero--x-large ratio-container lazyload js hero__overlay" 
  {% if section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="contain"
     style="background-position: center; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
  {% endif %}>
    <div class="side-image-container hero__inner text-center">
      <div class="h2 hero--sub-title mega-subtitle">{{ section.settings.sub_title | escape }}</div>
      <h2 class="h1 hero--title mega-title"{% if mega_title_color != '' %} style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2> 
      <div class="p rte-setting hero--text mega-subtitle">{{ section.settings.text }}</div> 
      <a href="{{ section.settings.button_link }}" class="btn hero__btn {{ section.settings.button_color }}--button">
        <span class="hero__btn--text">{{ section.settings.button_label | escape }}</span>
      </a>
    </div>
  </div> 
  <div class="hero--products-carousel"{% if section.settings.product_carousel_background_color != blank %} style="background: {{ section.settings.product_carousel_background_color }}"{% endif %}>
    <div class="hero--products">
      {% for _block in section.blocks %}
      {%- assign _product = all_products[_block.settings.product] %}
      <div class="hero--product">
        <div class="grid__item grid__item--{{section.id}}">
          <span class="product--wishlist-btn">{% include 'swym-product-view', product: _product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{ _product.id}}" data-swaction="addToWishlist" data-product-id="{{ _product.id | json}}"></button></span>
          {% include 'product-card-grid', max_height: 345, product: _product %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="hero--products-pagination">
      <div class="navigation--button navigation--left">
        <img data-sizes="auto" data-src="{{ 'ic_arrow-left-white2.svg' | asset_url }}" class="navigation--left--img lazyload">
      </div>
      <div class="pagination--pages">
        {% for __block_size_index in (1..section.blocks.size) %}
        <div {% if __block_size_index == 1 %} class="first--page current--page"{% endif %}{% if __block_size_index == section.blocks.size %} class="last--page"{% endif %}data-page-index="{{ __block_size_index }}">{{ 'IIII' | slice: 1,__block_size_index }}</div>
        {% endfor %}
      </div>
      <div class="navigation--button navigation--right">
        <img data-sizes="auto" data-src="{{ 'ic_arrow-right-white2.svg' | asset_url }}" class="navigation--right--img lazyload">
      </div>
    </div>
  </div> 
</div>

{% schema %}
  {
    "name": "Products with Image",
    "class": "index-section index-section--flush products-text-overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text", 
        "id": "sub_title", 
        "label": "Side Image Sub Title", 
        "default": "Products side image sub title"
      }, 
      {
        "type": "text",
        "id": "title",
        "label": "Side Image Title",
        "default": "Products side image title"
      },
      {
        "type": "select", 
        "id": "title_color", 
        "label": "Title Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }, 
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, 
      {
        "type": "select", 
        "id": "button_color", 
        "label": "Button Color", 
        "default": "dark--primary", 
        "options": [
          {
            "label": "Primary Dark", 
            "value": "dark--primary"
          }, 
          {
            "label": "Primary Light", 
            "value": "light--primary"
          }, 
          {
            "label": "Light", 
            "value": "light"
          }, 
          {
            "label": "Dark", 
            "value": "dark"
          }, 
          {
            "label": "Gold", 
            "value": "gold"
          }
        ]
      },  
      {
        "type": "color", 
        "id": "product_carousel_background_color",
        "label": "Carousel Background Color"
      }
    ], 
    "blocks": [
      {
        "type": "hero_products", 
        "name": "Product", 
        "settings": [
          {
            "type": "product", 
            "id": "product", 
            "label": "Product"
          }
        ], 
        "limit": 10
      }
    ], 
    "presets": [
      {
        "name": "Products with Image",
        "category": "Product"
      }
    ]
  }
{% endschema %}
