{%- assign mega_title_color = '' %}
{% case section.settings.title_color %}
  {% when 'golden' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
  {% when 'white' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
  {% when 'black' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
{% endcase %}
<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     data-display-view="desktop"
     {% if section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
     {% endif %}>
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="hero__inner">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" {% if mega_title_color != '' %}style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn {{ section.settings.button_color }}--button">
          <span class="hero__btn--text">{{ section.settings.button_label | escape }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>

<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     data-display-view="mobile"
     {% if section.settings.mobile_image %}
     data-bgset="{% include 'bgset', image: section.settings.mobile_image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.mobile_image | img_url: '300x300' }});"
     {% endif %}>
  {% if section.settings.mobile_image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %} 
  <div class="hero__inner">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" {% if mega_title_color != '' %}style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn {{ section.settings.button_color }}--button">
          <span class="hero__btn--text">{{ section.settings.button_label | escape }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>

<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.mobile_image %} style="background-image: url('{{ section.settings.mobile_image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
</noscript>

{%- assign collection_side_title_color = '' %}
{% case section.settings.collection_side_label_color %}
  {% when 'golden' %}
    {%- assign collection_side_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
  {% when 'white' %}
    {%- assign collection_side_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
  {% when 'black' %}
    {%- assign collection_side_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
{% endcase %}
<div class="hero--collection-section">
  <div class="hero--collection-side-label">
    <span class="side-label" {% if mega_title_color != '' %}style="background-image: {{ collection_side_title_color }}"{% endif %}>{{ section.settings.collection_side_label | escape }}</span>
  </div>
  <div class="hero--collection-grid">
    {%- assign collection = collections[section.settings.collection] -%} 
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%} 
    {%- assign product_limit = 10 -%} 

    <div class="grid grid--uniform grid--view-items hero--collection-carousel">
      {% for product in collection.products limit: product_limit %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
        <div class="grid__item grid__item--{{section.id}}">
          {% include 'product-card-grid', max_height: 345 %}
        </div>
      {% else %}

        {% for i in (1..product_limit) %}
          <div class="grid__item .grid__item--{{section.id}}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% include 'product-price' %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection with Image",
    "class": "index-section index-section--flush collection-text-overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "select", 
        "id": "title_color", 
        "label": "Title Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      }, 
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      }, 
      {
        "type": "select", 
        "id": "button_color", 
        "label": "Button Color", 
        "default": "dark--primary", 
        "options": [
          {
            "label": "Primary Dark", 
            "value": "dark--primary"
          }, 
          {
            "label": "Primary Light", 
            "value": "light--primary"
          }, 
          {
            "label": "Light", 
            "value": "light"
          }, 
          {
            "label": "Dark", 
            "value": "dark"
          }, 
          {
            "label": "Gold", 
            "value": "gold"
          }
        ]
      }, 
      {
        "type": "text", 
        "id": "side_tag", 
        "label": "Hero Tag Text", 
        "default": "Featured"
      }, 
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, 
      {
        "type": "collection", 
        "id": "collection", 
        "label": "Collection"
      }, 
      {
        "type": "text", 
        "id": "collection_side_label", 
        "label": "Collection Side Label" 
      }, 
      {
        "type": "select", 
        "id": "collection_side_label_color", 
        "label": "Collection Side Label Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection with Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
