{%- assign mega_title_color = '' %}
{% case section.settings.title_color %}
  {% when 'golden' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
  {% when 'white' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
  {% when 'black' %}
    {%- assign mega_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
{% endcase %} 
{%- assign sub_title_color = '' %}
{% case section.settings.sub_title_color %}
  {% when 'golden' %}
    {%- assign sub_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
  {% when 'white' %}
    {%- assign sub_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
  {% when 'black' %}
    {%- assign sub_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
{% endcase %}
{%- assign _background = '' %}
{%- assign _mobile_background = '' %}
{% case section.settings.background_type %}
  {% when 'image' %}
    {% capture _background %}background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});{% endcapture %}
    {% capture _mobile_background %}background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.mobile_image | img_url: '300x300' }});{% endcapture %}
  {% when 'gradient' %}
    {% capture _background = %}background: linear-gradient(115deg, {{ section.settings.color_stop_1 }}, {{ section.settings.color_stop_2 }} 41%, {{ section.settings.color_stop_3 }});{% endcapture %}
    {%- assign _mobile_background = _background %}
  {% when 'color' %} 
    {% capture _background %}background: {{ section.settings.solid_color }};{% endcapture %}
    {%- assign _mobile_background = _background %}
{% endcase %}
<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     data-display-view="desktop"
     {% if section.settings.background_type == 'image' and section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     {% endif %} style="{{ _background }}">
  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="hero__inner">
    <div class="page-width text-center"> 
      {% if section.settings.sub_title != blank %}
        <h3 class="h2 mega-subtitle hero--subtitle"{% if sub_title_color != '' %} style="background-image: {{ sub_title_color }}"{% endif %}>{{ section.settings.sub_title | escape }}</h3>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" {% if mega_title_color != '' %} style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn {{ section.settings.button_color }}--button">
          <span class="hero__btn--text">{{ section.settings.button_label | escape }}</span>
        </a>
      {% endif %}
    </div>
  </div> 
</div>

<div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
     data-display-view="mobile"
     {% if section.settings.background_type == 'image' and section.settings.mobile_image %}
     data-bgset="{% include 'bgset', image: section.settings.mobile_image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     {% endif %} style="{{ _mobile_background }}">
  {% if section.settings.mobile_image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %} 
  <div class="hero__inner">
    <div class="page-width text-center"> 
      {% if section.settings.sub_title != blank %}
        <h3 class="h2 mega-subtitle hero--subtitle"{% if sub_title_color != '' %} style="background-image: {{ sub_title_color }}"{% endif %}>{{ section.settings.sub_title | escape }}</h3>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}" {% if mega_title_color != '' %} style="background-image: {{ mega_title_color }}"{% endif %}>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn hero__btn {{ section.settings.button_color }}--button">
          <span class="hero__btn--text">{{ section.settings.button_label | escape }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>

<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.mobile_image %} style="background-image: url('{{ section.settings.mobile_image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
</noscript>

{% schema %}
  {
    "name": "Image with text overlay",
    "class": "index-section index-section--flush collection-text-overlay hero--text-overlay",
    "settings": [
      {
        "type": "select",
        "id": "background_type",
        "label": "Background Type",
        "default": "image",
        "options": [
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "gradient",
            "label": "Gradient"
          },
          {
            "value": "color",
            "label": "Color"
          }
        ]
      }, 
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      }, 
      {
        "type": "color", 
        "id": "color_stop_1",
        "label": "Color Point 1"
      }, 
      {
        "type": "color", 
        "id": "color_stop_2",
        "label": "Color Point 2"
      }, 
      {
        "type": "color", 
        "id": "color_stop_3",
        "label": "Color Point 3"
      }, 
      {
        "type": "color", 
        "id": "solid_color",
        "label": "Background Solid Color"
      }, 
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text", 
        "id": "sub_title", 
        "label": "Sub Heading" 
      }, 
      {
        "type": "select", 
        "id": "sub_title_color", 
        "label": "Sub Heading Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      }, 
      {
        "type": "select", 
        "id": "title_color", 
        "label": "Heading Color", 
        "default": "golden", 
        "options": [
          {
            "value": "golden", 
            "label": "Golden"
          }, 
          {
            "value": "white", 
            "label": "White"
          }, 
          {
            "value": "black", 
            "label": "Black"
          }
        ]
      }, 
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      {
        "type": "select",
        "id": "hero_size",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select", 
        "id": "button_color", 
        "label": "Button Color", 
        "default": "dark--primary", 
        "options": [
          {
            "label": "Primary Dark", 
            "value": "dark--primary"
          }, 
          {
            "label": "Primary Light", 
            "value": "light--primary"
          }, 
          {
            "label": "Light", 
            "value": "light"
          }, 
          {
            "label": "Dark", 
            "value": "dark"
          }, 
          {
            "label": "Gold", 
            "value": "gold"
          }
        ]
      }, 
      {
        "type": "text", 
        "id": "side_tag", 
        "label": "Hero Tag Text", 
        "default": "Featured"
      } 
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}
