<div class="grid grid--no-gutters image-bar image-bar--{{ section.settings.section_height }}">
  {% case section.blocks.size %}
    {% when 1 %}
      {%- assign column_size = '' -%}
    {% when 2 %}
      {%- assign column_size = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign column_size = 'medium-up--one-third' -%}
    {% else %}
      {%- assign column_size = 'medium-up--one-quarter' -%}
  {% endcase %}

  {% for block in section.blocks %}
    <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
      {% if block.settings.link != blank %}
        <a class="image-bar__link" href="{{ block.settings.link }}">
          <div class="image-bar__item box ratio-container lazyload">
            <img class="lazyload" data-sizes="auto" data-src="{{ block.settings.image | img_url: 'master' }}">
      {% elsif block.settings.image != blank %}
          <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload">
            <img class="lazyload" data-sizes="auto" data-src="{{ block.settings.image | img_url: 'master' }}">
      {% else %}
        <div class="image-bar__item">
      {% endif %}
      <div class="image-bar__content{% if block.settings.title != blank %} image-bar__overlay{% endif %}">
        {% if block.settings.image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        
          <div class="image-bar__text image-bar__caption">
            {% if block.settings.sub_title != blank %}
            <h3 class=""{% if block.settings.sub_title_color != blank %} style="color: {{ block.settings.sub_title_color }};"{% endif %}>{{ block.settings.sub_title | escape }}</h3>
            {% endif %}
            {% if block.settings.title != blank %}
            {%- assign block_mega_title_color = '' %}
            {% case block.settings.title_color %}
              {% when 'golden' %}
                {%- assign block_mega_title_color = 'linear-gradient(115deg, #e7da9a, #cdb373 41%, #996e2d);' %}
              {% when 'white' %}
                {%- assign block_mega_title_color = 'linear-gradient(115deg, #fff, #fff 41%, #fff);' %}
              {% when 'black' %}
                {%- assign block_mega_title_color = 'linear-gradient(115deg, #000, #000 41%, #000);' %}
            {% endcase %}
            <h2 class="h1 mega-title"{% if block_mega_title_color != '' %} style="background-image: {{ block_mega_title_color }}"{% endif %}>{{ block.settings.title | escape }}</h3>
            {%- assign block_mega_title_color = '' %}
            {% endif %}
            {% if block.settings.description != blank %}
            <div class="">{% if block.settings.color_description != blank %}{{ block.settings.description | replace: '<p>','<p style="color: DESCRIPTION_TEXT_COLOR">' | replace: 'DESCRIPTION_TEXT_COLOR',block.settings.color_description }}{% else %}{{ block.settings.description }}{% endif %}</div>
            {% endif %}
            {% if block.settings.btn_text != blank %}
            <a class="btn hero__btn {{ block.settings.button_color }}--button" href="{{ block.settings.link }}"><span class="hero__btn--text">{{ block.settings.btn_text }}</span></a> 
            {% endif %}
          </div>
      </div>
      {% if block.settings.link != blank %}
        </div></a>
      {% else %}
        </div>
      {% endif %}
    </div>
    <noscript>
      <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
        <div class="image-bar__item image-bar__item--{{ block.id }}" style="background-image: url({{ block.settings.image | img_url: '2048x' }});"></div>
      </div>
    </noscript>
  {% endfor %}
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Gallery with Text",
    "class": "index-section index-section--flush gallery-with-text",
    "max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "center",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          },
          {
            "type": "text", 
            "id": "sub_title", 
            "label": "Sub Title"
          }, 
          {
            "type": "select", 
            "id": "sub_title_color", 
            "label": "Sub Title Color", 
            "default": "white", 
            "options": [ 
              {
                "value": "white", 
                "label": "White"
              }, 
              {
                "value": "black", 
                "label": "Black"
              }
            ]
          }, 
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, 
          {
            "type": "select", 
            "id": "title_color", 
            "label": "Title Color", 
            "default": "golden", 
            "options": [
              {
                "value": "golden", 
                "label": "Golden"
              }, 
              {
                "value": "white", 
                "label": "White"
              }, 
              {
                "value": "black", 
                "label": "Black"
              }
            ]
          },
          {
            "type": "richtext", 
            "id": "description", 
            "label": "description"
          }, 
          {
            "type": "select", 
            "id": "color_description", 
            "label": "Description color",
            "default": "white", 
            "options": [ 
              {
                "value": "white", 
                "label": "White"
              }, 
              {
                "value": "black", 
                "label": "Black"
              }
            ]
          }, 
          {
            "type": "text", 
            "id": "btn_text", 
            "label": "Button Text"
          }, 
          {
            "type": "select", 
            "id": "button_color", 
            "label": "Button Color", 
            "default": "dark--primary", 
            "options": [
              {
                "label": "Primary Dark", 
                "value": "dark--primary"
              }, 
              {
                "label": "Primary Light", 
                "value": "light--primary"
              },  
              {
                "label": "Light", 
                "value": "light"
              }, 
              {
                "label": "Dark", 
                "value": "dark"
              }, 
              {
                "label": "Gold", 
                "value": "gold"
              }
            ]
          } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery with Text",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
