<div class="page-width text-center"> 
	<div class="line"></div>
	<div class="section-title ">On this page:</div>
	<div class="license-information-section">
	{% for _block in section.blocks %}
	<div class="information-content">
		{{ _block.settings.text}}
		<a href="{{ _block.settings.url }}" class="external-link">{{ _block.settings.link_text }}</a>
	</div>
	{% endfor %}
	</div>
</div>
{% schema %} 
{
	"name": "License Information", 
	"class": "index-section license-information-section",  
	"blocks": [
		{
			"type": "license-content-block", 
			"name": "License Content Block", 
			"settings": [
				{
					"type": "richtext", 
					"id": "text", 
					"label": "Information" 
				}, 
				{
					"type": "url", 
					"id": "url", 
					"label": "External link"
				}, 
				{
					"type": "text", 
					"id": "link_text", 
					"label": "External link text" 
				}
			] 
		}
	],
	"presets": [
		{
			"name": "Licensed Content Information", 
			"category": "Text"
		}
	]

}
{% endschema %} 