<!-- sections/product-template-->
{% if collection.image %}
<div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
{% endif %} 

{%- assign is_premium_product = false %} 
{%- assign is_premium_customer = false %} 
{%- assign premium_discount_price = "" %} 
{%- assign product_house = blank %}
{%- assign product_price_multiplier = 1.00 %} 

{% if product.tags contains 'gold_exclusive_' or product.metafields.productinfo.external_url != blank %}
  {%- assign is_premium_product = true %}
{% endif %} 


{% if customer %}
  {% if customer.tags contains 'premium' %}
    {%- assign is_premium_customer = true %} 
    {% unless is_premium_product %}
    {%- assign product_price_multiplier = 0.80 %} 
    {% endunless %}
  {% endif %} 
{% endif %} 
 
{% if product.metafields.sku.parent == 'HPWWDGOLDBOX' %}
  {%- assign product_price_multiplier = 1.00 %}
{% endif %}

{% if product.tags contains 'Gryffindor' %}
  {%- assign product_house = 'house--gryffindor' %} 
{% elsif product.tags contains 'Hufflepuff' %}
  {%- assign product_house = 'house--hufflepuff' %} 
{% elsif product.tags contains 'Slytherin' %}
  {%- assign product_house = 'house--slytherin' %} 
{% elsif product.tags contains 'Ravenclaw' %} 
  {%- assign product_house = 'house--ravenclaw' %} 
{% endif %}

<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true"> 
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% if product.variants.size > 1 %}
    {% assign current_variant = product.selected_or_first_available_variant %}
  {% else %}
    {% assign current_variant = product.first_available_variant %}
  {% endif %}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single">
    <h1 itemprop="name" class="product-single__title mobile_title visually-hidden">{{ product.title }}</h1>
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}"> 
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
      {%- assign product_featured_images = '' -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}
        {%- assign product_featured_image = '' -%}
        {% capture product_featured_image %} 
        {% if forloop.index == 1 and product.metafields.productinfo.trailer_urls != blank %}
        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div class="product-single__photo{% if product.images.size > 1 or product.metafields.productinfo.trailer_urls != blank %} product-single__photo--has-thumbnails{% endif %}" data-image-id="video__{{ image.id }}"> 
            <div class="product-image-video">
              {{ image.alt }}
            </div>
            <img class="lazyload" 
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}">
            <div class="visually-hidden video--holder">{% include 'product-thumbnail-video', trailer_urls: product.metafields.productinfo.trailer_urls %}</div> 
            <div class="video-play-button"></div> 
          </div> 
        </div>
        {% endif %} 
        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 or product.metafields.productinfo.trailer_urls != blank %} product-single__photo--has-thumbnails{% endif %}{% if featured_image != image or product.metafields.productinfo.trailer_urls != blank %} hide{% endif %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}> 
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}"> 
          </div>
          
        </div>
        {% endcapture %} 
        {%- assign product_featured_images = product_featured_images | append: product_featured_image -%}
      {% endfor %}
      <div class="product-images-container"> 
      {{ product_featured_images }}
      </div>

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% include 'product-thumbnails' %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">
        <div class="product-single__tag-holder"><span class="small--hide">{% include 'product-tags', product: product %}</span><span class="wishlist--holder"><span class="product--wishlist-btn">{% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button></span></span></div>
        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>
        <p class="sku">SKU: {{ product.metafields.sku.parent }}</p>

        {% include 'powerreviews-product-snippet' %}

        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          
          <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                {% if is_premium_customer != true %}<s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>{% endif %}
                <s id="ComparePrice-{{ section.id }}">{% if product.compare_at_price_varies %}{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }} {% else %}{{ current_variant.compare_at_price | money }}{% endif %}</s> 

                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                </span>

                <span class="savings">(Save {{ product.compare_at_price_max | minus: current_variant.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
            {% elsif product.variants.size > 1 %}
              {% if product.compare_at_price_max != product.price_max or product.compare_at_price_min != product.price_min %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}">{% if product.compare_at_price_varies %}{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}{% else %}{{ current_variant.compare_at_price | money }}{% endif %}</s>

                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}{% if product.price_min != product.price_max %} - {{ product.price_max | divided_by: 100.00 }}{% endif %}">
                    {% if product.price_varies %}{{ product.price_min | times: product_price_multiplier | money }} - {{ product.price_max | times: product_price_multiplier | money }}{% else %}{{ current_variant.price | times: product_price_multiplier | money }}{% endif %}
                  </span>
                </span>
                {%- assign first_compare_at_price = current_variant.compare_at_price -%}
                {%- assign last_compare_at_price = product.compare_at_price_max -%}
                {%- assign price_first = current_variant.price -%}
                {%- assign price_last = product.variants.last.price -%}
                {% if product.compare_at_price_varies %}
                <span class="savings">(Save {{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                {% elsif last_compare_at_price > price_last %}
                <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price_max | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                {% else %}
                {% if is_premium_product == false and is_premium_customer == true and product.metafields.sku.parent != 'HPWWDGOLDBOX' %}<img src="{{ 'gold.svg' | asset_url }}" alt="Special Gold Price" style="display: inline-block;line-height: 13px;height: 24px;width: 24px;position: relative;top: 0px;margin-left: 10px;transform: rotate3d(1, 1, 0, 180deg);"/>{% endif %}
                {% endif %}
              {% else %} 
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> 
                {% if is_premium_customer != true %}<s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>{% endif %}
                <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | times: product_price_multiplier | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }}">
                  {% if product.price_varies == false %}
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | times: product_price_multiplier | money }} 
                  </span>
                  {% else %}
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ product.price_min | times: product_price_multiplier | divided_by: 100.00 }}{% if product.price_min != product.price_max %} - {{ product.price_max | times: product_price_multiplier | divided_by: 100.00 }}{% endif %}">
                    {{ product.price_min | times: product_price_multiplier | money }} - {{ product.price_max | times: product_price_multiplier | money }}
                  </span>
                  {% endif %}
                </span>{% if is_premium_product == false and is_premium_customer == true and product.metafields.sku.parent != 'HPWWDGOLDBOX' %}<img src="{{ 'gold.svg' | asset_url }}" alt="Special Gold Price" style="display: inline-block;line-height: 13px;height: 24px;width: 24px;position: relative;top: 0px;margin-left: 10px;transform: rotate3d(1, 1, 0, 180deg);"/>{% endif %}
              {% endif %}
            {% elsif product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                {% if is_premium_customer != true %}<s id="ComparePrice-{{ section.id }}">{{ product.compare_at_price | money }}</s>{% endif %}
                <s id="ComparePrice-{{ section.id }}">{{ product.compare_at_price | money }}</s> 

                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
                    {{ product.price | money }}
                  </span>
                </span>

                <span class="savings">(Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> 
              {% if is_premium_customer != true %}<s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>{% endif %} 
              <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
              <span class="product-price__price product-price__price-{{ section.id }}">
                <span id="ProductPrice-{{ section.id }}"
                  itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
                  {% if product.metafields.productinfo.external_url != blank %}
                  {{ product.price | money }}
                  {%else%}
                  {% if is_premium_product == true %}{{ current_variant.price | times: product_price_multiplier | money }}{% else %}{% if current_variant.available %}{{ current_variant.price | times: product_price_multiplier | money }}{% else %}{{ product.price | times: product_price_multiplier | money }}{% endif %}{% endif %} 
                  {% comment %}{{ current_variant.price | money }}{% endcomment %}
                  {% endif %}
                </span>
              </span>{% if is_premium_product == false and is_premium_customer == true and product.metafields.sku.parent != 'HPWWDGOLDBOX' %}<img src="{{ 'gold.svg' | asset_url }}" alt="Special Gold Price" style="display: inline-block;line-height: 13px;height: 24px;width: 24px;position: relative;top: 0px;margin-left: 10px;transform: rotate3d(1, 1, 0, 180deg);"/>{% endif %}
            {% endif %}
            <span class="medium-up--hide tag--holder product-single__tag-holder">{% include 'product-tags', product: product %}</span> 

            {% if product.selected_or_first_available_variant.compare_at_price == None or product.selected_or_first_available_variant.price == product.selected_or_first_available_variant.compare_at_price %}
              {% if is_premium_product == false and is_premium_customer == false and product.metafields.sku.parent != 'HPWWDGOLDBOX' %}
                  <span class="gold--special-price">Gold price: <span class="gold--member-special-price">{{ product.selected_or_first_available_variant.price | times: 0.80  | money }}{% if product.price_varies and product.selected_variant == nil %} - {{ product.price_max | times: 0.80  | money }}{% endif %}</span> <img src="{{ 'gold.svg' | asset_url }}" alt="Special Gold Price" /></span>
              {% endif %}
              {% if is_premium_customer == true and product.metafields.sku.parent != 'HPWWDGOLDBOX' %}
              {% unless is_premium_product == true %}
                {% if product.price_varies or product.compare_at_price_varies %}
                  <span class="gold--special-price">Regular price: 
                      <span class="gold--member-special-price">
                        {{ product.price_min | money }}
                          {% if product.price_min != product.price_max %} - {{ product.price_max | money }}{% endif %}
                      </span> 
                  </span>
                {% else %}
                  <span class="gold--special-price">
                    Regular price: 
                    <span class="gold--member-special-price">
                      {{ product.price | money }}
                    </span>
                  </span>
                {% endif %}
              {% endunless %} 
              {% endif %}
            {% endif %}  
          </p> 

          <div class="product-template--mobile-tag medium-up--hide small--hide">{% if is_premium_product %}{% include 'icon-label-exclusive' %}{% endif %}</div>
          {% if product.variants.size > 1 %}
            {% if product.price_varies %}
              <pre id="product-price-range" class="visually-hidden">{{ product.price_min | times: product_price_multiplier | money }} - {{ product.price_max | times: product_price_multiplier | money }}</pre> 
              {% if product.compare_at_price_varies %} 
              <pre id="product-compare-price-range" class="visually-hidden">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</pre>
              {% endif %}
            {% endif %}
          {% endif %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item-form{% endif %}" data-section="{{ section.id }}">
            {% unless product.has_only_default_variant or product.variants.size == 1 %}
            <div class="product-options-wrapper">
              <div class="options-wrapper">
              {% for option in product.options_with_values %}
                <div class="product-option-name"><span class="option-name-container">{{ option.name }}</span>{% if forloop.first %}{% if product.tags contains 'NLA-ITEM' %}<span class="qty-left-container"></span>{% endif %}{% endif %}</div>
                <div class="selector-wrapper js product-form__item{% comment %}{% if swatch_option == option %} visually-hidden swatch-option-selector{% endif %}{% endcomment %}">
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item{% endif %}" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {%- for value in option.values -%}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
              </div>
            </div>
            {% else %}
            {% if product.tags contains 'NLA-ITEM' %}
            {% if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity < 5 %}
            <div class="product-options-wrapper">
              <div class="product-option-name"><span  class="qty-left-container">ONLY {{ current_variant.inventory_quantity }} LEFT</span></div>
            </div>
            {% endif %}
            {% endif %}
            {% endunless %}

            <div class="visually-hidden" id="product-price-multiplier" data-product-price-multiplier="{{ product_price_multiplier }}"></div>

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js" data-product-id="{{product.id}}">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-variant-quantity="{{ variant.inventory_quantity }}"{% if variant.option1 != blank %} data-option1="{{ variant.option1 }}"{% endif %}{% if variant.option2 != blank %} data-option2="{{ variant.option2 }}"{% endif %}{% if variant.option3 != blank %} data-option3="{{ variant.option3 }}"{% endif %}>
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% include 'product-personalizer' %}

            <div class="quantity-addtocart">
              <p id="quantity-label">Quantity</p>
              <div class="product-form__item product-form__item--quantity">
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">
                      <img class="qty-minus-white lazyload" data-sizes="auto" data-src="{{ 'ic_minus-white.svg' | asset_url }}">
                      <img class="qty-minus-blk lazyload" data-sizes="auto" data-src="{{ 'ic_minus-blk.svg' | asset_url }}">
                    </span>
                  </div>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  <div class="input-group-button">
                    <span class="input-number-increment">
                      <img class="qty-plus-white lazyload" data-sizes="auto" data-src="{{ 'ic_plus-white.svg' | asset_url }}">
                      <img class="qty-plus-blk lazyload" data-sizes="auto" data-src="{{ 'ic_plus-blk.svg' | asset_url }}">
                    </span>
                  </div>
                </div>
              </div> 

              {% if product.metafields.productinfo.external_url != blank %}
              <div class="product-form__item form--external-link">
                <a href="{{ product.metafields.productinfo.external_url }}" class="btn dark--primary-button product-form__cart-submit" target="_blank" >Buy from Pottermore</a>
              </div>
              {% elsif product.tags contains 'gold_exclusive' %}
                {% if is_premium_customer %}
                  {% include 'product-addtocart-button',button_type: ' premium--button' %}
                {% else %}
                  {% include 'product-exclusive-button' %}
                {% endif %}
                <div style="color: #8F2B2B; font-weight: bold; font-family: 'Sofia-Pro-Regular'; margin-top: -16px; margin-bottom: 10px; ">ALL SALES FINAL</div>
              {% else %}
                {% include 'product-addtocart-button',button_type: '' %} 
                <div style="color: #8F2B2B; font-weight: bold; font-family: 'Sofia-Pro-Regular'; margin-top: -16px; margin-bottom: 10px; ">ALL SALES FINAL</div>
              {% endif %}

              {% unless is_premium_customer %}
              {% unless is_premium_product %} 
              {% if product.tags contains 'GOLD_UPSELL' %}
              <div class="gold--promo-banner-container">
                <a href="https://www.wizardingworld.com/about-gold" target="_blank">
                  <div class="gold--promo-banner">
                    <div class="gold--icon">
                      <img src="{{ 'goldicon.svg' | asset_url }}" alt="Sign up for gold account" />
                    </div> 
                    <div class="gold--promo-text">
                      <h2>Discounts and exclusive access with Wizarding World Gold</h2>
                      <p>Buy this product at {% if current_variant.available %}{{ current_variant.price | times: 0.80 | money }}{% else %}{{ product.price | times: 0.80 | money }}{% endif %} with your 20% discount as part of Wizarding World Gold<a href="https://www.wizardingworld.com/about-gold" target="_blank" class="underline">learn more...</a></p>
                    </div> 
                  </div>
                </a>
              </div>
              {% endif %}
              {% endunless %}
              {% endunless %}
            </div>
          </form>

        </div>

        <div class="visually-hidden">
        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %} 
        </div>

        <!-- PDP Product information section -->
        <div class="product-information-container"> 
          <div class="product-short-description">{{ product.description }}</div> 
          {% if product.metafields.productinfo.size_chart != blank %}
          <div class="product-links">
            <div class="more-info-link" id="more-info-link"><a class="dark--tertiary-button" href="#">Size Chart</a></div> 
            <div class="product-additional-info">
              <div class="product-more-info" data-links-for="more-info-link">
                <div class="product-info">
                  <div class="product-info-content" id="product-info-sizechart-url" data-sizechart-url="{{ product.metafields.productinfo.size_chart | file_url }}"></div>
                </div>
              </div> 
            </div> 
          </div> 
          {% endif %}
          {% if section.settings.show_share_buttons %}
          <div class="sharing-links" data-links-for="sharing-link">Share: {% include 'social-sharing' %}</div>
          {% endif %}
          <div class="product-shipping-info">
            <div class="product-shipping-metafields">{% if product.metafields.preorder.date != blank %}<img class="lazyload" data-sizes="auto" data-src="{{ 'time-countdown.svg' | asset_url }}"><div class="product-shipping-days" id="meta-preorder">{{ product.metafields.preorder.date }}</div>{% elsif product.metafields.shipping.days != blank %}<img class="lazyload" data-sizes="auto" data-src="{{ 'time-countdown.svg' | asset_url }}"><div class="product-shipping-days">{{ product.metafields.shipping.days }}</div>{% endif %}</div>
            <div class="product-shipping-metafields">{% if product.metafields.shipsto.country != blank %}<img class="lazyload" data-sizes="auto" data-src="{{ 'ic_delivery.svg' | asset_url }}"><div class="product-shipsto">{{ product.metafields.shipsto.country }}</div>{% endif %}</div>
            <div class="product-shipping-metafields"><img class="lazyload" data-sizes="auto" data-src="{{ 'ic_share.svg' | asset_url }}"><div class="product-delivery-info">{% if is_premium_customer %}{{ settings.free_shipping_message_pdp_gold }}{% else %}{{ settings.free_shipping_message_pdp_standard }}{% endif %} <a href="/pages/shipping-delivery">Shipping & Delivery</a></div></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> 

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
  <script type="application/json" data-metafields="product-metafields-json">
    {
      {%- for namespace in metafield_namespaces -%}
        {{ namespace | json }}: {
          {%- for metafield in product.metafields[namespace] -%}
            {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        },
      {%- endfor -%}
      "pre_order": {{ collection_pre_order | json }}
    }
  </script>
{% endunless %}

{% include 'segment-product-snippet' %} 

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_product_page %}
<script src="{{ 'pdp-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="product-template__recommendations-container product-recommendations visually-hidden"
     data-base-url="{{ routes.product_recommendations_url }}"
     data-product-id="{{ product.id }}"
     data-limit="8">
  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h2 class="section-header__title">You may also like...</h2>
      </header>
      <div class="rec-items">
        <div class="slick-carousel-container">
          <div class="carousel-left">
            <img width="16" height="28" aria-label="Previous Product" role="navigation" title="left arrow" alt="left arrow" src="https://cdn.shopify.com/s/files/1/0042/7242/2986/files/ic_arrow-left-white.svg?268792" class="slick-prev slick-arrow">
          </div>
          <div class="slick-responsive-carousel"></div>
          <div class="carousel-right">
            <img width="16" height="28" aria-label="Next Product" role="navigation" alt="right arrow" title="right arrow" src="https://cdn.shopify.com/s/files/1/0042/7242/2986/files/ic_arrow-right-white.svg?268792" class="slick-next slick-arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="pdp-recommendations-item-template">
  <div class="recommended-item">
    <a>
      <div class="recommended-item-image">
        <img src="" alt="" title="" style="width:100%;">
      </div>
    </a>
    <a href="${item.url}" style="text-decoration:none;">
      <div class="name"></div>
        <div class="single-price">
          <span class="reg-price"></span>
        </div>
        <div class="double-price">
          <s class="reg-price"></s>
          <span class="sale-price"></span>
          <div class="product-price__sale-label" style="top: 0px;">SALE</div>
        </div>
    </a>
  </div>
</div>
{% endif %}

<script>
var productOptions = [];
 {% for option in product.options %}
  var optionObj = {};
  optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
  productOptions.push(optionObj);
 {% endfor %}
var __price_multiplier = {% if is_premium_customer == false %}0.8{% else %}1.25{% endif %}; 

$(window).on('load', function(){
  $(document).click(function(event){
    var $test = $(event.target);
    if($test.hasClass('swym-watchlist-cta')){
      $($('.swym-privacy-info')[0].firstChild).wrap('<span></span>').after("<div id='privacy-link'><a href='/pages/privacy-policy/' target='_blank'>Privacy Policy</a></div>");
    } 
  });  
});
</script>  

{%- assign content_quote_url = product.metafields.sku.parent | append: '_content_quote.json' | downcase | file_url %} 
<div class="product-template__featured-quote-container visually-hidden" data-content-quote-url="{{ content_quote_url }}">
  <div class="quote-container text-center visually-hidden">
    <div class="quote--text"></div> 
    <div class="quote--character"></div> 
    <div class="quote--book"></div>
  </div>
  <div class="slider--image-container small--hide hero hero--x-large hero__overlay lazy lazyload visually-hidden" data-sizes="auto" data-parent-fit="cover">
  </div>
  <div class="slider--mobile-image-container medium-up--hide hero hero--x-large hero__overlay lazy lazyload visually-hidden" data-sizes="auto" data-parent-fit="cover">
  </div>
</div> 

{%- assign content_slider_url = product.metafields.sku.parent | append: '_content_slider.json' | downcase | file_url %} 
<div class="product-template__featured-slider-container visually-hidden" data-content-slider-url="{{ content_slider_url }}">
  <div class="slider--container visually-hidden">
    <div class="grid"></div>
  </div>
  <div class="slider--container--template visually-hidden">
    <div class="grid__item">
      <div class="slider--item"> 
        <div class="slider--image-container small--hide hero hero--x-large hero__overlay lazy lazyload" data-sizes="auto" data-parent-fit="cover">
          <div class="hero__inner">
            <div class="page-width text-center">
              <h2 class="h1 mega-title"></h2>
            </div>
            <div class="video--container visually-hidden"> 
              <a href="#" class="video--watch-link"></a> 
              <a href="#" class="video--length"></a>
            </div>
          </div>
        </div> 
        <div class="slider--mobile-image-container medium-up--hide hero hero--x-large hero__overlay lazy lazyload" data-sizes="auto" data-parent-fit="cover">
          <div class="hero__inner">
            <div class="page-width text-center">
              <h2 class="h1 mega-title"></h2>
            </div>
            <div class="video--container visually-hidden"> 
              <a href="#" class="video--watch-link"></a> 
              <a href="#" class="video--length"></a>
            </div>
          </div> 
        </div> 
      </div>
    </div> 
  </div>
</div> 

{% if product.metafields.sku.parent == 'HPWWDGOLDBOX' %} 
<div class="product-template__gift-box-tc">
  <div>
    <p>The code in this box entitles the recipient to a 12 month Wizarding World Gold membership, which must be redeemed within 6 months of purchase at <a href="//WizardingWorld.com/redeem-gold" target="_blank">WizardingWorld.com/redeem-gold</a>. To redeem your membership, you will need to create a Wizarding Passport or log in using your existing Wizarding Passport. To access some of the membership benefits, you will need to download the Wizarding World app on to a compatible mobile device. Check if your Muggle device is compatible at <a href="//WizardingWorld.com/muggle-devices" target="_blank">WizardingWorld.com/muggle-devices</a>. Membership and benefits are subject to full terms and conditions, available at <a href="//wizardingworld.com/terms" target="_blank">wizardingworld.com/terms</a> and subject to change at any time.</p> 
    <p>This membership is currently only available to residents of the U.S. and the U.K. Except as required by law, the code cannot be redeemed or exchanged for cash and is non-refundable. Any questions? Don’t send an owl – email us at <a href="mailto: help@wizardingworld.com" target="_blank">help@wizardingworld.com</a>. Returns will not be accepted if the box has been opened.</p> 
    <p>*For a full list of the eBooks of the original Harry Potter stories included with this membership, visit <a href="//WizardingWorld.com/gold-benefits" target="_blank">WizardingWorld.com/gold-benefits</a>.</p> 
    <p>WIZARDING WORLD, WIZARDING PASSPORT, KEYS &amp; CURIOS and related trademarks, characters, names and indicia are TM and &copy; Warner Bros. Entertainment Inc. WIZARDING WORLD publishing and theatrical stage rights &copy; J.K. Rowling. All rights reserved.</p> 
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Product pages", 
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      } 
    ]
  }
{% endschema %}
