<!-- sections/template-page-explore.liquid -->

<div class="page-template-explore-wrapper">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'hbostore' %}
      <div class="explore-page-banner-container">
        <div class="explore-page-banner">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.316789254455!2d-73.98587528375617!3d40.75505667932715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259aab31230f1%3A0x7b9966d53e5f4019!2s1100+6th+Ave%2C+New+York%2C+NY+10036!5e0!3m2!1sen!2sus!4v1523914173187" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-textarea">
          <h4>{{ block.settings.store_title }}</h4>
          <p>{{ block.settings.store_textarea }}</p>
          <p>{{ block.settings.store_address }}</p>
          <a href="{{ block.settings.banner_url }}">{{ block.settings.store_text_link }}</a>
        </div>
      </div>
      {% when 'column' %}
      <div class="explore-page-columns" id="columns-{{ block.settings.column_title | handleize }}">
        <div class="explore-page-columns-div">
          <div class="explore-page-img-wrap">
            <img class="lazyload" data-sizes="auto" data-src="{{ block.settings.column_image | img_url: 'master' }}" alt="">
          </div>
          <div class="column_content">
            <h4>{{ block.settings.column_title }}</h4>
            <p>{{ block.settings.column_textarea }}</p>
            <a href="{{ block.settings.column_url }}">{{ block.settings.column_text_link }}</a>
          </div>
        </div>
      </div>

      {% when 'gallery' %}
      <div class="explore-page-galleries">
        <a href="{{ block.settings.gallery_url }}">
          <img class="lazyload" data-sizes="auto" data-src="{{ block.settings.gallery_image | img_url: 'master' }}" alt="">
          <div class="gallery_content">
            <h4>{{ block.settings.gallery_title }}</h4>
            <p>{{ block.settings.gallery_textarea }}</p>
            <span>{{ block.settings.gallery_text_link }}</span>
          </div>
        </a>
      </div>
      {% when 'banner' %}
      {% unless block.settings.banner_image == blank %}
      <div class="explore-page-tout">
        <div {% unless block.settings.banner_url != blank %} id="explore-banner"{% endunless %}>
          {% unless block.settings.banner_url == blank %}
          <a href="{{ block.settings.banner_url }}">
          {% endunless %}

            <img data-sizes="auto" data-src="{{ block.settings.banner_image | img_url: 'master' }}" class="desktop lazyload{% if block.settings.mob_banner_image != blank %} mob-hide{% endif %}">
            {% unless block.settings.mob_banner_image == blank %}
            <img data-sizes="auto" data-src="{{ block.settings.mob_banner_image | img_url: 'master' }}" class="mobile lazyload" alt="">
            {% endunless %}

          {% unless block.settings.banner_url == blank %}
          </a>
          {% endunless %}
        </div>
      </div>
      {% endunless %}
    {% endcase %}
  {% endfor %}
</div>

<script type="text/javascript">  
  $(document).ready(function(){
    $(window).on('load', function(){
      $('body').attr('id', 'explore-more-from-hbo');
      $(".explore-page-tout").after($(".text-center h1"));
      $(".explore-page-galleries").wrapAll("<div class='gallery-wrapper' />  ");
      $(".explore-page-columns").wrapAll("<div class='columns' />  ");
      $(".columns").wrapAll("<div class='column-wrapper' />  ");
      $(".column-wrapper .explore-page-columns:first-child").before("<h1 class='titles'>{{ 'explore.gallery.title' | t }}</h1>");
      $(".explore-page-banner-container").wrapAll("<div class='banner-wrapper' />  ");
      $('.hbo-explore').css('opacity', '1');
    });
  });
  $('#explore-banner').on('click', function() {
    $('html, body').animate({
          scrollTop: $(".gallery-wrapper").offset().top
      }, 500);
  });
</script>

{% schema %}
  {
    "name": "Explore Page template",
    "settings": [
      {
        "type": "header",
        "content": "Explore template",
        "info": "HBO Properties and Big Licensed Properties"
      }
    ],
    "blocks": [
      {
        "type": "hbostore",
        "name":"HBO Store",
        "settings": [
          {
            "type":"image_picker",
            "id": "banner_image",
            "label": "HBO Store image"
          },
          {
            "type": "text",
            "id": "store_title",
            "label": "HBO Store Title"
          },
          {
            "type": "textarea",
            "id": "store_textarea",
            "label": "HBO Store Content"
          },
          {
            "type": "textarea",
            "id": "store_address",
            "label": "HBO Store Address"
          },
          {
            "type": "text",
            "id": "store_text_link",
            "label": "HBO Store Text Link"
          },
          {
            "id": "banner_url",
            "type":"url",
            "label": "HBO Store link"
          }
        ]
      },
      {
        "type": "column",
        "name": "Columns",
        "settings": [
          {
            "type": "header",
            "content": "Columns"
          },
          {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "column_title",
            "label": "Title"
          },          
          {
            "type": "textarea",
            "id": "column_textarea",
            "label": "Column Content"
          },
          {
            "type": "text",
            "id": "column_text_link",
            "label": "Column Text Link"
          },
          {
            "type": "url",
            "id": "column_url",
            "label": "Column Link"
          },
          {  
            "type": "range",
            "id": "column_range",
            "min": 1,
            "max": 4,
            "default": 2,
            "label": "Select column range"
          }
        ]
      },
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "type": "header",
            "content": "Gallery"
          },
          {
            "type": "image_picker",
            "id": "gallery_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "gallery_title",
            "label": "Title"
          },          
          {
            "type": "textarea",
            "id": "gallery_textarea",
            "label": "Gallery Content"
          },
          {
            "type": "text",
            "id": "gallery_text_link",
            "label": "Gallery Text Link"
          },
          {
            "type": "url",
            "id": "gallery_url",
            "label": "Gallery Link"
          },
          {  
            "type": "range",
            "id": "gallery_range",
            "min": 1,
            "max": 4,
            "default": 2,
            "label": "Select gallery range"
          }
        ]
      },
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "header",
            "content": "Banner"
          },
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          },
          {
            "type": "image_picker",
            "id": "mob_banner_image",
            "label": "Mobile Banner Image"
          },
          {
            "type": "url",
            "id": "banner_url",
            "label": "Banner Link"
          }
        ]
      }
    ]
  }
{% endschema%}