<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 259 48" style="enable-background:new 0 0 259 48;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g>
	<path class="st0" d="M58.2,27l4.4-9.6l4.2,9.6H58.2z M53.3,37.8l3.1-6.8h12l2.9,6.8h4.6L62.6,7.9L48.7,37.8H53.3z"/>
	<path class="st0" d="M82.5,9.7v4H89v24.1h4.2V13.7h6.4v-4L82.5,9.7z"/>
	<path class="st0" d="M115.1,9.7h-4.3v28.1h4.3V24.7h12.1v13.1h4.3V9.7h-4.3v11h-12.1V9.7z"/>
	<path class="st0" d="M145.6,9.7v28.1h12.5v-4h-8.2V9.7L145.6,9.7z"/>
	<path class="st0" d="M185.1,9.7h-15.5v28.1h15.5v-4h-11.3v-9.4h10.9v-4h-10.9v-6.7h11.3V9.7z"/>
	<path class="st0" d="M212.3,9.7h-17.2v4h6.5v24.1h4.2V13.7h6.5V9.7z"/>
	<path class="st0" d="M232.7,17.4l4.2,9.6h-8.5L232.7,17.4z M223.5,37.8l3.1-6.8h12l2.9,6.8h4.6L232.8,7.9l-13.9,29.9H223.5z"/>
	<path class="st0" d="M25.9,22.9l-2.5,8.7l-4.6,1.9L25.9,22.9l-7.5,5l-4.7-1.6L25.9,22.9l-9-1l-2.6-4.2L25.9,22.9l-6.3-6.5l0.7-4.9
		L25.9,22.9l-0.6-9l3.7-3.3L25.9,22.9l5.4-7.3l5-0.1L25.9,22.9l8.8-2.2l3.9,3.1L25.9,22.9l8.1,4l1,4.9L25.9,22.9l3.6,8.3l-2.4,4.4
		L25.9,22.9z M41,23c0-8.4-6.8-15.2-15.2-15.2S10.6,14.6,10.6,23s6.8,15.2,15.2,15.2S41,31.4,41,23"/>
</g>
</svg>
