<div class="cart-black-overlay"></div>
<div class="cart-sidebar hide">


<div class="cart-sidebar-lara-x">
   <a>╳</a>
</div>


<div class="cart-sidebar-container">

  
  <div class="cart-sidebar--header my-side-cart">
  
    <div class="top-s-bar"><strong>Your Cart</strong> <div id="CartCount"><span>{{ cart.item_count }}</span></div></div>
<!--    <a href="javascript:void(0);">Close</a> -->
    
</div>

  </div>
<div class="cart-sidebar--items-wrpaper">
{% if cart.items.size > 0 %}
{% for item in cart.items %}
<div class="cart-sidebar-item">
      <div class="row">
         <div class="col-15 pr0">
           <div class="sidebar-item-img">{{ item.image | img_url: '100x' | img_tag: '','img-fluid'}}</div>
         </div>
         <div class="col-45 h-100">
            <div class="sidebar-cart--product-info cart-side-material">
               <div class="row">
                  <div class="col-50">
                        <strong class="item-title-cart">{{ item.product.title }}
                    
                          <span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span></strong>
                    


                          {%- assign variant_options = 'template ' | split: ' ' -%}
                          {%- if item.product.has_only_default_variant != true -%}
                            {%- assign variant_options = item.options_with_values -%}
                          {%- endif -%}
                          {%- assign property_size = item.properties | size -%}
      
                       
                            {%- for option in variant_options -%}
                              <li class="sss pro_var{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                            {%- endfor -%}
      
                   

                    
                      


                        

                    <p class="short-dis">
                        
                       SKU: {{ item.variant.sku }}
                    </p>
                  </div>
                 <div class="col-10 text-right text-right">
                           <a href="javascript:void(0);" class="cart-del delete-cart-item" data-itemid="{{ item.key }}"><svg style="height: 24px; color: #4c4741; width: 24px;">
    <g id="PDP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D_PDP_1.6-/-Ingredients" transform="translate(-1123.000000, -1440.000000)" fill="#0E1111">
            <g id="Ingredient-Modal" transform="translate(272.000000, 1416.000000)">
                <g id="Template-A-/-Icons-/-24px-/-Close" transform="translate(851.000000, 24.000000)">
                    <g id="Icons-/-Close">
                        <path d="M19.2105263,19.7587719 C19.0701754,19.7587719 18.9298246,19.7050439 18.8223684,19.5986842 L0.182017544,0.958333333 C-0.0317982456,0.744517544 -0.0317982456,0.396929825 0.182017544,0.183114035 C0.395833333,-0.0307017544 0.743421053,-0.0307017544 0.957236842,0.183114035 L19.5975877,18.8234649 C19.8114035,19.0372807 19.8114035,19.3848684 19.5975877,19.5986842 C19.4912281,19.7050439 19.3508772,19.7587719 19.2105263,19.7587719 Z" id="Path"></path>
                        <path d="M0.570175439,19.7587719 C0.429824561,19.7587719 0.289473684,19.7050439 0.182017544,19.5986842 C-0.0317982456,19.3848684 -0.0317982456,19.0372807 0.182017544,18.8234649 L18.8223684,0.183114035 C19.0361842,-0.0307017544 19.3837719,-0.0307017544 19.5975877,0.183114035 C19.8114035,0.396929825 19.8114035,0.744517544 19.5975877,0.958333333 L0.957236842,19.5986842 C0.850877193,19.7050439 0.710526316,19.7587719 0.570175439,19.7587719 Z" id="Path"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></a>
                        </div>
                 
                 </div>
              
               <div class="row mg-t-24 cart-mg">
                 
                  <div class="col-60">
                     <div class="row">
                        
                        <div class="col-30">
<!--                            <input type="number" data-item="{{ item.variant_id }}" value="{{ item.quantity}}" name="cart-prod-qty" class="quantity-selector quantity-input">
                           -->
                          <div class="cart-qty">
                          <div class="qtybox">
                    <span class="btnqty qtyminus icon icon-minus">-</span>
                    <input type="text" data-item="{{ item.variant_id }}" value="{{ item.quantity}}" name="cart-prod-qty" class="quantity-selector quantity-input">
                    <span class="btnqty qtyplus icon icon-plus">+</span>
                  </div>
                          </div>
                        </div>
                        <div class="col-30">
                          <div class="cart-p-mian">
                          <span class="cart-price">{{ item.price | money }}</span>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
  </div>
{% endfor %}
{% else %}
<div class="empty-cart-wrapper">
   <h3>Your cart is empty.</h3>
   <a href="/collections/all" class="button button--primary">Shop All Products</a>
</div>
{% endif %}
</div>
<div class="cart-sidebar--footer {% unless cart.items.size > 0 %}d-none{% endunless %}">
<div class="cart-sidebar--footer-subtotal">
   <div class="row">
      <div class="col-30">
         <strong class="my-suv-tot">Subtotal</strong>
      </div>
      <div class="col-30 text-right">
         <strong class="cart-subtotals"><span class="wh-original-cart-total"><span class='wh-original-price'><span class='ak-upsell-original-price'>{{ cart.total_price | money_with_currency }}</span><span class='ak-upsell-cart-total'></span></span></span><span class="wh-cart-total"></span><div class="additional-notes"><span class="wh-minimums-note"></span><span class="wh-extra-note"></span></div></strong>
      </div>
   </div>
   <div class="row">


<div class="col-60 f-discount">

<p>Have a discount code? Continue to checkout to redeem it.
</p>

</div>

         <div class="col-60 px-0 product-form__item product-form__item--submit">
            <div class="button">
              <div class="add">
                <button type="button" onclick="window.location='/cart'" name="add" class="btn minicart-cart-btn product-form__cart-submit d-none"><span>Cart</span></button>
                <button type="button" name="add" class="btn product-form__cart-submit" onclick="window.location='/checkout'"><span>Checkout</span></button>
               </div>
               <div class="cart-sidebar-lara">
    <a  class="text-link mcart-continue text-link--accent">
        {{ 'cart.general.continue_shopping' | t }}
      </a>
    </div>
            </div>
         </div>
   </div>
</div>
</div>
</div>
<script>
   $(document).ready(function(){
      //Delete Item From Cart
      $('.cart-sidebar--items-wrpaper').on('click','.delete-cart-item',function(){
         var itemid = $(this).data('itemid');
         var item = $(this).closest('.cart-sidebar-item');
        
        setTimeout(function(){
         $.ajax({
            url:"/cart/change.js",
            dataType: 'json',
            data: {
               quantity:0,
               id: itemid
            },
            success: function(resp) {
               $.ajax({
               url:"/cart.js",
               dataType: 'json',
               success: function(res) {
                  console.log(res);
                  item.fadeOut();
                  $('#CartCount span').eq(0).text(resp.item_count);
                  $('.site-header__cart').next().text(Shopify.formatMoney(res.total_price)+' {{ cart.currency.iso_code }}');
                  $('.cart-subtotals').text(Shopify.formatMoney(res.total_price)+' {{ cart.currency.iso_code }}');
         
               }});
            }
         })
         },300)
      });
      //Update Item From Cart
      $('.cart-sidebar--items-wrpaper').on('change','.quantity-selector',function(){
         var item = $(this).data('item');
         var qty = $(this).val();
         $.ajax({
            url:"/cart/change.js",
            dataType: 'json',
            data: {
               quantity:qty,
               id: item
            },
            success: function(resp) {
               $('#CartCount span').eq(0).text(resp.item_count);
               $('.site-header__cart').next().text(Shopify.formatMoney(resp.total_price,'${% raw %}{{amount}}{% endraw %}')+' {{ cart.currency.iso_code }}');
               $('.cart-subtotals').text(Shopify.formatMoney(resp.total_price)+' {{ cart.currency.iso_code }}');
           
            } 
         })
      });
     // Plus Minus buttons
     $('.cart-sidebar--items-wrpaper').on('click','.qtyplus',function(){
     var qtybox = $(this).closest('.qtybox').find('.quantity-selector');
       qtybox.val(parseInt(qtybox.val())+1).trigger('change');
     });
     $('.cart-sidebar--items-wrpaper').on('click','.qtyminus',function(){
     var qtybox = $(this).closest('.qtybox').find('.quantity-selector');
       if(qtybox.val() > 1) {
       qtybox.val(parseInt(qtybox.val())-1).trigger('change');
       } else if(qtybox.val() > 0) {
         $(this).closest('.cart-sidebar-item').find('.delete-cart-item').trigger('click');
       }
     });
     //Undo Delete
  
      //Close Sidebar
      $('.cart-sidebar--header a').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      $('.cart-sidebar-lara a').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      $('.cart-sidebar-lara-x a').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      $('.cart-black-overlay').click(function(){
         $('.cart-black-overlay').fadeOut();
         $('.cart-sidebar').addClass('hide');
      });
      //Open sidebar from header
      $('.site-header__cart').click(function(e){
         $('.cart-black-overlay').fadeIn();
         $('.cart-sidebar').removeClass('hide');
         return false;
      })
   })
</script>   