<script>
    (function () {
  
      /* DATALAYER: Log State */
  
      {% assign _dataLayer_isCustomer = false %}
      {% if customer %}
        {% assign _dataLayer_isCustomer = true %}
      {% endif %}
  
      {% assign _dataLayer_logState = 'Logged Out' %}
      {% if customer %}
        {% assign _dataLayer_logState = 'Logged In' %}
      {% endif %}
  
      {% assign _dataLayer_customerType = 'New' %}
      {% if customer and customer.orders_count > 2 %}
        {% assign _dataLayer_customerType = 'Returning' %}
      {% endif %}
  
      var logState = {
        'isCustomer'    : {{ _dataLayer_isCustomer }},
        'logState'      : {{ _dataLayer_logState | json }},
        'customerType'  : {{ _dataLayer_customerType | json }},
        'userId'        : {{ customer.id | downcase | json }},
        'customerEmail' : {{ customer.email | json }},
        'checkoutEmail' : {{ checkout.email | json }},
        'currency'      : {{ shop.currency | json }},
        'customerId'    : {{ customer.id | downcase | json }},
        'customerFirst' : {{ customer.first_name | json }},
        'customerLast'  : {{ customer.last_name | json }},
        'currency'      : {{ shop.currency | json }},
        'totalOrders'   : {{ customer.orders_count | downcase | json }},
        'totalSpent'    : {{ customer.total_spent | divided_by: 100 }},
        'event'       : 'Customer Details',
        };
  
      /* DATALAYER: Base Event */
          
      {% assign _dataLayer_pageType = template.name | json %}
      {% assign _dataLayer_pageEvent = template.name | json %}
  
      var url = window.location.href;
  
      var baseEvent = {
        'pageType': {{ _dataLayer_pageType }},
        'event': {{ _dataLayer_pageEvent }},
      };
  
          /* DATALAYER: Collections */
  
      {% if template.name == 'collection' %}
  
      /* OPTIONAL */
      
        var products = [{%- for product in collection.products -%}{
          'name'            : {{ product.title | json }},
          'id'              : {{ product.id | json }},
          'sku'             : {{ product.selected_or_first_available_variant.sku | json }},
          'variantId'       : {{ product.selected_or_first_available_variant.id | json }},
          'productType'     : {{ product.type | downcase | json }},
          //'position'        : index //how do we pass the position of the product in here? map function?
          'price'           : {{ product.price |  money_without_currency | remove: ',' }},
          'currentCategory' : {{ collection.title | json }},
        }{%- unless forloop.last -%},{%- endunless -%}{% endfor %}];
    
  
        /* REQUIRED */
        baseEvent.products = products;
        baseEvent.productList = {{ collection.title | json }};
  
        {% endif %}
      
      
     /* DATALAYER: Product Detail Page  */
  
      {% if template.name == 'product' %}
  
        var product = {
          'id'              : {{ product.id | json }},
          'sku'             : {{ product.selected_or_first_available_variant.sku | json }},
          'variantId'       : {{ product.selected_or_first_available_variant.id | json }},
          'productType'     : {{ product.type | downcase | json}},
          'name'            : {{ product.title | json }},
          'price'           : {{ product.price | money_without_currency | remove: ',' }},
          'comparePrice'    : {{ product.compare_at_price_max | money_without_currency | remove: ',' }},
          'currentCategory' : {{ collection.title | json }},
        };
  
        baseEvent.products = product;
  
      {% endif %}
        
      
      /* DATALAYER: Cart View */
  
      {% if template.name == 'cart' %}
  
        var product = [{% for line_item in cart.items %}{
          'id'              : {{ line_item.product_id | json }},
          'sku'             : {{ line_item.sku | json }},
          'variantId'       : {{ line_item.variantid | json }},
          'name'            : {{ line_item.title | json }},
          'price'           : {{ line_item.price | money_without_currency | remove: ',' }},
        {%- if line_item.compare_at_price_max -%}  	
          'comparePrice'    : {{ line_item.compare_at_price_max | money_without_currency | remove: ',' }},	
        {%- endif -%}
          'quantity'        : {{ line_item.quantity | downcase | json }},
        }{% unless forloop.last %},{% endunless %}{% endfor %}];
  
        baseEvent.products = product;
  
      {% endif %}
      
      /* DATALAYER: Checkout & Transaction Data */
  
      if (url.indexOf('checkouts') > -1 || url.indexOf('order') > -1) {
        __bva__products = [];
  
        {% for line_item in checkout.line_items %}
  
          __bva__products.push({
            'id'           : {{ line_item.product_id | json }},
            'sku'          : {{ line_item.sku | json }},
            'variantId'    : {{ line_item.variant_id | json }},
            'productType'  : {{ line_item.type | downcase | json}},
            'name'         : {{ line_item.title | json }},
            'price'        : {{ line_item.price | money_without_currency | remove: ',' }},
            //'comparePrice' : {{ line_item.compare_at_price_max | money_without_currency | remove: ',' }},
            'quantity'     : {{ line_item.quantity | downcase | json }},
          });
  
        {% endfor %}
  
        {% comment %} 
          Updated Ambiguous Transaction Data to cast to Number 
          ( avoid blank data from stores without checkouts )
        {% endcomment %}
        var transactionData = {
          'transactionNumber'      : {{ checkout.order_number | json }},
          'transactionId'          : {{ checkout.order_id | json }},
          'transactionAffiliation' : {{ shop.name | json }},
          'transactionCurrency'    : {{ shop.currency | json }},
          'transactionTotal'       : Number({{ checkout.total_price | money_without_currency | remove: ',' }}),
          'transactionTax'         : Number({{ checkout.tax_price | money_without_currency | remove: ',' }}),
          'transactionShipping'    : Number({{ checkout.shipping_price | money_without_currency | remove: ',' }}),
          'transactionSubtotal'    : Number({{ checkout.subtotal_price | money_without_currency | remove: ',' }}),
          {% for discount in checkout.discounts %}
          'promoCode' : {{ discount.code | json }},
          'discount'  : {{ discount.amount | divided_by: 100 | json }},
          {% endfor %}
          'products': __bva__products,
        };
  
        if (url.indexOf('thank_you') > -1) {
          baseEvent = transactionData;
          baseEvent.pageType = 'Transaction';
          baseEvent.event = 'Transaction';
        }
  
        if (url.indexOf('order') > -1) {
          baseEvent = transactionData;
          baseEvent.pageType = 'Order Status';
          baseEvent.event = 'Order Status';
        }
      }
        /* DATALAYER: Checkout */
      
      
      {% if checkout %}
      {% if page_title contains "Information" %}
        baseEvent = transactionData;
        baseEvent.pageType = 'Customer Information';
        baseEvent.event = 'Customer Information';
      {% elsif page_title contains "Shipping" %}
        baseEvent = transactionData;
        baseEvent.pageType = 'Shipping Information';
        baseEvent.event = 'Shipping Information';
      {% elsif page_title contains "Payment" %}
        baseEvent = transactionData;
        baseEvent.pageType = 'Add Payment Info';
        baseEvent.event = 'Add Payment Info';
      {% endif %}
      {% endif %}
      
      
       /* DATALAYER: Template-Specific Events */
      dataLayer.push(logState);
      dataLayer.push(baseEvent);
  
  
      /* DATALAYER: All Pages */
  
      dataLayer.push({
        'event': 'DataLayer Loaded'
        });
  }());
  </script>