<div class="footer">


    <div class="social5">
    
      <div class="container">
        
       
      
        <a href="https://facebook.com/GoldOverAmericaTour/"> <img src="{{"fb-icon.png" | asset_url}}"/></a>
        <a href="https://www.instagram.com/goldoveramericatour/"> <img src="{{"insta-icon.png" | asset_url}}"/></a>
        <a href="https://twitter.com/GoldOverAmerica"> <img src="{{"twi-icon.png" | asset_url}}"/></a>
        <a href="https://www.youtube.com/channel/UCqK0KJJ_a709VbvSSvXV6kg"> <img src="{{"yout-icon.png" | asset_url}}"/></a>
      
      
      
      
      </div>
    
    
    
    
    </div>
  
  
    <div class="custom_area">
    
    
      <div class="container">
      
      
        <div class="row">
        
          <div class="col-md-10">
          
          
            <div class="custom_links tpb">
            
              <h3 id="menu1">CUSTOMER SERVICE <i class="showinmobile pull-right fa fa-plus" aria-hidden="true"></i></h3>
              <ul class="mob_op">
                {% for link in linklists.customer-services.links %} 
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
               {% endfor %}
               
              </ul>
            
            </div>
          
          
          
          </div>
          
          <div class="col-md-10">
          
          
            <div class="custom_links">
            
              <h3 id="menu2">SECURITY AND PRIVACY <i class="showinmobile pull-right fa fa-plus" aria-hidden="true"></i></h3>
              <ul class="mob_op2">
                {% for link in linklists.security-and-privacy.links %} 
                 <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                 </ul>
            
            
            </div>
          
          
          
          </div>
          
          <div class="col-md-10"></div>
          
         
         
          
          
          
          <div class="col-md-30">
          
          
          <div class="news_letter4 tpb">
  
            
            <h2 class="">Join Our Email List</h2>

  
  
            <div style="position:relative;">
  
                {% form 'customer' %}
                     {{ form.errors | default_errors }}
                     {% if form.posted_successfully? %}
                       <div class="newsletter--form">
                         <div class="note form-success">Thanks for subscribing</div>
                       </div>
                     {% else %}
               
               
                  <input type="hidden" name="contact[tags]" value="newsletter">
               
                   <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email"  name="contact[email]" id="Email" autocorrect="off" autocapitalize="off">
               <button type="submit">SIGN UP</button>
               
                 
                        
                     {% endif %}
                   {% endform %}  
                 
                 
                 </div>
               
               
  
  
  
  
  
  </div>
          
          
          
          
          
          </div>
        
        
        
        
        </div>
      
      
      
      
      </div>
    
    
    
    </div>
  
  
   {% section 'copy-right' %}