
<div class="cust-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Overview</a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" data-toggle="tab" href="#menu1">Reviews</a>
        </li>
       
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="home"> {{ product.description }}</div>
        <div class="tab-pane container fade" id="menu1">
            
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

        </div>
      
      </div>
</div>
