<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
  <div class="holder">
    <h3 class="qv-product-title"></h3>
    <h3 class="qv-product-sku"></h3>
    <h4 class="qv-product-type"></h4>
    <h5 class="qv-product-price"></h5>
    <h5 class="qv-product-original-price"></h5>
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>
      <div class="quantity qr">
        <span>Quantity</span>
        <input type="number" class="qv-quantity" value="1" min="1">
      </div>
      <div class="meta-text">
                  

                  
        <p>This item ships to the USA , Canada, Australia, New Zealand, Mexico, Argentina, Belize, Brazil, Chile, Costa Rica, Ecuador, Spain, Honduras, Nicaragua.</p>
      

      
        <p>This item ships within 2 business days.</p>
      
    </div>
      <input type="submit" class="qv-add-button" value="Add to Cart">
      <div class="qv-add-to-cart-response"></div>
    </div>
    <div class="qv-product-description d-none"></div>
  </div>
  <a class="view-product" href=""><span>View Full Details</span></a>
</div>