{% if section.settings.tags_enable or section.settings.sort_enable %}
  {% if section.settings.sort_enable %}
    <div class="filters-toolbar__item text-left">
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      <label for="SortBy" class="label">{{ 'collections.sorting.title' | t }}: </label>
      <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
        
        {% if sort_by == collection.default_sort_by %}
            <option value="title-ascending">
              {% case sort_by %}
                {% when "manual" %}{{ 'collections.sorting.featured' | t }}
                {% when "best-selling" %}Best Selling
                {% when "title-ascending" %}{{ 'collections.sorting.az' | t }}
                {% when "title-descending" %}{{ 'collections.sorting.za' | t }}
                {% when "price-ascending" %}{{ 'collections.sorting.price_ascending' | t }}
                {% when "price-descending" %}{{ 'collections.sorting.price_descending' | t }}
                {% when "created-descending" %}{{ 'collections.sorting.date_descending' | t }}
              {% endcase %}
            </option>
          {% if collection.default_sort_by != 'manual' %}
            <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
          {% endif %}
          {% if collection.default_sort_by != 'best-selling' %}
            <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>Best Selling</option>
          {% endif %}
          {% if collection.default_sort_by != 'title-ascending' %}
            <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
          {% endif %}
          {% if collection.default_sort_by != 'title-descending' %}
            <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
          {% endif %}
          {% if collection.default_sort_by != 'price-ascending' %}
            <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
          {% endif %}
          {% if collection.default_sort_by != 'price-descending' %}
            <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
          {% endif %}
          {% if collection.default_sort_by != 'created-descending' %}
            <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
          {% endif %}
        {% else %}
          <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
          <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
          <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
          <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
          <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
          <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
          <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
        {% endif %}
      </select>

      <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
    </div>
    
    <div class="mobile-sortby-section">
      <h3 class="sortby-title">
      {% if sort_by == "manual" %}
      Sort By
      {% elsif sort_by == "best-selling" %}
      {{ 'collections.sorting.best_selling' | t }}
      {% elsif sort_by == "title-ascending" %}
      {{ 'collections.sorting.az' | t }}
      {% elsif sort_by == "title-descending" %}
      {{ 'collections.sorting.za' | t }}
      {% elsif sort_by == "price-ascending" %}
      {{ 'collections.sorting.price_ascending' | t }}
      {% elsif sort_by == "price-descending" %}
      {{ 'collections.sorting.price_descending' | t }}
      {% elsif sort_by == "created-descending" %}
      {{ 'collections.sorting.date_descending' | t }}
      {% endif %}
      </h3>
      <div class="sortby-options">
        <h5><span data-value="best-selling" {% if sort_by == "best-selling" %} class="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</span></h5>
        <h5><span data-value="title-ascending" {% if sort_by == "title-ascending"  %} class="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</span></h5>
        <h5><span data-value="title-descending" {% if sort_by == "title-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</span></h5>
        <h5><span data-value="price-ascending" {% if sort_by == "price-ascending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</span></h5>
        <h5><span data-value="price-descending" {% if sort_by == "price-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</span></h5>
        <h5><span data-value="created-descending" {% if sort_by == "created-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</span></h5>
      </div>
    </div>
  {% endif %}
{% endif %}

<script>

</script>