<!-- /snippets/account-sidebar.liquid -->

<aside class="account-sidebar">
  <h4 class="no-margin t-uppercase s-hide"><a class="fg-foreground" href="/account">{{ 'account.title' | t }}</a></h4>
  <button class="s-show" data-collapse-toggle>{{ 'account.title' | t }} <span class="open">{% include 'icon' with 'down', icon_size: '20' %}</span><span class="close">{% include 'icon' with 'up', icon_size: '20' %}</span></button>

  <ul data-collapse-content>
    <li>
      <a class="nav-link no-decoration{% if template.suffix == 'orders' or template.name == 'order' %} active{% endif %}" href="/account?view=orders">{{ 'account.orders.title' | t }}</a>
    </li>
    <li>
      <a class="nav-link no-decoration{% if template.suffix == 'wishlist' %} active{% endif %}" href="#swym-wishlist">{{ 'account.wishlist.title' | t }}</a>
    </li>
    <li>
      <a class="nav-link no-decoration{% if template.suffix == 'password' %} active{% endif %}" href="/account?view=password">{{ 'account.password.sidebar' | t }}</a>
    </li>
    <li>
      <a class="nav-link no-decoration{% if template.name == 'addresses' %} active{% endif %}" href="/account/addresses">{{ 'account.address.sidebar' | t }}</a>
    </li>
    <li>
      <a class="nav-link no-decoration" href="/account/logout">{{ 'account.logout' | t }}</a>
    </li>
  </ul>

  <div class="s-show margin-bottom-2x"></div>
</aside>
