<!-- snippets/cart-related.liquid -->

{% assign related_limit = 3 %}
{% assign related_counter = 0 %}
{% assign column_width = 'columm l12 m12 s6' %}

{% comment %}
  Assign the related products to the newest item in the cart,
  Also create a list of the current cart items so that we do not recommend them.
{% endcomment %}
{% assign has_related_origin = false %}
{% assign in_cart = '' %}

{% if cart.item_count > 0 %}
  {% for item in cart.items %}
    {% assign in_cart = in_cart | append: item.product.handle | append: ' ' %}
    {% unless has_related_origin %}
      {% unless item.product.handle == section.settings.gift_product %}
        {% assign product = item.product %}
        {% assign has_related_origin = true %}
      {% endunless %}
    {% endunless %}
  {% endfor %}
{% else %}
  {% assign product = collections.all.products | first %}
{% endif %}

{% if product.metafields.related.products %}
  {% assign related_products = product.metafields.related.products | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
  {% assign has_related = true %}
{% else %}
  {% assign related_products = '' %}
  {% for tag in product.tags %}
    {% if tag contains 'related-' %}
      {% assign product_handle = tag | remove: 'related-' %}
      {% if product_handle == all_products[product_handle].handle %}
        {% assign related_products = related_products | append: ',' | append: product_handle %}
        {% assign has_related = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign related_products = related_products | remove_first: ',' | split: ',' %}
{% endif %}

{% unless has_related %}
  {% if product.collections.size > 0 %}
    {% assign related_collection = product.collections | last %}
    {% assign related_products = related_collection.products | limit: 12 %}
  {% else %}
    {% if product.type != blank %}
      {% for product_types in collections.all.products %}
        {% if product.type == product_types.type %}
          {% assign related_products = related_products | append: ',' | append: product_handle %}
        {% endif %}
      {% endfor %}
      {% assign related_products = related_products | remove_first: ',' | split: ',' %}
    {% else %}
      {% assign related_collection = collections.all %}
      {% assign related_products = related_collection.products | limit: 12 %}
    {% endif %}
  {% endif %}
{% endunless %}

<div class="cart-related background-image" style="background-image:url({{ 'cart-related-bg.jpg' | asset_url }})">
  <div class="s-center">
    <img class="margin-bottom-2x wide" src="{{ 'cart-related-title.jpg' | asset_url }}">
  </div>
  <div class="row collapse related-products fg-text">
    {% include 'mybuys-cart' %}
  </div>
</div>

{% if settings.reviews_enable %}
  {% assign related_counter = 0 %}
  <!-- Power Reviews init -->
  <script>
    POWERREVIEWS.display.render([
      {% if has_related %}
        {% for product_handle in related_products %}
          {% if related_counter < related_limit or related_limit == 0 %}
            {% assign product = all_products[product_handle] %}
            {% unless in_cart contains product.handle %}
              {% if product.available %}
                {% assign related_counter = related_counter | plus: 1 %}
                {
                  api_key: "{{ settings.reviews_api_key }}",
                  merchant_group_id: "{{ settings.reviews_merchant_group_id }}",
                  merchant_id: "{{ settings.reviews_merchant_id }}",
                  locale: "en_US",
                  page_id: '{{ product.id }}',
                  review_wrapper_url: "https://{{ shop.domain }}/pages/write-a-review/?pr_page_id={{ product.id }}",
                  components: {
                    CategorySnippet: 'category-snippet-{{ product.id }}'
                  }
                }{% unless related_counter == related_limit %},{% endunless %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% for product in related_products %}
          {% if related_counter < related_limit %}
            {% unless in_cart contains product.handle %}
              {% if product.available %}
                {% assign related_counter = related_counter | plus: 1 %}
                {
                  api_key: "{{ settings.reviews_api_key }}",
                  merchant_group_id: "{{ settings.reviews_merchant_group_id }}",
                  merchant_id: "{{ settings.reviews_merchant_id }}",
                  locale: "en_US",
                  page_id: '{{ product.id }}',
                  review_wrapper_url: "https://{{ shop.domain }}/pages/write-a-review/?pr_page_id={{ product.id }}",
                  components: {
                    CategorySnippet: 'category-snippet-{{ product.id }}'
                  }
                }{% unless related_counter == related_limit %},{% endunless %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      {% endif %}
    ]);
  </script>
{% endif %}
