<!-- /snippets/footer-subscribe.liquid -->

{% unless email_placeholder %}{% assign email_placeholder = 'form.subscribe.email' | t %}{% endunless %}
{% unless button_text %}{% assign button_text = 'form.subscribe.submit' | t %}{% endunless %}

<div class="form-group">
  <form id="openPopup" class="wide">
    <input id="email" type="email" placeholder="{{ email_placeholder }}" aria-label="{{ email_placeholder }}" autocorrect="off" autocapitalize="off">
    <button type="sumbit" name="subscribe" id="subscribe">{{ button_text }}</button>
  </form>
</div>

<div id="PopupSubscribe" class="popup overlay" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
      </div>
      <div class="container">
        {% include 'form-subscribe' with 'detailed', popup: true %}
      </div>
      <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">
        {% include 'icon' with 'close' %}
      </a>
    </div>
  </div>
</div>

<script>
  var subscribePopup = new Focus('#PopupSubscribe');

  $(document).on('submit', '#openPopup', function(e) {
    e.preventDefault();
    $email = $(this).children('#email')
    var emailAddress = $email.val();
    $email.val('');
    $('#PopupSubscribe .form-subscribe [type="email"]').val(emailAddress);
    subscribePopup.show();
  });
</script>
