<!-- snippets/form-login.liquid -->

<div id="LoginForm">
  {% form 'customer_login' %}

    {{ form.errors | default_errors }}

    <label for="CustomerEmail" class="clearfix w-normal">{{ 'account.form.email' | t }}</label>
    <input type="email" name="customer[email]" id="CustomerEmail" class="small wide f-body{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'account.form.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
    {% if form.password_needed %}
      <label for="CustomerPassword" class="clearfix w-normal">{{ 'account.form.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="small wide f-body{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'account.form.password' | t }}">
    {% endif %}

    <button type="submit" class="medium bitmap no-hover margin-bottom-2x"><img src="{{ 'button-sign-in.png' | asset_url }}"></button>

    {% if form.password_needed %}
      <p><a href="/account/login?view=recover">{{ 'account.login.forgot_password' | t }}</a></p>
    {% endif %}
  {% endform %}

  <p>{{ 'account.login.legacy_accounts.title_html' | t }} <a href="#PopupLegacyAccounts" data-target="#PopupLegacyAccounts" data-trigger="popup">{{ 'account.login.legacy_accounts.more' | t }}</a></p>

  <div id="PopupLegacyAccounts" class="popup overlay">
    <div class="popup-inner">
      <div class="popup-content">
        <div class="container s">
          <p>{{ 'account.login.legacy_accounts.details' | t }}</p>
          <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    var legacyAccounts = new Focus('#PopupLegacyAccounts');
  </script>
</div>
