{% if settings.mybuys_enabled %}
<script>
    (function(d, c, x, s, e) {
        s = d.createElement(x);
        s.src = '//t.p.mybuys.com/clients/' + c + '/js/mybuys_qs.js';
        s.async = true;
        s.type = 'text/javascript';
        e = d.getElementsByTagName(x)[0];
        e.parentNode.insertBefore(s, e);
    })(document, '{{ settings.mybuys_client_identifier }}', 'script');
</script>
{% endif %}
