<!-- /snippets/popup-ezprints.liquid -->

{% comment %}
  Displays the product customiser app and customizer app agreement.
{% endcomment %}

<div id="PopupEzPrints" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">

      <div id="ezPrintsContainer"></div>

      <a href="#close" class="popup-close bitmap no-hover" data-close aria-label="{{ 'common.close' | t }}"><img src="{{ 'button-close.png' | asset_url }}"></a>
    </div>
  </div>
</div>

<div id="PopupEzPrintsAgreement" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">
      <div class="container s">
        <div class="row no-margin">
          <div class="column l12">
            <p class="center">
              {{ 'product.ezp.title' | t }}
            </p>
            <p class="center">
              {{ 'product.ezp.terms' | t }}
            </p>
          </div>
        </div>
        <div class="row no-margin">
          <div class="column l6">
            <p class="right">
              <button id="CustomizeDecline">DECLINE</button>
            </p>
          </div>
          <div class="column l6">
            <p>
              <button id="CustomizeAccept">ACCEPT</button>
            </p>
          </div>
        </div>
      </div>

      <a href="#close" class="popup-close bitmap no-hover" data-close aria-label="{{ 'common.close' | t }}"><img src="{{ 'button-close.png' | asset_url }}"></a>
    </div>
  </div>
</div>
<script type="text/javascript" src="//apps.ezprints.com/home/e65d2491-16e2-4fc9-86cd-1505057c340e.ezp"></script>
<script>
  var ezPrintsPopup = new Focus('#PopupEzPrints');
  var ezPrintsAgreementPopup = new Focus('#PopupEzPrintsAgreement');

  $(document).on('click', '#CustomizeAccept', function(event) {
    event.preventDefault();
    Cookies.set('customize_agreement', 'true');
    ezPrintsAgreementPopup.hide();
    ezPrintsPopup.show();
  });

  $(document).on('click', '#CustomizeDecline', function(event) {
    event.preventDefault();
    ezPrintsAgreementPopup.hide();
  });

  $(document).on('click', '#CustomizeProduct', function(event) {
    event.preventDefault();
    var variant_selected = true;
    {% if multiple_variants %}
      $('.single-option-selector').each(function() {
        if($(this).val() === "") {
          variant_selected = false;
          return alert('Please select a '+$(this).data('name')+'.');
        }
      })
      if(!variant_selected) return;
    {% endif %}
    if(Cookies.get('customize_agreement') === undefined) {
      ezPrintsAgreementPopup.show();
    } else {
      ezPrintsPopup.show();
    }
  });
</script>

<script type="text/javascript">
  var templateId = '{{ product.selected_or_first_available_variant.sku }}';
  var ezpSku = '{{ product.selected_or_first_available_variant.metafields.variantinfo.ezp_sku }}'
  var productIdToEzpMap = {
    {%- for variant in product.variants -%}
      {%- if variant.metafields.variantinfo.ezp_sku != blank -%}
        '{{ variant.id }}': {
          sku: '{{ variant.metafields.variantinfo.ezp_sku }}',
          template: '{{ variant.sku }}'
        },
      {%- endif -%}
    {%- endfor -%}
  }

  // fires when the application is ready for use
  var readyHandler = function() {
    //console.log('ready');
    $('#CustomizeProduct').show();
    $('.single-option-selector').each(function() {
      $(this).show();
    })
  };
  var loadHandler = function() {
    //console.log('load');
  };
  var saveHandler = function() {
    //console.log('save');
  };
  var templateHandler = function() {
    //console.log('template');
  };
  var addToCartHandler = function(projectId, ezpSku, thumbnail) {
    var variantId = $('select[name="id"]').val();
    var properties = {
      _ezp_projectId: projectId,
      _ezp_sku: ezpSku,
      _ezp_thumbnail: thumbnail
    }
    // (variant id, quantity, line item properties)
    cart.addItem(variantId, 1, properties);
    ezPrintsPopup.hide();
  };
  var errorHandler = function(error) {
    console.log(error);
  };
  var ezpApp = ezp.apps.createTemplateApp({
    preferHtml5: true,
    transparent: true,
    elementId: 'ezPrintsContainer', // The id of the element the iframe will be loaded in
    projectId: '',
    width: 750, // width of the app iframe
    height: 600, //Height of the app iframe
    sku: ezpSku, // SKU of the EZPrints product - i.e the product that will be printed on such as a mug.
    addToCartCallback: addToCartHandler, // fired when the product is added to the EZprints cart
    errorCallback: errorHandler, // Fired when the app throws an error
    readyCallback: readyHandler, // Fired when the app is ready
    loadCallback: loadHandler, // Callback for after the app has loaded
    saveCallback: saveHandler, // Fired when the customisation is saved
    templateLoadCallback: templateHandler, // Fired when a template is loaded
    templateId: templateId, // Defines a template for the app to use
    {% unless product.metafields.productinfo.customizable == 'text' %}
      singleMediaUploadEnabled: true, // Allows users to upload files from their device
      mediaPickerSources: ['ezpservices','facebook','flickr','picasa','smugmug'], // Allows users to upload images from these sources.
    {% endunless %}
    // comboTrayInitialAssetCollectionUri: "EMPTY" // Not sure what this does, there is no documentation for it but it existed on the old site.
  });

  $(document).on('variantChange', function(event) {
    var AddToCartButton = '[data-add-to-cart]',
        AddToCartText = '#AddToCartText';
    if (event.variant.available) {
      $(AddToCartButton).prop('disabled', false);
      $(AddToCartText).html(concrete.strings.customizeIt);
    } else {
      $(AddToCartButton).prop('disabled', true);
      $(AddToCartText).html(concrete.strings.soldOut);
    }
    // Turn it into a string
    var variant = event.variant.id+'';
    ezpApp.setSku(productIdToEzpMap[variant].sku, productIdToEzpMap[variant].template);
  });
</script>
