<!-- snippets/product-features.liquid -->

{% for block in section.blocks %}
  {% if block.type == 'feature' %}
    {% assign display = false %}

    {% if block.settings.display == '' or block.settings.display_on == blank %}
      {% assign display = true %}
    {% elsif block.settings.display == 'tag' %}
      {% if product.tags contains block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'type' %}
      {% if product.type == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'vendor' %}
      {% if product.vendor == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% endif %}

    {% if display %}
      <div class="product-feature margin-bottom-2x">
        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            <a class="block" {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %}>
          {% endif %}
        {% endif %}

        {% unless block.settings.image == blank %}
          {% assign size = block.settings.image.width | append: 'x' %}
          <img class="v-middle" src="{{ block.settings.image | img_url: size }}">
        {% endunless %}

        {% unless block.settings.content == blank %}
          <div class="inline rte v-middle">{{ block.settings.content }}</div>
        {% endunless %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% unless block.settings.link_text == blank %}
            <p class="inline no-margin v-middle"><a {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_text }}</a></p>
          {% endunless %}
        {% endif %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

{% if product.metafields.shipsto.country != blank %}
  <p>
    {{ product.metafields.shipsto.country }}
  </p>
{% endif %}

{% capture product_tags %}
  {{ product.tags }}
{% endcapture %}

{% if product_tags contains 'Genre_' %}
  {%- capture genre_list -%}
    {%- for tag in product.tags -%}
      {%- if tag contains 'Genre_' -%}
        , <a href="/collections/all/{{ tag | handleize }}" title="All {{ tag | remove: 'Genre_' }} genre products">{{ tag | remove: 'Genre_' }}</a>
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}

{% if product_tags contains 'Actor_' %}
  {%- capture cast_list -%}
    {%- for tag in product.tags -%}
      {%- if tag contains 'Actor_' -%}
        , <a href="/collections/all/{{ tag | handleize }}" title="All {{ tag | remove: 'Actor_' }} genre products">{{ tag | remove: 'Actor_' }}</a>
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}

{% if product_tags contains 'Genre_' %}
  <p class="no-margin">Genre:
    {{ genre_list | remove_first: ', '}}
  </p>
{% endif %}

{% if product_tags contains 'Actor_' %}
  <p class="no-margin">Cast:
    {{ cast_list | remove_first: ', '}}
  </p>
{% endif %}
