<!-- snippets/product-recently-viewed.liquid -->

{% assign recent_limit = 3 %}
{% assign column_width = 'column l3 m3 s12' %}

<div id="RecentlyViewed"></div>

<script>
  $(document).ready(function() {
    concrete.product.recent = {
      settings: {
        container: "#RecentlyViewed",
        title: "{{ 'product.recents' | t }}",
        imageSize: '500x',
        limit: {{ recent_limit }},
        handle: "{{ product.handle }}"
      },
      store: function() {
        var limit = concrete.product.recent.settings.limit + 1,
            recents = Cookies.get('recentlyViewedProducts'),
            products = [];

        if (recents) {
          products = JSON.parse(recents);
          if ($.inArray(concrete.product.recent.settings.handle, products) !== -1) {
            products.splice($.inArray(concrete.product.recent.settings.handle, products), 1);
            products.push(concrete.product.recent.settings.handle);
          } else {
            products.push(concrete.product.recent.settings.handle);
          }
        } else {
          products.push(concrete.product.recent.settings.handle);
        }

        if (products.length > limit) {
          products.shift();
        }

        var cookieData = JSON.stringify(products)
        Cookies.set('recentlyViewedProducts', cookieData);
      },
      get: function() {
        var limit = concrete.product.recent.settings.limit,
            recents = Cookies.get('recentlyViewedProducts'),
            totalProducts = 0,
            hasProducts = false,
            recentProducts = $('<div class="row collapse"></div>');

        if (recents) {
          var products = JSON.parse(recents);

          $.each(products, function(index, handle) {
            if (handle != concrete.product.recent.settings.handle) {
              hasProducts = true;
              $.getJSON('/products/' + handle + '.json', function(data) {
                var product = data.product,
                    productImage = false;

                if (totalProducts < limit) {
                  if (product['images'][0]) {
                    if (product.images[0].src) {
                      productImage = product.images[0].src;
                      productImage = productImage.replace('.jpg', '_' + concrete.product.recent.settings.imageSize + '.jpg');
                    }
                  }

                  var item = $('<div class="{{ column_width }}"></div>'),
                      thumbnail = $('<div class="thumbnail"></div>'),
                      url = $('<a class="block" href="/products/' + product.handle + '" title="' + product.title + '"></a>');

                  if (productImage) {
                    var image = $('<div class="product-image bg-foreground"><div class="ratio contain" data-ratio="1:1" style="background-image:url(' + productImage + ')"></div></div>');
                  } else {
                    var image = $('<div class="product-image bg-foreground"><div class="ratio placeholder-background-product-' + (index + 1) + '" data-ratio="1:1"></div></div>');
                  }

                  url.append(image);
                  thumbnail.append(url);
                  item.append(thumbnail);
                  recentProducts.append(item);
                  totalProducts++;
                }
              });
            }
          });
          if (hasProducts) {
            $(concrete.product.recent.settings.container).append(recentProducts).prepend('<h4 class="margin-top-3x no-margin">' + concrete.product.recent.settings.title + '</h4>');
          }
        }
        concrete.product.recent.store();
      }
    }

    // Init on docready
    concrete.product.recent.get();
  });
</script>
