<!-- snippets/search-filters.liquid -->

{% assign filter_limit = 9 %}
{% assign has_any_filters = false %}

{% for block in section.blocks %}
  {% if block.type == 'tag' %}
    {% if linklists[block.settings.menu].links.size > 0 %}
      {% assign has_any_filters = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if has_any_filters %}
  <h4 class="t-uppercase s-hide">{{ 'search.filter.sidebar' | t }}</h4>
  <button class="s-show" data-collapse-toggle>{{ 'search.filter.title' | t }} <span class="open">{% include 'icon' with 'down', icon_size: '20' %}</span><span class="close">{% include 'icon' with 'up', icon_size: '20' %}</span></button>

  <div class="search-filters" data-collapse-content>
    {% for block in section.blocks %}
      {% if block.type == 'tag' %}
        {% assign has_filters = false %}
        {% assign active_filters = false %}
        {% assign filter_count_total = 0 %}
        {% assign filter_count = 0 %}

        {% if linklists[block.settings.menu].links.size > 0 %}
          {% for link in linklists[block.settings.menu].links %}
            {% assign tag = link.title | handleize %}
            {% if link.url contains '/collections/' %}
              {% assign link_parts = link.url | split: '/' %}
              {% if link_parts.size == 4 %}
                {% assign tag = link_parts | last | handleize %}
              {% endif %}
            {% endif %}

            {% assign has_filters = true %}
            {% assign filter_count_total = filter_count_total | plus: 1 %}

            {% for term in current_terms %}
              {% if term == tag %}
                {% assign active_filters = true %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}

        {% if has_filters %}
          <div class="search-filter margin-bottom-2x">
            {% unless block.settings.title == blank %}<h4 class="no-margin">{{ block.settings.title }}</h4>{% endunless %}

            {% if active_filters %}
              <p class="no-margin">
                <a data-search-filter-reset="{{ block.id }}">
                  &laquo;
                  {% if block.settings.all != blank %}
                    {{ block.settings.all }}
                  {% else %}
                    {{ 'search.filter.all' | t }}
                  {% endif %}
                </a>
              </p>
            {% endif %}

            {% if linklists[block.settings.menu].links.size > 0 %}
              {% for link in linklists[block.settings.menu].links %}
                {% assign tag = link.title | handleize %}
                {% if link.url contains '/collections/' %}
                  {% assign link_parts = link.url | split: '/' %}
                  {% if link_parts.size == 4 %}
                    {% assign tag = link_parts | last | handleize %}
                  {% endif %}
                {% endif %}

                {% assign filter_count = filter_count | plus: 1 %}
                {% assign active_filter = false %}

                {% if filter_count == filter_limit and filter_count_total >= filter_limit %}
                  <div data-collapse-content>
                {% endif %}

                {% for term in current_terms %}
                  {% if term == tag %}
                    {% assign active_filter = true %}
                  {% endif %}
                {% endfor %}

                <div>
                  <input type="checkbox" id="{{ block.id }}_{{ tag }}" name="{{ block.id }}" data-search-filter="tag" data-filter="{{ tag }}"{% if active_filter %} checked{% endif %}>
                  <label class="w-normal" for="{{ block.id }}_{{ tag }}">{{ link.title }}</label>
                </div>

                {% if filter_count == filter_count_total and filter_count >= filter_limit %}
                  </div>
                  <p class="no-margin s-hide" data-collapse-toggle><a href="#"><span class="more">{{ 'search.filter.more' | t }}</span><span class="less">{{ 'search.filter.less' | t }}</span></a></p>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
