<!-- snippets/social-links.liquid -->
{% assign use_images = use_images | default: false %}
{% assign icons = true %}
{% assign social_icons_available = 'facebook,twitter,instagram,pinterest,google_plus,youtube,vimeo' | split: ',' %}

{% if use_images %}
  <ul class="inline" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="{{ shop.url }}">
    {% for social in social_icons_available %}
      {% capture title %}social.{{ social }}{% endcapture %}
      {% capture image_url %}social-{{ social }}.jpg{% endcapture %}
      {% capture link %}social_{{ social }}_link{% endcapture %}
      {% if settings[link] != blank %}
        <li>
          <a href="{{ settings[link] }}" title="{{ shop.name }} on {{ title | t }}" target="_blank" itemprop="sameAs">
            <img src="{{ image_url | asset_url }}" alt="Follow on {{ social }}">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <ul class="inline" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="{{ shop.url }}">
    {% for social in social_icons_available %}
      {% capture title %}social.{{ social }}{% endcapture %}
      {% capture link %}social_{{ social }}_link{% endcapture %}
      {% if settings[link] != blank %}
        <li>
          <a href="{{ settings[link] }}" title="{{ shop.name }} on {{ title | t }}" target="_blank" itemprop="sameAs">
            {% if icons %}
              {% include 'icon-social' with social %}
            {% else %}
              {{ title | t }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
