<!-- snippets/theme-typography.liquid -->

{% assign default_weights = '300,400,600,700' %}
{% assign google_embed_url = "" %}
{% assign has_embed = false %}

{% if settings.font_body_face contains 'Google' or settings.font_body_custom_google != '' %}
  {% if settings.font_body_custom_google != '' %}
    {% assign font_body = settings.font_body_custom_google %}
    {% if font_body contains ':' %}
      {% assign font_body = font_body | split: ':' %}
      {% assign font_weight = font_body[1] | downcase | strip | replace: ' ', '-' | replace: 'thin', '100' | replace: 'extra-light', '200' | replace: 'light', '300' | replace: 'regular', '400' | replace: 'medium', '500' | replace: 'semi-bold', '600' | replace: 'bold', '700' | replace: 'extra-bold', '800' | replace: 'black', '900' %}
      {%- assign body_url = font_body[0] | replace: ' ', '+' | append: ':' | append: font_weight -%}
    {% else %}
      {%- assign font_family = font_body | replace: ' ', '+' -%}
      {% assign font_weight = default_weights %}
      {% capture body_url %}{{ font_family }}:{{ font_weight }}{% endcapture %}
    {% endif %}
  {% else %}
    {%- assign font_body = settings.font_body_face | split: '_' -%}
    {% capture body_url %}{{ font_body[1] }}:{{ default_weights }}{% endcapture %}
  {% endif %}

  {% assign google_embed_url = body_url %}
  {% assign has_embed = true %}
{% endif %}

{% if has_embed %}
  {{ '//fonts.googleapis.com/css?family=' | append: google_embed_url | stylesheet_tag }}
{% endif %}
