<!-- /snippets/theme-nav-toggled.liquid -->

<nav class="theme-nav-toggled drawer from-left bg-alternate fg-foreground l-hide" id="NavToggled" role="navigation">
  {% if primary_menu.links.size > 0 %}
    <div class="fg-brand palette" role="navigation">
      {% include 'theme-nav-accordion' with primary_menu %}
    </div>
  {% endif %}

  {% if secondary_menu.links.size > 0 %}
    <div class="fg-brand palette margin-top" role="navigation">
      {% include 'theme-nav-accordion' with secondary_menu %}
    </div>
  {% endif %}

  {% if tertiary_menu.links.size > 0 %}
    <ul class="account-menu">
      {% include 'theme-nav-account' %}
    </ul>
  {% endif %}

  <a href="#close" class="drawer-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close-drawer' %}</a>
</nav>
