<!-- snippets/theme-logo.liquid -->

{% if template == 'index' %}
  <h1 class="logo relative" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% else %}
  <div class="logo relative h1" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% endif %}
  <meta itemprop="name" content="{{ shop.name }}">
  {% if settings.logo != blank %}
    <a href="/" itemprop="url" title="{{ shop.name }}" class="logo-image relative">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="{{ settings.logo | img_url: logo_width, scale: 10 }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" width="{{ settings.logo_width | replace: 'x', 'px' }}"{% if settings.logo_small != blank %} class="s-hide m-hide"{% endif %}>
        {% if settings.logo_small != blank %}<img src="{{ settings.logo_small | img_url: logo_width, scale: 2 }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" class="l-hide">{% endif %}
      </span>
    </a>
  {% else %}
    <a href="/" itemprop="url" title="{{ shop.name }}">{{ shop.name }}</a>
  {% endif %}
{% if template == 'index' %}
  </h1>
{% else %}
  </div>
{% endif %}
