/* Cart ======================================================================*/

.quantity-adjust {
  margin-top: 2px;
  @include prefixer(user-select, none, webkit moz ms o spec);
  input.quantity {
    display: inline-block;
    width: $gutter/1.5;
    height: $gutter/2.5;
    line-height: $gutter/2.5 - $borderWeight*2;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: $colorForeground;
    border-radius: 0;
    border-width: 2px;
    border-color: $colorBorder;
    font-size: $h5Base;
    color: $colorText;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.template-cart {
  aside {
    @include ml() {
      border-left: $borderWeight $borderStyle $colorBorder;
      padding-left: $gutter/2;
    }
  }

  #CartHeader {
    background-color: rgba($colorBrand, 0.15);
    padding: $gutter/10;
  }

  .cart-row {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    .product-image {
      margin-right: $gutter/2.5;
      .ratio {
        border: $borderWeight $borderStyle $colorBorder;
      }
    }
    .sale_price {
      color: $colorError;
    }
    .original_price {
      text-decoration: line-through;
    }
    .savings {
      font-size: 10px;
    }
  }

  .coupon-code {
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
  }
}
