/* Page Site Map ==============================================================*/

.template-page {
  #MainContent {
    .sitemap {
      ul {
        margin-bottom: $gutter/4;
      }
      a.tier-1:hover {
        text-decoration: none;
      }
      h2 {
        color: $colorText;
        font-size: $h3Base;
        margin-bottom: $gutter/10;
        border-bottom: dotted 1px lighten($colorText, 25%);
      }
      h3 {
        font-size: $pBase;
        font-weight: $fontRegular;
        margin-bottom: $gutter/10;
      }
    }
  }
}
