{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            <p class="footer-menu-title">Customer Service</p>
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
              <li class="site-footer__linklist-item">(800) 279-2736</li>
          </ul>
        {% endif %}
      </div>

      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
        {% if linklists[footer_linklist_two].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            <p class="footer-menu-title">Security and Privacy</p>
            {% for link in linklists[footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-half">
          <div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <label for="Email" class="h4">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
             	<p class="newsletter-agree">Send me email updates and offers from Fox and its Company Affiliates. I can opt out at any time. By signing up below, I agree to the <a href="https://www.foxprivacy.com/us/privacy.html">Fox Privacy Policy</a> and <a href="/pages/terms-conditions">Terms of Use</a>.</p>   
            	<div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
          {% if social_icons %}
            <div class="grid__item{% if section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
              <ul class="list--inline site-footer__social-icons social-icons">
                {% if settings.social_facebook_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                      {% include 'icon-facebook' %}
                      <span class="icon__fallback-text">Facebook</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_twitter_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                      {% include 'icon-twitter' %}
                      <span class="icon__fallback-text">Twitter</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_pinterest_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                      {% include 'icon-pinterest' %}
                      <span class="icon__fallback-text">Pinterest</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                      {% include 'icon-instagram' %}
                      <span class="icon__fallback-text">Instagram</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_tumblr_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                      {% include 'icon-tumblr' %}
                      <span class="icon__fallback-text">Tumblr</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_snapchat_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                      {% include 'icon-snapchat' %}
                      <span class="icon__fallback-text">Snapchat</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_youtube_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                      {% include 'icon-youtube' %}
                      <span class="icon__fallback-text">YouTube</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_vimeo_link != blank %}
                  <li>
                    <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                      {% include 'icon-vimeo' %}
                      <span class="icon__fallback-text">Vimeo</span>
                    </a>
                  </li>
                {% endif %}
                {% if template.name == 'blog' or template.name == 'article' %}
                  <li>
                    <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                      {% include 'icon-rss' %}
                      <span class="icon__fallback-text">RSS</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
      	  {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid grid--no-gutters">

      <div class="grid__item text-center">
        <div class="site-footer-payment-icons">
          <p>WE ACCEPT:</p>
          {% include 'icon-master' %}
          {% include 'icon-visa' %}
          {% include 'icon-american_express' %}
          {% include 'icon-discover' %}
          {% include 'icon-paypal' %}
        </div>
        <div class="site-footer__copyright">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">ShopApesMovie.com is operated by Araca Merchandise L.P. under
              license from Twentieth Century Fox Film Corporation.<br>
              Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase.<br>
              &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.<br><br>
              WAR FOR THE PLANET OF THE APES &trade; &amp; &copy; {{ 'now' | date: "%Y" }} Twentieth Century Fox Film Corporation. All Rights Reserved.
            </small>
          {% endunless %}
          {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                      <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%}
                        {% include icon_name %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">ShopApesMovie.com is operated by Araca Merchandise L.P. under
          license from Twentieth Century Fox Film Corporation.<br>
          Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase.<br>
          &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.<br>
          WAR FOR THE PLANET OF THE APES &trade; &amp; &copy; {{ 'now' | date: "%Y" }} Twentieth Century Fox Film Corporation. All Rights Reserved.
        </small>
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
