<section class="cart-heading">
  <div class="cart-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="cart-heading-inner">
          <h1 class="page-title"><span>{{ 'cart.general.title' | t }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/cart" title="{{ 'cart.general.title' | t }}">{{ 'cart.general.title' | t }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cart-content">
  <div class="cart-wrapper">
    <div class="container">
      <div class="row">
        <div class="cart-inner">
          <div id="cart">  
            {% if cart.item_count == 0 %}
            <div class="cart-empty">
              <h2 class="tc">{{ 'cart.general.empty' | t }}</h2>
            </div>
            {% else %}
            <div id="qab_placeholder" style="padding-bottom: 15px;"></div>
            <div class="cart-form">
              <form action="/cart" method="post" id="cartform">
                <script>
                /* If the length of sessionStorage "discount" is NOT 0 then add our sessionStorage value to the end of our Checkout link */
                /* Link: http://stackoverflow.com/a/4704786 */
                if (sessionStorage.getItem("discount").length != 0) {
                  document.getElementById('cartform').action = "/cart?discount=" + sessionStorage.getItem("discount");
                };
                </script>
                <table>
                  <thead>
                    <tr>
                      <th class="image" colspan="2">{{ 'cart.label.product' | t }}</th>
                      <th class="price">{{ 'cart.label.price' | t }}</th>
                      <th class="qty">{{ 'cart.label.quantity' | t }}</th>
                      <th class="total">{{ 'cart.label.total' | t }}</th>
                      <th class="remove">{{ 'cart.label.remove' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart.items %}
                    <tr>
                      <td class="image">
                        <div class="product_image">
                          <a href="{{ item.url }}">
                            <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" />
                          </a>
                        </div>                            
                      </td>
                      <td class="image-info">
                        <div class="product_name">
                          <a href="{{ item.url }}">
                            <p>{{ item.product.title }}</p>
                            {% if item.product.variants.size > 1 %}
                            <span class="variant_title">{{ item.variant.title }}</span>
                            {% endif %}
                          </a>
                        </div>
                      </td>
                      <td class="price">{{ item.price | money }}</td>
                      <td class="qty">
                        <div class="quantity-wrapper">
                          <div class="wrapper">
                            <input type="text" size="4" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="tc item-quantity" />
                          </div><!--End wrapper-->                  
                        </div><!--End quantily wrapper-->                
                      </td>
                      <td class="total title-1">{{ item.line_price | money }}</td>
                      <td class="remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart"><i class="fa fa-trash"></i></a></td>              
                    </tr>
                    {% endfor %}
                    <tr class="summary">                          
                      <td class="total" colspan="4"><input type="submit" id="update-cart" class="btn" name="update" value="{{ 'cart.general.update' | t }}" /></td>
                      <td class="price" colspan="2"><span class="total"><strong>{{ cart.total_price | money }}</strong></span></td>                      
                    </tr>
                  </tbody>
                </table>

                <div class="group-checkout-input">        
                  {% if settings.allow_add_note %}
                  <div class="checkout-buttons col-sm-6 col-xs-12">
                    <label for="note">{{ 'cart.general.note' | t }}</label>
                    <textarea id="note" name="note" rows="10" cols="50">{{ cart.note }}</textarea>
                  </div>
                  {% endif %}
                  {% if settings.show_shipping_calculator %}
                  <div class="shipping-calculator col-sm-6 col-xs-12 ">
                    {% include 'cart_shipping-calculator' %}
                  </div>
                  {% endif %}
                </div>
				<div id="location">
                  <p>
                    <input type="checkbox" id="agree" />
                    <label id="agreelabel" for="agree">
                      <span style="color: red;">*</span> If I ship my order outside of the USA, I accept that I am responsible for any and all import fees, duties and/or local taxes.
                    </label>
                  </p>
                </div>
                <div class=" cart-buttons">
                  <div class="buttons clearfix">
                    <input type="submit" id="checkout" class="btn" name="checkout" value="{{ 'cart.general.checkout' | t }}" />                        
                  </div>
                </div>

                {% if additional_checkout_buttons %}        
                <div class="row">
                  <div class="extra-checkout-buttons span6 inner-right" style="float: right; padding-right: 15px; padding-bottom: 15px;">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                </div>
                {% endif %}
              </form>
            </div>
            {% endif %}  
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>

