<!-- Marketing Banner Starts -->
<!-- <div style="padding-bottom: 10px; max-width: 1200px; margin: 0 auto;"><a href="/pages/shipping-delivery"><img src="https://cdn.shopify.com/s/files/1/1575/8079/files/tru_homeheader_holidaysched.jpg?7304046227950362120"></a></div>
 -->
<!-- Marketing Banner Ends -->
{% if settings.maincarousel_active %}
<section class="main-slideshow">
  <div id="home-slideshow" class="home-slideshow-wrapper">
    {% if settings.slide-active-1 != false or slide-active-2 != false or settings.slide-active-3 != false or settings.slide-active-4 != false or settings.slide-active-5 != false %}    
    <div class="home-slideshow-inner">
      <div class="home-slideshow">
        <ul class="slides">
          {% for i in (1..5) %}
          {% capture show_slide %}slide-active-{{ i }}{% endcapture %}
          {% capture image %}slide-image-{{ i }}.jpg{% endcapture %}
          {% capture caption %}slide-caption-{{ i }}{% endcapture %}                  
          {% capture link %}slide-link-{{ i }}{% endcapture %}                           
          {% capture actiontext %}slide-action-text-{{ i }}{% endcapture %}
          {% capture captionposition %}slide-position-{{ i }}{% endcapture %}          
          {% if settings[show_slide] %}
          <li class="slideshow-{{i}}">
            <a class="slide-action" href="{{settings[link]}}">
              <img src="{{ image | asset_url }}" alt="{{image}}" />
              <div class="caption position-{{ settings[captionposition] }}">
                <div class="slide-caption">
                  <div class="dis_tablecell">
                    <div class="container">
                      <p>{{ settings[caption] }}</p>
                    </div>                  
                  </div>                    
                </div>                             
              </div>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% if settings.home_topbanner_active %}
<section id="home_topbanner">
  <div class="home_topbanner_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_topbanner_inner">
          {% for i in (1..3) %}
            {% capture caption %}home_topbanner_{{ i }}_caption{% endcapture %}
          	{% capture link %}home_topbanner_{{ i }}_link{% endcapture %}
            {% capture image %}home_topbanner_{{ i }}_image.jpg{% endcapture %}
            <div class="col-sm-4">
              <div class="home_topbanner_left">
                <div class="caption_banner">
                  {{ settings[caption] }}
                </div>                
                <a class="home_topbanner_action" href="{{settings[link]}}">{{settings.home_topbanner_actiontext}}<i class="fa fa-angle-double-right"></i></a>
              </div>
              <div class="home_topbanner_right">
                <a href="{{ settings[link] }}"><img class="home_coll3Img" src='{{ image | asset_url }}' alt=""></a>
              </div>
            </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- <section class="home_sectout">
  <div class="home_sectoutLeft">
    <a href="/collections/adam-ruins-everything"><img src='{{ 'ARE_lb_subtout3.jpg' | asset_url }}'></a>
  </div>
  <div class="home_sectoutRight">
    <a href="/collections/the-carbonaro-effect"><img src='{{ 'TCE_lb_subtout2.jpg' | asset_url }}'></a>
  </div>
</section> -->
<br clear="all">
<!-- <section class="homepage_header">
  	<img src="https://cdn.shopify.com/s/files/1/1575/8079/files/tru_header_comingsoon.jpg">
</section> -->

{% if settings.home_newarrival_active %}
<section id="home_newarrival_layout">
  <div class="home_newarrival_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_newarrival_inner">
          <div class="home_newarrival-title home-title"><h4>{{ settings.home_newarrival_title }}</h4></div>
          <div class="home_newarrival-content home-content"> 
            <div class="newarrival-products">
              {% for product in collections[settings.home_newarrival_collection].products limit: settings.home_newarrival_number %}
              <div class="col-sm-12 product-group">     
                {% include 'index_proditem' %}
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>   
</section>
{% endif %}

{% if settings.home_featuredproduct_active %}
<section id="home_featuredproduct_layout">
  <div class="home_featuredproduct_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_featuredproduct_inner">
          <div class="home_featuredproduct-title home-title"><h4>{{ settings.home_featuredproduct_title }}</h4></div>
          <div class="home_featuredproduct-content home-content"> 
            <div class="featuredproduct-products">
              {% for product in collections[settings.home_featuredproduct_collection].products limit: settings.home_featuredproduct_number %}
              <div class="col-sm-12">     
                {% include 'index_proditem' %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</section>
{% endif %}

<!-- <section id="home_featuredproduct_layout">
  <div class="home_featuredproduct_wrapper">
    <div class="container" id="ig-container">
      <div class="row">
        <div class="home_featuredproduct_inner">
          <div id="ig-header"><h4 id="ig-follow">Follow Us!</h4>
            <a href="https://www.facebook.com/fullfrontalsamb/"><i class="fa fa-facebook" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/fullfrontalsamb/"><i class="fa fa-twitter" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/fullfrontalsamb/"><i class="fa fa-youtube" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/fullfrontalsamb/"><i class="fa fa-instagram" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
          </div>
          <div class="home_featuredproduct-content home-content"> 
            <div id="ig-hold">
              <script src="//www.powr.io/powr.js" external-type="html"></script> 
              <div class="powr-social-feed" id="41d8a6c3_1478033101"></div>
            </div>
          </div>
          <div style="text-align: center;"><i class="fa fa-angle-down" aria-hidden="true"></i> Scroll to see more</div>
        </div>
      </div>
    </div>
    </div>
</section> -->
{% if settings.home_groupbottomblocks_active %}
<section id="home_groupbottomblocks">
  <div class="home_groupbottomblocks_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_groupbottomblocks_inner">
          {% if settings.home_blog_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_blog' %}
            </div>
          {% endif %}
          {% if settings.home_followus_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_follow' %}
            </div>
          {% endif %}
          {% if settings.home_newsletter_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_newsletter' %}
            </div>
          {% endif %}
          {% if settings.home_styleguide_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_styleguide' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>   
</section>
{% endif %}
