<section class="blcontactog-heading">
  <div class="contact-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="contact-heading-inner">
          <h1 class="page-title"><span>{{ page.title }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.title }}" title="{{ page.title }}">{{ page.title }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_banner_show-content">
  <div class="blcontact_banner_showog-wrapper">
    <div class="container">
      <div class="row">
        <div class="contact_banner_show-inner">
          <div id="page"> 
              
              <div class="page-with-contact-form">
				<div class="contact-form col-md-6">
                  <script type="text/javascript">
                  (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
                  'https://fusionbposervices.ladesk.com/scripts/track.js',
                  function(e){ LiveAgent.createForm('145b8d70', e); });
                  </script>
                </div>
            </div>
            <div class="call-desc">
            	<h6 class="margin-top-20">GIVE US A CALL</h6>
            	<p>Want to speak with a sales representative? Drop us a line and we’d be happy to answer any questions!</p>
            	<p style="font-size: 18px!important; color: #222; font-weight: bold;"><i class="fa fa-phone"></i>800-218-5584</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if settings.contact_map and settings.contact_address != '' %}
<section class="google-maps-content">
  <div class="google-maps-wrapper">
    <div class="google-maps-inner">
      <div id="contact_map" class="map"></div>
    </div>
  </div>
</section>
{% endif %}


