<section class="search-heading">
  <div class="search-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="search-heading-inner">
          <h1 class="page-title"><span>{{ 'general.search.title' | t }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            {% if search.terms != "" %}
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/search" title="{{'general.search.text'|t}} '{{search.terms}}'" itemprop="url"><span itemprop="title">{{'general.search.text'|t}} "{{search.terms}}"</span></a></span>
            {% else%}
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/search" title="{{'general.search.title'|t}}" itemprop="url"><span itemprop="title">{{'general.search.title'|t}}</span></a></span>
            {% endif%}              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="search-content">
  <div class="search-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="search-content-inner">
          <div id="search">
            {% if search.performed %}
            {% paginate search.results by settings.pagination_limit %}

            {% if search.terms == "" %}

            <div class="expanded-message">
              <div class="search-field">
                <form class="search" action="/pages/search-results">
                  <input type="image" src="{{ 'icon-search1.png' | asset_url }}" alt="Go" id="go">
                  <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value=""  />
                </form>
              </div>
            </div>              
            {% else %}

            {% if search.results == empty %}            
            <div class="expanded-message">
              <h2>{{ 'general.search.no_results_title' | t }}</h2>
              <span class="subtext">{{ 'general.search.no_results_html' | t: search: search.terms }}</span>
              <div class="search-field">
                <form class="search" action="/pages/search-results">
                  <input type="image" src="{{ 'icon-search1.png' | asset_url }}" alt="Go" id="go">
                  <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"  />
                </form>
              </div>
            </div>            
            {% else %}

            <!-- Begin results -->
            {% for product in search.results %}
              <div class="product-item-wrapper col-sm-3"> 
                {% include 'index_proditem' %}
              </div>
            {% endfor %}
            <!-- End results -->

            <div class="collection-bottom-toolbar">
              <div class="product-pagination col-sm-6">
                {% include 'pagination' %}
              </div>
            </div>
            
            {% endif %}
            {% endif %}

            {% endpaginate %}

            {% else %}            
              <div class="expanded-message">
                <div class="search-field">
                  <form class="search" action="/pages/search-results">                    
                    <input type="image" src="{{ 'icon-search1.png' | asset_url }}" alt="Go" id="go">
                    <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="" />
                  </form>
                </div>
              </div>            
            {% endif %}	   
          </div> <!-- /#search -->
        </div>
      </div>
    </div>
  </div>
</section>