{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{%- assign limit = 9 -%}

{% if canonical_url contains 'collection=' %}
  {%- assign product_limit = canonical_url | split: 'collection=' | last -%}
  {% if product_limit contains '&' %}
    {%- assign product_limit = product_limit | split: '&' | first -%}
  {% endif %}
  {%- assign product_limit = product_limit | plus: 0 -%}
  {%- assign limit = product_limit -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero collection-landing-hero">
        <div class="collection-hero__image collection-landing-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="page-width-no-padding">
    <div class="t-uppercase no-margin collection-title mobile-only-visible">{{ collection.title }}</div>
    <div class="collection-content-wrapper">
      <div class="one-quarter inline">
        <aside>
        {% include 'collection-links' with 'no-limit' %}
        {% paginate collection.products by limit %}
        {% endpaginate %}
        </aside>
      </div>

      <div class="three-quarters inline" id="Collection">
        <div class="collection-grid-breadcrumb-container">
          {% include 'breadcrumbs' %}
          {% if section.settings.layout == 'grid' %}
            {% case section.settings.grid %}
            {% when '2' %}
              {%- assign grid_item_width = 'medium-up--one-half' -%}
            {% when '3' %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
            {% when '4' %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
            {% when '5' %}
              {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
            {% endcase %}

          {% comment %}{% include 'sort-by' %}{% endcomment %}
          {% comment %}{% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
          {% include 'product-limiter' %}{% endcomment %}
        </div>

        <div class="mobile-filters">
          {% include 'sort-by' %}
        </div>
        <div class="mobile-collection-links mobile-only-visible"></div>
        {% if settings.landing_promo_link != blank and settings.landing_promo_image != blank %}
        <div class="collection-promo-banner">
          <div class="header-image-container">
            <div class="header-image header-image-section">
              <a href="{{ settings.landing_promo_link }}">
                <img data-size="auto" data-src="{{ settings.landing_promo_image | img_url: '512x', scale: 2 }}" class="desktop-image lazyload{% if settings.landing_promo_image_mobile != blank %} hide-on-mobile{% endif %}">
                {% if settings.landing_promo_image_mobile != blank %}
                <img data-size="auto" data-src="{{ settings.landing_promo_image_mobile | img_url: '512x', scale: 2 }}" class="mobile-image lazyload">
                {% endif %}
              </a>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="collection-tout">
          {% include 'collection-landing-touts' %}
        </div>
          <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height %}
              </div>
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
          {% include 'popup-quickview' %}
        {% else %}
          <div class="list-view-items">
            {% for product in collection.products %}
              <a href="{{ product.url | within: collection }}" class="list-view-item">
                {% include 'product-card-list', product: product %}
              </a>
            {% else %}

              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>

                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if is_empty_collection %}
          <div class="grid__item small--text-center empty">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}

        {% comment %}<div class="collection-grid-footer-pagination">
          {% include 'breadcrumbs' %}
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
          {% include 'product-limiter' %}
        </div>{% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection_touts",
        "name": "Collection Touts",
        "settings": [
          {
            "type": "collection",
            "id": "collection_page",
            "label": "Choose the collection to display this on."
          },
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Upload tout"
          },
          {
            "type": "url",
            "id": "tout_link",
            "label": "This tout will link to"
          },
          {
            "type": "radio",
            "id": "image_amount",
            "label": "This image will span:",
            "options": [
              {"value": "one", "label": "Full Width Image"},
              {"value": "two", "label": "Half of Page Width"},
              {"value": "three", "label": "Third of Page Width"}
            ],
            "default":   "one"
          }
        ]
      },
      {
        "type": "collection_sliders",
        "name": "Collection Sliders",
        "settings": [
          {
            "type": "collection",
            "id": "collection_page",
            "label": "Choose the collection to display this slider on."
          },
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Upload Image"
          },
          {
            "type": "url",
            "id": "tout_link",
            "label": "This image will link to"
          }
        ]
      }
    ]
  }
{% endschema %}
