<div class="homepage-bottom-hero" style="background-image: url('{{ 'homepage-hero-bottom.png' | asset_url }}');">
    <div class="logo-container visually-hidden">
        <img src="{{ 'logo.png' | asset_url }}" />
    </div>
    <div class="row visually-hidden">
        <div class="col-md-10">
            Notice: The organization facilitating the sharing of medical expenses is not an insurance company, and neither its guidelines nor its plan of operation is an insurance policy. Membership is not offered through an insurance company, and the organization is not subject to the regulatory requirements or consumer protections of the Florida Insurance Code. Whether anyone chooses to assist you with your medical bills will be totally voluntary because no other participant is compelled by law to contribute toward your medical bills. As such, participation in the organization or a subscription to any of its documents should never be considered to be insurance. Regardless of whether you receive any payments for medical expenses or whether this organization continues to operate, you are always personally responsible for the payment of your own medical bills.
            <div>**Contributions from members, although tiny health care miracles, are not tax deductible.</div>
        </div> 
    </div>
</div> 


{% schema %}
  {
    "name": "Homepage Bottom Hero",
    "class": "homepage-bottom-hero",
    "presets": [
      {
        "name": "Homepage Bottom Hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}