{% if settings.membership_full %}
<div class="homepage-section homepage-section-four" id="homepage-section-four">
  <div class="container">
    <div class="bordered-container">
      <h1 class="title">
        Yearly Accounting
      </h1>

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="image">
              <img src="{{ 'rachel-dratch-tbd.png' | asset_url }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} 

{% schema %}
  {
    "name": "Homepage Section #4",
    "class": "homepage-section-four",
    "presets": [
      {
        "name": "Homepage Section #4",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
