{% if settings.membership_full %} 
  <div class="membership-full text-center">
    <a href="#homepage-section-five">
      <img src="{{ 'membership-full.png' | asset_url }}" class="normal-image"  /> 
      <img src="{{ 'membership-full-hover.png' | asset_url }}" class="hover-image"  />
    </a>
    <p class="visually-hidden">JohnnyCare membership is full,</p>
    <p class="visually-hidden">but you can still join our Church Service <a href="#homepage-section-five">HERE!</a></p>
  </div>
{% endif %} 
<div class="homepage-section homepage-section-one" id="homepage-section-one">
  <div class="container">
    <div class="content medium-up--hide visually-hidden">
      <div class="row medium-up--hide">
        <div class="col-md-8">
          <div class="image-1">
            <img src="{{ 'wanda-section-one.png' | asset_url }}" />
          </div>
        </div>
      </div> 
    </div>
    <div class="bordered-container">
      <h1 class="title">What is JohnnyCare?</h1>

      <div class="content"> 
        <div class="row">
          <div class="col-md-12"> 
            <img src="{{ 'what_is_johnnycare.png' | asset_url }}" />
          </div>
        </div>
      </div>

      <div class="content visually-hidden">
        <div class="row">
          <div class="col-md-7">
            <div class="text-1">
              JohnnyCare is an affordable, health insurance-like product that is not health insurance. It is a legal Florida-based health care sharing ministry, brought to you by the legal Florida church "Our Lady of Perpetual Health," which was founded this year but that we (by faith) believe has been in continuous operation since the 1600s (on a very rough technicality). We are a collaborative community of 5,000 like-minded, healthy Floridians who are rejecting big health insurance companies and Obamacare, but also the so-called “medical elite,” hospitals, prescriptions, and, above all, unhealthy people.
            </div>
          </div>
          <div class="col-md-5 small--hide">
            <div class="image-1">
              <img src="{{ 'wanda-section-one.png' | asset_url }}" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="image-2">
              <img src="{{ 'john-section-one.png' | asset_url }}" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="text-2 text-right">
              Think of it this way: JohnnyCare is to health insurance what Splenda is to sugar — a low-calorie substitute that will make you feel like you're getting the real thing even though you really aren't. And, thanks to the great state of Florida's "safe harbor" law, it's absolutely legal. And we foresee no legal barrier to opening in several other states! Congratulations! With JohnnyCare, your health care is in your own hands.
            </div>
          </div>
        </div> 

        <div class="row">
          <div class="col-md-12 text-center">
            <div class="top-border-corder"></div>
            <h1 class="sub-header">Our Lady of Perpetual Health's Statement of Beliefs </h1> 
            <ul>
              <li>I believe in caring for one another <i>(Galatians 6:2)</i>.</li>
              <li>I believe in not getting sick.</li>
              <li>I believe in not having a preexisting condition.</li>
              <li>I believe that I shouldn’t be paying for health care for anyone who might be sitting on their couch eating bonbons all day, every day.</li>
              <li>I believe it’s my right to direct my own health care, free from government restraints, dictates and oversight.</li>
              <li>I believe in JohnnyCare's right not to pay for my financial or medical needs.</li>
              <li>I believe all my health care needs can be managed with a mini first-aid kit.</li> 
            </ul>
            <div class="bottom-border-corder"></div>
          </div>
        </div>
      </div>

      <a href="/" class="call-to-action{% if settings.membership_full %} membership-full{% endif %}" data-product-id="6629869912231" {% if settings.membership_full %}disabled{% endif%}>
        {% unless settings.membership_full %}
        I Want JohnnyCare!
        {% else %}
        <span>I Want JohnnyCare!</span> 
        <span class="hover-text">Membership Full!</span> 
        {% endunless %}
      </a>
    </div>
  </div>

  <div class="container logo-container">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="image-logo">
            <img src="{{ 'logo-diamond.png' | asset_url }}" />
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Section #1",
    "class": "homepage-section-one",
    "presets": [
      {
        "name": "Homepage Section #1",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
