{% if settings.membership_full %}
<div class="homepage-section homepage-section-six" id="homepage-section-six">
  <div class="container">
    <div class="bordered-container">
      <h1 class="title">
        Membership Full
      </h1>

      <div class="content">
        <div class="row">
            <div class="col-md-12">
              <div class="text-1 text-center">JohnnyCare memberships are full but you can still join our Church Service <a href="#homepage-section-five">HERE!</a></div> 
            </div>
          </div> 
        </div>
      </div>
  </div>
</div>
{% endif %}  

{% schema %}
  {
    "name": "Homepage Section #6",
    "class": "homepage-section-six",
    "presets": [
      {
        "name": "Homepage Section #6",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
