<div class="homepage-section homepage-section-three" id="homepage-section-three">
  <div class="container">
    <div class="bordered-container">
      <h1 class="title">
        How to Use JohnnyCare
      </h1>

      <div class="content"> 
        <div class="row">
          <div class="col-md-12"> 
            <img src="{{ 'how_to_use.png' | asset_url }}" />
          </div>
        </div> 
      </div>

      <div class="content visually-hidden">
        <div class="row">
          <div class="col-md-5 medium-up--hide">
            <div class="image-1">
              <img src="{{ 'product-image.PNG' | asset_url }}" />
              <img src="{{ 'first-aid-kit.png' | asset_url }}" class="first-aid-kit" />
            </div>
          </div> 

          <div class="col-md-6">
            <div class="text-1 text-left">In order for JohnnyCare to avoid being regulated like a health insurer, Florida law asks that we provide for the "financial or medical needs" of each member of the JohnnyCare community "through contributions from other participants."</div>
          </div>

          <div class="col-md-4 small--hide">
            <div class="image-1">
              <img src="{{ 'product-image.PNG' | asset_url }}" /> 
              <img src="{{ 'first-aid-kit.png' | asset_url }}" class="first-aid-kit" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="divider"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="text-2">
              Become a JohnnyCare member through a one-time gift of $1.99 and receive this JohnnyCare-approved mini first-aid kit, containing not one, not two, but <b>three</b> band aids. Because we know that in life, sometimes accidents happen. But if they happen more than three times, it stops being our problem.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="image-2">
              <img src="{{ 'venn-diagram.png' | asset_url }}" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="text-3">
              If you need medical care that cannot be managed by your JohnnyCare mini first-aid kit, follow these four steps:
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="steps">
              <div class="row">
                <div class="col-md-8 medium-up--hide">
                  <div class="image">
                    <img src="{{ 'numbers.png' | asset_url }}" />
                  </div>
                </div>
                <div class="col-md-4">
                  <ol>
                    <li><span>1.</span> Receive medical care.</li>
                    <li><span>2.</span> Receive a bill from your health-care provider.</li>
                    <li><span>3.</span> Pay that bill on your own.</li>
                    <li><span>4.</span> Don’t bother JohnnyCare.</li>
                  </ol>
                </div>
                <div class="col-md-8 small--hide">
                  <div class="image">
                    <img src="{{ 'numbers.png' | asset_url }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="/" class="call-to-action{% if settings.membership_full %} membership-full{% endif %}" data-product-id="6629869912231" {% if settings.membership_full %}disabled{% endif%}>
        {% unless settings.membership_full %}
        I Want JohnnyCare!
        {% else %}
        <span>I Want JohnnyCare!</span> 
        <span class="hover-text">Membership Full!</span> 
        {% endunless %}
      </a>
    </div>
  </div> 

  <div class="container logo-container">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="image-logo">
            <img src="{{ 'logo-diamond.png' | asset_url }}" />
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Section #3",
    "class": "homepage-section-three",
    "presets": [
      {
        "name": "Homepage Section #3",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
