<div class="homepage-section homepage-section-five" id="homepage-section-five">
  <div class="container">
    <div class="bordered-container">
      <h1 class="title">
        Our Lady of Perpetual Health Church Service 
      </h1>

      <div class="content medium-up--hide">
        <div class="row">
          <div class="col-md-12">
            <video class="video" poster="{{ 'video-poster.PNG' | asset_url }}" controls>
              <source src="https://aracadev.com/shopify/HCSM.mp4" type="video/mp4">
            </video>
            {% comment %}<div class="video">
              <img class="youtube-video-placeholder" src="{{ 'rachel-dratch-vid-temp.png' | asset_url }}" data-video="https://www.youtube.com/embed/VIDEOIDGOESHERE?controls=0&autoplay=1">
            </div>{% endcomment %}
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row small--hide">
          <div class="col-md-12">
            <video class="video" poster="{{ 'video-poster.PNG' | asset_url }}" controls>
              <source src="https://aracadev.com/shopify/HCSM.mp4" type="video/mp4">
            </video>
            {% comment %}<div class="video">
              <img class="youtube-video-placeholder" src="{{ 'rachel-dratch-vid-temp.png' | asset_url }}" data-video="https://www.youtube.com/embed/VIDEOIDGOESHERE?controls=0&autoplay=1">
            </div>{% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Section #5",
    "class": "homepage-section-five",
    "presets": [
      {
        "name": "Homepage Section #5",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
