<div class="product-template__container page-width product-template__recommendations-container" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

{% assign number_of_related_products_per_row = section.settings.related_grid_num %}


{% assign heading = section.settings.related_title %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = 1 | times: number_of_related_products_per_row %}
  {% assign current_product = product %}
  
  {% case number_of_related_products_per_row %}
    {% when '1' %}
      {% assign grid_item_width = '' %}
  {%- assign max_height = 700 -%}
    {% when '2' %}
      {% assign grid_item_width = 'small--one-half medium-up--one-half' %}
  	  {%- assign max_height = 530 -%}
    {% when '3' %}
      {% assign grid_item_width = 'small--one-half medium-up--one-third' %}
      {%- assign max_height = 345 -%}
    {% when '4' %}
      {% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
  {%- assign max_height = 250 -%}
    {% when '5' %}
      {% assign grid_item_width = 'small--one-half medium-up--one-fifth' %}
  {%- assign max_height = 195 -%}
    {% when '6' %}
      {% assign grid_item_width = 'small--one-half medium-up--one-sixth' %}
  {%- assign max_height = 195 -%}
    {% else %}
      {% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
  {%- assign max_height = 195 -%}
  {% endcase %}


  {% capture related_items %}
<div class="grid grid--uniform product-template__recommendations-grid{% if collection.products_count > 0 %} grid--view-items{% endif %}">

  {% for product in collection.products %}
  {% unless product.handle == current_product.handle %}
  {% unless same_vendor and current_product.vendor != product.vendor %}
  {% unless same_type and current_product.type != product.type %}
  <div class="grid__item {{ grid_item_width }}">
    {% include 'product-card-grid-recommendation', max_height: max_height %}
  </div>
  {% assign counter = counter | plus: 1 %}
  {% if counter == break_at %}
  {% break %}
  {% endif %}
  {% endunless %}
  {% endunless %}
  {% endunless %}
  {% endfor %}
</div>
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

  <aside class="grid">
    <div class="grid__item">
      {% unless heading == blank %}
      <header class="section-header">
        <h2 class="section-header__title">{{ heading }}</h2>
      </header>
      {% endunless %}
      <div class="grid-uniform">
        {{ related_items }}
      </div>
    </div>
  </aside>

  {% endunless %}
     
{% endif %}
  
</div>

<script type="text/javascript">
  var waitFor_JQuery = setInterval(function(){
    
    if( jQuery == undefined && jQuery.ui == undefined){
      return;
    }

    clearInterval(waitFor_JQuery);

    if($(window).width() > 1024){

      $('#shopify-section-shopify-product-recommendations .product-template__recommendations-grid').slick({
        mobileFirst: true,
        dots: false,
        slidesToShow: 4,
        slidesToScroll: 1,
        infinite: true,
        arrows: true,
        centerMode: false,
        initialSlide: 0,
        variableWidth: false
      });
    } else if (($(window).width() <= 1024) && ($(window).width() >= 769)){

      $('#shopify-section-shopify-product-recommendations .product-template__recommendations-grid').slick({
        mobileFirst: true,
        dots: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        arrows: true,
        centerMode: false,
        variableWidth: false,
        useTransform: false
      });

    } else if (($(window).width() <= 768) && ($(window).width() >= 415)){

      $('#shopify-section-shopify-product-recommendations .product-template__recommendations-grid').slick({
        mobileFirst: true,
        dots: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        arrows: false,
        centerMode: false,
        variableWidth: false,
        useTransform: false
      });

    } else if ($(window).width() <= 414) {

      $('#shopify-section-shopify-product-recommendations .product-template__recommendations-grid').slick({
        mobileFirst: true,
        dots: false,
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        arrows: false,
        centerMode: false,
        variableWidth: false
      });

      $('#shopify-section-shopify-product-recommendations .product-template__recommendations-grid').slick('slickGoTo', -1);
    } else{

    }

  }, 500);
</script>

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "Recommended for you"
    },
    {
      "type": "select",
      "id": "related_grid_num",
      "label": "Products per row (Desktop)",
      "default": "8",
      "options": [
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        }
      ]
    }
  ]
}
{% endschema %}