/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .menu-title {
    border-bottom: $borderWeight dotted $colorBrand;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  .disclaimer {
    p {
      margin-bottom: 0;
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}
