/* Header ====================================================================*/

.logo {
  margin-bottom: 0;
  line-height: 1;
  @include l() {
    top: $gutter/10;
    .logo-flare {
      // background-image: url('logo-flare.jpg');
      top: -$gutter/10;
      left: -50%;
      height: $gutter*3.52;
      margin-left: $gutter;
    }
  }
}

.theme-header {
  @include sm() {
    background-color: $colorHighlight;
    background-image: none !important;
    padding: 0;
    .container {
      @include s() {
        padding: 0;
      }
      .menu-trigger {
        padding: $gutter/3.33;
        line-height: 1;
        &:hover {
          background-color: lighten($colorText, 25%);
        }
        img {
          height: $gutter/2.5;
        }
      }
      .cart-link {
        position: relative;
        .cart-button {
          padding: $gutter/5;
          line-height: 1;
          &:hover {
            background-color: $colorForeground;
          }
          img {
            height: $gutter/1.78;
          }
        }
        .item-count {
          position: absolute;
          top: 0;
          right: $gutter/25;
          [data-cart-item-count] {
            height: $gutter/2.5;
            width: $gutter/2.5;
            line-height: $gutter/2.5;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            overflow: hidden;
            font-size: $h5Base;
            @include prefixer(box-shadow, 0 0 $gutter/2.5 0 rgba(#000, 0.5), webkit moz ms spec);
            @include gradient(lighten($colorText, 30%), $colorText, top);
            color: $colorForeground !important;
          }
        }
      }
      .search-form-container {
        padding: $gutter/5 0;
        border-top: $borderStyle $borderWeight $colorBorder;
        .form-search {
          position: relative;
          margin: 0;
          padding: 0 $gutter/5;
          text-align: center;
          input[type="text"] {
            width: 100%;
            margin-bottom: 0 !important;
            @include prefixer(box-shadow, inset $borderWeight $borderWeight $borderWeight*4 rgba($colorText, 0.5), webkit moz ms spec);
            &:focus {
              @include prefixer(box-shadow, inset $borderWeight $borderWeight $borderWeight*4 rgba($colorText, 0.5), webkit moz ms spec);
            }
          }
          button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
  .account-tools {
    margin-bottom: $gutter/6;
  }
}
