/* Navigation =================================================================*/

// Main Nav
.theme-nav-primary, .theme-nav-secondary {
  font-size: 0;
  line-height: 1;
  margin-bottom: $gutter/5;
  .nav-link {
    font-size: $h5Base;
  }
  .dropdown {
    position: relative;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:last-child {
      .dropdown-menu {
        right: 0;
      }
    }
    .dropdown-menu {
      display: none;
      padding: $gutter/5 0;
      position: absolute;
      top: 1.85rem;
      z-index: 2;
      width: $gutter*3;
      border: $borderWeight $borderStyle $colorBorder;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: (($gutter*3)*$i);
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorBorder;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        a {
          display: block;
          padding: $gutter/10 $gutter/2 $gutter/10 $gutter/3.33;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          &:hover {
            background-image: url('menu-arrow.svg?v2');
            background-color: $colorBrand;
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        a {
          display: block;
        }
      }
    }
  }
}

.tertiary-menu {
  // border-bottom: $borderWeight $borderStyle $colorBrand;
  margin: $gutter/8;
  line-height: 1;
  font-size: 0;
  .fg-border {
    color: darken($colorBorder, 15%);
  }
  li {
    font-size: $h4Base*0.9;
    & + li {
      margin-left: $gutter/8;
      a {
        color: lighten($colorText, 6%);
      }
      &:before {
        content: "|";
        color: $colorBorder;
        margin-right: $gutter/8;
      }
    }
  }
}

.theme-nav-toggled {
  ul {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    li {
      .nav-link {
        display: block;
        padding: $gutter/5 $gutter/2 $gutter/5 0;
        border-top: $borderWeight $borderStyle $colorBorder;

        &.nav-link--title {
          text-decoration: none;
          color: #000;

          &:hover {
            color: #000;
          }
          &:focus {
            color: #000;
          }
        }
      }
      .dropdown-menu {
        padding-left: $gutter/5;
        border-bottom: 0;
      }
    }
  }
  .account-menu {
    border-bottom: 0;
    li {
      display: block;
      font-size: $h4Base;
      color: $colorText !important;
      &.account-link {
        border-bottom: $borderWeight $borderStyle $colorBorder;
        padding-bottom: $gutter/5;
        margin-bottom: $gutter/5;
      }
      a {
        display: block;
        padding: $gutter/5 0;
      }
    }
  }
}

// Accordions
[data-accordion-toggle] {
  position: relative;
  display: block;
  margin: 0 !important;
  padding: $gutter/5 $gutter/5 $gutter/5 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  border-bottom: $borderWeight $borderStyle transparent;
  color: $colorText;
  cursor: pointer;
  @include prefixer(user-select, none, webkit moz ms spec);
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    @include transition();
    @include prefixer(transform-origin, center, webkit moz ms spec);
    @include prefixer(transform, translateY(-50%) rotate(0deg), webkit moz ms spec);
  }
  &.active {
    border-top-color: $colorBorder;
    .icon {
      @include prefixer(transform, translateY(-50%) rotate(45deg), webkit moz ms spec);
    }
  }
}
[data-accordion-content] {
  display: none;
  color: darken($colorText, 10%);
  margin: 0 !important;
  border-bottom: $borderWeight $borderStyle transparent;
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  &.active {
    display: block;
    border-bottom-color: $colorBorder;
    + [data-accordion-toggle] {
      border-top-color: transparent;
    }
  }
}

// Collapsable content
[data-collapse-toggle] {
  @include prefixer(user-select, none, webkit moz ms spec);
  span {
    &.more {
      display: inline;
    }
    &.less {
      display: none;
    }
  }
  &.active {
    border-top-color: $colorBorder;
    span {
      &.more {
        display: none;
      }
      &.less {
        display: inline;
      }
    }
  }
}
[data-collapse-content] {
  display: none;
  &.active {
    display: block;
  }
}

// Tabbed content
[data-tab-toggle] {
  position: relative;
  display: inline-block;
  padding: $gutter/7 $gutter/5;
  color: $colorText;
  margin-right: -$borderWeight;
  @include gradient($colorForeground, $colorHighlight, top);
  @include prefixer(user-select, none, webkit moz ms spec);
  border: $borderWeight $borderStyle $colorBorder;
  border-bottom: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  margin-right: -1px;
  vertical-align: bottom;
  font-size: 0.7rem;
  font-weight: $fontBold;
  line-height: 1;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: $colorForeground;
  }
  &.active {
    color: $colorBrand;
    background: $colorForeground;
    &:after {
      background: $colorForeground;
    }
  }
}
[data-tab-content] {
  display: none;
  border: $borderWeight $borderStyle $colorBorder;
  padding: $gutter/5;
  background-color: $colorForeground;
  &.active {
    display: block;
  }
}

.theme-nav-secondary {
  margin-left: 4px;
  margin-right: 4px;
  li {
    padding-right: $gutter/10;
    &:last-of-type {
      padding-right: 0;
    }
  }
}
