/* Power Reviews =============================================================*/

/**
 * PowerReviews, Copyright 2017
 * HEAD | 8b734c75
 */
/*******************************************/
/** POWER REVIEWS STYLE OVERRIDE TEMPLATE **/
/*******************************************/

#MainContent .p-w-r {

  color: inherit;
  background-color: transparent;

  // Fix review duplication
  & + .p-w-r {
    display: none !important;
  }
  /**
  * TYPOGRAPHY
  * --------------------------------------------------
  * Global Color & Typography Definitions
  */
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

  }

  a {

  }

  /**
  * FORM LABELS
  * --------------------------------------------------
  * .pr-control-label > span // Selector that targets all field labels.
  */
  .pr-control-label > span {

  }
  .form-group {
    height: auto;
    overflow: auto;
  }

  /**
   * BUTTON GROUPS
   * --------------------------------------------------
   * .pr-btn // Selector that targets all buttons.
   * .btn-toggle .pr-btn-default // Selector that targets all unselected toggle buttons.
   * .btn-toggle .pr-btn-default.active // Selector that targets the selected toggle button.
   * .pr-btn-add-tag-submit // Selector that targets the "Add" button that appears aside the custom tag text input field.
   * .pr-btn-fileinput // Selector that targets the file input button.
   * .pr-btn-fileinput span // Selector that targets the file input button text.
   * .pr-btn-delete // Selector that targets the image preview delete button.
   */
  .pr-btn {

  }
  .pr-btn-add-tag-submit {

  }
  .pr-btn-fileinput {

  }
  .pr-btn-fileinput span {

  }
  .pr-btn-delete {

  }

  /**
  * STARS
  * Rating Stars can be customized by overriding the
  * background-image property of the 5 Star-related
  * CSS classes
  * --------------------------------------------------
  * .pr-star-v4-0-filled    // Custom star image - filled 0%
  * .pr-star-v4-25-filled   // Custom star image - filled 25%
  * .pr-star-v4-50-filled   // Custom star image - filled 50%
  * .pr-star-v4-75-filled   // Custom star image - filled 75%
  * .pr-star-v4-100-filled  // Custom star image - filled 100%
  */
  .pr-snippet-stars {
    background: transparent;
  }
  .pr-star-v4 {
    width: $gutter/3.33;
    height: $gutter/3.33;
    @include background-image();
  }
  .pr-star-v4-0-filled {
    background-image: url('reviews-rating--0.png');
  }
  .pr-star-v4-25-filled {
    background-image: url('reviews-rating--05.png');
  }
  .pr-star-v4-50-filled {
    background-image: url('reviews-rating--05.png');
  }
  .pr-star-v4-75-filled {
    background-image: url('reviews-rating--05.png');
  }
  .pr-star-v4-100-filled {
    background-image: url('reviews-rating--1.png');
  }

  /**
  * TEXT INPUTS
  * --------------------------------------------------
  * .pr-textinput  // Text Input Styles
  * .pr-textinput:focus // Focused Text Input Styles
  */
  .pr-textinput {
    &:focus {

    }
  }

  /**
  * TEXTAREAS
  * --------------------------------------------------
  * input[type="text"] // Text Area Styles
  * input[type="text"]:focus // Focused Text Area Styles
  */
  .pr-textarea {
    &:focus {

    }
  }

  /**
  * CHECKBOX/RADIO INPUT OPTION LABELS
  * --------------------------------------------------
  * .tag-label // Checkbox Radio Input Label Styles
  */
  .pr-tag-label {

  }

  /**
  * ERROR STATES
  * --------------------------------------------------
  * .pr-has-error .control-label span // Form Field Label Error State Styles
  * .pr-has-error .form-control // Text Input & Text Area Error State Styles
  * .pr-has-error input[type="text"]:focus // Focused Text Input & Text Area Error State Styles
  */
  .pr-has-error .pr-control-label span {

  }
  .pr-has-error .form-control {

  }
  .pr-has-error .pr-textinput:focus,
  .pr-has-error .pr-textarea:focus {

  }

  /**
  * Collection pages
  * --------------------------------------------------
  */
  .template-collection & {
    margin: 0;
    .pr-category-snippet {
      margin: 0;
      .pr-category-snippet__total,
      .pr-snippet-rating-decimal {
        display: none;
      }
    }
  }

  /**
  * Product pages
  * --------------------------------------------------
  */
  .template-product & {
    margin: 0;
    .pr-review-snippet-container {
      margin: 0;
      .pr-snippet-read-and-write {
        margin-top: 0;
        a {
          font-size: $pBase !important;
          line-height: 1;
          vertical-align: middle;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          & + a {
            padding-left: 0;
            &:before {
              content: '|';
              color: $colorBorder;
              margin-right: $gutter/5;
            }
          }
        }
      }
      .pr-category-snippet__total,
      .pr-snippet-rating-decimal,
      .pr-snippet-stars-reco-reco {
        display: none;
      }
    }
    .pr-review-snapshot, .pr-review-display {
      background-color: lighten($colorBorder, 5%);
      color: $colorText;
      padding: 0 $gutter/2.5;
      .pr-category-snippet__total,
      .pr-snippet-rating-decimal,
      .pr-snippet-stars-reco-reco {
        display: none;
      }
      h1.pr-headline {
        font-size: $h1Base;
        font-weight: $fontBold;
        text-transform: uppercase;
      }
      p, span {
        color: $colorText;
      }
      button {
        border: 0;
        &:hover {
          span {
            color: $colorBrand;
          }
        }
        &.pr-helpful-active {
          span {
            color: $colorForeground;
          }
        }
      }
      .pr-ratings-histogram .pr-ratings-histogram-bar {
        border: $borderWeight $borderStyle $colorBorder;
      }
      .pr-rd-main-header, .pr-review-snapshot-block dt, .pr-ratings-histogram .pr-ratings-histogram-bar, .pr-review-snapshot-block-headline, .pr-rd-footer, .pr-snippet-rating-decimal {
        background-color: transparent;
      }
    }
  }

  /**
  * MOBILE STYLES
  * --------------------------------------------------
  */
  @include s() {
    /**
    * CHECKBOX/RADIO INPUT OPTION LABELS
    * --------------------------------------------------
    * .checkbox label, .radio label // Unselected Styles
    * .checkbox label.checked, .radio label.checked // Selected Styles
    */
    .checkbox label,
    .radio label {

    }
    .checkbox label.checked,
    .radio label.checked {

    }
    .checkbox label.checked span,
    .radio label.checked span {

    }
    /**
    * TAG GROUP 'ADD ITEM' BUTTON
    * --------------------------------------------------
    */
    .pr-btn-add-tag a {

    }
  }
}
