/* Social sharing ============================================================*/

.social-sharing {
  .button.share {
    color: transparent;
    height: 25px;
    border: none;
    &.facebook {
      @include gradient(#3b5998, #3b5998, top);
      background: url({{'social-btn-fb.png' | asset_url }}) center;
      background-size: cover;
    }
    &.twitter {
      @include gradient(#00aced, #00aced, top);
      background: url({{'social-btn-tw.png' | asset_url }}) center;
      background-size: cover;      
    }
    &.pinterest {
      @include gradient(#cb2027, #cb2027, top);
      background: url({{'social-btn-pin.png' | asset_url }}) center;      
      background-size: cover;        
    }
    &.google {
      @include gradient(#dd4b39, #dd4b39, top);
      background: url({{'social-btn-ggl.png' | asset_url }}) center;
      background-size: cover;        
    }
  }

  .addthis_toolbox {
    a {
      margin-bottom: 0;
      line-height: 1;
      vertical-align: middle;
      * {
        line-height: 1;
      }
    }
  }
}

// Add this additional styling
#at-expanded-menu-host {
  button {
    height: auto;
  }
}
