{%- comment %}
  Hey there! This snippet is managed by Locksmith (uselocksmith.com). You can
  fiddle with what's below, but your changes will be reset the next time that
  Locksmith interacts with your shop.

  Last updated: Tue, 07 Aug 2018 06:53:21 +0000
  Integration version: v5.32
{% endcomment -%}

{%assign _1f='locksmith-content-variables'%}{%if locksmith_context == 'layout/start'%}{%include 'locksmith-variables', locksmith_scope: nil%}{%unless locksmith_server_lock%}{%capture original_content_for_header%}{{content_for_header}}{%endcapture%}{%capture original_content_for_layout%}{{content_for_layout}}{%endcapture%}{%if locksmith_access_denied and locksmith_manual_lock%}{%unless locksmith_access_denied_content%}{%assign locksmith_access_denied_content=content_for_layout%}{%endunless%}{%endif%}{%include _1f%}{%include 'locksmith-variables', locksmith_scope: nil%}{%if locksmith_access_denied%}{%capture content_for_header%}{{content_for_header|replace:'.oembed', ''|replace:'.atom', ''|replace:'link rel="alternate" type="application/json+oembed"', 'link'|replace:' title="Feed" rel="alternate" type="application/atom+xml"', ''}}{%endcapture%}{%if locksmith_manual_lock == false%}{%capture content_for_header%}{{content_for_header}}<meta name="robots" content="noindex" />{%endcapture%}{%endif%}{%endif%}{%capture content_for_layout%}{%if locksmith_access_granted%}{%if locksmith_redirect == blank%}{{original_content_for_layout}}{%else%}{{locksmith_redirect}}{%endif%}{%elsif locksmith_server_lock and locksmith_server_rendered != true%}{{original_content_for_layout}}{%else%}{{locksmith_access_denied_content}}{%endif%}{%if locksmith_access_denied%}<div id="locksmith-suspension-notice" style="display: none;">
  <div>
    <span><b>Your Locksmith account has been suspended</b>, and nobody can access this content!</span>
    <a href="/admin/apps/locksmith/" target="_blank">Start your Locksmith subscription, or disable Locksmith <i></i></a>
  </div>
  <div>
    <span><small>Only you can see this notice.</small></span>
  </div>
</div>

<style type="text/css">
  #locksmith-suspension-notice {
    box-sizing: border-box;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #8C0B0B;
    color: #fff;
    padding: 5px 10px;
    z-index: 2147483647;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
  }

  #locksmith-suspension-notice > div {
    flex-grow: 2;
  }

  #locksmith-suspension-notice > div:last-child {
    text-align: right;
    flex-grow: 1;
  }

  #locksmith-suspension-notice small {
    opacity: 0.8;
    font-size: 13px;
    display: block;
    padding-top: 4px;
  }

  #locksmith-suspension-notice span,
  #locksmith-suspension-notice a {
    display: inline-block;
    margin: 4px 10px;
  }

  #locksmith-suspension-notice a {
    background: #fff;
    color: #a00;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 8px 4px;
    white-space: nowrap;
    transition: all 0.3s;
    position: relative;
    bottom: 0;
  }

  #locksmith-suspension-notice a i {
    margin-left: 3px;
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 3px;
    border-color: transparent transparent transparent #a00;
  }

  #locksmith-suspension-notice a:hover {
    position: relative;
    bottom: 1px;
  }
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('admin_bar_iframe')) {
      document.documentElement.style.paddingTop = '80px';
      document.getElementById('locksmith-suspension-notice').style.display = 'flex';
    }
  });
</script>{%endif%}{%endcapture%}{%if locksmith_access_denied and content_for_layout contains '<input type="hidden" name="form_type" value="customer_login" />'%}{%assign locksmith_original_template=template%}{%assign template='customers/login'%}{%endif%}{%endunless%}{%elsif locksmith_context == 'layout/end'%}{%include _1f%}{%include 'locksmith-variables', locksmith_scope: nil%}{%capture canonical_url_json%}{{canonical_url|json}}{%endcapture%}{%if locksmith_canonical_url == blank%}{%assign locksmith_canonical_url=canonical_url%}{%endif%}{%capture locksmith_canonical_url_json%}{{locksmith_canonical_url|json}}{%endcapture%}{%capture _0f%}{{locksmith_json}}{{locksmith_client -}}
    <script data-locksmith>!function(){Locksmith.state.server_lock&&!Locksmith.state.server_rendered&&(Locksmith.state.manual_lock&&Locksmith.state.access_denied||Locksmith.getResource()),Locksmith.util.on("submit","locksmith-resource-form",function(e){e.preventDefault();var t=Locksmith.util.serializeForm(e.target);Locksmith.postResource(t,{spinner:!1,reload:!0})})}();</script>{%- endcapture%}{%capture _0b -%}<script data-locksmith>Locksmith.ping()</script>{%- endcapture%}{%assign _j=true%}{%assign _03=locksmith_source|split:content_for_header%}{%if _j and _03.size == 2%}{%assign _1b=_03[0]%}{%assign _17=_03[1]%}{%else%}{%assign _j=false%}{%endif%}{%assign _z=_17|split:content_for_layout%}{%if _j and _z.size == 2%}{%assign _13=_z[0]%}{%assign _0z=_z[1]%}{%else%}{%assign _j=false%}{%endif%}{%capture _r%}{%if _j%}{{_1b}}{{content_for_header}}{{_0f}}{{_13}}{{content_for_layout}}{{_0b}}{{_0z}}{%else%}{{locksmith_source}}{{_0f}}{{_0b}}{%endif%}{%endcapture%}{%assign _r=_r|replace:canonical_url, locksmith_canonical_url|replace:canonical_url_json, locksmith_canonical_url_json%}{%if locksmith_server_rendered%}{{_r}}{%elsif locksmith_server_lock%}{%capture _n%}{%raw%}!"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~{%endraw%}{%endcapture%}{%capture _f%}{%raw%}35dhM?Ly/aH6zY#U\QBw`7%{b|2]lv-r<9s[_qc8m4,&fSD=.@A$I1!~pxuR^j*k(T"0FPVJX>EGiWKC'N)Z;t}O+:neog{%endraw%}{%endcapture%}{%assign _07=locksmith_source|strip%}{%assign _0v=_07|hmac_sha256: _f%}{%capture _0r%}{{locksmith_json|hmac_sha256: shop.metafields.locksmith.client_key}}{%endcapture%}{%assign _n=_n|split:""%}{%assign _f=_f|split:""%}{%assign _7=_07%}{%capture _b%}🐙💥🐙{%endcapture%}{%for _3 in _n%}{%capture _v%}{{_3}}{{_b}}{%endcapture%}{%assign _7=_7|replace:_3, _v%}{%endfor%}{%for _3 in _n%}{%capture _0n%}{{_3}}{{_b}}{%endcapture%}{%capture _v%}{{_f[forloop.index0]}}{%endcapture%}{%assign _7=_7|replace:_0n, _v%}{%endfor%}{%for _3 in _f%}{%assign _7=_7|prepend:_b|append:_b|split:_3|reverse|join:_3|replace:_b, ''%}{%endfor -%}<!DOCTYPE html><html><head><title>{{shop.name}}</title><link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/2012/6357/files/twd_favicon_11624acd-dca9-47e5-8759-0109fb6b891e_32x32.png?v=1510078663" type="image/png"></head><body>{{- locksmith_json}}{{locksmith_client -}}<script data-locksmith>(function(a,b,c){b=document,c='addEventListener';b[c]?b[c]('DOMContentLoaded',a):window.attachEvent('onload',a)})(function(){a=document.getElementById('admin_bar_iframe');Locksmith.postResource({locksmith_source:{{_7|json}}+(a?a.outerHTML:''),locksmith_signature:{{_0v|json}},locksmith_json:{{locksmith_json|json}},locksmith_json_signature:{{_0r|json}}})})</script></body></html>{%- else%}{{_r}}{%endif%}{%endif%}