<div>
<h4>Shipping Rates</h4>
<table>
  <thead>
    <tr>
      <th><strong>Order Total</strong></th>
      <th><strong>U.S. Ground Shipping</strong></th>
      <th><strong>AK, HI & U.S. Territories</strong></th>
      <th><strong>International</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 Subscription Box</td>
      <td>$8.00</td>
      <td>$12.00</td>
      <td>$25.00</td>
    </tr>
    <tr>
      <td>2 Subscription Boxes</td>
      <td>$13.00</td>
      <td>$17.00</td>
      <td>$30.00</td>
    </tr>
    <tr>
      <td>3 Subscription Boxes</td>
      <td>$18.00</td>
      <td>$22.00</td>
      <td>$35.00</td>
    </tr>
    <tr>
      <td>4 Subscription Boxes</td>
      <td>$23.00</td>
      <td>$27.00</td>
      <td>$40.00</td>
    </tr>
    <tr>
      <td>5 Subscription Boxes</td>
      <td>$28.00</td>
      <td>$32.00</td>
      <td>$45.00</td>
    </tr>
    <tr>
      <td>6+ Subscription Boxes</td>
      <td>$33.00</td>
      <td>$37.00</td>
      <td>$50.00</td>
    </tr>
  </tbody>
</table>
</div>
<p>The Walking Dead Supply Drop currently ships to the following countries:</p>
<ul style="display: inline-block; vertical-align: top; margin-left: 0 !important; min-width: 200px;" class="pages-shipto-countries">
	<li>United States</li>
	<li>Canada</li>
	<li>Argentina</li>
	<li>Australia</li>
	<li>Austria</li>
	<li>Belgium</li>
	<li>Chile</li>
	<li>Colombia</li>
	<li>Czech Republic</li>
	<li>Denmark</li>
	<li>Finland</li>
	<li>France</li>
	<li>Germany</li>
	<li>Greece</li>
	<li>Iceland</li>
	<li>India</li>
	<li>Ireland</li>
	<li>Israel</li>
</ul> 
<ul style="display: inline-block; vertical-align: top; margin-left: 0 !important; min-width: 200px;" class="pages-shipto-countries">
	<li>Italy</li>
	<li>Japan</li>
	<li>Latvia</li>
	<li>Lithuania</li>
	<li>Mexico</li>
	<li>Netherlands</li>
	<li>New Zealand</li>
	<li>Norway</li>
	<li>Philippines</li>
	<li>Poland</li>
	<li>Portugal</li>
	<li>Singapore</li>
	<li>South Africa</li>
	<li>Spain</li>
	<li>Sweden</li>
	<li>Switzerland</li>
	<li>Thailand</li>
	<li>Turkey</li>
	<li>United Kingdom</li>
</ul>