<!-- /snippets/social-meta-tags.liquid -->
{%- assign og_title = page_title  -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}

{% comment %} Template specific overides {% endcomment %}
{%- if template.name == 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tags -%}{% for image in product.images limit:3 -%}{%- comment %}<locksmith:e631>{% endcomment -%}{%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ image.src | product_img_url: '1024x1024' }}">{% endif -%}{%- comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: '1024x1024' }}">{%- endcomment %}{%- comment %}</locksmith:e631>{% endcomment -%}{% endfor -%}{% endcapture -%}
  {%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}{%- comment %}<locksmith:5c66>{% endcomment -%}{%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1024x1024' }}">{% endif -%}{%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1024x1024' }}">{%- endcomment %}{%- comment %}</locksmith:5c66>{% endcomment -%}{% endfor -%}{% endcapture -%}

{%- elsif template.name == 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {%- if article.image -%}
    {%- capture og_image_tags -%}{%- comment %}<locksmith:5107>{% endcomment -%}{%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ article.image | img_url: '1024x1024' }}">{% endif -%}{%- comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: '1024x1024' }}">{%- endcomment %}{%- comment %}</locksmith:5107>{% endcomment -%}{% endcapture -%}
    {%- capture og_image_secure_url_tags -%}{%- comment %}<locksmith:ce55>{% endcomment -%}{%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1024x1024' }}">{% endif -%}{%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1024x1024' }}">{%- endcomment %}{%- comment %}</locksmith:ce55>{% endcomment -%}{% endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
{%- comment %}<locksmith:fa82>{% endcomment -%}
  {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ og_title }}">{% endif -%}
  {%- comment %}original: <meta property="og:title" content="{{ og_title }}">{%- endcomment %}
{%- comment %}</locksmith:fa82>{% endcomment -%}
{%- comment %}<locksmith:3702>{% endcomment -%}
  {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="{{ og_type }}">{% endif -%}
  {%- comment %}original: <meta property="og:type" content="{{ og_type }}">{%- endcomment %}
{%- comment %}</locksmith:3702>{% endcomment -%}
{%- comment %}<locksmith:356e>{% endcomment -%}
  {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:description" content="{{ og_description }}">{% endif -%}
  {%- comment %}original: <meta property="og:description" content="{{ og_description }}">{%- endcomment %}
{%- comment %}</locksmith:356e>{% endcomment -%}
{%- if template.name == 'product' -%}
  {%- comment %}<locksmith:ecdf>{% endcomment -%}
    {%- include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{%- endcomment %}
  {%- comment %}</locksmith:ecdf>{% endcomment -%}
  {%- comment %}<locksmith:d9bb>{% endcomment -%}
    {%- include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:currency" content="{{ shop.currency }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:currency" content="{{ shop.currency }}">{%- endcomment %}
  {%- comment %}</locksmith:d9bb>{% endcomment -%}
{%- endif -%}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}

<meta name="twitter:site" content="{{ settings.social_twitter | escape | split: 'twitter.com/' | last | prepend: '@' }}">
<meta name="twitter:card" content="summary_large_image">
{%- comment %}<locksmith:e61d>{% endcomment -%}
  {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:title" content="{{ og_title }}">{% endif -%}
  {%- comment %}original: <meta name="twitter:title" content="{{ og_title }}">{%- endcomment %}
{%- comment %}</locksmith:e61d>{% endcomment -%}
{%- comment %}<locksmith:00c4>{% endcomment -%}
  {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:description" content="{{ og_description }}">{% endif -%}
  {%- comment %}original: <meta name="twitter:description" content="{{ og_description }}">{%- endcomment %}
{%- comment %}</locksmith:00c4>{% endcomment -%}
