<div class="breadcrumbs">

  <a href="/">{{ 'general.breadcrumbs.home' | t }}</a> <span class="divider">/</span>
  {% if template contains "product" %}
    {% if collection %}
      <a href="/collections">{{ 'collections.listing.header' | t }}</a> <span class="divider">/</span> <a href="{{ collection.url }}">{{ collection.title }}</a>
    {% else %}
      <a href="/collections/all">{{ 'general.breadcrumbs.products' | t }}</a>
    {% endif %}
      <span class="divider">/</span> <span>{{ product.title }}</span>
  {% elsif template contains "list-collections" %}
    <span>{{ 'collections.listing.header' | t }}</span>
  {% elsif template contains "collection" %}
    <a href="/collections">{{ 'collections.listing.header' | t }}</a> <span class="divider">/</span> <span>{{ collection.title }}</span>
  {% elsif template contains "blog" %}
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    {% if current_tags.size > 0 %}
      <span class="divider">/</span> <span>{{ 'general.breadcrumbs.tagged' | t }}: {% for tag in current_tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
    {% endif %}
  {% elsif template contains "page" %}
    <span>{{ page.title }}</span>
  {% elsif template contains "article" %}
    {{ blog.title | link_to: blog.url }} <span class="divider">/</span> <span>{{ article.title | truncatewords: 2 }}</span>
  {% elsif template contains "cart" %}
    <span>{{ 'cart.general.header' | t }}</span>
  {% elsif template contains "404" %}
    <span>{{ 'general.breadcrumbs.404' | t }}</span>
  {% elsif template contains "search" %}
    <span>{{ 'general.search.header' | t }}</span>
  {% elsif template contains "customers/login" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.login.header' | t }}</span>
  {% elsif template contains "customers/reset_password" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.reset_password.header' | t }}</span>
  {% elsif template contains "customers/activate_account" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.activate_account.header' | t }}</span>
  {% elsif template contains "customers/account" %}
    <span>{{ 'general.breadcrumbs.account' | t }}</span>
  {% elsif template contains "customers/addresses" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.addresses.header' | t }}</span>
  {% elsif template contains "customers/register" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.register.header' | t }}</span>
  {% elsif template contains "customers/order" %}
    <a href="/account">{{ 'general.breadcrumbs.account' | t }}</a> <span class="divider">/</span> <span>{{ 'customers.order.header' | t: order_number: order.name }}</span>
  {% endif %}

</div>
