<div class="embed-container" style="background: #000; text-align: center; padding-top: 10px;height: auto;max-height:65px;">
  <span id="signupcode-text" style="color: #fff; text-decoration: none; font-family: 'BebasNeue Bold'; letter-spacing: 1px; font-size: 20px;display: inline-block;vertical-align: top; padding: 0 0 0 20px; line-height: 47px;">SIGN UP FOR FREE DOWNLOAD – AVAILABLE NOW</span>
  <div class="embed-sizer" id="signupcode-box" style="width: 400px; margin: 0 auto; display: inline-block; max-width: 100%; height: 75px; text-align: center;">
    <script src="https://air.cashmusic.org/public/cashmusic.js"></script>
    <script type="text/javascript">
    window.cashmusic.embed({
      endpoint:'https://air.cashmusic.org/public/',
      elementid:'56',
      cssoverride:'body{color:#fff;} a{color:#ffeb04;} #mainspc{background:transparent; padding:0px;width:60%;} .cash_notation{display: none;}.cashmusic.element input[type=email]{width:100%;color:#000;padding:10px 0;} form#cash_emailcollection_form_56:first-child div{width:80%!important;} @media all and (max-width:500px){  #mainspc{width:80%;text-align:center; margin: auto;}.cashmusic.element input[type=email]{width:100%;} } .placeholder = "Type name here.."; #mainspc .cash_notation{color:#ffffff !important;opacity:1 !important;font-size: 16px;}.cash_success.emailcollection{text-align:center;} .cashmusic.element input,.cashmusic.element input[type=email]:focus{background:#fff; color:#000000;}::-webkit-input-placeholder{color:#000;}.cashmusic.element input[type=submit], .cashmusic.element .button{border:none; color:#ffeb04; padding: 16px 10px;}.cashmusic.element input[type=submit]:hover, .cashmusic.element .button:hover{background:url(https://runthejewels.com/wp-content/themes/salient-child/images/arrow-downrtj.png) no-repeat;background-size:45px;}.cashmusic.element input[type=submit], .cashmusic.element .button{background:url(https://runthejewels.com/wp-content/themes/salient-child/images/arrow-downrtj.png) no-repeat; background-size:35px;text-indent:-9999px;width: 48px;}'
    });
    </script>
  </div>
</div>