<form action="/search" method="get" class="search-header search" role="search">
  <input class="search-header__input search__input"
    type="search"
    name="q"
    aria-label="Search">
  <button class="search-header__submit search__submit btn--link" type="submit">
    <img src="{{ 'icon-search.png' | asset_url }}">
  </button>
</form>
