<ul class="social">
  {%- if settings.social-facebook-link != blank -%}
    {% include 'social-link', id: 'facebook', url: settings.social-facebook-link %}
  {%- endif -%}

  {%- if settings.social-twitter-link != blank -%}
    {% include 'social-link', id: 'twitter', url: settings.social-twitter-link %}
  {%- endif -%}

  {%- if settings.social-google-link != blank -%}
    {% include 'social-link', id: 'google', url: settings.social-google-link %}
  {%- endif -%}

  {%- if settings.social-pinterest-link != blank -%}
    {% include 'social-link', id: 'pinterest', url: settings.social-pinterest-link %}
  {%- endif -%}

  {%- if settings.social-instagram-link != blank -%}
    {% include 'social-link', id: 'instagram', url: settings.social-instagram-link %}
  {%- endif -%}

  {%- if settings.social-vimeo-link != blank -%}
    {% include 'social-link', id: 'vimeo', url: settings.social-vimeo-link %}
  {%- endif -%}

  {%- if settings.social-youtube-link != blank -%}
    {% include 'social-link', id: 'youtube', url: settings.social-youtube-link %}
  {%- endif -%}

  {%- if settings.social-medium-link != blank -%}
    {% include 'social-link', id: 'medium', url: settings.social-medium %}
  {%- endif -%}

  {%- if settings.social-email-link != blank -%}
    {% assign url = 'mailto:' | append: settings.social-email-link %}
    {% capture email_title %}{{ 'general.social.email' | t }}{% endcapture %}
    {% include 'social-link', id: 'email', title: email_title, url: url %}
  {%- endif -%}

  {%- if settings.social-rss-link != blank -%}
    {% include 'social-link', id: 'rss', title: 'RSS', url: settings.social-rss %}
  {%- endif -%}
</ul>
