{% comment %}

  Facebook and Pinterest Open Graph

  Use the Facebook Open Graph Debugger for validation (and cache clearing)
    - http://developers.facebook.com/tools/debug

  Validate your Pinterest rich pins
    - https://developers.pinterest.com/rich_pins/validator/

{% endcomment %}

<meta property="og:site_name" content="{{ shop.name }}" />
<meta property="og:url" content="{{ canonical_url }}" />
<meta property="og:title" content="{{ page_title }}" />
{% if page_description %}
  <meta property="og:description" content="{{ page_description }}" />
{% endif %}
{% if template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:image" content="http:{{ product.featured_image | img_url: 'grande' }}" />
  <meta property="og:image:secure_url" content="https:{{ product.featured_image | img_url: 'grande' }}" />
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | stip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  {% if article.image %}
    <meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}" />
    <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}" />
  {% endif %}
{% else %}
  <meta property="og:type" content="website" />
  {% if template == "index" and settings.og_share_image %}
    <meta property="og:image" content="http:{{ settings.og_share_image | img_url: '1200x1200' }}">
    <meta property="og:image:secure_url" content="https:{{ settings.og_share_image | img_url: '1200x1200' }}" />
  {% elsif settings.use-logo %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}" />
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}" />
  {% endif %}
{% endif %}

{% comment %}

  Twitter Card

  Cards must be approved by Twitter to be activated
    - https://dev.twitter.com/docs/cards/validation/validator

{% endcomment %}
{% unless template contains 'product' %}
<meta name="twitter:card" content="summary">
{% endunless %}
{% if settings.social_twitter_link != blank %}
  {% capture twitterHandle %}{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}{% endcapture %}
  <meta name="twitter:site" content="{{ settings.social_twitter_link }}">
{% endif %}

{% if page_description %}
  <meta property="twitter:description" content="{{ page_description }}" />
{% endif %}

<meta name="twitter:url" content="{{ canonical_url }}">

{% if template contains 'product' %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ product.title }}">
  <meta name="twitter:image" content="http:{{ product.featured_image | img_url: 'grande' }}">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title }}" />
  {% if article.image %}
    <meta property="twitter:image" content="{{ article.image | img_url: 'grande' }}" />
 {% endif %}
{% else %}
  <meta name="twitter:title" content="{{ shop.name }}" />
  {% if template == "index" and settings.twitter_share_image %} 
    <meta name="twitter:image" content="http:{{ settings.twitter_share_image | img_url: '1200x1200' }}">
  {% elsif settings.use-logo %}
    <meta name="twitter:image" content="{{ 'logo.png' | asset_url }}" />
  {% endif %}
{% endif %}
