{% layout none %}
{
	"product_id": "{{ product.metafields.sku.parent }}",
	"sku": "{{ product.metafields.sku.parent }}",
	"category": "{{ product.type }}",
	"name": "{{ product.title }}",
	"price": {{ product.first_available_variant.price | divided_by: 100.00 }},
	"currency": "{{ shop.currency }}",
	"tags": "{{ product.tags | join: ', ' | replace: 'gold_exclusive', 'GOLD EXCLUSIVE' | replace: '1EXCLUSIVE', 'EXCLUSIVE' | replace: '1LIMITED', 'LIMITED' | replace: '1EARLYACCESS', 'EARLY ACCESS' | replace: '2PREORDER', 'PRE ORDER' | replace: '3NEW', 'NEW' | replace: 'ONSALE', 'OFFER' }}", 
	"url": "{{ product.url }}", 
	"image_url": "{{ product.featured_image | img_url }}", 
	"brand": "{{ product.metafields.brand }}", 
	"character": "{{ product.metafields.character }}", 
	"house": "{{ product.metafields.house }}", 
	"variant": "undefined",
	"cart_id": "undefined", 
	"quantity": "undefined",
	"coupon": "undefined",
	"position": "undefined", 
	"value": "undefined" 
} 
