{% assign variant = bold_selected_or_first_available_variant %}
{% if variant.metafields.shappify_csp.csp_parent %}
{% if csp_customer_tag != null %}


  {% assign parId = variant.metafields.shappify_csp.csp_parent %}
  {% for parentVar in product.variants %}

    {% if parentVar.id == parId %}
      

      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endif %}