<!-- snippets/collection-filters.liquid -->
{% capture json_links %}
{%- include 'collection-filter-list' -%}
{% endcapture %}

{% assign json_links = json_links | replace: '&','&amp;' %}
{%- assign tags = collection.all_tags | t -%}

<div id="Filter-Navigation" class="header--popup"> 
<h3 class="mobile-title medium-up--hide t-uppercase mobile--filter-tab visually-hidden"><span class="active">Filter</span><span data-popup-for="sort-by--popup">Sort</span></h3>
<div class="t-uppercase no-margin filter-nav-title s-hide visually-hidden">{{ 'collections.filters.title' | t }}</div>
</div>
{% if current_tags == blank %}
<script id="collection--tags" type="application/json">[{% for tag in collection.all_tags %}{ "name": "{{ tag | title | escape }}", "url": "{{ tag | handleize }}", "count": 0 }{% unless tag == collection.all_tags.last %},{% endunless %}{% endfor %}]</script> 
{% else %}
<script id="collection--tags" type="application/json">[{% for tag in collection.tags %}{ "name": "{{ tag | title | escape }}", "url": "{{ tag | handleize }}", "count": 0 }{% unless tag == collection.tags.last %},{% endunless %}{% endfor %}]</script> 
{% endif %}
<script id="current--tags" type="application/json">[ {% for tag in current_tags %} { {{ tag | json }} :  "{{ tag | handleize }}" }{% unless tag == current_tags.last %},{% endunless %}{% endfor %}]</script>
<script id="filters" type="application/json">{{ json_links }}</script>
<script type="application/json" id="collection-items-count">{"count": {{ collection.products_count }}}</script>
<script type="text/javascript" src="{{ 'collection-filters.min.js' | asset_url }}" defer="defer"></script>
