<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,footer-menu,categories-menu,more-characters,shop-by-title' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}

{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %}
  {% if collection_links_avoid contains linklist_handle %}
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | replace: '&', 'and' | remove: 'Collection ' %}
  {% if linklist_title == collection.title %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}

{% assign is_brands_collection = false %}
{% assign brands_menu_list = linklists['brands'] %}
{% assign collection_brand = blank %}
{% for _blink in brands_menu_list.links %}
  {% if _blink.url == collection.url %}
    {% assign collection_brand = _blink %}
    {% assign is_brands_collection = true %}
    {% break %}
  {% elsif _blink.links != blank %}
    {% for _cblink in _blink.links %}
      {% if _cblink.url == collection.url %}
        {% assign collection_brand = _blink %}
        {% assign is_brands_collection = true %}
        {% break %}
      {% elsif _cblink.links != blank %}
        {% for _gcblink in _cblink.links %}
          {% if _gcblink.url == collection.url %}
            {% assign collection_brand = _blink %}
            {% assign is_brands_collection = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% if is_brands_collection %}
<div class="collection-links s-hide">
  
  {% if collection_brand.links != blank %}
  <div>
  <ul>
    {% comment %}<h4 class="sidebar-category-header t-uppercase">Category</h4>{% endcomment %}
    {% for link in collection_brand.links %}
      <li class="Filter level--0">
        {% if link.links != blank %}
        <div class="sub_brand_menu">
          <h5 class="no-margin t-capitalize level--0 {% if collection.url == link.url %}current-collection{% endif %}"><a href="{{ link.url }}">{{link.title}}</a></h5>
          <ul class="sublinks">
            {% for _clink in link.links %}
              <li class="level--1">
                <h5 class="no-margin t-capitalize level--1 {% if collection.url == _clink.url %}current-collection{% endif %}"><a href="{{ _clink.url }}">{{ _clink.title }}</a></h5>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
          {% if link.url == '/' %}
        <h5 class="no-margin t-capitalize level--0 sidebar--label">
          <span>{{link.title}}</span>
        </h5>  
          {% else %}
        <h5 class="no-margin t-capitalize level--0 {% if collection.url == link.url %}current-collection{% endif %}">
          <a href="{{ link.url }}">{{link.title}}</a>
        </h5>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
</div>
{% elsif collection_links.links.size > 0 %}
  <div class="collection-links s-hide">
    
    <div>
    <ul>
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

        <li class="Filter level--0">
          {% if link.links != blank %}
        <div class="sub_brand_menu">
          <h5 class="no-margin t-capitalize level--0 {% if collection.url == link.url %}current-collection{% endif %}"><a href="{{ link.url }}">{{link.title}}</a></h5>
          <ul class="sublinks">
            {% for _clink in link.links %}
              <li class="level--1">
                <h5 class="no-margin t-capitalize level--1 {% if collection.url == _clink.url %}current-collection{% endif %}"><a href="{{ _clink.url }}">{{ _clink.title }}</a></h5>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
          {% if link.url == '/' %}
        <h5 class="no-margin t-capitalize level--0 sidebar--label">
          <span>{{link.title}}</span>
        </h5>  
          {% else %}
        <h5 class="no-margin t-capitalize level--0 {% if collection.url == link.url %}current-collection{% endif %}">
          <a href="{{ link.url }}">{{link.title}}</a>
        </h5>
          {% endif %}
        {% endif %}
        </li>

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
    <div class="margin-bottom-2x"></div>
  </div>
{% elsif collection_links.links.size == 0 or collection_links == blank %}
  <div class="collection-links">
    <div class="filters-mobile-popup-overlay medium-up--hide"></div>
    <div>
     {% assign full_menu_list = linklists['main-menu'] %}

     {% assign parent_collection = blank %}
     {% assign level = 0 %}

     {% for _blink in full_menu_list.links %}
      {% if _blink.url == collection.url %}
        {% if _blink.links != blank %}
        {% assign parent_collection = _blink %} 
        {% endif %}
        {% break %}
      {% elsif _blink.links != blank %}
        {% for _cblink in _blink.links %}
          {% if _cblink.url == collection.url %}
            {% assign parent_collection = _blink %}
            {% break %}
          {% elsif _cblink.links != blank %}
            {% for _gcblink in _cblink.links %}
              {% if _gcblink.url == collection.url %}
                {% assign parent_collection = _cblink %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
     {% endfor %}
      {% if parent_collection != blank %}
       <ul>
       {% for slink in parent_collection.links %}
        <li class="Filter{% if slink.url == collection.url %} Selected{% endif %}" data-level="{{ level }}">
          {% if slink.url == '/' %}
          <h5 class="no-margin t-capitalize level--0 sidebar--label">
            <span>{{ slink.title }}</span>
          </h5>
          {% else %}
          <a href="{{ slink.url }}">{{slink.title}}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <h4 class="t-uppercase no-margin collection-title">{{ collection.title }}</h4>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="collection-links s-hide">
  </div>
{% endif %}
