{%- assign collection_title = block.settings.collection_title -%}
{%- assign collection_link_text = block.settings.collection_link_text -%}  
{%- assign collection_image = block.settings.collection_image -%}
{%- assign collection_url = block.settings.collection_url -%}

<div class="collection-grid-item">
  <a href="{{ collection_url }}" class="collection-grid-item__link">
    {% if collection_image != blank %}
      <div class="collection-grid-item__overlay-wrapper">
        <div class="collection-grid-item__overlay box ratio-container lazyload js">
           <img class="lazyload" data-sizes="auto" data-src="{{ collection_image | img_url: 'master' }}">
        </div>     
     </div>
   {% endif %}
    <div class="collection-grid-item__title-wrapper">
      <h3 class="collection-grid-item__title">{{ collection_title }}</h3>
      <h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>
    </div>
  </a>
</div>
