{%- assign recommendation_container = settings.evergage_product_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = 'body #MainContent' %}
{% endif %}
<style>
	.Evergage_ProductDefinition {
	  display: none;
	}
</style>
<script>
var productDefinitions = {
    "_id": "{{ bold_selected_or_first_available_variant.sku }}",
    "name": "{{ product.title | escape }}", 
    "description": '{{ product.description | strip_html | escape }}', 
    "imageUrl": "{{ product | img_url: '280x280' }}",
    "url": '{{ product.url }}',
    "currency": "{{ shop.currency }}",
    "categories": "",
    "listPrice": "{{ bold_variant_price | money_without_currency}}",
    "price": "{{ bold_variant_price | money_without_currency}}"
};
</script>
