<script>
var readyForFieldValidation = setInterval(function() {
  if (typeof jQuery != 'undefined') {
    clearInterval(readyForFieldValidation);
    jQuery(document).ready(function($){
      var validatedFields = [
        //Checkout Fields
        $('input[name="checkout[email]"]'),
        $('input[name="checkout[shipping_address][first_name]"]'),
        $('input[name="checkout[shipping_address][last_name]"]'),
        $('input[name="checkout[shipping_address][company]"]'),
        $('input[name="checkout[shipping_address][address1]"]'),
        $('input[name="checkout[shipping_address][address2]"]'),
        $('input[name="checkout[shipping_address][city]"]'),
        $('input[name="checkout[shipping_address][zip]"]'),
        $('input[name="checkout[shipping_address][phone]"]'),
        $('input[name="checkout[note]"]'),
        $('input[name="number"]'),
        $('input[name="name"]'),
        $('input[name="checkout[billing_address][first_name]"]'),
        $('input[name="checkout[billing_address][last_name]"]'),
        $('input[name="checkout[billing_address][company]"]'),
        $('input[name="checkout[billing_address][address1]"]'),
        $('input[name="checkout[billing_address][address2]"]'),
        $('input[name="checkout[billing_address][city]"]'),
        $('input[name="checkout[billing_address][zip]"]'),
        $('input[name="checkout[billing_address][phone]"]'),

        //Create Account Fields
        $('input[name="customer[first_name]"]'),
        $('input[name="customer[last_name]"]'),
        $('input[name="customer[email]"]'),
      ];

      // Allowed Characters
      //--------------------------------------------------
      // Letters: A-Z a-z
      // Numbers: 0-9
      // Special Characters: _ @ . , / # & + - ( ) '
      //--------------------------------------------------
      var validationRules = /^[A-Z a-z 0-9 _ @ . , / # & + \- \\( \\) ' \s]+$/i;

      var currentFieldCounter;
      for(currentFieldCounter = 0; currentFieldCounter < validatedFields.length; currentFieldCounter++) {
        validatedFields[currentFieldCounter].keyup(function() {

          var validationResults = validationRules.test($(this).val());

          if(validationResults) {

          } else {
            //Empty The Field's Contents
            $(this).val('');

            //Checkout Fields Error Handler
              //Get Field Group
              var fieldGroup = $(this).parents().eq(1);
              //Remove Current Messages From Field Group
              fieldGroup.children('.field__message').remove();
              //Add Error Class To Field Group
              fieldGroup.addClass('field--error');
              //Get Field Wrapper
              var fieldWrapper = $(this).parent();
              //Add Error Message To Field Wrapper
              fieldWrapper.after('<p class="field__message field__message--error" id="error-for-first_name">The characters you attempted to enter are invalid. Please be sure to use only Latin characters.</p>');
          }
        });
      }
    });
  } else {
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js';
    head.appendChild(script);
  }
}, 1000);
</script>
