{% if settings.out_of_service_region_landing_popup_enabled %}
  <script>
  $(function() {
    var GeolocationRedirect_GeolocateTimer = setTimeout(function() {
        $.ajax({
          url: "https://aracahq.com/geolocate",
          success: function(data) {
            if(checkAllowed(data.country.iso_code)) {
            } else {
              if(getGeoCookie() == 'unset') {
                displayRedirectPopup(data.country.iso_code);
              }
            }

          },
          dataType: 'json'
        });
        clearTimeout(GeolocationRedirect_GeolocateTimer);
      }, 1);

    function checkAllowed(code) {
      var allowedCountryCodes = ['US', 'CA', 'AU', 'NZ'];
      if(jQuery.inArray(code, allowedCountryCodes) != -1) {
        Cookies.set('customer_geo_location', code);
        return true;
      }
    }

    function checkWhitelist(ipaddress) {
      var allowedIPAddresses = [];
      if(jQuery.inArray(ipaddress, allowedIPAddresses) != -1) {
        return true;
      }
    }

    function doRedirect(url) {
      window.location = url;
    }

    function getGeoCookie() {
      if(!Cookies.get('georedirect_state')) {
        Cookies.set('georedirect_state', 'unset');
      }
      return Cookies.get('georedirect_state');
    }

    function displayRedirectPopup(country_code) {
      var _redirect_popup = "<div id='popup_geo_redirect' class='popup'><div class='title'>{{ settings.out_of_service_region_landing_popup_title }}</div><div class='page_content'><p>{{ settings.out_of_service_region_landing_popup_content }}</p>{% if settings.out_of_service_region_landing_popup_button_1_enabled %}<a class='btn dark--primary-button' {% if settings.out_of_service_region_landing_popup_button_1_dismisses_popup %}onclick='$(\"#popup_geo_redirect\").dialog(\"close\");'{% else %}{% if settings.out_of_service_region_landing_popup_button_1_link %}href='{{ settings.out_of_service_region_landing_popup_button_1_link }}'{% endif %}{% endif %}>{{ settings.out_of_service_region_landing_popup_button_1_text }}</a>{% endif %}{% if settings.out_of_service_region_landing_popup_button_2_enabled %}<a class='btn dark--primary-button' {% if settings.out_of_service_region_landing_popup_button_2_dismisses_popup %}onclick='$(\"#popup_geo_redirect\").dialog(\"close\");'{% else %}{% if settings.out_of_service_region_landing_popup_button_2_link %}href='{{ settings.out_of_service_region_landing_popup_button_2_link }}'{% endif %}{% endif %}>{{ settings.out_of_service_region_landing_popup_button_2_text }}</a>{% endif %}{% if settings.out_of_service_region_landing_popup_button_3_enabled %}<div><br/><a class='btn dark--secondary-button' {% if settings.out_of_service_region_landing_popup_button_3_dismisses_popup %}onclick='$(\"#popup_geo_redirect\").dialog(\"close\");'{% else %}{% if settings.out_of_service_region_landing_popup_button_3_link %}href='{{ settings.out_of_service_region_landing_popup_button_3_link }}'{% endif %}{% endif %}>{{ settings.out_of_service_region_landing_popup_button_3_text }}</a></div>{% endif %}</div></div>";

      $(_redirect_popup).dialog({
        modal: true,
        resizable: false,
        draggable: false,
        open: function() {
        },
        close: function() {
          Cookies.set('georedirect_state', 'set');
        }
      });
    }

  });
  </script>
{% endif %}
