{%- assign brands_navigation = linklists['characters'].links -%}
<div class="mobile-nav__link">
	<div class="mobile-menu-accordion" id="brands_mobile_menu">
		<div class="mobile-menu-accordion ui-accordion ui-widget ui-helper-reset" data-level="1" role="tablist">
			<div class="border-bottom mobile-nav__link--header mobile-nav__link-accordion-header">Brands</div>
			<div>
			{% for link in brands_navigation %}
				{%- capture linkHandle -%}{{link.handle}}{%- endcapture -%}
				{% if link.links != blank or linklists[linkHandle].links != blank %}
				{% else %}
				<div class="mobile-nav__link--header">
					<a href="{{ link.url }}">{{link.title}}</a>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</div>