{%- assign sort_pagination_by = "" %}
{%  if collection.sort_by != collection.default_sort_by %}
{%- assign sort_pagination_by = collection.sort_by | prepend: "&sort_by=" %}
{% endif %}
<ul class="list--inline pagination" data-collection-handle="{{collection.handle}}">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        <i class="icon__fallback-text arrow arrow-left"><img class="lazyload" data-sizes="auto" data-src="{{ 'ic_arrow-left-black.svg' | asset_url }}"></i>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
        <i class="icon__fallback-text arrow arrow-left"><img class="lazyload" data-sizes="auto" data-src="{{ 'ic_arrow-left-black.svg' | asset_url }}"></i>
      </a>
    {% endunless %}
  </li>

  {% if paginate.pages <= 3 %} 
    {% for _ind in (1..paginate.pages) %}
  <li class="pagination__text{% if paginate.current_page >= _ind %} current--page{% endif %}{% if _ind == paginate.pages %} last--page{% endif %}">
    <a href="?page={{_ind}}{{ sort_pagination_by }}"{% if paginate.current_page == _ind %} class="pagination--line"{% endif %}>{{ 'IIII' | slice: 1,_ind }}</a>
  </li>
    {% endfor %}
  {% else %}

  <li class="pagination__text current--page">
    <a href="?page={{paginate.current_page}}{{ sort_pagination_by }}">{{paginate.current_page}}</a>
  </li>

  <li class="pagination__text pagination--divider">
    <a>of</a>
  </li>
 
  <li class="pagination__text total--pages">
    <a href="?page={{paginate.pages}}{{ sort_pagination_by }}">{{paginate.pages}}</a>
  </li>
  
  {% endif %} 

  <li>
    {% unless paginate.next.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        <i class="icon__fallback-text arrow arrow-right"><img class="lazyload" data-sizes="auto" data-src="{{ 'ic_arrow-right-black.svg' | asset_url }}"></i>
      </div>
    {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
        <i class="icon__fallback-text arrow arrow-right"><img class="lazyload" data-sizes="auto" data-src="{{ 'ic_arrow-right-black.svg' | asset_url }}"></i>
      </a>
    {% endunless %}
  </li>
</ul>
