<!-- /snippets/popup-cart.liquid -->

{% comment %}
  This snippets adds the minicart functionality to the shopify debut theme.
{% endcomment %}

{%- assign is_premium_customer = false %}
{%- assign is_premium_product = false %}

{% if customer %}
  {% if customer.tags contains 'premium' %}
    {%- assign is_premium_customer = true %}
  {% endif %}
{% endif %}

<div id="MiniCart" class="popup outset sticky">
  <div class="minicart--header"><h3>Bag</h3></div>
  {% if cart.item_count == 0 %}
    <div class="minicart-header empty">
      <div class="minicart-close"><a id="minicart-close-btn" href="#">&#9587;</a></div>
      <div class="minicart-title"> Your bag is empty. <div class="minicart-items-total" style="display: none;"><span id="minicart-items-count">0</span> items</div></div>
    </div>
  {% else %}
  <div class="minicart-header">
    <div class="minicart-close"><a id="minicart-close-btn" href="#">&#9587;</a></div>
    <div class="minicart-title"> Your Bag 
      <div class="minicart-items-total">
        <span id="minicart-items-count">{{ cart.item_count}}</span> items
      </div>
    </div>
  </div>
  {% endif %}
  <div class="minicart-items">
    <ul id="minicart-items-list" class="minicart-items">
    {% assign list_count = 2 %}
    {% if cart.items.size < 3 %}
      {% assign list_count = cart.items.size | minus: 1 %}
    {% endif %}
    {% for i in (0..list_count) %}
    {% assign item = cart.items[i] %}

    {%- assign is_premium_product = false %}
    {% if item.product.tags contains 'gold_exclusive' %}
      {%- assign is_premium_product = true %}
    {% endif %}

      <li class="minicart-item">
        <div class="minicart-item-image">
          <a href="{{ item.url | within: collections.all }}">
            {% if item.properties._ezp_thumbnail %}
            <img class="cart__image lazyload" data-sizes="auto" data-src="{{ item.properties._ezp_thumbnail }}" alt="{{ item.title | escape }}">
            {% elsif item.image %}
            <img class="cart__image lazyload" data-sizes="auto" data-src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
            {% endif %}
          </a>
        </div>
        <div class="minicart-item-info">
          <div class="minicart-item-title">
            <a href="{{ item.url | within: collections.all }}">
              <h4>{{item.product.title}}{% if item.variant != blank and item.product.variants.size > 1 %} - {{item.variant.title}}{% endif %}</h4>
            </a>
            <div class="minicart-item-actions">
              <div class="minicart-item-update"><a href="#" class="minicart-update-button" data-index="{{ forloop.index }}" data-variant-id="{{item.variant_id}}">Update</a></div>
              <div class="minicart-item-remove"><a href="#" class="minicart-remove-link" data-index="{{ forloop.index }}" data-variant-id="{{item.variant_id}}">Remove</a></div>
            </div>
          </div>
          <div class="minicart-meta-info">
            {% assign property_size = item.properties | size %}
            {% assign _properties_to_ignore = "Preview,_pplr_preview,_ezp_thumbnail,_isGiftBy,_ezp_projectId,_tags,_ezp_sku,days,country" | split: ',' %}
            {% if property_size > 0 %}
              {% for p in item.properties %}
              {% unless _properties_to_ignore contains p.first %}
                {% unless p.last == blank or hiddenProp == true %}
            <p class="minicart-personalization">{{ p.first }}: <span class="{{ p.first }}">{{ p.last }}</span></p>
                {% endunless %}
              {% endunless %}
              {% endfor %}
            {% endif %} 
            {% if item.product.metafields.shipsto.country != blank %}
            <p class="minicart-shipsto-country">{{ item.product.metafields.shipsto.country | remove: "This item" | replace: 'ships', 'Ships' }}</p>
            {% endif %}
            {% if item.product.metafields.preorder.date != blank %}
            <p class="minicart-shipping-days">{{ item.product.metafields.preorder.date | remove: 'Pre-Order' | replace: 'ships', 'Ships' }}</p>
            {% elsif item.product.metafields.shipping.days != blank %}
            <p class="minicart-shipping-days">{{ item.product.metafields.shipping.days | remove: "This item" | replace: 'ships', 'Ships' }}</p>
            {% endif %}
          </div>
          {% if is_premium_customer and item.variant.compare_at_price == blank %}
          {% unless is_premium_product %}
            {% if item.product.metafields.sku.parent != 'HPWWDGOLDBOX' %}
            <div class="minicart-item-discount-info">
              <p class="t-uppercase">Gold member discount applied</p> 
            </div>
            {% endif %}
          {% endunless %}
          {% endif %}
          <div class="minicart-item-quantity">
            <div class="input-group input-number-group">
              <div class="input-group-button">
                <span class="input-number-decrement" data-variant-id="{{item.variant_id}}">
                  <img class="lazyload" data-sizes="auto" data-src="{{ 'ic_minus-white.svg' | asset_url }}" data-variant-id="{{item.variant_id}}">
                </span>
              </div>
              <input type="number" id="Quantity-{{item.variant_id}}" name="quantity" value="{{item.quantity}}" min="1" class="product-form__input" pattern="[0-9]*" disabled>
              <div class="input-group-button">
                <span class="input-number-increment" data-variant-id="{{item.variant_id}}">
                  <img class="lazyload" data-sizes="auto" data-src="{{ 'ic_plus-white.svg' | asset_url }}" data-variant-id="{{item.variant_id}}">
                </span>
              </div>
            </div>
            <div class="minicart-item-price">{% comment %}<s class="minicart-compare-price">{{ item.variant.compare_at_price | money }}</s>{% endcomment %}{{item.price | money}}</div>
          </div>
          <div class="minicart-item-sku visually-hidden">SKU: {% if item.variant != blank %}{{item.variant.sku}}{% else %}{{item.product.metafields.sku.parent}}{% endif %}</div>
        </div>
      </li>
    {% endfor %}
    {% if cart.items.size > 3 %}
      <li class="minicart-item"><div class="minicart-item-info view-cart-link"><a href="/cart" class="minicart-cart-link btn btn--small light--secondary-button">View all items</a></div></li>
    {% endif %}
    </ul>
  </div>
  <div class="promo-text{% if cart.item_count == 0 %} empty{% endif %}">Have a discount code? Continue to checkout to redeem it.</div>
  <div class="minicart-promo-section" {% if cart.item_count == 0 %}style="display: none"{% endif %}>
    <div class="minicart-promo-message"><p>Shipping &amp; taxes calculated at checkout</p></div>
  </div>
  <div class="minicart-subtotal" {% if cart.item_count == 0 %}style="display: none"{% endif %}>Subtotal<span id="minicart-subtotal">{{ cart.total_price | money }}</span></div>
  <a href="/checkout" class="minicart-checkout-button" {% if cart.item_count == 0 %}style="display: none"{% endif %}>Checkout</a>
  {% if additional_checkout_buttons and metafield_data_single == blank %}
    <form action="/cart" method="post" novalidate class="cart">
    <div class="additional-checkout-buttons" {% if cart.item_count == 0 %}style="display: none"{% endif %} >{{ content_for_additional_checkout_buttons }}</div>
    </form>
  {% endif %}

  <a id="minicart-continue-btn" href="#" class="minicart-continue-shopping light--secondary-button">Continue Shopping</a>
  <div class="minicart-cart-update-ajax-wait"></div>
</div>
