{% if product.images.size > 1 or product.metafields.productinfo.trailer_urls != blank %}  
  {%- assign has_embed_video = false %}
  {% if product.metafields.productinfo.trailer_urls != blank %} 
  {%- assign has_embed_video = true %}
  {% endif %} 
  <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
    <div class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }} {% if product.images.size > 4 %}slick-thumbnails{% endif %}">
      {% for image in product.images %}
        {% if has_embed_video and forloop.index == 1 %}
        <div class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js video--thumbnail" style="clear:none;">
          <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
             class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
             data-thumbnail-id="video__{{ image.id }}">
               <img class="product-single__thumbnail-image lazyload" data-sizes="auto" data-src="{{ image.src | img_url: '88x88', scale: 1 }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
        {% endif %}
        <div class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js" style="clear:none;">
          <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
             class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
             data-thumbnail-id="{{ image.id }}">
               <img class="product-single__thumbnail-image lazyload" data-sizes="auto" data-src="{{ image.src | img_url: '88x88', scale: 1 }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
