{% if trailer_urls != blank %}
{%- assign video_service = '' %}
{%- assign pdp_video_url = '' %}
{% if trailer_urls contains 'youtube' %} 
	{%- assign video_service = 'youtube' %}
	{%- assign video_id = trailer_urls | split: 'watch' | last | split: '=' | last %} 
	{%- assign pdp_video_url = 'https://www.youtube.com/embed/' | append: video_id | append: '?autoplay=1' %}
{% elsif trailer_urls contains 'vimeo' %} 
	{%- assign video_service = 'vimeo' %} 
	{%- assign video_id = trailer_urls | split: '/' | last %} 
	{%- assign pdp_video_url = 'https://player.vimeo.com/video/' | append: video_id | append: '?autoplay=1' %}
{% elsif trailer_urls contains 'dailymotion' %} 
	{%- assign video_service = 'dailymotion' %} 
	{%- assign video_id = trailer_urls | split: '/' | last %} 
	{%- assign pdp_video_url = 'https://www.dailymotion.com/embed/video/' | append: video_id | append: '?autoplay=1' %}
{% endif %}
{% case video_service %}
	{% when 'vimeo' %}
		<div data-video-url="{{ pdp_video_url }}" style="width:100%;height:100%;"><iframe style="width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js" defer="defer"></script> 
	{% when 'youtube' %} 
		<div data-video-url="{{ pdp_video_url }}" style="width:100%;height:100%;"><iframe style="width:100%;height:100%;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> 
	{% when 'dailymotion' %}
		<div data-video-url="{{ pdp_video_url }}" style="width:100%;height:100%;"><iframe frameborder="0" style="width:100%;height:100%;" allowfullscreen="" allow="autoplay" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
	{% else %}
{% endcase %}
{% endif %} 
