<!--snippets/product-addtocart-button -->
<div class="product-form__item product-form__item--submit">
  {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %}
  {% include 'ezp-customizer' %}
  {% else %}
  <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and bold_selected_or_first_available_variant.title contains 'Default Title' %} product-form__cart-submit--small{% endif %}{{ button_type }}" data-customer-loggedin="{% if customer %}true{% else %}false{% endif %}">
    <span id="AddToCartText-{{ section.id }}">
      {% unless current_variant.available %}
        {{ 'products.product.sold_out' | t }}
      {% else %}
        {% if product.metafields.preorder.date != blank %}
          {{ 'products.product.preorder' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endif %}
      {% endunless %}
    </span>
  </button> 
  {% endif %}
</div> 
