{%- assign product_limit_amount = '' %}
{% if collection.products_count > 9 %}
	{%- assign product_limit_amount = product_limit_amount | append: '9' %}
{% endif %}
{% if collection.products_count > 27 %}
	{%- assign product_limit_amount = product_limit_amount | append: ',27' %}
{% endif %}
{% if collection.products_count > 45 %}
	{%- assign product_limit_amount = product_limit_amount | append: ',45' %}
{% endif %}
<div class="grid-item-number-limiter">
	{%- assign amounts = product_limit_amount | split: ',' %}
	{% if collection.products_count > 9 %}
	<p>SHOW {% for amount in amounts %}<a href="?collection={{amount}}">{{amount}}</a> {% if amount != amounts.last %}|{% endif %}{% endfor %}</p>
	{% endif %}
</div>