<!--snippets/product-exclusive-button -->
<div class="product-form__item product-form__item--exclusive-btn">
  <a href="https://www.wizardingworld.com/about-gold" target="_blank" class="btn exclusive-btn" id="exclusive-only-btn">
    <span>
      {{ 'products.product.exclusive_product' | t }}
    </span>
  </a>
</div> 

<script type="text/javascript">
var _exclusive_btn = document.getElementById('exclusive-only-btn'); 

if(_exclusive_btn.nodeName == 'BUTTON') {
	_exclusive_btn.onclick = function(event) {
		event.preventDefault();
		var _exclusive_btn = document.getElementById('exclusive-only-btn'); 
		_exclusive_btn.disabled = true; 
	} 

	_exclusive_btn.onmouseover = function(event) {
		var _exclusive_btn = document.getElementById('exclusive-only-btn'); 
		_exclusive_btn.disabled = true; 
	} 

	_exclusive_btn.onmouseout = function(event) {
		var _exclusive_btn = document.getElementById('exclusive-only-btn'); 
		_exclusive_btn.disabled = true; 
	} 
} 
</script> 
