<!--snippets/product-tags.liquid-->
{% for tag in product.tags %} 
  {% if product.tags contains 'gold_exclusive' %}
   <span class="product-tag-label"><span class="icon-gold"><span class="icon--text">GOLD EXCLUSIVE</span></span></span>
   {% break %}
  {% elsif product.tags contains '1EXCLUSIVE' %} 
   <span class="product-tag-label"><span class="icon-exclusive"><span class="icon--text">EXCLUSIVE</span></span></span>
   {% break %} 
   {% elsif product.tags contains '2LIMITED' %} 
   <span class="product-tag-label"><span class="icon-limited"><span class="icon--text">LIMITED</span></span></span>
   {% break %}
  {% elsif product.tags contains '3NEW' %}
    <span class="product-tag-label"><span class="icon-new"><span class="icon--text">NEW</span></span></span>
    {% break %}
  {% endif %}
{% endfor %}