<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign is_premium_customer = false %} 
{% if customer and customer.tags contains 'premium' %}
  {%- assign is_premium_customer = true %} 
{% endif %}

{%- assign money_price = price | money -%}

{% if product.variants.size > 1 and price_varies %}
  {%- assign first_compare_at_price = product.compare_at_price_min -%}
  {%- assign last_compare_at_price = product.compare_at_price_max -%}
  {%- assign price_first = product.price_min -%}
  {%- assign price_last = product.price_max -%}
  {% if product.compare_at_price_min == product.price_min %}
  {%- assign first_price_varies = false -%}
  {% else %}
  {%- assign first_price_varies = true -%}
  {% endif %}
  {% if product.compare_at_price_max == product.price_max %}
  {%- assign last_price_varies = false -%}
  {% else %}
  {%- assign last_price_varies = true -%}
  {% endif %} 
  {%- assign first_available = product.selected_or_first_available_variant.available -%}
  {%- assign last_available = product.variants.last.available -%}


  {% if first_compare_at_price > price_first or last_compare_at_price > last_price %}
      <span class="visually-hidden">{{ 'products.product.variants.first.regular_price' | t }} - {{ 'products.product.variants.last.regular_price' | t }}</span>
      <s class="product-price__price product-price__original">{{ first_compare_at_price | money }} - {{ last_compare_at_price | money }}</s>
      <span class="product-price__price product-price__sale">
        {{ price_first | money }} - {{ price_last | money }}
      </span>
  {% else %}
    {% if price_varies %}
      <span class="product-price__price">{{ price_first | money }} - {{ price_last | money }}</span>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.variants.first.regular_price' | t }} - {{ 'products.product.variants.last.regular_price' | t }}</span>
      <span class="product-price__price">{{ price | money }}</span>
    {% endif %}
  {% endif %}
{% else %}
  {% if compare_at_price > price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    {% if price_varies %}
      <s class="product-price__price product-price__original">{% if product.compare_at_price_varies %}{{ first_compare_at_price | money }} - {{ last_compare_at_price | money }} {% else %} {{ compare_at_price | money }}{% endif %}</s>
    {% else %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s class="product-price__price product-price__original">{{ compare_at_price | money }}</s>
    {% endif %}
      <span class="product-price__price product-price__sale">
        {{ money_price }}
      </span>
  {% else %}

    {% unless price_varies %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    {% endunless %}
      <span class="product-price__price">{{ money_price }}</span>
  {% endif %}
{% endif %}
