<!-- snippet/product-pricing-->
{% if current_variant.compare_at_price > current_variant.price %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

    <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

    <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        {{ current_variant.price | money }}
      </span>
    </span> 
{% elsif product.variants.size > 1 %}
  {% if product.compare_at_price_min > product.price_min or product.variants.last.compare_at_price > product.variants.last.price %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

    {% if product.compare_at_price_varies %}
    <s id="ComparePrice-{{ section.id }}">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</s>
    {% else %}
    <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
    {% endif %}

    <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{{ product.price_min | divided_by: 100.00 }} - {{ product.price_max | divided_by: 100.00 }}">
        {{ product.price_min | money }} - {{ product.price_max | money }}
      </span>
    </span>
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
    <span class="product-price__price product-price__price-{{ section.id }}">
      <span id="ProductPrice-{{ section.id }}"
        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        {{ current_variant.price | money }}
      </span>
    </span>
  {% endif %}

{% else %}
  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
  <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
  <span class="product-price__price product-price__price-{{ section.id }}">
    <span id="ProductPrice-{{ section.id }}"
      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
      {{ current_variant.price | money }}
    </span>
  </span>
{% endif %}