<div id="sub-navigation-sale" class="sub-navigation-menu">
  {% if nav_list != blank %}
    <div id="sale-content" class="menu-content">
      <div class="menu-navigation-content">
        {% assign __link_counter = 0 %}
        {% for link in nav_list.links %}
        {%- assign count_mod = __link_counter | modulo: 4 %}
        {% if count_mod == 0 %}
        <div class="menu-navigation-content-container">
        {% endif %}
          <div id="sale-{{link.handle}}" class="menu-navigation-section">
            <div class="menu-navigation-section-level-0">
              <ul class="menu-navigation-section-level-1">
              {% if link.links != blank %}
                <li class="list-title"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% for llink in link.links %}
                <li><a href="{{ llink.url }}">{{ llink.title }}</a></li>
                {% endfor%}
              {% else %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
              </ul>
            </div>
          </div>
        {% if count_mod == 3 or forloop.index == nav_list.links.size %}
        </div>
        {% endif %}
        {% assign __link_counter = __link_counter | plus: '1' %}
        {% endfor %}
      </div>
    </div>

    <div id="sale-featured-item-section" class="menu-navigation-promo-section">
      {% for block in section.blocks %}
        {% if block.type == 'sale_image_tout' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
          {% assign menu_image = block.settings.menu_image | img_url: '512x512' %}
          {% assign menu_image_link = block.settings.menu_image_link %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if menu_image != blank %}
      <div class="featured-products">
        <div class="featured-product-items grid">
          {% if menu_image_link != blank %}
          <a href="{{ menu_image_link }}">
          {% endif %}
          <img class="lazyload js"
               data-src="{{menu_image}}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-sizes="auto"
               alt="Shop Sale"
               id="sale_menu_image_tout" >
          {% if menu_image_link != blank %}
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>
