<div class="header--popup" data-popup-type="search-menu">
	<div class="popup--close-btn"></div>
	<div>
		<div class="search--wrapper">
			<div class="search--wrapper-title medium-up--hide">Search</div>
			<div class="search--form-container text-left">
				<form action="/search" method="get" class="search-header search" role="search">
				  <input class="search--input search__input"
				    type="search"
				    name="q"
				    placeholder="{{ 'general.search.placeholder' | t }}"
				    aria-label="{{ 'general.search.placeholder' | t }}">
				  <button class="search-header__submit search__submit btn--link medium-up--hide" type="submit">
				    {% include 'icon-search' %}
				    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
				  </button>
				</form>
				{% comment %}<input type="text" name="q search--term" class="search--input search-header__input search__input" placeholder="Search for products..." />{% endcomment %}
			</div>
			<div class="search--terms-container"></div>
		</div>
		<div class="search-menu--touts">
			<div class="grid">
			{% for _block in section.blocks %}
				<div class="grid__item">
				{% if _block.type == 'search-menu-image-block' %}
				{% if _block.settings.url != blank %}<a href="{{ _block.settings.url }}" class="collection-grid-item__link">{% endif %}
					{% if _block.settings.image != blank %}
					<div class="collection-grid-item__overlay-wrapper">
						<div class="collection-grid-item__overlay box ratio-container js lazyloaded small--hide">
							<div class="collection-image hero__overlay box ratio-container js lazyloaded" 
								data-bgset="{% include 'bgset', image: _block.settings.image %}"
								data-sizes="auto"
								data-parent-fit="cover"
								style="background-image: url('{{ _block.settings.image | img_url: 'master' }});">
								{% if _block.settings.text != blank %}<div class="collection-grid-item__title-wrapper"><h3 class="collection-grid-item__title">{{ _block.settings.text }}</h3></div>{% endif %}
							</div> 
							<noscript>
							<div class="collection-hero__image" style="background-image: url({{ _block.settings.image | img_url: '2048x600', crop: 'top' }});"></div>
							</noscript>
						</div> 
						<div class="collection-grid-item__overlay box ratio-container js lazyloaded medium-up--hide">
							<div class="collection-image hero__overlay box ratio-container js lazyloaded" 
								data-bgset="{% include 'bgset', image: _block.settings.image_mobile %}"
								data-sizes="auto"
								data-parent-fit="cover"
								style="background-image: url('{{ _block.settings.image_mobile | img_url: '300x300' }});">
								{% if _block.settings.text != blank %}<div class="collection-grid-item__title-wrapper"><h3 class="collection-grid-item__title">{{ _block.settings.text }}</h3></div>{% endif %}
							</div> 
							<noscript>
							<div class="collection-hero__image" style="background-image: url({{ _block.settings.image_mobile | img_url: '2048x600', crop: 'top' }});"></div>
							</noscript>
						</div>
					</div>
					{% endif %} 
				{% if _block.settings.url != blank %}</a>{% endif %}					
				{% endif %}
				</div>
			{% endfor %} 
			</div>
		</div>
	</div>
</div>