{% if settings.segment_analytics_enabled %}
<script type="text/javascript">
	$(window).on('load', function() { 
		if(Cookies.get('cart') != undefined ){
			var cart_id = Cookies.get('cart');

			analytics.track('Cart Viewed', {
				cart_id: cart_id,
				products: [
					{% for _item in cart.items %}
					{
						product_id: "{{ _item.product.metafields.sku.parent }}", 
						tags: "{{ _item.product.tags | join: ', ' }}", 
						sku: "{{ _item.product.metafields.sku.parent }}",
						category: "{{ _item.product.type }}",
						name: "{{ _item.product.title | escape }}",
						brand: "{{ product.metafields.brand }}", 
						character: "{{ product.metafields.character }}", 
						house: "{{ product.metafields.house }}",
						variant: "{{ _item.variant.title | escape }}",
						price: parseFloat({{ _item.price | divided_by: 100.00 }}),
						quantity: parseInt({{ _item.quantity }}),
						coupon: undefined,
						position: undefined,
						url: "{{ _item.url }}",
						image_url: "{{ _item.product.featured_image.src | img_url: '800x' }}"
					}{% unless forloop.last %},{% endunless %}
					{% endfor %}
				]
			}, { context: {traits: analytics.user().traits()}});
		} 
	});
</script>
{% endif %}