{% if settings.segment_analytics_enabled %} 
{%- assign _product_tags = product.tags | join: ', ' | replace: 'gold_exclusive', 'GOLD EXCLUSIVE' | replace: '1EXCLUSIVE', 'EXCLUSIVE' | replace: '1LIMITED', 'LIMITED' | replace: '1EARLYACCESS', 'EARLY ACCESS' | replace: '2PREORDER', 'PRE ORDER' | replace: '3NEW', 'NEW' | replace: 'ONSALE', 'OFFER' %} 


<!-- Segment Product Snippet -->
<script type="text/javascript">
	var product = {
		product_id: "{{ product.metafields.sku.parent }}",
		tags:"{{ _product_tags }}",
		sku: "{{ product.metafields.sku.parent }}",
		category: "{{ product.type }}",
		name: "{{ product.title | escape }}",
		brand: "{{ product.metafields.brand }}", 
		character: "{{ product.metafields.character }}", 
		house: "{{ product.metafields.house }}"  
	}; 
	var product_details = {
		product_id: "{{ product.metafields.sku.parent }}",
		tags: "{{ _product_tags }}",
		sku: "{{ product.metafields.sku.parent }}",
		category: "{{ product.type }}",
		name: "{{ product.title | escape }}",
		brand: "{{ product.metafields.brand }}", 
		character: "{{ product.metafields.character }}", 
		house: "{{ product.metafields.house }}", 
		variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title | escape }}"{% else %}"{{ product.title | escape }}"{% endif %},
		price: parseFloat({{ product.price | divided_by: 100.00 }}),
		quantity: undefined,
		coupon: undefined,
		currency: "{{ shop.currency }}",
		position: undefined,
		value: undefined,
		url: "{{ product.url }}",  
		image_url: "{{ product.featured_image.src | img_url: '800x' }}", 
	}; 
	$(window).on('load', function(){ 
		analytics.page('Product Detail', product, { context: {traits: analytics.user().traits()}}); 
		analytics.track('Product Viewed', product_details, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.btn--share').on('click', function(event) { 
		var __link_title = $(event.target).closest('.btn--share').attr('title').split(' '); 
		var share_platform = __link_title[__link_title.length - 1]; 

		analytics.track('Product Shared', {
			share_platform: share_platform,  
			product_id: "{{ product.metafields.sku.parent }}", 
			tags: "{{ _product_tags }}", 
			sku: "{{ product.metafields.sku.parent }}", 
			category: "{{ product.type }}", 
			name: "{{ product.title | escape }}", 
			brand: "{{ product.metafields.brand }}", 
			character: "{{ product.metafields.character }}", 
			house: "{{ product.metafields.house }}", 
			variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title | escape }}"{% else %}"{{ product.title | escape}}"{% endif %}, 
			price: parseFloat({{ product.price | divided_by: 100.00 }}), 
			url: "{{ product.url }}", 
			image_url: "{{ product.featured_image.src | img_url: '800x' }}"
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	function trackProductAdd() { 
		analytics.track('Product Added', {
			cart_id: undefined,
			product_id: "{{ product.metafields.sku.parent }}",
			sku: "{{ product.metafields.sku.parent }}",
			category: "{{ product.type }}",
			name: "{{ product.title | escape }}", 
			brand: "{{ product.metafields.brand }}", 
			character: "{{ product.metafields.character }}", 
			house: "{{ product.metafields.house }}", 
			variant: $('select.single-option-selector').val(),
			price: parseFloat({{ product.first_available_variant.price | divided_by: 100.00 }}),
			quantity: parseInt($('.product-form-product-template #Quantity').val()),
			coupon: undefined,
			currency: '{{ shop.currency }}',
			position: undefined, 
			tags: "{{ _product_tags }}", 
			value: parseFloat('{{ product.first_available_variant.price | divided_by: 100.00 }}' * $('.product-form-product-template #Quantity').val()),
			url: '{{ product.url }}',
			image_url: '{{ product.featured_image | img_url }}'
		}, { context: {traits: analytics.user().traits()}});
	}

	var checkPowerreviewsInitialized = setInterval( function() {
		if($('.spr-form-actions input[type="submit"]').length < 1) {
			return;
		}
		clearInterval(checkPowerreviewsInitialized);
		$('.spr-form-actions input[type="submit"]').closest('form').on('submit', function(event) {
			var product_id = "{{ product.metafields.sku.parent }}";
			var review_body = $(this).find('.spr-form-review-body > .spr-form-input textarea').val();
			var rating = $(this).find('.spr-form-review-rating > .spr-starrating > .spr-icon.spr-icon-star:not(.spr-icon-star-empty)').length;
			var waitForReviewSubmitResponse = setInterval(function() {
				
				if($('.spr-form-message').length < 1) {
					return;
				}

				clearInterval(waitForReviewSubmitResponse);

				if($('.spr-form-message').hasClass('spr-form-message-success')) {
					analytics.track('Product Reviewed', {
						product_id: product_id,
						review_body: review_body,
						rating: rating.toString()
					}, { context: {traits: analytics.user().traits()}});
				}

			}, 1000);

		});

	}, 500);

	var checkSwymWishlistButtonInitialized = setInterval(function() {
		if($('.quantity-addtocart .swym-btn-container .swym-add-to-wishlist').length < 1) {
			return;
		}
		clearInterval(checkSwymWishlistButtonInitialized);
		$('.swym-add-to-wishlist:not(.disabled)').click(function(event) {
			if($('.swym-add-to-wishlist').hasClass('swym-segment-reported')) {
			} else {
				var wishlist_id = Cookies.get('swym-email');
				var wishlist_name = Cookies.get('swym-currentFilter');
				analytics.track('Product Added to Wishlist', {
					wishlist_id: wishlist_id,
					wishlist_name: wishlist_name,
					product_id: "{{ product.metafields.sku.parent }}",
					sku: "{{ product.metafields.sku.parent }}",
					category: "{{ product.type }}",
					name: "{{ product.title | escape }}",
					variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title | escape }}"{% else %}"{{ product.first_available_variant.title | escape }}"{% endif %},
					price: parseFloat({{ product.first_available_variant.price | divided_by: 100.00 }}),
					url: "{{ product.url }}",
					image_url: "{{ product.featured_image.src | img_url: '800x' }}"
				}, { context: {traits: analytics.user().traits()}});
				$('.swym-add-to-wishlist').addClass('swym-segment-reported');
			}
		});

	}, 500);
</script>
{% endif %}