{% if settings.segment_analytics_enabled %}
<script type="text/javascript">
	$('#customer_login').on('submit', function(event) {
		analytics.track('Login Submitted');
		console.log('Login Submit Tracked');
	});

	if($('#customer_login > .errors').length > 0 ) {
		analytics.track('Login Failed', {
			error: undefined
		});
		console.log('Login Fail tracked');
	}

	{% if customer %}
		console.log('customer logged in');
		console.log(window.sessionStorage.getItem('user_login_reported') );
		if(window.sessionStorage.getItem('user_login_reported') == null) {
			window.sessionStorage.setItem('user_login_reported', true);
			 /*analytics.identify('{{ customer.id }}');*/ 
			console.log('login Reported');
			console.log(window.sessionStorage.getItem('user_login_reported'));
		}
	{% else %}
		console.log('customer not logged in');
		if( window.sessionStorage.getItem('user_login_reported') == true) {
			window.sessionStorage.removeItem('user_login_reported');
			console.log("User Login Unreported");
			console.log(window.sessionStorage.getItem('user_login_reported'));
		}
	{% endif %}
</script>
{% endif %}