{% comment %}
	Initialize Variables 
{% endcomment%}
<script type="text/javascript">

	{% if customer %}
		if(window.sessionStorage.getItem('user_logged_in') != 'true' ){
			var url_params = window.location.search.substr(1).split('&');
			var user_id_param = 'uuid';
			var user_id = undefined;
			url_params.forEach(function(_i){
				if(_i.indexOf(user_id_param) === 0) {
					user_id = _i.split('=')[1];
				}
			});

			if(user_id != undefined){
				var _customer_type = {% if customer.tags contains 'premium' %}"gold"{% else %}"free"{% endif %};
				analytics.identify(user_id, {
					subscription_type: _customer_type
				}); 
				window.sessionStorage.setItem('user_logged_in', 'true');
			} 

			var param_rewrite = [];
			url_params.forEach(function(_i,_index){
				if(_i.indexOf(user_id_param) !== 0) {
					param_rewrite[param_rewrite.length] = _i;
				}
			});
			if( window.location.search.substr(1).split('&').length > 1 ){
				window.history.replaceState(null, null, window.location.pathname+'?'+param_rewrite.join('&'));
			} else {
				window.history.replaceState(null, null, window.location.pathname);
			}
		}
	{% endif %}


	var waitForJQueryLoad = setInterval(function(){
		if( jQuery == undefined && window.sessionStorage.getItem('user_logged_in') == 'true' ){
		  return;
		} 
		clearInterval(waitForJQueryLoad);
		var _pagetype = detectPage();

		switch(_pagetype) {
			case 'search-results-page': 
				var search_term = window.location.search.split('=')[1]; 
				analytics.page('Search results', {
					"search_text": search_term 
				}, { context: {traits: analytics.user().traits()}}); 
				//trackItemSearched(search_term);
				break;
			case 'homepage': 
				analytics.page('Shop Home',{}, { context: {traits: analytics.user().traits()}});
				break;
			case 'non-collection-page': 
				var page_title = '';  
				var _url_pathname = window.location.pathname; 
				if(_url_pathname.indexOf('wishlist') != -1) { 
					page_title = 'Account Wishlist'; 
				} else if(_url_pathname == '/account') {
					page_title = 'Account'; 
				} else if(_url_pathname == '/account/addresses') {
					page_title = 'Addresses'; 
				} else if(_url_pathname.indexOf('/account/orders') != -1) {
					page_title = "Order";
				} else {
					page_title = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1).toUpperCase().replace('-',' ');  
				}
				if(page_title == "Order") {
					analytics.page(page_title, { order_id: $('.order-page > .grid__item.medium-up--three-quarters > h2').html().replace('Order ','') }, { context: {traits: analytics.user().traits()}}); 
				} else {
					analytics.page(page_title,{}, { context: {traits: analytics.user().traits()}}); 
				}
				break;
			default:
		}

		$('a.minicart-remove-link').on('click', function(event) { 
			trackProductRemoveFromMinicart($(event.target));
		});

		$('.cart__actions a.cart__remove:not([name="update"])').on('click', function(event) { 
			event.preventDefault();
			trackProductRemoveFromCartPage($(event.target)); 
			window.location.href = window.location.origin + $('.cart__actions a.cart__remove:not([name="update"])').attr("href");
		});

		$('#shopify-section-footer').on('click', function(event) {
			if($(event.target).is('a')) {
				var link_text = $(event.target).html().trim();
				var link_url = $(event.target).attr('href');

				analytics.track('Link Clicked', {
					link_text: link_text,
					link_url: link_url
				}, { context: {traits: analytics.user().traits()}});
			}
		});

		$('a[href="/account/login"]').on('click', function(event){
			analytics.track('Login Clicked',{}, { context: {traits: analytics.user().traits()}});
		});

		$('.featured-collection-viewall-link > a').on('click', function(event) {
			var collection_url = $(this).attr('href') + '.json';
			$.get({
				url: collection_url,
				success: function(data) {
					analytics.track('See All CTA Clicked', {
						collection_id: data.collection.id,
						collection_title: data.collection.title
					}, { context: {traits: analytics.user().traits()}});
				},
				dataType: 'json'
			});
		});

		$('.collection-grid .grid__item > .collection-grid-item > a.collection-grid-item__link').on('click', function(event) {
			var collection_url = $(this).attr('href') + '.json';
			$.get({
				url: collection_url,
				success: function(data) {
					analytics.track('Collection Tile Clicked', {
						collection_id: data.collection.id,
						collection_title: data.collection.title
					}, { context: {traits: analytics.user().traits()}});
				}
			});
		});

		$('a[href="/checkout"]').on('click', function(event) {
			localStorage.setItem('cart_id', Cookies.get('cart'));
		});

		$(document).on('click', '.grid-view-item[data-segment-tracking-data="true"] > a', function(event) { 
			var url = $(this).attr('href'); 
			var item = $(this).closest('.grid-view-item'); 
			var __tile_product = {
				id: $(item).attr('data-segment-product-sku'), 
				sku: $(item).attr('data-segment-product-sku'), 
				category: $(item).attr('data-segment-product-category'), 
				name: $(item).find('.h4.grid-view-item__title').text().split('\n')[0], 
				price: $(item).find('.product-price__price').text().replace('$',''), 
				variant: $(item).find('.h4.grid-view-item__title').text().split('\n')[0], 
				url: url, 
				image_url: $(item).find('.grid-view-item__image').attr('src'),
				tags: $(item).attr('data-segment-product-tags'), 
				brand: $(item).attr('data-segment-product-brand') 
			};  
			analytics.track('Product Clicked', {
				product_id: __tile_product.id,
				tags: __tile_product.tags, 
				sku: __tile_product.id,
				category: __tile_product.category,
				name: __tile_product.name,
				brand: __tile_product.brand, 
				variant: __tile_product.variant,
				price: parseFloat(__tile_product.price),
				url: __tile_product.url,
				image_url: __tile_product.image_url 
			}, { context: {traits: analytics.user().traits()}}); 
		}); 

		if($('.shopify-section.index-section .grid').length > 0) { 
			$(document).on('click', '.shopify-section.index-section .grid .slick-track .grid__item a', function(event) {
				var url = $(this).attr('href');
				var carousel_index = $(this).closest('.grid__item').attr('data-slick-index') - $(this).closest('.slick-track').find('.grid__item.slick-active.slick-current').attr('data-slick-index') + 1;
				var carousel_item_type = '';
				if(url.indexOf('collections') != -1) {
					if(url.indexOf('products') != -1) {
						carousel_item_type = 'product';
					} else {
						carousel_item_type = 'collection';
					}
				}
				var item = $(this).closest('.grid-view-item'); 
				analytics.track('Carousel Item Clicked', {
					carousel_index: carousel_index,
					carouse_item_id: $(item).attr('data-segment-product-sku'),
					carousel_item_name: $(item).find('.h4.grid-view-item__title').text().split('\n')[0],
					carousel_item_type: carousel_item_type
				}, { context: {traits: analytics.user().traits()}}); 
			}); 
		}

	$(document).on('click', '.swym-add-to-cart > a', function(event) {
		var product_uri = $(this).closest('li.swym-item').attr('data-uri') + '.js';
		var product_data_epi = $(this).closest('li.swym-item').attr('data-epi');
		$.get({
			url: product_uri,
			success: function(data) {
				var product_variant = data.variants[0];

				if(data.variants.length > 1) {
					for( var __i = 0; __i < data.variants.length; __i++ ) {
						if( data.variants[__i].id == product_data_epi) {
							product_variant = data.variants[__i];
							break;
						}
					}
				}

				analytics.track('Wishlist Product Added to Cart', {
					wishlist_id: Cookies.get('swym-email'),
					wishlist_name: Cookies.get('swym-currentFilter'),
					cart_id: Cookies.get('cart'),
					product_id: product_variant.sku,
					sku: product_variant.sku,
					category: product_variant.type,
					name: data.title,
					price: parseFloat(product_variant.price/100),
					quantity: 1,
					currency: '{{ shop.currency }}',
					value: parseFloat(product_variant.price/100),
					url: data.url,
					image_url: data.featured_image
				}, { context: {traits: analytics.user().traits()}});
			},
			dataType: 'json'
		});
	}); 

	$(document).on('click', '.swym-remove > a', function(event) { 
		var product_uri = $(this).closest('li.swym-item').attr('data-uri')+'.js';
		var product_data_epi = $(this).closest('li.swym-item').attr('data-epi');
		$.get({
			url: product_uri,
			success: function(data) {
				var product_variant = data.variants[0];

				if(data.variants.length > 1) {
					for( var __i = 0; __i < data.variants.length; __i++ ) {
						if( data.variants[__i].id == product_data_epi) {
							product_variant = data.variants[__i];
							break;
						}
					}
				}

				analytics.track('Product Removed From Wishlist', {
					wishlist_id: Cookies.get('swym-email'),
					wishlist_name: Cookies.get('swym-currentFilter'),
					product_id: product_variant.sku,
					sku: product_variant.sku,
					category: product_variant.type,
					name: data.title,
					price: parseFloat(product_variant.price/100),
					currency: '{{ shop.currency }}',
					url: data.url,
					image_url: data.featured_image
				}, { context: {traits: analytics.user().traits()}});

			},
			dataType: 'json'
		});

	}); 

	$('.site-header__logo-image').on('click', function(event) {
		analytics.track('Wizarding World Clicked',{}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.site-header__search-button').on('click', function(event) {
		analytics.track('Search Icon Clicked',{}, { context: {traits: analytics.user().traits()}});  
	}); 

	$('.search-menu--touts .collection-grid-item__link').on('click', function(event) { 
		analytics.track('Explore Category', {
			category: $(event.target).find('.collection-grid-item__title').html()
		}, { context: {traits: analytics.user().traits()}}); 
	});	 

	$('a.btn.btn--secondary.btn--small.order-links').on('click', function(event) { 
		var page_title = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1).toUpperCase().replace('-',' '); 
		if(window.location.pathname == '/account' || window.location.pathname == '/account/') {
			page_title = 'Account'; 
		} 

		analytics.track('Order Clicked', {
			order_id: $('a.btn.btn--secondary.btn--small.order-links').html(),    
			location: page_title
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('a[href="/account/addresses"]').on('click', function(event) {	
		analytics.track('CTA Clicked', {
			cta_text: "Manage Addresses", 
			location: 'Account'  
		}, { context: {traits: analytics.user().traits()}}); 
	});  

	$('#address_form_new').on('submit', function(event) {
		analytics.track('Address Added', {}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('div[id^="EditAddress_"] > form').on('submit', function(event) { 
		analytics.track('Address Updated', {}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('#shopify-section-footer > .site-footer a').on('click', function(event) {
		analytics.track('CTA Clicked', {
			cta_text: $(event.target).html(), 
			location: "footer"
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	// Tile click tracking 
	$('.hero--collection-carousel .grid__item > .grid-view-item a').on('click', function(event) { 
		analytics.track('Tile Clicked', {
			title: $(event.target).closest('.grid-view-item').find('.grid-view-item__title').text().split('\n')[0], 
			type: 'product', 
			section: 'hero collection', 
			section_title: $(event.target).closest('.hero--collection-section').find('.hero--collection-side-label > .side-label').html() 
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.featured-collection .grid__item > .grid-view-item a').on('click', function(event) {  
		analytics.track('Tile Clicked', {
			title: $(event.target).closest('.grid-view-item').find('.grid-view-item__title').text().split('\n')[0], 
			type: 'product', 
			section: 'featured collection', 
			section_title: $(event.target).closest('.featured-collection').find('.section-header > .hero--title').html() 
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.product-template__recommendations .grid__item > .grid-view-item a').on('click', function(event) {  
		analytics.track('Tile Clicked', {
			title: $(event.target).closest('.grid-view-item').find('.grid-view-item__title').text().split('\n')[0], 
			type: 'product', 
			section: 'product recommendations', 
			section_title: $(event.target).closest('.product-template__recommendations').find('.section--title').html() 
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.featured-collection-list .grid__item .collection-grid-item a').on('click', function(event) {  
		analytics.track('Tile Clicked', {
			title: $(event.target).closest('.grid__item').find('.collection-grid-item__title').text(), 
			type: 'collection', 
			section: 'featured collection list', 
			section_title: $(event.target).closest('.featured-collection-list').find('.section-header > h2').html() 
		}, { context: {traits: analytics.user().traits()}}); 
	}); 

	$('.search-menu--popup .search-menu--touts .grid__item a').on('click', function(event) {  
		analytics.track('Tile Clicked', {
			title: $(event.target).closest('.grid__item').find('.collection-grid-item__title').first().text(), 
			type: 'collection', 
			section: 'search menu' 
		}, { context: {traits: analytics.user().traits()}}); 
	}); 
	// End Tile click tracking 


	$('#more-info-link > a').on('click', function(event) { 
		analytics.track($('#more-info-link > a').text() + ' Clicked', {
			product_id: $(event.target).closest('.product-single__meta').find('.sku').text().replace('SKU: ',''), 
			name: $(event.target).closest('.product-single__meta').find('.product-single__title').text(), 
			product_type: JSON.parse($('#ProductJson-product-template').html()).type 
		}, { context: {traits: analytics.user().traits()}}); 
	});  


	$("form[action='/search'] > input[type='search']").on('keydown', function(event) {
		
		if(event.keyCode == 13 ) {
			var search_query = searchevent.target.value;  

		}
	});  

	$(document).on('click', '.snize-ac-results > ul > li.snize-suggestion', function(event) {
		event.preventDefault(); 
		var search_query = ""; 
		$("form[action='/search'] > input[type='search']").each(function(i,j) {
			if(j.value != search_query) {
				search_query = j.value; 
				break; 
			}
		}); 
		var object = {
			query: search_query, 
			search_suggestions_used: true, 
			search_suggestions_index: $(event.target).index(), 
			search_suggestion_item: $(event.target).text(), 
			search_suggestion_type: $(event.target).prev('.snize-label').text()
		};
		analytics.track('Products Searched', object, { context: {traits: analytics.user().traits()}}); 

	}); 

	$(document).on('click', '.snize-ac-results > ul > li.snize-product', function(event) {
		event.preventDefault(); 

	});

    }, 500);			

	function detectPage() {
		var path = window.location.pathname;
		
		if(path.indexOf('search-results-page') != -1 || path == '/search') {
			return 'search-results-page';
		}
		
		if(path == "/") {
			return 'homepage';
		}

		if(path.indexOf('collections') == -1) {
			return 'non-collection-page';
		} 
	}

	function trackItemSearched(search_term) {
		analytics.track('Products Searched', {
			query: search_term
		}, { context: {traits: analytics.user().traits()}});
	}

	function trackCollection(collection_id, collection_name, collection_products ) {
		//analytics.page(collection_name);
		analytics.track('Product List Viewed', {
			list_id: collection_id,
			list_name: collection_name,
			products: collection_products
		}, { context: {traits: analytics.user().traits()}});
	}



	function trackCollectionFilters(collection_id, collection_name, filters, sorts, collection_products ) {
		analytics.track('Product List Filtered', {
			list_id: collection_id,
			list_name: collection_name,
			filters: filters,
			sorts: sorts,
			products: collection_products
		}, { context: {traits: analytics.user().traits()}});
	}

	function trackProductRemove(product) { 
		analytics.track('Product Removed', {
			product_id: product.sku,
			sku: product.sku,
			category: product.type,
			name: product.title,
			price: parseFloat((product.price / 100).toFixed(2)),
			quantity: parseInt(product.quantity),
			url: window.location.href,
			image_url: product.featured_image
		}, { context: {traits: analytics.user().traits()}});
	}

	function trackProductRemoveFromMinicart(link) {
		var minicart_item = $(link).closest('li.minicart-item');
		var sku = $(minicart_item).find('.minicart-item-info > .minicart-item-sku').html().replace('SKU:','').trim();  
		var product_title = $(minicart_item).find('.minicart-item-info > .minicart-item-title > a > h4').html().trim();
		var product_price = $(minicart_item).find('.minicart-item-info > .minicart-item-quantity > .minicart-item-price').html().trim().replace('$','');
		var product_quantity = $(minicart_item).find('.minicart-item-info > .minicart-item-quantity > .input-group > input').val();
		var product_url = $(minicart_item).find('.minicart-item-image > a').attr('href');
		var product_image = $(minicart_item).find('.minicart-item-image > a > img').attr('src'); 
		var product_variant = product_title; 

		if(product_variant.indexOf(' - ') != -1) {
			product_variant = product_variant.split('- ')[1]; 
		} 

		var __product_url = $(minicart_item).find('.minicart-item-info > .minicart-item-title > a').attr('href').split('?')[0]+'?view=segmentjson'; 
		var _product_object = {
			cart_id: Cookies.get('cart'),
			product_id: sku, 
			tags: 'data.tags', 
			sku: sku,
			category: 'data.product_type',
			name: product_title, 
			brand: '', 
			variant: product_variant, 
			price: parseFloat(product_price),
			quantity: parseInt(product_quantity),
			url: product_url,
			image_url: product_image 
		};   

		$.get({
			url: __product_url,
			success: function(data) {
				var _return_data = data["product"]; 
				_product_object["tags"] = _return_data["tags"]; 
				_product_object["category"] = _return_data["category"]; 
				_product_object["brand"] = _return_data["brand"];  
				_product_object["character"] = _return_data["character"];
				_product_object["house"] = _return_data["house"]; 
				analytics.track('Product Removed', _product_object, { context: {traits: analytics.user().traits()}}); 
			},
			dataType: 'json'
		}); 
	}

	function trackProductRemoveFromCartPage(link) {
		var product_sku = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > #cart-template-sku').html().replace('SKU:','').trim();
		var product_tags = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > .product-tags').html(); 
		var product_brand = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > .product-brand').html(); 
		var product_character = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > .product-character').html(); 
		var product_house = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > .product-house').html(); 
		var minicart_link = undefined;
		var product_type = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > #cart-template-product-type').html().trim();
		var product_title = $(link).closest('tr.cart__row').find('.cart__meta > .list-view-item__title >  a').html().trim();
		if(product_title.indexOf('<') != -1) {
			product_title = product_title.substr(0, product_title.indexOf('<')).trim();
		}
		var product_price = $(link).closest('tr.cart__row').find('.cart__price-wrapper > .product-price__price > #ProductPrice-cart-template').attr('content');
		var product_quantity = $(link).closest('tr.cart__row').find('.cart__update-wrapper > .cart__qty > .product-form__item--quantity > .input-group > #Quantity').val();
		var product_url = $(link).closest('tr.cart__row').find('.cart__meta > .list-view-item__title > a').attr('href');
		var product_image = $(link).closest('tr.cart__row').find('.cart__image-wrapper > a > img').attr('src');
		var cart_id = Cookies.get('cart'); 
		var product_variant = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > #product-variant').html(); 

		analytics.track('Product Removed', {
			cart_id: Cookies.get('cart'),
			product_id: product_sku, 
			sku: product_sku,
			tags: product_tags, 
			category: product_type,
			name: product_title, 
			brand: product_brand, 
			character: product_character, 
			house: product_house, 
			variant: product_variant, 
			price: parseFloat(product_price),
			quantity: parseInt(product_quantity),
			url: product_url,
			image_url: product_image
		}, { context: {traits: analytics.user().traits()}});
	} 

	function trackProductAddFromMinicart(object, result_data) {  
		var cart_id = Cookies.get('cart'); 
		var _product_variant_id = $(object).attr('data-variant-id'); 
		var __cart_items_list = result_data["items"]; 
		var _item_ = __cart_items_list.find(x=> x.id == _product_variant_id); 
		var _item_variant = _item_.variant_title; 
		var _item_quantity = parseInt(_item_.quantity); 
		var _item_value = parseFloat(_item_.line_price / 100); 
		var __product_url = _item_.url.split('?')[0]+'?view=segmentjson'; 
		var track_event = ''; 
		if($(object).attr('class') == "input-number-increment" || $(object).attr('class') == "qty-plus-white") {
			track_event = 'Product Added'; 
		} else if($(object).attr('class') == "input-number-decrement" || $(object).attr('class') == "qty-minus-white") {
			track_event = 'Product Removed'; 
		}

		$.get({
			url: __product_url,
			success: function(data) {
				var _product_object = JSON.parse(data.toString().trim()); 
				_product_object["variant"] = _item_variant; 
				_product_object["cart_id"] = cart_id; 
				_product_object["quantity"] = _item_quantity; 
				_product_object["value"] = _item_value; 
				analytics.track(track_event, _product_object, { context: {traits: analytics.user().traits()}}); 
			} 			
		}); 
	}

</script>