<script type="text/javascript">
	$(window).on('load', function() {
			
		if(localStorage.getItem('checkout_started') == undefined) {
			localStorage.setItem('checkout_started', 'started');
			analytics.track('Checkout Started', {
				value: {{ checkout.subtotal_price | divided_by: 100.00 }},
				revenue: {{ checkout.total_price | divided_by: 100.00 }},
				shipping: {{ checkout.shipping_price | divided_by: 100.00 }},
				tax: {{ checkout.tax_price | divided_by: 100.00 }},
				discount: {{ checkout.discounts_amount | divided_by: 100.00 }},
				coupon: {{ checkout.discounts | json }},
				currency: '{{ shop.currency }}',
				products: [
				{% for _item in checkout.line_items %}
					{	
						product_id: "{{ _item.sku }}",
						sku: "{{ _item.sku }}",
						category: "{{ _item.product.type }}",
						name: "{{ _item.title | escape }}",
						variant: "{{ _item.variant.title | escape }}",
						price: parseFloat({{ _item.price | divided_by: 100.00 }}),
						quantity: parseInt({{ _item.quantity }}),
						coupon: "{{ _item.discount_allications.discount_application.title }}",
						url: "{{ _item.url }}",
						image_url: "{{ _item.product.featured_image.src | img_src: '800x' }}"
					}{% unless _item == checkout.line_items.last %},{% endunless%}		
				{% endfor %}
				]
			}, { context: {traits: analytics.user().traits()}}); 
		}
		
		var _checkout_step = parseInt($('.breadcrumb > .breadcrumb__item--current').index()); 
		if(_checkout_step < 0) {
			_checkout_step = undefined; 
		} 

		analytics.track('Checkout Step Viewed', {
			checkout_id: "{{ checkout.id }}",
			step: _checkout_step,
			shipping_method: "{{ checkout.shipping_method.title }}",
			payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
		}, { context: {traits: analytics.user().traits()}});

		if(window.location.search.indexOf('previous_step') != -1) {
			var previous_step = window.location.search.substring('?previous_step='.length, window.location.search.indexOf('&'));
			if(localStorage.getItem('checkout_step_tracked') == undefined || localStorage.getItem('checkout_step_tracked').indexOf(previous_step) == -1 ) {
				localStorage.setItem('checkout_step_tracked', localStorage.getItem('checkout_step_tracked') + ',' + previous_step);
				analytics.track('Checkout Step Completed', {
					checkout_id: "{{ checkout.id }}",
					step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1),
					shipping_method: "{{ checkout.shipping_method.title }}",
					payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
				}, { context: {traits: analytics.user().traits()}});
				
				if(previous_step == 'shipping_method') {
					analytics.track('Shipping Info Entered', {
						checkout_id: '{{ checkout.id }}',
						step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1)
					}, { context: {traits: analytics.user().traits()}});
				}

				if(previous_step == 'payment_method') {
					analytics.track('Payment Info Entered', {
						checkout_id: '{{ checkout.id }}',
						step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1),
						shipping_method: "{{ checkout.shipping_method.title }}",
						payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
					}, { context: {traits: analytics.user().traits()}});
				}
			}
		}

		$('.step__sections select[data-trekkie-id="shipping_address_field"]').on('change', function(event){
 			var stored_address = $(this).find(':selected').attr('data-properties');
 			if(stored_address != undefined) {
 				analytics.track('Shipping Info Selected', {
 					checkout_id: "{{ checkout.id }}", 
 					step: parseInt($('.breadcrumb > .breadcrumb__item--current').index())
 				}, { context: {traits: analytics.user().traits()}});
 			}
		});

		$('button[data-trekkie-id="apply_discount_button"]').on('click', applyDiscountBtnClicked);
		$('form[data-reduction-form="true"]').on('submit', function(event) {
			analytics.track('Coupon Removed', {
				cart_id: localStorage.getItem('cart_id'),
				coupon_id: $('.reduction-code__text').first().text(),
				discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
			}, { context: {traits: analytics.user().traits()}}); 
		});
	
	});

	function detectCheckoutStep() {

	}

	function applyDiscountBtnClicked() {
		var coupon_id = $('#checkout_reduction_code').val(); 
		$('input[id="checkout_reduction_code"]').each(function(i, ele){
			if($(ele).val() != '') {
				coupon_id = $(ele).val(); 
			}
		}); 

		analytics.track('Coupon Entered', {
			cart_id: localStorage.getItem('cart_id'),
			coupon_id: coupon_id
		});

		var waitForCouponResult = setInterval(function () {
			if($('#order-summary .order-summary__sections .order-summary__section--discount .edit_checkout .fieldset .field--error').length < 1 && $('.reduction-code__text').length < 1) { 
				return;
			}
			clearInterval(waitForCouponResult);

			$('button[data-trekkie-id="apply_discount_button"]').each(function(i, ele) { 
				$(ele).on('click', applyDiscountBtnClicked); 
			}); 

			if($('.reduction-code__text').length > 0) {
				analytics.track('Coupon Applied', {
					cart_id: localStorage.getItem('cart_id'),
					coupon_id: $('.reduction-code__text').first().text(),
					discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
				}, { context: {traits: analytics.user().traits()}});

				$('form[data-reduction-form="true"]').on('submit', function(event) {
					analytics.track('Coupon Removed', {
						cart_id: localStorage.getItem('cart_id'),
						coupon_id: $('.reduction-code__text').first().text(),
						discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
					}, { context: {traits: analytics.user().traits()}}); 
				}); 
			
			} else {
				analytics.track('Coupon Denied', {
					cart_id: localStorage.getItem('cart_id'),
					coupon_id: coupon_id,
					reason: $('#error-for-reduction_code').html().trim() 
				}, { context: {traits: analytics.user().traits()}});
			}

		}, 1000); 
	} 

</script>