{% unless template == 'index' or template == 'cart' or template == 'list-collections' %} 
{%- assign side_tag = '' %}
{%- assign side_tag_url = '' %}
{% if template contains 'product' %}
  {% if collection.url %}
    {%- assign side_tag = collection.title %} 
    {%- assign side_tag_url = collection.url %} 
  {% else %}
    {%- assign side_tag = product.collections.first.title %}
    {%- assign side_tag_url = product.collections.first.url %}
  {% endif %}
{% endif %}
{% if side_tag != '' %} 
<div class="navigation__sidetag">
  <span>
    <a href="{{ side_tag_url}}">{{ side_tag }}</a>
  </span>
</div>
{% endif %}
{% endunless %}
