<div class="header--popup" data-popup-type="sort-by">
	<h3 class="mobile-title medium-up--hide t-uppercase mobile--filter-tab visually-hidden"><span data-popup-for="filters--popup">Filter</span><span class="active">Sort</span></h3>
	<div class="sort-by--titles small--hide">Sort By</div>
	{%- assign sort_by = collection.sort_by | default: collection.default_sory_by -%} 
	<a data-sort-by-value="manual" href="?sort_by=manual"{% if sort_by == "manual" %} class="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</a> 
	<a data-sort-by-value="best-selling" href="?sort_by=best-selling"{% if sort_by == "best-selling" %} class="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</a> 
	<a data-sort-by-value="title-ascending" href="?sort_by=title-ascending"{% if sort_by == "title-ascending" %} class="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</a> 
	<a data-sort-by-value="title-descending" href="?sort_by=title-descending"{% if sort_by == "title-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</a> 
	<a data-sort-by-value="price-ascending" href="?sort_by=price-ascending"{% if sort_by == "price-ascending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</a> 
	<a data-sort-by-value="price-descending" href="?sort_by=price-descending"{% if sort_by == "price-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</a> 
	<a data-sort-by-value="created-descending" href="?sort_by=created-descending"{% if sort_by == "created-descending" %} class="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</a> 
</div> 
