{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign option_index = swatch_option.position %}

<style>
  label[for="product-select-option-{{ option_index }}"] { display: none; }
  #product-select-option-{{ option_index }} { display: none; }
  #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
</style>
{% assign downcased_option = swatch_option | downcase %}




<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="swatch--title">{{ swatch_option.name }}</div>
  {% assign values = '' %}
  {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
    {% assign _index = swatch_option.position | minus: 1 %}
    {% assign value = variant.options[_index] | remove: csp_flag_string %} 
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" {% unless variant.available %}disabled{% endunless %} />
        <label for="swatch-{{ option_index }}-{{ value | handle }}">{{ value }}</label>
      </div>
    {% endunless %}
  {% endfor %}
</div> 
