<div class="list-view-item__image-column">
  <div class="list-view-item__image-wrapper">
    <img class="list-view-item__image" src="{{ product.featured_image.src | img_url: '512x512', scale: 2 }}" alt="{{ product.featured_image.alt | escape }}">
  </div>
</div>

<div class="list-view-item__title-column">
  <div class="list-view-item__title">
    <a href="{{product.url}}" >{{ product.title }}</a>
  </div>
  <span class="sku">SKU: {{ product.metafields.sku.parent }}</span>
  <span class="product--price">Price: {% include 'product-price' %}</span>
  {% comment %}{% if product.compare_at_price > product.price %}
    <div class="list-view-item__on-sale">{{ 'products.product.on_sale' | t }}</div>
  {% endif %}{% endcomment %}
  {% if section.settings.show_vendor %}
    <div class="list-view-item__vendor medium-up--hide">{{ product.vendor }}</div>
  {% endif %}
  {% unless product.available %}
    <div class="list-view-item__sold-out">{{ 'products.product.sold_out' | t }}</div>
  {% else %}
    {% comment %}{% if product.metafields.preorder.date != blank %}
      <div class="list-view-item__sold-out">{{ 'products.product.preorder' | t }}</div>
    {% endif %}{% endcomment %}
  {% endunless %}

  <div class="list-view-item__description">
    {% assign product_description_size = product.description.size %}
    {% if product_description_size > 125 %}
    <p class="product-description-short">{{ product.description | slice: 0,125 }}...<span class="show-full-description">more</span></p>
    <p class="product-description-full visually-hidden">{{ product.description }}<span class="show-short-description">less</span></p>
    {% else %}
    <p class="product-description-full">{{ product.description }}</p>
    {% endif %}
  </div>

  <div class="quantity-addtocart">
    <div class="product-form__item product-form__item--submit">
        {% comment %}{% unless current_variant.available %}
        <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
          <span id="AddToCartText-{{ section.id }}">
              {{ 'products.product.sold_out' | t }}
          </span>
        </button>
        {% endunless %}{% endcomment %}
      <div class="meta-text">
        {% if product.metafields.preorder.date != blank %}
          <p>{{ product.metafields.preorder.date }}</p>
        {% endif %}

        {% if product.metafields.shipsto.country != blank %}
          <p>{{ product.metafields.shipsto.country }}</p>
        {% endif %}

        {% if product.metafields.shipping.days != blank %}
          <p>{{ product.metafields.shipping.days }}</p>
        {% endif %}

      </div>
    </div>
    {% if product.variants.size > 1 %}
    <p id="variants-label"></p>
    {% if product.variants.first.price != product.variants.last.price %}
      <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}</pre>
    {% else %}
      <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }}</pre>
    {% endif %}
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="selector-wrapper js product-form__item">
          <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}" data-product-variant-selector="{{product.id}}">
            {% for value in option.values %}
              <option value="{{ value | escape }}"{% if option.selected_value == value %} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    {% endunless %}
    {% endif %}

    <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js" data-product-variant-options="{{product.id}}">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-variant-price="{{variant.price}}" data-variant-title="{{variant.title}}">
            {{ variant.title }}
          </option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <div><p id="quantity-label">Quantity:</p></div>
    <div class="product-form__item product-form__item--quantity">
      <div class="input-group input-number-group">
        <div class="input-group-button">
          <span class="input-number-decrement"{% unless product.available %} data-display-disabled-popup="true"{% endunless%}>-</span>
        </div>
        <input type="number" id="Quantity" name="quantity" value="0" min="0" class="product-form__input" data-input-quantity-type="collection-list-multi-item_quantity" pattern="[0-9]*" data-product-id="{{product.id}}" {% unless product.available %}disabled data-display-disabled-popup="true"{% endunless %}>
        <div class="input-group-button">
          <span class="input-number-increment"{% unless product.available %} data-display-disabled-popup="true"{% endunless%}>+</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ajaxified-cart-feedback error" id="product-error-{{product.id}}"></div>
</div>

{% if section.settings.show_vendor %}
  <div class="list-view-item__vendor-column small--hide">
    <div class="list-view-item__vendor">{{ product.vendor }}</div>
  </div>
{% endif %}

{% comment %}<div class="list-view-item__price-column visually-hidden" data-product-id="{{product.id}}">
  {% include 'product-price' %}
</div>{% endcomment %}
