{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection.landing-ani.liquid
{% endcomment %}

<div class="collection-landing-template">
{% capture slideshow_ %}{% section 'slideshow-landing-ani' %}{% endcapture %}
{% assign slideshow_ = slideshow_ | replace: 'class="shopify-section', 'class="shopify-sub-section-landing' %}
{% assign slideshow_ = slideshow_ | replace: 'class="placeholder-noblocks', 'class="placeholder-noblocks visually-hidden'%}
{% assign slideshow_ = slideshow_ | replace: 'class="shopify-sub-section-landing index-section index-section--', 'class="shopify-sub-section-landing collection-section collection-section--' %}
{% capture banner_grid_ %}{% section 'banner-grid-landing-ani' %}{% endcapture %}
{% assign banner_grid_ = banner_grid_ | replace: 'class="shopify-section', 'class="shopify-sub-section-landing' %}
{% assign banner_grid_ = banner_grid_ | replace: 'class="banners-count-0', 'class="visually-hidden' %}
{% assign banner_grid_ = banner_grid_ | replace: 'class="shopify-sub-section-landing index-section index-section--', 'class="shopify-sub-section-landing collection-section collection-section--' %}
{% capture collection_landing_template %}{% section 'collection-landing-ani-template' %}{% endcapture %}
{% assign collection_landing_template = collection_landing_template | replace: "%%slideshow%%", slideshow_ %}
{% assign collection_landing_template = collection_landing_template | replace: "%%banner%%", banner_grid_ %}
{{ collection_landing_template }}
</div>