/* Typography ================================================================*/

// Base type variables
$headingTextTransform: none;
$headingLetterSpacing: 0px;

/**
 * @license
 * MyFonts Webfont Build ID 3514677, 2018-01-23T14:44:37-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: AvenirNextRoundedPro-Reg by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir-next-rounded/pro-regular/
 * Copyright: Copyright &#x00A9; 2012 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Avenir is a trademark of Linotype GmbH regist
 * Licensed pageviews: 250,000
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3514677
 *
 * © 2018 MyFonts Inc
*/

@font-face {font-family: 'AvenirNextRoundedPro-Reg';src: url('35A135_0_0.eot');src: url('35A135_0_0.eot?#iefix') format('embedded-opentype'),url('35A135_0_0.woff2') format('woff2'),url('35A135_0_0.woff') format('woff'),url('35A135_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirNextRoundedPro-Demi';src: url('35A1E6_0_0.eot');src: url('35A1E6_0_0.eot?#iefix') format('embedded-opentype'),url('35A1E6_0_0.woff2') format('woff2'),url('35A1E6_0_0.woff') format('woff'),url('35A1E6_0_0.ttf') format('truetype');}
@font-face {font-family: 'Lubalin';src: url('{{ 'lubalin-graph-bold-webfont.woff2' | asset_url }}') format('woff2'),url('lubalin-graph-bold-webfont.woff') format('woff');}

{% if settings.font_headings_capitalize %}$headingTextTransform: uppercase;{% endif %}
{% if settings.font_headings_spacing != blank %}$headingLetterSpacing: {{ settings.font_headings_spacing | append: 'px' }};{% endif %}

// Headings
{% if settings.font_headings_face contains 'Google' or settings.font_headings_custom_google != '' %}

  {% if settings.font_headings_custom_google != '' %}
    {% assign font_headings = settings.font_headings_custom_google %}
    {% if font_headings == '' %}
      {% assign headings_family = 'inherit' %}
      {% assign headings_weight = 'inherit' %}
    {% else %}
      {% if font_headings contains ":" %}
        {% assign font_headings = font_headings | split: ':' %}
        {% assign headings_weight = font_headings[1] | downcase | strip | replace: ' ', '-' | replace: 'thin', '100' | replace: 'extra-light', '200' | replace: 'light', '300' | replace: 'regular', '400' | replace: 'medium', '500' | replace: 'semi-bold', '600' | replace: 'bold', '700' | replace: 'extra-bold', '800' | replace: 'black', '900' %}
        {% capture headings_family %}"{{ font_headings[0] | strip }}"{% endcapture %}
      {% else %}
        {% capture headings_family %}"{{ font_headings | strip }}"{% endcapture %}
        {% assign headings_weight = 400 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% assign font_headings = settings.font_headings_face | split: '_' %}
    {% assign font_headings_face = font_headings[1] %}
    {% capture headings_family %}"{{ font_headings_face | split: ':' | first | replace: '+', ' ' }}"{% if font_headings_face.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
    {% assign headings_weight = font_headings[2] | split: ',' %}
  {% endif %}
  $headingFontStack: {{ headings_family }};
  $headingFontWeight: {{ headings_weight }};

{% else %}

  {%- assign headings_family = settings.font_headings_face -%}
  $headingFontStack: {{ headings_family }};
  $headingFontWeight: $fontRegular;

{% endif %}

// Body
{% if settings.font_body_face contains 'Google' or settings.font_body_custom_google != '' %}

  {% if settings.font_body_custom_google != '' %}
    {% assign font_body = settings.font_body_custom_google %}
    {% if font_body == '' %}
      {% assign body_family = 'sans-serif' %}
      {% assign body_weight = 'inherit' %}
    {% else %}
      {% if font_body contains ":" %}
        {% assign font_body = font_body | split: ':' %}
        {% assign body_weight = font_body[1] | downcase | strip | replace: ' ', '-' | replace: 'thin', '100' | replace: 'extra-light', '200' | replace: 'light', '300' | replace: 'regular', '400' | replace: 'medium', '500' | replace: 'semi-bold', '600' | replace: 'bold', '700' | replace: 'extra-bold', '800' | replace: 'black', '900' %}
        {% capture body_family %}"{{ font_body[0] | strip }}"{% endcapture %}
      {% else %}
        {% capture body_family %}"{{ font_body | strip }}"{% endcapture %}
        {% assign body_weight = 400 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% assign font_body = settings.font_body_face | split: '_' %}
    {% assign font_body_face = font_body[1] %}
    {% capture body_family %}"{{ font_body[1] | replace: '+', ' ' | strip }}"{% if font_body_face.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
    {% assign body_weight = font_body[2] %}
  {% endif %}
  $bodyFontStack: {{ body_family }};
  $bodyFontWeight: {{ body_weight }};

{% else %}

  {% assign body_family = settings.font_body_face %}
  $bodyFontStack: {{ body_family }};
  $bodyFontWeight: $fontLight;

{% endif %}

// Custom type overrides, if needed
$bodyFontStack: $bodyFontStack, Verdana, Geneva, sans-serif;
$headingFontStack: $headingFontStack;
$featureFontStack: 'AvenirNextRoundedPro-Reg', $headingFontStack;
$blockFontStack: 'Lubalin', $featureFontStack;
$featureFontWeight: $fontRegular;
$blockFontWeight: $fontRegular;
$headingFontWeight: $fontBold;
$bodyFontWeight: $fontRegular;
