<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {% include 'field-validation' %}
    <script src="{{ 'ascii-only.min.js' | asset_url }}" defer></script>
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <script>
          // Identify each step on load and change
          $(document).on('page:load page:change', function() {
            // With 'page:change' in place, we can target dynamically loaded elements
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
                {% if checkout.shipping_address.country_code != 'US' %}
                  var __non_us_customer = '<div class="section international_fees_consent" id="location"><div class="section__content"><p style="text-align: left; margin: 10px 0;"><input style="margin: 0 5px 0 10px; display: inline-block; width: 10%; max-width: 15px;-webkit-appearance: none;-moz-appearance: none;appearance: auto;" type="checkbox" id="agree" required /><label id="agreelabel" style="display:inline-block; font-weight: 400; font-size: 13px; line-height: 1.5; width: 88%;" for="agree"><span style="color: red;">*</span> If I ship my order outside of the USA, I accept that I am responsible for any and all import fees, duties and/or local taxes.</label></p></div></div>';  
                if($(".section.international_fees_consent").length < 1) {
                 $('form.edit_checkout .step__sections').append(__non_us_customer); 
                } 
                {% else %} 
                if($(".section.international_fees_consent").length > 0) {
                 $('form.edit_checkout .step__sections .section.international_fees_consent').append(__non_us_customer); 
                } 
                {% endif %}
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });
          // Identify each step on load only
          $(document).on('page:load', function() {
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });


        </script>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
