/* HH =====================================================================*/
.popup-ezp {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }
.popup-ezp.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
.popup-ezp .popup-content {
    display: block;
    margin: auto;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding: 50px;
    background-color: #fff;
    color: #000;
    text-align: initial;
    cursor: default;
    white-space: initial; }
@media (min-width: 651px) {
      .popup-ezp .popup-content {
        overflow: visible; } }
.popup-ezp .popup-content.popup-header {
      background-color: #fff;
      padding-top: 0; }
.popup-ezp.overlay {
    background-color: rgba(51, 51, 51, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: fixed; }
.popup-ezp.overlay .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998; }
.popup-ezp.overlay .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -webkit-transition-delay: 100ms;
           -o-transition-delay: 100ms;
              transition-delay: 100ms;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
.popup-ezp.overlay.bordered .popup-content {
      background-color: #fff; }
@media (min-width: 651px) {
        .popup-ezp.overlay.bordered .popup-content {
          border: 3px solid #006db5;
          border-radius: 8px; } }
.popup-ezp.overlay .popup-content {
      position: relative;
      top: 50%;
      -webkit-transform: perspective(1px) translateY(-50%);
              transform: perspective(1px) translateY(-50%); }
.popup-ezp.overlay.visible .popup-inner {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px); }
.popup-ezp .popup-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px; }
.popup-ezp .popup-close svg.icon:not(.icon--full-color) circle {
      fill: #fff; }
.popup-ezp .popup-close svg.icon .stroke {
      stroke: #006db5 !important; }
.popup-ezp .popup-close svg.icon .fill {
      fill: #006db5 !important; }
.popup-ezp .popup-close:hover .icon svg .stroke {
      stroke: #eee !important; }
.popup-ezp .popup-close:hover .icon svg .fill {
      fill: #eee !important; }
#PopupEzPrints .popup-content {
  width: 970px; }
@media (min-width: 651px) {
  #PopupEzPrints .popup-content, #PopupEzPrintsAgreement .popup-content {
    overflow: auto; } }
@media (max-width: 650px) {
  #PopupEzPrints .popup-content {
    width: 100%;
    height: 100%;
    padding: 0; }
  #PopupEzPrints .jspPane > div {
    width: 100% !important; }
  #Popup_signup {
    display: none; } }
#PopupEzPrints .icon, #PopupEzPrintsAgreement .icon {
  width: 24px;
  height: 24px; }
#PopupEzPrints p, #PopupEzPrintsAgreement p {
  font-size: 0.7075rem;
  font-weight: normal;
  line-height: 1.75;
  margin-bottom: 15.01502px;
  font-family: Avenir-Regular; }
#PopupEzPrints .center, #PopupEzPrintsAgreement .center {
  text-align: center; }
#PopupEzPrints .container, #PopupEzPrintsAgreement .container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 50px; }
#PopupEzPrints .container.s, #PopupEzPrintsAgreement .container.s {
    max-width: 650px; }
#PopupEzPrints .popup.overlay .popup-content, #PopupEzPrintsAgreement .popup.overlay .popup-content {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%); }
#PopupEzPrints .popup .popup-content, #PopupEzPrintsAgreement .popup .popup-content {
  background: #f0f0f0; }
#PopupEzPrints .row, #PopupEzPrintsAgreement .row {
  margin: 0 -25px 16.66667px; }
#PopupEzPrints .row .column, #PopupEzPrintsAgreement .row .column {
    float: left;
    min-height: 0.125rem;
    padding: 0 25px; }
#PopupEzPrints .row .l6, #PopupEzPrintsAgreement .row .l6 {
    width: 50%; }
#PopupEzPrints .right, #PopupEzPrintsAgreement .right {
  text-align: right; }
#PopupEzPrints button, #PopupEzPrintsAgreement button {
  max-width: 100%;
  height: 37.03704px;
  line-height: 35.03704px;
  padding: 0 10px;
  font-size: 0.6875rem;
  font-weight: bold;
  font-family: inherit;
  color: #069;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: #fff;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4));
  background: -o-linear-gradient(top, #fff 0%, #d4d4d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d4d4d4));
  background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
  border: 1px solid #aeaeae;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  display: inline-block;
  vertical-align: middle;
  outline: none; }
#PopupEzPrints button:active, #PopupEzPrintsAgreement button:active {
    background: #d4d4d4;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #d4d4d4), color-stop(100%, #fff));
    background: -o-linear-gradient(top, #d4d4d4 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#fff));
    background: linear-gradient(top, #d4d4d4 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
    cursor: pointer; }
#PopupEzPrints .container {
  padding: 0; }
@media (max-width: 650px) {
  #ezpBuilderWrapper .ezp-assets-col-1, #ezpBuilderWrapper .ezp-assets-col-2 {
    width: 100% !important; } }
@media (max-width: 650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset {
    width: 100% !important; } }
@media (max-width: 650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset div,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset div {
    width: 100%; } }
#PopupCart .popup-content {
  background-color: #fff;
  padding: 10px;
  border: solid 1px #d4d4d4; }
#PopupCart .popup-content .table-header h5 {
    color: #262626; }
#PopupCart .popup-content .cart-item {
    margin-bottom: 10px; }
#PopupCart .popup-content .cart-item + .cart-item {
      border-top: 1px dashed #d4d4d4;
      padding-top: 10px; }
#PopupCart .popup-content .cart-item .product-image {
      background-color: #fff;
      margin-right: 10px; }
#PopupCart .popup-content .cart-item .product-image .ratio {
        border: 1px solid #d4d4d4; }
#PopupCart .popup-content .cart-item .sale_price {
      color: #900; }
#PopupCart .popup-content .cart-item .original_price {
      text-decoration: line-through; }
#PopupCart .popup-content .cart-item .savings {
      font-size: 10px; }
@media (min-width: 651px) {
  #PopupCart {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    width: 450px;
    height: auto; }
    #PopupCart .popup-close {
      top: -10px;
      right: -10px; } }
@media (max-width: 650px) {
  #PopupCart {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed; }
    #PopupCart .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998; }
    #PopupCart .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -webkit-transition-delay: 100ms;
           -o-transition-delay: 100ms;
              transition-delay: 100ms;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
    #PopupCart .popup-content {
      padding-top: 15.01502px;
      position: relative;
      top: 50%;
      -webkit-transform: perspective(1px) translateY(-50%);
              transform: perspective(1px) translateY(-50%); }
      #PopupCart .popup-content .button, #PopupCart .popup-content .select-wrapper select, #PopupCart .popup-content select {
        width: 100%; }
    #PopupCart .popup-close {
      top: 10px;
      right: 10px; } }
#PopupQuicklook.overlay {
  background-color: rgba(51, 51, 51, 0.2); }
#PopupQuicklook .tab-content {
  height: 362px;
  overflow-y: auto; }
#PopupQuicklook .popup-content {
  width: 700px;
  max-width: 100%;
  padding: 10px;
  overflow: scroll;
  border: 5px solid #c0c0c0;
  -webkit-box-shadow: 0px 0px 15px #000;
          box-shadow: 0px 0px 15px #000; }
#PopupQuicklook .popup-content .popup-overflow {
    overflow: auto; }
#PopupQuicklook .popup-content .popup-overflow .product-zoom-overlay {
      left: 0;
      right: 0;
      top: 0;
      z-index: 100;
      -webkit-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      opacity: 0;
      visibility: hidden;
      margin-right: 10px; }
#PopupQuicklook .popup-content .popup-overflow .product-zoom-overlay.active {
        opacity: 1;
        visibility: visible; }
#PopupQuicklook .popup-content .popup-overflow .product-image {
      border: 1px solid #d4d4d4; }
#PopupQuicklook .popup-content .popup-overflow .product-image .zoomImg {
        cursor: all-scroll; }
@media (min-width: 651px) {
        #PopupQuicklook .popup-content .popup-overflow .product-image {
          margin-right: 10px; } }
#PopupQuicklook .popup-content .popup-overflow .thumbnail {
      margin: 5px 5px 0 0; }
#PopupQuicklook .popup-content .popup-overflow .tab-toggles {
      font-size: 0; }
#PopupQuicklook .popup-content .popup-overflow .tab-toggles [data-accordion-toggle] {
        font-size: 0.8rem;
        font-weight: bold; }
#PopupQuicklook .popup-content .popup-overflow .tab-toggles [data-accordion-content] {
        padding-bottom: 15.01502px; }
#PopupQuicklook .popup-content .popup-overflow .tab-toggles [data-accordion-content].active {
          border-bottom-color: transparent; }
@media (max-width: 650px) {
        #PopupQuicklook .popup-content .popup-overflow .tab-toggles {
          border-bottom: 1px solid #d4d4d4;
          margin-bottom: 15.01502px; } }
@media (min-width: 651px) {
  #PopupQuicklook .popup-content {
    overflow: visible; }
  #PopupQuicklook .popup-close {
    top: -10px;
    right: -10px; } }
@media (max-width: 650px) {
  #PopupQuicklook .popup-content {
    padding-top: 50px; }
  #PopupQuicklook .popup-close {
    top: 10px;
    right: 10px; } }
#PopupSubscribe .header {
  background: url(//cdn.shopify.com/s/files/1/2597/5180/t/1/assets/header-emailsignup.png?10389782732787499269) no-repeat;
  width: 600px;
  height: 40px;
  margin-bottom: 25px; }
#PopupSubscribe .container {
  width: 600px; }
#PopupSubscribe .popup-content {
  border-radius: 3px;
  border: solid 3px #006db5;
  padding: 0px; }
#PopupSubscribe .form-subscribe {
  margin-bottom: 25px; }
#PopupSubscribe .popup-close {
  top: 0px;
  right: 0px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%); }
@media (min-width: 651px) {
  #PopupSubscribe .popup-content {
    overflow: visible; } }
.page-container.nonetransform {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }
#CustomizeProduct {
  margin-top: 12px; }
.wishlist,
.swym-button-bar {
  border: none !important;
  width: auto !important;
  padding: 0;
  line-height: 0;
  height: auto;
  text-align: left; }
.wishlist.button-bar,
  .swym-button-bar.button-bar {
    background: transparent;
    position: relative; }
.wishlist .swym-button,
  .swym-button-bar .swym-button {
    margin: 9px 0px !important; }
#PageContainer.fixed-position, header.fixed-position {
  position: fixed !important; }
#PageContainer.fixed-position .popup-ezp.overlay.visible .popup-inner, header.fixed-position .popup-ezp.overlay.visible .popup-inner {
    overflow: auto; }
#PageContainer.fixed-position .popup-ezp.overlay .popup-content, header.fixed-position .popup-ezp.overlay .popup-content {
    top: 20px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-height: none; }
#PageContainer.fixed-position .search-bar__submit, #PageContainer.fixed-position .search-header__submit, header.fixed-position .search-bar__submit, header.fixed-position .search-header__submit {
    z-index: 0; }
.announcement-bar.fixed-position {
  z-index: 0;
}