/*  General
/*-------------------------- */
html,
body { font-size: {{ settings.body_font_size }}px; color: {{ settings.body_color }}; }
a{ color:{{ settings.body_link_color }}; }
a:hover , .product-shop div .wishlist i,.sidebar-links .widget-content > ul > li > a:hover {color:{{ settings.body_link_color_hover }};}

.grid-item .product-image .product-label:before{border-top: 60px solid #A71820;}
.module-title h2 span:before,.grid-item .add-to-link .wishlist:hover, .product-shop div .wishlist:hover{background:{{ settings.body_link_color_hover }};}
span.special-price, .special-price span,.regular-product span,#block-top .block-icon i,.sidebar-custom label:hover,
.sidebar-custom.price input[type=checkbox] + label:hover:before,
.sidebar-custom.price input[type=checkbox]:checked + label:before,.sidebar-custom.price input[type=checkbox]:checked + label,.breadcrumb a:hover,.breadcrumb span.current-tag,
.collection-view a.active span, .collection-view a:hover span,.search-mobile .input-group-btn button:hover,#search-top button:after,
.header-cart .top-cart #dropdown-cart a.btn-remove:hover i,.quick-view .product-shop .price, .product-shop .price > span,
.faqs .panel-title a:not(.collapsed),.grid-item .add-to-link .wishlist{color:{{ settings.body_link_color_hover }};}
.faqs .panel-title a:not(.collapsed):before{border-color:{{ settings.body_link_color_hover }};background:{{ settings.body_link_color_hover }};color:#fff;}
.swatch input:checked + label, .swatch label:hover{border-color:{{ settings.body_link_color_hover }};}
.sidebar-custom.color ul li a:hover, .sidebar-custom.color ul li a.active,#add-to-cart-form #quantity:focus{border:1px solid {{ settings.body_link_color_hover }};}

.customer-links > li a,#currencies-top *,#search-top .icon-search.btn,.customer-links li i{color:{{ settings.header_color_link }};}
.customer-links > li{border-left:1px solid rgba(204,204,204,0.75); margin-top: 5px;}
.customer-links > li:first-child{border:none;}
.customer-links li:hover *,#currencies-top *:hover,#currencies-top:hover .popup-title >*,#search-top button i{color:#BE8842;}

.blog-detail .user-tags li  { color:{{ settings.page_title_color }}; }

.page-header h2, .page-header h1 { color:{{ settings.page_title_color }}; text-align: {{ settings.page_title_text_align }};}

.breadcrumb a, 
.breadcrumb span {color:{{ settings.breadcrumb_color}};  text-transform:{{ settings.breadcrumb_text_transform }};}

/*  Background
/*-------------------------- */
.site-header.on,
.template-index {
  {% if settings.bg_body_color != '' %}
    background-color: #000;
  {% endif %}
  {% if settings.bg_body_img == 'bg-body.png' %}
	background-image: url({{'bg-body.png' | asset_url }});
  {% elsif settings.bg_body_img != 'none' %}
  	background: url({{ settings.bg_body_img | asset_url }}); 
  {% endif %}
  background-position: top center;
  background-repeat: {{ settings.bg_body_repeat }};
  background-attachment: {{ settings.bg_body_attachment }};
}

@media only screen and (max-width: 1440px){
  .template-index {
  	background-image: none;
    background-color: #fff;
  }
}

/* Megamenu */
.dropdown-sub {background: #2F3130; padding: 10px 0;}
.site-nav .level-top > a{color: {{ settings.link_color_levertop }};}
.site-nav .level-top > a:hover{color: white!important;}
.site-nav .menu-dropdown .dropdown-sub .menu-title {color: {{ settings.link_color_title }};}
.site-nav .dropdown-sub ul li a{color: {{ settings.link_color_sub_menu }};}
.site-nav .dropdown-sub ul li a:hover{color: #BE8842!important;}



/*  Footer
/*-------------------------- */
.footer-container {
   {% if settings.bg_footer_color != '' %}
    background: {{ settings.bg_footer_color }};
  {% endif %}
  
  {% if settings.bg_footer_img == 'footer-background.png' %}
	background: url({{'footer-background.png' | asset_url }});
  {% elsif settings.bg_footer_img != 'none' %}
  	background: url({{ settings.bg_footer_img | asset_url }});
  {% endif %}
  color:{{ settings.footer_link_color }}
}
.footer-bottom { border-color: {{ settings.bg_footer_line_color }}; }

.footer-top h3 { color: {{ settings.footer_title_color }}; }
.footer-container a,
.footer-bottom address {color: {{ settings.link_footer_color }}; font-size: 12px;}
.footer-container li:hover * { color: {{ settings.link_color_hover }}; }
.footer-container .footer-top .footer-icon-share li a:hover{border:1px solid {{ settings.link_color_hover }};background:{{ settings.link_color_hover }};}

.footer-container .footer-top .footer-icon-share li a:hover *{color:#fff;}


/* Border product item */
.products-grid .grid-item-border .product-image,
.grid-item-border.product-img-box .product-photo-container { border-color: {{ settings.product_image_border_color}};}

/*  Button
/*-------------------------- */
.footer-bottom  address a{
  color:{{ settings.primary_button_bg_color }};
}
.footer-bottom  address a:hover{
  color:{{ settings.primary_button_bg_color_hover }};
}
.btn,#verticalmenu ul li.parent-title,.header-cart { 
  color: {{ settings.primary_button_text_color }};
}


.header-cart .top-cart a#cartToggle i{
  background-color: transparent; 
  color: {{ settings.primary_button_text_color_hover }};
  border-color: {{ settings.primary_button_border_color_hover }};
}

/* Title Color */
label,
.spr-icon,
.widget-title fieldset.box-title legend,
.home-instagram .widget-title h3,
.sidebar .widget-title,
.recently-viewed-products h2,
.refined-widgets > span,
.tab-content h4,
.tab-content .spr-form-title,
.tab-content .spr-review .spr-review-header-title,
.tab-content .spr-review .spr-review-header-byline,
.cart-list .money,
#shipping-calculator h3,
#add-comment-title, 
.title-comment,
.lookbook-slideshow { color:{{ settings.page_title_color }}; }

/* Body Color */
.product-shop .spr-badge .spr-badge-caption,
.product-shop .product-infor label { color: {{ settings.body_color }}; }

/* font-size */
.tab-content .spr-review-content-body { font-size: {{ settings.body_font_size }}px; }

.site-nav .widget-featured-product .btn,
.spr-summary-actions a { font-size: {{ settings.body_font_size | minus:1 }}px; }

.cart-row .btn { font-size: {{ settings.body_font_size | plus:2 }}px;}
.header-top{ background-color: {{ settings.bg_header_color }};}
/*  Fonts
/*-------------------------- */


#cart-count,.home-category .block-content h3, .block-images .title h3, .block-images .title span {font-family: {{ settings.fonts_name_1 }}; }
body {font-family: {{ settings.fonts_name_2 }}; }
.product-top-sale .grid-item .product-title{font-family: {{ settings.fonts_name_3 }}; }



{% if settings.use_color_swatch %}
.quick-view .selector-wrapper { display: none; }
{% endif %}

{% if settings.enable_quick_view %}
.products-grid .product-des { bottom: 0; }
{% endif %}


{% if settings.display_backgroun_newsleter %}
{% capture paralax_news %}bg_newsneter.jpg{% endcapture %}
.newsneter .paralax-images{background:url({{ paralax_news | asset_url }}) center center no-repeat ;
  background-position: center center!important;background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 500px;
  width: 100%;
  top: 0!important;
  z-index: -1;
}
{% endif %}
{% if settings.display_testimonials_background %}
{% capture paralax_testimonials %}testimonials_paralax.jpg{% endcapture %}
.testimonials .paralax-images{
	background:url({{ paralax_testimonials | asset_url }}) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 2000px;
    width: 100%;
   z-index: -1;
}
{% endif %}

{% capture bg_newsletter %}bg_newsletter.jpg{% endcapture %}
.popupnewsletter{background:url({{ bg_newsletter | asset_url }}) scroll right center no-repeat ;
	
}


{% capture paralax_block %}paralax-img.jpg{% endcapture %}
.paralx-main .paralax-images{
	background:url({{ paralax_block | asset_url }}) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 1000px;
    width: 100%;
   	z-index: -1;
    background-attachment: fixed;
}

{% if settings.display_loadding_page %}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;background-position: center center;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;background-image:url(loadding-page.gif);background-repeat:no-repeat;
  text-align: center;
}
{% endif %}



{% if settings.product_image_hover %}

.grid-item:hover .product-image img {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
}
{% endif %}
