/* 404 Page ======================================================================*/

.template-404 {
  .theme-nav-secondary {
    margin-bottom: 0;
  }
  #MainContent {
    .error-content {
      padding: 0 $gutter/2;
      p {
        font-size: $h6Base;
      }
    }
  }
  .theme-footer {
    .container {
      background-color: transparent !important;
      .footer-row {
        margin: 0;
        background-color: $colorText;
      }
    }
  }
}
