/* Cart ======================================================================*/

.quantity-adjust {
  @include prefixer(user-select, none, webkit moz ms o spec);
  input.quantity {
    display: inline-block;
    width: $gutter/1.5;
    height: $gutter/2.5;
    line-height: $gutter/2.5 - $borderWeight*2;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: $colorForeground;
    border-color: $colorBorder;
    font-size: $h5Base;
    color: $colorText;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.template-cart {
  aside {
    @include ml() {
      border-left: $borderWeight $borderStyle $colorBorder;
      padding-left: $gutter/2;
    }
  }

  #CartHeader {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: $gutter/10;
    h4{
      color: #00cdff;
      text-transform: uppercase;
    }
  }

  .cart-row {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    .product-image {
      margin-right: $gutter/2.5;
      .ratio {
        border: $borderWeight $borderStyle $colorBorder;
      }
    }
    .sale_price {
      color: $colorError;
    }
    .original_price {
      text-decoration: line-through;
    }
    .savings {
      font-size: 10px;
    }
  }

  .coupon-code {
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
  }
}
.shopping-title{
  background: #000;
  padding: 0 10px;
  h1,
  h5{
    color: #fff;
  }
  h1{
    font-size: 18px;
    font-weight: 600;
  }
  @include s(){
    padding: 5px 10px;
    vertical-align: middle;
    &>.right{
      line-height: 39px;
    }    
  }
}

.continue-btn,
button[name="update"]{
  background: #FFE82E;
}

.continue-btn{
  height: 28.0112px!important;
  line-height: 28.0112px!important;
  vertical-align: middle;
}