/* Collection ================================================================*/

.template-collection {
  aside {
    padding-left: $gutter/4;
    padding-right: $gutter/4;
    .collection-links {
      .nav-link {
        font-size: $h5Base;
      }
      ul {
        li {
          display: block;
          line-height: 1;
          a {
            display: block;
            padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
            background-repeat: no-repeat;
            background-position: $gutter/16.667 $gutter/6;
            &:hover, &.active {
              background-image: url('menu-arrow.svg?v2');
              background-color: $colorBrand;
              color: $colorForeground;
              cursor: pointer;
            }
          }
        }
        [data-collapse-toggle] {
          padding: $gutter/10 0 $gutter/10 $gutter/3.33;
        }
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .collection-filters, .collection-links {
        display: block !important;
      }
    }
  }

  .main-content {
    @include l() {
      padding-right: $gutter/4;
    }
  }

  .collection-views {
    p + p {
      margin-left: $gutter/10;
    }
  }

  @include s() {
    [data-collapse-toggle] {
      .open, .close {
        padding-left: $gutter/3.33;
      }
      .close {
        display: none;
      }
      .open {
        display: inline;
      }
      &.active {
        .close {
          display: inline;
        }
        .open {
          display: none;
        }
      }
    }
    .collection-filters {
      padding: $gutter/5 0 0;
      margin-bottom: $gutter/3.33;
      border-bottom: $borderStyle $borderWeight $colorBorder;
      [data-collapse-content] {
        display: block !important;
      }
    }
  }

  .collection-filters {
    a {
      font-size: $h6Base;
    }
    .collection-filter {
      input[type="checkbox"] {
        border-color: $colorText;
        & + label {
          font-size: $h6Base;
          color: $colorText;
        }
      }
    }
  }

  .thumbnails, .main-image {
    height: 290px;
  }

  .slideshow-container {
    padding: $gutter/5;
    .slick-slider .slick-dots li {
      background-color: $colorForeground;
      &.slick-active {
        background-color: $colorText;
      }
    }
    .thumbnails {
      .thumbnail {
        .ratio {
          position: relative;
          &:after {
            content: "";
            @include overlay();
            border: $borderWeight*3 $borderStyle transparent;
          }
        }
        &:hover, &.active {
          .ratio:after {
            border-color: $colorForeground;
          }
        }
      }
    }
  }

  .pagination {
    .pagination-amount {
      & + .pagination-amount {
        &:before {
          content: "|";
        }
      }
    }
  }

  &.suffix-landing {
    aside {
      margin-right: 0;
    }
  }
}

#bg {
  background-image: url('../assets/main_content_bg.jpg');
  background-size: contain;
  margin-left: -7px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
}

#bg .collection-section {
  margin-left: 8px;
}

#bg label {
  color: #fff;
}

#bg p , #bg p a {
    color: #fff !important;
  }

#bg span {
  color: #fff;
}

#bg nav a {
  color: #fff;
}


#bg .slide-width {
  width: 100%;
}

.bg-border {
  background-color: none;
}

#slideshow-1 .main-image {
  height: 257px;
}

@media screen and (max-width: 905px) {
  #slideshow-1 .main-image {
  height: 241px;
    }
}

@media screen and (max-width: 842px) {
  #slideshow-1 .main-image {
  height: 218px;
    }
}


@media screen and (max-width: 776px) {
  #slideshow-1 .main-image {
  height: 201px;
    }
  #bg .slide-width {
  margin-left: -5px;
  }
  #slideshow-1 {
    margin-left: 15px;
  }
}

@media screen and (max-width: 718px) {
  #slideshow-1 .main-image {
  height: 178px;
    }
}

@media screen and (max-width: 648px) {
  #slideshow-1 .main-image {
  height: 210px;
    }
}
@media screen and (max-width: 488px) {
  #slideshow-2 .main-image {
  height: 228px;
    }
}

@media screen and (max-width: 555px) {
  #slideshow-1 .main-image {
  height: 191px;
    }
}

@media screen and (max-width: 490px) {
  #slideshow-1 .main-image {
  height: 151px;
    }
}

@media screen and (max-width: 440px) {
  #slideshow-2 {
    margin-left: -6px;
    margin-right: 6px;
    padding-right: 0px;
  }
  #bg .slick-track {
    height: 206px;
  }
 #slideshow-2 .slide-width {
  margin-left: 4px;
  }
  #slideshow-2 .main-image {
  height: 208px;
    }
  #slideshow-2 .collection-section {
    margin-left: 0px;
  }
  .mobile-banner {
    background-image: url('../assets/cn_rubysapphire_mobhdr.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 47px;
    width: 96% !important;
    margin-left: 10px;
    margin-bottom: -1.6px;
  }
  #bg {
    margin-left: 0px;
  }
}


@media screen and (max-width: 414px) {
  #slideshow-2 .main-image {
  height: 228px;
    }
}

@media screen and (max-width: 403px) {
  #slideshow-2 .main-image {
  height: 209px;
    }
}

@media screen and (max-width: 375px) {
  #bg .slick-track {
    height: 190px;
  }
  .mobile-banner {
    width: 95% !important;
    margin-left: 9px;
    margin-bottom: -6.6px;
  }
  #slideshow-2 .main-image {
  height: 207px;
    }
}