/* Product ===================================================================*/

.collection-product {
  p {
    font-size: $h5Base;
    line-height: 1.4;
    &.product-pricing {
      line-height: 1.2;
    }
  }
  button {
    cursor: pointer;
  }
  .product-image {
    display: block;
    .ratio {
      border: $borderWeight $borderStyle $colorBorder;
      .quicklook {
        display: none;
        bottom: $gutter/1.25;
        right: $gutter/10;
        left: $gutter/10;
      }
      .sticker {
        bottom: $gutter/10;
        right: $gutter/10;
      }
    }
    &:hover {
      .ratio .quicklook {
        display: block;
      }
    }
  }
}

.template-product {
  #ProductPhoto, #ProductThumbs, #RecentlyViewed {
    .product-image {
      border: $borderWeight $borderStyle $colorBorder;
      &.zoom-wrapper {
        cursor: all-scroll;
      }
    }
    .thumbnail {
      margin: $gutter/10 $gutter/10 0 0;
    }
  }

  .product-description {
    .rte * {
      line-height: 1.4;
    }
  }

  .product-zoom {
    top: 0;
    left: 0;
    right: 0;
    border: $borderWeight $borderStyle $colorBrand;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    @include transition();
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .breadcrumb {
    margin-bottom: $gutter/7.14;
  }

  h1, .product-price {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  button[name="add"] {
    height: $gutter/1.15;
    line-height: ($gutter/1.15) - ($borderWeight*8);
  }

  .variant-table {
    @include ml() {
      border: $borderStyle $borderWeight $colorBorder;
      .row {
        padding: 0 $gutter/10;
        &:first-child {
          background-color: rgba($colorBrand, 0.15);
        }
      }
    }
  }

  .tab-toggles {
    font-size: 0;
    @include s() {
      border-bottom: $borderWeight $borderStyle $colorBorder;
      margin-bottom: $gutter/3.33;
    }
    [data-accordion-toggle] {
      font-size: $h4Base;
      font-weight: $fontBold;
    }
    [data-accordion-content] {
      padding-bottom: $gutter/3.33;
      &.active {
        border-bottom-color: transparent;
      }
    }
  }

  .rte {
    table {
      border: $borderWeight $borderStyle $colorText;
      tbody {
        tr {
          &:first-child {
            background-color: inherit;
            color: inherit;
          }
          & + tr {
            border-top: $borderWeight $borderStyle $colorText;
          }
          td + td {
            border-left: $borderWeight $borderStyle $colorText;
          }
        }
      }
    }
  }

  .related-products {
    .collection-product {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include s() {
    button[type="submit"] {
      width: 100%;
    }
  }
}

#is-sold-out {
  display: flex;
  flex-direction: column;
  #quantity-container {
    order: 1;
  }
  .swym-button-bar {
    order: 2;
    .swym-btn-container {
      .swym-button {
        width: 340px;
        &:hover {
          color: black;
        }
        .swym-watchlist-cta {
          font-size: 20px;
        }
      }
    }
  }
  #meta-fields {
    order: 3;
  }
}

#is-sold-out #button-sold-out {
  display: none;
}

