/* Search ====================================================================*/

.form-search {
  height: 2.4rem;
  input[type="text"] {
    width: 80%;
    font-size: 1rem;
    height: 2.4rem;
  }
  button {
    height: 2.4rem;
    @include l() {
      right: 0;
    }
    top: 0;
    bottom: 0;
    img {
      height: 100%;
    }
  }
}

.template-search {
  aside {
    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .search-filters {
        display: block !important;
      }
    }
  }
}
