<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template">

  {% if cart.item_count > 0 %}
    <div class="section-header">
      <h1 class="cart-title">{{ 'cart.general.title' | t }}</h1>
      <div class="cart-top-checkout">
        <a type="submit" name="checkout" href="/checkout" class="btn btn--small-wide">
          <span>{{ 'cart.general.checkout' | t }}</span>
        </a>
      </div>
    </div>

    <div id="CartPage-message-block"></div>
    <form action="/cart" method="post" id="CartForm" novalidate class="cart"> <!--  onsubmit="applyCodeOnSubmit()" -->
      <table>
        <thead class="cart__row cart__header">
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-right">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}

            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            {% assign controlExtraClass = '' %}
            {% if item.product.tags contains 'IS-FREE-GIFT' %}
                {% assign controlExtraClass = 'freegift-hidden' %}
            {% endif %}
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}


            <tr class="cart__row border-bottom line{{ forloop.index }} cart-flex{% if forloop.first %} border-top{% endif %}">
              <td class="cart__image-wrapper cart-flex-item">
                <a href="{{ item.url | within: collections.all }}">
                  {% if item.properties._ezp_thumbnail %}
                    <img class="cart__image lazyload" data-size="auto" data-src="{{ item.properties._ezp_thumbnail }}" alt="{{ item.title | escape }}">
                  {% elsif item.image %}
                    <img class="cart__image lazyload" data-size="auto" data-src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                  {% endif %}
                </a>
              </td>
              <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% if item.quantity > 1 %}
                      <span class="medium-up--hide"><span class="visually-hidden">{{ 'cart.label.quantity' | t }}</span>(x{{ item.quantity }})</span>
                    {% endif %}
                  </a>
                </div>
                {% unless item.variant.title contains 'Default' %}
                  <div class="cart__meta-text">
                    {% for option in item.product.options %}
                      {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                    {% endfor %}
                  </div>
                {% endunless %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  Line item properties come in as having two parts. The first part will be passed with the default form,
                  but p.last is the actual custom property and may be blank. If it is, don't show it.

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {%- assign property_size = item.properties | size -%}

                <div class="meta-text">
                  <p id="cart-template-sku">SKU: {{ item.product.metafields.sku.parent }}</p>
                  
                  {% if item.product.metafields.shipsto.country != blank %}
                  <p>{{ item.product.metafields.shipsto.country | remove: "This item" | replace: 'ships', 'Ships' }}</p>
                  {% endif %}
                  
                  {% if item.product.metafields.preorder.date != blank %}
                  <p>{{ item.product.metafields.preorder.date | remove: "Pre-Order" | replace: 'ships', 'Ships' }}</p>
                  {% elsif item.product.metafields.shipping.days != blank %}
                  <p>{{ item.product.metafields.shipping.days | remove: "This item" | replace: 'ships', 'Ships' }}</p>
                  {% endif %}
                </div>
              </td>
              <td class="cart__price-wrapper cart-flex-item">
                <div class="{{ controlExtraClass }}">
                {% assign current_variant = item.variant %}
                {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                  <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

                  <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                    <span id="ProductPrice-{{ section.id }}"
                      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      {{ current_variant.price | money }}
                    </span>
                  </span>

                  <span class="savings">(Save {{ item.product.compare_at_price_max | minus: item.product.price | times: 100.0 | divided_by: item.product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                {% else %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                  <span class="product-price__price product-price__price-{{ section.id }}">
                    <span id="ProductPrice-{{ section.id }}"
                      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      {{ current_variant.price | money }}
                    </span>
                  </span>
                {% endif %}

                {% for discount in item.discounts %}
                  <div class="cart-item__discount medium-up--hide">{{ discount.title }}</div>
                {% endfor %}

                <div class="cart__edit medium-up--hide">
                  <button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line{{ forloop.index }}">
                    <span class="cart__edit-text--edit">{{ 'cart.general.edit' | t }}</span>
                    <span class="cart__edit-text--cancel">{{ 'cart.general.cancel' | t }}</span>
                  </button>
                </div>
                </div>
              </td>
              <td class="cart__update-wrapper cart-flex-item text-right">
                <div class="{{ controlExtraClass }}">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide" data-variant-id="{{item.variant_id}}">{{ 'cart.general.remove' | t }}</a>
                <div class="cart__qty">
                  <label for="updates_{{ item.key }}" class="cart__qty-label">{{ 'cart.label.quantity' | t }}</label>
                  <div class="product-form__item product-form__item--quantity">
                    <div class="input-group input-number-group">
                      <div class="input-group-button">
                        <span class="input-number-decrement">-</span>
                      </div>
                      <input class="input-number quantity" type="number" name="updates[]" id="Quantity" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                      <div class="input-group-button">
                        <span class="input-number-increment">+</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart__update-btn">
                  <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="{{ 'cart.general.update' | t }}">
                </div>

                <p class="small--hide text-center">
                  <a href="#" type="submit" name="update" value="Update" class="btn btn--small btn--secondary" data-variant-id="{{item.variant_id}}">{{ 'cart.general.update' | t }}</a>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove" data-variant-id="{{item.variant_id}}">{{ 'cart.general.remove' | t }}</a>
                </p>

                </div>
              </td>
              <td class="text-right small--hide">
                <div class="{{ controlExtraClass }}">
                {% if item.original_line_price != item.line_price %}
                  <div class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></div>
                {% endif %}

                <div>
                  {{ item.line_price | money }}
                </div>

                {% for discount in item.discounts %}
                  <div class="cart-item__discount">{{ discount.title }}</div>
                {% endfor %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          {% if section.settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}
            <div class="cart__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            <a href="collections/all" class="btn btn--secondary cart__update cart__continue--large small--hide" >{{ 'cart.general.continue_shopping' | t }}</a>
            <a href="/checkout" class="btn btn--secondary cart--checkout-button btn--small-wide cart__update cart__continue--large">
              <span>{{ 'cart.general.checkout' | t }}</span>
            </a>
            {% if additional_checkout_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
        </div>
      </footer>
    </form>
    <script type="text/javascript">
        if(localStorage != undefined && localStorage.credit_card_code =='DC POWER VISA DISCOUNT') {
          $("#CartPage-message-block").html("DC POWER Credit Card discount applied to your cart. Actual discounts will be applied in the checkout."); 
          if($("input[name='discount']").length < 1) {
            var __discount_field = "<input name=\"discount\" type=\"hidden\" class=\"form-input__discount visually-hidden small--hide medium-up--hide\">"; 
            $('form.cart').append(__discount_field); 
            $('form.cart > .form-input__discount').val(localStorage.credit_card_code); 
          }
        }
        function applyCodeOnSubmit() {
          if($("input[name='discount']").val() == '' ) {
            if(localStorage != undefined && localStorage.credit_card_code == 'DC POWER VISA DISCOUNT') {
              $("input[name='discount']").val('DC POWER VISA DISCOUNT');
              $("input[name='discount']").css('color','transparent');
            }
          } 
          return true;
        }
    </script>
  {% else %}
    <div class="empty-page-content text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="/" class="btn btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </div>
  {% endif %}
</div>

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_cart_page %}
<script src="{{ 'cart-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="cart-template__recommendations-container product-recommendations visually-hidden">
  <div class="visually-hidden" id="cart-products-recommendation-info">
  {% for _item in cart.items %} 
    <div data-base-url="{{ routes.product_recommendations_url }}"
         data-product-id="{{ _item.product.id }}"
         data-limit="6"
         {% if forloop.last %}class="last-cart-element"{% endif %}></div>
  {% endfor %}
  </div>
  <div class="page-width grid">
    <div class="grid__item">
      <header class="section-header">
        <h2 class="section-header__title">Recommended for you</h2>
      </header>
      <div class="rec-items">
        <div class="slick-carousel-container">
          <div class="carousel-left">
            <button class="slick-prev slick-arrow">"Previous slide"</button>
          </div>
          <div class="slick-responsive-carousel"></div>
          <div class="carousel-right">
            <button class="slick-next slick-arrow">"Next slide"</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="cart-recommendations-item-template">
  <div class="recommended-item">
    <a>
      <div class="recommended-item-image">
        <img src="" alt="" title="" style="width:100%;">
      </div>
    </a>
    <a href="${item.url}" style="text-decoration:none;">
      <div class="name" style=""></div>
      <div class="single-price">
        <span class="reg-price"></span>
      </div>
      <div class="double-price">
        <s class="reg-price"></s>
        <span class="sale-price"></span>
        <div class="product-price__sale-label">SALE</div>
      </div>
    </a>
  </div>
</div>
{% endif %} 

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
