{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width-no-padding socials">
    <div class="grid grid--no-gutters">
      <div class="grid-wrapper">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item site-footer__newsletter-wrapper">
          <div class="site-footer__newsletter">
            {% include 'subscribe' %}
          </div>
        </div>
      {% endif %}
      {% if social_icons %}
        <div class="text-center site-footer__social-icons-wrapper">
          <div class="site-footer__social-header">{{ 'layout.footer.connected' | t}}</div>
          {% include 'social-list' %}
        </div>
      {% endif %}
    </div>
    </div>
  </div>
  <div class="page-width">
    <div class="grid grid--no-gutters grid__item-top" id="grid__item-top">
      {% if linklists[section.settings.footer_linklist].links.size > 0 %} 
        <h3 class="accordion-titles title_first">{{ linklists[section.settings.footer_linklist].title }}</h3>
        <div class="grid__item">
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
        <h3 class="accordion-titles">{{ linklists[section.settings.footer_linklist_two].title }}</h3>
        <div class="grid__item">
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_two].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div> 
      {% endif %}
      {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
        <h3 class="accordion-titles">{{ linklists[section.settings.footer_linklist_three].title }}</h3>
        <div class="grid__item">
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_three].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_three].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="grid__item desktop--footer-price">
        <span class="site-footer__linklist_title">{{ 'layout.footer.prices' | t }}</span>
        <p class="site-footer__copyright">{{ 'layout.footer.copyright_text' | t }}</p>
        <p class="site-footer__copyright"><span class='copyright_dc_logo'><img data-size="auto" data-src="{{ 'dc-logo.png' | asset_url }}" alt="DC Shop" class="lazyload" ></span><span class='copyright_wb_shield'><img data-size="auto" data-src="{{ 'wb_shield_white.png' | asset_url }}" alt="WB Shop" class="lazyload" ></span>{{ 'layout.footer.copyright_legaltext' | t }} (s{{'now' | date: "%Y" | modulo: 100 }})</p>
      </div>

    </div>
    <div class="mobile--footer-price">
      <span class="accordion-titles">{{ 'layout.footer.prices' | t }}</span>
      <p class="site-footer__copyright">{{ 'layout.footer.copyright_text' | t }}</p>
      <p class="site-footer__copyright"><span class='copyright_dc_logo'><img data-size="auto" data-src="{{ 'dc-logo.png' | asset_url }}" alt="DC Shop" class="lazyload" ></span><span class='copyright_wb_shield'><img data-size="auto" data-src="{{ 'wb_shield_white.png' | asset_url }}" alt="WB Shop" class="lazyload" ></span>{{ 'layout.footer.copyright_legaltext' | t }} (s{{'now' | date: "%Y" | modulo: 100 }})</p>
    </div>

    <div class="grid grid--no-gutters grid__item-bottom">
      <div class="footer-bottom-container">
        {% if social_icons %}
        <div class="text-center site-footer__social-icons-wrapper">
          {% include 'social-list' %}
        </div>
      {% endif %}
      <div class="site-footer__copyright">
        <p class="reserved"><a href="http://araca.com" target="_blank" title="The Araca Group"><img class="araca-logo v-middle lazyload" data-size="auto" data-src="{{ 'logo-aracagroup.png' | asset_url }}"></a><span class="v-middle"> &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.</span></p>
      </div>
      {% if section.settings.show_payment_icons %}
        <div class="site-footer__payment-icons"> 
            <a href="http://www.dcpowervisa.com/shop" target="_blank"><img class="araca-logo v-middle dc-visa-image small--hide lazyload" data-size="auto" data-src="{{ 'dc_visa_footer.png' | asset_url }}" /></a>
            <a href="http://www.dcpowervisa.com/shop" target="_blank"><img class="araca-logo v-middle dc-visa-image medium-up--hide lazyload" data-size="auto" data-src="{{ 'dc_visa_footer_mob.png' | asset_url }}" /></a>
            {%- assign payment_icons_available = 'visa,mastercard,amex,discover,paypal' | split: ',' -%}
            <ul class="payment-icons list--inline">
                <li class="payment-icon">
                  {% for icon in payment_icons_available %}
                  {% assign icon_name = icon | prepend: 'icon-' |  append: '.png' %}
                    <img data-size="auto" data-src="{{ icon_name | asset_url }}" class="{{icon_name | remove: 'icon-' | remove : '.png'}} lazyload">
                  {% endfor %}
                </li>
            </ul>
        </div>
      {% endif %}
      {% if linklists[section.settings.footer_linklist_four].links.size > 0 %}
        <div class="grid__item-links">
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_four].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function(){
    if($(window).width() <= 768){
      $('#grid__item-top').accordion({
          classes: {
            "ui-accordion-header": "title_first",
            "ui-accordion-header-collapsed": "accordion-titles",
            "ui-accordion-content": "grid__item"
          },
          icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },
          active: false,
          collapsible: true
      });

    }
  });
</script>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
