{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <p class="footer-menu-title accordion">Customer Service
          <span class="site-footer-block-icon accordion--icon medium-up--hide">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="8"
              viewBox="0 0 14 8"
            >
              <g fill="currentColor" fill-rule="evenodd" transform="translate(0 -.5)">
                <polygon class="icon-chevron-down-left" points="7 8.466 13.655 1.81 12.38 .533 7 5.913"/>
                <polygon class="icon-chevron-down-right" points="7 5.913 1.621 .533 .344 1.81 7 8.466"/>
              </g>
            </svg>
          </span>
          </p>
          <ul class="site-footer__linklist accordion_panel{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
        {% if linklists[footer_linklist_two].links.size > 0 %}
          <p class="footer-menu-title accordion">Security and Privacy
       	  <span class="site-footer-block-icon accordion--icon medium-up--hide">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="8"
              viewBox="0 0 14 8"
            >
              <g fill="currentColor" fill-rule="evenodd" transform="translate(0 -.5)">
                <polygon class="icon-chevron-down-left" points="7 8.466 13.655 1.81 12.38 .533 7 5.913"/>
                <polygon class="icon-chevron-down-right" points="7 5.913 1.621 .533 .344 1.81 7 8.466"/>
              </g>
            </svg>
          </span>
          </p>
          <ul class="site-footer__linklist accordion_panel{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-half newsletter-wrapper site-footer__newsletter-wrappe">
          {% comment %}<div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <label for="Email" class="footer-menu-title">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>{% endcomment %}
          <div class="site-footer__newsletter">
            {% include 'subscribe' %}
          </div>
          {% if social_icons %}
          <div class="grid__item">
            <ul class="list--inline site-footer__social-icons social-icons">
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    {% include 'icon-facebook' %}
                    <span class="icon__fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    {% include 'icon-twitter' %}
                    <span class="icon__fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    {% include 'icon-pinterest' %}
                    <span class="icon__fallback-text">Pinterest</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    {% include 'icon-instagram' %}
                    <span class="icon__fallback-text">Instagram</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    {% include 'icon-tumblr' %}
                    <span class="icon__fallback-text">Tumblr</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    {% include 'icon-snapchat' %}
                    <span class="icon__fallback-text">Snapchat</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    {% include 'icon-youtube' %}
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    {% include 'icon-vimeo' %}
                    <span class="icon__fallback-text">Vimeo</span>
                  </a>
                </li>
              {% endif %}
              {% if template.name == 'blog' or template.name == 'article' %}
                <li>
                  <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                    {% include 'icon-rss' %}
                    <span class="icon__fallback-text">RSS</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid grid--no-gutters">
       

      <!--Payment icons-->

      <div class="grid__item text-center">
        <div class="grid__item text-center">
        
        <div class="site-footer-payment-icons">
          <p>WE ACCEPT:</p>
          {% comment %}
            - Test shop payment options against Shopify's provided list of payment gateways
              (https://help.shopify.com/themes/customization/store/add-credit-card-icons)
          {% endcomment %}
          {% assign payment_icons_available = 'master|visa|american_express|discover|paypal' | split: '|' %}
          <div class="payment-header"></div>
          <ul class="payment-icons">
            {%- for type in shop.enabled_payment_types -%}
              {%- if payment_icons_available contains type -%}
                <li class="payment-icons-item">
                  {%- include 'icon-payment-icons', id: type -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>

      </div>
    </div>




    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">
          Shop.SEGA.com is owned by SEGA of America, Inc. and operated by Araca Merchandise L.P.<br>
          Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase. &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.<br><br>
          &copy;SEGA. All rights reserved. SEGA is registered in the U.S. Patent and Trademark Office.<br>
          SEGA, the SEGA logo and The SEGA Shop are either registered trademarks or trademarks of SEGA Holding Co., Ltd. or its affiliates.
        </small>
      </div>
    {% endif %}
  </div>
  </div>
</footer>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
