{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>
{% endif %}

<div class="message-panel">
  <div class="message-panel-wrapper">
    <div class="empty-div medium-up--one-third"></div>
    <div class="free-shipping-message medium-up--one-third">FREE SHIPPING ON ORDERS OF $100 OR MORE!</div>
    <div class="customer-icon medium-up--one-third">
      <ul>
        {% if shop.customer_accounts_enabled %}
        <li>
          <a href="/account" class="site-header__account">
            <span>My Account</span>
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
        </li>
        <li>
          <a href="/account/login" class="site-header__account">
            <span>Log In</span>
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
        </li>
        {% endif %}
  <!--       <li>
          <a href="/" class="site-header__account">
            <span>Wishlist</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div data-section-id="{{ section.id }}" data-section-type="header-section" class="header">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}

        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              {{ link.title }}
              <div class="mobile-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__sublist-link">
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}
              

            </ul>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
<!--       {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item border-bottom" id="mobile-login">
            <a href="/account" class="mobile-nav__link">My Account</a>
          </li>
        {% else %}
          <li class="mobile-nav__item border-bottom" id="mobile-login">
            <a href="/account/login" class="mobile-nav__link">Log In</a>
          </li>
        {% endif %}
      {% endif %} -->
      	
    </ul>
  </nav>

  {% if section.settings.message %}
    <div class="notification-bar">
      {% if section.settings.message %}
        {% if section.settings.message_link != blank %}
          <a href="{{ section.settings.message_link }}" class="notification-bar__message">
            {{ section.settings.message_text | escape }}
          </a>
        {% else %}
          <span class="notification-bar__message">{{ section.settings.message_text | escape }}</span>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <header class="site-header{% if section.settings.align_logo == 'center' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% if section.settings.align_logo == 'left' %}
        <div class="grid__item small--hide medium-up--one-quarter">
          <div class="site-header__search">
            {% include 'search-form' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'center' %}
      	{%- assign logo_classes = 'medium-up--one-half logo-align--left' -%}
      {% else %}
        {%- assign logo_classes = 'medium--one-third large-up--one-quarter logo-align--center' -%}
      {% endif %}

      <div class="grid__item small--one-whole {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img class="lazyload" 
                   data-sizes="auto" 
                   data-src="{{ section.settings.logo | img_url: image_size }}"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
          {% else %}
            <a class="site-header__logo-link" href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}

      <div class="site-header-tools grid__item site-header__icons small--one-whole{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">
          {% if section.settings.align_logo == 'center' %}
            <div class="site-header__search">
              {% include 'search-form' %}
            </div>
          {% endif %}

<!--           <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button> -->
          {% if shop.customer_accounts_enabled %}
          <a href="/account/login" class="site-header__account site-header__account-mob medium-up--hide">
            <img data-sizes="auto" data-src="{{ 'account-icon.png' | asset_url }}" class="lazyload">
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}
          <a href="/cart" class="site-header__cart">
            <span class="icon-cart"><img data-sizes="auto" data-src="{{ 'cart.png' | asset_url }}" class="lazyload"></span>
            <span class="icon-items">
              <span class="cart-count"  id="CartCount">{{ cart.item_count }}</span>
              <span class="small--hide">
                {{ cart.item_count | pluralize: 'ITEM', 'ITEMS' }} <span class="cart-count-divider">|</span> 
                <span id="cart-price">{{ cart.total_price | money }}</span>
              </span>
            </span>
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
<!--             <div id="CartCount" class="site-header__cart-count">
              <span>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div> -->
            <button type="button" class="btn btn--checkout small--hide">Checkout</button>
          </a>
          
          

          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
            </button>
          {% endunless %}
        </div>

      </div>
    </div>
  </header>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
