{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
<!--     <p class="password__form-heading h4">{{ section.settings.social_message }}</p> -->
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="site-footer__copyright--bottom">
<!--   <small class="password-footer-links">
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Terms & Conditions</a></li>
  </small> -->
  <small class="site-footer__copyright-content">
    Shop.SEGA.com is owned by SEGA of America, Inc. and operated by Araca Merchandise L.P.<br>
    Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase. &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.<br><br>
    &copy;SEGA. All rights reserved. SEGA is registered in the U.S. Patent and Trademark Office.<br>
    SEGA, the SEGA logo and The SEGA Shop are either registered trademarks or trademarks of SEGA Holding Co., Ltd. or its affiliates.
  </small>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
