<a href="/" itemprop="url" class="site-header__logo-image">
  <img data-sizes="auto" data-src="{{ 'SEGA_logo2.png' | asset_url }}" class="lazyload">
</a>
<br>

<h2 class="password__title">{{ section.settings.header }}</h2>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      }
    ]
  }
{% endschema %}
