
<style>
  #MainContent{
  	text-align: center;
    vertical-align: middle;
    margin-top: 200px;
  }
</style>

{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}

{% section 'password-header' %}
{% section 'password-content' %}
