{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width-no-padding socials">
    <div class="grid grid--no-gutters">
    </div>
  </div>
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="footer-left-section">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item site-footer__newsletter-wrapper">
          <div class="site-footer__newsletter">
            {% include 'subscribe' %}
          </div>
        </div>
      {% endif %}

      {% if social_icons %}
        <div class="text-left site-footer__social-icons-wrapper">
          <ul class="list--inline site-footer__social-icons social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% include 'icon-youtube' %}
                  <span class="icon__fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

        <div>
          <div class="site-footer__copyright s-hide">
            {%- assign _year = "now" | date: '%Y' %}
            {%- capture img_span %}<span class='araca-copyright-logo'><img data-src="{{ 'araca-group-logo.png' | asset_url }}" class="lazyload"></span>{% endcapture %}
            {%- capture wizarding_world %}<span class='wizarding-world-logo'><img data-src="{{ 'WB_50.png' | asset_url }}" class="lazyload"><img data-src="{{ 'WW_50.png' | asset_url }}" class="lazyload"> </span>{% endcapture %}
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text_html' | t: year: _year, span: img_span }}</small>
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext_html' | t: year: _year, wizarding_world: wizarding_world }}</small>
          </div>
        </div>

      </div>

      <div class="footer-right-section">

        <div class="footer-list-container">
          <div class="grid__item">
            {% if linklists[section.settings.footer_linklist].links.size > 0 %}
              <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist].title }}</span>
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                {% for link in linklists[section.settings.footer_linklist].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="grid__item">
            {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
              <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_two].title }}</span>
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                {% for link in linklists[section.settings.footer_linklist_two].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="grid__item">
            {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
              <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_three].title }}</span>
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                {% for link in linklists[section.settings.footer_linklist_three].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="grid__item">
            {% if linklists[section.settings.footer_linklist_four].links.size > 0 %}
              <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_four].title }}</span>
              <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
                {% for link in linklists[section.settings.footer_linklist_four].links %}
                  <li class="site-footer__linklist-item">
                    <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        {% if section.settings.show_payment_icons %}
          <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
            {% unless shop.enabled_payment_types == empty %}
              {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
              <div class="payment-icons-title">We accept:</div>
              <ul class="payment-icons list--inline">
                {% for type in shop.enabled_payment_types %}
                  {% if payment_icons_available contains type %}
                    <li class="payment-icon">
                      {%- assign icon_name = type | prepend: 'icon-' -%}
                      {% include icon_name %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="payment-icons-title">Prices shown are in USD.</div>
            {% endunless %}
          </div>
        {% endif %}
      </div>

      <div class="footer-mobile-copyright-section l-hide">
          <div class="site-footer__copyright">
            {%- assign _year = "now" | date: '%Y' %}
            {%- capture img_span %}<span class='araca-copyright-logo'><img data-src="{{ 'araca-group-logo.png' | asset_url }}" class="lazyload"></span>{% endcapture %}
            {%- capture wizarding_world %}<span class='wizarding-world-logo'><img data-src="{{ 'WB_50.png' | asset_url }}" class="lazyload"><img data-src="{{ 'WW_50.png' | asset_url }}" class="lazyload"></span>{% endcapture %}
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text_html' | t: year: _year, span: img_span }}</small>
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext_html' | t: year: _year, wizarding_world: wizarding_world }}</small>
          </div>
        </div>

    </div>

    <div class="grid grid--no-gutters">
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
