<div data-section-id="{{ section.id }}" data-section-type="image-header-section" id="image-header-home">

  {%- assign display_type = 'none' %}
{% for _block in section.blocks %}
	{% if _block.type == 'header_image_block' %}
		{% if _block.settings.display == 'all_collections' and display_type == 'none' %}
			{%- assign display_type = 'all' %}
		{% endif %}
		{% if _block.settings.display == 'link_list' and display_type != 'collection' %}
			{%- assign display_type = 'link_list' %}
		{% endif %}
		{% if _block.settings.display == 'collection' and _block.settings.collection == collection.handle %}
			{%- assign display_type = 'collection' %}
			{% break %}
		{% endif %}
	{% endif %}
{% endfor %}
{% for block in section.blocks %}
	{% if block.type == 'header_image_block' %}
		{% if block.settings.display == 'collection' and display_type == 'collection' and block.settings.collection and block.settings.collection == collection.handle %}
			<div class="header-image-container home-promo">
				<div class="header-image header-image-section">
					{% if block.settings.link %}
					<a href="{{ block.settings.link }}">
					{% endif %}
					<img data-src="{{ block.settings.image | img_url: '1120x150' }}" class="desktop-image lazyload{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
					{% if block.settings.image_mobile %}
					<img data-src="{{ block.settings.image_mobile | img_url: '512x', scale: 2 }}" class="mobile-image lazyload">
					{% endif %}
					{% if block.settings.link %}</a>{% endif %}
				</div>
			</div>
			{% break %}
		{% elsif block.settings.display == 'link_list' and display_type == 'link_list' %}
			{% if block.settings.link_list %}
				{% assign link_list = linklists[block.settings.link_list] %}
				{% assign collection_matched = false %}
				{% for link in link_list.links %}
					{% if link.url == collection.url %}
						{% assign collection_matched = true %}
						{% break %}
					{% elsif link.links %}
						{% for child_link in link.links %}
							{% if child_link.url == collection.url %}
								{% assign collection_matched = true %}
								{% break %}
							{% elsif child_link.links %}
								{% for child_link_1 in child_link.links %}
									{% if child_link_1.url == collection.url %}
										{% assign collection_matched = true %}
										{% break %}
									{% elsif child_link_1.links %}
										{% for child_link_2 in child_link_1.links %}
											{% if child_link_2.url == collection.url %}
												{% assign collection_matched = true %}
											{% endif %}
											{% if collection_matched %}
												{% break %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if collection_matched %}
										{% break %}
									{% endif %}
								{% endfor %}
								{% if collection_matched %}
									{% break %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
					{% if collection_matched %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% if collection_matched %}
				<div class="header-image-container home-promo">
					<div class="header-image header-image-section" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
						{% if block.settings.link %}
						<a href="{{ block.settings.link }}">
						{% endif %}
						<img data-src="{{ block.settings.image | img_url: '1120x150' }}" class="desktop-image lazyload{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
						{% if block.settings.image_mobile %}
						<img data-src="{{ block.settings.image_mobile | img_url: '512x', scale: 2 }}" class="mobile-image lazyload">
						{% endif %}
						{% if block.settings.link %}</a>{% endif %}
					</div>
				</div>
				{% endif %}
			{% endif %}
		{% break %}
		{% elsif block.settings.display == 'all_collections' and display_type == 'all' %}
		<div class="header-image-container home-promo">
			<div class="header-image header-image-section">
				{% if block.settings.link %}
				<a href="{{ block.settings.link }}">
				{% endif %}
				<img data-src="{{ block.settings.image | img_url: '1120x150' }}" class="desktop-image lazyload{% if block.settings.image_mobile %} hide-on-mobile{% endif%}">
				{% if block.settings.image_mobile %}
				<img data-src="{{ block.settings.image_mobile | img_url: '512x', scale: 2 }}" class="mobile-image lazyload">
				{% endif %}
				{% if block.settings.link %}</a>{% endif %}
			</div>
		</div>
		{% break %}
		{% endif %}
	{% endif %}
{% endfor %}
</div>

{% schema %}
  {
  	"name": "Image-Header",
    "class": "image-header-section",
    
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Image-Header",
        "category": "Image"
      }
    ],
    "blocks": [
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
    
  }
{% endschema %}
