{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
        display: inline-block;
        margin: 0;
      }
      .announcement-bar--link{
        display: inline-block;
      }
      .announcement-bar__message a {
        font-size: 12px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
      }
      .popup-link{
        font-size: 9px;
        text-decoration: underline;
        color: #fff;
        display: inline-block;
        font-family: 'StreetB-Medium', Arial, sans-serif;
      }
      .announcement-bar__message .announcement-bar__links {
        float: right;
      }

      .announcement-bar__message .announcement-bar__links a {
        color: {{ section.settings.color_text }};
        font-weight: normal;
        text-decoration: underline;
        margin-right: 20px;
        border-left: 1px solid;
        padding-left: 15px;
      }
      .announcement-bar__message .announcement-bar__links a:first-child {
        border-left: none;
      }
    </style>

    {% if section.settings.message_text != blank %}
      <div class="announcement-bar">
        {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
        {% endif %}
          <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {% if section.settings.message_text != blank %}  
        </a>
        {% endif %}
        <a class="popup-link" data-popup data-popup-id="freeship-details">see details</a>
      </div>
    {% endif %}


<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-top-icons">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        Welcome {{ customer.first_name }}, 
        <a href="/account" class="site-header__account">
          My Account
          <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
        </a>
      {% else %}
        Welcome Guest, 
        <a href="/account/login" class="site-header__account">
          Sign In
          <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
        </a>
      {% endif %}
    {% endif %}
            
    <a href="/apps/tracktor/">Track Order</a>
    <a href="{{ linklists['account-menu'].links[2].url }}">Wishlist</a>

    {% comment %}<a href="/cart" id="minicart-open-link" class="site-header__cart">
      <span>My Cart</span>
      {% include 'icon-cart' %}
      <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
      <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
      {% if cart.item_count > -1 %}
        <div id="CartCount" class="site-header__cart-count">
          <span>{{ cart.item_count }}</span>
          <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        </div>
      {% endif %}
    </a>{% endcomment %}
    {% include 'popup-cart' %}
    <div class="minicart-overlay"></div>
  </div>
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters">
      {% unless linklists[section.settings.main_linklist] == blank %}
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      {% endunless %}

      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-third">
          <div class="site-header__search">
            {% include 'search-form' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '1024x' }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: '1024x' }}"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            <span class="visually-hidden">{{shop.name}}</span>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search">
              {% include 'search-form' %}
              <span class="site-header__cart-items">
                <a href="/cart" id="minicart-open-link">
                  <span class="cart-items-count">{{ cart.item_count }}</span> Items <span class="cart-total small--hide">${{ cart.total_price | money_without_currency }}</span>
                </a>
              </span>
            </div>
          {% endif %}

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

        </div>

      </div>
    </div>
    <div class="grid">
      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}
    </div>
    
  </header>
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item border-bottom">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="/account/login" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}

        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        {% endunless %}

      </li>
      <li class="mobile-nav__item border-bottom">
        <a href="/apps/tracktor/" class="site-header__trackorder">
          <b>Track My Order</b>
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
    </ul>
  </nav>

  <div id="navigation-content">
    <div id="navigation-no-menu" class="navigation-menu">
      
    </div>
    {% for link in linklists[section.settings.main_linklist].links %}
    <div class="navigation-menu{% if forloop.index0 > 3%} text-right{% endif %}" id="navigation-{{link.title | handleize }}">
      {% if link.links != blank %}
      {%- assign nav_list = link %}
      {%- assign navigation_file = link.title | handleize | append: '-navigation' %}
      {%- assign menu_navigation_for_list = link.links %}
      {% include 'menu-navigation' %}
      {% endif %}
    </div>    
    {% endfor %}
  </div>

  <div class="grid secondary-navigation-container">
    <nav class="small--hide" id="secondaryNav" role="secondaryNavigation">
      {% include 'secondary-nav' %}
    </nav>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Navigation Menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Shows Products",
        "settings": [
          {
            "type": "header",
            "content": "Shows Featured Products",
            "info": "Add featured products to Shows Navigation Menu"
          },
          {
            "type": "product",
            "id": "shows_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "books_and_movies_mt", 
        "name": "Books and Movies Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Books and Movies Menu Image Tout", 
            "info": "Add image to Books and Movies Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Books and Movies Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Books and Movies Menu Image Link"
          }
        ]
      },
      {
        "type": "wands_and_collectibles_mt", 
        "name": "Wands & Collectibles Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Wands and Collectibles Menu Image Tout", 
            "info": "Add image to Wands and Collectibles Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Wands and Collectibles Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Wands and Collectibles Menu Image Link"
          }
        ]
      },
      {
        "type": "clothing_mt", 
        "name": "Clothing Image Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Clothing Menu Image Tout", 
            "info": "Add image to Clothing Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Clothing Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Clothing Menu Image Link"
          }
        ]
      },
      {
        "type": "toys_and_costumes_mt", 
        "name": "Toy & Costume Image Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Toys and Costumes Menu Image Tout", 
            "info": "Add image to Toys and Costumes Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Toys and Costumes Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Toys and Costumes Menu Image Link"
          }
        ]
      },
      {
        "type": "accessories_mt", 
        "name": "Accessories Image Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Accessories Menu Image Tout", 
            "info": "Add image to Accessories Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Accessories Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Accessories Menu Image Link"
          }
        ]
      },
      {
        "type": "home_decor_mt", 
        "name": "Home Decor Image Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "Home Decor Menu Image Tout", 
            "info": "Add image to Home Decor Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "Home Decor Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Home Decor Menu Image Link"
          }
        ]
      },
      {
        "type": "on_sale_mt", 
        "name": "On Sale Image Tout", 
        "settings": [
          {
            "type": "header", 
            "content": "On Sale Menu Image Tout", 
            "info": "Add image to On Sale Menu Image Tout"
          }, 
          {
            "type": "image_picker", 
            "id": "menu_image", 
            "label": "On Sale Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "On Sale Menu Image Link"
          }
        ]
      }
    ]
  }
{% endschema %}
