<!-- sections/product-template-->
<div class="page-width">
    {% include 'breadcrumbs'%}
</div>

<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% if product.variants.size > 1 %}
    {% assign current_variant = product.selected %}
  {% else %}
    {% assign current_variant = product.first_available_variant %}
  {% endif %}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  {%- assign custom_tag = settings.custom_sales_tag_tag | strip %}

  <div class="grid product-single">
    {% if settings.custom_tag_enabled and product.tags contains custom_tag %}
    <span class="product-tag-label product-tag__custom products_page{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
    {% endif %}
    <h1 itemprop="name" class="product-single__title mobile_title">{{ product.title }}</h1>
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          {% comment %} Araca PDP Video Solution product Image code snippet {% endcomment %}
          {% if forloop.index == 1 and product.metafields.productinfo.trailer_urls != blank %}
          <div class="product-single__photo{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}--video">
            <div class="product-image-video">
              {{ image.alt }}
            </div>
            <img src="{{ image | img_url: '2048x2048' }}"
               class="featured-row__image"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}">
            <div class="visually-hidden video--holder">{% include 'product-thumbnail-video', trailer_urls: product.metafields.productinfo.trailer_urls %}</div>
            <div class="video-play-button"></div>
          </div>
          {% endif %}
          {% comment %} End Snippet {% endcomment %}
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}{% if product.metafields.productinfo.trailer_urls != blank %} hide{% endif %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% include 'product-thumbnails' %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>

        {% include 'stamped-pdp-summary' %}

        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
          {% assign controlExtraClass = '' %}
          {% if product.tags contains 'IS-FREE-GIFT' %}
          {% assign controlExtraClass = 'freegift-hidden' %}
          {% endif %}
          {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

          {% comment %}<!-- HIDE FORM IF IT IS A GIFT -->{% endcomment %}
          {% if controlExtraClass == '' %}

          {% if product.variants.size > 1 %}
            {% if product.variants.first.price != product.variants.last.price %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}</pre>
            {% else %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }}</pre>
            {% endif %}
          {% endif %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item-form{% endif %}" data-section="{{ section.id }}">
            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            <input type="hidden" name="tags" value="{{ product.tags | join : ","  }}">
            <input type="hidden" name="handle" value="{{ product.handle  }}">
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input{% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %} ezp-customizable-item{% endif %}" id="SingleOptionSelector" data-index="option{{ forloop.index }}" data-name="{{ product.options.first }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
              {% comment %}{% include 'swatch' with product.options.first %}{% endcomment %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js" data-product-id="{{product.id}}">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% include 'product-personalizer' %}

            <div class="quantity-addtocart">
              <div class="price-quantity-container">
                <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
                  {% if current_variant.compare_at_price > current_variant.price %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                      <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

                      <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          {{ current_variant.price | money }}
                        </span>
                      </span>

                      <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                  {% elsif product.variants.size > 1 %}
                    {% if product.variants.first.compare_at_price > product.variants.first.price or product.variants.last.compare_at_price > product.variants.last.price %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                      {% if product.variants.first.compare_at_price != product.variants.last.compare_at_price %}
                      <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }} - {{ product.variants.last.compare_at_price | money }}</s>
                      {% else %}
                      <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }}</s>
                      {% endif %}

                      <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ product.variants.first.price | divided_by: 100.00 }} - {{ product.variants.last.price | divided_by: 100.00 }}">
                          {{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}
                        </span>
                      </span>
                      {%- assign first_compare_at_price = product.variants.first.compare_at_price -%}
                      {%- assign last_compare_at_price = product.variants.last.compare_at_price -%}
                      {%- assign price_first = product.variants.first.price -%}
                      {%- assign price_last = product.variants.last.price -%}
                      {% if first_compare_at_price > price_first %}
                      <span class="savings">(Save {{ product.variants.first.compare_at_price | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                      {% elsif last_compare_at_price > price_last %}
                      <span class="savings">(Save {{ product.variants.last.compare_at_price | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                      {% endif %}
                    {% else %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                      <span class="product-price__price product-price__price-{{ section.id }}">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          {{ current_variant.price | money }}
                        </span>
                      </span>
                    {% endif %}

                  {% else %}
                    {% if current_variant.available %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                    <span class="product-price__price product-price__price-{{ section.id }}">
                      <span id="ProductPrice-{{ section.id }}"
                        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                        {{ current_variant.price | money }}
                      </span>
                    </span>
                    {% else %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s id="ComparePrice-{{ section.id }}" class="hide">{{ product.compare_at_price | money }}</s>
                    <span class="product-price__price product-price__price-{{ section.id }}">
                      <span id="ProductPrice-{{ section.id }}"
                        itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
                        {{ product.price | money }}
                      </span>
                    </span>
                    {% endif %}
                  {% endif %}
                </p>
              </div>

              {% if product.variants.size > 1 %}
                <div class="QuantityLeft"></div>
              {% else %}
                {% if product.tags contains 'NLA-ITEM' %}
                	{% if product.variants[0].inventory_quantity > 0 and product.variants[0].inventory_quantity <= 5 %}
                    <div class="QuantityLeft">Only {{ product.variants[0].inventory_quantity }} Left</div>
                	{% endif %}
                {% endif %}
              {% endif %}

              <div class="product-form__item product-form__item--quantity">
                <div id="quantity-label">QTY:</div>
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>
              </div>
              <div class="product-form__item product-form__item--submit">
                {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %}
                {% include 'ezp-customizer' %}
                {% else %}
                  {% capture link_url %}{{ product.metafields.productinfo.external_url }}{% endcapture %}
                    {% if product.metafields.productinfo.external_url != blank %}
                      <a target="_blank" href=" {{ link_url }} " class="pottermore-link">
                        <button type="button" name="add" id="AddToCart-{{ section.id }}" class="btn product-form__cart-submit--small pottermore-button">
                          <span id="AddToCartText-{{ section.id }}">
                            {{ 'products.product.pottermore' | t }}
                          </span>
                        </button>
                      </a>
                    {% else %}

                      <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}{% if settings.product_swym_disabled %} swym-disabled-product{% else %}{% if product.tags contains 'swym-disabled' %} swym-disabled-product{% endif %}{% endif %}">
                        <span id="AddToCartText-{{ section.id }}">
                          {% if product.variants.size > 1 %}
                          Make a selection
                          {% else %}
                          {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                          {% else %}
                            {% if product.metafields.preorder.date != blank %}
                              {{ 'products.product.preorder' | t }}
                            {% else %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% endif %}
                          {% endunless %}
                          {% endif %}
                        </span>
                      </button>
                    {% endif %}
                  {% endif %}

                {% include 'swym-product-view', product: product %}<button id="pdp-wishlist" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>

                <div style="padding-top: 0px; color: #8f2b2b; font-weight: bold; ">ALL SALES FINAL</div>
                <div class="meta-text">
                  {% if product.metafields.preorder.date != blank %}
                    <p id="meta-preorder">{{ product.metafields.preorder.date }}</p>
                  {% endif %}

                  {% if product.metafields.shipsto.country != blank %}
                    <p>{{ product.metafields.shipsto.country }}</p>
                  {% endif %}

                  {% if product.metafields.shipping.days != blank %}
                    <p>{{ product.metafields.shipping.days }}</p>
                  {% endif %}

                  {% if product.metafields.sku.parent != blank %}
                    <p>Item #: {{ product.metafields.sku.parent }}</p>
                  {% endif %}
                </div>

              </div>
            </div>
          </form>

          {% endif %}
          {% comment %}<!-- / HIDE FORM IF IT IS A GIFT -->{% endcomment %}

        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}

        {% include 'product-accordion' %}
      </div>
    </div>
  </div>
  {% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_product_page %}
<script src="{{ 'pdp-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="page-width product-template__recommendations-container product-recommendations visually-hidden"
     data-base-url="{{ routes.product_recommendations_url }}"
     data-product-id="{{ product.id }}"
     data-limit="8">
  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h2 class="section-header__title">MAGICALLY SELECTED FOR YOU</h2>
      </header>
      <div class="rec-items">
        <div class="slick-carousel-container">
          <div class="carousel-left">
            <button class="slick-prev slick-arrow">"Previous slide"</button>
          </div>
          <div class="slick-responsive-carousel"></div>
          <div class="carousel-right">
            <button class="slick-next slick-arrow">"Next slide"</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="pdp-recommendations-item-template">
  <div class="recommended-item">
    <a>
      <div class="recommended-item-image">
        <img src="" alt="" title="" style="width:100%;">
      </div>
    </a>
    <a href="${item.url}" style="text-decoration:none;">
      <div class="name"></div>
        <div class="single-price">
          <span class="reg-price"></span>
        </div>
        <div class="double-price">
          <s class="reg-price"></s>
          <span class="sale-price"></span>
        </div>
    </a>
  </div>
</div>
{% endif %}
  {% if settings.enable_shopify_related_products_pdp %}
  <div class="shopify-related-product">
      {% include 'related-products' %}
  </div>
  {% endif %}
  {% if settings.evergage_enabled and settings.evergage_display_product_page %}
  <div class="shopify-related-product">
  </div>
  {% endif %}
  <div class="product-review--section">
    {% include 'product-review' %}
  </div>
</div>


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
  <script type="application/json" data-metafields="product-metafields-json">
    {
      {%- for namespace in metafield_namespaces -%}
        {{ namespace | json }}: {
          {%- for metafield in product.metafields[namespace] -%}
            {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        },
      {%- endfor -%}
      "pre_order": {{ collection_pre_order | json }}
    }
  </script>
{% endunless %}

<script>
var productOptions = [];
 {% for option in product.options %}
  var optionObj = {};
  optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
  productOptions.push(optionObj);
 {% endfor %}

$(window).on('load', function(){
  $(document).click(function(event){
    var $test = $(event.target);

    if($test.hasClass('swym-watchlist-cta')){
      $($('.swym-privacy-info')[0].firstChild).wrap('<span></span>').after("<div id='privacy-link'><a href='/pages/privacy-policy/' target='_blank'>Privacy Policy</a></div>");
    }
  });
});
</script>

<script>
  var product_tags = [{% for tag in product.tags %} "{{ tag }}"{% unless tag == product.tags.last %},{% endunless%}{% endfor %}];
</script>

<script>
 var inventory_quantity = {};
 JSON.parse($('#ProductJson-{{ section.id }}').html().trim()).variants.forEach(function(item){inventory_quantity[item.id] = item.inventory_quantity;});
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
