<div class="product-quickview-template__container" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% if product.variants.size > 1 %}
    {% assign current_variant = product.selected %}
  {% else %}
    {% assign current_variant = product.first_available_variant %}
  {% endif %}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}

  <div class="product-single">
    <div class="product-single__photos">
        <div class="main-image-holder">
          <img class="product-single-image" src="{{ product.images.first.src | img_url: '330x330', scale: 2 }}" alt="{{ product.images.first.alt | escape }}">
        </div>
        {% if product.images.size > 1 %}
        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}">
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}" data-image-src="{{ image.src | img_url: '330x330', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>

    <div class="product-quickview-info">

        <div class="product-single__meta">

        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>
        <span class="product-quickview-sku visually-hidden">{{ product.metafields.sku.parent }}</span>
        {% include 'stamped-pdp-summary' %}

        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% if product.variants.size > 1 %}
            {% if product.variants.first.price != product.variants.last.price %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}</pre>
            {% else %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }}</pre>
            {% endif %}
          {% endif %}

          {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
          {% assign controlExtraClass = '' %}
          {% if product.tags contains 'IS-FREE-GIFT' %}
          {% assign controlExtraClass = 'freegift-hidden' %}
          {% endif %}
          {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

          {% comment %}<!-- HIDE FORM IF IT IS A GIFT -->{% endcomment %}
          {% if controlExtraClass == '' %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            <input type="hidden" name="tags" value="{{ product.tags | join : ","  }}">
            <input type="hidden" name="handle" value="{{ product.handle  }}">
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            {% unless product.has_only_default_variant %}
              {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' %}
              {% else %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item {% if option.values.size < 9 %}hide{% endif %}">
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector" data-index="option{{ forloop.index }}" data-name="{{ product.options.first }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if option.values.size < 9 %}
                <div class="selector-swatch-wrapper js wide blue swatch{% if product.title contains 'Phone Case' %} phone-selector-options{% endif %}">
                {% for value in option.values %}
                  <input class="swatch-element single-option-selector hide" id="SingleOptionSelector-{{ forloop.index0 }}" data-single-option-selector data-index="option{{ option.position }}" type="radio" name="SingleOptionSelector-{{ i }}" value="{{ value | escape }}"  {% unless current_variant.available %}disabled="disabled"{% endunless %} data-name="{{ product.options.first }}">
                  <label class="inline swatch-selector center" for="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">{{ value }}</label>
                {% endfor %}
                </div>
                {% endif %}
              {% endfor %}
              {% comment %}{% include 'swatch' with product.options.first %}{% endcomment %}
              {% endif %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js" data-product-id="{{product.id}}">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="quantity-addtocart">
              <div class="price-quantity-container">
                <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
                  {% if current_variant.compare_at_price > current_variant.price %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                      <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>

                      <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          {{ current_variant.price | money }}
                        </span>
                      </span>

                      <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                  {% elsif product.variants.size > 1 %}
                    {% if product.variants.first.compare_at_price > product.variants.first.price or product.variants.last.compare_at_price > product.variants.last.price %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                      {% if product.variants.first.compare_at_price != product.variants.last.compare_at_price %}
                      <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }} - {{ product.variants.last.compare_at_price | money }}</s>
                      {% else %}
                      <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }}</s>
                      {% endif %}

                      <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ product.variants.first.price | divided_by: 100.00 }} - {{ product.variants.last.price | divided_by: 100.00 }}">
                          {{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}
                        </span>
                      </span>
                      {%- assign first_compare_at_price = product.variants.first.compare_at_price -%}
                      {%- assign last_compare_at_price = product.variants.last.compare_at_price -%}
                      {%- assign price_first = product.variants.first.price -%}
                      {%- assign price_last = product.variants.last.price -%}
                      {% if first_compare_at_price > price_first %}
                      <span class="savings">(Save {{ product.variants.first.compare_at_price | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                      {% elsif last_compare_at_price > price_last %}
                      <span class="savings">(Save {{ product.variants.last.compare_at_price | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                      {% endif %}
                    {% else %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                      <span class="product-price__price product-price__price-{{ section.id }}">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          {{ current_variant.price | money }}
                        </span>
                      </span>
                    {% endif %}

                  {% else %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                    <span class="product-price__price product-price__price-{{ section.id }}">
                      <span id="ProductPrice-{{ section.id }}"
                        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                        {{ current_variant.price | money }}
                      </span>
                    </span>
                    {% unless current_variant.available %}
                    <s id="ComparePrice-{{ section.id }}" class="hide">{{ product.price | money }}</s>
                    <span class="product-price__price product-price__price-{{ section.id }}">
                      <span id="ProductPrice-{{ section.id }}"
                        itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
                        {{ product.price | money }}
                      </span>
                    </span>
                    {% endunless %}
                  {% endif %}
                </p>
              </div>
              <div class="product-form__item product-form__item--quantity">
                <div id="quantity-label">QTY:</div>
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>
              </div>
              <div class="product-form__item product-form__item--submit">
                {% if product.metafields.productinfo.customizable == 'yes' or product.metafields.productinfo.customizable == 'text' or product.tags contains 'PERSONALIZED'%}
                  <a href="{{ product.url }}" class="btn product-form__cart-submit"> More Details &rsaquo;&rsaquo;</a>
                {% else %}
                  {% capture link_url %}{{ product.metafields.productinfo.external_url }}{% endcapture %}
                    {% if product.metafields.productinfo.external_url != blank %}
                      <a target="_blank" href=" {{ link_url }} ">
                        <button type="button" name="add" id="AddToCart-{{ section.id }}" class="btn product-form__cart-submit--small pottermore-button">
                          <span id="AddToCartText-{{ section.id }}">
                            {{ 'products.product.pottermore' | t }}
                          </span>
                        </button>
                      </a>
                    {% else %}
                      <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                        <span id="AddToCartText-{{ section.id }}">
                          {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                          {% else %}
                            {% if product.metafields.preorder.date != blank %}
                              {{ 'products.product.preorder' | t }}
                            {% else %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% endif %}
                          {% endunless %}
                        </span>
                      </button>
                    {% endif %}
                  {% endif %}

                <button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" id="quickview-add-to-wishlist-btn" data-for-product-id="{{ product.id }}"></button>

                <div style="padding-top: 10px; color: #8f2b2b; font-weight: bold; ">ALL SALES FINAL</div>
                <div class="meta-text">
                  {% if product.metafields.preorder.date != blank %}
                    <p id="meta-preorder">{{ product.metafields.preorder.date }}</p>
                  {% endif %}

                  {% if product.metafields.shipsto.country != blank %}
                    <p>{{ product.metafields.shipsto.country }}</p>
                  {% endif %}

                  {% if product.metafields.shipping.days != blank %}
                    <p>{{ product.metafields.shipping.days }}</p>
                  {% endif %}

                  {% if product.metafields.sku.parent != blank %}
                    <p>Item #: {{ product.metafields.sku.parent }}</p>
                  {% endif %}
                </div>

                <div class="quickview-product-details-link">
                  <a href="{{ product.url }}"> View Full Details &rsaquo;&rsaquo;</a>
                </div>
              </div>
            </div>
          </form>
          {% endif %}
          {% comment %}<!-- / HIDE FORM IF IT IS A GIFT -->{% endcomment %}

        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}

        {% comment %}{% include 'product-accordion' %}{% endcomment %}
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
  <script type="application/json" data-metafields="product-metafields-json">
    {
      {%- for namespace in metafield_namespaces -%}
        {{ namespace | json }}: {
          {%- for metafield in product.metafields[namespace] -%}
            {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        },
      {%- endfor -%}
      "pre_order": {{ collection_pre_order | json }}
    }
  </script>
{% endunless %}

<script>
  var productOptions = [];
  {% for option in product.options %}
  var optionObj = {};
  optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
  productOptions.push(optionObj);
  {% endfor %}

  if( typeof(productOptions ) != "undefined" ){
    for(i=0;i<productOptions.length;i++) {
      $('.single-option-selector:eq('+ i +')')
      .filter(function() {
        return $(this).find('option').length > 1
      })
      .prepend('<option value="">Select '+productOptions[i][i]+'</option>')
      .val('')
      .trigger('change');
    }
    if($('.single-option-selector-product-quickview-template > option').length > 1) {
      $('#AddToCartText-product-quickview-template').html("Make a Selection");
    }

    $('.single-option-selector-product-quickview-template').on('change', function(event) {
      var _selection_index = $(event.target).find('option:selected').index();
      $(event.target).parent().parent().find('select#ProductSelect-product-quickview-template option').removeAttr('selected');

      if(_selection_index > 0) {
        $(event.target).parent().parent().find('select#ProductSelect-product-quickview-template option:eq('+(_selection_index - 1)+')').attr('selected', true);
        $(event.target).parent().parent().find('.quantity-addtocart .product-form__item button.product-form__cart-submit span').html("Add to Cart");
        $(event.target).parent().parent().find('.quantity-addtocart .product-form__item button.product-form__cart-submit').attr('disabled', false);
      } else {
        $(event.target).parent().parent().find('.quantity-addtocart .product-form__item button.product-form__cart-submit span').html("Make a Selection");
        $(event.target).parent().parent().find('.quantity-addtocart .product-form__item button.product-form__cart-submit').attr('disabled', 'disabled');
      }

      $(event.target).parent().parent().find('select#ProductSelect-product-quickview-template').change();
    });

  }
</script>

{% unless product == empty %}
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      }
    ]
  }
{% endschema %}
