<div class="page-width" itemscope id="RecommendedProductsSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="recommendedproducts">
  <div class="section-title">
    <h2>{{ section.settings.recommended_products_section_title }}</h2>
  </div>
  <div class="recommended-products-grid">
    {% if customer %}
    <!-- Recommendations for Logged in customer -->
    {% else %}
      {% if section.settings.homepage_recommendation_collection != blank %}
      {% include 'homepage-recommendations' %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Recommended Products",
    "class": "index-section index-section--recommended-products",
    "settings": [
      {
        "type": "text",
        "id": "recommended_products_section_title",
        "label": "Section Title",
        "default": "Recommended for You"
      },
      {
        "type": "collection", 
        "id": "homepage_recommendation_collection", 
        "label": "Choose collection to display recommended products from for guests"
      },
      {
        "type": "range",
        "id": "recommended_products_count",
        "label": "Number of recommended products to display for guest user",
        "min": 1, 
        "max": 20, 
        "step": 1, 
        "default": 6 
      }
    ],
    "presets": [
      {
        "name": "Recommended Products",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
