<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="b4x8fevrnyi06Zija1jIvx7Cx5sBoc1yUggbu0u-yfc" />

  <meta charset="utf-8" />

  {% include 'google-fonts' %}
  {% include 'social-media-meta-tags' %}

  <!-- SEO
================================================== -->

  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- CSS
================================================== -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}

  <!-- JS
================================================== -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% if template  == 'index'  %}{{ 'instafeed.js' | asset_url | script_tag }}{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ content_for_header }}
  <link rel="next" href="/next"/>
  <link rel="prev" href="/prev"/>
  {% include 'tweet' %}

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

{% include 'sca.freegifts' %}

{% include 'password-validation' %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W3ZDNCF');</script>
<!-- End Google Tag Manager -->

{% include 'field-validation' %}

{% include 'consent-management' %}
</head>

<body class="gridlock shifter-left {{ template }}
  {% if collection.title contains 'Avatar' %} avt-template {% endif %}
  {% if product.tags contains "Show_Avatar" %} avt-template {% endif %}
  {% if collection.title contains 'Ferdinand' %} frd-template {% endif %}
  {% if product.tags contains "Show_Ferdinand" %} frd-template {% endif %}
  {% if collection.title contains 'Predator' %} pre-template {% endif %}
  {% if product.tags contains "Show_Predator" %} pre-template {% endif %}
  {% if collection.title contains 'Planet of the Apes' %} wpa-template {% endif %}
  {% if product.tags contains "Show_Planet of the Apes" %} wpa-template {% endif %}
  {% if collection.title contains 'The Greatest Showman' %} gsh-template {% endif %}
  {% if product.tags contains "Show_The Greatest Showman" %} gsh-template {% endif %}
  {% if collection.title contains 'Love, Simon' %} lsm-template {% endif %}
  {% if product.tags contains "Show_Love Simon" %} lsm-template {% endif %}
  {% if collection.title contains 'The Sandlot' %} san-template {% endif %}
  {% if product.tags contains "Show_The Sandlot" %} san-template {% endif %}
  {% if collection.title contains 'Alien' %} aln-template {% endif %}
  {% if product.tags contains "Show_Alien" %} aln-template {% endif %}
  {% if collection.title contains 'Super Troopers' %} sut-template {% endif %}
  {% if product.tags contains "Show_Super Troopers" %} sut-template {% endif %}
  {% if collection.title contains 'Die Hard' %} dih-template {% endif %}
  {% if product.tags contains "Show_Die Hard" %} dih-template {% endif %}
  {% if collection.title contains 'Alita' %} ali-template {% endif %}
  {% if product.tags contains "Show_Alita" %} ali-template {% endif %}">
  {% if settings.ajax_cart_method == 'drawer' %}
  {% include 'timber-cart' %}
  {% endif %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3ZDNCF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="shifter-page {% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">
    {% section 'header' %}
    <div class="page-wrap">
      {% if template contains 'collection' %}
      {% if collection.description contains '[banner]' %}
      {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
      <div class="collection-banner">
        <img src="{{ banner | file_url }}" alt="{{ collection.title }}">
      </div>
      {% endif %}
      {% endif %}
      {% if template == 'index' or template contains 'blog' or template contains 'list-collections' %}
      {{ content_for_layout }}
      {% else %}
      <div id="content" class="row">
        {{ content_for_layout }}
      </div>
      {% endif %}
    </div>
    {% section 'footer' %}
    {% include 'popup' %}
    <div style='display:none'>
      <div id='search_popup' style='padding:30px;'>
        <!-- BEGIN #subs-container -->
        <div id="subs-container" class="clearfix">
          <div id="search">
            <form action="/search" method="get">
              <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% section 'mobile-navigation' %}

<!--   <a href="#" class="scrollup"><i class="fa fa-chevron-up" aria-hidden="true"></i> TOP</a> -->
  <!-- Begin Recently Viewed Products -->
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    // Including api.jquery.js conditionnally.
    if (typeof Shopify.resizeImage === 'undefined') {
      document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
    }
    //]]>
  </script>
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=127142210767229";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  {% include 'currencies' %}

  {% if settings.ajax_cart_method == "drawer" %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}
  <script>
    jQuery(function($) {
      ajaxCart.init({
        formSelector: '#AddToCartForm',
        cartContainer: '#CartContainer',
        addToCartSelector: '#AddToCart',
        cartCountSelector: '.CartCount',
        cartCostSelector: '.CartCost',
        moneyFormat: {{ shop.money_format | json }},
        onToggleCallback: function(cart) {
        Currency.convertAll(shopCurrency, Currency.currentCurrency);
        jQuery('.selected-currency').text(Currency.currentCurrency);
      }
     });
    });
    jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
      // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
      timber.RightDrawer.open();
    });
  </script>
  {% endif %}

<!--   {% include 'pick-an-option' %} -->
</body>
</html>
