<script>
//--------------------------------------------------------------------
//--------------------Custom Password Validation----------------------
// This snippet should be included in the Shopify Theme File
// 'templates/customers/activate_account.liquid', directly below
// '{{ form.errors | default_errors }}'
// Author: Safraz Sears (ssears@araca.com)
//------------------------------Start---------------------------------
//--------------------------------------------------------------------
</script>

<style>
  #create-account > #MainContent > .container.s > #ActivateAccountForm > form > .errors.inactive {
    display: none;
  }
  #create-account > #MainContent > .container.s > #ActivateAccountForm > form > .errors.active {
    display: block;
  }
</style>

<div class="errors reset-password-validation-checklist inactive">
  <span>Your password needs:</span>
  <ul>
  </ul>
</div>

<script>
$(function() {
  $('#create-account > #MainContent > .container.s > #ActivateAccountForm > form').on('submit', function(event) {
    //Use The Variables Below To Configure The Required Validations
    var setPasswordLength = 8; //Set A Minimum Password Length
    var enablePasswordLength = true; //Allow For Setting A Minimum Password Length (false = Disabled, true = Enabled)
    var enableOneLowercase = true; //Require Atleast One Lowercase Character (false = Disabled, true = Enabled)
    var enableOneUppercase = true; //Require Atleast One Uppercase Character (false = Disabled, true = Enabled)
    var enableOneSpecial = true; //Require Atleast One Special Character (false = Disabled, true = Enabled)
    var enableOneNumber = true; //Require Atleast One Number (false = Disabled, true = Enabled)

    //DO NOT EDIT ANYTHING BELOW THIS LINE

    $(this).find('.errors.reset-password-validation-checklist').removeClass('active');
    $(this).find('.errors.reset-password-validation-checklist').addClass('inactive');
    $(this).find('.errors.reset-password-validation-checklist > ul').empty();

    var errorCounter = 0; //Establish Validation Error Counter
    //Passwords Must Match
    if ($(this).find('#CustomerPassword').val() !== $(this).find('#CustomerPasswordConfirmation').val()) {
      $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>to match in both fields</li>");
      errorCounter++;
    }

    //Password Must Be Longer Than 12 Characters
    if (enablePasswordLength) {
      if ($(this).find('#CustomerPassword').val().length < setPasswordLength) {
        $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>at least 8 characters</li>");
        errorCounter++;
      }
    }

    //Password Must Have At least 1 Uppercase Character
    if (enableOneUppercase) {
      if ($(this).find('#CustomerPassword').val().toLowerCase() === $(this).find('#CustomerPassword').val()) {
        $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>at least 1 uppercase letter</li>");
        errorCounter++;
      }
    }

    //Password Must Have At least 1 Lowercase Character
    if (enableOneLowercase) {
      if ($(this).find('#CustomerPassword').val().toUpperCase() === $(this).find('#CustomerPassword').val()) {
        $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>at least 1 lowercase letter</li>");
        errorCounter++;
      }
    }
    //Password Must Have Atleast 1 Number
    if (enableOneNumber) {
      if (!/\d/.test($(this).find('#CustomerPassword').val())) {
        $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>a number</li>");
        errorCounter++;
      }
    }

    //Password Must Have Atleast 1 Approved Special Character
    if (enableOneSpecial) {
      if (/^[a-zA-Z0-9- ]*$/.test($(this).find('#CustomerPassword').val()) == true) {
        $(this).find('.errors.reset-password-validation-checklist > ul').append("<li>a special character such as !, @, #, %</li>");
        errorCounter++;
      }
    }

    //Light Up The Password Fields & Empty Them If Errors Exist
    if (errorCounter !== 0) {
      event.preventDefault();
      $(this).find('.errors.reset-password-validation-checklist').removeClass('inactive');
      $(this).find('.errors.reset-password-validation-checklist').addClass('active');
      $(this).find('#CustomerPassword').addClass('error').val('');
      $(this).find('#CustomerPasswordConfirmation').addClass('error').val('');
    }

  });
});
</script>
