<!-- snippets/collection-sort.liquid -->

<label for="SortBy" class="s-hide w-normal h5 no-margin inline line-height-1">{{ 'collection.sort.title' | t }}</label>
<select name="SortBy" id="sort-by" class="s-hide inline v-middle">
  {% for option in sort_options %}
    <option value="{{ option }}"{% if collection.sort_by == option %} selected{% endif %}>{{ 'collection.sort.' | append: option | t }}</option>
  {% endfor %}
</select>

<div class="inline select-wrapper s-show">
  <select id="mobile-sort-by">
    {% for option in sort_options %}
      <option value="{{ option }}"{% if collection.sort_by == option %} selected{% endif %}>{{ 'collection.sort.' | append: option | t }}</option>
    {% endfor %}
  </select>
  {% include 'icon' with 'down', icon_size: '20' %}
</div>

<script>
Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
jQuery('#mobile-sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
});
</script>
