<!-- /snippets/collection-geno.liquid -->
{% assign quicklook = section.settings.quicklook %}
{% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku' | split: ',' %}
{{quicklook}}
{% if quicklook %}
  {% assign product_description = product.description %}
  {% unless product_description contains '<p' and product_description contains '</p>' %}
    {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
  {% endunless %}
  {% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
  <pre class="hidden" data-product="{{ product.id }}">
    {{ product | json | replace: ',"description":"', truncated_description }}
  </pre>
  <pre class="hidden" data-metafields="{{ product.id }}">
    {
      {%- for namespace in metafield_namespaces -%}
        {{ namespace | json }}: {
          {%- for metafield in product.metafields[namespace] -%}
            {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        },
      {%- endfor -%}
      "pre_order": {{ collection_pre_order | json }}
    }
  </pre>
  <div class="absolute quicklook center s-hide">
    <button class="bitmap no-hover" data-quicklook="{{ product.id }}"><img src="{{ 'quicklook.png' | asset_url }}"></button>
  </div>
{% endif %}