<!-- snippets/collection-view.liquid -->

<div class="collection-views margin-bottom-05x line-height-1">
  <label class="inline no-margin v-top h6 no-margin w-normal line-height-1">{{ 'collection.view.title' | t }}</label>
  {% for view in collection_views %}
    {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
    <p class="inline v-top no-margin h6 no-margin w-normal line-height-1">
      {% if view == collection_view %}
        <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
        <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
      {% else %}
        <a class="no-decoration fg-text" href="/collections/{{ collection.handle }}?type={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-collection-view="{{ view }}">
          <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
          <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
        </a>
      {% endif %}
    </p>
  {% endfor %}
</div>
