<!-- /snippets/collection-product.liquid -->

{% if collection-product == 'list' %}
{% assign column_width = 'column l12' %}
{% endif %}

{% unless column_width %}
{% assign column_width = 'column l4 m4 s6' %}
{% endunless %}

{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign collection_pre_order = false %}
{% assign price = product.price | money %}

{% if product.template_suffix == 'pre-order' %}
{% assign collection_pre_order = true %}
{% endif %}

{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{% comment %}
  Capture the metafields for the quicklook
  {% endcomment %}
  {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku' | split: ',' %}

{% comment %}
  Let's check if this product is on sale, if it is we'll calculate the total savings
  If savings are less than 50% of the product's price, we'll show the saving in dollars
  Otherwise, we'll show the savings as a percentage

  We can always show the savings as a percentage by setting always_show_as_percentage to true
  {% endcomment %}
  {% assign always_show_as_percentage = true %}

  {% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% assign compare_price_decimal = product.compare_at_price | plus: 0.00 %}
  {% assign price_decimal = product.price | plus: 0.00 %}
  {% assign percentage = price_decimal | divided_by: compare_price_decimal | times: 100 %}
  {% if percentage <= 50 or always_show_as_percentage %}
  {% assign savings = 100 | minus: percentage | round | append: '%' %}
  {% else %}
  {% assign savings = product.compare_at_price | minus: product.price | money | append: '!' %}
  {% endif %}
  {% endif %}

  <div class="{{ column_width }} collection-product-{{forloop.index}} collection-product{% if sold_out %} sold_out{% endif %}{% if on_sale %} on_sale{% endif %}">

    {% if collection-product == 'list' %}
    <div class="row condensed-small">
      <div class="column l3 m3 s12">
        <a class="product-image" href="{{ product.url | within: collection }}">
          <div class="relative bg-foreground ratio" data-ratio="1:1">
            {% if product.featured_image %}
            <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
            {% if product.images.size > 1 %}
            <div class="overlay background-image contain collection-product-hover-image" style="background-image:url({{ product.images[1] | img_url: '800x800' }})"></div>
            {% endif %}
            {% else %}
            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
            <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
            {% endif %}
            {% if quicklook %}
            {% assign product_description = product.description %}
            {% unless product_description contains '<p' and product_description contains '</p>' %}
            {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
            {% endunless %}
            {% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
            <pre class="hidden" data-product="{{ product.id }}">
              {{ product | json | replace: ',"description":"', truncated_description }}
            </pre>
            <pre class="hidden" data-metafields="{{ product.id }}">
              {
              {%- for namespace in metafield_namespaces -%}
              {{ namespace | json }}: {
              {%- for metafield in product.metafields[namespace] -%}
              {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
            },
            {%- endfor -%}
            "pre_order": {{ collection_pre_order | json }}
          }
        </pre>
        {% unless product.title contains 'Genographic' %}
        <div class="absolute quicklook center s-hide">
          <button class="bitmap no-hover" data-quicklook="{{ product.id }}"><img src="{{ 'quicklook.png' | asset_url }}"></button>
        </div>
        {% endunless %}
        {% endif %}
        {% if on_sale %}
        <div class="absolute sticker">
          <button class="tiny t-capitalize fg-foreground bg-brand w-bold">{{ 'product.savings' | t: savings: savings }}</button>
        </div>
        {% endif %}
      </div>
    </a>
  </div>
  <div class="column l9 m9 s12">
    <p class="padding-top-05x padding-bottom no-line-height">
      <a href="{{ product.url | within: collection }}" class="product-title fg-text no-hover w-bold">{{ product.title }}</a>
      {% if product.description != blank %}<br><span>{{ product.description | strip_html | split: '.' | first | append: '.' | truncate: 200 }}</span>{% endif %}
    </p>

    {% include 'stamped-grid-summary' %}

    <p class="product-pricing padding-bottom">
      {% if on_sale %}
      {{ 'product.priced_sale_html' | t: price: price }}
      <br>
      <s>{{ product.compare_at_price | money }}</s>
      <br>
      <span class="small fg-text">({{ 'product.savings' | t: savings: savings }})</span>
      {% else %}
      {{ price }}
      {% endif %}
    </p>
  </div>
</div>

<hr class="dotted margin-bottom-2x">
{% else %}
<a class="product-image" href="{{ product.url | within: collection }}">
  <div class="relative bg-foreground ratio" data-ratio="1:1">
    {% if product.featured_image %}
    <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
    {% if product.images.size > 1 %}
    <div class="overlay background-image contain collection-product-hover-image" style="background-image:url({{ product.images[1] | img_url: '800x800' }})"></div>
    {% endif %}
    {% else %}
    {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
    <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
    {% endif %}
    {% if quicklook %}
    {% assign product_description = product.description %}
    {% unless product_description contains '<p' and product_description contains '</p>' %}
    {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
    {% endunless %}
    {% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
    <pre class="hidden" data-product="{{ product.id }}">
      {{ product | json | replace: ',"description":"', truncated_description }}
    </pre>
    <pre class="hidden" data-metafields="{{ product.id }}">
      {
      {%- for namespace in metafield_namespaces -%}
      {{ namespace | json }}: {
      {%- for metafield in product.metafields[namespace] -%}
      {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    },
    {%- endfor -%}
    "pre_order": {{ collection_pre_order | json }}
  }
</pre>
{% unless product.title contains 'Genographic' %}
<div class="absolute quicklook center s-hide">
  <button class="bitmap no-hover quick_btn"  data-quicklook="{{ product.id }}"><img src="{{ 'quicklook.png' | asset_url }}"></button>
</div>
{% endunless %}






{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
<script>
$('.collection-product-{{forloop.index}} .quick_btn').click(function(){
  jQuery.getJSON('/products/{{product.handle}}.js', function(product) {

  $('#product_url').attr("href",product.url);
  $('#product_title').text(product.title).attr("href",product.url);
  $("#feature-img").attr("src",product.featured_image);

  var price = parseFloat(product.price/100);
  $('#addedToCart_price').text(price);


} );
});


</script>



{% endif %}
{% if on_sale %}
<div class="absolute sticker">
  <button class="tiny t-capitalize fg-foreground bg-brand w-bold">{{ 'product.savings' | t: savings: savings }}</button>
</div>
{% endif %}
</div>
</a>

<p class="padding-top-05x no-margin">
  <a href="{{ product.url | within: collection }}" class="product-title fg-text w-bold">{{ product.title }}</a>
  {% include 'stamped-grid-summary' %}
  <p class="pricing">
    {% if on_sale %}
    <s>{{ product.compare_at_price | money }}</s>
    <span class="sale-price">{{ 'product.priced_sale_html' | t: price: price }}</span>
    {% else %}
    {{ price }}
    {% endif %}
  </p>
</p>





{% if collection-product == 'related' %}
{% comment %}        <p class="product-pricing padding-bottom fg-text w-bold">
      {% if on_sale %}
          {{ 'product.priced_sale_html' | t: price: price }}
          <br>
          <s>{{ product.compare_at_price | money }}</s>
          <br>
          <span class="small fg-text">({{ 'product.savings' | t: savings: savings }})</span>
        {% else %}
          {{ 'product.priced_html' | t: price: price }}
        {% endif %}
      </p>{% endcomment %}
      {% else %}
{% comment %}      <p class="product-pricing padding-bottom fg-brand w-bold">
        {% if on_sale %}
          {{ 'product.priced_sale_html' | t: price: price }}
          <br>
          <s>{{ product.compare_at_price | money }}</s>
          <br>
          <span class="small fg-text">({{ 'product.savings' | t: savings: savings }})</span>
        {% else %}
          {{ price }}
        {% endif %}
      </p>{% endcomment %}
      {% endif %}
      {% endif %}

    </div>
