<!-- snippets/collection-banners.liquid -->
{% for block in section.blocks %}
	{% if block.type == 'banner' %}
		
		{% assign display_banner = false %}

		{% if block.settings.banner_display == 'collections' %}
		  {% if block.settings.collection1 == collection.handle and block.settings.collection2 == collection.handle and block.settings.collection3 == collection.handle %}
		    {% assign display_banner = true %} 
		  {% endif %}
		{% endif %}

		{% if block.settings.banner_display == 'collections' %}
			{% if block.settings.collection1 == collection.handle %}
		    	{% assign display_banner = true %} 
		    {% elsif block.settings.collection2 == collection.handle %}	
		    	{% assign display_banner = true %} 
		    {% elsif block.settings.collection3 == collection.handle %}	
		    	{% assign display_banner = true %} 
		  	{% endif %}
		{% endif %}

		{% if display_banner %}
			{% if block.settings.image != blank %}
			{% assign size = block.settings.image.width | append: 'x' %}
				<img class="wide" src="{{ block.settings.image | img_url: size }}">
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}