<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,footer-menu,categories-menu,more-characters,shop-by-title' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}

{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %}
  {% if collection_links_avoid contains linklist_handle %}
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | replace: '&', 'and' | remove: 'Collection ' %}
  {% if linklist_title == collection.title %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}

{% comment %}{% if collection_links.links.size == 0 or collection_links == blank %}
  {% include 'collection-filters' %}
{% endif %}{% endcomment %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% if collection_links.links.size > 0 %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase">{{ collection_links.title | remove: 'Collection ' }}</h4>
    <ul>
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

        <li>
          {% if link.url == '/' %}
            <h4 class="no-margin w-normal t-uppercase">{{ link.title }}</h4>
          {% else %}       
            <a class="nav-link no-decoration{% if link.active %} active{% endif %}{% if link.links != blank %} toggle{% endif %}" href="{{ link.url }}" title="{{ link.title }}" >{{ link.title }}</a>
            
            {% if link.links != blank %}
              <a class="inline active" href="#" data-collapse-toggle>
                <span class="less">
                  <i class="fa fa-angle-up"></i>
                </span>
                <span class="more">
                  <i class="fa fa-angle-down"></i>
                </span>
              </a> 

              <div class="active" data-collapse-content>
                {% for childlink in link.links %}         
                  {% if childlink %}
                    <span class="collection-childlinks"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                  {% endif %}
                {% endfor %}
              </div>
              
            {% endif %} 
            

          {% endif %}
          {% if link.active %}{% assign collection_title = link.title %}{% endif %}
        </li>

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="margin-bottom-2x"></div>
  </div>
{% elsif collection_links.links.size == 0 or collection_links == blank %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
    <ul>

      {% assign main_menu_list = linklists['full-menu'] %} 
      {% assign parent_collection = nil %}
      {% assign level = 0 %}
      {% for mlink in main_menu_list.links %}
        {% if mlink.links != blank %}
          {% for cmlink in mlink.links %}
            {% if cmlink.links != blank %}
              {% for gcmlink in cmlink.links %}
                {% if gcmlink.title == collection.title %}
                  {% assign parent_collection = cmlink %}
                  {% assign level = 3 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% elsif cmlink.title == collection.title %}
              {% assign parent_collection = mlink %}
              {% assign level = 2 %}
            {% endif %}
            {% if parent_collection != blank %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if parent_collection != nil %}
      {% for slink in parent_collection.links %}
        <li {% if slink.title == collection.title %}class="current-selected"{% endif %} data-level="{{ level }}">
          <a class="nav-link no-decoration level--{{ level }}" href="{{ slink.url }}" title="{{slink.title}}" >{{slink.title}}</a>
          {% if level == 2 and slink.links != blank %}
          <a class="inline active" href="#" data-collapse-toggle>
            <span class="less">
              <i class="fa fa-angle-up"></i>
            </span>
            <span class="more">
              <i class="fa fa-angle-down"></i>
            </span>
          </a> 
          <ul data-collapse-content class="active">
            {% for sslink in slink.links %}
            <li data-level="3"><a class="nav-link no-decoration level--3" href="{{ sslink.url }}" title="{{ sslink.title }}">{{ sslink.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
      {% endif %}
    </ul>
     {% include 'collection-filters' %}
  </div>
{% else %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
  </div>
{% endif %}
