{% if item.product.metafields.shipsto.country %}
	{% assign country = item.product.metafields.shipsto.country %}
{% endif %}

{% if product.metafields.shipsto.country %}
	{% assign country = product.metafields.shipsto.country %}
{% endif %}

{% assign us_old = 'This item ships to the U.S.' %}
{% assign can_old = 'This item ships to Canada.' %}
{% assign us_can_old = 'This item ships to the U.S. and Canada.' %}
{% assign us_can_int_old = 'This item ships to the U.S. and Canada.' %}
{% assign us_can_int_original = 'This item ships to The U.s., , Canada,' %}

{% assign us_new = 'This item ships to the USA.' %}
{% assign can_new = 'This item ships to Canada.' %}
{% assign us_can_new = 'This item ships to the USA and Canada.' %}
{% assign us_can_int_new = 'This item ships to the USA , Canada,' %}

{% if country == us_old or country == us_new %}
	{{country}}
{% elsif country == can_old or country == can_new %}
    {{country}}
{% elsif country == us_can_old or country == us_can_new %}
	{{country}}
{% else %}
	{% if country contains us_can_int_new or country contains us_can_int_old or us_can_int_original %}
		<div class="list">
			This item ships to U.S., Canada and <a data-trigger="popup" data-target="#Popup_us_can_int" id="us_can_int" class="following t-underline">these countries.</a>
		</div>

		<div id="Popup_us_can_int" class="popup overlay">
			<div class="popup-inner">
				<p>
					<a href="#close" class="popup-close" data-close data-target="#Popup_us_can_int" aria-label="{{ 'common.close' | t }}">
						<span class="t-uppercase">{{ 'common.close' | t }} </span><img src="{{ 'cart-close.png' | asset_url }}">
					</a>
					{{country}}
				</p>
			</div>
		</div>
	{% else %}
		<div class="list">
			This item ships to only these <a data-trigger="popup" data-target="#Popup_int" id="int" class="following t-underline">international countries.</a>
		</div>
		<div id="Popup_int" class="popup overlay">
			<div class="popup-inner">

				<p>
					<a href="#close" class="popup-close" data-close data-target="#Popup_int" aria-label="{{ 'common.close' | t }}">
						<span class="t-uppercase">{{ 'common.close' | t }} </span><img src="{{ 'cart-close.png' | asset_url }}">
					</a>
					{{country}}
				</p>
			</div>
		</div>
	{% endif %}
{% endif %}
