{%- assign recommendation_container = settings.evergage_collection_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = '#evergage_reviews-container' %}
{% endif %}
<style>
	.Evergage_ProductDefinition {
	  display: none;
	}
</style>
<script>
	$(function() { 
	    $('{{ recommendation_container }}').after('<div mybuyszone="2"></div>'); 
	    $('{{ recommendation_container }}').css('display', 'none');   
	});
</script> 
