<!-- /snippets/form-recover.liquid -->

<div id="PasswordRecoverForm">
  {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <p>{{ 'account.reset.success' | t }}</p>
    {% else %}

      <div class="row table collapse">
        <div class="column l4 m4 s12 right s-left">
          <label for="RecoverEmail">{{ 'form.email' | t }}</label>
        </div>
        <div class="column l8 m8 s12">
          <input type="email" class="medium wide" name="email" id="RecoverEmail" placeholder="{{ 'account.recover.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
        </div>
      </div>

      <div class="margin-bottom-2x"></div>

      <div class="row table collapse">
        <div class="column l4 m4 s12"></div>
        <div class="column l8 m8 s12">
          <button class="blue medium" type="submit">{{ 'account.recover.submit' | t }}</button>
        </div>
      </div>
   
    {% endif %}
  {% endform %}
</div>
