<!-- /snippets/form-search.liquid -->

<form action="/pages/search-results-page" method="get" role="search" class="form-search form-group wide relative">  
  <button class="bitmap no-hover absolute" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <input type="text" class="" id="form-search-field" name="q" placeholder="{{ 'search.form_title' | t }}" aria-label="{{ 'search.title' | t }}">
  <input type="hidden" name="type" value="product">
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$('#form-search-field').focus(function(){
			$('.form-search button').css('left','155px');
			$(this).css('text-align','left').attr('placeholder', '').val('');
		}).blur(function(){
			$('.form-search button').css('left','52%');
			$(this).css('text-align','center').attr('placeholder', 'Search').val('');
		});

	});
</script>