<!-- snippets/form-login.liquid -->

<div id="LoginForm">
  {% form 'customer_login' %}

    {{ form.errors | default_errors }}

    <label for="CustomerEmail" class="clearfix w-normal">{{ 'account.form.email' | t }}</label>
    <input type="email" name="customer[email]" id="CustomerEmail" class="medium wide{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'account.form.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
    {% if form.password_needed %}
      <label for="CustomerPassword" class="clearfix w-normal">{{ 'account.form.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="medium wide{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'account.form.password' | t }}">
    {% endif %}

    {% if form.password_needed %}
      <p><a href="/account/login?view=recover">{{ 'account.login.forgot_password' | t }}</a></p>
    {% endif %}
    <hr>

    <div class="margin-bottom clearfix">
      <div class="update-password-login-message">If you created your account before March 28, 2018, please click the <b>{{ 'account.login.forgot_password' | t }}</b> link to reset your password. <u><a data-trigger="popup" data-target="#login-password-reset-more-details">More details</a></u></div>
    </div>
    <div id="login-password-reset-more-details" class="popup overlay outset" role="alert">
      <div class="popup-inner">
        <div class="popup-content popup-header" >
          <div class="left"> 
            <div class="right">
                <a href="#close" class="margin-top button bitmap no-hover" data-close data-target="#Popup_login-password-reset-more-details" aria-label="{{ 'common.close' | t }}">
                  <img src="{{ 'popup-close.png' | asset_url }}">
                </a>
            </div>        
            <div class="popup-header-bg background-image contain">
              <div class="popup-header-bg-content">  
                <div class="rte">
                  <p>We recently improved the National Geographic Store to a new shopping platform. Since all passwords are encrypted for your security we weren't able to transfer your password to the new store. If you created your account before March 28, 2018, you'll need to reset your password by clicking the Forgot Password link. Thanks for your understanding, and welcome back!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var login_password_reset_more_details = new Focus('#login-password-reset-more-details', { 
      });
    </script>

    <div class="clearfix"><button type="submit" class="clearfix medium keep-right margin-top margin-bottom-2x">{{ 'account.login.submit' | t }}</button></div>
    <div class="l-hide m-hide s-show">Don't have an account? Please {{ 'register here' | customer_register_link }}.</div>
  {% endform %}
</div>

