<!-- /snippets/form-subscribe.liquid -->

{% unless success %}{% assign success = 'form.subscribe.confirmation_html' | t %}{% endunless %}
{% unless email_placeholder %}{% assign email_placeholder = 'form.subscribe.email' | t %}{% endunless %}
{% unless button_text %}{% assign button_text = 'form.subscribe.submit' | t %}{% endunless %}

<div class="{% if form-subscribe == 'detailed' %}form-subscribe{% else %}form-group{% endif%}">
  {% form 'customer' %}
    <div class="error-wrapper wide" style="display: none;">
      {{ form.errors | default_errors }}
    </div>
    {% if form.posted_successfully? %}
      {% if popup %}
        <script>
          $(document).on('ready', function() {
            subscribePopup.show();
            $('span.errors').slideDown();
          });
        </script>
      {% endif %}
      <p class="note form-success">{{ success }}</p>
    {% else %}

      <!------------------------------------------------------>
      <!--START: Newsletter Form Fields Validation------------>
      <!------------------------------------------------------>
      <style>
        .form-subscribe #contact_form label.error {
          border: 1px solid #900;
        }
      </style>

      <script>
        $('.form-subscribe > #contact_form').on('submit', function(event) {

          //Clear Existing Errors
          $(this).find('.required-warning').removeClass('active');
          $(this).find('.required-warning').addClass('inactive');
          $(this).find('input[name="contact[first_name]"]').removeClass('error');
          $(this).find('input[name="contact[last_name]"]').removeClass('error');
          $(this).find('input[name="contact[email]"]').removeClass('error');
          $(this).find('label[for="Newsletter"]').removeClass('error');

          //Establish/Reset Validation Error Counter
          var errorCounter = 0;

          //Check If Empty: First Name
          if ($(this).find('input[name="contact[first_name]"]').val() == '') {
            $(this).find('input[name="contact[first_name]"]').addClass('error');
            errorCounter++;
          }

          //Check If Empty: Last Name
          if ($(this).find('input[name="contact[last_name]"]').val() == '') {
            $(this).find('input[name="contact[last_name]"]').addClass('error');
            errorCounter++;
          }

          //Check If Empty: Email Address
          if ($(this).find('input[name="contact[email]"]').val() == '') {
            $(this).find('input[name="contact[email]"]').addClass('error');
            errorCounter++;
          }

          //Check If Empty: Checkbox
          if (!$(this).find('input[name="customer[accepts_marketing]"]').is(':checked')) {
            $(this).find('label[for="Newsletter"]').addClass('error');
            errorCounter++;
          }

          //Check Error Count & Stop Submission If > 0 || Disable Button If Successful
          if (errorCounter !== 0) {
            event.preventDefault();
            $(this).find('.required-warning').removeClass('inactive');
            $(this).find('.required-warning').addClass('active');
          } else {
            $(this).find('#submitSubscribeForm').addClass('disabled');
          }
        });
      </script>
      <span class="required-warning inactive">Please complete all required fields before submitting this form.</span>
      <span class="required-tip">* - Required Fields</span>
      <!------------------------------------------------------>
      <!--END: Newsletter Form Fields Validation------------>
      <!------------------------------------------------------>

      <input type="hidden"
             name="contact[tags]"
             value="newsletter,responsys_event_3">
      <input type="hidden"
             name="customer[accepts_marketing]"
             value="" />
      {% if form-subscribe == 'detailed' %}
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">* {{ 'account.form.first_name' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="text"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.first_name }}{% endif %}"
                   name="contact[first_name]"
                   aria-label="{{ 'account.form.first_name' | t }}"
                   autocorrect="off"
                   data-auto-focus>
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">* {{ 'account.form.last_name' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="text"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.last_name }}{% endif %}"
                   name="contact[last_name]"
                   aria-label="{{ 'account.form.last_name' | t }}"
                   autocorrect="off">
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">* {{ 'form.email' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="email"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.email }}{% endif %}"
                   name="contact[email]"
                   aria-label="{{ 'form.email' | t }}"
                   autocorrect="off"
                   autocapitalize="off">
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left" style="vertical-align: top; padding-top: 5px; padding-right: 5px;">
            <span>*</span>
            <input class="appearance-os" type="checkbox" name="customer[accepts_marketing]" id="Newsletter">
            <input class="appearance-no-display" type="checkbox" name="customer[tags][responsys_event]" id="Responsys_event" value="" checked>
            <input class="appearance-no-display" type="checkbox" name="customer[tags][newsletter]" id="Newsletter_optin" value="newsletter" >
          </div>
          <div class="column v-middle l9 m9 s12" style="padding-left: 5px;">
            <label for="Newsletter" class="clearfix h4 no-margin" style="font-size: 12px;">{{ 'account.register.newsletter_html' | t }}</label>
          </div>
        </div>
        <div class="center">
          <a name="subscribe" class="button center medium blue" id="submitSubscribeForm">{{ button_text }}</a>
        </div>
      {% else %}
        <input type="email"
               value="{% if customer %}{{ customer.email }}{% endif %}"
               placeholder="{{ email_placeholder }}"
               name="contact[email]"
               aria-label="{{ email_placeholder }}"
               autocorrect="off"
               autocapitalize="off">
         <a name="subscribe"
                id="submitSubscribeForm"
                class="button {% unless show_button %} hidden{% endunless %}">{{ button_text }}</a>
      {% endif %}
    {% endif %}
  {% endform %}
</div>
