<!-- snippets/form-register.liquid -->

<div id="RegisterForm">

  {% form 'create_customer' %}

    {% if form.errors %}
    <div class="errors">
      <ul>
      {% for form_field in form.errors %}
        {% if form.errors.messages[form_field] contains "email address is already associated" %}
        <li>It looks like you already have an account with us. Please <a href="/account/login">login</a>, or <a href="/account/login#recover">reset your password</a> if necessary. </li>
        {% else %}
        <li>{{ form.errors.messages[form_field] }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="padding-bottom-2x">
      <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12">
          <label for="FirstName" class="clearfix h4 no-margin w-normal">{{ 'account.form.first_name' | t }}</label>
          <input class="required medium clearfix" type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        </div>
      </div>
      <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12">
          <label for="LastName" class="clearfix h4 no-margin w-normal">{{ 'account.form.last_name' | t }}</label>
          <input class="required medium" type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        </div>
      </div>
      <div class="row collapse l-table m-table">
        <div class="column l12 m5 s12">
          <label for="CreateEmail" class="clearfix h4 no-margin w-normal">{{ 'account.form.email' | t }}</label>
          <input class="required medium clearfix{% if form.errors contains 'email' %} error{% endif %}" type="email" name="customer[email]" id="CreateEmail" autocorrect="off" autocapitalize="off"{% if form.email %} value="{{ form.email }}"{% endif %}>
        </div>
      </div>
      <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12">
          <label for="CreatePassword" class="clearfix h4 no-margin w-normal">{{ 'account.form.password' | t }}</label>
          <input class="required medium{% if form.errors contains 'password' %} error{% endif %}" type="password" name="customer[password]" id="CreatePassword">
        </div>
      </div>
      <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12">
          <label for="CreatePasswordConfirm" class="clearfix h4 no-margin w-normal">{{ 'account.form.password_confirmation' | t }}</label>
          <input class="required medium{% if form.errors contains 'password' %} error{% endif %}" type="password" id="CreatePasswordConfirm">
          <p class="form-note fg-alternate"><span>{{ 'account.register.form_password_note' | t }}</span></p>
        </div>
      </div>
      <!-- <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12">
          <input class="appearance-os" type="checkbox" name="customer[accepts_marketing]" id="Newsletter"{% unless form.accepts_marketing == false %} checked{% endunless %}>
          <input class="appearance-no-display" type="checkbox" name="customer[tags][responsys_event]" id="Responsys_event" value="" checked>
          <input class="appearance-no-display" type="checkbox" name="customer[tags][newsletter]" id="Newsletter_optin" value="newsletter" >
          <label for="Newsletter" class="clearfix h4 no-margin">{{ 'account.register.newsletter' | t }}</label>
        </div>
      </div> -->

      <hr>
      <!-- Tell Us About Yourself -->
      <h1 class="w-bold t-uppercase h3 fg-alternate no-margin">{{ 'account.login.register_optional_title' | t }}</h1>
      <div class="row collapse l-table m-table">
        <div class="column l6 m12 s12 inline">
          <label for="Gender" class="h4 no-margin w-normal inline">{{ 'account.form.gender' | t }}</label>
          <select id="Gender" name="customer[note][Gender]">
            <option disabled selected>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <!-- <div class="column l6 m12 s12 inline">
          <label for="Country" class="inline h4 no-margin w-normal">{{ 'account.form.country' | t }}</label>
          <select class="inline" id="Country" name="customer[note][Country]">
            {{ country_option_tags }}
          </select>
        </div> -->
      </div>

      {% include 'form-register-optionals' %}
      <hr>

      <div class="row collapse l-table m-table">
        <div class="column l12 m12 s12 v-middle">
          <p class="form-note fg-alternate"><span>{{ 'account.register.terms_html' | t }}</span></p>
          <button type="submit" class="medium keep-right">{{ 'account.register.submit' | t }}</button>
        </div>
      </div>

    </div>
  {% endform %}
</div>

<script>
  $(document).ready(function() {
    var registrationForm = 'form#create_customer';

    // Toggle required class on the DOB input
    $(registrationForm).find('#Newsletter').on('click', function(event) {
      //$('#DOB').toggleClass('required'); Disabled for this store -- birthday is always required for registration
    });

    // Registration validation
    $(registrationForm).on('submit', function(event) {
      var submit = true,
          hasBlankFields = false,
          required = '.required',
          email = '#CreateEmail',
          password = '#CreatePassword',
          passwordConfirm = '#CreatePasswordConfirm',
          errors = $('<ul class="errors"><span>Your password needs:</span></ul>');

      $(this).find('.errors').remove();
      $(this).find('.error').removeClass('error');

      {% include 'register-password-validation' %}

      if ($(this).find(password).val() !== $(this).find(passwordConfirm).val()) {
        submit = false;
        $(this).find(password).addClass('error').val('');
        $(this).find(passwordConfirm).addClass('error').val('');
        errors.append("<li>{{ 'account.form.errors.passwords' | t }}</li>");
      }

      $(this).find(required).each(function() {
        if ($(this).val() === '') {
          $(this).addClass('error');
          hasBlankFields = true;
        }
      });

      if (hasBlankFields) {
        submit = false;
        errors.append("<li>{{ 'account.form.errors.blank' | t }}</li>");
      }

      if (!submit) {
        event.preventDefault();
        $(this).prepend(errors);
      }

      if($("#Newsletter").is(':checked')) {
        $('#Responsys_event').attr('value','responsys_event_2');
        $('#Newsletter_optin').attr('checked',true);
      } else {
        $('#Responsys_event').attr('value','responsys_event_1');
      }

    });
  });
</script>
