<!-- /snippets/form-contact.liquid -->

<div id="ContactForm">
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'form.success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    {% assign name_attr = 'form.name' | t | handleize %}
    <label for="ContactFormName">{{ 'form.name' | t }}</label>
    <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

    <label for="ContactFormEmail">{{ 'form.email' | t }}</label>
    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

    {% assign name_attr = 'form.phone' | t | handleize %}
    <label for="ContactFormPhone" class="hidden">{{ 'form.phone' | t }}</label>
    <input class="hidden" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    {% assign name_attr = 'form.concerns' | t | handleize %}
    {% assign contact_options = 'Merchandise Order Inquiry,Magazine Order Inquiry,Returns or Exchanges,Order Status,My Account,Site Comments,Corporate Gifts,Other' | split: ',' %}
    <label for="ContactFormConcerns">{{ 'form.concerns' | t }}</label>
    <div class="block select-wrapper">
      <select class="wide" id="ContactFormConcerns" name="contact[{{ name_attr }}]">
        {% for option in contact_options %}
          <option value="{{ option }}"{% if form[name_attr] == option %} selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
      {% include 'icon' with 'down', icon_size: '20' %}
    </div>

    <label for="ContactFormMessage">{{ 'form.message' | t }}</label>
    <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="blue medium" value="{{ 'form.submit' | t }}">

  {% endform %}
</div>
