<!-- snippets/form-register-optionals.liquid -->
<div class="margin-top"> 
  <div class="row collapse l-table m-table">
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Animals</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Books</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Culture</label>
    </div>
  </div>
  <div class="row collapse l-table m-table">
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">DVDs</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">History</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Kids</label>
    </div>
  </div>
  <div class="row collapse l-table m-table">
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Maps</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Photography</label>
    </div>
    <div class="column l4 m6 s12">
      <input class="appearance-os" type="checkbox" name="customer_interests">
      <label class="clearfix h4 no-margin">Travel</label>
    </div>
  </div>
</div>