<!-- snippets/global-promos.liquid -->

{% for block in section.blocks %}
  {% if block.type == 'promo' %}
    {% assign display_promo = false %}
    {% assign no_exclusions = true %}
    {% assign promo_excludelinks = false %}

    {% if block.settings.exclude_link_list != blank %}
      {% for link in linklists[block.settings.exclude_link_list].links %}
        {% if link.url == collection.url %}
          {% assign no_exclusions = false %}
        {% endif %}
      {% endfor %}      
    {% endif %}

    {% if block.settings.global_display == '' %}
      {% assign display_promo = true %}
    {% elsif block.settings.global_display == 'link_list' %}
      {% for link in linklists[block.settings.global_link_list].links %}
        {% if link.url == collection.url %}
          {% assign display_promo = true %}
        {% endif %}
      {% endfor %}
    {% elsif block.settings.global_display == 'collection' %}
      {% if block.settings.global_collection == collection.handle %}
        {% assign display_promo = true %}
      {% endif %} 
    {% endif %} 

    {% if display_promo and no_exclusions == false %}
      {% assign promo_excludelinks = true %}
    {% endif %}

    {% if promo_excludelinks or display_promo %}
      {% unless block.settings.exclude_collection == collection.handle or no_exclusions == false %}
      <section class="container l" id="global-banner">
        <div class="m-hide s-hide desk-link">
        {% if block.settings.global_link != blank %}<a href="{{ block.settings.global_link }}" class="block">{% endif %}
          {% if block.settings.global_image != blank %}
            {% assign size = block.settings.global_image.width | append: 'x' %}
            <img class="s-hide" class="wide" src="{{ block.settings.global_image | img_url: size }}">
          {% endif %}
        {% if block.settings.global_link != blank %}</a>{% endif %}
        {% include 'popup-fineprints' %}
        </div>
      </section>
      {% endunless %}
    {% else %} 
    <style type="text/css">
      header[data-section-type="collection"]{
        margin: 15px 0; 
      }
    </style>
    {% endif %}

  {% endif %}
{% endfor %}