<!-- /snippets/magazine-pricing.liquid -->

{% comment %}
  For displaying the Pricings in the Magazine Pricing Columns
{% endcomment %}
{% assign pricing1 = block.settings.pricing1 %}
{% assign pricing2 = block.settings.pricing2 %}
{% assign pricing3 = block.settings.pricing3 %}
{% assign pricing4 = block.settings.pricing4 %}

<div class="padding-bottom">

	{% if pricing1 != blank %}
		<span class="no-margin padding-bottom w-bold pricings"><span class="price-text">{{ 'magazine.digital_pricing' | t }}</span>{{ 'magazine.currency_sign' | t }}{{pricing1}}</span>
	{% endif %}

	{% if pricing2 != blank %}
		<span class="no-margin padding-bottom w-bold pricings"><span class="price-text">{{ 'magazine.print_pricing' | t }}</span>{{ 'magazine.currency_sign' | t }}{{pricing2}}</span>
	{% endif %}

	{% if pricing3 != blank %}
		<span class="no-margin padding-bottom w-bold pricings"><span class="price-text">{{ 'magazine.digi_print_pricing' | t }}</span>{{ 'magazine.currency_sign' | t }}{{pricing3}}</span>
	{% endif %}

	{% if pricing4 != blank %}
		{% if block.settings.pricing4_link != blank %}
			<a href="{{block.settings.pricing4_link}}">
		{% endif %}
				<span class="no-margin padding-bottom w-bold pricings">
					<span class="price-text">{{ 'magazine.lifetime_pricing' | t }}</span>
					{{ 'magazine.currency_sign' | t }}{{pricing4}}<br/>
					{% if block.settings.pricing4_link != blank %}{{ 'magazine.lifetime_edition' | t }}{% endif %}
				</span>
		{% if block.settings.pricing4_link != blank %}
			</a>
		{% endif %}
	{% endif %}

	{% if pricing1 == blank and pricing2 == blank and pricing3 == blank and pricing4 == blank %}
		<span class="no-margin padding-bottom w-bold pricings">See order pages for pricing</span>
	{% endif %}

</div>
