<!-- /snippets/popup-ezprints.liquid -->

{% comment %}
  Displays the product customiser app.
{% endcomment %}

<div id="PopupEzPrints" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">

      <div id="ezPrintsContainer"></div>

      <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
    </div>
  </div>
</div>

<script>
  var ezPrintsPopup = new Focus('#PopupEzPrints');
</script>
