<!-- /snippets/popup-shippingrates.liquid -->

{% comment %}
  Displays the shipping rates
{% endcomment %}
{% for block in section.blocks %}
  {% if block.type == 'feature' %}
    {% assign display = false %}

    {% if block.settings.display == '' or block.settings.display_on == blank %}
      {% assign display = true %}
    {% elsif block.settings.display == 'tag' %}
      {% if product.tags contains block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'type' %}
      {% if product.type == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% elsif block.settings.display == 'vendor' %}
      {% if product.vendor == block.settings.display_on %}
        {% assign display = true %}
      {% endif %}
    {% endif %}

    {% if display %}
      <div class="product-feature">
        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            <a class="block" {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %}>
          {% endif %}
        {% endif %}

        {% unless block.settings.image == blank %}
          {% assign size = block.settings.image.width | append: 'x' %}
          <img class="v-middle" src="{{ block.settings.image | img_url: size }}">
        {% endunless %}

        {% unless block.settings.content == blank %}
          <div class="inline rte v-middle">{{ block.settings.content }}</div>
        {% endunless %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% unless block.settings.link_text == blank %}
            <p class="inline no-margin v-middle h6"><a {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup }}"{% else %}href="{{ block.settings.link }}"{% endif %} class="fg-alternate w-normal">{{ block.settings.link_text }}</a></p>
          {% endunless %}
        {% endif %}

        {% if block.settings.link != blank or block.settings.popup != blank %}
          {% if block.settings.link_text == blank %}
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

