<!-- /snippets/popup-cart.liquid -->

{% comment %}
  This snippets adds the ability to display the cart contents on any shopify page.
  Dependencies:
   - Handlebars
{% endcomment %}

<div id="PopupCart" class="popup outset sticky">
  <div class="popup-inner">
    <div class="popup-content fg-text palette left">
      <div class="items">
        <div class="table margin-bottom">
          <div class="l12">
            <h3 class="header">{{ 'cart.header' | t }}</h3>
          </div>
        </div>

        <div class="cart-table-wrapper margin-bottom" data-item-container>
          {% for item in cart.items %}
            <div class="row cart-item table collapse">
              <div class="column l12 m6 s8 v-top">
                <div class="row table collapse">
                  <div class="column l5 v-top">
                    <div class="product-image">
                      {% if item.properties.ezp_thumbnail %}
                        <div class="ratio" data-ratio="1:1" style="background-image:url({{ item.properties.ezp_thumbnail }})"></div>
                      {% else %}
                        {% if item.image %}
                          <div class="ratio" data-ratio="1:1" style="background-image:url({{ item.image | img_url: '200x' }})"></div>
                        {% else %}
                          <div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="column l7 v-top">
                    <p >
                      <a class="cart-title" href="{{ item.url }}">{{ item.title }}</a>
                    </p>

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}

                    <p class="personalization-title no-margin">Personalization:</p>
                    <div class="personalization">
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                           <span class="{{ p.first }}">{{ p.last }}</span>
                        {% endunless %}
                      {% endfor %}
                    </div>
                    {% endif %}

                    <p class="no-margin">{{ 'cart.popup.quantity' | t }}: {{ item.quantity }}</p>
                    <p class="no-margin">
                      {{ item.price | money_with_currency }}

                      {% if item.variant.compare_at_price > item.price %}
                        <p class="no-margin" id="OnSale">
                          <i id="ComparePrice"><span>Original Price: {{ item.variant.compare_at_price | money }}</span></i>
                        </p>

                        <p class="no-margin t-lowercase">(Save {{ item.variant.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.variant.compare_at_price | round }}%)</p>

                      {% endif %}

                      {% if item.total_discount > 0 %}
                        <p class="no-margin">
                          {% if item.line_price != 0 %}{{ item.line_price | money_with_currency  }}{% else %}Free{% endif %}
                          <span> </span>
                          <s class="small">{{ item.original_line_price | money_with_currency }}</s>
                        </p>
                        {% for discount in item.discounts %}
                          <small class="no-margin">{{ discount.title }}</small><br>
                        {% endfor %}
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <p class="fg-alternate center h6 w-normal">{{ 'cart.empty' | t }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="subtotal-wrapper">
        <span>Your <span class="w-bold" data-cart-item-count>{{ cart.item_count }}</span> item subtotal:</span>
        <span class="keep-right w-bold fg-text total-price" data-cart-total>{{ cart.total_price | money }}</span>
      </div>
      <div class="padding-top padding-bottom">
        <div class="row collapse table">
          <div class="column l6 m6 s12 s-center v-middle">
            <a class="medium" href="/cart" aria-label="{{ 'cart.view_cart' | t }}">{{ 'cart.view_cart' | t }}</a>
          </div>
          <div class="column l6 right v-middle s-hide">
            <a href="/checkout"  id="minicart-checkout-link" class="button medium blue w-bold" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a>
          </div>
        </div>
        {% for line_item in cart.items %}
            {% if line_item.sku == 'NGO2004339' and line_item.quantity > 5 %}
            {% assign dna_limit = true %}
            {% endif %}
            {% endfor %}
        <div class="row collapse table s-show">
          <div class="column l12 center">
            <a href="/checkout" id="minicart-checkout-link" class="button medium blue w-bold margin-top" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a>
          </div>
        </div>
        <a href="#close" class="popup-close" data-close data-target="#PopupCart.popup" aria-label="{{ 'common.close' | t }}"><img src="{{ 'cart-close.png' | asset_url }}"></a>
      </div>
    </div>
  </div>
  {% raw %}
  <script data-cart-template type="text/x-handlebars-template">
    <div class="row cart-item collapse">
      <div class="column l12 m12 s8 v-top">
        <div class="row collapse">
          <div class="column l6 v-top">
            <div class="product-image">
              {{#if lineItem.properties.ezp_thumbnail}}
                <div class="ratio" data-ratio="1:1" style="background-image:url({{lineItem.properties.ezp_thumbnail}})"></div>
              {{else}}
                {{#if lineItem.image}}
                  <div class="ratio" data-ratio="1:1" style="background-image:url({{lineItem.image}})"></div>
                {{else}}
                  <div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="column l6 v-top">
            <p class="w-bold">
              <a class="lightblue" href="{{lineItem.url}}">{{lineItem.title}}</a>
            </p>

            <p class="no-margin s-show">{% endraw %}{{ 'cart.popup.quantity' | t }}:{% raw %} {{lineItem.quantity}}</p>
            <div class="column l12 v-top s-hide">
              <p class="no-margin">
                ${{formatMoney lineItem.price}}
              </p>
            </div>
            <div class="column l12 v-top s-hide clearfix">
              <p class="no-margin">{% endraw %}{{ 'cart.popup.quantity' | t }}:{% raw %} {{lineItem.quantity}}</p>
            </div>
            <div class="column l12 v-top s-right clearfix">
              {{#if lineItem.total_discount}}
                <p class="no-margin">
                  {{#if lineItem.line_price}}
                    ${{formatMoney lineItem.line_price}}
                  {{else}}
                    Free
                  {{/if}}
                  <span> </span>
                  <s class="small">${{formatMoney lineItem.original_line_price}}</s>
                </p>
                {{#each lineItem.discounts}}
                   <small class="no-margin">{{this.title}}</small><br>
                {{/each}}
              {{else}}
                <p class="no-margin clearfix">
                  ${{formatMoney lineItem.line_price}}
                </p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  {% endraw %}
</div>
<script>
  var cartPopup = new Focus('#PopupCart.popup');
</script>
<script type="text/javascript">
    var href = $("#minicart-checkout-link").attr("href");
    if( localStorage != undefined && localStorage.credit_card_code == 'National Geographic Credit Card Discount') {
      $("#minicart-checkout-link").attr("href", href+"?discount="+localStorage.credit_card_code);
    }
    
</script>
