<!-- /snippets/popup-fineprints.liquid -->

{% comment %}
  For dispaying Fine Prints/Details when necessary
{% endcomment %}
<div class="fineprints">
	{% if section.id == 'theme-header' %}
	<a data-trigger="popup" data-target="#Popup_fineprints_global">{{ 'home_page.global_banner_text' | t }}</a>
	{% elsif section.id == '1513725480924' %}
	<a data-trigger="popup" data-target="#Popup_fineprints_sliders">&nbsp;</a>
	{% endif %}
</div>
<div id="PopupFinePrints" class="popup overlay">
  <div class="popup-inner">
  </div>
</div>

<script>
  var finePrintsPopup = new Focus('#PopupFinePrints');
</script>