<!-- /snippets/popup-seeinside.liquid -->

{% comment %}
  For displaying See Inside when necessary
{% endcomment %}
{% assign no_dash = true %}
{% assign isbn = product.metafields.productinfo.ISBN %}

{% if isbn contains '-'%}
	{% assign no_dash = false %}
{% endif %}

{% if no_dash %}
<div class="see-inside-badge s-hide">
	<a id="see-inside"><img src="{{ 'seeinside-badge.png' | asset_url }}"></a>
</div>
<div data-trigger="popup" id="Popupseeinside" class="popup overlay">
  <div class="popup-inner">
  	<a href="#close" class="popup-close" data-close data-target="#Popupseeinside" aria-label="{{ 'common.close' | t }}">
		<span class="t-uppercase">{{ 'common.close' | t }} </span><img src="{{ 'cart-close.png' | asset_url }}">
	</a>
	<iframe id="atomic-insight-reader" src="https://insight.randomhouse.com/widget/v4/?width=600&amp;isbn={{isbn}}" scrolling="no" align="top"></iframe>	
  </div>
</div>
{% endif %}

<script>
	$(document).ready(function() {
		$('#see-inside').click(function(){
			$('#Popupseeinside').addClass('outset visible');
		});
		$('.popup.overlay').click(function(){
			console.log('clicks');
			$('#Popupseeinside').removeClass('outset visible');
		});
	});
</script>
