<!-- /snippets/popup-termsandconditions.liquid -->

{% comment %}
  For dispaying Terms and Conditions when necessary
{% endcomment %}
<div>I accept these 
	{%if product.handle contains 'u-s' or product.handle contains 'usa'%}
		<a data-trigger="popup" data-target="#Popup_termsandconditions_us">Terms &amp; Conditions</a>
	{% elsif collection.handle contains 'u-s' or collection.handle contains 'usa' %}
		<a data-trigger="popup" data-target="#Popup_termsandconditions_us">Terms &amp; Conditions</a>
	{% elsif product.handle contains 'canad' or product.handle contains 'international'%}
		<a data-trigger="popup" data-target="#Popup_termsandconditions_cni">Terms &amp; Conditions</a>
	{% elsif collection.handle contains 'canad' or collection.handle contains 'international' %}
		<a data-trigger="popup" data-target="#Popup_termsandconditions_cni">Terms &amp; Conditions</a>
	{% endif %}
</div>
<div id="PopupTermsAndConditions" class="popup overlay">
  <div class="popup-inner">
  </div>
</div>

<script>
  var termsandconditionsPopup = new Focus('#PopupTermsAndConditions');
</script>
