<!-- /snippets/popup-quicklook.liquid -->
<script type="text/javascript">
Handlebars.registerHelper('isPersonalized', function(productTitle, options){
  if( productTitle.indexOf('Personalized') != -1 || productTitle.indexOf('My Town') != -1 || productTitle.indexOf('Aerial') != -1 || productTitle.indexOf('Custom') != -1 ){
    return true;
  } else {
    return false;
  }
});
Handlebars.registerHelper('isGeno', function(productTitle, options){
  if( productTitle.indexOf('Genographic') != -1 ){
    return true;
  } else {
    return false;
  }
});
Handlebars.registerHelper('isCountry', function(arg1, arg2, options) {
  return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
});

Handlebars.registerHelper('isFreeGift', function(tagList, output) {
  let outputDefault = '';
  if(typeof tagList === 'string'){
    tagList = tagList.split(',');
  }
  let ii = tagList.length;
  while( ii > 0 ){
    ii--;
    if( tagList[ii] === 'IS-FREE-GIFT'){
      return output;
    }
  }
  return outputDefault;
});
</script>
<div id="PopupQuicklook" class="popup overlay" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="popup-overflow">
        <div id="Quicklook"></div>
      </div>
      <a href="#close" class="popup-close t-uppercase lightblue" data-close data-target="#PopupQuicklook" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }} <img src="{{ 'cart-close.png' | asset_url }}"></a>
    </div>
  </div>
</div>




<script id="QuicklookTemplate" type="text/x-handlebars-template">
{% raw %}
<div class="row collapsed no-margin">

<div class="column l5 m7 s12 collapsed relative">
<div id="ProductPhoto" class="margin-bottom">
{{#compare images.length '>' 0}}
{{#each images}}
<div class="product-image bg-foreground zoom-wrapper">
<img src="{{this}}">
</div>
{{/each}}
{{else}}
<div class="product-image bg-foreground">
<div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
</div>
{{/compare}}
</div>

{{#compare images.length '>' 1}}
<div id="ProductThumbs" class="row collapse s-hide">
{{#each images}}
<div class="column l3 m3 s6">
<div class="product-image bg-foreground thumbnail" data-thumbnail>
<div class="ratio" data-ratio="1:1" style="background-image:url({{this}})"></div>
</div>
</div>
{{/each}}
</div>
{{/compare}}
</div>

<div class="column l7 m5 s12 collapsed">
<div class="product-description-tabs">
<div class="tab-content margin-bottom-2x">
<div class="s-show active" data-accordion-toggle data-accordion-parent=".product-description-tabs">
{% endraw %}{{ 'product.overview' | t }}{% raw %}
</div>
<!-- Overview content -->
<div id="TabOverview" class="active" data-tab-content data-accordion-content>
<h1 class="no-margin w-bold"><a href="/products/{{handle}}">{{{ title }}}</a></h1>
{{#compare compare_at_price '>' price }}
<p>
{% endraw %}{{ 'product.our_price' | t }} {% raw %}<span class="money" id="OriginalProductPrice">{{ compare_at_price }}</span>
<span class="border">|</span>
{% endraw %}{{ 'product.on_sale_html' | t }} {% raw %}<span class="money" id="SaleProductPrice">{{ price }}</span></p>
{{else}}
<p>{% endraw %}{{ 'product.our_price' | t }} {% raw %}<span class="money" id="ProductPrice">{{ price }}</span></p>
{{/compare}}
<p>SKU:   {{{ metafields.sku.parent }}}</p>
<form id="AddToCartForm"  class=" {{#isFreeGift this.tags 'freegift-hidden'}}{{/isFreeGift}}">
<input type="hidden" value="{{ this.tags }}" name="tags">
<input type="hidden" value="{{ this.tags }}" name="properties[_tags]">
<input type="hidden" value="" name="properties[_isGiftBy]">
{{#compare (isPersonalized title) '==' false }}
<div class="product-variants">
{{#compare variants.length '>' 1}}
{{#compare variants.0.title '!=' "Default Title"}}
{{#each options}}
<select class="margin-bottom-2x hidden quicklookSelect" data-index="option{{inc @key}}">
<option value="">Select an option</option>
{{#each ../variants}}
<option value="{{this.title}}">{{this.title}}</option>
{{/each}}
</select>
{{/each}}
{{#each options}}
<div class="selector-wrapper js wide blue swatch">

{{#each ../variants}}
<label class="inline swatch-selector center" for="SingleOptionSelector-{{@index}}" data-value-index="{{@index}}"><span>{{this.title}}</span></label>
{{/each}}

</div>
{{/each}}
{{/compare}}
{{/compare}}
</div>
{{/compare}}

<div id="productFormContainer" >
{{#compare (isPersonalized title) '==' false }}
<label for="Quantity" class="no-margin inline w-normal v-middle">{% endraw %}{{ 'product.variants.quantity' | t }}{% raw %}</label>
<div class="quantity-adjust inline v-middle">
<div class="input-group-button">
<span class="input-number-decrement">-</span>
</div>
<input type="number" class="quantity" name="quantity" value="1" min="1" data-quick-add-quantity>
<div class="input-group-button">
<span class="input-number-increment">+</span>
</div>
{{#compare metafields.pre_order '==' true}}

{{else}}
{{#if variants.0.available}}
<span>Available, ready to ship.</span>
{{else}}
<span>Item is not available at this time.</span>
{{/if}}
{{/compare}}
</div>
{{/compare}}
<p class="no-margin padding-top">
{{#isCountry metafields.shipsto.country 'This item ships to the U.S.' }}
{{metafields.shipsto.country}}
{{/isCountry}}
{{#isCountry metafields.shipsto.country 'This item ships to the USA.' }}
{{metafields.shipsto.country}}
{{/isCountry}}

{{#isCountry metafields.shipsto.country 'This item ships to Canada.' }}
{{metafields.shipsto.country}}
{{/isCountry}}

{{#isCountry metafields.shipsto.country 'This item ships to the U.S. and Canada.' }}
{{metafields.shipsto.country}}
{{/isCountry}}
{{#isCountry metafields.shipsto.country 'This item ships to the USA and Canada.' }}
{{metafields.shipsto.country}}
{{/isCountry}}

{{#isCountry metafields.shipsto.country "This item ships to the USA , Canada, Antigua West Indies, Austria, Australia, Belgium, Brazil, Belize, Switzerland, Chile, Costa Rica, Colombia, Germany, Denmark, Ecuador, Spain, Finland, France, Honduras, Hungary, Ireland, Italy, Japan, Mexico, Nicaragua, Netherlands, New Zealand, Peru, Poland, Sweden, United Kingdom."}}
{% endraw %}
<div class="list">
This item ships to U.S., Canada and <a data-trigger="popup" data-target="#Popup_uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" id="uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="following t-underline">these countries.</a>
</div>

<div id="Popup_uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="popup overlay country_list_popup">
<div class="popup-inner">

<p>
<a href="#hide" class="popup-close t-uppercase lightblue" onclick="closeCountry(event)" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }} <img src="{{ 'cart-close.png' | asset_url }}"></a>

{% raw %}
{{metafields.shipsto.country}}
{% endraw %}
</p>
</div>
</div>
{% raw %}
{{/isCountry}}

{{#isCountry metafields.shipsto.country "This item ships to The U.s., , Canada, Antigua West Indies, Austria, Australia, Belgium, Brazil, Belize, Switzerland, Chile, Costa Rica, Colombia, Germany, Denmark, Ecuador, Spain, Finland, France, Honduras, Hungary, Ireland, Italy, Japan, Mexico, Nicaragua, Netherlands, New Zealand, Peru, Poland, Sweden, United Kingdom."}}
{% endraw %}
<div class="list">
This item ships to U.S., Canada and <a data-trigger="popup" data-target="#Popup_uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" id="uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="following t-underline">these countries.</a>
</div>

<div id="Popup_uscanint_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="popup overlay country_list_popup">
<div class="popup-inner">

<p>
<a href="#hide" class="popup-close t-uppercase lightblue" onclick="closeCountry(event)" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }} <img src="{{ 'cart-close.png' | asset_url }}"></a>

{% raw %}
{{metafields.shipsto.country}}
{% endraw %}
</p>
</div>
</div>
{% raw %}
{{/isCountry}}

{{#isCountry metafields.shipsto.country 'Antigua West Indies, Austria, Australia, Belgium, Brazil, Belize, Switzerland, Chile, Costa Rica, Colombia, Germany, Denmark, Ecuador, Spain, Finland, France, Honduras, Hungary, Ireland, Italy, Japan, Mexico, Nicaragua, Netherlands, New Zealand, Peru, Poland, Sweden, United Kingdom.' }}
{% endraw %}
<div class="list">
This item ships to U.S., Canada and <a data-trigger="popup" data-target="#Popup_international_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" id="international_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="following t-underline">these countries.</a>
</div>

<div id="Popup_international_{% raw %}{{{ metafields.sku.parent }}}{% endraw %}" class="popup overlay country_list_popup">
<div class="popup-inner">

<p>
<a href="#hide" class="popup-close t-uppercase lightblue" onclick="closeCountry(event)" aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }} <img src="{{ 'cart-close.png' | asset_url }}"></a>
{% raw %}
{{metafields.shipsto.country}}
{% endraw %}
</p>
</div>
</div>
{% raw %}
{{/isCountry}}
</p>
{{#compare (isPersonalized title) '==' false }}
<p class="inline">
{{#compare metafields.productinfo.customizable '==' 'yes'}}
<a class="button medium no-hover margin-top-2x" href="/products/{{handle}}">
{{{strings.customize}}}
</a>
{{else}}

<div class="addbuttons_error hidden" id="tcError">You must accept these Terms and Conditions</div>
<div class="padding-top-2x padding-bottom-2x keep-left terms-cond-box wide hidden" id="accpt_tandc">
<input type="checkbox" name="checkbox" value="check" id="agree">
<label for="agree" class="fg-text" id="termsandcondition_label"></label>
</div>
{{#compare (isGeno title) '==' true }}
<div class="wide keep-left">This product should only be purchased for those aged 18+.</div>
{{/compare}}
<style>
.swym-wishlist-button-bar {
  display: none !important;
}
.swym-wishlist-button-bar .swym-watchlist-cta {
  display: none !important;
}
</style>

{{#compare variants.length '>' 1}}
<button class="medium no-hover margin-top-2x" data-close data-target="#PopupQuicklook" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1" disabled>
<span class="AddToCartText"  data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
{{{strings.makeASelection}}}
</span>
</button>




{{else}}
<!-- data-close data-target="#PopupQuicklook" -->
<button class="medium no-hover margin-top-2x" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1">
<span class="AddToCartText" data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
{{#compare metafields.pre_order '==' true}}
{{{strings.preOrder}}}
{{else}}
{{#if variants.0.available}}
{{{strings.addToCart}}}
{{else}}
{{{strings.soldOut}}}
{{/if}}
{{/compare}}
</span>
</button>





{{/compare}}
{{/compare}}
</p>
{{/compare}}

{{#compare (isGeno title) '==' true }}
<p class="inline v-bottom"><a href="#" data-close data-target="#PopupQuicklook" onclick="genoViewMore()" class="lightblue details {{#compare (isPersonalized title) '==' true }} display-button {{/compare}}">View More Details</a></p>
{{/compare}}
{{#compare (isGeno title) '==' false }}
<p class="inline v-bottom"><a href="/products/{{handle}}" class="lightblue details {{#compare (isPersonalized title) '==' true }} display-button {{/compare}}">View More Details</a></p>
{{/compare}}





</div>
</form>
</div>
</div>

</div>

</div>


<div class="column l12 m12 s12">
<div class="quicklook-description"><p>{{{ this.description }}}</p></div>
{{#compare (isGeno title) '==' true }}
<div><p><a href="#" class="view-more underline" data-close data-target="#PopupQuicklook" onclick="genoViewMore()">View More</a></p></div>
{{/compare}}
{{#compare (isGeno title) '==' false }}
<div><p><a href="/products/{{handle}}" class="view-more underline">View More</a></p></div>
{{/compare}}
</div>
</div>
{% endraw %}


</script>




<!--  AddedToCart popup. This popup is displayed after product is added to cart from quicklook window  -->
<div id="AddedToCartPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
        <h2>Added to Cart</h2>
      </div>
      <div class="container">
        <div>
          <ul class="itemList">
            <li class="item">
              <div class="itemImage">
                <a id="product_url" href="#">
                  <div class="productImage">
                    <img id="feature-img" src="https:{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" width="130" height="130">
                  </div>
                </a>
              </div>
              <div class="itemInfo">


                <h3>
                  <a href="#" id="product_title">{{ product.title | escape }}<span id="added_product_variant_type"></span></a>
                </h3>
                <!-- <p>Item#&nbsp;<span id="addedToCart_sku">{{ product.metafields.sku.parent  }}</span></p> -->
                <p>Qty:&nbsp;<span id="addedToCart_qty"></span></p>
                <p>Price:&nbsp; $<span id="addedToCart_price"></span></p>
                {% if current_variant.compare_at_price > current_variant.price %}<p class="discount"><em>Original Price: <span id="addedToCart_original_price">{{ product.compare_at_price | money }}</span></em></p>{% endif %}
                <p></p>
                <p class="availability">{% if current_variant.available %}
                  {% if product.metafields.preorder.date != blank %}
                  <span class="t-lowercase">{{ product.metafields.preorder.date }}</span>
                  {% elsif product.metafields.shipping.days != blank %}
                  <span class="w-bold">{{product.metafields.shipping.days}}</span>
                  {% else %}
                  Available
                  {% endif %}
                  {% endif %}</p>
                </div>
              </li>
            </ul>
            <div class="cartInfo">
              <p># of Items in Cart: <span id="cart_item_count" data-cart-item-count></span></p>
              <p>Subtotal: <span id="cart_subtotal" data-cart-total></span></p>
              <div class="viewCart">
                <p><a class="add_to_cart_view_cart" href="/cart">View Full Cart</a></p>
                <a class="checkout" href="/checkout"><img border="0" title="Checkout" alt="Checkout &#9658;" src="https://cdn.shopify.com/s/files/1/2959/2384/files/btn_checkout.gif"></a>
              </div>
            </div>
          </div>
        </div>
        <a href="#close" class="popup-close" id="close_added_to_cart_popup" data-close aria-label="Close">
          close <img src="//cdn.shopify.com/s/files/1/2959/2384/t/20/assets/cart-close.png?16228280012142088627">
        </a>
      </div>
    </div>
  </div>
  <div id="AddedToCartMobilePopup" class="popup overlay outset" role="alert">
    <div class="popup-inner">
      <div class="popup-content">
        <div class="header">
          <h2><span id="mobile_item_quantity"></span> item(s) added to cart</h2>
        </div>
        <div class="container">
          <a class="checkout" href="/checkout">Checkout &#9658;</a>
          <a href="#close" id="popup_continue_shopping_mobile">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>

  <!-- end -->



  <script>
  // Email validation
  function isQuicklookEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }

  function genoViewMore() {
    $('html, body').animate({
      scrollTop: $('#MainContent > div#shopify-section-template-collection-geno > div.container.geno').offset().top
    }, 1000);
  }
  function closeCountry(event){
    $('.country_list_popup').removeClass('visible');
  }

  if ($('.sweet-alert').hasClass('visible') || $('.swal2-popup').css('display', 'flex')) {
     $('#AddedToCartPopup').css('display', 'none');
    }

  $(document).ready(function() {
    concrete.quickLook = {
      settings: {
        popup: '#PopupQuicklook',
        trigger: '[data-quicklook]',
        container: '#Quicklook',
        template: '#QuicklookTemplate',
        addToCartText: '.AddToCartText',
        images: {
          currentSlide: 0,
          container: '#ProductPhoto'
        }
      },
      images: function() {
        $(concrete.quickLook.settings.images.container).slick(concrete.quickLook.settings.images.slick);
        concrete.quickLook.thumbnails(concrete.quickLook.settings.container);
      },
      thumbnails: function(target) {
        $(target).find('[data-thumbnail]').on({
          mouseenter: function() {
            var currentSlide = $(concrete.quickLook.settings.images.container).slick('slickCurrentSlide');
            concrete.quickLook.settings.images.currentSlide = currentSlide;
            var index = $(this).closest('.column').index();
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          },
          mouseleave: function() {
            var index = concrete.quickLook.settings.images.currentSlide;
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          },
          click: function() {
            $('[data-thumbnail]').removeClass('active');
            $(this).addClass('active');
            var index = $(this).closest('.column').index();
            concrete.quickLook.settings.images.currentSlide = index;
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          }
        });
      },
      init: function() {
        var quicklookPopup = new Focus(concrete.quickLook.settings.popup);

        $(document).on('focus:close', function(event, target) {
          if (target == concrete.quickLook.settings.popup) {
            setTimeout(function() {
              $(concrete.quickLook.settings.popup).find('.slick-initialized').slick('unslick');
              $(concrete.quickLook.settings.container).empty();
            }, {{ settings.transition_speed }});
          }
        });


        $('body').on('click', concrete.quickLook.settings.trigger, function(event) {
          event.preventDefault();
          // Get the id of the product that we wish to load
          var productSelector = $(this).data('quicklook');

          // We use this as a selector for productSlick
          var quicklookObject = $(this);


var mySelectors = { SKU:'.variant-sku'};


          // This element stores our product json
          var product = $('pre[data-product="'+ productSelector +'"]').first().text();
          var metafields = $('pre[data-metafields="'+ productSelector +'"]').first().text();
          product = $.parseJSON(product);
          metafields = $.parseJSON(metafields);
          product.metafields = metafields;
          product.strings = concrete.strings;

          $('#product_title').text(productSelector);

          // Parse our data froma string to valid JSON
          var context = product;

          // Get the Handlebars template
          var source = $(concrete.quickLook.settings.template).html();

          // Compile our product JSON with the template
          var template = Handlebars.compile(source);

          // Return the html
          var html = template(context);

          // Update the popups html
          $(concrete.quickLook.settings.container).html(html);


           // Format all of the money$ - these need to be wrapped in <span class="money">
           $(concrete.quickLook.settings.container).find('#ProductPhoto.product-image img').each(function() {
            var img = $(this).html();

            $('.productImage img').html(img);

          });


          // Format all of the money$ - these need to be wrapped in <span class="money">
          $(concrete.quickLook.settings.container).find('span.money').each(function() {
            var money = $(this).text();

           /* $('#addedToCart_price').text(money);*/
            $(this).html(concrete.Currency.formatMoney(money));
          });

          // Initialize the slick slideshow inside the popup
          concrete.quickLook.images();

          // Init qty selectors
          $('#addedToCart_qty').html('1');
          $('#mobile_item_quantity').html('1');
          $(concrete.quickLook.settings.container).find('[data-quick-add-quantity]').on('input, change', function(event) {
            var newQty = $(this).val();
            $(concrete.quickLook.settings.container).find('[data-pseudo-quick-add-quantity]').val(newQty);
            $(concrete.quickLook.settings.container).find('[data-quick-add-qty]').attr('data-quick-add-qty', newQty);
            $('#addedToCart_qty').html(newQty);
            $('#mobile_item_quantity').html(newQty);
          });

          // Init pseudo quantity selectors
          $(concrete.quickLook.settings.container).find('[data-pseudo-quick-add-quantity]').on('input, change', function(event) {
            var newQty = $(this).val();
            $(concrete.quickLook.settings.container).find('[data-quick-add-quantity]').val(newQty);
            $(concrete.quickLook.settings.container).find('[data-quick-add-qty]').attr('data-quick-add-qty', newQty);
          });

          // Construct the dropdown to be a legitamte option selector
          options = {
            // This need to be an overarching elemnt that always exists
            $container: $(concrete.quickLook.settings.popup),
            // Don't change the url to match the variant in the quicklook context
            enableHistoryState: false,
            // This is the dropdown itself
            singleOptionSelector: '.quicklookSelect',
            // this is our product json
            product: context
          }
          // construct!
          var variantSwitcher = new concrete.Variants(options);

          // Variant select onChange
          $(document).on('change', '.quicklookSelect', function() {
            var option = $(this).data('index');
            var value = $(this).val();
            $(concrete.quickLook.settings.popup).find('.pseudoQuicklookSelect[data-index="'+option+'"]').val(value);
          });
          // Pseudo variant select onChange
          $(document).on('change', '.pseudoQuicklookSelect', function() {
            var option = $(this).data('index');
            var value = $(this).val();
            $(concrete.quickLook.settings.popup).find('.quicklookSelect[data-index="'+option+'"]').val(value);
            variantSwitcher._onSelectChange();
          });

          // Do what needs doing when the variant is changed
          $(concrete.quickLook.settings.popup).on('variantChange', function(event) {
            if (event.variant) {
              $('#raincheckQuicklookProductID').val(event.variant.id);
              // Update the quick-add button to contain the correct variant
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').data('quick-add', event.variant.id);

              // Check if out variant is sold out or not and change the button to suit
              if (event.variant.available) {
                $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", false).find(concrete.quickLook.settings.addToCartText).html($(concrete.quickLook.settings.popup).find('[data-quick-add]').find(concrete.quickLook.settings.addToCartText).data('add-text'));
                $("#raincheckQuicklookContainer").hide();
                $("#productFormContainer").show();
              } else {
                $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", true).find(concrete.quickLook.settings.addToCartText).html(concrete.strings.soldOut);
                $("#raincheckQuicklookContainer").show();
              }
            } else {
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", true).find(concrete.quickLook.settings.addToCartText).html(concrete.strings.makeASelection);
            }
          });

          // Disable the add to cart button when we switch back to the "Select an option" option
          options.$container.on('change', options.singleOptionSelector, function() {
            if ($(this).val() == '') {
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop('disabled', true);
            }
          });

          quicklookPopup.show();

          //Nat Geo Tealium Ajax Tracking
          productQuickViewEvent.page_name = "natgeo:web:shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}:" + context.title;
          productQuickViewEvent.page_type = "shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}:product quick view";
          $(document).trigger('analytics_pv_product_quickview', productQuickViewEvent);

          if ($('input[name="quantity"].quantity').val() <= 1 ){
            $('.input-number-decrement').addClass('disabled');
          }

          $('.input-number-increment').on('click', function() {
            var val = parseInt($('input[name="quantity"].quantity').val());

            $('input[name="quantity"].quantity').val(val +1);

            if($('input[name="quantity"].quantity').val() > 1){
              $('.input-number-decrement').removeClass('disabled');
            }
            $('input[name="quantity"].quantity').change();
          });

          $('.input-number-decrement').on('click', function() {
            if ($('input[name="quantity"].quantity').val() <= 1 ){

            }
            else if ($('input[name="quantity"].quantity').val() == 2 ){
              $('.input-number-decrement').addClass('disabled');
              var val = parseInt($('input[name="quantity"].quantity').val());
              $('input[name="quantity"].quantity').val(val - 1);
              $('input[name="quantity"].quantity').change();
            }else{
              var val = parseInt($('input[name="quantity"].quantity').val());
              $('input[name="quantity"].quantity').val(val - 1);
              $('input[name="quantity"].quantity').change();
            }
          });

          $('.swatch-selector').click(function(){
            $('.swatch-selector').removeClass('active');
            $(this).addClass('active');
            $('.select_error').css('display', 'none');
            $('#btn-add-to-cart.inline').css('opacity', '1');
            var optionToSelect = parseInt($(this).attr('data-value-index'))+1;
            $('.quicklookSelect>option:eq('+optionToSelect+')').prop('selected',true);
            $('.quicklookSelect').change();
          });

          if($('#label_termsandcondition').length > 0){
            $('#termsandcondition_label').html($('#label_termsandcondition').html());
            $('#Popup_termsandconditions_us').css('z-index',9999);
            $('#Popup_termsandconditions_cni').css('z-index',9999);
            var description = $('.quicklook-description').html().replace(/<(.|\n)*?>/g, '');
            $('.quicklook-description').html('<p>'+description+'</p>' );
            $('#accpt_tandc').removeClass('hidden');
            $('[data-quick-add]').click(function(event) {
              if ($('#agree')[0].checked) {
               $('.addbuttons_error').css('display', 'none');
               $('.terms-cond-box').removeClass('error');
               return true;
             } else{
               event.preventDefault();
               $('.addbuttons_error').css('display', 'block');
               $('.terms-cond-box').addClass('error');
               return false;
             }
           });
          }

        })
}
}

concrete.quickLook.init();

});

/*close popup on click*/
$('#PopupQuicklook').on('click',  function(e)
{
  var container = $("#PopupQuicklook .popup-content");

    // if the target of the click isn't the container
    if (!container.is(e.target) && container.has(e.target).length === 0)
    {

      $('body').removeClass('active-popup');
      $('#PopupQuicklook').removeClass('visible');

    }
  });

</script>
