<!-- snippets/product-description.liquid -->

{% comment %}
  Product info tabs and accordions.

  Desktop view has tabs and mobile views have accordion.

  The tabs require an id to fire correctly

  The accordion needs to be after the tab in the DOM to fire correctly.
{% endcomment %}
<div class="product-description">
  {% if has_tabs %}
    <div class="tab-toggles">
      {% if tabs and product_tabs != blank %}
      {% else %}
        {% comment %}
          Overview description tab button
        {% endcomment %}
        <div class="overview {% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">{{ 'product.overview' | t }}</div>
        <div class="overview-content {% unless active_tab %} active{% endunless %}" data-accordion-content>
          <div class="rte" itemprop="description">
            <p>
              {{ product.description }}
            </p>
          </div>
        </div>
        {% assign active_tab = true %}

        {% comment %}
          Closed Tabs
        {% endcomment %}
        {% comment %}
          Details Tabs
        {% endcomment %}
        {% assign contents = product.metafields.content %}
        {% for content in contents %}
          {% assign top_content = content | first | remove: '1' | remove: '2' | remove: '3'| remove: '4'| remove: '5'| remove: '6'| remove: '7'| remove: '8'| remove: '9'| remove: '0' | split: '_' %}
          {% assign first_content = top_content | sort %}
          {% assign last_content = content | last %}
          <div class="details{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
            <span class="first_content">{{ first_content }}</span>
          </div>
          <div class="details-content{% unless active_tab %} active{% endunless %}" data-accordion-content>
            <div class="rte">
              {{ last_content }}
            </div>
          </div>
        {% endfor %}
        {% comment %}
          Size chart tab content
        {% endcomment %}
        {% if product.metafields.productinfo.size_chart != blank %}
          <div id="TabSizeChart" class="size-charts{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
            {{ 'product.size_chart' | t }}
          </div>
          <div class="size-content{% unless active_tab %} active{% endunless %}" data-accordion-content>
            <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

            </div>
          </div>
        {% endif %}
        {% assign active_tab = false %}
      {% endif %}


    {% comment %}
      Tab contents
    {% endcomment %}
    <div class="tab-content margin-bottom-2x 9">
      {% if tabs and product_tabs != blank %}
        {% for tab in product_tabs %}
          <div id="TabDescription_{{ forloop.index }}" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
            <div class="rte" itemprop="description">
              {% if tab contains '</h4>' %}
                {{ tab | split: '</h4>' | last }}
              {% else %}
                {{ tab }}
              {% endif %}
            </div>
          </div>
          {% assign active_tab = true %}
        {% endfor %}
      {% else %}
        {% comment %}
          {% unless product_description == blank %}
            <div id="TabDescription" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
              <div class="rte" itemprop="description">
                {% unless product_description contains '<p' %}<p>{% endunless %}
                  {{ product_description }}
                {% unless product_description contains '<p' %}</p>{% endunless %}
              </div>
            </div>
            {% assign active_tab = true %}
          {% endunless %}
        {% endcomment %}

        {% comment %}
          Description/Overview tab content
        {% endcomment %}
        {% assign active_tab = true %}
      {% endif %}

      {% comment %}
        Movie specifications tab content
      {% endcomment %}
      {% if product.variants[0].metafields.variantinfo.runtime != blank or product.variants[0].metafields.variantinfo.format != blank %}
        <div id="TabFilmDetails" class="13{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte">
            <p>
              {% if product.variants[0].metafields.variantinfo.runtime != blank %}
                <strong>Running Time:</strong> {{ product.variants[0].metafields.variantinfo.runtime }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.format != blank %}
                <strong>Format:</strong> {{ product.variants[0].metafields.variantinfo.format }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.packaging_type != blank %}
                <strong>Box Type:</strong> {{ product.variants[0].metafields.variantinfo.packaging_type }}<br>
              {% endif %}
            </p>
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% comment %}
        Size chart tab content
      {% endcomment %}
      {% if product.metafields.productinfo.customizable == 'yes' %}
        <div id="TabPersonalize" class="14{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte">

          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% for block in section.blocks %}
        {% if block.type == 'tab' %}
          {% assign display = false %}

          {% if block.settings.display == '' or block.settings.display_on == blank %}
            {% assign display = true %}
          {% elsif block.settings.display == 'tag' %}
            {% if product.tags contains block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'type' %}
            {% if product.type == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'vendor' %}
            {% if product.vendor == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% endif %}

          {% if display %}
            <div id="TabBlock_{{ block.id }}" class="15{% unless active_tab %} active{% endunless %}" data-tab-content>
              {% if pages[block.settings.page].content != blank %}
                <div class="rte">{{ pages[block.settings.page].content }}</div>
              {% else %}
                <div class="rte">{{ block.settings.content }}</div>
              {% endif %}
            </div>
            {% assign active_tab = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="rte margin-bottom-2x" itemprop="description">
      <p>{{ product.description }}</p>
    </div>
  {% endif %}
</div>

<script>
  $(document).on('ready', function() {
    $("[data-include-content]").each(function() {
      var file = $(this).data('include-content');
      $(this).load(file);
    });
  });
</script>
