<!-- snippets/product-collection-nav.liquid -->

{% if collection %}
  {% if collection.previous_product or collection.next_product %}
    <p class="breadcrumb no-margin s-hide">
      {% if collection.previous_product %}
        <span class="left">
          {{ 'common.pagination.previous' | t | link_to: collection.previous_product }}
        </span>
      {% endif %}
      {% if collection.previous_product and collection.next_product %}<span> | </span>{% endif %}
      {% if collection.next_product %}
        <span class="right">
          {{ 'common.pagination.next' | t | link_to: collection.next_product }}
        </span>
      {% endif %}
    </p>

    <div class="row collapse s-show">
      <div class="column l6 left">
        {% if collection.previous_product %}
          <span>
            {{ 'common.pagination.previous' | t | link_to: collection.previous_product }}
          </span>
        {% endif %}
      </div>
      <div class="column l6 right">
        {% if collection.next_product %}
          <span>
            {{ 'common.pagination.next' | t | link_to: collection.next_product }}
          </span>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
