<!-- /snippets/popup-shippingrates.liquid -->

{% comment %}
  Displays the shipping rates
{% endcomment %}

<div id="PopupShippingRates" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">

      <div id="shippingRatesContainer"></div>

      <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
    </div>
  </div>
</div>

<script>
  var ezPrintsPopup = new Focus('#PopupShippingRates');
</script>
