<!-- snippets/section-collection-landing-collection.liquid {{ link }} {{ image }}-->

{% if link contains '/collections/' %}
  {% assign collection_handle = link | remove: '/collections/' %}
  {% assign collection_block = collections[collection_handle] %}
  <a href="{{ collection_block.url }}" title="{{ collection_block.title }}">
    {% if image != blank %}
      <img class="wide" src="{{ image | img_url: '800x800'}}" alt="{{ collection_block.title }}">
    {% elsif collection_block.image != blank %}
      <img class="wide" src="{{ collection_block.image | img_url: '800x800'}}" alt="{{ collection_block.title }}">
    {% else %}
      {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
      <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
    {% endif %}
  </a>
{% elsif link contains '/products/' %}
  {% assign product_handle = link | remove: '/products/' %}
  {% assign product_block = all_products[product_handle] %}
  <a href="{{ product_block.url }}" title="{{ product_block.title }}">
    {% if image != blank %}
      <img class="wide" src="{{ image | img_url: '800x800'}}" alt="{{ product_block.title }}">
    {% elsif product_block.featured_image != blank %}
      <img class="wide" src="{{ product_block.featured_image | img_url: '800x800'}}" alt="{{ product_block.title }}">
    {% else %}
      {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
      <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
    {% endif %}
  </a>
{% else %}
  <a href="{{ link }}" title="{{ block.settings.heading }}"{% if link contains 'http' %} target="_blank"{% endif %}>
    {% if image != blank %}
      <img class="wide" src="{{ image | img_url: '800x800'}}" alt="{{ block.settings.heading }}">
    {% else %}
      {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
      <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
    {% endif %}
  </a>
{% endif %}
