<!-- /snippets/collection-product.liquid -->

{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign price = product.price | money %}

{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Let's check if this product is on sale, if it is we'll calculate the total savings
  If savings are less than 50% of the product's price, we'll show the saving in dollars
  Otherwise, we'll show the savings as a percentage
{% endcomment %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% assign compare_price_decimal = product.compare_at_price | plus: 0.00 %}
  {% assign price_decimal = product.price | plus: 0.00 %}
  {% assign percentage = price_decimal | divided_by: compare_price_decimal | times: 100 %}
  {% if percentage <= 50 %}
    {% assign savings = 100 | minus: percentage | round | append: '%' %}
  {% else %}
    {% assign savings = product.compare_at_price | minus: product.price | money | append: '!' %}
  {% endif %}
{% endif %}

<div class="{{ column_width }} collection-product{% if sold_out %} sold_out{% endif %}{% if on_sale %} on_sale{% endif %}">

  <a class="product-image" href="{{ product.url | within: collection }}">
    <div class="relative bg-foreground ratio" data-ratio="1:1">
      {% if product.featured_image %}
        <div class="overlay background-image contain" style="background-image:url({{ product.featured_image | img_url: '800x800' }})"></div>
      {% else %}
        {%- capture placeholder -%}
          {%- cycle '1','2','3','4','5','6' -%}
        {%- endcapture -%}
        <div class="overlay placeholder-background-product-{{ placeholder }}"></div>
      {% endif %}
    </div>

    <div class="product-info">
      <h5 class="product-name">{{ product.title }}</h5>

      <p class="pricing">
        {% if on_sale %}
          <span id="OnSale">
            <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
          </span>
        {% endif %}
        {% if product.price_varies %}
          {{ product.price_min | money }} - {{ product.price_max | money }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      </p>

    </div>
  </a>

</div>
