<script src="//tags.tiqcdn.com/utag/fox/natgeo/prod/utag.sync.js"></script>

<script type="text/javascript">
var utag_data = {
  platform_version: "natgeo shop|v1 (1)",
  taxonomy_tag_source: "no content source",
  taxonomy_tag_first_subject_ancestor: "no first subject ancestor",
  taxonomy_tag_first_subject: "no first subject",
  taxonomy_tag_series: "no series",
  taxonomy_tag_page_type: "no page type",
  taxonomy_tag_ad_keywords: "no ad keywords",
  taxonomy_tag_other_subjects: "no other subjects",
  taxonomy_tag_locations: "no locations",
  taxonomy_tag_genres: "no genres",
  taxonomy_tag_people: "no people",
  taxonomy_tag_organizations: "no organizations",
  taxonomy_tag_events: "no events",
  taxonomy_tag_concepts: "no concepts",
  taxonomy_tag_audiences: "no audiences",
  taxonomy_tag_edit_mode: "no edit mode",
  content_author: "no author",
  content_publish_date: "no publish date",
  content_title: "no title",
  photo_gallery_name: "no gallery name",
  photo_name: "no photo name",
  membership_state: "logged_out",
  membership_id: "",
  email_id: "",
  isBeta: "",
  page_name: "natgeo:web:shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}{% if product.title %}:{{ product.title }}{% endif %}",
  contentLevel1: "natgeo:web:shop",
  contentLevel2: "natgeo:web:shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}",
  contentLevel3: "natgeo:web:shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}",
  contentLevel4: "natgeo:web:shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}",
  page_type: "shop{% if collection.url %}:{{ collection.url | remove: '/collections/' }}{% endif %}{% if template contains 'product' %}:product detail{% endif %}"
};
var productQuickViewEvent = utag_data;
</script>

<script type="text/javascript">
    (function(a,b,c,d){
    a="//tags.tiqcdn.com/utag/fox/natgeo/prod/utag.js";
    b=document;c="script";d=b.createElement(c);d.src=a;d.type="text/java"+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>
