<!-- /snippets/template-collection-eagle-creek-adventure.liquid -->
<div class="container l block clearfix eagle">
	<div class="row collapse">
	{% for block in section.blocks %}

	{% comment %} Banners {% endcomment %}
	{% unless block.settings.banner_image == blank %}
		<div class="column l12 m12 s12"{% unless block.settings.banner_link != blank %} id="ec-banner"{% endunless %}>
			{% unless block.settings.banner_link == blank %}
			<a href="{{block.settings.banner_link}}">
			{% endunless %}
				<img id="banner" src="{{ block.settings.banner_image | img_url: '996x996'}}" alt="" class="inline l12 m12{% if block.settings.mob_banner_image != blank %} s-hide{% else %} s12{% endif %}">

			{% unless block.settings.mob_banner_image == blank %}
				<img id="banner" src="{{ block.settings.mob_banner_image | img_url: '996x996'}}" alt="" class="inline l-hide m-hide s-show">
			{% endunless %}

			{% unless block.settings.banner_link == blank %}
			</a>
			{% endunless %}
		</div>
	{% endunless %}

	{% comment %} Header Title {% endcomment %}
	{% unless block.settings.header_title == blank %}
		<div class="column l12 m12 s12 ec-text">
			<h1>{{ block.settings.header_title}}</h1>
		</div>
	{% endunless %}

	{% comment %} Paragraphs {% endcomment %}
	{% unless block.settings.paragraphs == blank %}
		<div class="column l12 m12 s12 ec-text">
			<div class="paragraphs">{{block.settings.paragraphs}}</div>
		</div>
	{% endunless%}

	{% comment %} Iframe or HTML {% endcomment %}
	{% unless block.settings.html == blank %}
		<div class="column l12 m12 s12">
			<div id="ec-vid">{{block.settings.html}}</div>
		</div>
	{% endunless %}

	{% comment %} Product Grid {% endcomment %}
	{% unless block.settings.product_collection == blank %}
		<div class="column l12 m12 s12 product-grid" id="product-grid">
			{% assign product_collection = block.settings.product_collection %}
			{% assign all_product = collections[product_collection] %}
	        {% for product in all_product.products limit: block.settings.product_limit %}
	        	{% include 'collection-product' %}
	        {% endfor %}
	    </div>
   	{% endunless %}

	{% endfor %}
	</div>
</div>

<script type="text/javascript">
 	$(document).ready(function() {
 		$('#ec-banner').on('click', function() {
 			$('html, body').animate({
		        scrollTop: $("#product-grid").offset().top
		    }, 500);
 		});
 	});
 </script>
