<!-- /snippets/template-collection-magazines.liquid -->

<div class="container l block clearfix columns-18" id="sub-magazines">
	{% if linklists['magazines'].links != blank %}
	<div class="column collapsed l3 m4 s12 s-hide r-side">
		<aside>
			<ul class="collection-links">
				{% for _magazine_link in linklists['magazines'].links %}
			    <li>
			        <a class="nav-link no-decoration" href="{{ _magazine_link.url }}" title="{{ _magazine_link.title }}">{{ _magazine_link.title }}</a>
			    </li>
			    {% endfor %} 
			</ul>
		</aside>
    </div> 
   	{% endif %}
	<div class="row collapse">
		<div class="column collapsed l9 m8 s12 l-side">
			<div class="t-uppercase center margin-top-2x margin-bottom-2x clearfix">
				<span class="mag-title">{{collection.title}}</span>
			</div>

		    {%for block in section.blocks %}
		    	{% if block.settings.collection == collection.handle %}
			      {% if block.settings.magazine_text != blank %}
			      		<div class="lower_text colum l12 m12 s12 center margin-top margin-bottom-2x">{{block.settings.magazine_text}}</div>
			      {% endif %}
			    {% endif %}  
		    {% endfor %}

			<div class="column collapsed l12 m12 s12"> 
			    <div class="column l5 m5 s12">
					{% for block in section.blocks %}
						{% if block.settings.collection == collection.handle %}
							{% if block.settings.category_image != blank %}
								<img class="category_image wide" src="{{ block.settings.category_image | img_url: '996x996' }}" alt="">
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				<div class="column l7 m7 s12">
					<div class="center pricing-columns">
						<div class="price-box {%if collection.handle contains 'lifetime'%}lifetime-box{%endif%}">
							<h2>{{ 'magazine.us_title' | t }}</h2>
							{% for block in section.blocks %}
								{% if block.settings.collection == collection.handle %}
									{% case block.type %}
										{% when 'us_pricing' %}
										{% include 'magazine-pricing' %}
									{% endcase %}
								{% endif %}
							{% endfor %}
						</div>
						{%unless collection.handle contains 'lifetime'%}
						<div class="price-box">
							<h2>{{ 'magazine.can_title' | t }}</h2>
							{% for block in section.blocks %}
								{% if block.settings.collection == collection.handle %}
									{% case block.type %}
										{% when 'can_pricing' %}
										{% include 'magazine-pricing' %}
									{% endcase %}
								{% endif %}
							{% endfor %}
						</div>
						<div class="price-box">
							<h2>{{ 'magazine.int_title' | t }}</h2>
							{% for block in section.blocks %}
								{% if block.settings.collection == collection.handle %}
									{% case block.type %}
										{% when 'int_pricing' %}
										{% include 'magazine-pricing' %}
									{% endcase %}
								{% endif %}
							{% endfor %}
						</div>
						{%endunless%}
					</div>
		    	</div>
			</div>

			<div class="column collapsed l12 m12 s12 center">
				{% for block in section.blocks %}
					{% if block.settings.collection == collection.handle %}
						{% if block.settings.subscribe_button != blank %}
							<div class="button_links inline">
							    <a class="siteFont" href="{{ block.settings.subscribe_button}}">{{ 'magazine.subscribe_text' | t }}</a>
							</div>
						{% endif %}
						{% if block.settings.gift_button != blank %}
							<div class="button_links inline">
							    <a class="siteFont" href="{{ block.settings.gift_button}}">{{ 'magazine.give_text' | t }}</a>
							</div>
						{% endif %}
						{% if block.settings.soon_button != blank %}
							<div class="button_links inline">
							    {% if block.settings.soon_button_link != blank %}<a href="{{block.settings.soon_button_link}}">{% endif %}
							    <p class="siteFont no-margin {%if collection.handle contains 'lifetime'%}lifetime-btn{%endif%}">{{ block.settings.soon_button }}</p>
							{% if block.settings.soon_button_link != blank %}</a>{% endif %}
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
	    	</div>
		</div>
	</div>
</div>
