<!-- /snippets/template-account.liquid -->

{% assign pagination_amount = 20 %}

<div class="container l padding-top padding-bottom-2x">
  <div id="accordion">
    {% include 'account-accordion' %}
  </div>
</div>
