<!-- /snippets/template-collection-gifts.liquid -->

<div class="container l block clearfix Gifts">

  <div class="row collapse">
    <div class="column l12 m12 s12">
      {%for item in section.blocks %}
      {% if item.settings.column_banner != blank %}
      <div id="image_container">
      	{% if item.settings.column_banner_link != blank %}
        <a href="{{item.settings.column_banner_link}}"> 
        {% endif %}
        	<img id="banner" src="{{ item.settings.column_banner | img_url: '996x996'}}" alt="" class="inline l12 m12 s-hide">
        	<img id="banner" src="{{ item.settings.column_mob_banner | img_url: '996x996'}}" alt="" class="inline l-hide m-hide s-show">
        {% if item.settings.column_banner_link != blank %}
        </a>
        {% endif %}
        <div class="overlayBannerText column l4 m4 s10">
          <div class="s-hide">{{ item.settings.text_statement }}</div>
          <div class="StatementLink" id="learn_more_link"><a href="{{ item.settings.product_image_link }}">{{ item.settings.text_statement_link }}</a></div>
        </div>
      </div>

	<div class="popup-gifts">
		<a data-trigger="popup" data-target="#Popup_gifts">&nbsp;</a>
	</div>
	<div id="PopupGifts" class="popup overlay">
	  <div class="popup-inner">
	  </div>
	</div>

	<script>
	  var giftsPopup = new Focus('#PopupGifts');
	</script>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="row collapse padding-top-2x"> 
    <div id="parentContainer" class="column l5 m12 s12">
		<div id="inset_container">
		{% for block in section.blocks %}

		{% if block.settings.product_thumbnail != blank %}
			<div id="stack_container" >
			  <div id="stack_element_thumbnail">
			    <img id="thumbnails" src="{{ block.settings.product_thumbnail | img_url: '996x996'}}" alt="">
			  </div>
			  <div id="stack_right" class="indent">
			    <div id="stack_right_top" class="indent"><h4>{{ block.settings.text_box }}</h4></div>

			    <div id="stack_right_bottom" clas="indent">
			      <div id="links">
			      	{% for i in (1..5) %}
			      		{% capture label %}
			      			link_label_{{i}}
			      		{% endcapture %}

			      		{% capture link_url %}
			      			link_{{i}}
			      		{% endcapture %}
			      		{% assign label = label | strip %}
			      		{% assign link_url = link_url | strip %}

			        	{% if block.settings[link_url] != blank %}
			        		<a class="gift-stack-link" href="{{ block.settings[link_url] }}">{{block.settings[label]}}</a>
			        	{% endif %} 
			        {% endfor %}

			      </div>
			    </div>
			  </div>
			</div>

			<hr style="height:2px;"> 
		{% endif %}
		{% endfor %}
		</div>
    </div>


    <div class="container l">
        <div class="row collapse">	
			{% for block in section.blocks %}
			{% if block.settings.column_half_image != blank %}
			<div id="column_container" class="column l7 m7 s12">

				<div id="column_container_header"><h1 class="capitalize">{{ block.settings.column_half_title }}</h1></div>
				<img id="mainImage" src="{{ block.settings.column_half_image | img_url: '996x996'}}" alt="" class="inline wide">
				<div id="subLinks">
				  <span class="sub_heading">{{ block.settings.column_half_link_text}}</span>
				  <a class="siteFont" href="{{ block.settings.half_sub_link}}">LEARN MORE ></a>
				</div>
			</div>
			{% endif %}
			{% endfor %}
	    </div>
	    <div class="row collapse padding-top-2x padding-bottom-5x">	
			{% for block in section.blocks %}
			{% case block.type %}
			{% when 'columns' %}	
			{% assign columns = block.settings.column_range %}

			{% case columns %}
			{% when 1 %}
			{% assign column_width = 'l12' %}
			{% when 2 %}
			{% assign column_width = 'l6 m6 s12' %}
			{% when 3 %}
			{% assign column_width = 'l4 m4 s12' %}
			{% endcase %}

			{% if block.settings.column_image != blank %}
				<div id="column" class="column {{column_width}} inline margin-top-2x margin-bottom-5x" style="border-left: 2px solid white;">
					{% if block.settings.column_title != blank %}
						<div id="column_container_header"><h1>{{ block.settings.column_title }}</h1></div>
					{% else %}
						<span style="line-height: 37px;">&nbsp;</span>	
					{% endif %}
					<img id="column_image" src="{{ block.settings.column_image | img_url: '996x996'}}" alt="" class="inline wide">
					<div id="column_subLinks padding-top-2x">
					  <span class="sub_heading">{{ block.settings.column_link_text}}</span>
					  <a class="siteFont" href="{{ block.settings.sub_link}}">SHOP NOW ></a>
					</div>
				</div>
			{% endif %}
			{% endcase %}
			{% endfor %}
	    </div>
  </div> 
</div>
