<!-- /snippets/template-collection-geno.liquid -->

{% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku' | split: ',' %}

{% for product in collection.products %}
{% assign product_id = product.id %}
{% assign product_description = product.description %}
{% unless product_description contains '<p' and product_description contains '</p>' %}
{% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
{% endunless %}
{% assign truncated_description = product_description | split: '</p>' | first | append: '</p>' | json | prepend: '"truncated_description":' %}
<pre class="hidden" data-product="{{ product.id }}">
{{ product | json }}
</pre>
<pre class="hidden" data-metafields="{{ product.id }}">
{
  {%- for namespace in metafield_namespaces -%}
    {{ namespace | json }}: {
      {%- for metafield in product.metafields[namespace] -%}
        {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    },
  {%- endfor -%}
  "pre_order": {{ collection_pre_order | json }}
}
</pre>

<!-- AddedToCart popup. This popup is displayed after product is added to cart on products page. -->
<div id="AddedToCartPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
        <h2>Added to Cart</h2>
      </div>
      <div class="container">
        <div>
          <ul class="itemList">
            <li class="item">
              <div class="itemImage">
                <a href="https://{{ shop.domain }}{{ product.url }}">
                  <div class="productImage">
                    <img src="https:{{ product.featured_image | product_img_url: "large" }}" alt="{{ product.title | escape }}" width="130" height="130">
                  </div>
                </a>
              </div>
              <div class="itemInfo">
                <h3>
                  <a href="https://{{ shop.domain }}{{ product.url }}" id="product_title">{{ product.title | escape }}<span id="added_product_variant_type"></span></a>
                </h3>
                <p>Item#&nbsp;<span id="addedToCart_sku">{{ product.metafields.sku.parent }}</span></p>
                <p>Qty:&nbsp;<span id="addedToCart_qty"></span></p>
                <p>Price:&nbsp;<span id="addedToCart_price">{{ product.price | money }}</span></p>
                {% if current_variant.compare_at_price > current_variant.price %}<p class="discount"><em>Original Price: <span id="addedToCart_original_price">{{ product.compare_at_price | money }}</span></em></p>{% endif %}
                <p></p>
                <p class="availability">{% if current_variant.available %}
                {% if product.metafields.preorder.date != blank %}
                <span class="t-lowercase">{{ product.metafields.preorder.date }}</span>
                {% elsif product.metafields.shipping.days != blank %}
                <span class="w-bold">{{product.metafields.shipping.days}}</span>
                {% else %}
                Available
                {% endif %}
                {% endif %}</p>
              </div>
            </li>
          </ul>
          <div class="cartInfo">
            <p># of Items in Cart: <span id="cart_item_count" data-cart-item-count></span></p>
            <p>Subtotal: <span id="cart_subtotal" data-cart-total></span></p>
            <div class="viewCart">
              <p><a class="add_to_cart_view_cart" href="/cart">View Full Cart</a></p>
              <a class="checkout" href="/checkout"><img border="0" title="Checkout" alt="Checkout &#9658;" src="https://cdn.shopify.com/s/files/1/2959/2384/files/btn_checkout.gif"></a>
            </div>
          </div>
        </div>
      </div>
      <a href="#close" class="popup-close" id="close_added_to_cart_popup" data-close aria-label="Close">
        close <img src="//cdn.shopify.com/s/files/1/2959/2384/t/20/assets/cart-close.png?16228280012142088627">
      </a>
    </div>
  </div>
</div>
<div id="AddedToCartMobilePopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
        <h2><span id="mobile_item_quantity"></span> item(s) added to cart</h2>
      </div>
      <div class="container">
        <a class="checkout" href="/checkout">Checkout &#9658;</a>
        <a href="#close" id="popup_continue_shopping_mobile">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}
<div class="container l clearfix geno">

	{% for block in section.blocks %}

		{% case block.type %}
		{% when 'banner' %}
    <button id="hero-buy-now" style="display:none;" data-quicklook="{{ product_id }}"></button>
    <script>
    $(function() {
      $('.banner > a').click(function(event) {
        event.preventDefault();
        $('#hero-buy-now').trigger('click');
      });
    });
    </script>
		{% if block.settings.geno_images_us contains 'participant_tout' and block.settings.geno_images_canada contains 'participant_tout' and block.settings.geno_images_int contains 'participant_tout'  %}
			{% assign us_tout = 'participant_tout' %}
			{% assign can_tout = 'participant_tout' %}
			{% assign int_tout = 'participant_tout' %}
		{% endif %}

			{% if collection.handle contains 'usa'%}
				{% if block.settings.geno_images_us != blank %}
					<div class="column l12 banner {{ us_tout }}">
						{% if block.settings.banner_url_us != blank %}
						<a href="{{block.settings.banner_url_us}}">
						{% endif %}
							<img class="wide s-hide m-hide" src="{{ block.settings.geno_images_us | img_url: '996x996'}}" alt="">
							<img class="wide l-hide" src="{{ block.settings.mob_geno_images_us | img_url: '457x457'}}" alt="">
						{% if block.settings.banner_url_us != blank %}
						</a>
						{% endif %}
					</div>
				{% endif %}
			{% elsif collection.handle contains 'canada' %}
				{% if block.settings.geno_images_canada != blank %}
					<div class="column l12 banner {{ can_tout }}">
						{% if block.settings.banner_url_can != blank %}
						<a href="{{block.settings.banner_url_can}}">
						{% endif %}
							<img class="wide s-hide m-hide" src="{{ block.settings.geno_images_canada | img_url: '996x996'}}" alt="">
							<img class="wide l-hide" src="{{ block.settings.mob_geno_images_canada | img_url: '457x457'}}" alt="">
						{% if block.settings.banner_url_can != blank %}
						</a>
						{% endif %}
					</div>
				{% endif %}
			{% elsif collection.handle contains 'international' %}
				{% if block.settings.geno_images_int != blank %}
					<div class="column l12 banner {{ int_tout }}">
						{% if block.settings.banner_url_int != blank %}
						<a href="{{block.settings.banner_url_int}}">
						{% endif %}
							<img class="wide s-hide m-hide" src="{{ block.settings.geno_images_int | img_url: '996x996'}}" alt="">
							<img class="wide l-hide" src="{{ block.settings.mob_geno_images_int | img_url: '457x457'}}" alt="">
						{% if block.settings.banner_url_can != blank %}
						</a>
						{% endif %}
					</div>
				{% endif %}
			{% else %}
			{% endif %}

			{% if collection.handle contains 'usa' %}
				{% if block.settings.helix_popup %}
				<div class="helix">
					<div class="inline"><img src="{{ 'd_helix_logo_1x.png' | asset_url }}"></div>
	    			<div class="inline">
	    				<p class="no-margin">Already purchased a Helix DNA kit?</p>
	    				<p class="no-margin">
							<p><a data-trigger="popup" data-target="#Popup_helix" class="underline">Learn more</a></p>
							<div id="PopupHelix" class="popup overlay">
							  <div class="popup-inner">
							  </div>
							</div>

							<script>
							  var helixPopup = new Focus('#PopupHelix');
							</script>
	    				</p>
	    			</div>
	    		</div>
	    		{% endif %}
	    {% endif %}
	    	{% if block.settings.country_change %}
				<div class="column l12 center banner">
					{%if collection.handle contains 'usa'%}
						<p>Outside the <strong>U.S.</strong>? Visit the Geno 2.0 pages for delivery to <a class="w-bold" href="/collections/canada-delivery">Canada</a> or <a class="w-bold" href="/collections/international-delivery">All Other Countries.</a></p>

					{% elsif collection.handle contains 'canada' %}
						<p>Outside <strong>Canada</strong>? Visit the Geno 2.0 pages for delivery to <a class="w-bold" href="/collections/geno-dna-ancestry-kit-usa-delivery">U.S.</a> or <a class="w-bold" href="/collections/international-delivery">All Other Countries.</a></p>

					{% elsif collection.handle contains 'international'%}
						<p>Visit the Geno 2.0 pages for delivery to <a class="w-bold" href="/collections/geno-dna-ancestry-kit-usa-delivery">U.S.</a> or <a class="w-bold" href="/collections/canada-delivery">Canada</a>.</p>
					{% else %}
					{% endif%}

				</div>

				<div class="clearfix center scroll-keys s-hide m-hide">
					<div class="column l5 m4 s6 inline"><a href="javascript:void()" class="keys" id="how-it-works">How It Works<i class="fa fa-angle-down"></i></a></div>
					<div class="column l2 m4 s6 inline"><a href="javascript:void()" class="keys" id="key-features">Key Features<i class="fa fa-angle-down"></i></a></div>
					<div class="column l5 m4 s12 inline"><a href="javascript:void()" class="keys" id="faqs">FAQs<i class="fa fa-angle-down"></i></a></div>
				</div>
				{% endif %}
		  {% when 'row' %}
			<div class="rte center geno-row s-hide m-hide">
				{% if block.settings.geno_row_text != blank %}
				<h1>{{ block.settings.geno_row_text }}</h1>
				<div>
					<p>{{ block.settings.geno_row_textarea }}</p>
					<div class="l12 center buy-now-wrapper l-hide" style="background-color: #fff;">
						<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
					</div>
				</div>
				{% endif %}
			</div>

		  {% when 'column' %}
			{% assign columns = block.settings.column_range %}

			{% case columns %}
			  {% when 1 %}
			    {% assign column_width = 'l12' %}
			  {% when 2 %}
			    {% assign column_width = 'l6 m12 s12' %}
			  {% when 3 %}
			    {% assign column_width = 'l4 m12 s12' %}
			  {% when 4 %}
			    {% assign column_width = 'l3 m6 s12' %}
			{% endcase %}

		  <div class="column {{column_width}} inline what{% if block.settings.column_image contains 'WYWG' %} wywg {% unless collection.handle contains 'usa'%} can-int-wywg{% endunless %}{% elsif block.settings.column_image contains 'TGP' %} tgp{% endif %}">
	        {% if block.settings.column_image != blank %}
	         	<div class="wywg-image{% if block.settings.column_image contains 'geno_app_icon' %} inline{% endif %}"><img src="{{ block.settings.column_image | img_url: image_size | remove: '_small' }}" {% if block.settings.tri_column_title != blank %} alt="{{ block.settings.column_title }}"{% endif %}></div>
	        {% endif %}

			{% if block.settings.column_title != blank %}
		      <div class="content-wrapper">
			      <h2> {{ block.settings.column_title }}</h2>
		        {% if block.settings.column_textarea != blank %}
		        	<div class="content">
		        		<p>{{ block.settings.column_textarea }}</p>
		        	</div>
		        	{% if block.settings.column_image contains 'WYWG' %}
				        {% assign wywg_popup = block.settings.column_image | replace: 'WYWG', 'SampleReport' | remove: 'files/' %}
				        {% assign wywg_id = wywg_popup | remove: '.png' %}
				        {% unless wywg_popup contains 'GENO_App'%}
					        <div>
					        	<div class="report">
									<a data-trigger="popup" data-target="#Popup_{{ wywg_id }}" id="int" class="following t-underline sample-text">Sample Report
				  				<img src="{{ 'picto-icon.png' | asset_url }}" class="inline picto"></a>
								</div>
								<div id="Popup_{{ wywg_id }}" class="popup overlay sample-report">
									<div class="popup-inner">
										<p>
											<a href="#close" class="popup-close" data-close data-target="#Popup_{{ wywg_id }}" aria-label="{{ 'common.close' | t }}">
												<span class="t-uppercase">{{ 'common.close' | t }} </span><img src="{{ 'cart-close.png' | asset_url }}">
											</a>
											<img src="{{ wywg_popup | asset_url	}}" class="wywg-img">
										</p>
									</div>
								</div>
					        </div>
				        {% endunless %}
				    {% endif %}
		        {% endif %}
		      </div>
		    {% endif %}
			</div>

		  {% when 'steps' %}

		    <div class="steps inline column l4 m4 s12">

		      {% if block.settings.column_steps_image != blank %}
		       	<div class="inline column l2 numbers"> <img src="{{ block.settings.column_steps_image | img_url: image_size }}" class="{{block.settings.column_steps_image | remove: '.png'}}" {% if block.settings.column_steps_title != blank %} alt="{{ block.settings.column_steps_title }}"{% endif %}></div>
		      {% endif %}

		      <div class="inline column l9">
		      	{% if block.settings.column_steps_title != blank %}
		      		<p class="order-title w-bold"> {{ block.settings.column_steps_title }}</p>
		      	{% endif %}

		      	{% if block.settings.column_steps_textarea != blank %}
		      		<div class="content">{{ block.settings.column_steps_textarea }}</div>
		      	{% endif %}
		      </div>
		  </div>
		  	{% when 'key-features' %}
		  	{% if block.settings.geno_key_features == true %}
		  		<div class="key-features-wrapper s-hide m-hide">
		  			<div class="key-features">
		  				<h1>Geno <span class="w-bold">2.0</span> Key features</h1>
		  				<div class="subtext">
		  					<img src="{{ 'natgeo_logo_box.png' | asset_url }}" class="inline keep-left">
		  					<div class="inline keep-left">
		  					<p class="w-bold t-uppercase">Your Purchase has a purpose.</p>
		  					<p>Support from people like you helps us advance science, exploration and innovation to further the world. To learn more, visit natgeo.com/info.</p>
		  					</div>
		  				</div>
		  			</div>
		  			<table id="key-features-chart">
		  				<tr>
		  					<th class="empty">&nbsp;</th>
		  					<th class="geno-column t-uppercase important">Geno<span id="two">2.0</span> Next<br> Generation{% if collection.handle contains 'usa' %}<br>(W/helix){% endif %}</th>
		  					<th class="other-column t-uppercase other box-shadow">Other Popular<br> DNA Ancestry Kit<br><span class="t-normal">(As of 3/18/2018)</span></th>
		  				</tr>
		  				<tr>
		  					<th class="features">Regional Percentages</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">Deep Ancestry Maternal Lineage</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td  class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">Deep Ancestry Paternal Lineage</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td  class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">Neanderthal Percentage</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">DNA Relative Finder</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fff" />
								</svg>
			  				</td>
			  				<td class="other box-shadow additional">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#ffcc00" />
								</svg>
								<span id="additional">*additional cost</span>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">DNA Remains Private</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			<tr>
		  					<th class="features">Next Generation Sequencing Technology</th>
			  				<td>
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			{% if collection.handle contains 'usa' %}
			  			<tr>
		  					<th class="features">Helix Ecosystem</th>
			  				<td class="last">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="0" fill="#ffcc00" />
			  					</svg>
			  				</td>
			  				<td class="other box-shadow">
			  					<svg height="40" width="40">
			  						<circle cx="20" cy="20" r="15" stroke="#ffcc00" stroke-width="5" fill="#fffef1" />
								</svg>
			  				</td>
			  			</tr>
			  			{% endif %}
		  			</table>

		  			{% if collection.handle contains 'usa' %}
			  			<div class="helix-feature">
			  				<img src="{{ 'helix_logo.png' | asset_url }}" class="inline keep-left">
			  				<div class="inline keep-left">Once you are sequenced, Helix will store and protect your genetic data so you can access and share it with the Helix partner of your choosing without ever having to provide an other DNA Sample. <a href="https://www.helix.com/shop/national-geographic-geno-2-next-generation?utm_campaign=NationalGeographic-&utm_source=referral&utm_medium=2nd_Purchase" class="w-bold">Learn More  ></a></div>
			  			</div>
		  			{% endif %}
		  		</div>
		  	{% endif %}
		  	{% when 'video' %}
		  		{% if block.settings.geno_video_us == true %}
		  			{% if collection.handle contains 'usa' %}
		  			<div class="column l12 m-hide s-hide margin-top-2x margin-bottom-2x" id="geno-video">
			  			<div class="geno-vid-wrapper center">
				  			<div class="center iframe-container">
				  				<video id="vid"  frameborder="0" controls poster="{{ 'Geno_thumbnail.PNG' | asset_url }}">
				  					<source src="{{ '2004339_geno_us.mp4' | asset_url }}" type="video/mp4">
				  				</video>
				  			</div>
				  		</div>
				  	</div>
		  			{% endif %}
		  		{% endif %}
			{% when 'testimonials' %}
			<div class="testimonials">
				{% if block.settings.testimonial_video == true %}
		  			{% if collection.handle contains 'usa' %}
		  			<div class="column l12 m12 s12 margin-top-2x margin-bottom-5x padding-bottom-2x" id="geno-video">
			  			<div class="geno-vid-wrapper center">
				  			<div class="center iframe-container">
				  				<video id="vid"  frameborder="0" controls poster="{{ 'GENETICS_thumbnail.png' | asset_url }}">
				  					<source src="{{ 'geno-ngm-genetics.mp4' | asset_url }}" type="video/mp4">
				  				</video>
				  			</div>
				  		</div>
				  	</div>
		  			{% endif %}
		  		{% endif %}
				{% if block.settings.testimonial_textarea1 != blank or block.settings.testimonial_textarea2 != blank %}
					<div>
						{% for count in (1..2) %}
							{% capture textarea %}
								testimonial_textarea{{count}}
							{% endcapture %}
							{% capture author %}
								testimonial_author{{count}}
							{% endcapture %}


							{% assign textarea = textarea | strip %}
							{% assign author = author | strip %}

							<i class="fa fa-quote-left inline"></i><p class="content inline review">{{block.settings[textarea]}}</p><i class="fa fa-quote-right inline"></i>
							<p class="content w-bold author">{{block.settings[author]}}</p>
						{% endfor %}
					</div>
				{% endif %}
			</div>

		  {% when 'faqs-us' %}

			{% if collection.handle contains 'usa'%}
				<div class="clearfix faq">

					<ul class="column l6 left-column content">
						{% for count in (1..10) %}
							{% capture faq %}
								faq_us_question{{count}}
							{% endcapture %}

							{% assign faq = faq | strip %}

							{% if block.settings[faq] != blank %}
							<li class="faq-question"><span class="line-indicator"></span>{{ block.settings[faq] }}</li>
							{% endif %}
						{% endfor %}
					</ul>
					<ul class="column l6 right-column content">
						{% for count in (1..10) %}
							{% capture faq %}
								faq_us_response{{count}}
							{% endcapture %}
							{% capture question %}
								faq_us_question{{count}}
							{% endcapture %}


							{% assign faq = faq | strip %}
							{% assign question = question | strip %}

							{% if block.settings[question] != blank %}
							<li class="faq-response"><strong>{{ block.settings[question] }}</strong><br><br><span>{{ block.settings[faq] }}</span></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}

		  {% when 'faqs-cni' %}

			{% if collection.handle contains 'canada' or collection.handle contains 'international' %}
				<div class="clearfix faq" id="cni">

					<ul class="column l6 left-column content">
						{% for count in (1..5) %}

							{% capture faq %}
								faq_cni_question{{count}}
							{% endcapture %}

							{% assign faq = faq | strip %}
							<li class="faq-question"><span class="line-indicator"></span>{{ block.settings[faq] }}</li>
						{% endfor %}
					</ul>
					<ul class="column l6 right-column content">
						{% for count in (1..5) %}
							{% capture faq %}
								faq_cni_response{{count}}
							{% endcapture %}
							{% capture question %}
								faq_cni_question{{count}}
							{% endcapture %}


							{% assign faq = faq | strip %}
							{% assign question = question | strip %}
							<li class="faq-response"><strong>{{ block.settings[question] }}</strong><br><br><span>{{ block.settings[faq] }}</span></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endcase %}
		{% comment %}{% include 'popup-quicklook' %}{% endcomment %}
		{% if block.settings.geno_textarea_title != blank %}
			<div class="clearfix column l12 center buy-now-wrapper s-hide m-hide inline" style="background-color: {{block.settings.button_color}};">
				<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				{% if block.settings.live_chat == true %}
				<button class="buy-now t-uppercase w-bold center inline livechat-cta-pdp" onclick="parent.LC_API.open_chat_window({source:'minimized'})"><i class="fa fa-comments"></i> Live Chat</button>
				{% endif %}
			</div>

		{% endif %}

	{% endfor %}
	<div id="mobile-accordion">
		<h1 data-accordion-toggle><span>An Unprecedented View<br>into Your Deep Ancestry</span></h1>
		<div data-accordion-content id="deep-history-content"></div>
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>What you will get</span></h1>
			<div data-accordion-content>
				<div id="what-get-content"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>The Genographic Project</span></h1>
			<div data-accordion-content>
				<div id="tgp-get-content"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>How it works</span></h1>
			<div data-accordion-content>
				<div id="steps-content"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		{% if collection.handle contains 'usa'%}
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>Watch the video</span></h1>
			<div data-accordion-content>
				<div id="geno-video-player"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>Geno 2.0 Key Features</span></h1>
			<div data-accordion-content>
				<div id="key-features-content"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>Testimonials</span></h1>
			<div data-accordion-content>
				<div id="testimonials-content"></div>
				<div class="l12 center buy-now-wrapper l-hide m-hide" style="background-color: #fff;">
					<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
				</div>
			</div>
		</div>
		<div class="accordion-section">
			<h1 data-accordion-toggle><span>FAQs</span></h1>
			<div data-accordion-content>
				<div id="faqs-content">
					<div></div>
				</div>
			</div>
		</div>
		<hr>
{% comment %}		<div class="l12 center buy-now-wrapper main-buy-now-wrapper l-hide" style="background-color: #fff;">
			<button class="buy-now t-uppercase w-bold center inline" data-quicklook="{{ product_id }}">Buy Now</button>
		</div>{% endcomment %}
	</div>
</div>
<div class="hidden" id="label_termsandcondition">{% include 'popup-termsandconditions' %}</div>

<script type="text/javascript">
 	$(document).ready(function() {
 		$('#how-it-works').on('click', function() {
 			$('html, body').animate({
		        scrollTop: $(".steps-container").offset().top
		    }, 500);
 		});

 		$('#key-features').on('click', function() {
 			$('html, body').animate({
		        scrollTop: $(".key-features-container").offset().top
		    }, 500);
 		});

 		$('#faqs').on('click', function() {
 			$('html, body').animate({
		        scrollTop: $(".faq-container").offset().top
		    }, 500);
 		});
 		$('.faq').ready(function(){
 			$('.faq-container .left-column li:first-child').addClass("active");
 			$('.faq-container .right-column li:first-child').addClass("active");
 		});
 		$('.faq-question').on('click', function() {
			$('.left-column li.active').removeClass("active");
			$(this).addClass("active");
			$('.right-column li.active').removeClass("active");
			$('.right-column li').eq($(this).index()).addClass("active");
		});
		$(".what.wywg").wrapAll("<div class='what-container s-hide m-hide' />  ");
		$(".what.tgp").wrapAll("<div class='tgp-container s-hide m-hide' />  ");
		$(".what-container .what:first-child").before("<h1>{{ 'collection.geno.what-title' | t }}</h1>");
		$(".steps").wrapAll("<div class='steps-container s-hide m-hide' />  ");
		$(".steps-container .steps:first-child").before("<h1>{{ 'collection.geno.how-title' | t }}</h1><p class='content center s-hide m-hide'>{{ 'collection.geno.how-subtitle' | t }}</p>");
		$(".testimonials").wrapAll("<div class='testimonials-container s-hide m-hide' />  ");
		$(".testimonials-container .testimonials:first-child").before("<h1>{{ 'collection.geno.testimonial-title' | t }}</h1>");
		$(".faq").wrapAll("<div class='faq-container s-hide m-hide' />  ");
		$(".faq-container .faq:first-child").before("<h1>{{ 'collection.geno.faq-title' | t }}</h1>");

		if($('.geno-row').length > 0 ){
			for(var i=0;i<1;i++){
				$('#deep-history-content').append($($('.geno-row > div')[0]).html());
				$('#deep-history-content p').after($('.participant_tout .l-hide'));
			}
		}

		if($('.what-container').length > 0 ){
			for(var i=0;i<$('.what-container').length;i++){
				$('#what-get-content').append($($('.what-container')[i]).html());
			}
			$('#what-get-content > h1').remove();
		}
		if($('.tgp-container').length > 0 ){
			for(var i=0;i<$('.tgp-container').length;i++){
				$($('.geno-row > div button.buy-now')[1]).css('display','none');
				$('#tgp-get-content').append($($('.geno-row > div')[1]).html());
				$('#tgp-get-content').append($($('.tgp-container')[i]).html());
			}
			$('#tgp-get-content > h1').remove();
		}
		if($('#geno-video').length > 0 ){
			for(var i=0;i<$('#geno-video').length;i++){
				$('#geno-video-player').append($($('#geno-video')[i]).html());
			}
			$('#geno-video-player > h1').remove();
		}
		if($('.key-features-wrapper').length > 0 ){
			for(var i=0;i<$('.key-features-wrapper').length;i++){
				$('#key-features-content').append($($('.key-features-wrapper')[i]).html());
			}
			$('#key-features-content > .key-features > h1').remove();
		}
		if($('.steps-container').length > 0 ){
			for(var i=0;i<$('.steps-container').length;i++){
				$('#steps-content').append($($('.steps-container')[i]).html());
			}
			$('#steps-content > h1').remove();
		}
		if($('.testimonials-container').length > 0 ){
			for(var i=0;i<$('.testimonials-container').length;i++){
				$('#testimonials-content').append($($('.testimonials-container')[i]).html());
			}
			$('#testimonials-content > h1').remove();
		}
		if($('.faq li.faq-response').length > 0 ){
			for(var i=0;i<$('.faq li.faq-response').length;i++){
				var li_element = $($('.faq li.faq-response')[i]).clone();
				var title = $(li_element).find('strong').html();
				var text = $(li_element).find('span').html();
				$('#faqs-content > div').append('<h2 data-accordion-toggle data-accordion-parent="#faqs-content">'+title+'</h2>');
				$('#faqs-content > div').append('<div data-accordion-content>'+text+'</div>');
			}
		}
 	});

 </script>
