<!-- /snippets/theme-nav-accordion.liquid -->

{% assign nav_menu = theme-nav-accordion %}
{% assign menu_title = title_overwrite | default: nav_menu.title %}
{% if menu_titles %}
  <h3>{{ menu_title }}</h3>
{% endif %}

<ul class="accordion-{{ nav_menu.title | handleize }}">
  {% for link in nav_menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="dropdown" aria-haspopup="true" data-id="{{ child_list_handle }}">
        <a href="{{ link.url }}" data-accordion-toggle data-accordion-parent=".accordion-{{ nav_menu.title | handleize }}" class="nav-link">
          {{ link.title }}
          <i class="fa fa-angle-down keep-right"></i>
        </a>
        <ul class="dropdown-menu" data-accordion-content>
          {% for childlink in linklists[child_list_handle].links %}
              {% assign sub_child_link_handle = childlink.title | handleize %}
              {% if linklists[sub_child_link_handle].links != blank %}
              <li class="dropdown" aria-haspopup="true" data-id="{{ sub_child_link_handle}}">
                <a href="{{ childlink.url}}" data-accordion-toggle data-accordion-parent=".accordion-{{ link.title | handleize }}" class="nav-link">
                  {{ childlink.title }}
                  <i class="fa fa-angle-down keep-right"></i>
                </a>
                <ul class="dropdown-menu" data-accordion-content>
                {% for sub_childlink in linklists[sub_child_link_handle].links %}
                  <li>
                    <a href="{{ sub_childlink.url }}" class="nav-link">
                      {{ sub_childlink.title }}               
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </li>
              {% else %}
                <li>
                  <a href="{{ childlink.url }}" class="nav-link">
                    {{ childlink.title }}               
                  </a>
                </li>
              {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>
        <a href="{{ link.url }}" class="nav-link">
          {{ link.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<a href="#" class="popup-back keep-right">
  <i class="fa fa-angle-left "></i> Back
</a>

<script type="text/javascript">
  $(document).ready(function(){
    $('.popup-back').click(function(){
      $('.accordion-primary-children').removeClass('active').css('display', 'none');
    })
  });
</script>