<!-- /snippets/theme-nav-toggled.liquid -->

<nav class="theme-nav-toggled drawer drawer-overlay from-left bg-background l-hide" id="NavToggled" role="navigation">
  <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">X</a>
  <div class="drawer-inner">
    <a href="/" class="h3">
      Home
    </a>
    {% if primary_menu.links.size > 0 %}
      <div role="navigation" class="accordion-primary">
        <span class="h3" data-accordion-toggle>
          Shop by Category
          <i class="fa fa-angle-down keep-right"></i>
        </span>
        <div data-accordion-content data-accordion-parent=".accordion-primary" class="accordion-primary-children">
          {% include 'theme-nav-accordion' with primary_menu, menu_titles: false %}
        </div>
      </div>
    {% endif %}

    {% if secondary_menu.links.size > 0 %}
      <div role="navigation" class="accordion-secondary">
        <span class="h3" data-accordion-toggle>
          Shop by Show
          <i class="fa fa-angle-down"></i>
        </span>
        <div data-accordion-content data-accordion-parent=".accordion-secondary">
          {% include 'theme-nav-accordion' with secondary_menu, menu_titles: false %}
        </div>
      </div>
    {% endif %}

    <a href="/account" class="h3">
      {{ 'account.title' | t }}
    </a>
    <a href="/pages/contact-us" class="h3">
      {{ 'contact_us.title' | t }}
    </a>

  </div>
</nav>
