<!-- snippets/theme-logo.liquid -->

{% if template == 'index' %}
  <h1 class="logo relative padding-top-05x" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% else %}
  <div class="logo relative h1 padding-top-05x" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% endif %}
  <meta itemprop="name" content="{{ shop.name }}">
  {% if settings.logo != blank %}
    <a href="/" itemprop="url" title="{{ shop.name }}" class="logo-image relative">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        {% assign logo_width = settings.logo_width | append: 'x' %}
        <img src="{{ 'NGO_StoreLogo2.svg' | asset_url }}" title="{{ shop.name }}" alt="{{ shop.name }}" itemprop="logo" class="s-hide m-hide"> 

        <img src="{{ 'store_logo_mobile_svg.svg' | asset_url }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" class="l-hide">
      </span>
    </a>
  {% else %}
    <a href="/" itemprop="url" title="{{ shop.name }}">{{ shop.name }}</a>
  {% endif %}
{% if template == 'index' %}
  </h1>
{% else %}
  </div>
{% endif %}

