<!-- /snippets/theme-nav-account.liquid -->

{% for link in tertiary_menu.links %}
  {% if link.title contains 'account' or link.title contains 'Account' %}
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        {% if customer.first_name != blank %}
          <li class="account-link">{{ 'account.welcome.name' | t: name: customer.first_name }}</li>
          <li class="account-enabled">{{ link.title }}<i class="fa fa-angle-down"></i></a></li>
          <div class="account-dropdown">
            <ul>
              <li><a class="margin-bottom-2x" href="/account/logout">{{ 'account.logout' | t }}</a></li>
              <hr>
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
              <li><a href="/account?view=orders">{{ 'account.orders.title' | t }}</a></li>
            </ul>
          </div>
        {% else %}
          <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
        {% endif %}
      {% else %}
        <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endif %}
    {% endif %}
  {% else %}
    <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
  {% endif %}
{% endfor %}