<!-- /snippets/theme-breadcrumbs.liquid -->

{% assign display_breadcrumbs = false %}
{% assign breadcrumbs_collections = settings.breadcrumbs_collections %}
{% assign breadcrumbs_products = settings.breadcrumbs_products %}
{% assign breadcrumbs_blogs = settings.breadcrumbs_blogs %}
{% assign breadcrumbs_articles = settings.breadcrumbs_articles %}
{% assign breadcrumbs_pages = settings.breadcrumbs_pages %}
{% assign breadcrumbs_search = settings.breadcrumbs_search %}
{% assign breadcrumbs_customer = settings.breadcrumbs_customer %}

{% if template.name == 'collection' %}
  {% assign display_breadcrumbs = breadcrumbs_collections %}
{% elsif template.name == 'product' %}
  {% assign display_breadcrumbs = breadcrumbs_products %}
{% elsif template.name == 'blog' %}
  {% assign display_breadcrumbs = breadcrumbs_blogs %}
{% elsif template.name == 'article' %}
  {% assign display_breadcrumbs = breadcrumbs_articles %}
{% elsif template.name == 'page' %}
  {% assign display_breadcrumbs = breadcrumbs_pages %}
{% elsif template.name == 'search' %}
  {% assign display_breadcrumbs = breadcrumbs_search %}
{% elsif template contains 'customers' %}
  {% unless template.name == 'register' or template.name == 'login' %}
    {% assign display_breadcrumbs = breadcrumbs_customer %}
  {% endunless %}
{% endif %}

{% if display_breadcrumbs %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="{{ 'home_page.title' | t }}">{{ 'home_page.title' | t }}</a>
    {% if template contains 'product' %}
      {% if collection %}
        <span aria-hidden="true" class="slash">&#47;</span>
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
        {% endif %}
      {% endif %}
      <span aria-hidden="true" class="slash">&#47;</span>
      <span>{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      {% if collections[collection_breadrumb_link] != blank %}
        <span aria-hidden="true" class="slash">&#47;</span>
        {% capture url %}/collections/{{ collections[collection_breadrumb_link].handle }}{% endcapture %}
        {{ collections[collection_breadrumb_link].title | link_to: url }}
      {% endif %}
      <span aria-hidden="true" class="slash">&#47;</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        <span aria-hidden="true" class="slash">&#47;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>
          {% if collection_title != blank %}
            {{ collection_title }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span aria-hidden="true" class="slash">&#47;</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true" class="slash">&#47;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true" class="slash">&#47;</span>
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true" class="slash">&#47;</span>
      <span>{{ article.title }}</span>
    {% elsif template contains 'page' %}
      <span aria-hidden="true" class="slash">&#47;</span>
      <span>{{ page.title }}</span>
    {% elsif template contains 'search' %}
      <span aria-hidden="true" class="slash">&#47;</span>
      {{ 'search.title' | t | link_to: '/search' }}
      {% if search.performed %}
        <span aria-hidden="true" class="slash">&#47;</span>
        <span>{{ search.terms | remove: 'tag:' }}</span>
      {% endif %}
    {% elsif template contains 'customers' %}
      <span aria-hidden="true" class="slash">&#47;</span>
      {% capture account_url %}/account/{% endcapture %}
      {% if template contains 'addresses' %}
        <span>{{ 'account.title' | t | link_to: account_url }}</span>
        <span aria-hidden="true" class="slash">&#47;</span>
        <span>{{ 'account.address.title' | t }}</span>
      {% else %}
        <span>{{ page_title }}</span>
      {% endif %}
    {% else %}
      <span aria-hidden="true" class="slash">&#47;</span>
      <span>{{ page_title }}</span>
    {% endif %}
  </nav>
{% endif %}
