<!-- /snippets/thumbnail-slides.liquid -->

{% capture previous_icon %}<span class="slick-prev icon-large">{% include 'icon' with 'previous', icon_size: '36' %}</span>{% endcapture %}
{% assign previous_icon = previous_icon | strip_newlines %}
{% capture next_icon %}<span class="slick-next icon-large">{% include 'icon' with 'next', icon_size: '36' %}</span>{% endcapture %}
{% assign next_icon = next_icon | strip_newlines %}

<div id="ProductThumbs" class="row collapse margin-bottom-5x {% if product.images.size > 4 %} slick-thumbnails{% endif %}">
  {% for image in product.images %}
    {% if forloop.index == 1 and product.metafields.productinfo.trailer_urls != blank %} 
    <div class="column l3 m3 s6 video--thumbnail">
      <div class="product-image bg-background thumbnail active" data-thumbnail style="border: 3px solid rgb(255, 204, 0);">
        <div class="ratio" data-ratio="1:1" style="background-image:url({{ image | img_url: '1024x1024' }})"></div>
      </div>
    </div>
    {% endif %}     
    <div class="column l3 m3 s6">
      <div class="product-image bg-background thumbnail{% if forloop.first and product.metafields.productinfo.trailer_urls == blank %} active{% endif %}" data-thumbnail >
        <div class="ratio" data-ratio="1:1" style="background-image:url({{ image | img_url: '1024x1024' }})"></div>
      </div>
    </div>
  {% endfor %}
</div>
<hr class="padding-bottom-5x s-padding-bottom-2x">

<script type="text/javascript">
// Slider
$(document).ready(function() {
  $(".slick-thumbnails").slick({
    infinite: false,
    autoplay: false,
    dots: false,
    arrows: true, 
    prevArrow: '{{ previous_icon }}',
    nextArrow: '{{ next_icon }}',
    slidesToShow: 5,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: {{ settings.breakpoint_l }},
        settings: {
          slidesToShow: 5,
          slidesToScroll: 5
        }
      },
      {
        breakpoint: {{ settings.breakpoint_m }},
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: {{ settings.breakpoint_s }},
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      }
    ],
    adaptiveHeight: false
  })
})
</script>