<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>
    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
      .cardholder-appreciation {
        color: #39b33d;
        padding: 10px;
        border: 1px solid rgb(217, 253, 193);
        border-radius: 5px;
        background-color: rgb(228, 252, 231);
        width: auto;
        font-weight: bold;
        margin-bottom: 20px;
      }
    </style>

    {% include 'evergage' %}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}

    {% include 'field-validation' %}

    <script src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
  </head>
  <body>
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">

        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% for discount in checkout.discounts %}
              {% if discount.code == 'DC POWER VISA DISCOUNT' or discount.code == '491426' %}
                <div class="cardholder-appreciation" >Thank you for being a DC Shop Visa Card Holder!</div>
              {% endif %}
            {% endfor %}

            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>

        <script>
          // Identify each step on load and change
          $(document).on('page:load page:change', function() {
            // With 'page:change' in place, we can target dynamically loaded elements
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });
          // Identify each step on load only
          $(document).on('page:load', function() {
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });


        </script>
      </div>
    </div>

    {{ tracking_code }}


    <!-------------------------------------------------------------->
    <!--START: Add Gift Note Feature-------------------------------->
    <!-------------------------------------------------------------->
    {% include 'checkout-gift-note' %}
    <!-------------------------------------------------------------->
    <!--END: Add Gift Note Feature---------------------------------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add 'Privacy Policy' Link To Opt-In Checkbox--------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists_OptInCheckbox = setInterval(function() {
        var ObtainTarget_PrivacyPolicy = '.main__footer > div[role="contentinfo"] > .policy-list > .policy-list__item > a[title="Privacy policy"]';
        var InjectTarget_OptInCheckbox = 'div[data-buyer-accepts-marketing] .checkbox-wrapper .checkbox__label';
        if ($(ObtainTarget_PrivacyPolicy).length) {
          if ($(InjectTarget_OptInCheckbox).length) {
            $(InjectTarget_OptInCheckbox).append($(ObtainTarget_PrivacyPolicy).get(0));
            clearInterval(checkInjectTargetExists_OptInCheckbox);
          }
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'Privavy Policy' Link To Opt-In Checkbox----------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add 'View Shipping Rates' Link----------------------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists_ShippingMethodSectionHeader = setInterval(function() {
        var InjectTarget_ShippingMethodSectionHeader = '.step__sections > .section--shipping-method > .section__header';
        if ($(InjectTarget_ShippingMethodSectionHeader).length) {
          $(InjectTarget_ShippingMethodSectionHeader).find('.section__title').css('float', 'left');
          $(InjectTarget_ShippingMethodSectionHeader).append('<a style="margin-left:10px" title="Shipping Rates" data-modal="shipping-rates" data-close-text="Close" href="{{ 'shipping-rates.html' | asset_url }}">View Shipping Rates</a>');
          clearInterval(checkInjectTargetExists_ShippingMethodSectionHeader);
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'View Shipping Rates' Link------------------------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add Customer Email Address To Customer Information--->
    <!-------------------------------------------------------------->
    <script>
      $('.content-box > .content-box__row > h2:contains("Customer information")').append('<span style="font-size:14px; display:block; margin-top:0.57143em;">Email: {{ checkout.email }}</span>');
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add Customer Email Address To Customer Information----->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Add McAfee Logo To Payment Method Section------------>
    <!-------------------------------------------------------------->
    <script src="https://cdn.ywxi.net/js/inline.js?w=90"></script>
    <script>
      $('a[href="https://www.mcafeesecure.com/verify?host=' + location.host + '"]').css('display', 'none');
      var checkInjectTargetExists_PaymentMethodSectionHeader = setInterval(function() {
        var InjectTarget_PaymentMethodSectionHeader = '.step__sections > .section--payment-method > .section__header';
        if ($(InjectTarget_PaymentMethodSectionHeader).length) {
          if($(window).width() > 390) {
            $('a[href="https://www.mcafeesecure.com/verify?host=' + location.host + '"]').detach().appendTo(InjectTarget_PaymentMethodSectionHeader).css({'position': 'absolute', 'right': '0', 'top': '0'});
          }
          if($(window).width() <= 390) {
            $('a[href="https://www.mcafeesecure.com/verify?host=' + location.host + '"]').detach().appendTo(InjectTarget_PaymentMethodSectionHeader).css({'position': 'relative', 'right': '0', 'top': '0'});
          }
          $('a[href="https://www.mcafeesecure.com/verify?host=' + location.host + '"]').css('display', 'block');
          clearInterval(checkInjectTargetExists_PaymentMethodSectionHeader);
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add McAfee Logo To Payment Method Section------------>
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Edit 'Contact us' Link------------------------------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists_ContactUsLink = setInterval(function() {
        var InjectTarget_ContactUsLink = '.step__footer > .step__footer__info > span > a';
        if($(InjectTarget_ContactUsLink).length) {
          $(InjectTarget_ContactUsLink).attr('href', '/pages/contact-us');
          clearInterval(checkInjectTargetExists_ContactUsLink);
        }
      });
    </script>
    <!-------------------------------------------------------------->
    <!--END: Edit 'Contact us' Link--------------------------------->
    <!-------------------------------------------------------------->


    <!-------------------------------------------------------------->
    <!--START: Checkout Item Custom Pricing------------------------->
    <!-------------------------------------------------------------->
    <script>
      $(function() {
        setTimeout(function() {
          $.ajax({
            url: '/cart.js',
            method: 'GET',
            dataType: 'json',
            success: function(cart) {
              console.log(cart);
              $.each(cart.items, function(indexInArray, cartitem) {
                console.log(cartitem);
                $.ajax({
                  url: '/products/' + cartitem.handle + '.js',
                  method: 'GET',
                  dataType: 'json',
                  success: function(product) {
                    console.log(product);
                    $.each(product.variants, function(indexInArray, productvariant) {
                      if (productvariant.id == cartitem.variant_id) {
                        if (productvariant.compare_at_price) {
                          var compare_at_price = ((productvariant.compare_at_price/100) * cartitem.quantity);
                          var savings = Math.round(100 - (cartitem.price * 100 / productvariant.compare_at_price));
                          $('tr[data-variant-id="' + cartitem.variant_id + '"] > .product__price > .order-summary__emphasis').before('<span style="display:block;color:#484848;text-decoration: line-through;">$' + compare_at_price.toFixed(2) + '</span>');
                          $('tr[data-variant-id="' + cartitem.variant_id + '"] > .product__price > .order-summary__emphasis').after('<span style="display:block;color:#484848;">(Save ' + savings + '%)</span>');
                        }
                      }
                    });
                    fixOrdersummaryLoaded();
                  }
                })
              });
            }
          });
        }, 1000);
      });
    </script>
    <!-------------------------------------------------------------->
    <!--END: Checkout Item Custom Pricing--------------------------->
    <!-------------------------------------------------------------->

    <script>
      function fixOrdersummaryLoaded() {
        $('.order-summary__section__content .product-table .product').each(function(index, object){
          $(object).find('.product__description > .product__description__property').each(function(i,o){
           var property_txt = $(o).html().trim();
           if(property_txt.indexOf('days:') == 0) {
              property_txt = property_txt.replace('days:','');
           }
           if(property_txt.indexOf('country:') == 0) {
              property_txt = property_txt.replace('country:','');
           }
           $(o).html(property_txt);
          });
        });
      }

      $(document).ready(function(event){
        fixOrdersummaryLoaded();
      });
    </script>

    <script type="text/javascript">
      if(localStorage != undefined && localStorage.credit_card_code != undefined) {
        localStorage.credit_card_code = undefined;
      }

      function mask_promocode_onsubmit(){
        var discount_code = $("input#checkout_reduction_code").val();
        if(discount_code == 'DC POWER VISA DISCOUNT') {
          $("input#checkout_reduction_code").val('');
          $("form.edit_checkout.animate-floating-labels > div.fieldset > div.field").addClass("field--error");
          return false;
        }
        return true;
      }

      var reduction_code_form_check = setInterval( function() {
        if( $('button[type="submit"].field__input-btn.btn').length == 0 ) {
          return;
        }
        $('button[type="submit"].field__input-btn.btn').on('click', mask_promocode_onsubmit);
      },1000);

    </script>

    <script type="text/javascript">
      $(window).on('load', function(event) {
        var __page_url = new URL(window.location.href);
        if($('.order-summary__section.order-summary__section--discount').length > 0 && !(__page_url.searchParams.has('discount') && __page_url.searchParams.get('discount') == 'DC POWER VISA DISCOUNT' || __page_url.searchParams.get('discount') == '491426')) {

          $('.order-summary__section.order-summary__section--discount').prepend('<div class="order-summary-discount-notification"><p>DC Power Visa card holders, <a href="#">click here</a> for discount details.</p></div>');

          $('.order-summary__section.order-summary__section--discount').prepend('<div class="order-summary-discount-popup visually-hidden"><p>To get your DC Power Visa discount, please enter the first six numbers of your DC Power Visa card into the Discount Code box, and click the Apply button. The discount applies to full-priced merchandise, and is not applicable on DVDs and Blu-rays.</p><a class="popup-close-btn">ok</a></div>');

          $(document).on('click', '.order-summary__sections .order-summary__section.order-summary__section--discount .order-summary-discount-notification a', function(event) {
            event.preventDefault();
            $('.order-summary__sections .order-summary__section.order-summary__section--discount .order-summary-discount-popup.visually-hidden').removeClass('visually-hidden');
          });

          $(document).on('click', '.order-summary__sections .order-summary__section.order-summary__section--discount .order-summary-discount-popup a.popup-close-btn', function(event) {
            event.preventDefault();
            $('.order-summary__sections .order-summary__section.order-summary__section--discount .order-summary-discount-popup').addClass('visually-hidden');
          });

          if($('div[data-step="payment_method"] .section--reductions .section__content').length > 0) {
            $('div[data-step="payment_method"] .section--reductions .section__content > div').prepend('<div class="order-summary-discount-notification"><p>DC Power Visa card holders, <a href="#">click here</a> for discount details.</p></div>');
            $('div[data-step="payment_method"] .section--reductions .section__content > div').prepend('<div class="order-summary-discount-popup visually-hidden"><p>To get your DC Power Visa discount, please enter the first six numbers of your DC Power Visa card into the Discount Code box, and click the Apply button. The discount applies to full-priced merchandise, and is not applicable on DVDs and Blu-rays.</p><a class="popup-close-btn">ok</a></div>');

            $(document).on('click', 'div[data-step="payment_method"] .section--reductions .section__content > div .order-summary-discount-notification a', function(event) {
            event.preventDefault();
              $('div[data-step="payment_method"] .section--reductions .section__content > div .order-summary-discount-popup.visually-hidden').removeClass('visually-hidden');
            });

            $(document).on('click', 'div[data-step="payment_method"] .section--reductions .section__content > div .order-summary-discount-popup a.popup-close-btn', function(event) {
            event.preventDefault();
            $('div[data-step="payment_method"] .section--reductions .section__content > div .order-summary-discount-popup').addClass('visually-hidden');
          });
          }
        }
      });
    </script>

  </body>
</html>
