/* Forms =====================================================================*/

.form-group {
  height: $gutter/1.35;
  border-radius: $borderRadius;
  overflow: hidden;
  font-size: 0;
  form {
    height: 100%;
  }
  input, button {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 1.7rem;
    line-height: 1;
    border-radius: $borderRadius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button, .button, input[type="button"], input[type="submit"] {
    width: auto;
    border-radius: $borderRadius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#ContactForm,
#CommentForm form,
#AddAddress form,
.edit_address form,
#RecoverPasswordForm form,
#PasswordResetForm form,
form#address_form_new {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  textarea,
  button, .button,
  .select-wrapper {
    width: 100%;
    margin-bottom: $gutter/2;
  }
  label, input[type="checkbox"] {
    margin-bottom: $gutter/5;
  }
}

form#AddToCartForm,
form#CartPage,
form#contact_form {
  display: block;
  width: 100%;
}

.form-note {
  color: lighten($colorText, $hoverAmount);
}

.form-subscribe {
  .row.collapse {
    margin-bottom: $gutter/5;
    @include ml() {
      label {
        margin-right: $gutter/10;
      }
      p {
        margin-left: $gutter/10;
      }
    }
    @include s() {
      margin-bottom: $gutter/3.33;
      label {
        margin-bottom: $gutter/10;
      }
      input {
        margin-bottom: 0 !important;
      }
    }
  }
}
