/* Custom =============================================================*/

$colorNavDropdown: #DBDBDB;
$colorNavDropdownBorder: #CBCBCB;
$colorNavDropdownBorderTop: #FAFAFA;
$colorNavDropdownColumnBorder: #96b6ca;

$colorSecondaryNavDropdown: #F4F4F6;

/* Forms =============================================================*/
.form-search input[type="text"] {
  font-size: 12px;
  width: 70%;
  @include l() {
    margin-right: $gutter/5;
  }
}

/* Sections =============================================================*/
.hero-slideshow-inner {
  .thumbnail {
    .content {
      min-height: 80px;
      background-color: $colorBorder;
      padding: $gutter/10 $gutter/5;
    }
    &.active, &:hover {
      .content {
        background-color: $colorBrand;
        color: $colorBackground;
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

/* Header =============================================================*/
.theme-header {
  .sites-dropdown {
    display: inline-block;
    position: relative;
    @include l() {
      margin-right: $gutter/5;
    }
    ul.dropdown {
      display: none;
      position: absolute;
      top: 98%;
      right: 0;
      z-index: 100;
      background-color: $colorHighlight;
      width: $gutter*4;
      li {
        display: block;
        a {
          display: block;
          font-size: 0.7rem;
          padding: $gutter/6.25 $gutter/5.5555;
          color: $colorBrand;
          border: $borderWeight $borderStyle $colorBorder;
          border-top: $borderWeight $borderStyle $colorForeground;
          &:hover {
            color: $colorForeground;
            background-color: $colorBrand;
          }
        }
        & + li {

        }
      }
    }
    &:hover {
      ul.dropdown {
        display: block;
      }
    }
  }

  @include sm() {
    background-color: $colorHighlight;
    background-image: none !important;
    padding: 0;
    .container {
      @include s() {
        padding: 0;
      }
      .menu-trigger {
        padding: $gutter/3.33;
        line-height: 1;
        img {
          height: $gutter/2.5;
        }
      }
      .cart-link {
        position: relative;
        .cart-button {
          padding: $gutter/5;
          line-height: 1;
          &:hover {
            background-color: initial;
          }
          img {
            height: $gutter/1.78;
          }
        }
      }
      .form-search {
        margin-bottom: $gutter/5;
        text-align: center;
      }
    }
  }
}

/* Footer =============================================================*/
.theme-footer {
  padding: 0;
  .footer-link {
    color: #0078F0;
    font-weight: $fontBold;
  }
  .menu-title {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

/* Navigation =============================================================*/
// Main Nav
.theme-nav-primary, .theme-nav-secondary {
  font-size: 0;
  line-height: 1;
  margin-bottom: $gutter/5;
  .nav-link {
    font-size: $h5Base;
  }
}

.theme-nav-primary {
  .dropdown {
    position: relative;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:last-child {
      .dropdown-menu {
        right: 0;
      }
    }
    &:nth-last-child(2) {
      .dropdown-menu {
        right: -50%;
      }
    }
    .dropdown-menu {
      background-color: $colorNavDropdown;
      display: none;
      padding: 0;
      position: absolute;
      top: 1.85rem;
      z-index: 2;
      width: $gutter*3;
      border: $borderWeight $borderStyle $colorNavDropdownBorder;
      border-top: 0;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: (($gutter*3)*$i);
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorNavDropdownColumnBorder;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        a {
          border: $borderWeight $borderStyle $colorNavDropdownBorder;
          border-left: 0;
          border-right: 0;
          border-top: $borderWeight $borderStyle darken($colorNavDropdownBorderTop, 5%);
          display: block;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          text-transform: uppercase;
          font-family: $headingFontStack;
          font-size: 0.67rem;
          line-height: ((0.67rem)*2);
          font-weight: $fontBold;
          padding: 8px 9px;
          text-shadow: 1px 1px 0 rgba($colorBackground, 0.4);
          &:hover {
            text-shadow: 1px 1px 0 rgba($colorBackground, 0);
            border: $borderWeight $borderStyle transparent;
            border-left: 0;
            border-right: 0;
            border-top: $borderWeight $borderStyle transparent;
            background-image: none;
            background-color: $colorBrand;
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        a {
          display: block;
        }
      }
    }
  }
}

.theme-nav-secondary {
  .dropdown {
    position: initial;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:last-child {
      .dropdown-menu {
        right: 0;
      }
    }
    .dropdown-menu {
      background-color: $colorSecondaryNavDropdown;
      display: none;
      padding: 0;
      position: absolute;
      z-index: 12;
      width: 100%;
      top: 100%;
      transform: translateY(-$gutter/5 - 10px);
      border: $borderWeight $borderStyle $colorNavDropdownBorder;
      border-top: 0;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: 100%;
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorNavDropdownBorder;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        a {
          border: 0;
          display: block;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          font-family: $headingFontStack;
          font-weight: $fontBold;
          padding: 2px $gutter/2;
          text-shadow: 1px 1px 0 rgba($colorBackground, 0.4);
          color: $colorBrand;
          &.character-link {
            color: #535353;
          }
          &:hover {
            text-shadow: 1px 1px 0 rgba($colorBackground, 0);
            background-color: $colorBrand;
            background-image: none;
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        a {
          display: block;
        }
      }
    }
  }
}

/* Popups =============================================================*/
// Basic styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding: $gutter;
    background-color: $colorBackground;
    color: $colorText;
    text-align: initial;
    cursor: default;
    white-space: initial;
    @include ml() {
      overflow: visible;
    }
    &.popup-header {
      padding-top: 0;
      .popup-header-logo {
        padding-bottom: $gutter;
      }
    }
  }
  &.overlay {
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    .popup-content {
      @include vertical-align();
    }
    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: #0078F0 !important;
          }
          .fill {
            fill: #0078F0 !important;
          }
        }
      }
    }
  }
}

// Popup Cart
#PopupCart {
  .popup-content {
    background-color: $colorForeground;
    padding: $gutter/5;
    border: $borderStyle $borderWeight $colorBorder;
    .table-header {
      h5 {
        color: lighten($colorText, $hoverAmount);
      }
    }
    .cart-item {
      margin-bottom: $gutter/5;
      & + .cart-item {
        border-top: $borderWeight dashed $colorBorder;
        padding-top: $gutter/5;
      }
      .product-image {
        background-color: $colorForeground;
        margin-right: $gutter/5;
        .ratio {
          border: $borderWeight $borderStyle $colorBorder;
        }
      }
    }
  }

  @include ml() {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    width: $gutter*9;
    height: auto;
    .popup-close {
      top: -$gutter/5;
      right: -$gutter/5;
    }
  }

  @include s() {
    background: rgba($colorText, 0.85);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    .popup-content {
      padding-top: $gutter/3.33;
      @include vertical-align();
      .button {
        width: 100%;
      }
    }
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}

/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  .hero-slideshow-inner {
    @include l() {
      border: 0;
      padding: 0;
    }
  }

  .thumbnails {
    margin-bottom: 0;
    padding: 0 $gutter/5;
    .thumbnail {
      padding: 0 ($gutter/25) 0 0;
      &:last-of-type {
        padding: 0;
      }
    }
    .content {
      margin-bottom: 0;
    }
  }
}

.more-dropdown {
  padding: $gutter/2;
}


/* =============================================================================
   Snize Override
============================================================================= */

html .snize-title {
  max-height: 6.8em !important;
  height: 3.8em !important;
  -webkit-line-clamp: 6 !important;
}

html #snize-search-results-grid-mode span.snize-overhidden {
  max-height: 10.8em !important;
}