{% if settings.geolocation_redirect_enabled %}
  <script>
  $(function() {

    var GeolocationRedirect_GeolocateTimer = setTimeout(function() {
        $.ajax({
          url: "https://aracahq.com/geolocate",
          success: function(data) {
            if(checkAllowed(data.country.iso_code)) {
            } else {
              if(checkWhitelist(data.traits.ip_address)) {
              } else {
                if (data.country.iso_code == 'GB') {
                  {% if settings.geolocation_redirect_url_uk contains 'http://' or settings.geolocation_redirect_url_uk contains 'https://' %}
                  doRedirect('{{ settings.geolocation_redirect_url_uk }}');
                  {% endif %}
                } else if(data.continent.code == 'EU') {
                  {% if settings.geolocation_redirect_url_eu contains 'http://' or settings.geolocation_redirect_url_eu contains 'https://' %}
                  doRedirect('{{ settings.geolocation_redirect_url_eu }}');
                  {% endif %}
                }
                else {
                  {% if settings.geolocation_redirect_url contains 'http://' or settings.geolocation_redirect_url contains 'https://' %}
                  doRedirect('{{ settings.geolocation_redirect_url }}');
                  {% endif %}
                }
              }
            }

          },
          dataType: 'json'
        });
        clearTimeout(GeolocationRedirect_GeolocateTimer);
      }, 1);

    function checkAllowed(code) {
      var allowedCountryCodes = ['US', 'CA'];
      if(jQuery.inArray(code, allowedCountryCodes) != -1) {
        return true;
      }
    }

    function checkWhitelist(ipaddress) {
      var allowedIPAddresses = [];
      if(jQuery.inArray(ipaddress, allowedIPAddresses) != -1) {
        return true;
      }
    }

    function doRedirect(url) {
      window.location = url;
    }

  });
  </script>
{% endif %}
