{% if settings.powerreviews_enabled %}
<script>
  POWERREVIEWS.display.render({
    api_key: '{{ settings.powerreviews_api_key }}',
    locale: 'en_US',
    merchant_group_id: '{{ settings.powerreviews_merchant_group_id }}',
    merchant_id: '{{ settings.powerreviews_merchant_id }}',
    page_id: '{{ product.metafields.sku.parent }}',
    review_wrapper_url: 'https://{{ shop.domain }}/pages/write-a-review/?pr_page_id={{ product.metafields.sku.parent }}',
    product: {
      name: "{{ product.title | escape }}",
      url: "https://{{ shop.domain }}{{ product.url }}",
      image_url: "https:{{ product.featured_image | product_img_url: "large" | replace: "<","%26" }}",
      description: "{{ product.description | escape }}",
      category_name: "{{ product.type }}",
      upc: "{{ product.first_available_variant.barcode }}",
      brand_name: "{{ product.vendor }}",
      price: "{{ product.price | money_without_currency }}",
      in_stock: "{{ product.available }}"{% if product.variants.size > 1 %},{% endif %}
      {% if product.variants.size > 1 %}
        variants: [
          {% for variant in product.variants %}
            {
              name: "{{variant.title}}",
              description: "{{variant.title | escape }}",
              page_id_variant: "{{variant.id}}",
              upc: "{{ variant.barcode }}"
            }{% if forloop.last == false %},{% endif %}
          {% endfor %}
        ]
      {% endif %}
    },
    components: {
      ReviewSnippet: 'pr-reviewsnippet',
      ReviewDisplay: 'pr-reviewdisplay'
    }
  });
</script>
{% endif %}
