<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        {% unless page.handle == "addendum" %}
        <h1>{{ page.title }}</h1>
        {% endunless %}
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
      
        <a href="https://cdn.shopify.com/s/files/1/0517/1940/5766/files/2022_Congressional_Directory_-_Alpha_Addendum.pdf?v=1654538887" class= "mobimg" title="2022 Congressional Directory Addendum Download"><img src="https://cdn.shopify.com/s/files/1/0517/1940/5766/files/CPN_Page_Addendum_Mob.png?v=1654547677"class= "mobimg">
      </a>
    </div>
          </div>
</div>
<style>
  @media screen and (min-width: 1000px){
    .mobimg{
      display: none;
    }
  }
    @media screen and (max-width: 1000px){
      .rte{
        display:none;
      }
    }
  .mobimg{
    padding-bottom: 50px;
  }
  </style>