/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .gateway-container {
    h5 {
      color: $colorForeground !important;
    }
  }
  .menu-title {
    border-bottom: $borderWeight dotted $colorBrand;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  ul {
    li {
      padding: $gutter/20 0;
    }
  }
  .disclaimer {
    p {
      margin-bottom: 0;
      font-size: 0.625rem;
      @include s() {
        color: lighten($colorForeground, 100%);
      }
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}
