/* Popups ====================================================================*/

$colorSubscribePopupBg: #f0f0f0;

// Basic styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: $gutter;
    background-color: $colorBackground;
    color: $colorText;
    text-align: initial;
    cursor: default;
    white-space: initial;
    &.popup-header {
      background: $colorBackground url('popup-header--bg.jpg') repeat-x;
      padding-top: 0;
      .popup-header-logo {
        padding-bottom: $gutter;
      }
    }
  }
  &.overlay {
    background: rgba(#000, 0.6);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    &.bordered {
      .popup-content {
        background-color: $colorForeground;
        @include ml() {
          border: $borderWeight*3 $borderStyle $colorBrand;
          border-radius: $borderRadius*2;
        }
      }
    }
    .popup-content {
      @include vertical-align();
    }
    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight !important;
          }
          .fill {
            fill: $colorHighlight !important;
          }
        }
      }
    }
  }
}

#PopupEzPrints {
  .popup-content {
    @include s() {
      width: 100%;
      height: 100%;
      padding:  0;
    }
  }

  @include s() {
    .jspPane {
      &> div {
        width: 100% !important;
      }
    }
  }
}

#ezpBuilderWrapper {
  .ezp-assets-col-1, 
  .ezp-assets-col-2 {

    @include s() {
      width: 100% !important;
    }

    .ezp-media-asset {
      
      @include s() {
        width: 100% !important;
      }

      div {
        @include s() {
          width: 100%;
        }
      }
    }
  }
}

// Popup Cart
#PopupCart {
  .popup-content {
    background-color: lighten($colorBorder, 50%);
    padding: $gutter/5;
    border: $borderStyle $borderWeight $colorBorder;
    overflow: visible;
    .table-header {
      h5 {
        color: lighten($colorText, $hoverAmount);
      }
    }
    .cart-item {
      margin-bottom: $gutter/5;
      & + .cart-item {
        border-top: $borderWeight dashed $colorBorder;
        padding-top: $gutter/5;
      }
      .product-image {
        background-color: $colorForeground;
        margin-right: $gutter/5;
        .ratio {
          border: $borderWeight $borderStyle $colorBorder;
        }
      }
      .sale_price {
        color: $colorError;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }
  }

  @include ml() {
    position: absolute;
    left: auto;
    right: $gutter/5;
    bottom: auto;
    width: $gutter*9;
    height: auto;
    .popup-close {
      top: -$gutter/5;
      right: -$gutter/5;
    }
  }

  @include s() {
    background: rgba($colorText, 0.85);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    .popup-content {
      padding-top: $gutter/3.33;
      @include vertical-align();
      .button {
        width: 100%;
      }
    }
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}

// Popup Quicklook
#PopupQuicklook {
  .tab-content {
    height: 362px;
    overflow-y: auto
  }
  .errorMessage, #raincheckQuicklookOutOfStock strong {
    color: #900;
  }
  &.overlay {
    background: rgba(0,0,0,0.25);
  }
  .popup-close {
    top: 10px;
    right: 5px;
  }
  .popup-content {
    @include prefixer(box-shadow, 0px 0px 15px #000, webkit moz spec);
    width: $s + $gutter;
    max-width: 100%;
    padding: $gutter/5;
    overflow: visible;
    overflow-y: auto;
    border: 5px solid #c0c0c0;
    @include s() {
      padding-top: $gutter;
    }
    .popup-overflow {
      overflow: auto;
      .product-zoom-overlay {
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        @include transition();
        opacity: 0;
        visibility: hidden;
        margin-right: $gutter/5;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-image {
        @include ml() {
          margin-right: $gutter/5;
        }
        border: $borderWeight $borderStyle $colorBorder;
        .zoomImg {
          cursor: all-scroll;
        }
      }
      .thumbnail {
        margin: $gutter/10 $gutter/10 0 0;
      }
      .tab-toggles {
        font-size: 0;
        @include s() {
          border-bottom: $borderWeight $borderStyle $colorBorder;
          margin-bottom: $gutter/3.33;
        }
        [data-accordion-toggle] {
          font-size: $h4Base;
          font-weight: $fontBold;
        }
        [data-accordion-content] {
          padding-bottom: $gutter/3.33;
          &.active {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }

  // Quicklook product content

  [data-tab-content] {
    background-color: #ffffff;
    border: solid 1px $colorBorder;
  }

  [data-tab-toggle] {
    &.active {
      background: #ffffff;
      border: solid 1px $colorBorder;
      border-bottom: 0;
      &:after {
        background-color: #fff;
      }
    }
  }

}

#PopupSubscribe {
  .header {
    background: url({{ 'header-emailsignup.jpg' | asset_url }}) no-repeat;
    width: 506px;
    height: 40px;
    margin-bottom: $gutter/2;
  }
  .container {
    width: 506px;
  }
  .popup-content {
    border-radius: 0;
    border: 0;
    padding: 0px;
    background-color: $colorSubscribePopupBg;
    @include ml() {
      overflow: visible;
    }
  }
  .form-subscribe {
    margin-bottom: $gutter/2;
  }
  .popup-close {
    top: 10px;
    right: 5px;
  }
}

@include s(){
  #Popup_signup{
    display: none;
  }
}