<div class="section" id="gift_note">
  <div class="section__header">
    <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
      <h2 class="section__title layout-flex__item layout-flex__item--stretch">
        {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="gift_icon"><g class="nc-icon-wrapper" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M2.5 2.5c0-1.105.821-2 1.833-2C7.045.5 8 4.5 8 4.5H4.333C3.32 4.5 2.5 3.605 2.5 2.5zM13.5 2.5c0-1.105-.821-2-1.833-2C8.955.5 8 4.5 8 4.5h3.667c1.013 0 1.833-.895 1.833-2z" data-cap="butt" data-color="color-2"/><path data-cap="butt" d="M13.5 9.5v6h-11v-6M.5 4.5h15v3H.5z"/></g></svg>{% endcomment %}
        Gift note
      </h2>
    </div>
  </div>
  <div class="section__content">
    <div class="checkbox-wrapper">
      <div class="checkbox__input">
        <input class="input-checkbox" type="checkbox" name="checkout[gift_note_toggle]" id="gift_note_toggle" data-cart-notes-toggle="" {% if checkout.note != null %}checked disabled readonly{% endif %}>
      </div>
      <label class="checkbox__label" for="gift_note_toggle">
        {% if checkout.note != null %}<a href="" id="edit_gift_note">Edit Gift Note</a>{% else %}Add Free Gift Note{% endif %}
      </label>
    </div>
  </div>
  <div id="gift-note-entry" class="section section--half-spacing-top section--optional hidden">
    <div class="section__content gift-note-fieldset" data-section="gift-note">
      <div class="fieldset">
        <div data-email-or-phone-input-wrapper="true" class="field gift-note-container">
          <div class="field__input-wrapper">
            <label class="field__label field__label--visible" for="note-checkout">Email or mobile phone number</label>
          </div>
          <textarea placeholder="Gift note" autocorrect="off" class="field__input" size="80" maxlength="150" name="checkout[note]" id="note-content">{{ checkout.note }}</textarea>
          <span class="counter-container"><span id="note-counter">150</span> characters remaining</span>
        </div>
      </div>
    </div>
    <div class="gift_note__footer">
      <a class="step__footer__continue-btn btn" data-cart-notes-submit="">
        <span class="btn__content">Save Gift Note</span>
        <i class="btn__spinner icon icon--button-spinner"></i>
      </a>
      <a href="" id="remove_gift_note" class="step__footer__previous-link {% if checkout.note != null %}active{% else %}inactive{% endif %}">
        <svg class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path></svg>
        Remove Gift Note
      </a>
    </div>
  </div>
</div>

<style>
  .gift-note-container {
    position: relative;
  }
  .counter-container {
    position: absolute;
    right: 0.9rem;
    bottom: 0.75rem;
    font-size: 0.75rem;
    color: #AAA;
  }
  #note-content {
    min-height: 80px;
  }
  #gift_note {
    display: none;
  }
  #gift_note.shown {
    display: block;
  }
  .gift_icon {
    stroke-width: 0.075em;
    overflow: visible;
  }
  .gift-note-fieldset {
    padding: 1px;
  }
  .gift_note__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  #remove_gift_note.inactive {
    display: none;
  }
  #remove_gift_note.active {
    display: block;
  }
</style>

<script>

  function ready(isReady) {
    if (document.readyState != 'loading') {
      isReady();
    } else {
      document.addEventListener('DOMContentLoaded', isReady);
    }
  }

  var giftNote = $('#note-content');
  var giftCheckbox = $('#gift_note_toggle');
  var maxGiftNoteLength = 150;
  var noteLengthCounter = $('#note-counter');;

  var newCartNote = function (element) {
    var regexNoReturns = /[\r|\n]/g;
    var regexNoSpaces = /[\s]{2,}/g;
    var cartNote = $('#note-content').val();
    var cartNote = cartNote.replace(regexNoReturns, ' ');
    var cartNote = cartNote.replace(regexNoSpaces, ' ');

    $.post('/cart/update.js', {
      'note': cartNote
      },function() {
        $(element).removeClass('btn--loading'); //Stop Spinning Button
        $('#gift-note-entry').slideUp(); //Close Gift Note Section
        $('.step__footer').slideDown(); //Open Next Step Section
        $('[data-cart-notes-toggle]').prop('disabled', true); //Add 'disabled' Attribute To Checkbox
        $('[data-cart-notes-toggle]').prop('readonly', true); //Add 'readonly' Attribute To Checkbox
        $('[data-cart-notes-toggle]').prop('checked', true); //Add 'checked' Attribute To Checkbox
        $('label[for="gift_note_toggle"]').html('<a href="" id="edit_gift_note">Edit Gift Note</a>'); //Change Checkbox Label To Edit Action
        //Hide 'Remove Gift Message' Action
        $('#remove_gift_note').removeClass('inactive');
        $('#remove_gift_note').addClass('active');
    }, 'json');

  };

  ready(function() {

    if ((Shopify.Checkout.step) !== undefined) {
      if (Shopify.Checkout.step === 'contact_information') {
        // This is contact information
        $("#gift_note").appendTo(".step__sections");
        $('#gift-note-entry').hide();
        $('#gift-note-entry').removeClass('hidden');
        $('#gift_note').addClass('shown')
      }
    }

    $('body').on('click', '[data-cart-notes-toggle]', function (event) {
      $('.step__footer').slideToggle();
      $('#gift-note-entry').slideToggle();
    });

    $('body').on('click', '#edit_gift_note', function(event) {
      event.preventDefault();
      $('.step__footer').slideToggle();
      $('#gift-note-entry').slideToggle();
    });
    $('body').on('click', '#remove_gift_note', function(event) {
      event.preventDefault();
      $.post('/cart/update.js', {
      'note': null
      },function() {
        $('[data-cart-notes-toggle]').prop('disabled', false); //Add 'disabled' Attribute To Checkbox
        $('[data-cart-notes-toggle]').prop('readonly', false); //Add 'readonly' Attribute To Checkbox
        $('[data-cart-notes-toggle]').prop('checked', false); //Add 'checked' Attribute To Checkbox
        $('label[for="gift_note_toggle"]').html('Add Free Gift Note'); //Change Checkbox Label To Edit Action
        $('#gift-note-entry').slideUp(); //Close Gift Note Section
        $('.step__footer').slideDown(); //Open Next Step Section
        $('#note-content').val(''); //Clear Gift Message Field
        $("[data-cart-notes-toggle]").load(location.href + " [data-cart-notes-toggle]"); //Reload Checkbox Input Field
    }, 'json');
    });

    $('body').on('click', '[data-cart-notes-submit]', function (event) {
      newCartNote(this);
      $(this).addClass('btn--loading');
    });

    $(giftNote).keyup(function() {
      var length = $(this).val().length;
      var length = maxGiftNoteLength-length;
      $(noteLengthCounter).text(length);
    });

  });
</script>
