.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  &.visible {
    opacity: 1;
    visibility: visible;
    transition: all 100ms ease-in-out;
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding: 50px;
    background-color: #fff;
    color: #000;
    text-align: initial;
    cursor: default;
    white-space: initial;
    @media (min-width:  651px) {
      overflow: visible;
    }
    &.popup-header {
      background-color: #fff;
      padding-top: 0;
    }
  }
  &.overlay {
    background-color: rgba(51,51,51,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998;
    }
    .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition-delay: 100ms;
      transition: all 100ms ease-in-out;
    }
    &.bordered .popup-content {
      background-color: #fff;
      @media (min-width:  651px) {
        border: 3px solid #006db5;
        border-radius: 8px;
      }
    }
    .popup-content {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
    &.visible .popup-inner {
      transform: translateY(0px);
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    svg.icon {
      &:not(.icon--full-color) circle {
        fill: #fff;
      }
      .stroke {
        stroke: #006db5 !important;
      }
      .fill {
        fill: #006db5 !important;
      }
    }
    &:hover {
      .icon svg {
        .stroke {
          stroke: #eee !important;
        }
        .fill {
          fill: #eee !important;
        }
      }
    }
  }
}