@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1,#ezpBuilderWrapper .ezp-assets-col-2 {
    width: 100% !important;
  }
}
@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset {
    width: 100% !important;
  }
}
@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset div,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset div {
    width: 100%;
  }
}