#PopupSubscribe {
  .header {
    background: url(//cdn.shopify.com/s/files/1/2597/5180/t/1/assets/header-emailsignup.png?10389782732787499269) no-repeat;
    width: 600px;
    height: 40px;
    margin-bottom: 25px;
  }
  .container {
    width: 600px;
  }
  .popup-content {
    border-radius: 3px;
    border: solid 3px #006db5;
    padding: 0px;
  }
  .form-subscribe {
    margin-bottom: 25px;
  }
  .popup-close {
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
  }
  @media (min-width:  651px) {
    .popup-content {
      overflow: visible;
    }
  }
}