<div class="page-width logo-bar-section">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
      {% for block in section.blocks %}
        <div class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {% assign logo_bar_img_class = 'logo-bar__image logo-bar__image_size__' | append: block.settings.logo_image_max_width %}
            {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, logo_bar_img_class }}
            {% if block.settings.hover_image != blank %}
            {% assign logo_bar_hover_img_class = 'logo-bar__image logo-bar__hover_image logo-bar__image_size__' | append: block.settings.logo_image_max_width %}
            {{ block.settings.hover_image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, logo_bar_hover_img_class }}
            {% endif %}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
          <style>
            .logo-bar__image_size__{{ block.settings.logo_image_max_width }}{
              max-width: {{ block.settings.logo_image_max_width }}%;
            }
          </style>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "hover_image",
            "label": "Hover Image"
          },
          {
            "type": "range",
            "id": "logo_image_max_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Logo Image Size",
            "default": 100
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
