<div class="page-width">
    {% if section.settings.social-feed-heading != blank %}
    <div class="section-header text-left">
      <h2>{{section.settings.social-feed-heading}}</h2>
    </div>
  {% endif %} 

  <div class="grid grid--uniform grid--view-items"> 
    <div class="elfsight-sapp-a2fbebc6-562e-41f3-8703-90bd9d9b7d92" style="display: flex; justify-content: center;"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Social-feed",
    "class": "index-section section--social-feeds",
    "settings": [
        {
            "type" :"text",
            "label":"social-feed-heading",
            "id": "social-feed-heading"
        }
        ],
      
        "presets": [
        {
            "name": "social feed",
            "category": "home-social"
        }
    ]
    }
{% endschema %}
