<script type="text/javascript">
  {% unless customer %}
      var _login_url = new URL('{{ settings.user_login_url }}'); 
      _login_url.searchParams.append('referer', window.location.pathname); 
      window.location.href = _login_url.href
  {% else %}
      window.location.href = window.location.origin + "/account"; 
  {% endunless %}
</script>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      <div class="form-vertical">
        {% form 'create_customer' %}

          <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>

          {{ form.errors | default_errors }}

          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>

          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

          {% if settings.subscribe_fields_acceptance %}
            <div class="subscribe-input">
              <span>*</span>
              <input checked type="checkbox" name="customer[accepts_marketing]" id="checkbox">
              <span class="checkbox-label"><label for="checkbox">{{ settings.subscribe_fields_acceptance_text }}</label></span>
              <span><a href=""></a></span>
            </div>
          {% endif %}

          <p class="text-center">
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
          </p>

        {% endform %}
      </div>
    </div>
  </div>
</div>
