{% capture row_limit %}
{{ row_limit_setting | times: 5 }}
{% endcapture %}


  <div id="{{ owl_id }}" class="owl-control owl_collection">
    {% for product in collections[sale_off_collection].products limit: row_limit %}          
    {% assign current_collection = collections[sale_off_collection] %}
    {% include 'product-grid-item' %}
    {% endfor %}
  </div>


<script>
  $(document).ready(function() {
    $("#{{owl_id}}").owlCarousel({
      itemsCustom : [
      	[320, 1],
      	[500, 2],
        [700, 3],
        [1000, {{row_limit_setting}}],
        [1200, {{row_limit_setting}}],
        [1400, {{row_limit_setting}}],
        [1600, {{row_limit_setting}}]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>

