{% comment %}
  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.
{% endcomment %}

{% assign delayTime = 200 | times : forloop.index %}
<div class="col-xs-12 col-md-6 col-sm-4">

  {% comment %}
    Use capture to put the collection title in a variable that is used in liquid filters
  {% endcomment %}
  
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  <div class="product-top">
    <a href="{{ collection.url }}" title="{{ collection_title }}">
      {% if collection.image %}
      {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title }}
      {% else %}
      {{ collection.products.first.featured_image | product_img_url: 'large' | img_tag: collection_title }}
      {% endif %}
      
    </a>
    <a href="{{ collection.url }}" class="view">&nbsp;</a>
  </div>
  <div class="collection-title-wrapper">
    <div class="collection-title">
      <h3 class="h5">
        <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">{{ collection.title }}</a>
      </h3>
      <p class="count-products">{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'product', 'products' }}</p>
      <p class="desc">{{ collection.description | strip_html | truncatewords: 14 }}</p>
      <p><a href="{{ collection.url }}" title="Shop The Collection" class="btn">Shop The Collection</a></p>
    </div>
  </div>
</div>