{% if template == "index" and settings.display_slideshow %}
{% assign slider_enabled = true %}
<div class="home-slideshow"> 
  <div class="main-slideshow">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..6) %}
        {% capture slide %}slide_{{ i }}{% endcapture %}
        {% capture link %}slide_{{ i }}_link{% endcapture %}
        {% capture slide_img %}slideshow_{{ i }}.jpg{% endcapture %}
        {% capture slide_alt %}slide_{{ i }}_alt{% endcapture %}
        {% capture slidetext %}slide-text_{{ i }}{% endcapture %}
        {% if settings[slide] %}
        <li>
          <a class="slide-link" href="{{ settings[link] }}">
            <div style='background: url({{ slide_img | asset_url }} ) no-repeat top center; height:500px;background-size:100% auto; ' id="background-img">
              <div class="slide-des ">
                <div class="container">
                  {% if settings[slidetext] != blank %}
                  {{ settings[slidetext]}}
                  {% endif %}
                </div>
              </div>
            </div>
         </a>
      	</li>
        {% endif %}
        {% endfor %}
        </ul>
  </div>
  <script>
    if ( jQuery('.slides li').size() > 1 ) {

      window.timberSlider = window.timberSlider || {};

      timberSlider.cacheSelectors = function () {
        timberSlider.cache = {
          // Home Page
          $slider: jQuery('.flexslider')
        }
      };

      timberSlider.init = function () {
        timberSlider.cacheSelectors();
        timberSlider.sliders();
      };

      timberSlider.sliders = function () {
        var $slider = timberSlider.cache.$slider,
            sliderArgs = {
              animation: '{{ settings.slider_home_transition }}',
              animationSpeed: 500,
              pauseOnHover: true,
              keyboard: false,
              slideshow: {{ settings.slider_home_auto }},
              slideshowSpeed: {{ settings.slider_home_rate }},
              controlNav: {{ settings.slider_home_show_dots }},
              smoothHeight: true
            };

        if ($slider.length) {

          if ($slider.find('li').length === 1) {
            sliderArgs.slideshow = false;
            sliderArgs.slideshowSpeed = 0;
            sliderArgs.controlNav = false;
            sliderArgs.directionNav = false;
          }

          $slider.flexslider(sliderArgs);
        }
      };

      // Initialize slider on docready
      jQuery(window).on('load', function() {
        timberSlider.init();
      });


    }
  </script>
</div>
{% endif %}