{%if settings.enable_block_home_category%}

<div class="col-xs-12 col-sm-6 first home-category-item-1">
  <div class="row category-item-2">
    <div class="col-xs-12">
      <div class="block-home-category">
        {{ 'block_home_category4.jpg' | asset_url | img_tag }}
        <div class="block-content">
          {% if settings.block_text_content_4_home_category != blank %}
          <h3>{{ settings.block_text_content_4_home_category }}</h3>
          {% endif %}
          {% if settings.block_category_link_4 != blank %}
          <a class="btn-view btn" href="{{ settings.block_category_link_4 }}">
            {{ settings.block_category_button_4 }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!--   <div class="block-home-category">
    {{ 'block_home_category1.jpg' | asset_url | img_tag }}
    <div class="block-content">
      {% if settings.block_text_content_1_home_category != blank %}
      <h3>{{ settings.block_text_content_1_home_category }}</h3>
      {% endif %}
      {% if settings.block_category_link_1 != blank %}
      <a class="btn-view btn" href="{{ settings.block_category_link_1 }}">
        {{ settings.block_category_button_1 }}
      </a>
      {% endif %}
    </div>
  </div> -->
</div>
<div class="col-xs-12 col-sm-6 home-category-item-2">
<!--   <div class="row category-item-1">
    <div class="col-xs-6">
      <div class="block-home-category">
        {{ 'block_home_category2.jpg' | asset_url | img_tag }}
        <div class="block-content">
          {% if settings.block_text_content_2_home_category != blank %}
          <h3>{{ settings.block_text_content_2_home_category }}</h3>
          {% endif %}
          {% if settings.block_category_link_2 != blank %}
          <a class="btn-view btn" href="{{ settings.block_category_link_2 }}">
            {{ settings.block_category_button_2 }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="block-home-category">
        {{ 'block_home_category3.jpg' | asset_url | img_tag }}
        <div class="block-content">
          {% if settings.block_text_content_3_home_category != blank %}
          <h3>{{ settings.block_text_content_3_home_category }}</h3>
          {% endif %}
          {% if settings.block_category_link_3 != blank %}
          <a class="btn-view btn" href="{{ settings.block_category_link_3 }}">
            {{ settings.block_category_button_3 }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div> -->
  <div class="row category-item-2">
    <div class="col-xs-12">
      <div class="block-home-category">
        {{ 'block_home_category4.jpg' | asset_url | img_tag }}
        <div class="block-content">
          {% if settings.block_text_content_4_home_category != blank %}
          <h3>{{ settings.block_text_content_4_home_category }}</h3>
          {% endif %}
          {% if settings.block_category_link_4 != blank %}
          <a class="btn-view btn" href="{{ settings.block_category_link_4 }}">
            {{ settings.block_category_button_4 }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{%endif%}






