{% if settings.enable_block_home_feature %}
<div class="col-xs-12">
  <div class="image-hover-inner">
    <span class="image-overlay"></span>               
    {{ 'block_home_feature.jpg' | asset_url | img_tag }}
    <div class="image-content-hover">
      <div class="content">
        {% if settings.block_title_home_feature != blank %}
        <h3 class="title" style="color: #ffffff">{{ settings.block_title_home_feature }}</h3>
        {% endif %}
        {% if settings.block_text_content_home_feature != blank %}
        <p class="sub-title" style="color: #ffffff">{{ settings.block_text_content_home_feature }}</p>
        {% endif %}
        {% if settings.block_feature_link_1 != blank %}
        <a class="btn-view btn" href="{{ settings.block_feature_link_1 }}">
          {{ settings.block_feature_button_1 }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}