
  <section class="container">

    <div class="load-product">
      <div class="products-grid">
        {% for product in collections[tabnew_collection].products limit:settings.product_list_limit_all %}
        {% include 'product-grid-item' %}	  
        {% endfor %}
      </div> 
      {% assign products_to_show = settings.product_list_limit | plus:0 %} 
      {% if settings.display_infinite_scrolling_homepage and collections[tabnew_collection].all_products_count > products_to_show %}

      <div class="load-more">
        <a href="javascript:void(0)" title="{{ if settings.product_list_infinite_scrolling_text }}">{{ settings.product_list_infinite_scrolling_text }}</a>  
      </div>

      <script>
        var productsToShow = {{products_to_show}};
        var totalProducts = {{collections[tabnew_collection].all_products_count}};
        jQuery(".load-more a").click(function() {
          if (jQuery('.load-product .products-grid .grid-item:hidden').length > 0) {
            jQuery('.load-product .products-grid .grid-item:hidden:lt('+productsToShow+')').each(function() {
              jQuery(this).show();
              {% if settings.product_item_no_hover %}
              jQuery(this).find('img').css('height','auto');              
              {% endif %}
              if (window.product_image_resize) {
                jQuery(this).find('img').fakecrop({ 
                  fill: window.images_size.is_crop,
                  widthSelector: ".load-product .products-grid .grid-item:first .product-image",
                  ratioWrapper: window.images_size
                });
              }
            });        

            jQuery("window" ).scroll();
            if (jQuery('.load-product .products-grid .grid-item:hidden').length == 0) {
              //no more products
              jQuery(".load-product .load-more a").text("{{settings.product_list_no_more_product_text}}").addClass('disabled');
                                                                                }
                                                                                }
                                                                                });
      </script>
      {% endif %}
    </div>
</section>
