{% assign number_of_related_products = settings.number_of_related_products | plus:1 %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
<section class="related-products">
  <div class="title-tab-home">
    {% if settings.related_products_title != '' %}
    <div class="module-title">
      <h2>{{ settings.related_products_title }}</h2>
    </div>
    {% endif %}
  </div>
  <div class="products-grid">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: number_of_related_products %}
    {% if product.handle == current_product.handle %}
    {% assign current_product_found = true %}
    {% else %}
    {% unless current_product_found == false and forloop.last %}
    {% include 'related-product-item' %}
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>
</section>
<script>
  jQuery(document).ready(function() {
    jQuery(".related-products .products-grid").owlCarousel({
      autoPlay: 8000,     
      scrollPerPage: true,
      slideSpeed: 500,
      stopOnHover: true,  
      pagination : false,
      navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      items : 4,
      itemsDesktop : [1200,3],
      itemsTablet: [767,3],
      itemsTabletSmall: [721,2]
    });
  });
</script>

{% endif %}