{% assign number_of_related_products_to_show = settings.number_of_related_products | plus:1 %}

{% assign current_product = product %}
{% assign current_product_tags = product.tags %}
{% assign found_first_match = false %}
{% assign found_second_match = false %}
{% assign first_related_product = true %}

{% assign product_count = 1 %}

{% paginate collections.all.products by 1000 %}
{% for product in collections.all.products %}
{% unless product.handle == current_product.handle %}
{% for tag in product.tags %}
{% if current_product_tags contains tag and tag != 'Made in USA' %}
{% if found_first_match == false %}
{% assign found_first_match = true %}
{% assign first_match = tag %}
{% elsif found_second_match == false %}
{% assign found_second_match = true %}
{% assign second_match = tag %}
{% endif %}
{% endif %}
{% endfor %}

{% if found_first_match == true %}
{% if first_related_product == true %}
{% assign first_related_product == false %}

<div class="related-products">
  {% if settings.related_products_title != '' %}
  <h2>{{ settings.related_products_title }}</h2>
  {% endif %}
  <div class="products-grid">

    {% endif %}

    {% if product_count < number_of_related_products_to_show %}    
    {% if product.tags contains first_match or product.tags contains second_match %}          
    {% include 'related-product-item' with collection.handle %}
    {% assign product_count = product_count | plus:1 %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endunless %}
    {% endfor %}
  </div>
  {% endpaginate %}
</div>
<script>
  jQuery(document).ready(function() {
    jQuery(".related-products .products-grid").owlCarousel({
      autoPlay: 8000,     
      scrollPerPage: true,
      slideSpeed: 500,
      stopOnHover: true,   
      pagination : false,
      navigation: true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      items : 4,
      itemsDesktop : [1200,3],
      itemsTablet: [767,3],
      itemsTabletSmall: [721,2]
    });
  });
</script>