<!-- {% comment %}
  This snippet gives you a grid layout for each search result.

  It is encouraged to only use this approach for product results,
  as page results don't look great in a grid without a featured image.

  To use this grid layout, change the grid_results variable
  in search.liquid to true.
{% endcomment %}

<div class="grid-item search-result">
  {% if item.featured_image %}
  <a href="{{ item.url }}" title="{{ item.title | escape }}">
    {{ item.featured_image.src | product_img_url: 'medium' | img_tag: item.featured_image.alt }}
  </a>
  {% endif %}
  
  <h5>{{ item.title | link_to: item.url }}</h5>
  
  <h6>
    {% if item.compare_at_price > item.price %}
    <span class="on-sale" itemprop="price">
      {{ item.price | money }}
    </span>
    <small>
      Compare at:
      {{ item.compare_at_price_max | money }}
    </small>
    {% else %}
    <span itemprop="price">
      {{ item.price | money }}
    </span>
    {% endif %}
  </h6>
</div> -->



{% assign delayTime = 200 | times : forloop.index %}
{% if settings.collection_results_per_row != blank and settings.collection_results_per_row != '5' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row %}
{% assign columns = 12 | divided_by: product_grid %}
{% assign lable_sale = false %}
{% if item.compare_at_price_min > item.price_min %}
  {% assign lable_sale = true %}
{% endif %}
<div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
<div class="grid-item product-item " id="product-{{ item.id }}">
{% else %}
<div class=" grid-item product-item "  id="product-{{ item.id }}">
{% endif %}

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}

    <div class="product-image">
      {% assign found = false %}
      {% for c in product.collections %}
      {% if c.handle == "5-off-2-day-shipping" %}
      {% assign found = true %}
      {% endif %}
      {% endfor %}

      {% if found == true %}
      <span class="icon-label new-box">
        <img src="{{ 'bbd_badge.png' | asset_url }}">
      </span>
      {% endif %}
      <a href="{{ item.url | within: collection }}" class="grid-image">
        <img src="{{ item.featured_image.src | product_img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}">
        {% if settings.product_image_hover %}
        <span class="product-image-hover" data-idproduct="{{ item.id }}">
          {% for image in item.images %}
            {% if forloop.first != true %}
              <img alt="{{ item.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}
      </a>
		{% if settings.enable_quick_view %}
          <div class="sca-qv-button-wrap">
            <a class="sca-qv-button" handle="{{item.handle}}" href="#sca-qv-showqv" >Quick View</a>
          </div>
          {% endif %}
    </div>
    <div class="product-content">
      <h3><a class="product-title" href="{{ item.url | within: collection }}">{{ item.title }}</a></h3>
      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
      {% endif %}
      <div class="price-box">
        {% if lable_sale or lable_out %}
          <div class="">
            {% if lable_sale %}
            	{% if item.price_varies %}
              		<span class="compare-price" style="line-height: 1.5">{{ item.compare_at_price_min | money }} - {{ item.compare_at_price_max | money}}</span><br>
            		<span class="price on-sale" itemprop="price" style="font-size: 20px;">{{ item.price_min | money }} - {{ item.price_max | money }} {% if item.compare_at_price > item.price %} <br><span style="color: #A71820; font-size: 15px; vertical-align: bottom; font-weight: 600;">(Save {{ item.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>{% endif %}</span>
                {% else %}
                	<span class="compare-price" style="line-height: 1.5">{{ item.compare_at_price_max | money }}</span><br>
              		<span class="price on-sale" itemprop="price" style="font-size: 20px;">{{ item.price | money }} {% if item.compare_at_price_max > item.price %} <br><span style="color: #A71820; font-size: 15px; vertical-align: bottom; font-weight: 600;">(Save {{ item.compare_at_price_max | minus: item.price | times: 100.0 | divided_by: item.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>{% endif %}</span>
                {% endif %}
            {% endif %}
            {% if lable_out %}
            <span id="outStock">OUT OF STOCK</span>
            {% endif %}
          </div>
        {% else %}
        <p class="regular-product">
            {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
            {% endcomment %}
            {% if item.price_varies %} 
            <span >{{ item.price_min | money }} - {{ item.price_max | money }} </span>
            {% else %}
            <span >{{ item.price | money }} </span>
            {% endif %}
          </p>
        {% endif %}
      </div>
      
    </div>
</div>
  </div>
  