/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  .hero-slideshow-inner {
    @include l() {
      border: $borderWeight $borderStyle $colorBorder;
      padding: $gutter/5;
    }
  }

  .thumbnails {
    margin-bottom: $gutter/10;
    padding: 0 $gutter/5;
    .thumbnail {
      padding: 0 ($gutter/25) 0 0;
      &:last-of-type {
        padding: 0;
      }
    }
    .content {
      margin-bottom: $gutter/10;
    }
  }
}
