.consent-management-cta {
  right: 0;
  width: 0;
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  z-index: 999;
  position: fixed;
  background: #FFF;
  box-shadow: -2px 4px 15px 0px #0000004a;
  border-radius: 5px 0 0 5px;
}
.consent-management-cta img {
  width: 50px;
  height: 50px;
}
.consent-management-dialog {
  z-index: 999999999 !important;
}
.consent-management-dialog.mini {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 99;
  display: none;
  position: fixed;
  background: #FFF;
  box-shadow: 0px 3px 15px #0000004a;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.consent-management-dialog.mini .container {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 1450px;
}
.consent-management-dialog.mini .container a {
  color: #333;
  text-decoration: underline;
}
.consent-management-dialog.mini .container span {

}
.consent-management-dialog.mini .container span a {
}
.consent-management-dialog.mini .container form#ConsentForm {
  margin: 10px 0 0 0;
  display: block;
  overflow: auto;
}
.consent-management-dialog.mini .container form#ConsentForm .options {
  float: right;
}
.consent-management-dialog.mini .container form#ConsentForm .options .accept-consent-option {
  float: left;
  margin: 0 10px 0 0;
}
.consent-management-dialog.mini .container form#ConsentForm .options .accept-consent-option input[type="submit"] {
  float: left;
  color: #333;
  cursor: pointer;
  margin: 0 0 5px 0;
  padding: 8px 25px;
  background: #FFF;
  font-size: 10px;
  border: 1px solid #333;
  text-transform: uppercase;
}
.consent-management-dialog.mini .container form#ConsentForm .options .accept-consent-option input[type="submit"]:disabled {
  background: #00000094;
  cursor: not-allowed;
}
.consent-management-dialog.mini .container form#ConsentForm .options .accept-consent-option span {
  clear: both;
  display: block;
  max-width: 230px;
}
.consent-management-dialog.mini .container form#ConsentForm .options .additional-consent-options {
  float: left;
}
.consent-management-dialog.mini .container form#ConsentForm .options .additional-consent-options a {
  line-height: 32px;
  text-decoration: underline;
}

.consent-management-dialog.extended {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: none;
  position: fixed;
  background: #0000006b;
}
@media only screen and (max-width: 450px) {
  .consent-management-dialog.extended {
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 451px) {
  .consent-management-dialog.extended {
  }
}

.consent-management-dialog.extended .container {
  margin: 0 auto;
  padding: 15px 25px;
  width: 600px;
  max-width: 90%;
  color: #000;
  box-shadow: 0px 3px 15px #ffffff82;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 600;
  background: #FFF;
  position: relative;
  border-radius: 5px;
}
@media only screen and (max-width: 450px) {
  .consent-management-dialog.extended .container {
    top: 1%;
  }
}
@media only screen and (min-width: 451px) {
  .consent-management-dialog.extended .container {
    top: 10%;
  }
}

.consent-management-dialog.extended .container a {
  color: #000;
}
.consent-management-dialog.extended .container span {

}
.consent-management-dialog.extended .container span a {
  color: #000;
  text-decoration: underline;
}
.consent-management-dialog.extended .container form#ConsentForm {
  margin: 10px 0 0 0;
  display: block;
  overflow: auto;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion {
  max-width: 560px;
	margin: 0 auto 0 auto;
  list-style-type: none;
  opacity: 1;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li {
	position: relative;
  width: 100%;
  float: left;
  margin: 0 0 11px 0;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li input[type="checkbox"] {
  float: left;
  width: 5%;
  margin: 6px 0;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li p {
  display: none;
  font-size: 13px;
  float: right;
  width: 92%;
  font-weight: normal;
  color: #000;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li a {
  width: 95%;
  float: left;
  color: #000;
	display: block;
	cursor: pointer;
	font-weight: 600;
	line-height: 26px;
	font-size: 12px;
	text-indent: 15px;
	user-select: none;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li a:hover {
  text-decoration: none;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li a:after {
  width: 8px;
	height: 8px;
  border-right: 1px solid #4a6e78;
	border-bottom: 1px solid #4a6e78;
	position: absolute;
	right: 10px;
	content: " ";
	top: 17px;
	transform: rotate(-45deg);
}
.consent-management-dialog.extended .container form#ConsentForm .accordion li a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion.disabled {

}
.consent-management-dialog.extended .container form#ConsentForm .accordion.disabled li a:after {
  display: none;
}
.consent-management-dialog.extended .container form#ConsentForm .accordion.disabled li p {
  display: block;
}
.consent-management-dialog.extended .container form#ConsentForm input[type="submit"] {
  float: right;
  color: #333;
  cursor: pointer;
  padding: 8px 25px;
  background: #FFF;
  margin: 7px 0 0 0;
  font-size: 10px;
  border: 1px solid #333;
  text-transform: uppercase;
}
.consent-management-dialog.extended .container form#ConsentForm input[type="submit"]:disabled {
  background: #00000094;
  cursor: not-allowed;
}
.consent-management-dialog.extended .container form#ConsentForm a.navigate-back {
  float: left;
  line-height: 41px;
}
