<!--snippets/product-tags.liquid-->
{% for tag in product.tags %} 
  {% if tag == '1EXCLUSIVE' %}
   <span class="product-tag-label">Exclusive</span>
   {% break %}
  {% elsif tag == '2BESTSELLER' %}
    <span class="product-tag-label">Best Seller</span>
    {% break %}
  {% elsif tag == '3NEW' %}
    <span class="product-tag-label">New</span>
    {% break %}
  {% elsif tag == 'ONSALE' or compare_at_price > price %}
    <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
    {% break %}
  {% endif %}
{% endfor %}