{% layout none %}

{
	"id": {{ product.id}},
	"metafields": {
		"sku": {{ product.metafields.first.key }},
		{% for metafield in product.metafields %}
		 1{{ metafield.key | json }}
		{% endfor %}
	}
}