<!-- sections/template-collection-order-form.liquid -->

{% include 'template-collection-order-form' %}

{% schema %}
  {
    "name": "Order form template",
    "settings": [
      {
        "type": "header",
        "content": "Order form template",
        "info": "These settings affect all collections using this template"
      },
      {
        "type": "checkbox",
        "id": "pagination",
        "label": "Display pagination",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "promo",
        "name": "Promotion",
        "settings": [
          {
            "type": "header",
            "content": "Promotion",
            "info": "Create a promotion image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to display this promotion on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to display this promotion on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
