<div id="home-features" class="index-section home-section">
  <div class="home-section-header" id="how-works">How it works</div>
  <br clear="both">
  <div class="section-header-underline"></div>
  <br clear="both">
  <div class="wrapper wrapper--margins">
    <div class="home-features">
      {% if section.settings.title != blank %}
        <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>
      {% endif %}

      <ul class="features-list grid grid-margins">

	  {% for block in section.blocks %}

        {% case block.settings.width %}
          {% when '25%' %}
            {%- assign grid_class = 'grid__item large--one-quarter medium--one-half small--text-center' -%}
          {% when '33%' %}
            {%- assign grid_class = 'grid__item large--one-third medium-down--text-center' -%}
          {% when '50%' %}
            {%- assign grid_class = 'grid__item large--one-half medium--one-half small--text-center' -%}
          {% when '66%' %}
            {%- assign grid_class = 'grid__item large--two-thirds medium-down--text-center' -%}
          {% when '75%' %}
            {%- assign grid_class = 'grid__item large--three-quarters medium-down--text-center' -%}
          {% when '100%' %}
            {%- assign grid_class = 'grid__item one-whole--text-center' -%}
        {% endcase %}


			<li class="{{ grid_class }}" {{ block.shopify_attributes }}>
				<i class="fa fa-{{ block.settings.home-features-icon | escape }} fa-3x"></i>
                <div class="how-icon"><img src="{{ block.settings.image | img_url: '550x' }}"></div>
                <img class="how-num" src="{{ block.settings.num-image | img_url: '50x' }}">
				<h3 class="h4">{{ block.settings.home-features-title | escape }}</h3>
				{{ block.settings.home-features-content }}
			</li>

      {% endfor %}

      </ul>

    </div>
</div>
</div>

<script>
  var scroll = new SmoothScroll('#whats-in-box',{
    header: '[site-header]'
  });
</script>

{% schema %}
  {
  	"name": "Text columns with icons",
  	"settings": [
  		{
  			"type": "text",
  			"id": "title",
  			"label": "Heading",
  			"default": "Text columns with icons"
  		}
  	],
  	"presets": [
  		{
  			"name": "Text columns with icons",
  			"category": "Text",
  			"blocks": [
  				{
  					"type": "text"
  				},
  				{
  					"type": "text"
  				},
  				{
  					"type": "text"
  				}
  			]
  		}
  	],
  	"blocks" : [
  		{
  			"type": "text",
  			"name": "Describe a feature",
  			"settings": [
  				{
  					"type": "text",
  					"id": "home-features-icon",
  					"label": "Icon name",
  					"default":"bell-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: bluetooth"
  				},
				{
  					"type": "image_picker",
                    "id": "image",
                    "label": "Icon image"
  				},
				{
  					"type": "image_picker",
                    "id": "num-image",
                    "label": "Icon Number image"
  				},
  				{
  						"type": "text",
  						"id": "home-features-title",
  						"default":"Describe a feature",
  						"label": "Title"
  				},
  				{
  					"type": "richtext",
  					"id": "home-features-content",
  					"label": "Text",
  					"default":"<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
  					"info": "Use basic HTML to format text"
  				},
  				{
  					"type": "select",
  					"id": "width",
  					"label": "Container width",
  					"default": "33%",
  					"options": [
  						{
  							"value": "25%",
  							"label": "25%"
  						},
  						{
  							"value": "33%",
  							"label": "33%"
  						},
  						{
  							"value": "50%",
  							"label": "50%"
  						},
  						{
  							"value": "66%",
  							"label": "66%"
  						},
  						{
  							"value": "75%",
  							"label": "75%"
  						},
  						{
  							"value": "100%",
  							"label": "100%"
  						}
  					]
  				}
  			]
  		}
  	]
  }
{% endschema %}
