<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if section.settings.show_announcement %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.announcement_color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.announcement_color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.announcement_color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.announcement_color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.announcement_color_text }};
        }
      </style>

      {% if section.settings.announcement_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.announcement_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

        <p class="announcement-bar__message">{{ section.settings.announcement_text | escape }}</p>

      {% if section.settings.announcement_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}

  <header class="site-header site-header--{{ section.settings.menu_style }} {% if section.settings.menu_text_color %}{{ section.settings.menu_text_color }}{% endif %}" role="banner">
    <div class="wrapper">
      {% if section.settings.logo_max_width != empty and section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      <style>
        .site-header__logo {
          max-width:{{ section.settings.logo_max_width | escape }}px;
        }
      </style>
      {% else %}
        {% assign image_size = "200x" %}
        <style>
        .site-header__logo {
          max-width: {{ image_size | slice: -1 }}px;
        }
      </style>
      {% endif %}

        {% if template.name == 'index' %}
          <h1 class="site-header__logo {% if section.settings.logo %} display-table use-image" style="max-width:{{ image_size | slice: -1 }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 site-header__logo {% if section.settings.logo %} display-table use-image" style="max-width:{{ image_size | slice: -1 }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% assign logo_inverted_url = section.settings.logo-inverted | img_url: image_size %}
            {% if section.settings.logo_use_inverted and section.settings.logo-inverted != blank %}
              {%- assign img_url_alt = section.settings.logo-inverted | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <a href="/" itemprop="url" class="site-header__logo-link display-table-cell">
                  <img class="no-js lazyload supports-js"
                    data-src="{{ img_url_alt }}"
                    data-widths="[90, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ section.settings.logo-inverted.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ logo_alt | escape }}">
                <noscript>
                  <img src="{{ section.settings.logo-inverted | img_url: image_size }}"
                    srcset="{{ section.settings.logo-inverted | img_url: image_size }} 1x, {{ section.settings.logo-inverted | img_url: image_size, scale: 2 }} 2x"
                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                    itemprop="logo">
                </noscript>
                </a>
            {% else %}
                <a href="/" itemprop="url" class="site-header__logo-link display-table-cell{% if section.settings.logo_use_inverted %} logo--has-inverted{% endif %}">
                  {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                  <img class="no-js lazyload supports-js"
                      data-src="{{ img_url }}"
                      data-widths="[90, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ logo_alt | escape }}">
                  <noscript>
                    <img src="{{ section.settings.logo | img_url: image_size }}"
                      srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                      alt="{{ section.settings.logo.alt | default: shop.name }}"
                      itemprop="logo">
                  </noscript>
                </a>
            {% endif %}
          {% else %}
            <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
          {% endif %}
        
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

      <nav class="nav-bar" role="navigation">
        <ul class="site-nav" id="AccessibleNav">
          {% for link in linklists[section.settings.main_linklist].links %}
                {%- comment %}<locksmith:36ba>{% endcomment -%}
                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists[section.settings.main_linklist] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:36ba>{% endcomment -%}
                {%- assign child_list_handle = link.title | handleize -%}
            {% if linklists[child_list_handle].links != blank %}
              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ link.url }}" class="site-nav__link">
                  {{ link.title }}
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul class="site-nav__dropdown">
                  <div>
                    {% for childlink in linklists[child_list_handle].links %}
                      {%- comment %}<locksmith:9766>{% endcomment -%}
                        {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: childlink, locksmith_subject_parent: linklists[child_list_handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                      {%- comment %}</locksmith:9766>{% endcomment -%}
                      <li>
                        <a href="{{ childlink.url }}" class="site-nav__link {% if childlink.active %} site-nav--active {% endif %}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </div>
                  <span class="arrow">&nbsp;</span>
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}" class="site-nav__link {% if link.active %} site-nav--active {% endif %}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}

<!--           {% unless section.settings.menu_product == blank %}
            <li class="btn__buy"><a href="{{ all_products[section.settings.menu_product].url }}" class="btn btn--outline {% if section.settings.menu_style == 'classic' %} btn--small btn--dark {% else %} btn--regular btn--light {% endif %}">{{ 'layout.navigation.buy_button' | t }} {{ all_products[section.settings.menu_product].price | money_without_trailing_zeros }}</a></li>
          {% endunless %} -->

          {% if customer %}
          <li>
            <a class="site-nav__link" href="/account">My Account</a>
          </li>
          {% else %}
          <li>
            <a class="site-nav__link" href="/account/login">Log In</a>
          </li>
          {% endif %}
          
          <li>
            <a class="site-nav__link" href="/cart">Cart</a>
          </li>
          
          <li class="btn_signup">
            <a href="/products/the-walking-dead-supply-drop-subscription-box">Sign Up</a>
          </li>

        </ul>

      </nav>
	  
      <div class="mob-cart">
        <a href="/cart"><img src="{{ 'cart.png' | asset_url }}"></a>
      </div>
      
      <button id="menu-opener" class="lines-button">
        <span class="fallback-text">{{ 'layout.navigation.open_menu' | t }}</span>
        <span class="lines" aria-hidden="true"></span>
      </button>

    </div>
  </header>
</div>

{% schema %}
  {
  	"name": "Header",
  	"settings": [
  		{
  			"type": "header",
  			"content": "Logo"
  		},
  		{
  			"type": "image_picker",
  			"id": "logo",
  			"label": "Logo image",
  			"info": "200px wide .png recommended"
  		},
  		{
  			"type": "checkbox",
  			"id": "logo_use_inverted",
  			"label": "Use an inverted logo"
  		},
  		{
  			"type": "image_picker",
  			"id": "logo-inverted",
  			"label": "Inverted logo",
  			"info": "Use this with dark slideshow images for better visibility"
  		},
  		{
  			"type": "text",
  			"id": "logo_max_width",
  			"label": "Custom logo width (in pixels)",
  			"default": "250",
  			"info": "Do not add the 'px' unit"
  		},
  		{
  			"type": "header",
  			"content": "Navigation"
  		},
  		{
  			"type": "link_list",
  			"id": "main_linklist",
  			"label": "Menu",
  			"default": "main-menu"
  		},
  		{
  			"type": "select",
  			"id": "menu_style",
  			"label": "Menu style",
  			"options": [
  				{
  					"value": "classic",
  					"label": "Classic"
  				},
  				{
  					"value": "drawer",
  					"label": "Drawer"
  				}
  			]
  		},
  		{
  			"type": "select",
  			"id": "menu_text_color",
  			"label": "Classic menu color",
  			"options": [
  				{
  					"value": "is-dark",
  					"label": "Dark"
  				},
  				{
  					"value": "is-light",
  					"label": "Light"
  				}
  			],
  			"info": "Use this when the menu is over dark sections for better visibility"
  		},
  		{
  			"type": "product",
  			"id": "menu_product",
  			"label": "Product for \"buy now\" button"
  		},
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "announcement_color_bg",
        "label": "Bar",
        "default": "#429c80"
      },
      {
        "type": "color",
        "id": "announcement_color_text",
        "label": "Text",
        "default": "#fff"
      }
  	]
  }
{% endschema %}
