{%- assign carousel_images = "" -%}
{%- assign _amount_images = "" -%}

{% for block in section.blocks %}
	{% if block.settings.collection_page == collection.handle %}
		{% case block.settings.image_amount %}
		{% when 'one' %}
		  {%- assign grid_item_width_tout = 'grid__item' -%}
		  {% if block.settings.tout_link %}
		  	{%- assign _tout_link = block.settings.tout_link -%}
		  {% else %}
		  	{%- assign _tout_link = collection.url -%}
		  {% endif %}
		  {% if block.settings.collection_image != blank %}
		  	{%- capture _tout_image -%}{{ block.settings.collection_image | img_url: '965x600' }}{%- endcapture -%}
		  {% else %}
		  	{%- assign _tout_image = 'no_image' -%}
		  {% endif %}
		  {% if carousel_images == "" %}
		  {%- assign carousel_images = carousel_images | append: _tout_image | append: " ~~ " | append: _tout_link -%}
		  {% else %}
		  {%- assign carousel_images = carousel_images | append: "," | append: _tout_image | append: " ~~ " | append: _tout_link -%}
		  {% endif %}
		{% when 'two' %}
		  {%- assign grid_item_width_tout = 'grid__item medium-up--one-half' -%}
		  {% if block.settings.tout_link %}
		  	{%- assign _tout_link = block.settings.tout_link -%}
		  {% else %}
		  	{%- assign _tout_link = collection.url -%}
		  {% endif %}
		  {% if block.settings.collection_image != blank %}
		  	{%- capture _tout_image -%}{{ block.settings.collection_image | img_url: '965x600' }}{%- endcapture -%}
		  {% else %}
		  	{%- assign _tout_image = 'no_image' -%}
		  {% endif %}
		  {% if _amount_images == "" %}
		  {%- assign _amount_images = _amount_images | append: _tout_image | append: "~~" | append: _tout_link | append: "~~" | append: "grid__item medium-up--one-half" -%}
		  {% else %}
		  {%- assign _amount_images = _amount_images | append: "," | append: _tout_image | append: "~~" | append: _tout_link | append: "~~" | append: "grid__item medium-up--one-half" -%}
		  {% endif %}
		{% when 'three' %}
		  {%- assign grid_item_width_tout = 'grid__item small--one-half medium-up--one-third' -%}
		  {% if block.settings.tout_link %}
		  	{%- assign _tout_link = block.settings.tout_link -%}
		  {% else %}
		  	{%- assign _tout_link = collection.url -%}
		  {% endif %}
		  {% if block.settings.collection_image != blank %}
		  	{%- capture _tout_image -%}{{ block.settings.collection_image | img_url: '965x600' }}{%- endcapture -%}
		  {% else %}
		  	{%- assign _tout_image = 'no_image' -%}
		  {% endif %}
		  {% if _amount_images == "" %}
		  {%- assign _amount_images = _amount_images | append: _tout_image | append: "~~" | append: _tout_link | append: "~~" | append: "grid__item small--one-half medium-up--one-third" -%}
		  {% else %}
		  {%- assign _amount_images = _amount_images | append: "," | append: _tout_image | append: "~~" | append: _tout_link | append: "~~" | append: "grid__item small--one-half medium-up--one-third" -%}
		  {% endif %}
		{% endcase %}
	{% endif %}
{% endfor %}
{% if carousel_images != "" %}
	{%- assign carousel_segments = carousel_images | split: "," -%}
	<div class="grid__item carousel_wrapper">
	{% for segment in carousel_segments %}
		<div class="carousel_item">
			{%- assign segment_links = segment | split: " ~~ " -%}
			{% if segment_links[0] != 'no_image' %}
			<a href="{{ segment_links[1] }}">
				<img data-sizes="auto" data-src="{{ segment_links[0] }}" alt="" class="lazyload">
			</a>
			{% endif %}
		</div>
	{% endfor %}
	</div>
{% endif %}
{% if _amount_images != "" %}
	{%- assign _segments = _amount_images | split: "," -%}
	{% for segment in _segments %}
		{%- assign segment_links = segment | split: "~~" -%}
	<div class="{{segment_links[2]}}">
		{% if segment_links[0] != 'no_image' %}
		<a href="{{ segment_links[1] }}">
			<img data-sizes="auto" data-src="{{ segment_links[0] }}" alt="" class="lazyload">
		</a>
		{% endif %}
	</div>
	{% endfor %}
{% endif %}
