<!-- snippets/collection-filters.liquid -->
{% capture json_links %}
{%- include 'collection-filter-list' -%}
{% endcapture %}

{%- assign tags = collection.all_tags | t -%}
<div id="Filter-Navigation"> 
<h4 class="t-uppercase no-margin">Filter By</h4>
</div>

<script type="text/javascript">
  var checker = setInterval( function() {

  if( jQuery == undefined || $ != jQuery ) {
    return;
  }
  
  clearInterval(checker); 
    
  var url = window.location.pathname;
  var collection = undefined;
  var selected_tag = undefined;  
  var filters = {{ json_links }};
  var collectionTags = [{% for tag in collection.tags %}{ "name": "{{ tag | title | escape }}", "url": "{{ tag | handleize }}", "count": 0 }{% unless tag == collection.tags.last %},{% endunless %}{% endfor %}];
  var currentTags = [ {% for tag in current_tags %} { '{{ tag | json }}' :  '{{ tag | handleize }}' }{% unless tag == current_tags.last %},{% endunless %}{% endfor %}];

  var navigation = {};
  for(filter_key in filters) {
    navigation[filter_key] = [];
  }

  collectionTags.forEach(function(tag){
    for( var filter_label in filters) {
      if( filters[filter_label].indexOf(tag.name) != -1) {
        navigation[filter_label].push(tag);
      }
    }
  });

  
  

  if(url.split("/").length >= 3 ) {
    collection = url.split("/")[2];
  }

  if( url.split("/").length == 4 && url.split("/")[3] != "") {
    selected_tag = url.split("/")[3].split("+");
  }

  for(var tag_item in navigation) {
    if(navigation[tag_item].length != 0) {
        var filterHolder = $('#Filter-Navigation');
        filterHolder.append("<div><h5 class='no-margin t-uppercase'>"+tag_item+"</h5><ul id='filter-"+tag_item.replace(/ /g,'-').toLowerCase()+"'><li class='view_all'></li></ul></div>");
        navigation[tag_item].forEach(function(item){
          

          var link_class = "Filter";
          if(selected_tag != undefined && selected_tag.indexOf(item.url) != -1) {
            link_class += " Selected";
          }
          jQuery("#Filter-Navigation > div > ul#filter-"+tag_item.replace(/ /g,'-').toLowerCase()).append("<li class='"+link_class+"'><a href='#' onclick='filterCollection(event)' id='"+item.url+"'> "+item.name+" <span data-tag-id='"+item.url+"'>("+item.count+")</span> </a> </li>");
        });
    }

  }

  $("#Filter-Navigation > div").each( function(index, object) { 
    if($(object).children('ul').children('li').length == 2) {  
      if($(object).find('.Filter.Selected').length < 1 ) { 
        if($(object).find('.Filter').length < 2) {
          $(object).css('display', 'none');
        } 
      }
    }  
  });

  //if(($('#Filter-Navigation > div').length - $('#Filter-Navigation > div[style*="display: none"]').length ) == 1){
    //$('#Filter-Navigation > div').css('display', 'none');
  //}
  
  var jq_ui_checker = setInterval(function(){
    if(jQuery == undefined && jQuery.ui == undefined) {
      return;
    }
    clearInterval(jq_ui_checker);
    $('#Collection > div.filters-toolbar__item').prepend('<div id="MobileFiltersContainer"><h3>Filter</h3><div id="Mobile-Navigation"></div></div>');
    $('#Mobile-Navigation').append($('#Filter-Navigation').html());
    if(jQuery.ui.accordion != undefined) {
      $('#Filter-Navigation > div').accordion({ collapsible: true, active: false });
      $('#Mobile-Navigation > div').accordion({ collapsible: true, active: false });
      $('#MobileFiltersContainer').accordion({ collapsible: true, active: false }); 
    } 
    if($('#Filter-Navigation li.Filter.Selected').length > 0 ) {
      $('#Filter-Navigation > div > ul > li.Filter.Selected').parent().parent().accordion("option","active",0);
    }
    $("#Mobile-Navigation > div > ul > li.view_all > a.view_all_link").on("click",function(event){
      event.preventDefault();
      if(window.location.search != "") {
        var pathname = window.location.pathname.replace(window.location.search, "");
        window.history.replaceState(null,null, pathname);
      }
      var currentAppliedFilters = window.location.pathname.split("/")[3].split("+");
      var filterToRemove = [];
      if($(this).parent().siblings('.Filter.Selected').length >= 1) {
        filterToRemove.push($(this).parent().siblings('.Filter.Selected').find('a').attr('id'));
      } 
      filterToRemove.forEach(function(item){
        currentAppliedFilters.splice(currentAppliedFilters.indexOf(item),1);
      });
      var path = window.location.pathname.split("/");
      path[3] = currentAppliedFilters.join('+');
      window.location.pathname = path.join('/');
    });
  },100);


  if( jQuery("#Filter-Navigation > div > ul > li.Filter.Selected").length > 0) {
    jQuery("#Filter-Navigation > div > ul > li.Filter.Selected").siblings('.view_all').html("<a class='view_all_link'>&laquo; View All</a>");
    jQuery("#Filter-Navigation > div > ul > li.view_all > a.view_all_link").on("click",function(event){
      event.preventDefault();
      if(window.location.search != "") {
        var pathname = window.location.pathname.replace(window.location.search, "");
        window.history.replaceState(null,null, pathname);
      }
      var currentAppliedFilters = window.location.pathname.split("/")[3].split("+");
      var filterToRemove = [];
      if($(this).parent().siblings('.Filter.Selected').length >= 1) {
        filterToRemove.push($(this).parent().siblings('.Filter.Selected').find('a').attr('id'));
      } 
      filterToRemove.forEach(function(item){
        currentAppliedFilters.splice(currentAppliedFilters.indexOf(item),1);
      });
      var path = window.location.pathname.split("/");
      path[3] = currentAppliedFilters.join('+');
      window.location.pathname = path.join('/');
    });
  }

  getFacetCounts(collectionTags);
  }, 100);

  function filterCollection(event) {
    var id = event.target.id;
    event.preventDefault();
    var pathname = window.location.pathname;
    if(window.location.search != "") {
      pathname = pathname.replace(window.location.search, "");
      window.history.replaceState(null,null, pathname);
    }
    var currentUrlPath = pathname.split("/");  
    if( currentUrlPath.length == 3 || currentUrlPath[3] == "" ) {
        pathname = pathname+"/"+id;
        pathname= pathname.replace("//","/");
        window.location.pathname = pathname;
    }else if( currentUrlPath.length == 4 ) {
      var selected_tag = currentUrlPath[3].split("+");
      if(selected_tag.indexOf(id) == -1) {
        pathname = pathname+"+"+id;
        window.location.pathname = pathname;
      } 
      else {
        selected_tag.splice( selected_tag.indexOf(id), 1);
        currentUrlPath[3] = selected_tag.join("+");
        window.location.pathname = currentUrlPath.join("/");
      }
    }
  }

  function getFacetCounts(collectionTags) {
    {% if collection.products_count < 1001 %}
    var $url = window.location.href;
    if($url.indexOf('?') !== -1) {
      $url = $url.split('?')[0];
    }
    $.ajax({
      url: $url,
      type: 'GET',
      data: { view: 'nav'},
      success: function(data) {
        var result = JSON.parse(data);
        result.forEach(function(object) {
          var tag = object.split(":");
          $('span[data-tag-id="'+tag[0]+'"]').html('('+tag[1]+')');
        });
      },
      error: function( xhr, err) {

      }
    });
    {% else %}
    var $url = window.location.href; 
    if($url.indexOf('?') !== -1) {
      $url = $url.split('?')[0];
    }

    for(_tag_item in collectionTags) {
      $_tag_handle = collectionTags[_tag_item]['url']
      {% if current_tags == blank %}
      $_url = $url+'/'+$_tag_handle; 
      {% else %}
      $_url = $url+'+'+$_tag_handle;
      {% endif %}
      getSingleFacetCount($_url, $_tag_handle); 
    }
    {% endif %}
  }

  function getSingleFacetCount($_url, $_tag_handle) {
    $.ajax({ 
        url: $_url, 
        type: 'GET', 
        data: { view: 'products-count' }, 
        success: function(data) {
          $('span[data-tag-id="'+$_tag_handle+'"]').html('('+data.trim()+')');
        }, 
        error: function(xhr, err) {
        }
      });
  }

</script>
