<div class="visually-hidden">
{% for _block in section.blocks %} 
{% if _block.type == 'menu-image-tout' %} 
{%- assign __image = _block.settings.drop_down_image %}
<div data-image-for-linklist="{{ _block.settings.link_list_for_image }}" class="menu-dropdown-images-holder visually-hidden">
<noscript><img data-sizes="auto" data-src="{{ __image | img_url: '300x300'}}" data-srcset="{{ __image | img_url: '300x' }}, {{ image | img_url: 'master' }}" class="lazyload" /></noscript>
</div>
{% else %} 
{% continue %}
{% endif %}
{% endfor %}
</div>
