<!--snippets/product-accordion -->
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Overview</a></li>

		{% if product.metafields.productinfo.size_chart != blank %}
		<li><a href="#tabs-2">Size Chart</a></li>
		{% endif %}
        <!--<li><a href="#tabs-3">Reviews</a></li>-->
	</ul>
    <div id="tabs-1">
      {{ product.description }}
    </div>	
    {% if product.metafields.productinfo.size_chart != blank %}
    <div id="tabs-2">
      <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

      </div>
    </div>
    {% endif %}
    <!--<div id="tabs-3"> 
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>-->
</div>
