{% if _sub_nav_list != blank %}  
<div class="shop-menu-navigation" id="shop-{{ _nav_link.title | handleize }}-tabs">
    <div id="menu-{{ _nav_link.title | handleize }}-content">  
      {% for _sub_nav_link in _sub_nav_list.links %}
      <div class="menu-items">
        <h2 class="menu-item-title">{% if _sub_nav_link.url != blank and _sub_nav_link.url != '#' %}<a href="{{ _sub_nav_link.url }}">{% endif %}{{ _sub_nav_link.title }}{% if _sub_nav_link.url != blank and _sub_nav_link.url != '#' %}</a>{% endif %}</h2>  
        {% if _sub_nav_link.links != blank %}
        <div class="menu-item-list">
          {% for __link in _sub_nav_link.links %}
          <div class="menu-list-item"><a href="{{ __link.url }}">{{ __link.title }}</a></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>       
      {% endfor%}
    </div>
</div> 
{% endif %}
