<div id="shop-series-tabs">
  {% if linklists[section.settings.main_linklist].links[0] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[0] -%}
    <div id="shop-series-content">
      <div id="featured-series-content">
        {% for _link in list.links %}
        <div class="shop-by-series-contents series-{{ _link.title | handleize }}" data-content-for-category="{{ link.title | handleize}}">
              <a href="{{ _link.url }}">
              </a>
        </div>
        {% endfor %}
      </div>       
    </div>
  {% endif %}
</div>
