<div id="shop-new-arrivals-tabs">
  {% if linklists[section.settings.main_linklist].links[2] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[2] -%}
    <div id="shop-new-arrivals-content">
      <div id="featured-new-arrivals-content">
        <div class="featured-new-arrivals-contents" data-content-for-category="{{ link.title | handleize}}">
          <div class="featured-new-arrivals-section-wrapper">
            {% for link in list.links %}
            <div class="featured-new-arrivals-item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>  
            {% endfor%}
          </div>
        </div>
      </div>       
    </div>
  {% endif %}
</div>
