{% schema %}
  {
    "name": "Popups",
    "blocks": [
      {
        "type": "popup",
        "name": "Popup",
        "settings": [
          {
            "type": "header",
            "content": "General"
          },
          {
            "type": "checkbox",
            "id": "enabled",
            "label": "Enabled",
            "default": true
          },
          {
            "type": "text",
            "id": "id",
            "label": "Popup ID",
            "placeholder": "Optional",
            "info": "This ID will be used in the 'data-popup-id' attribute of the popup links"
          },
          {
            "type": "header",
            "content": "Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "checkbox",
            "id": "display_title",
            "label": "Display Title",
            "default": true
          },
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          }
        ]
      }
    ]
  }
{% endschema %}


{% for block in section.blocks %}

  {% if block.type == "popup" %}
    {% if block.settings.enabled %}
      {% if block.settings.id != blank %}
        <style>
          .popup {

          }
          .popup .image {
            margin: 10px 20px;
          }
          .popup .title {
            margin: 0;
            padding: 10px 20px;
            font-size: 20px;
          }
          .popup .content {
            margin: 0;
            padding: 10px 20px;
            font-size: 14px;
          }
        </style>

        <script>
        $(function() {
          $('a[data-popup]').click(function(event) {
            event.preventDefault();

            var TargetPopupID = $(this).attr('data-popup-id');
            console.log(TargetPopupID);

            $('#popup_' + TargetPopupID).dialog({
              modal: true,
              resizable: false,
              draggable: false,
              open: function() {
                $('.ui-widget-overlay').bind('click', function(event){
                  $('#popup_' + TargetPopupID).dialog('close');
                });
              },
              close: function() {
                $('#PageContainer').removeAttr('style');
                $('#shopify-section-header').removeAttr('style');
              }
            });

          });
        });
        </script>

        <div id="popup_{{ block.settings.id }}" style="display:none;" class="popup">

          {% if block.settings.image != blank %}
          <div class="image">
            <img src="{{ block.settings.image | img_url }}"/>
          </div>
          {% endif %}

          {% if block.settings.display_title != blank %}
          <div class="title">{{ block.settings.title }}</div>
          {% endif %}

          {% if block.settings.content != blank %}
          <div class="content">
            {{ block.settings.content }}
          </div>
          {% endif %}

          {% if block.settings.page != blank %}
          <div class="page_content">
            {{ pages[block.settings.page].content }}
          </div>
          {% endif %}

        </div>
      {% endif %}
    {% endif %}
  {% endif %}

{% endfor %}
