<div class="product-quickview-template__container" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% if product.variants.size > 1 %}
    {% assign current_variant = product.selected %}
  {% else %}
    {% assign current_variant = product.first_available_variant %}
  {% endif %}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}

  <div class="product-single">
    <div class="product-single__photos">
        <div class="main-image-holder">
          <img class="product-single-image" src="{{ product.images.first.src | img_url: '330x330', scale: 2 }}" alt="{{ product.images.first.alt | escape }}">
        </div>
        {% if product.images.size > 1 %}
        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}">
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}" data-image-src="{{ image.src | img_url: '330x330', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>

    <div class="product-quickview-info">

        <h1 itemprop="name" class="product-quickview-title">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p class="product-quickview-sku">SKU:&nbsp;{{ product.metafields.sku.parent }}</p>

          {% include 'powerreviews-product-snippet' %}

          <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                </span>
                <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>

            {% elsif product.variants.size > 1 %}
              {% if product.variants.first.compare_at_price > product.variants.first.price or product.variants.last.compare_at_price > product.variants.last.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>

                {% if product.variants.first.compare_at_price != product.variants.last.compare_at_price %}
                <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }} - {{ product.variants.last.compare_at_price | money }}</s>
                {% else %}
                <s id="ComparePrice-{{ section.id }}">{{ product.variants.first.compare_at_price | money }}</s>
                {% endif %}

                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ product.variants.first.price | divided_by: 100.00 }} - {{ product.variants.last.price | divided_by: 100.00 }}">
                    {{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}
                  </span>
                </span>
                {%- assign first_compare_at_price = product.variants.first.compare_at_price -%}
                {%- assign last_compare_at_price = product.variants.last.compare_at_price -%}
                {%- assign price_first = product.variants.first.price -%}
                {%- assign price_last = product.variants.last.price -%}
                {% if first_compare_at_price > price_first %}
                <span class="savings">(Save {{ product.variants.first.compare_at_price | minus: product.variants.first.price | times: 100.0 | divided_by: product.variants.first.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                {% elsif last_compare_at_price > price_last %}
                <span class="savings">(Save {{ product.variants.last.compare_at_price | minus: product.variants.last.price | times: 100.0 | divided_by: product.variants.last.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                {% endif %}
              {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }}">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                </span>
              {% endif %}

            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
              <span class="product-price__price product-price__price-{{ section.id }}">
                <span id="ProductPrice-{{ section.id }}"
                  itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {{ current_variant.price | money }}
                </span>
              </span>
            {% endif %}
          </p>
          {% if product.variants.size > 1 %}
            {% if product.variants.first.price != product.variants.last.price %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }} - {{ product.variants.last.price | money }}</pre>
            {% else %}
              <pre id="product-price-range" class="visually-hidden">{{ product.variants.first.price | money }}</pre>
            {% endif %}
          {% endif %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <div class="selector-wrapper js product-form__item">
              <select name="id" id="ProductSelect" data-section="{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="quantity-addtocart">
              <p>Quantity:</p>
              <div class="product-form__item product-form__item--quantity">
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>
              </div>

              <div class="product-form__item product-form__item--submit">
                {% if product.available %}
                <div class="meta-text">
                  {% if product.metafields.preorder.date != blank %}
                    <p>{{ product.metafields.preorder.date }}</p>
                  {% endif %}

                  {% if product.metafields.shipsto.country != blank %}
                    <p>{{ product.metafields.shipsto.country }}</p>
                  {% endif %}

                  {% if product.metafields.shipping.days != blank %}
                    <p>{{ product.metafields.shipping.days }}</p>
                  {% endif %}
                </div>
                {% endif %}
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                  <span id="AddToCartText-{{ section.id }}">
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {% if product.metafields.preorder.date != blank %}
                        {{ 'products.product.preorder' | t }}
                      {% else %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% endif %}
                    {% endunless %}
                  </span>
                </button>
                {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"><span id='swym-text'></span></button>
                <div class="quickview-footer">
                  <a>View Full Details</a>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
  <script type="application/json" data-metafields="product-metafields-json">
    {
      {%- for namespace in metafield_namespaces -%}
        {{ namespace | json }}: {
          {%- for metafield in product.metafields[namespace] -%}
            {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        },
      {%- endfor -%}
      "pre_order": {{ collection_pre_order | json }}
    }
  </script>
{% endunless %}

<script>
  var productOptions = [];
  {% for option in product.options %}
  var optionObj = {};
  optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
  productOptions.push(optionObj);
  {% endfor %}

  if( typeof(productOptions ) != "undefined" ){
    for(i=0;i<productOptions.length;i++) {
      $('.single-option-selector:eq('+ i +')')
      .filter(function() {
        return $(this).find('option').length > 1
      })
      .prepend('<option value="">Select '+productOptions[i][i]+'</option>')
      .val('')
      .trigger('change');
    }
    if($('#PopupQuickview .single-option-selector').length == 1) {
      $('#AddToCartText-product-quickview-template').html("Make a Selection");
    }
  }
</script>

{% unless product == empty %}
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      }
    ]
  }
{% endschema %}
