{% if settings.evergage_enabled and settings.evergage_account_code and settings.evergage_dataset_code %} 
  {% case template %}
    {% when "product" %}
      {% if settings.evergage_display_product_page %}
      <style>
        .Evergage_ProductDefinition {
          display: none;
        }
      </style>
      <script src="{{ 'evergage-product.js' | asset_url }}" defer="defer"></script>
      {% endif %}
    {% when "cart" %}
      {% if settings.evergage_display_cart_page %}
      <script src="{{ 'evergage-cart.js' | asset_url }}" defer="defer"></script>
      {% endif %}
    {% else %} 
  {% endcase %} 
{% endif %}
