<script type="text/javascript">
	var waitForJQuery = setInterval(function(){
		if( jQuery == undefined && jQuery.ui == undefined){
			return;
		}

		clearInterval(waitForJQuery);
		
		if($('#tabs').length > 0) {
			$('#tabs').tabs({});
		}

		
		$('#image-header-home').insertBefore('.template-index #PageContainer #MainContent');
		

		$("#SiteNav > li > a[aria-current='page']").parent().addClass('site-nav--selected');

		$("*[data-toggle-section^='navigation']").mouseover( function(event){
			event.preventDefault();
			$("#SiteNav > li").removeClass("site-nav--selected");
			$(this).parent().addClass("site-nav--selected");
			displayVisibility("#"+$(this).attr("data-toggle-section"));
		});

		$("*[data-toggle-section^='navigation']").mouseleave( function(event){
			event.preventDefault();
			//$("#SiteNav > li").removeClass("site-nav--selected");
			//$(this).parent().addClass("site-nav--selected");
			displayVisibility("#"+$(this).attr("data-toggle-section"));
			$("#navigation-no-menu").css('display','none');
		});

		$("a[data-toggle-section^='navigation']").on('click', function(event) { 
			url = $(this).attr('href'); 
			window.location.href = url; 
		}); 

		$("#SiteNavLabel-sale").parent().find('a').mouseover(function(){
			if($('#SiteNav > .site-nav--selected').length > 0) {
          		toggleVisibility('#'+$('#SiteNav > .site-nav--selected > a').attr('data-toggle-section'));
        	}
			$("#SiteNavLabel-sale").css('display', 'block');
		});

		$("#SiteNavLabel-sale").parent().mouseleave(function(){
			$("#SiteNavLabel-sale").css('display', 'none');
		});

		/* Reset Nav Hover Over No Dropdown */

		$('.site-nav--has-no-dropdown').mouseover(function() {
			$('.navigation-menu').css('display', 'none');
			$('.site-nav>li').removeClass('site-nav--selected');
		});

		$('.site-nav--has-no-dropdown').mouseover(function() {
			$('.navigation-menu').css('display', 'none');
			$('.site-nav>li').removeClass('site-nav--selected');
		});


    	if($("#mobile-menu-accordion .mobile-menu-accordion").length > 0) {
    		$("#mobile-menu-accordion .mobile-menu-accordion").accordion({ collapsible: true });
    	}

    	if($(".mobile-sortby-section").length > 0) {
    		$(".mobile-sortby-section").accordion({ collapsible: true, active: false });
    		if($('#MobileFiltersContainer').length == 0) {
    			$('.mobile-sortby-section .sortby-options').addClass('no-filters');
    		} else if( $('#Mobile-Navigation > div[style*="display: none"]').length == $('#Mobile-Navigation > div').length ) {
    			$('#MobileFiltersContainer').css('visibility', 'hidden');
    		}

    		$(".mobile-sortby-section > .sortby-options > h5").on('click', function(event) {
    			var selected_option = $(event.target).attr('data-value');
    			if( selected_option != undefined || selected_option != '') {
    				$('#SortBy').val(selected_option).trigger('change');
    			}
    		});

    		if($('#MobileFiltersContainer').length > 0) {
    			$('.mobile-sortby-section .sortby-title').css('top', ($('#MobileFiltersContainer').position().top - 10)+'px');
    		}
    	}

    	$("#minicart-close-btn").on("click",function(event){
    		event.preventDefault();
    		$("#MiniCart").children().css("visibility","hidden");
    		$("#MiniCart").css("width","0px");
    		$("#MiniCart").css("padding","0px");
    		$("#MiniCart").css("overflow","hidden");
    		$("#MiniCart").css("border", "none");
    		$('.minicart-overlay').removeClass('ui-widget-overlay').removeClass('ui-front');
    	});

    	$("#minicart-continue-btn").on("click",function(event){
    		event.preventDefault();
    		$('#minicart-close-btn').click();
    	});

    	$("#minicart-open-link").on('click', function(event){
    		if($(window).width() > 767) {
	    		event.preventDefault();
	    		$("#MiniCart").css("padding","50px");
	    		$("#MiniCart").css("width","90%");
	    		$("#MiniCart").css("overflow","visible");
	    		$("#MiniCart").css("border", "1px solid {{ settings.color_header_text }}");
	    		$("#MiniCart").children().css("visibility","visible");
	    		$('.minicart-overlay').addClass('ui-widget-overlay').addClass('ui-front');
	    		$('.minicart-overlay').bind('click', function(event){
		        	$('#minicart-close-btn').click();
		        });
    		}
    	});
    	setCartFormQuantityControllers();

    	$(".minicart-remove-link").on("click", function(event){
    		event.preventDefault();
    		removeItemFromCart(this);
    	});

    	$("#MiniCart a.minicart-update-button").on("click", function(event) {
    		event.preventDefault();
    		var object = event.target;
    		updateCartItemQuantity(object);
    	});

    	if($('.shopify-section.index-section.featured-collection').length > 0){
    		if($(window).width() > 768){
	    		$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: true,
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false
				});
    		} else if($(window).width() == 768) {
    			$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: false,
					centerMode: true,
					slidesToShow: 3,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
				$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick('slickGoTo', -1);
    		} else if($(window).width() < 768 && $(window).width() > 414) {
    			$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: false,
					centerMode: true,
					slidesToShow: 2,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
				$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick('slickGoTo', -1);
    		} else if ($(window).width() <= 414) {
    			$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: false,
					centerMode: true,
					slidesToShow: 1,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
				$('.shopify-section.index-section.featured-collection > .page-width > .grid').slick('slickGoTo', -1);
    		} else{

    		}

    	}

    	if($('#shopify-section-featured-collections').length > 0){
    		if($(window).width() > 768){
	    		$('#shopify-section-featured-collections > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: true,
					slidesToShow: 4,
					slidesToScroll: 4,
					infinite: true,
				    variableWidth: false
				});
    		} else if(($(window).width() == 768)) {
    			$('#shopify-section-featured-collections > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: true,
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: false
				});
    		} else if (($(window).width() < 768) && ($(window).width() >= 415)){
    			$('#shopify-section-featured-collections > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: true,
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: false
				});

    		} else if ($(window).width() <= 414) {
    			$('#shopify-section-featured-collections > .page-width > .grid').slick({
				    mobileFirst: true,
					dots: true,
					centerMode: true,
					slidesToShow: 1,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: false
				});
				$('#shopify-section-featured-collections > .page-width > .grid').slick('slickGoTo', -1);
    		} else{

    		}

    	}

    	if($('.shopify-related-product').length > 0){
    		if($(window).width() > 768){
	    		$('.shopify-related-product > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 4,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false, 
				    arrows: true
				});
    		} else if($(window).width() == 768) {
    			$('.shopify-related-product > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
    		} else if (($(window).width() < 768) && ($(window).width() >= 415)){
    			$('.shopify-related-product > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});

    		} else if ($(window).width() <= 414) {
    			$('.shopify-related-product > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					centerMode: true,
					slidesToShow: 1,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
				$('.shopify-related-product > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick('slickGoTo', -1);
    		} else{

    		}

    	}

    	if($('.recommended-products-grid').length > 0){
    		if($(window).width() > 768){
	    		$('.recommended-products-grid > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 4,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false, 
				    arrows: true
				});
    		} else if($(window).width() == 768) {
    			$('.recommended-products-grid > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
    		} else if (($(window).width() < 768) && ($(window).width() >= 415)){
    			$('.recommended-products-grid > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					slidesToShow: 2,
					slidesToScroll: 1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});

    		} else if ($(window).width() <= 414) {
    			$('.recommended-products-grid > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick({
				    mobileFirst: true,
					dots: false,
					centerMode: true,
					slidesToShow: 1,
					slidesToScroll:  1,
					infinite: true,
				    variableWidth: false,
				    arrows: true
				});
				$('.recommended-products-grid > .page-width > .grid > .grid__item > .grid-uniform > .grid--uniform').slick('slickGoTo', -1);
    		} else{

    		}

    	}

    	$('#shop-shows-tabs > #shop-shows-title > li').hover(function(event){
    		displayNavigationTab(this);
    	});
    	$('#shop-shows-tabs > #shop-shows-title > li.shop-shows-all > a').attr('onclick','displayShowNavigationTab()');

    	if($('#shop-categories-featured-item-section .featured-product-items').length > 0) {
    		$('#shop-categories-featured-item-section .featured-product-items').slick({
    			mobileFirst: true,
    			dots: true,
    			slidesToShow: 1,
    			slidesToScroll: 1,
    			infinite: true,
    			variableWidth: false,
    			arrows: false
    		});
    	}

    	if($('#shop-shows-featured-products .featured-product-items').length > 0) {
    		$('#shop-shows-featured-products .featured-product-items').slick({
				mobileFirst: true,
				dots: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				infinite: true,
				variableWidth: false,
				arrows: false
    		});
    	}

	    $('#MiniCart .minicart-promo-section .minicart-promo-form button').on("click", function(event) {
	    	savePromoCode(event);
	    });

	    $('.grid-view-item__image').hover(function(event) {
	    	if($(event.target).parent().find('.hover__image').length > 0 ) {
	    		$(event.target).parent().find('.grid-view-item__image.hover__image').css('z-index','0');
	    	}
	    });

	    $('.grid-view-item__image').mouseout(function(event) {
	    	if($(event.target).parent().find('.hover__image').length > 0 ) {
	    		$(event.target).parent().find('.grid-view-item__image.hover__image').css('z-index', '-1');
	    	}
	    });


	    if(isSearchResultsPage()) {
	    	updateFilterResetLink();
	    }

	    if(isCartPage()) {
	    	$('form[class="cart"] a[type="submit"]').on('click', function(event) {
	    		event.preventDefault();
	    		$(this).closest('form[class="cart"]').submit();
	    	});
	    }

	    if($('.collection-template-multiitems-page').length > 0 ) {


	    	$('.collection-template-multiitems-page .list-view-items .collection-items-addtocart-section > #collection-items-add-to-cart').on('click', function(event) {
	    		Shopify.queue = [];


	    		$('.collection-template-multiitems-page .list-view-items > .list-view-item').each(function(index, object){
	    			var product_id = object.dataset.productId;
	    			var product_sku = object.dataset.productSku;
	    			var variant_id = $(object).find('select[name="id"] option[selected]').val();
	    			var quantity = $(object).find('input#Quantity').val();

	    			if(quantity > 0 && variant_id != '') {
		    			Shopify.queue.push({
		    				variant_id: variant_id, 
		    				quantity: quantity,
		    				product_id: product_id,
		    				product_sku: product_sku
		    			});
	    			}

	    			if( variant_id == '' && quantity != 0) {
	    				$(object).find('.ajaxified-cart-feedback.error').html('Please Select a size');
	    				$(object).find('select.single-option-selector-collection-template-multiitem').focus();
	    			}
	    		});
	    		

	    		if(Shopify.queue.length) {
	    			addItemsToCart();
	    		} else {
	    			displayErrorPopup('Please select at least one item you\'d like to add to your trunk.');
	    		}

	    	});

	    	$('select[data-product-variant-selector]').on('change', function(event) {
	    		var product_id = $(event.target).attr('data-product-variant-selector');
	    		var selected_value =  $(event.target).val();
	    		$('select[data-product-variant-options="'+product_id+'"] option').attr('selected', false);
	    		$('select[data-product-variant-options="'+product_id+'"] option[data-variant-title="'+selected_value+'"]').attr('selected', true);
	    		if(selected_value == '') {
	    			$(event.target).parent().parent().find('input[name="quantity"]').val(0);
	    		}
	    	});


	    	$('.show-full-description').on('click', function(event) {
	    		$(event.target).parent().parent().find('.product-description-short').addClass('visually-hidden');
	    		$(event.target).parent().parent().find('.product-description-full').removeClass('visually-hidden');
	    	});

	    	$('.show-short-description').on('click', function(event) {
	    		$(event.target).parent().parent().find('.product-description-full').addClass('visually-hidden');
	    		$(event.target).parent().parent().find('.product-description-short').removeClass('visually-hidden');
	    	});

	    	$('select.single-option-selector-collection-template-multiitem').prepend('<option value="">Select Size</option>').val('').trigger('change');
	    	$('select.single-option-selector-collection-template-multiitem').parent().parent().find('select[name="id"]').prepend('<option value="" data-variant-price="" data-variant-title="">Select Size</option>').val('').trigger('change');

	    	$('select.single-option-selector-collection-template-multiitem').parent().parent().find('.product-form__item--quantity > .input-number-group > .input-group-button > .input-number-increment').on('click', function(event){
	    		if( $(event.target).parent().parent().parent().parent().find('select.single-option-selector-collection-template-multiitem').val() == '') {
	    			displayErrorPopup('Please select a size');
	    			$(event.target).parent().parent().parent().parent().find('select.single-option-selector-collection-template-multiitem').focus();
	    			$(event.target).parent().parent().find('input[name="quantity"]').val(0);
	    		}
	    	});

	    	$('select.single-option-selector-collection-template-multiitem').parent().parent().find('.product-form__item--quantity > .input-number-group > input[name="quantity"]').on('keydown', function(event) {
	    		if( $(event.target).parent().parent().parent().find('select.single-option-selector-collection-template-multiitem').val() == '') {
	    			displayErrorPopup('Please select a size');
	    			$(event.target).parent().parent().parent().find('select.single-option-selector-collection-template-multiitem').focus();
	    			$(event.target).val(0);
	    		}
	    	});

	    	var scroll_to_bottom_text = $('#scroll-to-bottom-section-text').html().trim();
	    	$('body').append('<div class="scroll-to-bottom-section"><span>'+scroll_to_bottom_text+'</span></div>');
	    	//$('.scroll-to-bottom-section').css({'display': 'block', 'position': 'fixed', 'height': '90px', 'width': '190px', 'background': 'gray', 'right': '50px', 'border': '10px', 'bottom': '50px', 'padding': '20px', 'border-radius': '18%', 'cursor': 'pointer' });
	    	$('.scroll-to-bottom-section').on('click', function(event) {
	    		var offset = -200; //Offset of 20px
				$('html, body').animate({
					scrollTop: $("#collection-items-add-to-cart").offset().top + offset
				}, 2000);
	    	});

	    	$('.scroll-to-bottom-section').css('right', ($('.list-view-items').position().left + $('.list-view-items').width() - $('.scroll-to-bottom-section').width() - 5 )+'px');

	    	$(window).resize(function() {
	    		$('.scroll-to-bottom-section').css('right', ($('.list-view-items').position().left + $('.list-view-items').width() - $('.scroll-to-bottom-section').width() - 5)+'px');
	    	});

	    	$("*[data-display-disabled-popup='true']").on('click', function(event) {
	    		event.preventDefault();
				var disabledPopUp = '<div class="item-soldout-popup" id="item-soldout-popup"><div class="popup-buttons"><span>Sorry, but this item is currently sold out.</span><a class="minicart-continue-shopping" id="item-soldout-popup-continue-shopping" href="#">Continue Shopping</a></div></div>';
				$(disabledPopUp).dialog({
					closeOnEscape: false,
					draggable: false,
					open: function(event, ui) {
						$('.ui-dialog-titlebar-close', ui.dialog | ui).hide();
					},
					close: function(event, ui) {
						$('.item-soldout-overlay').click();
					}
				});
				if($('.item-soldout-overlay').length > 0) {
					$('.item-soldout-overlay').remove();
				}
				$('body').append('<div class="item-soldout-overlay ui-widget-overlay ui-front"></div>');
				$('.item-soldout-overlay').on('click', function(event) {
					$('.ui-dialog-content:visible').dialog('close');
					$('.item-soldout-overlay').remove();
					$('#item-soldout-popup').remove();
				});
				$('#item-soldout-popup-continue-shopping').on('click', function(event){
					event.preventDefault();
					$('.ui-dialog-content:visible').dialog('close');
					$('.item-soldout-overlay').remove();
					$('#item-soldout-popup').remove();
				});
	    	});

	    }

	    if($('.selector-swatch-wrapper').length > 0) {
	    	$('.selector-swatch-wrapper > label.swatch-selector').on('click', function(event) {
                document.querySelector(".swym-button-bar.swym-isa-button-bar.swym-inject").style.cssText = "";
//                 $('.swym-button-bar.swym-isa-button-bar.swym-inject').css('display', 'block !important');
	    		$('.swatch-selector').removeClass('active');
	    		$(this).addClass('active');
	    		var selection_index = $(event.target).attr('for').replace("SingleOptionSelector-","");
	    		var selected_value = $(event.target).closest('.selector-swatch-wrapper').find('#'+$(event.target).attr('for')).val();
	    		$(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector').val(selected_value).trigger('change'); 
	    		//$(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector option').removeAttr('selected');
	    		//$(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector option:eq('+selection_index+')').attr('selected', true);
	    		console.log($(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector').val());
	    		$(this).closest('.product-form').find('select#ProductSelect-product-template option').removeAttr('selected');
	    		$(this).closest('.product-form').find('select#ProductSelect-product-template option:eq('+selection_index+')').prop('selected', true);
	    		$(this).closest('.product-form').find('select#ProductSelect-product-template').change();
	    		// console.log(selection_index);
	    		// console.log(selected_value);
	    		// console.log($(this).closest('.product-form').find('select[name="id"]').val());  

	    		if($(event.target).closest('.selector-swatch-wrapper').find('#'+$(event.target).attr('for')).attr('disabled') == 'disabled') {
	    			$("button.btn.product-form__cart-submit").addClass('visually-hidden'); 
	    			$(".swym-button-bar .swym-btn-container .swym-add-to-watchlist").addClass('sold_out_variant'); 
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').insertBefore('#pdp-wishlist');
	    			$('#pdp-wishlist').css('float', 'right');
	    			$('#pdp-wishlist').css('margin-top', '-40px');
	    			$('#pdp-wishlist').css('width', '17px');
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('opacity', '1');
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('height', '46px !important');
	    			$('.product-form__item--submit').css('height', '124px');

	    			


	    		} else {
	    			$("button.btn.product-form__cart-submit").removeClass('visually-hidden'); 
	    			$(".swym-button-bar .swym-btn-container .swym-add-to-watchlist").removeClass('sold_out_variant'); 
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').insertAfter('.meta-text');
	    			$('#pdp-wishlist').css('margin-top', '6px');
	    			$('#pdp-wishlist').css('width', '27px');
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('opacity', '0');
	    			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('height', '0px !important');
	    			$('.swym-button-bar').css('height', '0px !important');


	    		}
	    		
	    		if ($('.quantity-addtocart > div').hasClass('product__soldout')) {
	    			$('#pdp-wishlist').insertAfter('.swym-button-bar.swym-isa-button-bar.swym-inject');
	    		}
	    		

	    		var optionValueEzp = selected_value;
	    		if(optionValueEzp != '') {
	    			if(variantEnabledEzp(optionValueEzp)) {
	    				$('#CustomizeProduct').prop('disabled', false); 
	    				$('#CustomizeProduct').text("{{ 'products.product.customize' | t }}");
	    			} else {
	    				$('#CustomizeProduct').prop('disabled', true);
	    				$('#CustomizeProduct').text("{{ 'products.product.sold_out' | t }}");
	    			}
	    		}else {
	    			$("#CustomizeProduct").prop('disabled', true);
	    			$("#CustomizeProduct").text('Make a selection');
	    		}
	    	});
	    	if($('.product-form select#ProductSelect-product-template option[disabled]').length == $('.product-form select#ProductSelect-product-template option').length ) {
	    		$("button.btn.product-form__cart-submit").addClass('visually-hidden'); 
	    	} 
	    }

	    if($('.collection-template-multiitems-page') > 0) {
	    	if($('.selector-swatch-wrapper').length > 0) {
	            $('.selector-swatch-wrapper > label.swatch-selector').on('click', function(event) {
	            	$('.swatch-selector').removeClass('active');
	            	$(this).addClass('active');
	            	var selection_index = parseInt($(event.target).attr('for').replace("SingleOptionSelector-",""));
	            	var selected_value = $(event.target).closest('.selector-swatch-wrapper').find('#'+$(event.target).attr('for')).val();
	            	$(this).closest('.quantity-addtocart').find('.selector-wrapper select#SingleOptionSelector option').removeAttr('selected');
	            	$(this).closest('.quantity-addtocart').find('.selector-wrapper select#SingleOptionSelector option:eq('+selection_index+')').prop('selected', true);
	            	$(this).closest('.quantity-addtocart').find('.selector-wrapper select#SingleOptionSelector').trigger('change');
	            	$(this).closest('.quantity-addtocart').find('.selector-wrapper select#SingleOptionSelector').change();
	            	console.log($(this).closest('.quantity-addtocart').find('.selector-wrapper select#SingleOptionSelector').val());
	            	$(this).closest('.quantity-addtocart').find('select#ProductSelect-collection-template-multiitem option').removeAttr('selected');
	            	$(this).closest('.quantity-addtocart').find('select#ProductSelect-collection-template-multiitem option:eq('+selection_index+')').prop('selected', true);
	            	$(this).closest('.quantity-addtocart').find('select#ProductSelect-collection-template-multiitem').trigger('change'); 
	            	// console.log(selection_index); 
	            	// console.log(selected_value); 
	            	// console.log($(this).closest('.quantity-addtocart').find('select[name="id"]').val()); 
	       		});
	        }
	    }

	    if($("#AddToCartText-product-template").length > 0 ) {
	    	if($("#AddToCartText-product-template").html().trim() == 'Sold out') {
		      $('#AddToCartText-product-template').parent().parent().addClass('product__soldout');
		    } 
		}

		if( ($('#AddToCart-product-template').hasClass('visually-hidden') || $('.quantity-addtocart > div').hasClass('product__soldout')) && !$('.product-form__item a button').hasClass('pottermore-button') ) {
			$('.product-form__item--submit').css('display', 'flex');
			$('.product-form__item--submit').css('flex-direction', 'column');
			$('.product-form__item--submit').css('margin-bottom', '10px');
			$('.product-form__item--submit').css('margin-top', '0px');
			
			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('order', '1');
			$('#pdp-wishlist').css('order','2');
			$('.product-form__item--submit .meta-text').css('order', '3');
			
			$('#pdp-wishlist').css('text-align','end');
			$('#pdp-wishlist').css('width','101%');
			$('#pdp-wishlist').css('max-width','390px');
			$('#pdp-wishlist').css('margin-top','-40px');

			$('.meta-text').css('margin-top', '26px');
			$('.swym-button-bar.swym-isa-button-bar.swym-inject').css('padding-top', '15px');

		} 



	    if( $('#product-accordion').length > 0 ) {
		    $('#product-accordion').accordion({
		        classes: {
		        	"ui-accordion-header": "accordion-first",
		        	"ui-accordion-header-collapsed": "accordion-title",
		        	"ui-accordion-content": "accordion-content"
		        },
		        collapsible: true
		    });
		}

		$('#minicart-open-link-mobile').on('click', function(event) {
        	if($(window).width() > 767) {
         		event.preventDefault();
          		$('#minicart-open-link').click();
        	}
      	});

      	$('a.secondary-nav-item').on('click', function(event) { 
          if($(this).attr('href') == '/') { 
            event.preventDefault();  
          }
        }); 

	}, 500);

	function addItemsToCart() {
		var item = Shopify.queue.shift();
		if(item.variant_id != null && item.quantity > 0) {
			// $.post('/cart/add.js', item, function(data) {
			// 	console.log('Success');
			// 	console.log(data);
			// 	if(object.length < 1) {
			// 		updateMinicartList(data);
			// 	}
			// },'json');
			$.ajax({
				type: 'POST',
				url: '/cart/add.js',
				dataType: 'json',
				data: 'id='+item.variant_id+'&quantity='+item.quantity,
				success: function(response) {
					if(Shopify.queue.length) {
						addItemsToCart();
					}
					if(!Shopify.queue.length) {
						$.ajax({
							type: 'GET',
							url: '/cart.js',
							success: function(_response) {
								updateMinicartList(JSON.parse(_response.responseText));
								$('#MiniCart').css('position', 'fixed');
								showDialogOnMobileMultiCollection()
								
							},
							error: function(_response) {
								updateMinicartList(JSON.parse(_response.responseText));
								$('#MiniCart').css('position', 'fixed');
								showDialogOnMobileMultiCollection()
							}
						});
					}
				},
				error: function(response) {
					if(response.status == 422) {
						//alert(response.description);
						var description = '';
						if( response.description == undefined) {
							description = response.responseJSON.description;
						} else {
							description = response.description;
						}
						$('#product-error-'+item.product_id).html(description);
					}
					if(Shopify.queue.length) {
						addItemsToCart();
					} else {
						$('#MiniCart').css('position', 'fixed');
						showDialogOnMobileMultiCollection()
					}
				}
			});
		}
	}

	function showSlide(){
		var slide = $(event.target).attr('data-display-row');
		var size = $(event.target).parent().parent().children('.grid').width();
		$(event.target).parent().children().removeClass('selected-slider');
		$(event.target).addClass('selected-slider');
		$(event.target).parent().parent().children('.grid').children('div').css('transition', 'all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1)');
		$(event.target).parent().parent().children('.grid').children('div').css('transform','translateX('+(slide * (0-size))+'px)');
	}

	function displayNavigationTab(object) {
		var target = $(object).find('a').get(0);
		var show = $(object).attr('id').substr(11);
		if($('#shop-shows-content-'+show).length > 0) {
			$(target).parent().parent().children().removeClass('selected-tab');
			$('#shop-shows-content > div.shop-shows-show-content').css('display', 'none');
			$('#shop-shows-content-'+show).css('display','flex');
			$(target).parent().addClass('selected-tab');
		}
	}

	function displayShowNavigationTab(event) {
		event.preventDefault();
		displayNavigationTab(event.target);
	}

	function removeItemFromCart(link) {
		var variant_id = $(link).attr('data-variant-id');
		var link_index = $(link).attr('data-index'); 
		$.post('/cart/change.js', { quantity: 0, id: variant_id }, function(data){
			updateMinicartList(data);
		}, 'json');
	}

	function savePromoCode(event) {
		var promo_code = $("#MiniCart .minicart-promo-section .minicart-promo-form input").val();
		if( promo_code.trim() != '' ) {
			if( localStorage != undefined ) {
				localStorage.cart_promo = promo_code;
				$("#MiniCart .minicart-promo-section .minicart-promo-form input").val('');
				$("#MiniCart .minicart-promo-section .minicart-promo-message").prepend('<p> Promo code stored</p>');
			}
		}
	}

	function updateCartItemQuantity(object) { 
		if($(object).attr('data-variant-id').trim() != ''){
			var variant_id = $(object).attr('data-variant-id');
			var update_object = {};
			var variants = variant_id.split(',');
			for(var i = 1; i < variants.length; i++) {
				update_object[variants[i]] = $('#Quantity-'+variants[i]).val();
			}
			var quantity = $(object).parent().parent().parent().find('input[name="quantity"]').val();
			$.post('/cart/update.js', {updates: update_object}, function(data) {
				updateMinicartList(data);
			}, 'json');
			$('#MiniCart > .minicart-buttons > a.minicart-update-button').attr('data-variant-id', '');
		}
	}

	function updateMinicartList(cart) {
		$("#minicart-items-list").empty();
		if(cart.items.length > 0){
		    cart.items.forEach(function(item, index){
			  
          var controlExtraClass = '';
          if(item.properties && item.properties._isGiftBy ) {
            controlExtraClass = 'freegift-hidden';
          }

		      if(index >= 3) {
		      	if( index == 3 ) {
			      	var cart_item = '<li class="minicart-item"><div class="minicart-item-info view-cart-link"><a href="/cart" class="minicart-cart-link">View all items in cart</a></div></li>'
			      	$('#minicart-items-list').append(cart_item); 
		      	}
		      } else {

			      var item_image_url = '//cdn.shopify.com/s/images/admin/no-image-compact.gif';
			      if(item.image != undefined || item.image != null ){
			      	item_image_url = item.image.replace('.jpg','_95x95@2x.jpg'); 
			  	  }

			  	  if( typeof item.properties != 'undefined' && item.properties != null ) {
			  	  	if(typeof item.properties._ezp_thumbnail != 'undefined' ) { 
			  	  		item_image_url = item.properties._ezp_thumbnail;
			  	  	}
			  	  }

			      var cart_item = '<li class="minicart-item"><div class="minicart-item-image"><a href="'+item.url+'"><img class="cart__image" src="'+item_image_url+'" alt="'+item.title+'"></a></div><div class="minicart-item-info"><div class="minicart-item-title"><a href="'+item.url+'"><h4>'+item.title+'</h4></a></div><div class="minicart-item-price '+controlExtraClass+'">$'+(item.price / 100).toFixed(2)+'</div><div class="minicart-item-sku">SKU: '+item.sku+'</div><div class="minicart-item-quantity '+controlExtraClass+'"><div class="input-group input-number-group"><div class="input-group-button"><span class="input-number-decrement" data-variant-id="'+item.variant_id+'">-</span></div><input type="number" id="Quantity-'+item.variant_id+'" name="quantity" value="'+item.quantity+'" min="1" class="product-form__input" pattern="[0-9]*"><div class="input-group-button"><span class="input-number-increment" data-variant-id="'+item.variant_id+'">+</span></div></div></div><div class="minicart-item-line-total '+controlExtraClass+'">$'+(item.line_price / 100).toFixed(2)+'</div><div class="minicart-meta-info"><p class="minicart-shipsto-country">'+(item.properties!=null?item.properties.country:'')+'</p><p class="minicart-shipping-days">'+(item.properties!=null?item.properties.days:'')+'</p></div><div class="minicart-item-actions '+controlExtraClass+'"><div class="minicart-item-update hide"><a href="#" class="minicart-line-update-button" data-index="'+ (index+1) +'" data-variant-id="'+item.variant_id+'">Update</a></div><div class="minicart-item-remove"><a href="#" class="minicart-remove-link" data-index="'+ (index+1) +'" data-variant-id="'+item.variant_id+'">&#9587;</a></div></div></li>';
			      $("#minicart-items-list").append(cart_item);
		  	  }
		    });
		    if($('#minicart-items-list > .minicart-item').length > 0) {
		    	$("#minicart-items-list").prepend('<li class="minicart-item minicart-header"><div class="minicart-item-image">Product</div><div class="minicart-item-info"><div class="minicart-item-title">Description</div><div class="minicart-item-price">Price</div><div class="minicart-item-quantity">Quantity</div><div class="minicart-item-line-total">Total</div><div class="minicart-item-actions">Remove</div></div></li>');
		    }
		    $("#minicart-items-count").empty();
		    $("#minicart-items-count").append(cart.item_count);
		    $("#minicart-open-link > span.cart-items-count").empty();
		    $("#minicart-open-link > span.cart-items-count").append(cart.item_count);
		    $("#CartCount > span").empty();
		    $("#CartCount > span").append(cart.item_count);
		    $("#CartCount-mobile > span").empty();
		    $("#CartCount-mobile > span").append(cart.item_count);
	        $("#minicart-subtotal").empty();

	        $('#minicart-subtotal').append("$"+( cart.total_price / 100 ).toFixed(2) );
	        $('.cart-total').html("$"+( cart.total_price / 100 ).toFixed(2) );
	        $(".minicart-remove-link").on("click", function(event){
	          event.preventDefault();
	          removeItemFromCart(this);
	        });

	        $("#MiniCart a.minicart-update-button").on("click", function(event) {
	    		event.preventDefault();
	    		var object = event.target;
	    		updateCartItemQuantity(object);
	    	});

	        $('#MiniCart').css('display','block');
	        $('#MiniCart > .minicart-header > .minicart-title').html(' Your Trunk ');
		    $("#MiniCart > .minicart-header > .minicart-title").append('<div class="minicart-items-total"><span id="minicart-items-count">'+cart.item_count+'</span> items</div>');
	        $('#MiniCart > .minicart-header').removeClass('empty');
	        $('#MiniCart *[style]').removeAttr('style');
    		$("#MiniCart").css("padding","50px");
    		$("#MiniCart").css("width","90%");
    		$("#MiniCart").css("overflow","visible");
    		$("#MiniCart").css("border", "1px solid {{ settings.color_header_text }}");
    		$('.minicart-overlay').addClass('ui-widget-overlay').addClass('ui-front');
    		$('.minicart-overlay').bind('click', function(event){
	        	$('#minicart-close-btn').click();
	        });
    		$("#MiniCart").children().css("visibility","visible");
    		setCartFormQuantityControllers();
    		$('#MiniCart').children().removeClass('empty');
    	} else {
			$('#MiniCart .minicart-checkout-button').css('display', 'none');
			$('#MiniCart .minicart-subtotal').css('display', 'none');
			$('#MiniCart .minicart-items-total').css('display', 'none');
			$('#MiniCart .minicart-promo-section').css('display', 'none');
			$('#MiniCart .additional-checkout-buttons').css('display', 'none');
			$('#MiniCart > .minicart-header').addClass('empty');
			$('#MiniCart > .minicart-header > .minicart-title').html(' You don\'t have any item added to cart. ');
			$('#minicart-open-link > #CartCount > span').html('0');
			$('#minicart-open-link > span').html('0');
			$('#minicart-open-link-mobile > #CartCount-mobile > span').html('0');
			$('#MiniCart').children().addClass('empty');
    	}
	}

	function toggleVisibility(id) {
		if($(id).css("display") == "none") {
			$("#navigation-content > div").css("display", 'none');
			$(id).css("display","block");
		}else {
			$("#SiteNav > li").removeClass("site-nav--selected");
			$("#SiteNav > li > a[aria-current='page']").parent().addClass('site-nav--selected');
			$(id).css("display","none");
		}
	}

	function displayVisibility(id) {
		if($(id).css("display") == "none") {
			$("#navigation-content > div").css("display", 'none');
			$(id).css("display","block");
			$("#navigation-content").mouseleave(function(){
				closeVisibility(id);
			});
		}
	}

	function closeVisibility(id) {
		if($(id).css("display") != "none") {
			$("#SiteNav > li").removeClass("site-nav--selected");
			$("#SiteNav > li > a[aria-current='page']").parent().addClass('site-nav--selected');
			$(id).css("display","none");
		}
	}

	function setCartFormQuantityControllers() {
	  $('#MiniCart .input-number-decrement').on('click', function(event){
        var variant_id = $(event.target).attr("data-variant-id");
        var current_qty = $('#Quantity-'+variant_id).val();
        if(current_qty != 1){
          current_qty--;
          $('#Quantity-'+variant_id).val(current_qty);
        }
        var _variants_to_update = $('#MiniCart > .minicart-buttons > a.minicart-update-button').attr('data-variant-id');
        if(_variants_to_update.indexOf(variant_id) == -1 ) {
        	$('#MiniCart > .minicart-buttons > a.minicart-update-button').attr('data-variant-id', _variants_to_update + ',' + variant_id);
        }
      });

      $('#MiniCart .input-number-increment').on('click', function(event){
        var variant_id = $(event.target).attr("data-variant-id");
        var current_qty = $('#Quantity-'+variant_id).val();
        current_qty++;
        $('#Quantity-'+variant_id).val(current_qty);
        var _variants_to_update = $('#MiniCart > .minicart-buttons > a.minicart-update-button').attr('data-variant-id');
        if(_variants_to_update.indexOf(variant_id) == -1 ) {
        	$('#MiniCart > .minicart-buttons > a.minicart-update-button').attr('data-variant-id', _variants_to_update + ',' + variant_id);
        }
      });
	}

	function convertFormToJSONObjectWithMetafields(array) {
	  var obj = {};
	  var metafields = '';
	  if($('*[data-metafields="product-metafields-json"]').html().trim() != '') {
	    var metafields = JSON.parse($('*[data-metafields="product-metafields-json"]').html());
	  }
	  array.forEach(function(object) {
	    obj[object.name] = object.value;
	  });
	  if( metafields !== '') {
	  	var days = '';
	  	var country = '';
	  	var preorder_day = '';
	  	if( Object.keys(metafields['shipping']).length > 0 ) {
	    	days = metafields['shipping']['days'];
		} else if( Object.keys(metafields['preorder']).length > 0 ) {
			preorder_day = metafields['preorder']['date'];
			days = preorder_day.replace('Pre-Order', '');
		}
		if( Object.keys(metafields['shipsto']).length > 0 ){
	    	country = metafields['shipsto']['country'];
		}
	    obj['properties'] = { 'days': days.replace('This item', '').replace('ships', 'Ships'), 'country': country.replace('This item', '').replace('ships', 'Ships') };
	  }
	  return obj;
	}

	function showDialogOnMobile() {
		var window_width = $(window).width();
		if(window_width < 768) {
			var popUp = '<div class="mobile-addedtocart-popup" id="mobile-addedtocart-popup"><div class="popup-buttons"><a href="/checkout" class="btn checkout">Checkout</a><a class="minicart-continue-shopping" id="mobile-addedtocart-popup-continue-shopping" href="#">Continue Shopping</a></div></div>';
			$(popUp).dialog({
				title: $('#Quantity').val()+' item(s) added to cart',
				closeOnEscape: false,
				open: function(event, ui) {
					$('.ui-dialog-titlebar-close', ui.dialog | ui).hide();
				}
			});
			if($('.mobile-addedtocart-overlay').length > 0) {
				$('.mobile-addedtocart-overlay').remove();
			}
			$('body').append('<div class="mobile-addedtocart-overlay ui-widget-overlay ui-front"></div>');

			$('.mobile-addedtocart-overlay').on('click', function(event) {
				$('.ui-dialog-content:visible').dialog('close');
				$('.mobile-addedtocart-overlay').remove();
				$('#mobile-addedtocart-popup').remove();
			});


			$('#mobile-addedtocart-popup-continue-shopping').on('click', function(event){
				event.preventDefault();
				$('.ui-dialog-content:visible').dialog('close');
				$('.mobile-addedtocart-overlay').remove();
				$('#mobile-addedtocart-popup').remove();
			});
		}
	}

	function showDialogOnMobileMultiCollection() {
		var window_width = $(window).width();
		if(window_width < 768) {
			var popUp = '<div class="mobile-addedtocart-popup" id="mobile-addedtocart-popup"><div class="popup-buttons"><a href="/checkout" class="btn checkout">Checkout</a><a class="minicart-continue-shopping" id="mobile-addedtocart-popup-continue-shopping" href="#">Continue Shopping</a></div></div>';
			var num_items_added = 0;
			$('.list-view-item input[name="quantity"]').each(function(index,item){
				num_items_added += parseInt($(item).val());
			});
			$(popUp).dialog({
				title: num_items_added+' item(s) added to cart',
				closeOnEscape: false,
				open: function(event, ui) {
					$('.ui-dialog-titlebar-close', ui.dialog | ui).hide();
				}
			});
			$('body').append('<div class="mobile-addedtocart-overlay ui-widget-overlay ui-front"></div>');

			$('.mobile-addedtocart-overlay').on('click', function(event) {
				$('.ui-dialog-content:visible').dialog('close');
				$('.mobile-addedtocart-overlay').remove();
				$('#mobile-addedtocart-popup').remove();
			});


			$('#mobile-addedtocart-popup-continue-shopping').on('click', function(event){
				event.preventDefault();
				$('.ui-dialog-content:visible').dialog('close');
				$('.mobile-addedtocart-overlay').remove();
				$('#mobile-addedtocart-popup').remove();
			});
		}
	}

	function displayErrorPopup(message) {
		var popUp = '<div class="error-popup-popup" id="error-popup-popup"><div class="popup-buttons"><div class="error-popup-message"><span>'+message+'</span></div><div class="error-popup-continue-shopping"><a class="minicart-continue-shopping" id="error-popup-continue-shopping" href="#">Continue Shopping</a><div></div></div>';

		
		$(popUp).dialog({
			closeOnEscape: false,
			draggable: false,
			open: function(event, ui) {
				$('.ui-dialog-titlebar-close', ui.dialog | ui).hide();
			},
			close: function(event, ui) {
				$('.error-popup-overlay').click();
			}
		});
		$('body').append('<div class="error-popup-overlay ui-widget-overlay ui-front"></div>');

		$('.error-popup-overlay').on('click', function(event) {
			$('.ui-dialog-content:visible').dialog('close');
			$('.error-popup-overlay').remove();
			$('#error-popup-popup').remove();
		});


		$('#error-popup-continue-shopping').on('click', function(event){
			event.preventDefault();
			$('.ui-dialog-content:visible').dialog('close');
			$('.error-popup-overlay').remove();
			$('#error-popup-popup').remove();
		});

		$('div[aria-describedby="error-popup-popup"]').css({'z-index': 1000, 'width': '300px!important', 'left': 'calc(50% - 150px) !important'});
		$('div[aria-describedby="error-popup-popup"] > .ui-dialog-titlebar').css('display', 'none');
		$('div[aria-describedby="error-popup-popup"] > #error-popup-popup').css('min-height', '10px');
		$('div[aria-describedby="error-popup-popup"] .error-popup-message').css({'text-align': 'center', 'padding': '5px 0 0'});
		$('div[aria-describedby="error-popup-popup"] .error-popup-continue-shopping').css({'text-align': 'center', 'margin-top': '10px'});
	}

	function isSearchResultsPage() {
		if( window.location.pathname.indexOf('search-results-page') !== -1 ) {
			return true;
		}
		return false;
	}

	function isCartPage() {
		if( window.location.pathname.substr('0,5') === '/cart') {
			return true;
		}
		return false;
	}

	function updateFilterResetLink() {
		var createFilterResetLink = setInterval(function(){
			if($('.snize-filters-sidebar').length < 1) {
				return;
			}
			clearInterval(createFilterResetLink);

			$('.snize-filters-sidebar > .snize-product-filters-block > .snize-product-filters-title.open').click();
			$('.snize-filters-sidebar .snize-product-filters-reset').parent().parent().parent().parent().children('.snize-product-filters-title').addClass('open');
			$('.snize-filters-sidebar .snize-product-filters-reset').parent().parent().parent().parent().children('.snize-product-filters-list').css('display', 'block');

			$('.snize-filters-sidebar > .snize-product-filters-block > .snize-product-filters-list > li > label').on('mouseup', function(event) {
	    		updateFilterResetLink();
	    	});

			addSearchViewAllLink();
		},1000);
	}

	function addSearchViewAllLink() {
		if($('.snize-filters-sidebar .snize-product-filters-reset').length > 0) {
			
			$('.snize-filters-sidebar .snize-product-filters-reset').parent().parent().parent().parent().children('ul').prepend('<li class=" "><label><span><a href="#" class="filters-clear-link">&laquo; View All</a></span></label></li>');
			$('.snize-filters-sidebar .snize-product-filters-reset').parent().css('display', 'none');
			$('.filters-clear-link').closest('ul.snize-product-filters-list').find('.snize-product-filters-checkbox:checked').closest('li').addClass('filter--selected');
			$('.filters-clear-link').on('click', function(event) {
				event.preventDefault();
				var search_parameters = window.location.search.substr(1).split('&');
				var final_url = window.location.href.split('?')[0]+'?';
				var facet = $(this).parent().parent().parent().parent().parent().attr('id').substr(-12);
				search_parameters.forEach(function(param) {
					if( param.indexOf(facet) === -1 ){
						final_url += '&'+param;
					}
				});
				window.location.href = final_url;
			});
			
		}
	}    		
</script>
<style>
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
</style>
