{%- assign list = menu_navigation_for_list %}
{%- assign block_type = nav_list.title | handleize | replace: '-', '_' | append: '_mt' %}
<div id="sub-navigation-{{ nav_list.title | handleize }}" class="sub-navigation-menu">
  {% if list.size != 0 %}
    <div id="{{ nav_list.title | handleize }}-content" class="menu-content">
      <div class="menu-navigation-content">
        {% for link in list %}
        {%- assign count_mod = forloop.index | modulo: 4 %}
        {% if count_mod == 1 %}
        <div class="menu-navigation-content-container">
        {% endif %}
          <div id="{{ nav_list.title | handleize }}-{{link.handle}}" class="menu-navigation-section">
            <div class="menu-navigation-section-level-0">
              <ul class="menu-navigation-section-level-1">
              {% if link.links != blank %}
                <li class="list-title"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% for llink in link.links %}
                <li><a href="{{ llink.url }}">{{ llink.title }}</a></li>
                {% endfor%}
              {% else %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
              </ul>
            </div>
          </div>
        {% if count_mod == 0 or forloop.index == nav_list.links.size %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id="{{ nav_list.title | handleize }}-featured-item-section" class="menu-navigation-promo-section">
      <div class="featured-products">
        <div class="featured-product-items">
        {%- assign menu_image = blank %}
        {% for block in section.blocks %}
          {% if block.type == block_type %}
            {% assign featured_products_count = featured_products_count | plus: 1 %}
            {% assign menu_image = block.settings.menu_image | img_url: '512x512' %}
            {% if menu_image != blank %}
              {% if block.settings.menu_image_link != blank %}<a href="{{ block.settings.menu_image_link }}" >{% endif %}
              <img class="lazyload js"
                   src="{{menu_image}}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-sizes="auto"
                   alt="Shop {{ nav_list.title }}"
                   id="{{ nav_list.title | handleize }}_menu_image_tout" >
              {% if block.settings.menu_image_link != blank %}</a>{% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>

  {% endif %}
</div>
