{%- assign sort_pagination_by = "" %}
{%  if collection.sort_by != collection.default_sort_by %}
{%- assign sort_pagination_by = collection.sort_by | prepend: "&sort_by=" %}
{% endif %}
<ul class="list--inline pagination" data-collection-handle="{{collection.handle}}">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </a>
    {% endunless %}
  </li>

  <li class="pagination__text">
    <a href="?page={{paginate.current_page}}{{ sort_pagination_by }}">{{paginate.current_page}}</a>
  </li>

  <li class="pagination__text">
    <a>of</a>
  </li>
 
  <li class="pagination__text">
    <a href="?page={{paginate.pages}}{{ sort_pagination_by }}">{{paginate.pages}}</a>
  </li>
  
  <li>
    {% unless paginate.next.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
    {% else %}
      {% if collection.handle == 'best-sellers-all' and paginate.current_page == 2 %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
      {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </a>
      {% endif %}
    {% endunless %}
  </li>
</ul>
