{% if settings.password_validation_enabled %}
{{ 'password-validation.scss.css' | asset_url | stylesheet_tag }} 
<script src="{{ 'password-validation.js' | asset_url }}" defer="defer"></script>
{% endif %}
