<!-- /snippets/popup-cart.liquid -->

{% comment %}
  This snippets adds the minicart functionality to the shopify debut theme.
{% endcomment %}

<div id="MiniCart" class="popup outset sticky">
  {% if cart.item_count == 0 %}
    <div class="minicart-header empty">
      <div class="minicart-close"><a id="minicart-close-btn" href="#">&#9587;</a></div>
      <div class="minicart-title"> You don't have any item added to cart. <div class="minicart-items-total" style="display: none;"><span id="minicart-items-count">0</span> items</div></div>
    </div>
  {% else %}
  <div class="minicart-header">
    <div class="minicart-close"><a id="minicart-close-btn" href="#">&#9587;</a></div>
    <div class="minicart-title"> Your Trunk <div class="minicart-items-total"><span id="minicart-items-count">{{ cart.item_count}}</span> items</div></div>
  </div>
  {% endif %}
  <div class="minicart-items{% if cart.item_count == 0 %} empty{% endif %}">
    <ul id="minicart-items-list" class="minicart-items">
      <li class="minicart-item minicart-header">
        <div class="minicart-item-image">Product</div>
        <div class="minicart-item-info">
          <div class="minicart-item-title">Description</div>
          <div class="minicart-item-price">Price</div>
          <div class="minicart-item-quantity">Quantity</div>
          <div class="minicart-item-line-total">Total</div>
          <div class="minicart-item-actions">Remove</div>
        </div>
      </li>
    {% assign list_count = 2 %}
    {% if cart.items.size < 3 %}
      {% assign list_count = cart.items.size | minus: 1 %}
    {% endif %}
    {% for i in (0..list_count) %}
    {% assign item = cart.items[i] %}
      <li class="minicart-item">
        <div class="minicart-item-image">
          <a href="{{ item.url | within: collections.all }}">
            <img data-sizes="auto" class="cart__image lazyload" data-src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
          </a>
        </div>
        <div class="minicart-item-info">
          <div class="minicart-item-title">
            <a href="{{ item.url | within: collections.all }}">
              <h4>{{item.product.title}}{% if item.variant != blank and item.product.variants.size > 1 %} - {{item.variant.title}}{% endif %}</h4>
            </a>
            {% assign property_size = item.properties | size %}
            {% assign _properties_to_ignore = "Preview,_pplr_preview,_ezp_thumbnail,_isGiftBy,_ezp_projectId,_tags,_ezp_sku,days,country" | split: ',' %}
            {% if property_size > 0 %}

            <div class="personalization">
              {% for p in item.properties %}
              {% unless _properties_to_ignore contains p.first %}
                {% unless p.last == blank or hiddenProp == true %}
                  <p class="personalization-title no-margin">{{ p.first }}: <span class="{{ p.first }}">{{ p.last }}</span></p>
                {% endunless %}
              {% endunless %}
              {% endfor %}
            </div>
            {% endif %} 
          </div>
          {% assign controlExtraClass = '' %}
          {% if item.product.tags contains 'IS-FREE-GIFT' %}
              {% assign controlExtraClass = 'freegift-hidden' %}
          {% endif %}
          {% if item.properties._isGiftBy != '' %}
              {% assign controlExtraClass = 'freegift-hidden' %}
          {% endif %}
          <div class="minicart-item-price {{ controlExtraClass }}">{{item.price | money}}</div>
          <div class="minicart-item-sku">SKU: {% if item.variant != blank %}{{item.variant.sku}}{% else %}{{item.product.metafields.sku.parent}}{% endif %}</div>
          
          <div class="minicart-item-quantity {{ controlExtraClass }}">
            <div class="input-group input-number-group">
              <div class="input-group-button">
                <span class="input-number-decrement" data-variant-id="{{item.variant_id}}">-</span>
              </div>
              <input type="number" id="Quantity-{{item.variant_id}}" name="quantity" value="{{item.quantity}}" min="1" class="product-form__input" pattern="[0-9]*">
              <div class="input-group-button">
                <span class="input-number-increment" data-variant-id="{{item.variant_id}}">+</span>
              </div>
            </div>
          </div>
          <div class="minicart-item-line-total {{ controlExtraClass }}">{{ item.final_line_price | money}}</div>
          <div class="minicart-meta-info">
            {% if item.product.metafields.shipsto.country != blank %}
            <p class="minicart-shipsto-country">{{ item.product.metafields.shipsto.country | remove: "This item" | replace: 'ships', 'Ships' }}</p>
            {% endif %}
            {% if item.product.metafields.preorder.date != blank %}
            <p class="minicart-shipping-days">{{ item.product.metafields.preorder.date | remove: 'Pre-Order' | replace: 'ships', 'Ships' }}</p>
            {% elsif item.product.metafields.shipping.days != blank %}
            <p class="minicart-shipping-days">{{ item.product.metafields.shipping.days | remove: "This item" | replace: 'ships', 'Ships' }}</p>
            {% endif %}
          </div>
          <div class="minicart-item-actions {{ controlExtraClass }}">
            <div class="minicart-item-update hide"><a href="#" class="minicart-line-update-button" data-variant-id="{{item.variant_id}}">Update</a></div>
            <div class="minicart-item-remove"><a href="#" class="minicart-remove-link" data-variant-id="{{item.variant_id}}">&#9587;</a></div>
          </div>
        </div>
      </li>
    {% endfor %}
    {% if cart.items.size > 3 %}
      <li class="minicart-item"><div class="minicart-item-info view-cart-link"><a href="/cart" class="minicart-cart-link">View all items in cart</a></div></li>
    {% endif %}
    </ul>
  </div>
  <div class="promo-text">Have a discount code? Continue to checkout to redeem it.</div>
  <div class="minicart-subtotal" {% if cart.item_count == 0 %}style="display: none"{% endif %}>Subtotal<span id="minicart-subtotal">{{ cart.total_price | money }}</span></div>
  <div class="minicart-promo-section" {% if cart.item_count == 0 %}style="display: none"{% endif %}>
    <div class="minicart-promo-message"><p>Shipping &amp; taxes calculated at checkout</p></div>
  </div>
  <div class="minicart-buttons{% if cart.item_count == 0 %} empty{% endif %}">
    <a href="#" class="minicart-update-button" data-variant-id="">Update Trunk</a>
    <a href="/checkout" class="minicart-checkout-button" {% if cart.item_count == 0 %}style="display: none"{% endif %}>Checkout</a>
  </div>
  {% if additional_checkout_buttons %}
    <form action="/cart" method="post" novalidate class="cart text-right">
    <div class="additional-checkout-buttons{% if cart.item_count == 0 %} empty{% endif %}" {% if cart.item_count == 0 %}style="display: none"{% endif %} >{{ content_for_additional_checkout_buttons }}</div>
    </form>
  {% endif %}
  <a id="minicart-continue-btn" href="#" class="minicart-continue-shopping{% if cart.item_count == 0 %} empty{% endif %}">Continue Shopping</a>
  <div class="minicart-cart-update-ajax-wait{% if cart.item_count == 0 %} empty{% endif %}"></div>
</div>
