<!-- /snippets/popup-Quickview.liquid -->

<div id="PopupQuickview" class="quickview-popup" >
  <div class="quickview-container">
  </div>
</div>

<script>

  var setQuickview = setInterval(function(){
    if( $ !== jQuery || jQuery == undefined ) {
      return;
    }

    clearInterval(setQuickview);

    $(".grid-view-item__quickview > button.quickview").hover(function(event) {
      if($(event.target).closest('.grid-view-item').find('.grid-view-item__image').length > 1) {
        $(event.target).closest('.grid-view-item').find('.grid-view-item__image.hover__image').css('z-index','0');
      }
    });

    $(".grid-view-item__quickview > button.quickview").on('click',function(){
      var product_url = window.location.origin + '/products/' + $(this).attr('id') + '?view=quickview';
      $.get( {
        url: product_url,
        success: function(data) {
          $("#PopupQuickview > .quickview-container").empty();
          $("#PopupQuickview > .quickview-container").append(data);
          $("#PopupQuickview .quickview-footer > a").attr('href',product_url.replace('?view=quickview',''));
          $("#PopupQuickview").dialog({
            modal: true,
            resizable: false,
            draggable: false,
            open: function() {
              $('.ui-widget-overlay').bind('click', function(event){
                $('#PopupQuickview').dialog('close');
              });
            },
            close: function() {
              $('#PageContainer').removeAttr('style');
              $('#shopify-section-header').removeAttr('style');
            }
          });

          $('#PopupQuickview .input-number-decrement').on('click', function(){
            var current_qty = $('#PopupQuickview #Quantity').val();
            if(current_qty != 1){
              current_qty--;
              $('#PopupQuickview #Quantity').val(current_qty);
            }
          });

          $('#PopupQuickview .input-number-increment').on('click', function(){
            var current_qty = $('#PopupQuickview #Quantity').val();
            current_qty++;
            $('#PopupQuickview #Quantity').val(current_qty);
          });

          if($('#product-price-range').length > 0 ) {
            $('#ProductPrice-product-quickview-template').html($('#product-price-range').html());
          }
          $('#PopupQuickview .single-option-selector').on('change',function(){
            var selected_option = $(this).find(':selected').index();
            if( selected_option >= 0 ) {
              $('#ProductSelect option:eq('+(selected_option)+')').prop('selected', true);
              if($('#ProductJson-product-quickview-template').html().trim() != '' ) {
                var productJson = JSON.parse($('#ProductJson-product-quickview-template').html());
                var product_variant = productJson.variants[selected_option];

                if (product_variant.available && $('#meta-preorder').length != 0) {
                 $('#PopupQuickview .quantity-addtocart button[type="submit"]').removeAttr('disabled');
                 $('#AddToCartText-product-quickview-template').text(theme.strings.preOrder);
              } else {

                if( product_variant.available == true ) {
                  $('#PopupQuickview .quantity-addtocart button[type="submit"]').removeAttr('disabled');
                  $('#AddToCartText-product-quickview-template').html("Add to Cart");
                } else {
                  $('#PopupQuickview .quantity-addtocart button[type="submit"]').attr('disabled','disabled');
                  $('#AddToCartText-product-quickview-template').html("Sold Out");
                }
              }
                $('#ProductPrice-product-quickview-template').html('$'+(product_variant.price / 100));
              }
            } else {
              $('#PopupQuickview .quantity-addtocart button[type="submit"]').attr('disabled','disabled');
              $('#AddToCartText-product-quickview-template').html("Make a selection");

              if($('#product-price-range').length > 0 ) {
                $('#ProductPrice-product-quickview-template').html($('#product-price-range').html());
              }
            }
          });

          if($('.selector-swatch-wrapper').length > 0) {
            $('.selector-swatch-wrapper > label.swatch-selector').on('click', function(event) {
              $('.swatch-selector').removeClass('active');
              $(this).addClass('active');
              var selection_index = parseInt($(event.target).attr('for').replace("SingleOptionSelector-",""));
              var selected_value = $(event.target).closest('.selector-swatch-wrapper').find('#'+$(event.target).attr('for')).val();
              $(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector option').removeAttr('selected');
              $(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector option:eq('+selection_index+')').prop('selected', true);
              $(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector').trigger('change');
              $(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector').change();
              console.log($(this).closest('.product-form').find('.selector-wrapper select#SingleOptionSelector').val());
              $(this).closest('.product-form').find('select#ProductSelect-product-quickview-template option').removeAttr('selected');
              $(this).closest('.product-form').find('select#ProductSelect-product-quickview-template option:eq('+selection_index+')').prop('selected', true);
              $(this).closest('.product-form').find('select#ProductSelect-product-quickview-template').trigger('change');
              console.log(selection_index);
              console.log(selected_value);
              console.log($(this).closest('.product-form').find('select[name="id"]').val());
            });
          }

          $('#PopupQuickview .thumbnails-wrapper .product-single__thumbnails-item').hover(function(event) {
            var image_src = $(this).find('img.product-single__thumbnail-image').attr('data-image-src');
            if(image_src != '' || image_src !== undefined ) {
              $('#PopupQuickview > .quickview-container .product-single__photos .main-image-holder > img.product-single-image').attr('src', image_src);
            }
          });


          $('#PopupQuickview > .quickview-container .product-single__photos > .thumbnails-wrapper .product-single__thumbnails-item').on('click', function(event) {
            event.preventDefault();
            return;
          });

          $("[data-include-content]").each(function() {
             var file = $(this).data('include-content');
             $(this).load(file);
          });

          var viewHeight = document.documentElement.height || window.innerHeight || 0;
          var dialog_height = $('*[role="dialog"]').height();
          var dialog_top = (viewHeight - dialog_height)/2;
          var dialog_top = Math.max(dialog_top, 40);
          $('*[role="dialog"]').css('top',dialog_top+'px');


          if($('#PopupQuickview #pr-reviewsnippet').length > 0){
            if( $('#PopupQuickview #pr-reviewsnippet').html().trim() == "" && $('#PopupQuickview .product-quickview-sku').html() != undefined ) {
              var _sku = $('#PopupQuickview .product-quickview-sku').html().replace('SKU:&nbsp;','');
              if($('#pr-collectionsnippet-'+_sku).html().trim() != '') {
                $('#PopupQuickview #pr-reviewsnippet').html($('#pr-collectionsnippet-'+_sku).html());
              }
            }
          }

          $('#PopupQuickview .thumbnails-wrapper ul').slick({
            dots: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            arrows: true
          });

          if($('#PopupQuickview .slick-next').length > 0 ) {
            $('#PopupQuickview .slick-next').click();
          }
          if($('#PopupQuickview .slick-prev').length > 0 ) {
            $('#PopupQuickview .slick-prev').click();
          }

          // Ajax Add to cart
          var _config = {
            // What you might want to change
            addToCartBtnLabel:             'Add to cart',
            soldOutBtnLabel:               'Sold Out',
            howLongTillBtnReturnsToNormal: 1000, // in milliseconds.
            cartCountSelector:             '#CartCount,#minicart-items-count',
            cartTotalSelector:             '#cart-price',
            // 'aboveForm' for top of add to cart form,
            // 'belowForm' for below the add to cart form, and
            // 'nextButton' for next to add to cart button.
            feedbackPosition:              'nextButton',

            // What you will never need to change
            addToCartBtnSelector:          '[type="submit"]',
            addToCartFormSelector:         'form[action="/cart/add"]',
            shopifyAjaxAddURL:             '/cart/add.js',
            shopifyAjaxCartURL:            '/cart.js'
          };

          var setButtonText = function($button, label) {
            if ($button.children().length) {
              $button.children().each(function() {
                if ($.trim($(this).text()) !== '') {
                  $(this).text(label);
                }
              });
            }
            else {
              $button.val(label).text(label);
            }
          };

          $(_config.addToCartFormSelector).submit(function(e) {
            e.preventDefault();
            var $addToCartForm = $(this);
            var json_form = convertFormToJSONObjectWithMetafields($addToCartForm.serializeArray());
            var $addToCartBtn = $addToCartForm.find(_config.addToCartBtnSelector);
            $addToCartBtn.addClass('disabled').prop('disabled', true);

            var $tags = $addToCartForm.find('[name="tags"]');
            if( $tags.length === 0 ){
                console.warn('Please add tag list to this item');
                return false;
            }
            var tags = $tags.val().split(',');
            delete json_form.tags;
            json_form.properties._tags = tags.join(',');
            json_form.properties._isGiftBy = '';

            // Add to cart.
            $.ajax({
              url: _config.shopifyAjaxAddURL,
              dataType: 'json',
              type: 'post',
              data: json_form,//$addToCartForm.serialize(),
              success: function(itemData) {
                (async () => {
                    var cart = null;
                    try {
                        cart = await FREE_GIFT_PLUGIN.adjustCart();
                    } catch (error) {
                        console.warn(error);
                    }

                    // Re-enable add to cart button.
                    $addToCartBtn.addClass('inverted');
                    // _showFeedback('success','',$addToCartForm);
                    window.setTimeout(function(){
                      $addToCartBtn.prop('disabled', false).removeClass('disabled').removeClass('inverted');
                    }, _config.howLongTillBtnReturnsToNormal);
                    // Update cart count and show cart link.
                    $.getJSON(_config.shopifyAjaxCartURL, function(cart) {
                      if (_config.cartCountSelector && $(_config.cartCountSelector).size()) {
                        var value = $(_config.cartCountSelector).html() || '0';
                        $(_config.cartCountSelector).html(value.replace(/[0-9]+/,cart.item_count)).removeClass('hidden-count');
                      }
                      if (_config.cartTotalSelector && $(_config.cartTotalSelector).size()) {
                        if (typeof Currency !== 'undefined' && typeof Currency.moneyFormats !== 'undefined') {
                          var newCurrency = '';
                          if ($('[name="currencies"]').size()) {
                            newCurrency = $('[name="currencies"]').val();
                          }
                          else if ($('#currencies span.selected').size()) {
                            newCurrency = $('#currencies span.selected').attr('data-currency');
                          }
                          if (newCurrency) {
                            $(_config.cartTotalSelector).html('<span class=money>' + Shopify.formatMoney(Currency.convert(cart.total_price, "{{ shop.currency }}", newCurrency), Currency.money_format[newCurrency]) + '</span>');
                          }
                          else {
                            $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                          }
                        }
                        else {
                          $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                        }
                      };
                      $('#PopupQuickview').dialog('close');
                      //$("html, body").animate({scrollTop: 0}, "slow");
                      updateMinicartList(cart);
                    });
                })();
              }
            });
            return false;
          });

          $('#quickview-add-to-wishlist-btn').on('click', function(event) {
            event.preventDefault();
            $('button.swym-button.swym-add-to-wishlist-view-product[data-product-id="'+$(event.target).attr('data-for-product-id')+'"]').click();
          });
        }
      });
    });

  },1000);

</script>
