<!--snippets/product-tags.liquid-->
{%- assign custom_tag = settings.custom_sales_tag_tag | strip %}
{% for tag in product.tags %}
  {% case tag %}
    {% when custom_tag %}
      {% if settings.custom_tag_enabled %}
       <span class="product-tag-label product-tag__custom{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
      {% endif %}
       {% break %}
    {% when 'SOLDOUT' %}
      <span class="product-tag-label product-tag__soldout-label">Sold Out</span>
      {% break %}
    {% when '1EXCLUSIVE' %}
      <span class="product-tag-label">Exclusive</span>
      {% break %}
    {% when '2BESTSELLER' %}
      <span class="product-tag-label">Best Seller</span>
      {% break %}
    {% when '3NEW' %}
      <span class="product-tag-label">New</span>
      {% break %}
    {% when 'ONSALE' %}
      <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
      {% break %}
  {% endcase %}
{% endfor %}
