{% if product.images.size > 1 or product.metafields.productinfo.trailer_urls != blank %} 
  {% if product.images.size > 3 %}
  <script type="text/javascript">
  $(document).ready(function() {
    $(".slick-thumbnails").slick({
      infinite: false,
      autoplay: false,
      dots: false,
      arrows: true,
      prevArrow: '<span class="slick-prev icon-large"></span>',
      nextArrow: '<span class="slick-next icon-large"></span>',
      slidesToShow: 5,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 996,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 414,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        }
      ],
      adaptiveHeight: false
    })
  })
  </script>
  {% endif %} 

  {%- assign has_embed_video = false %}
  {% if product.metafields.productinfo.trailer_urls != blank %} 
  {%- assign has_embed_video = true %}
  {% endif %}   

  <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
    <div class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }} {% if product.images.size > 4 %}slick-thumbnails{% endif %}">
      {% for image in product.images %} 
        {% if forloop.index == 1 and product.metafields.productinfo.trailer_urls != blank %}
        <div class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js video--thumbnail" style="clear:none;">
          <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
             class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
             data-thumbnail-id="{{ image.id }}--video"
             {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
               <img class="product-single__thumbnail-image lazyload" data-sizes="auto" data-src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
          </a>
        </div> 
        {% endif %}    
        <div class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js" style="clear:none;">
          <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
             class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
             data-thumbnail-id="{{ image.id }}"
             {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
               <img class="product-single__thumbnail-image lazyload" data-sizes="auto" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
