<!--snippets/product-accordion -->
<div id="product-accordion">
		<h3 class="accordion-first">Overview</h3>
    <div class="accordion-content">
      {{ product.description }}
    </div>  

		{% if product.metafields.productinfo.size_chart != blank %}
		<h3 class="accordion-title">Size Chart</h3>
    <div class="accordion-content">
      <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

      </div>
    </div>
    {% endif %}
</div>
