<ul class="site-secondary-nav list--inline ">
	{% for _link in linklists[section.settings.secondary_linklist].links %}
	{% if _link.links != blank %}
	<li class="site-secondary-nav-item">
		<div class="secondary-navigation-slideout-item">
			<a class="secondary-nav-item" href="{{ _link.url }}">{{ _link.title }}</a>
			<div class="secondary-navigation-slideout-container slideout--{{ _link.title | handleize }}">
				<div>
				{% for __link in _link.links %}
					<div>
						<a href="{{ __link.url }}">
							{%- assign img_name = __link.title | replace: ' ','' | prepend: 'nav_' | append: '.png' | downcase %}
							<img class="lazyload" data-sizes="auto" data-src="{{ img_name | asset_url }}" alt="{{ __link.title }}">
							<span>{{ __link.title }}</span>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</li>
	{% else %}
	<li class="site-secondary-nav-item">
		<a class="secondary-nav-item" href="{{ _link.url }}">{{ _link.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>