<script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
<link rel="stylesheet" href="{{ 'stamped.scss.css' | asset_url }}">
