{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<script type="application/json" id="pdp-product-info">
{ "_id": "{{ product.variants.first.sku }}",
  "currency": "{{ shop.currency }}",
  "listPrice": "{{ product.variants.first.price | money_without_currency}}",
  "name": "{{ product.title | escape }}",
  "url": "https://{{ shop.domain }}{{ product.url }}",
  "image_url": "https:{{ product.featured_image | product_img_url: "large" | replace: "<","%26" }}",
  "description": "{{ product.description | escape }}",
  "category_name": "{{ product.type }}",
  "upc": "{{ product.first_available_variant.barcode }}",
  "brand_name": "{{ product.vendor }}",
  "price": "{{ product.price | money_without_currency }}",
  "page_id": "{{ product.metafields.sku.parent }}",
  "in_stock": "{{ product.available }}"{% if product.variants.size > 1 %},{% endif %}
  {% if product.variants.size > 1 %}
    "variants": [
      {% for variant in product.variants %}
        {
          "name": "{{variant.title}}",
          "description": "{{variant.title | escape }}",
          "page_id_variant": "{{variant.id}}",
          "upc": "{{ variant.barcode }}"
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
}
</script>

{% section 'product-template' %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
<!-- brontoBrowseObject:start -->
<script>
  (function(window) {
    var BROWSE_PRODUCT = "brontoBrowseObject";
    window[BROWSE_PRODUCT] = {
      product: {{ product | json }}
    };
  })(window);
</script>
<!-- brontoBrowseObject:end -->
