<div id="cart">
  
  <!-- Begin empty cart -->
  {% if cart.item_count == 0 %}
  <div class="row">
    <div class="col-lg-12 expanded-message">
      <br>
      <br>
      <h2 class="tc">Your cart is empty!</h2>
    </div>
  </div>
  <!-- End empty cart -->
  
  <!-- Begin cart -->
  {% else %}
<!--   <SCRIPT TYPE="text/javascript">
    function popup(mylink, windowname) { 
      if (! window.focus)return true;
      var href;
      if (typeof(mylink) == 'string') href=mylink;
      else href=mylink.href; 
      window.open(href, windowname, 'width=400,height=400,scrollbars=yes'); 
      return false; 
    }
  </SCRIPT>

  <a href="/pages/free-shipping-no-minimum" onClick="return popup(this, 'Free Shipping, No Minimum')"><div id="qab_placeholder" style="padding-bottom: 10px;"></div></a> -->

<!--   <div id="qab_placeholder" style="padding-bottom: 10px;"></div> -->
  <div class="row">
    <div id="fsb_placeholder"></div>
    <div class="col-lg-12">
      <!--h1>Your cart</h1-->
      <form action="/cart" method="post" id="cartform" class="fix-shadow">
        <div class="col-md-8 col-sm-8 cart-list">
        <table>
          <thead>
            <tr>
              <th class="image">&nbsp;</th>
              <th class="item">Product</th>
              <th class="qty">Qty</th>
              <th class="price">Price</th>
              <th class="remove">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}

            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            {% assign controlExtraClass = '' %}
            {% if item.product.tags contains 'IS-FREE-GIFT' %}
              {% assign controlExtraClass = 'freegift-hidden' %}
            {% endif %}
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            <tr class="cart__row">
              <td class="image">
                <div class="product_image">
                  <a href="{{ item.url }}">
                    <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.product.title }}" />
                  </a>
                </div>
              </td>
              <td class="item">
                <a href="{{ item.url }}">
                  <strong>{{ item.product.title }}</strong>
                  {% if item.product.variants.size > 1 %}
                  <span class="variant_title">{{ item.variant.title }}</span>
                  {% endif %}
                </a>
              </td>
              <td class="cart-qty">
                <div class="{{ controlExtraClass }}">
                  <input type="text" size="4" name="updates[{{ item.variant.id }}]" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" />
                </div>
              </td>
              <td class="price">
                <div class="{{ controlExtraClass }}">
                  {{ item.line_price | money }}
                </div>
              </td>
              <td class="remove">
                <div class="{{ controlExtraClass }}">
                  <a href="#" class="cart cart-remove-item"><i class="icon_close"></i></a>
                </div>
              </td>
            </tr>
            {% endfor %}
         
          </tbody>
        </table>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="subtotal"><p class="t-title">Total price :</p>
            <p class="price"><span class="total"><strong>{{ cart.total_price | money }}</strong></span></p>
          </div>
          <div class="cart-comment">
           {% if settings.cart_notes %}
            <h3 class="add-comments">Note Additional comments</h3>
            <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
            {% endif %}

            {% comment %}
              If notes are used, adjust the column width
            {% endcomment %}

            {% comment %}
              name="checkout" is required for the update button to work
            {% endcomment %}

          </div>
          <div class="cart-buttons inner-right inner-left">
            <input type="submit" id="update-cart" class="btn" name="update" value="{{ 'Update Cart'}}" />
            <a href="/checkout" class="btn se-processed" id="checkout">{{ 'Check Out'}}</a>
            <div id="location">
              <p style="text-align: left; margin: 10px 0;">
                <input style="margin: 0 5px 0 10px; display: inline-block; width: 10%; max-width: 15px;" type="checkbox" id="agree" />
                <label id="agreelabel" style="display:inline-block; font-weight: 400; font-size: 13px; line-height: 1.5; width: 88%;" for="agree">
                  <span style="color: red;">*</span> If I ship my order outside of the USA, I accept that I am responsible for any and all import fees, duties and/or local taxes.
                </label>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
    
  </div>
  
  {% endif %}
  
  
  <!-- End cart -->
  
</div> 

