

{% if settings.collection_results_per_page != blank %}
  {% assign product_per_page = settings.collection_results_per_page %}
{% else %}
  {% assign product_per_page = 8 %}
{% endif %}

<!-- Marketing Headers start -->
<!-- <div style="padding-bottom: 10px;"><img src="{{ 'OTL_fallsale_header.jpg' | asset_url }}"></div> -->
<!-- Marketing Headers end -->

<div class="row">
  <div class=" col-md-12 col-sm-12 col-xs-12 col4 col-main">    
    {% paginate collection.products by product_per_page %}
	<header class="page-header">
      <div class="images">
      </div>
      {% if collection.description != ''  %}
      <div class="rte">
        {{ collection.description }}
      </div>
      {% endif %}
    </header>

    {% comment %}
      Use .grid--rev so that the collection tags appear below the products on mobile
    {% endcomment %}
    
    {% include 'toolbar' %}
    
    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    
    <div class="products-grid product-grid-item">
      <div class="row">
        {% if collection.products.size > 0 %}      
        {% paginate collection.products by product_per_page %}  
        {% for product in collection.products %}
        {% include '4col-product' %}
        {% endfor %}
        {% endpaginate %}
        {% else %}
        <p style="text-align: center;">There are no products in this collection.</p>
        {% endif %}
      </div>
    </div>
    
    {% if paginate.pages > 1 %}
    <div class="padding">
      {% include 'pagination-page' %}
    </div>
    {% endif %}
    
    {% endpaginate %}    
  </div>
</div>
