<body>
<div class="container">
<!-- <SCRIPT TYPE="text/javascript">
  function popup(mylink, windowname) { 
    if (! window.focus)return true;
    var href;
    if (typeof(mylink) == 'string') href=mylink;
    else href=mylink.href; 
    window.open(href, windowname, 'width=400,height=400,scrollbars=yes'); 
    return false; 
  }
</SCRIPT>

<a href="/pages/free-shipping-no-minimum" onClick="return popup(this, 'Free Shipping, No Minimum')"><div id="qab_placeholder" style="padding-bottom: 10px;"></div></a>
 -->
<!--   <div id="qab_placeholder" style="padding-bottom: 10px;"></div> -->
  <!-- Marketing Headers start -->
<!-- <div style="padding-bottom: 10px;"><a href="https://www.outlanderstore.com/pages/outlander-season-4-sweepstakes"><img src="{{ 'OTL_homeheader_sweepstakes.png' | asset_url }}"></a></div> -->
  <!-- Marketing Headers end -->
  
  <div class="row">
    {% include 'homepage-flexslider' %}
  </div>
  <div class="row home-category">
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/face-masks">
          <div class="block-home-category" style="float: left;">
            <img src="{{ 'evg_OTL_Sectout_FaceMasks.jpg' | asset_url }}">
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/shirts">
          <div class="block-home-category" style="float: right;">
            <img src="{{ 'evg_OTL_Sectout_Tshirts.jpg' | asset_url }}">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
        <div class="home-products">
          {% if settings.enable_product_home %}
          <div class="title-tab-home">
            {% if settings.product_home_title != blank %}
            <div class="module-title"><h2><span>{{ settings.product_home_title }}</span></h2></div>
            {% endif %}
          </div>
          <div class="top-product">
            {% assign sale_off_collection = settings.product_home_collection %}
            {% assign row_limit_setting = settings.limit_product_home %}               
            {% assign current_collection = collections[sale_off_collection] %}
            {% assign owl_id = 'owl_tabnewcc' %}
            {% include 'carousel-product' %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row home-category">
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/replica-apparel">
          <div class="block-home-category" style="float: left;">
            <img src="{{ 'otl_sectout_replicaapparel.jpg' | asset_url }}">
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/blankets-and-bedding">
          <div class="block-home-category" style="float: right;">
            <img src="{{ 'OTL_Sectout_Bedding.png' | asset_url }}">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="row home-feature">
    {% include 'home-block-core-feature'%}
  </div> -->
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
        <div class="home-products">
          {% if settings.enable_product_home_2 %}
          <div class="title-tab-home">
            {% if settings.product_home_title_2 != blank %}
            <div class="module-title"><h2><span>{{ settings.product_home_title_2 }}</span></h2></div>
            {% endif %}
          </div>
          <div class="top-product">
            {% assign sale_off_collection = settings.product_home_collection_2 %}
            {% assign row_limit_setting = settings.limit_product_home_2 %}               
            {% assign current_collection = collections[sale_off_collection] %}
            {% assign owl_id = 'owl_tabnewcc2' %}
            {% include 'carousel-product2' %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
		<div class="home-products">
          {% if settings.enable_product_home_2 %}
          <div class="title-tab-home">
            {% if settings.product_home_title_2 != blank %}
            	<div class="module-title"><h2><span>Social Feed</span></h2></div>
            {% endif %}
          </div>
			<div class="elfsight-sapp-928ce490-c111-11e8-9b8d-4d9cbf3aa4c4"></div>
          {% endif %}
        </div>
    </div>
   </div>
  </div>
  <script>
    jQuery('.main-content').removeClass('container');
  </script>
  {% include 'home-block-icon-top' %}
</div>
</body>