
<style type="text/css">

.container{
  padding: 0;
}

.page-header{
  display: none;
}
/* The form element is the main container for the entire page and is centered on the page by default. This width is dynamically calculated based on the maximum width of the rows within it. */
.sweepstakes-form {
width: 830px;
padding: 10px;
background: #fff;
margin: 0 auto; }

/* This is the style for each individual row. */
form .section {
clear: both; }

/* This is the style for each column within a row. */
form .section .container {
float: left; }

/* This surrounds every field and caption area. */
.field_block {
display: block;
padding: 0 0 0 20px;
margin: 0 0 6px 0;
text-align: left;
}

/* A field's caption normally surrounds its label element. */
.field_block .caption {
display: inline-block;
font: 12px "Lucida Grande", "Verdana", sans-serif;
color: #333;
padding: 0;
margin: 0 0 4px 0;
width: 200px; 
}

/* The following are special styles for the layout of checkbox and radio fields */
.field_block .checkbox .caption {
display: inline-block;
margin: 0; }

#caption_76592{
display: none;
}

.field_block div.radio span {
display: block;
margin: 0 0 3px 0;
padding: 0; }

.field_block div.radio span input.radio {
display: inline;
padding-right: 5px; }

.field_block div.radio span label {
font: normal 11px "Lucida Grande", "Verdana", sans-serif;
color: #333; }

/* This is the individual field input. */
.field_block .field {
padding: 0;
margin: 0;
display: inline-block;
}

/* The style for field-level errors */
.field_block .field .field_error {
display: block;
padding-top: 3px;
padding-bottom: 5px;
font-size: 11px;
color: #f00;
font-weight: bold; }

/* The styles for individual field types */
.field_block .field input.text, .field_block .field input.float,
.field_block .field input.password, .field_block .field input.integer,
.field_block .field input.currency, .field_block .field input.date {
border: 1px solid #ccc;
font: normal 11px "Lucida Grande", "Verdana", sans-serif;
color: #333;
padding: 3px;
margin: 0;
width: 500px;
border-radius: 4px;
height: 30px;
-webkit-box-shadow: inset 0px 0px 2px 1px rgba(92,92,92,0.25);
-moz-box-shadow: inset 0px 0px 2px 1px rgba(92,92,92,0.25);
box-shadow: inset 0px 0px 2px 1px rgba(92,92,92,0.25);
}
#field_76591, #field_76592{
width: 230px;
}

.field_block .field input.phone {
width: 250px;
font-size: 12px;
padding: 3px 12px 3px 44px; }

/* The styles for textareas are slightly larger than by default with no CSS */
.field_block .field textarea {
width: 300px;
height: 150px; }

/* This can be applied to any field element to make it wider than the default above */
.field_block .field input.wide {
width: 300px; }

/* This can be applied to any field element to make it narrower than the default above */
.field_block .field input.narrow {
width: 100px; }

/* A dropdown menu within a field is styled here. */
.field_block .field select, .field_block .field select option {
width: 200px; }

/* Required fields are red and bold by default. */
.required {
color: #f00;
font-weight: bold; }	

/* Keika's Additions */
.fine-print{
  color: #000;
  text-align: left;
  font-size: 11.5px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px 20px 20px;
  border-bottom: 5px solid #F0F0F0;
  line-height: 1.4;
}	
.sweepstakes-header{
  font-family: Arial;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding: 0 20px 15px;
  border-bottom: 5px solid #F0F0F0;
}	
#caption_76595{
font-weight: 600;
width: 750px;
vertical-align: top;
}

input[type=submit]{
background-color: #F5F5F5;
color: #545454;
width: 510px;
height: 40px;
font-family: Arial;
font-size: 16px;
font-weight: 500;
margin: 0 0 50px 140px;
cursor: pointer;
border: 1px solid #ddd;
border-radius: 4px;
}
.trademark{
  font-family: Arial;
  font-size: 11px;
  text-align:left;
  padding-left: 20px;
}	
.OfficialRules{
  font-family: Arial;
  font-size: 11px;
  margin-bottom: 0;
  text-align:left;
  padding-left: 20px;
  text-decoration: underline;
}	
</style>

<header class="page-header">
    <h2>{{ page.title }}</h2>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="rte">
<form class="sweepstakes-form" action="https://app.bronto.com/public/webform/process/" method="post">
<input type="hidden" name="fid" value="eqqnuyyvwkod06y7jfpeadbqt5c08" />
<input type="hidden" name="sid" value="19eba3ce86205cc2fa0645d0eba58533" />
<input type="hidden" name="delid" value="" />
<input type="hidden" name="subid" value="" />
<input type="hidden" name="td" value="" />
<input type="hidden" name="formtype" value="addcontact" />
<script type="text/javascript">
var fieldMaps = {};
</script>

<div class="section" id="row_43407">
<div class="container" id="column_52532" style="text-align: center; width: 810px;">
<img class="sweepstakes_tout" src="https://cdn.shopify.com/s/files/1/1527/6355/files/otl_sweeps.jpg?1393120104749169627">
  <p class="fine-print">LIMIT OF ONE ENTRY PER PERSON PER WEEK. NO PURCHASE NECESSARY TO ENTER OR WIN. Contest begins at 12:00pm PT on 10/18/16 and ends at 11:59pm PT on 12/1/16. Only open to legal residents of the U.S., 21 or older. Void where prohibited. See link below for the full rules.</p>
  <p class="sweepstakes-header">Enter Sweepstakes</p><div class="email field_block">
<div class="caption">Your Email Address <span class="required">*</span></div>
<div class="field">
<span>
<input type="text" class="text field fb-email" size="35" name="81916" value="" placeholder="Email Address" />
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
</div>
<div class="section" id="row_43416">
<div class="container" id="column_52547" style="text-align: left; width: 474px;">
<div class="field_block" field_id="76591">
<div id="caption_76591" class="caption">
First & Last Name <span class="required">*</span>	</div>
<div class="field">
<span>
<input type="text" id="field_76591" class="text field" size="35" name="81929[76591]" value="" placeholder="First Name" />
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
<div class="container" id="column_52548" style="text-align: left; width: 336px;">
<div class="field_block" field_id="76592" style="padding-left: 19px;">
<div id="caption_76592" class="caption">
Last Name <span class="required">*</span>	</div>
<div class="field">
<span>
<input type="text" id="field_76592" class="text field" size="35" name="81930[76592]" value="" placeholder="Last Name" />
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
</div>
<div class="section" id="row_43419">
<div class="container" id="column_52551" style="text-align: left; width: 810px;">
<div class="field_block" field_id="76593">
<div id="caption_76593" class="caption">
Birthday <span class="required">*</span>	</div>
<div class="field">
<span>
<input type="text" id="field_76593" class="date field" size="10" name="81933[76593]" value="" placeholder="MM/DD/YYYY" />
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
</div>
<div class="section" id="row_43420">
<div class="container" id="column_52552" style="text-align: left; width: 810px; padding: 20px;">
<div class="field_block" field_id="76595">
<div class="checkbox field">
<span>
<input type="checkbox" id="field_76595" class="checkbox" name="81959[76595]" value="1" />
<label id="caption_76595" for="field_76595" class="caption">
By submitting this form I certify that I am 21 years of age or older, that I am a resident of the USA, that I agree to receive marketing email from OutlanderStore.com, Sony, and Starz (I can unsubscribe at any time), and that I agree to the terms and conditions of the Official Rules (see link below to the full rules). <span class="required">*</span>	</label>
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div class="section" id="row_43379">
<div class="container" id="column_52500" style="text-align: center; width: 810px;">
<div class="field_block">
<div class="field">
<span>
<input type="submit" value="Enter Sweepstakes!" />
</span>
</div>
</div>
  <p class="OfficialRules"><a href="/pages/outlander-experience-sweepstakes-official-rules"><span style="color: red; text-decoration: none!important; font-size: 13px;">* </span>View Official Rules</a></p>	
  <p class="trademark">&trade; &amp; &copy; Sony Pictures Television Inc. All Rights Reserved.</p>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
</form>
</div>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>