/* Cart ======================================================================*/

.quantity-adjust {
  @include prefixer(user-select, none, webkit moz ms o spec);
  input.quantity {
    display: inline-block;
    width: $gutter/1.5;
    height: $gutter/2.5;
    line-height: $gutter/2.5 - $borderWeight*2;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: $colorForeground;
    border-color: $colorBorder;
    font-size: $h5Base;
    color: $colorText;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.template-cart {
  #MainContent {
    .cart-header-bar {
      padding: $gutter/10;
      .cart-heading {
        font-size: $h2Base;
        color: lighten($colorText, 30%);
      }
    }

    .payment-title {
      font-size: $h4Base;
      color: darken($colorBorder, 40%);
    }

    .cart-row {
      border-bottom: $borderWeight $borderStyle $colorBorder;
      .product-image {
        margin-right: $gutter/2.5;
        .ratio {
          border: $borderWeight $borderStyle $colorBorder;
        }
      }
      .sale_price {
        color: $colorError;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }

    .coupon-code {
      &::-webkit-input-placeholder {
        opacity: 0.5;
      }
      &::-moz-placeholder {
        opacity: 0.5;
      }
      &:-ms-input-placeholder {
        opacity: 0.5;
      }
      &:-moz-placeholder {
        opacity: 0.5;
      }
    }

    .cart-related {
      @include ml() {
        margin-left: $gutter/2.5;
      }
      padding: $gutter/5;
      background-color: $colorHighlight;
      border: $borderWeight $borderStyle $colorBorder;
      border-radius: $gutter/8.33;
      @include prefixer(box-shadow, $borderWeight $borderWeight $borderWeight*2 $colorBorder, webkit moz ms spec);
    }
  }
}
