/* Collection ================================================================*/

.template-collection {
  .collection-filters {
    h4 {
      text-transform: uppercase;
      margin-bottom: $gutter/4;
    }
    .collection-filter {
      label {
        margin-bottom: $gutter/8;
        color: $colorBrand;
        font-size: 12px;
        line-height: 1.5;
        input:hover {
          border-color: $colorBrand;
        }
      }
    }
  }
  aside {
    .collection-links {
      .nav-link {
        font-size: $h5Base;
      }
      ul {
        li {
          display: block;
          line-height: 1;
          a {
            display: block;
            padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
            background-repeat: no-repeat;
            background-position: $gutter/16.667 $gutter/6;
            &:hover, &.active {
              background-image: url('menu-arrow.svg?v2');
              background-color: $colorBrand;
              color: $colorForeground;
              cursor: pointer;
            }
          }
        }
        [data-collapse-toggle] {
          padding: $gutter/10 0 $gutter/10 $gutter/3.33;
        }
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .collection-filters, .collection-links {
        display: block !important;
      }
    }
  }

  @include s() {
    [data-collapse-toggle] {
      .open, .close {
        padding-left: $gutter/3.33;
      }
      .close {
        display: none;
      }
      .open {
        display: inline;
      }
      &.active {
        .close {
          display: inline;
        }
        .open {
          display: none;
        }
      }
    }
    .collection-filters {
      padding: $gutter/5 0 0;
      margin-bottom: $gutter/3.33;
      border-bottom: $borderStyle $borderWeight $colorBorder;
      [data-collapse-content] {
        display: block !important;
      }
    }
  }

  .slideshow-container {
    padding: $gutter/5;
    .slick-slider .slick-dots li {
      background-color: $colorForeground;
      &.slick-active {
        background-color: $colorText;
      }
    }
    .thumbnails {
      .thumbnail {
        .ratio {
          position: relative;
          &:after {
            content: "";
            @include overlay();
            border: $borderWeight*3 $borderStyle transparent;
          }
        }
        &:hover, &.active {
          .ratio:after {
            border-color: $colorForeground;
          }
        }
      }
    }
  }

  .pagination {
    .pagination-amount {
      & + .pagination-amount {
        &:before {
          content: "|";
        }
      }
    }
  }
}
