
body {
  &.template-index {
    {% unless settings.homepage_background_image == blank %}
      {% assign background_size = settings.homepage_background_image_size | append: 'x' %}
      {% if settings.homepage_background_image_size == 0 %}
        background-image: url({{ settings.homepage_background_image | img_url: '2300x' }});
        background-size: cover;
      {% else %}
        background-image: url({{ settings.homepage_background_image | img_url: background_size }});
        background-size: {{ settings.homepage_background_image_size | append: 'px' }};
      {% endif %}
      background-repeat: {{ settings.homepage_background_image_repeat }};
      background-position: {{ settings.homepage_background_image_position }};
      background-attachment: fixed;
    {% endunless %}
    #MainContent {
      {% unless settings.homepage_background_image == blank %}
      background-image: none;
      {% endunless %}
    }
  }
}
