/* Product ===================================================================*/

.collection-product {
  .on-sale {
    color: $colorError;
  }
  button {
    cursor: pointer;
  }
  .product-image {
    display: block;
    .ratio {
      border: $borderWeight $borderStyle $colorBorder;
      .quicklook {
        display: none;
        bottom: $gutter/1.25;
        right: $gutter/10;
        left: $gutter/10;
      }
      .sticker {
        bottom: $gutter/10;
        right: $gutter/10;
      }
    }
    &:hover {
      .ratio .quicklook {
        display: block;
      }
    }
  }
}

.template-product {
  #ProductPhoto, #ProductThumbs, #RecentlyViewed {
    .product-image {
      border: $borderWeight $borderStyle $colorBorder;
      &.zoom-wrapper {
        cursor: all-scroll;
      }
    }
    .thumbnail {
      margin: $gutter/10 $gutter/10 0 0;
    }
  }

  #raincheckForm {
    input, button {
      float: left;
    }
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0;
    }
    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .product-zoom {
    top: 0;
    left: 0;
    right: 0;
    border: $borderWeight $borderStyle $colorBrand;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    @include transition();
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  h1 {
    font-size: 1.25rem;
    font-family: arial;
  }

  .variant-table {
    @include ml() {
      border: $borderStyle $borderWeight $colorBorder;
      .row {
        padding: 0 $gutter/10;
        &:first-child {
          background-color: rgba($colorBorder, 0.25);
        }
      }
    }
  }

  .tab-toggles {
    font-size: 0;
    @include s() {
      border-bottom: $borderWeight $borderStyle $colorBorder;
      margin-bottom: $gutter/3.33;
    }
    [data-accordion-toggle] {
      font-size: $h4Base;
      font-weight: $fontBold;
    }
    [data-accordion-content] {
      padding-bottom: $gutter/3.33;
      &.active {
        border-bottom-color: transparent;
      }
    }
  }

  .rte {
    table {
      border: $borderWeight $borderStyle $colorText;
      tbody {
        tr {
          &:first-child {
            background-color: inherit;
            color: inherit;
          }
          & + tr {
            border-top: $borderWeight $borderStyle $colorText;
          }
          td + td {
            border-left: $borderWeight $borderStyle $colorText;
          }
        }
      }
    }
  }

  .related-products {
    .collection-product {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  button.add-to-wishlist {
    background-color: #DFDFDF;
    border-color: #DFDFDF;
    color: $colorBrand;
    &:hover {
      background-color: #DFDFDF;
      color: $colorBrand;
    }
  }

  @include s() {
    button[type="submit"] {
      width: 100%;
    }
  }
}
