/* Search ====================================================================*/

.form-search {
  input[type="text"] {
    width: 85%;
    font-size: 1rem;
  }
  button {
    img {
      height: 100%;
    }
  }
}

.template-search {
  aside {
    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .search-filters {
        display: block !important;
      }
    }
  }
}
