@charset "UTF-8";

/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
/* Variables =================================================================*/

// Colors
$colorBrand: {{ settings.color_brand }};
$colorText: {{ settings.color_body }};
$colorForeground: {{ settings.color_foreground }};
$colorBackground: {{ settings.color_background }};
$colorHighlight: {{ settings.color_highlight }};
$colorAlternate: {{ settings.color_alternate }};
$colorBorder: {{ settings.color_border }};
$colorError: #900;
$colorSuccess: #279424;

// Typography
$fontLight: lighter;
$fontRegular: normal;
$fontBold: bold;
$lineHeight: 1.75;
$hoverAmount: 15%;

$h1Base: 1.375rem;
$h2Base: 1.1rem;
$h3Base: 1rem;
$h4Base: 0.9rem;
$h5Base: 0.89rem;
$h6Base: 0.88rem;
$pBase: 0.88rem;
$smallBase: 0.75rem;

// Space & Borders
$gutter: 50px;
$borderRadius: {{ settings.border_radius | default: '0' | append: 'px' }};
$borderWeight: {{ settings.border_width | default: '1' | append: 'px' }};
$borderStyle: solid;

// Screen Sizes
$s: {{ settings.breakpoint_s | default: '650' | remove: 'px' | append: 'px' | strip }};
$m: {{ settings.breakpoint_m | default: '850' | remove: 'px' | append: 'px' | strip }};
$l: {{ settings.breakpoint_l | default: '1060' | remove: 'px' | append: 'px' | strip }};
$xl: {{ settings.breakpoint_xl | default: '1450' | remove: 'px' | append: 'px' | strip }};

// Transitions
$transitionSpeed: {{ settings.transition_speed | default: '300' | append: 'ms' }};
$transitionStyle: {{ settings.transition_style | default: 'ease-out' }};
$transitionDelay: {{ settings.transition_delay | default: '500' | append: 'ms' }};
$transition: all $transitionSpeed $transitionStyle;

// Icons
$baseIconSize: 32px;
$iconLinecap: square;

/* Typography ================================================================*/

// Base type variables
$headingTextTransform: none;
$headingLetterSpacing: 0px;

{% if settings.font_headings_capitalize %}$headingTextTransform: uppercase;{% endif %}
{% if settings.font_headings_spacing != blank %}$headingLetterSpacing: {{ settings.font_headings_spacing | append: 'px' }};{% endif %}

// Headings
{% if settings.font_headings_face contains 'Google' or settings.font_headings_custom_google != '' %}

  {% if settings.font_headings_custom_google != '' %}
    {% assign font_headings = settings.font_headings_custom_google %}
    {% if font_headings == '' %}
      {% assign headings_family = 'inherit' %}
      {% assign headings_weight = 'inherit' %}
    {% else %}
      {% if font_headings contains ":" %}
        {% assign font_headings = font_headings | split: ':' %}
        {% assign headings_weight = font_headings[1] | downcase | strip | replace: ' ', '-' | replace: 'thin', '100' | replace: 'extra-light', '200' | replace: 'light', '300' | replace: 'regular', '400' | replace: 'medium', '500' | replace: 'semi-bold', '600' | replace: 'bold', '700' | replace: 'extra-bold', '800' | replace: 'black', '900' %}
        {% capture headings_family %}"{{ font_headings[0] | strip }}"{% endcapture %}
      {% else %}
        {% capture headings_family %}"{{ font_headings | strip }}"{% endcapture %}
        {% assign headings_weight = 400 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% assign font_headings = settings.font_headings_face | split: '_' %}
    {% assign font_headings_face = font_headings[1] %}
    {% capture headings_family %}"{{ font_headings_face | split: ':' | first | replace: '+', ' ' }}"{% if font_headings_face.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
    {% assign headings_weight = font_headings[2] | split: ',' %}
  {% endif %}
  $headingFontStack: {{ headings_family }};
  $headingFontWeight: {{ headings_weight }};

{% else %}

  {%- assign headings_family = settings.font_headings_face -%}
  $headingFontStack: {{ headings_family }};
  $headingFontWeight: $fontRegular;

{% endif %}

// Body
{% if settings.font_body_face contains 'Google' or settings.font_body_custom_google != '' %}

  {% if settings.font_body_custom_google != '' %}
    {% assign font_body = settings.font_body_custom_google %}
    {% if font_body == '' %}
      {% assign body_family = 'sans-serif' %}
      {% assign body_weight = 'inherit' %}
    {% else %}
      {% if font_body contains ":" %}
        {% assign font_body = font_body | split: ':' %}
        {% assign body_weight = font_body[1] | downcase | strip | replace: ' ', '-' | replace: 'thin', '100' | replace: 'extra-light', '200' | replace: 'light', '300' | replace: 'regular', '400' | replace: 'medium', '500' | replace: 'semi-bold', '600' | replace: 'bold', '700' | replace: 'extra-bold', '800' | replace: 'black', '900' %}
        {% capture body_family %}"{{ font_body[0] | strip }}"{% endcapture %}
      {% else %}
        {% capture body_family %}"{{ font_body | strip }}"{% endcapture %}
        {% assign body_weight = 400 %}
      {% endif %}
    {% endif %}
  {% else %}
    {% assign font_body = settings.font_body_face | split: '_' %}
    {% assign font_body_face = font_body[1] %}
    {% capture body_family %}"{{ font_body[1] | replace: '+', ' ' | strip }}"{% if font_body_face.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
    {% assign body_weight = font_body[2] %}
  {% endif %}
  $bodyFontStack: {{ body_family }};
  $bodyFontWeight: {{ body_weight }};

{% else %}

  {% assign body_family = settings.font_body_face %}
  $bodyFontStack: {{ body_family }};
  $bodyFontWeight: $fontLight;

{% endif %}

// Custom type overrides, if needed
//$headingFontStack: $headingFontStack;
//$bodyFontStack: $bodyFontStack;
$headingFontWeight: $fontBold;
$bodyFontWeight: $fontRegular;


/* Utils =====================================================================*/
/* Mixins ====================================================================*/

// Prefixer (See https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss)
@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

// Clearfix
@mixin clearfix() {
  display: block; // TBC - is this OK? Seems to help
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  *zoom: 1;
}

// Screen Sizes & Types
@mixin s() {
  @media (max-width: $s) {
    @content;
  }
}
@mixin sm() {
  @media (max-width: $l - 1px) {
    @content;
  }
}
@mixin m() {
  @media (min-width: $s + 1px) and (max-width: $l - 1px) {
    @content;
  }
}
@mixin ml() {
  @media (min-width: $s + 1px) {
    @content;
  }
}
@mixin l() {
  @media (min-width: $l) {
    @content;
  }
}
@mixin xl() {
  @media (min-width: $xl) {
    @content;
  }
}

// Flex
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin box-orient--vertical() {
  @include prefixer(box-orient, vertical, webkit moz spec);
}
@mixin flex-direction($flex-direction) {
  @include prefixer(flex-direction, $flex-direction, webkit moz ms spec);
}

// Table Grids
@mixin table() {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 $gutter/3;
  .column {
    float: none;
    display: table-cell;
    &.middle {
      vertical-align: middle;
    }
    &.top {
      vertical-align: top;
    }
    &.bottom {
      vertical-align: bottom;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

// Verically Align
@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

// Transition Property (for legacy support)
@mixin transition-property() {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

// Transitions
@mixin transition() {
  @include prefixer(transition, $transition, webkit moz ms spec);
}

@mixin gradient($start, $stop, $angle) {
  @if $angle == top {
    $webkitAngle: left top, left bottom;
    $msGradientType: 0;
  } @else if $angle == left {
    $webkitAngle: left top, right top;
    $msGradientType: 1;
  } @else {
    $webkitAngle: left top, right bottom;
    $msGradientType: 1;
  }
  background: $start;
  background: -moz-linear-gradient($angle, $start 0%, $stop 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $start), color-stop(100%, $stop));
  background: -webkit-linear-gradient($angle, $start 0%, $stop 100%);
  background: -o-linear-gradient($angle, $start 0%, $stop 100%);
  background: -ms-linear-gradient($angle, $start 0%, $stop 100%);
  background: linear-gradient($angle, $start 0%, $stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
}

// Overlays
@mixin overlay() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Background image mixins ===================================================*/

// Image darkening
@mixin image-darken($opacity) {
  &[data-darken="#{$opacity}"] {
    position: relative;
    &:after {
      content: "";
      display: block;
      @include overlay();
      background-color: rgba(#000, ($opacity/100));
    }
  }
}

// Background images
@mixin background-image() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.contain {
    background-size: contain;
  }
  @include image-darken(10);
  @include image-darken(20);
  @include image-darken(30);
  @include image-darken(40);
  @include image-darken(50);
  @include image-darken(60);
  @include image-darken(70);
  @include image-darken(80);
  @include image-darken(90);
  @include image-darken(100);
}

// Aspect ratios
@mixin ratio($width, $height) {
  &[data-ratio="#{$width}:#{$height}"] {
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: percentage($height/$width);
    }
  }
}
.ratio {
  @include background-image();
  @include ratio(24, 9); // Ultra wide
  @include ratio(21, 9); // Cinematic
  @include ratio(2, 1); // Wide
  @include ratio(16, 9); // HD landscape
  @include ratio(4, 3); // Standard format
  @include ratio(1, 1); // Square
  @include ratio(3, 4); // Reverse standard format
  @include ratio(9, 16); // HD vertical
  @include ratio(1, 2); // Tall
  @include ratio(9, 21); // Long
}

/* Placeholders ==============================================================*/

{% assign placeholders = 'collection-1,collection-2,collection-3,collection-4,collection-5,collection-6,lifestyle-1,lifestyle-2,image,product-1,product-2,product-3,product-4,product-5,product-6' | split: ',' %}
{% for placeholder in placeholders %}
  .placeholder-background-{{ placeholder }} {
    background: url("data:image/svg+xml;utf8,{{ placeholder | placeholder_svg_tag: 'placeholder-svg' | replace: '"', "'"}}")  no-repeat;
    background-color: #fff;
    @include background-image();
  }
{% endfor %}

{% assign gradients = '#a6c0fe-#f68084, #cfd9df-#e2ebf0, #e0c3fc-#8ec5fc, #a8edea-#fed6e3, #a3bded-#6991c7, #ddd6f3-#faaca8, #84fab0-#8fd3f4, #d299c2-#fef9d7, #cd9cf2-#f6f3ff, #feada6-#f5efef' | split: ',' %}
{% for gradient in gradients %}
  {% assign from = gradient | split: '-' | first | strip %}
  {% assign to = gradient | split: '-' | last | strip %}
  {% assign deg = forloop.index | times: '20' %}
  .placeholder-gradient-{{ forloop.index }} {
    background-image: linear-gradient({{ deg }}deg, {{ from }} 0%, {{ to }} 100%);
  }
{% endfor %}


/* Global ====================================================================*/
/* Reset =====================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
form, input, textarea, label, fieldset, legend, optgroup, button
{
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  // line-height: inherit; TBC
  line-height: 1; // TBC
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
  color: inherit;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-backface-visibility: hidden;
  // Remove the following line if you have trouble with positioning transforms
  // -webkit-transform: translateZ(0) scale(1.0, 1.0); TBC
}

// Hide spinner buttons on Mozilla
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Color Palette =============================================================*/

$colors: $colorBrand, $colorText, $colorBackground, $colorForeground, $colorHighlight, $colorAlternate, $colorBorder;
$palettes: brand, text, background, foreground, highlight, alternate, border;

@mixin color-palette($element, $color) {
  @if $element == 'bg' {
    background-color: $color;
    &.palette {
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      input[type="checkbox"],
      select,
      textarea {
        //color: $color;
      }
    }
  } @else {
    color: $color;
    a:not(.button) {
      color: $color;
      .icon svg {
        .stroke {
          stroke: $color;
        }
        .fill {
          fill: $color;
        }
      }
      &:hover {
        color: lighten($color, $hoverAmount);
        .icon svg {
          .stroke {
            stroke: darken($color, $hoverAmount);
          }
          .fill {
            fill: darken($color, $hoverAmount);
          }
        }
      }
    }
    &.palette {
      h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
        color: $color;
      }
      a:not(.button) {
        color: $color;
        .icon svg {
          .stroke {
            stroke: $color;
          }
          .fill {
            fill: $color;
          }
        }
        &:hover {
          color: lighten($color, $hoverAmount);
          * {
            color: lighten($color, $hoverAmount);
          }
          .icon svg {
            .fill {
              fill: lighten($color, $hoverAmount);
            }
            .stroke {
              stroke: lighten($color, $hoverAmount);
            }
          }
        }
      }
      .icon svg {
        .fill {
          fill: $color;
        }
        .stroke {
          stroke: $color;
        }
      }
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      select {
        //background-color: $color;
        //border-color: $color;
        &:hover {
          //background-color: lighten($color, $hoverAmount);
          //border-color: lighten($color, $hoverAmount);
        }
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      textarea {
        //background-color: $color;
        //border-color: $color;
      }
      input[type="checkbox"] {
        //border-color: $color;
        &:checked {
          //background-color: $color;
        }
      }
      hr {
        //border-color: $color;
      }
    }
  }
}

@for $i from 1 through length($palettes) {
  .fg-#{nth($palettes, $i)} {
    @include color-palette(fg, nth($colors, $i));
    &.invert {
      @include color-palette(bg, nth($colors, $i));
    }
  }
  .bg-#{nth($palettes, $i)} {
    @include color-palette(bg, nth($colors, $i));
    &.invert {
      @include color-palette(fg, nth($colors, $i));
    }
  }

  h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
    }
  }
  a:not(.button) {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
      .icon svg {
        .stroke {
          stroke: nth($colors, $i);
        }
        .fill {
          fill: nth($colors, $i);
        }
      }
      &:hover {
        color: lighten(nth($colors, $i), $hoverAmount) !important;
        * {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
        .icon svg {
          .stroke {
            stroke: lighten(nth($colors, $i), $hoverAmount);
          }
          .fill {
            fill: lighten(nth($colors, $i), $hoverAmount);
          }
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
        &:hover {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
          * {
            color: lighten(nth($colors, $i), $hoverAmount) !important;
          }
        }
      }
    }
  }
  .icon {
    &.fg-#{nth($palettes, $i)} {
      svg {
        .fill {
          fill: nth($colors, $i) !important;
        }
        .stroke {
          stroke: nth($colors, $i) !important;
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        svg {
          .fill {
            fill: nth($colors, $i) !important;
          }
          .stroke {
            stroke: nth($colors, $i) !important;
          }
        }
      }
    }
  }
  button, .button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  select {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
      &:hover {
        background-color: lighten(nth($colors, $i), $hoverAmount) !important;
        //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
        &:hover {
          background-color: lighten(nth($colors, $i), $hoverAmount) !important;
          //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  input[type="search"],
  textarea {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
      }
    }
  }
  input[type="checkbox"] {
    &.fg-#{nth($palettes, $i)} {
      //border-color: nth($colors, $i) !important;
      &:checked {
        //background-color: nth($colors, $i) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
        &:checked {
          //background-color: nth($colors, $i) !important;
        }
      }
    }
  }
  hr {
    &.fg-#{nth($palettes, $i)} {
      border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
      }
    }
  }
}

@mixin palette($bg, $fg) {
  @for $i from 1 through length($colors) {
    @extend .palette;
    @if $bg == nth($colors, $i) {
      @extend .bg-#{nth($palettes, $i)};
    }
    @if $fg == nth($colors, $i) {
      @extend .fg-#{nth($palettes, $i)};
    }
  }
}

/* Global ====================================================================*/

// Shopify admin overrides
#admin_bar_iframe, .shopify-preview-bar {
  display: none !important;
}

html {
  height: 100%;
  padding-top: 0px !important;
}

body {
  height: 100%;
  color: $colorText;
  background-color: $colorBackground;
  font: 16px/21px sans-serif;
  font-family: $bodyFontStack;
  font-weight: $bodyFontWeight;
  //-webkit-font-smoothing: antialiased;
}

#MainContent {
  padding: $gutter/3.33 0;
  @include s() {
    padding: 0;
    .template-index & {
      //padding: $gutter/3.33 0;
    }
  }
  {% unless settings.background_image == blank %}
    {% assign background_size = settings.background_image_size | append: 'x' %}
    {% if settings.background_image_size == 0 %}
      background-image: url({{ settings.background_image | img_url }});
      background-size: contain;
    {% else %}
      background-image: url({{ settings.background_image | img_url: background_size }});
      background-size: {{ settings.background_image_size | append: 'px' }};
    {% endif %}
    background-repeat: {{ settings.background_image_repeat }};
    background-position: {{ settings.background_image_position }};
  {% endunless %}
}

img {
  max-width: 100%;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headingFontStack;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  letter-spacing: $headingLetterSpacing;
  line-height: $lineHeight;
  display: block;
  margin-bottom: $gutter/3.33;
}

h1, .h1 { font-size: $h1Base; }
h2, .h2 { font-size: $h2Base; }
h3, .h3 { font-size: $h3Base; }
h4, .h4 { font-size: $h4Base; }
h5, .h5 { font-size: $h5Base; }
h6, .h6 { font-size: $h6Base; }

p {
  font-size: $pBase;
  font-weight: $fontRegular;
  line-height: $lineHeight;
  margin-bottom: $gutter/3.33;
}

a {
  color: $colorBrand;
  cursor: pointer;
  @include transition();
  text-decoration: none;
  &:hover, &:focus {
    color: darken($colorBrand, $hoverAmount);
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  margin: $gutter/10 0;
  &.dotted {
    border-top-style: dotted;
  }
  &.dashed {
    border-top-style: dashed;
  }
}

strong, b {
  font-weight: $fontBold;
}

small, .small {
  font-size: $smallBase;
}

i {
  font-style: italic;
}

.rte {
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $gutter/2;
    li {
      list-style: none;
      list-style-position: inherit;
      margin-bottom: $gutter/10;
      margin-left: $gutter/2;
    }
  }
  ol {
    list-style-type: decimal;
  }
  p:last-child {
    margin-bottom: 0;
  }
  // Basic table styling for content areas
  table {
    width: 100%;
    margin-bottom: $gutter/3.33;
    font-size: $pBase;
    tbody {
      tr {
        &:first-child {
          background-color: lighten($colorText, $hoverAmount);
          color: $colorForeground;
          font-weight: $fontBold;
          .popup-content & {
            background-color: transparent;
            color: $colorText;
            * {
              font-weight: $fontBold;
            }
          }
        }
        td {
          padding: $gutter/10 $gutter/20;
        }
      }
    }
  }
}

.breadcrumb {
  font-size: $pBase;
  line-height: 1;
  margin-bottom: $gutter/5;
}

// Forms
form {
  max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  max-width: 100%;
  height: $gutter/1.35;
  line-height: (($gutter/1.35) - ($borderWeight*2));
  background-color: $colorForeground;
  color: lighten($colorText, $hoverAmount);
  padding: 0 $gutter/5;
  font-size: $h3Base;
  font-family: inherit;
  border: $borderWeight $borderStyle $colorBorder;
  border-radius: $borderRadius;
  -webkit-appearance: none;
  &.no-border {
    border: 0;
    line-height: $gutter/1.35;
  }
  &::-webkit-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &::-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &.medium {
    font-size: $pBase;
    height: $gutter/1.785;
    line-height: ($gutter/1.785) - ($borderWeight*2);
  }
  &.small {
    font-size: $pBase;
    height: $gutter/2.27;
    line-height: (($gutter/2.27) - ($borderWeight*2));
  }
  @include s() {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
  &.error {
    border-color: $colorError;
  }
}
textarea {
  height: initial;
  line-height: $lineHeight;
  padding: $gutter/5;
}
label {
  display: block;
  font-size: $pBase;
  font-weight: $fontBold;
  line-height: inherit;
}
input[type="checkbox"] {
  position: relative;
  width: $gutter/3.84;
  height: $gutter/3.84;
  border: $borderWeight $borderStyle $colorBrand;
  @include gradient($colorBorder, $colorForeground, -45deg);
  @include prefixer(appearance, none, webkit moz ms spec);
  &:after {
    content: "";
    @include overlay();
    color: $colorSuccess;
    font-size: $h4Base;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    border-color: $colorHighlight;
  }
  &:checked {
    &:after {
      content: "\2713";
    }
  }
}
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  color: $colorBrand;
  &:hover {
    text-decoration: underline;
    color: darken($colorBrand, $hoverAmount);
  }
}
button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  max-width: 100%;
  height: $gutter/1.35;
  line-height: ($gutter/1.35) - ($borderWeight*2);
  padding: 0 $gutter/5;
  font-size: $h5Base;
  font-weight: $fontBold;
  font-family: inherit;
  color: $colorBrand;
  text-transform: uppercase;
  @include background-image();
  @include gradient($colorForeground, $colorBorder, top);
  border: $borderWeight $borderStyle darken($colorBorder, $hoverAmount);
  border-radius: $borderRadius;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  @include transition();
  .icon {
    margin-bottom: $borderWeight*2;
    svg {
      .stroke {
        stroke: $colorBrand !important;
      }
      .fill {
        fill: $colorBrand !important;
      }
    }
  }
  option {
    // Firefox
    background-color: $colorBackground;
    border: 0;
    display: block;
    color: $colorForeground;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    @include gradient($colorBorder, $colorForeground, top);
    cursor: pointer;
  }
  &.monochromatic {
    color: $colorText;
    @include gradient($colorBackground, $colorBorder, top);
  }
  &.blue {
    color: $colorForeground;
    border-color: $colorHighlight;
    @include gradient(lighten($colorBrand, $hoverAmount), $colorBrand, top);
    &:active {
      @include gradient($colorBrand, lighten($colorBrand, $hoverAmount), top);
    }
  }
  &.medium {
    height: $gutter/1.785;
    line-height: ($gutter/1.785) - ($borderWeight*2);
  }
  &.small {
    font-size: $pBase;
    font-weight: $fontRegular;
    height: $gutter/2.27;
    line-height: ($gutter/2.27) - ($borderWeight*2);
    &.w-bold {
      font-weight: $fontBold;
    }
  }
  &.square {
    width: $gutter/1.35;
    padding: 0;
    text-align: center;
    .icon svg {
      width: $gutter/3;
      height: $gutter/3;
    }
  }
  &.bitmap {
    height: auto;
    width: auto;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 1;
    img {
      display: inline;
      &.hover {
        display: none;
      }
    }
    &:not(.no-hover) {
      &:hover {
        img {
          &:not(.hover) {
            display: none;
          }
          &.hover {
            display: inline;
          }
        }
      }
    }
    &:disabled, &.disabled {
      opacity: 0.7;
    }
  }
  &.background-image {
    width: auto;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
  &:disabled, &.disabled {
    cursor: default;
    @include gradient($colorBorder, $colorBorder, top);
    border-color: $colorText;
    color: $colorForeground;
    &:active {
      @extend .disabled;
    }
  }
  &.basic {
    border: 0;
    line-height: 1;
    font-weight: $fontRegular;
    background: transparent;
    color: $colorHighlight;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    text-transform: none;
    &:disabled, &.disabled {
      background: transparent;
      color: lighten($colorHighlight, $hoverAmount);
    }
  }
}
a.button {
  display: inline-block;
  text-decoration: none;
}

select {
  max-width: 100%;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: $gutter/5;
  select {
    width: 100%;
    @extend .button;
    padding-right: $gutter/1.25;
    margin-bottom: 0 !important;
  }
  .icon {
    right: $gutter/5;
    @include vertical-align();
    position: absolute;
  }
}
.errors, .note {
  padding: $gutter/5;
  margin: 0 auto $gutter/2.5;
  color: $colorForeground;
  background-color: $colorError;
  border: 0;
  font-size: $pBase;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: $colorForeground;
    &:hover {
      color: darken($colorForeground, $hoverAmount);
    }
  }
}

/* Grid System ===============================================================*/

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 $gutter;
  &.xl {
    width: $xl;
  }
  &.l {
    width: $l;
  }
  &.m {
    width: $m;
  }
  &.s {
    width: $s;
  }
  @include l() {
    padding: 0;
  }
  @include s() {
    padding: 0 $gutter/2;
    &.s-collapse {
      padding: 0;
    }
  }
}

// Rows
.row {
  margin: 0 (-$gutter/2) $gutter/3;
  @include l() {
    margin-left: 0;
    margin-right: 0;
  }

  // Standard Grid
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.condensed {
    margin: 0 (-$gutter/5) $gutter/3;
    @include l() {
      margin-left: 0;
      margin-right: 0;
    }
    .column {
      padding: 0 $gutter/5;
    }
  }
  // Table Grid
  &.table { @include table(); }
  &.xl-table { @include xl() { @include table(); } }
  &.l-table { @include l() { @include table(); } }
  &.m-table { @include m() { @include table(); } }
  &.s-table { @include s() { @include table(); } }

  // Collapse current row helper
  &.collapsed {
    margin: 0;
  }
  // Collapse entire grid
  &.collapse {
    margin: 0;
    .column {
      padding: 0;
    }
  }
}

// Column Grid
.column {
  float: left;
  min-height: 0.125rem;
  padding: 0 $gutter/2;

  // Collapse current column helper
  &.collapsed {
    padding: 0;
  }

  // Widths
  &.l1 { width: percentage(1/12); }
  &.l2 { width: percentage(2/12); }
  &.l3 { width: percentage(3/12); }
  &.l4 { width: percentage(4/12); }
  &.l5 { width: percentage(5/12); }
  &.l6 { width: percentage(6/12); }
  &.l7 { width: percentage(7/12); }
  &.l8 { width: percentage(8/12); }
  &.l9 { width: percentage(9/12); }
  &.l10 { width: percentage(10/12); }
  &.l11 { width: percentage(11/12); }
  &.l12 { width: 100%; }
  @include m() {
    &.m1 { width: percentage(1/12); }
    &.m2 { width: percentage(2/12); }
    &.m3 { width: percentage(3/12); }
    &.m4 { width: percentage(4/12); }
    &.m5 { width: percentage(5/12); }
    &.m6 { width: percentage(6/12); }
    &.m7 { width: percentage(7/12); }
    &.m8 { width: percentage(8/12); }
    &.m9 { width: percentage(9/12); }
    &.m10 { width: percentage(10/12); }
    &.m11 { width: percentage(11/12); }
    &.m12 { width: 100%; }
  }
  @include s() {
    &.s1 { width: percentage(1/12); }
    &.s2 { width: percentage(2/12); }
    &.s3 { width: percentage(3/12); }
    &.s4 { width: percentage(4/12); }
    &.s5 { width: percentage(5/12); }
    &.s6 { width: percentage(6/12); }
    &.s7 { width: percentage(7/12); }
    &.s8 { width: percentage(8/12); }
    &.s9 { width: percentage(9/12); }
    &.s10 { width: percentage(10/12); }
    &.s11 { width: percentage(11/12); }
    &.s12 { width: 100%; }
  }

  // Uniform Height Clearing
  @include l() {
    &:nth-child(6n+1).l2 { clear: both; }
    &:nth-child(4n+1).l3 { clear: both; }
    &:nth-child(3n+1).l4 { clear: both; }
    &:nth-child(2n+1).l6 { clear: both; }
    .row.l-no-clear & {
      clear: none !important;
    }
  }
  @include m() {
    &:nth-child(6n+1).m2 { clear: both; }
    &:nth-child(4n+1).m3 { clear: both; }
    &:nth-child(3n+1).m4 { clear: both; }
    &:nth-child(2n+1).m6 { clear: both; }
    .row.m-no-clear & {
      clear: none !important;
    }
  }
  @include s() {
    &:nth-child(6n+1).s2 { clear: both; }
    &:nth-child(4n+1).s3 { clear: both; }
    &:nth-child(3n+1).s4 { clear: both; }
    &:nth-child(2n+1).s6 { clear: both; }
    .row.s-no-clear & {
      clear: none !important;
    }
  }
  .row.no-clear & {
    clear: none !important;
  }
}

// 18 column grid
.row {
  &.columns-18 {
    > .column {
      @for $i from 1 through 18 {
        &.l#{$i} {
          width: percentage($i/18);
        }
      }
      @include m() {
        @for $i from 1 through 18 {
          &.m#{$i} {
            width: percentage($i/18);
          }
        }
      }
      @include s() {
        @for $i from 1 through 18 {
          &.s#{$i} {
            width: percentage($i/18);
          }
        }
      }
    }
  }
}

// Flex Grid
.flex {
  @include flex();
  @include box-orient--vertical();
  @include flex-direction(column);
  .row {
    @include flex();
    @include flex-direction(row);
    .box {
      margin: 0 $gutter/2 $gutter/3;
      flex: auto;
      align-self: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.center {
        text-align: center;
        align-items: center;
      }
    }
    @include s() {
      @include flex-direction(column);
      .box {
        width: 100%;
        margin: 0 0 $gutter;
      }
    }
  }
}

/* Forms =====================================================================*/

.form-group {
  height: $gutter/1.35;
  border-radius: $borderRadius;
  overflow: hidden;
  font-size: 0;
  form {
    height: 100%;
  }
  input, button {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 100%;
    border: 0;
    line-height: 1;
    border-radius: $borderRadius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus, &:hover {
      border: 0;
    }
  }
  button, .button, input[type="button"], input[type="submit"] {
    width: auto;
    border-radius: $borderRadius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#ContactForm,
#CommentForm form,
#AddAddress form,
.edit_address form,
#RecoverPasswordForm form,
#PasswordResetForm form,
form#address_form_new {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  textarea,
  button, .button,
  .select-wrapper {
    width: 100%;
    margin-bottom: $gutter/2;
  }
  label, input[type="checkbox"] {
    margin-bottom: $gutter/5;
  }
}

form#AddToCartForm,
form#CartPage,
form#contact_form {
  display: block;
  width: 100%;
}

.form-note {
  color: lighten($colorText, $hoverAmount);
}

.form-subscribe {
  .row.collapse {
    margin-bottom: $gutter/5;
    @include ml() {
      label {
        margin-right: $gutter/10;
      }
      p {
        margin-left: $gutter/10;
      }
    }
    @include s() {
      margin-bottom: $gutter/3.33;
      label {
        margin-bottom: $gutter/10;
      }
      input {
        margin-bottom: 0 !important;
      }
    }
  }
}


/* Modules ===================================================================*/
/* Slick Slider ==============================================================*/

.slick-slider {
  display: none;
  position: relative;
  display: block;
  box-sizing: border-box;
  @include prefixer(user-select, none, webkit moz ms spec);
  @include prefixer(touch-action, pan-y, ms spec);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  &.slick-arrows .slick-list {
    margin: 0 $gutter*2;
    @include s() {
      margin: 0;
    }
  }
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    height: auto;
    margin: 0;
    padding: 0 !important;
    @include prefixer(transform, translate3d(0, 0, 0), webkit moz ms o spec);
    &:focus {
      outline: none;
    }
    &.dragging {
      cursor: pointer;
      cursor: hand;
    }
    .slick-track {
      position: relative;
      left: 0;
      top: 0;
      display: none;
      @include prefixer(transform, translate3d(0, 0, 0), webkit moz ms o spec);
      &:before,
      &:after {
        content: "";
        display: table;
      }
      &:after {
        clear: both;
      }
      .slick-loading & {
        visibility: hidden;
      }
      .slick-slide {
        position: relative;
        float: left;
        height: 100%;
        min-height: 1px;
        display: none;
        [dir="rtl"] & {
          float: right;
        }
        &.slick-loading img {
          display: none;
        }
        &.dragging img {
          pointer-events: none;
        }
        .slick-initialized & {
          display: block;
        }
        .slick-loading & {
          visibility: hidden;
        }
        .slick-vertical & {
          display: block;
          height: auto;
          border: 1px solid transparent;
        }
      }
    }
  }
  .slick-arrow {
    @include vertical-align();
    @include transition();
    position: absolute;
    cursor: pointer;
    z-index: 1;
    &:hover {
      .icon svg {
        .fill {
          fill: darken($colorBrand, $hoverAmount);
        }
      }
    }
    &:active {
      .icon svg {
        .fill {
          fill: $colorForeground;
        }
      }
    }
    &.slick-hidden {
      display: none;
    }
    &.slick-prev {
      left: $gutter/2;
    }
    &.slick-next {
      right: $gutter/2;
    }
  }
  .slick-dots {
    display: block;
    width: 100%;
    text-align: center;
    margin: $gutter/3.33 0;
    li {
      display: inline-block;
      width: $gutter/5;
      height: $gutter/5;
      background-color: $colorBorder;
      border-radius: 100%;
      margin: 0 $gutter/10;
      cursor: pointer;
      @include transition();
      &.slick-active, &:hover {
        background-color: $colorText;
      }
    }
  }
  &.slick-initialized {
    display: block;
    .slick-track, .slick-track .slick-slide {
      display: block;
    }
  }
}

/* Announcements =============================================================*/

.theme-announcements {
  .announcement {
    padding: $gutter/14 0;
    line-height: 1;
  }
}

#slick-theme-announcements {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Header ====================================================================*/

.logo {
  margin-bottom: 0;
  line-height: 1;
  @include l() {
    top: $gutter/10;
    margin: (-$gutter/50) 0 $gutter/10 (-$gutter/3.33);
    .logo-flare {
      background-image: url('logo-flare.jpg');
      top: -$gutter/10;
      left: -50%;
      height: $gutter*3.52;
      margin-left: $gutter;
    }
  }
}

.theme-header {
  padding: $gutter/50 0;
  @include sm() {
    background-color: $colorHighlight;
    padding: 0;
    .container {
      @include s() {
        padding: 0;
      }
      .menu-trigger {
        padding: $gutter/3.33;
        line-height: 1;
        &:hover {
          background-color: $colorForeground;
        }
        img {
          height: $gutter/2.5;
        }
      }
      .cart-link {
        position: relative;
        .cart-button {
          padding: $gutter/5;
          line-height: 1;
          &:hover {
            background-color: $colorForeground;
          }
          img {
            height: $gutter/1.78;
          }
        }
        .item-count {
          position: absolute;
          top: 0;
          right: $gutter/25;
          [data-cart-item-count] {
            height: $gutter/2.5;
            width: $gutter/2.5;
            line-height: $gutter/2.5;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            overflow: hidden;
            font-size: $smallBase;
            @include prefixer(box-shadow, 0 0 $gutter/2.5 0 rgba(#000, 0.5), webkit moz ms spec);
            @include gradient(#efebd8, #9c9783, top);
            color: $colorBrand !important;
            font-weight: $fontBold;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
      .form-search {
        margin-bottom: $gutter/5;
        text-align: center;
      }
    }
  }
}

/* Navigation =================================================================*/

// Main Nav
.theme-nav-primary, .theme-nav-secondary {
  font-size: 0;
  line-height: 1;
  margin-bottom: $gutter/5;
  .nav-link {
    font-size: $h5Base;
  }
  .dropdown {
    position: relative;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:last-child {
      .dropdown-menu {
        right: 0;
      }
    }
    .dropdown-menu {
      display: none;
      padding: $gutter/5 0;
      position: absolute;
      top: 1.85rem;
      z-index: 10;
      width: $gutter*3;
      border: $borderWeight $borderStyle $colorBorder;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: (($gutter*3)*$i);
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorBorder;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        a {
          display: block;
          padding: $gutter/10 $gutter/2 $gutter/10 $gutter/3.33;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          &:hover {
            background-image: url('menu-arrow.svg');
            background-color: $colorBrand;
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        margin-bottom: -$gutter/5;
        a {
          display: block;
        }
      }
    }
  }
}

.tertiary-menu {
  border-bottom: $borderWeight $borderStyle $colorBrand;
  padding-bottom: $gutter/8;
  margin-bottom: $gutter/4;
  line-height: 1;
  font-size: 0;
  li {
    font-size: $h5Base;
    & + li {
      margin-left: $gutter/15;
      &:before {
        content: "|";
        color: $colorBrand;
        margin-right: $gutter/15;
      }
    }
  }
}

.theme-nav-toggled {
  ul {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    li {
      .nav-link {
        display: block;
        padding: $gutter/5 $gutter/2 $gutter/5 0;
        border-top: $borderWeight $borderStyle $colorBorder;
      }
      .dropdown-menu {
        padding-left: $gutter/5;
        border-bottom: 0;
      }
    }
  }
  .account-menu {
    border-bottom: 0;
    li {
      display: block;
      font-size: $h4Base;
      color: $colorText !important;
      &.account-link {
        border-bottom: $borderWeight $borderStyle $colorBorder;
        padding-bottom: $gutter/5;
        margin-bottom: $gutter/5;
      }
      a {
        display: block;
        padding: $gutter/5 0;
      }
    }
  }
}

// Accordions
[data-accordion-toggle] {
  position: relative;
  display: block;
  margin: 0 !important;
  padding: $gutter/5 $gutter/5 $gutter/5 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  border-bottom: $borderWeight $borderStyle transparent;
  color: $colorText;
  cursor: pointer;
  @include prefixer(user-select, none, webkit moz ms spec);
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    @include transition();
    @include prefixer(transform-origin, center, webkit moz ms spec);
    @include prefixer(transform, translateY(-50%) rotate(0deg), webkit moz ms spec);
  }
  &.active {
    border-top-color: $colorBorder;
    .icon {
      @include prefixer(transform, translateY(-50%) rotate(45deg), webkit moz ms spec);
    }
  }
}
[data-accordion-content] {
  display: none;
  color: darken($colorText, 10%);
  margin: 0 !important;
  border-bottom: $borderWeight $borderStyle transparent;
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  &.active {
    display: block;
    border-bottom-color: $colorBorder;
    + [data-accordion-toggle] {
      border-top-color: transparent;
    }
  }
}

// Collapsable content
[data-collapse-toggle] {
  @include prefixer(user-select, none, webkit moz ms spec);
  span {
    &.more {
      display: inline;
    }
    &.less {
      display: none;
    }
  }
  &.active {
    border-top-color: $colorBorder;
    span {
      &.more {
        display: none;
      }
      &.less {
        display: inline;
      }
    }
  }
}
[data-collapse-content] {
  display: none;
  &.active {
    display: block;
  }
}

// Tabbed content
[data-tab-toggle] {
  position: relative;
  display: inline-block;
  padding: $gutter/7 $gutter/5;
  color: $colorBrand;
  @include gradient($colorForeground, $colorBorder, top);
  @include prefixer(user-select, none, webkit moz ms spec);
  border: $borderWeight $borderStyle $colorBorder;
  border-bottom: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  vertical-align: bottom;
  font-size: $h5Base;
  font-weight: $fontBold;
  line-height: 1;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    @include gradient($colorBorder, $colorForeground, top);
  }
  &.active {
    color: $colorText;
    @include gradient($colorForeground, $colorForeground, top);
    &:after {
      background-color: $colorForeground;
    }
  }
}
[data-tab-content] {
  display: none;
  border: $borderWeight $borderStyle $colorBorder;
  padding: $gutter/5;
  background-color: $colorForeground;
  &.active {
    display: block;
  }
}

/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .gateway-container {
    h5 {
      color: $colorForeground !important;
    }
  }
  .menu-title {
    border-bottom: $borderWeight dotted $colorBrand;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  ul {
    li {
      padding: $gutter/20 0;
    }
  }
  .disclaimer {
    p {
      margin-bottom: 0;
      font-size: 0.625rem;
      @include s() {
        color: lighten($colorForeground, 100%);
      }
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}

/* Drawer ====================================================================*/

.drawer {
  z-index: 9995;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: $gutter*1.5;
  @include transition-property(); // For legacy support
  @include prefixer(transition-duration, 0.3s, webkit moz spec);
  @include prefixer(transition-delay, 0.3s, webkit moz spec);
  &.from-left {
    top: 0;
    left: 0;
    max-width: $s;
    @include prefixer(transform, translate3d(-100%, 0, 0), webkit moz ms o spec);
  }
  &.from-right {
    top: 0;
    right: 0;
    max-width: $s;
    @include prefixer(transform, translate3d(100%, 0, 0), webkit moz ms o spec);
  }
  &.from-bottom {
    bottom: 0;
    max-height: $s;
    @include prefixer(transform, translate3d(0, 100%, 0), webkit moz ms o spec);
  }
  &.from-top {
    bottom: 0;
    max-height: $s;
    @include prefixer(transform, translate3d(0, -100%, 0), webkit moz ms o spec);
  }
  &.visible {
    @include prefixer(transform, translate3d(0, 0, 0), webkit moz ms o spec);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .drawer-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    text-align: center;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand;
        }
        .fill {
          fill: $colorBrand;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight;
          }
          .fill {
            fill: $colorHighlight;
          }
        }
      }
    }
  }
}

/* Popups ====================================================================*/

$colorSubscribePopupBg: #f0f0f0;

// Basic styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: $gutter;
    background-color: $colorBackground;
    color: $colorText;
    text-align: initial;
    cursor: default;
    white-space: initial;
    &.popup-header {
      background: $colorBackground url('popup-header--bg.jpg') repeat-x;
      padding-top: 0;
      .popup-header-logo {
        padding-bottom: $gutter;
      }
    }
  }
  &.overlay {
    background: rgba(#000, 0.6);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    &.bordered {
      .popup-content {
        background-color: $colorForeground;
        @include ml() {
          border: $borderWeight*3 $borderStyle $colorBrand;
          border-radius: $borderRadius*2;
        }
      }
    }
    .popup-content {
      @include vertical-align();
    }
    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight !important;
          }
          .fill {
            fill: $colorHighlight !important;
          }
        }
      }
    }
  }
}

#PopupEzPrints {
  .popup-content {
    @include s() {
      width: 100%;
      height: 100%;
      padding:  0;
    }
  }

  @include s() {
    .jspPane {
      &> div {
        width: 100% !important;
      }
    }
  }
}

#ezpBuilderWrapper {
  .ezp-assets-col-1,
  .ezp-assets-col-2 {

    @include s() {
      width: 100% !important;
    }

    .ezp-media-asset {

      @include s() {
        width: 100% !important;
      }

      div {
        @include s() {
          width: 100%;
        }
      }
    }
  }
}

// Popup Cart
#PopupCart {
  .popup-content {
    background-color: lighten($colorBorder, 50%);
    padding: $gutter/5;
    border: $borderStyle $borderWeight $colorBorder;
    overflow: visible;
    .table-header {
      h5 {
        color: lighten($colorText, $hoverAmount);
      }
    }
    .cart-item {
      margin-bottom: $gutter/5;
      & + .cart-item {
        border-top: $borderWeight dashed $colorBorder;
        padding-top: $gutter/5;
      }
      .product-image {
        background-color: $colorForeground;
        margin-right: $gutter/5;
        .ratio {
          border: $borderWeight $borderStyle $colorBorder;
        }
      }
      .sale_price {
        color: $colorError;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }
  }

  @include ml() {
    position: absolute;
    left: auto;
    right: $gutter/5;
    bottom: auto;
    width: $gutter*9;
    height: auto;
    .popup-close {
      top: -$gutter/5;
      right: -$gutter/5;
    }
  }

  @include s() {
    background: rgba($colorText, 0.85);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    .popup-content {
      padding-top: $gutter/3.33;
      @include vertical-align();
      .button {
        width: 100%;
      }
    }
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}

// Popup Quicklook
#PopupQuicklook {
  .tab-content {
    height: 362px;
    overflow-y: auto
  }
  .errorMessage, #raincheckQuicklookOutOfStock strong {
    color: #900;
  }
  &.overlay {
    background: rgba(0,0,0,0.25);
  }
  .popup-close {
    top: 10px;
    right: 5px;
  }
  .popup-content {
    @include prefixer(box-shadow, 0px 0px 15px #000, webkit moz spec);
    width: $s + $gutter;
    max-width: 100%;
    padding: $gutter/5;
    overflow: visible;
    overflow-y: auto;
    border: 5px solid #c0c0c0;
    @include s() {
      padding-top: $gutter;
    }
    .popup-overflow {
      overflow: auto;
      .product-zoom-overlay {
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        @include transition();
        opacity: 0;
        visibility: hidden;
        margin-right: $gutter/5;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-image {
        @include ml() {
          margin-right: $gutter/5;
        }
        border: $borderWeight $borderStyle $colorBorder;
        .zoomImg {
          cursor: all-scroll;
        }
      }
      .thumbnail {
        margin: $gutter/10 $gutter/10 0 0;
      }
      .tab-toggles {
        font-size: 0;
        @include s() {
          border-bottom: $borderWeight $borderStyle $colorBorder;
          margin-bottom: $gutter/3.33;
        }
        [data-accordion-toggle] {
          font-size: $h4Base;
          font-weight: $fontBold;
        }
        [data-accordion-content] {
          padding-bottom: $gutter/3.33;
          &.active {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }

  // Quicklook product content

  [data-tab-content] {
    background-color: #ffffff;
    border: solid 1px $colorBorder;
  }

  [data-tab-toggle] {
    &.active {
      background: #ffffff;
      border: solid 1px $colorBorder;
      border-bottom: 0;
      &:after {
        background-color: #fff;
      }
    }
  }

}

#PopupSubscribe {
  .header {
    background: url({{ 'header-emailsignup.jpg' | asset_url }}) no-repeat;
    width: 506px;
    height: 40px;
    margin-bottom: $gutter/2;
  }
  .container {
    width: 506px;
  }
  .popup-content {
    border-radius: 0;
    border: 0;
    padding: 0px;
    background-color: $colorSubscribePopupBg;
    @include ml() {
      overflow: visible;
    }
  }
  .form-subscribe {
    margin-bottom: $gutter/2;
  }
  .popup-close {
    top: 10px;
    right: 5px;
  }
}

@include s(){
  #Popup_signup{
    display: none;
  }
}
/* Social sharing ============================================================*/

.social-sharing {
  .button.share {
    color: transparent;
    height: 25px;
    border: none;
    border-radius: 2px;
    &.facebook {
      @include gradient(#3b5998, #3b5998, top);
      background: url({{'social-btn-fb.png' | asset_url }}) center;
      background-size: cover;
    }
    &.twitter {
      @include gradient(#00aced, #00aced, top);
      background: url({{'social-btn-tw.png' | asset_url }}) center;
      background-size: cover;
    }
    &.pinterest {
      @include gradient(#cb2027, #cb2027, top);
      background: url({{'social-btn-pin.png' | asset_url }}) center;
      background-size: cover;
    }
    &.google {
      @include gradient(#dd4b39, #dd4b39, top);
      background: url({{'social-btn-ggl.png' | asset_url }}) center;
      background-size: cover;
    }
  }

  .addthis_toolbox {
    a {
      margin-bottom: 0;
      line-height: 1;
      vertical-align: middle;
      * {
        line-height: 1;
      }
    }
  }
}

// Add this additional styling
#at-expanded-menu-host {
  button {
    height: auto;
  }
}

/* SVG Icons =================================================================*/

// Don't forget to compress your icons! https://jakearchibald.github.io/svgomg/
// All icons must be created at 32px by 32px regardless of size to be scaled to

.icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1%; // Makes inline SVGs behave more like text characters
  svg {
    vertical-align: middle;
    overflow: visible;
    fill: none;
    stroke: none;
    .fill {
      fill: $colorBrand;
    }
    .stroke {
      stroke: $colorBrand;
      stroke-width: $borderWeight*3;
      stroke-linecap: $iconLinecap;
      stroke-miterlimit: 10;
    }
  }
}

/* Wishlist + ================================================================*/

.swym-button-bar, .swym-inject {
  display: none !important;
}

// Product template
.template-product {
  .inactive {
    pointer-events: none;
    opacity: 0.5;
    &.swym-loaded {
      pointer-events: all;
      opacity: 1; 

      &.add-to-wishlist-button {
        height: 1em;
        padding-top: calc(40px - 1em);
      }
    }
    .add {
      display: inline;
    }
    .added {
      display: none;
    }
    &.disabled {
      .add {
        display: none;
      }
      .added {
        display: inline;
      }
    }
  }
}

// App proxy page
.swym-hosted-page {
  #MainContent {

  }
}


/* Layouts ===================================================================*/
/* Account ===================================================================*/

// All account pages
body[class*="template-customers"] {
  #MainContent {
    @include s() {
      padding: $gutter/3.33 0;
    }
  }
}

// Registration
.template-customers-register {
  form#create_customer {
    display: block;
    width: 100%;
    .form-note {
      i {
        color: lighten($colorText, 30%);
      }
    }
    label {
      @include s() {
        margin-bottom: $gutter/10;
      }
      @include ml() {
        margin-top: $gutter/12.5;
        margin-right: $gutter/5;
      }
    }
    input:not([type="checkbox"]), button {
      width: $gutter*5;
    }
  }
}

// Login
.template-customers-login {
  form#customer_login {
    display: block;
    width: $gutter*5;
    label {
      margin-bottom: $gutter/10;
    }
    input {
      margin-bottom: $gutter/2.5;
    }
  }
  #PasswordRecoverForm {
    label {
      @include s() {
        margin-bottom: $gutter/10;
      }
      @include ml() {
        margin-top: $gutter/12.5;
        margin-right: $gutter/5;
      }
    }
  }
}

// Reset
.template-customers-reset_password {
  #PasswordResetForm form {
    width: 100%;
    display: block;
  }
}

// Account
.template-customers-account,
.template-customers-order,
.template-customers-addresses {
  aside {
    .nav-link {
      font-size: $h5Base;
    }
    ul {
      li {
        display: block;
        line-height: 1;
        a {
          display: block;
          padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          &:hover, &.active {
            background-image: url('menu-arrow.svg');
            background-color: $colorBrand;
            color: $colorForeground;
            cursor: pointer;
          }
        }
      }
      [data-collapse-toggle] {
        padding: $gutter/10 0 $gutter/10 $gutter/3.33;
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      [data-collapse-content] {
        display: block !important;
      }
    }

    @include s() {
      [data-collapse-toggle] {
        .open, .close {
          padding-left: $gutter/3.33;
        }
        .close {
          display: none;
        }
        .open {
          display: inline;
        }
        &.active {
          .close {
            display: inline;
          }
          .open {
            display: none;
          }
        }
      }
      ul {
        padding: $gutter/5 0;
        margin-bottom: $gutter/3.33;
        border-bottom: $borderStyle $borderWeight $colorBorder;
      }
    }
  }

  .account-title {
    color: lighten($colorText, $hoverAmount);
  }
  .address {
    position: relative;
    display: inline-block;
    background: url('address-middle.jpg') repeat-y;
    margin: $gutter/3.125 $gutter/5 $gutter/1.5 0;
    width: $gutter*3.6;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -$gutter/3.125;
      height: $gutter/3.125;
      background: url('address-top.png') no-repeat;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -$gutter/7.14;
      height: $gutter/7.14;
      background: url('address-bottom.jpg') no-repeat;
    }
    .address-content {
      padding: 0 $gutter/5;
      .address-actions {
        border-top: $borderWeight $borderStyle rgba(darken($colorError, $hoverAmount), 0.5);
        padding-top: $gutter/10;
      }
    }
  }
}

/* Search ====================================================================*/

.form-search {
  input[type="text"] {
    width: 85%;
    font-size: 1rem;
  }
  button {
    img {
      height: 100%;
    }
  }
}

.template-search {
  aside {
    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .search-filters {
        display: block !important;
      }
    }
  }
}

// Snize results page
.template-page {
  #MainContent {
    #snize-search-results-grid-mode {
      span.snize-thumbnail {
        background-color: $colorForeground !important;
      }
    }
  }
}

.snize.snize-search-results {
  div.snize-filters-sidebar {
    border-right: $borderWeight $borderStyle $colorText;
  }
  div.slider-container.snize-theme .scale ins {
    color: $colorForeground;
  }

  .snize-search-results-content {
    padding: $gutter/4 !important;
    hr {
      border-color: $colorText !important;
    }
    a {
      color: $colorText !important;
    }
    .snize-product {
      color: $colorText !important;
      .snize-title {
        font-weight: $fontBold !important;
        color: $colorText !important;
      }
      .snize-price-list {
        color: $colorText !important;
      }
    }
  }

  div.snize-pagination ul li {
    a, span {
      color: $colorForeground !important;
      &:hover, &.active {
        background-color: $colorForeground !important;
        color: $colorText !important;
      }
    }
  }
}

/* Cart ======================================================================*/

.quantity-adjust {
  @include prefixer(user-select, none, webkit moz ms o spec);
  input.quantity {
    display: inline-block;
    width: $gutter/1.5;
    height: $gutter/2.5;
    line-height: $gutter/2.5 - $borderWeight*2;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: $colorForeground;
    border-color: $colorBorder;
    font-size: $h5Base;
    color: $colorText;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.template-cart {
  .cart-related {
    padding: $gutter/5;
    background-color: #d3bea5;
    border: $borderWeight $borderStyle lighten($colorBorder, 50%);
    border-radius: $gutter/10; 

    &> div {
      text-align: left;
      color: #3d1100;
      font-weight: bold;
    }    
  }

  #CartHeader {
    @include gradient(#c49b6b, #d2bda3, top);
    padding: $gutter/10;
  }

  .additional-cart-content {
    p, h6 {
      font-size: $smallBase;
    }
    hr {
      border-top-color: lighten($colorText, 80%);
    }
  }

  .cart-row {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    .product-image {
      margin-right: $gutter/2.5;
      .ratio {
        border: $borderWeight $borderStyle $colorBorder;
      }
    }
    .sale_price {
      color: $colorError;
    }
    .original_price {
      text-decoration: line-through;
    }
    .savings {
      font-size: 10px;
    }
    input.quantity {
      background-color: lighten($colorForeground, 100%);
      border-color: lighten($colorText, 80%);
    }
  }

  .coupon-code {
    background-color: lighten($colorForeground, 100%);
    border-radius: $gutter/8.33;
    border: $borderWeight $borderStyle lighten($colorText, 80%);
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
  }
}

/* Collection ================================================================*/

.template-collection {
  aside {
    .collection-links {
      .nav-link {
        font-size: $h5Base;
      }
      ul {
        li {
          display: block;
          line-height: 1;
          a {
            display: block;
            padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
            background-repeat: no-repeat;
            background-position: $gutter/16.667 $gutter/6;
            &:hover, &.active {
              background-image: url('menu-arrow.svg');
              background-color: $colorBrand;
              color: $colorForeground;
              cursor: pointer;
            }
          }
        }
        [data-collapse-toggle] {
          padding: $gutter/10 0 $gutter/10 $gutter/3.33;
        }
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .collection-filters, .collection-links {
        display: block !important;
      }
    }
  }

  @include s() {
    [data-collapse-toggle] {
      .open, .close {
        padding-left: $gutter/3.33;
      }
      .close {
        display: none;
      }
      .open {
        display: inline;
      }
      &.active {
        .close {
          display: inline;
        }
        .open {
          display: none;
        }
      }
    }
    .collection-filters {
      padding: $gutter/5 0 0;
      margin-bottom: $gutter/3.33;
      border-bottom: $borderStyle $borderWeight $colorBorder;
      [data-collapse-content] {
        display: block !important;
      }
    }
  }

  .slideshow-container {
    padding: $gutter/5;
    .slick-slider .slick-dots li {
      background-color: $colorForeground;
      &.slick-active {
        background-color: $colorText;
      }
    }
    .thumbnails {
      .thumbnail {
        .ratio {
          position: relative;
          &:after {
            content: "";
            @include overlay();
            border: $borderWeight*3 $borderStyle transparent;
          }
        }
        &:hover, &.active {
          .ratio:after {
            border-color: $colorForeground;
          }
        }
      }
    }
  }

  .pagination {
    .pagination-amount {
      & + .pagination-amount {
        &:before {
          content: "|";
        }
      }
    }
  }
}

/* Product ===================================================================*/

.collection-product {
  .on-sale {
    color: $colorError;
  }
  button {
    cursor: pointer;
  }
  .product-image {
    display: block;
    .ratio {
      border: $borderWeight $borderStyle $colorBorder;
      .quicklook {
        display: none;
        bottom: $gutter/1.25;
        right: $gutter/10;
        left: $gutter/10;
      }
      .sticker {
        bottom: $gutter/10;
        right: $gutter/10;
      }
    }
    &:hover {
      .ratio .quicklook {
        display: block;
      }
    }
  }
}

.template-product {
  #ProductPhoto, #ProductThumbs, #RecentlyViewed {
    .product-image {
      border: $borderWeight $borderStyle $colorBorder;
      &.zoom-wrapper {
        cursor: all-scroll;
      }
    }
    .thumbnail {
      margin: $gutter/10 $gutter/10 0 0;
    }
  }

  #raincheckForm {
    input, button {
      float: left;
    }
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: $gutter/1.5625;
      line-height: ($gutter/1.5625) - ($borderWeight*2);
    }
    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  input.quantity {
    background-color: lighten($colorForeground, 100%);
    border-color: lighten($colorText, 80%);
    width: $gutter/2;
    text-align: center;
  }

  .product-zoom {
    top: 0;
    left: 0;
    right: 0;
    border: $borderWeight $borderStyle $colorBrand;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    @include transition();
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  h1 {
    font-size: 1.25rem;
  }

  .variant-table {
    @include ml() {
      border: $borderStyle $borderWeight $colorBorder;
      .row {
        padding: 0;
        &:first-child {
          background-color: rgba($colorBrand, 0.15);
        }
      }
    }
  }

  .tab-toggles {
    font-size: 0;
    @include s() {
      border-bottom: $borderWeight $borderStyle $colorBorder;
      margin-bottom: $gutter/3.33;
    }
    [data-accordion-toggle] {
      font-size: $h4Base;
      font-weight: $fontBold;
    }
    [data-accordion-content] {
      padding-bottom: $gutter/3.33;
      &.active {
        border-bottom-color: transparent;
      }
    }
  }

  .rte {
    table {
      border: $borderWeight $borderStyle $colorText;
      tbody {
        tr {
          &:first-child {
            background-color: inherit;
            color: inherit;
          }
          & + tr {
            border-top: $borderWeight $borderStyle $colorText;
          }
          td + td {
            border-left: $borderWeight $borderStyle $colorText;
          }
        }
      }
    }
  }

  .related-products {
    .collection-product {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include s() {
    button[type="submit"] {
      width: 100%; 
      background: transparent;
    }
  }
}

/* Page ======================================================================*/

.template-page {
  #MainContent {

  }
}


/* Sections ==================================================================*/
/* Banner ====================================================================*/

.index-section-banner {
  line-height: 1;
  font-size: 0;
  a {
    display: block;
  }
  @include sm() {
    .container {
      padding: 0;
    }
  }
}

/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  .hero-slideshow-inner {
    @include l() {
      border: $borderWeight $borderStyle $colorBorder;
      padding: $gutter/5;
    }
  }

  .thumbnails {
    margin-bottom: $gutter/10;
    .ratio {
      margin-bottom: $gutter/10;
    }
  }
}

$activeColor: transparent;

.mobile-tab-menu {
  background-image: url('{{ 'background-mobile-body.jpg' | asset_url }}');
  [data-tab-toggle] {
    width: 50%;
    margin: 0;
    display: inline-block;
    float: left;
    border-radius: 6px 6px 0 0;
    border: 0;
    padding: $gutter/3 $gutter/10;
    text-align: center;
    text-transform: none;
    font-weight: $fontBold;
    font-size: $h3Base;
    color: $activeColor;
    background-color: $colorHighlight;
    background: $colorHighlight;
    &.active {
      color: $colorBackground;
      background-color: $activeColor;
      background: $activeColor;
      &:after {
        background: none;
      }
    }
  }
  [data-tab-content] {
    padding: 0;
    background: $activeColor;
    border-radius: 0;
    width: 100%;
    color: $colorBackground;
    a {
      color: $colorBackground;
      display: block;
    }
    li {
      padding: $gutter/10 $gutter/4;
      border-bottom: solid 1px #ccc;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  a {
    padding: $gutter/10 0;
    border: 0;
    position: relative;
    font-size: 1rem;
    color: #fff;
    font-weight: $fontBold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    &[data-accordion-toggle] {
      &:after {
        content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="16,10 12,14 8,10 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="10,8 14,12 10,16 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
    }
  }
  [data-accordion-content] {
    border: 0;
    a {
      border: 0;
    }
  }
}


/* Helpers ===================================================================*/
/* Helpers ===================================================================*/

// Alignment
.left {
  text-align: left;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right {
  text-align: right;
}

.wide {
  width: 100%;
}
.tall {
  height: 100%;
}

.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}
@include l() {
  .l-v-middle {
    vertical-align: middle;
  }
  .l-v-top {
    vertical-align: top;
  }
  .l-v-bottom {
    vertical-align: bottom;
  }
}
@include m() {
  .m-v-middle {
    vertical-align: middle;
  }
  .m-v-top {
    vertical-align: top;
  }
  .m-v-bottom {
    vertical-align: bottom;
  }
}
@include s() {
  .s-v-middle {
    vertical-align: middle;
  }
  .s-v-top {
    vertical-align: top;
  }
  .s-v-bottom {
    vertical-align: bottom;
  }
}

// Type
.t-uppercase {
  text-transform: uppercase;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-none {
  text-transform: none;
}
.t-lowercase {
  text-transform: lowercase;
}
.f-normal {
  font-style: normal;
}
.f-italic {
  font-style: italic;
}
.w-bold {
  font-weight: $fontBold;
}
.w-normal {
  font-weight: $fontRegular;
}
.w-light {
  font-weight: $fontLight;
}
.f-body {
  font-family: $bodyFontStack;
}
.f-headings {
  font-family: $headingFontStack;
}

// Visibility helpers
@include xl() {
  .xl-hide { display: none !important; }
  .xl-left { text-align: left; }
  .xl-center { text-align: center; }
  .xl-right { text-align: right; }
  .l-show, .m-show, .s-show { display: none !important; }
}
@include l() {
  .l-hide { display: none !important; }
  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .xl-show, .m-show, .s-show { display: none !important; }
}
@include m() {
  .m-hide { display: none !important; }
  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .s-show { display: none !important; }
}
@include s() {
  .s-hide { display: none !important; }
  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .m-show { display: none !important; }
}
.hidden {
  display: none;
}

// Display
.inline {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}
.block {
  display: block;
}

// Misc.
.clearfix {
  @include clearfix();
}
.no-select {
  @include prefixer(user-select, none, webkit moz ms spec);
}
.no-radius {
  border-radius: 0 !important;
}
.overlay {
  @include overlay();
}
.background-image {
  @include background-image();
}
.vertical-align {
  @include vertical-align();
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.no-decoration {
  text-decoration: none !important;
}

// Thumbnail width helpers
.thumbnails {
  margin: $gutter/20 (-$gutter/5) 0;
  @include clearfix();
  .thumbnail {
    float: left;
    padding: 0 $gutter/5;
    width: 25%;
    cursor: pointer;
    &:hover {
      color: $colorAlternate;
    }
    &.active {
      color: $colorBrand;
    }
    @for $i from 1 through 12 {
      &.thumbnail-width--#{$i} {
        width: percentage((100/$i)/100);
      }
    }
  }
}

// Margin and padding helpers
.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.margin-top-05x {
  margin-top: $gutter/10;
}
.margin-bottom-05x {
  margin-bottom: $gutter/10;
}
.margin-top {
  margin-top: $gutter/5;
}
.margin-bottom {
  margin-bottom: $gutter/5;
}
.margin-top-2x {
  margin-top: $gutter/2.5;
}
.margin-bottom-2x {
  margin-bottom: $gutter/2.5;
}
.margin-top-3x {
  margin-top: $gutter/1.667;
}
.margin-bottom-3x {
  margin-bottom: $gutter/1.667;
}
.margin-top-4x {
  margin-top: $gutter/1.25;
}
.margin-bottom-4x {
  margin-bottom: $gutter/1.25;
}
.margin-top-5x {
  margin-top: $gutter;
}
.margin-bottom-5x {
  margin-bottom: $gutter;
}
.padding-top-05x {
  padding-top: $gutter/10;
}
.padding-bottom-05x {
  padding-bottom: $gutter/10;
}
.padding-top {
  padding-top: $gutter/5;
}
.padding-bottom {
  padding-bottom: $gutter/5;
}
.padding-top-2x {
  padding-top: $gutter/2.5;
}
.padding-bottom-2x {
  padding-bottom: $gutter/2.5;
}
.padding-top-3x {
  padding-top: $gutter/1.667;
}
.padding-bottom-3x {
  padding-bottom: $gutter/1.667;
}
.padding-top-4x {
  padding-top: $gutter/1.25;
}
.padding-bottom-4x {
  padding-bottom: $gutter/1.25;
}
.padding-top-5x {
  padding-top: $gutter;
}
.padding-bottom-5x {
  padding-bottom: $gutter;
}


/* Custom ====================================================================*/
/* Variables =================================================================*/

$colorPopupBackground: #fff;
$colorPopupBorder: #ccc;
$colorPopupInputBorder: #eee;
$colorDropdownBackground: #e8e4d9;
$colorDropdownHoverBackground: #d1bca2;
$colorDropdownHoverText: #882600;
$colorProductRelatedBackground: #d3bea5;
$colorActiveTabText: #3D1100;

/* Global =================================================================*/

body span {
  font-size: 1em; 

  &#ProductPrice {
    font-size: 18px; 
    font-weight: 600; 
  } 
} 

body s { 
  &#ComparePrice {
    font-size: 18px; 
    padding-right: 5px; 
  }

}

.image-link {
  display: block;
  line-height: 0;
}

/* Forms ====================================================================*/

input[type="checkbox"] {
  border: $borderWeight $borderStyle $colorText;
  @include gradient($colorPopupBorder, $colorPopupBackground, -45deg);
  @include prefixer(appearance, none, webkit moz ms spec);
  &:after {
    content: "";
    @include overlay();
    color: $colorSuccess;
    font-size: $h4Base;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    border-color: $colorHighlight;
  }
  &:checked {
    &:after {
      content: "\2713";
    }
  }
}


/* Header =================================================================*/

.logo {
  margin-bottom: $gutter/10;
  margin-top: $gutter/10;
  line-height: 1;
  @include l() {
    top: auto;
    margin-bottom: $gutter/10;
    margin-top: $gutter/10;
    .logo-flare {
      display: none;
    }
  }
}

.theme-header {
  .form-search input[type="text"] {
    background-color: #FFC451;
    @include prefixer(box-shadow, inset 0 0 8px #000000, webkit moz spec);
    opacity: 0.7;
    &::placeholder {
      color: $colorText;
    }
    &::-webkit-input-placeholder {
      color: $colorText;
    }
    &::-moz-placeholder {
      color: $colorText;
    }
    &::-moz-placeholder {
      color: $colorText;
    }
  }
}


/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .menu-title {
    border-bottom: 0;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  .form-group {
    input[type="email"] {
      background-color: #FFC451;
      @include prefixer(box-shadow, inset 0 0 8px #000000, webkit moz spec);
      opacity: 0.7;
      &::placeholder {
        color: $colorText;
      }
      &::-webkit-input-placeholder {
        color: $colorText;
      }
      &::-moz-placeholder {
        color: $colorText;
      }
      &::-moz-placeholder {
        color: $colorText;
      }
    }
    button[type="submit"] {
      padding: 0;
      background: none;
    }
  }
  ul {
    li {
      padding: 0;
      a  {
        font-size: $h4Base;
        font-weight: 600;
      }
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}

/* Forms =================================================================*/


.form-search input[type="text"] {
  width: 85%;
}

.form-group {
  height: 30px;
}

/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  padding: $gutter/1.5;
  @include s() {
    padding: 0;
  }
  .hero-slideshow-inner {
    background-repeat: no-repeat;
    padding: $gutter/1.5;
    .slick-slider {
      margin-bottom: $gutter/5;
    }
    @include s() {
      background-image: none!important;
      padding: 0;
    }

    @include l() {
      border: 0;
    }
  }

  .thumbnails {
    margin-bottom: $gutter/10;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 $colorForeground;
    font-weight: $fontBold;
    .thumbnail {
      .ratio {
        margin-bottom: $gutter/10;
      }
      p {
        font-size: 0.7rem;
      }
      &.active, &:hover {
        .ratio {
          @include prefixer(box-shadow, 0px 0px 1px 3px #FFF, webkit moz spec);
        }
      }
    }
  }
}

/* Navigation =============================================================*/

// Main Nav
.theme-nav-primary, .theme-nav-secondary {
  .nav-link {
    font-size: 0.9rem;
  }
  .dropdown {
    .dropdown-menu {
      top: 1rem;
      width: 170px;
      border: 0;
      line-height: 1.5;
      @include prefixer(box-shadow, 0 0 5px #000000, webkit moz spec);
      background-color: $colorDropdownBackground;
      li {
        margin-right: 0;
        a {
          &:hover {
            background-color: $colorDropdownHoverBackground;
            color: $colorDropdownHoverText;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.theme-nav-primary {
  > ul {
    li {
      margin-right: $gutter/4;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tertiary-menu {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1;
  li {
    font-size: $h4Base;
    position: relative;
    & + li {
      &:before {
        content: "|";
        margin-left: $gutter/10;
        margin-right: $gutter/10;
        font-size: $h4Base;
        color: $colorForeground;
      }
    }
  }
}

.cart-info {
  line-height: 1;
}

.collection-links {
  h4 {
    font-size: 0.9rem;
  }
}

.breadcrumb {
  margin-bottom: $gutter/2;
}

// Tabbed content
[data-tab-toggle] {
  color: $colorText;
  @include gradient(lighten($colorPopupBorder, 6%), darken($colorPopupBorder, 6%), top);
  border: 1px solid lighten($colorPopupBorder, 6%);
  border-bottom: 0;
  border-top-left-radius: $gutter/10;
  border-top-right-radius: $gutter/10;
  font-size: 0.72rem;
  font-weight: $fontBold;
  &:active {
    @include gradient(darken($colorProductRelatedBackground, 12%), $colorProductRelatedBackground, top);
  }
  &.active {
    color: $colorActiveTabText;
    border-color: transparent;
    @include gradient(darken($colorProductRelatedBackground, 12%), $colorProductRelatedBackground, top);
    &:after {
      background-color: $colorProductRelatedBackground;
    }
  }
}

[data-tab-content] {
  border: 0;
  background-color: $colorProductRelatedBackground;
}


/* Sections =============================================================*/

.index-section-featured-links {
  .column {
    background-image: url('{{ 'section-featured-links-bg.jpg' | asset_url }}');
    background-size: 100%;
    padding: 10px 17px;
    margin: 15px 0;
  }
}

/* Collection ================================================================*/

.template-collection {
  aside {
    h4 {
      font-size: 0.9rem;
    }
    .collection-filter {
      h4 {
        font-size: 0.9rem;
      }
      label, a {
        color: $colorDropdownHoverText;
        &:hover {
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .collection-links {
      .nav-link {
        font-size: $h3Base;
      }
      ul {
        li {
          a {
            &:hover, &.active {
              background-color: transparent;
              color: $colorDropdownHoverText;
            }
          }
        }
      }
    }
  }
}

/* Product ====================================================================*/

.template-product {
  #AddToCartForm {
    .variant-table {
      border: 0;
      .row {
        background-color: transparent;
      }
    }
  }
  .product-description {
    [data-tab-toggle] {
      background: #fdf6ee;
      border: 1px solid #dbdbdb;
      border-bottom: 0;
      margin-right: -1px;
      font-size: 0.8rem;
      text-transform: none;
      &.active {
        background: #fff;
        &:after {
          background-color: #fff;
        }
      }
    }
    [data-tab-content] {
      background-color: #fff;
      border: 1px solid #dbdbdb;
    }
  }
}

.ezp-customizable-item {
  display: none !important;  
} 

.ezp-customizable-item-form {
  position: relative; 

  .quantity-addtocart {
    visibility: hidden; 
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    background: #f5e5d5;
    width: 100%;
    height: 100%;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 50%;
    top: 25%;
    background: url({{ 'animated-loading-circle.gif' | asset_url }}) 50% 50% no-repeat; 
    background-size: contain; 
    z-index: 1; 
    left: 0;
  }
} 

/* Popups ====================================================================*/

.popup {
  .popup-content {
    padding: $gutter;
    background-color: $colorPopupBackground;
    color: $colorText;

    .form-note {
      color: $colorText;
    }

    form {
      width: 90%;
      margin: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    textarea {
      background-color: $colorPopupBackground;
      color: $colorText;
      font-size: $h3Base;
      font-family: inherit;
      border: $borderWeight $borderStyle $colorPopupInputBorder;
    }

    &.popup-header {
      background: $colorPopupBackground;
      padding-top: 0;
      .popup-header-logo {
        padding-bottom: $gutter/2;
        padding-top: $gutter/2;
      }
    }
  }
  &.overlay {
    background: rgba($colorPopupBackground, 0.1);
    &.bordered {
      .popup-content {
        background: $colorPopupBackground;
        @include ml() {
          border: $borderWeight*5 $borderStyle $colorPopupBorder;
        }
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/10;
    right: $gutter/10;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight !important;
          }
          .fill {
            fill: $colorHighlight !important;
          }
        }
      }
    }
  }
}

/* Helpers ================================================================*/

.fg-white {
  color: #fff;
}

.float-right {
  float: right;
}

/* =============================================================================
   Snize Override
============================================================================= */

html .snize-title {
  max-height: 6.8em !important;
  height: 5.8em !important;
  -webkit-line-clamp: 6 !important;
}

html #snize-search-results-grid-mode span.snize-overhidden {
  max-height: 10.8em !important;
}

/* MyBuys Styling ===================================================================*/
.template-collection {
	.mbzone {
		width: auto !important;
		&>.column {
			&.l12 {
				width: 33.333%;
			}
		}
	}
}

.template-product {
	.mbzone {
		width: auto !important;
		margin: auto;
	}
}
.template-cart {
	.mbzone {
		width: auto !important;
		margin: auto;
	}
}

/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  text-align: center;
}



.product-sale-tag > button.small.monochromatic {
  background: {{ settings.color_custom_sales_tag_background }}; 
  color: {{ settings.color_custom_sales_tag_label }}; 
}