$(window).on('load', function() {
    if($('.product-recommendations').length != 0 && $('.product-recommendations').attr('data-product-id') != undefined && parseInt($('.product-recommendations').attr('data-limit')) > 0) {
        var __item_counter = 0; 
        $(".tab-contents > #TabRelated_1 > .row.condensed.no-margin").append('<div class="shopify-recommendations-container"><div class="padding-top-5x"><div></div></div></div>')

        var recommendations_url = window.location.origin + $('.product-recommendations').attr('data-base-url')+".json?product_id="+$('.product-recommendations').attr('data-product-id')+"&limit="+parseInt($('.product-recommendations').attr('data-limit')); 
        $.getJSON(recommendations_url, function(data) { 
            data.products.forEach(function(item) {
                __item_counter++; 
                var _product_title = item.title; 
                var _product_image = item.featured_image;
                var _product_price = item.price / 100;
                var _product_url = item.url; 
                var _item_template = $('#pdp-recommendations-item-template').clone(); 
                var _product_compare_price = item.compare_at_price; 
                
                $(_item_template).find('.background-image').attr('style','background-image:url('+_product_image+')'); 
                $(_item_template).find('.product-title').html(_product_title); 
                $(_item_template).find('p.price').html('$'+_product_price); 
                $(_item_template).find('a').attr('href',_product_url); 
                $("#TabRelated_1 .shopify-recommendations-container > div > div").append(_item_template);  
            }); 
            $("#TabRelated_1 .shopify-recommendations-container > div > div").slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                infinite: true,
                autoplay: false,
                dots: false,
                arrows: false,
                pauseOnHover: false,
                speed: 200,
                adaptiveHeight: false,
                responsive: [
                  {
                    breakpoint: 1024, 
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1, 
                        dots: false
                    }
                  }, 
                  {
                    breakpoint: 767, 
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1, 
                        dots: false
                    }
                  }, 
                  {
                    breakpoint: 450, 
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1, 
                        dots: false
                    }
                  }, 
                ]
              }); 
            $('.shopify-recommendations-container > div > div > div').removeClass('visually-hidden'); 
        }); 
    }
});
