<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {% section 'template-page-explore' %}
      </div>
    </div>
  </div>
</div>
