<style>
table > tbody > tr > td {
  border: 1px solid #ddd;
  padding: 10px !important;
  text-align: left !important;
}
</style>

<table width="100%">
    <tbody>
        <tr>
            <td> Order Total</td>
            <td>Standard</td>
            <td>Two-Day</td>
            <td>AK, HI, Military, and U.S. Territories</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td><span>$0.00 - $29.99</span></td>
            <td><span>$4.99</span></td>
            <td><span>$15.99</span></td>
            <td><span>$7.99</span></td>
            <td><span>$7.99</span></td>
        </tr>
        <tr>
            <td><span>$30.00 - $39.99</span></td>
            <td><span>$5.99</span></td>
            <td><span>$16.99</span></td>
            <td><span>$8.99</span></td>
            <td><span>$8.99</span></td>
        </tr>
        <tr>
            <td><span>$40.00 - $59.99</span></td>
            <td><span>$6.99</span></td>
            <td><span>$17.99</span></td>
            <td><span>$9.99</span></td>
            <td><span>$9.99</span></td>
        </tr>
        <tr>
            <td><span>$60.00 - $74.99</span></td>
            <td><span>$7.99</span></td>
            <td><span>$18.99</span></td>
            <td><span>$10.99</span></td>
            <td><span>$10.99</span></td>
        </tr>
        <tr>
            <td><span>$75.00 - $79.99</span></td>
            <td><span>FREE*</span></td>
            <td><span>$18.99</span></td>
            <td><span>$10.99</span></td>
            <td><span>$10.99</span></td>
        </tr>
        <tr>
            <td><span>$80.00 - $99.99</span></td>
            <td><span>FREE</span></td>
            <td><span>$19.99</span></td>
            <td><span>$11.99</span></td>
            <td><span>$11.99</span></td>
        </tr>
        <tr>
            <td><span>$100.00 - $299.99</span></td>
            <td><span>FREE*</span></td>
            <td><span>$22.99</span></td>
            <td><span>$14.99</span></td>
            <td><span>$14.99</span></td>
        </tr>
        <tr>
            <td><span>$300.00+</span></td>
            <td><span>FREE*</span></td>
            <td><span>$25.99</span></td>
            <td><span>$17.99</span></td>
            <td><span>$17.99</span></td>
        </tr>
    </tbody>
</table>
