{% section 'gateway-template-lsm' %}

<div class="gateway-outer gateway-outer-{{collection.handle}}">
  <div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
    <div class="gateway-left">{% section 'gateway-sidebar-lsm' %}</div>
    <div class="gateway-right">{% section 'gateway-featured-images-lsm' %}</div>
    {% section 'gateway-featured-products-lsm' %}
  </div>
</div>

