{% section 'gateway-template-pre' %}

<div class="gateway-outer gateway-outer-{{collection.handle}}">
  <div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
    <div class="gateway-left">{% section 'gateway-sidebar-pre' %}</div>
    <div class="gateway-right">{% section 'gateway-featured-images-pre' %}</div>
    {% section 'gateway-featured-products-pre' %}
  <!--   <div class="brand-copyright">
      <p>
        PREDATOR &trade; &amp; &copy; {{ 'now' | date: "%Y" }} Twentieth Century Fox Film Corporation. All Rights Reserved.
      </p>
    </div> -->
  </div>
</div>

