{% section 'gateway-template-aln' %}

<div class="gateway-outer gateway-outer-{{collection.handle}}">
  <div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
    <div class="gateway-left">{% section 'gateway-sidebar-aln' %}</div>
    <div class="gateway-right">{% section 'gateway-featured-images-aln' %}</div>
    <div>{% section 'gateway-featured-images-aln2' %}</div>
    {% section 'gateway-featured-products-aln' %}
  </div>
</div>

