{% section 'gateway-template-frd' %}

<div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
  <div class="gateway-left">{% section 'gateway-sidebar' %}</div>
  <div class="gateway-right">{% section 'gateway-featured-images' %}</div>
  {% section 'gateway-featured-products' %}
</div>

