{% section 'collection-template' %}

<br style="clear:both;">

<div class="brand-copyright">
  <p>
    JAMES CAMERON'S <i>AVATAR</i> is a trademark of Twentieth Century Fox Film Corporation. All Rights Reserved.
  </p>
</div>