{% section 'gateway-template-sut' %}

<div class="gateway-outer gateway-outer-{{collection.handle}}">
  <div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
    <div class="gateway-left">{% section 'gateway-sidebar-sut' %}</div>
    <div class="gateway-right">{% section 'gateway-featured-images-sut' %}</div>
    {% section 'gateway-featured-products-sut' %}
  </div>
</div>