{% section 'gateway-template-san' %}

<div class="gateway-outer gateway-outer-{{collection.handle}}">
  <div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
    <div class="gateway-left">{% section 'gateway-sidebar-san' %}</div>
    <div class="gateway-right">{% section 'gateway-featured-images-san' %}</div>
    {% section 'gateway-featured-products-san' %}
  </div>
</div>