{% section 'gateway-template-wpa' %}

<div class="gateway-wrapper gateway-wrapper-{{collection.handle}}">
  <div class="gateway-left">{% section 'gateway-sidebar-wpa' %}</div>
  <div class="gateway-right">{% section 'gateway-featured-images-wpa' %}</div>
  <div>{% section 'gateway-featured-images-wpa2' %}</div>
  {% section 'gateway-featured-products-wpa' %}
<!--   <div class="brand-copyright">
    <p>
      PREDATOR &trade; &amp; &copy; {{ 'now' | date: "%Y" }} Twentieth Century Fox Film Corporation. All Rights Reserved.
    </p>
  </div> -->
</div>

