{% include 'powerreviews-collection-initialize' %}
<div class="artist-series-page-image">
  <div class="artist-series-image-title"><h1>FPO</h1></div>
  <img data-sizes="auto" data-src="{{ section.settings.dc_artist_series_page_image | img_url: '2048x2048' }}" alt="DC Artist Alley Series" class="artist-series-image lazyload" >
</div>
<div class="artist-series-page-timer">
  <div class="timer-wrapper">
    <div class="timer-label">
      <h3>Only Available For</h3>
    </div>
    <div class="timer-container">
      <div class="visually-hidden" id="only_available_for_date">{{ section.settings.only_available_for_date }}</div>
      <div class="timer">
        <div class="artist-series-timer-days">
          <div id="artist-series-timer-days"></div>
        </div>
        <div class="artist-series-timer-hours">
          <div id="artist-series-timer-hours"></div>
        </div>
        <div class="artist-series-timer-minutes">
          <div id="artist-series-timer-minutes"></div>
        </div>
        <div class="artist-series-timer-seconds">
          <div id="artist-series-timer-seconds"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="artist-series-artists-wrapper">
  {%- assign first_artist_block = true %}
  {% for block in section.blocks %}
    {% if block.type == 'artist_block' %}
      {%- assign artist_collection = collections[block.settings.collection] %}
      {%- assign _background_image = block.settings.artist_background_image %}
      <div class="artist-series-artist-block artist-block-{{artist_collection.handle}}" > 
        {% if first_artist_block == true %}
          {% include 'breadcrumbs' %}
          {%- assign first_artist_block = false %}
        {% endif %}

        <div class="artist-block-info-wrapper">
          <div class="artist-info-wrapper">
            <div class="artist-title"><h3>{{ artist_collection.title }}</h3></div>
            <div class="artist-info">
              <div class="artist-image"><img data-sizes="auto" data-src="{{ artist_collection.image | img_url: '2048x2048' }}" alt="{{ artist_collection.title }}" class="lazyload"></div>
              <div class="artist-description"><p>{{ artist_collection.description }}</p></div>
            </div>
          </div>
          <div class="artist-collection-products">
            {% include 'artist-collection-products' %}
          </div>
        </div>
      </div>
      <style type="text/css">
        .artist-series-artist-block.artist-block-{{artist_collection.handle}} {
          background: url("{{ _background_image | img_url: '2048x2048' }}") no-repeat;
        }
      </style>
    {% endif %}
  {% endfor %}
</div>
<div class="artist-series-video-wrapper">
  <div class="artist-footer-section-wrapper">
    <div class="video-thumbnail-container">
      <img data-sizes="auto" data-src="{{ 'icon-play.png' | asset_url }}" class="play-icon lazyload" >
    </div>
    <div class="footer-text-container">
      <h3>From the Page to Your Bookshelf</h3>
      <p>Go behind the scenes of the newest batch of DC collectible creations!</p>
    </div>
  </div>
</div>
<style type="text/css">
  .artist-series-page-image {
    /*display: block;
    width: 100%;
    height: 580px;
    background: url(//cdn.shopify.com/s/files/1/0030/4106/7078/files/oNDUMAFQ_2048x2048.jpeg?v=1535392527) no-repeat;
    background-size: contain;
    background-position: center;*/
  }
  .artist-series-image {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: -55px;
  }
  .artist-series-image-title {
    position: absolute;
    left: 50%;
    top: 25px;
    font-size: 1.5em;
    display: block;
    width: 100%;
    max-width: 1200px;
    transform: translateX(-50%);
  }
  .artist-series-page-timer {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 1200px;
    padding: 25px 0;
  }
  .artist-series-page-timer > .timer-wrapper {
    
  }
  .artist-series-page-timer > .timer-wrapper > .timer-label {
    display: inline-block;
    width: 35%;
    text-align: center;
    margin-top: 10px;
    float: left;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-label > h3 {
    text-transform: uppercase; 
    font-family: 'Lato-Regular', Arial, sans-serif;
    font-size: 1.25em;
    margin-bottom: 0px;
    vertical-align: middle;
    color: #9ea2a5;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container {
    display: inline-block;
    width: calc(65% - 5px);
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer {
    display: block;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div {
    width: calc(25% - 75px);
    display: inline-block;
    text-align: center;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div > div {
    border-right: 2px solid #9ea2a5;
    display: inline-block;
    font-size: 45px;
    width: 100%;
    font-family: 'Lato-Regular';
    font-weight: 900;
    line-height: 36px;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div:last-child > div {
    border-right: none;
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div.artist-series-timer-days:after {
    content: 'days';
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div.artist-series-timer-hours:after {
    content: 'hours';
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div.artist-series-timer-minutes:after {
    content: 'minutes';
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div.artist-series-timer-seconds:after {
    content: 'seconds';
  }
  .artist-series-page-timer > .timer-wrapper > .timer-container > .timer > div:after {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #9ea2a5;
  }
  .artist-series-artists-wrapper {
    /*position: relative;*/
  }
  .artist-series-artists-wrapper .artist-series-artist-block {
    background-size: cover;
    background-position: center top;
    padding: 55px 0;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-background-image {
    width: 100%;
    display: block;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .breadcrumb {
    top: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px 30px;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper {
    top: 40px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper {
    display: inline-block;
    width: 45%; 
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-title {
    display: block;
    width: 100%;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-title h3 {
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    letter-spacing: 4px;
    font-size: 30px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-info {
    display: block;
    width: 100%;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-info .artist-image {
    display: inline-block;
    width: 50%;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-info .artist-image img {
    width: 100%;
    max-width: 250px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-info .artist-description {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: justify;
    padding-left: 32px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-info-wrapper .artist-info .artist-description p {
    line-height: 2;
    font-family: 'Lato-Regular';
    color: #9ea2a5;
    font-weight: 400;
    font-size: 16px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products {
    display: inline-block;
    width: 50%;
    float: right;
    padding-left: 20px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container a {
    display: inline-block;
    width: calc(50% - 20px);
    padding: 10px;
    max-width: 320px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container .slick-prev:before {
    color: transparent;
    background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_cbcbcb.png?7348073847935110952) no-repeat;
    background-size: contain;
    height: 38px;
    width: 20px;
    display: block;
    opacity: 1;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container .slick-prev:hover:before {
    background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_404040.png?7348073847935110952);
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container .slick-next:before {
    color: transparent;
    background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_cbcbcb.png?7348073847935110952) no-repeat;
    background-size: contain;
    height: 38px;
    width: 20px;
    display: block;
    opacity: 1;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container .slick-next:hover:before {
    background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_404040.png?7348073847935110952);
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container a .artist-product {
  
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container a .artist-product > .product-image > .product-single-image {
    border-radius: 5px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container a .artist-product > .product-info > .product-name {
    color: #9ea2a5;
    padding-top: 20px;
  }
  .artist-series-artists-wrapper .artist-series-artist-block .artist-block-info-wrapper .artist-collection-products .products-container a .artist-product > .product-info > .product-price .product-price__price {
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    font-family: 'Lato-Regular';
    font-weight: 600;
  }

  .artist-series-video-wrapper {
    padding: 55px 0;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .video-thumbnail-container {
    display: inline-block;
    width: 50%;
    position: relative;
    background: url({{ section.settings.dc_artist_video_thumbnail | img_url: '1024x1024' }}) no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 300px;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .video-thumbnail-container > .thumbnail-image {
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .video-thumbnail-container > .play-icon {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .footer-text-container {
    background: #fff;
    float: right;
    height: 300px;
    display: inline-block;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .footer-text-container > h3 {
    color: #000;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Lato-Regular';
    font-weight: 500;
    font-size: 30px;
  }
  .artist-series-video-wrapper > .artist-footer-section-wrapper > .footer-text-container > p {
    margin-left: 50px;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 500;
    color: #9ea2a5;
  }
</style>

<script type="text/javascript">
  var waitForJQuery = setInterval(function(){
    if( jQuery == undefined && jQuery.ui == undefined){
      return;
    }
    clearInterval(waitForJQuery);
    var startTimer = setInterval(updateTime, 1000);

    $('.artist-collection-products > .products-container').slick({
      mobileFirst: true,
      dots: false,
      slidesToShow: 2,
      slidesToScroll: 1,
      infinite: true,
      variableWidth: false
    });

  }, 500);

  function updateTime() {
    var t_date = new Date($("#only_available_for_date").html().trim());
    var c_date = new Date();
    var time_diff = t_date - c_date;
    var diff_seconds = Math.floor((time_diff / 1000) % 60);
    if(diff_seconds < 10) {
      diff_seconds = "0"+diff_seconds;
    }
    var diff_minutes = Math.floor((time_diff / (1000 * 60)) % 60);
    if(diff_minutes < 10) {
      diff_minutes = "0"+diff_minutes;
    }
    var diff_hours = Math.floor((time_diff / (1000 * 60 * 60)) % 24);
    if(diff_hours < 10) {
      diff_hours = "0"+diff_hours;
    }
    var diff_days = Math.floor((time_diff / (1000 * 60 * 60 * 24)));
    if(diff_days < 10) {
      diff_days = "0"+diff_days;
    }
    $("#artist-series-timer-days").html(diff_days);
    $("#artist-series-timer-hours").html(diff_hours);
    $("#artist-series-timer-minutes").html(diff_minutes);
    $("#artist-series-timer-seconds").html(diff_seconds);
  }
</script>

{% schema %}
  {
    "name": "Artist Series pages",
    "settings": [
      {
        "type": "image_picker",
        "id": "dc_artist_series_page_image",
        "label": "DC Artist Series page image"
      },
      {
        "type": "text",
        "id": "only_available_for_date",
        "label": "Expiration Date"
      },
      {
        "type": "image_picker",
        "id": "dc_artist_video_thumbnail",
        "label": "DC Artist page footer video thumbnail image"
      }
    ],
    "blocks": [
      {
        "type": "artist_block",
        "name": "Artist Block",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Artist collection",
            "info": "Select the Artist collection to display on page"
          },
          {
            "type": "image_picker",
            "id": "artist_background_image",
            "label": "Artist Section background image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "artist_background_image_mobile",
            "label": "Artist Section background image for Mobile view"
          }
        ]
      }
    ]
  }
{% endschema %}
