{%- assign social_icons = false -%} 
{%- assign _year = "now" | date: '%Y' %}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

{% if template == 'index' %}
<div class="pre-footer"></div>
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="medium-up--hide" id="mobile-footer"></div>
  <div class="site-footer__copyright medium-up--hide">
      <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text' | t }}</small>
      <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext' | t: year: _year }}</small>
  </div>
  <div class="page-width s-hide">
    <div class="grid grid--no-gutters">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item site-footer__newsletter-wrapper">
          <div class="site-footer__newsletter">
            {% include 'subscribe' %}
          </div>
        </div>
      {% endif %}
      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist].links.size > 0 %}
          <span class="site-footer__linklist_title accordion-title">{{ linklists[section.settings.footer_linklist].title }}</span>
            <ul class="site-footer__linklist accordion-content{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
              {% for link in linklists[section.settings.footer_linklist].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>            
        {% endif %}
      </div>

      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
          <span class="site-footer__linklist_title accordion-title">{{ linklists[section.settings.footer_linklist_two].title }}</span>
          <ul class="site-footer__linklist accordion-content{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
          <span class="site-footer__linklist_title accordion-title">{{ linklists[section.settings.footer_linklist_three].title }}</span>
          <ul class="site-footer__linklist accordion-content{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_three].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="grid__item">
      {% if social_icons %}
        <div class="site-footer__social-icons-wrapper">
          <div class="site-footer__social-header accordion-title">DC UNIVERSE SOCIAL</div>
          <ul class="list--inline site-footer__social-icons social-icons accordion-content">
            {% if settings.social_facebook_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  <img class="social-icons__badge lazyload" alt="facebook icon" data-sizes="auto" data-src="{{ 'icon-fb.png' | asset_url | replace: '.png', '_30x.png' }}"/>
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  <img class="social-icons__badge lazyload" alt="twitter icon" data-sizes="auto" data-src="{{ 'icon-tw.png' | asset_url | replace: '.png', '_30x.png' }}"/>
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  <img class="social-icons__badge lazyload" alt="pinterest icon" data-sizes="auto" data-src="{{ 'icon-pin.png' | asset_url | replace: '.png', '_30x.png' }}"/>
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  <img class="social-icons__badge lazyload" alt="twitter icon" data-sizes="auto" data-src="{{ 'icon-ig.png' | asset_url | replace: '.png', '_30x.png' }}"/>
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  <img class="social-icons__badge lazyload" alt="youtube icon" data-sizes="auto" data-src="{{ 'icon-yt.png' | asset_url | replace: '.png', '_30x.png' }}"/>
                  <span class="icon__fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li class="social-icons">
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist_four].links.size > 0 %}
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_four].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.fosubscribe_miniform_sub_titleoter_linklist_four].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>


    <div class="grid grid--no-gutters">
      <div>
        <div class="site-footer__copyright">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text' | t }}</small>
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext' | t: year: _year }}</small>
          {% endunless %}
          <div class="site-footer__privacylinks">
            <ul class="site-footer__linklist">
              {% for link in linklists.security-privacy.links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}" {% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                      <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%}
                        {% include icon_name %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  if(window.innerWidth < 768){
    $(function(){
      var accordionTitles = document.getElementsByClassName('accordion-title');
      var accordionContents = document.getElementsByClassName('accordion-content');
      for(var i = 0; i <  accordionTitles.length; i++){
        $('#mobile-footer').append('<h3 class="mob-accordion-title">' + accordionTitles[i].innerHTML + '</h3><div class="mob-accordion-content">' + accordionContents[i].innerHTML + '</div>');
      }
      $( "#mobile-footer" ).accordion({
        active: false,
        collapsible: true
      });
    });
  }
</script>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
