{% comment %}
-----------------------------------------------------------------------------
Hey there! This is a config file for your Crowdfunder campaign widgets.

This just sets up data that is displayed by the crowdfunder.liquid file. You
probably don't want to mess with this file unless you really know what you're
doing. If you have questions please don't hesitate to contact us. We'll reply
within one business day.

https://ethercycle.com/crowdfunder/support/
-----------------------------------------------------------------------------
{% endcomment %}

{% assign amountPreSold = product.inventory_quantity %}
{% capture goalInCents %}{{product.metafields.crowdfunder.goal | times:100}}{% endcapture %}
{% capture goalWithCurrency %}{{goalInCents | money}}{% endcapture %}

{% assign total_stock = 0 %}
{% assign total_currency = 0 %}
{%for variant in product.variants %}
{% capture i %}{{ total_stock | plus:variant.inventory_quantity }}{%endcapture%}
{% capture variant_currency %}{{ variant.price | times:variant.inventory_quantity }}{%endcapture%}
{% capture j %}{{total_currency | plus:variant_currency}}{%endcapture%}
{% assign total_stock = i %}
{% assign total_currency = j %}
{%endfor%}
{% capture i %}{{ total_stock | times:-1 }}{%endcapture%}
{% assign total_stock = i %}
{% capture j %}{{ total_currency | times:-1 }}{%endcapture%}
{% assign total_currency = j %}

{% if product.metafields.crowdfunder.goal_mode == 'currency' %}
	{% capture goal %}{{ goalWithCurrency }}{% endcapture %}
	{% capture percentPreSold %}{{total_currency | times: 100 | divided_by: goalInCents }}{% endcapture %}
{% else %}
	{% capture percentPreSold %}{{total_stock | times: 100 | divided_by: product.metafields.crowdfunder.goal }}{% endcapture %}
	{% capture goal %}{{product.metafields.crowdfunder.goal }}{% endcapture %}
{% endif %}

{% capture endTimeFriendly %}{{product.metafields.crowdfunder.end_time_friendly}}{% endcapture %}
{% capture timezone %}{{product.metafields.crowdfunder.timezone}}{% endcapture %}


{% capture infoText %}{{product.metafields.crowdfunder.pre_sale_widget_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture raisedText %}{{product.metafields.crowdfunder.raised_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture supportedText %}{{product.metafields.crowdfunder.supported_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture fundedText %}{{product.metafields.crowdfunder.funded_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture remainingText %}{{product.metafields.crowdfunder.remaining_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture expiredText %}{{product.metafields.crowdfunder.expired_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}

{% capture timeLeft %}{{product.metafields.crowdfunder.calculating_text |
						replace: "$goal$", goal |
						replace: "$end_time$", endTimeFriendly |
						replace: "$timezone$", timezone
}}{% endcapture %}
