{% comment %}
-----------------------------------------------------------------------------
Hey there! This is the markup for the Crowdfunder simple campaign widgets.

If you just need to alter the visual display of the widget you should try
looking at assets/crowdfunder.css

If you need to make bigger changes, then this is the spot.

If you have questions please don't hesitate to contact us. We'll reply within
one business day.

https://ethercycle.com/crowdfunder/support/
-----------------------------------------------------------------------------
{% endcomment %}

{% unless product.metafields.crowdfunder == empty %}
  {% comment %}
  Here we protect against showing the widget on products that have been duplicated
  from a product that has an active campaign.
  {% endcomment %}
  {% if product.id == product.metafields.crowdfunder.product_id %}

    {% include 'crowdfunder-config' %}

    <section class="crowdfunder-widget simple">
      <div class='cf-meter'>
        <span class='cf-percent-bar' style='width: {{percentPreSold}}%; background: {{product.metafields.crowdfunder.progress_bar_color}};'></span>
      </div>

      <div class='cf-meter-label'>
        <p>
          <span class='cf-time-left'
                data-end-time="{{product.metafields.crowdfunder.end_time}}"
                data-expired-text="{{expiredText}}"
                data-singular-year-text="{{product.metafields.crowdfunder.singular_year_text}}"
                data-plural-year-text="{{product.metafields.crowdfunder.plural_year_text}}"
                data-singular-month-text="{{product.metafields.crowdfunder.singular_month_text}}"
                data-plural-month-text="{{product.metafields.crowdfunder.plural_month_text}}"
                data-singular-day-text="{{product.metafields.crowdfunder.singular_day_text}}"
                data-plural-day-text="{{product.metafields.crowdfunder.plural_day_text}}"
                data-hour-abbreviation-text="{{product.metafields.crowdfunder.hour_abbreviation_text}}"
                data-minute-abbreviation-text="{{product.metafields.crowdfunder.minute_abbreviation_text}}"
                data-second-abbreviation-text="{{product.metafields.crowdfunder.second_abbreviation_text}}"
                data-add-to-cart-button-selector="{{product.metafields.crowdfunder.add_to_cart_button_selector}}"
                data-hide-buy-button-at-end="{{product.metafields.crowdfunder.hide_buy_button_at_end}}"
                >
            {{timeLeft}}
          </span>
          {{remainingText}}
        </p>
        <p><span class='cf-percent-text'>{{percentPreSold}}</span>% {{fundedText}}</p>
      </div>
    </section>
  {% endif %}
{% endunless %}

