<div id="geolocate-redirect" style="display: none;">
  <div>
    <h3>Ordering from the UK?</h1>
  </div>
  <div>
    <p>Looks like you're visiting from the UK. Unfortunately you won't be able to buy anything from SEGA Shop US.</p>
  </div>
  <div class="redirect-btns">
    <a href="https://segashop.co.uk/">
      <button id="redirect-eu" class="ui-button ui-widget ui-corner-all">Continue to UK Shop</button>
    </a>
    <button id="redirect-us"class="ui-button ui-widget ui-corner-all">Continue to US Shop</button>
  </div>
</div>
