<ul class="list--inline pagination">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        <img data-sizes="auto" data-src="{{'pagination-left.png' | asset_url }}" class="lazyload">
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
        <img data-sizes="auto" data-src="{{'pagination-left.png' | asset_url }}" class="lazyload">
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </a>
    {% endunless %}
  </li>
  <li class="pagination__text">
    {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
  </li>
  <li>
    {% unless paginate.next.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        <img data-sizes="auto" data-src="{{'pagination-right.png' | asset_url }}" class="lazyload">
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </div>
    {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
        <img data-sizes="auto" data-src="{{'pagination-right.png' | asset_url }}" class="lazyload">
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </a>
    {% endunless %}
  </li>
</ul>
