<form action="/search" method="get" role="search">
  <input class="search-header__input search__input"
    type="search"
    name="q"
    placeholder="{{ 'general.search.placeholder' | t }}"
    aria-label="{{ 'general.search.placeholder' | t }}">
<!--   <button class="search-header__submit search__submit btn--link" type="submit">
    {% include 'icon-search' %}
    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
  </button> -->
  <button type="button" class="btn--link site-header__search-toggle">
    {% include 'icon-search' %}
    <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
  </button>
</form>
