/* Global =================================================================*/

body {
  background-image: url({{ 'background-body.jpg' | asset_url }});
  background-color: #000;
  background-size: cover;
}

#fantastic-beasts {
  #MainContent {
    background-image: url({{ 'collection-background-fb.jpg?v2' | asset_url }});
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.image-link {
  display: block;
  line-height: 0;
}

/* Announcements ==========================================================*/

.theme-announcements {
  @include gradient($colorAlternate, darken($colorAlternate, 1%), top);
  p {
    font-family: 'magorianregular', serif;
    text-transform: uppercase;
    font-size: $h2Base;
    color: lighten($colorBrand, 20%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

/* Header =================================================================*/

.logo {
  margin: $gutter/10 0;
  line-height: 1;
  @include l() {
    top: auto;
    margin: $gutter/10 0;
  }
}

.utility-bar {
  @include ml() {
    min-height: 75px;
  }
}

.cart-content {
  font-size: $h6Base;
}

.theme-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  .form-search {
    background-color: $colorBackground;
    border-radius: $borderRadius;
    input {
      background-color: $colorBackground;
      &.snize-input-style {
        float: left;
      }
    }
  }
}

/* Footer ====================================================================*/

.index-footer {
  img {
    width: 100%;
  }
}

.theme-footer {
  a.details-link, a.footer-link {
    color: $colorBrand;
    font-size: $pBase;
    text-transform: none;
  }
  a.footer-link {
    font-weight: $fontRegular;
  }
  background-color: rgba(0, 0, 0, 0.3);
  padding: $gutter/3.33 0 $gutter;
  .menu-title {
    border-bottom: 0;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  ul {
    li {
      padding: 0;
      a  {
        font-size: $h4Base;
        font-weight: 600;
      }
    }
  }
  .disclaimer {
    p {
      margin-bottom: 0;
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}

/* Forms =================================================================*/

.form-search input[type="text"] {
  width: 80%;
}

.form-group {
  height: 30px;
  input {
    margin-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  button, .button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    line-height: 34px;
    border: solid 1px;
    border-color: rgba(255, 220, 120, 0.25);
  }
}

/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  padding: $gutter/4;
  .hero-slideshow-inner {
    padding: $gutter/4;
    background-image: url('{{ 'background-index-slideshow.jpg' | asset_img_url: '1000x' }}');
    .slick-slider {
      margin-bottom: 0px;
    }
    @include l() {
      border: 0;
    }
  }

  .thumbnails {
    margin: 0;
    margin-top: -4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 $colorForeground;
    font-weight: $fontBold;
    .thumbnail {
      padding: 0;
      .ratio {
        margin: $gutter/5;
      }
      p {
        margin: $gutter/5 0;
        text-transform: none;
      }
      &.active, &:hover {
        @include gradient(#713130, darken(#713130, 10%), top);
        p {
          color: $colorForeground;
          text-shadow: 1px 1px 0 $colorText;
        }
      }
    }
  }
}

.index-section-featured-text {
  p {
    color: $colorBackground;
  }
}

.mobile-tab-menu {
  [data-tab-toggle] {
    background: $colorForeground;
    color: $colorText;
    &:active {
      background: darken($colorForeground, $hoverAmount);
    }
    &.active {
      background: $colorAlternate;
      color: $colorBrand;
      &:after {
        background: transparent;
      }
      &:active {
        background: darken($colorAlternate, $hoverAmount);
      }
    }
  }
  [data-tab-content] {
    padding: 0;
    background-color: $colorAlternate;
    border: 3px solid $colorText;
    border-top: 0px;
    border-radius: 0 0 6px 6px;
    width: 100%;
    color: $colorBackground;
    a:not(.button) {
      color: $colorBackground;
      display: block;
    }
    li {
      padding: $gutter/10 $gutter/4;
      border-bottom: solid 1px #fff;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  a {
    padding: $gutter/10 0;
    border: 0;
    text-transform: uppercase;
    position: relative;
    &[data-accordion-toggle] {
      &:after {
        content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="16,10 12,14 8,10 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="10,8 14,12 10,16 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
    }
  }
  [data-accordion-content] {
    border: 0;
    a {
      border: 0;
    }
  }
}

/* Navigation =============================================================*/

nav.breadcrumb {
  color: $colorBrand;
}

.theme-nav-primary {
  margin-bottom: 0px;
  > ul {
    li {
      margin-right: 0;
      &:last-of-type {
        margin-right: 0;
      }
      & + li.primary {
        &:before {
          content: "";
          position: absolute;
          height: $gutter/4;
          width: $borderWeight;
          background-color: $colorBrand;
          display: inline-block;
          margin-left: 0;
          margin-right: 0;
          margin-top: 4px;
        }
      }
    }
  }
  .dropdown {
    position: relative;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:last-child {
      .dropdown-menu {
        right: 0;
      }
    }
    .dropdown-menu {
      display: none;
      padding: $gutter/2 0;
      position: absolute;
      top: 1.85rem;
      z-index: 2;
      width: $gutter*3.14;
      border: 0;
      background: $colorBorder url('{{ 'background-shop-by-character.jpg' | asset_url }}');
      background-size: 100% auto;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: (($gutter*3)*$i);
          &:before {
            background: url('{{ 'scroll_top_category.png' | asset_url }}');
            background-size: contain;
            background-repeat: no-repeat;
          }
          &:after {
            background: url('{{ 'scroll_bottom_category.png' | asset_url }}');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      &:before {
        background: url('{{ 'scroll_top_category_small.png' | asset_url }}');
        background-size: 100%;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 12px;
        left: -5px;
        right: -7px;
        position: absolute;
        top: -5px;
      }
      &:after {
        background: url('{{ 'scroll_top_category_small.png' | asset_url }}');
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: -5px;
        content: '';
        display: block;
        height: 12px;
        left: -5px;
        right: -7px;
        position: absolute;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorBorder;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        a {
          display: block;
          padding: $gutter/10 $gutter/2 $gutter/10 $gutter/3.33;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          color: $colorText;
          &:hover {
            background-color: $colorAlternate;
            color: $colorBrand;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        margin-bottom: -$gutter/5;
        a {
          display: block;
        }
      }
    }
  }
}

.theme-nav-secondary {
  > ul {
    li {
      margin-right: 9px;
    }
  }
  .shop-by-character {
    margin: 0 $gutter/4;
    .theme-nav-character {
      margin-bottom: $gutter/10;
      li {
        margin-right: 17.5px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .dropdown .dropdown-menu {
      width: 689px;
      padding: $gutter/2 $gutter;
      border: 0;
      // position: relative;
      transform: translateX(36%);
      background: url('{{ 'background-shop-by-character.jpg' | asset_url }}');
      background-size: 100% auto;
      .character {
        display: inline-block;
      }
      &:before {
        background: url('{{ 'scroll_characters_top.png' | asset_url }}');
        content: '';
        width: 717px;
        top: -8px;
        left: -14px;
        position: absolute;
        height: $gutter/2;
        display: block;
      }
      &:after {
        bottom: -8px;
        left: -14px;
        background: url('{{ 'scroll_characters_bottom.png' | asset_url }}');
        width: 717px;
        display: block;
        position: absolute;
        height: $gutter/2;
        content: '';
      }
    }
  }
}

.tertiary-menu {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1;
  li {
    font-size: $h6Base;
    position: relative;
    a {
      color: $colorBrand;
    }
    & + li {
      &:before {
        content: "|";
        margin-left: $gutter/10;
        margin-right: $gutter/10;
        font-size: $h6Base;
        color: $colorForeground;
      }
    }
  }
}

.cart-info {
  line-height: 1;
}

// Tabbed content
[data-tab-toggle] {
  position: relative;
  display: inline-block;
  padding: $gutter/7 $gutter/5;
  color: $colorBrand;
  background-image: url('{{ 'background-variant-table.jpg' | asset_url }}');
  @include prefixer(user-select, none, webkit moz ms spec);
  border: $borderWeight $borderStyle darken($colorBorder, $hoverAmount);
  border-bottom: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  vertical-align: bottom;
  font-size: $h6Base;
  font-weight: $fontBold;
  line-height: 1;
  text-transform: uppercase;
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-image: url('{{ 'background-variant-table.jpg' | asset_url }}');
  }
  &.active {
    color: $colorText;
    @include gradient($colorForeground, $colorForeground, top);
    &:after {
      background-color: $colorForeground;
    }
  }
}
[data-tab-content] {
  display: none;
  border: $borderWeight $borderStyle darken($colorBorder, $hoverAmount);
  padding: $gutter/5;
  background-color: $colorForeground;
  color: $colorText;
  a:not(.button) {
    color: $colorText;
  }
  &.active {
    display: block;
  }
}

/* Sections =============================================================*/

.index-section-featured-links {
  .column {
    background-image: url('{{ 'section-featured-links-bg.jpg' | asset_url }}');
    background-size: 100%;
    padding: 10px 17px;
    margin: 15px 0;
  }
}

/* Search ============================================================*/

.snize.snize-search-results {
  div.snize-search-field {
    input.snize-search-input {
      color: $colorForeground !important;
    }
    button {
      background-image: url({{ 'button-search.png' | asset_url }}) !important;
    }
  }

  div.slider-container.snize-theme .scale ins {
    color: $colorForeground;
  }

  .snize-search-results-content {
    background-image: url({{ 'background-collection-content.jpg' | asset_url }}) !important;
    background-size: 100%;
    background-color: #E7DDBF !important;
    padding: $gutter/4 !important;
    hr {
      border-color: $colorText !important;
    }
    a {
      color: $colorText !important;
    }
    .snize-product {
      color: $colorText !important;
      .snize-title {
        font-weight: $fontBold !important;
        color: $colorText !important;
      }
      .snize-price-list {
        color: $colorText !important;
      }
    }
  }

  div.snize-pagination ul li {
    a, span {
      color: $colorForeground !important;
      &:hover, &.active {
        background-color: $colorForeground !important;
        color: $colorText !important;
      }
    }
  }
}

/* Collection ============================================================*/

.template-collection {
  aside {
    color: $colorForeground;
    border-right: 0px;
    a {
      color: $colorBrand;
    }
  }
  .product-title {
    font-weight: $fontBold;
  }
  .collection-content {
    background-image: url({{ 'background-collection-content.jpg' | asset_url }});
    background-color: #E7DDBF;
    padding: $gutter/4;
    hr {
      border-color: $colorText;
    }
    a {
      color: $colorText;
    }
  }
}

/* Product ================================================================*/

#TabProductVideos {
  padding: 0px;
}

.template-product {
  color: $colorForeground;
  .p-w-r a {
    color: $colorBrand;
    &:hover {
      color: darken($colorBrand, 10%);
    }
  }

  .variant-table {
    @include ml() {
      border: $borderStyle $borderWeight $colorBrand;
      .row {
        padding: 0 $gutter/10;
        background-color: $colorForeground;
        color: $colorText;
        &:first-child {
          background-image: url('{{ 'background-variant-table.jpg' | asset_url }}');
          background-color: rgba($colorBrand, 0.15);
          color: $colorBrand;
        }
      }
    }
  }
}

/* Buttons ================================================================*/


/* Reviews ================================================================*/


/* =============================================================================
   Snize Override
============================================================================= */

html .snize-title {
  max-height: 6.8em !important;
  -webkit-line-clamp: 6 !important;
  height: 6.8em !important;
}

html #snize-search-results-grid-mode span.snize-overhidden {
  max-height: 10.8em !important;
}