
.bold-modal {}

.bold-modal__window {
  border-radius: unset;
}

.bold-modal__btn-close {}

.bold-modal__btn-close:hover {}


.bold-modal__header {}

.bold-modal__content {
  font-family: 'StreetB-Medium', Arial, sans-serif;
}

.bold-modal__header+.bold-modal__content {}

.bold-modal__content:last-child {}

.bold-modal__footer {}


/* Showing and Hiding the Modal */
div.bold-modal--is-showing {}

div.bold-modal--is-showing .bold-modal {}

/* Transitions and Animations */
.bold-modal--animated {}

.bold-modal--animated .bold-modal__window {}

div.bold-modal--is-showing .bold-modal--animated {}

div.bold-modal--is-showing .bold-modal--animated .bold-modal__window {}


@media only screen and (min-width: 499px) {
    .bold-modal {}

    .bold-modal__window {}

    .bold-modal--animated {}

    .bold-modal--animated .bold-modal__window {}
}

@media only screen and (min-width: 879px) {
    .bold-modal__window {}
}

/* bold.grid.css */
.bold-grid {}

.bold-grid:after {}

.bold-grid__column {}


@media only screen and (min-width: 499px) {
    .bold-grid__column {}

    .bold-grid__column--half,
    .bold-grid__column--third,
    .bold-grid__column--quarter {}

    .bold-grid__column--third:first-child {}
}

@media only screen and (min-width: 599px) {
    .bold-grid__column--third,
    .bold-grid__column--third:first-child {}
}

@media only screen and (min-width: 739px) {
    .bold-grid__column--quarter {}
}
/* bold.grid.css */

/* bold.product.css */
.bold-product {
  border: none;
}

.bold-product__image-container {
  order: 1;
}

.bold-product__details {
  order: 2;
}

.bold-product-upsell__actions {
  order: 3;
}

.bold-product__image {}

.bold-product__control {

}

.bold-product__variant-selector {}
/* bold.product.css */

/* bold.upsell.css */
.bold-upsell {}

.bold-upsell__intro {
  font-family: 'StreetB-Medium', Arial, sans-serif;
}

.bold-upsell__products-list {}

.bold-upsell__products-list .bold-grid__column {}

.bold-upsell__actions {}

.bold-upsell__button {}
/* bold.upsell.css */



/* =============================================================================
  MODAL STYLES
============================================================================= */
.bold-modal {}

.bold-modal__window {}

.bold-modal__header {}

.bold-modal__footer {}


/* =============================================================================
  UPSELL STYLES
============================================================================= */
.bold-upsell {}

.bold-upsell__intro {}

.bold-upsell__intro-heading {}

.bold-upsell__button--primary:link,
.bold-upsell__button--primary:visited,
.bold-upsell__button--primary:hover,
.bold-upsell__button--primary:active,
.bold-upsell__button--primary:focus {}

.bold-upsell__button--primary {
  font-family: 'StreetB-Regular', Arial, sans-serif;
  background-color: #17aedb;
  color: #fff !important;
  border-radius: 2px;
  border: 1px solid transparent;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.bold-upsell__button--primary:hover {
  opacity: 0.9;
}

.bold-upsell__button--primary:active {
  opacity: 0.9;
}

.bold-upsell__button--secondary {
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #17aedb !important;
  font-family: 'StreetB-Regular', Arial, sans-serif;
  text-decoration: underline;
}


/* =============================================================================
  PRODUCT STYLES
============================================================================= */
.bold-product {
  display: flex;
  flex-direction: column;
}

.bold-product.bold-grid {}

.bold-product__info,
.bold-product__variants,
.bold-product__actions {}

.bold-product__pricing {}

.bold-product__title {
  font-size: 16px;
  text-transform: uppercase;
}

.bold-product__description {}

.bold-product__price {
  font-size: 110%;
}

.bold-product__price--deleted {}

.bold-product__control {}

.bold-product__variant-selector {}

.bold-product__actions {
  background-color: #17aedb;
  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
}

.bold-product__button,
.bold-product__button:link,
.bold-product__button:visited,
.bold_product__button:hover,
.bold_product__button:active,
.bold_product__button:focus {}

.bold-product__button:hover {}

.bold-product__button:active {}

.bold-product__button {
  border: none;
  font-family: 'StreetB-Regular', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
/* =============================================================================
  THIRD PARTY APPS STYLES
============================================================================= */

#bold-upsell-modal-window .yotpo {}






