{%- assign recommendation_container = settings.evergage_product_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = 'body #MainContent' %}
{% endif %}
$(function() {
    var __product_info = undefined; 
    if ($('#pdp-product-info').length > 0) {
    __product_info = JSON.parse($('#pdp-product-info').html()); 
    }
    var productDefinitions = {
        "_id": __product_info._id,
        "name": __product_info.name,
        "description": __product_info.description,
        "imageUrl": __product_info.image_url,
        "url": __product_info.url,
        "currency": __product_info.currency,
        "categories": "",
        "listPrice": __product_info.listPrice,
        "price": __product_info.price
    }; 
    $('body').append("<div class='Evergage_ProductDefinition' id='Evergage_ProductDefinition'></div>");
    for (var productDefinitionKey in productDefinitions) {
        $('#Evergage_ProductDefinition').append("<span id=" + productDefinitionKey + ">" + productDefinitions[productDefinitionKey] + "</span>");
    }
    $('{{ recommendation_container }}').append("<div id=\"Evergage_ProductRecommendation\" class=\"shopify-section\"></div>");
});
