.order-summary__sections { 
	.order-summary__section {
		&.order-summary__section--discount { 
			.order-summary-discount-notification {
				margin-bottom: 10px; 
				
				a {
					color: #000; 
					text-decoration: underline; 
				}
			} 

			.order-summary-discount-popup { 
				border: 2px solid #000;
			    border-radius: 2px;
			    position: fixed;
			    z-index: 1000;
			    background: white;
			    width: 320px;

				&.visually-hidden { 

				}  

				p {
					color: #000; 
					padding: 16px 16px 5px;  
				} 

				a {
					display: block; 
					text-transform: uppercase; 
					border: 5px solid #000; 
					width: 36px; 
					border-radius: 3px; 
					margin: 0px auto 10px;  
					text-align: center; 
					color: #000; 
					font-weight: 600; 
					padding: 5px; 
					cursor: pointer; 
				}
			} 
		} 
	}
}

div[data-step="payment_method"] {
	.section--reductions {
		.section__content {
			&> div {
				.order-summary-discount-notification {
					margin-bottom: 10px; 
					
					a {
						color: #000; 
						text-decoration: underline; 
					}
				} 

				.order-summary-discount-popup { 
					border: 2px solid #000;
				    border-radius: 2px;
				    position: fixed;
				    z-index: 1000;
				    background: white;
				    width: 320px;

					&.visually-hidden { 

					}  

					p {
						color: #000; 
						padding: 16px 16px 5px;  
					} 

					a {
						display: block; 
						text-transform: uppercase; 
						border: 5px solid #000; 
						width: 36px; 
						border-radius: 3px; 
						margin: 0px auto 10px;  
						text-align: center; 
						color: #000; 
						font-weight: 600; 
						padding: 5px; 
						cursor: pointer; 
					}
				}
			}
		} 
	}
} 
