<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="_7lAN71ustnleiztGg3_pNItE4j3fTQ56cdN4kcU65E" />
  <meta name="google-site-verification" content="7k_sRSRjzhVFerdlcOI-9XkDeX3UJZc5ss_A9IPvZsM" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
  {{ 'crowdfunder.scss.css' | asset_url | stylesheet_tag }}
  {{ 'consent-manager.css' | asset_url | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
  <style>
  .ajaxified-cart-feedback {
    display: block;
    line-height: 36px;
    font-size: 90%;
    vertical-align: middle;
  }
  .ajaxified-cart-feedback.success {
    color: #3D9970;
  }
  .ajaxified-cart-feedback.error {
    color: #FF4136;
  }
  .ajaxified-cart-feedback a {
    border-bottom: 1px solid;
  }
  </style>

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}


  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery-3.3.1.min.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'jquery-3.3.1.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'jquery-ui.min.js' | asset_url }}"></script><![endif]-->
  {{ 'free-gifts.js' | asset_url | script_tag }}

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'modules.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'modules.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'cj-event-storage.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'cj-event-storage.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'ajaxify-cart.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'ajaxify-cart.min.js' | asset_url }}"></script><![endif]-->

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  {% if template == "product" %}
  <script type="text/javascript" defer="defer" src="{{ 'pdp-script.min.js' | asset_url }}"></script>
  {% endif %}
  {% if template == "collection" or template == "collection.full-width" or template == "collection.for" or template == "collection.gateway.snc" or template == "collection.mania" or template == "collection.sidebar" or template == "collection.snc-fullwidth" or template == "collection.snc" %}
  <script type="text/javascript" defer="defer" src="{{ 'collection-script.min.js' | asset_url }}"></script>
  {% endif %}

  {{ content_for_header }}


  {% include 'sca.freegifts' %}

  {% include 'consent-management' %}
  <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SzjYcT"></script>
</head>
<body class="template-{{ template | split: '.' | first }} template-{{ template | split: '.' }}
  {% if product.tags contains "Show_Sonic The Hedgehog" %} template-product-snc {% endif %}">
  <div id='woobox-root'></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//woobox.com/js/plugins/woo.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'woobox-sdk'));</script>
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  {% section 'header' %}
  <div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>
  {% section 'free-gifts' %}
  {% include 'subscription-theme-footer' %}
  {% include 'swymSnippet' %}
  {% include 'geolocation-redirect' %}


  <style type="text/css"> 
    .btn-klaviyo{
      background-color: #052d73;
      margin-left: 5px !important; 
      color: #fff;
      padding: 10px;
      border-radius: 2px;
      width: 290px !important;
      display: inline-block; 
    } 
  </style>
  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "SzjYcT",
      platform: "shopify",
      exclude_on_tags: "NLA-ITEM" });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn-klaviyo",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false},
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#052d73",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"}});
  </script>

</body>
</html>
