{% layout none %}
{% assign product_tags = '' %}
{% assign out_put = '' %}
{% paginate collection.products by collection.all_products_count %}
<h1>{{ collection.all_products_count }}</h1>
<h2>{{ collection.products | size }}</h2>
{% comment %}{% for product in collection.products %}
	<h1><i>{{ forloop.index0 }}</i>--{{ product.tags | join: ',' }}</h1>
	<h2><i>{{ collection.products[forloop.index0].title }}</i></h2>
	{% capture product_tags %}{{ product_tags }}{% if product_tags != '' %},{% endif %}{{product.tags | join:','}}{% endcapture %}
{% endfor %}{% endcomment %}
{% for _i in (0..collection.all_products_count) %}
	<h1><i>{{ _i }}</i>--{{ collection.products[_i].tags | join: ',' }}</h1>
	<h2><i>{{ collections['10-20'].products | size }}</i></h2>
	{% comment %}{% capture product_tags %}{{ product_tags }}{% if product_tags != '' %},{% endif %}{{product.tags | join:','}}{% endcapture %}{% endcomment %}
{% endfor %}
{% assign all_products_tags_collection = collection.products | map: 'tags' | join: ',' %}
{% assign unique_tags = all_products_tags_collection | unique %}

<h2>{{ unique_tags }}</h2>
<h3>{{ collection.all_tags | join: ',' }}</h3>

{% for _tag in collection.all_tags %}
	{% assign __nt = all_products_tags_collection | remove: _tag | size %}
	{% assign __diff = all_products_tags_collection | size | minus: __nt %}
	{% assign _tag_size = _tag | size %}
	{% assign _tag_count = __diff | divided_by: _tag_size %}
	{% capture out_put %}{{out_put}},{{ _tag | handleize }}:{{ _tag_count }}{% endcapture %} 
	<h1><b>{{ _tag }}</b>--<b>{{ __nt }}</b>--<i>{{ __diff }}</i>--{{ _tag_count }}</h1>
{% endfor %}
{{ out_put | split: ',' | json }}

{% endpaginate %}


 