{% layout none %}
{% assign out_put = '' %}
{% paginate collection.products by collection.all_products_count %}

{% assign all_products_tags_collection = collection.products | map: 'tags' | join: ',' %}

{% for _tag in collection.all_tags %}
	{% assign __nt = all_products_tags_collection | remove: _tag | size %}
	{% assign __diff = all_products_tags_collection | size | minus: __nt %}
	{% assign _tag_size = _tag | size %}
	{% assign _tag_count = __diff | divided_by: _tag_size %}
	{% capture out_put %}{{out_put}},{{ _tag | handleize }}:{{ _tag_count }}{% endcapture %} 
{% endfor %}
{{ out_put | split: ',' | json }}

{% endpaginate %}

