<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,footer-menu,categories-menu,more-characters,shop-by-title' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}
{% assign collection_houses = 'game-of-thrones,' %} 
{% assign collection_characters = 'game-of-thrones,' %}

{%- assign is_gift_collection = false %}
{% for _gift_navigation in linklists['gift-guide-navigation'].links %}{% if _gift_navigation.url == collection.url %}{%- assign is_gift_collection = true %}{% break %}{% endif %}{% endfor %} 

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}
{% if supplied_link_list != blank %}
{% assign collection_links = linklists[supplied_link_list] %} 
{% else %}
{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %} 
  {% if collection_links_avoid contains linklist_handle %} 
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | replace: '&', 'and' | remove: 'Collection ' %}
{% assign linklist_title_handle = linklist.title | replace: '&','' | handleize %}
  {% if linklist_title == collection.title or linklist_title_handle == collection.handle %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}
{% endif %}

{% comment %}{% if collection_links.links.size == 0 or collection_links == blank %}
  {% include 'collection-filters' %}
{% endif %}{% endcomment %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% if collection_links.links.size > 0 %}
  <div class="collection-links s-hide{% if collection_houses contains collection.handle %} houses-collection-links{% endif %}{% if collection_characters contains collection.handle %} characters-collection-links{% endif %}">
    <h1 class="t-uppercase no-margin">{{ collection_links.title | remove: 'Collection ' | remove: '--' }}</h1>
    <ul class="sublinks">
      {% if collection.title == 'Game of Thrones' %}
        {%- assign collection_links = linklists['game-of-thrones'] %}
      {% endif %}
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

        <li>
          {% if link.url == '/' %}
            <h4 class="no-margin w-normal t-uppercase">{{ link.title }}</h4>
          {% else %}
            <a class="nav-link no-decoration{% if link.active %} active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endif %}
          {% if link.active %}{% assign collection_title = link.title %}{% endif %}
        </li>

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
      {% if collection_houses contains collection.handle or collection_characters contains collection.handle %}
      <h4 class="t-uppercase houses-links border-top">{{ linklists['houses'].title }}</h4>
        <ul class="sublinks">
        {% for house_link in linklists['houses'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ house_link.url }}" title="{{ house_link.title }}">{{ house_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      <h4 class="t-uppercase houses-links characters-links border-top">{{ linklists['characters'].title }}</h4>
        <ul class="sublinks">
        {% for character_link in linklists['characters'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ character_link.url }}" title="{{ character_link.title }}">{{ character_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if supplied_link_list != blank %} 
      <h4 class="t-uppercase houses-links border-top">{{ linklists['gift-guide-shop-by-price'].title }}</h4>
        <ul class="sublinks">
        {% for shop_price_link in linklists['gift-guide-shop-by-price'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ shop_price_link.url }}" title="{{ shop_price_link.title }}">{{ shop_price_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      <h4 class="t-uppercase houses-links characters-links border-top">{{ linklists['gift-guide-shop-by-show'].title }}</h4>
        <ul class="sublinks">
        {% for shop_show_link in linklists['gift-guide-shop-by-show'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ shop_show_link.url }}" title="{{ shop_show_link.title }}">{{ shop_show_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
    <div class="margin-bottom-2x"></div>
    {% include 'collection-filters' %}
  </div>
{% elsif collection_links.links.size == 0 or collection_links == blank %}
  <div class="collection-links s-hide{% if collection.handle contains 'game-of-thrones' %} houses-collection-links characters-collection-links{% endif %}">
     {% capture collections_yaml %}
     {%- include 'collections-yaml' -%}
     {% endcapture %}
     {% if linklists['main-menu-sample'].links != blank %} 
     {% assign category_navigation = linklists['main-menu-sample'].links[2] %}
     {% assign shows_navigation = linklists['main-menu-sample'].links[1] %}
     {% endif %}
     {% assign parent_collection = blank %}
     {% if collections_yaml != blank %}
     {% assign ext_collections = collections_yaml | newline_to_br | split: "<br />" %}
     {% endif %}
     {% if category_navigation != blank and ext_collections != blank %}
     {% for collection_handle in ext_collections %}
        {% assign collection_data = collection_handle | split: ":" %}
        {% assign sub_collections = collection_data[1] | split: "," %}
        {% for sub_collection in sub_collections %}
            {% assign sub_collection_handle = sub_collection | strip %}
            {% if sub_collection_handle == collection.handle %}
              {% assign parent_collection = collection_data[0] | convert: "string" | strip %}
              {% break %}
            {% endif %}
        {% endfor %}
        {% if parent_collection != blank %}
         {% break %}
        {% endif %}
     {% endfor %}
     {% endif %}
      {% if parent_collection != blank %}
       {%- assign parent_list = blank -%}
       {% for link in category_navigation.links %}
        {% assign link_handle = link.handle | strip %}
        {% if link_handle == parent_collection %}
          {% assign parent_list = link.handle %}
     <h4 class="t-uppercase no-margin">{{ link.title }}</h4>
     <ul class="sublinks">
          {% for sub_link in link.links %}
          <li {% if sub_link.url == collection.url %}class="current-collection"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
          {% endfor %}
     </ul>
          {% break %}
        {% endif %}
       {% endfor %}
       {% if parent_list == blank %}
        {% for link in shows_navigation.links %}
          {% capture show_name %}{{ link.handle }}{% endcapture %}
          {% assign show_name_handle = show_name | strip | append: '-' %}
          {% if show_name == parent_collection %}
      <h4 class="t-uppercase no-margin">{{ link.title }}</h4>
      <ul class="sublinks">
            {% if linklists[show_name].links != blank %}
              {% for llink in linklists[show_name].links %}
                <li {% if llink.url == collection.url %}class="current-collection"{% endif %}><a href="{{ llink.url}}">{{ llink.title }}</a></li>
              {% endfor %}
            {% endif %}
      </ul>
          {% endif %}
        {% endfor %}
       {% endif %} 
       {% if parent_list == blank%}
       {% assign got_navigation = linklists['main-menu-sample'].links[0] %} 
       {% if parent_collection == 'game-of-thrones' %}
       <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
        {%- assign parent_list = got_navigation %} 
       <ul class="sublinks">
        {% for __link in parent_list.links %}
          {% if __link.url == collection.url and __link.links != blank %}
            {%- assign parent_list = __link %}
          {% endif %}
        {% endfor %}
        {% for __link in parent_list.links %} 
            <li {% if __link.url == collection.url %}class="current-collection"{% endif %}><a href="{{ __link.url }}">{{ __link.title }}</a></li>
        {% endfor %} 
       </ul>
       {% else %}
        {% for link in got_navigation.links %}
          {% assign link_handle = link.handle | strip | prepend: 'game-of-thrones-' %} 
          {% if link_handle == parent_collection %}
            {% assign parent_list = link.handle %}
       <h4 class="t-uppercase no-margin">{{ link.title }}</h4>
       <ul class="sublinks">
            {% for sub_link in link.links %}
            <li {% if sub_link.url == collection.url %}class="current-collection"{% endif %}><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
            {% endfor %}
       </ul>
            {% break %}
          {% endif %}
        {% endfor %} 
        {% endif %}
       {% endif %}
      {% else %} 
      <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
      {% endif %}
      
      {% if parent_collection contains 'game-of-thrones' %} 
      <h4 class="t-uppercase houses-links border-top">{{ linklists['houses'].title }}</h4>
        <ul class="sublinks">
        {% for house_link in linklists['houses'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ house_link.url }}" title="{{ house_link.title }}">{{ house_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      <h4 class="t-uppercase houses-links characters-links border-top">{{ linklists['characters'].title }}</h4>
        <ul class="sublinks">
        {% for character_link in linklists['characters'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ character_link.url }}" title="{{ character_link.title }}">{{ character_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if supplied_link_list != blank or is_gift_collection == true %} 
        <ul class="sublinks">
        {% for _gift_guide_link in linklists['gift-guide'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ _gift_guide_link.url }}" title="{{ _gift_guide_link.title }}">{{ _gift_guide_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if supplied_link_list != blank or is_gift_collection == true %} 
      <h4 class="t-uppercase houses-links border-top">{{ linklists['gift-guide-shop-by-price'].title }}</h4>
        <ul class="sublinks">
        {% for shop_price_link in linklists['gift-guide-shop-by-price'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ shop_price_link.url }}" title="{{ shop_price_link.title }}">{{ shop_price_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      <h4 class="t-uppercase houses-links characters-links border-top">{{ linklists['gift-guide-shop-by-show'].title }}</h4>
        <ul class="sublinks">
        {% for shop_show_link in linklists['gift-guide-shop-by-show'].links %}
        <li>
          <a class="nav-link no-decoration" href="{{ shop_show_link.url }}" title="{{ shop_show_link.title }}">{{ shop_show_link.title }}</a>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
     {% include 'collection-filters' %}
  </div>
{% else %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
  </div>
{% endif %}