{% unless product != blank and product.tags contains 'PDPLITE' %}
{% if settings.evergage_enabled and settings.evergage_account_code and settings.evergage_dataset_code %}
  <script type="text/javascript" src="//cdn.evgnet.com/beacon/{{ settings.evergage_account_code }}/{{ settings.evergage_dataset_code }}/scripts/evergage.min.js" async="async"></script>

  {% case template %}
    {% when "product" %}
      {% if settings.evergage_display_product_page %}
      {% include 'evergage-product' %}
      {% endif %}
    {% when "cart" %}
      {% if settings.evergage_display_cart_page %}
      {% include 'evergage-cart' %}
      {% endif %}
    {% else %}
    
  {% endcase %}

{% endif %} 
{% endunless %}
