<ul class="list--inline pagination" data-collection-handle="{{collection.handle}}">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </a>
    {% endunless %}
  </li>
  {% if collection.handle == 'best-sellers-all' %}
  {% assign page_limit = 2 %}
  {% else %}
  {% assign page_limit = paginate.pages %}  
  {% endif %}
  {% for i in (1..page_limit)%}
  
  {% if page_limit > 7 %}
    {% assign _diff = paginate.pages | minus:i %}
    {% assign _curr_diff = paginate.current_page | minus:i | abs %}
    {% if i < 4 or _diff < 3 or _curr_diff < 2 %}
    <li class="pagination__text{% if paginate.current_page == i %} current--page{% endif %}">
      <a href="?page={{i}}">{{i}}</a>
    </li>
    {% elsif _diff == 5 or _curr_diff == 2 %}
    <li class="pagination__text">
      <a href="">...</a>
    </li>
    {% endif %}
  {% else %}
  <li class="pagination__text{% if paginate.current_page == i %} current--page{% endif %}">
    <a href="?page={{i}}">{{i}}</a>
  </li>
  {% endif %}
  {% endfor %}
  <li>
    {% unless paginate.next.is_link %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
    {% else %}
      {% if collection.handle == 'best-sellers-all' and paginate.current_page == 2 %}
      <div class="btn btn--secondary btn--narrow btn--disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
      {% else %}
      <a href="{{ paginate.next.url }}" class="btn btn--secondary btn--narrow">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </a>
      {% endif %}
    {% endunless %}
  </li>
</ul>
