{% if settings.password_validation_enabled %} 
{{ 'password-validation.scss.css' | asset_url | stylesheet_tag }}
<script type="text/javascript" src="{{ 'password-validation.js' | asset_url }}" defer="defer"></script> 
{% endif %}
