<!-- /snippets/popup-Quickview.liquid -->

<div id="PopupQuickview" class="quickview-popup" >
  <div class="quickview-container">
  </div>
</div>

<script type="text/javascript" src="{{ 'popup-quickview.min.js' | asset_url }}" defer="defer"></script> 
