<!--snippets/product-tags.liquid--> 
{%- assign custom_tag = settings.custom_sales_tag_tag | strip %} 
{% if settings.custom_tag_enabled and product.tags contains custom_tag %}
 <span class="product-tag-label product-tag__custom{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
{% elsif product.tags contains 'SOLDOUT' %}
 <span class="product-tag-label product-tag__soldout-label">Sold Out</span>
{% elsif product.tags contains '1EXCLUSIVE' %}
 <span class="product-tag-label">Exclusive</span>
{% elsif product.tags contains '2BESTSELLER' %}
  <span class="product-tag-label">Best Seller</span>
{% elsif product.tags contains '3NEW' %}
  <span class="product-tag-label">New</span>
{% elsif product.tags contains 'ONSALE' or compare_at_price > price %}
  <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
{% elsif product.tags contains 'COMINGSOON' %}
  <span class="product-tag-label">Coming Soon</span>
{% endif %}