{% if section.settings.tier_pricing_tag != blank and product.tags contains section.settings.tier_pricing_tag %} 
{%- assign _pricing_file = product.metafields.sku.parent | downcase | append: '_qty_discount.txt' %} 
<div class="product-tier-pricing">
	<p>Save when you buy more than one!<span class="tooltip-mark">See details<span class="tooltip-text" data-include-content="{{ _pricing_file | file_url }}">{{ section.settings.tier_pricing_tooltip_text}}</span></span></p>
</div>
{% endif %}
