<div id="shop-shows-tabs"> 
  {%- assign list = blank %}
  {% for _link_item in linklists[section.settings.main_linklist].links %}
    {% if _link_item.title contains 'Shop Shows' %}
      {%- assign list = _link_item %}
    {% endif %} 
  {% endfor %} 
  {% if list != blank %} 
    <div id="shop-shows-content">
      {% for link in list.links %}       
        {% capture sublink_title %}{{ link.handle }}{% endcapture %}
        {% if linklists[sublink_title].links != blank %}
          <div class="shop-shows-show-content" id="shop-shows-content-{{link.handle}}" {% if link == list.links.last %}style="display: flex;"{% endif %}>
            <div class="shop-shows-show-content-list">
              <div class="list-title">
                <a href="{{link.url}}">{{ link.title }}</a>
              </div>
                <ul>
                {% for llink in linklists[sublink_title].links %}
                  <li>
                    <a href="{{llink.url}}">{{ llink.title }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
