/* Drawer ====================================================================*/

.drawer {
  z-index: 9995;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: $gutter*1.5;
  @include transition-property(); // For legacy support
  @include prefixer(transition-duration, 0.3s, webkit moz spec);
  @include prefixer(transition-delay, 0.3s, webkit moz spec);
  &.from-left {
    top: 0 !important;
    left: 0;
    max-width: $s;
    @include prefixer(transform, translate3d(-100%, 0, 0), webkit moz ms o spec);
  }
  &.from-right {
    top: 0 !important;
    right: 0;
    max-width: $s;
    @include prefixer(transform, translate3d(100%, 0, 0), webkit moz ms o spec);
  }
  &.from-bottom {
    bottom: 0;
    max-height: $s;
    @include prefixer(transform, translate3d(0, 100%, 0), webkit moz ms o spec);
  }
  &.from-top {
    bottom: 0;
    max-height: $s;
    @include prefixer(transform, translate3d(0, -100%, 0), webkit moz ms o spec);
  }
  &.visible {
    @include prefixer(transform, translate3d(0, 0, 0), webkit moz ms o spec);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .drawer-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    text-align: center;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand;
        }
        .fill {
          fill: $colorBrand;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight;
          }
          .fill {
            fill: $colorHighlight;
          }
        }
      }
    }
  }
}
