/* Header ====================================================================*/

.logo {
  margin-bottom: 0;
  line-height: 1;
  @include s() {
    text-align: center;
  }
  @include l() {
    top: $gutter/10;
    margin: (-$gutter/50) 0 $gutter/10 (-$gutter/3.33);
  }
}

.theme-header {
  padding: $gutter/50 0;
  .checkout-link {
    line-height: 1;
    margin-left: $gutter/5;
  }
  @include sm() {
    background-color: $colorHighlight;
    background-image: none !important;
    padding: 0;
    .container {
      @include s() {
        padding: 0;
      }
      .menu-trigger {
        padding: $gutter/3.33;
        line-height: 1;
        &:hover {
          background-color: $colorForeground;
        }
        img {
          height: $gutter/2.5;
        }
      }
      .cart-link {
        position: relative;
        .cart-button {
          padding: $gutter/5;
          line-height: 1;
          &:hover {
            background-color: $colorForeground;
          }
          img {
            height: $gutter/1.78;
            line-height: 1;
          }
        }
        .item-count {
          position: absolute;
          top: 0;
          right: $gutter/25;
          [data-cart-item-count] {
            height: $gutter/2.5;
            width: $gutter/2.5;
            line-height: $gutter/2.5;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            overflow: hidden;
            font-size: $h5Base;
            font-weight: $fontBold;
            @include prefixer(box-shadow, 0 0 $gutter/2.5 0 rgba(#000, 0.5), webkit moz ms spec);
            @include gradient($colorBrand, darken($colorBrand, $hoverAmount), top);
            color: $colorHighlight !important;
          }
        }
      }
      .small-search-form {
        padding: 0 $gutter/3.33;
      }
      .form-search {
        margin-bottom: $gutter/5;
        text-align: center;
      }
    }
  }
}
