/* Popups ====================================================================*/

// Basic styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition();
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: $gutter;
    background-color: $colorBackground;
    color: $colorText;
    text-align: initial;
    cursor: default;
    white-space: initial;
    &.popup-header {
      background: $colorText url('popup-bg.jpg?v2') repeat-x;
      padding-top: $gutter/3.33;
      .popup-header-logo {
        padding-bottom: $gutter;
      }
    }
  }
  &.overlay {
    background: rgba(#000, 0.6);
    @include overlay();
    top: 0 !important;
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    &.bordered {
      .popup-content {
        background-color: $colorForeground;
        @include ml() {
          border: $borderWeight*3 $borderStyle $colorAlternate;
          border-radius: $borderRadius*2;
        }
      }
    }
    .popup-content {
      @include vertical-align();
    }
    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px), webkit moz ms spec);
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
    .icon {
      svg {
        .stroke {
          stroke: $colorBrand !important;
        }
        .fill {
          fill: $colorBrand !important;
        }
      }
    }
    &:hover {
      .icon {
        svg {
          .stroke {
            stroke: $colorHighlight !important;
          }
          .fill {
            fill: $colorHighlight !important;
          }
        }
      }
    }
  }
}

// Popup Address
.popup.popup-address {
  input[type="checkbox"] + label {
    color: $colorText;
  }
  @include ml() {
    .popup-content {
      overflow: initial;
    }
    .popup-close {
      top: -$gutter/3.33;
      right: -$gutter/3.33;
    }
  }
  @include s() {
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}

// EZP popups
#PopupEzPrints, #PopupEzPrintsAgreement {
  @include ml() {
    .popup-content {
      overflow: visible;
    }
    .popup-close {
      top: -$gutter/3.33;
      right: -$gutter/3.33;
    }
  }
}

#PopupEzPrints {
  .popup-content {
    @include s() {
      width: 100%;
      height: 100%;
      padding:  0;
    }
  }

  @include s() {
    .jspPane {
      &> div {
        width: 100% !important;
      }
    }
  }
}

#ezpBuilderWrapper {
  .ezp-assets-col-1, 
  .ezp-assets-col-2 {

    @include s() {
      width: 100% !important;
    }

    .ezp-media-asset {
      
      @include s() {
        width: 100% !important;
      }

      div {
        @include s() {
          width: 100%;
        }
      }
    }
  }
}

// Popup Cart
#PopupCart {
  .popup-inner {
    &:before {
      content: "";
      position: absolute;
      background-image: url(cart-bg--top.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: -$gutter/10;
      right: -$gutter/10;
      top: -$gutter/5;
      height: $gutter/3.33;
      z-index: 99999;
      user-select: none;
    }
    &:after {
      content: "";
      position: absolute;
      background-image: url(cart-bg--bottom.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: -$gutter/10;
      right: -$gutter/10;
      bottom: 0;
      height: $gutter/3.33;
      z-index: 99999;
      user-select: none;
    }
  }
  .popup-content {
    position: relative;
    background-color: $colorBorder;
    background-image: url(cart-bg.png);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 100%;
    padding: $gutter/1.5 $gutter/5 0;
    border: 0;
    .cart-item {
      margin-bottom: $gutter/5;
      & + .cart-item {
        border-top: $borderWeight solid darken($colorBackground, $hoverAmount);
        padding-top: $gutter/5;
      }
      .product-image {
        background-color: $colorForeground;
        margin-right: $gutter/5;
      }
      .sale_price {
        color: $colorError;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }
  }

  @include ml() {
    position: absolute;
    left: auto;
    right: $gutter/3.33;
    bottom: auto;
    top: 0;
    margin-top: $gutter;
    width: $gutter*9;
    height: auto;
    .popup-close {
      top: $gutter/8.33;
      right: $gutter/10;
    }
  }

  @include s() {
    background: rgba($colorText, 0.85);
    @include overlay();
    position: fixed;
    .popup-outside {
      @include overlay();
      z-index: 9998;
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      @include overlay();
      @include prefixer(transition-delay, $transitionDelay, webkit moz spec);
      @include transition();
    }
    .popup-content {
      padding-top: $gutter/3.33;
      @include vertical-align();
      .button {
        width: 100%;
      }
    }
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}

// Popup Quicklook
#PopupQuicklook {
  .tab-content {
    height: 362px;
    overflow-y: auto;
  }
  .popup-content {
    width: $s + $gutter;
    max-width: 100%;
    padding: $gutter/5;
    background-color: $colorForeground;
    outline: darken($colorBackground, $hoverAmount) solid $gutter/8.33;
    @include s() {
      padding-top: $gutter;
    }
    .popup-overflow {
      overflow: scroll;
      .product-zoom-overlay {
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        pointer-events: none;
        @include transition();
        opacity: 0;
        visibility: hidden;
        margin-right: $gutter/5;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-image {
        @include ml() {
          margin-right: $gutter/5;
        }
        border: $borderWeight $borderStyle darken($colorBorder, $hoverAmount);
        .zoomImg {
          cursor: all-scroll;
        }
      }
      .thumbnail {
        margin: $gutter/10 $gutter/10 0 0;
      }
      .tab-toggles {
        font-size: 0;
        @include s() {
          border-bottom: $borderWeight $borderStyle darken($colorBorder, $hoverAmount);
          margin-bottom: $gutter/3.33;
        }
        [data-accordion-toggle] {
          font-size: $h4Base;
          font-weight: $fontBold;
        }
        [data-accordion-content] {
          padding-bottom: $gutter/3.33;
          &.active {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
  @include ml() {
    .popup-content {
      overflow: visible;
    }
    .popup-close {
      top: -$gutter/3.33;
      right: -$gutter/3.33;
    }
  }
  @include s() {
    .popup-close {
      top: $gutter/5;
      right: $gutter/5;
    }
  }
}


#PopupSubscribe {
  .header {
    background: url({{ 'header-emailsignup.png' | asset_url }}) no-repeat;
    width: 505px;
    height: 42px;
    margin-bottom: $gutter/2;

  }
  .container {
    width: 505px;
  }
  .popup-content {
    border-radius: 3px;
    border: $borderStyle 1px #eee;
    background-color: #fff;
    color: $colorText;
    padding: 0px;
    @include prefixer(box-shadow, none, webkit moz spec);
    @include ml() {
      overflow: visible;
    }
  }
  .form-subscribe {
    margin-bottom: $gutter/2;
  }
  .popup-close {
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
  }
}

@include s(){
  #Popup_signup{
    display: none;
  }
}