<svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="30"
    viewBox="0 0 43 30"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs><rect id="a" width="43" height="30" rx="2"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#273E6D" xlink:href="#a"/><g transform="translate(10 8)" mask="url(#b)"><path fill="#FF5F00" d="M8.573 1.649h5.873v10.855H8.573z"/><path fill="#EB001B" d="M8.927 7.077a6.996 6.996 0 0 1 2.554-5.428A6.555 6.555 0 0 0 7.342.173C3.632.173.631 3.26.631 7.077c0 3.816 3.001 6.904 6.711 6.904a6.555 6.555 0 0 0 4.14-1.477c-1.548-1.246-2.555-3.222-2.555-5.427z"/><path fill="#F79E1B" d="M22.35 7.077c0 3.816-3 6.904-6.711 6.904a6.555 6.555 0 0 1-4.139-1.477c1.566-1.266 2.554-3.222 2.554-5.427A6.996 6.996 0 0 0 11.5 1.649 6.555 6.555 0 0 1 15.639.173c3.71 0 6.712 3.106 6.712 6.904z"/></g></g>
  </svg>