<svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="30"
    viewBox="0 0 43 30"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs><rect id="a" width="43" height="30" rx="2"/><mask id="b" width="43" height="30" x="0" y="0" fill="#fff"><use xlink:href="#a"/></mask></defs><g fill="none" fill-rule="evenodd"><mask id="c" fill="#fff"><use xlink:href="#a"/></mask><use fill="#FFF" stroke="#CCC" stroke-width="2" mask="url(#b)" xlink:href="#a"/><g transform="translate(3.4 10.75)" mask="url(#c)"><path fill="#15467A" d="M19.783 2.423H18.47a.375.375 0 0 0-.313.17l-1.81 2.866-.768-2.76a.381.381 0 0 0-.363-.276h-1.29a.231.231 0 0 0-.215.306l1.445 4.474-1.359 1.955c-.107.154 0 .366.186.366h1.31c.124 0 .241-.062.312-.166l4.365-6.571c.104-.154-.004-.364-.187-.364m-8.775 2.606c-.126.76-.718 1.271-1.473 1.271-.379 0-.682-.124-.877-.36-.193-.232-.266-.564-.205-.934.118-.754.72-1.251 1.464-1.251.37 0 .671.095.87.333.2.239.279.573.221.941m1.82-2.621h-1.306a.229.229 0 0 0-.224.196l-.057.402-.091-.136c-.284-.418-.914-.528-1.543-.528-1.443 0-2.675 1.085-2.915 2.648-.125.78.053 1.525.486 2.046.399.477.967.676 1.645.676 1.163 0 1.807-.746 1.807-.746l-.058.37a.23.23 0 0 0 .225.267h1.175a.381.381 0 0 0 .375-.325l.706-4.602a.23.23 0 0 0-.225-.268m-7.835.196c-.15.997-.897.997-1.62.997H2.96l.289-1.863a.229.229 0 0 1 .224-.195h.189c.492 0 .957 0 1.197.285.144.171.187.425.133.776M6.665.71C6.278.246 5.59 0 4.678 0H1.95a.382.382 0 0 0-.375.326L.474 7.366a.23.23 0 0 0 .224.267H2a.381.381 0 0 0 .375-.325l.298-1.835a.381.381 0 0 1 .373-.326h.863c1.797 0 2.833-.886 3.104-2.643.122-.767.005-1.371-.348-1.794"/><path fill="#0C79BF" d="M35.3 0h-1.259a.228.228 0 0 0-.224.196L32.698 7.35a.23.23 0 0 0 .224.268h1.126a.38.38 0 0 0 .374-.327L35.525.268A.23.23 0 0 0 35.301 0m-4.843 5.029c-.126.76-.718 1.271-1.474 1.271-.379 0-.682-.124-.876-.36-.194-.232-.266-.565-.205-.934.117-.754.719-1.281 1.463-1.281.371 0 .672.125.87.363.2.239.28.573.222.941m1.82-2.621h-1.306a.228.228 0 0 0-.225.196l-.057.401-.091-.135c-.283-.418-.913-.513-1.543-.513-1.442 0-2.675 1.07-2.914 2.633-.125.78.052 1.525.486 2.045.398.478.967.677 1.644.677 1.163 0 1.808-.746 1.808-.746l-.058.37a.23.23 0 0 0 .224.267h1.176a.381.381 0 0 0 .375-.325l.705-4.602a.23.23 0 0 0-.224-.268m-7.836.195c-.149.998-.896.998-1.62.998h-.411l.289-1.863a.228.228 0 0 1 .224-.195h.189c.492 0 .957 0 1.197.286.143.17.186.424.132.774M26.115.71C25.727.246 25.04 0 24.127 0h-2.726a.381.381 0 0 0-.375.326L19.923 7.35a.23.23 0 0 0 .225.269h1.399c.13 0 .242-.098.262-.229l.313-1.917a.38.38 0 0 1 .374-.326h.863c1.796 0 2.833-.886 3.103-2.643.123-.767.006-1.371-.347-1.794"/></g></g>
  </svg>