<svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="30"
    viewBox="0 0 43 30"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs><rect id="a" width="42.857" height="30" rx="2"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#D8D8D8" xlink:href="#a"/><path fill="#E59703" mask="url(#b)" d="M0 22.5h43V30H0z"/><path fill="#F9F9F9" mask="url(#b)" d="M0 22.5h43v-15H0z"/><path fill="#1661A3" mask="url(#b)" d="M0 0h43v7.5H0z"/><g transform="translate(5.933 10.893)" mask="url(#b)"><path fill="#00579F" d="M12.275.184l-1.434 8.349h2.293L14.569.184zM21.453.39a5.965 5.965 0 0 0-2.055-.351c-2.267 0-3.864 1.132-3.877 2.755-.013 1.2 1.14 1.869 2.01 2.268.893.41 1.193.67 1.188 1.036-.005.56-.713.815-1.372.815-.918 0-1.406-.126-2.159-.438l-.296-.133-.322 1.87c.536.232 1.527.434 2.556.445 2.41 0 3.976-1.12 3.994-2.853.009-.95-.603-1.672-1.926-2.268-.802-.386-1.293-.644-1.287-1.035 0-.347.415-.718 1.313-.718a4.26 4.26 0 0 1 1.717.32l.205.096.311-1.81m3.054 5.184c.19-.48.914-2.334.914-2.334-.014.022.188-.483.304-.797l.155.72s.44 1.993.531 2.411h-1.904zM27.336.192h-1.773c-.549 0-.96.148-1.201.692l-3.407 7.652h2.409s.394-1.03.483-1.255l2.938.003c.068.293.279 1.252.279 1.252h2.128L27.336.192zM8.917.19L6.671 5.883l-.239-1.157c-.418-1.334-1.72-2.779-3.177-3.502L5.31 8.526l2.427-.003L11.346.19H8.918"/><path fill="#FAA519" d="M4.588.185H.889L.86.358c2.879.691 4.783 2.362 5.573 4.368L5.628.89c-.14-.528-.542-.686-1.04-.704"/></g></g>
  </svg>