<svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="30"
    viewBox="0 0 43 30"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs><rect id="a" width="43" height="30" rx="2"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#2AA0D0" xlink:href="#a"/><path fill="#FFF" d="M9.89 11.25l-3.386 7.49h4.052l.503-1.194h1.148l.502 1.194h4.46v-.911l.398.911h2.307l.397-.93v.93h9.276l1.128-1.163 1.056 1.163 4.765.01-3.396-3.734 3.396-3.766h-4.69l-1.099 1.142-1.023-1.142h-10.09l-.867 1.933-.887-1.933h-4.043v.88l-.45-.88H9.889zm.783 1.064h1.975l2.245 5.079v-5.08h2.164l1.734 3.642 1.598-3.641h2.153v5.374h-1.31l-.01-4.211-1.91 4.211H18.14l-1.92-4.211v4.211h-2.696l-.51-1.204h-2.76l-.51 1.203H8.3l2.373-5.373zm18.394 0l1.63 1.76 1.681-1.76h1.63l-2.476 2.701 2.475 2.67h-1.703l-1.629-1.78-1.69 1.78h-5.244v-5.371h5.326zm-17.433.909l-.91 2.147h1.818l-.908-2.147zm13.422 1.185h2.906V15.5h-2.906v1.071h3.26l1.514-1.577-1.45-1.57h-3.324v.983z" mask="url(#b)"/></g>
  </svg>