<svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="30"
    viewBox="0 0 43 30"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs><rect id="a" width="43" height="30" rx="2"/><mask id="b" width="43" height="30" x="0" y="0" fill="#fff"><use xlink:href="#a"/></mask></defs><g fill="none" fill-rule="evenodd"><mask id="c" fill="#fff"><use xlink:href="#a"/></mask><use fill="#FFF" stroke="#CCC" stroke-width="2" mask="url(#b)" xlink:href="#a"/><path fill="#F48221" d="M43 30H9c15.58-1.424 26.119-4.856 34-9.449V30z" mask="url(#c)"/><path fill="#190F04" d="M36.753 14.627h-.327v-1.75h.344c.7 0 1.078.388 1.078.914 0 .543-.379.836-1.095.836zm.938.64c.845-.162 1.309-.706 1.309-1.533 0-1.013-.74-1.708-2.032-1.708h-1.662v5.631h1.12v-2.285h.147l1.55 2.285H39.5l-1.81-2.39zm-6.3 2.39h3.176v-.915h-2.058V15.17h1.98v-.915h-1.98v-1.312h2.058v-.916H31.39v5.631zm-3.274-1.887l-1.533-3.744h-1.223l2.438 5.657h.602l2.48-5.657h-1.213l-1.551 3.744zm-13.51-.926c0 1.59 1.327 2.823 3.032 2.823.482 0 .944-.09 1.453-.316V16.11c-.449.422-.894.591-1.402.591-1.127 0-1.929-.77-1.929-1.865 0-1.036.827-1.855 1.878-1.855.533 0 .987.178 1.453.607v-1.24a3.199 3.199 0 0 0-1.427-.332c-1.697 0-3.057 1.257-3.057 2.828zm-2.005-.632c-.672-.234-.87-.39-.87-.68 0-.34.352-.6.835-.6.336 0 .612.13.905.437l.585-.72c-.482-.398-1.06-.649-1.688-.649-1.015 0-1.79.713-1.79 1.596 0 .746.361 1.127 1.412 1.485.44.145.662.242.775.308.223.138.336.331.336.558 0 .439-.37.763-.871.763-.534 0-.964-.252-1.222-.721l-.723.657c.516.712 1.136 1.03 1.99 1.03 1.161 0 1.979-.732 1.979-1.777 0-.86-.378-1.249-1.653-1.687zm-3.857 3.445h1.07V12.01h-1.07v5.647zM6.455 16.2c-.354.3-.81.43-1.534.43h-.3v-3.575h.3c.725 0 1.163.122 1.534.438.388.324.618.826.618 1.344a1.8 1.8 0 0 1-.618 1.363zm-1.309-4.19H3.5v5.648h1.638c.868 0 1.497-.306 2.048-.736.654-.511 1.042-1.281 1.042-2.077 0-1.596-1.266-2.834-3.082-2.834z" mask="url(#c)"/><path fill="#F48221" d="M22.736 12c-1.69 0-3.062 1.243-3.062 2.778 0 1.631 1.312 2.851 3.062 2.851 1.707 0 3.054-1.236 3.054-2.819 0-1.574-1.339-2.81-3.054-2.81" mask="url(#c)"/></g>
  </svg>