<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-promo-grid">
</script>
{% for _block in section.blocks %}
{% if _block.type == 'promotion'%}
<section class="promo-grid--container">
  <div class="{{ classes | strip_newlines }}">
    <div class="promo-grid--inner">
      <a href="{{ _block.settings.block_link }}">
        <img class="bbg_slider_d" src="{{ _block.settings.image | img_url: 'master' }}">
        <img class="bbg_slider_m" src="{{ _block.settings.mob_image | img_url: 'master' }}">
      </a>
    </div>
  </div>

</section>
{% endif %}
{% endfor %}

{% schema %}
{
  "name": "Grid",
  "class": "promo-grid--section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Grid"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
		{
          "id": "mob_image",
          "type": "image_picker",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}

{% endschema %}