<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-slideshow">
</script>

<section class="slideshow--container slider single-item slick-initialized slick-slider slick-dotted" role="toolbar">
  {% if section.settings.title != blank %}
    <h1 class="home-section--title">
      {{ section.settings.title | escape }}
    </h1>
  {% endif %}

  <div class="{{ classes | strip_newlines }}">
    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track slider" role="listbox">
        <div class="slick-slide"><a href="#"><img src="{{ "bbg_mainslider2.jpg" | asset_url }}"></a></div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript">

  $(document).on('ready', function() {
    $(".slick-track").slick({
      dots: true,
    });
  });
</script>

