<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-header-banner">
</script>


<section class="promo-header--container">

  {%- capture classes -%}
    home-section--content
  {%- endcapture -%}

  <div class="{{ classes | strip_newlines }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-header--inner">

        {% for block in section.blocks %}
          <article class="promo-header-block">
            <a class="promo-header--content" {% if block.settings.block_link %} href="{{ block.settings.block_link }} {% endif %}"
            data-promo-block-content>
              {% if block.settings.image %}
              <img class="promo-header-dsk" src="{{ block.settings.image | img_url: '1200x' }}">
              {% endif %}
              {% if block.settings.mob_image %}
              <img class="promo-header-mob" src="{{ block.settings.mob_image | img_url: '1200x' }}">
              {% endif %}
            </a> 
          </article>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Header Banner",
    "class": "promo-header--section",
    "max_blocks": 20,
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Header"
        }
      ],
	"blocks": [
        {
          "type": "promotion",
          "name": "Promotional item",
          "settings": [
            {
              "id": "image",
              "type": "image_picker",
              "label": "Image"
            },
			{
              "id": "mob_image",
              "type": "image_picker",
              "label": "Mobile Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Header"
            },
            {
              "type": "textarea",
              "id": "text",
              "label": "Text",
              "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news.",
              "info": "Limited to 120 characters."
            },
            {
              "type": "color",
              "id": "color",
              "label": "Text color",
              "default": "#4d4d4d"
            },
            {
              "type": "url",
              "id": "block_link",
              "label": "Link"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text"
            },
            {
              "id": "button_style",
              "type": "select",
              "label": "Button style",
              "options": [
                {
                  "value": "primary",
                  "label": "Primary"
                },
                {
                  "value": "secondary",
                  "label": "Secondary"
                }
              ],
              "default": "primary"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Header",
          "category": "Image",
          "blocks": [
            {
              "type": "promotion"
            }
          ]
        }
      ]
    }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
