<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-promo-grid">
</script>

<section class="promo-grid--container">
  <h1 class="collection--title">
    {{ collection.title }}
  </h1>

  {%- capture classes -%}
    home-section--content
    promo-grid--height-{{ section.settings.section_height }}
  {%- endcapture -%}

  <div class="{{ classes | strip_newlines }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-grid--inner">
        {% assign half_width_iteration = 0 %}

        {% for block in section.blocks %}
          {% assign half_width_class = '' %}

          {% comment %}
            For IE support, add an additional class to half width blocks when
            they're adjacent to other half blocks
          {% endcomment %}
          {%- if block.settings.promo_width == 'half-width' -%}
            {% assign half_width_iteration = half_width_iteration | plus: 1 %}

            {% comment %}
              If is second iteration, then it will always be right aligned
            {% endcomment %}
            {%- if half_width_iteration == 2 -%}
              {% assign half_width_iteration = 0 %}
              {% assign half_width_class = 'promo-block--right' %}
            {%- endif -%}
          {%- else -%}

            {% comment %}
              Reset iteration counter when a full width block appear.
              If a half width block follows, it will always be left aligned
            {% endcomment %}
            {% assign half_width_iteration = 0 %}
          {%- endif -%}

          {%- capture additional_classes -%}
            promo-grid--{{ block.settings.promo_width }}
            {{ half_width_class }}
          {%- endcapture -%}

          {%
            include 'promo-block',
            block: block,
            additional_classes: additional_classes
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {%
    include 'promo-block-background',
    blocks: section.blocks
  %}
</section>
{% schema %}
{
  "name": "Grid",
  "class": "promo-grid--section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Grid"
    },
    {
      "id": "section_height",
      "type": "select",
      "label": "Section height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Grid"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news.",
          "info": "Limited to 120 characters."
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "promo_width",
          "label": "Width",
          "options": [
            {
              "value": "half-width",
              "label": "Half width"
            },
            {
              "value": "full-width",
              "label": "Full width"
            }
          ],
          "default": "half-width"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}

{% endschema %}