{% assign is_customer = false %}
{% if shop.customer_accounts_enabled and customer %}
  {% assign is_customer = true %}
{% endif %}

{% assign has_sidebar = false %}
{% assign has_items = false %}
{% assign show_continue_link = false %}

{% if section.blocks.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

{% if cart.items.size > 0 %}
  {% assign has_items = true %}
{% endif %}

{% assign continue_url = "/collections/all" %}
{% if section.settings.continue_url != blank %}
  {% assign continue_url = section.settings.continue_url %}
{% endif %}

{% if section.settings.show_continue_link %}
  {% assign show_continue_link = true %}
  {%- capture continue_link_html -%}
    <a class="cart-continue" href="{{ continue_url }}">
      {{ 'cart.general.continue_shopping' | t }}
      {% include 'icon-chevron-down-small' %}
    </a>
  {%- endcapture -%}
{% endif %}

<script
  type="application/json"
  data-section-type="static-cart"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "settings": {
      "shipping": {{ section.settings.enable_shipping_calc | json }},
      "stock_limit": {{ 'cart.general.stock_limit' | t: count: '** count **' | json }},
      "money_format": {{ shop.money_format | strip_html | json }}
    },
    "shipping": {
      "calculate_shipping": {{ 'cart.shipping.calculate_shipping' | t | json }},
      "calculating": {{ 'cart.shipping.calculating' | t | json }},
      "customer": {{ is_customer | default: false | json }},
      "multiple_rates": {{ 'cart.shipping.multiple_rates' | t: number_of_rates: '*number_of_rates*', address: '*address*', rate: '*rate*' | json }},
      "one_rate": {{ 'cart.shipping.one_rate' | t: address: '*address*' | json }},
      "no_rates": {{ 'cart.shipping.no_rates' | t | json }},
      "rate_value": {{ 'cart.shipping.rate_value' | t: rate_title: '*rate_title*', rate: '*rate*'  | json }},
      "zip": {{ 'cart.shipping.zip' | t | json }}
    }
  }
</script>

<div class="static-cart-wrapper">
  <form action="/cart" method="post">
    <header class="cart-title">
      <div class="cart-title-left">
        <h1>{{ 'cart.general.your_cart' | t }}</h1>

        {% if has_items %}
          <div class="cart-title-total--small"></div>
        {% endif %}
      </div>
    </header>
    {% if has_items or show_continue_link %}
      <div class="cart-title-right">
        {% if has_items %}
          <div class="cart-title-total--large">
            <div class="cart-title-total" data-cart-title-total>
              {{ 'cart.general.subtotal' | t }}

              <span class="money" data-cart-total>
                {{ cart.total_price | money }}
              </span>
            </div>
          </div>

          <button
            class="button-primary cart-title-button"
            name="checkout"
            type="submit"
            aria-label="{{ 'cart.general.checkout' | t }}"
          >
            {{ 'cart.general.checkout' | t }}
          </button>
        {% elsif show_continue_link %}
          {{ continue_link_html }}
        {% endif %}
      </div>
    {% endif %}

    <section class="cartitems--container {% if has_sidebar %}has-sidebar{% endif %}">
      <div class="cartitems">
        {% if has_items %}
          {% for item in cart.items %}
            {%
              include 'cart-item',
              item: item
            %}
          {% endfor %}

          <div class="cart-total">

            {% if section.settings.enable_order_notes %}
              <div class="cart-ordernote">
                <span class="cart-ordernote-heading">{{ 'cart.general.enter_order_note' | t }}</span>
                <div class="form-field">
                  <textarea class="form-field-input form-field-textarea" name="note" id="cart-note">{{ cart.note }}</textarea>
                  <label class="form-field-title" for="cart-note">{{ 'cart.general.special_instructions' | t }}</label>
                </div>
              </div>
            {% endif %}

            <div class="cart-subtotal">
              <span class="money" data-cart-total>{{ 'cart.general.subtotal' | t }} {{ cart.total_price | money }}</span>
            </div>

            <div class="cart-shipping">
              {% if cart.requires_shipping %}
                {{ 'cart.general.shipping_at_checkout' | t }}
              {% else %}
                {{ 'cart.general.taxes_at_checkout' | t }}
              {% endif %}

              {% comment %}
                snippets/cart-shipping.liquid has an internal check to see if shipping is required
              {% endcomment %}
              {% if section.settings.enable_shipping_calc %}
                {% include 'cart-shipping' %}
              {% endif %}
            </div>
            <div style="text-align: right; color: #fff; font-size: 12px;">By clicking Checkout below, you agree to the <a style="color: #2A93E4;" href="https://www.foxprivacy.com/us/terms.html">Terms of Use</a> and <a style="color: #2A93E4;" href="https://www.foxprivacy.com/us/privacy.html">Privacy Policy</a>.</div>
            

            <form ... onsubmit="return checkForm(this);">
              <p class="newsletter-agree" style="color: #fff; text-align: right; margin-top: 15px;">
                <input type="checkbox" name="terms"> I agree to the <a href="/pages/returns-exchanges">Refund Policy</a></p>   
            </form>
            <div class="cart-checkout">
              {% if show_continue_link %}
                {{ continue_link_html }}
              {% endif %}

              <button
                class="button-primary"
                type="submit"
                name="checkout"
                aria-label="{{ 'cart.general.checkout' | t }}"
              >
                {{ 'cart.general.checkout' | t }}
              </button><br><br>
              <script src="https://cdn.ywxi.net/js/inline.js?w=75"></script>
            </div>
          </div>
          <div class="cart-payment-icons">
            {% assign payment_icons_available = 'master|visa|american_express|discover|paypal' | split: '|' %}
            <ul class="payment-icons">
              {%- for type in shop.enabled_payment_types -%}
                {%- if payment_icons_available contains type -%}
                  <li class="payment-icons-item">
                    {%- include 'icon-payment-icons', id: type -%}
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {% else %}
          <div class="cartitems-empty">
            <div class="cartitems-empty--inner">
              <p>{{ 'cart.general.cart_empty' | t }}</p>

              {% if show_continue_link %}
                <a class="button-primary" href="{{ continue_url }}">
                  {{ 'cart.general.continue_shopping' | t }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>

      {% if has_sidebar %}
        <div class="cart-sidebar">
          {% for block in section.blocks %}
            {% if block.type == 'image' %}
              {% assign image = block.settings.image %}

              <article class="cart-sidebar-item">
                {% if image %}
                  <img
                    class="cart-sidebar-item-image"
                    src="{{ image | img_url: '445x' }}"
                    srcset="{{ image | img_url: '445x' }} 1x, {{ image | img_url: '445x', scale: 2 }} 2x"
                    alt="{{ image.alt | escape }}">
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder--image cart-sidebar-item-image' }}
                {% endif %}
              </article>
            {% endif %}

            {% if block.type == 'richtext' %}
              <article class="cart-sidebar-item cart-sidebar-item--text rte">
                {{ block.settings.richtext }}
              </article>
            {% endif %}

            {% if block.type == 'page' %}
              <article class="cart-sidebar-item cart-sidebar-item--text rte">
                {{ pages[block.settings.page].content }}
              </article>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </section>
  </form>
</div>

{% schema %}
{
  "name": "Cart page",
  "class": "cart--section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_continue_link",
      "label": "Show \"Continue shopping\" link",
      "default": true
    },
    {
      "type": "url",
      "id": "continue_url",
      "label": "Continue shopping link",
      "info": "Where to direct customers after clicking \"Continue shopping\""
    },
    {
      "type": "checkbox",
      "id": "enable_order_notes",
      "label": "Enable order notes text box",
      "default": false
    },
    {
      "type": "header",
      "content": "Shipping estimator"
    },
    {
      "type": "checkbox",
      "id": "enable_shipping_calc",
      "label": "Enable shipping estimator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_calc_default_country",
      "label": "Default country",
      "default": "United States"
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 1,
      "settings": [
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Rich text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Choose page"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "continue_url": "shopify:\/\/collections\/all"
    }
  }
}

{% endschema %}