<script
  type="application/json"
  data-section-type="static-product"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "settings": {
      "cart_redirection": {{ settings.product_cart_redirect | json }},
      "layout": {{ section.settings.layout | json }},
      "money_format": {{ shop.money_format | strip_html | json }}
    },
    "context": {
      "product_available": {{ "Buy at Fox Connect" | json }},
      "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
    },
    "product": {{ product | json }}
  }
</script>

<!-- <div id="qab_placeholder"></div> -->
<div class="product-bkgd {% if product.tags contains "Bob's Burgers" %}bbg-product-bkgd{% endif %}
  {% if product.tags contains "Family Guy"%}fam-product-bkgd{% endif %}
  {% if product.tags contains "The X-Files"%}xfl-product-bkgd{% endif %}
  {% if product.tags contains "The Mick"%}mck-product-bkgd{% endif %}
  {% if product.tags contains "The Orville"%}orv-product-bkgd{% endif %}
  {% if product.tags contains "Buffy the Vampire Slayer"%}buf-product-bkgd{% endif %}
  {% if product.tags contains "Empire"%}emp-product-bkgd{% endif %}">
  <section class="product--container {{ section.settings.layout }} 
    {% if product.tags contains "Bob's Burgers" %}bbg-product--container{% endif %}
    {% if product.tags contains "Family Guy"%}fam-product--container{% endif %}
    {% if product.tags contains "The Mick"%}mck-product--container{% endif %}
    {% if product.tags contains "The Orville"%}orv-product--container{% endif %}
    {% if product.tags contains "The X-Files"%}xfl-product--container{% endif %}
    {% if product.tags contains "Buffy the Vampire Slayer"%}buf-product--container{% endif %}
    {% if product.tags contains "Empire"%}emp-product--container{% endif %}" data-product-wrapper>
    
    {% include 'breadcrumbs' %}
    {%
      include 'product-nobtn',
      layout: section.settings.layout,
      is_product_modal: false
    %}

    <div class="productinfo-tabs">
      <ul class="tabs">
        <li><a href="#tab-1">Description</a></li>
        <li><a href="#tab-2">Reviews</a></li>
      </ul>
      <div class="tab-content" id="tab-1">
      {{ product.description }}
      </div>
      <div class="tab-content" id="tab-2">
      {% if settings.product_ratings_reviews %}
        <section class="product-section--container" data-product-reviews>
          <div class="product-section--content product-reviews--content">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </section>
      {% endif %}
      </div>
    </div>


    {% if section.settings.enable_related_products %}
      {% assign related_collection = collection %}
      {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
        {% assign collection_found = false %}
        {% for c in product.collections %}
          {% if collection_found == false and c.handle != 'frontpage' and c.handle != 'all' %}
            {% assign collection_found = true %}
            {% assign related_collection = c %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if related_collection.products.size > 0 %}
        {%
          include 'related-products',
          current_product: product.id
        %}
      {% endif %}
    {% endif %}

  </section>
</div>
{% schema %}
{
  "name": "Product pages",
  "class": "product--section",
  "settings": [
    {
      "id": "layout",
      "type": "select",
      "label": "Layout",
      "options": [
        {
          "value": "layout--two-col",
          "label": "2 columns"
        },
        {
          "value": "layout--three-col",
          "label": "3 columns"
        }
      ],
      "default": "layout--three-col"
    },
    {
      "type": "checkbox",
      "id": "enable_related_products",
      "label": "Enable related products",
      "default": false
    }
  ]
}

{% endschema %}