<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-footer">
</script>

<section class="site-footer-wrapper">
  {% if section.blocks.size %}
    <div class="site-footer-item">
      <div class="site-footer-blocks column-count-{{ section.blocks.size }}">
        {% for block in section.blocks %}
          {% include 'footer-block' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="site-footer-item">
    <div class="site-footer-information">
      {% if section.settings.payment_icons and shop.enabled_payment_types.size > 0 %}
        <div class="site-footer-payments">
          {% comment %}
            - Test shop payment options against Shopify's provided list of payment gateways
              (https://help.shopify.com/themes/customization/store/add-credit-card-icons)
          {% endcomment %}
          {% assign payment_icons_available = 'master|visa|american_express|discover|paypal' | split: '|' %}
          <div class="payment-header">WE ACCEPT</div>
          <ul class="payment-icons">
            {%- for type in shop.enabled_payment_types -%}
              {%- if payment_icons_available contains type -%}
                <li class="payment-icons-item">
                  {%- include 'icon-payment-icons', id: type -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {% endif %}
      <div class="site-footer-copyright">

        {% if linklists[section.settings.additional_menu].links != blank %}
          <nav class="site-footer-navigation">
            {%
              include 'navmenu',
              menu: section.settings.additional_menu,
              depth: 1,
              max_depth: 1
            %}
          </nav>
        {% endif %}

        <p class="site-footer-credits">
		  Shop.Fox.com is operated by Araca Merchandise L.P. under license from Twentieth Century Fox Film Corporation.<br>
          Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase.<br>
          &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.<br><br>
          FOX&trade; &amp; &copy; {{ 'now' | date: "%Y" }} Twentieth Century Fox Film Corporation. All Rights Reserved, USA.
        </p>
      </div>

      
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Payment icons"
    },
    {
      "type": "checkbox",
      "id": "payment_icons",
      "label": "Enable payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Additional menu"
    },
    {
      "type": "link_list",
      "id": "additional_menu",
      "label": "Menu",
      "default": "footer"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ]
    },
    {
      "type": "social_accounts",
      "name": "Social accounts",
      "limit": 1,
      "settings": [
       {
         "type": "paragraph",
         "content": "Social links can be managed in your General settings."
       }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Invite customers to join your mailing list.</p>"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "additional_menu": "footer"
    },
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}

{% endschema %}