{%- capture flydown_chevron -%}
  {% include 'icon-chevron-down-small' %}
{%- endcapture -%}

<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="static-header"
  data-section-data>
  {
    "settings": {
      "sticky_header": {{ section.settings.sticky_header | json }},
      "live_search": {
        "enable": {{ section.settings.enable_live_search | json }},
        "enable_images": {{ section.settings.enable_live_search_images | json }},
        "enable_content": {{ section.settings.enable_live_search_articles_pages | json }},
        "money_format": {{ shop.money_format | strip_html | json }},
        "context": {
          "view_all_results": {{ 'search.general.view_all_results' | t | json }},
          "view_all_products": {{ 'search.general.view_all_products' | t | json }},
          "chevron": {{ flydown_chevron | replace: '  ', '' | strip_newlines | json }},
          "content_results": {
            "title": {{ 'search.general.pages_and_posts_title' | t | json }},
            "no_results": {{ 'search.general.pages_and_posts_no_results' | t | json }}
          },
          "no_results_products": {
            "title": {{ 'search.general.no_results_products_title' | t: terms: '*terms*' | json }},
            "message": {{ 'search.general.no_results_products_message' | t | json }}
          }
        }
      }
    },
    "currency": {
      "enable": {{ settings.enable_currency_converter | default: false }},
      "shop_currency": {{ shop.currency | json }},
      "default_currency": {{ settings.currency_converter_default | default: shop.currency | json }},
      "display_format": {{ settings.currency_display_format | json }},
      "money_format": {{ shop[settings.currency_display_format] | strip_html | json }},
      "money_format_no_currency": {{ shop.money_format | strip_html | json }},
      "money_format_currency": {{ shop.money_with_currency_format | strip_html | json }}
    }
  }
</script>

<!-- <div id="qab_placeholder"></div> -->
<section
  class="site-header"
  data-site-header-main
  {% if section.settings.sticky_header %}data-site-header-sticky{% endif %}>
  <div class="site-header-menu-toggle">
    <a class="site-header-menu-toggle--button" href="#" data-menu-toggle>
      <span class="toggle-icon--bar toggle-icon--bar-top"></span>
      <span class="toggle-icon--bar toggle-icon--bar-middle"></span>
      <span class="toggle-icon--bar toggle-icon--bar-bottom"></span>
      <span class="show-for-sr">{{ 'general.accessibility.menu' | t }}</span>
    </a>
  </div>
  <div class="site-header-actions-wrapper">
    {% include 'site-header-actions' %}
  </div>
  <div class="site-header-main">
    
    <div class="site-header-logo">
      <a
        class="site-logo"
        href="/">
        {% if section.settings.logo %}
          {% assign logo_alt = section.settings.logo.alt | escape %}
          {% if logo_alt == '' %}
            {% assign logo_alt = shop.name | escape | strip %}
          {% endif %}
          <img
            class="site-logo-image"
            src="{{ section.settings.logo | img_url: '228x59' }}"
            {% if section.settings.logo.width >= 200 %}
              srcset="{{ section.settings.logo | img_url: '100x40', scale: 2 }} 2x"
            {% endif %}
            alt="{{ logo_alt }}">
        {% else %}
          <span class="site-logo-text">
            {{ shop.name }}
          </span>
        {% endif %}
      </a>
    </div>

    {%
      include 'header-search-form',
      quick_links: linklists[section.settings.quick_links],
      enable_live_search: section.settings.enable_live_search,
      enable_images: section.settings.enable_live_search_images,
      enable_content: section.settings.enable_live_search_articles_pages
    %}

  </div>

  <div class="site-header-cart">
    <a class="site-header-cart--button" href="/cart">
      <span
        class="site-header-cart--count {% if cart.item_count > 0 %}visible{% endif %}"
        data-header-cart-count="{% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}">
      </span>

      {% include 'icon-cart' %}
      <span class="show-for-sr">{{ 'general.accessibility.cart' | t }}</span>
    </a>
  </div>
</section>

{%- capture site_navigation_classes -%}
  site-navigation-wrapper
  {% if shop.customer_accounts_enabled or settings.enable_currency_converter %}
    site-navigation--has-actions
  {% endif %}
{%- endcapture -%}
<div class="{{ site_navigation_classes }}" data-site-navigation id="site-header-nav">
  <nav class="site-navigation">
    {%
      include 'navmenu',
      menu: section.settings.menu,
      depth: 2,
      max_depth: 3,
      submenu_arrows: true,
      is_site_nav: true,
      has_triggers: true,
    %}
  </nav>
</div>
<!-- <div class="site-header-brands-nav">
  <nav class="site-navigation site-nav-brands">
    <ul>
      <li id="brand-nav-bbg">
        <a href="/collections/bobs-burgers">
          <img src="{{ 'brand-nav-bbg.png' | asset_url }}" alt="Bob's Burgers" class="brand-nav-off" id="brand-nav-bbg-off" />
          <img src="{{ 'brand-nav-bbg-on.png' | asset_url }}" alt="Bob's Burgers" class="brand-nav-on" id="brand-nav-bbg-on" />
        </a>
      </li>
      <li id="brand-nav-fam">
        <a href="/collections/family-guy">
          <img src="{{ 'brand-nav-fam.png' | asset_url }}" alt="Family Guy" class="brand-nav-off" id="brand-nav-fam-off" />
          <img src="{{ 'brand-nav-fam-on.png' | asset_url }}" alt="Family Guy" class="brand-nav-on" id="brand-nav-fam-on" />
        </a>
      </li>
      <li id="brand-nav-buf">
        <a href="https://buffyslays.com/?ref=BUFFOXTVHUB&utm_source=website&utm_medium=website&utm_campaign=BUFFOXTVHUB">
          <img src="{{ 'brand-nav-buf.png' | asset_url }}" alt="Family Guy" class="brand-nav-off" id="brand-nav-buf-off" />
          <img src="{{ 'brand-nav-buf-on.png' | asset_url }}" alt="Family Guy" class="brand-nav-on" id="brand-nav-buf-on" />
        </a>
      </li>
      <li class="dropdown brands-nav-all">
        <span class="dropbtn">All <img style="height: 10px;" src="{{ 'FX-white.png' | asset_url }}"> Shows <i class="fa fa-caret-down" aria-hidden="true"></i></span>
        <div class="brands-dropdown-content">
          {% for link in linklists.brands.links %}
                <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>
</div> -->

{% include 'site-mobile-nav' %}

<script>
  var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
  
  if(!isMobile){
  
      var img1 = document.getElementById("brand-nav-bbg"),
          img2 = document.getElementById("brand-nav-bbg-on");

      img1.onmouseover = function(){
        img2.style.display = "block";
      }

      img1.onmouseout = function(){
        img2.style.display = "none";
      }

      var img3 = document.getElementById("brand-nav-fam"),
          img4 = document.getElementById("brand-nav-fam-on");

      img3.onmouseover = function(){
        img4.style.display = "block";
      }

      img3.onmouseout = function(){
        img4.style.display = "none";
      }
      
      var img5 = document.getElementById("brand-nav-buf"),
          img6 = document.getElementById("brand-nav-buf-on");

      img5.onmouseover = function(){
        img6.style.display = "block";
      }

      img5.onmouseout = function(){
        img6.style.display = "none";
      }

  };
</script>

{% schema %}
{
  "name": "Header",
  "class": "site-header-wrapper",
  "settings": [
    {
      "id": "sticky_header",
      "type": "checkbox",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "id": "logo",
      "type": "image_picker",
      "label": "Logo image",
      "info": "200 x 80px .png recommended"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "id": "enable_live_search",
      "type": "checkbox",
      "label": "Enable live search",
      "default": true
    },
    {
      "id": "enable_live_search_images",
      "type": "checkbox",
      "label": "Show product images in live search results",
      "default": true
    },
    {
      "id": "enable_live_search_articles_pages",
      "type": "checkbox",
      "label": "Show blog posts and pages in live search results",
      "default": true
    },
    {
      "id": "quick_links",
      "type": "link_list",
      "label": "Quick links",
      "info": "Displays menu links below the search box the first time it is opened."
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "id": "menu",
      "type": "link_list",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Mega Navigation"
    },
    {
      "id": "meganav_trigger",
      "type": "text",
      "label": "Mega navigation trigger",
      "info": "Add the title of the menu from which you want the mega-nav to stem."
    }
  ],
  "blocks": [
    {
      "type": "meganav",
      "name": "Menu",
      "settings": [
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu"
        }
      ],
      "limit": 10
    }
  ]
}

{% endschema %}