{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}
<footer class="site-footer lazyload" role="contentinfo" data-sizes="auto" data-parent-fit="cover" >
  <div class="page-width">
    <div class="socials">
      <div class="grid grid--no-gutters">
        {% if social_icons %}
          <div class="text-center site-footer__social-icons-wrapper">
            <div class="site-footer__social-header t-uppercase">Follow C-SPAN</div>
            <ul class="list--inline site-footer__social-icons social-icons">
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--pinterest lazyload" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-pinterest.png' | asset_url }}"> 
                    <span class="icon__fallback-text">Pinterest</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--facebook lazyload" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-facebook.png' | asset_url }}"> 
                    <span class="icon__fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--instagram lazyload" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-instagram.png' | asset_url }}"> 
                    <span class="icon__fallback-text">Instagram</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--twitter lazyload" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-twitter.png' | asset_url }}"> 
                    <span class="icon__fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--tumblr lazyload" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-tumblr.png' | asset_url }}">
                    {% include 'icon-tumblr' %}
                    <span class="icon__fallback-text">Tumblr</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--snapchat lazyload" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-snapchat.png' | asset_url }}">
                    {% include 'icon-snapchat' %}
                    <span class="icon__fallback-text">Snapchat</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--youtube lazyload" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-youtube.png' | asset_url }}"> 
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a class="social-icons__link social-icon--vimeo lazyload" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" data-sizes="auto" data-parent-fit="cover" data-bgset="{{ 'icon-vimeo.png' | asset_url }}">
                    {% include 'icon-vimeo' %}
                    <span class="icon__fallback-text">Vimeo</span>
                  </a>
                </li>
              {% endif %}
              {% if template.name == 'blog' or template.name == 'article' %}
                <li>
                  <a class="social-icons__link social-icon--rss" href="{{ shop.url }}{{ blog.url }}.atom">
                    {% include 'icon-rss' %}
                    <span class="icon__fallback-text">RSS</span>
                  </a>
                </li>
              {% endif %}
            </ul>
            <div class="footer-additional-links">
              <span><a href="{{ section.settings.cspan_newsletter_url }}">C-SPAN Newsletter</a></span><span><a href="https://c-span.org">C-SPAN.org</a></span><span><a href="{{ section.settings.cspan_schedule_url }}">C-SPAN schedule</a></span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="grid grid--no-gutters text-left m13k-mw">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item site-footer__newsletter-wrapper">
          <div class="site-footer__newsletter text-left">
            {% include 'subscribe' %} 
          </div>
        </div>
      {% endif %}
      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist].links.size > 0 %}
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_two].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item">
        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
          <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_three].title }}</span>
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[section.settings.footer_linklist_three].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    
    {%- assign _current_year = 'now' | date: '%Y' %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content visually-hidden"><a href="mailto:"></a><a href="tel:"></a></small>
        <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_nonprofit' | t}}</small>
        <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text' | t}}</small>
        <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext' | t: current_year: _current_year }}</small>
      </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }, 
      {
        "type": "url", 
        "id": "cspan_newsletter_url", 
        "label": "C-Span Newsletter URL"
      }, 
      {
        "type": "url", 
        "id": "cspan_schedule_url", 
        "label": "C-Span Schedule URL"
      }
    ]
  }
{% endschema %}
