<div class="grid grid--no-gutters image-bar image-bar--small">
  {% case section.blocks.size %}
    {% when 1 %}
      {%- assign column_size = '' -%}
    {% when 2 %}
      {%- assign column_size = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign column_size = 'medium-up--one-third' -%} 
    {% when 4 %}
      {%- assign column_size = 'medium-up--one-quarter' -%}
    {% else %}
      {%- assign column_size = 'medium-up--one-fifth' -%}
  {% endcase %}

  {% for block in section.blocks %}
    <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
      {% if block.settings.link != blank %}<a class="image-bar__link" href="{{ block.settings.link }}">{% endif %}
      {% if block.settings.image != blank %}
          <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload">
            <img data-sizes="auto" data-src="{{ block.settings.image | img_url: 'master' }}" data-srcset="{{ block.settings.image | img_url: 'master' }}" class="lazyload" />
          </div>
      {% endif %}
      {% if block.settings.link != blank %}</a>{% endif %}
    </div> 
  {% endfor %}
</div> 

{% schema %}
  {
    "name": "Image List",
    "class": "index-section index-section--flush image--list",
    "max_blocks": 5, 
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, 
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Image List",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
