/* Mixins */
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}
/* Variables */
$passwordPageUseBgImage: true;
/* =================== */
/*      SECTION 1      */
/* =================== */
/* 1.1 - Base Styles */
html,body { 
  margin: 0; 
  padding: 0; 
  border: 0;    
}
body *,
html *{  
  font-smooth: always;  
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
}

html { 
  font-size: 62.5%; 
  -webkit-touch-callout:none; 
  -webkit-text-size-adjust:none; 
  -ms-text-size-adjust:100%; 
  height: 100%;  
}
body { 
  line-height: 1.45em;    
  font-family: Lato; 
  min-height: 100%; 
}


/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
/* 1.3 - Forms and Inputs */
form { margin:0; padding:0; }
button:focus{
  outline: none;
}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }
select, input[type=file] { height: 27px; height: auto; line-height: 27px; }
input, textarea {   
  -webkit-appearance: none; vertical-align:top; height:24px; line-height:16px; spadding:5px 10px; border:1px solid #ccc; display:inline-block; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; }
input[type=password]:focus, input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus { outline:none; }
input[type=checkbox],input[type=radio] { height:16px; line-height:16px; vertical-align:middle; }
input[type=checkbox] { -webkit-appearance:checkbox; }
input[type=file] { cursor:pointer; border:none; box-shadow:none; padding:0; margin:0; }
input[type=submit] { cursor:pointer; }
select { font-size:13px; display:inline-block; color:#222; font-family:Helvetica,Arial,sans-serif; vertical-align:top; height:22px; line-height:22px; padding:2px; padding:initial; border:1px solid #ccc; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; }
@-moz-document url-prefix() { select { padding:6px;  } } /* Firefox fix */
select:focus, select.focus { outline:none; border:1px solid #4c90ee; -webkit-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); -moz-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); }
textarea { min-height:72px; }
img { max-width:100%; height:auto; border: 0; -ms-interpolation-mode: bicubic; }
ul, ol { margin: 0; padding: 0; }
ul li { margin-bottom: 5px; }
ul { list-style:disc outside none; }
.documentation-header { margin-bottom: 30px !important; }

/*MISC*/
.float-right{
  float: right;
}
/*END MISC*/
/* 1.5 - Links and Buttons */
a { 
  color:#6bd0de;     
}
a:hover{
  text-decoration: none !important;      
}
a:focus{
  outline: none;
}
a.btn:hover:disabled, input.btn:hover:disabled, button.btn:hover:disabled { 
  -moz-opacity:0.20; 
  opacity:.20; 
  filter:alpha(opacity=20); 
  cursor:default;
}
input.disabled.btn:hover, button.disabled.btn:hover { 
  background-color:#6bd0de; 
  color:#fff; 
}
.btn:disabled,.disabled {
  -moz-opacity:0.20; 
  opacity:.20; 
  filter:alpha(opacity=20); 
  cursor:default;
}
.dropdown-menu{  
  -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.175);
  box-shadow: 0 3px 12px rgba(0,0,0,.175);
}


.accent-color { 
  color: #6bd0de !important; 
}
#product .add-to-cart .icon, a.btn, input.btn, button.btn, 
.searchform input.submit, .cart-summary a .icon { 
  -webkit-border-radius:2px; 
  -moz-border-radius:2px; 
  border-radius:2px; 
}
.search_box {
  color: #5c5c5c;
}
#zoom-image { 
  -webkit-border-radius:0 2px 0 0; 
  -moz-border-radius:0 2px 0 0; 
  border-radius:0 2px 0 0; 
}

/* 1.6 - Tables */
strong { font-weight: 700; }
em { font-style: italic; }

/* 1.7 - Icons */
@if (lightness(#ffffff) < lightness(#999)) { .icon-social { background-image: url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/social-icons-dark-bg.png?v=8766075273649445329'); } }

  .icon-cart { float: left; display: block; width: 20px; height: 16px; margin: 21px 10px 0 0; opacity: 0.8; filter: alpha(opacity = 60); }
  .icon-cart { background: url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/icon-cart-small.png?v=3950719298637094705') no-repeat; background-position: 0 0; }
    @if (lightness(#ffffff) < lightness(#999)) { .icon-cart { background-position: 0 -16px; } }
  .credit-cards { margin:0 auto; list-style:none outside none; text-align: center; }
  .credit-cards li { display: inline;}

  /* =================== */
  /*      SECTION 2      */
  /* =================== */
  /* 2.1 - Helper Classes */
  .row:before, .row:after, .clearfix:before, .clearfix:after {content:"\0020";display:block;height:0;visibility:hidden}
  .clearfix:after, .row:after { clear:both; }
  .clearfix, .row { zoom:1; }   
  .fr { float: right !important; }
  .fl { float: left !important; }
  .fn { float: none !important; }
  .tr { text-align: right !important; }
  .tl { text-align: left !important; }
  .tc { text-align: center !important; }
  .hidden {display: none!important}  
  .display-table { display: table!important; width: 100%; }
  .display-table-cell { display: table-cell!important; vertical-align: middle; }
  .table { display: table; table-layout: fixed; margin: 0 auto; }
  .fixed { position: fixed; }
  hr.divider { margin: 15px 0; background: #dddddd; height: 1px; border: 0; }

  /* 2.3 - Lists */
  ul.unstyled, ol.unstyled { margin: 0; list-style: none outside none; }
  ul.unstyled > li, ol.unstyled > li { list-style: none; }
  ul.horizontal > li, ol.horizontal > li { display: block; float: left; }
  ul.horizontal-inline, ol.horizontal-inline { text-align: center; }
  ul.horizontal-inline > li, ol.horizontal-inline > li { display: inline; margin: 0 5px; }
  ul.expanded > li, ol.expanded > li { margin-bottom: 10px; }

  /* =================== */
  /*      SECTION 3      */
  /* =================== */
  /* 3.1 - Toolbar */
  .toolbar { color: #555555; margin: 0 auto; float: none; }
  .toolbar li { float: right; line-height: 60px; list-style: none; padding-right: 15px; margin-bottom: 0 !important; }
  .toolbar li.toolbar-cart { padding-right: 0; }
  .toolbar a { color: #6bd0de; }
  .toolbar a:hover { color: #6bd0de; opacity: 0.7; filter: alpha(opacity = 70); }
  .toolbar .search_box, .flyout .search_box { background: transparent; height: 34px; width: 85px; padding: 0 10px 0 31px; border: none; vertical-align: middle; line-height: normal; font-family: Lato; color: #555555 !important; border-radius:3px; box-shadow: none; margin-top: -3px; transition: all 0.3s ease-in-out; font-size: 15px; }
  .toolbar .search_box:focus { background: rgba(0,0,0,0.05); width: 150px; }
  .toolbar #go { position: absolute; width: 14px; height: 14px; border: none; margin: 19px 0 0 4px; box-shadow: none; }
  @if (lightness(#ffffff) < lightness(#999)) { .toolbar #go { background-image: url(//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/icon-search-light.png?v=8747040290322061897); display: block; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 10px; margin-top: 23px; margin-left: 9px; } }
  .toolbar .or { color: #888; display:inline-block;}
  .toolbar-cart, .toolbar-customer{ float:left; }
  .toolbar-customer { padding-left:0  !important;}
  .toolbar li.search-field { padding-right:0; }  
  #cart-count { opacity: 0; color: #fff; background: #6bd0de; position: absolute; width: 16px; height: 16px; line-height: 16px; text-align: center; border-radius:  50px; font-size: 11px; margin: 14px 0 0 -25px; border: 1px solid #ffffff; transition: opacity 0.2s ease-out; }
  .has-items #cart-count { opacity: 1; }
  /* 3.3 - Navigation */
  nav { font-family:Lato; }
  nav { position: relative; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd }
  nav > ul > li { margin-bottom: 0; }
  nav > ul > li > a { text-decoration: none; color: #333333; display: block; padding: 0 15px; line-height: 72px; height: 72px; font-weight: 400; -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  nav > ul > li.dropdown > a { padding-right: 15px; margin-right: 10px; background:url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/arrow-dark.png?v=6525184403010132337') no-repeat 100% 50%; }
    nav > ul > li > a.current { color: #333333; font-weight: bold; }
    nav > ul > li:hover > a { color: #333333; opacity: 0.7;filter: alpha(opacity = 70);  text-decoration: none; }
    nav > ul > li.dropdown { position:relative; }
    nav > ul > li.dropdown > .dropdown { background: #fff; list-style: none outside none; padding: 5px 15px; display: none; position: absolute; min-width: 180px; z-index: 99999; top: 100%; left: 0%; margin-left: 15px; border: 1px solid #dddddd; }
    nav > ul > li.dropdown:hover > .dropdown { display: block; z-index: 999999; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10); box-shadow:0 0 3px rgba(0, 0, 0, 0.10); }
    nav > ul > li.dropdown li { list-style: none; line-height: 30px; }
    nav > ul > li.dropdown li a { line-height: 30px; height: 30px; color: #333333; }
    nav > ul > li.dropdown li a:hover { color: #333333; opacity:0.7; filter: alpha(opacity = 70); }
    
    .nav-table { display: table; table-layout: fixed; }
    .nav-links { display: table-cell; float: none; vertical-align: middle; }
    .logo h1 { text-align: left; }
    .logo a img, .logo h1 a { margin: 0; }
    nav { position: relative; border: none; float: right; }
    nav > ul > li > a { padding: 0 0 0 30px; }
    nav > ul > li:first-child > a { padding-left: 0; }
    nav > ul > li.dropdown > a { margin-right: 0; }
    nav > ul > li.dropdown > a { margin-right: 0; }
    
    nav > ul { text-align: center; }
    nav > ul > li { float: none !important; display:inline-block !important; }
    nav > ul > li.dropdown > .dropdown { text-align: left; }
    nav > ul > li.dropdown > .dropdown > li { display: block; }
    nav.mobile { display: none; border: none; }
    nav.mobile > ul > li > a { line-height: 30px; height: 30px; }

    /* Mobile Nav Styles */
    .menu-icon {display: none; position: relative; font-size: 20px; color: #555555; font-size: 16px; cursor: pointer; }
    .menu-icon i {padding-right: 6px;}
    nav.mobile {padding: 0px; width: 100%; border-top: none; border-bottom: none;}
    .mobile-nav-wrapper {display: none; margin-bottom: 0px;}
    .flyout {background: none;  border-bottom: 1px solid #dddddd;}
    .flyout > ul {margin: 0px; list-style-type: none;}
    .flyout > ul li {margin: 0px; cursor: pointer; }
    .flyout > ul li a.navlink, .flyout > ul > li.customer-links a   { color: #333333; display: block; font-size: 14px; line-height: 35px; height: 35px; padding: 0 40px; border-bottom:  1px solid #dddddd; border-top: none; }
    .flyout > ul li .more {float: right; width: 36px; height: 36px; text-align: center; color: rgba(0,0,0,0.5); cursor: pointer; position: relative; z-index: 99999;}
    .flyout > ul li .more i {margin-top: 10px; color: #333333;}
    .flyout > ul li, .flyout > ul li .more {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
    .flyout > ul > li > ul { list-style-type: none; margin: 0px; @if lightness(#ffffff) < 50 {background: rgba(255,255,255,0.05);} @else {background: rgba(0,0,0,0.05);} }
  .flyout > ul > li > ul > li a.navlink { color: #333333; padding-left: 50px; }
  .flyout .search-field {margin: 12px 0; float: left; padding: 0 40px; width: 100%; box-sizing: border-box;}
  .flyout .search_box { border: none !important;}
  .flyout .search_box:focus { background: rgba(0,0,0,0.05);}
  .flyout .search-field .search {height: 35px;}
  .flyout .search_box { box-sizing: border-box; height: 35px; width: 100%; margin-left: -30px; margin-top: 0px; float: right;}
  .flyout #go {line-height: 32px; position: relative !important; margin-top: 6px !important; float: left;}


  /* 3.4 - Footer */

  footer .row { margin-bottom: 0; }
  footer, footer p { color: #555555; }
  footer h1, footer h2, footer h3, footer h4, footer h5 { color: #333333; }    
  footer h4 { 
    font-size: 18px; 
    font-weight: 400;   
    padding-bottom:10px;
  }
  footer ul li { margin-bottom: 5px; }  
  footer .tweet ul li { margin-bottom: 20px; }
  footer .tweet_list { list-style: none; margin: 0; }
  footer .tweet_avatar { display: none; }
  footer .tweet_time { display: none; }
  footer .tweet_text a { color: #555555 !important; }
  footer .tweet_text a:hover { color: #555555 !important; opacity: 0.7; filter: alpha(opacity = 70);  }

  /* 3.5 - Homepage */
  .intro { padding-top: 20px; }
  .intro h2 { font-size: 32px; margin-bottom: 20px; }
  .intro h3 { font-family: Lato; font-size: 14px; line-height: 27px; }
  .intro h3 a { font-family: Lato; color: #6bd0de !important; }
  .intro h3 a:hover { font-family: Lato; }
  .featured-product  .display-table-cell:first-child { padding-right:40px; }
  .featured-product h2 { margin-bottom:8px; }
  .featured-product .price { opacity:0.5; font-size:18px; margin-bottom:10px; display: block; }
  .featured-product-description { line-height: 24px; }
  .featured-product-header { opacity: 0.5; font-size: 11px; text-transform: uppercase; }
  .featured-product-image { width: 50%; }
  .featured-product-image img { width: 100%; }

  /* 3.6 - Product & Collections */    
  .product .image a { text-align: center; }
  .product .image a:hover { opacity: 1 !important; }
  .image a#placeholder.zoom, .thumbs .image a { text-align: center; }
  .product .image.loading { background-position: 50% 50%; }
  .product img { margin: 0 auto; opacity: 1; filter: alpha(opacity = 100); -webkit-transition:opacity 0.15s; -moz-transition:opacity 0.15s; transition:opacity 0.15s; }  
  .product img, .product .image a { display: block; margin: 0 auto; }
  .product a { text-decoration: none; }
  .product .details { text-align: center; }
  .product .details a { display: block; padding: 5px 0; }


  .product .circle, #product .circle { position: absolute; text-transform: uppercase; z-index: 1; font-size: 11px; 
    line-height: 14px; right: 15px; top: 0px; color: #fff!important; padding: 17px 10px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; font-weight: 700; -webkit-font-smoothing: subpixel-antialiased; }
  .product .circle.sale, #product .circle.sale { font-family: helvetica; background-color: #6bd0de; opacity: .9; filter:alpha(opacity=90); -webkit-font-smoothing: subpixel-antialiased; }        
  @-moz-document url-prefix() { .product-options select { height: 30px; line-height: 30px; } } /* Firefox fix */
  #collection h1 { float: left; }
  #collection .browse-tags { float: right; padding-top: 10px; padding-left: 15px; }
  #collection .browse-tags label { float: left; display: block; margin: 1px 8px 0 0; }
  @-moz-document url-prefix() { #collection .browse-tags label { margin: 7px 8px 0 0; } #collection .browse-tags select { float: right; height: 30px !important; line-height: 30px !important; } }
  /* 3.7 - Cart */  
  .subtext.success { font-weight: 700; color: #40954a; }
  div.errors, .subtext.error { font-weight: 700; color: #954040; }
  div.errors { margin-bottom: 15px; }
  #note { margin-top: 10px; width: 100%; min-height: 140px;}  
  .google-wallet-button-holder { display: inline-block; }

  /* 3.8 - Blog / Articles / Search */
  #blog .pagination { margin-top:40px; }  
  .sidebar h3 { font-size: 18px; }
  .sidebar .article { margin: 0 0 15px; }
  .sidebar .article a { display: block; }
  .sidebar .tags li { margin: 0; }
  .article h1 { font-size: 26px; }
  .article h1 a { display: block; color: #6bd0de; }
  .article h1 .article-title { display: block; }
  .article h1 a:hover {  }
  .article h1 .date, .article-body h1 .date { font-size: 13px; font-family: Lato; }
  .article .continue { display: block; margin-top: 15px; }  


  #search .results .thumbnail a { display:block; float:right; }
  #search .search-border { border-bottom: 1px solid #dddddd; }
  #search .results .thumbnail a { float: none; }
  #search .search-field { position: relative;}
  #search .search_box { height: 34px; padding: 0 10px 0 10px; border: none; vertical-align: middle; line-height: normal; color: #555555 !important; border: 1px solid #dddddd; }

  /* Page / Article content */
  #page img[style="float: right;"], .article img[style="float: right;"] { margin-left: 30px; margin-bottom: 30px; }
  #page img[style="float: left;"], .article img[style="float: left;"] { margin-right: 30px; margin-bottom: 30px; }

  /* 3.9 - Customer Pages */
  #customer-account p, #customer-order p { line-height: 14px; }
  #login input.text { width: 220px; }
  #customer-activate .create-password { margin-bottom: 30px; }
  #customer-activate .label, #customer-login .label, #customer-reset-password .label, #customer-register .label { display: block; }
  #customer-activate .text, #customer-login .text, #customer-reset-password .text, #customer-register .text { display: block; margin-bottom: 15px; }
  #customer-login .action_bottom, #customer-register .action_bottom { margin-top: 15px; }
  #order_cancelled, #customer_orders table { margin-bottom: 30px; }
  #customer-addresses .add-new-address { display: block; }
  .action_bottom span { line-height: 40px; }

  /* 3.10 - Password Page */
  .template-password {
    height: 100vh;
    text-align: center;
  }

  .password-page__wrapper {
    display: table;
    height: 100%;
    width: 100%;

    @if $passwordPageUseBgImage {
      background-image: url(//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/password-page-background.jpg?15913);
      background-size: cover;
      background-repeat: no-repeat;
      color: #ffffff;

      h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, footer {
        color: #ffffff;
        margin-bottom: 0.5em;
      }

      input {
        background-color: #ffffff;
      }

      a {
        color: inherit;
      }
    } @else {
      color: #555555;

      input {
        background-color: inherit;
      }

      .password-login, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        color: #333333;
        margin-bottom: 0.5em;
      }

      a {
        color: #6bd0de;
      }
    }

    p {
      margin-bottom: 0.5em;
    }

    hr {
      @if $passwordPageUseBgImage {
        border-color: inherit;
      } @else {
        border-color: #dddddd;
      }
    }
  }

  .password-page__header {
    display: table-row;
    height: 1px;
  }

  .password-page__header__inner {
    display: table-cell;
    padding: 10px 20px;
  }

  .password-page__logo {
    margin-top: 60px;

    .logo {
      max-width: 100%;
      padding: 0;
    }

    h1 {
      font-weight: bold;
    }
  }

  .password-page__main {
    display: table-row;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .password-page__main__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 20px;

    hr.hr--small {
      width: 10%;
      margin: 20px auto;
      border-bottom: 0;
    }
  }

  .password-page__hero {
    font-family: Lato;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
    text-transform: none;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
  }

  .password-page__message {
    font-style: italic;
    font-size: 120%;

    img {
      max-width: 100%;
    }
  }

  .password-page__message,
  .password-page__login-form,
  .password-page__signup-form {
    max-width: 400px;
    margin: 0 auto;
  }

  .password-page__login-form {
    text-align: center;
    padding: 20px;

    @if $passwordPageUseBgImage {
      color: #333;

      input {
        background-color: inherit;
      }
    } @else {
      background-color: #ffffff;
    }
  }

  .password-page__login-form,
  .password-page__signup-form {

    .input-group {
      width: 100%;
    }

    .errors ul {
      font-size: 13px;
      list-style-type: none;
      margin-left: 0;
    }
  }

  .lt-ie9 .template-password {
    .newsletter__submit-text--small,
    .password-page__login-form__submit-text--small {
      display: none !important;
    }
  }

  .password-page__social-sharing {
    margin-top: 60px;
  }

  .password-login,
  .admin-login  {
    margin-top: 20px;
    a:hover {
      color: inherit;
    }
  }

  .password-login {
    font-family: Lato;
    font-size: 15px;
    line-height: 15px;
    text-align: right;

    @media only screen and (max-width: 509px) {
      text-align: center;
    }
  }

  .lock-icon-svg {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: baseline;

    path {
      fill: currentColor;
    }

    /* Hiding the SVG logo in IE8 */
    .lt-ie9 & {
      display: none;
    }
  }

  .admin-login {
    font-size: 95%;
  }

  .password-page__footer {
    display: table-row;
    height: 1px;
  }

  .password-page__footer_inner {
    display: table-cell;
    vertical-align: bottom;
    padding: 20px;
    line-height: 1.5 * 15px;
    font-size: 95%;
  }

  .shopify-link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  .shopify-logo-svg {
    width: 1.5 * 15px * 120 / 35;
    height: 1.5 * 15px;
    display: inline-block;
    line-height: 0;
    vertical-align: top;

    path {
      fill: currentColor;
    }

    /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
    .lt-ie9 & {
      display: none;
    }
  }
  /* =========
  Hiding the word 'Shopify' but not from screen readers.
  IE8 does not support SVG, so in it we hide the logo and show the word.
  To target all browsers except IE8, we use the class 'modern',
  which needs to be added to the html element.
  ========= */

  .shopify-name {
    .modern & {
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      position: absolute;
      height: 1px;
      width: 1px;
    }
  }

  /* =================== */
  /*      SECTION 4      */
  /* =================== */
  /* 4.1 - Desktop Slim */ 
  /* 4.2 - Tablet Landscape */
  @media only screen and (min-width: 600px) and (max-width: 797px) {
    .mobile-nav-wrapper {display: block;}    
    nav.mobile, .menu-icon { display: block; }
    nav.main { display:none; }
    .toolbar .search-field { display: none; }  
    /* .products .span2, .products .span3, .products .span4 { width: 118px; } */    
    .toolbar-wrapper.wrapper {width: 100%; padding: 0; box-sizing: border-box;}
    .toolbar {width: 100%; padding: 0 40px; box-sizing: border-box;}

    nav > ul > li > a { padding: 0 0 0 20px; }

    /* #product .span6, #product .span4 { width: 570px; } */    
  }

  /* 4.3 - Mobile Landscape */
  @media only screen and (min-width: 510px) and (max-width: 629px) {
    .mobile-nav-wrapper {display: block;}
    .toolbar-customer {display: none;}
    nav.mobile, .menu-icon { display: block; }
    nav.main { display:none; }

    

    .cart-buttons { float:left!important; }
    .checkout-buttons textarea { width:96%%;}
    #update-cart { float:left!important; }

    .display-table-cell, .display-table-cell { display: block!important; }
    .featured-product-image { width: 100%}    
    .logo h1 a { font-size:48px; margin-left:0px; line-height:50px;}
    .toolbar .search-field { display: none; }


    .toolbar-wrapper.wrapper {width: 100%; padding: 0; box-sizing: border-box;}
    .toolbar {width: 100%; padding: 0 40px; box-sizing: border-box;}        
    #blog .sidebar { display: none; }
    #blog .span9 { width: 450px; }
    #cart .item-description { display: none; }
    #collection h1 { float: none !important; }
    #collection .browse-tags { float: none !important; display: block; padding-top: 10px; }
    #collection .browse-tags label { display: none; }
    #collection .browse-tags select { width: 100%; height: 30px !important; line-height: 30px !important; }                
    
    #header .logo { padding: 20px 0 !important; }
    
    #header .logo a img { max-width: 200px; }
    .footer-menu { margin-bottom: 20px; }
    #product .thumbs .image:nth-child(3n+4) { clear: none; }
    #product .thumbs .image:nth-child(6n+7) { clear: left; }
    #product .thumbs .last-in-row { padding-right: 15px; }
    #product .thumbs .image:nth-child(6n+6) { padding-right: 0; }
    .featured-product-image { margin-top:10px; }
  }

  /* 4.4 - Mobile Portrait */
  @media only screen and (max-width: 509px){
    .mobile-nav-wrapper {display: block;}
    .toolbar-customer {display: none;}
    nav.mobile, .menu-icon { display: block; }
    #checkout-link { display:none; }
    nav.main { display:none; }

    

    .display-table-cell, .display-table-cell { display: block!important; }
    .featured-product-image { width: 100%}

    
    .wrapper { padding: 0; }      
    .toolbar-wrapper.wrapper {width: 100%; padding: 0; box-sizing: border-box;}
    .toolbar {width: 100%; padding: 0 40px; box-sizing: border-box;}        
    .toolbar .search-field { display: none; }
    .flex-controls { display: none !important; }
    footer .btn.newsletter { font-size: 12px; padding-right: 8px; padding-left: 8px; }    
    footer #mail input:-webkit-input-placeholder { line-height: 30px; }
    #blog .sidebar { display: none; }    
    #product .title { font-size: 22px; }
    #product .featured { margin-bottom: 15px; }
    #product .thumbs { margin: 0 0 30px 0; }
    #product .thumbs .image a { max-width: 86px; float: left; margin: 0 15px 0 0; }
    #product .thumbs .image.last-in-row a { margin-right: 0;}
    #cart .item-description, #cartform .image { display: none; }
    #cartform .item { padding-left: 0; }
    #collection h1 { float: none !important; }
    #collection .browse-tags { float: none !important; display: block; padding-top: 10px; }
    #collection .browse-tags label { display: none; }
    #collection .browse-tags select { width: 100%; height: 30px; line-height: 30px; }
    #product .thumbs { margin: 0 0 15px 0; }
    #product .thumbs .image { margin-bottom: 0; }
    #product .thumbs .image a { margin-bottom: 15px; }
    #content { min-height: 0px !important; }
    .footer-menu { margin-bottom: 20px; }
    .featured-product-image { margin-top:10px; }
  }

  /* =================== */
  /*      SECTION 5      */
  /* =================== */
  /* 5.1 - IE Fixes */
  .ie8 .product .circle, .ie8 #product .circle { right: 0; top: 0; padding: 8px 12px; }
  .ie7 nav > ul > li { float: left !important; display:inline-block !important; }
  .ie8 .helper-section:hover .helper-content .product { filter: alpha(opacity = 20); }
  .ie8 .helper-section:hover .helper-content .product img { filter: alpha(opacity = 20); }

  /* =================== */
  /*      SECTION 6      */
  /* =================== */
  /* 6.1 - FancyBox */

  /*!fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
  .fb-wrap,.fb-skin,.fb-outer,.fb-inner,.fb-image,.fb-wrap iframe,.fb-wrap object,.fb-nav,.fb-nav span,.fb-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}.fb-wrap{position:absolute;top:0;left:0;z-index:8020;}.fb-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.fb-opened{z-index:10000;}.fb-opened .fb-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}.fb-outer,.fb-inner{position:relative;}.fb-inner{overflow:hidden;}.fb-type-iframe .fb-inner{-webkit-overflow-scrolling:touch;}.fb-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}.fb-image,.fb-iframe{display:block;width:100%;height:100%;}.fb-image{max-width:100%;max-height:100%;}#fb-loading,.fb-close,.fb-prev span,.fb-next span{background-image: url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/fancybox_sprite.png?v=3005993056200497091');}#fb-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;opacity:.8;cursor:pointer;z-index:8060;}#fb-loading div{width:48px;height:48px;background:url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/fancybox_loading.gif?v=17150916331547659990') center center no-repeat;}.fb-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}.fb-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background: transparent url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/blank.gif?v=16482679876569321596');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}.fb-prev{left:0;}.fb-next{right:0;}.fb-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}.fb-prev span{left:10px;}.fb-next span{right:10px;text-align:right;}.fb-nav:hover span{visibility:visible;}.fb-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important;}.fb-lock{overflow:hidden!important;width:auto;}.fb-lock body{overflow:hidden!important;}.fb-lock-test{overflow-y:hidden!important;}.fb-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(0,0,0,0.8);}.fb-overlay-fixed{position:fixed;bottom:0;right:0;z-index:9999;}.fb-lock .fb-overlay{overflow:auto;overflow-y:scroll;}.fb-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}.fb-opened .fb-title{visibility:visible;}.fb-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}.fb-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}.fb-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}.fb-title-inside-wrap{padding-top:10px;}.fb-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8);}
    .fb-close:hover{ opacity: 1;}
    a.fb-next,a.fb-prev{ font-size:26px; opacity: 0.8; color: #000000;}
    body.is-touch .fb-nav span{ display: none; }

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5){

      #fb-loading, .fb-close, .fb-prev span, .fb-next span {background-image: url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/fancybox_sprite@2x.png?v=3005993056200497091');background-size: 44px 152px;}
        #fb-loading div {background-image: url('//cdn.shopify.com/s/files/1/1499/2644/t/30/assets/fancybox_loading@2x.gif?v=17150916331547659990');background-size: 24px 24px;}
          }

        /* 6.2 - FlexSlider */
        .flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  { outline: none; }
        .slides,.flex-control-nav,.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
        .flexslider { width: 100%; margin: 0 0 30px 0; padding: 0; }
        .flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; margin-bottom: 0px !important; } /* Hide the slides before the JS is loaded. Avoids image jumping */
        .flexslider .slides img { max-width: 100%; display: block; margin: 0 auto; }
        .flex-pauseplay span { text-transform: capitalize; }
        .slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
        html[xmlns] .slides { display: block; }
        * html .slides { height: 1%; }
        .no-js .slides > li:first-child { display: block; }
        .flexslider { background: #fff; position: relative; zoom: 1; }
        .flexslider .slides { zoom: 1; }
        .flexslider .slides > li { position: relative; }
        .flex-container { zoom: 1; position: relative; }
        .flex-caption { background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1; }
        .flex-caption { width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.8); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.8); font-size: 14px; line-height: 18px; }      
        .flex-direction-nav li { margin-bottom: 0; }      
        .flex-direction-nav li .disabled { opacity: .3; filter:alpha(opacity=30); cursor: default; }                
    /* Dark Direction Nav */      
    .flex-controls { opacity: 0.9; filter: alpha(opacity = 90); }
    .slides a:hover{ opacity:1; }

    /* 6.4 - Web Fonts */
    @font-face { font-family: 'ProximaNovaLight'; src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.eot' ); src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.eot?#iefix' ) format('embedded-opentype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.woff' ) format('woff'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.ttf' ) format('truetype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Light-webfont.svg#ProximaNovaRegular' ) format('svg'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'ProximaNovaLight'; src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.eot' ); src: url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.eot?#iefix' ) format('embedded-opentype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.woff' ) format('woff'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.ttf' ) format('truetype'), url( '//cdn.shopify.com/assets/fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaRegular' ) format('svg'); font-weight: bold; font-style: normal; }

    /* 6.5 - Example Products & Content Tooltip */
    .helper-note { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;; font-size:16px; background: #31373d; border: none; color: #96a7b6; padding: 30px; position: absolute; max-width:510px; margin-left:-255px; left:50%; z-index:99999; opacity: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; filter: alpha(opacity = 0); -webkit-transition: opacity 0.1s cubic-bezier(0,0,0.33,1), margin-top 0.5s cubic-bezier(0.45, 0, 0, 0.95); -moz-transition: opacity 0.1s cubic-bezier(0,0,0.33,1), margin-top 0.5s cubic-bezier(0.45, 0, 0, 0.95); transition: opacity 0.1s cubic-bezier(0,0,0.33,1), margin-top 0.5s cubic-bezier(0.45, 0, 0, 0.95); }
    @media only screen and (max-width: 509px) { .helper-note { width:270px; margin-left:-145px; } }
  .helper-note p { line-height: 18px; margin-bottom: 15px; margin-left: 40px; font-size: 13px; }
  .helper-note p:last-child { margin-bottom: 0; }
  .helper-note h3 { font-family:'ProximaNovaLight'; font-size:19px; font-weight: normal; color: #ffffff;  margin-left: 40px; }
  .helper-note a.secondary-action { display: inline-block; line-height: 30px; color: #479ccf; }
  .helper-note a.admin-btn-primary { margin-right: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: inline-block; height: 32px; line-height: 30px; padding: 0 9px; font-size: 13px; border-radius: 4px; text-decoration: none; white-space: nowrap; text-transform: none; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; vertical-align: middle; background-color: #479ccf; border: 1px solid #2f82b4; color: #fff; }
  .helper-note a.admin-btn-primary:active { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; background-color: #2f82b4; border-color: #24658c; }
  .helper-note .helper-icon { float: left; margin-top: 4px; width: 24px; height: 24px; background-size: contain; display: inline-block; vertical-align: top; }
  .helper-section { clear:both; }
  .helper-section:hover .helper-note { opacity: 1; filter: alpha(opacity = 100); -webkit-transition: all 0.5s cubic-bezier(0.45, 0, 0, 0.95); -moz-transition: all 0.5s cubic-bezier(0.45, 0, 0, 0.95); transition: all 0.5s cubic-bezier(0.45, 0, 0, 0.95); }
  .helper-section .helper-content { opacity: 1; filter: alpha(opacity = 100); -webkit-transition: opacity 0.25s cubic-bezier(0.67,0,1,1); -moz-transition: opacity 0.25s cubic-bezier(0.67,0,1,1); transition: opacity 0.25s cubic-bezier(0.67,0,1,1); }
  .helper-section:hover .helper-content { opacity: 0.2; filter: alpha(opacity = 20); -webkit-transition: opacity 0.3s cubic-bezier(0,0,0.33,1); -moz-transition: opacity 0.3s cubic-bezier(0,0,0.33,1); transition: opacity 0.3s cubic-bezier(0,0,0.33,1); }
  .helper-homepage-products                             { margin-top: 215px; }
  .helper-section:hover .helper-homepage-products       { margin-top: 200px; }
  .helper-homepage-page                                 { margin-top: 95px; }
  .helper-section:hover .helper-homepage-page           { margin-top: 80px; }
  .helper-all-products                                  { margin-top: 115px; }
  .helper-section:hover .helper-all-products            { margin-top: 100px; }
  .helper-product                                       { margin-top: 115px; }
  .helper-section:hover .helper-product                 { margin-top: 100px; }

  
  .mobile-search{
    display: none;
    @media only screen and (max-width: 767px){  
      margin: auto;
      float: none!important;
      text-align: center;
      display: inline-block;
      width: 100%;
      padding-bottom: 15px;
      form{
        display: inline-block;
        position: relative;
        line-height: 32px;
        height: 32px;
        vertical-align: middle;
        width: 90%;
        .search_box{
            width: 100%!important;
            height: 32px;
            line-height: 32px;
            padding: 5px;
        }
      }
      img{
        background: #222222;
        padding: 5px;
        border-radius: 3px;
      }
    }
    @media only screen and (max-width: 414px){
      form{
        width: 85%;
      }
    }
  }
  @media only screen and (max-width: 414px){
    div.snize-ac-results{
      width: 100% !important;
    }
  }
  
  /* ANIMATE.css */
  @charset "UTF-8";body{-webkit-backface-visibility:hidden}.animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s}@-webkit-keyframes flash{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@-moz-keyframes flash{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@-o-keyframes flash{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,50%,100%{opacity:1}25%,75%{opacity:0}}.flash{-webkit-animation-name:flash;-moz-animation-name:flash;-o-animation-name:flash;animation-name:flash}@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px)}}@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0)}10%,30%,50%,70%,90%{-moz-transform:translateX(-10px)}20%,40%,60%,80%{-moz-transform:translateX(10px)}}@-o-keyframes shake{0%,100%{-o-transform:translateX(0)}10%,30%,50%,70%,90%{-o-transform:translateX(-10px)}20%,40%,60%,80%{-o-transform:translateX(10px)}}@keyframes shake{0%,100%{transform:translateX(0)}10%,30%,50%,70%,90%{transform:translateX(-10px)}20%,40%,60%,80%{transform:translateX(10px)}}.shake{-webkit-animation-name:shake;-moz-animation-name:shake;-o-animation-name:shake;animation-name:shake}@-webkit-keyframes bounce{0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}40%{-webkit-transform:translateY(-30px)}60%{-webkit-transform:translateY(-15px)}}@-moz-keyframes bounce{0%,20%,50%,80%,100%{-moz-transform:translateY(0)}40%{-moz-transform:translateY(-30px)}60%{-moz-transform:translateY(-15px)}}@-o-keyframes bounce{0%,20%,50%,80%,100%{-o-transform:translateY(0)}40%{-o-transform:translateY(-30px)}60%{-o-transform:translateY(-15px)}}@keyframes bounce{0%,20%,50%,80%,100%{transform:translateY(0)}40%{transform:translateY(-30px)}60%{transform:translateY(-15px)}}.bounce{-webkit-animation-name:bounce;-moz-animation-name:bounce;-o-animation-name:bounce;animation-name:bounce}@-webkit-keyframes tada{0%{-webkit-transform:scale(1)}10%,20%{-webkit-transform:scale(0.9) rotate(-3deg)}30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}100%{-webkit-transform:scale(1) rotate(0)}}@-moz-keyframes tada{0%{-moz-transform:scale(1)}10%,20%{-moz-transform:scale(0.9) rotate(-3deg)}30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg)}40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg)}100%{-moz-transform:scale(1) rotate(0)}}@-o-keyframes tada{0%{-o-transform:scale(1)}10%,20%{-o-transform:scale(0.9) rotate(-3deg)}30%,50%,70%,90%{-o-transform:scale(1.1) rotate(3deg)}40%,60%,80%{-o-transform:scale(1.1) rotate(-3deg)}100%{-o-transform:scale(1) rotate(0)}}@keyframes tada{0%{transform:scale(1)}10%,20%{transform:scale(0.9) rotate(-3deg)}30%,50%,70%,90%{transform:scale(1.1) rotate(3deg)}40%,60%,80%{transform:scale(1.1) rotate(-3deg)}100%{transform:scale(1) rotate(0)}}.tada{-webkit-animation-name:tada;-moz-animation-name:tada;-o-animation-name:tada;animation-name:tada}@-webkit-keyframes swing{20%,40%,60%,80%,100%{-webkit-transform-origin:top center}20%{-webkit-transform:rotate(15deg)}40%{-webkit-transform:rotate(-10deg)}60%{-webkit-transform:rotate(5deg)}80%{-webkit-transform:rotate(-5deg)}100%{-webkit-transform:rotate(0deg)}}@-moz-keyframes swing{20%{-moz-transform:rotate(15deg)}40%{-moz-transform:rotate(-10deg)}60%{-moz-transform:rotate(5deg)}80%{-moz-transform:rotate(-5deg)}100%{-moz-transform:rotate(0deg)}}@-o-keyframes swing{20%{-o-transform:rotate(15deg)}40%{-o-transform:rotate(-10deg)}60%{-o-transform:rotate(5deg)}80%{-o-transform:rotate(-5deg)}100%{-o-transform:rotate(0deg)}}@keyframes swing{20%{transform:rotate(15deg)}40%{transform:rotate(-10deg)}60%{transform:rotate(5deg)}80%{transform:rotate(-5deg)}100%{transform:rotate(0deg)}}.swing{-webkit-transform-origin:top center;-moz-transform-origin:top center;-o-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;-moz-animation-name:swing;-o-animation-name:swing;animation-name:swing}@-webkit-keyframes wobble{0%{-webkit-transform:translateX(0%)}15%{-webkit-transform:translateX(-25%) rotate(-5deg)}30%{-webkit-transform:translateX(20%) rotate(3deg)}45%{-webkit-transform:translateX(-15%) rotate(-3deg)}60%{-webkit-transform:translateX(10%) rotate(2deg)}75%{-webkit-transform:translateX(-5%) rotate(-1deg)}100%{-webkit-transform:translateX(0%)}}@-moz-keyframes wobble{0%{-moz-transform:translateX(0%)}15%{-moz-transform:translateX(-25%) rotate(-5deg)}30%{-moz-transform:translateX(20%) rotate(3deg)}45%{-moz-transform:translateX(-15%) rotate(-3deg)}60%{-moz-transform:translateX(10%) rotate(2deg)}75%{-moz-transform:translateX(-5%) rotate(-1deg)}100%{-moz-transform:translateX(0%)}}@-o-keyframes wobble{0%{-o-transform:translateX(0%)}15%{-o-transform:translateX(-25%) rotate(-5deg)}30%{-o-transform:translateX(20%) rotate(3deg)}45%{-o-transform:translateX(-15%) rotate(-3deg)}60%{-o-transform:translateX(10%) rotate(2deg)}75%{-o-transform:translateX(-5%) rotate(-1deg)}100%{-o-transform:translateX(0%)}}@keyframes wobble{0%{transform:translateX(0%)}15%{transform:translateX(-25%) rotate(-5deg)}30%{transform:translateX(20%) rotate(3deg)}45%{transform:translateX(-15%) rotate(-3deg)}60%{transform:translateX(10%) rotate(2deg)}75%{transform:translateX(-5%) rotate(-1deg)}100%{transform:translateX(0%)}}.wobble{-webkit-animation-name:wobble;-moz-animation-name:wobble;-o-animation-name:wobble;animation-name:wobble}@-webkit-keyframes pulse{0%{-webkit-transform:scale(1)}50%{-webkit-transform:scale(1.1)}100%{-webkit-transform:scale(1)}}@-moz-keyframes pulse{0%{-moz-transform:scale(1)}50%{-moz-transform:scale(1.1)}100%{-moz-transform:scale(1)}}@-o-keyframes pulse{0%{-o-transform:scale(1)}50%{-o-transform:scale(1.1)}100%{-o-transform:scale(1)}}@keyframes pulse{0%{transform:scale(1)}50%{transform:scale(1.1)}100%{transform:scale(1)}}.pulse{-webkit-animation-name:pulse;-moz-animation-name:pulse;-o-animation-name:pulse;animation-name:pulse}@-webkit-keyframes flip{0%{-webkit-transform:perspective(400px) rotateY(0);-webkit-animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg);-webkit-animation-timing-function:ease-out}50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-webkit-animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) rotateY(360deg) scale(.95);-webkit-animation-timing-function:ease-in}100%{-webkit-transform:perspective(400px) scale(1);-webkit-animation-timing-function:ease-in}}@-moz-keyframes flip{0%{-moz-transform:perspective(400px) rotateY(0);-moz-animation-timing-function:ease-out}40%{-moz-transform:perspective(400px) translateZ(150px) rotateY(170deg);-moz-animation-timing-function:ease-out}50%{-moz-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-moz-animation-timing-function:ease-in}80%{-moz-transform:perspective(400px) rotateY(360deg) scale(.95);-moz-animation-timing-function:ease-in}100%{-moz-transform:perspective(400px) scale(1);-moz-animation-timing-function:ease-in}}@-o-keyframes flip{0%{-o-transform:perspective(400px) rotateY(0);-o-animation-timing-function:ease-out}40%{-o-transform:perspective(400px) translateZ(150px) rotateY(170deg);-o-animation-timing-function:ease-out}50%{-o-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-o-animation-timing-function:ease-in}80%{-o-transform:perspective(400px) rotateY(360deg) scale(.95);-o-animation-timing-function:ease-in}100%{-o-transform:perspective(400px) scale(1);-o-animation-timing-function:ease-in}}@keyframes flip{0%{transform:perspective(400px) rotateY(0);animation-timing-function:ease-out}40%{transform:perspective(400px) translateZ(150px) rotateY(170deg);animation-timing-function:ease-out}50%{transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);animation-timing-function:ease-in}80%{transform:perspective(400px) rotateY(360deg) scale(.95);animation-timing-function:ease-in}100%{transform:perspective(400px) scale(1);animation-timing-function:ease-in}}.flip{-webkit-backface-visibility:visible!important;-webkit-animation-name:flip;-moz-backface-visibility:visible!important;-moz-animation-name:flip;-o-backface-visibility:visible!important;-o-animation-name:flip;backface-visibility:visible!important;animation-name:flip}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.flipInX{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible!important;-moz-animation-name:flipInX;-o-backface-visibility:visible!important;-o-animation-name:flipInX;backface-visibility:visible!important;animation-name:flipInX}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}}@-moz-keyframes flipOutX{0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}}@-o-keyframes flipOutX{0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{transform:perspective(400px) rotateX(0deg);opacity:1}100%{transform:perspective(400px) rotateX(90deg);opacity:0}}.flipOutX{-webkit-animation-name:flipOutX;-webkit-backface-visibility:visible!important;-moz-animation-name:flipOutX;-moz-backface-visibility:visible!important;-o-animation-name:flipOutX;-o-backface-visibility:visible!important;animation-name:flipOutX;backface-visibility:visible!important}@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateY(-10deg)}70%{-webkit-transform:perspective(400px) rotateY(10deg)}100%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1}}@-moz-keyframes flipInY{0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateY(-10deg)}70%{-moz-transform:perspective(400px) rotateY(10deg)}100%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1}}@-o-keyframes flipInY{0%{-o-transform:perspective(400px) rotateY(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateY(-10deg)}70%{-o-transform:perspective(400px) rotateY(10deg)}100%{-o-transform:perspective(400px) rotateY(0deg);opacity:1}}@keyframes flipInY{0%{transform:perspective(400px) rotateY(90deg);opacity:0}40%{transform:perspective(400px) rotateY(-10deg)}70%{transform:perspective(400px) rotateY(10deg)}100%{transform:perspective(400px) rotateY(0deg);opacity:1}}.flipInY{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipInY;-moz-backface-visibility:visible!important;-moz-animation-name:flipInY;-o-backface-visibility:visible!important;-o-animation-name:flipInY;backface-visibility:visible!important;animation-name:flipInY}@-webkit-keyframes flipOutY{0%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0}}@-moz-keyframes flipOutY{0%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0}}@-o-keyframes flipOutY{0%{-o-transform:perspective(400px) rotateY(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateY(90deg);opacity:0}}@keyframes flipOutY{0%{transform:perspective(400px) rotateY(0deg);opacity:1}100%{transform:perspective(400px) rotateY(90deg);opacity:0}}.flipOutY{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipOutY;-moz-backface-visibility:visible!important;-moz-animation-name:flipOutY;-o-backface-visibility:visible!important;-o-animation-name:flipOutY;backface-visibility:visible!important;animation-name:flipOutY}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0)}}.fadeInUp{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp;-o-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}100%{opacity:1;transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInRight{0%{opacity:0;-moz-transform:translateX(20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInRight{0%{opacity:0;-o-transform:translateX(20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInRight{0%{opacity:0;transform:translateX(20px)}100%{opacity:1;transform:translateX(0)}}.fadeInRight{-webkit-animation-name:fadeInRight;-moz-animation-name:fadeInRight;-o-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInUpBig{0%{opacity:0;-moz-transform:translateY(2000px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInUpBig{0%{opacity:0;-o-transform:translateY(2000px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInUpBig{0%{opacity:0;transform:translateY(2000px)}100%{opacity:1;transform:translateY(0)}}.fadeInUpBig{-webkit-animation-name:fadeInUpBig;-moz-animation-name:fadeInUpBig;-o-animation-name:fadeInUpBig;animation-name:fadeInUpBig}@-webkit-keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translateY(-2000px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInDownBig{0%{opacity:0;-moz-transform:translateY(-2000px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInDownBig{0%{opacity:0;-o-transform:translateY(-2000px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInDownBig{0%{opacity:0;transform:translateY(-2000px)}100%{opacity:1;transform:translateY(0)}}.fadeInDownBig{-webkit-animation-name:fadeInDownBig;-moz-animation-name:fadeInDownBig;-o-animation-name:fadeInDownBig;animation-name:fadeInDownBig}@-webkit-keyframes fadeInLeftBig{0%{opacity:0;-webkit-transform:translateX(-2000px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeftBig{0%{opacity:0;-moz-transform:translateX(-2000px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeftBig{0%{opacity:0;-o-transform:translateX(-2000px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeftBig{0%{opacity:0;transform:translateX(-2000px)}100%{opacity:1;transform:translateX(0)}}.fadeInLeftBig{-webkit-animation-name:fadeInLeftBig;-moz-animation-name:fadeInLeftBig;-o-animation-name:fadeInLeftBig;animation-name:fadeInLeftBig}@-webkit-keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translateX(2000px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInRightBig{0%{opacity:0;-moz-transform:translateX(2000px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInRightBig{0%{opacity:0;-o-transform:translateX(2000px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInRightBig{0%{opacity:0;transform:translateX(2000px)}100%{opacity:1;transform:translateX(0)}}.fadeInRightBig{-webkit-animation-name:fadeInRightBig;-moz-animation-name:fadeInRightBig;-o-animation-name:fadeInRightBig;animation-name:fadeInRightBig}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px)}}@-moz-keyframes fadeOutUp{0%{opacity:1;-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(-20px)}}@-o-keyframes fadeOutUp{0%{opacity:1;-o-transform:translateY(0)}100%{opacity:0;-o-transform:translateY(-20px)}}@keyframes fadeOutUp{0%{opacity:1;transform:translateY(0)}100%{opacity:0;transform:translateY(-20px)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;-moz-animation-name:fadeOutUp;-o-animation-name:fadeOutUp;animation-name:fadeOutUp}@-webkit-keyframes fadeOutDown{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(20px)}}@-moz-keyframes fadeOutDown{0%{opacity:1;-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(20px)}}@-o-keyframes fadeOutDown{0%{opacity:1;-o-transform:translateY(0)}100%{opacity:0;-o-transform:translateY(20px)}}@keyframes fadeOutDown{0%{opacity:1;transform:translateY(0)}100%{opacity:0;transform:translateY(20px)}}.fadeOutDown{-webkit-animation-name:fadeOutDown;-moz-animation-name:fadeOutDown;-o-animation-name:fadeOutDown;animation-name:fadeOutDown}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-20px)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-20px)}}@-o-keyframes fadeOutLeft{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-20px)}}@keyframes fadeOutLeft{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-20px)}}.fadeOutLeft{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft}@-webkit-keyframes fadeOutRight{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(20px)}}@-moz-keyframes fadeOutRight{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(20px)}}@-o-keyframes fadeOutRight{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(20px)}}@keyframes fadeOutRight{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(20px)}}.fadeOutRight{-webkit-animation-name:fadeOutRight;-moz-animation-name:fadeOutRight;-o-animation-name:fadeOutRight;animation-name:fadeOutRight}@-webkit-keyframes fadeOutUpBig{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-2000px)}}@-moz-keyframes fadeOutUpBig{0%{opacity:1;-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(-2000px)}}@-o-keyframes fadeOutUpBig{0%{opacity:1;-o-transform:translateY(0)}100%{opacity:0;-o-transform:translateY(-2000px)}}@keyframes fadeOutUpBig{0%{opacity:1;transform:translateY(0)}100%{opacity:0;transform:translateY(-2000px)}}.fadeOutUpBig{-webkit-animation-name:fadeOutUpBig;-moz-animation-name:fadeOutUpBig;-o-animation-name:fadeOutUpBig;animation-name:fadeOutUpBig}@-webkit-keyframes fadeOutDownBig{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(2000px)}}@-moz-keyframes fadeOutDownBig{0%{opacity:1;-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(2000px)}}@-o-keyframes fadeOutDownBig{0%{opacity:1;-o-transform:translateY(0)}100%{opacity:0;-o-transform:translateY(2000px)}}@keyframes fadeOutDownBig{0%{opacity:1;transform:translateY(0)}100%{opacity:0;transform:translateY(2000px)}}.fadeOutDownBig{-webkit-animation-name:fadeOutDownBig;-moz-animation-name:fadeOutDownBig;-o-animation-name:fadeOutDownBig;animation-name:fadeOutDownBig}@-webkit-keyframes fadeOutLeftBig{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-2000px)}}@-moz-keyframes fadeOutLeftBig{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-2000px)}}@-o-keyframes fadeOutLeftBig{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-2000px)}}@keyframes fadeOutLeftBig{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-2000px)}}.fadeOutLeftBig{-webkit-animation-name:fadeOutLeftBig;-moz-animation-name:fadeOutLeftBig;-o-animation-name:fadeOutLeftBig;animation-name:fadeOutLeftBig}@-webkit-keyframes fadeOutRightBig{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(2000px)}}@-moz-keyframes fadeOutRightBig{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(2000px)}}@-o-keyframes fadeOutRightBig{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(2000px)}}@keyframes fadeOutRightBig{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(2000px)}}.fadeOutRightBig{-webkit-animation-name:fadeOutRightBig;-moz-animation-name:fadeOutRightBig;-o-animation-name:fadeOutRightBig;animation-name:fadeOutRightBig}@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3)}50%{opacity:1;-webkit-transform:scale(1.05)}70%{-webkit-transform:scale(.9)}100%{-webkit-transform:scale(1)}}@-moz-keyframes bounceIn{0%{opacity:0;-moz-transform:scale(.3)}50%{opacity:1;-moz-transform:scale(1.05)}70%{-moz-transform:scale(.9)}100%{-moz-transform:scale(1)}}@-o-keyframes bounceIn{0%{opacity:0;-o-transform:scale(.3)}50%{opacity:1;-o-transform:scale(1.05)}70%{-o-transform:scale(.9)}100%{-o-transform:scale(1)}}@keyframes bounceIn{0%{opacity:0;transform:scale(.3)}50%{opacity:1;transform:scale(1.05)}70%{transform:scale(.9)}100%{transform:scale(1)}}.bounceIn{-webkit-animation-name:bounceIn;-moz-animation-name:bounceIn;-o-animation-name:bounceIn;animation-name:bounceIn}@-webkit-keyframes bounceInUp{0%{opacity:0;-webkit-transform:translateY(2000px)}60%{opacity:1;-webkit-transform:translateY(-30px)}80%{-webkit-transform:translateY(10px)}100%{-webkit-transform:translateY(0)}}@-moz-keyframes bounceInUp{0%{opacity:0;-moz-transform:translateY(2000px)}60%{opacity:1;-moz-transform:translateY(-30px)}80%{-moz-transform:translateY(10px)}100%{-moz-transform:translateY(0)}}@-o-keyframes bounceInUp{0%{opacity:0;-o-transform:translateY(2000px)}60%{opacity:1;-o-transform:translateY(-30px)}80%{-o-transform:translateY(10px)}100%{-o-transform:translateY(0)}}@keyframes bounceInUp{0%{opacity:0;transform:translateY(2000px)}60%{opacity:1;transform:translateY(-30px)}80%{transform:translateY(10px)}100%{transform:translateY(0)}}.bounceInUp{-webkit-animation-name:bounceInUp;-moz-animation-name:bounceInUp;-o-animation-name:bounceInUp;animation-name:bounceInUp}@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}60%{opacity:1;-webkit-transform:translateY(30px)}80%{-webkit-transform:translateY(-10px)}100%{-webkit-transform:translateY(0)}}@-moz-keyframes bounceInDown{0%{opacity:0;-moz-transform:translateY(-2000px)}60%{opacity:1;-moz-transform:translateY(30px)}80%{-moz-transform:translateY(-10px)}100%{-moz-transform:translateY(0)}}@-o-keyframes bounceInDown{0%{opacity:0;-o-transform:translateY(-2000px)}60%{opacity:1;-o-transform:translateY(30px)}80%{-o-transform:translateY(-10px)}100%{-o-transform:translateY(0)}}@keyframes bounceInDown{0%{opacity:0;transform:translateY(-2000px)}60%{opacity:1;transform:translateY(30px)}80%{transform:translateY(-10px)}100%{transform:translateY(0)}}.bounceInDown{-webkit-animation-name:bounceInDown;-moz-animation-name:bounceInDown;-o-animation-name:bounceInDown;animation-name:bounceInDown}@-webkit-keyframes bounceInLeft{0%{opacity:0;-webkit-transform:translateX(-2000px)}60%{opacity:1;-webkit-transform:translateX(30px)}80%{-webkit-transform:translateX(-10px)}100%{-webkit-transform:translateX(0)}}@-moz-keyframes bounceInLeft{0%{opacity:0;-moz-transform:translateX(-2000px)}60%{opacity:1;-moz-transform:translateX(30px)}80%{-moz-transform:translateX(-10px)}100%{-moz-transform:translateX(0)}}@-o-keyframes bounceInLeft{0%{opacity:0;-o-transform:translateX(-2000px)}60%{opacity:1;-o-transform:translateX(30px)}80%{-o-transform:translateX(-10px)}100%{-o-transform:translateX(0)}}@keyframes bounceInLeft{0%{opacity:0;transform:translateX(-2000px)}60%{opacity:1;transform:translateX(30px)}80%{transform:translateX(-10px)}100%{transform:translateX(0)}}.bounceInLeft{-webkit-animation-name:bounceInLeft;-moz-animation-name:bounceInLeft;-o-animation-name:bounceInLeft;animation-name:bounceInLeft}@-webkit-keyframes bounceInRight{0%{opacity:0;-webkit-transform:translateX(2000px)}60%{opacity:1;-webkit-transform:translateX(-30px)}80%{-webkit-transform:translateX(10px)}100%{-webkit-transform:translateX(0)}}@-moz-keyframes bounceInRight{0%{opacity:0;-moz-transform:translateX(2000px)}60%{opacity:1;-moz-transform:translateX(-30px)}80%{-moz-transform:translateX(10px)}100%{-moz-transform:translateX(0)}}@-o-keyframes bounceInRight{0%{opacity:0;-o-transform:translateX(2000px)}60%{opacity:1;-o-transform:translateX(-30px)}80%{-o-transform:translateX(10px)}100%{-o-transform:translateX(0)}}@keyframes bounceInRight{0%{opacity:0;transform:translateX(2000px)}60%{opacity:1;transform:translateX(-30px)}80%{transform:translateX(10px)}100%{transform:translateX(0)}}.bounceInRight{-webkit-animation-name:bounceInRight;-moz-animation-name:bounceInRight;-o-animation-name:bounceInRight;animation-name:bounceInRight}@-webkit-keyframes bounceOut{0%{-webkit-transform:scale(1)}25%{-webkit-transform:scale(.95)}50%{opacity:1;-webkit-transform:scale(1.1)}100%{opacity:0;-webkit-transform:scale(.3)}}@-moz-keyframes bounceOut{0%{-moz-transform:scale(1)}25%{-moz-transform:scale(.95)}50%{opacity:1;-moz-transform:scale(1.1)}100%{opacity:0;-moz-transform:scale(.3)}}@-o-keyframes bounceOut{0%{-o-transform:scale(1)}25%{-o-transform:scale(.95)}50%{opacity:1;-o-transform:scale(1.1)}100%{opacity:0;-o-transform:scale(.3)}}@keyframes bounceOut{0%{transform:scale(1)}25%{transform:scale(.95)}50%{opacity:1;transform:scale(1.1)}100%{opacity:0;transform:scale(.3)}}.bounceOut{-webkit-animation-name:bounceOut;-moz-animation-name:bounceOut;-o-animation-name:bounceOut;animation-name:bounceOut}@-webkit-keyframes bounceOutUp{0%{-webkit-transform:translateY(0)}20%{opacity:1;-webkit-transform:translateY(20px)}100%{opacity:0;-webkit-transform:translateY(-2000px)}}@-moz-keyframes bounceOutUp{0%{-moz-transform:translateY(0)}20%{opacity:1;-moz-transform:translateY(20px)}100%{opacity:0;-moz-transform:translateY(-2000px)}}@-o-keyframes bounceOutUp{0%{-o-transform:translateY(0)}20%{opacity:1;-o-transform:translateY(20px)}100%{opacity:0;-o-transform:translateY(-2000px)}}@keyframes bounceOutUp{0%{transform:translateY(0)}20%{opacity:1;transform:translateY(20px)}100%{opacity:0;transform:translateY(-2000px)}}.bounceOutUp{-webkit-animation-name:bounceOutUp;-moz-animation-name:bounceOutUp;-o-animation-name:bounceOutUp;animation-name:bounceOutUp}@-webkit-keyframes bounceOutDown{0%{-webkit-transform:translateY(0)}20%{opacity:1;-webkit-transform:translateY(-20px)}100%{opacity:0;-webkit-transform:translateY(2000px)}}@-moz-keyframes bounceOutDown{0%{-moz-transform:translateY(0)}20%{opacity:1;-moz-transform:translateY(-20px)}100%{opacity:0;-moz-transform:translateY(2000px)}}@-o-keyframes bounceOutDown{0%{-o-transform:translateY(0)}20%{opacity:1;-o-transform:translateY(-20px)}100%{opacity:0;-o-transform:translateY(2000px)}}@keyframes bounceOutDown{0%{transform:translateY(0)}20%{opacity:1;transform:translateY(-20px)}100%{opacity:0;transform:translateY(2000px)}}.bounceOutDown{-webkit-animation-name:bounceOutDown;-moz-animation-name:bounceOutDown;-o-animation-name:bounceOutDown;animation-name:bounceOutDown}@-webkit-keyframes bounceOutLeft{0%{-webkit-transform:translateX(0)}20%{opacity:1;-webkit-transform:translateX(20px)}100%{opacity:0;-webkit-transform:translateX(-2000px)}}@-moz-keyframes bounceOutLeft{0%{-moz-transform:translateX(0)}20%{opacity:1;-moz-transform:translateX(20px)}100%{opacity:0;-moz-transform:translateX(-2000px)}}@-o-keyframes bounceOutLeft{0%{-o-transform:translateX(0)}20%{opacity:1;-o-transform:translateX(20px)}100%{opacity:0;-o-transform:translateX(-2000px)}}@keyframes bounceOutLeft{0%{transform:translateX(0)}20%{opacity:1;transform:translateX(20px)}100%{opacity:0;transform:translateX(-2000px)}}.bounceOutLeft{-webkit-animation-name:bounceOutLeft;-moz-animation-name:bounceOutLeft;-o-animation-name:bounceOutLeft;animation-name:bounceOutLeft}@-webkit-keyframes bounceOutRight{0%{-webkit-transform:translateX(0)}20%{opacity:1;-webkit-transform:translateX(-20px)}100%{opacity:0;-webkit-transform:translateX(2000px)}}@-moz-keyframes bounceOutRight{0%{-moz-transform:translateX(0)}20%{opacity:1;-moz-transform:translateX(-20px)}100%{opacity:0;-moz-transform:translateX(2000px)}}@-o-keyframes bounceOutRight{0%{-o-transform:translateX(0)}20%{opacity:1;-o-transform:translateX(-20px)}100%{opacity:0;-o-transform:translateX(2000px)}}@keyframes bounceOutRight{0%{transform:translateX(0)}20%{opacity:1;transform:translateX(-20px)}100%{opacity:0;transform:translateX(2000px)}}.bounceOutRight{-webkit-animation-name:bounceOutRight;-moz-animation-name:bounceOutRight;-o-animation-name:bounceOutRight;animation-name:bounceOutRight}@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center center;-webkit-transform:rotate(-200deg);opacity:0}100%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);opacity:1}}@-moz-keyframes rotateIn{0%{-moz-transform-origin:center center;-moz-transform:rotate(-200deg);opacity:0}100%{-moz-transform-origin:center center;-moz-transform:rotate(0);opacity:1}}@-o-keyframes rotateIn{0%{-o-transform-origin:center center;-o-transform:rotate(-200deg);opacity:0}100%{-o-transform-origin:center center;-o-transform:rotate(0);opacity:1}}@keyframes rotateIn{0%{transform-origin:center center;transform:rotate(-200deg);opacity:0}100%{transform-origin:center center;transform:rotate(0);opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;-moz-animation-name:rotateIn;-o-animation-name:rotateIn;animation-name:rotateIn}@-webkit-keyframes rotateInUpLeft{0%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(90deg);opacity:0}100%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(0);opacity:1}}@-moz-keyframes rotateInUpLeft{0%{-moz-transform-origin:left bottom;-moz-transform:rotate(90deg);opacity:0}100%{-moz-transform-origin:left bottom;-moz-transform:rotate(0);opacity:1}}@-o-keyframes rotateInUpLeft{0%{-o-transform-origin:left bottom;-o-transform:rotate(90deg);opacity:0}100%{-o-transform-origin:left bottom;-o-transform:rotate(0);opacity:1}}@keyframes rotateInUpLeft{0%{transform-origin:left bottom;transform:rotate(90deg);opacity:0}100%{transform-origin:left bottom;transform:rotate(0);opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;-moz-animation-name:rotateInUpLeft;-o-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}@-webkit-keyframes rotateInDownLeft{0%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(-90deg);opacity:0}100%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(0);opacity:1}}@-moz-keyframes rotateInDownLeft{0%{-moz-transform-origin:left bottom;-moz-transform:rotate(-90deg);opacity:0}100%{-moz-transform-origin:left bottom;-moz-transform:rotate(0);opacity:1}}@-o-keyframes rotateInDownLeft{0%{-o-transform-origin:left bottom;-o-transform:rotate(-90deg);opacity:0}100%{-o-transform-origin:left bottom;-o-transform:rotate(0);opacity:1}}@keyframes rotateInDownLeft{0%{transform-origin:left bottom;transform:rotate(-90deg);opacity:0}100%{transform-origin:left bottom;transform:rotate(0);opacity:1}}.rotateInDownLeft{-webkit-animation-name:rotateInDownLeft;-moz-animation-name:rotateInDownLeft;-o-animation-name:rotateInDownLeft;animation-name:rotateInDownLeft}@-webkit-keyframes rotateInUpRight{0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(-90deg);opacity:0}100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}}@-moz-keyframes rotateInUpRight{0%{-moz-transform-origin:right bottom;-moz-transform:rotate(-90deg);opacity:0}100%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}}@-o-keyframes rotateInUpRight{0%{-o-transform-origin:right bottom;-o-transform:rotate(-90deg);opacity:0}100%{-o-transform-origin:right bottom;-o-transform:rotate(0);opacity:1}}@keyframes rotateInUpRight{0%{transform-origin:right bottom;transform:rotate(-90deg);opacity:0}100%{transform-origin:right bottom;transform:rotate(0);opacity:1}}.rotateInUpRight{-webkit-animation-name:rotateInUpRight;-moz-animation-name:rotateInUpRight;-o-animation-name:rotateInUpRight;animation-name:rotateInUpRight}@-webkit-keyframes rotateInDownRight{0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(90deg);opacity:0}100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}}@-moz-keyframes rotateInDownRight{0%{-moz-transform-origin:right bottom;-moz-transform:rotate(90deg);opacity:0}100%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}}@-o-keyframes rotateInDownRight{0%{-o-transform-origin:right bottom;-o-transform:rotate(90deg);opacity:0}100%{-o-transform-origin:right bottom;-o-transform:rotate(0);opacity:1}}@keyframes rotateInDownRight{0%{transform-origin:right bottom;transform:rotate(90deg);opacity:0}100%{transform-origin:right bottom;transform:rotate(0);opacity:1}}.rotateInDownRight{-webkit-animation-name:rotateInDownRight;-moz-animation-name:rotateInDownRight;-o-animation-name:rotateInDownRight;animation-name:rotateInDownRight}@-webkit-keyframes rotateOut{0%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);opacity:1}100%{-webkit-transform-origin:center center;-webkit-transform:rotate(200deg);opacity:0}}@-moz-keyframes rotateOut{0%{-moz-transform-origin:center center;-moz-transform:rotate(0);opacity:1}100%{-moz-transform-origin:center center;-moz-transform:rotate(200deg);opacity:0}}@-o-keyframes rotateOut{0%{-o-transform-origin:center center;-o-transform:rotate(0);opacity:1}100%{-o-transform-origin:center center;-o-transform:rotate(200deg);opacity:0}}@keyframes rotateOut{0%{transform-origin:center center;transform:rotate(0);opacity:1}100%{transform-origin:center center;transform:rotate(200deg);opacity:0}}.rotateOut{-webkit-animation-name:rotateOut;-moz-animation-name:rotateOut;-o-animation-name:rotateOut;animation-name:rotateOut}@-webkit-keyframes rotateOutUpLeft{0%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(0);opacity:1}100%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(-90deg);opacity:0}}@-moz-keyframes rotateOutUpLeft{0%{-moz-transform-origin:left bottom;-moz-transform:rotate(0);opacity:1}100%{-moz-transform-origin:left bottom;-moz-transform:rotate(-90deg);opacity:0}}@-o-keyframes rotateOutUpLeft{0%{-o-transform-origin:left bottom;-o-transform:rotate(0);opacity:1}100%{-o-transform-origin:left bottom;-o-transform:rotate(-90deg);opacity:0}}@keyframes rotateOutUpLeft{0%{transform-origin:left bottom;transform:rotate(0);opacity:1}100%{transform-origin:left bottom;transform:rotate(-90deg);opacity:0}}.rotateOutUpLeft{-webkit-animation-name:rotateOutUpLeft;-moz-animation-name:rotateOutUpLeft;-o-animation-name:rotateOutUpLeft;animation-name:rotateOutUpLeft}@-webkit-keyframes rotateOutDownLeft{0%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(0);opacity:1}100%{-webkit-transform-origin:left bottom;-webkit-transform:rotate(90deg);opacity:0}}@-moz-keyframes rotateOutDownLeft{0%{-moz-transform-origin:left bottom;-moz-transform:rotate(0);opacity:1}100%{-moz-transform-origin:left bottom;-moz-transform:rotate(90deg);opacity:0}}@-o-keyframes rotateOutDownLeft{0%{-o-transform-origin:left bottom;-o-transform:rotate(0);opacity:1}100%{-o-transform-origin:left bottom;-o-transform:rotate(90deg);opacity:0}}@keyframes rotateOutDownLeft{0%{transform-origin:left bottom;transform:rotate(0);opacity:1}100%{transform-origin:left bottom;transform:rotate(90deg);opacity:0}}.rotateOutDownLeft{-webkit-animation-name:rotateOutDownLeft;-moz-animation-name:rotateOutDownLeft;-o-animation-name:rotateOutDownLeft;animation-name:rotateOutDownLeft}@-webkit-keyframes rotateOutUpRight{0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(90deg);opacity:0}}@-moz-keyframes rotateOutUpRight{0%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}100%{-moz-transform-origin:right bottom;-moz-transform:rotate(90deg);opacity:0}}@-o-keyframes rotateOutUpRight{0%{-o-transform-origin:right bottom;-o-transform:rotate(0);opacity:1}100%{-o-transform-origin:right bottom;-o-transform:rotate(90deg);opacity:0}}@keyframes rotateOutUpRight{0%{transform-origin:right bottom;transform:rotate(0);opacity:1}100%{transform-origin:right bottom;transform:rotate(90deg);opacity:0}}.rotateOutUpRight{-webkit-animation-name:rotateOutUpRight;-moz-animation-name:rotateOutUpRight;-o-animation-name:rotateOutUpRight;animation-name:rotateOutUpRight}@-webkit-keyframes rotateOutDownRight{0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(-90deg);opacity:0}}@-moz-keyframes rotateOutDownRight{0%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}100%{-moz-transform-origin:right bottom;-moz-transform:rotate(-90deg);opacity:0}}@-o-keyframes rotateOutDownRight{0%{-o-transform-origin:right bottom;-o-transform:rotate(0);opacity:1}100%{-o-transform-origin:right bottom;-o-transform:rotate(-90deg);opacity:0}}@keyframes rotateOutDownRight{0%{transform-origin:right bottom;transform:rotate(0);opacity:1}100%{transform-origin:right bottom;transform:rotate(-90deg);opacity:0}}.rotateOutDownRight{-webkit-animation-name:rotateOutDownRight;-moz-animation-name:rotateOutDownRight;-o-animation-name:rotateOutDownRight;animation-name:rotateOutDownRight}@-webkit-keyframes hinge{0%{-webkit-transform:rotate(0);-webkit-transform-origin:top left;-webkit-animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate(80deg);-webkit-transform-origin:top left;-webkit-animation-timing-function:ease-in-out}40%{-webkit-transform:rotate(60deg);-webkit-transform-origin:top left;-webkit-animation-timing-function:ease-in-out}80%{-webkit-transform:rotate(60deg) translateY(0);opacity:1;-webkit-transform-origin:top left;-webkit-animation-timing-function:ease-in-out}100%{-webkit-transform:translateY(700px);opacity:0}}@-moz-keyframes hinge{0%{-moz-transform:rotate(0);-moz-transform-origin:top left;-moz-animation-timing-function:ease-in-out}20%,60%{-moz-transform:rotate(80deg);-moz-transform-origin:top left;-moz-animation-timing-function:ease-in-out}40%{-moz-transform:rotate(60deg);-moz-transform-origin:top left;-moz-animation-timing-function:ease-in-out}80%{-moz-transform:rotate(60deg) translateY(0);opacity:1;-moz-transform-origin:top left;-moz-animation-timing-function:ease-in-out}100%{-moz-transform:translateY(700px);opacity:0}}@-o-keyframes hinge{0%{-o-transform:rotate(0);-o-transform-origin:top left;-o-animation-timing-function:ease-in-out}20%,60%{-o-transform:rotate(80deg);-o-transform-origin:top left;-o-animation-timing-function:ease-in-out}40%{-o-transform:rotate(60deg);-o-transform-origin:top left;-o-animation-timing-function:ease-in-out}80%{-o-transform:rotate(60deg) translateY(0);opacity:1;-o-transform-origin:top left;-o-animation-timing-function:ease-in-out}100%{-o-transform:translateY(700px);opacity:0}}@keyframes hinge{0%{transform:rotate(0);transform-origin:top left;animation-timing-function:ease-in-out}20%,60%{transform:rotate(80deg);transform-origin:top left;animation-timing-function:ease-in-out}40%{transform:rotate(60deg);transform-origin:top left;animation-timing-function:ease-in-out}80%{transform:rotate(60deg) translateY(0);opacity:1;transform-origin:top left;animation-timing-function:ease-in-out}100%{transform:translateY(700px);opacity:0}}.hinge{-webkit-animation-name:hinge;-moz-animation-name:hinge;-o-animation-name:hinge;animation-name:hinge}@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg)}}@-moz-keyframes rollIn{0%{opacity:0;-moz-transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-moz-transform:translateX(0px) rotate(0deg)}}@-o-keyframes rollIn{0%{opacity:0;-o-transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-o-transform:translateX(0px) rotate(0deg)}}@keyframes rollIn{0%{opacity:0;transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;transform:translateX(0px) rotate(0deg)}}.rollIn{-webkit-animation-name:rollIn;-moz-animation-name:rollIn;-o-animation-name:rollIn;animation-name:rollIn}@-webkit-keyframes rollOut{0%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg)}100%{opacity:0;-webkit-transform:translateX(100%) rotate(120deg)}}@-moz-keyframes rollOut{0%{opacity:1;-moz-transform:translateX(0px) rotate(0deg)}100%{opacity:0;-moz-transform:translateX(100%) rotate(120deg)}}@-o-keyframes rollOut{0%{opacity:1;-o-transform:translateX(0px) rotate(0deg)}100%{opacity:0;-o-transform:translateX(100%) rotate(120deg)}}@keyframes rollOut{0%{opacity:1;transform:translateX(0px) rotate(0deg)}100%{opacity:0;transform:translateX(100%) rotate(120deg)}}.rollOut{-webkit-animation-name:rollOut;-moz-animation-name:rollOut;-o-animation-name:rollOut;animation-name:rollOut}@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translateX(100%) skewX(-30deg);opacity:0}60%{-webkit-transform:translateX(-20%) skewX(30deg);opacity:1}80%{-webkit-transform:translateX(0%) skewX(-15deg);opacity:1}100%{-webkit-transform:translateX(0%) skewX(0deg);opacity:1}}@-moz-keyframes lightSpeedIn{0%{-moz-transform:translateX(100%) skewX(-30deg);opacity:0}60%{-moz-transform:translateX(-20%) skewX(30deg);opacity:1}80%{-moz-transform:translateX(0%) skewX(-15deg);opacity:1}100%{-moz-transform:translateX(0%) skewX(0deg);opacity:1}}@-o-keyframes lightSpeedIn{0%{-o-transform:translateX(100%) skewX(-30deg);opacity:0}60%{-o-transform:translateX(-20%) skewX(30deg);opacity:1}80%{-o-transform:translateX(0%) skewX(-15deg);opacity:1}100%{-o-transform:translateX(0%) skewX(0deg);opacity:1}}@keyframes lightSpeedIn{0%{transform:translateX(100%) skewX(-30deg);opacity:0}60%{transform:translateX(-20%) skewX(30deg);opacity:1}80%{transform:translateX(0%) skewX(-15deg);opacity:1}100%{transform:translateX(0%) skewX(0deg);opacity:1}}.lightSpeedIn{-webkit-animation-name:lightSpeedIn;-moz-animation-name:lightSpeedIn;-o-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;-moz-animation-timing-function:ease-out;-o-animation-timing-function:ease-out;animation-timing-function:ease-out}.animated.lightSpeedIn{-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s}@-webkit-keyframes lightSpeedOut{0%{-webkit-transform:translateX(0%) skewX(0deg);opacity:1}100%{-webkit-transform:translateX(100%) skewX(-30deg);opacity:0}}@-moz-keyframes lightSpeedOut{0%{-moz-transform:translateX(0%) skewX(0deg);opacity:1}100%{-moz-transform:translateX(100%) skewX(-30deg);opacity:0}}@-o-keyframes lightSpeedOut{0%{-o-transform:translateX(0%) skewX(0deg);opacity:1}100%{-o-transform:translateX(100%) skewX(-30deg);opacity:0}}@keyframes lightSpeedOut{0%{transform:translateX(0%) skewX(0deg);opacity:1}100%{transform:translateX(100%) skewX(-30deg);opacity:0}}.lightSpeedOut{-webkit-animation-name:lightSpeedOut;-moz-animation-name:lightSpeedOut;-o-animation-name:lightSpeedOut;animation-name:lightSpeedOut;-webkit-animation-timing-function:ease-in;-moz-animation-timing-function:ease-in;-o-animation-timing-function:ease-in;animation-timing-function:ease-in}.animated.lightSpeedOut{-webkit-animation-duration:.25s;-moz-animation-duration:.25s;-o-animation-duration:.25s;animation-duration:.25s}@-webkit-keyframes wiggle{0%{-webkit-transform:skewX(9deg)}10%{-webkit-transform:skewX(-8deg)}20%{-webkit-transform:skewX(7deg)}30%{-webkit-transform:skewX(-6deg)}40%{-webkit-transform:skewX(5deg)}50%{-webkit-transform:skewX(-4deg)}60%{-webkit-transform:skewX(3deg)}70%{-webkit-transform:skewX(-2deg)}80%{-webkit-transform:skewX(1deg)}90%{-webkit-transform:skewX(0deg)}100%{-webkit-transform:skewX(0deg)}}@-moz-keyframes wiggle{0%{-moz-transform:skewX(9deg)}10%{-moz-transform:skewX(-8deg)}20%{-moz-transform:skewX(7deg)}30%{-moz-transform:skewX(-6deg)}40%{-moz-transform:skewX(5deg)}50%{-moz-transform:skewX(-4deg)}60%{-moz-transform:skewX(3deg)}70%{-moz-transform:skewX(-2deg)}80%{-moz-transform:skewX(1deg)}90%{-moz-transform:skewX(0deg)}100%{-moz-transform:skewX(0deg)}}@-o-keyframes wiggle{0%{-o-transform:skewX(9deg)}10%{-o-transform:skewX(-8deg)}20%{-o-transform:skewX(7deg)}30%{-o-transform:skewX(-6deg)}40%{-o-transform:skewX(5deg)}50%{-o-transform:skewX(-4deg)}60%{-o-transform:skewX(3deg)}70%{-o-transform:skewX(-2deg)}80%{-o-transform:skewX(1deg)}90%{-o-transform:skewX(0deg)}100%{-o-transform:skewX(0deg)}}@keyframes wiggle{0%{transform:skewX(9deg)}10%{transform:skewX(-8deg)}20%{transform:skewX(7deg)}30%{transform:skewX(-6deg)}40%{transform:skewX(5deg)}50%{transform:skewX(-4deg)}60%{transform:skewX(3deg)}70%{transform:skewX(-2deg)}80%{transform:skewX(1deg)}90%{transform:skewX(0deg)}100%{transform:skewX(0deg)}}.wiggle{-webkit-animation-name:wiggle;-moz-animation-name:wiggle;-o-animation-name:wiggle;animation-name:wiggle;-webkit-animation-timing-function:ease-in;-moz-animation-timing-function:ease-in;-o-animation-timing-function:ease-in;animation-timing-function:ease-in}.animated.wiggle{-webkit-animation-duration:.75s;-moz-animation-duration:.75s;-o-animation-duration:.75s;animation-duration:.75s;}
