/* Footer ====================================================================*/

.theme-footer {
  padding: $gutter/3.33 0 $gutter;
  .menu-title {
    border-bottom: $borderWeight dotted $colorBrand;
    padding-bottom: $gutter/20;
    margin-bottom: $gutter/10;
  }
  ul {
    li {
      padding: 0;
      a.footer-link {
        text-decoration: none;
      }
    }
  }
  .disclaimer {
    p {
      margin-bottom: 0;
      font-size: $h6Base;
    }
  }
  .araca-logo {
    height: $gutter/3;
  }
}
