/* Header ====================================================================*/

.logo {
  margin-bottom: 0;
  line-height: 1;
  @include l() {
    top: $gutter/10;
    margin: (-$gutter/50) 0 $gutter/10 (-$gutter/3.33);
    .logo-flare {
      background-image: url('logo-flare.jpg');
      top: -$gutter/10;
      left: -50%;
      height: $gutter*3.52;
      margin-left: $gutter;
    }
  }
  @include s() {
    position: absolute;
    top: 3px;
    max-width: 110px;
  }
  @include sm(){
    max-width: 110px;
    position: relative;
    top: 3px;
  }
}

#MainContent {
  @include sm() {
    margin-top: 106px;
  }
}

.theme-header {
  padding: $gutter/50 0;
  @include sm() {
    background-color: $colorHighlight;
    background-image: none !important;
    padding: 0;
    position: fixed;
    top: 0;
    height: auto;
    z-index: 99;
    max-width: 100%;
    .container {
      @include s() {
        padding: 0;
      }
      .mobile-logo{
        width: 50px;
        .menu-trigger {
          padding: $gutter/6;
          line-height: 1;
          &:hover {
            background-color: $colorForeground;
          }
          img {
            height: 33px;
            width: 33px
          }
        }
      }

      .cart-link {
        position: relative;
        display: inline-block;
        .cart-button {
          padding: $gutter/10 0;
          line-height: 1;
          &:hover {
            background-color: $colorForeground;
          }
          img {
            height: auto;
          }
        }
        .item-count {
          position: absolute;
          top: 0;
          right: $gutter/25;
          [data-cart-item-count] {
            height: $gutter/2.5;
            width: $gutter/2.5;
            line-height: $gutter/2.5;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            overflow: hidden;
            font-size: $h5Base;
            @include prefixer(box-shadow, 0 0 $gutter/2.5 0 rgba(#000, 0.5), webkit moz ms spec);
            @include gradient(#000, #5e5e5e, top);
            color: $colorHighlight !important;
            &.empty{
              visibility: hidden;
            }
          }
        }
      }
      .form-search {
        margin-bottom: $gutter/5;
        text-align: center;
        @include s(){
          margin: 10px 0;
        }
      }
    }
  }
  .checkout-link {
    display: block;
    line-height: 1;
    margin-left: $gutter/4;
  }
}
