/* SVG Icons =================================================================*/

// Don't forget to compress your icons! https://jakearchibald.github.io/svgomg/
// All icons must be created at 32px by 32px regardless of size to be scaled to

.icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1%; // Makes inline SVGs behave more like text characters
  svg {
    vertical-align: middle;
    overflow: visible;
    fill: none;
    stroke: none;
    .fill {
      fill: $colorBrand;
    }
    .stroke {
      stroke: $colorBrand;
      stroke-width: $borderWeight*3;
      stroke-linecap: $iconLinecap;
      stroke-miterlimit: 10;
    }
  }
}
