/* Navigation =================================================================*/

// Main Nav
.theme-nav-primary {
  ul {
    li.first-level {
      margin-right: -1px;
      float: left;
    }
  }
}

.theme-nav-primary, .theme-nav-secondary {
  font-size: 0;
  line-height: 1;
  margin-bottom: $gutter/7.14;
  .nav-link {
    font-size: $h5Base*0.9;
  }
  .dropdown {
    position: relative;
    &:hover {
      .button.bitmap img {
        &:not(.hover) {
          display: none;
        }
        &.hover {
          display: inline;
        }
      }
      .dropdown-menu {
        display: block;
      }
    }
    &:nth-last-child(1) {
      .dropdown-menu {
        right: -6px;
      }
    }
    &:nth-last-child(2) {
      .dropdown-menu {
        right: -90px;
      }
    }
    .dropdown-menu {
      display: none;
      padding: $gutter/5 0;
      position: absolute;
      top: 1.85rem;
      z-index: 2;
      width: $gutter*3;
      border: $borderWeight $borderStyle $colorText;
      border-top-color: transparent;
      line-height: 1.5;
      @for $i from 2 through 6 {
        &.dropdown-menu--large--#{$i} {
          width: (($gutter*3)*$i);
        }
      }
      &.dropdown_menu--active {
        display: block;
      }
      .column {
        & + .column {
          position: relative;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            border-left: $borderWeight $borderStyle $colorText;
          }
        }
      }
      h5 {
        padding: 0 $gutter/3.33 $gutter/5;
      }
      li {
        display: block;
        width: 100%;
        a {
          display: block;
          padding: $gutter/10 $gutter/10 $gutter/10 $gutter/5;
          background-repeat: no-repeat;
          background-position: $gutter/16.667 $gutter/6;
          font-size: 0.7rem;
          color: $colorText;
          &:hover {
            background-image: url('menu-arrow.svg?v2');
            color: $colorAlternate;
            text-decoration: none !important;
            cursor: pointer;
          }
        }
      }
      .featured-content {
        padding: 0 $gutter/5;
        a {
          display: block;
        }
        p {
          text-align: center;
          text-transform: uppercase;
          font-size: 0.7rem;
          font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
          font-weight: $featureFontWeight;
        }
      }
    }
  }
}

.tertiary-menu {
  border-bottom: $borderWeight $borderStyle $colorBrand;
  margin-bottom: $gutter/4;
  padding-top: 1px;
  line-height: 1;
  font-size: 0;
  font-weight: $fontBold;
  li {
    font-size: $h5Base*1.5;
    vertical-align: middle;
    line-height: 1.8;
    & + li {
      margin-left: $gutter/6.667;
      &:before {
        content: "|";
        color: $colorBrand;
        margin-right: $gutter/15;
      }
    }
  }
}

.theme-nav-toggled {
  &.drawer.from-left {
    padding: 0;
    top: 106px;
    max-width: 100%;
  }
  [data-accordion-toggle] {
    &.active {
      .icon {
        @include prefixer(transform, translateY(-50%), webkit moz ms spec);
      }
    }
    .icon {
      right: $gutter/4;
    }
  }
  &.drawer-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    // position: absolute;
    width: 100%;
    border-top: solid 3px $colorText;
  }
  .drawer-inner {
    background-color: $colorBackground;
    border-bottom: solid 5px $colorText;
    position: relative;
  }
  .popup-close {
    position: absolute;
    bottom: -$gutter;
    right: $gutter/2;
    background: $colorText;
    padding: $gutter/4 $gutter/2;
    border-radius: 0 0 $gutter/10 $gutter/10;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: $fontBold;
    color: $colorBackground;
  }
  a.h3, .nav-link {
    position: relative;
    .icon {
      position: absolute;
      right: $gutter/4;
      top: 50%;
      @include transition();
      @include prefixer(transform-origin, center, webkit moz ms spec);
      @include prefixer(transform, translateY(-50%) rotate(0deg), webkit moz ms spec);
    }
  }
  span.h3, a.h3 {
    font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
    font-weight: $featureFontWeight;
    font-size: 15px;
    margin-bottom: 0px;
    display: block;
    padding: 16px $gutter/4 $gutter/5 $gutter/4;
    border-top: solid 2px $colorText;
    border-bottom: solid 2px $colorText;
    color: $colorText;
    text-decoration: none;
    line-height: 1;
  }

  ul {
    padding: 0 25px;
    li {
      .nav-link {
        display: block;
        padding: 15px $gutter/10 $gutter/5 $gutter/10;
        font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
        font-weight: $featureFontWeight;
        font-size: 15px;
        border-top: $borderWeight $borderStyle $colorBorder;
        border-bottom: $borderWeight $borderStyle transparent;
        color: $colorText;
        text-decoration: none;
        &:hover {
          color: $colorText;
          text-decoration: none;
        }
      }
      .dropdown-menu {
        padding-left: $gutter/5;
        border-bottom: 0;
      }
    }
  }
  .account-menu {
    border-bottom: 0;
    li {
      display: block;
      font-size: $h4Base;
      color: $colorText !important;
      &.account-link {
        border-bottom: solid 3px $colorText;
        padding-bottom: $gutter/5;
        margin-bottom: $gutter/5;
      }
      a {
        display: block;
        padding: $gutter/5 0;
      }
    }
  }
}

// Accordions
[data-accordion-toggle] {
  position: relative;
  display: block;
  margin: 0 !important;
  padding: $gutter/5 $gutter/5 $gutter/5 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  border-bottom: $borderWeight $borderStyle transparent;
  color: $colorText;
  cursor: pointer;
  @include prefixer(user-select, none, webkit moz ms spec);
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    @include transition();
    @include prefixer(transform-origin, center, webkit moz ms spec);
    @include prefixer(transform, translateY(-50%) rotate(0deg), webkit moz ms spec);
  }
  &.active {
    border-top-color: $colorBorder;
    .icon {
      @include prefixer(transform, translateY(-50%) rotate(45deg), webkit moz ms spec);
    }
  }
}
[data-accordion-content] {
  display: none;
  color: darken($colorText, 10%);
  margin: 0 !important;
  border-bottom: $borderWeight $borderStyle transparent;
  @include prefixer(transition, border $transitionSpeed $transitionStyle, webkit moz ms spec);
  &.active {
    display: block;
    border-bottom-color: $colorBorder;
    + [data-accordion-toggle] {
      border-top-color: transparent;
    }
  }
}

// Collapsable content
[data-collapse-toggle] {
  @include prefixer(user-select, none, webkit moz ms spec);
  span {
    &.more {
      display: inline;
    }
    &.less {
      display: none;
    }
  }
  &.active {
    border-top-color: $colorBorder;
    span {
      &.more {
        display: none;
      }
      &.less {
        display: inline;
      }
    }
  }
}
[data-collapse-content] {
  display: none;
  &.active {
    display: block;
  }
}

// Tabbed content
[data-tab-toggle] {
  position: relative;
  display: inline-block;
  padding: $gutter/7 $gutter/5;
  color: $colorText;
  @include gradient($colorForeground, darken($colorBorder, $hoverAmount), top);
  @include prefixer(user-select, none, webkit moz ms spec);
  border: $borderWeight $borderStyle $colorBorder;
  border-bottom: 0;
  border-top-left-radius: $gutter/10;
  border-top-right-radius: $gutter/10;
  vertical-align: bottom;
  font-size: $h6Base;
  font-weight: $fontBold;
  line-height: 1;
  text-transform: uppercase;
  margin-right: -1px;
  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    @include gradient(darken($colorBorder, $hoverAmount), $colorForeground, top);
  }
  &.active {
    color: $colorAlternate;
    @include gradient($colorForeground, $colorForeground, top);
    &:after {
      background-color: $colorForeground;
    }
  }
}
[data-tab-content] {
  display: none;
  border: $borderWeight $borderStyle $colorBorder;
  padding: $gutter/5;
  background-color: $colorForeground;
  &.active {
    display: block;
  }
}
