/* Social sharing ============================================================*/

.social-sharing {
  .button.share {
    color: $colorForeground;
    border-radius: 100%;
    width: auto;
    height: auto;
    margin-bottom: $gutter/2;
    text-align: center;
    padding: $gutter/8;
    line-height: 1;
    .icon {
      margin-bottom: 0px;
      svg .fill {
        fill: #fff!important;
      }
    }
    &.facebook {
      @include gradient(#3b5998, #3b5998, top);
      border-color: #3b5998;
      &:active {
        @include gradient(darken(#3b5998, $hoverAmount), #3b5998, top);
      }
    }
    &.twitter {
      @include gradient(#00aced, #00aced, top);
      border-color: #00aced;
      &:active {
        @include gradient(darken(#00aced, $hoverAmount), #00aced, top);
      }
    }
    &.pinterest {
      @include gradient(#cb2027, #cb2027, top);
      border-color: #cb2027;
      &:active {
        @include gradient(darken(#cb2027, $hoverAmount), #cb2027, top);
      }
    }
    &.google {
      @include gradient(#dd4b39, #dd4b39, top);
      border-color: #dd4b39;
      &:active {
        @include gradient(darken(#dd4b39, $hoverAmount), #dd4b39, top);
      }
    }
  }

  .addthis_toolbox {
    a {
      margin-bottom: 0;
      line-height: 1;
      vertical-align: middle;
      * {
        line-height: 1;
      }
    }
  }
}

// Add this additional styling
#at-expanded-menu-host {
  button {
    height: auto;
  }
}
