{%- assign recommendation_container = settings.evergage_product_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = 'body #MainContent' %}
{% endif %}
$(function() {
    var productDefinitions = {
        "_id": "{{ product.variants.first.sku }}",
        "name": "{{ product.title | escape }}",
        "description": "{{ product.description | escape }}",
        "imageUrl": "{{ product | img_url: '280x280' }}",
        "url": "{{ product.url }}",
        "currency": "{{ shop.currency }}",
        "categories": "",
        "listPrice": "{{ product.variants.first.price | money_without_currency}}",
        "price": "{{ product.variants.first.price | money_without_currency}}"
    };
    $('body').append("<div class='Evergage_ProductDefinition' id='Evergage_ProductDefinition'></div>");
    for (var productDefinitionKey in productDefinitions) {
        $('#Evergage_ProductDefinition').append("<span id=" + productDefinitionKey + ">" + productDefinitions[productDefinitionKey] + "</span>");
    }
    $('{{ recommendation_container }}').append("<div id=\"Evergage_ProductRecommendation\" class=\"shopify-section\"></div>");
});
