<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="12px" height="7px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none">
        <path d="M6.05023193,6.71226044 L6.02769279,6.73479958 L5.6741394,6.38124619 L1.14644661,1.85355339 L0.792893219,1.5 L1.5,0.792893219 L1.85355339,1.14644661 L6.02825928,5.3211525 L10.2249378,1.12447395 L10.5784912,0.770920563 L11.285598,1.47802734 L10.9320446,1.83158073 L6.40435181,6.35927353 L6.05079842,6.71282692 L6.05023193,6.71226044 Z" fill="{{settings.color_secondary_button }}"></path>
    </g>
</svg>
