/************* Araca PDP Video Solution Styling code snippet *******************/  
$color-white: #fff; 
$color-black-two: #202020; 
$color-black: #000000; 
$color-brownish-grey: #757575; 

.main-image-holder {
  position: relative; 
}
.product-single__thumbnails-item {
  &.video--thumbnail { 
    position: relative; 

    a {
      &:after { 
        content: '\25BA';
        color: transparent;
        display: block;
        position: absolute;
        top: calc(50% - 20px); 
        left: calc(50% - 20px); 
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border: none;
        border-radius: 100%;
        text-align: center;
        cursor: pointer; 
        background: url(//cdn.shopify.com/s/files/1/2597/5112/t/192/assets/icon-play-button.svg?109960) no-repeat;  
        background-size: 100%; 
        background-position: center; 

        @media only screen and (max-width: 767px) {
          height: 100%; 
          width: 100%; 
          position: static; 
          line-height: 16px; 
          border: none; 
          font-size: 12px; 
          position: absolute; 
          top: 0;
          left: 0;
          background-size: 60%; 
        }
      } 

      &:before {

        @media only screen and (max-width: 767px) {
          
        }
      }

      &.active-thumb {

        @media only screen and (max-width: 767px) {
          &:after { 
          } 

          &:before { 
          }
        }
      }

      @media only screen and (max-width: 767px) { 
        position: relative; 
      }
    } 

    @media only screen and (max-width: 767px) { 
      background: transparent; 
    } 
  } 
}

.product-single__photo-wrapper {
  .product-image-video {
    position: absolute; 
    top: 0px; 
    display: none; 
    height: 100%; 
    width: 100%; 

    &+ img {
      cursor: pointer; 
      position: relative; 
      display: block; 
      margin: 0 auto; 
      height: 100%; 
      width: 100%; 
    } 
  } 

  .video--holder {
    position: absolute; 
    z-index: 1; 
    top: 0px; 
    width: 100%; 
    height: 100%; 

    &>div {
      background-color: $color-white; 
    } 
  }  
}

.video-play-button {
  display: block; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0; 
  left: 0; 

  &:after { 
    content: '\25BA';
    color: transparent; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;  
    background: url(//cdn.shopify.com/s/files/1/2597/5112/t/192/assets/icon-play-button.svg?109960) no-repeat;  
    background-size: 25%; 
    background-position: center; 
  }
} 

.popup--open { 
  display: block; 
  visibility: visible; 
  height: auto; 
  text-align: center; 
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
  background-color: $color-black-two;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
  z-index: 100; 

  .header--popup { 
    position: relative; 
    z-index: 1000; 
    
    .mobile-title { 
      margin-bottom: 0px; 

      span { 
        display: inline-block; 
        width: 50%; 
        padding-top: 14px; 
        padding-bottom: 10px; 
        box-shadow: 0 1px 0 0 #ebe8e3;

        &.active {
          background-color: $color-white; 
          box-shadow: 0 1px 0 0 $color-white; 
        }
      }
    }

    a {
      display: block; 
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.11;
      letter-spacing: 0.4px;
      text-align: center;
      color: $color-white; 
      width: 150px; 
      margin: auto; 

      &.selected { 
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center; 

        @media only screen and (max-width: 767px) { 
          text-align: left; 
          font-size: 14px; 

          &:after {
            content: '';
            display: inline-block; 
            width: 8px; 
            height: 8px; 
            border-radius: 8px; 
            position: relative;
            right: calc(-100% + 64px); 
          }
        } 
      } 

      @media only screen and (max-width: 767px) { 
        width: calc(100% - 16px);  
        font-size: 14px; 
        text-align: left; 
        box-shadow: inset 0px -1px 0 0 rgba(231,227,219,0.5); /* 0 1px 0 0 rgba(231, 227, 219, 0.5); */
        padding: 14px 16px; 
        color: $color-black; 
      }
    } 

    .popup--close-btn {
      display: block; 
      position: absolute; 
      height: 20px; 
      width: 20px; 
      right: 45px; 
      top: -60px; 
      cursor: pointer; 

      &:before {
        content: ''; 
        display: inline-block; 
        width: 100%;
        height: 1px;
        background: $color-white;
        transform: rotate(-45deg);
        position: absolute;
        right: 0px; 
        top: 12px; 
      } 

      &:after {
        content: ''; 
        display: inline-block; 
        width: 100%;
        height: 1px;
        background: $color-white;
        transform: rotate(45deg);
        position: absolute;
        right: 0px; 
        top: 12px; 
      }
    }

    @media only screen and (max-width: 767px) {
      background-color: $color-white; 
    } 
  } 

  @media only screen and (max-width: 767px) { 
    padding-top: 0px; 
    padding-bottom: 0px; 
    background-color: $color-white; 
  }
}  

.video--popup {  

  .video-popup {
    position: fixed; 
    z-index: 101; 
    width: 86vw; 
    left: 7vw; 
    top: 100px; 

    .video--container { 
      cursor: pointer; 

      video {
        width: 100%; 
        height: auto; 
      } 
    
      &:after {
        content: '\25BA';
        color: $color-white; 
        display: block;
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 32px;
        border: 2px solid $color-white; 
        border-radius: 100%;
        text-align: center; 
        cursor: pointer; 
      } 

      &.video--playing {

        &:after {
          color: transparent; 
          border-color: transparent; 
        }
      }
    } 


    @media only screen and (min-width: 1440px) {
      max-width: 1240px; 
      left: calc(50vw - 620px); 
    }
  }
} 
/************ End of Araca PDP Video Solution Styling code snippet *************/ 
