/* HH =====================================================================*/
.popup-ezp {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  &.visible {
    opacity: 1;
    visibility: visible;
    transition: all 100ms ease-in-out;
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding: 50px;
    background-color: #fff;
    color: #000;
    text-align: initial;
    cursor: default;
    white-space: initial;
    @media (min-width:  651px) {
      overflow: visible;
    }
    &.popup-header {
      background-color: #fff;
      padding-top: 0;
    }
  }
  &.overlay {
    background-color: rgba(51,51,51,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998;
    }
    .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition-delay: 100ms;
      transition: all 100ms ease-in-out;
    }
    &.bordered .popup-content {
      background-color: #fff;
      @media (min-width:  651px) {
        border: 3px solid #006db5;
        border-radius: 8px;
      }
    }
    .popup-content {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
    &.visible .popup-inner {
      transform: translateY(0px);
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    svg.icon {
      &:not(.icon--full-color) circle {
        fill: #fff;
      }
      .stroke {
        stroke: #006db5 !important;
      }
      .fill {
        fill: #006db5 !important;
      }
    }
    &:hover {
      .icon svg {
        .stroke {
          stroke: #eee !important;
        }
        .fill {
          fill: #eee !important;
        }
      }
    }
  }
}
#PopupEzPrints .popup-content {
  width: 970px;
}
@media (min-width:  651px) {
  #PopupEzPrints .popup-content,#PopupEzPrintsAgreement .popup-content {
    overflow: visible;
  }
}
@media (max-width:  650px) {
  #PopupEzPrints .popup-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #PopupEzPrints .jspPane>div {
    width: 100% !important;
  }
  #Popup_signup {
    display: none;
  }
}

#PopupEzPrints, #PopupEzPrintsAgreement {
  .icon {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 0.7075rem;
    font-weight: normal;
    line-height: 1.75;
    margin-bottom: 15.01502px;
    font-family: Avenir-Regular;
  }
  .center {
    text-align: center;
  }
  .container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    &.s {
      max-width: 650px;
    }
  }
  .popup {
    &.overlay {
      .popup-content {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
      }
    }
    .popup-content {
      background: #f0f0f0;
    }
  }
  .row {
    margin: 0 -25px 16.66667px;
    .column {
      float: left;
      min-height: 0.125rem;
      padding: 0 25px;
    }
    .l6 {
      width: 50%;
    }
  }
  .right {
    text-align: right;
  }
  button {
    max-width: 100%;
    height: 37.03704px;
    line-height: 35.03704px;
    padding: 0 10px;
    font-size: 0.6875rem;
    font-weight: bold;
    font-family: inherit;
    color: #069;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4));
    background: -webkit-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -o-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -ms-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
    border: 1px solid #aeaeae;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    &:active {
      background: #d4d4d4;
      background: -moz-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #d4d4d4), color-stop(100%, #fff));
      background: -webkit-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -o-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -ms-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: linear-gradient(top, #d4d4d4 0%, #fff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
      cursor: pointer;
    }
  }
}
#PopupEzPrints {
  .container {
    padding: 0;
  }
}
@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1,#ezpBuilderWrapper .ezp-assets-col-2 {
    width: 100% !important;
  }
}
@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset {
    width: 100% !important;
  }
}
@media (max-width:  650px) {
  #ezpBuilderWrapper .ezp-assets-col-1 .ezp-media-asset div,
  #ezpBuilderWrapper .ezp-assets-col-2 .ezp-media-asset div {
    width: 100%;
  }
}
#PopupCart {
  .popup-content {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #d4d4d4;
    .table-header h5 {
      color: #262626;
    }
    .cart-item {
      margin-bottom: 10px;
      &+.cart-item {
        border-top: 1px dashed #d4d4d4;
        padding-top: 10px;
      }
      .product-image {
        background-color: #fff;
        margin-right: 10px;
        .ratio {
          border: 1px solid #d4d4d4;
        }
      }
      .sale_price {
        color: #900;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }
  }
  @media (min-width:  651px) {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    width: 450px;
    height: auto;
    .popup-close {
      top: -10px;
      right: -10px;
    }
  }
  @media (max-width:  650px) {
    background: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998;
    }
    .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition-delay: 100ms;
      transition: all 100ms ease-in-out;
    }
    .popup-content {
      padding-top: 15.01502px;
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      .button, .select-wrapper select, select {
        width: 100%;
      }
    }
    .popup-close {
      top: 10px;
      right: 10px;
    }
  }
}
#PopupQuicklook {
  &.overlay {
    background-color: rgba(51,51,51,0.2);
  }
  .tab-content {
    height: 362px;
    overflow-y: auto;
  }
  .popup-content {
    width: 700px;
    max-width: 100%;
    padding: 10px;
    overflow: scroll;
    border: 5px solid #c0c0c0;
    box-shadow: 0px 0px 15px #000;
    .popup-overflow {
      overflow: auto;
      .product-zoom-overlay {
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        transition: all 100ms ease-in-out;
        opacity: 0;
        visibility: hidden;
        margin-right: 10px;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-image {
        border: 1px solid #d4d4d4;
        .zoomImg {
          cursor: all-scroll;
        }
        @media (min-width:  651px) {
          margin-right: 10px;
        }
      }
      .thumbnail {
        margin: 5px 5px 0 0;
      }
      .tab-toggles {
        font-size: 0;
        [data-accordion-toggle] {
          font-size: 0.8rem;
          font-weight: bold;
        }
        [data-accordion-content] {
          padding-bottom: 15.01502px;
          &.active {
            border-bottom-color: transparent;
          }
        }
        @media (max-width:  650px) {
          border-bottom: 1px solid #d4d4d4;
          margin-bottom: 15.01502px;
        }
      }
    }
  }
  @media (min-width:  651px) {
    .popup-content {
      overflow: visible;
    }
    .popup-close {
      top: -10px;
      right: -10px;
    }
  }
  @media (max-width:  650px) {
    .popup-content {
      padding-top: 50px;
    }
    .popup-close {
      top: 10px;
      right: 10px;
    }
  }
}
#PopupSubscribe {
  .header {
    background: url(//cdn.shopify.com/s/files/1/2597/5180/t/1/assets/header-emailsignup.png?10389782732787499269) no-repeat;
    width: 600px;
    height: 40px;
    margin-bottom: 25px;
  }
  .container {
    width: 600px;
  }
  .popup-content {
    border-radius: 3px;
    border: solid 3px #006db5;
    padding: 0px;
  }
  .form-subscribe {
    margin-bottom: 25px;
  }
  .popup-close {
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
  }
  @media (min-width:  651px) {
    .popup-content {
      overflow: visible;
    }
  }
}
.page-container.nonetransform {
  transform: none !important;
  transition: none !important;
}
#CustomizeProduct {
  margin-top: 12px;
}

.wishlist,
.swym-button-bar{
  border: none !important;
  width: auto !important;
  padding: 0;
  line-height: 0;
  height: auto;
  text-align: left;
  &.button-bar {
    background: transparent;
    position: relative;
  }
  .swym-button {
    margin: 9px 0px !important;
  }
}