<style>
table > tbody > tr > td {
  border: 1px solid #ddd;
  padding: 10px !important;
  text-align: left !important;
}
</style>

<table width="100%">
<tbody>
<tr>
<td> Order Total</td>
<td>Standard</td>
<td>Two-Day</td>
<td>AK, HI, Military, and U.S. Territories</td>
</tr>
<tr>
<td><span>$0.00 - $24.99</span></td>
<td><span>$5.99</span></td>
<td><span>$16.99</span></td>
<td><span>$8.99</span></td>
</tr>
<tr>
<td><span>$25.00 - $39.99</span></td>
<td><span>$6.99</span></td>
<td><span>$17.99</span></td>
<td><span>$9.99</span></td>
</tr>
<tr>
<td><span>$40.00 - $49.99</span></td>
<td><span>$7.99</span></td>
<td><span>$18.99</span></td>
<td><span>$10.99</span></td>
</tr>
<tr>
<td><span>$50.00 - $59.99</span></td>
<td><span>$8.99</span></td>
<td><span>$19.49</span></td>
<td><span>$11.49</span></td>
</tr>
<tr>
<td><span>$60.00 - $69.99</span></td>
<td><span>$9.99</span></td>
<td><span>$19.99</span></td>
<td><span>$11.99</span></td>
</tr>
<tr>
<td><span>$70.00 - $79.99</span></td>
<td><span>$10.99</span></td>
<td><span>$20.49</span></td>
<td><span>$12.49</span></td>
</tr>
<tr>
<td><span>$80.00 - $89.99</span></td>
<td><span>$11.99</span></td>
<td><span>$20.99</span></td>
<td><span>$12.99</span></td>
</tr>
<tr>
<td><span>$90.00 - $99.99</span></td>
<td><span>$12.99</span></td>
<td><span>$22.99</span></td>
<td><span>$14.99</span></td>
</tr>
<tr>
<td><span>$100.00 - $149.99</span></td>
<td><span>$13.99</span></td>
<td><span>$25.99</span></td>
<td><span>$16.99</span></td>
</tr>
<tr>
<td><span>$150.00 - $299.99</span></td>
<td><span>FREE*</span></td>
<td><span>$25.99</span></td>
<td><span>$16.99</span></td>
</tr>
<tr>
<td><span>$300.00+</span></td>
<td><span>FREE*</span></td>
<td><span>$29.99</span></td>
<td><span>$19.99</span></td>
</tr>
</tbody>
</table>
<br /><br />
<table width="100%">
<tbody>
<tr>
<td> Order Total</td>
<td>Canada</td>
<td>Other International</td>
</tr>
<tr>
<td><span>$0.00 - $24.99</span></td>
<td><span>$10.99</span></td>
<td><span>$19.99</span></td>
</tr>
<tr>
<td><span>$25.00 - $39.99</span></td>
<td><span>$11.99</span></td>
<td><span>$20.99</span></td>
</tr>
<tr>
<td><span>$40.00 - $49.99</span></td>
<td><span>$12.99</span></td>
<td><span>$22.99</span></td>
</tr>
<tr>
<td><span>$50.00 - $59.99</span></td>
<td><span>$13.49</span></td>
<td><span>$23.99</span></td>
</tr>
<tr>
<td><span>$60.00 - $69.99</span></td>
<td><span>$13.99</span></td>
<td><span>$24.99</span></td>
</tr>
<tr>
<td><span>$70.00 - $79.99</span></td>
<td><span>$14.49</span></td>
<td><span>$25.99</span></td>
</tr>
<tr>
<td><span>$80.00 - $89.99</span></td>
<td><span>$14.99</span></td>
<td><span>$26.99</span></td>
</tr>
<tr>
<td><span>$90.00 - $99.99</span></td>
<td><span>$15.99</span></td>
<td><span>$27.99</span></td>
</tr>
<tr>
<td><span>$100.00 - $299.99</span></td>
<td><span>$17.99</span></td>
<td><span>$29.99</span></td>
</tr>
<tr>
<td><span>$300.00+</span></td>
<td><span>$24.99</span></td>
<td><span>$35.99</span></td>
</tr>
</tbody>
</table>
