/* Variables =================================================================*/

// Colors
$colorBrand: {{ settings.color_brand }};
$colorText: {{ settings.color_body }};
$colorForeground: {{ settings.color_foreground }};
$colorBackground: {{ settings.color_background }};
$colorHighlight: {{ settings.color_highlight }};
$colorAlternate: {{ settings.color_alternate }};
$colorBorder: {{ settings.color_border }};
$colorError: #900;
$colorSuccess: #279424;

// Typography
$fontLight: lighter;
$fontRegular: normal;
$fontBold: bold;
$lineHeight: 1.75;
$hoverAmount: 15%;

$h1Base: 1.375rem;
$h2Base: 1rem;
$h3Base: 0.9rem;
$h4Base: 0.8rem;
$h5Base: 0.7rem;
$h6Base: 0.75rem;
$pBase: 0.75rem;
$smallBase: 0.5625rem;

// Space & Borders
$gutter: 50px;
$borderRadius: 4px;
$borderWeight: {{ settings.border_width | default: '1' | append: 'px' }};
$borderStyle: solid;

// Screen Sizes
$s: {{ settings.breakpoint_s | default: '650' | remove: 'px' | append: 'px' | strip }};
$m: {{ settings.breakpoint_m | default: '850' | remove: 'px' | append: 'px' | strip }};
$l: {{ settings.breakpoint_l | default: '1060' | remove: 'px' | append: 'px' | strip }};
$xl: {{ settings.breakpoint_xl | default: '1450' | remove: 'px' | append: 'px' | strip }};

// Transitions
$transitionSpeed: {{ settings.transition_speed | default: '300' | append: 'ms' }};
$transitionStyle: {{ settings.transition_style | default: 'ease-out' }};
$transitionDelay: {{ settings.transition_delay | default: '500' | append: 'ms' }};
$transition: all $transitionSpeed $transitionStyle;

// Icons
$baseIconSize: 32px;
$iconLinecap: square;
