<!doctype html>
<!--[if IE]><html class="no-js no-touch ie9" lang="{{ shop.locale }}"><![endif]-->
<!--[if !IE]><!--><html class="no-js no-touch" lang="{{ shop.locale }}"><!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="ljTdBW3CRcbalu1Rm7XKxBtsOrtD8IDKYBooSZXP58w" />
    <meta name="google-site-verification" content="aWIfA-9TVEQLRB2Fseq52_q3pyLQe3L9si6isS7CYo4" />
    <meta name="google-site-verification" content="ljnJcGgbKwWwVnf6i6pC1rlKG0k5Z3Uxbs1zgkMmoak" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T73LJNZ');</script>
    <!-- End Google Tag Manager -->

    <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %}
        {{ 'general.title.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'favicon' %}

    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>
    <script src="https://use.fontawesome.com/698a973d21.js"></script>

    {% include 'fonts' %}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {% if settings.app_wk_enabled %}
    	{% include 'appmate-wishlist-king' %}
    {% endif %}



    {% include 'password-validation' %}
  {% include 'sca.freegifts' %}

  {% include 'field-validation' %}

  {% include 'consent-management' %}
</head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T73LJNZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% section 'static-header' %}

    <main class="site-main">
      {{ content_for_layout }}
    </main>

    {% section 'static-footer' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}


    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-jquery-currencies="{{ 'jquery.currencies.min.js' | asset_url }}"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
      data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}">
    </script>

    {% include 'structured-data' %}





  <script src="//cdn.codeblackbelt.com/js/modules/cool-image-magnifier/main.min.js?shop=shop-fxnetworks.myshopify.com"></script>
</body>
</html>
