<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
    {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {{ 'social-buttons.scss.css' | asset_url | stylesheet_tag }}
  {% if settings.base_font == 'proxima-nova' or settings.header_font == 'proxima-nova' or settings.misc_font == 'proxima-nova' %}
  <script src="https://use.typekit.net/vsx3clx.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  {% endif %}
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}
  {% if settings.misc_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.misc_font | remove: 'Google+' }}:300,400,500,600,700">
  {% endif %}

  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' | stylesheet_tag }}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
  {% if template == 'product' or template == 'article' %}
  {{ 'social-buttons.scss.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'cs-ties.global.scss.css' | asset_url | stylesheet_tag }}
  {{ 'cs-ties.styles.scss.css' | asset_url | stylesheet_tag }}
  {% if page.handle contains 'lookbook' %}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ 'html5shiv.js' | asset_url | script_tag }}

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  <!-- {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }} -->

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'scripts.js' | asset_url | script_tag }}
  {{ 'social-buttons.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
  {% if settings.enable_product_image_zoom %}
  {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {% endif %}

  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.pack.css' | asset_url | stylesheet_tag }}

  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' | script_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js' | script_tag }}
  {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
  {% if template == 'page.contact' and settings.contact_map %}
  {{ '//maps.google.com/maps/api/js?sensor=false' | script_tag }}
  {{ 'jquery.gmap.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'instafeed.min.js' | asset_url | script_tag }}



  {% include 'field-validation' %}

  {% include 'consent-management' %}
</head>

<body class="{% if template == "index" %}index-template{% endif %} {% if customer %}loggedin{% endif %} Ties">
  <!-- Newsletter Popup -->
  {% if settings.mailing_list_active %}
  {% include 'newsletter_popup' %}
  {% endif %}
  {% if settings.general_loadingscreen %}
  <!-- Preloading -->
  <div id="loader-div">
    <div id="loader-wrapper">
      <div class="loading-div-logo">
        {% if settings.use_logo %}
        <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
        {% if template == 'index' %}
        <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
        {% else %}
        <h1><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
        <div id="loader"><img src="{{'ring.svg' | asset_url}}" alt="loading svg" /></div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Header -->
  <header id="top" class="clearfix">
    {% include 'theme_header' %}
  </header>
  <div class="fix-sticky"></div>
  <div id="qab_placeholder" style="padding-bottom: 10px;"></div>

  <!-- Main Content -->
  <div id="main-content" class="wrapper clearfix">
    {{ content_for_layout }}
  </div>

  <!-- Footer -->
  <footer>
    {% include 'theme_footer' %}
  </footer>

  <!-- Float right icon -->
  <div class="float-right-icon">
    <ul>
      <li>
        {% if settings.general_gototop %}
        <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
          <i class="fa fa-angle-up"></i>
        </div>
        {% endif %}
      </li>
    </ul>
  </div>
  <script type="text/javascript">
    var index = 0;
    {% if template == 'index'%}index=1;{% endif %}
  </script>
  {{ 'modernizr.js' | asset_url | script_tag }}
  {{ 'classie.js' | asset_url | script_tag }}
  <!-- {{ 'jquery.smooth-scroll.min.js' | asset_url | script_tag }}  -->
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
  {{ 'cs-ties.cart.js' | asset_url | script_tag }}
  {{ 'cs-ties.script.js' | asset_url | script_tag }}
  {{ 'cs-ties.optionSelect.js' | asset_url | script_tag }}

  {% include 'quick-shop' %}
  {% include 'currencies' %}
  {% include 'ajax-cart' %}

  {% comment %} Linked Product Options {% endcomment %}
  {{ 'linkOptionSelectors.js' | asset_url | script_tag }}
  {% include 'pick-an-option' %}

  {% if template contains 'product' and product.handle contains 'la-camiseta-oficial-frontal-entero' %}
    !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '497430300356774'); fbq('track', 'PageView');
  	<!-- Twitter single-event website tag code -->
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('nz6z6', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nz6z6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nz6z6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    </noscript>
    <!-- End Twitter single-event website tag code -->
  {% endif %}
</body>
</html>
