<div class="copy_sec2">
    
        <div class="container">
            {% for block in section.blocks %}

    {%- assign text2 = block.settings.text2 -%}
      
          <p>{{ text2 }}</p>
           
    {% endfor %}
        </div>
      
      </div>
    
   
    
    {% schema %}
    {
    "name": "Copy Right",
    "max_blocks": 1,
    
    "blocks": [
    {
    "type": "text",
    "name": "text",
    "settings": [
    {
    "type": "text",
    "id": "text2",
    "label": "TEXT"
    }
    
    ]
    }
    
    ]
    }
    {% endschema %}
    