
<div class="slider">

    <div id="demo" class="carousel slide" data-ride="carousel">
    
        <ol class="carousel-indicators">
            {% for block in section.blocks %}
      <li data-target="#demo" data-slide-to="{{ forloop.index0 }}" {% if forloop.first == true %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
    <!-- The slideshow -->
    <div class="carousel-inner">
      
      {% for block in section.blocks %}
    {%- assign image = block.settings.image -%}
      {%- assign imagea = block.settings.imagea -%}
    {%- assign link = block.settings.link -%}
    
      
      
    <div class="carousel-item">
   <a href="{{ link }}">
     <img src="{{ block.settings.image | img_url: '1920x' }}" class="img-fluid hideinmobile" alt="">
    <img src="{{ block.settings.imagea | img_url: '425x' }}" class="img-fluid w-100 showinmobile" alt=""/> 
      </a>
      
      
      </div>
      
      {% endfor %}
    
    </div>
    
    
    
    </div>
    
    </div>
    
    
    {% schema %}
    {
    "name": "Slider",
    "max_blocks": 5,
    
    "blocks": [
    {
    "type": "image",
    "name": "Image slide",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Desktop Image"
    },
    {
    "type": "image_picker",
    "id": "imagea",
    "label": "Mobile Image"
    },
    
    {
    "type": "url",
    "id": "link",
    "label": "Link"
    }
    
    ]
    }
    
    ],
    "presets": [{
    "name": "Banner",
    "category": "Banners",
    "blocks": [
    {
    "type": "image"
    }
    ]
    }],

    "presets": [
      {
        "name": "Boot Slider",
        "category": "Slider"
      }
    ]
    }
    {% endschema %}
    
    
    
    <script> 
     
    
    </script>