{% if settings.enable_ourbrands %}
<div class="brand-bottom container no-padding">
  <div class="row">
    {% if settings.brand-footer_title != blank %}
    <div class="block-title">
      <h2><span>  {{ settings.brand-footer_title }}</span></h2>
    </div>
    {% endif %}
    {% if settings.brand-footer_sub_title != blank %}
    <div class="sub-title">
      {{ settings.brand-footer_sub_title }}
    </div>
    {% endif %}
    {% if settings.brand_content != blank %}
    <div class="content">
      {{ settings.brand_content }}
    </div>
    {% endif %}
    <div id="logo-brand" class="owl-carousel owl-theme">

      {% for i in (1..6) %}   
      {% capture modulo %}{{ i | modulo:1 }}{% endcapture %}    
      {% if modulo == '0' %}



      {% capture thumb %}brand_thumb{{ i }}.jpg{% endcapture %}
      {% capture thumbs %}brand_thumb{{ i | plus: 1 }}.jpg{% endcapture %}
      {% capture thumb %}brand_thumb{{ i }}.png{% endcapture %}
      {% capture thumbs %}brand_thumb{{ i | png: 1 }}.jpg{% endcapture %}

      <div class="item a-center">       

        <img src="{{ thumb | asset_url }}" alt="" />

      </div>    

      {% endif %}
      {% endfor %}
    </div>

  </div>

</div>
<script>
  $(document).ready(function() {
    $("#logo-brand").owlCarousel({
      itemsCustom : [
        [320, 2],
        [700, 5],
        [1000, {{ settings.brand-row_limit_setting }}],
        [1200, {{ settings.brand-row_limit_setting }}],
        [1400, {{ settings.brand-row_limit_setting }}],
        [1600, {{ settings.brand-row_limit_setting }}]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>
{% endif %}