{% if settings.display_breadcrumb %}
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
<div class="breadcrumb">
  <a href="/" title="Back to the frontpage">Home</a>  
  {% if template contains 'product' %}  
  {% if collection %}
  <span class="icon">/</span>  
  {% if collection.handle %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  {{ collection.title | link_to: url }}
  {% endif %}
  {% endif %}
  
  
  {% elsif template contains 'collection' and collection.handle %}
  
  {% if current_tags %}
  <span class="icon">/</span>
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  {{ collection.title | link_to: url }}
  <span class="icon">/</span>
  <span class="current-tag">{{ current_tags.first }}</span>
  {% else %}
  <span class="icon">/</span>
  <span class="current-tag">{{ collection.title }}</span>
  {% endif %}

  {% elsif template == 'article' %}

  <span class="icon">/</span>
  {{ blog.title | link_to: blog.url }}
  <span class="icon">/</span>
  <span class="current-tag">{{ article.title }}</span>
  
  {% elsif template contains 'page' %}

  <span class="icon">/</span>
  <span class="current-tag">{{ page.title }}</span>

  {% else %}
  <span class="icon">/</span>
  <span class="current-tag">{{ page_title }}</span>
  {% endif %}
</div>
{% endunless %}
{% endif %}