{% comment %}
Refined tags
{% endcomment %}
{% if current_tags == blank %}
{% assign has_refined = false %}
{% else %}
{% assign has_refined = true %}
{% endif %}

<div class="sidebar-block">
{% if settings.enable_shop_by_tags_1 %}
<div class="sidebar-custom sidebar-tag color">
  {% assign tags = settings.shop_by_tags_1_list_tags | split: ',' %}
  <div class="title">
    <h3>
      <span>{{ settings.shop_by_tags_1_title }}</span>
     
    </h3>
  </div>
  <div class="content">
    <ul>
      {% if settings.shop_by_color_text_1 != blank %}
      {% assign tag = settings.shop_by_color_text_1|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-1.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_2 != blank %}
      {% assign tag = settings.shop_by_color_text_2|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-2.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_3 != blank %}
      {% assign tag = settings.shop_by_color_text_3|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-3.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_4 != blank %}
      {% assign tag = settings.shop_by_color_text_4|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-4.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_5 != blank %}
      {% assign tag = settings.shop_by_color_text_5|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-5.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_6 != blank %}
      {% assign tag = settings.shop_by_color_text_6|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-6.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_7 != blank %}
      {% assign tag = settings.shop_by_color_text_7|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-7.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}   
      {% if settings.shop_by_color_text_8 != blank %}
      {% assign tag = settings.shop_by_color_text_8|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-8.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}   
      {% if settings.shop_by_color_text_9 != blank %}
      {% assign tag = settings.shop_by_color_text_9|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-9.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% if settings.shop_by_color_text_10 != blank %}
      {% assign tag = settings.shop_by_color_text_10|strip %} 
      {% if collection.tags contains tag %}
      <li>
        {% assign tag_value = tag | handleize %}
        <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
        <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
      {{ 'color-10.png' | asset_url | img_tag }}
        </a>
      </li>
      {% endif %}
      {% endif %}
      
    </ul>
  </div>
</div>
{% endif %}

{% if settings.enable_shop_by_tags_2 %}
<div class="sidebar-custom sidebar-tag size">
  {% assign tags = settings.shop_by_tags_2_list_tags | split: ',' %}
  <div class="title">
    <h3>
      <span>{{ settings.shop_by_tags_2_title }}</span>
    </h3>
  </div>
  <div class="content">
    <ul>
        {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_value = tag | handleize %}
        {% if current_tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
        {% elsif collection.tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if settings.enable_shop_by_tags_3 %}
<div class="sidebar-custom sidebar-tag price">
  {% assign tags = settings.shop_by_tags_3_list_tags | split: ',' %}
  <div class="title">
    <h3>
      <span>{{ settings.shop_by_tags_3_title }}</span>
    </h3>
  </div>
  <div class="content">
    <ul>
        {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_value = tag | handleize %}
        {% if current_tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
        {% elsif collection.tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
  
{% if settings.enable_shop_by_tags_4 %}
<div class="sidebar-custom sidebar-tag price">
  {% assign tags = settings.shop_by_tags_4_list_tags | split: ',' %}
  <div class="title">
    <h3>
      <span>{{ settings.shop_by_tags_4_title }}</span>
    </h3>
  </div>
  <div class="content">
    <ul>
        {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_value = tag | handleize %}
        {% if current_tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
        {% elsif collection.tags contains tag %}
        <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

</div>
