<div class=" col-md-3 col-sm-4 col-xs-12 col-left" > 
   <div class="block-title-wrap">
        <strong><span>FILTER SELECTION</span></strong>
    </div>
  <div id="filter-sidebar">
   
    {% if settings.display_sidebar_categories %}
<!--     <div class="widget sidebar-links">
      <div class="block-title"><span>{{ settings.sidebar_categories_title }}</span></div>
      <div class="widget-content">
        <ul>
          {% if settings.style_categories == 'style_show_all' %}
          {% for category in collections %}
          <li><a href="{{ category.url }}" {% if collection.handle == category.handle %} class="active" {% endif %}>{{ category.title }}</a></li>     
          {% endfor %}
          {% else %}

          {% assign items = settings.categories_items | split:"," | strip | downcase %}
          {% for category in collections %}
          {% assign cat = category.title | downcase %}
          {% if items contains cat %}
          <li><a href="{{ category.url }}" {% if collection.handle == category.handle %} class="active" {% endif %}>{{ category.title }}</a></li>     
          {% endif %}
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div> -->
    {% endif %}


    {% include 'collection-sidebar-shop-by-blocks' %}
  </div>
  
</div>
 