<footer class="footer-container">


  <div class="footer-top"> 
    <div class="row">
      <div class="container  no-padding">
        <div class="col-md-4 col-sm-6 col-sx-12" style="display: none;">
          <div class="footer-logo"><img src="{{ 'footer-logo.png' | asset_url }}" alt="" /></div>
          {% if settings.footer_logo_content != blank %}
          <div class="footer-col-content">
            {{ settings.footer_logo_content }}
          </div>
          {% endif %}
          <div class="content">
            {{ settings.footer_colum_content }}
          </div>
        </div>
        {% if settings.footer_column_1_title != blank %}
        <div class="col-md-2 col-xs-12" style="width: 100%; margin-left: 0; margin-right: 0; text-align: center;">
          <h3 class="module-title">{{ settings.footer_column_1_title }}</h3>
          <ul class="content" style="text-decoration: none;">
            <li><a href="/pages/faq">FAQ</a></li>
            <li><a href="/pages/shipping-delivery">Shipping & Delivery</a></li>
            <li><a href="/pages/tax-information">Tax Information</a></li>
            <li><a href="/pages/returns-exchanges">Returns & Exchanges</a></li>
            <li><a href="/pages/contact-us">Contact Us</a></li>
            <li style="text-decoration: none;"><p style="font-size: 16px;font-weight: bold;text-decoration: none; padding-top:10px;"><i class="fa fa-phone"></i>800-321-7604</p></li>
          </ul>
        </div>
        {% endif %}
        {% if settings.footer_column_2_title != blank %}
        <div class="col-md-2 col-xs-12" style="width: 100%; margin-left: 0; margin-right: 0; text-align: center;" >
          <h3 class="module-title" id="foot-set">{{ settings.footer_column_2_title }}</h3>
          <ul class="content" style="text-decoration: none;">
            <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
            <li><a href="/pages/terms-conditions">Terms & Conditions</a></li>
            <li><a href="/pages/safe-shopping-guarantee">Safe Shopping Guarantee</a></li>
          </ul>
        </div>
        {% endif %}

        <div class="col-md-4 col-sx-12" style="width: 100%; margin-left: 0; margin-right: 0; text-align: center;" >

          <h3 class="module-title" id="foot-set">{{ settings.footer_newsletter_title }}</h3>
          <div class="content">
            <p  style=" margin-left: 0; margin-right: 0; text-align: center;">{{ settings.footer_newsletter_content }} </p>
            {% include 'newsletter-form' %}
          </div>
          <div class="footer-icon-share">
            {% if settings.footer_column_3_title != blank %}
            <h3 class="module-title">{{ settings.footer_column_3_title }}</h3>

            {% endif %}
            <div class="content">
              <ul  style=" margin-left: 0; margin-right: 0; text-align: center;">
                <li><a href="{{ settings.footer_column_4_icon_link_1 }}"><i class="{{ settings.footer_column_4_icon_1 }}"></i></a></li>
                <li><a href="{{ settings.footer_column_4_icon_link_2 }}"><i class="{{ settings.footer_column_4_icon_2 }}"></i></a></li>
                <li><a href="{{ settings.footer_column_4_icon_link_3 }}"><i class="{{ settings.footer_column_4_icon_3 }}"></i></a></li>
                <li><a href="{{ settings.footer_column_4_icon_link_4 }}"><i class="{{ settings.footer_column_4_icon_4 }}"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="container no-padding">

      <div class="row">
        {% if settings.display_footer_address %}
        <div class="address-block" style="width: 60%; float:left;">
          <img style="display: inline-block;" src="https://cdn.shopify.com/s/files/1/1456/4276/files/AracaLogo-White.png?8554869581350481827">
          <address style="display: inline-block; vertical-align: middle;">
          &trade; & &copy; {{ 'now' | date: "%Y" }} Sony Pictures Television Inc. and AMC Film Holdings, LLC. All Rights Reserved.<br>
          Araca Merchandise L.P. is solely responsible for the site's content and all aspects of your purchase.<br>
          </address>
        </div>
        {% endif %}
        {% if settings.display_paypal %}
        <div class="paypal-images" style="">
          <ul>
            <li><img src="{{ 'footer-paypal-1.png' | asset_url }}" alt="" /></li>
            <li><img src="{{ 'footer-paypal-2.png' | asset_url }}" alt="" /></li>
            <li><img src="{{ 'footer-paypal-3.png' | asset_url }}" alt="" /></li>
            <li><img src="{{ 'footer-paypal-4.png' | asset_url }}" alt="" /></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>


  </div>

</footer>
