{% if settings.enable_tabs %}	
<div class="template-tabs">
  <div class="title-tab-home">
    {% if settings.tabs_title_block != blank %}
    <div class="module-title"><h2><span>{{ settings.tabs_title_block }}</span></h2></div>
    {% endif %}
    <i class="fa fa-list-ul"></i>
    <div class="tabs-product">
      <ul class="nav nav-tabs" role="tablist">
        {% if settings.enable_tabnew and settings.tabnew_collection != blank %}
        <li role="presentation" class="active"><a href="#tabnew_collection" aria-controls="home" role="tab" data-toggle="tab">{{ settings.items_tab_1 }}</a></li>
        {% endif %}
        {% if settings.enable_tabfeatured and settings.tabfeatured_collection != blank %}
        <li role="presentation"><a href="#tabfeatured_collection" aria-controls="profile" role="tab" data-toggle="tab">{{ settings.items_tab_2 }}</a></li>
        {% endif %}
        {% if settings.enable_tabsale and settings.tabsale_collection != blank %}
        <li role="presentation"><a href="#tabsale_collection" aria-controls="messages" role="tab" data-toggle="tab">{{ settings.items_tab_3 }}</a></li>
        {% endif %}
        {% if settings.enable_tabsale_4 and settings.tabsale_collection_4 != blank %}
        <li role="presentation"><a href="#tabsale_collection_4" aria-controls="messages" role="tab" data-toggle="tab">{{ settings.items_tab_4 }}</a></li>
        {% endif %}
        {% if settings.enable_tabsale_5 and settings.tabsale_collection_5 != blank %}
        <li role="presentation"><a href="#tabsale_collection_5" aria-controls="messages" role="tab" data-toggle="tab">{{ settings.items_tab_5 }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="tabs-product tab-container">
    <div class="tab-content">
      {% if settings.enable_tabnew and settings.tabnew_collection != blank %}
      <div class="tab-pane tabs-content fade in active" id="tabnew_collection">
        {% assign sale_off_collection = settings.tabnew_collection %}
        {% assign row_limit_setting = settings.product_list_limit %} 
        {% assign current_collection = collections[sale_off_collection] %}
        {% assign owl_id = 'owl_tabnew1' %}
        {% include 'carousel-product' %}
      </div>
      {% endif %}
      {% if settings.enable_tabfeatured and settings.tabfeatured_collection != blank %}
      <div class="tab-pane tabs-content" id="tabfeatured_collection">
        {% assign sale_off_collection = settings.tabfeatured_collection %}
        {% assign row_limit_setting = settings.product_list_limit %} 
        {% assign current_collection = collections[sale_off_collection] %}
        {% assign owl_id = 'owl_tabfeatured1' %}
        {% include 'carousel-product' %}
      </div>
      {% endif %}
      {% if settings.enable_tabsale and settings.tabsale_collection != blank %}
      <div class="tab-pane tabs-content" id="tabsale_collection">
        {% assign sale_off_collection = settings.tabsale_collection %}
        {% assign row_limit_setting = settings.product_list_limit %} 
        {% assign current_collection = collections[sale_off_collection] %}
        {% assign owl_id = 'owl_tabsale1' %}
        {% include 'carousel-product' %}
      </div>
      {% endif %}
      {% if settings.enable_tabsale_4 and settings.tabsale_collection_4 != blank %}
      <div class="tab-pane tabs-content" id="tabsale_collection_4">
        {% assign sale_off_collection = settings.tabsale_collection_4 %}
        {% assign row_limit_setting = settings.product_list_limit %} 
        {% assign current_collection = collections[sale_off_collection] %}
        {% assign owl_id = 'owl_tab4' %}
        {% include 'carousel-product' %}
      </div>
      {% endif %}
      {% if settings.enable_tabsale_5 and settings.tabsale_collection_5 != blank %}
      <div class="tab-pane tabs-content" id="tabsale_collection_5">
        {% assign sale_off_collection = settings.tabsale_collection_5 %}
        {% assign row_limit_setting = settings.product_list_limit %} 
        {% assign current_collection = collections[sale_off_collection] %}
        {% assign owl_id = 'owl_tab5' %}
        {% include 'carousel-product' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript" >
  $('.tabs-product .nav-tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
{% endif %}