{% if settings.enable_block_icon_top %}	
<div id="block-top">
  <div class="container no-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class=" item-1 block-item">
          {% if settings.block_top_icon_1 != blank %}
          <div class="block-icon">
            <i class="{{ settings.block_top_icon_1 }}"></i>
          </div>
          {% endif %}
          <div class="static-collection">
            {% if settings.block_top_title_1 != blank %}
            <div class="block-title"><h3><span>{{ settings.block_top_title_1 }}</span></h3></div>
            {% endif %}
            {% if settings.block_slide_content_1 != blank %}
            <div class="block-content">

              {{ settings.block_slide_content_1 }}

            </div>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> 
        <div class=" item-2 block-item">
          {% if settings.block_top_icon_2 != blank %}
          <div class="block-icon">
            <i class="{{ settings.block_top_icon_2 }}"></i>
          </div>
          {% endif %}
          <div class="static-collection item-1">
            {% if settings.block_top_title_2 != blank %}
            <div class="block-title"><h3><span>{{ settings.block_top_title_2 }}</span></h3></div>
            {% endif %}

            {% if settings.block_slide_content_2 != blank %}
            <div class="block-content">
              {{ settings.block_slide_content_2 }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class=" item-4 block-item">
          {% if settings.block_top_icon_3 != blank %}
          <div class="block-icon">
            <i class="{{ settings.block_top_icon_3 }}"></i>
          </div>
          {% endif %}
          <div class="static-collection item-1">
            {% if settings.block_top_title_3 != blank %}
            <div class="block-title"><h3><span>{{ settings.block_top_title_3 }}</span></h3></div>
            {% endif %}

            {% if settings.block_slide_content_3 != blank %}
            <div class="block-content">
              {{ settings.block_slide_content_3 }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class=" item-4 block-item">
          {% if settings.block_top_icon_4 != blank %}
          <div class="block-icon">
            <i class="{{ settings.block_top_icon_4 }}"></i>
          </div>
          {% endif %}
          <div class="static-collection item-1">
            {% if settings.block_top_title_4 != blank %}
            <div class="block-title"><h3><span>{{ settings.block_top_title_4 }}</span></h3></div>
            {% endif %}

            {% if settings.block_slide_content_4 != blank %}
            <div class="block-content">
              {{ settings.block_slide_content_4 }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endif %}
























