{{ 'instafeed.min.js' | asset_url | script_tag }}

{% if settings.show_instagram %}
<section class="home-instagram">

    <div class="widget-title">  
      {% if settings.instagram_title != blank %}
      <h3><span>
        
        {{ settings.instagram_title }}
        </span> 
      </h3>
        {% endif %} 
      {% if settings.instagram_des != blank %}
      <div class="instagram-content">
        <span>&nbsp;</span>
        
        {{ settings.instagram_des }}
         
      </div>
       {% endif %}
    </div>
    <div id="instafeed" class="row">
      {% if settings.display_instagram_button %}
      {% if settings.instagram_button_text != blank %}
      <a href="{{ settings.instagram_button_link }}" title="{{ settings.instagram_button_text }}" class="btn instagram_button_link">
        <span>{{ settings.instagram_button_text }}</span>

      </a>		
      {% endif %}
      {% endif %}
  	</div>  
    

</section>

<script type="text/javascript">
  var feed = new Instafeed({
    get: "{{ settings.instagram_get }}",    
    {% if settings.instagram_tag != blank %} tagName: "{{ settings.instagram_tag }}", {% endif %}
    {% if settings.locationId != blank %} locationId: "{{ settings.instagram_locationId }}", {% endif %}
    {% if settings.user-id != blank %} userId: {{ settings.user-id }}, {% endif %}
    {% if settings.accessToken != blank %}accessToken: '{{ settings.accessToken }}', {% endif %}
    resolution: "low_resolution",
    clientId: "{{ settings.client-id }}",
    limit: "{{ settings.limit }}",
    after: function() {

  	}
  });
  feed.run();
</script>
{% endif %}