{% comment %}
  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has three products per column on desktop, two on
  our medium breakpoint, and a single row on small screens.
{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}


{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign lable_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}

{% assign lable_out = true %}
{% if product.available  %}
  {% assign lable_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

{% assign productIndex = forloop.index |minus:1 %}
{% assign delayTime = 200 | times : productIndex %}
<div class="{% if settings.product_image_border%}grid-item-border{% endif %} grid-item product-item {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %} wow fadeIn" data-wow-delay="{{delayTime}}ms" id="product-{{ product.id }}">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}

    <div class="product-image">
      {% if lable_out %}
      <div class="product-label">
          <span>sold out</span>
        </div>
      {% endif %}
      <a href="{{ product.url | within: collection }}" class="grid-image">
        <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        {% if settings.product_image_hover %}
        <span class="product-image-hover" data-idproduct="{{ product.id }}">
          {% for image in product.images %}
            {% if forloop.first != true %}
              <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}

      </a>
      <a href="/products/{{ product.handle }}">
		<div class="quickview-button">
        <a href="/products/{{ product.handle }}" id="{{ product.handle }}" title="Quick View" class="view-more"><span class="btn-view btn">View More</span></a>
      </div>
      </a>
    </div>
    <div class="product-content">
      <h3><a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}
      <div class="price-box">
        {% if lable_sale %}
        <p class="sale" style="line-height: 1.5">
          <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
          <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span><br>
          <span class="percentage-off" style="color: #A71820;">(Save {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max |round: 0 }}%)</span>
        </p>
        {% else %}
        <p class="regular-product">
          {% comment %}
          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
          if your variants have different prices.
          {% endcomment %}
          <span id="rel-prod-price">{% if product.price_varies %}{% endif %}{{ product.price_min | money }}</span>
        </p>
        {% endif %}
      </div>
    </div>
</div>