
{% assign delayTime = 200 | times : forloop.index %}
{% if settings.collection_results_per_row != blank and settings.collection_results_per_row != '5' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row %}
{% assign columns = 12 | divided_by: product_grid %}
{% assign lable_sale = false %}
{% if item.compare_at_price_min > item.price_min %}
  {% assign lable_sale = true %}
{% endif %}
<div class="col-md-6 col-lg-3 col-sm-6 col-xs-12">
<div class="grid-item product-item " id="product-{{ item.id }}">
{% else %}
<div class=" grid-item product-item "  id="product-{{ item.id }}">
{% endif %}

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  
  	<div class="product-image">
      {% if lable_out %}
      <div class="product-label">
        <span>sold out</span>
      </div>
      {% endif %}
      <a href="{{ item.url | within: collection }}" class="product-grid-image">
        <img src="{{ item.featured_image.src | product_img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}">
        {% if settings.product_image_hover %}
        <span class="product-image-hover" data-idproduct="{{ item.id }}">
          {% for image in item.images %}
          {% if forloop.first != true %}
          <img alt="{{ item.title }}" src="{{ image.src | product_img_url: 'large' }}">
          {% break %}
          {% endif %}
          {% endfor %}
        </span>
        {% endif %}
      </a>
      <style type= "text/css">
        .quickview-button:hover{background:#ff9248!important; color: #fff!important;}
        .fa.fa-expand:hover{color: #fff!important;}"
      </style>
      <div class="quickview-button">
        <a href="javascript:void(0)" id="{{ item.handle }}" title="Quick View" class="sca-qv-button"><i class="fa fa-expand"></i></a>
      </div>
    </div>
    <div class="product-content" id="shirts-content">
      <h3><a class="product-title" href="{{ item.url | within: collection }}">{{ item.title }}</a></h3>
      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
      {% endif %}

      <div class="price-box">
        {% if lable_sale %}
        <p class="sale" style="line-height: 1.5">
          <span class="old-price"> {{ item.compare_at_price_min | money }}</span>
          <span class="special-price">{% if item.price_varies %}<em>from </em>{% endif %}{{ item.price_min | money }}</span><br>
          <span class="percentage-off" style="color: #A71820;">(Save {{ item.compare_at_price_max | minus:item.price | times:100 | divided_by:item.compare_at_price_max |round: 0 }}%)</span>
        </p>
        {% else %}
        <p class="regular-product">
          {% comment %}
          You can show a leading 'from' or 'up to' by checking 'item.price_varies'
          if your variants have different prices.
          {% endcomment %}
          <span >{{ item.price_min | money }}</span>
        </p>
        {% endif %}
      </div>

      <div class="product-button" style="display: none;">
        <div class="action">
          {% assign variantCount = item.variants | size %}
          <form action="/cart/add" method="post" class="variants" id="product-actions-{{ item.id }}" enctype="multipart/form-data" style="padding:0px;">    
            {% if sold_out %}
            <input class="btn add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" />
            {% else %}
            {% if variantCount > 1 %}    
            <input class="btn add-to-cart-btn" type="button" onclick="window.location.href='{{item.url}}'" value="Select" />
            {% else %}
            <input type="hidden" name="id" value="{{ item.variants[0].id }}" />      
            <input class="btn add-to-cart-btn" type="submit" value="Add to Cart" />
            {% endif %}
            {% endif %}
          </form>     
        </div>

      </div>
    </div>
  
  </div>
</div>