{% if settings.display_testimonials %}

<div class="testimonials">

  <div class="module-title"><h2><span>{{ settings.testimonials_title }} </span></h2></div>
  
    <div id="mygallery">
		
					<div class="item-testimonials">
						
						<div class="tn3 description">
                          {% if settings.testimonials_text_1 != blank %}
                          <div class="testimonial-text">{{ settings.testimonials_text_1 }} </div>
                          {% endif %} 
                          <div class="testi-bottom">
                            <a href="#">
                            {{ 'testimonials_thumb1.jpg' | asset_url | img_tag }}
                            </a>
                              <div class="content-bottom">
                              {% if settings.testimonials_name_1 != blank %}
                              <div class="testimonial-author">{{ settings.testimonials_name_1 }}</div>
                              {% endif %}
                              {% if settings.testimonials_position_1 != blank %}
                              <div class="testimonial-author-position">{{ settings.testimonials_position_1 }}</div>
                              {% endif %}
                              </div>
                          </div>
                      </div>
               
						
					</div>
					<div class="item-testimonials">
					
                      <div class="tn3 description">
                        {% if settings.testimonials_text_2 != blank %}
                        <div class="testimonial-text">{{ settings.testimonials_text_2 }} </div>
                        {% endif %} 
                        <div class="testi-bottom">
                            <a href="#">
                            {{ 'testimonials_thumb2.jpg' | asset_url | img_tag }}
                            </a>
                              <div class="content-bottom">
                              {% if settings.testimonials_name_2 != blank %}
                              <div class="testimonial-author">{{ settings.testimonials_name_2 }}</div>
                              {% endif %}
                              {% if settings.testimonials_position_2 != blank %}
                              <div class="testimonial-author-position">{{ settings.testimonials_position_2 }}</div>
                              {% endif %}
                              </div>
                          </div>
                      </div>
						
					</div>
					<div class="item-testimonials">
					
						<div class="tn3 description">
                      	 {% if settings.testimonials_text_3 != blank %}
                        <div class="testimonial-text">{{ settings.testimonials_text_3 }} </div>
                        {% endif %} 
                          <div class="testi-bottom">
                            <a href="#">
                            {{ 'testimonials_thumb3.jpg' | asset_url | img_tag }}
                            </a>
                              <div class="content-bottom">
                              {% if settings.testimonials_name_3 != blank %}
                              <div class="testimonial-author">{{ settings.testimonials_name_3 }}</div>
                              {% endif %}
                              {% if settings.testimonials_position_3 != blank %}
                              <div class="testimonial-author-position">{{ settings.testimonials_position_3 }}</div>
                              {% endif %}
                              </div>
                          </div>
                      </div>
						
					</div>


	</div>
</div>

<script>
  $(document).ready(function() {
    $("#mygallery").owlCarousel({
      itemsCustom : [
        [320, 1],
      	[500, 2],
        [700, 1],
        [1000, 1],
        [1200, 1],
        [1400, 1],
        [1600, 1]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>
{% endif %}


