<div class="toolbar">

  <div class="toolbar-mode row">
<!--     <div class="collection-view col-sm-4 col-xs-6">
      <label class="hidden-xs hidden-sm">View as</label>
      <a title="Grid view" class="change-view grid{% unless template contains 'list' %} active{% endunless %}" data-view="grid">
        <span class="icon_grid-3x3"></span>

      </a>
      <a title="List view" class="change-view list{% if template contains 'list' %} active{% endif %}" data-view="list">
        <span class="icon_ul"></span>

      </a>
    </div> -->


    <div class="browse-tags col-sm-6 col-lg-6 col-xs-12">
      <label class="hidden-xs hidden-sm">Sort by:</label>
      <select class="sort-by">
        <option value="manual">Featured</option>
        <option value="best-selling">Best Selling</option>
        <option value="created-descending">New Arrivals</option>
        <option value="price-ascending">Price: Low to High</option>
        <option value="price-descending">Price: High to Low</option>
        <option value="title-ascending">A-Z</option>
        <option value="title-descending">Z-A</option>
      </select>           
    </div> 

    <div class="page-total col-sm-6 col-lg-6 col-xs-6">
      Showing: {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}
    </div>
  </div>

</div>



<script>

  jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
       .bind('change', function() {
    Shopify.queryParams = {};
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });

  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    if ( newUrl == url ) {
      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
    }
    return newUrl;
  }

  jQuery(function() {
    jQuery('body.template-collection .collection-view a').on('click', function() {
      jQuery('.collection-view a.active').removeClass('active');
      jQuery(this).addClass('active');

    });

    jQuery('body.template-collection .collection-view a.list').on('click', function() {
      jQuery('body.template-collection').find('.products-grid').addClass('product-list-item');
      if( jQuery('body.template-collection .products-grid').hasClass('product-grid-item')){
        jQuery('body.template-collection').find('.products-grid').removeClass('product-grid-item');

      }else{
        jQuery('body.template-collection').find('.products-grid').addClass('');
      }

    });
    jQuery('body.template-collection .collection-view a.grid').on('click', function() {
      jQuery('body.template-collection').find('.products-grid').addClass('product-grid-item');
      if( jQuery('body.template-collection .products-grid').hasClass('product-list-item')){
        jQuery('body.template-collection').find('.products-grid').removeClass('product-list-item');

      }else{
        jQuery('body.template-collection').find('.products-grid').addClass('');
      }
    });
  });
</script>