<div class="block-vertical">
  <div class="">
    	<div class="row">
      		
        <div id="menu-vertical{{block-verticalmenu}}" class="block">

            <div id="verticalmenu{{block-verticalmenu}}" class="verticalmenu">
              <div class="navbar">
                  <ul class="nav navbar-nav nav-verticalmenu">
                    <li class="parent-title"><i aria-hidden="true" class="icon_menu"></i><span>{{settings.verticalmenu_title}}</span></li>
                    {% for link in linklists[settings.verticalmenu_linklist].links %}
                    {% assign hasMega = false %}
                    {% assign intMega = 0 %}
                    {% assign link_title = link.title | downcase %}
                    {% capture vericon %}vermenuicon_eimage_{{ forloop.index }}{% endcapture %}
                    {% capture verfonticon %}vermenuicon_font_{{ forloop.index }}{% endcapture %}
                    {% for i in (1..5) %}
                      {% capture vermenu %}vermenuitem_enable_{{ i }}{% endcapture %}
                      {% capture vermenu_title %}vermenuitem_title_{{ i }}{% endcapture %}
                      {% assign vermenu_title = settings[vermenu_title] | strip | downcase %}
                      {% if settings[vermenu] %}
                        {% if link_title == vermenu_title %}
                        {% assign hasMega = true %}
                        {% assign intMega = i %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    {% if hasMega %}
                    <li class=" parent dropdown{% if link.active %} active{% endif %}">
                      <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
                        <span class="menu-title">{{ link.title }}</span><i class="fa fa-angle-right"></i>
                      </a>
                      <span class="toggle-dropdown-mobile"><i class="fa fa-angle-down"></i></span>
                      {% assign mega_link_handle = link.handle %}
                      {% include 'verticalmenu-megamenu' %}
                    </li>
                    {% else %}
                    {% if linklists[link.handle] != empty %}
                    <li class="dropdown-option parent dropdown {% if link.active %} active{% endif %} dropdown-option">
                      <a class="dropdown-toggle" href="{{ link.url }}">
                         <span class="menu-title">{{ link.title }}</span>
                        <i class="fa fa-angle-right"></i>
                      </a>
                      <span class="toggle-dropdown-mobile"><i class="fa fa-angle-down"></i></span>
                      <div class="dropdown dropdown-menu dropdown-sub level1">
                        <div class="dropdown-menu-inner">
                          <div class="row">
                            <div class="mega-col col-sm-12">
                              <div class="mega-col-inner">
                                <ul>
                                  {% for child_link in linklists[link.handle].links %}
                                  {% if linklists[child_link.handle] != empty %}
                                  <li class="parent dropdown{% if link.active %} active{% endif %}">
                                    <a class="dropdown-toggle" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                      <span class="">{{ child_link.title }}</span>
                                    </a>
                                    <b class="caret"></b>
                                    <div class="dropdown-menu level2">
                                      <div class="dropdown-menu-inner">
                                        <div class="row">
                                          <div class="mega-col col-sm-12">
                                            <div class="mega-col-inner">
                                              <ul>
                                                {% for child_link1 in linklists[child_link.handle].links %}
                                                <li class="{% if child_link1.active %}active{% endif %}">
                                                  <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                    <span class="">{{ child_link1.title }}</span>
                                                  </a>
                                                </li>
                                                {% endfor %}
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  {% else %}
                                  <li class="{% if child_link.active %}active{% endif %}">
                                    <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                      <span class="">{{ child_link.title }}</span>
                                    </a>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% else %}
                    <li class="{% if link.active %}active{% endif %}">
                      <a href="{{ link.url }}" title="{{ link.title }}">
                          <span class="menu-title">{{ link.title }}</span>
                      </a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </ul>
              </div>
            </div>
        </div>
     
      
   		</div>
	</div>
</div>
