<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  
  <meta name="google-site-verification" content="1ZM5hf9ONvF7QC-iWPYgAUKkuZzgCyO2WsH-k9Mx290" />
  
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />

  <!-- fonts -->
  {% include 'font-family' %}

  <!-- Styles -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

  <!-- Theme base and media queries -->
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}

  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'jcarousel.css' | asset_url | stylesheet_tag }}
  {{ 'selectize.bootstrap3.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'component.css' | asset_url | stylesheet_tag }}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'styles-setting.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'elegantfont.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {% if settings.enable_retina %}
  {{ 'retina-responsive.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- Scripts -->
  {% include 'head_scripts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <!-- OrderLogic checkout restrictions ========================================= -->
  {% include 'order-logic' %}


  <!--[if lt IE 9]>
{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
<![endif]-->

  {% comment %}
  If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <meta name="google-site-verification" content="9sdWZuFYhIR5npQuAyM_38J3f7cetGkdjLCA3MspCLE" />
  <script type="text/javascript" async="" src="//www.searchanise.com/widgets/shopify/init.js?a=2O3n3T4M4J&amp;shop=outlander-store-com.myshopify.com"></script>

{% comment %} start instabadge section {% endcomment %}
{{ 'instabadge.css' | asset_url | stylesheet_tag }}
{% include 'instabadge' %}
{% comment %} end instabadge section {% endcomment %}
</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class=" {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  <div id="loading"></div>
  {% include 'header' %}
  <div class="container container-page-boxed">
    <div class="wrapper-container">	
      <div class="product-quickview"></div>
      <div class="clearfix breadcrumb-wrap">
        <div class="container no-padding">
          <div class="row">
            <div class="col-md-12">
              {% include 'breadcrumb' %}
            </div>
          </div>
        </div>
      </div>
      <main class="container main-content" role="main">
        {{ content_for_layout }}
      </main>
    </div>
  </div>
  {% include 'footer' %}

  {% include 'quick-view-product' %}
  {% include 'footer_scripts' %}
  {% include 'popup-newsletter' %}
  <div id="back-top" style="display: none;"><a class="" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>
  {% include 'canvas-menu' %}
  {% if settings.enable_product_image_zoom %}
  {{ 'jqueryzoom.js' | asset_url | script_tag }}
  {% endif %}
  {% if settings.display_recently_viewed_products %}
  <!-- Begin Recently Viewed Products -->
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  <!-- End Recently Viewed Products -->
  {% endif %}
  <script>
    jQuery(document).ready(function() {
      jQuery(window).load(function() {

        jQuery('#loading').hide();
      });

    })

  </script>
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
 

{% include 'special-offers' %}
<!-- {% include 'amasty_xnotif-product-snippet' %} -->
  {% include 'new-currency' %}

</body>
</html>