<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta name="google-site-verification" content="1ZM5hf9ONvF7QC-iWPYgAUKkuZzgCyO2WsH-k9Mx290" />

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />

  <!-- fonts -->
  {% include 'font-family' %}

  <!-- Styles -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Theme base and media queries -->
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}

  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'jcarousel.css' | asset_url | stylesheet_tag }}
  {{ 'selectize.bootstrap3.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'component.css' | asset_url | stylesheet_tag }}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'styles-setting.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'elegantfont.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {% if settings.enable_retina %}
  {{ 'retina-responsive.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  <!-- Scripts -->
  {% include 'head_scripts' %}

  {{ 'cj-event-storage.js' | asset_url | script_tag }}

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <!-- OrderLogic checkout restrictions ========================================= -->
  {% include 'order-logic' %}


  <!--[if lt IE 9]>
{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
<![endif]-->

  {% comment %}
  If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <meta name="google-site-verification" content="9sdWZuFYhIR5npQuAyM_38J3f7cetGkdjLCA3MspCLE" />
  <script type="text/javascript" async="" src="//www.searchanise.com/widgets/shopify/init.js?a=2O3n3T4M4J&amp;shop=outlander-store-com.myshopify.com"></script>

{% comment %} start instabadge section {% endcomment %}
{{ 'instabadge.css' | asset_url | stylesheet_tag }}
{% include 'instabadge' %}
{% comment %} end instabadge section {% endcomment %}



{% include 'field-validation' %}

{% include 'consent-management' %}
<script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=S3ZDaE"></script>
</head>

{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  <div id="loading"></div>
  {% include 'header' %}
  <div class="container container-page-boxed">
    <div class="wrapper-container">
      <div class="product-quickview"></div>
      <div class="clearfix breadcrumb-wrap">
        <div class="container no-padding">
          <div class="row">
            <div class="col-md-12">
              {% include 'breadcrumb' %}
            </div>
          </div>
        </div>
      </div>
      <main class="container main-content" role="main">
        {{ content_for_layout }}
      </main>
    </div>
  </div>
  {% include 'footer' %}

  {% include 'quick-view-product' %}
  {% include 'footer_scripts' %}
  {% include 'popup-newsletter' %}
  <div id="back-top" style="display: none;"><a class="" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>
  {% include 'canvas-menu' %}
  {% if settings.enable_product_image_zoom %}
  {{ 'jqueryzoom.js' | asset_url | script_tag }}
  {% endif %}
  {% if settings.display_recently_viewed_products %}
  <!-- Begin Recently Viewed Products -->
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}  
  {% if template contains 'product' %}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  <!-- End Recently Viewed Products -->
  {% endif %}
  <script>
    jQuery(document).ready(function() {
      jQuery(window).load(function() {

        jQuery('#loading').hide();
      });

    })

  </script>
  {% section 'free-gifts' %}
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>


{% include 'special-offers' %}
<!-- {% include 'amasty_xnotif-product-snippet' %} -->
  {% include 'new-currency' %}


{%include 'sc-pb-25052016'%}
  

  <style type="text/css"> 
    .btn-klaviyo{
      display: inline-block;
      height: 38px;
      line-height: normal;
      padding: 10px 15px;
      text-align: center;
      text-transform: uppercase;
      background-color: #361618;
      color: #fff;
      margin-top: 15px;
    } 
  </style>
    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "S3ZDaE",
      platform: "shopify",
      exclude_on_tags: "NLA-ITEM" });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn-klaviyo",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false},
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#361618",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"}});
  </script>

</body>
</html>
