{% if settings.tealium_enabled %}
<script src="//tags.tiqcdn.com/utag/{{ settings.tealium_account_identifier_1 }}/{{ settings.tealium_account_identifier_2}}/{{ settings.tealium_environment }}/utag.sync.js"></script>
{% endif %}
