{% if settings.tealium_enabled %}

<script type="text/javascript">
var utag_data = {
  page_name: "natgeo:web:shop:{% if collection.url %}{{ collection.handle }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.handle }}{% endif %}:{{ product.handle }}",
  contentLevel1: "natgeo:web:shop",
  contentLevel2: "natgeo:web:shop:{% if collection.url %}{{ collection.handle }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.handle }}{% endif %}",
  contentLevel3: "natgeo:web:shop:{% if collection.url %}{{ collection.handle }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.handle }}{% endif %}",
  contentLevel4: "natgeo:web:shop:{% if collection.url %}{{ collection.handle }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.handle }}{% endif %}",
  page_type: "shop:{% if collection.url %}{{ collection.handle }}{% else %}{% assign first_collection = product.collections | first %}{{ first_collection.handle }}{% endif %}"
}
</script>

{% include 'tealium-run' %}
{% endif %}
