{% if settings.tealium_enabled %}

<script type="text/javascript">
var utag_data = {
  page_name: "natgeo:web:shop",
  contentLevel1: "natgeo:web:shop",
  contentLevel2: "natgeo:web:shop",
  contentLevel3: "natgeo:web:shop",
  contentLevel4: "natgeo:web:shop",
  page_type: "shop"
}
</script>

{% include 'tealium-run' %}
{% endif %}
