{% if settings.tealium_enabled %}
<script type="text/javascript">
    (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/{{ settings.tealium_account_identifier_1 }}/{{ settings.tealium_account_identifier_2}}/{{ settings.tealium_environment }}/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>
{% endif %}
