{%- assign main_navigation = linklists[section.settings.main_linklist].links -%}
	<li class="mobile-nav__link border-bottom">
		<div class="mobile-menu-accordion" data-level="1" id="mobile-menu-accordion">
		{% for link in main_navigation %}
			{%- capture linkHandle -%}{{link.handle}}{%- endcapture -%}
			{% if link.links != blank or linklists[linkHandle].links != blank %}
			<div class="mobile-menu-accordion" data-level="2">
				<div data-handle-id="{{link.handle}}" class="border-bottom mobile-nav__link--header mobile-nav__link-accordion-header">{{ link.title }}</div>
				<div data-handle-content="{{link.handle}}">
					{% if link.links != blank %}
					{%- assign llinks = link.links -%}
					{% else %}
					{%- assign llinks = linklists[linkHandle].links -%}
					{% endif %}
					{% for llink in llinks %}
						{%- capture llinkHandle -%}{{llink.handle}}{%- endcapture -%}
						{% if llink.links != blank or linklists[llinkHandle].links != blank %}
							{% if llink.links != blank %}
							{%- assign l3inks = llink.links -%}
							{% else %}
							{%- assign l3inks = linklists[llinkHandle].links -%}
							{% endif %}
							<div class="mobile-menu-accordion" data-level="3">
								<div data-handle-id="{{llink.handle}}" class="mobile-nav__link--header mobile-nav__link-accordion-header">{{llink.title}}</div>
								<div data-handle-id="{{llink.handle}}">
									{% for l3ink in l3inks %}
									{%- capture l3inkHandle -%}{{l3ink.handle}}{%- endcapture -%}
									<div data-level="4">
										<a href="{{l3ink.url}}">{{l3ink.title}}</a>
									</div>
									{% endfor %}
								</div>
							</div>
						{% else %}
							<div class="mobile-nav__link--header">
								<a href="{{llink.url}}">{{llink.title}}</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% else %}
			<div class="border-bottom mobile-nav__link--header">
				<a href="{{ link.url }}">{{link.title}}</a>
			</div>
			{% endif %}
		{% endfor %}
		</div>
		<div class="mobile-nav__promo">
			{% if section.settings.navigation_promo_link != blank %}
		  <a href="{{ section.settings.navigation_promo_link }}" class="navigation-promo-link">
		    {% if section.settings.navigation_promo_link_mobile_image != blank %}
		      <img class="navigation-promo-link-image" src="{{ section.settings.navigation_promo_link_mobile_image | img_url: '300x300' }}" > 
		    {% endif %}
		  </a>
		  {% endif %}
		</div>
	</li>