<div class="page-width collection-list collection-border-grid">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}

  <div class="collection-grid collection-border-grid">
    <div class="grid grid--uniform">
      <div class="grid__item {{ grid_item_width }} grid__item-left" {{ block.shopify_attributes }}>
        <div class="collection-grid-item">
          <a href="{{ section.settings.left_url }}" class="collection-grid-item__link">
            {% if section.settings.left_image != blank %}
              <div class="collection-grid-item__overlay-wrapper">
                <div class="collection-grid-item__overlay box ratio-container lazyload js"> 
                  <div data-sizes="contain" data-bgset="{{ section.settings.left_image | img_url: 'master' }}" class="lazy lazyload"></div>
                  {% comment %}<img data-sizes="auto" data-src="{{ section.settings.left_image | img_url: 'master' }}" class="lazyload">{% endcomment %} 
                </div>     
             </div>
           {% endif %}
            <div class="collection-grid-item__title-wrapper">
              <h3 class="collection-grid-item__title">{{ section.settings.left_image_title }}</h3> 
              <div class="collection-grid-item__sub-title">Shop Now</div>
              {% comment %}<h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>{% endcomment %}
            </div>
          </a>
        </div>
      </div> 
      <div class="grid__item {{ grid_item_width }} grid__item-middle" {{ block.shopify_attributes }}>
        <div class="grid__item-top">
          <div class="collection-grid-item">
            <a href="{{ section.settings.middle_top_url }}" class="collection-grid-item__link">
              {% if section.settings.middle_top_image != blank %}
                <div class="collection-grid-item__overlay-wrapper">
                  <div class="collection-grid-item__overlay box ratio-container lazyload js">
                    <div data-sizes="contain" data-bgset="{{ section.settings.middle_top_image | img_url: 'master' }}" class="lazy lazyload"></div>
                     {% comment %}<img data-sizes="auto" data-src="{{ section.settings.middle_top_image | img_url: 'master' }}" class="lazyload">{% endcomment %}
                  </div>     
               </div>
             {% endif %}
              <div class="collection-grid-item__title-wrapper">
                <h3 class="collection-grid-item__title">{{ section.settings.middle_top_image_title }}</h3> 
                <div class="collection-grid-item__sub-title">Shop Now</div> 
                {% comment %}<h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>{% endcomment %}
              </div>
            </a>
          </div>  
        </div>
        <div class="grid__item-bottom">
          <div class="collection-grid-item">
            <a href="{{ section.settings.middle_bottom_url }}" class="collection-grid-item__link">
              {% if section.settings.middle_bottom_image != blank %}
                <div class="collection-grid-item__overlay-wrapper">
                  <div class="collection-grid-item__overlay box ratio-container lazyload js">
                    <div data-sizes="contain" data-bgset="{{ section.settings.middle_bottom_image | img_url: 'master' }}" class="lazy lazyload lazybeforeunveil"></div>
                     {% comment %}<img data-sizes="auto" data-src="{{ section.settings.middle_bottom_image | img_url: 'master' }}" class="lazyload">{% endcomment %}
                  </div>     
               </div>
             {% endif %}
              <div class="collection-grid-item__title-wrapper">
                <h3 class="collection-grid-item__title">{{ section.settings.middle_bottom_image_title }}</h3> 
                <div class="collection-grid-item__sub-title">Shop Now</div> 
                {% comment %}<h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>{% endcomment %}
              </div>
            </a>
          </div>
        </div>
      </div> 
      <div class="grid__item {{ grid_item_width }} grid__item-right" {{ block.shopify_attributes }}>
        <div class="collection-grid-item">
          <a href="{{ section.settings.right_url }}" class="collection-grid-item__link">
            {% if section.settings.right_image != blank %}
              <div class="collection-grid-item__overlay-wrapper">
                <div class="collection-grid-item__overlay box ratio-container lazyload js">
                  <div data-sizes="contain" data-bgset="{{ section.settings.right_image | img_url: 'master' }}" class="lazy lazyload"></div>
                   {% comment %}<img data-sizes="auto" data-src="{{ section.settings.right_image | img_url: 'master' }}" class="lazyload">{% endcomment %}
                </div>     
             </div>
           {% endif %}
            <div class="collection-grid-item__title-wrapper">
              <h3 class="collection-grid-item__title">{{ section.settings.right_image_title }}</h3> 
              <div class="collection-grid-item__sub-title">Shop Now</div> 
              {% comment %}<h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>{% endcomment %}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Collection Border Grid",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }, 
      {
        "type": "url", 
        "id": "left_url", 
        "label": "Left Url" 
      }, 
      {
        "type": "image_picker", 
        "id": "left_image", 
        "label": "Left Block Image"
      }, 
      {
        "type": "text", 
        "id": "left_image_title", 
        "label": "Left Block Title"
      }, 
      {
        "type": "url", 
        "id": "right_url", 
        "label": "Right Url" 
      }, 
      {
        "type": "image_picker", 
        "id": "right_image", 
        "label": "Right Block Image"
      }, 
      {
        "type": "text", 
        "id": "right_image_title", 
        "label": "Right Block Title"
      }, 
      {
        "type": "url", 
        "id": "middle_top_url", 
        "label": "Middle Top Url" 
      }, 
      {
        "type": "image_picker", 
        "id": "middle_top_image", 
        "label": "Middle Top Block Image"
      }, 
      {
        "type": "text", 
        "id": "middle_top_image_title", 
        "label": "Middle Top Block Title"
      }, 
      {
        "type": "url", 
        "id": "middle_bottom_url", 
        "label": "Middle Bottom Url" 
      }, 
      {
        "type": "image_picker", 
        "id": "middle_bottom_image", 
        "label": "Middle Bottom Block Image"
      }, 
      {
        "type": "text", 
        "id": "middle_bottom_image_title", 
        "label": "Middle Bottom Block Title"
      }
    ],
    "presets": [
      {
        "name": "Collection Border List",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
