
{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %} 

{%- assign custom_bg = none -%} 
{%- assign custom_mob_bg = none -%} 
{% for _block in section.blocks %} 
  {% if _block.type == 'custom_background_block' %} 
    {%- assign cust_col = collections[_block.settings.custom_collection] -%} 
    {% if cust_col.handle == collection.handle %} 
      {% assign custom_bg = _block.settings.background_image | img_url: '2000x2000' %} 
      {% assign custom_mob_bg = _block.settings.background_mobile_image | img_url: '2000x2000' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if custom_bg != none %}
<div class="custom-background visually-hidden" data-collection-handle="{{ cust_col.handle }} -- {{ collection.handle }}" data-background-image="{{ custom_bg }}" data-background-mobile-image="{{ custom_mob_bg }}">
</div> 
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  {% if custom_bg != none %}
    <div class="text-center home-entl-product medium-up--hide" >
      {% assign list1 = 'Dirty Dancing, Reservoir Dogs' | split:', ' %} 
      {% assign list2 = 'La La Land' | split:', ' %}  
      {% if list1 contains collection.title %}
      <b>{{ collection.title }} -</b> Available Now on Blu-ray™, DVD, and Digital 
      {% elsif list2 contains collection.title %} 
      <b>{{ collection.title }} -</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital
      {% elsif collection.title == 'John Wick' %} 
      <div><b>John Wick –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>John Wick: Chapter 2 –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>John Wick: Chapter 3 -</b> Parabellum – Available Now on Digital, 4K Ultra HD™, Blu-ray™ Combo and DVD</div>
      {% elsif collection.title == 'Saw' %}       
      <div><b>SAW –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>Spiral: From the Book of SAW –</b> Now Playing in Theaters & Everywhere You Rent Movies</div>
      {% endif %}
    </div> 
    {% endif %} 

  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="page-width-no-padding">
    <h1 class="t-uppercase no-margin full-width--title">{{ collection.title }}</h1>
    {% include 'breadcrumbs' %}
    {%if collection.handle=='american-underdog'%}
          <div class="american-underdog-text" > SEE <a  href="https://www.lionsgate.com/movies/american-underdog">AMERICAN UNDERDOG,</a> IN THEATERS EVERYWHERE CHRISTMAS DAY. <a  class="link-watch-trailer" href="https://www.lionsgate.com/videos/american-underdog-2021-movie-official-trailer-zachary-levi-anna-paquin-and-dennis-quaid" >WATCH THE TRAILER</a></div>
    {%endif%}
    {% if custom_bg != none %}
    <div class="text-center home-entl-product small--hide" >
      {% assign list1 = 'Dirty Dancing, Reservoir Dogs' | split:', ' %} 
      {% assign list2 = 'La La Land' | split:', ' %}  
      {% if list1 contains collection.title %}
      <b>{{ collection.title }} -</b> Available Now on Blu-ray™, DVD, and Digital 
      {% elsif list2 contains collection.title %} 
      <b>{{ collection.title }} -</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital
      {% elsif collection.title == 'John Wick' %} 
      <div><b>John Wick –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>John Wick: Chapter 2 –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>John Wick: Chapter 3 -</b> Parabellum – Available Now on Digital, 4K Ultra HD™, Blu-ray™ Combo and DVD</div>
      {% elsif collection.title == 'Saw' %}       
      <div><b>SAW –</b> Available Now on 4K Ultra HD™, Blu-ray™, DVD, and Digital</div>
      <div><b>Spiral: From the Book of SAW –</b> Now Playing in Theaters & Everywhere You Rent Movies</div>
      {% endif %}
    </div> 
    {% endif %} 


    <div class="collection-content-wrapper">
      <div class="one-quarter inline">
        <aside>
        {% include 'collection-links' with 'no-limit' %}
        {% paginate collection.products by limit %}
        {% endpaginate %}
        </aside>
      </div>

      <div class="three-quarters inline" id="Collection">
        
        {% include 'collection-header-image' %}

        {% if section.settings.layout == 'grid' %}
          {% case section.settings.grid %}
          {% when '2' %}
            {%- assign grid_item_width = 'medium-up--one-half' -%}
          {% when '3' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
          {% when '4' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
          {% when '5' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
          {% endcase %}

          <div class="filters-toolbar__products_count medium-up--text-left small--text-right">
            <label class="filters-toolbar__collection_products_count">
              {% if current_tags.size > 0 %}<span>{{ collection.products_count }}</span>{% else %}<span>{{ collection.all_products_count }}</span>{% endif %} results
            </label>
          </div>
          {% include 'sort-by' %}

          <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height %}
              </div>
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
          {% include 'popup-quickview' %}
        {% else %}
          <div class="list-view-items">
            {% for product in collection.products %}
              <a href="{{ product.url | within: collection }}" class="list-view-item">
                {% include 'product-card-list', product: product %}
              </a>
            {% else %}

              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>

                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if is_empty_collection %}
          <div class="grid__item small--text-center empty">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

        {% assign collection_description = collection.description | strip %}
        {% if collection_description != '' %}
        <div class="collection-description-section border-top">
          <div>{{ collection.description }}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endpaginate %}
{%if collection.handle=='american-underdog'%}
<style>
 .Background div{

       background: url('https://cdn.shopify.com/s/files/1/0278/5447/1307/files/MicrosoftTeams-image_.png?v=163942748'); 
      background-size:cover;
    }
    .Background div:before{
       background: rgba(35,107,153,0);
    }
    body{
      background: url('https://cdn.shopify.com/s/files/1/0278/5447/1307/files/MicrosoftTeams-image_1.png?v=1639427482'); 
      
    }
</style>
{%endif%}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "custom_background_block", 
        "name": "Custom Background", 
        "settings": [
          {
            "type": "header", 
            "content": "Custom Background for Collections"
          }, 
          {
            "type": "collection", 
            "id": "custom_collection",
            "label": "Custom Collection"
          }, 
          {
            "type": "image_picker", 
            "id": "background_image", 
            "label": "Custom Background"
          }, 
          {
            "type": "image_picker", 
            "id": "background_mobile_image", 
            "label": "Custom Mobile Background"
          }
        ]
      },
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "text",
            "id": "collection_header_image_text",
            "label": "Header Image Text"
          },
          {
            "type": "text",
            "id": "collection_header_image_sub_text",
            "label": "Header Image Sub Text"
          },
          {
            "type":"color", 
            "id":"header_image_text_color", 
            "label":"Text color", 
            "default":"#3d4246"
          },
          {
            "type":"color", 
            "id":"header_image_sub_text_color", 
            "label":"Sub Text color", 
            "default":"#3d4246"
          },
          {
            "type": "range",
            "id": "collection_header_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text Mobile font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text Mobile font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Mobile Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Image size",
            "default": 50
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Mobile Image size",
            "default": 50
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
