@charset "UTF-8";

/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
/* Variables =================================================================*/

// Colors
$colorBrand: #006db5;
$colorText: #000000;
$colorForeground: #ffffff;
$colorBackground: #ffffff;
$colorHighlight: #eeeeee;
$colorAlternate: #0d1b49;
$colorBorder: #d4d4d4;
$colorError: #900;
$colorSuccess: #279424;

// Typography
$fontLight: lighter;
$fontRegular: normal;
$fontBold: bold;
$lineHeight: 1.75;
$hoverAmount: 15%;

$h1Base: 1.375rem;
$h2Base: 1rem;
$h3Base: 0.9rem;
$h4Base: 0.8rem;
$h5Base: 0.7rem;
$h6Base: 0.75rem;
$pBase: 0.75rem;
$smallBase: 0.5625rem;

// Space & Borders
$gutter: 50px;
$borderRadius: 4px;
$borderWeight: 1px;
$borderStyle: solid;

// Screen Sizes
$s: 650px;
$m: 850px;
$l: 985px;
$xl: 1500px;

// Transitions
$transitionSpeed: 100ms;
$transitionStyle: ease-in-out;
$transitionDelay: 100ms;
$transition: all $transitionSpeed $transitionStyle;

// Icons
$baseIconSize: 32px;
$iconLinecap: square;

/* Typography ================================================================*/

// Base type variables
$headingTextTransform: none;
$headingLetterSpacing: 0px;


$headingLetterSpacing: 0px;

// Headings
$headingFontStack: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  $headingFontWeight: $fontRegular;



// Body


  
  $bodyFontStack: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  $bodyFontWeight: $fontLight;



// Custom type overrides, if needed
$headingFontStack: $headingFontStack;
$bodyFontStack: $bodyFontStack;
$headingFontWeight: $fontBold;
$bodyFontWeight: $fontRegular;


/* Utils =====================================================================*/
/* Mixins ====================================================================*/

// Prefixer (See https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss)
@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

// Clearfix
@mixin clearfix() {
  display: block; // TBC - is this OK? Seems to help
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  *zoom: 1;
}

// Screen Sizes & Types
@mixin s() {
  @media (max-width: $s) {
    @content;
  }
}
@mixin sm() {
  @media (max-width: $l - 1px) {
    @content;
  }
}
@mixin m() {
  @media (min-width: $s + 1px) and (max-width: $l - 1px) {
    @content;
  }
}
@mixin ml() {
  @media (min-width: $s + 1px) {
    @content;
  }
}
@mixin l() {
  @media (min-width: $l) {
    @content;
  }
}
@mixin xl() {
  @media (min-width: $xl) {
    @content;
  }
}

// Flex
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin box-orient--vertical() {
  @include prefixer(box-orient, vertical, webkit moz spec);
}
@mixin flex-direction($flex-direction) {
  @include prefixer(flex-direction, $flex-direction, webkit moz ms spec);
}

// Table Grids
@mixin table() {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 $gutter/3;
  .column {
    float: none;
    display: table-cell;
    &.middle {
      vertical-align: middle;
    }
    &.top {
      vertical-align: top;
    }
    &.bottom {
      vertical-align: bottom;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

// Verically Align
@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

// Transition Property (for legacy support)
@mixin transition-property() {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

// Transitions
@mixin transition() {
  @include prefixer(transition, $transition, webkit moz ms spec);
}

@mixin gradient($start, $stop, $angle) {
  @if $angle == top {
    $webkitAngle: left top, left bottom;
    $msGradientType: 0;
  } @else if $angle == left {
    $webkitAngle: left top, right top;
    $msGradientType: 1;
  } @else {
    $webkitAngle: left top, right bottom;
    $msGradientType: 1;
  }
  background: $start;
  background: -moz-linear-gradient($angle, $start 0%, $stop 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $start), color-stop(100%, $stop));
  background: -webkit-linear-gradient($angle, $start 0%, $stop 100%);
  background: -o-linear-gradient($angle, $start 0%, $stop 100%);
  background: -ms-linear-gradient($angle, $start 0%, $stop 100%);
  background: linear-gradient($angle, $start 0%, $stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
}

// Overlays
@mixin overlay() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


/* Global ====================================================================*/
/* Reset =====================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
form, input, textarea, label, fieldset, legend, optgroup, button
{
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  // line-height: inherit; TBC
  line-height: 1; // TBC
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
  color: inherit;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-backface-visibility: hidden;
  // Remove the following line if you have trouble with positioning transforms
  // -webkit-transform: translateZ(0) scale(1.0, 1.0); TBC
}

/* Color Palette =============================================================*/

$colors: $colorBrand, $colorText, $colorBackground, $colorForeground, $colorHighlight, $colorAlternate, $colorBorder;
$palettes: brand, text, background, foreground, highlight, alternate, border;

@mixin color-palette($element, $color) {
  @if $element == 'bg' {
    background-color: $color;
    &.palette {
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      input[type="checkbox"],
      select,
      textarea {
        //color: $color;
      }
    }
  } @else {
    color: $color;
    a:not(.button) {
      color: $color;
      .icon svg {
        .stroke {
          stroke: $color;
        }
        .fill {
          fill: $color;
        }
      }
      &:hover {
        color: lighten($color, $hoverAmount);
        .icon svg {
          .stroke {
            stroke: darken($color, $hoverAmount);
          }
          .fill {
            fill: darken($color, $hoverAmount);
          }
        }
      }
    }
    &.palette {
      h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
        color: $color;
      }
      a:not(.button) {
        color: $color;
        .icon svg {
          .stroke {
            stroke: $color;
          }
          .fill {
            fill: $color;
          }
        }
        &:hover {
          color: lighten($color, $hoverAmount);
          * {
            color: lighten($color, $hoverAmount);
          }
          .icon svg {
            .fill {
              fill: lighten($color, $hoverAmount);
            }
            .stroke {
              stroke: lighten($color, $hoverAmount);
            }
          }
        }
      }
      .icon svg {
        .fill {
          fill: $color;
        }
        .stroke {
          stroke: $color;
        }
      }
      button, .button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      select {
        //background-color: $color;
        //border-color: $color;
        &:hover {
          //background-color: lighten($color, $hoverAmount);
          //border-color: lighten($color, $hoverAmount);
        }
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="password"],
      input[type="search"],
      textarea {
        //background-color: $color;
        //border-color: $color;
      }
      input[type="checkbox"] {
        //border-color: $color;
        &:checked {
          //background-color: $color;
        }
      }
      hr {
        //border-color: $color;
      }
    }
  }
}

@for $i from 1 through length($palettes) {
  .fg-#{nth($palettes, $i)} {
    @include color-palette(fg, nth($colors, $i));
    &.invert {
      @include color-palette(bg, nth($colors, $i));
    }
  }
  .bg-#{nth($palettes, $i)} {
    @include color-palette(bg, nth($colors, $i));
    &.invert {
      @include color-palette(fg, nth($colors, $i));
    }
  }

  h1, h2, h3, h4, h5, h6, p, ul, li, .rte {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
    }
  }
  a:not(.button) {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
      .icon svg {
        .stroke {
          stroke: nth($colors, $i);
        }
        .fill {
          fill: nth($colors, $i);
        }
      }
      &:hover {
        color: lighten(nth($colors, $i), $hoverAmount) !important;
        * {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
        .icon svg {
          .stroke {
            stroke: lighten(nth($colors, $i), $hoverAmount);
          }
          .fill {
            fill: lighten(nth($colors, $i), $hoverAmount);
          }
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
        &:hover {
          color: lighten(nth($colors, $i), $hoverAmount) !important;
          * {
            color: lighten(nth($colors, $i), $hoverAmount) !important;
          }
        }
      }
    }
  }
  .icon {
    &.fg-#{nth($palettes, $i)} {
      svg {
        .fill {
          fill: nth($colors, $i) !important;
        }
        .stroke {
          stroke: nth($colors, $i) !important;
        }
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        svg {
          .fill {
            fill: nth($colors, $i) !important;
          }
          .stroke {
            stroke: nth($colors, $i) !important;
          }
        }
      }
    }
  }
  button, .button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  select {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
      &:hover {
        background-color: lighten(nth($colors, $i), $hoverAmount) !important;
        //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
        &:hover {
          background-color: lighten(nth($colors, $i), $hoverAmount) !important;
          //border-color: lighten(nth($colors, $i), $hoverAmount) !important;
        }
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  input[type="search"],
  textarea {
    &.fg-#{nth($palettes, $i)} {
      color: nth($colors, $i) !important;
    }
    &.bg-#{nth($palettes, $i)} {
      background-color: nth($colors, $i) !important;
      //border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        color: nth($colors, $i) !important;
      }
      &.fg-#{nth($palettes, $i)} {
        background-color: nth($colors, $i) !important;
        //border-color: nth($colors, $i) !important;
      }
    }
  }
  input[type="checkbox"] {
    &.fg-#{nth($palettes, $i)} {
      //border-color: nth($colors, $i) !important;
      &:checked {
        //background-color: nth($colors, $i) !important;
      }
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
        &:checked {
          //background-color: nth($colors, $i) !important;
        }
      }
    }
  }
  hr {
    &.fg-#{nth($palettes, $i)} {
      //border-color: nth($colors, $i) !important;
    }
    &.invert {
      &.bg-#{nth($palettes, $i)} {
        //border-color: nth($colors, $i) !important;
      }
    }
  }
}

@mixin palette($bg, $fg) {
  @for $i from 1 through length($colors) {
    @extend .palette;
    @if $bg == nth($colors, $i) {
      @extend .bg-#{nth($palettes, $i)};
    }
    @if $fg == nth($colors, $i) {
      @extend .fg-#{nth($palettes, $i)};
    }
  }
}

/* Global ====================================================================*/

// Shopify admin overrides
#admin_bar_iframe, .shopify-preview-bar {
  display: none !important;
}

html {
  height: 100%;
  padding-top: 0px !important;
}

body {
  height: 100%;
  color: $colorText;
  background-color: $colorBackground;
  font-size: $pBase;
  font-family: $bodyFontStack;
  font-weight: $bodyFontWeight;
  //-webkit-font-smoothing: antialiased;
}

#MainContent {
  
  .container {
    background-color: $colorBackground;

    &.mobile-tab-menu {
      &>.mobile-tabs {
        @include s() {
          display: flex;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headingFontStack;
  font-weight: $headingFontWeight;
  text-transform: $headingTextTransform;
  letter-spacing: $headingLetterSpacing;
  line-height: $lineHeight;
  display: block;
  margin-bottom: $gutter/3.33;
}

h1, .h1 { font-size: $h1Base; }
h2, .h2 { font-size: $h2Base; }
h3, .h3 { font-size: $h3Base; }
h4, .h4 { font-size: $h4Base; }
h5, .h5 { font-size: $h5Base; }
h6, .h6 { font-size: $h6Base; }

p {
  font-size: $pBase;
  font-weight: $fontRegular;
  line-height: $lineHeight;
  margin-bottom: $gutter/3.33;
}

a {
  color: $colorBrand;
  cursor: pointer;
  @include transition();
  text-decoration: none;
  &:hover, &:focus {
    color: darken($colorBrand, $hoverAmount);
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  margin: $gutter/10 0;
  &.dotted {
    border-top-style: dotted;
  }
  &.dashed {
    border-top-style: dashed;
  }
}

strong, b {
  font-weight: $fontBold;
}

small, .small {
  font-size: $smallBase;
}

i {
  font-style: italic;
}

.rte {
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $gutter/2;
    li {
      list-style: none;
      list-style-position: inherit;
      margin-bottom: $gutter/10;
      margin-left: $gutter/2;
    }
    &.bullets {
      li {
        list-style: disc;
      }
    }
  }
  ol {
    list-style-type: decimal;
  }
  p:last-child {
    margin-bottom: 0;
  }
  // Basic table styling for content areas
  table {
    width: 100%;
    margin-bottom: $gutter/3.33;
    font-size: $pBase;
    tbody {
      tr {
        &:first-child {
          background-color: lighten($colorText, $hoverAmount);
          color: $colorForeground;
          font-weight: $fontBold;
          .popup-content & {
            background-color: transparent;
            color: $colorText;
            * {
              font-weight: $fontBold;
            }
          }
        }
        td {
          padding: $gutter/10 $gutter/20;
        }
      }
    }
  }
}

.breadcrumb {
  font-size: $pBase;
  line-height: 1;
  margin-bottom: $gutter/5;
  color: lighten($colorText, 30%);
  a {
    color: $colorText;
    &:hover {
      color: $colorText;
    }
  }
}

// Forms
form {
  max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  max-width: 100%;
  height: $gutter/1.35;
  line-height: (($gutter/1.35) - ($borderWeight*2));
  background-color: $colorForeground;
  color: lighten($colorText, $hoverAmount);
  padding: 0 $gutter/5;
  font-size: $h3Base;
  font-family: inherit;
  border: $borderWeight $borderStyle $colorBorder;
  border-radius: $borderRadius;
  -webkit-appearance: none;
  &.no-border {
    border: 0;
    line-height: $gutter/1.35;
  }
  &::-webkit-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &::-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &:-moz-placeholder {
    color: lighten($colorText, $hoverAmount);
    opacity: 1;
  }
  &.medium {
    font-size: $pBase;
    height: $gutter/1.785;
    line-height: ($gutter/1.785) - ($borderWeight*2);
  }
  &.small {
    font-size: $pBase;
    height: $gutter/2.27;
    line-height: (($gutter/2.27) - ($borderWeight*2));
  }
  @include s() {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
  &.error {
    border-color: $colorError;
  }
}
textarea {
  height: initial;
  line-height: $lineHeight;
  padding: $gutter/5;
}
label {
  display: block;
  font-size: $pBase;
  font-weight: $fontBold;
  line-height: inherit;
}
input[type="checkbox"] {
  position: relative;
  width: $gutter/3.84;
  height: $gutter/3.84;
  border: $borderWeight $borderStyle $colorBrand;
  @include gradient($colorBorder, $colorForeground, -45deg);
  @include prefixer(appearance, none, webkit moz ms spec);
  &:after {
    content: "";
    @include overlay();
    color: $colorSuccess;
    font-size: $h4Base;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    border-color: $colorHighlight;
  }
  &:checked {
    &:after {
      content: "\2713";
    }
  }
}
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  color: $colorBrand;
  &:hover {
    text-decoration: underline;
    color: darken($colorBrand, $hoverAmount);
  }
}
button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  max-width: 100%;
  height: $gutter/1.35;
  line-height: ($gutter/1.35) - ($borderWeight*2);
  padding: 0 $gutter/5;
  font-size: $h5Base;
  font-weight: $fontLight;
  font-family: $bodyFontStack;
  color: $colorForeground;
  text-transform: uppercase;
  @include background-image();
  background-color: $colorBrand;
  border: $borderWeight $borderStyle $colorHighlight;
  border-radius: $borderRadius;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include transition();
  .icon {
    margin-bottom: $borderWeight*2;
    svg {
      .stroke {
        stroke: $colorForeground !important;
      }
      .fill {
        fill: $colorForeground !important;
      }
    }
  }
  option {
    // Firefox
    background-color: $colorBackground;
    border: 0;
    display: block;
    color: $colorForeground;
  }
  &:hover {
    color: $colorForeground;
    background-color: darken($colorBrand, $hoverAmount);
  }
  &.monochromatic {
    color: $colorText;
    background-color: $colorBorder;
    &:hover {
      color: $colorText;
      background-color: darken($colorBorder, $hoverAmount);
    }
  }
  &.medium {
    height: $gutter/1.785;
    line-height: ($gutter/1.785) - ($borderWeight*2);
  }
  &.small {
    font-size: $pBase;
    font-weight: $fontRegular;
    height: $gutter/2.27;
    line-height: ($gutter/2.27) - ($borderWeight*2);
    &.w-bold {
      font-weight: $fontBold;
    }
  }
  &.square {
    width: $gutter/1.35;
    padding: 0;
    text-align: center;
    .icon svg {
      width: $gutter/3;
      height: $gutter/3;
    }
  }
  &.bitmap {
    height: auto;
    width: auto;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 1;
    img {
      display: inline;
      &.hover {
        display: none;
      }
    }
    &:not(.no-hover) {
      &:hover {
        img {
          &:not(.hover) {
            display: none;
          }
          &.hover {
            display: inline;
          }
        }
      }
    }
  }
  &.background-image {
    width: auto;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
  &:disabled, &.disabled {
    cursor: default;
    @include gradient($colorBorder, $colorBorder, top);
    border-color: darken($colorBorder, 10%);
    color: $colorForeground;
    &:active {
      @extend .disabled;
    }
    &:hover {
      background-color: darken($colorBorder, 10%);
    }
  }
}
a.button {
  display: inline-block;
  text-decoration: none;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: $gutter/5;
  select {
    width: 100%;
    @extend .button;
    padding-right: $gutter/1.25;
    margin-bottom: 0 !important;
    cursor: pointer;
  }
  .icon {
    right: $gutter/5;
    @include vertical-align();
    position: absolute;
    svg {
      .stroke {
        stroke: $colorForeground !important;
      }
      .fill {
        fill: $colorForeground !important;
      }
    }
  }
}
select {
  max-width: 100%;
}
.errors, .note {
  display: inline-block;
  padding: $gutter/5;
  margin: 0 auto $gutter/2.5;
  color: $colorForeground;
  background-color: $colorError;
  border: 0;
  font-size: $pBase;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: $colorForeground;
    &:hover {
      color: darken($colorForeground, $hoverAmount);
    }
  }
}

/* Grid System ===============================================================*/

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 $gutter/5;
  &.xl {
    width: $xl;
  }
  &.l {
    width: $l;
  }
  &.m {
    width: $m;
  }
  &.s {
    width: $s;
  }
  @include s() {
    padding: 0 $gutter/5;
  }
}

// Rows
.row {
  margin: 0 (-$gutter/5) $gutter/3;

  // Standard Grid
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.condensed {
    margin: 0 (-$gutter/5) $gutter/3;
    .column {
      padding: 0 $gutter/5;
    }
  }
  // Table Grid
  &.table { @include table(); }
  &.xl-table { @include xl() { @include table(); } }
  &.l-table { @include l() { @include table(); } }
  &.m-table { @include m() { @include table(); } }
  &.s-table { @include s() { @include table(); } }

  // Collapse current row helper
  &.collapsed {
    margin: 0;
  }
  // Collapse entire grid
  &.collapse {
    margin: 0;
    .column {
      padding: 0;
    }
  }
}

// Column Grid
.column {
  float: left;
  min-height: 0.125rem;
  padding: 0 $gutter/2;

  // Collapse current column helper
  &.collapsed {
    padding: 0;
  }

  // Widths
  &.l1 { width: percentage(1/12); }
  &.l2 { width: percentage(2/12); }
  &.l3 { width: percentage(3/12); }
  &.l4 { width: percentage(4/12); }
  &.l5 { width: percentage(5/12); }
  &.l6 { width: percentage(6/12); }
  &.l7 { width: percentage(7/12); }
  &.l8 { width: percentage(8/12); }
  &.l9 { width: percentage(9/12); }
  &.l10 { width: percentage(10/12); }
  &.l11 { width: percentage(11/12); }
  &.l12 { width: 100%; }
  @include m() {
    &.m1 { width: percentage(1/12); }
    &.m2 { width: percentage(2/12); }
    &.m3 { width: percentage(3/12); }
    &.m4 { width: percentage(4/12); }
    &.m5 { width: percentage(5/12); }
    &.m6 { width: percentage(6/12); }
    &.m7 { width: percentage(7/12); }
    &.m8 { width: percentage(8/12); }
    &.m9 { width: percentage(9/12); }
    &.m10 { width: percentage(10/12); }
    &.m11 { width: percentage(11/12); }
    &.m12 { width: 100%; }
  }
  @include s() {
    &.s1 { width: percentage(1/12); }
    &.s2 { width: percentage(2/12); }
    &.s3 { width: percentage(3/12); }
    &.s4 { width: percentage(4/12); }
    &.s5 { width: percentage(5/12); }
    &.s6 { width: percentage(6/12); }
    &.s7 { width: percentage(7/12); }
    &.s8 { width: percentage(8/12); }
    &.s9 { width: percentage(9/12); }
    &.s10 { width: percentage(10/12); }
    &.s11 { width: percentage(11/12); }
    &.s12 { width: 100%; }
  }

  // Uniform Height Clearing
  @include l() {
    &:nth-child(6n+1).l2 { clear: both; }
    &:nth-child(4n+1).l3 { clear: both; }
    &:nth-child(3n+1).l4 { clear: both; }
    &:nth-child(2n+1).l6 { clear: both; }
    .row.l-no-clear & {
      clear: none !important;
    }
  }
  @include m() {
    &:nth-child(6n+1).m2 { clear: both; }
    &:nth-child(4n+1).m3 { clear: both; }
    &:nth-child(3n+1).m4 { clear: both; }
    &:nth-child(2n+1).m6 { clear: both; }
    .row.m-no-clear & {
      clear: none !important;
    }
  }
  @include s() {
    &:nth-child(6n+1).s2 { clear: both; }
    &:nth-child(4n+1).s3 { clear: both; }
    &:nth-child(3n+1).s4 { clear: both; }
    &:nth-child(2n+1).s6 { clear: both; }
    .row.s-no-clear & {
      clear: none !important;
    }
  }
  .row.no-clear & {
    clear: none !important;
  }
}

// 18 column grid
.row {
  &.columns-18 {
    > .column {
      @for $i from 1 through 18 {
        &.l#{$i} {
          width: percentage($i/18);
        }
      }
      @include m() {
        @for $i from 1 through 18 {
          &.m#{$i} {
            width: percentage($i/18);
          }
        }
      }
      @include s() {
        @for $i from 1 through 18 {
          &.s#{$i} {
            width: percentage($i/18);
          }
        }
      }
    }
  }
}

// Flex Grid
.flex {
  @include flex();
  @include box-orient--vertical();
  @include flex-direction(column);
  .row {
    @include flex();
    @include flex-direction(row);
    .box {
      margin: 0 $gutter/2 $gutter/3;
      flex: auto;
      align-self: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.center {
        text-align: center;
        align-items: center;
      }
    }
    @include s() {
      @include flex-direction(column);
      .box {
        width: 100%;
        margin: 0 0 $gutter;
      }
    }
  }
}

/* Forms =====================================================================*/

.form-group {
  height: 32px;
  border-radius: $borderRadius;
  overflow: hidden;
  font-size: 0;
  form {
    height: 100%;
  }
  input, button {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    margin-right: 2%;
    height: 100%;
    border: 0;
    line-height: 1;
    border-radius: $borderRadius;
    &:focus, &:hover {
      border: 0;
    }
  }
  button, .button, input[type="button"], input[type="submit"] {
    width: auto;
    border-radius: $borderRadius;
  }
}

#ContactForm,
#CommentForm form,
#AddAddress form,
.edit_address form,
#RecoverPasswordForm form,
#ActivateAccountForm form,
#PasswordResetForm form,
form#address_form_new {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  textarea,
  button, .button,
  .select-wrapper {
    width: 100%;
    margin-bottom: $gutter/2;
  }
  label, input[type="checkbox"] {
    margin-bottom: $gutter/5;
  }
}

form#AddToCartForm,
form#CartPage,
form#contact_form {
  display: block;
  width: 100%;
}

.form-note {
  color: lighten($colorText, $hoverAmount);
}

.form-subscribe {
  .row.collapse {
    margin-bottom: $gutter/5;
    @include ml() {
      label {
        margin-right: $gutter/10;
      }
      p {
        margin-left: $gutter/10;
      }
    }
    @include s() {
      margin-bottom: $gutter/3.33;
      label {
        margin-bottom: $gutter/10;
      }
      input {
        margin-bottom: 0 !important;
      }
    }
  }
}


/* Modules ===================================================================*/
/* Sections ==================================================================*/

/* Helpers ===================================================================*/
/* Helpers ===================================================================*/

// Alignment
.left {
  text-align: left;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right {
  text-align: right;
}

.wide {
  width: 100%;
}
.tall {
  height: 100%;
}

.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}
@include l() {
  .l-v-middle {
    vertical-align: middle;
  }
  .l-v-top {
    vertical-align: top;
  }
  .l-v-bottom {
    vertical-align: bottom;
  }
}
@include m() {
  .m-v-middle {
    vertical-align: middle;
  }
  .m-v-top {
    vertical-align: top;
  }
  .m-v-bottom {
    vertical-align: bottom;
  }
}
@include s() {
  .s-v-middle {
    vertical-align: middle;
  }
  .s-v-top {
    vertical-align: top;
  }
  .s-v-bottom {
    vertical-align: bottom;
  }
  .s-margin-top {
    margin-top: $gutter/5;
  }
}

// Type
.t-uppercase {
  text-transform: uppercase;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-none {
  text-transform: none;
}
.t-lowercase {
  text-transform: lowercase;
}
.f-normal {
  font-style: normal;
}
.f-italic {
  font-style: italic;
}
.w-bold {
  font-weight: $fontBold;
}
.w-normal {
  font-weight: $fontRegular;
}
.w-light {
  font-weight: $fontLight;
}
.f-body {
  font-family: $bodyFontStack;
}
.f-headings {
  font-family: $headingFontStack;
}

// Visibility helpers
@include xl() {
  .xl-hide { display: none !important; }
  .xl-left { text-align: left; }
  .xl-center { text-align: center; }
  .xl-right { text-align: right; }
  .l-show, .m-show, .s-show { display: none !important; }
}
@include l() {
  .l-hide { display: none !important; }
  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .xl-show, .m-show, .s-show { display: none !important; }
}
@include m() {
  .m-hide { display: none !important; }
  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .s-show { display: none !important; }
}
@include s() {
  .s-hide { display: none !important; }
  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .m-show { display: none !important; }
}
.hidden {
  display: none;
}

// Display
.inline {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}
.block {
  display: block;
}

// Misc.
.clearfix {
  @include clearfix();
}
.no-select {
  @include prefixer(user-select, none, webkit moz ms spec);
}
.no-radius {
  border-radius: 0 !important;
}
.overlay {
  @include overlay();
}
.background-image {
  @include background-image();
}
.vertical-align {
  @include vertical-align();
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.no-decoration {
  text-decoration: none !important;
}

// Thumbnail width helpers
.thumbnails {
  margin: $gutter/20 (-$gutter/5) 0;
  @include clearfix();
  .thumbnail {
    float: left;
    padding: 0 $gutter/5;
    width: 25%;
    cursor: pointer;
    &:hover {
      color: $colorAlternate;
    }
    &.active {
      color: $colorBrand;
    }
    @for $i from 1 through 12 {
      &.thumbnail-width--#{$i} {
        width: percentage((100/$i)/100);
      }
    }
  }
}

// Margin and padding helpers
.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.no-padding {
  padding: 0;
}
.margin-top-05x {
  margin-top: $gutter/10;
}
.margin-bottom-05x {
  margin-bottom: $gutter/10;
}
.margin-top {
  margin-top: $gutter/5;
}
.margin-bottom {
  margin-bottom: $gutter/5;
}
.margin-top-2x {
  margin-top: $gutter/2.5;
}
.margin-bottom-2x {
  margin-bottom: $gutter/2.5;
}
.margin-top-3x {
  margin-top: $gutter/1.667;
}
.margin-bottom-3x {
  margin-bottom: $gutter/1.667;
}
.margin-top-4x {
  margin-top: $gutter/1.25;
}
.margin-bottom-4x {
  margin-bottom: $gutter/1.25;
}
.margin-top-5x {
  margin-top: $gutter;
}
.margin-bottom-5x {
  margin-bottom: $gutter;
}
.padding-top-05x {
  padding-top: $gutter/10;
}
.padding-bottom-05x {
  padding-bottom: $gutter/10;
}
.padding-top {
  padding-top: $gutter/5;
}
.padding-bottom {
  padding-bottom: $gutter/5;
}
.padding-top-2x {
  padding-top: $gutter/2.5;
}
.padding-bottom-2x {
  padding-bottom: $gutter/2.5;
}
.padding-top-3x {
  padding-top: $gutter/1.667;
}
.padding-bottom-3x {
  padding-bottom: $gutter/1.667;
}
.padding-top-4x {
  padding-top: $gutter/1.25;
}
.padding-bottom-4x {
  padding-bottom: $gutter/1.25;
}
.padding-top-5x {
  padding-top: $gutter;
}
.padding-bottom-5x {
  padding-bottom: $gutter;
}
.padding-right {
  padding-right: $gutter/5;
}


/* Custom ====================================================================*/
button.step__footer__continue-btn.btn {
  background: black;
}
