{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

{% if settings.products_per_row == '3' %}{% assign product_span_size = 'col-sm-4' %}{% endif %}
{% if settings.products_per_row == '4' %}{% assign product_span_size = 'col-sm-4' %}{% endif %}
<div class="product-item {% unless template == 'product' or template == 'product.preorder' %}{{product_span_size}}{% endunless %}">
  <div class="product">
    <div class="row-left">
      <a href="{{ product.url | within: collection }}" class="hoverBorder container_item"> 
        <div class="hoverBorderWrapper">
          {% for image in product.images %}
          {% endfor %}
          {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
          {% assign number_images = number_of_images | plus:0 %}
          <img src="{{ product.featured_image | product_img_url: 'large' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
          <div class="mask"></div>
          {% if number_images > 1 and settings.enable_product_swap %}
          <span class="hidden-sm hidden-xs back">
            <img src="{{ product.images[1]| product_img_url: 'large' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />    
          </span>
          {% endif %}
          <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
          
          <div class="product-price grid-mode">
            {% if product.available %}
            {% if product.compare_at_price_max > product.price %}

            {% assign found_one_in_stock = false %}
            {% for variant in product.variants %}
            {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
            {% assign found_one_in_stock = true %}

            <span class="price_sale">{{ variant.price | money }}</span>
            <del class="price_compare"> {{ variant.compare_at_price | money }}</del>

            {% endif %}
            {% endfor %}

            {% if found_one_in_stock == false %}
            {% for variant in product.variants %}
            {% if variant.available and found_one_in_stock == false %}
            {% assign found_one_in_stock = true %}
            <span class="price">
              {{ variant.price | money }}
            </span>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            <span class="price">
              {% if product.price_varies %} 
              {{ product.price | money }}
              {% else %}
              {{ product.price | money }}
              {% endif %}
            </span>
            {% endif %}  
            {% else %}
            <span class="sold_out" style="color: #aaa;">Sold Out</span>
            {% endif %}
          </div> 
          {% if product.price_min < product.compare_at_price_min %}      
          <div class="sale_banner grid-mode" style="width: 115px; margin: 0 auto 5px; height: 20px;">
            <span class="sale_text" data-toggle="tooltip" data-placement="top" title="Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 2 }}%">(Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 0 }}%)</span>
          </div>
          {% endif %}
        </div>  
        <div class="rating-star">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
      </a>
      <div class="hover-mask grid-mode">
        <div class="group-mask">
          <div class="inner-mask">
            <div class="group-actionbutton">
<!--               <form action="/cart/add" method="post">
                {% if product.available %}
                <div class="hide clearfix"> 
                  <select name="id" >
                    {% if product.compare_at_price_max > product.price %}

                    {% assign found_one_in_stock = false %}
                    {% for variant in product.variants %}
                    {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
                    {% assign found_one_in_stock = true %}
                    {% assign found_variant_id = variant.id %}
                    {% break %}
                    {% endif %}
                    {% endfor %}

                    {% if found_one_in_stock == false %}
                    {% for variant in product.variants %}
                    {% if variant.available and found_one_in_stock == false %}
                    {% assign found_one_in_stock = true %}
                    {% assign found_variant_id = variant.id %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% for variant in product.variants %}
                    {% if variant.id == found_variant_id %}
                    <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% else %}
                    <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% assign found_one_in_stock = false %}
                    {% for variant in product.variants %}
                    {% if variant.available and found_one_in_stock == false %}
                    {% assign found_one_in_stock = true %}
                    <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% else %}
                    <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </select>
                </div>  
                {% endif %}
                <div class="effect-ajax-cart">
                  {% if product.available %}
                  <input type="hidden" name="quantity" value="1" />
                  {% if product.variants.size == 1 %}
                  <button class="btn btn-1 add-to-cart" data-parent=".parent-fly" type="submit" name="add"><i class="fa fa-shopping-bag"></i> {{ 'products.product.add_to_cart' | t }}</button>
                  {% else %}
                  <button class="btn btn-1 select-option" type="button" onclick="window.location='{{product.url}}';"><i class="fa fa-bars"></i> {{ 'products.product.select_option' | t }}</button>
                  {% endif %}
                  {% else %}
                  <button class="btn btn-1 disabled" disabled="disabled" type="button" name="add"><i class="fa fa-shopping-bag"></i> {{ 'products.product.add_to_cart' | t }}</button>
                  {% endif %}
                </div>
              </form> -->
<!--               <ul class="quickview-wishlist-wrapper">
                <li class="quickview">
                  {% if product.available %}
                  <div class="product-ajax-cart hidden-xs hidden-sm">
                    <span class="overlay_mask"></span>
                    <div data-handle="{{product.handle}}" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                      <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                      <span class="product-json hide">{{ product | json }}</span>
                    </div>
                  </div>
                  {% endif %}
                </li>
                <li class="wishlist">
                  {% if product.available %}
                  {% if customer %}
                  {% include 'wish-list' %}
                  {% else %}
                  <a class="wish-list" href="/account/login"><span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span></a>
                  {% endif %}
                  {% endif %}
                </li>
              </ul> -->
            </div>
          </div><!--inner-mask-->   
        </div><!--Group mask-->   	
      </div>
    </div>
    <div class="row-right animMix">      
      <div class="list-mode hide">
        <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
        <div class="rating-star">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        <div class="product-price">
          {% if product.available %}
          {% if product.compare_at_price_max > product.price %}

          {% assign found_one_in_stock = false %}
          {% for variant in product.variants %}
          {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}

          <span class="price_sale">{{ variant.price | money }}</span>
          <del class="price_compare"> {{ variant.compare_at_price | money }}</del>

          {% endif %}
          {% endfor %}

          {% if found_one_in_stock == false %}
          {% for variant in product.variants %}
          {% if variant.available and found_one_in_stock == false %}
          {% assign found_one_in_stock = true %}
          <span class="price">
            {{ variant.price | money }}
          </span>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% else %}
          <span class="price">
            {% if product.price_varies %} 
            {{ product.price | money }}
            {% else %}
            {{ product.price | money }}
            {% endif %}
          </span>
          {% endif %}  
          {% else %}
          <span class="sold_out">Sold Out</span>
          {% endif %}
        </div> 
        <div class="product-description">
          {{ product.description | strip_html | truncatewords: 50 }}
        </div>
        <div class="product-group-actions">
          <form class="product-addtocart" action="/cart/add" method="post">
            {% if product.available %}
            <div class="hide clearfix"> 
              <select name="id" >
                {% if product.compare_at_price_max > product.price %}

                {% assign found_one_in_stock = false %}
                {% for variant in product.variants %}
                {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
                {% assign found_one_in_stock = true %}
                {% assign found_variant_id = variant.id %}
                {% break %}
                {% endif %}
                {% endfor %}

                {% if found_one_in_stock == false %}
                {% for variant in product.variants %}
                {% if variant.available and found_one_in_stock == false %}
                {% assign found_one_in_stock = true %}
                {% assign found_variant_id = variant.id %}
                {% break %}
                {% endif %}
                {% endfor %}
                {% endif %}

                {% for variant in product.variants %}
                {% if variant.id == found_variant_id %}
                <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }}</option>
                {% else %}
                <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                {% assign found_one_in_stock = false %}
                {% for variant in product.variants %}
                {% if variant.available and found_one_in_stock == false %}
                {% assign found_one_in_stock = true %}
                <option selected="selected" value="{{ variant.id }}">{{ variant.title | escape }}</option>
                {% else %}
                <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                {% endif %}
                {% endfor %}
                {% endif %}
              </select>
            </div>  
            {% endif %}
            <div class="effect-ajax-cart">
              {% if product.available %}
              <input type="hidden" name="quantity" value="1" />
              {% if product.variants.size == 1 %}
              <button class="btn btn-1 add-to-cart" data-parent=".parent-fly" type="submit" name="add"><i class="fa fa-shopping-bag"></i> {{ 'products.product.add_to_cart' | t }}</button>
              {% else %}
              <button class="btn btn-1 select-option" type="button" onclick="window.location='{{product.url}}';"><i class="fa fa-bars"></i> {{ 'products.product.select_option' | t }}</button>
              {% endif %}
              {% else %}
              <button class="btn btn-1 disabled" disabled="disabled" type="button" name="add"><i class="fa fa-shopping-bag"></i> {{ 'products.product.add_to_cart' | t }}</button>
              {% endif %}
            </div>
          </form>
          <ul class="quickview-wishlist-wrapper">            
            <li class="product-wishlist wishlist">
              {% if product.available %}
              {% if customer %}
              {% include 'wish-list' %}
              {% else %}
              <a class="wish-list" href="/account/login"><span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span></a>
              {% endif %}
              {% endif %}
            </li>
            <li class="product-quickview quickview">
              {% if product.available %}
              <div class="product-ajax-cart hidden-xs hidden-sm">
                <span class="overlay_mask"></span>
                <div data-handle="{{product.handle}}" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                  <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                  <span class="product-json hide">{{ product | json }}</span>
                </div>
              </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</div>
