

{% if settings.collection_filter_show %}
<div class="sidebar-block filter-block">
  <div class="sidebar-title">{{ 'minimal.collection.filter_title' |t }}</div>
  <div id="tags-filter-content" class="sidebar-content">
     {% include 'collection_tag-filter' %}
  </div>
</div>
{% endif %}

{% if settings.collection_type_show %}
<div class="collection-filters-container cf-select-wrapper"></div>
{% endif %}