<div class="groupbottomblocks-title"><h4>{{ settings.home_styleguide_title | upcase}}</h4></div>
<a {% if settings.home_styleguide_link !='' %} class="video" href="{{ settings.home_styleguide_link }}&amp;autoplay=1" {% endif %}>
  <img src="{{ 'home_styleguide_image.jpg' | asset_url }}" alt="{{settings.home_styleguide_image.jpg}}" />
</a>
<div class="groupbottomblocks-content">
  {{ settings.home_styleguide_content }}
</div>

<script>
  $(document).ready(function() {
	$(".video").click(function() {
		$.fancybox({
			'padding'		: 0,
			'autoScale'		: false,
			'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'title'			: this.title,
			'width'			: 640,
			'height'		: 385,
			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
			'type'			: 'swf',
			'swf'			: {
              'wmode'				: 'transparent',
              'allowfullscreen'	: 'true'
			}
		});

		return false;
	});
});
</script>

