<div class="groupbottomblocks-title">
  <h4><a href="/blogs/{{ settings.home_blog }}">{{ settings.home_blog_title | upcase}}</a></h4>
</div>

<div class="groupbottomblocks_blog">
  <div class="blog_image">
    {% assign article = blogs[settings.home_blog].articles.first %}
    {% if article.image %}
    {% assign image_alt = article.title | escape %}
    {{ article | img_url: 'large' | img_tag: image_alt, 'article_image' | link_to: article.url }}
    {% endif %}
  </div>
  <p class="blog-title">{{ article.title | link_to: article.url }}</p>
  <ul class="blog-content">
    <li class="blog-author"><i class="fa fa-user"></i>{{ article.author }}</li>
    <li class="blog-date"><i class="fa fa-calendar"></i>{{ article.published_at | date: "%F %T" }}</li>		
  </ul>
</div>