<div class="groupbottomblocks-title"><h4>{{ settings.home_newsletter_title | upcase }}</h4></div>
<div class="groupbottomblocks-content">
  {{ settings.home_newsletter_content }}
</div>
<div class="newsletter-content">
  <form action="{{ settings.home_newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="input-group">
      <input type="email" class="form-control" value="" placeholder="{{ settings.home_newsletter_placeholder }}" name="EMAIL" id="mail" />
      <span class="input-group-addon"><button type="submit" class="btn_newsletter_send" name="subscribe" id="subscribe"><i class="fa fa-paper-plane-o"></i></button></span>
    </div>
  </form>
</div>
