
  <div class="row-container product list-unstyled clearfix">  
    <div class="row-left">
      <a href="{{ product.url | within: collection }}" class="hoverBorder container_item"> 
        <div class="hoverBorderWrapper">
          {% for image in product.images %}
          
          {% endfor %}
          {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
          {% assign number_images = number_of_images | plus:0 %}
          <img src="{{ product.featured_image | product_img_url: 'large' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
          <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
          <div class="product-price grid-mode">
            {% if product.available %}
            {% if product.compare_at_price_max > product.price %}

            {% assign found_one_in_stock = false %}
            {% for variant in product.variants %}
            {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
            {% assign found_one_in_stock = true %}

            <span class="price_sale">{{ variant.price | money }}</span>
            <del class="price_compare"> {{ variant.compare_at_price | money }}</del>

            {% endif %}
            {% endfor %}

            {% if found_one_in_stock == false %}
            {% for variant in product.variants %}
            {% if variant.available and found_one_in_stock == false %}
            {% assign found_one_in_stock = true %}
            <span class="price">
              {{ variant.price | money }}
            </span>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            <span class="price">
              {% if product.price_varies %} 
              {{ product.price | money }}
              {% else %}
              {{ product.price | money }}
              {% endif %}
            </span>
            {% endif %}  
            {% else %}
            <span class="sold_out" style="color: #aaa;">Sold Out</span>
            {% endif %}
          </div>
          {% if product.price_min < product.compare_at_price_min %}      
          <div class="sale_banner grid-mode" style="width: 115px; margin: 0 auto 5px; height: 20px;">
            <span class="sale_text" data-toggle="tooltip" data-placement="top" title="Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 2 }}%">(Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 0 }}%)</span>
          </div>
          {% endif %}
          {% if number_images > 1 and settings.product_item_effect == 'rotation' %}
          <span class="hidden-sm hidden-xs back">
            <img src="{{ product.images[1]| product_img_url: 'large' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />    
          </span>
          {% endif %}
        </div>
        <div class="rating-star">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
      </a>
    </div>
  </div> 
