<div class="row-container">
  <div class="row-left">
    <a href="{{ product.url | within: collection }}"> 
        <img src="{{ product.featured_image | product_img_url: 'large' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
    </a>
  </div>
  <div class="row-right">      
    <span class="product-title">
      <a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a> 
    </span>
    <div class="product-description">
      {{ product.description }}
    </div>
  </div>
</div> 
