<div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800">
  <div class="modal-dialog fadeIn" style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="modal" aria-hidden="true"></i>
      </div>
      <div class="modal-body">
        <div class="quick-shop-modal-bg"></div>
        <div class="row">
          <div class="col-md-6 product-image">
            <div id="quick-shop-image" class="product-image-wrapper"></div>
          </div>
          
          <div class="col-md-6 product-information" style="padding: 10px 40px 0 0;">
            <div id="quick-shop-container">              
              <h3 id="quick-shop-title"></h3>  
              <div class="rating-star">
              </div>
              <div class="description">
                <div id="quick-shop-description" class="text-left"></div>
              </div>                             
              <form action="/cart/add" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">                
                <div id="quick-shop-price-container" class="detail-price"></div>
                <div class="quantity-wrapper clearfix">
                  <label class="wrapper-title">{{ 'products.product.quantity' | t }}</label>
                  <div class="wrapper">
                    <span class="qty-down" title="Decrease" data-src="#qs-quantity">
                       <i class="fa fa-minus"></i>
                    </span>
                    <input type="text" id="qs-quantity" size="5" class="item-quantity" name="quantity" value="1" />
                    <span class="qty-up" title="Increase" data-src="#qs-quantity">
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                </div>                
                <div id="quick-shop-variants-container" class="variants-wrapper"></div>                
                <div class="others-bottom">
                  <input id="quick-shop-add" class="btn btn-1 small add-to-cart" type="submit" name="add" value="{{ 'products.product.add_to_cart' | t }}" />
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  jQuery(document).ready(function($) { 
    $('#quick-shop-modal').on('hidden.bs.modal', function () {
      $('.zoomContainer').css('z-index', '1');
      $('#top').removeClass('z-idx');
    })
   
    $('#quick-shop-modal').on( 'shown.bs.modal', function () {
      $('#top').addClass('z-idx');
      $('.modal-dialog').addClass("animated");
      imagesLoaded( '#quick-shop-modal', function() {       
        updateScrollThumbsQS();       
        $("#gallery_main_qs .qs-vertical-slider").owlCarousel({
          navigation : true,
          pagination: false,
          items: 3,
          slideSpeed : 200,
          paginationSpeed : 800,
          rewindSpeed : 1000,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,2],
          itemsTablet: [768,2],
          itemsTabletSmall: [540,1],
          itemsMobile : [360,1],
          navigationText: ['<i class="fa fa-angle-left" title="Previous" data-toggle="tooltip" data-placement="top"></i>', '<i class="fa fa-angle-right" title="Next" data-toggle="tooltip" data-placement="top"></i>']
        });
        var delayLoadingQS = '';       
        delayLoadingQS = setInterval(function(){                     
          quickShopModalBackground.hide();
          $('.zoomContainer').css('z-index', '2000');
          $('#quick-shop-modal .modal-body').resize();           
          clearInterval( delayLoadingQS );            
        }, 500);
      });      
    });
    
    var quickShopModal = $('#quick-shop-modal');
    var quickShopContainer = $('#quick-shop-container');
    var quickShopImage = $('#quick-shop-image');
    var quickShopTitle = $('#quick-shop-title');
    var quickShopRating = $('.rating-star');
    var quickShopDescription = $('#quick-shop-description');
    var quickShopVariantsContainer = $('#quick-shop-variants-container');
    var quickShopPriceContainer = $('#quick-shop-price-container');
    var quickShopAddButton = $('#quick-shop-add');
    var quickShopAddToCartButton = $('#quick-shop-add');
    var quickShopTags = $('#quick-shop-tags');
    var quickShopProductActions = $('#quick-shop-product-actions');
    var quickShopModalBackground = $('#quick-shop-modal .quick-shop-modal-bg');
    
    $('body').on(clickEv, '.quick_shop:not(.unavailable)', function(event){
      var quickShopImage = $('#quick-shop-image');     
      var $this = $(this);
      var product_json = $this.find('.product-json').html();
      var selectedProduct = JSON.parse(product_json);
      var selectedProductID = selectedProduct.id;
      
      // Update add button
      quickShopAddButton.data('product-id', selectedProductID);
      
      // Update image
      quickShopImage.empty();
      quickShopImage.html('<div id="featuted-image" class="main-image featured"><img class="img-zoom img-responsive image-fly" src="'+ Shopify.resizeImage(selectedProduct.featured_image, "large")+'" data-zoom-image="'+ selectedProduct.featured_image +'" alt="" /></div>');
//       quickShopImage.append('<div id="gallery_main_qs" class="product-image-thumb scroll scroll-mini"><div class="qs-vertical-slider"></div></div>');
      quickShopImage.append('<div class="vertical-slider"></div>');
      var qs_images = selectedProduct.images;
      $.each(qs_images, function(index, value) {
        if(index)
          quickShopImage.find('.qs-vertical-slider').append('<a class="image-thumb" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "small") +'" alt="" /></a>');
        else
          quickShopImage.find('.qs-vertical-slider').append('<a class="image-thumb active" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "small") +'" alt="" /></a>');
      });  
      {% if settings.enable_product_image_zoom %}
      /* Initialize zoom on main product image */
      var mainProductImage = $('.featured img');
      if (mainProductImage.size()) {
        if ($(window).width() > 782) {
        var zoomedSrc = $('.featured img').attr('src').replace('_master', '');
        $('.featured img')
          .wrap('<span style="display:inline-block; max-width: 100%;"></span>')
          .css('display', 'block')
          .parent()
          .zoom( { url: zoomedSrc } );
        }
      }
      {% endif %}
      
      // Update title
      quickShopTitle.html('<a href="/products/' + selectedProduct.handle + '">' + selectedProduct.title + '</a>');
        
      // Update Rating Review
      quickShopRating.html('<span class="shopify-product-reviews-badge" data-id="'+ selectedProduct.id +'"></span>');
      
      // Update description
      quickShopDescription.html(selectedProduct.description.substring(0,140)+"...");
        
      // Generate variants
      var productVariants = selectedProduct.variants;
      var productVariantsCount = productVariants.length;
        
      quickShopPriceContainer.html('');
      quickShopVariantsContainer.html('');
      quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);
        
      if (productVariantsCount > 1) {          
        // Reveal variants container
        quickShopVariantsContainer.show();
          
        // Build variants element
        var quickShopVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + selectedProductID) , 'name': 'id'});
        var quickShopVariantOptions = '';
          
        for (var i=0; i < productVariantsCount; i++) {
          quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
        };
          
        // Add variants element to page
        quickShopVariantElement.append(quickShopVariantOptions);
        quickShopVariantsContainer.append(quickShopVariantElement);
          
        // Bind variants to OptionSelect JS
        new Shopify.OptionSelectors(('#quick-shop-variants-' + selectedProductID), { product: selectedProduct, onVariantSelected: selectOptionCallback });
          
        // Add label if only one product option and it isn't 'Title'.
        if (selectedProduct.options.length == 1 && selectedProduct.options[0] != 'Title' ){
          $('#quick-shop-product-actions .selector-wrapper:eq(0)').prepend('<label>'+ selectedProduct.options[0] +'</label>');
        }
          
        // Auto-select first available variant on page load.
        var found_one_in_stock = false;
        for (var i=0; i < selectedProduct.variants.length; i++) {      
          var variant = selectedProduct.variants[i];
          if(variant.available && found_one_in_stock == false) {      
            found_one_in_stock = true;
            for (var j=0; j < variant.options.length; j++){      
              $('.single-option-selector:eq('+ j +')').val(variant.options[j]).trigger('change');  
            }
          }
        }
        
        
          
      } else { // If product only has a single variant    
        // Hide unnecessary variants container
        quickShopVariantsContainer.hide(); 
          
        // Build variants element
        var quickShopVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + selectedProductID) , 'name': 'id'});
        var quickShopVariantOptions = '';
          
        for (var i=0; i < productVariantsCount; i++) {
          quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
        };
          
        // Add variants element to page
        quickShopVariantElement.append(quickShopVariantOptions);
        quickShopVariantsContainer.append(quickShopVariantElement);  
        
        // Add tags
        quickShopTags.html('{{'products.general.tag'|t}}'+ selectedProduct.tags);
        
        // Update the add button to include correct variant id
        quickShopAddToCartButton.data('variant-id', productVariants[0].id);
          
        // Determine if product is on sale
        if ( productVariants[0].compare_at_price > 0 && productVariants[0].compare_at_price > productVariants[0].price ) {
          quickShopPriceContainer.html('<del class="price_compare">'+ Shopify.formatMoney(productVariants[0].compare_at_price, "{{shop.money_format}}") + '</del>' + '<span class="price_sale">'+ Shopify.formatMoney(productVariants[0].price, "{{shop.money_format}}") +'</span>');
        } else {
          quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(productVariants[0].price, "{{shop.money_format}}") + '</span>' );
        }  
      } // END of (productVariantsCount > 1)
        
      {% if settings.show_multiple_currencies %}
        // Update currency
        currenciesCallbackSpecial('#quick-shop-modal span.money');
      {% endif %}
         
    });
         
    /* selectOptionCallback
    ===================================== */
    var selectOptionCallback = function(variant, selector) {      
      // selected a valid and in stock variant
      if (variant && (variant.inventory_quantity > 0 || (variant.inventory_quantity <= 0 && variant.inventory_policy == 'continue') || variant.inventory_management == "" ) ) {          
        quickShopAddToCartButton.data('variant-id', variant.id);
        quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);        
        // determine if variant is on sale
        if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
          quickShopPriceContainer.html('<del class="price_compare">'+ Shopify.formatMoney(variant.compare_at_price, "{{shop.money_format}}") + '</del>' + '<span class="price_sale">'+ Shopify.formatMoney(variant.price, "{{shop.money_format}}") +'</span>');
        } else {
          quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(variant.price, "{{shop.money_format}}") + '</span>' );
        };       
        // selected an invalid or out of stock variant 
      } else {
      // variant doesn't exist
        quickShopAddToCartButton.attr('disabled', 'disabled').fadeTo(200,0.5);
        var message = variant ? "Sold Out" : "Unavailable";    
        quickShopPriceContainer.html('<span class="unavailable">' + message + '</span>');         
      }
      //swatch
      var form = jQuery('.quick-shop form.variants');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }

      {% if settings.show_multiple_currencies %}
        // Update currency
        currenciesCallbackSpecial('#quick-shop-modal span.money');
      {% endif %}
    }          
  });
</script>