{% if settings.footer_info %}
<section class="information-block">
  <div class="information-wrapper">
    <div class="container">
      <div class="row">
        <div class="information-inner">
<!--           <div class="footer_infologo"><a href="{{ shop.url}}"><img src="{{ 'footer_logo.png' | asset_url }}" alt="footer_logo" /></a></div> -->
          <div class="footer_content">
            {% if settings.fi_about_show%}
              <div class="footer-block01 about-us col-ms-5 col-md-5">
                <div class="footer-title "><h5 class="footerTitle">{{ settings.fi_about_title }}</h5></div>
                <div class="fi-aboutus-content">
                  {{ settings.fi_about }}
                </div>
                <p class="phone"><i class="fa fa-phone"></i> 800-218-5584</p>
              </div>
            {% endif %}
            {% if settings.useful_show %}
            <div class="footer-block02 aboutus-links col-ms-4 col-md-4">
                <div class="footer-title"><h5 class="footerTitle">{{ settings.useful_title }}</h5></div>
                <div class="fi-useful-content">
              		<a class="footerLinks" href="/pages/privacy-policy"><p style="margin-bottom: 0;">Privacy Policy</p></a>
              		<a class="footerLinks" href="/pages/terms-conditions"><p style="margin-bottom: 0;">Terms &amp; Conditions</p></a>
              		<a class="footerLinks" href="/pages/safe-shopping-guarantee"><p style="margin-bottom: 0;">Safe Shopping Guarantee</p></a>
                  <a class="footerLinks" href="/pages/privacy-policy#your-rights-under-ccpa"><p style="margin-bottom: 0;">Do Not Sell My Info</p></a>
                </div>
            </div>
            {% endif %}
            {% if settings.instagram_show %}
            <div class="footer-block03 instagram_feed col-ms-3 col-md-3" id="follow-us" style="padding-left: 50px;">
              <div class="footer-title"><h5 class="footerTitle">Newsletter</h5></div>
              <form action="{{ settings.mailing_list_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-footer input-group" style="margin: auto;">
                <input type="email"  name="EMAIL" class="input-group-field newsletter-signup" style="color:#888; height: 30px; width: 200px; border: 1px solid #323232; padding: 0 5px;" value="Email address" onclick="this.value=='Email address'?this.value='':''" onblur="this.value==''?this.value='Email address':''">
                <span class="input-group-btn" style="width: 0;">
                  <button type="submit" class="btn subscribeBtn" value="" name="subscribe" style="height: 30px; line-height: 30px; padding: 0 10px; background-color: #C9DD4B; color: #000;">Subscribe</button>
                </span>
              </form>
              <div class="footer-title" style="padding-top: 20px; margin-bottom: 10px;"><h5 class="footerTitle">{{ settings.instagram_title }}</h5></div>
              <div class="footer-content" style="margin-bottom: 10px;">
  					<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #C9DD4B; color: #C9DD4B;" alt="Facebook" href="https://www.facebook.com/truTV" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"><i class="fa fa-facebook" style="width: 15px;height: 15px;"></i></a>
    				<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #C9DD4B; color:#C9DD4B;" alt="Twitter" href="https://twitter.com/trutv" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"><i class="fa fa-twitter" style="width: 15px;height: 15px;"></i></a>
  					<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #C9DD4B; color:#C9DD4B;" alt="YouTube" href="https://www.youtube.com/channel/UCAOiOx2oeC9EycrGjWV2pkQ" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}"><i class="fa fa-youtube" style="width: 15px;height: 15px;"></i></a>
                	<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #C9DD4B; color:#C9DD4B;" alt="Instagram" href="https://www.instagram.com/trutv/" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"><i class="fa fa-instagram" style="width: 15px;height: 15px;"></i></a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="copy-right">
  <div class="copy-right-wrapper">
    <div class="container">
      <div class="row">
        <div class="copy-right-inner">
          <div class="footer_links">
            <ul>
              {% assign list = linklists[settings.footer_info_link] %}
              {% for link in list.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a><i class="">/</i></li>
              {% endfor %}
            </ul>
          <div class="footer_copyright">
            <div id="copy-text1">TruTVShop.com is operated under a license from Turner Entertainment Networks, Inc. by Araca Merchandise L.P.,<br> which is solely responsible for the site's content and all aspects of your purchase.</div>
            <img id="araca-logo"src="https://cdn.shopify.com/s/files/1/1499/2644/files/AracaLogo-White.png?546078065720797656" >
          <span id="copy-text2">&copy; 2017 All Rights Reserved.<br><br/>&trade; & &copy; 2017 Turner Entertainment Networks, Inc.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
