{% comment %}

  This snippet renders meta data needed to create a Twitter card
  for products and articles.

  Your cards must be approved by Twitter to be activated
    - https://dev.twitter.com/docs/cards/validation/validator

  More information:
   - https://dev.twitter.com/docs/cards/types/summary-card

{% endcomment %}

{% comment %}
  Twitter user name of the site, based on theme settings
{% endcomment %}
<meta name="twitter:card" content="summary">
{% unless settings.twittercard_handle == blank %}
  <meta name="twitter:site" content="{{ settings.twittercard_handle }}">
{% endunless %}
{% if template contains 'product' %}
  <meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 50, '' | escape }}">
  <meta name="twitter:image" content="https:{{ product.featured_image.src | product_img_url: '1200x1200' }}">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 50, '' | escape }}">
  {% if article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      <meta property="twitter:image" content="https:{{ src }}">
    {% endif %}
  {% endif %}
{% else %}
  {% if settings.twitter_share_image %} 
    <meta name="twitter:image" content="http:{{ settings.twitter_share_image | img_url: '1200x1200' }}"> 
  {% endif %}
{% endif %}