<!-- sections/index-banner.liquid -->

{% assign image = section.settings.image %}
{% assign image_s = section.settings.image_s %}
{% assign link = section.settings.link %}

<section class="container l bg-background drop-shadow">
  {% if image != blank %}
    {% unless link == blank %}<a href="{{ link }}"{% if section.settings.title != blank %} title="{{ section.settings.title }}"{% endif %}>{% endunless %}
      <img src="{{ image | img_url: '1800x' }}"{% if section.settings.title != blank %} alt="{{ section.settings.title }}"{% endif %} class="wide{% if image_s != blank %} s-hide{% endif %}">
      {% if image_s != blank %}<img src="{{ image_s | img_url: '1024x' }}"{% if section.settings.title != blank %} alt="{{ section.settings.title }}"{% endif %} class="wide s-show">{% endif %}
    {% unless link == blank %}</a>{% endunless %}
  {% else %}
    <div class="ratio placeholder-background-lifestyle-1" data-ratio="16:9"></div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Banner",
    "class": "index-section-banner",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_s",
        "label": "Image for small screens",
        "info": "Optionally, set an alternate image for small screens"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "Used for SEO purposes"
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Content"
      }
    ]
  }
{% endschema %}
