<!-- sections/index-featured-collection-columns.liquid -->

{% assign width = section.settings.width %}

<section class="s-hide">
  <div class="container {% if width != blank %} {{ width }}{% endif %} drop-shadow bg-background">
    <div class="row no-margin condensed-small featured-column-row padding-bottom-2x">
      {% for block in section.blocks %}
        {% assign title = block.settings.title %}
        {% assign menu = block.settings.menu %}
        {% assign collection_1 = block.settings.collection_1 %}
        {% assign collection_2 = block.settings.collection_2 %}
        {% assign image_1 = block.settings.image_1 %}
        {% assign image_2 = block.settings.image_2 %}

        <div class="column l4 m4 s12">
          <div class="featured-column">
            {% if title != blank %}<h2 class="f-feature w-bold no-margin t-uppercase">{{ title }}</h2>{% endif %}
            {% if menu != blank %}
              <ul>
                {% for link in linklists[menu].links %}
                  <li>
                    <a href="{{ link.url }}">» {{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if collection_1 != blank and image_1 != blank %}
              <a href="{{ collections[collection_1].url }}" title="{{ collections[collection_1].title }}">
                <img src="{{ image_1 | img_url: 'x2000' }}" class="wide">
              </a>
            {% endif %}
            {% if collection_2 != blank and image_2 != blank %}
              <a href="{{ collections[collection_2].url }}" title="{{ collections[collection_2].title }}">
                <img src="{{ image_2 | img_url: 'x2000' }}" class="wide">
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Feature columns",
    "class": "index-featured-collection-columns",
    "settings": [
      {
        "type": "header",
        "content": "Product Slideshow"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "options": [
          { "value":"", "label":"Full width" },
          { "value":"xl", "label":"Extra large" },
          { "value":"l", "label":"Large" },
          { "value":"m", "label":"Medium" }
        ],
        "default": "l"
      },
      {
        "type": "select",
        "label": "Background color",
        "id" : "background",
        "options": [
          { "value": "brand", "label": "Brand"},
          { "value": "text", "label": "Text"},
          { "value": "foreground", "label": "Foreground"},
          { "value": "background", "label": "Background"},
          { "value": "alternate", "label": "Alternate"},
          { "value": "highlight", "label": "Highlight"}
        ],
        "default": "background"
      },
      {
        "type": "select",
        "label": "Foreground color",
        "id" : "foreground",
        "options": [
          { "value": "brand", "label": "Brand"},
          { "value": "text", "label": "Text"},
          { "value": "foreground", "label": "Foreground"},
          { "value": "background", "label": "Background"},
          { "value": "alternate", "label": "Alternate"},
          { "value": "highlight", "label": "Highlight"}
        ],
        "default": "text"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "limit": 3,
        "settings": [
          {
            "type": "header",
            "content": "Column"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          },
          {
            "type": "collection",
            "id": "collection_1",
            "label": "Collection 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "collection",
            "id": "collection_2",
            "label": "Collection 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collections",
        "name": "Feature columns"
      }
    ]
  }
{% endschema %}
