<!-- sections/index-featured-links.liquid -->

{% assign columns = section.settings.columns %}

{% assign image_size = '1400x' %}

{% case columns %}
  {% when 1 %}
    {% assign column_width = 'l12' %}
  {% when 2 %}
    {% assign column_width = 'l6 m6 s12' %}
  {% when 3 %}
    {% assign column_width = 'l4 m4 s12' %}
  {% when 4 %}
    {% assign column_width = 'l3 m6 s12' %}
{% endcase %}

<section class="container l bg-background drop-shadow">
  <div class="row no-margin">
    {% for block in section.blocks %}
      <div class="column {{ column_width }}">
        {% unless block.settings.link == blank %}<a href="{{ block.settings.link }}"{% if section.settings.title != blank %} title="{{ section.settings.title }}"{% endif %}>{% endunless %}
        {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: image_size }}" class="wide{% if block.settings.image_s != blank %} s-hide{% endif %}"{% if block.settings.title != blank %} alt="{{ block.settings.title }}"{% endif %}>
          {% if block.settings.image_s != blank %}<img src="{{ block.settings.image_s | img_url: image_size }}"{% if block.settings.title != blank %} alt="{{ block.settings.title}}"{% endif %} class="wide s-show">{% endif %}
        {% else %}
          {%- capture current -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
          <div class="ratio placeholder-background-collection-{{ current }}" data-ratio="16:9"></div>
        {% endif %}
        {% unless block.settings.link == blank %}</a>{% endunless %}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Featured links",
    "class": "index-section-featured-links",
    "settings": [
      {
        "type": "header",
        "content": "Featured links"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 1,
        "max": 4,
        "default": 2,
        "step": 1,
        "info": "Columns may rearrange automatically depending on the device's screen size"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Featured link",
        "settings": [
          {
            "type": "header",
            "content": "Featured link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_s",
            "label": "Image for small screens",
            "info": "Optionally, set an alternate image for small screens"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Used for SEO purposes"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured links",
        "category": "Content",
        "blocks": [
          {
            "type": "link"
          },
          {
            "type": "link"
          }
        ]
      }
    ]
  }
{% endschema %}
