<!-- sections/template-product.liquid -->

{% assign sharing = section.settings.sharing %}
{% assign tabs = section.settings.tabs %}
{% assign related = section.settings.related %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign price = current_variant.price | money %}

{% assign has_tabs = tabs %}
{% assign active_tab = false %}
{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign pre_order = false %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

{% if template.suffix == 'pre-order' %}
  {% assign pre_order = true %}
{% endif %}

{% assign multiple_variants = false %}
{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% assign multiple_variants = true %}
{% endunless %}

{% comment %}
  Split up our product description into a one paragraph summary and the remaining description content
{% endcomment %}
{% assign product_description = product.description %}

{% unless product_description contains '<p' and product_description contains '</p>' %}
  {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
{% endunless %}
{% assign product_description = product_description | split: '</p>' %}
{% assign product_tabs = blank %}

{% for paragraph in product_description %}
  {% assign product_description = product_description | append: paragraph | append: '</p>' %}
{% endfor %}

{% if product_description contains '<h4>' %}
  {% assign product_tabs = product_description | split: '<h4>' %}
{% endif %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

<section>
  <div class="s-show">
    {% include 'product-collection-image' %}
  </div>

  <div class="container l drop-shadow" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="false">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

    <div class="row collapse no-margin">
      <div class="column l12">
        <div class="s-hide">
          {% include 'product-collection-image' %}
          <div class="padding-left padding-right margin-bottom-05x">
            {% include 'theme-breadcrumbs' %}
          </div>
        </div>
        <div class="s-show margin-bottom">
          {% include 'product-collection-nav' %}
        </div>
      </div>
    </div>

    <div class="padding-left padding-right">
      <div class="row condensed no-margin">
        <div class="column l5 m5 s12">
          <div id="ProductPhoto" class="margin-bottom">
            {% if product.images.size > 0 %}
              {% for image in product.images %}
                <div class="product-image bg-foreground zoom-wrapper">
                  <img src="{{ image | img_url: '1024x1024' }}">
                </div>
              {% endfor %}
            {% else %}
              {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
              <div class="product-image bg-foreground">
                <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
              </div>
            {% endif %}
          </div>

          {% if product.images.size > 1 %}
            <div id="ProductThumbs" class="row collapse s-hide">
              {% for image in product.images %}
                <div class="column l3 m3 s6">
                  <div class="product-image bg-foreground thumbnail{% if forloop.first %} active{% endif %}" data-thumbnail>
                    <div class="ratio" data-ratio="1:1" style="background-image:url({{ image | img_url: '1024x1024' }})"></div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="s-hide">
            {% include 'product-companions' %}
            {% include 'product-recently-viewed' %}
          </div>
        </div>

        <div class="column l6 m6 s12">
          <div class="relative">
            <div class="product-zoom absolute center">
              <div class="bg-brand fg-foreground palette">
                <h4 class="no-margin">{{ product.title }}</h4>
              </div>
              <div id="ProductPhotoZoom" class="ratio" data-ratio="4:3"></div>
            </div>
          </div>

          <h1 itemprop="name" class="no-margin w-bold f-feature t-uppercase">
            {{ product.title }}
          </h1>
          <div class="row condensed no-margin">
            <div class="column l9">
              <p class="h5 no-margin w-normal">
                SKU: {{ product.metafields.sku.parent }}
              </p>

              <p class="product-price f-feature fg-brand w-bold no-margin no-line-height">
                {% if on_sale %}
                  <span id="OnSale">
                    <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
                  </span>
                  <br>
                {% endif %}
                {% if product.price_varies %}
                  {{ product.price_min | money }} - {{ product.price_max | money }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}
                {% if on_sale %}
                  <span class="small fg-text">({{ 'product.savings' | t: savings: savings }} {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100.0 | remove: ".0" }}%)
                  </span>
                {% endif %}
              </p>

              <div class="rte margin-bottom-2x hidden">
                <p class="h4 w-normal">{{ product.metafields.description.short }}</p>
              </div>

              {% include 'stamped-pdp-summary' %}

              {% include 'product-features' %}
            </div>
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>

              <div class="row condensed no-margin">
                {% if product.variants.size > 1 %}
                <div class="QuantityLeft"></div>
                {% else %}
                {% if product.tags contains 'NLA-ITEM' %}
                  {% if product.variants[0].inventory_quantity > 0 and product.variants[0].inventory_quantity <= 5 %}
                    <div class="QuantityLeft">Only {{ product.variants[0].inventory_quantity }} Left</div>
                  {% endif %}
                {% endif %}
                {% endif %}
                <div class="column l9 m9 s12" id="{% if product.available %}is-available{% else %}is-sold-out{% endif %}">
                  <div class="row condensed-small no-margin" id="quantity-container">

                    {% if multiple_variants %}
                      <div class="column l6 m6 s12">
                        {% assign variant_count = 0 %}
                        {% for option in product.options_with_values %}
                          <label{% if option.name == 'Default Title' or product.options.size == 1 %} class="hidden"{% endif %} for="SingleOptionSelector-{{ forloop.index }}">
                            {{ option.name }}
                          </label>
                          <div class="select-wrapper wide blue">
                            <select class="single-option-selector w-normal" id="SingleOptionSelector-{{ forloop.index }}" data-index="option{{ forloop.index }}">
                              <option value="" selected>Select {{ option.name }}</option>
                              {% for value in option.values %}

                                <option value="{{ value | escape }}">
                                  {{ value }} - {{ product.variants[variant_count].price | money }}
                                </option>
                                {% assign variant_count = variant_count | plus: 1 %}
                              {% endfor %}
                            </select>
                            {% include 'icon' with 'down', icon_size: '24' %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}

                    <div class="column l6 m6 s12">
                      <h5 class="no-margin margin-top hidden">{{ 'product.variants.quantity' | t }}</h5>
                      <div class="select-wrapper wide black">
                        <select id="quantity-changer" class="w-normal">
                          <option value="" selected>Quantity</option>
                          {% for i in (1..10) %}
                            <option value="{{ i }}" {% if sold_out %}disabled{% endif %}>{{ i }}</option>
                          {% endfor %}
                        </select>
                        {% include 'icon' with 'down', icon_size: '24' %}
                      </div>
                      <input type="hidden" id="Quantity" name="quantity" value="1" min="1" data-cart-quantity="1">
                    </div>
                  </div>

                  <select name="id" id="productSelect" class="hidden" data-index="option{{ forloop.index }}">
                    {% for variant in product.variants %}
                      {% if variant.available %}
                        <option
                          value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                        </option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>

                  {% if product.metafields.productinfo.customizable == 'yes' %}
                   {% include 'popup-ezprints' %}
                    <a class="button blue medium t-uppercase" data-trigger="popup" data-target="#PopupEzPrints">Customize it</a>
                  {% else %}
                    <button class="wide t-uppercase" type="submit" name="add" data-add-to-cart disabled id="{% if product.available %}available-button{% else %}button-sold-out{% endif %}">
                      <span id="AddToCartText">
                        {% if multiple_variants %}
                          {{ 'product.select_an_option' | t }}
                        {% else %}
                          {% if sold_out %}
                            {{ 'product.sold_out' | t }}
                          {% else %}
                            {% if pre_order %}
                              {{ 'product.pre_order' | t }}
                            {% else %}
                              {{ 'product.add_to_cart' | t }}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      </span>
                    </button>
                  {% endif %}
                  <div style="padding-top: 15px; color: #FF4136; font-weight: bold; ">ALL SALES FINAL</div>
                  <p class="margin-top" id="meta-fields">
                    {{ product.metafields.shipping.days }}
                  </p>
                </div>
              </div>
            </form>
          </div>

          {% if sharing %}
            <div class="s-show padding-bottom">
              <hr class="margin-bottom-2x">
              {% include 'social-sharing' %}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            {% if block.type == 'tab' %}
              {% if block.settings.display == '' or block.settings.display_on == blank %}
                {% assign has_tabs = true %}
              {% elsif block.settings.display == 'tag' %}
                {% if product.tags contains block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'type' %}
                {% if product.type == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'vendor' %}
                {% if product.vendor == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% include 'product-description' %}

          {% if related %}
            {% include 'product-related' %}
          {% endif %}

          <div class="s-show">
            {% include 'product-companions' %}
          </div>

          {% include 'stamped-pdp-full' %}
        </div>
        <div class="column l1">
          {% if sharing %}
            <div class="s-hide margin-bottom-2x">
              {% include 'social-sharing' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- begin -->
<div id="OutOfStockPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
      </div>
      <div class="container">
        <div>

          {% if product.variants.size == 1 %}
          <h5>We only have <span class="red">{{ current_variant.inventory_quantity }}</span> units available of this product. Please adjust the quantity you'd like to purchase.</h5>

            {% else %}

            <h5>We only have
            {% for variant in product.variants %}
            {% if variant.available %}
            <span class="results {{ variant.title }}" style="display:none;">{{ variant.inventory_quantity }}</span>
            {% endif %}
            {% endfor %}
            units available of this product. Please adjust the quantity you'd like to purchase.</h5>
            {% endif %}

          </div>
        </div>
        <a href="#close" class="popup-close" id="close_out_of_stock_popup" data-close aria-label="Close">
           <img src="//cdn.shopify.com/s/files/1/2959/2384/t/20/assets/cart-close.png?16228280012142088627">
        </a>
      </div>
    </div>
  </div>
<script>
  concrete.product = {
    settings: {
      currentSlide: 0,
      container: '#ProductPhoto',
      preOrder: {{ pre_order }},
      zoom: {
        container: '.zoom-wrapper',
        target: '#ProductPhotoZoom',
        breakpoint: {{ settings.breakpoint_s }}
      },
      slick: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        fade: true,
        dots: false,
        arrows: false,
        pauseOnHover: false,
        speed: {{ settings.transition_speed }},
        adaptiveHeight: false,
        responsive: [
          {
            breakpoint: {{ settings.breakpoint_m }},
            settings: {
              dots: true,
              customPaging: function(slider, i) {
                return '';
              }
            }
          }
        ]
      }
    },
    images: function() {
      $(concrete.product.settings.container).slick(concrete.product.settings.slick);
      concrete.product.thumbnails('[data-section-type="product"]');
      concrete.product.zoom('[data-section-type="product"]');
    },
    zoom: function(target) {
      if ($(window).width() > concrete.product.settings.zoom.breakpoint) {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).zoom({
          target: concrete.product.settings.zoom.target,
          onZoomIn: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').addClass('active');
          },
          onZoomOut: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').removeClass('active');
          }
        });
      } else {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).trigger('zoom.destroy');
      }
    },
    thumbnails: function(target) {
      $(target).find('[data-thumbnail]').on({
        mouseenter: function() {
          var currentSlide = $(concrete.product.settings.container).slick('slickCurrentSlide');
          concrete.product.settings.currentSlide = currentSlide;
          var index = $(this).closest('.column').index();
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        mouseleave: function() {
          var index = concrete.product.settings.currentSlide;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        click: function() {
          $('[data-thumbnail]').removeClass('active');
          $(this).addClass('active');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        }
      });
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:section:deselect', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:block:select', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    var target = $(event.target).data('tab-toggle');
    $(event.target).addClass('active');
    $(event.target).closest('[data-section-type="product"]').find(target).addClass('active');
  });

  $(document).on('shopify:block:deselect', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle]:first-child').addClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-content]:first-child').addClass('active');
  });

  $(document).on('change', '#quantity-changer', function(){
    var quantity = $(this).val();
    $('#Quantity').val(quantity).data('cart-quantity', quantity);
    {% if product.options.size > 1 or product.variants[0].title != 'Default Title' %}
      $(this).parents('form').find('select:not(#quantity-changer)').change();
    {% elsif sold_out == false %}
      if (quantity != '') {
        {% if pre_order %}
          $('[data-add-to-cart]').prop('disabled', false).html('<span id="AddToCartText">{{ 'product.pre_order' | t }}</span>');
        {% else %}
          $('[data-add-to-cart]').prop('disabled', false).html('<span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>');
        {% endif %}
      } else {
        $('[data-add-to-cart]').prop('disabled', true).html('<span id="AddToCartText">{{ 'product.select_an_option' | t }}</span>');
      }
    {% else %}
        $('[data-add-to-cart]').prop('disabled', false).html('<span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>');
    {% endif %}
  });

  $(window).on('resize', function() {
    concrete.product.zoom('[data-section-type="product"]');
  });

  // Init on docready
  $(document).ready(function() {
    concrete.product.images();
  });
</script>

<script type="application/json" id="ProductJson">
 {{ product | json }}
</script>
<script>
var product_tags = [];
{% for tag in product.tags %}
product_tags.push("{{ tag }}");
{% endfor %}
var inventory_quantity = {};
{% for variant in product.variants %}
inventory_quantity[{{- variant.id -}}] = {{ variant.inventory_quantity | default: 0 }};
{% endfor %}
</script>

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_product_page %}
<script src="{{ 'pdp-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="page-width product-template__recommendations-container product-recommendations visually-hidden"
     data-base-url="{{ routes.product_recommendations_url }}"
     data-product-id="{{ product.id }}"
     data-limit="6">
</div>
<div class="column l4 m4 s12 collection-product visually-hidden" id="pdp-recommendations-item-template">
   <a class="product-image">
      <div class="relative bg-foreground ratio" data-ratio="1:1">
         <div class="overlay background-image contain"></div>
      </div>
   </a>
   <p class="padding-top-05x padding-bottom no-margin"><a class="product-title"></a></p>
   <p class="padding-top padding-bottom"></p>  
</div>
<div class="column l4 m4 s12 collection-product visually-hidden" id="pdp-more-ideas-item-template">
   <a class="product-image">
      <div class="relative bg-foreground ratio" data-ratio="1:1">
         <div class="overlay background-image contain"></div>
      </div>
   </a>
   <p class="padding-top-05x padding-bottom no-margin"><a class="product-title"></a></p>
   <p class="padding-top padding-bottom"></p>
</div>
{% endif %}
{% schema %}
  {
    "name": "Product template",
    "settings": [
      {
        "type": "header",
        "content": "Product template",
        "info": "These settings affect all products using this template"
      },
      {
        "type": "checkbox",
        "id": "sharing",
        "label": "Display social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tabs",
        "label": "Description tabs",
        "info": "H4 headings inside the product description will be converted into tabs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related",
        "label": "Display related products",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Content tab",
        "settings": [
          {
            "type": "header",
            "content": "Content tab",
            "info": "Add an additional content tab to the product description"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New tab"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page content",
            "info": "Optionally, retrieve content from a page on your store"
          }
        ]
      },
      {
        "type": "companion",
        "name": "Product companions",
        "settings": [
          {
            "type": "header",
            "content": "Product companions",
            "info": "Link companion products"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "placeholder": "Also Available:"
          },
          {
            "type": "header",
            "content": "Product 1"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_1",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Product 2"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_2",
            "label": "Content"
          }
        ]
      },
      {
        "type": "feature",
        "name": "Product feature",
        "settings": [
          {
            "type": "header",
            "content": "Product feature",
            "info": "Add features to all products or a specific set of products"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "popup",
            "label": "Popup ID",
            "info": "To link to a popup, enter the popup's ID here. This will override the above link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "info": "Leave blank to link the entire feature"
          }
        ]
      }
    ]
  }
{% endschema %}
