<!-- sections/template-collection.liquid -->

{% include 'template-collection' %}

{% schema %}
  {
    "name": "Collection template",
    "settings": [
      {
        "type": "header",
        "content": "Collection template",
        "info": "These settings affect all collections using this template"
      },
      {
        "type": "checkbox",
        "id": "filters",
        "label": "Display sidebar filters",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "views",
        "label": "Display views",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sorting",
        "label": "Display sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "pagination",
        "label": "Display pagination",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "quicklook",
        "label": "Display quicklook",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tag",
        "name": "Tag filter",
        "settings": [
          {
            "type": "header",
            "content": "Tag filter",
            "info": "Create a product filter using all tags inside a collection, or limit to tags inside the link list chosen below"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "New tag filter"
          },
          {
            "type": "text",
            "id": "all",
            "label": "Not filtered label",
            "placeholder": "View All"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Limit to tags in"
          }
        ]
      },
      {
        "type": "promo",
        "name": "Promotion",
        "settings": [
          {
            "type": "header",
            "content": "Promotion",
            "info": "Create a promotion image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to display this promotion on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to display this promotion on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
