<!-- sections/template-cart.liquid -->

{% assign related = section.settings.related %}
{% assign delivery = section.settings.delivery %}
{% assign delivery_info = section.settings.delivery_info %}
{% assign delivery_link = section.settings.delivery_link %}
{% assign delivery_popup = section.settings.delivery_popup %}
{% assign tax = section.settings.tax %}
{% assign tax_link = section.settings.tax_link %}
{% assign tax_popup = section.settings.tax_popup %}

<div class="container l padding-top-2x padding-bottom-2x">
  {% if cart.item_count > 0 %}
    <div class="row condensed no-margin">
      <div class="column {% if related %}l9 m9 s12{% else %}l12{% endif %}">
        <form id="CartPage" action="/cart" method="post" novalidate>

          <div class="row collapse no-margin l-table m-table s-no-clear shopping-title">
            <div class="column l4 m4 s8 v-middle">
              <img class="inline v-middle" src="{{ 'cart--large--white.png' | asset_url }}">
              <h1 class="h2 w-normal inline v-middle no-margin">{{ 'cart.title' | t }}</h1>
            </div>
            <div class="column l5 m5 s-hide v-middle s-right">
              {% include 'payment-gateways' %}
            </div>
            <div class="column l3 m3 s4 v-middle right">
              <button type="submit" name="checkout" class="medium blue">{{ 'cart.checkout' | t }}</button>
            </div>
          </div>

          <div class="row collapse">
            <div class="column l12">
              <p class="margin-top">{{ 'cart.sub_title_html' | t }}</p>
            </div>
          </div>

          <div id="CartHeader" class="row collapse l-table m-table s-hide">
            <div class="column l7 v-middle"><h4 class="no-margin">{{ 'cart.product' | t }}</h4></div>
            <div class="column l2 v-middle"><h4 class="no-margin">{{ 'cart.price' | t }}</h4></div>
            <div class="column l1 v-middle"><h4 class="no-margin">{{ 'cart.quantity' | t }}</h4></div>
            <div class="column l1 v-middle"><h4 class="no-margin">{{ 'cart.subtotal' | t }}</h4></div>
            <div class="column l1 v-middle"></div>
          </div>

          {% for item in cart.items %}
            <div class="row collapse cart-row padding-top padding-bottom l-table m-table s-no-clear">
              <div class="column l7 m7 s12 v-top">
                <div class="row collapse l-table m-table">
                  <div class="column l3 v-top">
                    <a class="product-image block bg-foreground" href="{{ item.url | within: collections.all }}">
                      {% if item.image %}
                        <div class="ratio" data-ratio="1:1" style="background-image:url({{ item | img_url: '400x' }})"></div>
                      {% else %}
                        {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                        <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
                      {% endif %}
                    </a>
                  </div>
                  <div class="column l9 v-top">
                    <p{% if item.product.variants.size > 1 %} class="no-margin"{% endif %}>
                      <a href="{{ item.url | within: collections.all }}">
                        {{ item.product.title }}
                      </a>
                    </p>
                    {% if item.product.variants.size > 1 %}
                      <p>{{ item.variant.title }}</p>
                    {% endif %}
                    {% if item.product.metafields.preorder.date != blank or item.product.metafields.shipping.days != blank %}
                      <p class="no-margin">
                        {% if item.product.metafields.preorder.date != blank %}
                          {{ item.product.metafields.preorder.date }}
                        {% elsif item.product.metafields.shipping.days != blank %}
                          {{ item.product.metafields.shipping.days }}
                        {% endif %}
                      </p>
                    {% endif %}
                    {% if item.product.metafields.shipsto.country != blank %}
                      <p class="no-margin">
                        {{ item.product.metafields.shipsto.country }}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="column l2 m2 s3 v-top">
                {% if item.product.compare_at_price > item.price or item.original_line_price != blank and item.original_line_price != item.line_price %}
                  <p class="no-margin">
                    <span class="sale_price">{{ item.price | money }}</span>
                  </p>
                  <p class="no-margin"> 
                    {% if item.original_line_price != blank and item.original_line_price != item.line_price %} 
                    <span class="original_price">{{ item.original_line_price | divided_by: item.quantity | money }}</span>
                    {% else  %}
                    <span class="original_price">{{ item.product.compare_at_price | money }}</span> 
                    {% endif %}
                  </p>
                  <p class="no-margin">
                    <span class="savings">
                      {% assign difference = '' %}
                      {% assign savings = '' %}
                      {% if item.original_line_price != blank and item.original_line_price != item.line_price %}
                      {% assign item_line_price = item.original_line_price | divided_by: item.quantity %}
                      {% assign difference = item_line_price | minus: item.price %}
                      {% assign difference = difference | append: '.0' %}
                      {% assign savings = difference | divided_by: item_line_price | times: 100 %}
                      (save {{ savings | round | append: '%' }}) 
                      {% else  %} 
                      {% assign difference = item.product.compare_at_price | minus: item.price %}
                      {% assign difference = difference | append: '.0' %}
                      {% assign savings = difference | divided_by: item.product.compare_at_price | divided_by: item.quantity | times: 100 %}
                      (save {{ savings | round | append: '%' }}) 
                      {% endif %}
                    </span>
                  </p>
                {% else  %}
                  <p class="no-margin">
                    <span>{{ item.price | money }}</span>
                  </p>
                {% endif %}
              </div>
              <div class="column l1 m1 s3 v-top center s-left">
                <div class="quantity-adjust">
                  <input class="quantity" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                </div>
              </div>
              <div class="column l1 m1 s3 v-top">
                <p class="no-margin">{{ item.line_price | money }}</p>
              </div>
              <div class="column l1 m1 s3 v-top s-right">
                <p class="no-margin">
                  <a class="no-decoration" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    {% include 'icon' with 'close', icon_size: '10' %}
                    <span class="v-middle">{{ 'cart.remove_item' | t }}</span>
                  </a>
                </p>
              </div>
            </div>
          {% endfor %}

          <div class="margin-bottom"></div>
          <div class="row condensed">
            <div class="column l6 m6 s12">
              <div class="s-show margin-top-2x"></div>
              <h3 class="no-margin t-uppercase">{{ 'cart.coupon.title' | t }}</h3>
              <hr>
              <h4 class="t-uppercase margin-top no-margin">{{ 'cart.coupon.sub_title' | t }}</h4>
              <input placeholder="{{ 'cart.coupon.placeholder' | t }}" type="text" name="discount" autocomplete="off" class="bg-foreground coupon-code"/>

              {% if delivery %}
                <h3 class="no-margin t-uppercase margin-top-2x">{{ 'cart.delivery.title' | t }}</h3>
                <hr>
                {% unless delivery_info == blank %}
                  <div class="margin-top rte">
                    {{ delivery_info }}
                  </div>
                {% endunless %}
                {% if delivery_link != blank or delivery_popup != blank %}
                  <p class="no-margin"><a {% if delivery_popup != blank %}href="#Popup_{{ delivery_popup }}" data-trigger="popup" data-target="#Popup_{{ delivery_popup }}"{% else %}href="{{ delivery_link }}"{% endif %} title="{{ 'cart.delivery.link' | t }}">{{ 'cart.delivery.link' | t }}</a></p>
                {% endif %}
                <h6 class="w-normal">{{ 'cart.delivery.note' | t }}</h6>
              {% endif %}

              {% if tax %}
                <h3 class="no-margin t-uppercase margin-top-2x">{{ 'cart.tax.title' | t }}</h3>
                <hr>
                <p class="margin-top">
                  {{ 'cart.tax.content' | t }}
                  {% if tax_link != blank or tax_popup != blank %}
                    <br><a {% if tax_popup != blank %}href="#Popup_{{ tax_popup }}" data-trigger="popup" data-target="#Popup_{{ tax_popup }}"{% else %}href="{{ tax_link }}"{% endif %} title="{{ 'cart.tax.link' | t }}">{{ 'cart.tax.link' | t }}</a>
                  {% endif %}
                </p>
              {% endif %}
            </div>

            <div class="column l6 m6 s12 l-right m-right">
              <div class="margin-bottom s-hide">
                <p class="inline no-margin">{{ 'cart.update.title' | t }}</p>
                <button class="small inline w-bold" type="submit" name="update">{{ 'cart.update.button' | t }}</button>
              </div>

              <div class="margin-bottom s-show">
                <p class="no-margin">{{ 'cart.update.title' | t }}</p>
                <button class="center small wide margin-top w-bold" type="submit" name="update">{{ 'cart.update.button' | t }}</button>
              </div>

              <hr>

              <h3 class="margin-top">
                {{ 'cart.total' | t }}
                {{ cart.total_price | money_with_currency }}
              </h3>

              {% if cart.total_discount > 0 %}
                <h5>
                  {{ 'cart.total_before' | t }} <s>{{ cart.original_total_price | money_with_currency }}</s></h5>
                <h5>
                  {{ 'cart.savings' | t }} <span><em>{{ cart.total_discounts | money_with_currency }}</em></span>
                </h5>
              {% endif %}

              <div class="s-hide margin-top-5x">
                <a href="/collections/all" class="button w-bold small inline continue-btn">{{ 'cart.continue' | t }}</a>
                <button class="inline blue medium" type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>
              </div>

              <div class="s-show margin-top center">
                <a href="/collections/all" class="button wide w-bold small">{{ 'cart.continue' | t }}</a>
                <button class="blue wide medium margin-top" type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>
              </div>

              {% if additional_checkout_buttons %}
                <div class="additional-checkout-buttons hidden">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {% endif %}

            </div>
          </div>

        </form>
      </div>

      {% if related %}
        <div class="column l3 m3 s12">
          <aside>
            <div class="s-show margin-bottom-2x"></div>
            {% include 'cart-related' %}
          </aside>
        </div>
      {% endif %}
    </div>
  {% else %}

    <h2>{{ 'cart.title' | t }}</h2>
    <p class="h4">{{ 'cart.empty' | t }}</p>

  {% endif %}
</div>

{% if settings.product_recommendations_enabled and settings.shopify_recommendations_display_cart_page %}
<script src="{{ 'cart-recommendations.js' | asset_url }}" defer="defer"></script> 
<div class="page-width cart-template__recommendations-container product-recommendations visually-hidden">
  <div class="visually-hidden" id="cart-products-recommendation-info">
  {% for _item in cart.items %} 
    <div data-base-url="{{ routes.product_recommendations_url }}"
         data-product-id="{{ _item.product.id }}"
         data-limit="3"
         {% if forloop.last %}class="last-cart-element"{% endif %}></div>
  {% endfor %}
  </div>
</div>
<div class="column l12 m12 s12 collection-product visually-hidden" id="cart-recommendations-item-template">
   <a class="product-image">
      <div class="relative bg-foreground ratio" data-ratio="1:1">
         <div class="overlay background-image contain"></div>
      </div>
   </a>
   <p class="padding-top-05x padding-bottom no-margin"><a class="product-title"></a></p>
   <p class="padding-top padding-bottom"></p>  
</div>
{% endif %} 

{% schema %}
  {
    "name": "Cart template",
    "settings": [
      {
        "type": "header",
        "content": "Cart template"
      },
      {
        "type": "checkbox",
        "id": "related",
        "label": "Display related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "delivery",
        "label": "Display delivery information",
        "default": false
      },
      {
        "type": "richtext",
        "id": "delivery_info",
        "label": "Delivery information"
      },
      {
        "type": "url",
        "id": "delivery_link",
        "label": "Delivery link"
      },
      {
        "type": "text",
        "id": "delivery_popup",
        "label": "Delivery popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      },
      {
        "type": "checkbox",
        "id": "tax",
        "label": "Display tax information",
        "default": false
      },
      {
        "type": "url",
        "id": "tax_link",
        "label": "Tax link"
      },
      {
        "type": "text",
        "id": "tax_popup",
        "label": "Tax popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      }
    ]
  }
{% endschema %}
