@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
.site-header {
  padding: 0 !important;
  background: #000;
  .site-nav__link {
    padding: 3px 25px;
    .site-nav__label {
      color: #fff;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 20px;
      transition: 0.5s ease-in-out;
      border: none !important;
      &:hover {
        color: #ba8724;
      }
    }
  }

  .site-header__icons-wrapper > a {
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 0 20px;
  }

  .site-header__mobile-nav {
    z-index: auto;
    position: relative;
    background-color: #000;
  }
  .site-header__logo-image img {
    width: 240px;
    max-width: 240px !important;
  }
  .site-header__cart-count {
    right: 0.9rem !important;
    top: -1px !important;
  }
  .top_right {
    float: right;
    margin: 30px 0 0 0;
  }
}
.lara-logos{position: relative;
    top: 30px;}
.col-md-60{

  ul.site-nav{margin-top:0 !important;}
}

.open_srch {
  position: relative;
  margin: 20px 0 0 0;
  width: 270px;
  input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    color: #333;
    font-size: 12.5px;
    height: 32px;
    border-radius: 0;
    border: none;
  }

  button {
    background: 0 0;
    border: none;
    position: absolute;
    top: 2px;
    right: 6px;
    visibility: hidden;
  }
  &:hover {
    button {
      visibility: visible;
    }
  }
}
#SortBy option[value="best-selling"] {
  text-transform: capitalize !important;
}
.slider {
  margin: 0px 0 0 0;
  .carousel-item {
    img {
      width: 100%;
    }
  }
  .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
  }
}

.showinmobile {
  display: none !important;
}
.cart-popup-wrapper {
  .cart-popup__close {
    padding: 0 !important;
    margin-right: 0 !important;
    position: absolute;
    left: -45px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 34px;
    height: 33px;

    svg {
      width: 10px !important;
      height: 10px !important;
      fill: #fff;
    }
  }
}
#MiniCart {
  position: fixed;
  right: 0;
  text-align: left;
  background: #fff;
  padding: 0px;
  top: 0 !important;
  width: 0px;
  transition: width 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 5px solid #000;
  z-index: 100000;
}
#MiniCart .minicart-header .minicart-close {
  position: absolute;
  left: -33px;
  top: 5px;
  font-weight: 700;
  font-size: 12px;
  background: #ba8724;
  padding: 10px;
}
#MiniCart .minicart-header .minicart-close a {
  color: #fff;
}
#MiniCart .minicart-header .minicart-title {
  font-weight: 700;
  font-size: 23px;
  width: 100%;
  clear: both;
  display: inline-block;
  height: 40px;
  font-family: "Open Sans", sans-serif;
}
#MiniCart .minicart-header .minicart-title h4,
#MiniCart .minicart-header .minicart-title .h4 {
  line-height: 1.5;
}
#MiniCart .minicart-header .minicart-title .minicart-items-total {
  line-height: 40px;
  font-size: 17px;
  float: right;
}
#MiniCart .minicart-header.empty .minicart-title {
  width: 100%;
  display: block;
  padding: 40px 5px;
  text-align: center;
  height: auto;
  border-bottom: 1px solid #ddd;
}
#MiniCart .minicart-checkout-button {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 8px;
  background: #ba8724;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 15px;
}
#MiniCart .minicart-items {
  width: 100%;
  padding-bottom: 10px;
}
#MiniCart .minicart-items #minicart-items-list {
  height: 100%;
}
#MiniCart .minicart-items #minicart-items-list .minicart-item {
  border-bottom: 1px solid #ececec;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-image {
  display: inline-block;
  clear: both;
  width: 20%;
  vertical-align: top;
  padding-top: 10px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-image
  a {
  display: block;
  height: fit-content;
  width: fit-content;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info {
  width: 79%;
  display: inline-block;
  padding: 10px 0 10px 10px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-title {
  display: inline-block;
  width: 80%;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-title
  h4,
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-title
  .h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  font-weight: 600;
  color: #000;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-price {
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
  width: 19%;
  text-align: right;
  margin: 30px 0 0 0;
  font-weight: 600;
  float: right !important;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-sku,
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-meta-info {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-family: "Open Sans", sans-serif;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-sku
  p,
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-meta-info
  p {
  font-size: 13px;
  font-weight: 400;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-shipsto-country,
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-shipping-days {
  margin: 5px 0px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity {
  display: inline-block;
  width: 100%;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group {
  display: inline-block;
  width: 100%;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group
  .input-group-button {
  display: inline-block;
  cursor: pointer;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group
  .input-group-button
  .input-number-decrement {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 8px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group
  .input-group-button
  .input-number-increment {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 8px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group
  input {
  display: inline-block;
  width: 50px;
  -moz-appearance: textfield;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-quantity
  .input-group
  .minicart-update-button {
  display: inline-block;
  float: right;
  line-height: 40px;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-actions {
  position: absolute;
  right: 25px;
  margin-top: -40px;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info
  .minicart-item-actions
  .minicart-item-update {
  padding-bottom: 5px;
  a {
    font-family: "Open Sans", sans-serif;
    color: #333;
  }
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info.view-cart-link {
  width: 100%;
  text-align: center;
}
#MiniCart
  .minicart-items
  #minicart-items-list
  .minicart-item
  .minicart-item-info.view-cart-link
  .minicart-cart-link {
  display: block;
  padding: 0px 15px;
  text-decoration: underline;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}
#MiniCart .promo-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  padding-bottom: 10px;
}
#MiniCart .minicart-subtotal {
  text-align: left;
  line-height: 40px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  height: 40px;
}
#MiniCart .minicart-subtotal span {
  float: right;
}
#MiniCart .minicart-promo-section .minicart-promo-form {
  display: block;
  width: 100%;
  margin: 10px 0px;
}
#MiniCart .minicart-promo-section .minicart-promo-form span {
  display: inline-block;
  line-height: 40px;
}
#MiniCart .minicart-promo-section .minicart-promo-form input {
  display: inline-block;
  float: right;
  line-height: 38px;
  padding: 0px 10px;
}
#MiniCart .minicart-promo-section .minicart-promo-form button {
  width: 100%;
  margin: 15px 0px;
}
#MiniCart .minicart-promo-section .minicart-promo-message {
  text-align: right;
  font-style: italic;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
#MiniCart .additional-checkout-buttons {
  margin-top: 0;
}
#MiniCart .minicart-continue-shopping {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0 0 15px 0;
  text-decoration: underline;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 13px;
}
#MiniCart .additional-checkout-buttons button {
  width: 100%;
  margin: 0px;
}

.minicart-confirmation {
  display: none;
}
.opencart {
  display: block !important;
  transform: translateY(0%) !important;
}

.overlay51 {
  width: 100%;
  background: #000000ab;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: none;
}
.oversh1 {
  display: block !important;
}
.footer {
  background: url(bg_footer.png) no-repeat bottom center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 40px 0 0 0;
}
.footer .social5 {
  text-align: center;
  margin: -10px 0 10px 0;
}
.footer .social5 a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 31px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  margin: 0 3px;
}
.footer .custom_area .custom_links {
  margin: 30px 0 0 0;
}
.footer .custom_area .custom_links h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 600;
}
.footer .custom_area .custom_links li a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}
.footer .custom_area .custom_links li a:hover {
  color: #000;
  letter-spacing: 1px;
}
.footer .custom_area .news_letter4 {
  margin: 30px 0 0 0;
  padding-left: 38%;
}

.footer .custom_area .news_letter4 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-weight: 600;
  letter-spacing: 0 !important;
}
.footer .custom_area .news_letter4 p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  margin: -5px 0 15px 0;
}
.footer .custom_area .news_letter4 input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-radius: 0;
  height: 41.5px;
  border: none;
}
.footer .custom_area .news_letter4 button {
  background: #ba8724;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  border: none;
  padding: 11px 20px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.footer .custom_area .news_letter4 button:hover {
  background: #000;
}

.copy_sec2 {
  text-align: center;
  margin: 30px 0 0 0;
}
.copy_sec2 p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
#minicart-open-link {
  svg,
  span {
    color: #fff !important;
  }
}
.hom_prd {
  .grid-view-item__image-wrapper {
  }
  .product-card {
    &:hover {
      .quick-view-button {
        display: block;
      }
    }
    .grid-view-item__title {
      margin-bottom: 0;
      color: #000;
      font-family: "Open Sans", sans-serif;
      line-height: 22px;
      font-size: 16px;
      padding: 0px 0 5px 0;
      font-weight: 600;
      width: 100%;
      text-align: center;
      display: block;
      text-decoration: none !important;
      border: none;
    }
    .price {
      align-items: center;

      .price-item {
        display: inline-block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: grey;
        font-weight: 500;
      }
      .price__compare {
        .price-item {
          color: #000;
        }
      }
    }
    .price__badges--listing {
      margin-top: 0.5rem;
      position: absolute;
      top: -7px;
      left: 0;
      .price__badge {
        background: #ca2d2d;
        border: none;
        border-radius: 0;
        text-transform: capitalize;
        font-family: "Open Sans", sans-serif;
        color: #fff;
        padding: 9px 10px;
      }
    }
  }
}
.quick-view-button {
  position: absolute;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 54%;
  display: none;
  .quick-view {
    font-size: 10px;
    padding: 10px 50px;
    display: inline-block;
    background: #ba8724;
    font-family: "Open Sans", sans-serif;
    color: #fff !important;
    font-weight: 600;
  }
}
.fancybox-opened {
  width: 760px !important;
  margin: 0 auto;
}
.fancybox-inner {
  overflow: hidden;
  width: 740px !important;
}
.fancybox-skin {
  background: #ffffff !important;
  border-radius: 0 !important;
}
.meta-text {
  margin: 0 0 5px 0;
  p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color: #333;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
  }
}
.breadcrumb {
  background: none !important;
  padding: 20px 0 20px 0;
}
.breadcrumb a,
.breadcrumb span {
  color: #000;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.breadcrumb .rsaquo {
  font-size: 18px;
  padding: 0 4px;
  line-height: 16px;
}
.main-content {
  padding-top: 0 !important;
}
.main_left {
  padding-right: 20px;

  .shrt_title {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    color: #000 !important;
    font-weight: 600;
    border-bottom: 1px solid #e8e9eb;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .hideleftmenu {
    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      color: #000 !important;
      letter-spacing: 0;
      padding: 20px 0 10px 0;
      font-weight: 600;
    }
  }
  .left-menu {
    i {
      padding-left: 10px;
      color: #ba8724;
      font-size: 13px;
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #000 !important;
      letter-spacing: 0;
      margin: 0 0 10px 0;
      font-weight: 400;
      position: relative;
      text-transform: uppercase;
    }
    ul {
      padding: 0px 0 10px 0;
      display: none;

      li {
        padding: 2px 10px;

        a {
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          color: #333 !important;
          text-transform: capitalize;
        }
      }
      li.active {
        a,
        span {
          color: #ba8724 !important;
        }
      }
    }
  }
}
.filters-toolbar__product-count {
  font-style: normal !important;
}
#Collection {
  .grid-view-item__image-wrappers {
    border: 1px solid #e8e8e8;    margin: 0 0 20px 0;
  }
  .product-card {
    &:hover {
      .quick-view-button {
        display: block;
      }
    }
    .grid-view-item__title {
      margin-bottom: 0;
      color: #000;
      font-family: "Open Sans", sans-serif;
      line-height: 22px;
      font-size: 16px;
      padding: 0px 0 5px 0;
      font-weight: 600;
      width: 100%;
      text-align: center;
      display: block;
      text-decoration: none !important;
      border: none;
    }
    .price {
      align-items: center;

      .price-item {
        display: inline-block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: grey;
        font-weight: 500;
      }
      .price__compare {
        .price-item {
          color: #000;
        }
      }
    }
    .price__badges--listing {
      margin-top: 0.5rem;
      position: absolute;
      top: -7px;
      left: 0;
      .price__badge {
        background: #ca2d2d;
        border: none;
        border-radius: 0;
        text-transform: capitalize;
        font-family: "Open Sans", sans-serif;
        color: #fff;
      }
    }
  }
}
.filters-toolbar__item-child:first-child {
  margin-right: 0 !important;
  float: right;
}
.filters-toolbar__input {
  border: 1px solid #bdbdbd !important;
  height: 39px !important;
  padding: 0px 34px 0 20px;
  border-radius: 0px;
  width: 180px !important;
  text-transform: capitalize;
  font-size: 13px;
}
.select-group .icon {
  right: 10px !important;
}
.filters-toolbar__label {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 10px 0 0;
  text-transform: capitalize;
}
/*********************************************************
 *               Quick View dialog styling               *
 *********************************************************/
.ui-dialog[role="dialog"] {
  width: 50% !important;
  left: 27.5% !important;
  background: #fff;
  border-radius: 0px;
  position: fixed;
  top: 50% !important;
  transform: translate(-5%, -50%);
}
@media only screen and (max-width: 768px) {
  .ui-dialog[role="dialog"] {
    width: 80% !important;
    left: 10% !important;
    transform: translate(0%, -50%);
  }
}
@media only screen and (max-width: 414px) {
  .ui-dialog[role="dialog"] {
    width: 90% !important;
    left: 20px !important;
  }
}
@media only screen and (max-width: 375px) {
  .ui-dialog[role="dialog"] {
    left: 18px !important;
  }
}
.ui-dialog[role="dialog"] .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/close.png?7440496347767946443);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 top;
  border: none;
}
.product-form__item--quantity .input-group-button {
  display: inline-block;
  float: left;
  width: 30px;
  text-align: center;
  line-height: 41px;
  cursor: pointer;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}
.ui-dialog[role="dialog"] .quickview-container {
  margin-bottom: 30px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single {
  display: flex;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos {
  width: 55%;
  float: left;
  clear: both;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .main-image-holder {
  padding-right: 25px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .main-image-holder
  .product-single-image {
  width: 100%;
  border: 1px solid #ddd;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper {
  overflow-y: overlay;
  max-height: 210px;
  min-height: 110px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails {
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin-top: 5px;
  height: 150px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails
  .slick-prev {
  left: 0px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails
  .slick-next {
  right: 0px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails
  .slick-list {
  width: calc(100% - 40px);
  margin: auto;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails
  .product-single__thumbnails-item {
  width: 100px;
  padding-left: 0px;
  border: 1px solid #ddd;
  flex: 1 0 100px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-single__photos
  .thumbnails-wrapper
  .product-single__thumbnails
  .product-single__thumbnails-item
  a {
  margin: 0px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info {
  width: 55%;
  float: right;
  clear: both;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-quickview-title {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-quickview-sku {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #333;
  font-weight: 300;
  padding: 0 0 5px 0;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-single__price,
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-price__price {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 20px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-single__price
  .savings {
  font-size: 12px;
  display: block;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form {
  margin: -40px 0 0px 0;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form
  .selector-wrapper {
  max-width: 250px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form
  .selector-wrapper
  label {
  display: none;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form
  .product-form__cart-submit {
  font-size: 13px;
  line-height: 1.5;
  border-radius: 2px;
  font-weight: 600;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form
  .quantity-addtocart
  .product-form__item {
  margin-bottom: 0px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .product-form
  .quantity-addtocart
  .product-form__item.product-form__item--quantity {
  margin-bottom: 0px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  #tabs {
  margin-top: 200px;
}
.ui-dialog[role="dialog"]
  .quickview-popup
  #shopify-section-product-quickview-template
  .product-quickview-template__container
  .product-single
  .product-quickview-info
  .swym-button {
  display: none !important;
}
.ui-dialog[role="dialog"] .quickview-popup .quickview-footer {
  text-align: left;
  margin: 5px 0px;
  color: #333;
  font-size: 12px;
  line-height: 22px;

  a {
    color: #000;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 414px) {
  .ui-dialog[aria-describedby="SubscribeExtended"] {
    width: 90% !important;
    left: 5% !important;
    /*top: 4%!important;*/
  }
  .ui-dialog[aria-describedby="SubscribeExtended"] #SubscribeExtended {
    padding: 15px 0;
    width: 95% !important;
    margin: auto;
  }
}

#privacy-link {
  padding-top: 10px;
  text-decoration: underline;
}
.product-form__item--quantity .input-group-button span {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-form__item--quantity #Quantity,
.product-form__item--quantity .qty-increment {
  max-width: 65px;
  height: 40px;
  line-height: 40px;
  width: auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: inline-block;
  float: left;
  user-select: none;
  -moz-appearance: textfield;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .product-form__item--quantity #Quantity,
  .product-form__item--quantity .qty-increment {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

/*********************************************************
 *                quickview Styling end                       *
 *********************************************************/
.product-card__image-with-placeholder-wrapper {
  background: none !important;
}
.regular55 {
  margin: -10px 0 40px 0;
  .slick-next:before,
  .slick-prev:before {
    font-family: "FontAwesome";
    font-size: 28px;
    line-height: 0;
    color: #000;
  }

  .product-card__image-with-placeholder-wrapper {
    border: 1px solid #e8e8e8;
    margin: 0px 0 20px 0px;
  }
}
.product-card {
  position: relative;
  margin: 0 10px;

  &:hover {
    .grid-view-item__quickview {
      display: block;
    }
  }
}
.grid-view-item__quickview {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: none;
}
.quickview {
  font-size: 10px;
  padding: 10px 50px;
  z-index: 99999;
  background: #ba8724;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  font-weight: 600;
}
.showinmobile {
  display: none !important;
}
.product-form__item {
  flex-basis: 100%;
  padding: 0 0px;
  float: left;
}
.quickview-container {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .input-group {
    margin: 0 0 10px 10px;
  }
  #ProductPrice-product-quickview-template {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .quantity-addtocart {
    p {
      font-family: "Open Sans", sans-serif;
      margin: 0 0 8px 0;
      font-size: 12px;
      color: #333;
      font-weight: 500;
    }
  }
}
#MiniCart {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.minicart-item-remove {
  a {
    font-family: "Open Sans", sans-serif;
    color: #333;
  }
}
#Collection {
  .grid__item {
    margin-bottom: 50px;
  }
}
.rec-items {
  .double-price {
    display: none !important;
  }
  .recommended-item-image {
    border: 1px solid #e8e8e8;
    margin: 0 0 10px 0;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .name {
    margin-bottom: 0;
    color: #000;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    font-size: 16px;
    padding: 0 0 5px 0;
    font-weight: 600;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none !important;
    border: none;
  }
  .single-price {
    text-align: center;
    span {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: grey;
      font-weight: 500;
    }
  }
}
.product-single__media-wrapper {
}
.qtydiv label {
  display: inline-block;
  vertical-align: top;
  padding: 14px 15px 0px 0px;
  font-size: 13px;
  color: #000;
  font-family: "Open Sans", sans-serif;
}
.qtydiv .btnqty {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  padding: 5px;
  line-height: 0px;
}
.qtydiv .btnqty.qtyminus {
  margin-right: 0px;
}
.qtydiv .btnqty.qtyplus {
  margin-left: 0px;
}
.qtydiv .quantity-input {
  border: none;
  border: none;
  padding: 8px;
  text-align: center;
  width: 70px;
  outline: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
}
.qtydiv {
  display: inline-flex;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.product-single__meta {
  .product-single__title {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .skupdp {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    padding: 10px 0 0 0;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    text-transform: uppercase;
    span {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      color: #333;
      font-weight: 400;
      padding: 10px 0 0 0;
      letter-spacing: 0.5px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
  .product-form__cart-submit {
    border-radius: 2px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  .product-form {
    padding: 20px 0 0 0 !important;
  }
  .product__price {
    font-size: 1.25em;
    margin: 10px 0 0 0;

    .price-item {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      color: #333;
      font-weight: 600;
    }
  }
}
.tgline {
  margin: -10px 0 10px 0;
  p {
    font-family: "Open Sans", sans-serif;
    color: #333;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
  }
}
.cust-tabs {
  .nav-link.active {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 11px 20px;
    color: #fff;
    font-weight: 400;
    background-color: #ba8724;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 600;
  }
  .nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tab-content > .tab-pane {
    border: 1px solid #ddd;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-weight: 400;
  }
  .nav-tabs {
    border-bottom: none !important;
  }
}
.product-recommendations {
  h2 {
    font-size: 20px;
    font-weight: 500 !important;
    letter-spacing: 0;
    margin: 50px 0 0 0;
  }
}
#MiniCart {
  border-top: 0 !important;
}
.page-width {
  padding-top: 40px !important;
}
.template-product {
  .breadcrumb {
    background: 0 0 !important;
    padding: 0px 0 0 0;
    margin: 0 0 20px 0;
  }
}

.product-template__recommendations-container {
  display: none !important;
}
.hom_prd h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
}
.cart-header__title {
  text-transform: capitalize;
}
.to_lo {
  display: inline-block;
  text-align: center;
  svg {
    width: 90px;
    height: 20px;
  }
  span {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 11px;
    color: #fff;
    display: block;
    margin: 0 0 -20px 0px;
    position: relative;
  }
}
@media screen and (max-width: 1260px) {
  .site-header .site-nav__link {
    padding: 3px 15px;
  }
}
@media screen and (max-width: 997px) {
  .site-header .site-nav__link .site-nav__label {
    font-size: 14px;
  }
  .lara-logos{position: relative;
    top: 25px;}
}
@media screen and (max-width: 998px) and (min-width: 769px) {
  .filters-toolbar__item-child:first-child {
    margin-left: -20px !important;
  }
}
@media screen and (max-width: 768px) {
  .mobile-nav li:nth-child(1) {
    display: block !important;
  }
  .template-search {
    .page-width {
      .h2 {
        font-size: 20px;
      }
    }
  }
  .main_left .left-menu ul li span {
    font-size: 12px;
  }
  .cart-header__title {
    text-transform: capitalize;
  }
  .ui-dialog {
    display: none !important;
  }
  .mobile-addedtocart-overlay {
    display: none !important;
  }
  .mobile-addedtocart-popup {
    display: none !important;
  }
  .ui-draggable .ui-dialog-titlebar {
    display: none !important;
  }
  .mobile-nav--close .icon-hamburger {
    display: block !important;
  }
  .page-container {
    transform: inherit !important;
  }
  .grid--view-items {
    margin-top: 10px;
  }
  .breadcrumb {
    background: 0 0 !important;
    padding: 20px 0 0px 0;
    margin: 0;
  }
  .main_left {
    padding-right: 0;
  }
  #Collection {
    .product-card {
      margin: 0px;
    }
  }
  .filters-toolbar__label {
    display: none !important;
  }

  .filters-toolbar__item-child .filters-toolbar__input {
    padding-left: 10px !important;
    padding-right: 25px !important;
    width: 100% !important;
    font-size: 12px;
    border-radius: 5px;
    color: #333333 !important;
    margin: 10px 0 0 0;
  }
  .filters-toolbar__input option {
    display: block;
    width: 45% !important;
    position: absolute;
    right: 15px !important;
    top: 44px !important;
    font-size: 12px;
    color: #333333 !important;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #b4b4b4 !important;
  }

  .main_left .hideleftmenu h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #333333 !important;
    letter-spacing: 0;
    padding: 12px 0 11px 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 400;
    i {
      font-size: 14px;
    }
  }

  .wh_po {
    display: none;
  }

  .visib {
    display: block !important;
  }

  .filters-toolbar__item-child:first-child {
    margin-right: 0 !important;
    float: none;
    width: 100%;
    margin-top: 0px;
  }
  .select-group .icon {
    top: 60% !important;
  }

  .filters-toolbar__input-wrapper {
    display: block !important;
  }

  .main_left .shrt_title {
    display: none;
  }

  .hideleftmenu {
    position: relative;
  }

  .wh_po {
    position: absolute;
    top: 41px;
    left: -1px;
    z-index: 9;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 10px 10px;
    width: 180px;
  }

  .product-single__meta .product-single__title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .main_left .left-menu h3 {
    font-size: 12px;
  }
  .main_left .left-menu ul li a {
    font-size: 12px;
  }
  .main_left .left-menu ul li a span {
    font-size: 12px;
  }

  .grid-view-item__quickview {
    display: none !important;
  }
  .footer .custom_area .news_letter4 input {
    height: 36px;
  }
  .footer .custom_area .news_letter4 button {
    padding: 8.5px 35px;
  }
  .footer .custom_area .news_letter4 {
    margin: 20px 0 0 0;
    padding: 0 15px !important;
  }
  .footer .social5 {
    text-align: center;
    margin: -30px 0 20px 0;
  }
  .footer .custom_area .custom_links {
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
  .custom_area {
    .col-md-10 {
      padding: 0;
      border-top: 1px solid;
    }
    .col-md-30 {
      padding: 0;
    }
  }
  .mob_op {
    display: none;
    margin: -10px 0 15px 20px;
  }
  .mob_op2 {
    display: none;
    margin: -10px 0 15px 20px;
  }
  .open33 {
    display: block !important;
  }
  .slider {
    margin: 0px 0 0 0;
  }
  .site-header {
    border: none !important;
  }
  #MobileNav {
    .mobile-nav__item {
      span {
        font-family: "Open Sans", sans-serif;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        border: none;
      }
    }
  }
  .site-header__logo-image {
    margin: 0 auto;
    width: 80%;
  }
  .mobile-nav-wrapper {
    display: block !important;
    width: 90% !important;
    z-index: 9999 !important;
    -ms-transform: translateY(-100%) !important;
    -webkit-transform: translateY(-100%) !important;
    transform: translateY(-100%) !important;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 10000;
    }
  }
  .open_srch {
    position: relative;
    margin: 0px 0 20px 0;
    width: 100%;
  }
  .open-menu {
    -ms-transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
  }
  .site-header__menu {
    padding: 0;
    display: block !important;
    margin: 40px 0 0 0;
    svg {
      fill: #fff !important;
    }
  }
  .site-header .site-header__cart-count {
    right: 0.4rem !important;
    top: -5px !important;
  }
  .hideinmobile {
    display: none;
  }
  .showinmobile {
    display: block !important;
  }
  
  .site-header__mobile-nav .col-30{text-align:center;}
  .icon__fallback-text{display:none;}
  .lara-logos{position: relative;
    top: 0px;}
}
@media screen and (max-width: 576px) {
  .carousel-indicators {
    margin-bottom: -5px !important;
  }
  #MiniCart .promo-text {
    font-size: 11px;
    text-align: center;
    float: left;
    width: 100%;
  }
  .site-header__logo-image {
    margin: 0 auto;
    width: 100%;
  }

  .showinmobile {
    display: block !important;
  }
  .hideinmobile {
    display: none !important;
  }
  .slick-next {
    right: -20px !important;
  }
  .slick-prev {
    left: -10px !important;
  }
  .regular55 .grid-view-item__quickview {
    display: none !important;
  }
}
@media screen and (max-width: 426px) {
  .hom_prd h2 {
    font-size: 21px;
  }
  .site-header__menu {
    margin: 55px 0 0 0;
  }
  .site-header .top_right {
    float: right;
    margin: 45px 0 0 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 748px) {
  .filters-toolbar__collection_products_count {
    margin: 0 !important;
  }
  .main_left {
    margin: -2px 0 0 0;
  }
}
// lara cart



//Cart Sidebar
.cart-black-overlay {
  display:none;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 999999999;
  background-color: rgba(0,0,0,.75);
}
.top-s-bar{    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
#CartCount{

  span{

    position: relative;
    &:after{
      content: "items";
      text-transform: lowercase;
      padding-left: 9px;
    }

  }

}


}
.cart-sidebar {
  max-width:420px;
  width:100%;
  background-color:#fff;
  display:block !important;
  position: fixed;
  top:0;
  right:0;
  z-index: 999999999;
  transition: all 0.5s ease-in-out;
  p.empty-cart-message {
    padding: 20px 0;
    text-align: center;
    @media (max-width: 767px) {
      text-align: left;
      padding: 25px;
    }
  }
  &.hide{
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
  .cart-sidebar-container {
    position: relative;
  }
  .cart-sidebar--header {
    font-size:15px;
    line-height: 45px;
    padding:0 25px;
    color:#ffffff;
    text-transform:uppercase;
    background-color:#000000;
    text-align:center;
    border-bottom:1px solid #000000;
    a {
      float:right;
      color:#ffffff;
      em{
        font-weight:500;
      }
    }
  }
  .info-shipping{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-bottom: 0;
    padding-left:10px;
    padding-right:10px;
    border-bottom:1px solid #000000;
    em{
      color: #111111;
      font-size: 22px;
      position: relative;
      top: 2px;
    }
  }
  .cart-sidebar--notification {
    color:#000000;
    font-size:14px;
    line-height: 38px;
    border-top:1px solid #D3D3D3;
    border-bottom:1px solid #D3D3D3;
    padding:7px 0;
    p {
      margin-bottom:0;
      display: inline;
    }
    em {
      font-size:25px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .f-discount{

    p{font-size: 13.5px;
      font-family: "Open Sans",sans-serif;
      margin-top: 10px;}


  }
  .cart-sidebar--items-wrpaper{
    height: 64%;
    overflow-y: scroll;
    @media screen and (max-width:991px) {
      //height:480px;
    }
    @media screen and (max-width:767px) {
      //height:380px;
    }
    .cart-sidebar-item {
      padding:25px;
      background:#ffffff;
      border-bottom:1px solid #d0d0dc;
      position: relative;
      p.short-dis {
         line-height: 1;
         font-size: 12px;
         text-transform: uppercase;
         margin: 0 0 5px 0;
      }
      .sidebar-item-img {
        height: 100%;
        background: transparent;
        display: flex;
        align-items: flex-start;
      }
      .col-15.pr0 {
      	padding-right:0;
        padding-left: 5px;
      }
      .sidebar-cart--product-info{
        strong {
          display:block;
          font-family: "Open Sans",sans-serif;
    font-size: 14px;
          font-weight: 600;
          margin-bottom: 5px;
          line-height: 1.2;
          color: #000;
          letter-spacing: 0.2px;
          @media screen and (max-width:767px) {
            font-size:14px;
          }
        }
        span {
          font-size: 12px;
          text-transform: uppercase;
          margin: 0 0 5px 0;
          font-family: "Open Sans",sans-serif;
        }
        select {
          border:none;
          padding-left:0;
          font-size:16px;
          font-weight:600;
        }
      }
      em{
        font-family: Font Awesome\ 5 Pro;
        font-weight:500;
        position:relative;
        top: 0px;
        right: -10px;
      }
    }
    .delete-cart-item {
      position: absolute;
      right: 30px;
      top: 30px;
      z-index: 5;


    }
  }
  .cart-sidebar--footer {
    padding:25px;
    padding-bottom:0;
    
    .product-form__item--submit
    {
      p{
        margin-top:5px;
        font-size:14px;
        font-weight:500;
      }
      .ship-note{
        margin-top:5px;
        font-size:14px;
        font-weight:500;
      }
    }
    .btn {
      font-size:18px;
      width:100%;
      margin-top:10px;
      @media screen and (max-width:767px) {
        font-size:16px;
      }
    }
  }
  
  
  .product-form__cart-submit{
  
  margin-top: 10px;
    height: 40px;
    margin-bottom: 15px;
    background: #ba8724;
    border: 0;
    color: #fff;
    opacity: 1;    display: inline-block;transition: .3s ease all;
    text-decoration: none;    
    white-space: nowrap;    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    text-transform: uppercase;    min-width: 160px;
    text-align: center;padding: 0 24px;

span{
  font-weight: 600 !important;
  font-size: 15px !important;
}

    &:hover{
    
        background: #83601c;
    }
  }
  .ak-upsell-original-price{
  font-size: 1rem;
    line-height: 24px;font-weight: 400;
  
  }
  
}

.cart-sidebar-lara{

  text-align: center;    padding-bottom: 10px;

}


.cart-sidebar{
  .cart-sidebar-container{

.my-side-cart{

    line-height: normal;
    padding: 17px 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ffffff;
    text-align: left;
	
    border-bottom: 1px solid #f2f2f2;
display: flex;
    align-items: center;
    justify-content: space-between;

  
  div{
  color: #000;
    span{
     
      position:relative;
      font-size: 17px;
      font-family: "Open Sans",sans-serif;
      font-weight: 700;
  
    }
      strong{
color: #000;
   
    font-size: 23px;
    letter-spacing: 0px;
    padding-left: 1.5px;
    /* padding-top: 4px; */
    display: inline-block;
    transform: translateY(0px);
    text-transform: capitalize;
    font-family: "Open Sans",sans-serif;
  
  }
  }
  

  
  .mcart-continue{
  
  font-size: .875rem;
    line-height: 20px;
 
font-weight: 400;
    color: #4c4741;
  }
  
}
  }
}


.sidebar-cart--product-info{
.pro_var{

  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-family: "Open Sans",sans-serif;


}
  .cart-del{
  
  position: static !important;
    right: 0 !important;
    top: 0 !important;
  }
  
  .item-title-cart{
  text-transform:capitalize;
  color: #4c4741;
    font-family: "Metric";
    font-size: 18px;
  }



.cart-qty{

.qtybox {
    display: inline;
    margin: 20px 0 0 0;
    position: relative;
}
input {
    margin: 0 0 0 0;
    border-radius: 0;
    outline: none;
    font-size: 15px;
    min-width: inherit;
    text-align: center;
    padding: 9px 5px;
    border: 1px solid #bcbec0;
    background: #ffffff;
    width: 80px;
    font-weight: bold;
}

.qtybox span {
    padding: 0 3px;
    width: auto;
    font-size: 19px;
    line-height: 0.5;
    cursor: pointer;
    font-weight: bold;
    color: #bcbec0;
    position: absolute;
    left: 5px;
    bottom: 0;
    top: 5px;
}
span.btnqty.qtyplus.icon.icon-plus {
  right: 7px;
  left: auto;
  padding-top: 2px;
  font-size: 17px;
  color: #000;
}

span.btnqty.qtyminus.icon.icon-minus {
  left: 7px;
  bottom: 0;
  top: 8px;
  font-size: 17px;
  color: #000;
}



}
.mg-t-24{margin-top:10px;}
.cart-p-mian{
  text-align: right;

  
  
  
.cart-price{
  font-size: 13px !important;
    line-height: 40px;
    font-weight: 400 !important;
    color: #4c4741;}
}

}

.cart-sidebar{

  .empty-cart-wrapper {
    margin: 20px auto;
    width: 95%;
    background-color: #fff;
    box-shadow: 4px 4px 8px #d0d0dc;
    padding: 33px;
    text-align:center;
    h3 {
      color: #434345;
      
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .18px;
      line-height: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    p{
      color: #4e4e4e;
      margin:15px 0 10px 0;
      font-family: 'Metricl',arial;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .4px;
      line-height: 20px;
      text-align: center;
    }
    a {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      padding: 13px 24px;
      background-color: #ba8724;
      border-width: 0;
      border-style: solid;
      border-color: #000;
      transition: .3s ease all;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 2px;
      text-decoration: none !important;
      text-transform: uppercase;
      white-space: nowrap;
      color: #fff;
      width: 100%;
      margin: 12px auto;
      max-width: 212px;
    }
  }
}
.cart-sidebar-lara-x{
  position: absolute;
  left: -33px;
  top: 5px;
  a{
   color: #fff !important;
    font-weight: 700;
    font-size: 12px;
    background: #ba8724;
    padding: 10px;
  }
}


.icon__fallback-text{clip: auto;    top: 8px;
  right: -25px;    margin: 4px;    height: 16px;
  width: 24px;}


/* new style */

.m-pages{
  a{color:#000;transition:0.45s;
    &:hover{
    	color:#ba8724;
    }
  }

}

 @media screen and (max-width:576px) {
   .icon__fallback-text{display:none;}
   .cart-sidebar.hide {
     right: -120%;}
   
   .site-header .site-header__logo-image img {
    width: 170px;
    margin-top: 15px;}
   
      }
.lara-logos{

  svg{display:none;}
  span{display:none;}

}

.regular55.slider{opacity:0;}
.regular55.slider.slick-initialized{opacity:1;}