{% layout none %}{
  "ads_value" : "{{ shop.metafields.sca-np-qv.ads-settings }}",
  "jsondata": "{{ shop.metafields.sca-np-qv.settings }}",
  "moneyFormat": "{{ shop.money_format }}",
  "noimage": "{{ 'sca-qv-no-image.jpg' | asset_url }}",
  "review_container" : "#shopify-product-reviews",
  "review_total" : ".spr-summary-actions-togglereviews",
  "review_star" : ".spr-summary-starrating",
  "autoconfig":"yes",
  "locked":true,
  "enable_mobile":true
}