<div class="page-width">
  <div class="grid">
    <div class="grid__item {% if page.handle != "search-results-page" %}medium-up--five-sixths medium-up--push-one-twelfth{% endif %}">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
