{% if settings.powerreviews_enabled %}
<script>
  POWERREVIEWS.display.render([
    {% for product in collection.products %}
      {
        api_key: '{{ settings.powerreviews_api_key }}',
        locale: 'en_US',
        merchant_group_id: '{{ settings.powerreviews_merchant_group_id }}',
        merchant_id: '{{ settings.powerreviews_merchant_id }}',
        page_id: '{{ product.metafields.sku.parent }}',
        review_wrapper_url: 'https://{{ shop.domain }}/pages/write-a-review/?pr_page_id={{ product.metafields.sku.parent }}',
        components: {
          CategorySnippet: 'pr-collectionsnippet-{{ product.metafields.sku.parent }}',
        }
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]);
</script>
{% endif %}
