{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<script type="text/javascript">
  document.location.href = '/checkout'
</script>

