<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
      <div class="contact-phone">
        <div class="contact-phone-header">Contact Us By Phone</div>
        <div><a href="tel:{{ shop.phone }}">{{ shop.phone }}</a></div><br>
        <div class="contact-hours-title">Customer Service Hours</div>
        <div>8am - 8pm EST Monday - Friday<br>10am - 6pm EST Saturday</div>
      </div>
      <div class="contact-form form-vertical">
        <script type="text/javascript">
          (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
          'https://fusionbposervices.ladesk.com/scripts/track.js',
          function(e){ LiveAgent.createForm('36bde12c', e); });
        </script>
      </div>
    </div>
  </div>
</div>
