.crowdfunder-widget {
  padding: 4%;
  background-color: #f7f7f9;
  color: #333;
  margin-bottom:20px;
  clear: both;

  span.cf-bignumber {
    font-size: 2.6rem;
    line-height: .9em;
    display: block;
    color: #353442;
  }

  .cf-meter {
    height: 24px;
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #e5e5e7;
    border-radius: 4px;
  }

  .cf-meter span {
    display: block;
    height: 100%;
    background-color: #586be9;
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    border-radius: 0 3px 3px 0;
  }

  .cf-meter-label {
    font-weight:bold;
    margin-bottom:30px;
  }
}


.crowdfunder-widget.simple {
  padding: 0%;
  background-color: transparent;

  .cf-meter-label p:first-of-type {display: inline-block; width: 70%; color: #000;}
  .cf-meter-label p:nth-of-type(2) {display: inline-block; width: 27.5%; color: #000; text-align: right;}
}

