<!-- /templates/page.contact.liquid -->

<div class="container l padding-top-2x padding-bottom-2x">
    <div class="row">
        <div class="column l12">
            <h1 class="h2 w-normal">{{ page.title }}</h1>
            <div class="page-tagline">
                <span>Our customer service department is ready to help. Please contact us via e-mail or phone if you have any questions.</span>
            </div>
        </div>
    </div>

    <div class="row customer-service">
        <div class="column l6 m12 s12">
            <div class="form column l8 m8 s12">
                <div class="form-tagline">
                    <span>Contact Us By E-mail</span>
                </div>
                <div class="form-body">
                    <script type="text/javascript">
                    (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
                    'https://araca-ng.ladesk.com/scripts/track.js',
                    function(e){ LiveAgent.createForm('ca8df0ca', e); });
                    </script>
                </div>
            </div>

            <div class="other column l4 m4 s12">
                <div class="row chat">
                    <div class="chat">
                        <div class="chat tagline">
                            <span>Chat With Us</span>
                        </div>
                        <div class="chat body">
                            <script>
                                var LC_API = LC_API || {};
                                LC_API.on_after_load = function() {
                                    if (LC_API.agents_are_available()) {
                                        $("#livechat-availability").html('<span class="available" onclick="parent.LC_API.open_chat_window({source:\'minimized\'})">Live Chat - <span class="livechat-availability-alert">Available Now</span></span>');
                                        $("#livechat-cta").html('<span class="available" onclick="parent.LC_API.open_chat_window({source:\'minimized\'})">Chat With Us</span>');
                                    } else {
                                        $("#livechat-availability").html('<span class="not-available" onclick="parent.LC_API.open_chat_window({source:\'minimized\'})">Live Chat - <span class="livechat-availability-alert">Not Available</span></span>');
                                        $("#livechat-cta").html('<span class="not-available" onclick="parent.LC_API.open_chat_window({source:\'minimized\'})">Leave A Message</span>');
                                    }
                                };
                            </script>
                            <span id="livechat-availability"></span>
                            <span id="livechat-cta"></span>
                        </div>
                    </div>
                </div>
                <div class="row phone-mail">
                    <div class="phone-mail">
                        <div class="phone-mail tagline">
                            <span>Contact Us By Phone Or E-Mail</span>
                        </div>
                        <div class="phone-mail body">
                          <div class="place-order">
                            <span>Email us at: <a href="mailto:store@natgeo.com">store@natgeo.com</a></span>
                          </div>
                          <div class="phone-gdpr">
                              <span>For questions about the GDPR:<br />
                                <a href="http://help.nationalgeographic.com/customer/en/portal/topics/1113429-gdpr-faqs/articles">National Geographic GDPR FAQs</a>
                              </span>
                          </div>
                          <div class="place-order">
                            <span>To place an order:</span>
                            <span><a href="tel:1-800-437-5521">1-800-437-5521</a></span>
                            <span>Monday - Friday 9 am - 8 pm ET</span>
                          </div>
                          <div class="magazine-inquires">
                            <span>For Magazine Inquiries:</span>
                            <span><a href="tel:1-800-647-5463">1-800-647-5463</a></span>
                          </div>
                          <div class="books-division">
                            <span>If you received a direct mailing from our Books Division:</span>
                            <span><a href="tel:1-877-866-6486">1-877-866-6486</a></span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
