{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

    <style>
      .announcement-bar__message {
        display: inline-block;
        margin: 0;
        color: #fff;
      }
      .announcement-bar--link{
        display: inline-block;
      }
      .announcement-bar__message a {
        font-size: 12px;
        color: inherit;
        text-transform: capitalize;
        text-decoration: none;
        display: inline-block;
      }
      .popup-link{
        font-size: 9px;
        text-decoration: underline;
        text-transform: capitalize;
        color: #fff;
        display: inline-block;
      }
      .announcement-bar__message .announcement-bar__links {
        float: right;
      }

      .announcement-bar__message .announcement-bar__links a {
        color: {{ section.settings.color_text }};
        text-transform: capitalize;
        font-weight: normal;
        text-decoration: underline;
        margin-right: 20px;
        border-left: 1px solid;
        padding-left: 15px;
      }
      .announcement-bar__message .announcement-bar__links a:first-child {
        border-left: none;
      }

      .template-index .announcement-bar__message {
        position: relative;
        width: 100%;
        background: linear-gradient(#000000ff,#00000010);
      }

      @media only screen and (max-width: 768px){
        .announcement-bar {
          height: 55px;
        }
        .announcement-bar__message {
          top: 55px;
          padding-right: 0px;
          font-size: 12px;
          position: relative;
          width: 100%;
          background: #000;
          padding: 10px 0;
        }
        .template-index .announcement-bar__message {
          background: linear-gradient(#000000ff,#00000010);
        }
      }
      @media only screen and (max-width: 414px){
        .announcement-bar {
          border-bottom: unset;
          height: 50px;
        }
        .announcement-bar__message { 
          top: 57px;
        }
        .template-index .announcement-bar__message { 
          top: 57px;
          border-top: 1px solid #b4b4b4;
        }
      }
      {% if settings.header_promo_banner_enabled %}
      {% if template.name == 'index' %}
      .header--promo-container {
        display: block;
        width: 100vw;
      }
      .header--promo-banner {
        display: block; 
        width: 100%; 
        margin: auto;
      } 
      .header--promo-banner img {
        width: 100%;  
      }
      @media only screen and (max-width: 767px){ 
        .header--promo-container {
          display: block;
          width: 100vw;
        }
        .header--promo-banner {
          display: block; 
          width: 100%; 
          margin: auto;
          background: #000;
        } 
        .header--promo-banner img {

        }
      }
      {% endif %}
      {% endif %}
    </style>
    {% if settings.header_promo_banner_enabled %}
    {% if template.name == 'index' %}
    <div class="header--promo-container medium-up--hide">
      <div class="header--promo-banner medium-up--hide">
        <img src="{{ settings.header_mobile_promo_image | img_url: 'master' }}" />
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% if section.settings.message_text != blank %}
      <div class="announcement-bar {% if template.name == 'index' %}index{% endif %}">
        {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
        {% endif %}
          <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {% if section.settings.message_text != blank %}  
        </a>
        {% endif %}
        <a class="popup-link" data-popup data-popup-id="freeship-details">see details</a>
      </div>
    {% endif %}

    {% if settings.header_promo_banner_enabled %}
    {% if template.name == 'index' %}
    <div class="header--promo-container small--hide">
      <div class="header--promo-banner small--hide">
        <img src="{{ settings.header_desktop_promo_image | img_url: 'master' }}" />
      </div>
    </div>
    {% endif %}
    {% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   data-src="{{ section.settings.logo | img_url: '1024x1024', scale: 2 }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px"
                   id="desktop-logo" >
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: '1024x1024', scale: 2 }}"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
              <img class="lazyload js"
                   data-src="{{ section.settings.logo | img_url: '1024x1024', scale: 2 }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px"
                   id="mobile-logo" >
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
    </div>
  </header>
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item">
        <div class="mobile-nav__praisebe-label">
          <span>Praise be!</span>
        </div>
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      </li>
      <li class="mobile-nav__item">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
    </ul>
  </nav>

  <div id="navigation-content">
    {% comment %}
    <div id="navigation-apparel" class="navigation-menu">
      {% include 'apparel-navigation' %}
    </div>
    <div id="navigation-collectibles" class="navigation-menu">
      {% include 'collectibles-navigation' %}
    </div>
    <div id="navigation-books" class="navigation-menu">
      {% include 'books-navigation' %}
    </div>
    <div id="navigation-movies-tv" class="navigation-menu">
      {% include 'movies-tv-navigation' %}
    </div>
    <div id="navigation-accessories" class="navigation-menu">
      {% include 'accessories-navigation' %}
    </div>
    {% endcomment %}
    <div id="navigation-no-menu" class="navigation-menu">
      
    </div>
    {% for link in linklists[section.settings.main_linklist].links %}
    <div class="navigation-menu" id="navigation-{{link.title | handleize }}">
      {% if link.links != blank %}
      {%- assign nav_list = link %}
      {%- assign navigation_file = link.title | handleize | append: '-navigation' %}
      {% include navigation_file %}
      {% endif %}
    </div>    
    {% endfor %}
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %} 

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Shows Products",
        "settings": [
          {
            "type": "header",
            "content": "Shows Featured Products",
            "info": "Add featured products to Shows Navigation Menu"
          },
          {
            "type": "product",
            "id": "shows_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav_apparel_image_tout",
        "name": "Apparel Menu Image tout",
        "settings":[
          {
            "type": "header",
            "content": "Apparel Menu Image Tout",
            "info": "Add image to Apparel dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Apparel Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Apparel Menu Image Link"
          }
        ]
      },
      {
        "type": "collectibles_image_tout",
        "name": "Collectibles Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Collectibles Menu Image Tout",
            "info": "Add image to Collectibles dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Collectibles Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Collectibles Menu Image Link"
          }
        ]
      },
      {
        "type": "nav_books_image_tout",
        "name": "Books & Movies Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Books & Movies Menu Image Tout",
            "info": "Add image to Books & Movies dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Books & Movies Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Books & Movies Menu Image Link"
          }
        ]
      },
      {
        "type": "nav_home_decor_image_tout",
        "name": "Home Decor Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Home Decor Menu Image Tout",
            "info": "Add image to Home Decor dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Home Decor Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Home Decor Menu Image Link"
          }
        ]
      },
      {
        "type": "accessories_image_tout",
        "name": "Accessories Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Accessories Menu Image Tout",
            "info": "Add image to Accessories dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Accessories Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Accessories Menu Image Link"
          }
        ]
      },
      {
        "type": "toys_costumes_image_tout",
        "name": "Toys Costumes Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Toys Costumes Menu Image Tout",
            "info": "Add image to Toys Costumes dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Toys Costumes Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Toys Costumes Menu Image Link"
          }
        ]
      },
      {
        "type": "sale_image_tout",
        "name": "Sale Menu Image",
        "settings":[
          {
            "type": "header",
            "content": "Sale Menu Image Tout",
            "info": "Add image to Sale dropdown menu"
          },
          {
            "type": "image_picker",
            "id": "menu_image",
            "label": "Sale Menu Image"
          },
          {
            "type": "url",
            "id": "menu_image_link",
            "label": "Sale Menu Image Link"
          }
        ]
      }
    ]
  }
{% endschema %}
