<div class="homepage-main" style="background-image: url('{{section.settings.bg_image | img_url: '2048x'}}');margin-bottom: -1px;">
    <a href="#" class="add-to-cart-button">
      <img src="{{section.settings.button_image | img_url: '2048x'}}" class="hover--hide"> 
      <img src="{{section.settings.button_hoover_image | img_url: '2048x'}}" class="hover--visible">
    </a>
    <div class="box text-center">
      <p>{{ section.settings.text }}</p>
    </div>
</div> 
<div class="homepage-main-mobile medium-up--hide small--hide" style="background-image: url('{{section.settings.bg_image | img_url: '2048x'}}');">
</div> 

{%- assign product = all_products[section.settings.featured_product] %} 
        {% unless product == empty %}
        <script type="application/json" id="ProductJson-{{ section.id }}">
            {{ product | json }}
        </script>
        {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
        <script type="application/json" data-metafields="product-metafields-json">
            {
            {%- for namespace in metafield_namespaces -%}
                {{ namespace | json }}: {
                {%- for metafield in product.metafields[namespace] -%}
                    {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
                },
            {%- endfor -%}
            "pre_order": {{ collection_pre_order | json }}
            }
        </script>
        {% endunless %} 
        <form id="TeddyAddToCart" name="TeddyAddToCart" action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            <input type="number" id="ProductSelect" name="id" value="{{ product.first_available_variant.id }}" class="product-form__input visually-hidden">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input visually-hidden"> 
            <input type="hidden" name="tags" value="{{ product.tags | join : ","  }}">
            <input type="hidden" name="handle" value="{{ product.handle  }}">
        </form>

{% schema %}
  {
    "name": "Homepage Main",
    "class": "homepage-main", 
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      }, 
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Get your bear!"
      }, 
      {
        "type": "image_picker",
        "id": "button_image",
        "label": "Button Image"
      }, 
       {
        "type": "image_picker",
        "id": "button_hoover_image",
        "label": "Hover over button Image"
      }, 
      {
        "type": "text",
        "id": "text",
        "label": "text",
        "default": "If you would like to make a donation to Global Giving directly click here!"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      }
    ], 
    "presets": [
      {
        "name": "Homepage Main",
        "category": "Custom"
      }
    ]
  }
{% endschema %}