<div class="homepage-section homepage-section-two" id="homepage-section-two">
  <div class="container">
    <div class="bordered-container">
      <h1 class="title">
        How JohnnyCare Works
      </h1>

      <div class="content"> 
        <div class="row">
          <div class="col-md-12"> 
            <img src="{{ 'how_it_works.png' | asset_url }}" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="closing-text">
              <div class="text-2">*Please see our <a href="{{'member_guide.pdf' | file_url }}" target="_blank">Sharing Guidelines</a> for “Ineligible medical needs.”</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content visually-hidden">
        <div class="row">
          <div class="col-md-12">
            <div class="leading-text">
              <div class="text-1">At JohnnyCare, we are an ultra-exclusive community of health-conscious, like-minded Floridians who care for one another* through health care sharing donations. Here's how it works —</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="steps">
              <div class="step step-one">
                <div class="name">Step 1</div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="image">
                      <img src="{{ 'icons-step1.png' | asset_url }}" />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="text-1">
                      Eligible Floridians agree to our Statement of Beliefs and the terms of our Sharing Guidelines.
                    </div>
                  </div>
                </div>
              </div>

              <div class="step step-two">
                <div class="name">Step 2</div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="image">
                      <img src="{{ 'money-pile.png' | asset_url }}" />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="text-1">
                      You provide the standard $1.99 sharing amount that all members gift to JohnnyCare.**
                    </div>
                  </div>
                </div>
              </div>

              <div class="step step-three">
                <div class="name">Step 3</div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="image">
                      <img src="{{ 'first-aid-kit-verticle.png' | asset_url }}" />
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="text-1">
                      Your $1.99 gift provides another member with a mini first-aid kit and their $1.99 gift provides one for you!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="closing-text">
              <div class="text-1">The JohnnyCare community provides for all of your eligible* medical needs!</div>
              <div class="text-2">*Please see our <a href="{{'member_guide.pdf' | file_url }}" target="_blank">Sharing Guidelines</a> for “Ineligible medical needs.”</div>
            </div>
          </div>
        </div>
      </div>

      <a href="/" class="call-to-action{% if settings.membership_full %} membership-full{% endif %}" data-product-id="6629869912231" {% if settings.membership_full %}disabled{% endif%}>
        {% unless settings.membership_full %}
        I Want JohnnyCare!
        {% else %}
        <span>I Want JohnnyCare!</span> 
        <span class="hover-text">Membership Full!</span> 
        {% endunless %}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Section #2",
    "class": "homepage-section-two",
    "presets": [
      {
        "name": "Homepage Section #2",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
