<div class="homepage-hero small--hide" style="background-image: url('{{ 'homepage-hero.png' | asset_url }}');margin-bottom: -1px;">
    <div class="row">
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="title">Praise Be!</div>
                <div class="links">
                    <a href="#homepage-section-one">What is JohnnyCare?</a>
                    <a href="#homepage-section-two">How JohnnyCare Works</a>
                    <a href="#homepage-section-three">How to Use JohnnyCare</a>
                    <a href="#homepage-section-five">Join our Church Service</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="homepage-hero-mobile medium-up--hide" style="background-image: url('{{ 'homepage-hero.png' | asset_url }}');">
</div>

{% schema %}
  {
    "name": "Homepage Hero",
    "class": "homepage-hero",
    "presets": [
      {
        "name": "Homepage Hero",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
