<!-- sections/index-product-slideshow.liquid -->

{% assign title = section.settings.title %}
{% assign banner = section.settings.banner %}
{%- assign collection = collections[section.settings.collection] -%}
{% assign product_limit = section.settings.limit %}
{% assign add_to_cart = section.settings.add_to_cart %}
{% assign quick_look = section.settings.quick_look %}
{% assign width = section.settings.width %}
{% assign foreground = section.settings.foreground %}
{% assign background = section.settings.background %}

{% capture previous_icon %}<span class="slick-prev icon-large">{% include 'icon' with 'previous' %}</span>{% endcapture %}
{% assign previous_icon = previous_icon | strip_newlines %}
{% capture next_icon %}<span class="slick-next icon-large">{% include 'icon' with 'next' %}</span>{% endcapture %}
{% assign next_icon = next_icon | strip_newlines %}

<section class="product-slideshow">
  <div class="container {{ width }}">
    <div class="palette bg-{{ background }} fg-{{ foreground }} padding-top-5x">
      {% if title != blank or banner != blank %}
        <h3 class="h1 center no-margin">
          {% if banner != blank %}
            <img src="{{ banner | img_url: '2000x' }}" alt="{{ title }}" title="{{ title }}">
          {% else %}
            {{ title }}
          {% endif %}
        </h3>
      {% endif %}
      <div class="padding-bottom-4x">
        <div class="row table no-margin slick-arrows">
          <div>
            <div class="padding-top-4x padding-bottom-4x" id="slick-{{ section.id }}">
              {% for product in collection.products limit: product_limit %}
                {% assign column_width = 'slideshow-product' %}
                {% include 'section-slideshow-product' %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="hidden">
      {% for product in collection.products limit: product_limit %}
        {% comment %}Create a truncated description here because it's easier in liquid than JSON if the description has html markup in it.{% endcomment %}
        {% assign truncated_description = product.description | truncatewords: 25 | json | prepend: ',"truncated_description":' | append: ',"description":"' %}
        <pre class="hidden" data-product="{{ product.id }}">
          {{ product | json | replace: ',"description":"', truncated_description }}
        </pre>
      {% endfor %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
// Theme Editor Javascript API
$(document).on('shopify:section:load', function(e) {
  $(e.target).children('#slick-{{ section.id }}').slick({
    infinite: true,
    autoplay: {% if section.settings.slideshow_autoplay %}true{% else %}false{% endif %},
    dots: false,
    arrows: {% if section.settings.slideshow_arrows %}true{% else %}false{% endif %},
    pauseOnHover: {% if section.settings.slideshow_pause_on_hover %}true{% else %}false{% endif %},
    autoplaySpeed: {{ section.settings.slideshow_speed }}000,
    speed: {{ settings.transition_speed }},
    prevArrow: '{{ previous_icon }}',
    nextArrow: '{{ next_icon }}',
    slidesToShow: 3,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: {{ settings.breakpoint_l }},
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: {{ settings.breakpoint_m }},
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: {{ settings.breakpoint_s }},
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false
        }
      }
    ],
    adaptiveHeight: false
  })
})

{% if section.settings.slideshow_autoplay %}
  $(document).on('shopify:section:select', function(e) {
    $(e.target).children('#slick-{{ section.id }}').slick('slickPause');
  });
  $(document).on('shopify:section:deselect', function(e) {
    $(e.target).children('#slick-{{ section.id }}').slick('slickPlay');
  });
{% endif %}

// Slider
$(document).ready(function() {
  $("#slick-{{ section.id }}").slick({
    infinite: true,
    autoplay: {% if section.settings.slideshow_autoplay %}true{% else %}false{% endif %},
    dots: false,
    arrows: {% if section.settings.slideshow_arrows %}true{% else %}false{% endif %},
    autoplaySpeed: {{ section.settings.slideshow_speed }}000,
    speed: {{ settings.transition_speed }},
    prevArrow: '{{ previous_icon }}',
    nextArrow: '{{ next_icon }}',
    slidesToShow: 3,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: {{ settings.breakpoint_l }},
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: {{ settings.breakpoint_m }},
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: {{ settings.breakpoint_s }},
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false
        }
      }
    ],
    adaptiveHeight: false
  })
})
</script>

{% assign background = blank %}
{% assign foreground = blank %}

{% schema %}
  {
    "name": "Product slideshow",
    "class": "index-section-product-slideshow",
    "settings": [
      {
        "type": "header",
        "content": "Product Slideshow"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "New releases",
        "info": "Will be used as the banner alt text if a banner is present."
      },
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner image",
        "info": "Overwrites the title."
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "You can customise the collection to display the most recent products, by sorting by date."
      },
      {
        "type": "select",
        "id": "limit",
        "label": "Products to show",
        "options": [
          { "value":"10", "label":"10" },
          { "value":"20", "label":"20" },
          { "value":"30", "label":"30" },
          { "value":"40", "label":"40" },
          { "value":"50", "label":"50" }
        ]
      },
      {
        "id": "slideshow_speed",
        "type": "range",
        "label": "Products change every",
        "min": 3,
        "max": 20,
        "step": 1,
        "default": 5,
        "unit": "sec"
      },
      {
        "id": "slideshow_autoplay",
        "type": "checkbox",
        "label": "Autoplay slideshow",
        "default": true
      },
      {
        "id": "slideshow_arrows",
        "type": "checkbox",
        "label": "Display navigation arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "add_to_cart",
        "label": "Display add to cart button",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "quick_look",
        "label": "Display quick look button",
        "default": false
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "options": [
          { "value":"", "label":"Full width" },
          { "value":"xl", "label":"Extra large" },
          { "value":"l", "label":"Large" },
          { "value":"m", "label":"Medium" }
        ],
        "default": "l"
      },
      {
        "type": "select",
        "label": "Background color",
        "id" : "background",
        "options": [
          { "value": "brand", "label": "Brand"},
          { "value": "text", "label": "Text"},
          { "value": "foreground", "label": "Foreground"},
          { "value": "background", "label": "Background"},
          { "value": "alternate", "label": "Alternate"},
          { "value": "highlight", "label": "Highlight"}
        ],
        "default": "background"
      },
      {
        "type": "select",
        "label": "Foreground color",
        "id" : "foreground",
        "options": [
          { "value": "brand", "label": "Brand"},
          { "value": "text", "label": "Text"},
          { "value": "foreground", "label": "Foreground"},
          { "value": "background", "label": "Background"},
          { "value": "alternate", "label": "Alternate"},
          { "value": "highlight", "label": "Highlight"}
        ],
        "default": "text"
      }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Product slideshow",
        "settings": {
          "collection": "frontpage"
        }
      }
    ]
  }
{% endschema %}
