<!-- /sections/theme-popups.liquid -->

{% assign popup_count = 0 %}

{% for block in section.blocks %}

  {% assign show_popup = false %}

  {% if block.settings.id != blank %}
    {% assign selector = block.settings.id | handleize | prepend: 'Popup_' %}
  {% else %}
    {% assign selector = block.id | prepend: 'Popup_' %}
  {% endif %}

  {% assign popup_enable = block.settings.enable %}
  {% assign popup_location = block.settings.location %}
  {% assign popup_location_url = block.settings.location_url %}

  {% assign popup_close = block.settings.close %}
  {% assign popup_header = block.settings.header %}
  {% assign popup_border = block.settings.border %}
  {% assign popup_title = block.settings.title %}
  {% assign popup_content = block.settings.content %}
  {% assign popup_page_content = pages[block.settings.page].content %}
  {% assign popup_link = block.settings.link %}
  {% assign popup_link_text = block.settings.link_text %}

  {% if popup_link_text == blank %}
    {% assign popup_link_text = 'common.shop_now' | t %}
  {% endif %}

  {% unless block.settings.subscribe_button == blank %}
    {% assign button_text = block.settings.subscribe_button %}
  {% endunless %}

  {% if popup_enable %}
    {% if popup_location == 'all_pages' %}
      {% assign show_popup = true %}
    {% elsif popup_location != blank %}
      {% if popup_location_url == blank %}
        {% if template.name == "index" %}
          {% assign show_popup = true %}
        {% endif %}
      {% else %}
        {% if template.name == 'article' or template.name == 'blog' %}
          {% assign popup_location_url_split = popup_location_url | split: '/' %}
          {% if popup_location_url_split[3] and template.name == 'article' %}
            {% if canonical_url contains popup_location_url %}
              {% assign show_popup = true %}
            {% endif %}
          {% elsif template.name == 'blog' %}
            {% if canonical_url contains popup_location_url %}
              {% assign show_popup = true %}
            {% endif %}
          {% endif %}
        {% elsif popup_location_url == '/collections' %}
          {% if template.name != 'collection' and canonical_url contains popup_location_url %}
            {% assign show_popup = true %}
          {% endif %}
        {% elsif canonical_url contains popup_location_url %}
          {% assign show_popup = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if block.type == "popup" %}
    <div id="{{ selector }}" class="popup overlay{% if popup_border %} bordered{% endif %}" role="alert" {{ block.shopify_attributes }}>
      <div class="popup-inner">
        <div class="popup-content{% if popup_header %} popup-header{% endif %}" style="width:{{ block.settings.width | append: 'px' }}">
          <div class="{{ block.settings.align }}">
            {% if popup_header %}
              <div class="popup-header-logo left">
                <img src="{{ 'popup-header--logo.png' | asset_url }}">
              </div>
            {% endif %}

            {% unless block.settings.image == blank %}
              <div class="margin-top margin-bottom-3x">
                <img src="{{ block.settings.image | img_url: '1800x' }}" alt="{{ block.settings.title }}" class="wide">
              </div>
            {% endunless %}

            {% unless popup_title == blank %}<h4 class="no-margin w-bold">{{ popup_title }}</h4>{% endunless %}
            {% if block.settings.subscribe %}<p class="no-margin right w-bold">{{ 'form.subscribe.required' | t }}</p>{% endif %}
            {% unless popup_content == blank %}<div class="rte">{{ popup_content }}</div>{% endunless %}
            {% unless popup_page_content == blank %}<div class="rte">{{ popup_page_content }}</div>{% endunless %}

            {% if block.settings.subscribe %}
              <div class="margin-top">
                {% include 'form-subscribe' with 'detailed' %}
              </div>
            {% elsif popup_link != blank %}
              <a href="{{ popup_link }}" class="button margin-top">{{ popup_link_text }}</a>
            {% endif %}

            {% if popup_close %}
              <div class="right">
                <a href="#close" class="margin-top button bitmap" data-close data-target="#{{ selector }}" aria-label="{{ 'common.close' | t }}">
                  <img src="{{ 'popup-close.jpg' | asset_url }}">
                  <img src="{{ 'popup-close--hover.jpg' | asset_url }}" class="hover">
                </a>
              </div>
            {% else %}
              <a href="#close" class="popup-close" data-close data-target="{{ selector }}" aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script>
      var {{ selector }} = new Focus('#{{ selector }}', {
        {% if block.settings.width == 0 %}innerSelector: '.popup-outside',{% endif %}
        {% if block.settings.detailed_form %}autoFocusSelector: 'form input[type="text"]:first'{% else %}autoFocusSelector: 'form input[type="email"]:first'{% endif %}
      });
    </script>
  {% endif %}

  {% if show_popup %}
    {% assign popup_count = popup_count | plus: 1 %}

    {% if section.settings.multiple or popup_count < 2 %}
      <script>
        $(document).ready(function() {
          {% if section.settings.clear_cookies %}
            Cookies.remove('{{ selector }}');
          {% endif %}
          setTimeout(function() {
            if (Cookies.get('{{ selector }}') == null) {
              {{ selector }}.show();
              setTimeout(function() {
                $("#{{ selector }} input[type=email]").focus();
              }, 100);
            }
          }, {{ block.settings.delay }});

          $(document).on("focus:close", function(event, target) {
            if ($(target).is('#{{ selector }}')) {
              Cookies.set('{{ selector }}', true, { expires: {{ block.settings.expires }}});
            }
          });
        });
      </script>
    {% endif %}
  {% endif %}

{% endfor %}

<script>
  // Theme Editor Javascript API
  $(document).on('shopify:block:deselect', function(e) {
    if (e.originalEvent.detail.sectionId == 'theme-popups') {
      var blockPopup = new Focus(e.target);
      blockPopup.hide();
    }
  });

  $(document).on('shopify:block:select', function(e) {
    if (e.originalEvent.detail.sectionId == 'theme-popups') {
      var blockPopup = new Focus(e.target);
      blockPopup.show();
    }
  });
</script>

{% schema %}
  {
    "name": "Popups",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "multiple",
        "label": "Allow multiple popups to show",
        "default": true,
        "info": "If disabled, only the first avaliable popup will be shown"
      },
      {
        "type": "checkbox",
        "id": "clear_cookies",
        "label": "Editing mode",
        "default": false,
        "info": "Use when editing to clear local cookies for all popups"
      }
    ],
    "blocks": [
      {
        "type": "popup",
        "name": "Popup",
        "settings": [
          {
            "type": "header",
            "content": "Popup"
          },
          {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable this popup",
            "default": true
          },
          {
            "type": "text",
            "id": "id",
            "label": "Popup ID",
            "placeholder": "Optional",
            "info": "Create a unique ID for this popup that can be referenced from other links"
          },
          {
            "type": "select",
            "id": "location",
            "label": "Automatically display",
            "options": [
              {
                "value": "",
                "label": "Nowhere"
              },
              {
                "value": "all_pages",
                "label": "On all Pages"
              },
              {
                "value": "specific",
                "label": "On a specific page"
              }
            ],
            "default": "all_pages"
          },
          {
            "type": "url",
            "id": "location_url",
            "label": "A specific page",
            "info": "Leave blank to show on the home page"
          },
          {
            "type": "select",
            "id": "delay",
            "label": "Show after",
            "options": [
              {
                "value": "500",
                "label": "Page loads"
              },
              {
                "value": "5000",
                "label": "5 seconds"
              },
              {
                "value": "10000",
                "label": "10 seconds"
              }
            ],
            "default": "500"
          },
          {
            "type": "select",
            "id": "expires",
            "label": "Show again",
            "options": [
              {
                "value": "1",
                "label": "After a day"
              },
              {
                "value": "7",
                "label": "After a week"
              },
              {
                "value": "30",
                "label": "After a month"
              },
              {
                "value": "365",
                "label": "After a year"
              }
            ],
            "default": "1",
            "info": "Time after popup has been dismissed until it will show again"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "checkbox",
            "id": "header",
            "label": "Display header",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "close",
            "label": "Display close button",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "border",
            "label": "Display border around popup",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New popup"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "placeholder": "Shop Now"
          },
          {
            "type": "range",
            "id": "width",
            "label": "Width",
            "min": 0,
            "max": 1000,
            "step": 50,
            "default": 500,
            "unit": "px"
          },
          {
            "type": "header",
            "content": "Subscribe form"
          },
          {
            "type": "checkbox",
            "id": "subscribe",
            "label": "Display subscribe form"
          },
          {
            "type": "text",
            "id": "subscribe_button",
            "label": "Submit button",
            "placeholder": "Sign up"
          },
          {
            "type": "header",
            "content": "Style"
          },
          {
            "type": "select",
            "id": "align",
            "label": "Content alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ]
  }
{% endschema %}
