<ul class="list--inline pagination">
  <li>
    {% unless paginate.previous.is_link %}
      <div class="disabled">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.previous.url }}" class="">
        
        <i class="icon__fallback-text arrow arrow-left">{{ 'general.pagination.previous' | t }}</i>
      </a>
    {% endunless %}
  </li>
  {% for i in (1..paginate.pages)%}
  
  {% if paginate.pages > 7 %}
    {% assign _diff = paginate.pages | minus:i %}
    {% assign _curr_diff = paginate.current_page | minus:i | abs %}
    {% if i < 4 or _diff < 3 or _curr_diff < 2 %}
    <li class="pagination__text">
      <a href="?page={{i}}">{{i}}</a>
    </li>
    {% elsif _diff == 5 or _curr_diff == 2 %}
    <li class="pagination__text">
      <a href="">...</a>
    </li>
    {% endif %}
  {% else %}
  <li class="pagination__text">
    <a href="?page={{i}}">{{i}}</a>
  </li>
  {% endif %}
  {% endfor %}
  <li>
    {% unless paginate.next.is_link %}
      <div class="disabled">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </div>
    {% else %}
      <a href="{{ paginate.next.url }}" class="">
        
        <i class="icon__fallback-text arrow arrow-right">{{ 'general.pagination.next' | t }}</i>
      </a>
    {% endunless %}
  </li>
</ul>
