{% if settings.powerreviews_enabled %}
<script>
/*******************************************************************
If Reviews Output Is Placed In JQuery UI Tab, Open Tab Upon
Review Snippet Count Click.
Note: The JQuery UI Tab ID Needs To Be Updated Before Use
*******************************************************************/
var checkJQuery = setInterval(function() {
  if(jQuery == undefined || $ != jQuery) {
    return;
  }

  $(function() {
    var checkPRSnippetReviewCount = setInterval(function() {
      if(!$('.pr-snippet-review-count').length) {
        return;
      }
      clearInterval(checkPRSnippetReviewCount);
      if($('.ui-tabs > .ui-tabs-nav').length) {
        $('.pr-snippet-review-count').click(function() {
          $('#tabs > ul[role="tablist"] > li[role="tab"] > a[id="ui-id-3"]').trigger('click');
        });
      }
    }, 100);
  });

  clearInterval(checkJQuery);
}, 100);
</script>

<div id="pr-reviewsnippet"></div>
{% endif %}
