/*================ Typography ================*/ 

@font-face {
  font-family: 'BluuNext-Bold'; 
  src: url('BluuNext-Bold.otf') format('opentype');
}

@font-face { 
  font-family: 'BluuNext-BoldItalic'; 
  src: url('BluuNext-Bolditalic.otf') format('opentype'); 
} 

@font-face { 
  font-family: 'Butler'; 
  src: url('Butler_Regular.otf') format('opentype');
} 

@font-face { 
  font-family: 'Butler-Light'; 
  src: url('Butler_Light.otf') format('opentype');
} 

@font-face { 
  font-family: 'Butler-Medium'; 
  src: url('Butler_Medium.otf') format('opentype');
} 

@font-face { 
  font-family: 'Butler-Black'; 
  src: url('Butler_Black.otf') format('opentype');
} 

@font-face { 
  font-family: 'Butler-ExtraBold'; 
  src: url('Butler_ExtraBold.otf') format('opentype');
} 

@font-face { 
  font-family: 'Butler-UltraLight'; 
  src: url('Butler_Ultra_Light.otf') format('opentype');
} 

@font-face { 
  font-family: 'CircularStd-Black'; 
  src: url('CircularStd-Black.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-BoldItalic'; 
  src: url('CircularStd-BoldItalic.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-Book'; 
  src: url('CircularStd-Book.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-BookItalic'; 
  src: url('CircularStd-BookItalic.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-BlackItalic'; 
  src: url('CircularStd-BlackItalic.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-Bold'; 
  src: url('CircularStd-Bold.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-Medium'; 
  src: url('CircularStd-Medium.ttf') format('truetype');
} 

@font-face { 
  font-family: 'CircularStd-MediumItalic'; 
  src: url('CircularStd-MediumItalic.ttf') format('truetype');
} 

@font-face { 
  font-family: 'Mason-Regular'; 
  src: url('MasonRegular.ttf') format('truetype');
}

@font-face { 
  font-family: 'Mason-Bold'; 
  src: url('MasonSansBold.ttf') format('truetype');
}

@font-face { 
  font-family: 'Sofia-Pro-Bold'; 
  src: url('SofiaProBold.ttf') format('truetype');
}

@font-face { 
  font-family: 'Sofia-Pro-Medium'; 
  src: url('SofiaProMedium.ttf') format('truetype');
}

@font-face { 
  font-family: 'Sofia-Pro-Regular'; 
  src: url('SofiaProRegular.ttf') format('truetype');
}

@font-face { 
  font-family: 'Sofia-Pro-SemiBold'; 
  src: url('SofiaProSemiBold.ttf') format('truetype');
}

@font-face { 
  font-family: 'Sofia-Pro-UltraLight'; 
  src: url('SofiaProUltraLight.ttf') format('truetype');
}

/**** Checkout Colors ****/
$color-beige: #e7da9a; 
$color-tan: #cdb373; 
$color-sepia: #996e2d; 
$color-light-brown: #cec094; 
$color-dirt-brown: #85693d;  
$color-dark-grey-blue: #2d4157; 
$color-dull-red: #b04733; 
$color-brownish-grey: #757575; 
$color-black: #000000; 
$color-black-two: #202020; 
$color-black-three: #333333; 
$color-brown-grey: #a8a8a8; 
$color-white: #fff; 
$color-very-light-brown: #cec094; 
$color-pale: #e7e3db;  
$color-cloudy-blue: #bec1c9; 
$color-slate-grey: #616970; 
$color-error: #ff6e6e; 

body {
	.banner {
		display: block; 
		background-color: #202020; 
		border-bottom: 1px solid $color-tan; 
	} 

	.order-summary-toggle { 
		background-color: $color-black-two; 
		border: none; 

		.wrap { 
			.order-summary-toggle__inner { 
				.order-summary-toggle__icon-wrapper {
					display: none; 
				} 

				.order-summary-toggle__text { 
					font-family: 'Sofia-Pro-SemiBold';
					font-size: 12px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.33;
					letter-spacing: normal;
					text-align: center; 
					color: $color-white; 

					&>.order-summary-toggle__dropdown {
						fill: $color-white; 
						display: block; 
						margin: 7px auto; 
					} 
				}

				.order-summary-toggle__total-recap { 
					display: none; 
				}
			}
		} 

		&.order-summary-toggle--hide { 
			.wrap { 
				.order-summary-toggle__inner { 

					.order-summary-toggle__text { 
						position: relative; 

						&>.order-summary-toggle__dropdown {
							fill: transparent;  
						} 

						&:before {
							content: '';
							display: inline-block;
							width: 17px;
							height: 1px;
							background: #fff;
							transform: rotate(-45deg);
							position: absolute;
							right: calc(50% - 8.5px);
							top: 27px; 
						} 

						&:after {
							content: '';
							display: inline-block;
							width: 17px;
							height: 1px;
							background: #fff;
							transform: rotate(45deg);
							position: absolute;
							right: calc(50% - 8.5px);
							top: 27px; 
						} 
					}

					.order-summary-toggle__total-recap { 

					}
				}
			} 	
		}
	}

	.content { 
		.wrap {
			width: 100%;
			display: block;
			max-width: 100%;
			padding: 0px;
			margin: 0px; 

			.main {
				background: #202020 url(//cdn.shopify.com/s/files/1/0042/7242/2986/files/bkgd_checkout.png?61986) no-repeat; 
				background-size: cover; 
				background-position: center; 
				padding-right: 0px; 

				.main__header {
					.logo {
						display: none; 
					} 

					.breadcrumb {
						.breadcrumb__item { 
							 

							.breadcrumb__link, 
							.breadcrumb__text {
								font-family: 'Sofia-Pro-Regular';
								font-size: 12px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: normal;
								color: $color-brown-grey;  
							} 

							.icon-svg { 
								fill: transparent; 
								border-right: 1px solid $color-brown-grey; 
								transform: rotate(25deg); 
								width: 0px; 
							} 

							&.breadcrumb__item--completed {
								.breadcrumb__link {
									color: $color-very-light-brown; 
								}
							} 

							&.breadcrumb__item--current {

							} 

							&.breadcrumb__item--blank { 

							} 
						}
					}
				} 

				.main__content {
					max-width: 500px;
					margin: auto; 

					.step { 

						.step__sections { 
							
							::placeholder {
							  color: $color-white;
							  opacity: 1; /* Firefox */   
							}

							:-ms-input-placeholder { /* Internet Explorer 10-11 */
							 color: $color-white;
							}

							::-ms-input-placeholder { /* Microsoft Edge */
							 color: $color-white;
							}  

							.section { 

								.section__header { 
									margin-bottom: 5px; 

									.section__title { 
										font-family: 'Mason-Bold'; 
										font-size: 12px;
										font-weight: bold;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.08;
										letter-spacing: 1px;
										color: $color-white; 
									} 

									p { 
										font-family: 'Sofia-Pro-Regular'; 

										a {
											font-family: 'Sofia-Pro-SemiBold'; 
											color: $color-very-light-brown; 
										} 
									}
								} 

								.section__content { 
									font-family: 'Sofia-Pro-Regular'; 

									.fieldset { 
										
										.field__input-wrapper { 
											
											.field__input { 


												&#checkout_email_or_phone { 

													&+.flag-selector { 
														content: ''; 
														display: block;
														color: transparent;  
														height: 16px; 
														width: 16px; 
														background: url(//cdn.shopify.com/s/files/1/0042/7242/2986/t/9/assets/mail.svg?61986) no-repeat; 
														background-size: cover; 
														background-position: center; 
														padding: 0px; 
														margin-right: 18px; 
													}
												}
											} 

											.field__caret { 
												display: none; 
											}
										}
									}

									.checkbox-wrapper {
										font-family: 'Sofia-Pro-Regular';
										font-size: 12px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: normal;
										letter-spacing: normal;
										color: $color-brown-grey; 
									}
								} 

								&#gift_note {

									.section__title {	
										font-family: 'Mason-Bold'; 
									}

								}
							}
						}  

						.step__footer { 

							&>div {
								width: 100%; 
							}
							
							.btn { 
								display: block;
								width: 100%;
								padding: 15px 0px;
								border-radius: 30px; 
								margin-top: 60px; 

								.btn__content {	
									font-family: 'Sofia-Pro-SemiBold';
									font-size: 12px;
									font-weight: 600;
									font-style: normal;
									font-stretch: normal;
									line-height: 2;
									letter-spacing: 0.5px;
									text-align: center;
									color: $color-black;  
									text-transform: uppercase;    
								}	
							} 

							a {
								&.step__footer__previous-link { 
									display: none; 
								} 

								&.btn {
									display: block; 
								}
							}
						}
					} 

					.section {
						/* Order Summary Page Styling */
						.os-header {

							.os-header__heading {
								.os-order-number {
									font-family: 'Sofia-Pro-Regular';
									font-size: 12px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: normal;
									letter-spacing: normal; 
									color: $color-white;  
								} 

								.os-header__title {
									font-family: 'Sofia-Pro-SemiBold';
									font-weight: bold;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.08;
									letter-spacing: 1px;
									color: $color-white; 
								}
							} 

							@media only screen and (max-width: 999px) {
								.os-header__hanging-icon {
									position: relative;
									right: unset;
									top: unset;
									-webkit-transform: translateY(0%);
									transform: translateY(0%);
									margin-right: 1.5em; 
								}
							}
						} 

						.content-box {
							.content-box__row {
								h2, 
								h3 {
									font-family: 'Sofia-Pro-SemiBold';
									font-weight: bold;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.08;
									letter-spacing: 1px;
									color: $color-white;  

								}

								span, 
								p {
									font-family: 'Sofia-Pro-Regular';
									font-size: 12px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: normal;
									letter-spacing: normal; 
									color: $color-brown-grey; 
								}
							}
						}

						.os-step__title {
							font-family: 'Sofia-Pro-SemiBold';
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							line-height: 1.08;
							letter-spacing: 1px;
							color: $color-white; 
						} 

						.os-step__description {
							font-family: 'Sofia-Pro-Regular';
							font-size: 12px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: normal; 
							color: $color-white;  
						}
					} 

					.step__footer { 
						display: block; 

						&>div {
							width: 100%; 
						}
						
						.btn { 
							display: block;
							width: 100%;
							padding: 15px 0px;
							border-radius: 30px; 
							margin-top: 60px; 
							float: none; 

							.btn__content {	
								font-family: 'Sofia-Pro-SemiBold';
								font-size: 12px;
								font-weight: 600;
								font-style: normal;
								font-stretch: normal;
								line-height: 2;
								letter-spacing: 0.5px;
								text-align: center;
								color: $color-black;  
								text-transform: uppercase;    
							}	
						} 

						p {
							display: block; 
							width: 100%; 
							margin-top: 24px; 
						}

						a {
							&.step__footer__previous-link { 
								display: none; 
							} 
						}
					}	
				} 

				@media only screen and (max-width: 999px) { 
					padding-left: 4%; 
					padding-right: 4%; 
				}
			} 

			.sidebar { 
				float: none; 
				padding-right: 4%; 
				width: 34%; 

				.sidebar__header { 

				} 

				.sidebar__content { 

					.order-summary { 

						.order-summary__sections { 

							.order-summary__section {

								.order-summary__section__content { 

									.product {
										@media only screen and (max-width: 999px) {
											border-bottom: 1px solid #434343; 
										} 

										&>td {
											@media only screen and (max-width: 999px) {
												padding-top: 24px; 
												padding-bottom: 24px; 
											} 
										} 

										&:last-child {
											@media only screen and (max-width: 999px) {
												border-bottom: none; 
											} 

											&>td {
												@media only screen and (max-width: 999px) {
													padding-bottom: 0px; 
												} 
											}
										}
									}

									.product__image {

										.product-thumbnail {

											@media only screen and (max-width: 999px) { 
												border-radius: 0px; 
											}
										}
									}

									.product__description { 
										font-family: 'Sofia-Pro-Regular';
										font-size: 12px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.33;
										letter-spacing: normal;
										color: $color-white; 
										vertical-align: top;  

										.product__description__name { 

										} 

										.product__description__variant {
											font-size: 12px; 
											color: $color-white; 

											&.product__description__variant-size {

												&:before { 
													content: 'Size: '; 
													display: inline-block; 
												}  
											}
										} 
									}

									.product__price { 

										span { 
											font-family: 'Sofia-Pro-SemiBold';
											font-size: 14px;
											font-weight: 600;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											letter-spacing: 0.5px;
											text-align: right;
											color: $color-brown-grey; 
											text-decoration: line-through;  

											&.order-summary__emphasis {
												font-family: 'Sofia-Pro-Regular';
												font-size: 18px;
												font-weight: normal; 
												letter-spacing: normal;
												text-decoration: none; 

												&+span {
													display: none; 
												}
											} 

										}
									}
								} 

								.total-line-table { 
									
									.total-line {

										.total-line__name { 
											font-family: 'Sofia-Pro-Regular';
											font-size: 18px;
											font-weight: normal;
											font-style: normal;
											font-stretch: normal;
											line-height: 1.33;
											letter-spacing: normal;
											color: $color-brown-grey;  

											&:before {
												display: none; 
											}
										} 

										.total-line__price { 
											.order-summary__emphasis, 
											.order-summary__small-text { 
												font-family: 'Sofia-Pro-SemiBold';
												font-size: 18px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.33;
												letter-spacing: 0.8px;
												text-align: right;
												color: $color-brown-grey; 
											}   

											&:before { 
												display: none; 
											}
										} 
									} 

									.total-line-table__footer {

										.total-line { 

											.total-line__name { 
												.payment-due-label__total {
													color: $color-white; 
													font-size: 18px; 
												}
											} 

											.total-line__price, 
											.payment-due__price { 
												color: $color-white; 
												font-family: 'Sofia-Pro-SemiBold'; 
												font-size: 24px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1;
												letter-spacing: 1px;
												text-align: right; 
											} 

											.payment-due__currency {
												display: none; 
											}
										} 

										&:before { 
											content: '';
											position: absolute;
											left: 0;
											width: 80.954%;
											height: 1px;
											background-color: #434343;
											margin-top: 24px;
											margin-left: 9.523%;
											display: block;  

											@media only screen and (max-width: 999px) { 
												width: 92%; 
												margin-left: 4%; 
											}
										} 
									} 
								}
							}

						}
					}
				} 

				@media only screen and (max-width: 999px) {
					width: auto; 
					padding-left: 4%; 
					padding-right: 4%; 
				}
			}
		}
	}
} 

.field__message--error, 
.field--error {
	color: $color-error !important; 

	.field__input {
		border-color: $color-error !important; 
		box-shadow: 0 0 0 1px $color-error !important; 
	}
} 
 
