.consent-manager-cta {
  right: 0;
  width: 0;
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  z-index: 999;
  position: fixed;
  background: #FFF;
  box-shadow: -2px 4px 15px 0px #0000004a;
  border-radius: 5px 0 0 5px; 
  display: none; 
}
.consent-manager-cta img {
  width: 50px;
  height: 50px;
}


.consent-manager-mini {
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 99;
  display: none;
  position: fixed;
  background: #FFF;
  box-shadow: 0px 3px 15px #0000004a;
  text-align: left;
}
.consent-manager-mini .container {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 600px; 
  font-size: 14px; 
  line-height: 20pt; 
  color: #10141B; 
}
.consent-manager-mini .container a {
  color: #10141B;
}
.consent-manager-mini .container span {

}
.consent-manager-mini .container span a {
  color: #000;
  text-decoration: underline;
}
.consent-manager-mini .container form#ConsentForm {
  margin: 10px 0;
  display: block;
  overflow: auto;
}
.consent-manager-mini .container form#ConsentForm .accept-consent-option {
  float: left;
  width: 100%;
}
.consent-manager-mini .container form#ConsentForm .accept-consent-option input[type="submit"] {
  float: left;
  cursor: pointer;
  border: 0;
  padding: 11px 60px;
  font-size: 12px;
  margin: 15px 0;
  font-weight: 600;
  height: 50px;
  display: inline-block;
  line-height: 2.4;
  white-space: normal;
  font-family: 'Sofia-Pro-SemiBold', Arial, sans-serif;
  border-radius: 30px;
}
.consent-manager-mini .container form#ConsentForm .accept-consent-option span {
  clear: both;
  display: block;
  width: 100%;
}
.consent-manager-mini .container form#ConsentForm .additional-consent-options {
  float: right;
}
.consent-manager-mini .container form#ConsentForm .additional-consent-options a {
  padding: 0 5px;
  line-height: 41px;
  text-decoration: underline;
}


.consent-manager-extended {
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  z-index: 99;
  display: none;
  position: fixed;
  background: #FFF;
  box-shadow: 0px 3px 15px #0000004a;
  text-align: left;
}
.consent-manager-extended .container {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 600px;
}
.consent-manager-extended .container a {
  color: #000;
}
.consent-manager-extended .container span {

}
.consent-manager-extended .container span a {
  color: #000;
  text-decoration: underline;
}
.consent-manager-extended .container form#ConsentForm {
  margin: 10px 0;
  display: block;
  overflow: auto;
}
.consent-manager-extended .container form#ConsentForm .accordion {
  max-width: 560px;
	margin: 0 auto 0 auto;
}
.consent-manager-extended .container form#ConsentForm .accordion li {
	position: relative;
  width: 100%;
  float: left;
}
.consent-manager-extended .container form#ConsentForm .accordion li input[type="checkbox"] {
  float: left;
  width: 5%;
  margin: 15px 0;
}
.consent-manager-extended .container form#ConsentForm .accordion li p {
  display: none;
  font-size: 13px;
  float: right;
  width: 92%;
}
.consent-manager-extended .container form#ConsentForm .accordion li a {
  width: 95%;
  float: left;
  color: #000;
	display: block;
	cursor: pointer;
	font-weight: 600;
	line-height: 3;
	font-size: 14px;
	text-indent: 15px;
	user-select: none;
}
.consent-manager-extended .container form#ConsentForm .accordion li a:hover {
  text-decoration: none;
}
.consent-manager-extended .container form#ConsentForm .accordion li a:after {
  width: 8px;
	height: 8px;
  border-right: 1px solid #4a6e78;
	border-bottom: 1px solid #4a6e78;
	position: absolute;
	right: 10px;
	content: " ";
	top: 17px;
	transform: rotate(-45deg);
}
.consent-manager-extended .container form#ConsentForm .accordion li a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.consent-manager-extended .container form#ConsentForm input[type="submit"] {
  float: right;
  cursor: pointer;
  border: 0;
  padding: 10px 60px;
  font-size: 12px;
  margin: 15px 0;
  font-weight: 600;
  height: 48px;
  display: inline-block;
  line-height: 2.4;
  white-space: normal;
  font-family: 'Sofia-Pro-SemiBold', Arial, sans-serif;
  border-radius: 30px;
}

.consent-manager-extended .container form#ConsentForm a.navigate-back {
  float: left;
  line-height: 41px;
}
