<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="e3723SBiA3A2eWuDPPwsbOLxe9HElb5TvLZRBMeVdJ0" />
  <meta name="google-site-verification" content="WwHns7l2CnDPjSP_ZoOLC2quCU4QOki9zWSpzYXD2aU" />

  <title>
    {{ page_title }}

    {% if current_tags %}
      &#8211; {{ current_tags | join: ', ' }}
    {% endif %}

    {% if current_page != 1 %}
      &#8211; {{ 'general.pagination.page' | t: page_number: current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &#8211; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.custom-css != blank %}
    <style>
      {{ settings.custom-css }}
    </style>
  {% endif %}

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.8.2.min.js' | asset_url | script_tag }}

  <!-- Theme object -->
  {% include 'theme-options' %}

  <script>
    window.products = {};
  </script>

  {% include 'consent-manager' %}

{% include 'sca.freegifts' %}

{% include 'field-validation' %}
{% include 'consent-management' %}
</head>

<body class="{% if customer %}customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}  {% if settings.blog-promo %}has-promo{% endif %} {% if settings.related-products and collection.products.size > 1 and template contains 'product' %}has-related-products-{{ settings.related-products-position }}{% endif %} {% if settings.product-hover == 'quick-shop' %}has-quick-shop{% endif %} loading" >

  {% include 'quick-shop' %}

  {% section 'header' %}

  <div class="main-content">
    {{ content_for_layout }}
  </div>

  {% section 'footer' %}

  <!-- Scripts -->
  {{ 'jquery-1.11.1.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'cart' %}
    {{ "/services/javascripts/countries.js" | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'plugins.js'  | asset_url | script_tag }}
  {{ 'theme.js'  | asset_url | script_tag }}

</body>
</html>
