<style>
  .mob_header{
    display: none;
  }
  @media only screen and (max-width: 767px){
    .desktop_header{
	  display: none;
    }
    .mob_header{
	  display: block;
    }
  }
</style>

<div data-section-id="{{ section.id }}">
{% assign number = section.settings.products_per_page %}
{% paginate collection.products by number %}

<div class="section-title desktop-12 mobile-3">
  {% if collection.image %}
  <a href="/collections/die-hard">{{ collection.image.src | collection_img_url: 'master' | img_tag: collection_title }}</a>
  {% else %} 
  <h1>{% if collection.handle == 'all' %}{{ 'collections.general.all_products' | t }}{% else %}{{ collection.title }}{% endif %}</h1>
  {% endif %}
</div>

<br style="clear: both;">
  
<div class="collection-template-main-content">

  {% include 'breadcrumb' %}
  

  {% if section.settings.show_collection_sidebar %}
  {% include 'collection-sidebar-white' %}
  {% endif %}

  <div class="{% if section.settings.show_collection_sidebar %}desktop-10{% else %}desktop-12{% endif %} tablet-6 mobile-3" id="bside">
	<div class="collection-template-toolbar">
      <div class="toolbar-wrap">
        {% if section.settings.sort_by %}
        <label>{{ 'collections.sorting.title' | t }}</label> 
        <div class="sortby-selector">
          <select id="sort-by" class="styled-select">
            <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
            <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
            <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
            <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
            <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
            <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
            <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
          </select>
        </div>
        {% endif %}
      </div>
    </div>
    {% if collection.description != blank %}
    <div id="collection-description"> 
      <div class="rte">{{ collection.description | remove: "[banner]" }}</div>  
    </div>  
    {% endif %}

    <div class="clear"></div>  

    <div id="product-loop">
      {% for product in collection.products %}
      {%include 'sca_freegift_price' with product %}
      <div class="product {% if section.settings.products_per_row  == 2 %}desktop-6{% cycle ' first', ' last' %}{% elsif section.settings.products_per_row  == 3 %}desktop-4{% cycle ' first', '', ' last' %}{% elsif section.settings.products_per_row == 4 %}desktop-3{% cycle ' first', '', '', ' last' %}{% endif %} tablet-half mobile-half" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
      {% include 'product-listing' %}
      </div>
      {% endfor %} 
    </div>
    {% include 'pagination' %}
  </div>
  
  
  
  <div class="clear"></div>

  

  {% endpaginate %}
</div>

</div>
{% schema %}
{
    "name": "Collection Page",
  	"max_blocks":5,
    "settings": [
      {
        "type": "range",
        "id": "products_per_row",
        "min": 2,
        "max": 4,
        "step": 1,
        "label": "Products per row",
        "default":4 
      }, 
      {
        "type": "range",
        "id": "products_per_page",
        "min": 12,
        "max": 48,
        "step": 1,
        "label": "Products per page",
        "default":30 
      }, 
      {
        "type": "checkbox",
        "id": "show_collection_sidebar",
        "label": "Enable sidebar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sticky-sidebar",
        "label": "Make sidebar sticky"
      },
      {
        "type": "checkbox",
        "id": "sort_by",
        "label": "Show sort by",
        "default": true
      }
    ],
   "blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "side_nav",
               "label": "Sidebar menu"
            },
           {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Explore"
           }
         ]
      },
      {  
         "type":"vendor_list",
         "name":"Vendor list",
		 "limit": 1,
         "settings":[  
          {
          "type": "text",
          "id": "shop_by_designer_title",
          "label": "Vendor list title",
          "default": "Shop by Designer"
          }
         ]
      }
   ]
  }
{% endschema %} 
