<section class="index-section homepage-products no-fouc" data-section-id="{{ section.id }}">
{%- assign collection = collections[section.settings.collection] -%}
{%- assign prod_limit = section.settings.limit -%}
  
  {% if section.settings.title != blank %}
  <div class="section-title row">
    <h2><a href="{{ collection.url }}">{{ section.settings.title | escape }}</a></h2>
  </div>
  {% endif %}
  <div class="row"> 
    
    {% if section.settings.homepage-product-layout == 'grid' %}
    
    {% case section.settings.grid %}
    {% when 2 %}
    {%- assign grid_item_width = 'desktop-6 tablet-3 mobile-half' -%}
    {% when 3 %}
    {%- assign grid_item_width = 'desktop-4 tablet-2 mobile-half' -%}
    {% when 4 %}
    {%- assign grid_item_width = 'desktop-3 tablet-2 mobile-half' -%}
    {% endcase %}   
    
    <article class="product-loop">
      {% for product in collection.products limit: prod_limit  %}
      <div class="product {{ grid_item_width }} mobile-half" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
    </article> 

    {% elsif section.settings.homepage-product-layout == 'carousel' %}

    <div class="collection-carousel">
      {% for product in collection.products limit: prod_limit  %}
      <div class="lazyOwl product" data-alpha="{{ product.title }}" data-price="{{ product.price }}">     
        {% include 'product-listing' %}
      </div>
      {% endfor %} 
    </div>

    {% endif %}
    
    {% if section.settings.collection == blank %}
    {% include 'onboard-product' %}
    {% endif %}

  </div>
</section>
<div class="clear"></div>

<style>
  /* HOMEPAGE PRODUCTS */
  section.homepage-products {
    background: {{ section.settings.homepage-collection-background }};
  }

  section.homepage-products .section-title h2, section.homepage-products .fr a { 
    color: {{ section.settings.homepage-collection-title-color }}! important; 
  }
</style>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
	{
        "type": "select",
        "id": "homepage-product-layout",
        "label": "Show grid or carousel",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 2,
        "max": 30,
        "step": 2,
        "label": "Products shown",
        "default": 4
      }, 
      {
        "type": "range",
        "id": "grid",
        "min": 2,
        "max": 4,
        "step": 1,
        "label": "Products per row",
		"info": "Grid usage only",
        "default": 4
      },       
     {
        "type": "color",
        "id": "homepage-collection-title-color",
        "label": "Title",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "homepage-collection-background",
        "label": "Background",
        "default": "#fff"
      }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
