<section class="index-section homepage-section homepage-promo no-fouc" data-section-id="{{ section.id }}" >
  <article id="promo-images" class="row">
    {%- assign image_size = '1200x' -%}    
    {% for block in section.blocks %}
    {% case block.settings.image_width %}
    {% when '25%' %}
    {%- assign image_width = 'desktop-3 tablet-fourth' -%}
    {% when '33%' %}
    {%- assign image_width = 'desktop-4 tablet-2' -%}
    {% when '37%' %}
    {%- assign image_width = 'gateway-top-right-tout' -%}
    {% when '40%' %}
    {%- assign image_width = 'desktop-5 tablet-2' -%}
    {% when '50%' %}
    {%- assign image_width = 'desktop-6 tablet-3' -%}
    {% when '60%' %}
    {%- assign image_width = 'gateway-top-left-tout' -%}
    {% when '66%' %}
    {%- assign image_width = 'desktop-7 tablet-3' -%}
    {% when '70%' %}
    {%- assign image_width = 'desktop-8 tablet-4' -%}
    {% when '75%' %}
    {%- assign image_width = 'desktop-9 tablet-three-fourths' -%} 
    {% when '100%' %}
    {%- assign image_width = 'gateway-fullwidth' -%}     
    {% endcase %}  


    {%- assign img_url = block.settings.image | img_url: image_size -%}
    <div class="pimg homepage-promo {{ image_width }} promo-{{ block.id }}" {{ block.shopify_attributes }}>  
      <div class="promo-inner">
        <a href="{{ block.settings.link }}">
          {% if block.settings.image != blank %}
          <img src="{{ img_url }}">
          {% else %}
          <div class="onboard">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}
          <div class="caption">
            {% if block.settings.title_text != blank %}
            <p>{{ block.settings.title_text | escape }}</p>
            {% endif %}
          </div>
        </a>
      </div>      
    </div>
    
    <style>
      .homepage-promo.promo-{{ block.id }} .promo-inner p {
        color: {{ block.settings.promo_color }};
      }
      /* IMAGE BLOCKS */
      section.homepage-promo { 
        background-color: {{ section.settings.promo-background-color }};
      }   
      
      section.homepage-promo, section.homepage-promo .caption p { 
        font-size: {{ section.settings.promo-text-size }}px; 
        font-weight: {{ section.settings.promo-text-weight }};
      }

    </style>
    {% endfor %}
    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
  </article>
</section>



{% schema %}
{
  "name": "Gallery",
  "max_blocks": 4,
  "settings": [
      {
      "type": "color",
      "id": "promo-background-color",
      "label": "Background",
      "default": "#fff"
      },     
      {
        "type": "select",
        "id": "promo-text-weight",
        "label": "Featured images weight",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
        "type": "range",
        "id": "promo-text-size",
        "min": 12,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Featured images text",
        "default": 24
      }  
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
    	{
          "type": "select",
          "id": "image_width",
          "label": "Image width",
          "default": "33%",
          "options": [
			{  
               "value":"25%",
               "label":"25%"
            },
			{  
               "value":"33%",
               "label":"33%"
            },
            {  
               "value":"37%",
               "label":"37%"
            },
			{  
               "value":"40%",
               "label":"40%"
            },
            {  
               "value":"50%",
               "label":"50%"
            },
            {  
               "value":"60%",
               "label":"60%"
            },
			{  
               "value":"70%",
               "label":"70%"
            },
            {  
               "value":"75%",
               "label":"75%"
            },
            {  
               "value":"100%",
               "label":"100%"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
       {
        "type": "text",
        "id": "title_text",
        "label": "Image title",
        "default": "Our collections"
       },
      {
        "type": "color",
        "id": "promo_color",
        "label": "Text",
        "default": "#ffffff"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}