<div data-section-id="{{ section.id }}">

<div class="section-title desktop-12 mobile-3">
  {% if collection.image %}
  {{ collection.image.src | collection_img_url: 'master' | img_tag: collection_title }}
  {% else %} 
  <h1>{% if collection.handle == 'all' %}{{ 'collections.general.all_products' | t }}{% else %}{{ collection.title }}{% endif %}</h1>
  {% endif %}
</div>


</div>

<div class="clear"></div>

{% schema %}
{
    "name": "Gateway Page",
  	"max_blocks":5,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_sidebar",
        "label": "Enable sidebar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sticky-sidebar",
        "label": "Make sidebar sticky"
      }
    ],
   "blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "side_nav",
               "label": "Sidebar menu"
            },
           {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Explore"
           }
         ]
      },
      {  
         "type":"vendor_list",
         "name":"Vendor list",
		 "limit": 1,
         "settings":[  
          {
          "type": "text",
          "id": "shop_by_designer_title",
          "label": "Vendor list title",
          "default": "Shop by Designer"
          }
         ]
      }
   ]
  }
{% endschema %} 