<section data-section-id="{{ section.id }}">
  {% if section.settings.show_collection_sidebar %}
  {% include 'gateway-sidebar' %}
  {% endif %}
</section>

{% schema %}
{
    "name": "Gateway Page",
  	"max_blocks":5,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_sidebar",
        "label": "Enable sidebar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sticky-sidebar",
        "label": "Make sidebar sticky"
      }
    ],
   "blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "side_nav",
               "label": "Sidebar menu"
            },
           {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Explore"
           }
         ]
      }
   ]
  }
{% endschema %} 