<nav class="shifter-navigation no-fouc" data-section-id="{{ section.id }}" data-section-type="mobile-navigation">
  <div class="search">
    <form action="/search" method="get">
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>           
  </div>
  

  <ul id="accordion">
    {% for link in linklists[section.settings.main_nav].links %}
    <!-- If we are dealing with a mega navigation -->
    {% if link.title == section.settings.megadropdown_link %}
    <li class="accordion-toggle">{{ link.title | link_to: link.url }}</li>
    <div class="accordion-content">  
      {% for block in section.blocks %}         
      <!-- Start Megamenu Inner Links -->
      <div class="accordion-toggle2" {{ block.shopify_attributes }}>{{ block.settings.title }}</div>
      <div class="accordion-content2">
        <ul>
          {% for link in linklists[block.settings.mega-nav].links %}
          <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    {% else %}      
    <!-- If we are not dealing with the mega navigation -->    
    {% if linklists[link.handle] and linklists[link.handle].links.size > 0 %}
    <li class="accordion-toggle">{{ link.title }}</li>
    <div class="accordion-content">
      <ul class="sub">
        {% for l in linklists[link.handle].links %}
        {% if linklists[l.handle] and linklists[l.handle].links.size > 0 %} 
        <div class="accordion-toggle2">{{ l.title }}</div>
        <div class="accordion-content2">
          <ul class="sub">
            {% for l in linklists[l.handle].links %}
            <li><a href="{{ l.url }}">{{ l.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <li><a href="{{ l.url }}">{{ l.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endif %}
    {% endif %}
    {% endfor %}  
  </ul>
</nav> 


{% schema %}
  {
    "name": "Mobile navigation",
    "settings": [
	  {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "main_nav",
        "label": "Choose main menu",
		"default":"main-menu"
      },
      {
        "type": "header",
        "content": "Mega dropdown"
      },
      {
        "type": "text",
        "id": "megadropdown_link",
        "label": "Mega dropdown link title",
        "default": "Catalog",
        "info": "When opened this link will show menus chosen below"
      }
	],
	"blocks":[  
      {  
         "type":"menu",
         "name":"Menu",
         "settings":[  
            {
               "type": "link_list",
               "id": "mega-nav",
               "label": "Choose a menu"
            },
           {
            "type": "text",
            "id": "title",
            "label": "Menu title",
            "default": "Explore"
           }
         ]
      }
   ]
  }
{% endschema %}
