{% layout none %}
<!DOCTYPE html>
<html style="padding: 0">
  <head>
    <title>
      {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
    </title>
    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
  	{% include 'social-media-meta-tags' %}
    {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% include 'google-fonts' %}
  	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{ content_for_header }}

  </head>
  <body class="gridlock {{ template }}" data-section-id="{{ section.id }}">

<!--     <div class="slideout">
      <div class="closeslide slideout-toggle">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
        <div>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{{ 'password.general.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'password.general.password' | t }}">
        <input type="submit" value="{{ 'password.general.enter' | t }}">
        {% endform %}
      </div>
    </div>     -->


<!--     <div class="slideout-toggle open_password">
      <i class="fa fa-lock" aria-hidden="true"></i> {{ 'password.general.enter_store' | t }}
    </div> -->

    <div class="password-page">
      <div class="row">       
        <div id="logo"> 
          <a href="/">
            <img src="https://cdn.shopify.com/s/files/1/2489/1824/files/fxm_logo_400x.jpg?v=1508958260" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">        
          </a>
        </div>            
      </div>


      <div id="signup-holder" class="row">
        <div id="signup-wrap" class="desktop-6 desktop-push-3 tablet-4 tablet-push-1 mobile-3">
          <div id="password-message" style="font-size: 20px; line-height: 1.5;">
            Shop.FoxMovies.com Coming Soon<br>
            Sign up to be notified about our Grand Opening!
          </div>
          <div id="password-signup">
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p class="success">{{ 'password.general.thanks' | t }}</p>
            {% else %}

            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" id="password-email" placeholder="{{ 'password.general.email_address' | t }}">
            <input type="submit" id="password-subscribe" value="{{ 'password.general.submit' | t }}">
            {% endif %}
            {% endform %}  
          </div>
        </div>
        
        <div class="clear"></div>
        
        <ul id="password-icons" class="desktop-6 desktop-push-3 tablet-6 mobile-3">
        {% if settings.facebook_url != blank %}<li><a href="{{ settings.facebook_url }}" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.instagram-id != blank %}<li><a href="//instagram.com/{{ settings.instagram-id }}" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>{% endif %}      
        {% if settings.twittername != blank %}<li><a href="{{ settings.twittername }}" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.pinterest_url != blank %}<li><a href="{{ settings.pinterest_url }}" target="_blank"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.tumblr_url != blank %}<li><a href="{{ settings.tumblr_url }}" target="_blank"><i class="fa fa-tumblr fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.youtube_url != blank %}<li><a href="{{ settings.youtube_url }}" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.googleplus_url != blank %}<li><a href="{{ settings.googleplus_url }}" target="_blank"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.snapchat-id != blank %}<li><a href="//snapchat.com/add/{{ settings.snapchat-id }}" target="_blank"><i class="fa fa-snapchat-ghost fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        {% if settings.weibo-id != blank %}<li><a href="//weibo.com/{{ settings.weibo-id }}" target="_blank"><i class="fa fa-weibo fa-2x" aria-hidden="true"></i></a></li>{% endif %}
        </ul>  
        
        
      </div>
    </div>  
    
<!--     <div class="pass-foot">{{ 'password.general.powered' | t }} <a href="//www.shopify.com/?ref=undergroundmedia">shopify</a></div> -->

    <script>
      $(document).ready(function() {
        $('.slideout-toggle').on('click', function(event) {
            event.preventDefault();
            var slideout = $('.slideout');
            var slideoutWidth = $('.slideout').width();   	
            slideout.toggleClass('open');
            if (slideout.hasClass('open'))
            {
              slideout.animate({right: '0'}, 250);	
            }
            else
            {
              slideout.animate({right: -slideoutWidth}, 250);	
            }     
          });      
          if ( $('.storefront-password-form .errors').size() ) {
            var $errortoggle = $('.slideout');
            $($errortoggle).addClass('open');  
            $('.slideout-toggle').trigger('click');
          }
        
        $(document).on('shopify:section:load', function(event) {      
          $('.slideout-toggle').on('click', function(event) {
            event.preventDefault();
            var slideout = $('.slideout');
            var slideoutWidth = $('.slideout').width();   	
            slideout.toggleClass('open');
            if (slideout.hasClass('open'))
            {
              slideout.animate({right: '0'}, 250);	
            }
            else
            {
              slideout.animate({right: -slideoutWidth}, 250);	
            }     
          });      
          if ( $('.storefront-password-form .errors').size() ) {
            var $errortoggle = $('.slideout');
            $($errortoggle).addClass('open');  
            $('.slideout-toggle').trigger('click');
          } 
        }); 
       });
    </script>

  </body>
</html>

 {%- assign image_size = '2048x' -%}
<style>
  body.password { 
    background: {{ section.settings.background-color }}{% if section.settings.background == true %} url({{ section.settings.background-image | img_url: image_size }}) {% endif %};  background-position: center center;
    color: {{ section.settings.text-color }};
  }  
  body.password a, body.password p, body.password h1, body.password h2, body.password h3 { 
    color: {{ section.settings.text-color }};
  } 
  #password-signup h3 { 
    color: {{ section.settings.text-color }};
  }
  ul#password-icons li a {
    color: {{ section.settings.text-color }};
  }
</style>


{% schema %}
  {
    "name": "Password page",
    "settings": [
    {
        "type": "paragraph",
        "content": "[Add a coming soon message for your customers.](\/admin\/online_store\/preferences)"
    },
     {
        "type": "color",
        "id": "background-color",
        "label": "Background",
        "default": "#f5f5f5"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Text",
        "default": "#000000"
      },
    {
          "type": "checkbox",
          "id": "background",
          "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "Background image"
    },
    {
        "type": "header",
        "content": "Logo"
    },
    {
          "type": "checkbox",
          "id": "use_logo_image",
          "label": "Use a logo image"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "600"
     }
    ]
  }
{% endschema %}


