<br style="clear:both;">
<div itemscope itemtype="http://schema.org/Product" id="product-{{ product.id }}" class="product-page product-template
  {% if product.tags contains 'Ferdinand'%}product-template-frd {% endif %}
  {% if product.title contains 'Ferdinand'%}product-template-frd {% endif %}
  {% if product.tags contains 'Predator'%}product-template-pre {% endif %}
  {% if product.tags contains 'Planet of the Apes'%}product-template-wpa {% endif %}
  {% if product.tags contains 'The Greatest Showman'%}product-template-gsh {% endif %}
  {% if product.tags contains 'Love Simon'%}product-template-lsm {% endif %}
  {% if product.title contains 'Love, Simon'%}product-template-lsm {% endif %}
  {% if product.tags contains 'The Sandlot'%}product-template-san {% endif %}
  {% if product.title contains 'The Sandlot'%}product-template-san {% endif %}
  {% if product.tags contains 'Alien'%}product-template-aln {% endif %}
  {% if product.title contains 'Alien'%}product-template-aln {% endif %}
  {% if product.tags contains 'Super Troopers'%}product-template-sut {% endif %}
  {% if product.title contains 'Super Troopers'%}product-template-sut {% endif %}
  {% if product.tags contains 'Die Hard'%}product-template-dih {% endif %}
  {% if product.title contains 'Die Hard'%}product-template-dih {% endif %}
  {% if product.tags contains 'Alita'%}product-template-ali {% endif %}
  {% if product.title contains 'Alita'%}product-template-ali {% endif %}" 
  data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-enable-history-state="true" data-section-type="product-section">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  

  <div class="clear"></div>

  <div id="product-photos" class="desktop-6 mobile-3">
    {% assign featured_image = product.selected_variant.featured_image | default: product.featured_image %}
    <div id="product-main-image" class="{% if product.images.size > 1 %}desktop-10{% else %}desktop-12{% endif %} main-product-image">
      <img id="{{ product.id }}" data-image-id="{{ image.id }}" src="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt | escape }}' title="{{ product.title }}"/>
    </div>

    {% if product.images.size > 1 %} 
    <div class="desktop-2" id="thumbnail-gallery">   
      {% if product.images.size > 4 %}<div class="thumbnail-slider">{% endif %}
      {% for image in product.images %}
      <div class="slide">
        <a href="{{ image | product_img_url: 'master' }}" data-image-id="{{ image.id }}" class="clicker-thumb">
          <img class="thumbnail" src="{{ image | product_img_url: 'master' }}" data-image-id="{{ image.id }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}" />
        </a>
      </div>
      {% endfor %}
      {% if product.images.size > 4 %}</div>{% endif %}
    </div>        
    {% endif %}
  </div>
  

  <div id="product-right" class="desktop-6 mobile-3">
    {% if collection %} 
    <div class="desktop-1 right mobile-hide">
      {% if collection.previous_product %}
      {{ '<i class="icon-angle-left icon-2x"></i>' | link_to: collection.previous_product }}
      {% endif %}
      &nbsp;
      {% if collection.next_product %}
      {{ '<i class="icon-angle-right icon-2x"></i>' | link_to: collection.next_product }}
      {% endif %}
    </div>
    {% endif %}
    
    <div id="product-description">
      <div class="section-title desktop-12 mobile-3">
        <h1 itemprop="name">{{ product.title }}</h1>
      </div>
      <div>
        {% assign description = product.metafields.description %}
        {% assign key = 'short' %}
        <p class="shortDescription">{{ description.short }}</p>
      </div>
      
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

      {% if section.settings.product-vendor %}<h3>{{ 'products.product.designer' | t }}: {{ product.vendor }}</h3>{% endif %}
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <div id="product-price">              		
          {% if product.compare_at_price > product.price %}
            <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
            <span class="product-price on-sale" itemprop="price">{{ product.price | money }} {% if product.compare_at_price_max > product.price %} <span id="sale-pdp-badge">Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%</span>{% endif %}</span>
            {% else %}
              {% if product.price_varies %} 
              <span class="product-price" itemprop="price">{{ product.price_min | money }} - {{ product.price_max | money }} </span>
              {% else %}
               <span class="product-price" itemprop="price">{{ product.price | money }} </span>
              {% endif %}
          {% endif %}
        </div>

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% if section.settings.product-note != blank %}
        <p class="product-note">
          {{ section.settings.product-note | escape }}
        </p>
        {% endif %}
        
        <div class="meta-text">
          {% assign sku = product.metafields.sku %}
          {% assign key = 'parent' %}
          <p>SKU: {{ sku.parent }}</p>
          {% assign shipsto = product.metafields.shipsto %}
          {% assign key = 'country' %}
          <p>{{ shipsto.country }}</p>
          {% assign shipping = product.metafields.shipping %}
          {% assign key = 'days' %}
          <p>{{ shipping.days }}</p>
        </div>

        {% include 'short-form' %}  
      </div>
   

      <div class="clear"></div>

      <div class="desc">
        {% include 'social' with product %}
      </div>        
    </div>    
  </div>

  <div class="clear"></div>
  
  <div class="pdp-tabs">
    <div>
      <ul class="tabs">
        <li><a href="#tab-1">Description</a></li>
<!--         <li><a href="#tab-2">Size Chart</a></li> -->
        <li><a href="#tab-3">Reviews</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-1">
        {{ product.description }}
        </div>
<!--         <div id="tab-2">
         Size chart goes here...
        </div> -->
        <div id="tab-3">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    </div>
  </div>

  {% if collection %}
  {% include 'related-products' %}
  {% endif %}

  <div class="clear"></div>

<!--   {% if collection %} 
  <div id="product-navigation" class="desktop-12 mobile-3">
    <span class="backto">
      {{ 'products.product.back_to' | t }} {{ collection.title | link_to: collection.url }}
    </span>
  </div>
  {% endif %} -->


{% if section.settings.thumbnails == 'left' %}
<style>
	.main-product-image.desktop-10 { float: right! important; }
</style>
{% endif %}
{% unless section.settings.show-sku %}
<style>
    .variant-sku { display: none; }
</style>
{% endunless %}
{% unless section.settings.enable-zoom %}
<style>
  img.zoomImg { display: none! important; }
</style>
{% endunless %}
</div>
<script>
  var freeGifts = []
  {% for block in section.blocks %}
  	var slug = '{{ block.settings.gift_with_purchase }}';
  	$.ajax({
        url: "/collections/all/products/" + slug + ".json"
    }).done((response)=>{
      console.log('response', response);
        freeGifts.push(
        {
          productId: '{{ block.settings.gift_with_purchase }}',
          tag: '{{ block.settings.tag }}',
          variantId: response.product.variants[0].id
        })
    });
 
  {% endfor %}
  function setFreeGifts() {
   if (freeGifts.length > 0) {
  	window.localStorage.setItem('freeGifts', JSON.stringify(freeGifts));
   }
 }

 setTimeout(setFreeGifts, 1000);
</script>
{% schema %}
{
    "name": "Product Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable-zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "select",
        "id": "thumbnails",
        "label": "Image thumbnail position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product-vendor",
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "show-sku",
        "label": "Show variant SKU",
        "default": true
      },
      {
        "type": "text",
        "id": "product-note",
        "label": "Product page note"
      }
    ],
	"blocks": [
          {
              "name": "Free Gift",
              "type": "free-gift",
              "settings": [
                  {
                    "type": "text",
                    "id": "tag",
                    "label": "Tag"
                  },
                  {
                    "type": "product",
                    "id": "gift_with_purchase",
                    "label": "Free Gift"
                  }
              ]
          }
      ]
  }
{% endschema %}