<!-- /templates/page.search.liquid -->

<div class="container l padding-top-2x padding-bottom-2x">

  <h1 class="h2 t-uppercase">Narrow your search:</h1>

  <div class="rte margin-bottom">
    {{ page.content }}
  </div>

</div>
