<map name="Map">
  <area shape="rect" coords="352,197,643,263" href="https://signup.cj.com/member/brandedPublisherSignUp.do?air_refmerchantid=987860">
  <area shape="rect" coords="675,198,957,264" href="https://members.cj.com/member/login;jsessionid=abcvTkbavpym_egn4ap-t">
  <area shape="rect" coords="672,621,942,669" href="mailto:affiliates@araca.com">
  <area shape="rect" coords="95,147,306,172" href="http://www.harrypottershop.com">
  <area shape="rect" coords="307,145,469,172" href="http://www.hobbitshop.com">
  <area shape="rect" coords="507,145,772,173" href="http://www.shopdcentertainment.com">
</map>
<div class="container center">
  <img src="{{ 'affiliate-program.jpg' | asset_url }}" usemap="#Map">
</div>
