<!-- page.sitemap.liquid -->

{% assign total_link_count = 0 %}
{% for link in linklists.main-menu.links %}
  {% assign child_handle = link.title | handleize %}
  {% if linklists[child_handle].links.size > 1 %}
    {% for link in linklists[child_handle].links %}
      {% assign total_link_count = total_link_count | plus: 1 %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign rows = total_link_count | divided_by: 4 %}

<div class="container l padding-top-2x padding-bottom-2x sitemap">
  <h1 class="w-light">{{ page.title }}</h1>
  {% assign link_count = 0 %}
  <div class="row">
    {% for link in linklists.main-menu.links %}
      {% assign child_handle = link.title | handleize %}
      {% if linklists[child_handle].links.size > 1 %}
        {% if link_count == 0 %}
          <div class="column l3">
        {% endif %}
          <a class="tier-1" href="{{ link.url }}"><h2 class="t-uppercase">{{ link.title }}</h2></a>
          <ul>
            {% for link in linklists[child_handle].links %}
              {% assign link_count = link_count | plus: 1 %}
              <li>
                <a href="{{ link.url }}">
                  <h3>{{ link.title }}</h3>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% if link_count >= rows %}
          </div>
          {% assign link_count = 0 %}
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>

</div>
