<!doctype html>

<!-- ===========================================================================
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/

Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
============================================================================ -->

<!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

<head>
  <!-- META ================================================================ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="9WKCpQK-v8n7gAG26XMy2llm84CrH5HXiGkdZ_ISJpo" />
  <meta name="google-site-verification" content="p7NMm6RshwOcA2Bgx8nj_TGMV_n6lB60rCHQKG5YnIc" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{% include 'meta-title' %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  {% include 'meta-social-tags' %}
  {% include 'meta-favorites' %}
  {% include 'theme-typography' %}

  <!-- Shopify ============================================================= -->
  {% capture shopify_header_content %}
  {{ content_for_header }}
  {% endcapture %}
  {{ shopify_header_content | replace: '<script class="analytics">','<script type="text/plain" id="shopify_analytics_scripts">' }}

  <!-- CSS ================================================================= -->
  {{ 'app.scss.css' | asset_url | stylesheet_tag }}
  {% if settings.product_recommendations_enabled %}
  {{ 'recommendations.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- JavaScript =========================================================== -->
  {% if shop.customer_accounts_enabled and template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  <script>
    var cart; // Make cart functions global
    $(document).ready(function() {
      cart = new Cartfox.Cart({{ cart | json }}, {
        addItem: '[data-add-to-cart]',
        cartItemCount: "[data-cart-item-count]",
        cartTotal: "[data-cart-total]",
        decreaseQuantity: "[data-minus-one]",
        increaseQuantity: "[data-plus-one]",
        itemQuantity: '[data-item-quantity]',
        removeItem: '[data-remove-item]',
        emptyTemplate: '[data-cart-template]',
        itemsContainer: '[data-item-container]'
      });
    });
  </script>
  {% if template contains 'product' %}
    {% if product.metafields.productinfo.customizable == 'yes' %}
      <script type="text/javascript" src="//apps.ezprints.com/home/406f4883-addd-4b0c-8b96-119877ac44c1.ezp"></script>
      <script type="text/javascript">

        var templateId = '{{ product.selected_or_first_available_variant.sku }}';
        var ezpSku = '{{ product.selected_or_first_available_variant.metafields.ezp.sku }}'
        var ezpSkuToProductIdMap = {
          {%- for variant in product.variants -%}
            {%- if variant.metafields.ezp.sku != blank -%}
              '{{ variant.metafields.ezp.sku }}': '{{ variant.id }}',
            {%- endif -%}
          {%- endfor -%}
        }
        // fires when the application is ready for use
        var readyHandler = function() {
          console.log('ready');
        };
        var loadHandler = function() {
          console.log('load');
        };
        var saveHandler = function() {
          console.log('save');
        };
        var templateHandler = function() {
          console.log('template');
        };
        var addToCartHandler = function(projectId, ezpSku, thumbnail) {
          var variantId = ezpSkuToProductIdMap[ezpSku];
          var properties = {
            ezp_projectId: projectId,
            ezp_sku: ezpSku,
            ezp_thumbnail: thumbnail
          }
          // (variant id, quantity, line item properties)
          cart.addItem(variantId, 1, properties);
          ezPrintsPopup.hide();
        };
        var errorHandler = function(error) {
          console.log(error);
        };
        var app = ezp.apps.createTemplateApp({
          preferHtml5: true,
          transparent: true,
          elementId: 'ezPrintsContainer', // The id of the element the iframe will be loaded in
          projectId: '',
          width: 750, // width of the app iframe
          height: 600, //Height of the app iframe
          sku: ezpSku, // SKU of the EZPrints product - i.e the product that will be printed on such as a mug.
          addToCartCallback: addToCartHandler, // fired when the product is added to the EZprints cart
          errorCallback: errorHandler, // Fired when the app throws an error
          readyCallback: readyHandler, // Fired when the app is ready
          loadCallback: loadHandler, // Callback for after the app has loaded
          saveCallback: saveHandler, // Fired when the customisation is saved
          templateLoadCallback: templateHandler, // Fired when a template is loaded
          templateId: templateId, // Defines a template for the app to use
          singleMediaUploadEnabled: true, // Allows users to upload files from their device
          mediaPickerSources: ['ezpservices','facebook','flickr','picasa','smugmug'], // Allows users to upload images from these sources.
          // comboTrayInitialAssetCollectionUri: "EMPTY" // Not sure what this does, there is no documentation for it but it existed on the old site.
        });
      </script>
    {% endif %}
  {% endif %}


  {% include 'evergage' %}

  {% include 'field-validation' %}

  {% include 'consent-management' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != null %} suffix-{{ template.suffix }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">

  {% section 'theme-announcements' %}
  {% section 'theme-header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'theme-footer' %}
  {% section 'theme-popups' %}

  {% include 'popup-quicklook' %}
  {% include 'popup-error' %}

  <script type="text/javascript">
    // Cart error handling
    $(document).on('cartfox:requestComplete', function(event, cart, error) {
      if (error) {
        $("#ErrorPopup").find("#errorMessage").text(error);
        errorPopup.show();
      } else {
        {% unless template == 'cart' %}
          cartPopup.show();
          $('html, body').animate({ scrollTop: $('.theme-header').offset().top }, {{ settings.transition_speed }});
        {% endunless %}
      }
    });

    // Sign up form submissions
    $(document).on('keyup keydown keypress', '#submitSubscribeForm', function(event) {
      var keyCode = event.keyCode || event.which;
      if (keyCode === 13) {
        event.preventDefault();
        return false;
      }
    });

    $(document).on('click', '#submitSubscribeForm', function(e) {
      e.preventDefault();
      $(this).addClass('disabled');
      var errors = [];
      var $dateOfBirth = $(this).closest('#contact_form').find('.dateOfBirth');
      var $errors = $(this).closest('#contact_form').children('div.error-wrapper');
      if ($dateOfBirth.length) {
        var dob = Date.parse($dateOfBirth.val());
        if ((isNaN(dob) || dob < 0)) {
          var error = '<li>Date must be valid MM/DD/YYYY</li>';
          errors.push(error);
        }
      }
      if(errors.length === 0) {
        $(this).closest('#contact_form').submit();
      } else {
        if($errors.children('span.errors').length){
          for (var error = 0; error < errors.length; error++) {
            $errors.children('span.errors ul').append(errors[error])
          }
        } else {
          var html = '<span class="errors">';
          html+='<ul>';
          for (var error = 0; error < errors.length; error++) {
            html+= errors[error];
          }
          html+='</ul>';
          html+='</span>';
          $errors.html(html);
        }

        $errors.slideDown();
        $(this).removeClass('disabled');
        errors = [];
      }
    });
  </script>

  {% include 'swym-wishlist' %}
  {% include 'swym-personalizedgifts-wishlist' %}

{% include 'swymSnippet' %}

{% include 'stamped-global' %}

</body>
</html>
