<!doctype html>
<!--[if IE]><html class="no-js no-touch ie9" lang="{{ shop.locale }}"><![endif]-->
<!--[if !IE]><!--><html class="no-js no-touch" lang="{{ shop.locale }}"><!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="EiwPVfAqVo4cKdfKvufPWSWxZypom_jKwGdwDskJaDo" />
    <meta name="google-site-verification" content="VoHiA-Ky4frVtU7Oo7RMhrE3cZP1aSktr3X57vQislk" />
    <meta name="google-site-verification" content="ZrzFecQ0cPU5U_CGcwpUIaQqP0CYmvKnGqIosYUr9WA" />
    <!-- Bob's Burgers -->
    <meta name="google-site-verification" content="4TgEKusmX6tjFPsH-s3_pdKa6wMqvTZFtEv7t2Pf8Ok" />
    <!-- The Orville -->
    <meta name="google-site-verification" content="LMpIdP-D-khx_mu0dBxhFtcG1LMBBij12mwuYcFkItI" />
    <!-- Family Guy -->
    <meta name="google-site-verification" content="4TgEKusmX6tjFPsH-s3_pdKa6wMqvTZFtEv7t2Pf8Ok" />
    <!-- X-Files -->
    <meta name="google-site-verification" content="Vb0ow08aVwqONnEe8QM2pARs0CmWL67UYpuizXO22-o" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %}
        {{ 'general.title.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'favicon' %}

    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {% include 'social-meta-tags' %}

    {{ 'cj-event-storage.js' | asset_url | script_tag }}

    <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>
    <script src="https://use.fontawesome.com/698a973d21.js"></script>

    {% include 'fonts' %}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick.js' | asset_url | script_tag }}

    {% if settings.app_wk_enabled %}
    	{% include 'appmate-wishlist-king' %}
    {% endif %}
    {% include 'tweet' %}



    {% include 'password-validation' %}
  {% include 'sca.freegifts' %}

  {% include 'field-validation' %}

  {% include 'consent-management' %}
</head>

  <body class="{% if page.title == "Holiday Gift Guide" %}giftguide-body{% endif %}">
    {% section 'static-header' %}

    <main class="site-main">
      {{ content_for_layout }}
    </main>

    {% section 'static-footer' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}


    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-jquery-currencies="{{ 'jquery.currencies.min.js' | asset_url }}"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
      data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}">
    </script>

    <script src="//cdn.codeblackbelt.com/js/modules/cool-image-magnifier/main.min.js?shop=fox-tv-shop.myshopify.com"></script>

    {% include 'structured-data' %}







{% include 'socialboost-widgets-inc' %} </body>
</html>
