<style>
  #brand-nav-soa-on{
    display: block;
  }
</style>
<div id="qab_placeholder" style="margin-top: -4px;"></div>
{% section 'gateway-mosaic-sons-of-anarchy' %}
<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
  <figure class="collection--image">
    <a href="/collections/sons-of-anarchy"><img class="soa-collection--image--mob" src="{{ 'soa_mob_header.png' | asset_url }}" alt="Sons of Anarchy"></a>
  </figure>
  <div class="gateway--outer">
    {% section 'gateway-sidebar-sons-of-anarchy' %}
    <div class="gateway--right">
        <!-- Marketing Banner Start -->
 
        <!-- Marketing Banner Ends -->
      {% section 'gateway-main-sons-of-anarchy' %}
      {% section 'gateway-coll-sons-of-anarchy' %}
    </div>
  </div>
</div>

<script>
  var img1 = document.getElementById("brand-nav-soa"),
      img2 = document.getElementById("brand-nav-soa-on");

  img1.onmouseover = function(){
    img2.style.display = "block";
  }

  img1.onmouseout = function(){
    img2.style.display = "block";
  }
</script>