<style>
  #brand-nav-ahs-on{
    display: block;
  }
</style>

{% section 'static-collection-ahs' %}

<script>
  var img9 = document.getElementById("brand-nav-ahs"),
      img10 = document.getElementById("brand-nav-ahs-on");

  img9.onmouseover = function(){
    img10.style.display = "block";
  }

  img9.onmouseout = function(){
    img10.style.display = "block";
  }
</script>