<style>
  #brand-nav-ahs-on{
    display: block;
  }
</style>

<figure class="collection--image">
  <img class="ahs-collection--image" src="{{ 'AHS_header_s9_inseason_d.jpg' | asset_url }}" alt="American Horror Story">
  <img class="ahs-collection--image--mob" src="{{ 'AHS_header_s9_inseason_m.jpg' | asset_url }}" alt="American Horror Story">
</figure>
<div id="qab_placeholder" style="margin-top: -4px;"></div>

<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
  <div class="gateway--outer">
    {% section 'gateway-sidebar-ahs' %}
    <div class="gateway--right">
        <!-- Marketing Banner Start -->

        <!-- Marketing Banner Ends -->
      {% section 'gateway-main-ahs' %}
      {% section 'gateway-coll-ahs' %}
    </div>
  </div>
</div>

<script>
  var img9 = document.getElementById("brand-nav-ahs"),
      img10 = document.getElementById("brand-nav-ahs-on");

  img9.onmouseover = function(){
    img10.style.display = "block";
  }

  img9.onmouseout = function(){
    img10.style.display = "block";
  }
</script>