<style>
  #brand-nav-sno-on{
    display: block;
  }
</style>

{% section 'static-collection-sno' %}

<script>
  var img3 = document.getElementById("brand-nav-sno"),
      img4 = document.getElementById("brand-nav-sno-on");

  img3.onmouseover = function(){
    img4.style.display = "block";
  }

  img3.onmouseout = function(){
    img4.style.display = "block";
  }
</script>