<style>
  #brand-nav-myn-on{
    display: block;
  }
</style>

{% section 'static-collection-myn' %}

<script>
  var img3 = document.getElementById("brand-nav-myn"),
      img4 = document.getElementById("brand-nav-myn-on");

  img3.onmouseover = function(){
    img4.style.display = "block";
  }

  img3.onmouseout = function(){
    img4.style.display = "block";
  }
</script>