<style>
  #brand-nav-sip-on{
    display: block;
  }
</style>
<figure class="collection--image">
  <img class="sip-collection--image" src="{{ 'Sunny_header_s14_inseason.jpg' | asset_url }}" alt="It's Always Sunny in Philadelphia">
  <img class="sip-collection--image--mob" src="{{ 'Sunny_header_s14_inseason_m.jpg' | asset_url }}" alt="It's Always Sunny in Philadelphia">
</figure>
<div id="qab_placeholder" style="margin-top: -4px;"></div>

<!-- {% section 'gateway-mosaic-its-always-sunny-in-philadelphia' %} -->

<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
  <div class="gateway--outer">
    {% section 'gateway-sidebar-its-always-sunny-in-philadelphia' %}
    <div class="gateway--right">
        <!-- Marketing Banner Start -->
     
        <!-- Marketing Banner Ends -->
      {% section 'gateway-main-its-always-sunny-in-philadelphia' %}
      {% section 'gateway-coll-its-always-sunny-in-philadelphia' %}
    </div>
  </div>
</div>

<script>
  var img1 = document.getElementById("brand-nav-sip"),
      img2 = document.getElementById("brand-nav-sip-on");

  img1.onmouseover = function(){
    img2.style.display = "block";
  }

  img1.onmouseout = function(){
    img2.style.display = "block";
  }
</script>