<style>
  #brand-nav-sra-on{
    display: block;
  }
</style>

{% section 'static-collection-sra' %}

<script>
  var img5 = document.getElementById("brand-nav-sra"),
      img6 = document.getElementById("brand-nav-sra-on");

  img5.onmouseover = function(){
    img6.style.display = "block";
  }

  img5.onmouseout = function(){
    img6.style.display = "block";
  }
</script>