<style>
  #brand-nav-arh-on{
    display: block;
  }
</style>

{% section 'static-collection-arh' %}

<script>
  var img7 = document.getElementById("brand-nav-arh"),
      img8 = document.getElementById("brand-nav-arh-on");

  img7.onmouseover = function(){
    img8.style.display = "block";
  }

  img7.onmouseout = function(){
    img8.style.display = "block";
  }
</script>