<style>
  #brand-nav-arh-on{
    display: block;
  }
</style>

<figure class="collection--image">
  <img class="arh-collection--image" src="{{ 'Archer_s10_inseason_d.jpg' | asset_url }}" alt=" Archer 1999">
  <img class="arh-collection--image--mob" src="{{ 'Archer_s10_inseason_m.jpg' | asset_url }}" alt="Archer 1999">
</figure>
<div id="qab_placeholder" style="margin-top: -4px;"></div>

<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
  <figure class="collection--image">
    <!-- <a href="/collections/archer"><img class="arh-collection--image--mob" src="{{'archer_mobheader.jpg' | asset_url  }}" alt="Archer"></a> -->
  </figure>
  <div class="gateway--outer">
    {% section 'gateway-sidebar-archer' %}
    <div class="gateway--right">
        <!-- Marketing Banner Start -->
     
        <!-- Marketing Banner Ends -->
      {% section 'gateway-main-archer' %}
      {% section 'gateway-coll-archer' %}
    </div>
  </div> 
</div>

<script>
  var img7 = document.getElementById("brand-nav-arh"),
      img8 = document.getElementById("brand-nav-arh-on");

  img7.onmouseover = function(){
    img8.style.display = "block";
  }

  img7.onmouseout = function(){
    img8.style.display = "block";
  }
</script>