<article class="site-page" data-template-page>
  {% if page.content != blank %}
    <div class="page-content rte">
      <header class="page-masthead">
        <h1 class="page-title">
          {{ page.title }}
        </h1>
      </header>
      {{ page.content }} <!-- include 'wishlist-shared' -->
    </div>
  {% endif %}
</article>
