<article class="site-page" data-template-page>
  <div class="page-content rte {{page.handle}}--wrapper">
    <header class="page-masthead">
      <h1 class="page-title">
        {{ page.title }}
      </h1>
    </header>
    {{ page.content }} <!-- include 'wishlist-collection' -->
  </div>
</article>
