<div class="container l padding-bottom-2x">
  {% if collection.image %}
    {% assign image_size = collection.image.width | append: 'x' %}
    <img class="wide s-hide margin-bottom-05x" src="{{ collection.image | img_url: image_size }}" alt="{{ collection.title }}">
  {% endif %}

  <div class="row collapsed no-margin columns-18">
    <header data-section-type="collection" class="margin-bottom">
      <div class="row no-margin">
        <div class="column l6 m6 s12">
          <div class="s-hide">
            {% include 'theme-breadcrumbs' %}
          </div>
        </div>
      </div>

      <div class="margin-bottom"></div>

      <div class="row no-margin s-show">
        <div class="column l12">
          {% include 'theme-breadcrumbs' %}
        </div>
      </div>
    </header>
    <header class="collection-header" style="display: none;">

      {% if section.settings.show_collection_image and collection.image %}
        <div class="collection-hero">
          <div class="collection-hero__image ratio-container lazyload js"
               data-bgset="{% include 'bgset', image: collection.image %}"
               data-sizes="auto"
               data-parent-fit="cover"
               style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
          <noscript>
            <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
          </noscript>
          <div class="collection-hero__title-wrapper">
          </div>
        </div>
      {% endif %}

      {% if section.settings.tags_enable or section.settings.sort_enable %}
      {% endif %}
    </header>

    <div class="column collapsed collection-template-multiitems-page l18 m18 s18">
      {% include 'collection-promos' %}
      {% include 'collection-banners' %}

      <div class="collection-content-wrapper">
        <div class="list-view-collection-multi top-image">
          {% for block in section.blocks %}
          {% if block.type == 'header_image_block' %}
            {% if block.settings.display == 'all_collections' %}
              <div class="header-image-container">
                <div class="header-image header-image-section-{{block.id}}">
                  {% if block.settings.collection_header_image_text != '' %}
                  <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                  {% endif %}
                </div>
                <style type="text/css">
                  {% if block.settings.image %}
                  {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                  .header-image-section-{{block.id}} {
                    background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                    background-size: 100%;
                    background-repeat: no-repeat; 
                    height: {{ block.settings.collection_header_image_size | times: 2 }}px;
                    text-align: right;
                    margin-bottom: 20px;
                  }
                  {% if block.settings.image_mobile %}
                  @media only screen and (max-width: 768px) {
                    .header-image-section-{{block.id}} {
                        background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                    }
                   }
                  {% endif %}
                  {% endif %}
                  {% if block.settings.collection_header_image_text != '' %}
                  .header-image-section-{{block.id}} .image-text {
                    font-size: {{block.settings.collection_header_image_text_size}}px;
                    color: {{block.settings.header_image_text_color}};
                    position: relative;
                    top: 75%;
                    right: 25px;
                  }
                  {% endif %}
                </style>
              </div>
              {% elsif block.settings.display == 'link_list' %}
                {% if block.settings.link_list %}
                  {% assign link_list = linklists[block.settings.link_list] %}
                  {% assign collection_matched = false %}
                  {% for link in link_list.links %}
                    {% if link.url == collection.url %}
                      {% assign collection_matched = true %}
                      {% break %}
                    {% elsif link.links %}
                      {% for child_link in link.links %}
                        {% if child_link.url == collection.url %}
                          {% assign collection_matched = true %}
                          {% break %}
                        {% elsif child_link.links %}
                          {% for child_link_1 in child_link.links %}
                            {% if child_link_1.url == collection.url %}
                              {% assign collection_matched = true %}
                              {% break %}
                            {% elsif child_link_1.links %}
                              {% for child_link_2 in child_link_1.links %}
                                {% if child_link_2.url == collection.url %}
                                  {% assign collection_matched = true %}
                                {% endif %}
                                {% if collection_matched %}
                                  {% break %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                            {% if collection_matched %}
                              {% break %}
                            {% endif %}
                          {% endfor %}
                          {% if collection_matched %}
                            {% break %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% if collection_matched %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if collection_matched %}
                  <div class="header-image-container">
                    <div class="header-image header-image-section-{{block.id}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
                      {% if block.settings.collection_header_image_text != '' %}
                      <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                      {% endif %}
                    </div>
                    <style type="text/css">
                      {% if block.settings.image %}
                      {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                      .header-image-section-{{block.id}} {
                        background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                        background-size: 100%;
                        background-repeat: no-repeat;
                        height: {{ block.settings.collection_header_image_size | times: 2 }}px; 
                        text-align: right;
                        margin-bottom: 20px;
                      }
                      {% if block.settings.image_mobile %}
                      @media only screen and (max-width: 768px) {
                        .header-image-section-{{block.id}} {
                            background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                        }
                       }
                      {% endif %}
                      {% endif %}
                      {% if block.settings.collection_header_image_text != '' %}
                      .header-image-section-{{block.id}} .image-text {
                        font-size: {{block.settings.collection_header_image_text_size}}px;
                        color: {{block.settings.header_image_text_color}};
                        position: relative;
                        top: 75%;
                        right: 25px;
                      }
                      {% endif %}
                    </style>
                  </div>
                  {% endif %}
                {% endif %}
              {% elsif block.settings.display == 'collection' %}
                {% if block.settings.collection and block.settings.collection == collection.handle %}
                <div class="header-image-container">
                  <div class="header-image header-image-section-{{block.id}}">
                    {% if block.settings.collection_header_image_text != '' %}
                    <h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
                    {% endif %}
                  </div>
                  <style type="text/css">
                    {% if block.settings.image %}
                    {% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
                    .header-image-section-{{block.id}} {
                      background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
                      background-size: 100%;
                      background-repeat: no-repeat; 
                      height: {{ block.settings.collection_header_image_size | times: 2 }}px;
                      text-align: right;
                      margin-bottom: 20px;
                    }
                    {% if block.settings.image_mobile %}
                    @media only screen and (max-width: 768px) {
                      .header-image-section-{{block.id}} {
                          background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
                      }
                     }
                    {% endif %}
                    {% endif %}
                    {% if block.settings.collection_header_image_text != '' %}
                    .header-image-section-{{block.id}} .image-text {
                      font-size: {{block.settings.collection_header_image_text_size}}px;
                      color: {{block.settings.header_image_text_color}};
                      position: relative;
                      top: 75%;
                      right: 25px;
                    }
                    {% endif %}
                  </style>
                </div>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="list-view-collection-title border-bottom">
          <h1  >{{ collection.title }}</h1>
        </div>

        <div class="one-whole inline" id="Collection">

          <div class="list-view-items">
            {% for product in collection.products %}
              <div class="list-view-item collection-product" data-product-id="{{product.id}}" data-product-sku="{{product.metafields.sku.parent}}">
                {% include 'product-card-multi-list', product: product %}
              </div>
            {% else %}

              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>

                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}

            <div class="collection-items-addtocart-section text-right">
              <button class="btn button" id="collection-items-add-to-cart">Add to Cart</button>
            </div>
          </div>


          {% if is_empty_collection %}
            <div class="grid__item small--text-center empty">
              <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {% endif %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visually-hidden" id="scroll-to-bottom-section-text">{{ section.settings.add_to_cart_message }}</div>
<script type="text/javascript">
  $(document).ready( function() {

    // Remove Added to cart Popup from Multiitems page
    $('#AddedToCartPopup').remove(); 

    // Add function for quantity increment / decrement 
    $('#shopify-section-collection-template-multiitem .input-number-increment').click(function(event) { 
      if($(this).parent().parent().find('#Quantity').attr('disabled') == undefined ) {
        var val = parseInt($(this).parent().parent().find('#Quantity').val());
        $(this).parent().parent().find('#Quantity').val(val + 1);

        if($(this).parent().parent().find('#Quantity').val() > 1) {
          $(this).parent().parent().find('.input-number-decrement').prop('disabled', false);
        }
      }
    });

    $('#shopify-section-collection-template-multiitem .input-number-decrement').click(function(event) { 
      if($(this).parent().parent().find('#Quantity').attr('disabled') == undefined ) {
        if($(this).parent().parent().find('#Quantity').val() <= 1 && $(this).parent().parent().find('#Quantity').attr('data-input-quantity-type') == undefined ) { 
          $(this).prop('disabled', false);
        } else if($(this).parent().parent().find('#Quantity').attr('data-input-quantity-type') != undefined && $(this).parent().parent().find('#Quantity').val() <= 0) { 
          $(this).prop('disabled', false);
        } else { 
          $(this).prop('disabled', true);
          var val = parseInt($(this).parent().parent().find('#Quantity').val());
          $(this).parent().parent().find('#Quantity').val(val - 1);
        }
      }
    });

    // Add Selected products to cart
    $('.collection-template-multiitems-page .list-view-items .collection-items-addtocart-section > #collection-items-add-to-cart').on('click', function(event) {
      
      Shopify.queue = [];

      $('.collection-template-multiitems-page .list-view-items > .list-view-item').each(function(index, object) {
        var product_id = object.dataset.productId;
        var product_sku = object.dataset.productSku;
        var variant_id = $(object).find('select[name="id"]').val();
        var quantity = $(object).find('input#Quantity').val();
        if(quantity > 0) {
          Shopify.queue.push({
            variant_id: variant_id,
            quantity: quantity,
            product_id: product_id,
            product_sku: product_sku
          });
        }
      });

      if(Shopify.queue.length) {
        addItemsToCart();
      }

    });

    $('select[data-product-variant-selector]').on('change', function(event) { 
      var product_id = $(event.target).attr('data-product-variant-selector');
      var selected_value = $(event.target).val();
      $('select[data-product-variant-options="'+product_id+'"] option').attr('selected', false);
      $('select[data-product-variant-options="'+product_id+'"] option[data-variant-title="'+selected_value+'"]').attr('selected', true);
    });

    $('*[data-product-variant-selector]').on('click', function(event) { 
      var product_id = $(event.target).attr('data-product-variant-selector');
      var clicked_value = $(event.target).attr('value');
      $('select[data-product-variant-options="'+product_id+'"] option').attr('selected', false);
      $('select[data-product-variant-options="'+product_id+'"] option[data-variant-title="'+clicked_value+'"]').attr('selected', true);
      $('label[data-product-variant-selector]').removeClass('active');
      $('label[data-product-variant-selector="'+product_id+'"][value="'+clicked_value+'"]').addClass('active');
    });

    $('.show-full-description').on('click', function(event) { 
      $(event.target).parent().parent().find('.product-description-short').addClass('visually-hidden');
      $(event.target).parent().parent().find('.product-description-full').removeClass('visually-hidden');
    });

    $('.show-short-description').on('click', function(event) { 
      $(event.target).parent().parent().find('.product-description-full').addClass('visually-hidden');
      $(event.target).parent().parent().find('.product-description-short').removeClass('visually-hidden');
    });

    var scroll_to_bottom_text = $('#scroll-to-bottom-section-text').html().trim();
    $('body').append('<div class="scroll-to-bottom-section"><span>'+scroll_to_bottom_text+'</span></div>');
    $('.scroll-to-bottom-section').on('click', function(event) {
      var offset = -750; //Offset of 75px
      $('html, body').animate({
        scrollTop: $("#collection-items-add-to-cart").offset().top + offset
      }, 2000);
    });

    $('.scroll-to-bottom-section').css('left', ($('.list-view-items').position().left + $('.list-view-items').width() - $('.scroll-to-bottom-section').width() - 20 )+'px');

    $(window).resize(function() {
      $('.scroll-to-bottom-section').css('left', ($('.list-view-items').position().left + $('.list-view-items').width() - $('.scroll-to-bottom-section').width() - 20)+'px');
    });

  });

  function addItemsToCart() {
    console.log(Shopify.queue);
    var item = Shopify.queue.shift();
    if(item.variant_id && item.quantity > 0) {
      console.log(item);
        $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          dataType: 'json',
          data: 'id='+item.variant_id+'&quantity='+item.quantity,
         success: function(response) {
           if(Shopify.queue.length) {
             addItemsToCart();
           }
           if(!Shopify.queue.length) {
             $.ajax({
               type: 'GET',
               url: '/cart.js',
               success: function(_response) {
                 console.log(_response);
                 //updateMinicartList(JSON.parse(_response.responseText));
                 scrollToTop();
               },
               error: function(_response) {
                 console.log('Error');
                 console.log(_response);
                 //updateMinicartList(JSON.parse(_response.responseText));
                 scrollToTop();
               }
             });
           }
         },
         error: function(response) {
           if(response.status == 422) {
             //alert(response.description);
             var description = '';
             if( response.description == undefined) {
               description = response.responseJSON.description;
             } else {
               description = response.description;
             }
             $('#product-error-'+item.product_id).html(description);
           }
           if(Shopify.queue.length) {
             addItemsToCart();
           }
         }
       });
    }

  }

  function scrollToTop() {
    cart.getCart();
    $('#PopupCart').addClass('visible');
    var offset = 0;
    $('html, body').animate({
      scrollTop: $('#shopify-section-theme-announcements').offset().top + offset
    }, 2000);
  }

</script>

{% schema %}
  {
    "name": "Collection Multi page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      },
      {
        "type": "text",
        "id": "add_to_cart_message",
        "label": "Add to cart message",
        "default": "Click here to add selected products to cart"
      }
    ],
    "blocks": [
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "range",
            "id": "collection_header_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Image size",
            "default": 50
         },
          {
            "type": "text",
            "id": "collection_header_image_text",
            "label": "Header Image Text"
          },
          {
            "type":"color", 
            "id":"header_image_text_color", 
            "label":"Text color", 
            "default":"#3d4246"
          },
          {
            "type": "range",
            "id": "collection_header_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text font size",
            "default": 14
          },
          
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
