<!-- sections/index-mobile-tabs.liquid -->
<section class="s-show mobile-tab-menu">
  <div class="mobile-tabs clearfix">
    <div class="column s12 active center" data-tab-parent=".mobile-tab-menu">
      {{ section.settings.title_1 }}
    </div>
  </div>
  <div class="tab-content bg-text no-margin">
    <div id="{{ section.id }}Tab1" class="active" data-tab-content>
      <ul>
        {% for link in linklists[section.settings.menu_1].links %}
          <li>
            {% assign child_handle = link.title | handleize %}
            <a href="{{ link.url }}" id="{{ section.id }}Tab2" {% if linklists[child_handle].links.size > 0 %}data-accordion-toggle data-accordion-parent="#{{ section.id }}Tab1"{% endif %}>{{ link.title }}</a>
            {% if linklists[child_handle].links.size > 0 %}
              <ul data-accordion-content>
                {% for link in linklists[child_handle].links %}
                  {% assign sub_child_link_handle = link.title | handleize %}
                  {% if linklists[sub_child_link_handle].links != blank %}
                  <li>
                    <a href="{{ link.url }}" data-accordion-toggle data-accordion-parent="#{{section.id}}Tab2">{{ link.title }}</a>
                    <ul data-accordion-content>
                    {% for child_link in linklists[sub_child_link_handle].links %}
                      <li>
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      </li>
                    {% endfor %}
                    </ul>
                  </li>
                  {% else %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Mobile Section",
    "settings": [
      {
        "type": "header",
        "content": "Tab one"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Section 1 title",
        "default": "Shop All Category"
      },
      {
         "type": "link_list",
         "id": "menu_1",
         "label": "Menu 1"
      }
    ],
    "presets": [
      {
        "category": "Navigation",
        "name": "Mobile Section"
      }
    ]
  }
{% endschema %}
