<!-- sections/index-featured-text.liquid -->

{% assign title = section.settings.title %}
{% assign content = section.settings.content %}
{% assign align = section.settings.align %}

<section class="container l s-hide padding-top padding-bottom bg-background">
  <div class="clearfix no-margin">
    <div class="column l12 {{ align }}">
      {% unless title == blank %}
        <h2 class="h4">{{ title }}</h2>
      {% endunless %}
      {% unless content == blank %}
        <div class="rte">{{ content }}</div>
      {% endunless %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured text",
    "class": "index-section-featured-text",
    "settings": [
      {
        "type": "header",
        "content": "Featured text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "select",
        "id": "align",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured text",
        "category": "Content"
      }
    ]
  }
{% endschema %}
