<!-- sections/index-featured-links.liquid -->

<section class="container l bg-background center featured-links">
  <div class="l-hide">Featured Categories</div>
  <ul class="clearfix no-margin padding-bottom">
    {% for block in section.blocks %}
      <li class="inline">
        {% unless block.settings.link == blank %}<a href="{{ block.settings.link }}"{% if block.settings.title != blank %} title="{{ block.settings.title }}"{% endif %}>{% endunless %}
          {{ block.settings.title }}
        {% unless block.settings.link == blank %}</a>{% endunless %}
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
  {
    "name": "Featured links",
    "class": "index-section-featured-links",
    "settings": [
      {
        "type": "header",
        "content": "Featured links"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 1,
        "max": 4,
        "default": 2,
        "step": 1,
        "info": "Columns may rearrange automatically depending on the device's screen size"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Featured Categories",
        "settings": [
          {
            "type": "header",
            "content": "Featured link"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Used for SEO purposes"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured links",
        "category": "Content",
        "blocks": [
          {
            "type": "link"
          },
          {
            "type": "link"
          }
        ]
      }
    ]
  }
{% endschema %}
