<!-- sections/index-featured-collection-columns.liquid -->

{% assign width = section.settings.width %}

<section class="featured-collection">
  <div class="container {% if width != blank %} {{ width }}{% endif %} bg-background">
    <div class="row no-margin condensed-small featured-column-row padding-bottom-2x s-no-padding-bottom">
      {% for block in section.blocks %}
        {% assign title = block.settings.title %}
        {% assign menu = block.settings.menu %}
        {% assign collection_1 = block.settings.collection_1 %}
        {% assign image_1 = block.settings.image_1 %}
        {% assign full_image = block.settings.full_image %}
        {% assign image_s = block.settings.image_s %}
        {% assign full_image_link = block.settings.full_image_link %}

        {% if collection_1 != blank and image_1 != blank %}

          <div class="column l4 m4 s6">
            <div class="featured-column">
                <a href="{{ collections[collection_1].url }}">
                  <img src="{{ image_1 | img_url: 'x2000' }}" class="wide">
                </a>
            </div>
          </div>
        {% endif %}

        {% if full_image != blank and full_image_link != blank %}
          <div class="column l12 m12 s6">
              <a href="{{ full_image_link }}" >
                <img src="{{ full_image | img_url: 'x2000' }}" class="wide {% if image_s != blank %} s-hide{% endif %}">
                {% if image_s != blank %}<img src="{{ image_s | img_url: '1024x' }}"{% if section.settings.title != blank %} alt="{{ section.settings.title }}"{% endif %} class="s-show">{% endif %}
              </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Feature columns",
    "class": "index-featured-collection-columns",
    "settings": [
      {
        "type": "header",
        "content": "Product Slideshow"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "options": [
          { "value":"", "label":"Full width" },
          { "value":"xl", "label":"Extra large" },
          { "value":"l", "label":"Large" },
          { "value":"m", "label":"Medium" }
        ],
        "default": "l"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "limit": 4,
        "settings": [
          {
            "type": "header",
            "content": "Column"
          },
          {
            "type": "collection",
            "id": "collection_1",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "full_image",
            "label": "Full Banner"
          },
          {
            "type": "image_picker",
            "id": "image_s",
            "label": "Image for small screens",
            "info": "Optionally, set an alternate image for small screens"
          },
          {
            "type": "url",
            "id": "full_image_link",
            "label": "Full Banner Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collections",
        "name": "Feature columns"
      }
    ]
  }
{% endschema %}
