<!-- sections/password.liquid -->

{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}

<header class="container l center padding-top-3x padding-bottom-2x margin-top margin-bottom">
  {% include 'theme-logo' %}
</header>


<footer class="container l center margin-top">
  <p class="margin-top">
    <a href="#PasswordPagePopup" data-trigger="popup" data-target="#PasswordPagePopup">{{ 'password_page.password_link' | t }}</a>
  </p>
</footer>

<div class="popup overlay" role="alert" id="PasswordPagePopup">
  <div class="popup-inner">
    <div class="popup-content center">
      <h3 class="t-none">{{ 'password_page.login_form_heading' | t }}</h3>
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password" class="hidden">{{ 'password_page.login_form_password_label' | t }}</label>
        <input type="password" name="password" id="Password" placeholder="{{ 'password_page.login_form_password_placeholder' | t }}">
        <button type="submit" name="commit">
          {{ 'password_page.login_form_submit' | t }}
        </button>
      {% endform %}
      <hr class="title-separator">
      <p>{{ 'password_page.admin_link_html' | t }}</p>
      <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var PopupPassword = new Focus('#PasswordPagePopup');
  });
</script>

{% schema %}
  {
    "name": "Password template",
    "settings": [
      {
        "type": "header",
        "content": "Password template"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Title",
        "default": "Coming Soon"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
