<!-- /snippets/popup-termsandconditions.liquid -->

{% comment %}
  For dispaying cart errors when necessary
{% endcomment %}

<div id="PopupTermsAndConditions" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">  
	  <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
      <div id="termsandconditionsMessage"></div>
    </div>
  </div>
</div>

<script>
  var termsandconditionsPopup = new Focus('#PopupTermsAndConditions');
</script>
