<!-- sections/template-collection-geno.liquid -->
{% include 'template-collection-geno' %}

{% schema %}
	{
		"name": "Genographic template",
		"settings": [
			{
				"type": "header",
				"content": "Genographic template",
				"info": "Settings will affect all Genographics."
			}
		],
		"blocks": [
			{
				"type": "banner",
				"name":"Genographic Banners",
				"settings": [
					{
				        "type": "checkbox",
				        "id": "helix_popup",
				        "label": "Display helix popup",
				        "default": true
					},
					{
					 	"type":"image_picker",
					 	"id": "geno_images_us",
					 	"label": "U.S. Banner"
					},
					{
					 	"type":"image_picker",
					 	"id": "mob_geno_images_us",
					 	"label": "Mobile U.S. Banner"
					},
					{
			      		"id": "banner_url_us",
			      		"type":"url",
			      		"label": "Product Link"
		    		},
					{
					 	"type":"image_picker",
					 	"id": "geno_images_canada",
					 	"label": "Canada Banner"
					},
					{
					 	"type":"image_picker",
					 	"id": "mob_geno_images_canada",
					 	"label": "Mobile Canada Banner"
					},
					{
			      		"id": "banner_url_can",
			      		"type":"url",
			      		"label": "Product Link"
		    		},
					{
					 	"type":"image_picker",
					 	"id": "geno_images_int",
					 	"label": "International Banner"
					},
					{
					 	"type":"image_picker",
					 	"id": "mob_geno_images_int",
					 	"label": "Mobile International Banner"
					},
					{
			      		"id": "banner_url_int",
			      		"type":"url",
			      		"label": "Product Link"
		    		},
		    		{
				        "type": "checkbox",
				        "id": "country_change",
				        "label": "Display lower banner text",
				        "default": false
					}
		    		
				]
			},
	      {
	        "type": "column",
	        "name": "Columns",
	        "settings": [
	          {
	            "type": "header",
	            "content": "Columns"
	          },
	          {
	            "type": "image_picker",
	            "id": "column_image",
	            "label": "Image"
	          },
	          {
	            "type": "text",
	            "id": "column_title",
	            "label": "Title",
	            "info": "Used for SEO purposes"
	          },          
	          {
	            "type": "textarea",
	            "id": "column_textarea",
	            "label": "Column Content"
	          },
	          {  
	          	"type": "range",
	          	"id": "column_range",
			        "min": 1,
			        "max": 4,
			        "default": 2,
			        "label": "Select column range"
			      }
	        ]
	      },
	      {
	        "type": "steps",
	        "name": "Geographic Steps",
	        "settings": [
	          {
	            "type": "header",
	            "content": "Geographic Instruction Steps"
	          },
	          {
	            "type": "image_picker",
	            "id": "column_steps_image",
	            "label": "Image"
	          },
	          {
	            "type": "text",
	            "id": "column_steps_title",
	            "label": "Title",
	            "info": "Used for SEO purposes"
	          },          
	          {
	            "type": "textarea",
	            "id": "column_steps_textarea",
	            "label": "Column Content"
	          }
	        ]
	      },
	      {
	        "type": "row",
	        "name": "Genographic Rows",
	        "settings": [
	          {
	            "type": "header",
	            "content": "Row"
	          },
			      {
			        "type": "text",
			        "id": "geno_row_text",
			        "label": "Title"
			      },
	          {
	            "type": "image_picker",
	            "id": "row_image",
	            "label": "Geno Image 1"
	          },
			      {
			        "type": "textarea",
			        "id": "geno_row_textarea",
			        "label": "Text"
			      }
	        ]
	      },
	      {
	      	"type": "text",
	        "name": "Genographic Buttons",
	        "settings": [
	        	{
		    		"type": "header",
		    		"content": "Column"
	    		},
	    		{
	    			"id":"button_color",
	    			"type":"text",
	    			"label":"Input a background color",
	    			"default":"#fff"
	    		},
	    		{
		      		"id": "geno_textarea_title",
		      		"type":"textarea",
		      		"label": "Main Text."
	    		},
	    		{
		      		"id": "button_url_us",
		      		"type":"url",
		      		"label": "Button URL"
	    		},
	    		{
		      		"id": "button_url_canada",
		      		"type":"url",
		      		"label": "Button URL"
	    		},
	    		{
		      		"id": "button_url_int",
		      		"type":"url",
		      		"label": "Button URL"
	    		},
	    		{
			        "type": "checkbox",
			        "id": "live_chat",
			        "label": "Display Live Chat Button",
			        "default": false
			    }
	        ]
	      },
  		  {
			"type": "video",
			"name":"Genographic Video",
			"settings": [
				      {
				        "type": "checkbox",
				        "id": "geno_video_us",
				        "label": "Display Geno video on US Page",
				        "default": false
				      }
		        ]
		  },
		  {
			"type": "key-features",
			"name":"Key Features Chart",
			"settings": [
				      {
				        "type": "checkbox",
				        "id": "geno_key_features",
				        "label": "Display Geno Key Features Chart",
				        "default": false
				      }
		        ]
		  },
	      {
	      	"type": "testimonials",
	        "name": "Genographic Testimonials",
	        "settings": [
	        	{
					"type": "header",
					"content": "Testimonials"
				},
				{
					"id": "testimonial_textarea1",
					"type":"textarea",
					"label": "Testimonial Content."
				},
				{
					"id": "testimonial_author1",
					"type":"text",
					"label": "Name of Author"
				},
				{
					"id": "testimonial_textarea2",
					"type":"textarea",
					"label": "Testimonial Content."
				},
				{
					"id": "testimonial_author2",
					"type":"text",
					"label": "Name of Author"
				},
				{
					"type": "checkbox",
					"id": "testimonial_video",
					"label": "Display Testimonial video on US Page",
					"default": false
				}
			]
	      },
	      {
	      	"type": "faqs-us",
	        "name": "FAQs -  US",
	        "settings": [
	        	{
		    		"type": "header",
		    		"content": "FAQs US"
		    		},
		    		{
		      		"id": "faq_us_question1",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response1",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question2",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response2",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question3",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response3",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question4",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response4",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question5",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response5",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question6",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response6",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question7",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response7",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question8",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response8",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question9",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response9",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_us_question10",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_us_response10",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		}
	        ]
	      }, 
	      {
	      	"type": "faqs-cni",
	        "name": "FAQs - CA/International",
	        "settings": [
	        	{
		    		"type": "header",
		    		"content": "FAQs CA/International"
		    		},
		    		{
		      		"id": "faq_cni_question1",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_cni_response1",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_cni_question2",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_cni_response2",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_cni_question3",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_cni_response3",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_cni_question4",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_cni_response4",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		},
		    		{
		      		"id": "faq_cni_question5",
		      		"type":"text",
		      		"label": "FAQ Question"
		    		},
		    		{
		      		"id": "faq_cni_response5",
		      		"type":"textarea",
		      		"label": "FAQ Response"
		    		}
		    	]
		    }
		]
	}
{% endschema%}