<!-- /sections/template-collection-eagle-creek-adventure.liquid -->

{% include 'template-collection-eagle-creek-adventure' %}

{% schema %}
	{
		"name": "Eagle Creek Adventure",
		"settings": [
			{
				"type": "header",
				"content": "Eagle Creek Adventure template",
				"info": "Settings will affect all Eagle Creek Adventure."
			}
		],
		"blocks": [
		  	{
				"type": "sections",
				"name": "Content",
				"settings": [
					{
						"type": "image_picker",
						"id": "banner_image",
						"label": "Banner"
					},
					{
						"type": "image_picker",
						"id": "mob_banner_image",
						"label": "Mobile Banner"
					},
					{
						"type": "url",
						"id":"banner_link",
						"label":"Banner Link. No Link, will scroll to product grid."
					},
					{
						"type": "text",
						"id":"header_title",
						"label":"Headers"
					},
					{
						"type": "textarea",
						"id":"paragraphs",
						"label":"Content Paragraphs"
					},
					{
						"type": "html",
						"id": "html",
						"label": "Paste code or iframe"
					}
				]
			},
			{
				"type": "product-grid",
				"name": "Product Grid",
				"settings": [
					{
						"type": "collection",
						"id": "product_collection",
						"label": "Display Products"
					},
					{
						"type": "range",
						"id": "product_limit",
						"label": "Choose the amount of products to display.",
						"min": 3,
						"max": 18,
						"step": 3,
						"default": 6
					}
				]
			}  
		]
	}
{% endschema %}
