<!-- /sections/template-collection-gifts.liquid -->
{% include 'template-collection-gifts' %}

{% schema %}
  {
    "name": "Gifts template",
    "settings": [
		{
			"type": "header",
			"content": "Gifts template",
			"info": "Settings will affect all Gifts."
		}
	], 
	"blocks" : [

		{
			"type" : "stack", 
			"name":"Gift Stack Item",
			"settings": [
				{
					"type":"image_picker",
					"id": "product_thumbnail",
					"label": "Thumbnail Image"
				},
				{
					"type":"text",
					"id": "text_box",
					"label": "Product/Category Label"
				},
				{
					"type":"text",
			  		"id": "link_label_1",
					"label": "Link 1"
			  	},
			  	{
			  		"type":"url",
			        "id": "link_1",
					"label": "Category Link 1"
			  	}, 
			  	{
			  		"type":"text",
			  		"id": "link_label_2",
					"label": "Link 2"
			  	},
	          	{      					
	          		"type":"url",
	           		"id": "link_2",
					"label": "Category Link 2"
	          	}, 
	          	{
	          		"type":"text",
	          		"id": "link_label_3",
					"label": "Link 3"
	          	},
	          	{
	          		"type":"url",
		            "id": "link_3",
  					"label": "Category Link 3"
	          	}, 
	          	{
	          		"type":"text",
	          		"id": "link_label_4",
					"label": "Link 4"
	          	},
	          	{      					
	          		"type":"url",
	            	"id": "link_4",
					"label": "Category Link 4"
	          	}, 
	          	{
	          		"type":"text",
	          		"id": "link_label_5",
					"label": "Link 5"
	          	},
	          	{
		            "id": "link_5",
  					"type":"url",
  					"label": "Category Link 5"
	          	}
			]
		}, 
		{
			"type": "column_half",
			"name": "Gift Stack Half Column",
			"settings": [
				{
					"type":"text",
					"id": "column_half_title",
					"label": "Category Title"
				},
				{
					"type": "image_picker",
					"id": "column_half_image",
					"label": "Image"
				}, 
				{ 
					"type":"text", 
					"id": "column_half_link_text",
					"label": "Subtext"
				},
				{
					"type":"url",
					"id": "half_sub_link",
					"label": "Sublink"
				}
			]
  		},
  		{
			"type": "Banner",
			"name": "Banner",
			"settings": [  
		        {
		            "type": "image_picker",
		            "id": "column_banner",
		            "label": "Image"
		        },
		        {
		            "type": "image_picker",
		            "id": "column_mob_banner",
		            "label": "Mobile Image"
		        },
		        {
		            "type": "url",
		            "id": "column_banner_link",
		            "label": "Image Link"
		        },
		        {
		          	"id": "text_statement",
					"type":"text",
					"label": "Image Text"
		        },
		        {
	          		"id": "text_statement_link",
					"type":"text",
					"label": "More link"
		        },
		        {
		            "id": "product_image_link",
  					"type":"url",
  					"label": "Product Link"
		        }          
			         
			]
  		},
  		{
			"type": "columns",
			"name": "Columns",
			"settings": [
				{
					"id": "column_title",
					"type":"text",
					"label": "Product Title"
				},
				{
					"type": "image_picker",
					"id": "column_image",
					"label": "Image"
				}, 
				{  
					"type": "range",
					"id": "column_range",
					"min": 1,
					"max": 3,
					"default": 2,
					"label": "Select column range"
				},
				{
					"id": "column_link_text",
					"type":"text",
					"label": "Subtext"
				},
				{
					"id": "sub_link",
					"type":"url",
					"label": "Additional Sublink"
				}
			]
		}
	]
}
{% endschema %}

