<!-- sections/template-product.liquid -->

{% assign sharing = section.settings.sharing %}
{% assign tabs = section.settings.tabs %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign price = current_variant.price | money %}

{% assign has_tabs = tabs %}
{% assign active_tab = false %}
{% assign sold_out = true %}
{% assign on_sale = false %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign multiple_variants = false %}
{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% assign multiple_variants = true %}
{% endunless %}

{% comment %}
  Split up our product description into a one paragraph summary and the remaining description content
{% endcomment %}
{% assign product_description = product.description %}

{% unless product_description contains '<p' and product_description contains '</p>' %}
  {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
{% endunless %}
{% assign product_description = product_description | split: '</p>' %}
{% assign product_tabs = blank %}

{% for paragraph in product_description %}
  {% assign product_description = product_description | append: paragraph | append: '</p>' %}
{% endfor %}

{% if product_description contains '<h4>' %}
  {% assign product_tabs = product_description | split: '<h4>' %}
{% endif %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

<section>
  <div class="s-show">
    {% include 'product-collection-image' %}
  </div>

  <div class="container l" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="false">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

    <div class="row collapse no-margin">
      <div class="column l12">
        <div class="s-hide">
          {% include 'product-collection-image' %}
          <div class="margin-bottom margin-top">
            {% include 'theme-breadcrumbs' %}
          </div>
        </div>
        <div class="s-show margin-bottom">
          {% include 'product-collection-nav' %}
        </div>
      </div>
    </div>

    <div>
      <div class="row condensed no-margin">
        <div class="column l6 m6 s12">
          <div id="ProductPhoto" class="margin-bottom">
            {% if product.images.size > 0 %}
              {% for image in product.images %}
                <div class="product-image bg-background zoom-wrapper">
                  <img src="{{ image | img_url: '1024x1024' }}">
                </div>
              {% endfor %}
            {% else %}
              {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
              <div class="product-image bg-background">
                <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
              </div>
            {% endif %}
          </div>
          {% if product.metafields.productinfo.ISBN != blank %}
          {% include 'popup-seeinside' %}
          {% endif %}
          {% if product.images.size > 1 %}
            <div id="ProductThumbs" class="row collapse s-hide">
              {% for image in product.images %}
                <div class="column l3 m3 s6">
                  <div class="product-image bg-background thumbnail{% if forloop.first %} active{% endif %}" data-thumbnail>
                    <div class="ratio" data-ratio="1:1" style="background-image:url({{ image | img_url: '1024x1024' }})"></div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="s-hide">
            {% include 'product-companions' %}
          </div>
        </div>

        <div class="column l6 m6 s12">
          <div class="relative">
            <div class="product-zoom absolute center">
              <div class="bg-brand fg-foreground palette">
                <h4 class="no-margin">{{ product.title }}</h4>
              </div>
              <div id="ProductPhotoZoom" class="ratio" data-ratio="1:1"></div>
            </div>
          </div>

          <h1 itemprop="name" class="no-margin t-uppercase">
            {{ product.title }}
          </h1>
          <div class="row no-margin">
            <div class="column l12 m12 s12 no-padding">
              <p class="h5 no-margin w-normal">
                SKU: {{ product.metafields.sku.parent }}
              </p>


              <p class="product-price w-bold no-margin no-line-height padding-top padding-bottom">
                {{ product.price | money }}
              </p>


              <div class="rte margin-bottom-2x hidden">
                <p class="h4 w-normal">{{ product.metafields.description.short }}</p>
              </div>
            </div>
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            {% assign controlExtraClass = '' %}
            {% if product.tags contains 'IS-FREE-GIFT' %}
            {% assign controlExtraClass = 'freegift-hidden' %}
            {% endif %}
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            {% comment %}<!-- HIDE FORM IF IT IS A GIFT -->{% endcomment %}
            {% if controlExtraClass == '' %}

            
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>

              <div class="row condensed no-margin padding-bottom">
                <div class="column l12 m12 s12  no-padding">
                  <div>
                    <select name="id" id="productSelect" class="hidden no-js"  data-product-select>
                      {% if multiple_variants %}<option>Make a Selection</option>{% endif %}
                      {% for variant in product.variants %}
                        <option
                          {% unless variant.available %}disabled="disabled"{% endunless %}
                          value="{{ variant.id }}">
                            {{ variant.title }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </form>
            {% endif %}
            {% comment %}<!-- / HIDE FORM IF IT IS A GIFT -->{% endcomment %}
          </div>
          <div class="have-questions margin-bottom-2x">
            <span class="w-bold">Have Questions?</span>
            <span><i class="fa fa-comments"></i>Chat with us or</span>
            <span><i class="fa fa-phone"></i>Call 1-800-437-5521</span>
          </div>

          {% if sharing %}
            <div class="s-show padding-bottom">
              <hr class="margin-bottom-2x">
              {% include 'social-sharing' %}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            {% if block.type == 'tab' %}
              {% if block.settings.display == '' or block.settings.display_on == blank %}
                {% assign has_tabs = true %}
              {% elsif block.settings.display == 'tag' %}
                {% if product.tags contains block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'type' %}
                {% if product.type == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'vendor' %}
                {% if product.vendor == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

         {% include 'product-description' %}

          <div class="s-show">
            {% include 'product-companions' %}
          </div>
        </div>

      </div>
      
    </div>
  </div>
</section>

<script>
  concrete.product = {
    settings: {
      currentSlide: 0,
      container: '#ProductPhoto',
      zoom: {
        container: '.zoom-wrapper',
        target: '#ProductPhotoZoom',
        breakpoint: {{ settings.breakpoint_s }}
      },
      slick: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        fade: true,
        dots: false,
        arrows: false,
        pauseOnHover: false,
        speed: {{ settings.transition_speed }},
        adaptiveHeight: false,
        responsive: [
          {
            breakpoint: {{ settings.breakpoint_m }},
            settings: {
              dots: true,
              customPaging: function(slider, i) {
                return '';
              }
            }
          }
        ]
      }
    },
    images: function() {
      $(concrete.product.settings.container).slick(concrete.product.settings.slick);
      concrete.product.thumbnails('[data-section-type="product"]');
      concrete.product.zoom('[data-section-type="product"]');
    },
    zoom: function(target) {
      if ($(window).width() > concrete.product.settings.zoom.breakpoint) {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).zoom({
          target: concrete.product.settings.zoom.target,
          onZoomIn: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').addClass('active');
          },
          onZoomOut: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').removeClass('active');
          }
        });
      } else {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).trigger('zoom.destroy');
      }
    },
    thumbnails: function(target) {
      $(target).find('[data-thumbnail]').on({
        mouseenter: function() {
          $('[data-thumbnail]').removeClass('active');
          $(this).addClass('active');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        mouseleave: function() {
          var index = concrete.product.settings.currentSlide;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        click: function() {
          $('[data-thumbnail]').removeClass('active');
          $(this).addClass('active');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        }
      });
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:section:deselect', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:block:select', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    var target = $(event.target).data('tab-toggle');
    $(event.target).addClass('active');
    $(event.target).closest('[data-section-type="product"]').find(target).addClass('active');
  });

  $(document).on('shopify:block:deselect', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle]:first-child').addClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-content]:first-child').addClass('active');
  });

  $(window).on('resize', function() {
    concrete.product.zoom('[data-section-type="product"]');
  });

  // Init on docready
  $(document).ready(function() {
    concrete.product.images();
  });
</script>
                   

{% unless product == empty %}
<script type="application/json" id="ProductJson" data-product-json>
 {{ product | json }}
</script>
{% endunless %}

