<!-- sections/template-cart.liquid -->

{% assign related = section.settings.related %}
{% assign delivery = section.settings.delivery %}
{% assign delivery_info = section.settings.delivery_info %}
{% assign delivery_link = section.settings.delivery_link %}
{% assign delivery_popup = section.settings.delivery_popup %}
{% assign tax = section.settings.tax %}
{% assign tax_link = section.settings.tax_link %}
{% assign tax_popup = section.settings.tax_popup %}


<div class="container l padding-top-2x padding-bottom-2x">
  {% if cart.item_count > 0 %}

    <div class="row condensed no-margin">
      <div class="column {% if related %}l12 m12 s12{% else %}l12{% endif %}">
        <div id="CartPage-message-block" style="display: none;"></div>
        <!-- onsubmit="applyCodeOnSubmit()" -->
        <form id="CartPage" action="/cart" method="post" novalidate>

          <div class="row collapse no-margin l-table m-table s-no-clear">
            <div class="column l9 m9 s6 v-middle">
              <h1 class="w-bold inline v-middle no-margin">{{ 'cart.title' | t }}</h1>
            </div>
            {% if additional_checkout_buttons %}
              <div class="l-hide m-hide additional-checkout-buttons mob-additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}
            <div class="column l3 m3 s6 v-middle keep-right right">
              <button type="button" onclick="document.location.href='/checkout'" name="checkout" class="medium blue">{{ 'cart.checkout' | t }}</button>
            </div>
          </div>

          <div id="CartHeader" class="row collapse l-table m-table s-hide">
            <div class="column l4 v-middle"><h4 class="no-margin">{{ 'cart.product' | t }}</h4></div>
            <div class="column l3 v-middle"><h4 class="no-margin">{{ 'cart.status' | t }}</h4></div>
            <div class="column l2 v-middle"><h4 class="no-margin">{{ 'cart.price' | t }}</h4></div>
            <div class="column l2 v-middle center"><h4 class="no-margin">{{ 'cart.quantity' | t }}</h4></div>
            <div class="column l1 v-middle"><h4 class="no-margin">{{ 'cart.action' | t }}</h4></div>
            <div class="column l1 v-middle"><h4 class="no-margin right">{{ 'cart.total' | t }}</h4></div>
          </div>

          <div class="cart-table-wrapper">
          {% for item in cart.items %}

             {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
             {% assign controlExtraClass = '' %}
             {% if item.product.tags contains 'IS-FREE-GIFT' %}
              {% assign controlExtraClass = 'freegift-hidden' %}
             {% endif %}
             {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            <div class="row collapse cart-row padding-top padding-bottom l-table m-table s-no-clear">
              <div class="column l4 m4 s12 v-top">
                <div class="row collapse l-table m-table">
                  <div class="column l4 v-top">
                    <input type="hidden" data-variant-id="{{ item.variant.id }}">
                    <a class="product-image block bg-background" href="{{ item.url | within: collections.all }}">
                      {% if item.image %}
                        <div class="ratio" data-ratio="1:1" style="background-image:url({{ item | img_url: '400x' }})"></div>
                      {% else %}
                        {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                        <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
                      {% endif %}
                    </a>
                  </div>
                  <div class="column l8 v-top">
                    <p class="no-margin cart-product-title"><a href="{{ item.url | within: collections.all }}">{{ item.product.title }}</a></p>
                    <p class="cart-sku">SKU: {{ item.product.metafields.sku.parent }}</p>

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}

                    <p class="personalization-title no-margin">Personalization:</p>
                    <div class="personalization">
                      {% for p in item.properties %}

                        {% assign hiddenProp = false %}
                        {% assign checkArray = p.first | split: '_' %}
                        
                        {% if checkArray[0] == blank %}
                          {% assign hiddenProp = true %}
                        {% endif %}

                        {% unless p.last == blank or hiddenProp == true %}
                           <span class="{{ p.first }}">{{ p.last }}</span>
                        {% endunless %}
                      {% endfor %}
                    </div>
                    {% endif %}

                    {% for option in item.variant.options %}
                      {% if item.product.options[forloop.index0] != "Title" %}
                        <p>{{ item.product.options[forloop.index0] }}: {{ option }}</li>
                      {% endif %}
                    {% endfor %}

                    {% if item.product.metafields.shipsto.country != blank %}
                      <p class="no-margin cart-shipsto-country">
                        {% include 'country-list' %}
                      </p>
                    {% endif %}
                    {% if item.product.metafields.preorder.date != blank or item.product.metafields.shipping.days != blank %}
                      <p class="l-hide m-hide no-margin">
                        {% if item.product.metafields.preorder.date != blank %}
                          {{ item.product.metafields.preorder.date }}
                        {% elsif item.product.metafields.shipping.days != blank %}
                          {{ item.product.metafields.shipping.days }}
                        {% endif %}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="column l3 m3 s12 v-top s-right">
                {% if item.quantity > 0 %}
                  <p class="no-margin"><span class="l-hide m-hide cart-mobile-title">{{ 'cart.status' | t }}: </span>Available, ready to ship.</p>
                {% elsif item.quantity <= 0 %}
                  <p class="no-margin"><span class="l-hide m-hide cart-mobile-title">{{ 'cart.status' | t }}: </span>Item is not available at this time.</p>
                {% endif %}
                <br>
                {% if item.product.metafields.preorder.date != blank or item.product.metafields.shipping.days != blank %}
                  <p class="no-margin">
                    {% if item.product.metafields.preorder.date != blank %}
                      {{ item.product.metafields.preorder.date }}
                    {% elsif item.product.metafields.shipping.days != blank %}
                      {{ item.product.metafields.shipping.days }}
                    {% endif %}
                  </p>
                {% endif %}
              </div>

              <div class="column l2 m2 s12 v-top s-right">
                {% if item.price_varies %}
                  <p class="no-margin cart-line-item-price"><span class="l-hide m-hide cart-mobile-title">{{ 'cart.price' | t }}: </span>{{ item.variant.price_min | money }} - {{ item.variant.price_max | money }}</p>
                {% else %}
                  <p class="no-margin cart-line-item-price"><span class="l-hide m-hide cart-mobile-title">{{ 'cart.price' | t }}: </span>{{ item.price | money }}</p>
                {% endif %}

                {% if item.variant.compare_at_price > item.price %}
                  <p class="no-margin" id="OnSale">
                    <i id="ComparePrice"><span>Original Price: {{ item.variant.compare_at_price | money }}</span></i>
                  </p>

                  <p class="no-margin">You saved {{ item.variant.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.variant.compare_at_price | round }}%</p>

                {% endif %}
              </div>

              <div class="column l2 m2 s12 v-top center s-right">
                <div class="quantity-adjust {{ controlExtraClass }}">
                  <p class="l-hide m-hide inline cart-mobile-title">{{ 'cart.quantity' | t }}: </p>
                  <div class="input-group input-number-group">
                    <div class="input-group-button">
                      <span class="input-number-decrement">-</span>
                    </div>
                    <input class="input-number quantity" type="number" name="updates[]" id="quantity" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                    <div class="input-group-button">
                      <span class="input-number-increment">+</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column l1 m1 s12 v-top s-right">
                <p class="no-margin {{ controlExtraClass }}">
                  <button class="regular no-box" type="submit" name="update">{{ 'cart.update.button' | t }}</button>
                  <a class="no-decoration clearfix remove-from-cart" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <span class="v-middle">{{ 'cart.remove_item' | t }}</span>
                  </a>

                </p>
              </div>
              <div class="column l1 m1 s12 v-top right">
                <p class="no-margin w-bold"><span class="l-hide m-hide cart-mobile-title">{{ 'cart.total' | t }}: </span>{{ item.line_price | money }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

          <div class="margin-bottom"></div>
          <div class="row condensed" id="cart-table-bottom">
            <div class="column l12 m3 s12 l-left m-left keep-left clear margin-top margin-bottom"><div id="evergage_reviews-container"></div></div>
            <div class="column l5 m3 s12 l-right m-right keep-right clear margin-top margin-bottom">
              <div class="s-show margin-top-2x"></div>
              <p class="t-normal w-bold margin-top no-margin inline">{{ 'cart.coupon.sub_title' | t }}</p>
              <input placeholder="{{ 'cart.coupon.placeholder' | t }}" type="text" name="discount" autocomplete="off" class="bg-background coupon-code inline"/>
              <p class="w-bold margin-top no-margin discount-fineprint">Discount will be applied at checkout.</p>
            </div>

            <div class="column l9 m12 s12 l-right m-right keep-right clear">
              <div class="margin-bottom s-show">
                <p class="no-margin">{{ 'cart.update.title' | t }}</p>
                <button class="center small wide margin-top w-bold" type="submit" name="update">{{ 'cart.update.button' | t }}</button>
              </div>

              <hr>
              <div class="margin-top">
                <h4 class="no-margin inline v-top sub_left">{{ 'cart.subtotal' | t }}</h4>
                <h4 class="no-margin t-uppercase inline v-top sub_right">{{ cart.total_price | money }}</h4>
              </div>

              <div class="margin-top">
                <h4 class="no-margin right inline v-top">{{ 'cart.tax.title' | t }}</h4>
              </div>

              <hr>

              <h2 class="margin-top total s-right">
                {{ 'cart.total' | t }}: {{ cart.total_price | money }}
              </h2>


              <div class="s-hide margin-top-5x keep-right">
                <a href="/collections/all" class="regular w-bold inline cart-btn"><img src="{{ 'btn_continue_shopping_off.gif' | asset_url }}"></a>

                <button class="inline blue medium cart-btn" type="button" onclick="document.location.href='/checkout'" name="checkout">{{ 'cart.checkout' | t }}</button>
              </div>

              <div class="s-show margin-top center">
                <a href="/collections/all" class="button wide w-bold small">{{ 'cart.continue' | t }}</a>
                <button class="blue wide medium margin-top" type="button" onclick="document.location.href='/checkout'" name="checkout">{{ 'cart.checkout' | t }}</button>
              </div>

              {% if additional_checkout_buttons %}
                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {% endif %}

            </div>
          </div>

        </form>

        <div id="evergage_shoppingcart"></div>
      </div>
    </div>
    <script type="text/javascript">
        if(localStorage != undefined && localStorage.credit_card_code =='National Geographic Credit Card Discount') {
          $("#CartPage-message-block").html("Your National Geographic Credit Card discount has applied to your cart. Actual discounts will be visible in the checkout process.");
          $("#CartPage-message-block").css("display","block");
        }
        function applyCodeOnSubmit() {
          if($("input[name='discount']").val() == '' ) {
            if(localStorage != undefined && localStorage.credit_card_code == 'National Geographic Credit Card Discount') {
              $("input[name='discount']").val('National Geographic Credit Card Discount');
              $("input[name='discount']").css('color','transparent');
            }
          } else if( $("input[name='discount']").val().indexOf('National Geographic Credit Card Discount') !== -1 || $("input[name='discount']").val().indexOf('412667') !== -1 ) {
            $("#CartPage-message-block").html("This promocode is not supported.");
            $("input[name='discount']").val('');
            return false;
          }
          return true;
        }
        $(document).ready(function(){
          // On load, to not display minus sign as default
          if ($('#quantity').val() <= 1 ){
            $('.input-number-decrement').prop('disabled', true);
          }
          // Incrementing will display minus sign
          $('.input-number-increment').click(function(event) {
            var val = parseInt($(this).closest('.quantity-adjust').find('#quantity').val());

            $(this).closest('.quantity-adjust').find('#quantity').val(val +1);

            if($(this).closest('.quantity-adjust').find('#quantity').val() > 1){
              $(this).closest('.quantity-adjust').find('.input-number-decrement').prop('disabled', false);
            }
          });
          // Needs to check if qty value is less than 1, if not, don't allow decrement
          $('.input-number-decrement').click(function(event) {
            var val = parseInt($(this).closest('.quantity-adjust').find('#quantity').val());
            if (val <= 1 ){
              $(this).prop('disabled', false);
            }else{
              $(this).prop('disabled', true);
              $(this).closest('.quantity-adjust').find('#quantity').val(val - 1);
            }
          })
          $('#quantity').on('input', function() {
            if ($('#quantity').val() <= 0 ) {
              $('#quantity').val(1);
            }
          });
        });
    </script>
  {% else %}

    <h2>{{ 'cart.title' | t }}</h2>
    <p class="h4">{{ 'cart.empty' | t }}</p>

  {% endif %}
</div>

{% schema %}
  {
    "name": "Cart template",
    "settings": [
      {
        "type": "header",
        "content": "Cart template"
      },
      {
        "type": "checkbox",
        "id": "related",
        "label": "Display related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "delivery",
        "label": "Display delivery information",
        "default": false
      },
      {
        "type": "richtext",
        "id": "delivery_info",
        "label": "Delivery information"
      },
      {
        "type": "url",
        "id": "delivery_link",
        "label": "Delivery link"
      },
      {
        "type": "text",
        "id": "delivery_popup",
        "label": "Delivery popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      },
      {
        "type": "checkbox",
        "id": "tax",
        "label": "Display tax information",
        "default": false
      },
      {
        "type": "url",
        "id": "tax_link",
        "label": "Tax link"
      },
      {
        "type": "text",
        "id": "tax_popup",
        "label": "Tax popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      }
    ]
  }
{% endschema %}
