<!-- sections/template-product.liquid -->

{% assign sharing = section.settings.sharing %}
{% assign tabs = section.settings.tabs %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign price = current_variant.price | money %}

{% assign has_tabs = tabs %}
{% assign active_tab = false %}
{% assign sold_out = true %}
{% assign on_sale = false %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign multiple_variants = false %}
{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% assign multiple_variants = true %}
{% endunless %}

{% comment %}
  Split up our product description into a one paragraph summary and the remaining description content
{% endcomment %}
{% assign product_description = product.description %}

{% unless product_description contains '<p' and product_description contains '</p>' %}
  {% assign product_description = product_description | prepend: '<p>' | append: '</p>' %}
{% endunless %}
{% assign product_description = product_description | split: '</p>' %}
{% assign product_tabs = blank %}

{% for paragraph in product_description %}
  {% assign product_description = product_description | append: paragraph | append: '</p>' %}
{% endfor %}

{% if product_description contains '<h4>' %}
  {% assign product_tabs = product_description | split: '<h4>' %}
{% endif %}


<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

<section>
  <div class="s-show">
    {% include 'product-collection-image' %}
  </div>

  <div class="container l" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="false">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

    <div class="row collapse no-margin">
      <div class="column l12">
        <div class="s-hide">
          {% include 'product-collection-image' %}
          <div class="margin-bottom margin-top">
            {% include 'theme-breadcrumbs' %}
          </div>
        </div>
        <div class="s-hide margin-bottom">
          {% include 'product-collection-nav' %}
        </div>
      </div>
    </div>

    <div>
      <div class="row condensed no-margin">
        <div class="column l6 m6 s12">
          <h1 itemprop="name" class="no-margin t-uppercase mobile-product-title">
            {{ product.title }}
          </h1>
          <div class="mobile-view margin-top-2x margin-bottom-2x">
            {% include 'stamped-pdp-summary' %}
          </div>
          {% if product.metafields.productinfo.ISBN != blank %}
            {% include 'popup-seeinside' %}
          {% endif %}
          <div id="ProductPhoto" class="margin-bottom">
            {% if product.images.size > 0 %}
              {% for image in product.images %}
                {% comment %} Araca PDP Video Solution product Image code snippet {% endcomment %}
                {% if forloop.index == 1 and product.metafields.productinfo.trailer_urls != blank %}
                <div class="product-image bg-background video-zoom-wrapper" data-image-id="{{ image.id }}--video">
                  <div class="product-image-video">
                    {{ image.alt }}
                  </div>
                  <img src="{{ image | img_url: '1024x1024' }}">
                  <div class="visually-hidden video--holder">{% include 'product-thumbnail-video', trailer_urls: product.metafields.productinfo.trailer_urls %}</div>
                  <div class="video-play-button"></div>
                </div>
                {% endif %}
                {% comment %} End Snippet {% endcomment %}
                <div class="product-image bg-background zoom-wrapper">
                  <img src="{{ image | img_url: '1024x1024' }}">
                </div>
              {% endfor %}
            {% else %}
              {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
              <div class="product-image bg-background">
                <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
              </div>
            {% endif %}
          </div>

          {% include 'thumbnail-slides' %}

          <div class="s-hide">
            {% include 'product-companions' %}
          </div>
        </div>

        <div class="column l6 m6 s12">
          <div class="relative">
            <div class="product-zoom absolute center">
              <div class="bg-brand fg-foreground palette">
                <h4 class="no-margin">{{ product.title }}</h4>
              </div>
              <div id="ProductPhotoZoom" class="ratio" data-ratio="1:1"></div>
            </div>
          </div>

          <h1 itemprop="name" class="no-margin t-uppercase">
            {{ product.title }}
          </h1>
          <div class="row no-margin">
            <div class="column l12 m12 s12 no-padding">
              <p class="h5 no-margin w-normal">
                SKU: {{ product.metafields.sku.parent }}
              </p>

              {% include 'stamped-pdp-summary' %}

              <p class="product-price w-bold no-margin no-line-height padding-top padding-bottom">
                {% if on_sale %}
                  <span id="OnSale">
                    <s id="ComparePrice">{{ product.compare_at_price | money }}</s>
                  </span>
                {% endif %}

                {% if product.price_varies %}
                  {{ product.price_min | money }} - {{ product.price_max | money }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}

                {% if on_sale %}
                  <span class="no-margin savings">(Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%)</span>
                {% endif %}
              </p>

              {% if product.title contains 'Genographic' %}
              <div class="genographic">
                <p class="no-margin">Ship to</p>
                <div class="rte inline keep-left">
                  <div class="column l3 m4 s12 center {%if product.handle contains 'u-s'%}selected{% endif%}"><a href="/products/geno-2-0-next-generation-genographic-helix-dna-ancestry-kit-u-s-delivery">United States</a></div>
                  <div class="column l3 m4 s12 center center-row {%if product.handle contains 'canadian'%}selected{% endif%}"><a href="/products/geno-2-0-next-generation-genographic-dna-ancestry-kit-canadian-delivery" class="">Canada</a></div>
                  <div class="column l3 m4 s12 center {%if product.handle contains 'international'%}selected{% endif%}"><a href="/products/geno-2-0-next-generation-genographic-dna-ancestry-kit-international-delivery" class="">Other Countries</a></div>
                </div>
                <div class="inline keep-left padding-top-2x">
                  {% include 'popup-shippingrates' %}
                </div>
              </div>
              {% endif %}

              <div class="rte margin-bottom-2x hidden">
                <p class="h4 w-normal">{{ product.metafields.description.short }}</p>
              </div>
            </div>
          </div>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ product.price | money_without_currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">


            {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
            {% assign controlExtraClass = '' %}
            {% if product.tags contains 'IS-FREE-GIFT' %}
              {% assign controlExtraClass = 'freegift-hidden' %}
            {% endif %}
            {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

            {% comment %}<!-- HIDE FORM IF IT IS A GIFT -->{% endcomment %}
            {% if controlExtraClass == '' %}

            
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit>

              <input type="hidden" name="properties[_tags]" value="{{ product.tags | join : ","  }}">
              <input type="hidden" value="" name="properties[_isGiftBy]">

              <div class="row condensed no-margin">
                <div class="column l12 m12 s12  no-padding">
                  <div class="row condensed-small no-margin">

                    {% if multiple_variants %}

                      <div class="column l12 m12 s12  no-padding">
                        {% assign variant_count = 0 %}
                        {% for option in product.options_with_values %}

                        <div class="selector-wrapper js wide blue swatch {% if product.title contains 'Phone Case' %}phone-selector-options{% endif %}">

                          {% for value in option.values %}
                            <input class="swatch-element single-option-selector hidden" id="SingleOptionSelector-{{ forloop.index0 }}" data-single-option-selector data-index="option{{ option.position }}" type="radio" name="SingleOptionSelector-{{ i }}" value="{{ value | escape }}"  {% unless current_variant.available %}disabled="disabled"{% endunless %} >
                            <label class="inline swatch-selector center" for="SingleOptionSelector-{{ forloop.index0 }}"><span>{{ value }}</span></label>
                          {% endfor %}
                        </div>

                        {% endfor %}
                        <div class="select_error wide center">Please select a variant.</div>
                      </div>
                    {% endif %}

                    <div class="column l12 m12 s12 no-padding">
                      {% if product.variants.size > 1 %}
                        <div class="QuantityLeft"></div>
                      {% else %}
                        {% if product.tags contains 'NLA-ITEM' %}
                          {% if product.variants[0].inventory_quantity > 0 and product.variants[0].inventory_quantity <= 5 %}
                            <div class="QuantityLeft">Only {{ product.variants[0].inventory_quantity }} Left</div>
                          {% endif %}
                        {% endif %}
                      {% endif %} 

                      <h5 class="no-margin margin-top w-normal">{{ 'product.variants.quantity' | t }}</h5>
                      <div class="quantity-adjust">
                        <div class="input-group input-number-group">
                          <div class="input-group-button">
                            <span class="input-number-decrement">-</span>
                          </div>
                          <input class="input-number" min="1" type="number" id="quantity" name="quantity" value="1" />
                          <div class="input-group-button">
                            <span class="input-number-increment">+</span>
                          </div>
                        </div>
                          {% if current_variant.available %}
                            {% if product.metafields.preorder.date != blank %}
                              <span class="t-lowercase">{{ product.metafields.preorder.date }}</span>
                            {% elsif multiple_variants %}
                              {% case current_variant.inventory_policy %}
                                {% when 'deny'%}
                                <select name="id" id="productSelect" class="no-js shipping-dates"  data-product-select disabled>
                                  {% for variant in product.variants %}
                                    <option {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
                                      {% if product.variants[forloop.index0].inventory_quantity > 0 %}
                                        <span class="w-bold">{{product.metafields.shipping.days}}</span>
                                      {% else %}
                                        <span>Item is not available at this time.</span>
                                      {% endif %}
                                    </option>
                                  {% endfor %}
                                </select>
                                {% when 'continue' %}
                                    <span class="w-bold">{{product.metafields.shipping.days}}</span>
                               {%endcase%}
                            {% else %}
                              {% if product.metafields.shipping.days != blank %}
                                <span class="w-bold">{{product.metafields.shipping.days}}</span>
                              {% else %}
                                <span class="w-bold">Available, ready to ship.</span>
                              {% endif %}
                            {% endif %}
                          {% elsif sold_out %}
                            <span>Item is not available at this time.</span>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                  <div>
                    <select name="id" id="productSelect" class="hidden no-js"  data-product-select>
                      {% if multiple_variants %}<option>Make a Selection</option>{% endif %}
                      {% for variant in product.variants %}
                        <option
                          {% unless variant.available %}disabled="disabled"{% endunless %}
                          value="{{ variant.id }}">
                            {{ variant.title }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="outside-product-personalizer margin-top"></div>

                  {% if product.title contains 'Genographic' %}
                  <div class="addbuttons_error" id="tcError">You must accept these Terms and Conditions</div>
                  <div class="padding-top-2x padding-bottom-2x keep-left terms-cond-box wide">
                    <input type="checkbox" name="checkbox" value="check" id="agree">
                    <label for="agree" class="fg-text">{% include 'popup-termsandconditions' %}</label>
                  </div>
                  <div class="wide keep-left">This product should only be purchased for those aged 18+.</div>
                  <style>
                    .swym-wishlist-button-bar {
                      display: none !important;
                    }
                    .swym-wishlist-button-bar .swym-watchlist-cta {
                      display: none !important;
                    }
                  </style>
                  {% endif %}


                  {% if product.type == 'Personalized Gifts' %}
                  <div class="inline keep-left margin-top product-personalizer-wrapper {% if sold_out %}hidden{% endif %}">{% include 'product-personalizer' %}</div>
                  <style>
                    .swym-wishlist-button-bar {
                      display: none !important;
                    }
                    .swym-wishlist-button-bar .swym-watchlist-cta {
                      display: none !important;
                    }
                  </style>
                  {% endif %}

                  <button id="btn-add-to-cart" class="t-uppercase margin-top {% if sold_out %}hidden{% endif %} {% if product.type == 'Personalized Gifts' %}customize-btn {% endif %}"
                  {% if product.type == 'Personalized Gifts' %} onclick="didPersonalize(event)" {% elsif product.title contains 'Genographic' %} {% endif %} type="submit" name="add" data-add-to-cart>
                    <span id="AddToCartText">
                      {% if sold_out %}
                        {{ 'product.sold_out' | t }}
                      {% else %}
                        {% if multiple_variants %}
                          <span onclick="didSelect(event)">{{ 'product.select_an_option' | t }}</span>
                        {% elsif product.metafields.preorder.date != blank %}
                          {{ 'product.pre_order' | t }}
                        {% else %}
                          {{ 'product.add_to_cart' | t }}
                        {% endif %}
                      {% endif %}
                    </span>
                  </button>
                </div>
              </div>
            </form>

            {% endif %}
            {% comment %}<!-- / HIDE FORM IF IT IS A GIFT -->{% endcomment %}
          </div>

          {% if product.type == 'Personalized Gifts' %}
            <div class="addbuttons_error wide center margin-bottom">You must personalize this product.</div>
          {% endif %}

          {% if product.metafields.shipsto.country != blank %}
          <div class="shipsto-country">
            <p class="no-margin cart-shipsto-country">
              {% include 'country-list' %}
            </p>
          </div>
          {% endif %}

          <div class="have-questions margin-bottom-2x">
            <span class="w-bold">Have Questions?</span>
            <span class="livechat-cta-pdp" onclick="parent.LC_API.open_chat_window({source:'minimized'})"><i class="fa fa-comments"></i>Chat with us</span>
            <span> or</span>
            <span><i class="fa fa-phone"></i>Call <a href="tel:1-800-437-5521">1-800-437-5521</a></span>
          </div>

          {% if sharing %}
            <div class="s-show">
              <hr class="margin-bottom-2x">
              {% include 'social-sharing' %}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            {% if block.type == 'tab' %}
              {% if block.settings.display == '' or block.settings.display_on == blank %}
                {% assign has_tabs = true %}
              {% elsif block.settings.display == 'tag' %}
                {% if product.tags contains block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'type' %}
                {% if product.type == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% elsif block.settings.display == 'vendor' %}
                {% if product.vendor == block.settings.display_on %}
                  {% assign has_tabs = true %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

         {% include 'product-description' %}

          <div class="s-show">
            {% include 'product-companions' %}
          </div>
        </div>

      </div>

      <div id="evergage_pdp"></div>

      <h1>Reviews</h1>
      {% include 'stamped-pdp-full' %}


    </div>
  </div>
</section>

<!-- AddedToCart popup. This popup is displayed after product is added to cart on products page. -->
<div id="AddedToCartPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
        <h2>Added to Cart</h2>
      </div>
      <div class="container">
        <div>
          <ul class="itemList">
            <li class="item">
              <div class="itemImage">
                <a href="https://{{ shop.domain }}{{ product.url }}">
                  <div class="productImage">
                    <img src="https:{{ product.featured_image | product_img_url: "large" }}" alt="{{ product.title | escape }}" width="130" height="130">
                  </div>
                </a>
              </div>
              <div class="itemInfo">
                <h3>
                  <a href="https://{{ shop.domain }}{{ product.url }}" id="product_title">{{ product.title | escape }}<span id="added_product_variant_type"></span></a>
                </h3>
                <p>Item#&nbsp;<span id="addedToCart_sku">{{ product.metafields.sku.parent }}</span></p>
                <p>Qty:&nbsp;<span id="addedToCart_qty"></span></p>
                <p>Price:&nbsp;<span id="addedToCart_price">{{ product.price | money }}</span></p>
                {% if current_variant.compare_at_price > current_variant.price %}<p class="discount"><em>Original Price: <span id="addedToCart_original_price">{{ product.compare_at_price | money }}</span></em></p>{% endif %}
                <p></p>
                <p class="availability">{% if current_variant.available %}
                {% if product.metafields.preorder.date != blank %}
                <span class="t-lowercase">{{ product.metafields.preorder.date }}</span>
                {% elsif product.metafields.shipping.days != blank %}
                <span class="w-bold">{{product.metafields.shipping.days}}</span>
                {% else %}
                Available
                {% endif %}
                {% endif %}</p>
              </div>
            </li>
          </ul>
          <div class="cartInfo">
            <p># of Items in Cart: <span id="cart_item_count" data-cart-item-count></span></p>
            <p>Subtotal: <span id="cart_subtotal" data-cart-total></span></p>
            <div class="viewCart">
              <p><a class="add_to_cart_view_cart" href="/cart">View Full Cart</a></p>
              <a class="checkout" href="/checkout"><img border="0" title="Checkout" alt="Checkout &#9658;" src="https://cdn.shopify.com/s/files/1/2959/2384/files/btn_checkout.gif"></a>
            </div>
          </div>
        </div>
      </div>
      <a href="#close" class="popup-close" id="close_added_to_cart_popup" data-close aria-label="Close">
        <img src="{{ 'popup-close.png' | asset_url }}">
      </a>
    </div>
  </div>
</div>
<div id="AddedToCartMobilePopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
        <h2><span id="mobile_item_quantity"></span> item(s) added to cart</h2>
      </div>
      <div class="container">
        <a class="checkout" href="/checkout">Checkout &#9658;</a>
        <a href="#close" id="popup_continue_shopping_mobile">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>

<div id="OutOfStockPopup" class="popup overlay outset" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="header">
      </div>
      <div class="container">
        <div>
          <h5>We only have <span class="red">{{ current_variant.inventory_quantity }}</span> units available of this product. Please adjust the quantity you'd like to purchase.</h5>
        </div>
      </div>
      <a href="#close" class="popup-close" id="close_out_of_stock_popup" data-close aria-label="Close">
        CLOSE <img src="//cdn.shopify.com/s/files/1/2959/2384/t/20/assets/cart-close.png?16228280012142088627">
      </a>
     </div>
   </div>
 </div>

<script>
   $('#close_out_of_stock_popup').click(function (){
    $('#OutOfStockPopup').removeClass('visible');
  });
</script>

<script>

  $('#btn-add-to-cart').click(function(event) {
    if (typeof product_personalizer !== 'undefined') {
      return;
    }
    if ($('#agree')[0].checked) {
      $('.addbuttons_error').css('display', 'none');
      $('.terms-cond-box').removeClass('error');
    } else {
      event.stopPropagation();
      event.preventDefault();
      $('.addbuttons_error').css('display', 'block');
      $('.terms-cond-box').addClass('error');
    }

    if ($('.swal2-container').css('display', 'flex') || $('.sweet-alert').css('display', 'block')) {
      $('#AddedToCartPopup').css('display', 'none !important');
      $('#AddedToCartMobilePopup').css('display', 'none !important');
    }

  });

  concrete.product = {
    settings: {
      currentSlide: 0,
      container: '#ProductPhoto',
      zoom: {
        container: '.zoom-wrapper',
        target: '#ProductPhotoZoom',
        breakpoint: {{ settings.breakpoint_s }}
      },
      slick: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        autoplay: false,
        fade: true,
        dots: false,
        arrows: false,
        pauseOnHover: false,
        speed: {{ settings.transition_speed }},
        adaptiveHeight: false,
        responsive: [
          {
            breakpoint: {{ settings.breakpoint_m }},
            settings: {
              dots: true,
              customPaging: function(slider, i) {
                return '';
              }
            }
          }
        ]
      }
    },
    images: function() {
      $(concrete.product.settings.container).slick(concrete.product.settings.slick);
      concrete.product.thumbnails('[data-section-type="product"]');
      concrete.product.zoom('[data-section-type="product"]');
    },
    zoom: function(target) {
      if ($(window).width() > concrete.product.settings.zoom.breakpoint) {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).zoom({
          target: concrete.product.settings.zoom.target,
          onZoomIn: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').addClass('active');
          },
          onZoomOut: function() {
            $(concrete.product.settings.zoom.target).closest('.product-zoom').removeClass('active');
          }
        });
      } else {
        $(target).find(concrete.product.settings.container + ' ' + concrete.product.settings.zoom.container).trigger('zoom.destroy');
      }
    },
    thumbnails: function(target) {
      $(target).find('[data-thumbnail]').on({
        mouseenter: function() {
          $('[data-thumbnail]').removeClass('active').css('border', '1px solid #ddd');
          $(this).addClass('active').css('border', '3px solid #fc0');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        mouseleave: function() {
          var index = concrete.product.settings.currentSlide;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        },
        click: function() {
          $('[data-thumbnail]').removeClass('active').css('border', '1px solid #ddd');
          $(this).addClass('active').css('border', '3px solid #fc0');
          var index = $(this).closest('.column').index();
          concrete.product.settings.currentSlide = index;
          $(target).find(concrete.product.settings.container).slick('slickGoTo', index);
        }
      });
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:section:deselect', function(event) {
    $(event.target).find(concrete.product.settings.container).slick(concrete.product.settings.slick);
    concrete.product.thumbnails(event.target);
  });

  $(document).on('shopify:block:select', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    var target = $(event.target).data('tab-toggle');
    $(event.target).addClass('active');
    $(event.target).closest('[data-section-type="product"]').find(target).addClass('active');
  });

  $(document).on('shopify:block:deselect', function(event) {
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle], [data-tab-content]').removeClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-toggle]:first-child').addClass('active');
    $(event.target).closest('[data-section-type="product"]').find('[data-tab-content]:first-child').addClass('active');
  });

  $(window).on('resize', function() {
    concrete.product.zoom('[data-section-type="product"]');
  });

  // Init on docready
  $(document).ready(function() {
    concrete.product.images();
  });

  function didPersonalize(event){
    if ($('.pplr-text input').val().length == 0 ){
      event.stopPropagation();
      $('#btn-add-to-cart.inline').css('opacity', '.5');
      $('.addbuttons_error').css('display', 'block');
      event.preventDefault();
    }else{
      $('.addbuttons_error').css('display', 'none');
      return true;
    }
  }
  function didSelect(event){
    event.preventDefault();
    if($('#productSelect option:selected').val() == 'Make a Selection'){
      event.stopPropagation();
      $('#btn-add-to-cart.inline').css('opacity', '.5');
      $('.select_error').css('display', 'block');
    }else{
      $('.select_error').css('display', 'none');
      return true;
    }
  }
  $(document).ready(function(){
    // On load, to not display minus sign as default
    if ($('#quantity').val() <= 1 ){
      $('.input-number-decrement').prop('disabled', true);
    }
    // Incrementing will display minus sign
    $('.input-number-increment').click(function() {
      var val = parseInt($('#quantity').val());

      $('#quantity').val(val +1);

      if($('#quantity').val() > 1){
        $('.input-number-decrement').prop('disabled', false);
      }
    });
    // Needs to check if qty value is less than 1, if not, don't allow decrement
    $('.input-number-decrement').click(function() {
      if ($('#quantity').val() <= 1 ){
        $('.input-number-decrement').prop('disabled', false);
      }else{
        $('.input-number-decrement').prop('disabled', true);
        var val = parseInt($('#quantity').val());
        $('#quantity').val(val - 1);
      }
    })
    // Check If Quantity Is 0 Or Less On Focusout, Default To 1 If True
    $('#quantity').on('focusout', function() {
      if ($('#quantity').val() <= 0 ) {
        $('#quantity').val(1);
      }
    });
    // Prevent User From Entering 0 Quantity
    $('#quantity').keydown(function (e) {
      // Ignore 0, Negative, Subtract
      var ignore_key_codes1 = [48, 109, 189];
      // Ignore Period, Decimal, Letter E
      var ignore_key_codes2 = [110, 190, 69];
      if (($.inArray(e.keyCode, ignore_key_codes1) >= 0 && $(this).val().length == 0) || $.inArray(e.keyCode, ignore_key_codes2) >= 0){
        e.preventDefault();
      }
    });
  });

  $(document).ready(function(){
    $('.swatch-selector').click(function(){
      $('.swatch-selector').removeClass('active');
      $(this).addClass('active');
      $('.select_error').css('display', 'none');
      $('#btn-add-to-cart.inline').css('opacity', '1'); 
      var __swatch_title = $(this).find('span').text(); 
      var __product = JSON.parse($('#ProductJson').html().trim()); 
      var __swatch_price = parseFloat(__product.variants.find(x=>x.title == __swatch_title)["price"]/100); 
      var __swatch_compare_price = parseFloat(__product.variants.find(x=>x.title == __swatch_title)["compare_at_price"]/100); 
      if(__swatch_compare_price != 0) { 
        var __discount = Math.round((1 - __swatch_price/__swatch_compare_price) * 100 ); 
        __swatch_price = '<span id="OnSale"><s id="ComparePrice">$'+__swatch_compare_price+'</s></span>$'+__swatch_price+'<span class="no-margin savings">(Save '+__discount+'%)</span>';
      } else {
        __swatch_price = "$"+__swatch_price; 
      }
      $(".product-price").html(__swatch_price);
    });
  });
  $(document).ready(function(){
    var emptyCount = 0;
    var buttonUnlocker = setInterval(function(){
      $('input.pplr_text').each(function () {
          if ($(this).val() == '') {
              emptyCount++;
          }
      });
      if(emptyCount === 0) {
        $('#btn-add-to-cart.inline').css('opacity', '1');
      } else {
        $('#btn-add-to-cart.inline').css('opacity', '0.5');
      }
      emptyCount = 0;
    }, 500);
  });
  $(document).ready(function(){
    $('.product-personalizer').ready(function(){
      $('#btn-add-to-cart.customize-btn').addClass('inline').css('display', 'inline-block');
      $('.pplr-btn').click(function(){
        $('.cstmfy_personalize_text').appendTo('.outside-product-personalizer');
      });
    });
  });

  $(document).ready(function(){
    $('.product-image-video , .video-play-button').on('click', function(event) {
      var video_url = $(event.target).closest('.product-image').find('.video--holder > div').attr('data-video-url');
      $(event.target).closest('.product-image').find('.video--holder').removeClass('visually-hidden');
      $(event.target).closest('.product-image').find('.video--holder > div > iframe').attr('src', video_url);
    });
  });


</script>
<script>
  var product_tags = [];
  {% for tag in product.tags %}
    product_tags.push("{{ tag }}");
  {% endfor %}
</script>

<script>
 var inventory_quantity = {};
 {% for variant in product.variants %}
   inventory_quantity[{{- variant.id -}}] = {{ variant.inventory_quantity | default: 0 }};
 {% endfor %}
</script>
{% unless product == empty %}
<script type="application/json" id="ProductJson" data-product-json>
 {{ product | json }}
</script>
{% endunless %}

{% schema %}
  {
    "name": "Product template",
    "settings": [
      {
        "type": "header",
        "content": "Product template",
        "info": "These settings affect all products using this template"
      },
      {
        "type": "checkbox",
        "id": "sharing",
        "label": "Display social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tabs",
        "label": "Description tabs",
        "info": "H4 headings inside the product description will be converted into tabs",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Content tab",
        "settings": [
          {
            "type": "header",
            "content": "Content tab",
            "info": "Add an additional content tab to the product description"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New tab"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page content",
            "info": "Optionally, retrieve content from a page on your store"
          }
        ]
      },
      {
        "type": "companion",
        "name": "Product companions",
        "settings": [
          {
            "type": "header",
            "content": "Product companions",
            "info": "Link companion products"
          },
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "placeholder": "Also Available:"
          },
          {
            "type": "header",
            "content": "Product 1"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_1",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Product 2"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content_2",
            "label": "Content"
          }
        ]
      },
      {
        "type": "feature",
        "name": "Product feature",
        "settings": [
          {
            "type": "header",
            "content": "Product feature",
            "info": "Add features to all products or a specific set of products"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All products"
              },
              {
                "value": "tag",
                "label": "Only products with a specific tag"
              },
              {
                "value": "type",
                "label": "Only products of a specific type"
              },
              {
                "value": "vendor",
                "label": "Only products from a specific vendor"
              }
            ]
          },
          {
            "type": "text",
            "id": "display_on",
            "label": "Product tag, type or vendor",
            "info": "Specifiy the tag, type or vendor of product to display this feature on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "popup",
            "label": "Popup ID",
            "info": "To link to a popup, enter the popup's ID here. This will override the above link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "info": "Leave blank to link the entire feature"
          }
        ]
      }
    ]
  }
{% endschema %}
