<!-- sections/template-collection-magazine.liquid -->
{% include 'template-collection-magazines' %}

{% schema %}
	{
		"name": "Magazines template",
		"settings": [
			{
				"type": "header",
				"content": "Magazines template"
			}
		],
		"blocks": [
			{
				"type": "banner",
				"name":"Magazines Banners",
				"settings": [
					{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },
					{
					 	"type":"image_picker",
					 	"id": "magazine_image",
					 	"label": "Desktop Banner"
					},
					{
					 	"type":"image_picker",
					 	"id": "mob_magazine_image",
					 	"label": "Mobile Banner"
					},
					{			      		
						"type":"url",
			      		"id": "banner_url",
			      		"label": "Link"
		    		}
				]
			},
			{
				"type": "text_content",
				"name":"Magazine Text Content",
				"settings": [
					{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },
					{
					 	"type":"textarea",
					 	"id": "magazine_text",
					 	"label": "Text Content"
					}
				]
			},
			{
				"type": "image",
				"name": "Category Image",
				"settings": [
					{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },
					{
					 	"type":"image_picker",
					 	"id": "category_image",
					 	"label": "Category Image"
					}
				]
			},
	        {
		        "type": "us_pricing",
		        "name": "U.S. Pricing",
		        "settings": [
		        	{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },					                 
					{                 
						"type": "text",
						"id": "pricing1",
						"label": "Digital Edition US Price"
					},
					{                 
						"type": "text",
						"id": "pricing2",
						"label": "Print Edition US Price"
					},
					{                 
						"type": "text",
						"id": "pricing3",
						"label": "Print + Digital Edition US Price"
					},
					{                 
						"type": "text",
						"id": "pricing4",
						"label": "Lifetime Subscription US Price"
					},
					{                 
						"type": "url",
						"id": "pricing4_link",
						"label": "Lifetime Subscription Link"
					}
	        	]
			},
			{
		        "type": "can_pricing",
		        "name": "Canada Pricing",
		        "settings": [
		        	{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },					                 
					{                 
						"type": "text",
						"id": "pricing1",
						"label": "Digital Edition Canadian Price"
					},
					{                 
						"type": "text",
						"id": "pricing2",
						"label": "Print Edition Canadian Price"
					},
					{                 
						"type": "text",
						"id": "pricing3",
						"label": "Print + Digital Edition Canadian Price"
					},
					{                 
						"type": "text",
						"id": "pricing4",
						"label": "Lifetime Subscription Canadaian Price"
					},
					{                 
						"type": "url",
						"id": "pricing4_link",
						"label": "Lifetime Subscription Link"
					}
	        	]
			},
			{
		        "type": "int_pricing",
		        "name": "International Pricing",
		        "settings": [	
		        	{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        },				                 
					{                 
						"type": "text",
						"id": "pricing1",
						"label": "Digital Edition International Price"
					},
					{                 
						"type": "text",
						"id": "pricing2",
						"label": "Print Edition International Price"
					},
					{                 
						"type": "text",
						"id": "pricing3",
						"label": "Print + Digital Edition International Price"
					},
					{                 
						"type": "text",
						"id": "pricing4",
						"label": "Lifetime Subscription International Price"
					},
					{                 
						"type": "url",
						"id": "pricing4_link",
						"label": "Lifetime Subscription Link"
					}
	        	]
			},
			{
				"type": "buttons",
				"name": "Magazines Buttons",
				"settings": [ 
					{
				        "type": "collection",
				        "id": "collection",
				        "label": "Display on"
			        }, 		
					{
				  		"id": "subscribe_button",
				  		"type":"url",
				  		"label": "Subscribe Link"
					},
					{
				  		"id": "gift_button",
				  		"type":"url",
				  		"label": "Give a Gift Link"
					},
					{
				  		"id": "soon_button",
				  		"type":"text",
				  		"label": "Additional Button Text."
					},
					{
				  		"id": "soon_button_link",
				  		"type":"url",
				  		"label": "Additional Button Link"
					}
				]
			}
		]
	}
{% endschema %}