<!-- sections/template-collection.liquid -->

{% assign image = section.settings.image %}

<div class="container l padding-top padding-bottom-5x">
  <div class="row collapse no-margin padding-bottom-5x fg-text error-page" style="background:url({{ image | img_url: '1024x' }}) no-repeat">
    <div class="column l12">
      <div class="error-content">
        <p class="title t-uppercase">{{ '404.title' | t }}</p>
        <p class="subtext w-bold">{{ '404.subtext_html' | t }}</p>
        <p class="lower-subtext t-uppercase">{{ '404.lower_subtext_html' | t }}</p>
        <div class="row collapse">         
          {% for i in (1..4) %}
            {% capture label %}
              link_label{{i}}
            {% endcapture %}

            {% capture link_url %}
              link{{i}}
            {% endcapture %}
            {% assign label = label | strip %}
            {% assign link_url = link_url | strip %}
            {% if section.settings[label] != blank %}
            <div class="column l6 m6 s12 roundedbox_content">
              <a class="boxLink" href="{{section.settings[link_url]}}">{{section.settings[label]}}</a>          
            </div>
            {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div class="column l12 margin-top-5x margin-bottom-5x">
      <div class="error-content">
        <p class="bottom-title t-uppercase center">{{ '404.bottom_title' | t }}</p>
        <p class="bottom-subtext center">{{ '404.bottom_subtext' | t }}</p>
        <div class="our-mission-btn center">
          <a href="/pages/our-mission">About Our Mission</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404 template",
    "settings": [
      {
        "type": "header",
        "content": "404 template"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":"text",
        "id": "link_label1",
        "label": "Link Label"
      },
      {
        "type":"url",
        "id": "link1",
        "label": "Category Link"
      },
      {
        "type":"text",
        "id": "link_label2",
        "label": "Link Label"
      },
      {
        "type":"url",
        "id": "link2",
        "label": "Category Link"
      },
            {
        "type":"text",
        "id": "link_label3",
        "label": "Link Label"
      },
      {
        "type":"url",
        "id": "link3",
        "label": "Category Link"
      },
            {
        "type":"text",
        "id": "link_label4",
        "label": "Link Label"
      },
      {
        "type":"url",
        "id": "link4",
        "label": "Category Link"
      }
    ]
  }
{% endschema %}
