<!-- sections/template-collection-landing.liquid -->

{% assign has_blocks = false %}

{% for block in section.blocks %}
  {% if block.settings.collection == collection.handle %}
    {% assign has_blocks = true %}
  {% endif %}
{% endfor %}

{% if has_blocks %}
  {% include 'template-collection-landing' %}
{% else %}
  {% include 'template-collection' %}
{% endif %}

{% schema %}
  {
    "name": "Collection landing",
    "settings": [
      {
        "type": "header",
        "content": "Collection landing template",
        "info": "These settings affect all collections using this template"
      },
      {
        "type": "checkbox",
        "id": "heading",
        "label": "Display collection heading",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "button-banner",
        "name": "Button banner",
        "settings": [
          {
            "type": "header",
            "content": "Button banner"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection link",
        "settings": [
          {
            "type": "header",
            "content": "Collection link"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "third",
                "label": "One third"
              },
              {
                "value": "half",
                "label": "One half"
              },
              {
                "value": "whole",
                "label": "One whole"
              }
            ],
            "default": "half"
          },
          {
            "type": "text",
            "id": "percent_width",
            "label": "Percentage Width"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "collection-row",
        "name": "Collection row",
        "settings": [
          {
            "type": "header",
            "content": "Collection rows"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },          
          {
            "type": "text",
            "id": "collection_row_heading",
            "label": "Collection Row Heading"
          }, 
          {
            "type": "image_picker",
            "id": "banner",
            "label": "Banner"
          },
          {
            "type": "header",
            "content": "Collection 1"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "header",
            "content": "Collection 2"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "header",
            "content": "Collection 3"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link 3"
          }
        ]
      },
      {
        "type": "collection-double",
        "name": "Double collection",
        "settings": [
          {
            "type": "header",
            "content": "Collection link"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "third",
                "label": "One third"
              },
              {
                "value": "half",
                "label": "One half"
              },
              {
                "value": "whole",
                "label": "One whole"
              }
            ],
            "default": "half"
          },
          {
            "type": "text",
            "id": "percent_width",
            "label": "Percentage Width"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image one"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link one"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image two"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link two"
          }
        ]
      },
      {
        "type": "iframe",
        "name": "iFrame content",
        "settings": [
          {
            "type": "header",
            "content": "iFrame content"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "third",
                "label": "One third"
              },
              {
                "value": "half",
                "label": "One half"
              },
              {
                "value": "whole",
                "label": "One whole"
              }
            ],
            "default": "half"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "html",
            "id": "html",
            "label": "iFrame code"
          }
        ]
      },
      {
        "type": "product-slideshow",
        "name": "Product slideshow",
        "settings": [
          {
            "type": "header",
            "content": "Product slideshow"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },          
          {
            "type": "text",
            "id": "slideshow_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "slideshow_description",
            "label": "Slideshow Description"
          },
          {
            "type": "collection", 
            "id": "products",
            "label": "Products"
          }
        ]
      },
      {
        "type": "promo",
        "name": "Promotion",
        "settings": [
          {
            "type": "header",
            "content": "Promotion",
            "info": "Create a promotion image with a link for a specific collection or set of collections. Promotions always sit at the top of landing pages"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to display this promotion on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to display this promotion on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "slideshow",
        "name": "Slideshow",
        "settings": [
          {
            "type": "header",
            "content": "Slideshow",
            "info": "Slideshows always sit at the top of landing pages"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Display on"
          },
          {
            "type": "header",
            "content": "Settings"
          },
          {
            "type": "range",
            "id": "speed",
            "label": "Slides change every",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 5,
            "unit": "sec",
            "info": "Set to zero to disable autoplay"
          },
          {
            "type": "checkbox",
            "id": "thumbnails",
            "label": "Display navigation thumbnails",
            "default": true
          },
          {
            "type": "header",
            "content": "Slide 1"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle_1",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Slide 2"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle_2",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Slide 3"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle_3",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Slide 4"
          },
          {
            "type": "text",
            "id": "title_4",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle_4",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link_4",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Slide 5"
          },
          {
            "type": "text",
            "id": "title_5",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle_5",
            "label": "Subtitle"
          },
          {
            "type": "image_picker",
            "id": "image_5",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link_5",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
