<!-- sections/collection-banners.liquid -->
{% include 'collection-banners' %}

{% schema %}
  {
    "name": "Banner",
    "class": "collection-banners",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner image"
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Banners",
        "category": "Banners"
      }
    ]
  }
{% endschema %}