<div class="container l clearfix margin-bottom-2x"> 
  <div class="column l12">
    {% if collection.image %}<img class="wide" src="{{ collection.image | img_url: '996x996' }}" />{% endif %}

    <form id="mapForm" target="_parent" name="mapForm" class="margin-top"> 
      <div class="inline">
        <label id="ti_lblSelect">Choose a region from the map below or find by state: </label>
      </div>

      <div class="inline">
        <select id="SelectMapUrl" name="SelectMapUrl" onchange="if (this.value) window.location.href=this.value">
          <option value="/collections/trail-maps">Choose a state</option>
          <option value="/collections/alaska-trail-maps">Alaska</option>
          <option value="/collections/arizona-trail-maps">Arizona</option>
          <option value="/collections/arkansas-trail-maps">Arkansas</option>
          <option value="/collections/california-trail-maps">California</option>
          <option value="/collections/colorado-trail-maps">Colorado</option>
          <option value="/collections/delaware-trail-maps">Delaware</option>
          <option value="/collections/florida-trail-maps">Florida</option>
          <option value="/collections/georgia-trail-maps">Georgia</option>
          <option value="/collections/hawaii-trail-maps">Hawaii</option>
          <option value="/collections/indiana-trail-maps">Indiana</option>
          <option value="/collections/kentucky-trail-maps">Kentucky</option>
          <option value="/collections/maine-trail-maps">Maine</option>
          <option value="/collections/maryland-trail-maps">Maryland</option>
          <option value="/collections/massachusetts-trail-maps">Massachusetts</option>
          <option value="/collections/michigan-trail-maps">Michigan</option>
          <option value="/collections/missouri-trail-maps">Missouri</option>
          <option value="/collections/montana-trail-maps">Montana</option>
          <option value="/collections/nebraska-trail-maps">Nebraska</option>
          <option value="/collections/nevada-trail-maps">Nevada</option>
          <option value="/collections/new-hampshire-trail-maps">New Hampshire</option>
          <option value="/collections/new-mexico-trail-maps">New Mexico</option>
          <option value="/collections/new-york-trail-maps">New York</option>
          <option value="/collections/north-carolina-trail-maps">North Carolina</option>
          <option value="/collections/north-dakota-trail-maps">North Dakota</option>
          <option value="/collections/oregon-trail-maps">Oregon</option>
          <option value="/collections/puerto-rico-trail-maps">Puerto Rico</option>
          <option value="/collections/south-dakota-trail-maps">South Dakota</option>
          <option value="/collections/tennessee-trail-maps">Tennessee</option>
          <option value="/collections/texas-trail-maps">Texas</option>
          <option value="/collections/utah-trail-maps">Utah</option>
          <option value="/collections/virgin-islands-trail-maps">Virgin Islands</option>
          <option value="/collections/virgina-trail-maps">Virginia</option>
          <option value="/collections/washington-trail-maps">Washington</option>
          <option value="/collections/west-virgina-trail-maps">West Virginia</option>
          <option value="/collections/wisconsin-trail-maps">Wisconsin</option>
          <option value="/collections/wyoming-trail-maps">Wyoming</option>
        </select>
      </div>
    </form>
  </div>

  <div class="column l12">
    <iframe  src="https://ngmaps.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=49f74c1170bb4652a6af1b6aeaecb9bf&gcsextent=-172,5,-50,74&displayslider=true&displaysearch=true" name="myframe" id="myframe" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <div class="clearfix"></div>
</div>
