<!-- /sections/{{ section.id }}.liquid -->

{% assign speed = section.settings.speed %}
{% assign fade = section.settings.fade %}

<section id="slick-{{ section.id }}" class="theme-announcements s-hide">
  {% for block in section.blocks %}
    {% if block.settings.enabled %}
      {% if block.settings.image != blank or block.settings.content != blank %}
        <div class="announcement center palette fg-{{ block.settings.foreground }} bg-{{ block.settings.background }}" {{ block.shopify_attributes }}>
          <div class="container l">
            <div class="row collapse table">
              <div class="column l12 v-middle">
                {% if block.settings.url != blank or block.settings.popup != blank %}<a class="no-decoration" {% if block.settings.popup != blank %}href="#Popup_{{ block.settings.popup | handleize }}" data-trigger="popup" data-target="#Popup_{{ block.settings.popup | handleize }}"{% else %}href="{{ block.settings.url }}"{% endif %}>{% endif %}
                  <div class="no-margin">{% if block.settings.image != blank %}<img src="{{ block.settings.image | img_url: '1400x' }}">{% else %}<div class="rte no-margin">{{ block.settings.content }}</div>{% endif %}</div>
                {% if block.settings.url != blank or block.settings.popup != blank %}</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>

<script>
  concrete.announcements = {
    settings: {
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      autoplay: true,
      fade: {{ fade }},
      dots: false,
      arrows: false,
      pauseOnHover: false,
      autoplaySpeed: {{ speed }}000,
      speed: {{ settings.transition_speed }},
      adaptiveHeight: false
    },
    slideshow: function() {
      $('#slick-{{ section.id }}').slick(concrete.announcements.settings);
    }
  }

  // Theme Editor Javascript API
  $(document).on('shopify:section:load', function(event) {
    $(event.target).find('#slick-{{ section.id }}').slick(concrete.announcements.settings);
  });

  $(document).on('shopify:section:deselect', function(event) {
    $(event.target).find('#slick-{{ section.id }}').slick('slickPlay');
  });

  $(document).on('shopify:block:deselect', function(event) {
    $(event.target).closest('#slick-{{ section.id }}').slick('slickPlay');
  });

  $(document).on('shopify:block:select', function(event) {
    var index = $(event.target).data('slick-index');
    $(event.target).closest('#slick-{{ section.id }}').slick('slickGoTo', index).slick('slickPause');
  });

  // Init on docready
  $(document).ready(function() {
    concrete.announcements.slideshow();
  });
</script>

{% schema %}
  {
    "name": "Announcements",
    "settings": [
      {
        "type": "header",
        "content": "Announcements"
      },
      {
        "id": "speed",
        "type": "range",
        "label": "Announcements change every",
        "min": 1,
        "max": 20,
        "step": 1,
        "default": 5,
        "unit": "sec"
      },
      {
        "type": "select",
        "id": "fade",
        "label": "Announcement transition",
        "options": [
          { "value": "true", "label": "Fade" },
          { "value": "false", "label": "Slide" }
        ],
        "default": "true"
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcement",
        "settings": [
          {
            "type": "header",
            "content": "Announcement"
          },
          {
            "type": "checkbox",
            "id": "enabled",
            "label": "Enable this announcement",
            "default": true
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Message text",
            "default": "<p>Free shipping over $100</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Message image",
            "info": "Image overrides above text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "popup",
            "label": "Popup ID",
            "info": "To link to a popup, enter the popup's ID here. This will override the above link"
          },
          {
            "type": "header",
            "content": "Style"
          },
          {
            "type": "select",
            "label": "Background color",
            "id" : "background",
            "options": [
              { "value": "brand", "label": "Brand"},
              { "value": "text", "label": "Text"},
              { "value": "foreground", "label": "Foreground"},
              { "value": "background", "label": "Background"},
              { "value": "alternate", "label": "Alternate"},
              { "value": "highlight", "label": "Highlight"}
            ],
            "default": "alternate"
          },
          {
            "type": "select",
            "label": "Foreground color",
            "id" : "foreground",
            "options": [
              { "value": "brand", "label": "Brand"},
              { "value": "text", "label": "Text"},
              { "value": "foreground", "label": "Foreground"},
              { "value": "background", "label": "Background"},
              { "value": "alternate", "label": "Alternate"},
              { "value": "highlight", "label": "Highlight"}
            ],
            "default": "background"
          }
        ]
      }
    ]
  }
{% endschema %}
