<!-- /snippets/theme-footer.liquid -->

{% assign footer_menu_1 = linklists[section.settings.footer_menu_1] %}
{% assign footer_menu_2 = linklists[section.settings.footer_menu_2] %}
{% assign footer_menu_3 = linklists[section.settings.footer_menu_3] %}
{% assign footer_menu_4 = linklists[section.settings.footer_menu_4] %}
{% assign menu_titles = section.settings.menu_titles %}
{% assign disclaimer = section.settings.disclaimer %}
{% assign social = section.settings.social %}

{% assign subscribe = section.settings.subscribe %}
{% assign subscribe_header = section.settings.subscribe_header %}
{% assign subscribe_header_popup = section.settings.subscribe_header_popup %}

{% assign subscribe_details_text = section.settings.subscribe_details_text %}
{% assign subscribe_details_link = section.settings.subscribe_details_link %}

{% assign show_button = section.settings.subscribe_button %}
{% assign gateway_icons = section.settings.gateway_icons %}
{% assign background_image = section.settings.background_image %}
{% assign background_image_size = section.settings.background_image_size %}
{% assign background_image_size_url = background_image_size | append: 'x' %}
{% assign background_image_position = section.settings.background_image_position %}
{% assign background_image_repeat = section.settings.background_image_repeat %}


{% comment %}
  Controls the width of the footer / header to be within the container. Has not been assigned to any logic in particular yet.
{% endcomment %}



<footer class="theme-footer" role="contentinfo">
  <div class="container l center bg-text fg-background"{% unless background_image == blank %} style="background-image:url('{% if background_image_size == 0 %}{{ background_image | img_url: 'original' }}{% else %}{{ background_image | img_url: background_image_size_url }}{% endif %}');background-repeat:{{ background_image_repeat }};background-position:{{ background_image_position }};background-size:{% if background_image_size == 0 %}contain{% else %}{{ background_image_size | append: 'px' }}{% endif %};"{% endunless %}>
    <div class="row footer-row no-margin">
      <div class="column l12">

        {% if footer_menu_1 != blank or footer_menu_2 != blank or footer_menu_3 != blank or footer_menu_4 != blank %}
          {% assign menus = 0 %}

          {% for i in (1..3) %}
            {% assign menu_key = 'footer_menu_' | append: i %}
            {% assign menu = linklists[section.settings[menu_key]] %}
            {% if menu != blank %}
              {% assign menus = menus | plus: 1 %}
            {% endif %}
          {% endfor %}

          {% case menus %}
            {% when 1 %}
              {% assign column_width = 'l12' %}
            {% when 2 %}
              {% assign column_width = 'l6 m6' %}
              {% assign column_width_wider = 'l6 m6 s12' %}
            {% when 3 %}
              {% assign column_width = 'l3 m6' %}
              {% assign column_width_wider = 'l4 m5 s12' %}
          {% endcase %}

          <div class="row l-table space_top">
            <div class="column l12 m12 s12">
              <div class="row l-table">
                {% for i in (1..3) %}
                  {% assign menu_key = 'footer_menu_' | append: i %}
                  {% assign menu = linklists[section.settings[menu_key]] %}
                  {% if menu != blank %}
                  <!-- This -->
                    <div class="column {{ column_width }} s-hide l-left m-left">


                      <div id="internalHeader" style="padding-left: 5px;">
                      {% if menu_titles %}
                        <p class="menu-title t-uppercase w-bold inline wide">{{ menu.title }}</p>
                      {% endif %}
                      </div>
                      <div id="internalContainer" style="padding-left: 5px; ">
                          <ul>
                            <!-- Centering this element -->
                            {% for link in menu.links %}
                              <li class="menu-links"><p class="no-margin"><a class="footer-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></p></li>
                            {% endfor %}
                          </ul>
                      </div>

                      <div class="margin-bottom-2x s-show"></div>
                    </div>
                  {% endif %}
                {% endfor %}

                {% if social or subscribe %}
                  <div class="column l3 m6 s12 l-left m-left last-column">
                    {% if subscribe %}
                        <p class="menu-title t-uppercase w-bold inline wide newsletter">
                         {{ subscribe_header }}
                        </p>
                        <div class="row l-table no-margin collapse">
                          <div class="column l12 m12 s12 v-middle s-margin-top">
                            {% include 'footer-subscribe' %}
                          </div>
                        </div>
                    {% endif %}
                    {% if social %}
                    <div class="row l-table no-margin collapse l-hide m-hide">
                      <div class="column l12 m12 s12 v-middle no-padding">
                        <div>{% include 'social-links', use_images: true %}</div>
                        <div class="margin-bottom-2x s-show"></div>
                      </div>
                    </div>
                    {% endif %}

                    {% for i in (1..2) %}
                      {% assign menu_key = 'mobile_footer_menu_' | append: i %}
                      {% assign menu = linklists[section.settings[menu_key]] %}
                      {% if menu != blank %}
                        <div class="column l-hide m-hide s-show s6 left footer-links">
                          <ul>
                            {% for link in menu.links %}
                              <li class="menu-links"><p class="no-margin"><a class="footer-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></p></li>
                            {% endfor %}
                          </ul>
                          <div class="margin-bottom-2x s-show"></div>

                        </div>
                      {% endif %}
                    {% endfor %}

                    {% if social %}
                    <div class="row l-table no-margin collapse s-hide">
                      <div class="column l12 m12 s12 v-middle no-padding">
                        <div>{% include 'social-links', use_images: true %}</div>
                        <div class="margin-bottom-2x s-show"></div>
                      </div>
                    </div>
                    {% endif %}

                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}

        <div class="l-table middle border-top-bottom">
          <ul class="center t-uppercase">
            <li id="help" class="s-hide">Need Help?</li>
            <li id="faq"><a href="/pages/faqs"><i class="fa fa-question-circle"></i>FAQs</a></li>
            <li id="envelope"><a href="/pages/contact-us"><i class="fa fa-envelope"></i>Email</a></li>
            <li id="comment"><i class="fa fa-comments"></i><span class="livechat-cta-footer" onclick="parent.LC_API.open_chat_window({source:'minimized'})">Live Chat<span></li>
            <li id="phone"><a href="tel:18004375521"><i class="fa fa-phone"></i>1-800-437-5521</a></li>
          </ul>
        </div>

        <div class="row no-margin credit">
          <div class="column l7 m12 s12 l-left">
            {% if disclaimer != blank %}
              <div class="rte disclaimer">
                {{ disclaimer }}
              </div>
            {% endif %}
            <p class="h6 w-normal"><a href="http://araca.com" target="_blank" title="The Araca Group"><img class="araca-logo v-middle" src="{{ 'araca-logo.png' | asset_url }}"></a><span class="v-middle"> &copy; {{ 'now' | date: "%Y" }} All Rights Reserved.</span></p>
            <p class="h6 w-normal">Trademark & Copyright Notice: &trade; and &copy; 2015 National Geographic Society. &trade; and &copy; {{ 'now' | date: "%Y" }} National Geographic Partners, LLC and related entities. All Rights Reserved. Use of this Website (including any and all parts and components) constitutes your acceptance of these <a href="https://www.nationalgeographic.com/community/terms/">Terms of Use</a> and <a href="https://www.nationalgeographic.com/community/privacy/">Privacy Policy</a>. <a href="https://www.nationalgeographic.com/community/privacy.html#ad-choices">Ad Choices</a>.</span></p>
            <br>
          </div>
          <div class="column l4 m12 s12 l-left">
            <ul>
              <li><a href="https://www.novica.com/"><img class="v-middle" src="{{ 'novica_icon.png' | asset_url }}"></a></li>
              <li><img class="v-middle" src="{{ 'paypal_icon.png' | asset_url }}"></li>
              <li><a href="https://www.mcafeesecure.com/verify?host=shop.nationalgeographic.com"><img class="v-middle" src="{{ 'mcafee_icon.png' | asset_url }}" title="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" alt="McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function(){
    var link_one = $('.theme-footer .container .l3:first-child ul .menu-links:nth-child(2) a');
    var link_two = $('.theme-footer .container .l3:first-child ul .menu-links:nth-child(3) a');
    var link_three = $('.theme-footer .container .l3:first-child ul .menu-links:nth-child(4) a');
    $(link_one).click(function(event){
      event.preventDefault();
    });
    $(link_two).click(function(event){
      event.preventDefault();
    });
    $(link_three).click(function(event){
      event.preventDefault();
    });
  });

</script>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "link_list",
        "id": "footer_menu_1",
        "label": "Footer menu 1"
      },
      {
        "type": "link_list",
        "id": "footer_menu_2",
        "label": "Footer menu 2"
      },
      {
        "type": "link_list",
        "id": "footer_menu_3",
        "label": "Footer menu 3"
      },
      {
        "type": "link_list",
        "id": "mobile_footer_menu_1",
        "label": "Mobile Footer menu 1"
      },
      {
        "type": "link_list",
        "id": "mobile_footer_menu_2",
        "label": "Mobile Footer menu 2"
      },
      {
        "type": "link_list",
        "id": "mobile_footer_menu_3",
        "label": "Mobile Footer menu 3"
      },
      {
        "type": "checkbox",
        "id": "menu_titles",
        "label": "Display menu titles",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social",
        "label": "Display social media icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "gateway_icons",
        "label": "Display payment gateway icons",
        "info": "Relevant payment icons will appear automatically when configured in [Payment Settings](/admin/settings/payments)",
        "default": true
      },
      {
        "type": "header",
        "content": "Subscribe form"
      },
      {
        "type": "checkbox",
        "id": "subscribe",
        "label": "Display subscribe form",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "subscribe_button",
        "label": "Display submit button",
        "default": true
      },
      {
        "type": "text",
        "id": "subscribe_header",
        "label": "Title",
        "default": "Sign up and save $5 on your first order!"
      },
      {
        "type": "text",
        "id": "subscribe_details_text",
        "label": "Details text"
      },
      {
        "type": "url",
        "id": "subscribe_details_link",
        "label": "Details link"
      },
      {
        "type": "text",
        "id": "subscribe_header_popup",
        "label": "Title popup ID",
        "info": "To link to a popup, enter the popup's ID here. This will override the above link"
      },
      {
        "type": "richtext",
        "id": "disclaimer",
        "label": "Disclaimer",
        "default": "<p>Shop.NationalGeographic.com is owned and operated by Araca Merchandise L.P. under license from Araca Merchandise L.P., United States,<br> is solely responsible for the site's content and all aspects of your purchase.</p>"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "background_image_size",
        "label": "Background image size",
        "min": 0,
        "max": 1000,
        "step": 10,
        "default": 0,
        "unit": "px",
        "info": "Set to zero for automatic sizing"
      },
      {
        "type": "select",
        "id": "background_image_repeat",
        "label": "Background image style",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat"
          },
          {
            "value": "repeat-x",
            "label": "Repeat horizontally"
          },
          {
            "value": "repeat-y",
            "label": "Repeat vertically"
          }
        ],
        "default": "repeat-x"
      },
      {
        "type": "select",
        "id": "background_image_position",
        "label": "Background image position",
        "options": [
          {
            "value": "left top",
            "label": "Left top"
          },
          {
            "value": "left center",
            "label": "Left center"
          },
          {
            "value": "left bottom",
            "label": "Left bottom"
          },
          {
            "value": "center top",
            "label": "Center top"
          },
          {
            "value": "center center",
            "label": "Centered"
          },
          {
            "value": "center bottom",
            "label": "Center bottom"
          },
          {
            "value": "right top",
            "label": "Right top"
          },
          {
            "value": "right center",
            "label": "Right center"
          },
          {
            "value": "right bottom",
            "label": "Right bottom"
          }
        ],
        "default": "center top"
      }
    ]
  }
{% endschema %}
