{% comment %}
This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
Be sure to select page.contact as the template from the admin page to have this template take effect.

For information on adding more fields, visit:
- http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form
{% endcomment %}

{% comment %}
Google Map
{% endcomment %}


<div class="contactus-page container">
  {% comment %}
  Regular page content goes here.
  {% endcomment %}
  <div class="rte">
    {{ page.content }}
  </div>

  {% comment %}
  Contact form starts here
  {% endcomment %}
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="col-left-block">
        {% if settings.contact_title_left_1 != blank %}
        <div class="block-title"><h3>{{ settings.contact_title_left_1 }} </h3></div>
        {% endif %}
        {% if settings.col_left_content1 != blank %}
        <div class="block-content">{{ settings.col_left_content1 }} </div>
        {% endif %}
      </div>
      <div class="col-left-block">
        {% if settings.contact_title_left_2 != blank %}
        <div class="block-title"><h3>{{ settings.contact_title_left_2 }} </h3></div>
        {% endif %}
        {% if settings.col_left_content2 != blank %}
        <div class="block-content">{{ settings.col_left_content2 }} </div>
        {% endif %}
      </div>
      <div class="col-left-block">
        {% if settings.contact_title_left_3 != blank %}
        <div class="block-title"><h3>{{ settings.contact_title_left_3 }} </h3></div>
        {% endif %}
        {% if settings.col_left_content3 != blank %}
        <div class="block-content">{{ settings.col_left_content3 }} </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      
    {% comment %}
    Successful message
    {% endcomment %}
    {% if form.posted_successfully? %}
    <p class="note form-success">
      Thanks for contacting us! We'll get back to you as soon as possible.
    </p>
    {% endif %}

    {% include 'form-errors-custom' %}

    <div id="contactFormWrapper">
      <h2>REACH US FOR ANY QUESTIONS YOU MIGHT HAVE</h2>


<!--       <label for="contactFormName">Your Name</label>
      <input type="text" id="contactFormName" name="contact[name]" autocapitalize="words" placeholder="{{ settings.contact_your_name }}">

      <label for="contactFormEmail">Your Email<em>*</em></label>
      <input type="email" name="contact[email]" id="contactFormEmail" autocorrect="off" autocapitalize="off" placeholder="{{ settings.contact_your_email }}" required>

      <label for="contactFormMessage">Your Comment<em>*</em></label>
      <textarea rows="10" name="contact[body]" id="contactFormMessage" placeholder="{{ settings.contact_your_comment }}" required></textarea>

      <input type="submit" class="btn left" value="Send Message"> -->
      <script type="text/javascript">
        (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
        'https://fusionbposervices.ladesk.com/scripts/track.js',
        function(e){ LiveAgent.createForm('870605fd', e); });
      </script>
    </div>
	<div class="contact-top">
    {% form 'contact' %}
      </div>
    {% endform %}
    </div>
  </div>
</div>



<script>
  jQuery('.main-content').removeClass('container');
</script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>