<!-- <SCRIPT TYPE="text/javascript">
  function popup(mylink, windowname) { 
    if (! window.focus)return true;
    var href;
    if (typeof(mylink) == 'string') href=mylink;
    else href=mylink.href; 
    window.open(href, windowname, 'width=500,height=400,scrollbars=yes'); 
    return false; 
  }
</SCRIPT>

{% assign found = false %}
{% for c in product.collections %}
  {% if c.handle == "5-off-2-day-shipping" %}
    {% assign found = true %}
  {% endif %}
{% endfor %}

{% if found == true %}
  <a href="/pages/5-off-2-day-air" onClick="return popup(this, '$5 Off 2-Day Air')"><div id="qab_placeholder" style="padding-bottom: 10px;"></div></a>
{% endif %} -->

<div class="row" id="product">
   {% if settings.enable_product_detail_leftt %}
 	 <div class="col-xs-12 col-main col-lg-9 col-md-12  col-sm-12 col-right-product">
   {% else %}
     <div class="col-xs-12 col-main col-md-12 col-sm-12 col-right-product">
  {% endif %}
    <div itemscope itemtype="http://schema.org/Product" class="product wrap-content-detail">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
      <meta itemprop="shop-currency" content="{{ shop.currency }}">

      <div class="row">
        <div class="col-xs-12 col-md-5 col-sm-5 product-img-box">
          
          {% if product.images.size == 0 %}
  
            <img src="{{ '' | product_img_url: 'grande' }}" alt="">
       
          {% else %}
     
            {% assign featured_image = product.selected_variant.featured_image | default: product.featured_image %}
            <a href="{{ featured_image | img_url: 'original' }}" class="zoom" id="placeholder" >
              <img id="product-featured-image" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image.src | img_url: 'original' }}"/>
            </a>
        
          {% if product.images.size > 1 %}		
          
            <div id="zt_list_product" class="thumbs">
              {% for image in product.images %}
              <div class="image-item">
                <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'grande' }}" data-zoom-image="{{ image.src | product_img_url: 'original' }}">
                  <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
              </div>
              {% endfor %}
            </div>
         
          {% endif %}
          {% endif %}
        </div>

        <div class="col-lg7 col-md-7 col-sm-7 col-xs-12 product-shop" id="product-description">
          <div style="float: left;" itemprop="offers" itemtype="http://schema.org/Offer">
            <header class="product-title {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}has-btn{% endif %}">
              <h2 itemprop="name">{{ product.title }}</h2>
             
              {% if settings.display_prev_next_product and collection %}
            	<div class="product-step">
                {% if collection.previous_product %}
              <a class="prev-p" href="{{ collection.next_product }}" title="Prev"><span class="fa fa-angle-left"></span>Previous</a>
                {% endif %}
                {% if collection.next_product %}
              <a class="next-p" href="{{ collection.next_product }}" title="Next">Next<span class=" fa fa-angle-right"></span></a>
                {% endif %}
                </div>
              {% endif %}
            </header>
            
            {% assign description = product.metafields.description %}
            {% assign key = 'short' %}
            <p class="shortDescription">{{ description.short }}</p>
            
            <div class="prices">              		
              {% if product.compare_at_price > product.price %}
              	{% if product.price_varies %}
              	<span class="compare-price">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money}}</span>
              	<span class="price on-sale" itemprop="price">{{ product.price_min | money }} - {{ product.price_max | money }} {% if product.compare_at_price > product.price %} <span style="color: #A71820; font-size: 15px; vertical-align: bottom; font-weight: 600;">(Save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: ".0"}}%)</span>{% endif %}</span>
                {% else %}
                <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
              	<span class="price on-sale" itemprop="price">{{ product.price | money }} {% if product.compare_at_price_max > product.price %} <span style="color: #A71820; font-size: 15px; vertical-align: bottom; font-weight: 600;">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>{% endif %}</span>
                {% endif %}
              {% else %}
                {% if product.price_varies %} 
                <span class="price" itemprop="price">{{ product.price_min | money }} - {{ product.price_max | money }} </span>
                {% else %}
                 <span class="price" itemprop="price">{{ product.price | money }} </span>
                {% endif %}
              {% endif %}
            </div>
            {% if settings.display_product_reviews %}       
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% endif %}
            <div class="meta-hold">
              {% assign sku = product.metafields.sku %}
              {% assign key = 'parent' %}
              <p class="parentSKU">SKU: {{ sku.parent }}</p>
            </div>
            <div id="meta-text">              
              {% assign preorder = product.metafields.preorder %}
              {% assign key = 'date' %}
               <p><span>{{ preorder.date }}</span></p>
            </div>
            {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
            <div class="availability">
              {% if settings.display_availability %}
              <p class="product-inventory"> <label>Availability</label><span>{% if product.selected_or_first_available_variant.inventory_management %}{% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}{% if first_inventory > 0 %}{{first_inventory}} in stock{% else %}Out of stock{% endif %}{% else %}Many in stock{% endif %}
                </span></p>
              {% endif %}
    
            </div>
            {% endif %}
            
            {% if product.available %}
            <link itemprop="availability" href="http://schema.org/InStock">
            {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock">
            {% endif %}
            {% if product.available %}
            <br>
              {% endif %}
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
              <div id="product-variants">
                {% assign variantCount = product.variants | size %}
                {% if product.available %} 
                {% if variantCount > 1 %}	
                <select id="product-selectors" name="id" class="hidden">
                  {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {% endfor %}
                </select>
                  {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                  {% endif %}
                {% endif %}
              </div>
			  <br><br>
              {% if product.available %}       
              <label for="quantity" class="qty">QTY:</label>
                <input type="text" class="qty" id="quantity" name="quantity" value="1">

               <div> 
                 <input type="submit" name="add" class="btn" id="product-add-to-cart" style="margin-top: 2rem; background-color: #0C693A; min-width: 130px;" value="Add to Cart"> 
                      
                {% else %}
                {% unless product.available %}
                <div id="sold-out">
                  <p style="padding-top: 30px; color: red; font-size: 20px;">SOLD OUT</p>
<!--                   {% form 'contact' %}
                    {% if form.posted_successfully? %}
                    <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
                    {% else %}
                    <p><a id="notify-me" href="#"><strong>Click here</strong></a> to be notified by email when {{ product.title }} becomes available.</p>
                    {% endif %}
                    {% if form.errors %}
                    <div class="error feedback accent-text">
                      <p>Please provide a valid email address.</p>
                    </div>
                    {% endif %}
                    {% unless form.posted_successfully? %}
                    <div id="notify-me-wrapper" class="clearfix" style="display:none">
                      {% if customer %}
                      <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                      {% else %}
                      <input style="float:left; width:250px;" required="required" type="email" name="contact[email]" placeholder="your@email.com" class="styled-input{% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                      {% endif %}
                      <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
                      <input style="float:left; margin-left:5px; padding: 17px 20px; border-radius: 0px;" class="btn styled-submit" type="submit" value="Send" />         
                    </div>
                   
                    {% endunless %}
                    <script>
                    jQuery('#notify-me').click(function() { 
                      {% if customer %}
                      jQuery('#sold-out form').submit(); 
                      {% else %}            
                      jQuery('#notify-me-wrapper').fadeIn();           
                      {% endif %}
                      return false;
                    } );
                    </script>
                  {% endform %} -->
<!--                   <div data-role="amasty-xnotif" style="margin-bottom: 15px;"></div> -->
                </div>
				{% endunless %}
                {% endif %}    


            
			
                 
              </div>
          </form>
         {% if product.available %}
         <div id="meta-text">              
            {% assign shipsto = product.metafields.shipsto %}
            {% assign key = 'country' %}
            <p>{{ shipsto.country }}</p>
            {% assign shipping = product.metafields.shipping %}
            {% assign key = 'days' %}
            <p>{{ shipping.days }}</p>
            {% assign backorder = product.metafields.backorder %}
            {% assign key = 'date' %}
            <p>{{ backorder.date }}</p>
          </div>
            {% endif %}
            <div style="margin-top: 2rem;">{% include 'product-share' %}</div>
        </div>
        
      </div>
    </div>
   
    <div class="product-tabs ">
      <ul class="nav nav-tabs" id="myTab">
        {% if settings.display_product_detail_description %}
        <li class="active"><a data-toggle="tab" href="#collapse-tab1">{{ settings.product_description_title }}</a></li>
        {% endif %}
        
        {% if product.metafields.productinfo.size_chart %}
        <li><a data-toggle="tab" href="#collapse-sizechart">Size Charts</a></li>
        {% endif %}
        
        {% if settings.display_product_reviews %}       
        <li><a data-toggle="tab" href="#collapse-tab2">{{ settings.product_review_title }}</a></li>
        {% endif %}
      </ul>

      <div id="myTabContent" class="tab-content">
        {% if settings.display_product_detail_description %}
        <div id="collapse-tab1" class="tab-pane fade in active">
          {{ product.description }}
        </div>
        {% endif %}
        
        {% if product.metafields.productinfo.size_chart %}
        <div id="collapse-sizechart" class="tab-pane fade" data-sizechart-url="{{ product.metafields.productinfo.size_chart | file_url }}">
          
        </div>
        {% endif %}
        
        {% if settings.display_product_reviews %}       
        <div id="collapse-tab2" class="tab-pane fade">
          {% comment %}
            Add product review widget, must install Product Review App:
            https://apps.shopify.com/product-reviews
          {% endcomment %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
        {% endif %}
      </div>
    </div>
    <script>
    jQuery('#myTab a').click(function (e) {
      e.preventDefault();
      jQuery(this).tab('show');
    }); 
    {% if product.metafields.productinfo.size_chart %}
    jQuery(function() {
      var $url = '{{ product.metafields.productinfo.size_chart | file_url }}';
      $segment = $('#collapse-sizechart');
      jQuery.ajax({
        url: $url,
        type:'GET',
        success: function(response) {
          $segment.prepend(response);
        },
        error: function(xhr) {
          console.log(xhr);
        }
      });
    });  
    {% endif %}
    </script>
    
 

  {% comment %}
         {{ 'option_selection.js' | shopify_asset_url | script_tag }}
       {% endcomment %}
    
  </div>

</div>

<script>
  jQuery(document).ready(function(){
 jQuery("#zt_list_product").owlCarousel({
   
        itemsCustom : [
        [600, 4]
      ],
        navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
    });
});
  //Shopify.Image.preload({{ product.images | json }}, 'grande');

   {% if settings.display_subtotal and product.available %} 
  //update price when changing quantity
  function updatePricing() {
    //try pattern one before pattern 2
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
    var unitPriceTextMatch = jQuery('.product .price').text().match(regex);
    
    if (!unitPriceTextMatch) {
      regex = /([0-9]+[.|,][0-9]+)/g;
      unitPriceTextMatch = jQuery('.product .price').text().match(regex);      
    }
    
    if (unitPriceTextMatch) {
      var unitPriceText = unitPriceTextMatch[0];      
      var unitPrice = unitPriceText.replace(/[.|,]/g,'');
      var quantity = parseInt(jQuery('#quantity').val());
      var totalPrice = unitPrice * quantity;

      var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
      
      totalPriceText = totalPriceText.match(regex)[0];

      var regInput = new RegExp(unitPriceText, "g");  
      var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText); 

      jQuery('.product .total-price span').html(totalPriceHtml);      
    }
  }
  jQuery('#quantity').on('change', updatePricing);
  {% endif %}
  
var selectCallback = function(variant, selector) {

  var addToCart = jQuery('#product-add-to-cart'),
      productPrice = jQuery('.product .price'),
      comparePrice = jQuery('.product .compare-price');  
   
  if (variant) {
    if (variant.available) {
      // We have a valid product variant, so enable the submit button
      addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

    } else {
      // Variant is sold out, disable the submit button
      addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      console.log(variant.compare_at_price > variant.price)
      productPrice.addClass("on-sale")
      comparePrice
        .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
      comparePrice.hide();
      productPrice.removeClass("on-sale");
    }
    {% if settings.use_color_swatch %}
    // BEGIN SWATCHES
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
     // END SWATCHES
     {% endif %}
  
  	{% if settings.display_subtotal and product.available %}  
     updatePricing();
  	 {% endif %}

          
  } else {
    // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
    addToCart.val('Make a selection').addClass('disabled').attr('disabled', 'disabled');
  }

  //update variant inventory
  {% if settings.display_availability %}
  if (variant.available) {
    if (variant.inventory_management!=null) {
      jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
    } else {
      jQuery(".product-inventory span").text("Many in stock");
    }
  } else {
    jQuery(".product-inventory span").text("Out of stock");
  }
  {% endif %}
  
    /*begin variant image*/
      if (variant && variant.featured_image) {
        var originalImage = jQuery("#product-featured-image");
        var newImage = variant.featured_image;
        var element = originalImage[0];
        Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
          jQuery('#zt_list_product img').each(function() {
            var grandSize = jQuery(this).attr('src');
            grandSize = grandSize.replace('compact','grande');
            if (grandSize == newImageSizedSrc) {
              console.log(newImageSizedSrc);
              jQuery(this).parent().trigger('click'); 
              return false;
            }
          });
        });        
    }
    /*end of variant image*/
  
};

jQuery(function($) {
 // $('.single-option-selector').prepend('<option>xxx</option>');
  {% if product.available and product.variants.size > 1 %}
    new Shopify.OptionSelectors('product-selectors', {
      product: {{ product | json }},
      onVariantSelected: selectCallback, 
	  enableHistoryState: true
    });   
     
     {% comment %}
     Use color swatch and linked options (copyright by @carolineschnapp)
     {% endcomment %}
     {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
     Shopify.linkOptionSelectors({{ product | json }});
     {% endif %} 
     
     {% if settings.use_color_swatch != true %}
  jQuery('.single-option-selector option').removeAttr('selected');
  		jQuery('.single-option-selector').prepend('<option selected="selected">Please select</option>');
      jQuery('.single-option-selector').selectize(); 
      jQuery('.selectize-input input').attr("disabled","disabled");
 
     {% endif %}

   {% endif %}
  
  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
  
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
   	//$('.single-option-selector:eq({{ forloop.index0 }})').prepend('<option>xxx</option>');
     // $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
  
  {% if settings.display_product_reviews %}  
    var reviewsTimeout = setInterval(function() {
      if (jQuery(".spr-badge-caption").length>0) {
		jQuery(".spr-badge-caption").on('click', function() {
          jQuery('html,body').animate({
            scrollTop: jQuery(".panel:last").offset().top},
              '400');
          jQuery("#collapse-tab4").collapse('show');
        });
        clearInterval(reviewsTimeout);
      }
    },1000);
    
  {% endif %}
 
});
  
</script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>


   {% if settings.display_related_products %} 
    {% if settings.related_products_type == "tags" %}
    {% include 'related-products-by-tags' %}
    {% else %}
    {% include 'related-products' %}
    {% endif %}
    {% endif %}
	{% include 'message-modal' %}<!-- brontoBrowseObject:start -->
<script>
  (function(window) {
    var BROWSE_PRODUCT = "brontoBrowseObject";
    window[BROWSE_PRODUCT] = {
      product: {{ product | json }}
    };
  })(window);
</script>
<!-- brontoBrowseObject:end -->


<script type="text/javascript">
  var _learnq = _learnq || [];var item = {
  Name: {{ product.title|json }},
  ProductID: {{ product.id|json }},
  Categories: {{ product.collections|map:'title'|json }},
  ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
  URL: "{{ shop.secure_url }}{{ product.url }}",
  Brand: {{ product.vendor|json }},
  Price: {{ product.price|money|json }},
  CompareAtPrice: {{ product.compare_at_price_max|money|json }}};
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
  Title: item.Name,
  ItemId: item.ProductID,
  Categories: item.Categories,
  ImageUrl: item.ImageURL,
  Url: item.URL,
  Metadata: {
    Brand: item.Brand,
    Price: item.Price,
    CompareAtPrice: item.CompareAtPrice
  }}]);
</script>

{% comment %}<script type="text/javascript">
  var _learnq = _learnq || [];
  document.getElementById("product-add-to-cart").addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);});
</script> {% endcomment %}


