{% case section.settings.grid %}
  {% when '2' %}
    {%- assign max_height = 530 -%}
  {% when '3' %}
    {%- assign max_height = 345 -%}
  {% when '4' %}
    {%- assign max_height = 250 -%}
  {% when '5' %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

{% if collection.handle ==  'best-sellers-all' %}
{% if paginate.current_page == 2 %}
{% assign page_limit = 16 %}
{% else %}
{% assign page_limit = 48 %}
{% endif %}
{% else %}
{% assign page_limit = collection.all_products_count %}
{% endif %}

{% include 'powerreviews-collection-initialize' %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }}');"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
        </div>
      </div>
    {% endif %}

    {% if section.settings.tags_enable or section.settings.sort_enable %}
    {% endif %}
  </header>

  <div class="page-width-no-padding">
    {% include 'breadcrumbs' %}
    {% include 'collection-header-image' %}
    
    <div class="collection-content-wrapper">
      <div class="one-whole inline" id="Collection">
        <h4 class="t-uppercase no-margin full-width--title">{{ collection.title | remove: 'Collection ' }}</h4>
        
        {% if collection.handle == 'best-sellers-all' %}
        <span class="filters-toolbar__products_count text-left best-sellers-collection">
          <label class="filters-toolbar__collection_products_count">
            <span>48</span> results
          </label>
        </span>
        {% endif %}

        {% if section.settings.layout == 'grid' %}
          {% case section.settings.grid %}
          {% when '2' %}
            {%- assign grid_item_width = 'medium-up--one-half' -%}
          {% when '3' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
          {% when '4' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
          {% when '5' %}
            {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
          {% endcase %}

          {% include 'sort-by' %}

          <div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products limit: page_limit %}
              <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid', max_height: max_height %}
              </div>
            {% else %}
              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
          {% include 'popup-quickview' %}
        {% else %}
          <div class="list-view-items">
            {% for product in collection.products limit: page_limit %}
              <a href="{{ product.url | within: collection }}" class="list-view-item">
                {% include 'product-card-list', product: product %}
              </a>
            {% else %}

              {% comment %}
              Add default products to help with onboarding for collections/all only.

              The onboarding styles and products are only loaded if the
              store has no products.
              {% endcomment %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>

                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if is_empty_collection %}
          <div class="grid__item small--text-center empty">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

        {% assign collection_description = collection.description | strip %}
        {% if collection_description != '' %}
        <div class="collection-description-section border-top">
          <div>{{ collection.description }}</div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "header_image_block",
        "name": "Header Image Block",
        "settings": [
          {
            "type": "header",
            "content": "Collection Header Image Block",
            "info": "Create a collection header image with a link for a specific collection or set of collections"
          },
          {
            "type": "radio",
            "id": "display",
            "label": "Display on",
            "options": [
              {
                "value": "all_collections",
                "label": "All collections"
              },
              {
                "value": "link_list",
                "label": "Only collections inside a link list"
              },
              {
                "value": "collection",
                "label": "Only a specific collection"
              }
            ]
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Specific link list",
            "info": "Specifiy a link list of collections to set header image on"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Specific collection",
            "info": "Specifiy the collection to to set header image on"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Header Image for Desktop view"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Header Image for Mobile view"
          },
          {
            "type": "text",
            "id": "collection_header_image_text",
            "label": "Header Image Text"
          },
          {
            "type": "text",
            "id": "collection_header_image_sub_text",
            "label": "Header Image Sub Text"
          },
          {
            "type":"color", 
            "id":"header_image_text_color", 
            "label":"Text color", 
            "default":"#3d4246"
          },
          {
            "type":"color", 
            "id":"header_image_sub_text_color", 
            "label":"Sub Text color", 
            "default":"#3d4246"
          },
          {
            "type": "range",
            "id": "collection_header_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Text Mobile font size",
            "default": 14
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_sub_text_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Sub Text Mobile font size",
            "default": 10
          },
          {
            "type": "range",
            "id": "collection_header_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_container_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Mobile Header Text Position",
            "default": 70
          },
          {
            "type": "range",
            "id": "collection_header_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Image size",
            "default": 50
          },
          {
            "type": "range",
            "id": "collection_header_mobile_image_size",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Header Mobile Image size",
            "default": 50
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
