{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
        display: inline-block;
        margin: 0;
      }
      .announcement-bar--link{
        display: inline-block;
      }
      .announcement-bar__message a {
        font-size: 12px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
      }
      .popup-link{
        font-size: 9px;
        text-decoration: underline;
        color: #fff;
        display: inline-block;
        font-family: 'StreetB-Medium', Arial, sans-serif;
      }
      .announcement-bar__message .announcement-bar__links {
        float: right;
      }

      .announcement-bar__message .announcement-bar__links a {
        color: {{ section.settings.color_text }};
        font-weight: normal;
        text-decoration: underline;
        margin-right: 20px;
        border-left: 1px solid;
        padding-left: 15px;
      }
      .announcement-bar__message .announcement-bar__links a:first-child {
        border-left: none;
      }
    </style>

    {% if section.settings.message_text != blank %}
      <div class="announcement-bar">
        <div class="top-bar-wrap">
          <div class="announcement-bar-wrap">
            {% if section.settings.message_link != blank %}
            <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
            {% endif %}
              <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
            {% if section.settings.message_text != blank %}  
            </a>
            {% endif %}
            <a class="popup-link" data-popup data-popup-id="freeship-details">see details</a>
          </div>
          <div class="header-top-icons s-hide">
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="/account" class="site-header__account">
                  My Account
                  <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
                </a>
              {% else %}
                <a href="/account/login" class="site-header__account">
                  Log In
                  <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
                </a>
              {% endif %}
            {% endif %}
                    
            <a href="/apps/tracktor/">Track My Order</a>

            <a href="https://www.wheeloffortune.com/">WheelofFortune.com</a>
          </div>
        </div>
      </div>
    {% endif %}


<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no gutters grid--table s-hide">
      <div class="grid__item small--one-half text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search small--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          <a href="/cart" id="minicart-open-link" class="site-header__cart s-hide">
            <img class="cart-icon lazyload" data-sizes="auto" data-src="{{ 'cart.png' | asset_url }}">
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>
          {% include 'popup-cart' %}
          <div class="minicart-overlay"></div>
        </div>

      </div>
    </div>
    <div class="grid grid--no-gutters grid--table mobile-header">
      {% unless linklists[section.settings.main_linklist] == blank %}
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      {% endunless %}

      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-third">
          <div class="site-header__search">
            {% include 'search-form' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-whole main-nav" id="AccessibleNav" role="navigation">
          <div class="site-nav-wrap">
            {% if section.settings.align_logo == 'center' %}
              {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
            {% else %}
              {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
            {% endif %}

            <div class="grid__item small--one-half {{ logo_classes }}">
              {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template.name == 'index' %}
                <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
              {% else %}
                <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
              {% endif %}
                  {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
                    {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                    <img class="lazyload js"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ logo_alt | escape }}"
                         style="max-width: {{ section.settings.logo_max_width }}px">
                    <noscript>
                      {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                      <img src="{{ section.settings.logo | img_url: '300x300' }}"
                           alt="{{ section.settings.logo.alt | default: shop.name }}"
                           itemprop="logo"
                           style="max-width: {{ section.settings.logo_max_width }}px;">
                    </noscript>
                  </a>
                  <span class="visually-hidden">{{shop.name}}</span>
              {% if template.name == 'index' %}
                </h1>
              {% else %}
                </div>
              {% endif %}
            </div>
            <div class="s-hide">
            {% include 'site-nav' %}
            </div>
          </div>
        </nav>
      {% endif %}

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--hide{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search medium-up--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}

          <a href="/cart" id="minicart-open-link-mobile" class="site-header__cart medium-up--hide">
            <img class="cart-icon lazyload" data-sizes="auto" data-src="{{ 'cart-white.png' | asset_url }}">
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount-mobile" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </header>
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item border-bottom">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="/account/login" class="site-header__account">
              <b>Log In</b>
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}

        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        {% endunless %}

      </li>
      <li class="mobile-nav__item border-bottom">
        <a href="/apps/tracktor/" class="site-header__trackorder">
          <b>Track My Order</b>
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
    </ul>
  </nav>

  <div id="navigation-content" {% unless template == 'index' %}class="border-bottom"{% endunless %}>
    <div id="navigation-shop-by-category">
      {% include 'shop-categories-navigation' %}
    </div>
    <div id="navigation-shop-shows">
      {% include 'shop-shows-navigation' %}
    </div>
    <div id="navigation-featured">
      {% include 'shop-featured-navigation' %}
    </div>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Shows Products",
        "settings": [
          {
            "type": "header",
            "content": "Shows Featured Products",
            "info": "Add featured products to Shows Navigation Menu"
          },
          {
            "type": "product",
            "id": "shows_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      }
    ]
  }
{% endschema %}
