@media screen and ( max-width: 1220px ) {
  .short-des { display: none; }  
  .cart-words { display: none; }
}


@media screen and ( min-width: 980px ) {
  p.theme-error {
    max-width: 175px;
  }
}


@media screen and ( min-width: 767px ) {
  .mobile-only { display: none; }
}

@media screen and ( max-width: 767px ) {
  .mobile-hide { display: none; }
  .nav-container ul#cart, .nav-container nav { display: none; }
  header nav { display: none; }
  .index ul#social-icons, ul#social-icons li { text-align: center; }  
  ul#cart, ul#cart li { text-align: center; z-index: 2; padding: 0 5px; }
  .bannertop ul#cart, .bannertop ul#cart li {
    text-align: center;
  }  
  
  .quick-shop { width: 100%; }
  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; } 
  .product-info .rte { display: none; }
  ul#home-icons { text-align: center; }
  #social-area { text-align: center; }
}




/* All Mobile Sizes (devices and browser) */

@media screen and (max-width: 767px) and (min-width: 200px) { 

  div#banner-message {
    text-align: center;
  }

  .flex-caption h2.slide-title {font-size: 14px! important;}

  .flex-caption p.caption {
    font-size: 13px;
  }

  .flex-caption .cta {
    margin-top: 10px;
  }

  .flex-caption .cta a {
    font-size: 13px;
  }  

  .flex-caption.slide1, .flex-caption.slide2, .flex-caption.slide3, .flex-caption.slide4, .flex-caption.slide5 {
    text-align: center;
  }


  #logo { margin: 0; text-align: center; padding-top: 0; }
  #logo img{
    width: 50%;
  }
  #product-header h1 { 
    line-height: initial;
    padding: 15px 0; 
  }

  .section-title h1, .section-title h2 {
    line-height: initial;
  }

  .section-title h3 { 
    line-height: initial;
  }

  .section-title {
    line-height: initial;
  }

  ul#home-icons { text-align: center; }

  a.scrollup { display: none! important; }
  .mobile-none { display: none! important; }
  ul#main-nav { display: none; }

  h1, h2, h3, h4, h5 { text-align: center; }
  .fr { display: none; }

  #logo { }
  #logo a { float: none; }

  #search{
    width: 100%!important;
    margin-top: 20px!important;
    padding: 0 15px;
  }
  .seeks{
    width: 100%!important;
    float: none!important;
  }
  #content { margin-top: 0; }
  .home-intro { position: relative; }


  section.homepage-promo { padding: 20px 0; }
  .product-info { display: none; }
  .product-info-mobile { display: block; }
  .product-info-mobile h3, .product-info-mobile h4 { letter-spacing: initial; font-weight: normal; font-size: 12px; }
  .price { color: #000000; text-align: center; }

  .mfirst { clear: left; }
  #product-right{padding-right: 20px;}
  #product-price { text-align: left; padding: 20px 0 0; }
  .add { margin: 0 auto 20px! important; }

  #product-description form { margin-top: 0; padding-top: 0; min-width: 0; }

  #product-description form label {
    margin-bottom: 0px;
  }
  
  #product-description h1{
    text-align: left;
    margin-top: 10px;
  }
  
  #product-description form{
    width: 100%;
  }

  button.js-qty__adjust.js-qty__adjust--minus.quantity-increment, input.js-qty__num, button.js-qty__adjust.js-qty__adjust--plus.quantity-increment {
    float: none;
    margin: 0 0px 20px;
    -webkit-appearance: none;
  }

  input.js-qty__num {
    width: 80px! important;
    max-width: 80px;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: px;
  }


  label { clear: both; float: none; }
  .selector-wrapper { text-align: center; }
  .share-icons { text-align: center; }

  .ajaxified-cart-feedback.success { text-align: center; }

  .sorting { text-align: center; }

  .homepage-instagram .instagram-image {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    opacity: 0.6;
  }


  .icn { display: none; }
  ul#social-icons, ul#social-icons li { text-align: center; margin-bottom: 0;}  
  ul#cart { text-align: center; }
  ul#cart li { 
    vertical-align: middle;
    height: 30px;
    padding: 0;
    text-align: center;
    min-width: 30px;
    line-height: 30px;
    font-size: 16px;
  }
  ul#cart li.wider {
    width: 60px; 
  }

  .posted { text-align: center! important; }
  #blog-sidebar #social-icons { margin-bottom: 20px; }
  ul#blog-recent, ul#blog-tags { text-align: center; }
  .fb-like-box {
    width: 200px! important;
    float: none;
    display: block! important;
    margin: 0 auto;
  }
  ul#cart .cust{
    position:absolute;
    right: 45px;
    top: 10px;
  }
  ul#cart .cust .fa{
    font-size: 20px;
  }
  
  ul#cart .shifter-handle{
    position: absolute;
    left: 15px;
    top: 10px;
  }
  ul#cart .shifter-handle .fa{
    font-size: 20px;
  }
  ul#cart .mobile-cart{
    position: absolute; 
    right: 10px;
    top: 9px;
  }
  .CartCount{
    top: -3px;
    right: -7px;
  }
  

  .readmore { text-align: center; }

  .product-modal { display: none; }
  ul#cart li.cart-overview:hover #crt { display: none! important; }

  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: left; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; }

  p.product-note { text-align: center; }
  #page-sidebar { margin-top: 20px; text-align: center; }

  #looked-at { display: none; }  

  #cart-notes { display: none; }


  .first { clear: none; }
  .product:nth-child(2n+1) { clear: left; }
  .what-is-it { text-align: center; }



  /* Force table to not be like tables anymore */
  table,#shopping-cart thead,#shopping-cart tbody,#shopping-cart th,#shopping-cart td, #shopping-cart tr { 
    display: inline-block; 
    vertical-align: top;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin: 10px 0; width: 100%;}

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding: 10px; 
    text-align: center;
  }



  .cart-item { display: block; max-width: 100px; }
  .cart-image, .cart-title { display: block; width: 100%;}

  #basket-right p { text-align: center; }
  #basket-right h4 { font-weight: normal; text-align: center; margin: 20px 0 30px; }

  #shopping-cart table td:nth-of-type(2):before { content: "Item Price"; }
  #shopping-cart table td:nth-of-type(3):before { content: "Quantity"; }
  #shopping-cart table td:nth-of-type(4):before { content: "Remove"; }
  #shopping-cart table td:nth-of-type(5):before { content: "Total"; } 
  #cartform{margin-top: 0;}
  #shop-cart{
    margin-bottom: 20px;
  }
  
  .address.note {
    text-align: center;
    margin-bottom: 50px;
  }

  p.email.note {
    text-align: center;
  }

  .note.order_date {
    text-align: center;
    margin-bottom: 20px;
  }

  div#order_shipping p {
    text-align: center;
  }
  .single-option-selector { margin: 0 auto; }

  #footer-wrapper { text-align: center! important; }
  
  .collection-template-main-content .show{
    text-align: left;
  }
  
  #shopify-section-collection-template .section-title{
    width: 100%;
    margin: 0 15px!important;
  }
  
  .sidebar-title{
    display: none;
  }
  
  #sidebar{
    padding-bottom: 15px;
  }
  
  section.homepage-products{
    padding-left: 10px;
    padding-right: 10px;
  }
  
/*   .homepage-products{
    padding-top: 20px;
  } */
  .gridlock .row .desktop-12{
    width: 97.9166666666666667%;
  }
  ul#footer-icons{text-align: center;}
  .logout-link{display:none;}
  .logout-link-wrap{text-align: center;}
  .account-logout-link{text-align: center!important; margin-left: 0;}
  
  .shifter-navigation .search{
    display: none;
  }
}
