/*
========================================================================================

BASE

----------------------------------------------------------------------------------------

Contents:

  - Variables
  - Mixins
  - General
  - Viewport Fixes
  - Links
  - Media
  - Headers
  - Wrapper
  - Text selection
  - Animations

======================================================================================== */

// - Variables -------------------------------------------------------------------------

//Colors

$accent: #34aadc;
$darkgrey: #58686f;
$lightgrey: #bfbfbf;
$smoke: #fafafa;

// Prefixes

$prefix-for-webkit: true;
$prefix-for-mozilla: true;
$prefix-for-spec: true;

// - Mixins ----------------------------------------------------------------------------

@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    }
    @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    }
    @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    }
    @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    }
    @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    }
    @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin transition ($properties...) {
  @if length($properties) >= 1 {
    @include prefixer(transition, $properties, webkit moz spec);
  }

  @else {
    $properties: all 0.15s ease-out 0s;
    @include prefixer(transition, $properties, webkit moz spec);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin supported($feat) {
  .#{$feat} & { @content; }
}

@mixin unsupported($feat) {
  @if $feat == "flexbox" {
    .no-#{$feat}.no-#{$feat}legacy & { @content; }
  } @else {
    .no-#{$feat} & { @content; }
  }
}

@mixin box-sizing ($box) {
  @include prefixer(box-sizing, $box, webkit moz spec);
}

@mixin innerShadow($size: 1px, $radius: 0px, $opacity: .1) {
  position: relative;
  &:before {
    content:'';
      position:absolute;
      width:100%;
      height:100%;
      -moz-box-shadow:inset 0px 0px 0px $size rgba(0, 0, 0, $opacity);
      -webkit-box-shadow:inset 0px 0px 0px $size rgba(0, 0, 0, $opacity);
      box-shadow:inset 0px 0px 0px $size rgba(0, 0, 0, $opacity);
      border-radius: $radius;
      z-index: 1;
      pointer-events: none;
      user-select: none;
      display: block;
  }
}

@mixin animation ($animations...) {
  @include prefixer(animation, $animations, webkit moz spec);
}

@mixin opacity($opacity) {
  zoom: 1;
  opacity: $opacity;
  $opacity: $opacity * 100;
  filter: alpha(opacity=#{$opacity});
}

@mixin mq($value, $operator: 'max-width', $query: 'screen') {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

/* - General ----------------------------------------------------------------------------- */

html {
  -webkit-text-size-adjust: 100%;
  -webkit-print-color-adjust: exact;
}

body {
  font-family: "Montserrat", sans-serif; color: #333;
  background-color: $smoke;
  padding: 0; margin: 0;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* - Viewport Fixes --------------------------------------------------------------------- */

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* - Links ----------------------------------------------------------------------------- */

a {
  text-decoration: none;
  @include transition(color .2s ease-in-out, background-color .2s ease-in-out);
}

/* Buttons */

.btn {
  background-color: $darkgrey;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 1.5em;
  font-size: .875em;
  line-height: 1;
  border-radius: 4px;
  @include inline-block;

  &:hover {
    background-color: darken($darkgrey, 10%);
  }
}

/* - Media ----------------------------------------------------------------------------- */

img, video, object {
  max-width: 100%;
  display: block;
}

/* - Headers --------------------------------------------------------------------------- */

h2 {
  margin: 0;
  font-size: 1.125em; font-weight: 600; color: $darkgrey;
}

h4 {
  text-transform: uppercase; letter-spacing: .1em; font-weight: normal; font-size: .875em; color: #999;
  margin: 0;
}

/* - Wrapper --------------------------------------------------------------------------- */

.wrap {
  width: 95%; max-width: 540px;
  margin: 0 auto;
  @include clearfix;
}

/* - Text selection -------------------------------------------------------------------- */

::-moz-selection { background-color: $accent; color: #fff; }
::selection { background-color: $accent; color: #fff; }

/* - Animations ------------------------------------------------------------------------ */

@include keyframes(slideup) {
  0% { opacity: 0; -webkit-transform: translateY(2000px) rotate(10deg); }
  60% { opacity: 1; -webkit-transform: translateY(-30px); }
  80% { -webkit-transform: translateY(10px); }
  100% { -webkit-transform: translateY(0) rotate(0deg); }
}

@include keyframes(popup) {
  0% {opacity: 0; -webkit-transform: translateY(30px); }
  60% {opacity: 1; -webkit-transform: translateY(-10px); }
  80% {-webkit-transform: translateY(2px); }
  100% {-webkit-transform: translateY(0); }
}

@include keyframes(container-slide) {
  0% {opacity: 0; -webkit-transform: rotate(-0deg); }
  100% {-webkit-transform: rotate(0deg); }
}

@include keyframes(fadein) {
  0% {opacity: 0; }
  100% {opacity: 100; }
}

/*
========================================================================================

LAYOUT

----------------------------------------------------------------------------------------

Contents:

  - Header
  - Gift card
  - Footer

======================================================================================== */

/* - Header ---------------------------------------------------------------------------- */

#header {
  text-align: center;
  padding: 3em 0;
  @include animation(fadein .5s ease-in-out both .4s);
}

  .logo {
    font-size: 2.25em; font-weight: 600; color: $lightgrey;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    &:hover { color: darken($lightgrey, 15%); }
  }

    .logo img {
      max-height: 100%;
      margin: 0 auto;
    }

/* - Gift Card ------------------------------------------------------------------------- */

/* Gift Card container */

main {
  @include animation(slideup .8s ease-in-out);
}

#gift-card-outer-container {
  background-color: $accent;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(#000, .1) inset;
  padding: 1em;
  @include animation(container-slide .8s ease-in-out);
}

  #gift-card-inner-container {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(#000, .1);
    border-radius: 2px;
    @include animation(cardslide .8s ease-in-out);
    @include clearfix;
  }

/* Header */

#gift-card-header {
  border-bottom: 1px solid #f2f2f2;
  padding: .75em;
  display: block;
  overflow: hidden;
  position: relative;
}

  #gift-card-header h2 {
    float: left;
    margin: .12em 0;
  }

  .tag {
      background-color: $lightgrey;
      padding: .5em; padding-bottom: .35em;
      border-radius: 4px;
      font-size: .75em; text-transform: uppercase; letter-spacing: .05em; color: #FFF; line-height: 1;
   }

  .tag.light {
      background: transparent;
      color: $lightgrey;
      border: 1px solid lighten($lightgrey, 10%);
  }

  #gift-card-header .tag {
      float: right;
  }

/* To/From */

#gift-card-tofrom {
  list-style-type: none;
  padding: 1em .75em 0; margin: 0;
}

  #gift-card-tofrom li {
    @include clearfix;
    padding: .5em 0;
  }

    #gift-card-tofrom h4 {
      float: left;
      width: 5em;
    }

    #gift-card-tofrom a {
      float: left;
      font-weight: 600;
      color: $darkgrey;
      &:hover { color: $accent; }
    }

/* Card holder */

#gift-card-holder {
  margin: .75em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  position: relative;
}

  #gift-card-holder .corner {
    display: block;
    width: 47px; height: 47px;
    position: absolute;
    z-index: 2;
  }

  #gift-card-holder .corner.top-left {
    background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-top-left.gift-card.png?v=9752439010843167110) 0 0 no-repeat;
    @include supported(svg) { background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-top-left.gift-card.svg?v=3192363195870398946) 0 0 no-repeat; }
    top: -1px; left: -1px;
  }

  #gift-card-holder .corner.top-right {
    @include unsupported(borderradius) {
      background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-top-right.gift-card.png?v=5593574519204042092) 0 0 no-repeat;
      top: 0px; right: 0px;
      width: 7px; height: 7px;
    }
  }

  #gift-card-holder .corner.bottom-left {
    @include unsupported(borderradius) {
      background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-bottom-left.gift-card.png?v=12068102498182997618) 0 0 no-repeat;
      bottom: 0px; left: 0px;
      width: 7px; height: 7px;
    }
  }

  #gift-card-holder .corner.bottom-right {
    background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-bottom-right.gift-card.png?v=8994531437217226902) 0 0 no-repeat;
    @include supported(svg) { background: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/corner-bottom-right.gift-card.svg?v=3841656576657616022) 0 0 no-repeat; }
    bottom: -1px; right: -1px;
  }


#gift-card {
  position: relative;
  @include box-sizing(border-box);
  @include innerShadow($radius: 10px);
}

  #gift-card img {
    border-radius: 10px;
  }

  #gift-card-code-outer {
    position: absolute; bottom: 1em;
    text-align: center;
    width: 100%;

    &.medium { font-size: .875em; }
    &.small { font-size: .75em; }

  }

    #gift-card-code-inner {
      @include inline-block;
      background-color: #fff;
      padding: .5em;
      border-radius: 4px;
      max-width: 450px;
      box-shadow: 0 0 0 1px rgba(#000, .1);

      .small & { overflow: auto; }
    }

      #gift-card-code-inner strong {
        font-weight: 400; font-size: 1.875em; text-transform: uppercase;
        border-radius: 2px;
        border: 1px dashed #e5e5e5;
        padding: .4em .5em;
        @include inline-block;
        color: #777;
        line-height: 1;
        .disabled & { color: #999; text-decoration: line-through; }
      }

      #gift-card-code-inner span + span {
        margin-left: .25em;
      }

  #gift-card-amount {
    position: absolute; top: 0; right: 0;
    color: #fff;
    font-size: 2.75em;
    padding: .4em .5em;
  }

    #gift-card-amount.medium {
      font-size: 2.25em;
    }

    #gift-card-amount strong {
      text-shadow: 3px 3px 0 rgba(#000, .1);
      display: block;
    }


  .tooltip {
    position: relative;
  }

    .tooltip-container {
      display: block;
      position: absolute; top: -100%; right: 50%;
      z-index: 3;
      color: #fff; text-align: center; white-space: nowrap;
      @include animation(popup .5s ease-in-out both .7s);

      top: -50%;
      margin-top: .25em;

      .tooltip:hover & { display: block; }
    }

    .tooltip-triangle {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;

      border-top: 5px solid #333;
      border-top: 5px solid rgba(#333, .9);
      position: absolute; left: 100%; bottom: 0;
      margin-left: -5px; margin-bottom: -5px;
    }

      .tooltip-label {
        display: block;
        position: relative; right: -50%;
        border: none; border-radius: 4px;
        background: #333;
        background: rgba(#333, .9);
        min-height: 14px;
        font-weight: 400; font-size: 12px; text-decoration: none; line-height: 16px; text-shadow: none;
        padding: .5em .75em;
        margin-left: .25em;
      }

  #gift-card-amount .tooltip-label {
    font-size: .4em;
    color: #fff;
  }

    #gift-card-amount .tooltip-label small {
      text-transform: uppercase; letter-spacing: .1em; color: #b3b3b3;
      font-size: .875em;
    }

#gift-card-instructions {
  font-size: .875em; text-align: center; color: #999;
  margin: 0 .75em 1.5em;
}

/* Actions */

#gift-card-actions {
  border-top: 1px solid #f2f2f2;
  padding: 1.25em .75em;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
}

  .action-link {
    font-size: .875em; text-transform: uppercase; letter-spacing: .2em; color: $lightgrey;
    margin-top: 1.75em;
    &:hover {
      color: darken($lightgrey, 15%);
    }
  }

    .action-link.left {
      position: absolute; left: 1.25em; top: 1.25em;
    }

    .action-link.right {
      position: absolute; right: 1.25em; top: 1.25em;
    }

    .action-link.left .ico-16,
    .action-link.right .ico-16 {
      margin-right: .5em;
    }

    .action-link .ico-16 {
      @include opacity(.25);
      @include transition(opacity .3s ease-in-out);
    }

    .action-link:hover .ico-16 { @include opacity(.4); }

  .ico-16 {
    @include inline-block;
    width: 17px; height: 17px;
    vertical-align: bottom;
    margin-bottom: -1px;
    background-position: 0 0; background-repeat: no-repeat;
  }

    .ico-16.print {
      background-image: url('icon-print.gift-card.png');
      @include supported(svg) { background-image: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/icon-print.gift-card.svg?v=6665121560636559433); }
    }

    .ico-16.email {
      background-image: url('icon-email.gift-card.png');
      @include supported(svg) { background-image: url(//cdn.shopify.com/s/files/1/2489/1824/t/11/assets/icon-email.gift-card.svg?v=12937375699052040186); }
    }

/* - Footer ---------------------------------------------------------------------------- */

footer[role='contentinfo'] {
  text-align: center;
  padding: 3em 0;
  @include animation(fadein .5s ease-in-out both .4s);
}

  #footer-links {
    list-style-type: none;
    margin: 0; padding: 0;
    text-align: center;
    padding-bottom: 3em;
  }

    #footer-links li {
      @include inline-block;
      & + li { margin-left: 1em; }
    }
      #footer-links li a {
        color: $lightgrey;
        &:hover { color: darken($lightgrey, 15%); }
      }

  footer[role='contentinfo'] .gift-card-icon {
    width: 45px;
    @include inline-block;
  }

img#apple-wallet-badge {
    margin: 0 auto 10px;
}


/*
========================================================================================

MEDIA QUERIES

---------------------------------------------------------------------------------------- */

@include mq(580px) {

  body {
    font-size: 12px;
  }

  /* Typography */

  h2 {
    font-size: 1.5em;
  }

  /* Gift card */

  #gift-card-outer-container {
    padding: .5em;
  }

  .tooltip-container {
    top: -65%;
  }

  #gift-card-actions .btn {
    width: 100%;
    padding-left: 0; padding-right: 0;
    font-size: 1.125em;
  }

  .action-link {
    position: relative !important; left: auto !important; right: auto !important; top: auto !important;
    font-size: 1.125em;
    display: none;
  }

  .action-link + .action-link {
    margin-left: 1.5em;
  }

  #footer-links li {
    font-size: 1.125em;
  }

} // End of 900px

@include mq(400px) {

  /* Typography */

  h2 {
    font-size: 1.25em;
  }

  /* Gift card */

  #gift-card {
    font-size: 10px;
  }

  #gift-card-holder .corner {
    display: none;
  }

  #gift-card-holder .corner.bottom-right {
    background-position: bottom right !important;
  }

  #gift-card-amount strong {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  /* Tooltip */

  .tooltip-container {
    top: -75%;
  }

} // End of 400px

/* Shrink the logo when vertical space is tight */

@media screen and (max-height: 800px) {

  .logo {
    max-height: 100px;
  }

}

@media screen and (max-height: 750px) {

  .logo {
    max-height: 80px;
  }

  #header {
    padding: 2em 0;
  }

}

/*
========================================================================================

PRINT STYLES

---------------------------------------------------------------------------------------- */

@media print {

  body { background-color: #fff; }

  #gift-card-actions, #gift-card-holder .corner, .tooltip-container {
      display: none;
  }

  #gift-card-code-inner strong { color: #555; }

  #gift-card-amount .tooltip { color: #fff !important; }

  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  #gift-card-outer-container, #gift-card-inner-container { box-shadow: none; }

}





span.giftcard__tag.giftcard__tag--active {
  float: right;
  line-height: 30px;
}
div#qr-code {
  width: 120px;
  height: 120px;
  margin: 10px auto;
  display: block;
}