<div class="section-title desktop-12 mobile-3">
  <h1>{{ 'customer.account.title' | t }}</h1>
</div>

<div id="customer-wrapper" class="desktop-12 mobile-3">

  <div id="customer_sidebar" class="desktop-3 mobile-3">
    <div id="customer_detail" class="group">
      <h5 class="name">{{ customer.name }}</h5>
      <p class="email note">{{ customer.email }}</p>
      
      <div class="address note">
        {% if customer.default_address != nil %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
        <p>{{ customer.default_address.zip}}</p>
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </div>

    </div>
  </div>

  <div id="customer_orders" class="desktop-9 mobile-3">
    <h5 class="name">{{ 'customer.orders.title' | t }}</h5>
    {% if customer.orders.size != 0 %}
    <table>
      <thead>
        <tr>          
          <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
          <th class="date">{{ 'customer.orders.date' | t }}</th>
          <th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
          <th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th class="total">{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>{{ 'customer.orders.none' | t }}</h5>
    {% endif %}
  </div>
  
</div>
<div class="logout-link-wrap">
  <a href="account/logout" class="account-logout-link">Log Out</a>
</div>

