/* Featured Columns ==========================================================*/

.index-featured-collection-columns {
  .featured-column {
    @include gradient(#fef600, #fffba0, top);
    padding: $gutter/5;
    a {
      color: $colorText;
    }
    ul {
      min-height: $gutter*3;
    }
    img {
      margin-bottom: $gutter/3;
    }
  }
}
