/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  margin-top: $gutter/4;
  .thumbnails {
    margin-bottom: $gutter/10;
    h4, p {
      line-height: 1.4;
    }
    .ratio {
      margin-bottom: $gutter/10;
    }
  }
}
