/* Product slideshow ============================================================*/

.index-section-product-slideshow {
  .slick-list {
    margin: 0 $gutter*1.5;
  }

  .slideshow-product {
    padding: 0 $gutter/10;
  }

  .slick-slider {
    border-bottom: $gutter/3 solid $colorText;
  }
}
