<!-- /templates/page.contact.liquid -->

<div class="container l padding-top-2x padding-bottom-2x fg-foreground">
  <div class="row">
    <div class="column l12">
      <h1 class="h2 w-normal">{{ page.title }}</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="column l6 m12 s12">
      <script type="text/javascript">
        (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded'))

        {return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
        'https://fusionbposervices.ladesk.com/scripts/track.js',
        function(e){ LiveAgent.createForm('e7246fd2', e); });
      </script>
      {% comment %}
        {% include 'form-contact' %}
      {% endcomment %}
    </div>

    <div class="column l6 m12 s12">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
