<!-- /snippets/elkfox-raincheck.liquid -->

<div id="raincheckContainer" class="margin-bottom-2x" style="display:none;">
  <p id="raincheckOutOfStock">
    <strong>We regret that this item is not available at this time.</strong>
    <br>Please email me when this item is back in stock!
  </p>

  <p id="raincheckError" style="display:none;">
    <span class="errorMessage"></span>
  </p>

  <p id="raincheckSuccess" style="display:none;">
    <strong>Thanks! You will be sent an email when this becomes available again</strong>
  </p>

  <div id="raincheckForm" class="clearfix">
    <!-- Not actually using a form because in some cases people will insert the snippet within the product form and forms cannot be nested within each other. -->
    <label for="Email" style="display:none;">Email</label>
    {% if customer %}
      <input type="hidden" value="{{ customer.email }}" name="customer_email" id="raincheckEmail">
    {% else %}
      <input type="email" placeholder="you@email.com" name="customer_email" id="raincheckEmail">
    {% endif %}
    <input type="hidden" {% if product.selected_variant %}value="{{ product.selected_variant.id }}"{% else %}value="{{ product.variants[0].id }}"{% endif %} name="product_id" id="raincheckProductID">
    <button class="bitmap no-hover" name="Notify Me" id="raincheckSubmit"><img src="{{ 'button-submit.png' | asset_url }}"></button>
  </div>
</div>

<script>
  // Email validation
  function isEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }

  (function() {
    $("#raincheckSubmit").on("click", function(e) {
      // prevent default so that we do not submit the product form
      e.preventDefault();

      // Prevent blank submissions
      if (isEmail($('#raincheckEmail').val())) {
        // Manually serialize the data because we are not using a true form.
        var serialized = "customer_email=" + encodeURIComponent($('#raincheckEmail').val()) + "&product_id=" + encodeURIComponent($('#raincheckProductID').val());
        //console.log(serialized)

        $("#raincheckContainer").css('cursor', 'wait').find('button').css('pointer-events', 'none').css('opacity', '0.5');

        // Post the data to the app
        $.post('//raincheck-elkfox.herokuapp.com/add/?shop={{ shop.permanent_domain | remove: '.myshopify.com' }}', serialized)
        .done (
          function(response) {
            $("#raincheckContainer").removeAttr('style').find('button').removeAttr('style');
            if (response!=="OK") {
              $("#raincheckOutOfStock").hide()
              $("#raincheckForm").hide()
              $("#raincheckError .errorMessage").html(response)
              $("#raincheckError").show()
            } else {
              $("#raincheckError").hide()
              $("#raincheckOutOfStock").hide()
              $("#raincheckForm").hide()
              $("#raincheckSuccess").show()
            }
          }
        )
        .error (
          function(XMLHttpRequest, textStatus, errorThrown) {
            $("#raincheckContainer").removeAttr('style').find('button').removeAttr('style');
            $("#raincheckError .errorMessage").html('<i>Something went wrong, please try that again<i>')
            $("#raincheckError").show()
          }
        )
      }
    });

    $(document).on('variantChange', function(event) {
      var variant = event.variant;
      if (variant) {
        $("#raincheckProductID").val(variant.id);
        if (!event.variant.available) {
          $("#raincheckContainer").show();
          $("[data-add-to-cart]").hide();
        } else {
        	$("#raincheckContainer").hide();
          $("[data-add-to-cart]").show();
        }
      } else {
        $("#raincheckProductID").val('');
        $("#raincheckContainer").hide();
        $("[data-add-to-cart]").show();
      }
    });

    {% if multiple_variants == false %}
      {% if product.variants[0].available == false %}
        $("#raincheckContainer").show();
        $("[data-add-to-cart]").hide();
      {% endif %}
    {% endif %}

  })();
</script>
