{%- assign recommendation_container = settings.evergage_cart_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = 'body #shopify-section-template-cart .cart-related .row.collapse' %}
{% endif %}
<script>
	$(function() {
	    $('{{ recommendation_container }}').append("<div mybuyszone='1'></div>");
	});
</script>
