<!-- /snippets/form-subscribe.liquid -->

{% unless success %}{% assign success = 'form.subscribe.confirmation_html' | t %}{% endunless %}
{% unless email_placeholder %}{% assign email_placeholder = 'form.subscribe.email' | t %}{% endunless %}
{% unless button_text %}{% assign button_text = 'form.subscribe.submit' | t %}{% endunless %}

<div class="{% if form-subscribe == 'detailed' %}form-subscribe{% else %}form-group{% endif%}">
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      {% if popup %}
        <script>
          $(document).on('ready', function() {
            subscribePopup.show();
          });
        </script>
      {% endif %}
      <p class="note form-success">{{ success }}</p>
    {% else %}
      <input type="hidden"
             name="contact[tags]"
             value="newsletter">
      <input type="hidden"
             name="customer[accepts_marketing]"
             value="" />
      {% if form-subscribe == 'detailed' %}
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">{{ 'account.form.first_name' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="text"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.first_name }}{% endif %}"
                   name="contact[first_name]"
                   aria-label="{{ 'account.form.first_name' | t }}"
                   autocorrect="off"
                   data-auto-focus>
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">{{ 'account.form.last_name' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="text"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.last_name }}{% endif %}"
                   name="contact[last_name]"
                   aria-label="{{ 'account.form.last_name' | t }}"
                   autocorrect="off">
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">{{ 'form.dob' | t }}:</label>
          </div>
          <div class="column v-middle l5 m5 s12">
            <input type="text"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.last_name }}{% endif %}"
                   name="contact[note][dob]"
                   aria-label="{{ 'form.dob' | t }}"
                   autocorrect="off">
          </div>
          <div class="column v-middle l3 m3 s12">
            <p class="form-note w-normal no-margin">{{ 'form.dob_format' | t }}</p>
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">{{ 'account.form.country' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <select name="contact[note][country]">{{ country_option_tags }}</select>
          </div>
        </div>
        <div class="row l-table m-table collapse">
          <div class="column v-middle l3 m3 s12 right s-left">
            <label class="w-normal form-note">{{ 'form.email' | t }}:</label>
          </div>
          <div class="column v-middle l9 m9 s12">
            <input type="email"
                   class="wide small no-radius"
                   value="{% if customer %}{{ customer.email }}{% endif %}"
                   name="contact[email]"
                   aria-label="{{ 'form.email' | t }}"
                   autocorrect="off"
                   autocapitalize="off">
          </div>
        </div>
        <div class="center">
          <button type="submit"
                  name="subscribe"
                  class="bitmap no-hover">
            <img alt="submit button" src="{{ 'button-submit.png' | asset_url }}">
          </button>
        </div>
      {% else %}
        <input type="email"
               value="{% if customer %}{{ customer.email }}{% endif %}"
               placeholder="{{ email_placeholder }}"
               name="contact[email]"
               aria-label="{{ email_placeholder }}"
               autocorrect="off"
               autocapitalize="off">
        <button type="submit"
                name="subscribe"
                id="subscribe"
                class="bitmap no-hover{% unless show_button %}hidden{% endunless %}">
          <img alt="submit button" src="{{ 'button-submit.png' | asset_url }}">
        </button>
      {% endif %}
    {% endif %}
  {% endform %}
</div>
