<!-- snippets/product-companions.liquid -->

{% for block in section.blocks %}
  {% if block.type == 'companion' %}
    {% assign companion_product = blank %}

    {% if product.handle == block.settings.product_1 %}
      {% assign companion_product = all_products[block.settings.product_2] %}
      {% assign image = block.settings.image_2 %}
      {% assign content = block.settings.content_2 %}
    {% elsif product.handle == block.settings.product_2 %}
      {% assign companion_product = all_products[block.settings.product_1] %}
      {% assign image = block.settings.image_1 %}
      {% assign content = block.settings.content_1 %}
    {% endif %}

    {% if companion_product != blank %}
      <h4 class="margin-top-3x no-margin">
        {% if block.settings.label != blank %}
          {{ block.settings.label }}
        {% else %}
          {{ 'product.companion' | t }}
        {% endif %}
      </h4>
      <div class="product-feature margin-bottom-2x">
        <a class="block" href="{{ companion_product.url }}">

          {% if image != blank %}
            {% assign size = image.width | append: 'x' %}
            <img class="v-middle" src="{{ image | img_url: size }}">
          {% endif %}

          {% if content != blank %}
            <div class="inline rte v-middle">{{ content }}</div>
          {% endif %}

          {% if image == blank and content == blank %}
            <p>{{ companion_product.title }}</p>
          {% endif %}

        </a>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
