<!-- snippets/product-collection-image.liquid -->

{% assign has_collection = false %}

{% if collection or product.collections != blank %}
  {% if collection and collection.image != blank %}
    <a href="{{ collection.url }}"><img class="margin-bottom" src="{{ collection.image | img_url: '1400x' }}" class="wide"></a>
    {% assign has_collection = true %}
  {% else %}
    {% for product_collection in product.collections %}
      {% unless has_collection %}
        {% if product_collection.image != blank %}
          <a href="{{ product_collection.url }}"><img class="margin-bottom" src="{{ product_collection.image | img_url: '1400x' }}" class="wide"></a>
          {% assign has_collection = true %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endif %}
