<!-- /snippets/template-collection.liquid -->

{% assign filters = section.settings.filters %}
{% assign sorting = section.settings.sorting %}
{% assign views = section.settings.views %}
{% assign quicklook = section.settings.quicklook %}
{% assign pagination = section.settings.pagination %}

{% comment %}
  Collection view options
{% endcomment %}
{% assign pagination_amounts = '' %}

{% if collection.products_count > 24 %}
  {% assign pagination_amounts = pagination_amounts | append: '24' %}
{% endif %}
{% if collection.products_count > 48 %}
  {% assign pagination_amounts = pagination_amounts | append: ',48' %}
{% endif %}

{% assign pagination_amounts = pagination_amounts | split: ',' %}
{% assign collection_views = 'grid,list' | split: ',' %}
{% assign sort_options = 'manual,best-selling,title-ascending,title-descending,price-ascending,price-descending,created-descending,created-ascending' | split: ',' %}

{% comment %}
  Let's grab a few url queries from the canonical_url
  ?collection is used for the collection pagination amount
  ?type is used for the collection view
{% endcomment %}
{% if canonical_url contains 'collection=' %}
  {% assign pagination_amount = canonical_url | split: 'collection=' | last %}
  {% if pagination_amount contains '&' %}
    {% assign pagination_amount = pagination_amount | split: '&' | first %}
  {% endif %}
  {% assign pagination_amount = pagination_amount | plus: 0 %}
{% endif %}

{% unless pagination_amount %}
  {% if pagination_amounts.size > 0 %}
    {% assign pagination_amount = pagination_amounts | last | plus: 0 %}
  {% else %}
    {% assign pagination_amount = 24 %}
  {% endif %}
{% endunless %}

{% if canonical_url contains 'type=' %}
  {% assign collection_view = canonical_url | split: 'type=' | last %}
  {% if collection_view contains '&' %}
    {% assign collection_view = collection_view | split: '&' | first %}
  {% endif %}
{% endif %}

{% unless collection_view %}
  {% assign collection_view = collection_views | first %}
{% endunless %}

{% paginate collection.products by pagination_amount %}

  <div class="container l padding-bottom-2x padding-top-2x">
    {% if collection.image %}
      <img class="wide s-hide margin-bottom" src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
    {% endif %}

    <div class="row collapsed no-margin columns-18">

      {% if filters %}
        <div class="column collapsed l4 m4 s18 s-hide">
          <aside>
            {% include 'collection-links' %}
            {% include 'collection-filters' %}
          </aside>
        </div>
      {% endif %}

      <div class="column collapsed {% if filters %}l14 m14{% else %}l18 m18{% endif %} s18">
        <header data-section-type="collection" class="margin-bottom">
          <div class="row condensed no-margin">
            <div class="column l12">
              <div class="s-hide">
                {% include 'theme-breadcrumbs' %}
              </div>
              {% include 'collection-promos' %}
            </div>
          </div>

          <div class="row l-table m-table condensed no-margin">
            <div class="column l6 m6 s12 left v-middle">
              <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">{{ collection.title }}</h1>
              {% if collection.description != blank %}
                <div class="rte">
                  {{ collection.description }}
                </div>
              {% endif %}
            </div>
            <div class="column l6 right v-middle">
              <div class="s-hide">
                <label class="inline no-margin v-middle">{{ 'collection.view.title' | t }}</label>
                {% for view in collection_views %}
                  {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
                  <p class="inline v-middle no-margin">
                    {% if view == collection_view %}
                      <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                      <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                    {% else %}
                      <a class="no-decoration" href="/collections/{{ collection.handle }}?type={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-collection-view="{{ view }}">
                        <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                        <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                      </a>
                    {% endif %}
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="row condensed no-margin s-show">
          	<div class="column l12">
          		<div class="margin-bottom">
                {% include 'collection-sort' %}
                {% if filters %}
            			<div id="MobileFilters"></div>
          			{% endif %}
          		</div>
          		{% include 'theme-breadcrumbs' %}
          	</div>
          </div>

          <hr>

          <div class="row collapse table s-hide no-margin">
            <div class="column l4 left v-middle">
              {% include 'collection-sort' %}
            </div>
            <div class="column l8 right v-middle">
              {% include 'collection-pagination' %}
            </div>
          </div>
        </header>

        <section>
          <div class="row condensed">
            {% for product in collection.products %}
              {% if collection_view == 'list' %}
                {% include 'collection-product' with 'list' %}
              {% else %}
                {% include 'collection-product' %}
              {% endif %}
            {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}
                {% unless emptyState %}
                  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                  {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}
              {% else %}
                <div class="column l12">
                  <h4>{{ 'collection.no_matches.title' | t }}</h4>
                  {% if current_tags %}
                    <p>{{ 'collection.no_matches.filters' | t }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="row collapse">
            <div class="column l12 right s-center v-middle">
              {% include 'collection-pagination' %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endpaginate %}

<script>
  $(document).ready(function() {
    // Product collection filters
    concrete.filters = {
      settings: {
        filter: '[data-collection-filter]',
        reset: '[data-collection-filter-reset]'
      },
      listeners: function() {
        $(document).on('click', concrete.filters.settings.reset, function(event) {
          var reset = $(this).data('collection-filter-reset');
          $('input[name="' + reset + '"]:checked').prop('checked', false);
          concrete.filters.updateTags($(this).closest('.collection-filters'));
        });

        $(document).on('change', concrete.filters.settings.filter, function(event) {
          concrete.filters.updateTags($(this).closest('.collection-filters'));
        });
      },
      updateTags: function(target) {
        var newTags = [];

        $(target).find(concrete.filters.settings.filter).each(function() {
          if ($(this).data('collection-filter') == 'tag') {
            if ($(this).is(':checked')) {
              newTags.push($(this).data('filter'));
            }
          }
        });

        if (newTags.length) {
          var query = newTags.join('+');
          window.location.href = $('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
        } else {
          {% if collection.handle %}
            window.location.href = '/collections/{{ collection.handle }}';
          {% elsif collection.products.first.type == collection.title %}
            window.location.href = '{{ collection.title | url_for_type }}';
          {% elsif collection.products.first.vendor == collection.title %}
            window.location.href = '{{ collection.title | url_for_vendor }}';
          {% endif %}
        }
      }
    }

    concrete.filters.listeners();
  });
</script>
