<!-- snippets/theme-logo.liquid -->

{% if template == 'index' %}
  <h1 class="logo relative" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% else %}
  <div class="logo relative h1" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
{% endif %}
  <span class="overlay background-image contain logo-flare hidden s-hide m-hide"></span>
  <meta itemprop="name" content="{{ shop.name }}">
  {% if settings.logo != blank %}
    <a href="/" itemprop="url" title="{{ shop.name }}" class="logo-image relative">
      <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="{{ settings.logo | img_url: logo_width, scale: 2 }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" width="{{ settings.logo_width | replace: 'x', 'px' }}"{% if settings.logo_small != blank %} class="s-hide m-hide"{% endif %}>
        {% if settings.logo_small != blank %}<img src="{{ settings.logo_small | img_url: logo_width, scale: 2 }}" alt="{{ shop.name }}" title="{{ shop.name }}" itemprop="image" class="wide l-hide">{% endif %}
      </span>
    </a>
  {% else %}
    <a href="/" itemprop="url" title="{{ shop.name }}">{{ shop.name }}</a>
  {% endif %}
{% if template == 'index' %}
  </h1>
{% else %}
  </div>
{% endif %}

<script>
  $(document).ready(function() {
    // Keep the logo flare inside the header bounds
    concrete.logo = {
      settings: {
        header: '.theme-header',
        logo: '.logo .logo-flare'
      },
      updateBounds: function() {
        var headerHeight = $(concrete.logo.settings.header).height() - 5;
        $(concrete.logo.settings.logo).css('max-height', headerHeight).removeClass('hidden');
      }
    }

    // Update on window resize
    $(window).resize(function() {
      concrete.logo.updateBounds();
    });

    // Init on load
    $(window).load(function() {
      concrete.logo.updateBounds();
    });
  });

</script>
