@charset "UTF-8";

/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
@import url('settings/variables.scss.liquid');
@import url('settings/typography.scss');

/* Utils =====================================================================*/
@import url('utils/mixins.scss');
@import url('utils/background-images.scss');
@import url('utils/placeholders.scss');

/* Global ====================================================================*/
@import url('global/concrete-reset.scss');
@import url('global/palette.scss');
@import url('global/global.scss');
@import url('global/grid.scss');
@import url('global/forms.scss');

/* Modules ===================================================================*/
@import url('modules/slick.scss');
@import url('modules/announcements.scss');
@import url('modules/header.scss');
@import url('modules/navigation.scss');
@import url('modules/footer.scss');
@import url('modules/drawer.scss');
@import url('modules/popups.scss');
@import url('modules/social.scss');
@import url('modules/icon.scss');
@import url('modules/reviews.scss');
@import url('modules/wishlist.scss');

/* Layouts ===================================================================*/
@import url('layouts/account.scss');
@import url('layouts/search.scss');
@import url('layouts/cart.scss');
@import url('layouts/collection.scss');
@import url('layouts/product.scss');
@import url('layouts/page.scss');

/* Sections ==================================================================*/
@import url('sections/banner.scss');
@import url('sections/hero-slideshow.scss');

/* Helpers ===================================================================*/
@import url('global/helpers.scss');

/* Custom ====================================================================*/
@import url('custom/custom.scss');

/* MyBuys Styling ===================================================================*/
@import url('mybuys/mybuys.scss.liquid');

/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  text-align: center;
  .shopify-challenge__message {
    color: #fff;
  }
}
