<!-- snippets/collection-promos.liquid -->

{% for block in section.blocks %}
  {% if block.type == 'promo' %}
    {% assign display_promo = false %}

    {% if block.settings.display == '' %}
      {% assign display_promo = true %}
    {% elsif block.settings.display == 'link_list' %}
      {% for link in linklists[block.settings.link_list].links %}
        {% if link.url == collection.url %}
          {% assign display_promo = true %}
        {% endif %}
      {% endfor %}
    {% elsif block.settings.display == 'collection' %}
      {% if block.settings.collection == collection.handle %}
        {% assign display_promo = true %}
      {% endif %}
    {% endif %}

    {% if display_promo %}
      {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="block">{% endif %}
        {% if block.settings.image != blank %}
          {% assign size = block.settings.image.width | append: 'x' %}
          <img class="wide" src="{{ block.settings.image | img_url: size }}">
        {% endif %}
      {% if block.settings.link != blank %}</a>{% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
