<!-- snippets/form-register.liquid -->

<div id="RegisterForm">

  {% form 'create_customer' %}

    {{ form.errors | default_errors }}

    <div class="padding-bottom-2x">
      <h3 class="form-note">{{ 'account.register.form_name' | t }} <span class="h4 inline no-margin"><i>{{ 'account.form.required' | t }}</i></span></h3>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="FirstName" class="clearfix h4 no-margin">{{ 'account.form.first_name' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium" type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        </div>
      </div>
      <div class="margin-bottom"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="LastName" class="clearfix h4 no-margin">{{ 'account.form.last_name' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium" type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        </div>
      </div>
      <div class="margin-bottom"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="Country" class="clearfix h4 no-margin">{{ 'account.form.country' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <select id="Country" name="customer[note][Country]">
            {{ country_option_tags }}
          </select>
        </div>
      </div>
    </div>

    <div class="padding-bottom-2x">
      <h3 class="no-margin form-note">{{ 'account.register.form_email' | t }} <span class="h4 inline no-margin"><i>{{ 'account.form.required' | t }}</i></span></h3>
      <p>{{ 'account.register.form_email_note' | t }}</p>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="CreateEmail" class="clearfix h4 no-margin">{{ 'account.form.email' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium{% if form.errors contains 'email' %} error{% endif %}" type="email" name="customer[email]" id="CreateEmail" autocorrect="off" autocapitalize="off"{% if form.email %} value="{{ form.email }}"{% endif %}>
        </div>
      </div>
      <div class="margin-bottom"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="CreateEmailConfirm" class="clearfix h4 no-margin">{{ 'account.form.email_confirmation' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium{% if form.errors contains 'email' %} error{% endif %}" type="email" id="CreateEmailConfirm" autocorrect="off" autocapitalize="off"{% if form.email %} value="{{ form.email }}"{% endif %}>
        </div>
      </div>
      <div class="margin-bottom-2x"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="CreatePassword" class="clearfix h4 no-margin">{{ 'account.form.password' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium{% if form.errors contains 'password' %} error{% endif %}" type="password" name="customer[password]" id="CreatePassword">
        </div>
      </div>
      <div class="margin-bottom"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="CreatePasswordConfirm" class="clearfix h4 no-margin">{{ 'account.form.password_confirmation' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="required medium{% if form.errors contains 'password' %} error{% endif %}" type="password" id="CreatePasswordConfirm">
          <p class="form-note"><i>{{ 'account.register.form_password_note' | t }}</i></p>
        </div>
      </div>
    </div>

    <div class="padding-bottom-2x">
      <h3 class="no-margin form-note">{{ 'account.register.form_newsletter' | t }} <span class="h4 inline no-margin"><i>{{ 'account.form.optional' | t }}</i></span></h3>
      <p>{{ 'account.register.form_newsletter_note' | t }}</p>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="Newsletter" class="clearfix h4 no-margin">{{ 'account.register.newsletter' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input type="checkbox" name="customer[accepts_marketing]" id="Newsletter"{% unless form.accepts_marketing == false %} checked{% endunless %}>
        </div>
      </div>
      <div class="margin-bottom"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12 right s-left v-top">
          <label for="DOB" class="clearfix h4 no-margin">{{ 'account.register.dob' | t }}</label>
        </div>
        <div class="column l7 m7 s12 v-middle">
          <input class="medium{% unless form.accepts_marketing == false %} required{% endunless %}" type="text" name="customer[note][DOB]" id="DOB" placeholder="{{ 'account.register.form_dob_format' | t }}" autocorrect="off" autocapitalize="off"{% if form.note.dob %} value="{{ form.note.dob }}"{% endif %}>
          <p class="form-note"><i>{{ 'account.register.form_dob_note' | t }}</i></p>
        </div>
      </div>
      <div class="margin-bottom-2x"></div>
      <div class="row collapse l-table m-table">
        <div class="column l5 m5 s12"></div>
        <div class="column l7 m7 s12 v-middle">
          <p class="form-note"><i>{{ 'account.register.terms' | t }}</i></p>
          <button type="submit" class="medium">{{ 'account.register.submit' | t }}</button>
        </div>
      </div>
    </div>

  {% endform %}

</div>

<script>
  $(document).ready(function() {
    var registrationForm = 'form#create_customer';

    // Toggle required class on the DOB input
    $(registrationForm).find('#Newsletter').on('click', function(event) {
      $('#DOB').toggleClass('required');
    });

    // Registration validation
    $(registrationForm).on('submit', function(event) {
      var submit = true,
          hasBlankFields = false,
          required = '.required',
          email = '#CreateEmail',
          emailConfirm = '#CreateEmailConfirm',
          password = '#CreatePassword',
          passwordConfirm = '#CreatePasswordConfirm',
          errors = $('<div class="errors"><ul></ul></div>');

      $(this).find('.errors').remove();
      $(this).find('.error').removeClass('error');

      if ($(this).find(email).val() !== $(this).find(emailConfirm).val()) {
        submit = false;
        $(this).find(email).addClass('error').val('');
        $(this).find(emailConfirm).addClass('error').val('');
        errors.append("<li>{{ 'account.form.errors.emails' | t }}</li>");
      }

      if ($(this).find(password).val() !== $(this).find(passwordConfirm).val()) {
        submit = false;
        $(this).find(password).addClass('error').val('');
        $(this).find(passwordConfirm).addClass('error').val('');
        errors.append("<li>{{ 'account.form.errors.passwords' | t }}</li>");
      }

      $(this).find(required).each(function() {
        if ($(this).val() === '') {
          $(this).addClass('error');
          hasBlankFields = true;
        }
      });

      if (hasBlankFields) {
        submit = false;
        errors.append("<li>{{ 'account.form.errors.blank' | t }}</li>");
      }

      if (!submit) {
        event.preventDefault();
        $(this).prepend(errors);
      }
    });
  });
</script>
