<style>
  .password-main__inner{
    padding: 0;
    vertical-align: bottom;
  }
  .password-header__inner{
    display: none;
  }
  .snize-sticky-searchbox.bottom-right{
    display: none;
  }
  .copyright{
    background-color: #000;
    margin-top: 30%;
    padding: 50px;
  }
  .copyright p{
    font-size: 10px;
    color: #fff;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .copyright img{
  	max-width: 20px;
  }
</style>

{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% if section.settings.newsletter_enable %}
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <ul class="form--success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
    {% else %}
      <p class="password__form-heading h4">
        Our site is under construction.<br>Please check back soon!
      </p>

<!--       <input type="hidden" name="contact[tags]" value="prospect, password page">
      <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
      <div class="input-group password__input-group">
        <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            <span>{{ section.settings.newsletter_button_text | escape }}</span>
          </button>
        </span>
      </div> -->
    {% endif %}
  {% endform %}
  <div class="copyright">
    <p>SHOP DC ENTERTAINMENT IS OWNED AND OPERATED BY ARACA MERCHANDISE L.P. UNDER LICENSE FROM WARNER BROS. CONSUMER PRODUCTS INC. ARACA MERCHANDISE L.P., UNITED STATES, IS SOLELY RESPONSIBLE FOR THE SITE'S CONTENT AND ALL ASPECTS OF YOUR PURCHASE.<br><br>
    <img src="{{ 'dc-logo.png' | asset_url }}"> 
    <img src="{{ 'wb_shield_white.png' | asset_url }}"> ALL DC CHARACTERS AND ELEMENTS &copy; &amp; &trade; DC COMICS. WB SHIELD: TM &amp; &copy; WBEI. (S18)
    </p>  
  </div>
{% endif %}
