<!-- /snippets/payment-gateways.liquid -->

{% assign icons = true %}
{% assign payment_icons_available = 'american_express,discover,master,paypal,visa' | split: ',' %}

{% unless shop.enabled_payment_types == empty %}
  <h5 class="payment-title t-uppercase no-margin">{{ 'common.payments.title' | t }}</h5>
  <ul class="inline">
    {% for gateway in shop.enabled_payment_types %}
      {% if payment_icons_available contains gateway %}
        <li>
          {% if icons %}
            {% assign icon_url = 'payments-' | append: gateway | append: '.gif' %}
            <img src="{{ icon_url | asset_url }}" alt="{{ gateway }}">
          {% else %}
            {{ gateway | camelcase | replace: '_',' ' }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endunless %}
