<!-- snippets/product-collection-image.liquid -->
{% assign found_image = false %}
{% if collection or product.collections != blank %}
  {% if collection and collection.image != blank %}
    <a href="{{ collection.url }}"><img class="margin-bottom" src="{{ collection.image | img_url: '1400x' }}" class="wide"></a>
  {% else %}
    {% for product_collection in product.collections %}
      {% unless found_image %}
        {% unless has_collection %}
          {% if product_collection.image != blank %}
            {% assign found_image = true %}
            <a href="{{ product_collection.url }}"><img class="margin-bottom" src="{{ product_collection.image | img_url: '1400x' }}" class="wide"></a>
          {% endif %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endif %}
