<!-- snippets/social-sharing.liquid -->

{% if template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}
{% endif %}

{% if template contains 'article' or template contains 'blog' or template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title }}{% endcapture %}
{% endif %}

<div class="social-sharing" data-permalink="{{ permalinkURL }}">
  {% if settings.share_addthis and settings.share_addthis_id != blank %}
    <div class="addthis_toolbox addthis_default_style">
      {% if settings.share_facebook %}<a class="addthis_button_facebook_like"></a>{% endif %}
      {% if settings.share_twitter %}<a class="addthis_button_tweet"></a>{% endif %}
      {% if settings.share_pinterest %}<a class="addthis_button_pinterest"></a>{% endif %}
      {% if settings.share_google %}<a class="addthis_button_google_plusone"></a>{% endif %}
      <a class="addthis_counter addthis_pill_style"></a>
    </div>

    <script type="text/javascript">var addthis_config = { "data_track_addressbar": false, "data_track_clickback": false };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid={{ settings.share_addthis_id }}"></script>
  {% else %}
    {% if settings.share_facebook %}
      <a target="_blank"
         rel="nofollow"
         href="//www.facebook.com/sharer.php?u={{ permalinkURL }}"
         class="button small share facebook"
         data-social="facebook">
        {{ 'social.share.facebook' | t }}
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a target="_blank"
         rel="nofollow"
         href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_param_escape }}"
         class="button small share twitter"
         data-social="twitter">
        {{ 'social.share.twitter' | t }}
      </a>
    {% endif %}

    {% if template contains 'product' %}

      {% if settings.share_pinterest %}
        <a target="_blank"
           rel="nofollow"
           href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_param_escape }}"
           class="button small share pinterest"
           data-social="pinterest">
          {{ 'social.share.pinterest' | t }}
        </a>
      {% endif %}

    {% endif %}

    {% if settings.share_google %}
      <a target="_blank"
         rel="nofollow"
         href="//plus.google.com/share?url={{ permalinkURL }}"
         class="button small share google"
         data-social="google">
        {{ 'social.share.google' | t }}
      </a>
    {% endif %}
  {% endif %}
</div>
