<!-- /snippets/template-account.liquid -->

{% assign pagination_amount = 20 %}

<div class="container l padding-top padding-bottom-2x">
  <div class="row collapsed">

    <div class="column collapsed l3 m3 s12">
      {% include 'account-sidebar' %}
    </div>

    <div class="column collapsed l9 m9 s12">

      {% case template-account %}
        {% when 'orders' %}
          <h2 class="w-normal">{{ 'account.orders.title' | t }}</h2>

          {% paginate customer.orders by pagination_amount %}
            {% if customer.orders.size > 0 %}
              <div class="row condensed table s-hide">
                <div class="column l2"><p class="no-margin w-bold">{{ 'account.order.title' | t: name: '' }}</p></div>
                <div class="column l2"><p class="no-margin w-bold">{{ 'account.order.date' | t }}</p></div>
                <div class="column l5"><p class="no-margin w-bold">{{ 'account.order.status' | t }}</p></div>
                <div class="column l3 l-right"><p class="no-margin w-bold">{{ 'account.order.total' | t }}</p></div>
              </div>

              {% for order in customer.orders %}
                <div class="row condensed l-table m-table">
                  <div class="column l2 m2 s12"><p class="no-margin">{{ order.name | link_to: order.customer_url }}</p></div>
                  <div class="column l2 m2 s12"><p class="no-margin">{{ order.created_at | date: format: 'simple' }}</p></div>
                  <div class="column l5 m5 s12"><p class="no-margin">{{ order.financial_status_label }} / {{ order.fulfillment_status_label }}</p></div>
                  <div class="column l3 m3 s12 l-right"><p class="no-margin">{{ order.total_price | money }}</p></div>
                </div>
              {% endfor %}
            {% else %}
              <p>{{ 'account.orders.none_html' | t: phone: shop.phone }}</p>
            {% endif %}

            {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination }}
              </div>
            {% endif %}
          {% endpaginate %}

        {% when 'order' %}
          <h2 class="w-normal">{{ 'account.order.title' | t: name: order.name }}</h2>

          <div class="row l-table m-table">
            <div class="column l3 s12 v-top">
              <p class="no-margin">
                <b>{{ 'account.order.date' | t }}</b><br>
                {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}
              </p>
            </div>
            <div class="column l3 s12 v-top">
              <p class="no-margin">
                <b>{{ 'account.order.payment_status' | t }}</b><br>
                {{ order.financial_status_label }}
              </p>
            </div>
            <div class="column l3 s12 v-top">
              <p class="no-margin">
                <b>{{ 'account.order.fulfillment_status' | t }}</b><br>
                {{ order.fulfillment_status_label }}
              </p>
            </div>
            <div class="column l3 s12 v-top right s-left">
              <div class="s-show margin-bottom-2x"></div>
              <a href="{{ order.order_status_url }}" target="_blank" title="{{ 'account.order.track' | t }}" class="button medium">{{ 'account.order.track' | t }}</a>
            </div>
          </div>

          <hr class="margin-bottom-2x">

          {% if order.cancelled %}
            <div class="errors">
              {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
              <h4>{{ 'account.order.cancelled' | t: date: cancelled_at }}</h4>
              <p class="no-margin">{{ 'account.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
            </div>
          {% endif %}

          <div class="row condensed table s-hide">
            <div class="column l4"><p class="no-margin"><b>{{ 'account.order.product' | t }}</b></p></div>
            <div class="column l3"><p class="no-margin"><b>{{ 'account.order.sku' | t }}</b></p></div>
            <div class="column l2 s-right"><p class="no-margin"><b>{{ 'account.order.price' | t }}</b></p></div>
            <div class="column l1"><p class="no-margin"><b>{{ 'account.order.quantity' | t }}</b></p></div>
            <div class="column l2 right"><p class="no-margin"><b>{{ 'account.order.total' | t }}</b></p></div>
          </div>

          {% for line_item in order.line_items %}
            <div class="row condensed l-table m-table" id="{{ line_item.key }}">
              <div class="column l4 s12">
                <p class="no-margin">
                  {{ line_item.title | link_to: line_item.product.url }}
                  {% if line_item.fulfillment %}
                    <br>
                    {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                    {{ 'account.order.fulfilled_at' | t: date: created_at }}
                    {% if line_item.fulfillment.tracking_number %}
                      <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                    {% endif %}
                  {% endif %}
                </p>
              </div>
              <div class="column l3 s-hide"><p class="no-margin">{{ line_item.sku }}</p></div>
              <div class="column l2 s-hide"><p class="no-margin">{{ line_item.price | money }}</p></div>
              <div class="column l1 s7"><p class="no-margin"><span class="s-show">{{ 'account.order.quantity' | t }} </span>{{ line_item.quantity }}</p></div>
              <div class="column l2 s5 right"><p class="no-margin">{{ line_item.quantity | times: line_item.price | money }}</p></div>
            </div>
          {% endfor %}

          <div class="row l-table m-table collapse">
            <div class="column l8"><p class="no-margin">{{ 'account.order.subtotal' | t }}</p></div>
            <div class="column l4 right"><p class="no-margin">{{ order.subtotal_price | money }}</p></div>
          </div>

          {% for discount in order.discounts %}
            <div class="row l-table m-table collapse">
              <div class="column l8"><p class="no-margin">{{ discount.code }} {{ 'account.order.discount' | t }}</p></div>
              <div class="column l4 right"><p class="no-margin w-bold">{{ discount.savings | money }}</p></div>
            </div>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
            <div class="row l-table m-table collapse">
              <div class="column l8"><p class="no-margin">{{ 'account.order.shipping' | t }} ({{ shipping_method.title }})</p></div>
              <div class="column l4 right"><p class="no-margin">{{ shipping_method.price | money }}</p></div>
            </div>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <div class="row l-table m-table collapse">
              <div class="column l8"><p class="no-margin">{{ 'account.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</p></div>
              <div class="column l4 right"><p class="no-margin">{{ tax_line.price | money }}</p></div>
            </div>
          {% endfor %}

          <div class="row l-table m-table collapse">
            <div class="column l8"><p class="no-margin"><b>{{ 'account.order.total' | t }}</b></p></div>
            <div class="column l4 right">
              <p class="no-margin"><b>{{ order.total_price | money }} {{ order.currency }}</b></p>
            </div>
          </div>

          <hr class="margin-bottom-2x margin-top-2x">

          <div class="row no-margin">
            <div class="column l6 m6 s12">
              <h2 class="h4">{{ 'account.order.billing_address' | t }}</h2>
              <p>
                <b>{{ order.billing_address.name }}</b>

                {% if order.billing_address.company != '' %}
                  {{ order.billing_address.company }}<br>
                {% endif %}

                {{ order.billing_address.street }}<br>
                {{ order.billing_address.city }}<br>

                {% if order.billing_address.province != '' %}
                  {{ order.billing_address.province }}<br>
                {% endif %}

                {{ order.billing_address.zip | upcase }}<br>
                {{ order.billing_address.country }}<br>
                {{ order.billing_address.phone }}
              </p>
            </div>
            <div class="column l6 m6 s12">
              <h2 class="h4">{{ 'account.order.shipping_address' | t }}</h2>
              <p>
                <b>{{ order.shipping_address.name }}</b>

                {% if order.shipping_address.company != '' %}
                  {{ order.shipping_address.company }}<br>
                {% endif %}

                {{ order.shipping_address.street }}<br>
                {{ order.shipping_address.city }}<br>

                {% if order.shipping_address.province != '' %}
                  {{ order.shipping_address.province }}<br>
                {% endif %}

                {{ order.shipping_address.zip | upcase }}<br>
                {{ order.shipping_address.country }}<br>
                {{ order.shipping_address.phone }}
              </p>
            </div>
          </div>
        {% when 'addresses' %}
          <h2 class="w-normal no-margin">{{ 'account.address.title' | t }}</h2>
          <p>{{ 'account.address.sub_title' | t }}</p>

          {% paginate customer.addresses by pagination_amount %}
            {% if customer.addresses.size > 0 %}
              {% for address in customer.addresses %}
                {% if address == customer.default_address %}
                  <h2>{{ 'account.address.default' | t }}</h2>

                  {% include 'popup-address' with 'edit' %}
                  {% include 'popup-address' with 'delete' %}

                  <div class="address">
                    <div class="address-content">
                      <p>
                        <strong>{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}</strong>
                        {% unless address.company == blank %}
                          ({{ address.company }})
                        {% endunless %}
                        <br>
                        {{ address.street }}
                        {{ address.city | capitalize }}<br>
                        {% if address.province_code %}
                          {{ address.province_code | upcase }},
                        {% endif %}
                        {{ address.zip | upcase }},
                        {{ address.country }}<br>
                        {{ address.phone }}
                      </p>

                      <p class="address-actions no-margin">
                        <a href="#PopupAddress_{{ address.id }}" data-target="#PopupAddress_{{ address.id }}" data-trigger="popup">{{ 'form.edit' | t }}</a>
                        <a href="#PopupAddressDelete_{{ address.id }}" data-target="#PopupAddressDelete_{{ address.id }}" data-trigger="popup">{{ 'form.delete' | t }}</a>
                      </p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% include 'popup-address' with 'add' %}
            <h4 class="w-normal margin-bottom-2x"><a href="#PopupAddress" data-target="#PopupAddress" data-trigger="popup"><b>{{ 'account.address.create' | t }}</b></a> {{ 'account.address.select' | t }}</h4>

            <h2>{{ 'account.address.stored' | t }}</h2>
            {% if customer.addresses.size > 1 %}
              {% for address in customer.addresses %}
                {% if address != customer.default_address %}
                  {% include 'popup-address' with 'edit' %}
                  {% include 'popup-address' with 'delete' %}

                  <div class="address">
                    <div class="address-content">
                      <p>
                        <strong>{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}</strong>
                        {% unless address.company == blank %}
                          ({{ address.company }})
                        {% endunless %}
                        <br>
                        {{ address.street }}
                        {{ address.city | capitalize }}<br>
                        {% if address.province_code %}
                          {{ address.province_code | upcase }},
                        {% endif %}
                        {{ address.zip | upcase }},
                        {{ address.country }}<br>
                        {{ address.phone }}
                      </p>

                      <p class="address-actions no-margin">
                        <a href="#PopupAddress_{{ address.id }}" data-target="#PopupAddress_{{ address.id }}" data-trigger="popup">{{ 'form.edit' | t }}</a>
                        <a href="#PopupAddressDelete_{{ address.id }}" data-target="#PopupAddressDelete_{{ address.id }}" data-trigger="popup">{{ 'form.delete' | t }}</a>
                      </p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="address">
                <div class="address-content">
                  <p class="no-margin padding-top-3x padding-bottom-3x center">
                    <a href="#PopupAddress" data-target="#PopupAddress" data-trigger="popup">{{ 'account.address.add' | t }}</a>
                  </p>
                </div>
              </div>
            {% endif %}

            {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination }}
              </div>
            {% endif %}

            <script>
              // Modified contents of customer_area.js (global asset)
              Shopify.CustomerAddress = {
                destroy: function(id) {
                  Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
                }
              }
              // Initialize observers on address selectors
              new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
                hideElement: 'AddressProvinceContainerNew'
              });
              // Setup province selector on each customer address
              {% for address in customer.addresses %}
                new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
                  hideElement: 'AddressProvinceContainer_{{ address.id }}'}
                );
              {% endfor %}
            </script>
          {% endpaginate %}

        {% when 'wishlist' %}
          <h2 class="w-normal">{{ 'account.wishlist.title' | t }}</h2>
          <!-- @Cam wishlist content -->

        {% when 'password' %}
          <h2 class="w-normal no-margin">{{ 'account.password.title' | t }}</h2>
          <p class="margin-bottom-3x">{{ 'account.password.message_html' | t: email: customer.email }}</p>

          {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
              <p>{{ 'account.reset.success' | t }}</p>
            {% else %}
              <input type="email" class="hidden" name="email" autocorrect="off" autocapitalize="off" value="{{ customer.email }}">
              <button class="medium" type="submit">{{ 'account.password.submit' | t }}</button>
            {% endif %}
          {% endform %}

        {% else %}
          <h2 class="h3 account-title">
            {% if customer.first_name != blank %}
              {{ 'account.welcome.name' | t: name: customer.first_name }}
            {% else %}
              {{ 'account.welcome.no_name' | t }}
            {% endif %}
          </h2>
          <p>{{ 'account.welcome.content_html' | t }}</p>
      {% endcase %}

    </div>

  </div>
</div>
