<!-- /snippets/theme-nav-accordion.liquid -->

{% assign nav_menu = theme-nav-accordion %}

{% if menu_titles %}
  <h3>{{ nav_menu.title }}</h3>
{% endif %}

<ul class="margin-bottom-3x">
  {% for link in nav_menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="dropdown" aria-haspopup="true" data-id="{{ child_list_handle}}">
        <a href="{{ link.url }}" data-accordion-toggle class="nav-link">
          {{ link.title }}
          {% include 'icon' with 'plus', icon_size: '20' %}
        </a>
        <ul class="dropdown-menu" data-accordion-content>
          {% for childlink in linklists[child_list_handle].links %}
            <li>
              <a {% if childlink.url != "/" %}href="{{ childlink.url }}"{% endif %} class="nav-link {% if childlink.url == "/" %}nav-link--title{% endif %}">{{ childlink.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>
        <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
