<!-- /templates/customers/login.liquid -->

<div class="container l padding-bottom-2x">

  <div class="row no-margin">
    <div class="column l6 m6 s12">
      <h1 class="w-normal no-margin">{{ 'account.login.title' | t }}</h1>
      <p class="padding-bottom">{{ 'account.login.sub_title_html' | t }}</p>

      {% include 'form-login' %}

      {% if shop.checkout.guest_login %}
        <h2 class="h3 w-normal">{{ 'account.login.guest' | t }}</h2>
        {% form 'guest_login' %}
          <button class="bitmap no-hover" type="submit" value="{{ 'account.login.continue' | t }}"><img src="{{ 'button-continue.png' | asset_url }}"></button>
        {% endform %}
      {% endif %}
      <div class="s-show margin-bottom"></div>
    </div>
    <div class="column l6 m6 s12">
      <h1 class="w-normal no-margin">{{ 'account.login.register_title' | t }}</h1>
      <p>{{ 'account.login.register_sub_title_html' | t }}</p>
      <p>{{ 'account.welcome.content_html' | t }}</p>
      <a class="button medium bitmap no-hover" href="/account/register"><img src="{{ 'button-register.png' | asset_url }}"></a>
    </div>
  </div>

</div>
