{% if settings.type_base_family contains 'Google' %}
  {%- assign type_base_parts = settings.type_base_family | split: '_' -%}
  {% capture baseGoogleUrl %}{{ type_base_parts[1] }}:400,500,700{% endcapture %}
  {{ '//fonts.googleapis.com/css?family=' | append: baseGoogleUrl | stylesheet_tag }}
{% endif %}
{% if settings.type_header_family contains 'Google' %}
  {% unless settings.type_header_family contains type_base_parts[1] and settings.type_header_family contains '700' %}
    {%- assign type_header_parts = settings.type_header_family | split: '_' -%}
    {% capture headerGoogleUrl %}{{ type_header_parts[1] }}:{{ type_header_parts[2] }}{% endcapture %}
    {{ '//fonts.googleapis.com/css?family=' | append: headerGoogleUrl | stylesheet_tag }}
  {% endunless %}
{% endif %}
