#PopupEzPrints .popup-content {
  width: 970px;
}
@media (min-width:  651px) {
  #PopupEzPrints .popup-content,#PopupEzPrintsAgreement .popup-content {
    overflow: visible;
  }
}
@media (max-width:  650px) {
  #PopupEzPrints .popup-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #PopupEzPrints .jspPane>div {
    width: 100% !important;
  }
  #Popup_signup {
    display: none;
  }
}

#PopupEzPrints, #PopupEzPrintsAgreement {
  .icon {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 0.7075rem;
    font-weight: normal;
    line-height: 1.75;
    margin-bottom: 15.01502px;
    font-family: Avenir-Regular;
  }
  .center {
    text-align: center;
  }
  .container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    &.s {
      max-width: 650px;
    }
  }
  .popup {
    &.overlay {
      .popup-content {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
      }
    }
    .popup-content {
      background: #f0f0f0;
    }
  }
  .row {
    margin: 0 -25px 16.66667px;
    .column {
      float: left;
      min-height: 0.125rem;
      padding: 0 25px;
    }
    .l6 {
      width: 50%;
    }
  }
  .right {
    text-align: right;
  }
  button {
    max-width: 100%;
    height: 37.03704px;
    line-height: 35.03704px;
    padding: 0 10px;
    font-size: 0.6875rem;
    font-weight: bold;
    font-family: inherit;
    color: #069;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4));
    background: -webkit-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -o-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: -ms-linear-gradient(top, #fff 0%, #d4d4d4 100%);
    background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
    border: 1px solid #aeaeae;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    &:active {
      background: #d4d4d4;
      background: -moz-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #d4d4d4), color-stop(100%, #fff));
      background: -webkit-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -o-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: -ms-linear-gradient(top, #d4d4d4 0%, #fff 100%);
      background: linear-gradient(top, #d4d4d4 0%, #fff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=$msGradientType);
      cursor: pointer;
    }
  }
}
#PopupEzPrints {
  .container {
    padding: 0;
  }
}