#PopupCart {
  .popup-content {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #d4d4d4;
    .table-header h5 {
      color: #262626;
    }
    .cart-item {
      margin-bottom: 10px;
      &+.cart-item {
        border-top: 1px dashed #d4d4d4;
        padding-top: 10px;
      }
      .product-image {
        background-color: #fff;
        margin-right: 10px;
        .ratio {
          border: 1px solid #d4d4d4;
        }
      }
      .sale_price {
        color: #900;
      }
      .original_price {
        text-decoration: line-through;
      }
      .savings {
        font-size: 10px;
      }
    }
  }
  @media (min-width:  651px) {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    width: 450px;
    height: auto;
    .popup-close {
      top: -10px;
      right: -10px;
    }
  }
  @media (max-width:  650px) {
    background: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    .popup-outside {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9998;
    }
    .popup-inner {
      cursor: pointer;
      z-index: 9997;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition-delay: 100ms;
      transition: all 100ms ease-in-out;
    }
    .popup-content {
      padding-top: 15.01502px;
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      .button, .select-wrapper select, select {
        width: 100%;
      }
    }
    .popup-close {
      top: 10px;
      right: 10px;
    }
  }
}