#PopupQuicklook {
  &.overlay {
    background-color: rgba(51,51,51,0.2);
  }
  .tab-content {
    height: 362px;
    overflow-y: auto;
  }
  .popup-content {
    width: 700px;
    max-width: 100%;
    padding: 10px;
    overflow: scroll;
    border: 5px solid #c0c0c0;
    box-shadow: 0px 0px 15px #000;
    .popup-overflow {
      overflow: auto;
      .product-zoom-overlay {
        left: 0;
        right: 0;
        top: 0;
        z-index: 100;
        transition: all 100ms ease-in-out;
        opacity: 0;
        visibility: hidden;
        margin-right: 10px;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-image {
        border: 1px solid #d4d4d4;
        .zoomImg {
          cursor: all-scroll;
        }
        @media (min-width:  651px) {
          margin-right: 10px;
        }
      }
      .thumbnail {
        margin: 5px 5px 0 0;
      }
      .tab-toggles {
        font-size: 0;
        [data-accordion-toggle] {
          font-size: 0.8rem;
          font-weight: bold;
        }
        [data-accordion-content] {
          padding-bottom: 15.01502px;
          &.active {
            border-bottom-color: transparent;
          }
        }
        @media (max-width:  650px) {
          border-bottom: 1px solid #d4d4d4;
          margin-bottom: 15.01502px;
        }
      }
    }
  }
  @media (min-width:  651px) {
    .popup-content {
      overflow: visible;
    }
    .popup-close {
      top: -10px;
      right: -10px;
    }
  }
  @media (max-width:  650px) {
    .popup-content {
      padding-top: 50px;
    }
    .popup-close {
      top: 10px;
      right: 10px;
    }
  }
}