<script id="CartTemplate" type="text/template">
    {% raw %}
        <form action="/cart" method="post" novalidate>
            <div class="ajaxcartInner">
                {{#items}}
                <div class="ajaxcartProduct">
                    <div class="ajaxcartRow" data-id="{{id}}">
                        <div class="grid">
                            <div class="grid__item large--two-thirds">
                                <div class="grid">
                                    <div class="grid__item one-quarter">
                                        <a href="{{url}}" class="ajaxcartProductImage"><img src="{{img}}" alt=""></a>
                                    </div>
                                    <div class="grid__item three-quarters">
                                        <a href="{{url}}" class="h4">{{name}}</a>
                                        <p>{{variation}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item large--one-third">
                                <div class="grid">
                                    <div class="grid__item one-third">
                                        <div class="ajaxcart__qty">
                                            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{id}}" data-qty="{{itemMinus}}">&minus;</button>
                                            <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
                                            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{id}}" data-qty="{{itemAdd}}">+</button>
                                        </div>
                                    </div>
                                    <div class="grid__item one-third text-center">
                                        <p>{{price}}</p>
                                    </div>
                                    <div class="grid__item one-third text-right">
                                        <p>
                                            <small><a href="/cart/change?id={{id}}&amp;quantity=0" class="ajaxcart__remove" data-id="{{id}}">{% endraw %}{{ 'cart.general.remove' | t}}{% raw %}</a></small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/items}}
            </div>
            <div class="ajaxcartRow text-right medium-down--text-center">
                <span class="h3">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %} {{totalPrice}}</span>
                <input type="submit" class="{{btnClass}}" name="cart" value="{% endraw %}{{ 'cart.general.cart' | t }}{% raw %}">
            </div>
        </form>
    {% endraw %}
</script>
<script id="DrawerTemplate" type="text/template">
    {% raw %}
        <div id="AjaxifyDrawer" class="ajaxcart ajaxcartDrawer">
            <div id="AjaxifyCart" class="container {{wrapperClass}}"></div>
        </div>
    {% endraw %}
</script>
<script id="ModalTemplate" type="text/template">
    {% raw %}
        <div id="AjaxifyModal" class="ajaxcart ajaxcartModal">
            <div id="AjaxifyCart" class=""></div>
        </div>
    {% endraw %}
</script>
<script id="AjaxifyQty" type="text/template">
    {% raw %}
        <div class="ajaxcartQty">
            <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyMinus" data-id="{{id}}" data-qty="{{itemMinus}}">&minus;</button>
            <input type="text" class="ajaxcartQtyNum" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
            <button type="button" class="ajaxcartQtyAdjust ajaxcartQtyPlus" data-id="{{id}}" data-qty="{{itemAdd}}">+</button>
        </div>
    {% endraw %}
</script>
<script id="apQty" type="text/template">
    {% raw %}
        <div class="apQty">
            <button type="button" class="apQtyAdjust apQtyAdjustMinus" data-id="{{id}}" data-qty="{{itemMinus}}"><i class="fa fa-angle-down"></i></button>
            <input type="text" class="apQtyNum" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
            <button type="button" class="apQtyAdjust apQtyAdjustPlus" data-id="{{id}}" data-qty="{{itemAdd}}"><i class="fa fa-angle-up"></i></button>
        </div>
    {% endraw %}
</script>