<div class="blocktime">
	{% if settings.title_open_time != blank %}
		<h4 class="blocktime__title">{{settings.title_open_time}}</h4>
	{% endif %}
	{% if settings.des_open_time != blank %}
		<div class="list__open">
			{{settings.des_open_time}}
		</div>
	{% endif %}
	{% if settings.title_open_time_2 != blank %}
		<h4 class="blocktime__title">{{settings.title_open_time_2}}</h4>
	{% endif %}
	{% if settings.des_open_sp != blank %}
	<p class="blocktime__sp">{{settings.des_open_sp}}</p>
	{% endif %}
</div>