{% comment %}
    Show number of items in the cart and total cost in the /cart link
    Ajaxify Cart Notes:
    - #cartToggle toggles cart visibility (drawer or modal)
    - #cartCount updates the total number of items in the cart
    - #cartCost updates the total cost of the cart
    - Documentation:  http://shopify.com/timber#ajax-cart
{% endcomment %}
<div id="cart" class="blockcart_top clearfix popup-over">
    <div class="media heading">
        <a href="/cart" title="{{ 'layout.cart.title' | t }}">
            <div class="title-cart">
              <i class="fa fa-shopping-cart" style="color: #000; font-size: 20px;" aria-hidden="true"> <span class="hidden-xs" style="font-family: 'Avenir Next'; font-size: 11px;">MY CART</span></i> <span class="cart-title">{{ 'layout.cart.title' | t }}</span> <span class="hidden-xs" id="CartCount">{{ cart.item_count }}</span>
            </div>
            {% comment %} <div class="cart-inner media-body">
                <span>{{ 'layout.cart.items_count' | t: count: cart.item_count }} - </span>
                <span id="CartCost">{{ cart.total_price | money }}</span>
            </div>{% endcomment %}
        </a>
    </div>
</div>