{% if settings.apollo_canvas_style == 'styleone' %}
	<section id="off-canvas-nav" class="apollo-megamenu">
        <nav class="offcanvas-mainnav">
            <div id="off-canvas-button">
                <span class="off-canvas-nav"><i class="fa fa-close"></i></span>
                {{ 'general.megamenu.close_menu' | t }}
            </div>
            <ul class="nav navbar-nav megamenu">
                {% for link in linklists.main-menu.links %}
                    {%- comment %}<locksmith:a29e>{% endcomment -%}
                      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists.main-menu %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:a29e>{% endcomment -%}
                    {% assign hasMega = false %}
                    {% assign intMega = 0 %}
                    {% assign link_title = link.title | downcase %}
                    {% assign fullwidth = '' %}
                    {% for i in (1..5) %}
                        {% capture apmegamenu %}apmenuitem_enable_{{ i }}{% endcapture %}
                        {% capture apmegamenu_title %}apmenuitem_title_{{ i }}{% endcapture %}
                        {% assign megamenu_title = settings[apmegamenu_title] | strip | downcase %}
                        {% if settings[apmegamenu] %}
                            {% if link_title == megamenu_title %}
                                {% assign hasMega = true %}
                                {% assign intMega = i %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if hasMega %}
                        <li class="parent dropdown{% if link.active %} active{% endif %}">
                            <a class="has-category" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                                <span class="menu-title">{{ link.title }}</span>
                            </a>
                          	<div class="dropdown-toggle" data-toggle="dropdown"></div>
                            {% assign mega_link_handle = link.handle %}
                            {% include 'menu-megamenu' %}
                        </li>
                    {% else %}
                        {% if linklists[link.handle] != empty %}
                            <li class="parent dropdown {% if link.active %}active{% endif %}">
                                <a class="has-category" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                                    <span class="">{{ link.title }}</span>
                                </a>
                              	<div class="dropdown-toggle" data-toggle="dropdown"></div>
                                <div class="dropdown-menu level1">
                                    <ul>
                                        {% for child_link in linklists[link.handle].links %}
                                            {%- comment %}<locksmith:e054>{% endcomment -%}
                                              {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link, locksmith_subject_parent: linklists[link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:e054>{% endcomment -%}
                                            {% if linklists[child_link.handle] != empty %}
                                                <li class="parent dropdown-submenu {% if child_link.active %}active{% endif %}">
                                                    <a class="menuTitle" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                                        <span class="">{{ child_link.title }}</span><b class="caret"></b>
                                                    </a>
                                                    <div class="dropdown-menu level2">
                                                        <ul>
                                                            {% for child_link1 in linklists[child_link.handle].links %}
                                                                {%- comment %}<locksmith:7bef>{% endcomment -%}
                                                                  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link1, locksmith_subject_parent: linklists[child_link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                                {%- comment %}</locksmith:7bef>{% endcomment -%}
                                                                {% if linklists[child_link1.handle] != empty %}
                                                                    <li class="parent dropdown-submenu {% if child_link1.active %}active{% endif %}">
                                                                        <a class="menuTitle" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                                            <span class="">{{ child_link1.title }}</span><b class="caret"></b>
                                                                        </a>
                                                                        <div class="dropdown-menu level2">
                                                                            <ul>
                                                                                {% for child_link2 in linklists[child_link1.handle].links %}
                                                                                    {%- comment %}<locksmith:aed3>{% endcomment -%}
                                                                                      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link2, locksmith_subject_parent: linklists[child_link1.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                                                    {%- comment %}</locksmith:aed3>{% endcomment -%}
                                                                                    <li class="{% if child_link2.active %}active{% endif %}">
                                                                                        <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                                                                                            <span class="">{{ child_link2.title }}</span>
                                                                                        </a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="{% if child_link1.active %}active{% endif %}">
                                                                        <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                                            <span class="">{{ child_link1.title }}</span>
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="{% if child_link.active %}active{% endif %}">
                                                    <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                                        <span class="">{{ child_link.title }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="{% if link.active %}active{% endif %}">
                                <a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                                    <span class="">{{ link.title }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </section>
{% elsif settings.apollo_canvas_style == 'styletwo' %}

    <section id="apollo-menucanvas" class="XX">
      	
        <ul>
          {% for link in linklists.main-menu.links %}
              {%- comment %}<locksmith:b447>{% endcomment -%}
                {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists.main-menu %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:b447>{% endcomment -%}
              {% if linklists[link.handle] != empty %}
                  <li class="parent {% if link.active %}active{% endif %}">
                      <a class="has-category" href="{{ link.url }}" title="{{ link.title }}">
                          <span class="">{{ link.title }}</span>
                      </a>
                      <ul>
                          {% for child_link in linklists[link.handle].links %}
                              {%- comment %}<locksmith:da9a>{% endcomment -%}
                                {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link, locksmith_subject_parent: linklists[link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                              {%- comment %}</locksmith:da9a>{% endcomment -%}
                              {% if linklists[child_link.handle] != empty %}
                                  <li class="parent {% if child_link.active %}active{% endif %}">
                                      <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                          <span class="">{{ child_link.title }}</span>
                                      </a>
                                      <ul>
                                          {% for child_link1 in linklists[child_link.handle].links %}
                                              {%- comment %}<locksmith:ebc6>{% endcomment -%}
                                                {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link1, locksmith_subject_parent: linklists[child_link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                              {%- comment %}</locksmith:ebc6>{% endcomment -%}
                                              {% if linklists[child_link1.handle] != empty %}
                                                  <li class="parent {% if child_link1.active %}active{% endif %}">
                                                      <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                          <span class="">{{ child_link1.title }}</span>
                                                      </a>
                                                      <ul>
                                                          {% for child_link2 in linklists[child_link1.handle].links %}
                                                          {%- comment %}<locksmith:9dd2>{% endcomment -%}
                                                            {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link2, locksmith_subject_parent: linklists[child_link1.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
                                                          {%- comment %}</locksmith:9dd2>{% endcomment -%}
                                                          <li class="{% if child_link2.active %}active{% endif %}">
                                                              <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                                                                  <span class="">{{ child_link2.title }}</span>
                                                              </a>
                                                          </li>
                                                          {% endfor %}
                                                      </ul>
                                                  </li>
                                              {% else %}
                                                  <li class="{% if child_link1.active %}active{% endif %}">
                                                      <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                          <span class="">{{ child_link1.title }}</span>
                                                      </a>
                                                  </li>
                                              {% endif %}
                                          {% endfor %}
                                      </ul>
                                  </li>
                              {% else %}
                                  <li class="{% if child_link.active %}active{% endif %}">
                                      <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                          <span class="">{{ child_link.title }}</span>
                                      </a>
                                  </li>
                              {% endif %}
                          {% endfor %}
                      </ul>
                  </li>
              {% else %}
                  <li class="{% if link.active %}active{% endif %}">
                      <a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                          <span class="">{{ link.title }}</span>
                      </a>
                  </li>
              {% endif %}
          {% endfor %}
        </ul>
    </section>
    <script type="text/javascript">
      $(function() {
        $('#apollo-menucanvas').mmenu({
          extensions	: [ 'effect-slide', 'pageshadow' ],
          header		: true,
          searchfield	: false
        });
        setTimeout(function(){
          $('#apollo-menucanvas .mm-header').css('top','10px');
        	$('#apollo-menucanvas').prepend('<div class="mm-search"><form action="/search"><input type="hidden" name="type" value="product" /><input placeholder="Search products" id="tea-search" name="q" type="text" autocomplete="off"></form><div id="tea-ajax-search" class="hidden-sm hidden-xs"><ul class="list-unstyled tea-results"></ul></div></div>');
        	
        },1000);
      });
    </script>
{% endif %}