<!-- <script type="text/javascript">
    $(document).ready( function(){ 
         $("#search_block_top").each( function(){
         	$("#search-icon").click( function(){
                 $("#searchbox").toggleClass("show");
                 $(this).toggleClass("active");
             });
         }); 
    });
</script> -->
<div id="search_block_top">
<!--     <span id="search-icon" class="zmdi zmdi-search" title="{{ 'general.search.submit' | t }}" ></span> -->
    <form id="searchbox" class="popup-content" action="/pages/search-results" method="get">
        <input type="hidden" name="type" value="product">
        <input id="search_query_top" class="search_query form-control" type="search" name="q" value="{{ search.terms | escape }}" placeholder="What are you looking for?" aria-label="{{ 'general.search.placeholder' | t }}" autocomplete="off" />
        <button id="search_button" class="btn btn-sm" type="submit" title="{{ 'general.search.submit' | t }}" >
            <span><i class="fa fa-search"></i></span>
            <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
    </form>
  	<div id="ap-ajax-search"><ul class="list-unstyled aps-results"></ul></div>
</div>