{% capture linklists_name %}{{ footerlinks_name }}{% endcapture %}
<div class="block footer-block footerAccordion" id="block_links_footer_{{ block-footerlinks }}">
	{% if footerlinks_title != blank %}
		<h4 class="title_block">{{ footerlinks_title }}</h4>
	{% endif %}
	<div class="block_content">
		<ul style="" class="toggle-footer list-group list-unstyled">
			{% for link in linklists[linklists_name].links %}
				{%- comment %}<locksmith:24eb>{% endcomment -%}
				  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists[linklists_name] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:24eb>{% endcomment -%}
				<li class="item">
					<a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>