{% if settings.newsletter_form_action != blank %}
    {% assign form_action = settings.newsletter_form_action %}
{% else %}
    {% assign form_action = '#' %}
{% endif %}
<div id="newsletter_block" class="block inline">
    {% if settings.homepage_newsletter_title != blank %}
        <h4 class="title_block">
            {{ settings.homepage_newsletter_title }}
        </h4>
    {% endif %}
    <div class="block_content">
        {% if settings.homepage_newsletter_des != blank %}
            <div class="des_newsletter">
                {{ settings.homepage_newsletter_des }}
            </div>
        {% endif %}
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form-success" style="color: #fff; font-size: 20px; text-align: center;">Thanks for signing up!</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" id="mail" class="newsletter-input form-control" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
            <button id="subscribe" class="button_mini btn" style="font-size: 13px; padding-left: 15px; font-weight: 300;"type="submit">
              <input style="background-color: transparent; border: none; line-height: 1;"type="submit" value="{{ 'general.newsletter_form.submit' | t }}">
            </button>
          {% endif %}
        {% endform %}
<!--         <form class="form_newsletter" action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="newsletter-input form-control" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
          	<button id="subscribe" class="button_mini btn" type="submit">
              	<span>{{ 'general.newsletter_form.submit' | t }}</span>
          	</button>
        </form> -->
    </div>
</div>
