{% if settings.verticalmenu_enable %}
	<div id="apollo-verticalmenu" class="block apollo-verticalmenu {{ settings.verticalmenu_class }}">
  		{% if settings.verticalmenu_title != blank %}
    		<div class="title_block">
      			<span>{{ settings.verticalmenu_title }}</span>
      			<span class="shapes round">
        			<em class="shapes bottom"></em>
      			</span>
    		</div>
  		{% endif %}
  	<div class="block_content">
    	<div id="verticalmenu" class="verticalmenu" role="navigation">
      		<div class="navbar">
        		<div class="navbar-ex1-collapse">
          			<ul class="nav navbar-nav nav-verticalmenu">
            			{%- comment %}<locksmith:5b45>{% endcomment -%}
            			  {%- assign locksmith_1a37_forloop__size = 0 %}{% for link in linklists[settings.verticalmenu_linklist].links %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link %}{% if locksmith_transparent %}{% assign locksmith_1a37_forloop__size = locksmith_1a37_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_1a37_forloop__index = nil -%}
            			{%- comment %}</locksmith:5b45>{% endcomment -%}
            			{% for link in linklists[settings.verticalmenu_linklist].links %}
            				{%- comment %}<locksmith:72f1>{% endcomment -%}
            				  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: link, locksmith_subject_parent: linklists[settings.verticalmenu_linklist] %}{% if locksmith_transparent %}{% if locksmith_1a37_forloop__index == nil %}{% assign locksmith_1a37_forloop__index = 1 %}{% assign locksmith_1a37_forloop__index0 = 0 %}{% else %}{% assign locksmith_1a37_forloop__index = locksmith_1a37_forloop__index | plus: 1 %}{% assign locksmith_1a37_forloop__index0 = locksmith_1a37_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_1a37_forloop__index == 1 %}{% assign locksmith_1a37_forloop__first = true %}{% else %}{% assign locksmith_1a37_forloop__first = false %}{% endif %}{% if locksmith_1a37_forloop__index == locksmith_1a37_forloop__size %}{% assign locksmith_1a37_forloop__last = true %}{% else %}{% assign locksmith_1a37_forloop__last = false %}{% endif %}{% assign locksmith_1a37_forloop__rindex = locksmith_1a37_forloop__size | minus: locksmith_1a37_forloop__index | minus: 1 %}{% assign locksmith_1a37_forloop__rindex0 = locksmith_1a37_forloop__size | minus: locksmith_1a37_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            				{%- comment %}</locksmith:72f1>{% endcomment -%}
            				{% assign hasMega = false %}
            				{% assign intMega = 0 %}
            				{% assign link_title = link.title | downcase %}
            				{% capture apvericon %}vermenuicon_eimage_{{ locksmith_1a37_forloop__index }}{% endcapture %}
            				{% capture apverfonticon %}vermenuicon_font_{{ locksmith_1a37_forloop__index }}{% endcapture %}
                      		{% capture apvermenudesc %}vermenuitem_menu_desc_{{ locksmith_1a37_forloop__index }}{% endcapture %}
            				{% for i in (1..5) %}
              					{% capture apvermenu %}vermenuitem_enable_{{ i }}{% endcapture %}
              					{% capture apvermenu_title %}vermenuitem_title_{{ i }}{% endcapture %}
              					{% assign vermenu_title = settings[apvermenu_title] | strip | downcase %}
              					{% if settings[apvermenu] %}
                					{% if link_title == vermenu_title %}
                						{% assign hasMega = true %}
                						{% assign intMega = i %}
                					{% endif %}
              					{% endif %}
            				{% endfor %}
            				{% if hasMega %}
            					<li class=" parent dropdown{% if link.active %} active{% endif %}">
              						<a class="dropdown-toggle has-category" data-toggle="dropdown" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                						{% if settings.vermenuicon_enable %}
                  							{% if settings[apvericon] %}
                    							<span class="menu-icon has-icon menu-icon-{{ forloop.index }}">
                      								<span class="menu-title">{{ link.title }}</span>
                                                  	{% if settings[apvermenudesc] != blank %}
                                                  		<span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                  	{% endif %}
                    							</span>
                  							{% else %}
                    							<span class="menu-icon has-icon">
                  									<i class="fa fa-{{ settings[apverfonticon] }}"></i>
                      								<span class="menu-title">{{ link.title }}</span>
                                                  	{% if settings[apvermenudesc] != blank %}
                                                  		<span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                  	{% endif %}
                    							</span>
                  							{% endif %}
            							{% else %}
                  							<span class="menu-icon">
            									<span class="menu-title">{{ link.title }}</span>
                                              	{% if settings[apvermenudesc] != blank %}
                                                	<span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                {% endif %}
                  							</span>
                						{% endif %}
                                      	<b class="caret"></b>
              						</a>
              						
          							{% assign mega_link_handle = link.handle %}
              						{% include 'vermenu-megamenu' %}
            					</li>
            				{% else %}
	            				{% if linklists[link.handle] != empty %}
	            					<li class="parent dropdown{% if link.active %} active{% endif %}">
	          							<a class="dropdown-toggle" data-toggle="dropdown" href="{{ link.url }}">
	                						{% if settings.vermenuicon_enable %}
	                							{% if settings[apvericon] %}
	                								<span class="menu-icon has-icon menu-icon-{{ forloop.index }}">
	                  									<span class="menu-title">{{ link.title }}</span>
                                                      	{% if settings[apvermenudesc] != blank %}
                                                            <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                        {% endif %}
	                								</span>
	                							{% else %}
	                								<span class="menu-icon has-icon">
	                  									<i class="fa fa-{{ settings[apverfonticon] }}"></i>
	                  									<span class="menu-title">{{ link.title }}</span>
                                                      	{% if settings[apvermenudesc] != blank %}
                                                            <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                        {% endif %}
	                								</span>
	                							{% endif %}
	                						{% else %}
	                							<span class="menu-icon">
	                  								<span class="menu-title">{{ link.title }}</span>
                                                  	{% if settings[apvermenudesc] != blank %}
                                                        <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                    {% endif %}
	                							</span>
	                						{% endif %}
                                          	<b class="caret"></b>
	          							</a>
	              						
	              						<div class="dropdown-menu level1">
	        								<div class="dropdown-menu-inner">
	                  							<div class="row">
	                    							<div class="mega-col col-sm-12">
	                      								<div class="mega-col-inner">
	                										<ul>
	                          									{% for child_link in linklists[link.handle].links %}
	                          										{%- comment %}<locksmith:5b9d>{% endcomment -%}
	                          										  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link, locksmith_subject_parent: linklists[link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
	                          										{%- comment %}</locksmith:5b9d>{% endcomment -%}
	                          										{% if linklists[child_link.handle] != empty %}
	                          											<li class="parent dropdown{% if link.active %} active{% endif %}">
																			<a class="dropdown-toggle" data-toggle="dropdown" href="{{ child_link.url }}" title="{{ child_link.title }}">
																				<span class="">{{ child_link.title }}</span>
																			</a>
	                            											<b class="caret"></b>
	                            											<div class="dropdown-menu level2">
	                              												<div class="dropdown-menu-inner">
	                                												<div class="row">
	                                  													<div class="mega-col col-sm-12">
	                                    													<div class="mega-col-inner">
	                                      														<ul>
	                                    															{% for child_link1 in linklists[child_link.handle].links %}
	                                        															{%- comment %}<locksmith:6e1f>{% endcomment -%}
	                                        															  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: child_link1, locksmith_subject_parent: linklists[child_link.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
	                                        															{%- comment %}</locksmith:6e1f>{% endcomment -%}
	                                        															<li class="{% if child_link1.active %}active{% endif %}">
	                                      																	<a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
	                                           																	<span class="">{{ child_link1.title }}</span>
	                                          																</a>
	                                        															</li>
	                                        														{% endfor %}
	                                      														</ul>
	                                    													</div>
	                                  													</div>
	                                												</div>
	                              												</div>
	                            											</div>
	                          											</li>
	                          										{% else %}
																		<li class="{% if child_link.active %}active{% endif %}">
																			<a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
																				<span class="">{{ child_link.title }}</span>
																			</a>
																		</li>
	                          										{% endif %}
	                          									{% endfor %}
	                    									</ul>
	                      								</div>
	                    							</div>
	                  							</div>
	    									</div>
	              						</div>
	            					</li>
	            				{% else %}
	            					<li class="{% if link.active %}active{% endif %}">
										<a href="{{ link.url }}" title="{{ link.title }}">
											{% if settings.vermenuicon_enable %}
												{% if settings[apvericon] %}
													<span class="menu-icon has-icon menu-icon-{{ locksmith_1a37_forloop__index }}">
														<span class="menu-title">{{ link.title }}</span>
                                                      	{% if settings[apvermenudesc] != blank %}
                                                            <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                        {% endif %}
													</span>
												{% else %}
													<span class="menu-icon has-icon">
														<i class="fa fa-{{ settings[apverfonticon] }}"></i>
														<span class="menu-title">{{ link.title }}</span>
                                                      	{% if settings[apvermenudesc] != blank %}
                                                            <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                        {% endif %}
													</span>
												{% endif %}
											{% else %}
												<span class="menu-icon">
													<span class="menu-title">{{ link.title }}</span>
                                                  	{% if settings[apvermenudesc] != blank %}
                                                        <span class="menu-desc">{{ settings[apvermenudesc] }}</span>
                                                    {% endif %}
												</span>
											{% endif %}
										</a>
	            					</li>
	            				{% endif %}
	            			{% endif %}
	            		{% endfor %}
	          		</ul>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<script type="text/javascript">
	$(".verticalmenu .caret").click(function(){
    	var $parent  = $(this).parent();
    	$parent.toggleClass('open');
    	return false;
    });
</script>
{% endif %}