{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
	{% comment %}<script type="text/javascript">
// 		$(document).ready( function(){
// 			if( $(window).width() < 991 ){
// 					$(".header_user_info").addClass('popup-over');
// 					$(".header_user_info .links").addClass('dropdown-menu');
// 				}
// 				else{
// 					$(".header_user_info").removeClass('popup-over');
// 					$(".header_user_info .links").removeClass('dropdown-menu');
// 				}
// 			$(window).resize(function() {
// 				if( $(window).width() < 441 ){
// 					$(".header_user_info").addClass('popup-over');
// 					$(".header_user_info .links").addClass('dropdown-menu');
// 				}
// 				else{
// 					$(".header_user_info").removeClass('popup-over');
// 					$(".header_user_info .links").removeClass('dropdown-menu');
// 				}
// 			});
// 		});
	</script>
	{% endcomment %}
	<div class="header_user_info  e-translate-top popup-over">
		<div data-toggle="dropdown" class="popup-title dropdown-toggle">
          <i class="zmdi zmdi-account" style="color: #000;"> <span class="hidden-xs" style="font-family: 'Avenir Next'; font-size: 11px;">ACCOUNT</span></i>
		</div>
		<ul class="links list-unstyled dropdown-menu">
          	{% if customer  %}
				<li>
					{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
                  	<a class="account" rel="nofollow" href="/account" title="{{ 'customer.account.title' | t }}"> <i class="zmdi zmdi-account"></i> <span>{{ 'header.general.welcome_html' | t : fullname : fullname }}</span></a>
				</li>
				<li>
					<a id="customer_logout_link" href="/account/logout" title="{{ 'header.general.logout' | t }}"><i class="zmdi zmdi-lock-open"></i> {{ 'header.general.logout' | t }}</a>
				</li>
			{% else %}
				<li>
					<a id="customer_login_link" href="/account/login" title="{{ 'header.general.login' | t }}"><i class="zmdi zmdi-account"></i> {{ 'header.general.login' | t }}</a>
				</li>
				<li>
					<a id="customer_register_link" href="/account/register" title="{{ 'header.general.register' | t }}"><i class="zmdi zmdi-key"></i> {{ 'header.general.register' | t }}</a>
				</li>
			{% endif %}
          	<li>
				<a class="account" rel="nofollow" href="/account" title="{{ 'header.general.account' | t }}"><i class="zmdi zmdi-account-o"></i> {{ 'header.general.account' | t }}</a>
			</li>
          	{% if settings.theme_wishlist_enable %}
				<li>
					<a id="wishlist-total" title="{{ 'header.general.wishlist' | t }}" href="/pages/wishlist"><i class="zmdi zmdi-favorite"></i> {{ 'header.general.wishlist' | t }}</a>
				</li>
			{% endif %}
<!-- 			<li>
				<a href="/cart" title="{{ 'header.general.checkout' | t }}"><i class="zmdi zmdi-assignment-check"></i> {{ 'header.general.checkout' | t }}</a>
			</li> -->
		</ul>
	</div>
{% endif %}