{% unless template == 'index' or template == 'cart' %}
{% if template contains 'collection' %}
  {% assign name = 'list_collection_default.png' | asset_url  %}
  {% if template contains 'collection' and collection.handle %}
    {% if collection.image %}
      {% assign name = collection.image | img_url: 'master'  %}
    {% endif %}
   {% endif %}
{% endif %}
<a href="{{ url }}" title="{{ collection.title }}" itemprop="item"><section id="breadcrumbs" style="  background:url('https://cdn.shopify.com/s/files/1/1505/6302/files/TWD_cat_header.jpg?12851108032346427750') no-repeat center top transparent; ">
    <div class="container">
        <nav aria-label="breadcrumbs">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                {% if template contains 'product' %}
<!--                     <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
                            <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li> -->
                    {% if collection %}
                        {% if collection.handle %}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
<!--                             <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                    <span itemprop="name">{{ collection.title }}</span>
                                </a>
                              	<meta itemprop="position" content="2" />

                            </li> -->
                        {% endif %}
                    {% endif %}
<!--                     <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      	<span itemprop="item"><span itemprop="name">{{ product.title }}</span></span>
                      	{% if collection %}
                        	{% if collection.handle %}
                      			<meta itemprop="position" content="3" />
                      		{% endif %}
                      	{% else %}
                      		<meta itemprop="position" content="2" />
                      	{% endif %}
                    </li> -->
                {% elsif template contains 'collection' and collection.handle %}
<!--                     <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
                            <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li> -->
                    {% if current_tags %}
                        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
<!--                         <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                <span itemprop="name">{{ collection.title }}</span>
                            </a>
                          	<meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                          	<meta itemprop="position" content="3" />
                        </li> -->
                    {% else %}
<!--                         <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ collection.title }}</span></span>
                          	<meta itemprop="position" content="2" />
                        </li> -->
                    {% endif %}
                {% elsif template == 'blog' %}
                    {% if current_tags %}
                        {{ blog.title | link_to: blog.url }}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                                <span itemprop="name">{{ blog.title }}</span>
                            </a>
                          	<meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                          	<meta itemprop="position" content="3" />
                        </li>
                    {% else %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ blog.title }}</span></span>
                          	<meta itemprop="position" content="2" />
                        </li>
                    {% endif %}
                {% elsif template == 'article' %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                            <span itemprop="name">{{ blog.title }}</span>
                        </a>
                      	<meta itemprop="position" content="2" />
                    </li>
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ article.title }}</span></span>
                      	<meta itemprop="position" content="3" />
                    </li>
                {% elsif template contains 'page' %}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <h1 class="name-collection" itemprop="name">{{page.title}}</h1>
<!--                         <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span> -->
                      	<meta itemprop="position" content="2" />
                    </li>
                {% else %}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
                      	<meta itemprop="position" content="2" />
                    </li>
                {% endif %}
            </ol>
            {% if template contains 'collection' or 'product' and collection.handle %}
              <h1 class="name-collection"> {{ collection.title }}</h1>
            {% endif %}
        </nav>
    </div>
  </section></a>
{% endunless %}