{{ 'plugin.js' | asset_url | script_tag }}
{{ 'jquery.mobile.min.js' | asset_url | script_tag }}
{%if template == 'collection.masonry' %}
{{ 'modernizr.custom.js' | asset_url | script_tag }}
{% endif %}
{% if settings.ajax_cart_enable %}
	{{ 'handlebars.min.js' | asset_url | script_tag }}
	{{ 'ajaxify.js' | asset_url | script_tag }}
	<script>
		jQuery(function($) {
			ajaxifyShopify.init({
				method: '{{ settings.ajax_cart_method }}',
				wrapperClass: 'wrapper',
				formSelector: '.form-ajaxtocart',
				addToCartSelector: '.ajax_addtocart',
				cartCountSelector: '#CartCount',
				cartCostSelector: '#CartCost',
				toggleCartButton: '#CartToggle',
				useCartTemplate: true,
				btnClass: 'btn',
				moneyFormat: {{ shop.money_format | json }},
				disableAjaxCart: false,
				enableQtySelectors: true,
				prependDrawerTo: 'body'
			});
		});
	</script>
{% endif %}
<script type="text/javascript">
  	Shopify.Products.recordRecentlyViewed();
</script>
{% include 'new-currency' %}
{% include 'linked-options' %}
{% if template == 'collection.masonry' %}
<!-- Masonry -->
{{ 'flickity.pkgd.min.js' | asset_url | script_tag }}
{{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
{{ 'main.js' | asset_url | script_tag }}
{% endif %}
{{ 'swipe.js' | asset_url | script_tag }}

{{ 'master.js' | asset_url | script_tag }}