<div class="footer-container footer-5">
  	{% if settings.home_vendor_carousel_enable %}
        <section id="footertop" class="footer-top">
            <div class="container">
                <div class="footer_top_wrap">
                    <div class="row {% if settings.animated_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
                        <div class="col-xs-12 col-sm-12">
                          	{% include 'block-manucarousel' with '01' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	{% endif %}
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                  	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        {% if settings.footer_quicklinks_enable %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title %}
                            <div class="block footer-block" id="block_links_footer_{{ block-footerlinks }}">
                                {% if footerlinks_title != blank %}
                                    <h4 class="title_block">{{ footerlinks_title }}</h4>
                                {% endif %}
                                <div class="block_content">
                                    <ul style="" class="toggle-footer list-group list-unstyled">
                                        <li class="item"><a href="/pages/faqs" title="FAQs">FAQs</a></li>
                                        <li class="item"><a href="/pages/shipping-delivery" title="Shipping & Delivery">Shipping & Delivery</a></li>
                                        <li class="item"><a href="/pages/tax-information" title="Tax Information">Tax Information</a></li>
                                        <li class="item"><a href="/pages/returns-exchanges" title="Returns & Exchanges">Returns & Exchanges</a></li>
                                        <li class="item"><a href="/pages/contact-us" title="Contact Us">Contact Us</a></li>
                                        <li class="item"><p id="phoneNum" style="font-size: 16px;font-weight: bold;text-decoration: none; padding-top:10px;color: #fff;"><i class="fa fa-phone"></i> 855-627-9434</p></li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                        {% if settings.footer_quicklinks_enable_1%}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_1 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_1 %}
                            <div class="block footer-block" id="block_links_footer_{{ block-footerlinks }}">
                                {% if footerlinks_title != blank %}
                                    <h4 class="title_block">{{ footerlinks_title }}</h4>
                                {% endif %}
                                <div class="block_content">
                                    <ul style="" class="toggle-footer list-group list-unstyled">
                                        <li class="item"><a href="/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
                                        <li class="item"><a href="/pages/terms-conditions" title="Terms & Conditions">Terms & Conditions</a></li>
                                        <li class="item"><a href="/pages/safe-shopping-guarantee" title="Safe Shopping Guarantee">Safe Shopping Guarantee</a></li>
                                        <li class="item"><a href="/pages/privacy-policy#your-rights-under-ccpa">Do Not Sell My Info</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
<!--                     <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable_2 %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_2 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_2 %}
                            {% include 'block-footerlinks' with '3' %}
                        {% endif %}
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {% if settings.enable_footer_newsletter %}
                            {% include 'block-newsletter' %}
                        {% endif %}
                        {% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                    </div>
<!--                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% if settings.enable_about_footer %}
                            <div class="about__footer">
                                <a href="{{settings.link_about_footer}}"><img src="{{ 'logo_footer.png' | asset_url }}" alt="About us"></a>
                                {% if settings.des_about_footer != blank %}
                                    <div class="des_about">
                                        {{ settings.des_about_footer }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section id="footernav" class="footer-nav" style="padding-top: 20px;">
        <div class="container">
             <div id="powered">
                <div  class="powered {% if settings.animated_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                    <p style="font-size: 11px; color: #fff;">ShopTheWalkingDead.com is operated under a license from AMC Networks by The Araca Group, which is solely responsible for the site's content and all aspects of your purchase.<br>&copy; 2017 All Rights Reserved.<br><br>The Walking Dead &copy; 2017 AMC Film Holdings LLC. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section>
</div>
