<div class="footer-container footer-4">
  	{% if settings.home_vendor_carousel_enable %}
        <section id="footertop" class="footer-top"> 
            <div class="container">
                <div class="footer_top_wrap">
                    <div class="row {% if settings.animated_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
                        <div class="col-xs-12 col-sm-12">
                          	{% include 'block-manucarousel' with '01' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	{% endif %}
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <div class=" col-sm-12 col-xs-12">
                        {% if settings.enable_about_footer %}
                            <div class="about__footer">
                                <a href="{{settings.link_about_footer}}"><img src="{{ 'logo_footer_4.png' | asset_url }}" alt="About us"></a>
                                {% if settings.des_about_footer != blank %}
                                    <div class="des_about">
                                        {{ settings.des_about_footer }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                    </div>
                  	
                </div>
            </div>
        </div>
    </section>
    <section id="footernav" class="footer-nav">
        <div class="container">
             <div id="powered">
                <div  class="powered {% if settings.animated_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                    <p>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
                    <p>{{ powered_by_link }}</p>
                </div>
                <div id="back-top" style="display: block;"><a href="#" title="Back to top"><i class="fa fa fa-angle-up"></i></a></div>
            </div>
        </div>
    </section>
</div>