<div class="footer-container">
  	{% if settings.home_vendor_carousel_enable %}
        <section id="footertop" class="footer-top"> 
            <div class="container">
                <div class="footer_top_wrap">
                    <div class="row {% if settings.animated_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
                        <div class="col-xs-12 col-sm-12">
                          	{% include 'block-manucarousel' with '01' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	{% endif %}
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12 col-custom">
                        {% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                        {% if settings.enable_address_footer %}
                            <div class="list-address block">
                                {% if settings.title_address != blank %}
                                  <h4 class="title_address title_block">{{settings.title_address}}</h4>
                                {% endif %}
                                {{ settings.content_address  }}
                            </div>
                        {% endif %}
                    </div>
                  	<div class="col-md-2 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title %}
                            {% include 'block-footerlinks' with '1' %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable_1%}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_1 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_1 %}
                            {% include 'block-footerlinks' with '2' %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable_2 %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_2 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_2 %}
                            {% include 'block-footerlinks' with '3' %}
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        {% if settings.enable_block_payment %}
                          <div class="widget-images block footer-block footerAccordion">
                            {% if settings.title_payment != blank %}
                                <h4 class="title_block">{{ settings.title_payment }}</h4>
                            {% endif %}
                            <div class="block_content">
                              <a href="{{settings.link_payment}}">{{ 'img_payment.png' | asset_url | img_tag: 'payment', 'img-responsive img-pay' }}</a>
                            </div>
                          </div>
                        {% endif %}
                    </div>
                    <div id="powered" class="col-md-9 col-xs-12 col-xs-12">
                        <div  class="powered {% if settings.animated_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                            <p>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
                            <p>{{ powered_by_link }}</p>
                        </div>
                        <div id="back-top" style="display: block;"><a href="#" title="Back to top"><i class="fa fa fa-angle-up"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %}<section id="footernav" class="footer-nav">
        <div class="container">
            
        </div>
    </section>
    {% endcomment %}
</div>