<div class="footer-container footer-3">
  	{% if settings.home_vendor_carousel_enable %}
        <section id="footertop" class="footer-top"> 
            <div class="container">
                <div class="footer_top_wrap">
                    <div class="row {% if settings.animated_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
                        <div class="col-xs-12 col-sm-12">
                          	{% include 'block-manucarousel' with '01' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	{% endif %}
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <div class="col-lg-4-8 col-md-4-8 col-sm-12 col-xs-12">
                        {% if settings.enable_about_footer %}
                            <div class="about__footer">
                                <a href="{{settings.link_about_footer}}"><img src="{{ 'logo_footer.png' | asset_url }}" alt="About us"></a>
                                {% if settings.des_about_footer != blank %}
                                    <div class="des_about">
                                        {{ settings.des_about_footer }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                    </div>
                  	<div class="col-lg-2-4 col-md-2-4 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title %}
                            {% include 'block-footerlinks' with '1' %}
                        {% endif %}
                    </div>
                    <div class="col-lg-2-4 col-md-2-4 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable_1%}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_1 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_1 %}
                            {% include 'block-footerlinks' with '2' %}
                        {% endif %}
                    </div>
                    <div class="col-lg-2-4 col-md-2-4 col-sm-4 col-xs-12">
                        {% if settings.footer_quicklinks_enable_2 %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist_2 %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title_2 %}
                            {% include 'block-footerlinks' with '3' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footernav" class="footer-nav">
        <div class="container">
             <div id="powered">
                <div  class="powered {% if settings.animated_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                    <p>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
                    <p>{{ powered_by_link }}</p>
                </div>
                <div id="back-top" style="display: block;"><a href="#" title="Back to top"><i class="fa fa fa-angle-up"></i></a></div>
            </div>
        </div>
    </section>
</div>