<div class="footer-container footer-2">
  	{% if settings.home_vendor_carousel_enable %}
        <section id="footertop" class="footer-top"> 
            <div class="container">
                <div class="footer_top_wrap">
                    <div class="row {% if settings.animated_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
                        <div class="col-xs-12 col-sm-12">
                          	{% include 'block-manucarousel' with '01' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
  	{% endif %}
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row no-margin">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 no-padding">
                        {% if settings.footer_quicklinks_enable %}
                            {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                            {% assign footerlinks_title = settings.footer_quicklinks_title %}
                            {% include 'block-footerlinks' with '1' %}
                        {% endif %}
                        <div id="powered">
                            <div  class="powered {% if settings.animated_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                                <p>&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
                                <p>{{ powered_by_link }}</p>
                            </div>
                            <div id="back-top" style="display: block;"><a href="#" title="Back to top"><i class="fa fa fa-angle-up"></i></a></div>
                        </div>
                    </div>
                  	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 no-padding">
                        {% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>