<section class="header-container header-2">
    <div id="header-main">
        <div class="container">
            <div class="header-wrap">
                <div class="header-left">
                    <div id="header_logo">
                        {% if template == 'index' %}
                            <h1 class="" itemscope itemtype="http://schema.org/Organization">
                        {% else %}
                            <div class="" itemscope itemtype="http://schema.org/Organization">
                        {% endif %}
                        {% if settings.logo_use_image %}
                            <a href="/" itemprop="url">
                                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                            </a>
                        {% else %}
                            <a href="/" itemprop="url">{{ shop.name }}</a>
                        {% endif %}
                        {% if template != 'index' %}
                            </div>
                        {% else %}
                            </h1>
                        {% endif %}
                    </div>
                </div>
                <div class="header-right">
                    {% if settings.apollo_megamenu_enable %}
                        {% include 'block-menu' %}
                      {% endif %}
                    <div class="block-left-fn clearfix">
                        {% include 'block-search' %}
                        {% include 'block-cart' %}
                        {% include 'block-currencies' %}
                        {% include 'block-userinfo-2' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>