<style>
  .mobile{display: none;}
  .desktop{margin-bottom: 10px;}
  .mobile{margin-bottom: 5px;}
  .desktop img,
  .mobile img{width: 100%;}
  /* Portrait and Landscape */
  @media only screen 
    and (max-width: 414px){ 
      .mobile{display: block!important}
      .desktop{display: none;}
  }
</style>
<div class="top-bar">
  <div class="top-bar-content">
    <div class="free-shipping-message">Free Shipping on orders of $100 or more!</div>
  	<div class="amc-link"><a href="http://www.amc.com/shows/the-walking-dead" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1505/6302/files/amc_logo.jpg"></a></div>
  </div>
</div>

<section class="header-container header-4">
    <div id="header-main">
       <div class="container-fluid">
          <div class="header-left">
              <div id="header_logo">
                  {% if template == 'index' %}
                      <h1 class="" itemscope itemtype="http://schema.org/Organization">
                  {% else %}
                      <div class="" itemscope itemtype="http://schema.org/Organization">
                  {% endif %}
                  {% if settings.logo_use_image %}
                      <a href="/" itemprop="url">
                          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                      </a>
                  {% else %}
                      <a href="/" itemprop="url">{{ shop.name }}</a>
                  {% endif %}
                  {% if template != 'index' %}
                      </div>
                  {% else %}
                      </h1>
                  {% endif %}
              </div>
          </div>
          <div class="header-wrap">

              <div class="header-right">
                <div class="block-left-fn">
                    {% include 'block-search' %}
                    {% include 'block-cart' %}
                    {% include 'block-userinfo-2' %}
                </div>
                {% if settings.apollo_megamenu_enable %}
                  <div class="container menu_container">
                      {% include 'block-menu' %}
                  </div>
                {% endif %}
            </div>
          </div>
       </div>
    </div>
</section>

<!-- <div class="category-header">
  <div class="category-header-content">
    <div class="mobile"><img src="https://cdn.shopify.com/s/files/1/1505/6302/files/TWD_mobhdr_international.jpg?770524442045023868" /></div>
    <div class="desktop"><img src="https://cdn.shopify.com/s/files/1/1505/6302/files/TWD_homehdr_international.jpg?770524442045023868" /></div>
  </div>
</div> -->