<section class="header-container header-5">
    <div id="topbar">
    	{% if settings.deal_code != blank %}
	    	<div class="block-code-deal hidden-sm hidden-xs">
	    		<div class="container">
	    			{{ settings.deal_code }}
	    			{% if settings.text_detail_deal != blank %}
	    			<a href="{{ settings.link_detail_deal }}" class="link_top">{{ settings.text_detail_deal }}</a>
	    			{% endif %}
	    		</div>
	    	</div>
    	{% endif %}
        <div class="nav">
            <div class="container">
            	<nav>
            		{% include 'block-search' %}
            		{% include 'block-cart' %}
            		{% include 'block-currencies-2' %}
                	{% include 'block-userinfo-3' %}
            	</nav>             
            </div>
        </div>
    </div>
    <div id="header-main">
        <div class="container">
            <div class="header-wrap">
                <div class="header-left">
                    <div id="header_logo">
                        {% if template == 'index' %}
                            <h1 class="" itemscope itemtype="http://schema.org/Organization">
                        {% else %}
                            <div class="" itemscope itemtype="http://schema.org/Organization">
                        {% endif %}
                        {% if settings.logo_use_image %}
                            <a href="/" itemprop="url">
                                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                            </a>
                        {% else %}
                            <a href="/" itemprop="url">{{ shop.name }}</a>
                        {% endif %}
                        {% if template != 'index' %}
                            </div>
                        {% else %}
                            </h1>
                        {% endif %}
                    </div>
                </div>
                <div class="header-right">
                    {% if settings.apollo_megamenu_enable %}
                        {% include 'block-menu' %}
                      {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>