<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
{% if settings.theme_font_family contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_tertiary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_tertiary | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_septenary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_septenary | remove: 'Google+' }}:300,400,700">
{% endif %}
{% if settings.theme_font_family_senary contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.theme_font_family_senary | remove: 'Google+' }}:300,400,700">
{% endif %}
{{ 'fonts.scss.css' | asset_url | stylesheet_tag }}
{{ 'animate.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'global.scss.css' | asset_url | stylesheet_tag }}
{{ 'block-theme.scss.css' | asset_url | stylesheet_tag }}
{{ 'menu.scss.css' | asset_url | stylesheet_tag }}
{{ 'product.scss.css' | asset_url | stylesheet_tag }}
{{ 'site_temp.scss.css' | asset_url | stylesheet_tag }}
{{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
{{ 'skins.scss.css' | asset_url | stylesheet_tag }}
{% if settings.theme_rtl_enable %}
	{{ 'rtl.scss.css' | asset_url | stylesheet_tag }}
{% endif %}