<div class="block__collection block_content">
	<div class="owl-carousel owl-row">
        {% for i in (1..6) %}
        {% capture b_collection %}b_collection{{i}}{% endcapture %}
        {% capture title_collection %}title_collection{{i}}{% endcapture %}
        {% capture featured %}featured{{i}}{% endcapture %}
        {% capture collection_image %}collection_image{{i}}.jpg{% endcapture %}
        	{% if settings[b_collection] %}
        		<div class="item">
                <div class="block__collection-item ">
                	<a class="img-category" href="{{ collections[settings[featured]].url }}">{{ collection_image | asset_url | img_tag: settings[title_collection], "img-responsive" }}</a>
                  <div class="content_title">
                    <div class="box-content">
                    {% if settings[title_collection] != blank %}
                    <h2 class="title-collection"><a href="{{ collections[settings[featured]].url }}">{{ settings[title_collection] }}</a></h2>
                    {% endif %}
                    {% if collections[settings[featured]] != blank %}
                    <p>
                      <a class="item-col" href="{{ collections[settings[featured]].url }}"> {{ collections[settings[featured]].products_count }} items </a>
                    </p>
                    {% endif %}
                    {% if settings.text_btn_col != blank %}
                    <a class="btn btn-outline" href="{{ collections[settings[featured]].url }}">{{ settings.text_btn_col }}</a>
                    {% endif %}
                    </div>
                  </div>
                </div>
        		</div>
        	{% endif %}
        {% endfor %}
    	</div>
</div>
  <script>
      $(document).ready(function() {
        $('.block__collection .owl-carousel').each(function(){
          $(this).owlCarousel({
            items : 3,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [991, 2],
            itemsTablet: [768, 2],
            itemsTabletSmall: [480, 1],
            itemsMobile: [360, 1],
            lazyLoad : true,
            navigation : true
          });
        });
      });
  </script>
