<div class="row">
	{% if linklists[mega_link_handle] != empty %}
		{% for bocklink_title in linklists[mega_link_handle].links %}
			{%- comment %}<locksmith:2f4a>{% endcomment -%}
			  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: bocklink_title, locksmith_subject_parent: linklists[mega_link_handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
			{%- comment %}</locksmith:2f4a>{% endcomment -%}
			<div class="col-sm-{{ settings[ap_col_links] }}">
				<div class="mega-col-inner ">
					<div class="menu-title">
                      	<a href="{{ bocklink_title.url }}" title="{{ bocklink_title.title }}">
                      		{{ bocklink_title.title }}
                      	</a>
                  	</div>
					<div class="widget-inner">
						<ul class="nav-links">
							{% if linklists[bocklink_title.handle] != empty %}
								{% for sub_link in linklists[bocklink_title.handle].links %}
									{%- comment %}<locksmith:761f>{% endcomment -%}
									  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: sub_link, locksmith_subject_parent: linklists[bocklink_title.handle] %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
									{%- comment %}</locksmith:761f>{% endcomment -%}
									<li><a href="{{ sub_link.url }}" title="{{ sub_link.title }}">{{ sub_link.title }}</a></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>