<!-- /snippets/open-graph-tags.liquid -->
{% comment %}
    Add Facebook and Pinterest Open Graph meta tags to product pages for friendly Facebook sharing and Pinterest pinning.
    More info Open Graph meta tags
    - https://developers.facebook.com/docs/opengraph/using-objects/
    - https://developers.pinterest.com/rich_pins/
    Use the Facebook Open Graph Debugger for validation (and cache clearing)
    - http://developers.facebook.com/tools/debug
    Validate your Pinterest rich pins
    - https://developers.pinterest.com/rich_pins/validator/
{% endcomment %}
{% if template contains 'product' %}
    {%- comment %}<locksmith:036d>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="product">{% endif -%}
      {%- comment %}original: <meta property="og:type" content="product">{%- endcomment %}
    {%- comment %}</locksmith:036d>{% endcomment -%}
    {%- comment %}<locksmith:26fa>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ product.title | strip_html | escape }}">{% endif -%}
      {%- comment %}original: <meta property="og:title" content="{{ product.title | strip_html | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:26fa>{% endcomment -%}
    {%- comment %}<locksmith:2f5b>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ product.featured_image.src | product_img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="http:{{ image.src | img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:2f5b>{% endcomment -%}
    {%- comment %}<locksmith:4fa6>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:4fa6>{% endcomment -%}
    {%- comment %}<locksmith:8dbb>{% endcomment -%}
      {%- include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:8dbb>{% endcomment -%}
    {%- comment %}<locksmith:0752>{% endcomment -%}
      {%- include 'locksmith-variables' %}{% if locksmith_access_granted %}<meta property="og:price:currency" content="{{ shop.currency }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:currency" content="{{ shop.currency }}">{%- endcomment %}
    {%- comment %}</locksmith:0752>{% endcomment -%}
{% elsif template contains 'article' %}
    {%- comment %}<locksmith:3f3a>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="article">{% endif -%}
      {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
    {%- comment %}</locksmith:3f3a>{% endcomment -%}
    {%- comment %}<locksmith:0019>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ article.title | strip_html | escape }}">{% endif -%}
      {%- comment %}original: <meta property="og:title" content="{{ article.title | strip_html | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:0019>{% endcomment -%}
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.content contains img_tag %}
        {% assign src = article.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
        {% if src %}
            {%- comment %}<locksmith:5967>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ src }}">{% endif -%}
              {%- comment %}original: <meta property="og:image" content="http:{{ src }}">{%- endcomment %}
            {%- comment %}</locksmith:5967>{% endcomment -%}
            {%- comment %}<locksmith:4130>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
              {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
            {%- comment %}</locksmith:4130>{% endcomment -%}
        {% endif %}
    {% endif %}
{% else %}
    {%- comment %}<locksmith:e83e>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:type" content="website">{% endif -%}
      {%- comment %}original: <meta property="og:type" content="website">{%- endcomment %}
    {%- comment %}</locksmith:e83e>{% endcomment -%}
    {%- comment %}<locksmith:7cce>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:title" content="{{ page_title | escape }}">{% endif -%}
      {%- comment %}original: <meta property="og:title" content="{{ page_title | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:7cce>{% endcomment -%}
    {% if settings.og_share_image %} 
        {%- comment %}<locksmith:5532>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ settings.og_share_image | img_url: '1200x1200' }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{%- endcomment %}
        {%- comment %}</locksmith:5532>{% endcomment -%}
        {%- comment %}<locksmith:279d>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ settings.og_share_image | img_url: '1200x1200' }}">{% endif -%}
          {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{%- endcomment %}
        {%- comment %}</locksmith:279d>{% endcomment -%}
    {% elsif settings.logo_use_image %}
        {%- comment %}<locksmith:5532>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{%- endcomment %}
        {%- comment %}</locksmith:5532>{% endcomment -%}
        {%- comment %}<locksmith:279d>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{% endif -%}
          {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{%- endcomment %}
        {%- comment %}</locksmith:279d>{% endcomment -%}
    {% endif %}
{% endif %}
{% if page_description %}
    {%- comment %}<locksmith:3a93>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta property="og:description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta property="og:description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:3a93>{% endcomment -%}
{% endif %}
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">