{% unless product_in_tab %}
	{% assign product_in_tab = 12 %}
{% endunless %}
<div class="product_list_owl">
    <div class="owl-carousel owl-loading slide">
        {% assign grid_item_width = ' ' %}
        {% assign products = collection_produclists %}
        {%- comment %}<locksmith:23ab>{% endcomment -%}
          {%- assign locksmith_39e5_forloop__size = 0 %}{% for product in products limit:product_in_tab %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_39e5_forloop__size = locksmith_39e5_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_39e5_forloop__index = nil -%}
        {%- comment %}</locksmith:23ab>{% endcomment -%}
        {% for product in products limit:product_in_tab %}
            {%- comment %}<locksmith:61eb>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% if locksmith_39e5_forloop__index == nil %}{% assign locksmith_39e5_forloop__index = 1 %}{% assign locksmith_39e5_forloop__index0 = 0 %}{% else %}{% assign locksmith_39e5_forloop__index = locksmith_39e5_forloop__index | plus: 1 %}{% assign locksmith_39e5_forloop__index0 = locksmith_39e5_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_39e5_forloop__index == 1 %}{% assign locksmith_39e5_forloop__first = true %}{% else %}{% assign locksmith_39e5_forloop__first = false %}{% endif %}{% if locksmith_39e5_forloop__index == locksmith_39e5_forloop__size %}{% assign locksmith_39e5_forloop__last = true %}{% else %}{% assign locksmith_39e5_forloop__last = false %}{% endif %}{% assign locksmith_39e5_forloop__rindex = locksmith_39e5_forloop__size | minus: locksmith_39e5_forloop__index | minus: 1 %}{% assign locksmith_39e5_forloop__rindex0 = locksmith_39e5_forloop__size | minus: locksmith_39e5_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:61eb>{% endcomment -%}
            <div class="item{% if locksmith_39e5_forloop__first %} first{% endif %}">
              	{% if product_special == 'special'%}
                    {% include 'special-grid-item' %}
                {% else %}
                     {% include 'product-grid-item' %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>