{% unless item_in_page %}
	{% assign item_in_page = 4 %}
{% endunless %}
{% unless columns_product %}
	{% assign columns_product = 4 %}
{% endunless %}
{% unless product_in_tab %}
	{% assign product_in_tab = 16 %}
{% endunless %}
{% assign products = collection_produclists %}
{% assign displayButton = products.size | minus:item_in_page %}
{% assign colProduct = 12 | divided_by:columns_product %}
{% if columns_product == 5 %}
	{% capture grid_item_width %}col-md-2-4 col-xs-6 col-sp-12{% endcapture %}
{% else %}
	{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}
{% endif %}

<div class="carousel slide" id="{{ product_carousel }}">
	{% if displayButton > 0 %}
		<a class="carousel-control left" href="#{{ product_carousel }}"   data-slide="prev">{{ 'products.carousel.preview' | t }}</a>
		<a class="carousel-control right" href="#{{ product_carousel }}"  data-slide="next">{{ 'products.carousel.next' | t }}</a>
	{% endif %}
	<div class="carousel-inner">
      	{% assign countRow = 0 %}
		{%- comment %}<locksmith:34b9>{% endcomment -%}
		  {%- assign locksmith_d05d_forloop__size = 0 %}{% for product in products limit:product_in_tab %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_d05d_forloop__size = locksmith_d05d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_d05d_forloop__index = nil -%}
		{%- comment %}</locksmith:34b9>{% endcomment -%}
		{% for product in products limit:product_in_tab %}
      		{%- comment %}<locksmith:6baa>{% endcomment -%}
      		  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% if locksmith_d05d_forloop__index == nil %}{% assign locksmith_d05d_forloop__index = 1 %}{% assign locksmith_d05d_forloop__index0 = 0 %}{% else %}{% assign locksmith_d05d_forloop__index = locksmith_d05d_forloop__index | plus: 1 %}{% assign locksmith_d05d_forloop__index0 = locksmith_d05d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_d05d_forloop__index == 1 %}{% assign locksmith_d05d_forloop__first = true %}{% else %}{% assign locksmith_d05d_forloop__first = false %}{% endif %}{% if locksmith_d05d_forloop__index == locksmith_d05d_forloop__size %}{% assign locksmith_d05d_forloop__last = true %}{% else %}{% assign locksmith_d05d_forloop__last = false %}{% endif %}{% assign locksmith_d05d_forloop__rindex = locksmith_d05d_forloop__size | minus: locksmith_d05d_forloop__index | minus: 1 %}{% assign locksmith_d05d_forloop__rindex0 = locksmith_d05d_forloop__size | minus: locksmith_d05d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      		{%- comment %}</locksmith:6baa>{% endcomment -%}
      		{% assign countRow = countRow | plus: 1 %}
      		{% assign modpage = locksmith_d05d_forloop__index | modulo:item_in_page %}
      		{% assign modcol = countRow | modulo:columns_product %}
      		{% if  modcol == 1  and modpage == 1 or locksmith_d05d_forloop__first %}
                {% assign insert_item = "first-item" %}
            {% elsif locksmith_d05d_forloop__last %}
                {% assign insert_item = "last-item" %}
            {% else %}
                {% assign insert_item = "" %}
            {% endif %}
      		{% if item_in_page == 1 %}
      			<div class="item {% if locksmith_d05d_forloop__first %}active{% endif %}">
					<div class="product_list row">
      		{% elsif modpage == 1 %}
      			<div class="item {% if locksmith_d05d_forloop__first %}active{% endif %}">
					<div class="product_list row">
            {% endif %}
				{% if columns_product == 1 %}
                    <div class="product-items">
						<div class="row">
                {% endif %}

            	{% if product_special == 'special'%}
                	{% include 'special-grid-item' %}
                {% else %}
                     {% include 'product-grid-item' %}
                {% endif %}
            	
            	{% if modpage == 0 or locksmith_d05d_forloop__last %}
                      	{% assign countRow = 0 %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>