<script type="text/javascript">
	var SCPB = new Object();
  	SCPB.page="{{template}}";  
    {% if template == 'product' %}
    SCPB.product= 
      { 
        "id":{{ product.id | json }},
        "published_at":"{{ product.published_at | date: "%F"}}",
        "price":{{ product.price | json }}, {% if product.compare_at_price%}
        "compare_at_price":{{ product.compare_at_price | json }}, {% endif %}
        "handle":{{ product.handle | json }},
        "variants": 
        [ 
      	  {% for variant in product.variants %} 
      		{
              "id": {{ variant.id }},
              "price": {{ variant.price }} {% if variant.compare_at_price%},
              "compare_at_price": {{ variant.compare_at_price }} {% endif %} {% if variant.inventory_quantity%},
              "inventory_quantity": {{ variant.inventory_quantity }} {% endif %} {% if variant.inventory_management and variant.inventory_management != blank%},
              "inventory_management": "{{ variant.inventory_management }}" {% endif %} {% if variant.sku and variant.sku != blank%},
              "sku": "{{ variant.sku }}" {% endif %} 
    		}
    		{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
        collections: [{%- comment %}<locksmith:b476>{% endcomment -%}{%- assign locksmith_3178_forloop__size = 0 %}{% for collection in product.collections %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% assign locksmith_3178_forloop__size = locksmith_3178_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_3178_forloop__index = nil -%}{%- comment %}</locksmith:b476>{% endcomment -%}{% for collection in product.collections %} {%- comment %}<locksmith:90e3>{% endcomment -%}{%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% if locksmith_3178_forloop__index == nil %}{% assign locksmith_3178_forloop__index = 1 %}{% assign locksmith_3178_forloop__index0 = 0 %}{% else %}{% assign locksmith_3178_forloop__index = locksmith_3178_forloop__index | plus: 1 %}{% assign locksmith_3178_forloop__index0 = locksmith_3178_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_3178_forloop__index == 1 %}{% assign locksmith_3178_forloop__first = true %}{% else %}{% assign locksmith_3178_forloop__first = false %}{% endif %}{% if locksmith_3178_forloop__index == locksmith_3178_forloop__size %}{% assign locksmith_3178_forloop__last = true %}{% else %}{% assign locksmith_3178_forloop__last = false %}{% endif %}{% assign locksmith_3178_forloop__rindex = locksmith_3178_forloop__size | minus: locksmith_3178_forloop__index | minus: 1 %}{% assign locksmith_3178_forloop__rindex0 = locksmith_3178_forloop__size | minus: locksmith_3178_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:90e3>{% endcomment -%} {{ collection.id }}{% unless locksmith_3178_forloop__last %},{% endunless %} {% endfor %} ] 
      }
      ;
    {% endif %}
		var sc_pb_money_format = {{ shop.money_format | json }};
		var product_select_index= 0;
</script>

{{ 'sc-pb-25052016-css.scss' | asset_url | stylesheet_tag }}
{{ 'sc-pb-app.min.js' | asset_url | script_tag }}  
{{ 'sc-pb-25052016-js.js' | asset_url | script_tag }}  