{% unless grid_item_width %}
	{% capture grid_item_width %}col-md-3 col-xs-6 col-sp-12{% endcapture %}
{% endunless %}
{% unless current_collection == blank %}
    {% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% if item.compare_at_price > item.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if item.available  %}
    {% assign sold_out = false %}
{% endif %}
{% assign imagesize = settings.home_product_imagesize %}

{% assign new = false %}
{% assign new_count = settings.theme_newproduct | plus: 0 %}
{% assign date_published_year = item.published_at | date:'%Y' %}
{% assign date_published_month = item.published_at | date:'%m' %}
{% assign date_published_day = item.published_at | date:'%d' %}

{% assign date_now_year = 'now' | date:'%Y' %}
{% assign date_now_month = 'now' | date:'%m' %}
{% assign date_now_day = 'now' | date:'%d' %}

{% assign day_year = date_now_year | minus:date_published_year | times: 365 %}
{% assign day_month = date_now_month | minus:date_published_month | times: 30 %}
{% assign day_day = date_now_day | minus:date_published_day %}

{% assign date_difference = day_year | plus: day_month | plus: day_day %}
{% if date_difference <= new_count %}
	{% assign new = true %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% if settings.productitem_animate_enable %}
	{% if settings.productitem_animate_delay != blank %}
        {% assign delayTime = settings.productitem_animate_delay | times : productIndex %}
    {% else %}
        {% assign delayTime = 100 | times : productIndex %}
    {% endif %}
	{% capture delayLoadProduct %}data-wow-delay="{{delayTime}}ms"{% endcapture %}
	{% assign effectLoadProduct = 'wow fadeIn' %}
{% else %}
	{% capture delayLoadProduct %}{% endcapture %}
	{% assign effectLoadProduct = '' %}
{% endif %}
<div class="product_block {{ effectLoadProduct }} {{ grid_item_width }}" {{ delayLoadProduct }}>
    <div class="product-container text-left product-block">
        <div class="product-image-container image">
            <a class="product_img_link" href="{{ item.url | within: collection }}">
                <img class="img-responsive" src="{{ item.featured_image | product_img_url: imagesize }}" alt="{{ item.featured_image.alt | escape }}">
                {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}
                    {% include 'product-more-image' %}
                {% endif %}
            </a>
            {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showmore' %}
                {% include 'product-more-image' %}
            {% endif %}
<!--             {% if new %}
                <span class="icon-label new-box">
                    {{ 'products.product.new_from_html' | t }}
                </span>
            {% endif %} -->
            {% if on_sale %}
                <span class="icon-label sale-box">
                    {{ 'products.product.on_sale_from_html' | t }}
                </span>
            {% endif %}
            <div class="functional-buttons clearfix">
                <div class="cart">
                    {% assign variantCount = item.variants | size %}
                    <div class="action">
                        <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart">
                            <input type="hidden" name="id" value="{{ item.variants.first.id }}" />
                            {% if sold_out %}
                                <button class="button btn ajax_addtocart disabled" type="submit" value="Submit" disabled>
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>{{ 'products.product.sold_out' | t }}</span>
                                </button>
                            {% else %}
                                {% if variantCount > 1 %}
                                    <a class="button btn ajax_addtocart" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                                    </a>
                                {% else %}
                                    <button class="button btn ajax_addtocart" type="submit" value="Submit">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>{{ 'products.product.add_to_cart' | t }}</span>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </form> 
                    </div> 
                </div>
                {% if settings.theme_wishlist_enable %}
                    {% assign product = item %}
                    {% include 'wishlist-product' %}
                {% endif %}
                {% if settings.theme_viewdetails_enable %}
                    <div class="view_detail">
                        <a class="btn lnk_view" href="{{ item.url | within: collection }}" title="View">
                            <i class="fa fa-link"></i><span>{{ 'products.product.view' | t }}</span>
                        </a>
                    </div>
                {% endif %}
                {% if settings.theme_quickview_enable %}
                <div class="quickview">
                    <a class="quick-view btn" href="#quick-view-product" data-handle="{{ item.handle }}" title="{{ 'general.quickview.title' | t }}">
                        <i class="fa fa-eye"></i>
                        <span>{{ 'general.quickview.title' | t }}</span>
                    </a>
                </div>
            {% endif %}
            </div>
            
        </div>
        <div class="product-meta">
            <h5 class="name">
                <a class="product-name" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">{{ item.title }}</a>
            </h5>
            <div class="product-desc">{{ item.description | strip_html | truncatewords: 20}}</div>
            <div class="content_price">
                {% if on_sale %}
                    <span class="old-price product-price">{{ item.compare_at_price | money }}</span>
                {% endif %}
                <span class="price product-price {% if on_sale %}sale-price{% endif %}">
                  {% if product.variants.first.sku == 'WADNMLGAME' or product.variants.first.sku == 'WADFTWDDRGM' %}
                  	Download
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                </span>
            </div>
          	{% if settings.product_reviews_enable %}
                <div class="review">
                    <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
                </div>
            {% endif %}
          	
			{% if dealTime %}
                {% include 'block-productdeal' %}
            {% endif %}
        </div>
    </div>
</div>