<!--ID-4417-Talking-Dead--><!--[shopify-slider alias="4417-Talking-Dead"] -->
<div id="rev_slider_1025_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="4417-Talking-Dead" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START Nitro Powerfull SLIDER 5.2.6 fullwidth mode -->
	<div id="rev_slider_1025_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-3561" data-transition="slideoverleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power0.easeIn" data-easeout="Linear.easeNone" data-masterspeed="300"  data-link="https://www.shopthewalkingdead.com/collections/games-costumes"   data-thumb=""  data-delay="6000"  data-rotate="0"  data-saveperformance="off"  data-title="Board Games" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://slider.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3561-layer-7" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/32/assets/edd09-TWD_hometout_boardgames.jpg?946800085106411520" alt="" data-ww="['2000px','2000px','768px','768px']" data-hh="['667px','667px','256px','256px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3561-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['1','1','1','1']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/32/assets/c1f81-TWD_mob_boardgames.jpg?946800085106411520" alt="" data-ww="" data-hh="" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3560" data-transition="slideoverleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power0.easeIn" data-easeout="Linear.easeNone" data-masterspeed="300"  data-link="https://www.shopthewalkingdead.com/collections/featured-on-talking-dead"   data-thumb=""  data-delay="6000"  data-rotate="0"  data-saveperformance="off"  data-title="Talking Dead 3.26" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://slider.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3560-layer-21" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/38/assets/69c13-TWD_hometout_talkingw6.jpg?1499211647331065685" alt="" data-ww="['2000px','2000px','768px','768px']" data-hh="['667px','667px','256px','256px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3560-layer-22" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['10','10','10','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/38/assets/a2ec4-TWD_mob_talkingw6.jpg?11158557216004897791" alt="" data-ww="" data-hh="" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3563" data-transition="slideoverleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power0.easeIn" data-easeout="Linear.easeNone" data-masterspeed="300"  data-link="https://www.shopthewalkingdead.com/collections/figures-statues"   data-thumb=""  data-delay="6000"  data-rotate="0"  data-saveperformance="off"  data-title="Figures & Statues" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://slider.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3563-layer-9" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/32/assets/d9846-twd_home_newfigstat.jpg?946800085106411520" alt="" data-ww="['2000px','2000px','768px','768px']" data-hh="['667px','667px','256px','256px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3563-layer-10" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['1','1','1','1']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/32/assets/a71d6-twd_mob_newfigstat.jpg?946800085106411520" alt="" data-ww="" data-hh="" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-3562" data-transition="slideoverleft" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power0.easeIn" data-easeout="Linear.easeNone" data-masterspeed="300"  data-link="https://shop-thewalkingdead.myshopify.com/collections/clothing"   data-thumb=""  data-delay="6000"  data-rotate="0"  data-saveperformance="off"  data-title="Apparel" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://slider.teathemes.net/revslider/admin/assets/images/transparent.png" style='background-color:#ffffff' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3562-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/3/assets/bcf6d-TWD_hometout_apparel.jpg?6392007742517387597" alt="" data-ww="['2000px','2000px','768px','768px']" data-hh="['667px','667px','256px','256px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-3562-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','middle','middle']" data-voffset="['1','1','0','0']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:300;" 
			data-start="500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/1505/6302/t/32/assets/235f5-TWD_mob_shirts.jpg?946800085106411520" alt="" data-ww="" data-hh="" data-no-retina> </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END Nitro Powerfull SLIDER --><!--/ID-4417-Talking-Dead-->