{% capture title %}{% include 'shortcode-render' render:'title' %}{% endcapture %}
{% capture item_in_page %}{% include 'shortcode-render' render:'item_in_page' %}{% endcapture %}
{% capture columns_product %}{% include 'shortcode-render' render:'columns_product' %}{% endcapture %}
{% capture product_in_tab %}{% include 'shortcode-render' render:'product_in_tab' %}{% endcapture %}
{% capture handle %}{% include 'shortcode-render' render:'handle' %}{% endcapture %}
{% capture interval %}{% include 'shortcode-render' render:'interval' %}{% endcapture %}
{% capture id %}{% include 'shortcode-render' render:'id' %}{% endcapture %}
{% capture procarouselId %}procarousel-{{ 'now' | date: "%N" }}{% endcapture %}
{% if id == '' %}
	{% capture prolistID %}productlist-{{ 'now' | date: "%N" }}{% endcapture %}
	{% assign id = prolistID %}
{% endif %}

{% assign item_in_page = item_in_page | plus: 0 %}
{% assign columns_product = columns_product | plus: 0 %}
{% assign product_in_tab = product_in_tab | plus: 0 %}
{% assign colProduct = 12 | divided_by:columns_product %}
{% capture grid_item_width %}col-md-{{ colProduct }} col-xs-6 col-sp-12{% endcapture %}

{% if interval == '' %}{% assign interval = 5000 %}{% endif %}
{% for collection in collections %}
    {%- comment %}<locksmith:01c1>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: collection %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:01c1>{% endcomment -%}
    {% if handle != ''%}
        {% if collection.handle ==  handle %}
            {% assign products = collection.products %}
            {% break%}
        {% endif%}
    {% endif%}
{% endfor %}
{% assign displayButton = products.size | divided_by:item_in_page %}
<div id="{{ id }}" class="products_block products_list exclusive block" >
  	<h4 class="page-subheading">
  		{{ title }}
  	</h4>
  	<div class="block_content">
		<div class="carousel slide" id="{{ procarouselId }}">
            {% if displayButton != 0 %}
                <a class="carousel-control left" href="#{{ procarouselId }}"   data-slide="prev">{{ 'products.carousel.preview' | t }}</a>
                <a class="carousel-control right" href="#{{ procarouselId }}"  data-slide="next">{{ 'products.carousel.next' | t }}</a>
            {% endif %}
            <div class="carousel-inner">
                {% assign countRow = 0 %}
                {%- comment %}<locksmith:a7c5>{% endcomment -%}
                  {%- assign locksmith_cc04_forloop__size = 0 %}{% for product in products limit:product_in_tab %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_cc04_forloop__size = locksmith_cc04_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_cc04_forloop__index = nil -%}
                {%- comment %}</locksmith:a7c5>{% endcomment -%}
                {% for product in products limit:product_in_tab %}
                    {%- comment %}<locksmith:e4e0>{% endcomment -%}
                      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% if locksmith_cc04_forloop__index == nil %}{% assign locksmith_cc04_forloop__index = 1 %}{% assign locksmith_cc04_forloop__index0 = 0 %}{% else %}{% assign locksmith_cc04_forloop__index = locksmith_cc04_forloop__index | plus: 1 %}{% assign locksmith_cc04_forloop__index0 = locksmith_cc04_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_cc04_forloop__index == 1 %}{% assign locksmith_cc04_forloop__first = true %}{% else %}{% assign locksmith_cc04_forloop__first = false %}{% endif %}{% if locksmith_cc04_forloop__index == locksmith_cc04_forloop__size %}{% assign locksmith_cc04_forloop__last = true %}{% else %}{% assign locksmith_cc04_forloop__last = false %}{% endif %}{% assign locksmith_cc04_forloop__rindex = locksmith_cc04_forloop__size | minus: locksmith_cc04_forloop__index | minus: 1 %}{% assign locksmith_cc04_forloop__rindex0 = locksmith_cc04_forloop__size | minus: locksmith_cc04_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:e4e0>{% endcomment -%}
                    {% assign countRow = countRow | plus: 1 %}
                    {% assign modpage = locksmith_cc04_forloop__index | modulo:item_in_page %}
                    {% assign modcol = countRow | modulo:columns_product %}
                    {% if modpage == 1 %}
                        <div class="item {% if locksmith_cc04_forloop__first %}active{% endif %}">
                            <div class="product_list">
                    {% endif %}
                        {% if modcol == 1 %}
                            <div class="row">
                        {% endif %}
                            {% include 'product-grid-item' %}
                        {% if modcol == 0 or modpage == 0 or locksmith_cc04_forloop__last %}
                            </div>
                        {% endif %} 
                    {% if modpage == 0 or locksmith_cc04_forloop__last %}
                                {% assign countRow = 0 %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div> 
  	</div>
  	<script type="text/javascript">
        $(document).ready(function() {
            $('#{{ id }}').each(function(){
                $(this).carousel({
                    pause: 'hover',
                    interval: {{ interval }}
                });
            });
        });
    </script>

</div>