<div class="block_collection">
    <div class="product-list {{ class }}">
        <div class="row">
        {% assign product_per_page = product_per_page | plus: 0 %}
        {%- comment %}<locksmith:e853>{% endcomment -%}
          {%- assign locksmith_7888_forloop__size = 0 %}{% for product in products %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_7888_forloop__size = locksmith_7888_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_7888_forloop__index = nil -%}
        {%- comment %}</locksmith:e853>{% endcomment -%}
        {% for product in products %}
            {%- comment %}<locksmith:a0ad>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% if locksmith_7888_forloop__index == nil %}{% assign locksmith_7888_forloop__index = 1 %}{% assign locksmith_7888_forloop__index0 = 0 %}{% else %}{% assign locksmith_7888_forloop__index = locksmith_7888_forloop__index | plus: 1 %}{% assign locksmith_7888_forloop__index0 = locksmith_7888_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_7888_forloop__index == 1 %}{% assign locksmith_7888_forloop__first = true %}{% else %}{% assign locksmith_7888_forloop__first = false %}{% endif %}{% if locksmith_7888_forloop__index == locksmith_7888_forloop__size %}{% assign locksmith_7888_forloop__last = true %}{% else %}{% assign locksmith_7888_forloop__last = false %}{% endif %}{% assign locksmith_7888_forloop__rindex = locksmith_7888_forloop__size | minus: locksmith_7888_forloop__index | minus: 1 %}{% assign locksmith_7888_forloop__rindex0 = locksmith_7888_forloop__size | minus: locksmith_7888_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:a0ad>{% endcomment -%}
            {% if locksmith_7888_forloop__index <= product_per_page %}
                <div class="item">
                    <div class="product_list">
                        {% include 'product-grid-item' %}
                    </div>
                </div>
            {% else %}
                {% break %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>