{% if settings.categories_block_enable %}
<div id="categories_block" class="block sidebarCategories {{ settings.categories_block_class }}">
	{% if settings.categories_block_title != blank %}
		<h4 class="title_block">{{ settings.categories_block_title }}</h4>
	{% endif %}
	<div class="block_content">
		<ul class="listSidebar list-unstyled">
			{% if settings.categories_block_style == 'show_accessories' %}
				{% for category in collections limit:settings.categories_block_number %}
					{%- comment %}<locksmith:2d29>{% endcomment -%}
					  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: category %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
					{%- comment %}</locksmith:2d29>{% endcomment -%}
					<li {% if collection.handle == category.handle %} class="active" {% endif %}>
						<a href="{{ category.url }}" title="{{ category.title }}">
							{{ category.title }}
                          	{% if settings.categories_block_productcount %}
                                {% if category.all_products_count > 0 %}
                                    <span id="apolloQty{{ category.id }}" class="apolloQty">({{ category.all_products_count }})</span>
                                {% endif %}
                          	{% endif %}
						</a>
					</li>
				{% endfor %}
			{% else %}
				{% assign category_items = settings.categories_block_items_accessories | split:"," | strip | downcase %}
				{% for category in category_items %}
					{% for category_site in collections %}
						{%- comment %}<locksmith:a539>{% endcomment -%}
						  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: category_site %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
						{%- comment %}</locksmith:a539>{% endcomment -%}
						{% assign cat = category_site.title | downcase %}
						{% if category contains cat %}
							<li {% if collection.handle == category_site.handle %} class="active" {% endif %}>
								<a href="{{ category_site.url }}" title="{{ category_site.title }}">
									{{ category_site.title }}
                                  	{% if settings.categories_block_productcount %}
                                        {% if category_site.all_products_count > 0 %}
                                            <span id="appolloQty{{ category_site.id }}" class="apolloQty pull-right">{{ category_site.all_products_count }}</span>
                                        {% endif %}
                                  	{% endif %}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
                {% if collection.title != 'Accessories' %}
                <li class="active">
                    <a href="/collections/accessories" title="Accessories">
                        View all Accessories<span id="appolloQty{{ category_site.id }}" class="apolloQty pull-right">{{ category_site.all_products_count }}</span>
                    </a>
                </li>
                {% endif %}
			{% endif %}
		</ul>
	</div>
</div>
{% endif %}