{% if settings.sidebar_products_enable %}
	{% assign collection_product_sidebar = collections[settings.sidebar_products_collection] %}
	
	{% assign product_sidebar_limit = settings.sidebar_products_number %}
	<div id="products_sider_block{{ sidebar-products }}" class="block products_block nopadding {{ settings.sidebar_products_class }}">
		{% if settings.sidebar_products_title != blank %}
			<h4 class="title_block">
				<a href="{{ collection_product_sidebar.url }}" title="{{ settings.sidebar_products_title }}">{{ settings.sidebar_products_title }}</a>
			</h4>
		{% endif %}
		<div class="block_content products-block">
			<ul class="products products-block list-unstyled">
				{% for product in collection_product_sidebar.products limit:product_sidebar_limit %}
					{%- comment %}<locksmith:6c4a>{% endcomment -%}
					  {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection_product_sidebar %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
					{%- comment %}</locksmith:6c4a>{% endcomment -%}
					<li class="media clearfix">
						{% include 'product-sidebar-item' with '' %}
					</li>
				{% endfor %}
			</ul>
			{% assign size_products = collection_product_sidebar.products | size %}
			{% assign size_config = settings.sidebar_products_number | plus:1 %}
			{% if size_products > size_config %}
          		{% if settings.sidebar_products_more_title != blank %}
                    <div class="lnk">
                        <a href="{{ collection_product_sidebar.url }}" title="{{ settings.sidebar_products_title }}" class="btn btn-sm btn-outline">
                            <span>{{ settings.sidebar_products_more_title }}</span>
                        </a>
                    </div>
          		{% endif %}
			{% endif %}
		</div>
	</div>
{% endif %}