{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available  %}
    {% assign sold_out = false %}
{% endif %}

{% assign size_layout = "" %}
{% assign new = false %}
{% for tag in product.tags %}
  {% if tag contains 'new' %}
    {% assign new = true %}
  {% endif %}
  {% if tag contains 'big' %}
    {% assign size_layout = "big_layout" %}
  {% endif %}
{% endfor %}


{% comment %} check for Image size {% endcomment %}
{% if size_layout == "big_layout" %}
  {% assign imagesize = settings.select_img_special %}
{% else %}
  {% assign imagesize = settings.home_product_imagesize %}
{% endif %}

<div class="grid__item grid_special product_block  {{size_layout}} 
{% for tag in product.tags %}
  {% assign fill = tag  %}
  {% if fill == fillter_2 or fill == fillter_3 or fill == fillter_4 or fill == fillter_5 or fill == fillter_6 %}
    {{ tag | downcase | replace: ' ', '-' }}
  {% endif %}
{% endfor %}" >
    <div class="product-container text-left product-block">
        <div class="product-image-container image">
            {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
            <div class="slider " >
                {% for image in product.images %}
                    {% if forloop.index <= 3%}
              	<div class="slider__item">
                  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                  	<img src="{{ image.src | img_url: imagesize }}" alt="{{ product.title }}" />
                  </a>
              	</div>
                    {% endif %}
                {% endfor %}

            </div>
            {% if new %}
                <span class="icon-label new-box">
                    {{ 'products.product.new_from_html' | t }}
                </span>
            {% endif %}
            {% if on_sale %}
                <span class="icon-label sale-box">
                    {{ 'products.product.on_sale_from_html' | t }}
                </span>
            {% endif %}
            <div class="functional-buttons clearfix">
                <div class="cart">
                    {% assign variantCount = product.variants | size %}
                    <div class="action">
                        <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                            {% if sold_out %}
                                <button class="button btn ajax_addtocart disabled" type="submit" value="Submit" disabled title="{{ 'products.product.sold_out' | t }}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>{{ 'products.product.sold_out' | t }}</span>
                                </button>
                            {% else %}
                                {% if variantCount > 1 %}
                                    <a class="button btn ajax_addtocart" href="{{ product.url | within: collection }}" title="{{ 'products.product.select_options' | t }}">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="select_options">{{ 'products.product.select_options' | t }}</span>
                                    </a>
                                {% else %}
                                    <button class="button btn ajax_addtocart" type="submit" value="Submit" title="{{ 'products.product.add_to_cart' | t }}">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>{{ 'products.product.add_to_cart' | t }}</span>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </form> 
                    </div> 
                </div>
                {% if settings.theme_quickview_enable %}
                    <div class="quickview">
                        <a class="quick-view btn" href="#quick-view-product" data-handle="{{ product.handle }}" title="{{ 'general.quickview.title' | t }}">
                            <i class="fa fa-eye"></i>
                            <span>{{ 'general.quickview.title' | t }}</span>
                        </a>
                    </div>
                {% endif %}
                {% if settings.theme_wishlist_enable %}
                    {% include 'wishlist-product' %}
                {% endif %}
                {% if settings.theme_viewdetails_enable %}
                    <div class="view_detail">
                        <a class="btn lnk_view" href="{{ product.url | within: collection }}" title="View">
                            <i class="fa fa-link"></i><span>{{ 'products.product.view' | t }}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="product-meta">
            <h5 class="name">
                <a class="product-name" href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">{{ product.title }}</a>
            </h5>
            <div class="product-desc">{{ product.description | strip_html | truncatewords: 20}}</div>
            <div class="content_price">
                <span class="price product-price {% if on_sale %}sale-price{% endif %}">
                    {{ product.price | money }}
                </span>
                {% if on_sale %}
                    <span class="old-price product-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
                
            </div>
            {% if settings.product_reviews_enable %}
                <div class="review">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            {% endif %}

            {% if dealTime %}
                {% include 'block-productdeal' %}
            {% endif %}
        </div>
    </div>
</div>