<!-- /snippets/twitter-card.liquid -->
{% comment %}
    This snippet renders meta data needed to create a Twitter card for products and articles.
    Your cards must be approved by Twitter to be activated
    - https://dev.twitter.com/docs/cards/validation/validator
    More information:
    - https://dev.twitter.com/docs/cards/types/product-card
    - https://dev.twitter.com/docs/cards/types/summary-card
{% endcomment %}
{% comment %}
    Twitter user name of the site, based on theme settings
{% endcomment %}
{% if settings.twittercard_handle != blank %}
    <meta name="twitter:site" content="{{settings.twittercard_handle}}">
{% endif %}
{% if template contains 'product' %}
    <meta name="twitter:card" content="product">
    {%- comment %}<locksmith:25c5>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:title" content="{{ product.title }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:title" content="{{ product.title }}">{%- endcomment %}
    {%- comment %}</locksmith:25c5>{% endcomment -%}
    {%- comment %}<locksmith:4c6b>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:4c6b>{% endcomment -%}
    {%- comment %}<locksmith:0fb2>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{%- endcomment %}
    {%- comment %}</locksmith:0fb2>{% endcomment -%}
    {%- comment %}<locksmith:c8e9>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image:width" content="240">{% endif -%}
      {%- comment %}original: <meta name="twitter:image:width" content="240">{%- endcomment %}
    {%- comment %}</locksmith:c8e9>{% endcomment -%}
    {%- comment %}<locksmith:25fc>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image:height" content="240">{% endif -%}
      {%- comment %}original: <meta name="twitter:image:height" content="240">{%- endcomment %}
    {%- comment %}</locksmith:25fc>{% endcomment -%}
    <meta name="twitter:label1" content="Price">
    <meta name="twitter:data1" content="{% if product.price_varies %}From {% endif %}{{ product.price | money_with_currency | strip_html | escape }}">
    {% if product.vendor != blank %}
        <meta name="twitter:label2" content="Brand">
        <meta name="twitter:data2" content="{{ product.vendor | escape }}">
    {% else %}
        <meta name="twitter:label2" content="Availability">
        <meta name="twitter:data2" content="In stock">
    {% endif %}
{% elsif template contains 'article' %}
    <meta name="twitter:card" content="summary">
    {%- comment %}<locksmith:a9b9>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:title" content="{{ article.title }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:title" content="{{ article.title }}">{%- endcomment %}
    {%- comment %}</locksmith:a9b9>{% endcomment -%}
    {%- comment %}<locksmith:6246>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:6246>{% endcomment -%}
    {% comment %}
        Check if content contains an image to add to the card
        - Source: http://blog.viralica.com/2013/09/twitter-product-cards-on-shopify/
    {% endcomment %}
    {% if article.content contains "<img" %}
        {% assign src = article.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
        {% if src %}
            <meta property="twitter:image" content="{{ src }}">
        {% endif %}
    {% endif %}
{% else %}
    {% if settings.twitter_share_image %}
    {%- comment %}<locksmith:0fb2>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="twitter:image" content="https:{{ settings.twitter_share_image | img_url: '1200x1200' }}">{% endif -%}
      {%- comment %}original: <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{%- endcomment %}
    {%- comment %}</locksmith:0fb2>{% endcomment -%}
    {% endif %}
{% endif %}
