<!-- snippets/collection-filters.liquid -->
{% capture json_links %}
{%- include 'collection-filter-list' -%}
{% endcapture %}

<script id="HandlebarsFilters" type="text/x-handlebars-template">
  {% raw %}
    <h4 class="t-uppercase s-hide">{% endraw %}{{ 'collection.filter.sidebar' | t }}{% raw %}</h4>
    <button class="s-show" data-collapse-toggle>
      {% endraw %}{{ 'collection.filter.title' | t }}{% raw %}
      <span class="open">{% endraw %}{% include 'icon' with 'down', icon_size: '20' %}{% raw %}</span>
      <span class="close">{% endraw %}{% include 'icon' with 'up', icon_size: '20' %}{% raw %}</span>
    </button>
    <div class="collection-filters" data-collapse-content>

      {{#each filters}}
        <div class="collection-filter margin-bottom-2x">
          <h4 class="no-margin">{{@key}}</h4>
          {{#haystack this @root.currentTags}}
            <p class="no-margin">
              <a data-collection-filter-reset="{{@index}}">
                &laquo;
                  {% endraw %}{{ 'collection.filter.all' | t }}{% raw %}
              </a>
            </p>
          {{/haystack}}
          {{#each this}}
            {{#compare ../this.length '>=' 8}}
              {{#compare @index '==' 8}}
                <div data-collapse-content>
              {{/compare}}
            {{/compare}}

              <div>
                <label class="w-normal" for="block-{{@../index}}-{{@index}}">
                  <input type="checkbox" id="block-{{@../index}}-{{@index}}" name="{{@../index}}" data-collection-filter="tag" data-filter="{{handleize this}}"{{#indexOf @root.currentTags this}} checked{{/indexOf}}>
                  {{{ this }}} <span class="fg-text" data-tag-count="{{handleize this}}"></span>
                </label>
              </div>
            {{#last @index ../this.length}}
              {{#compare @index '>=' 8}}
                </div>
                <p class="no-margin s-hide" data-collapse-toggle>
                  <a href="#">
                    <span class="more">
                      {% endraw %}{{ 'collection.filter.more' | t }}{% raw %}
                    </span>
                    <span class="less">
                      {% endraw %}{{ 'collection.filter.less' | t }}{% raw %}
                    </span>
                  </a>
                </p>
              {{/compare}}
            {{/last}}

          {{/each}}
        </div>
      {{/each}}
    </div>
  {% endraw %}
</script>
<div id="FilterContainer">
</div>
<script id="filter_scripts">
$(document).on('ready', function() {
  var filters = {{ json_links }};
  var collectionTags = [{% for tag in collection.tags %}{{ tag | json }},{% endfor %}];
  var currentTags = [{% for tag in current_tags %}{{ tag | json }},{% endfor %}];
  var newObject = {};
  var sortedObject = {};
  // Count all potential filtered collection tags
  var collectionUrls = [];
  var requiredTags = [];
  var urlCounter = 0;

  // Build the context for handlebars only including tags that the current collection will use
  for (var i = 0; i < collectionTags.length; i++) {
    var tag = collectionTags[i];
    for (var filter in filters) {
      if (filters.hasOwnProperty(filter)) {
        if(filters[filter].indexOf(tag) > -1) {
          newObject[filter] = newObject[filter] || [];
          if(newObject[filter].indexOf(tag) === -1) {
            newObject[filter].push(tag)
          }
        }
      }
    }
  }
  for (var key in filters) {
    if (newObject.hasOwnProperty(key)) {
      sortedObject[key] = newObject[key];
    }
  }

  var context = {};
  context.filters = sortedObject;
  context.collectionTags = collectionTags;
  context.currentTags = currentTags;
  var source = document.getElementById("HandlebarsFilters").innerHTML;
  var template = Handlebars.compile(source);
  var html = template(context);

  $('#FilterContainer').html(html);
  $('#MobileFilters').html(html);

  // Filter counters
  function countTags() {
    function createdRequiredTags() {
      $('[data-tag-count]').each(function() {
        var tag = $(this).data('tag-count');
        if (requiredTags.indexOf(tag) === -1) requiredTags.push(tag);
      });
      createCollectionUrls();
    }
    function createCollectionUrls() {
      for (var c = 1; c <= requiredTags.length; c++) {
        var url = "{{ collection.url }}/{% if current_tags.size > 0 %}{% for tag in current_tags %}{{ tag | handleize }}+{% endfor %}{% endif %}".replace(/page=\d*/, '');
        url += requiredTags[c-1];
        collectionUrls.push(url + '?view=product-count');
      }
      getTagCounts();
    }
    function getTagCounts() {
      getNextTagCount(urlCounter);
    }
    function getNextTagCount(i) {
      if($('#FilterContainer .collection-filters').html().replace(/(\r\n|\n| )/g,'').length != 0){
        $.get(collectionUrls[i], function(response) {
          var responseInt = Number(response);
          $('[data-tag-count="'+requiredTags[i]+'"]').each(function() {
            if (response == '0') {
              console.log($(this));
              console.log(requiredTags[i])
              console.log(collectionUrls[i])
            }
            $(this).html("("+response+")");
          });
          if (i == collectionUrls.length-1) {
            return;
          }
          urlCounter++
          getTagCounts();
        });
      }
    }
    createdRequiredTags();
  }
  countTags();
});
</script>
