<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,mobile-menu,shop-by-show,footer-menu,categories-menu,more-characters,shop-by-title,shop-by-category,all-shows' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}

{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %}
  {% if collection_links_avoid contains linklist_handle %}
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | remove: 'Collection ' %}
  {% if linklist_title == collection.title %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}

{% if collection_links.links.size == 0 or collection_links == blank %}
  {% for linklist in linklists %}
    {% assign linklist_handle = linklist.title | handleize %}
    {% unless collection_links_avoid contains linklist_handle %}
      {% assign linklist_title = linklist.title | remove: 'Collection ' %}
      {% for link in linklist.links %}
        {% if link.url == collection.url %}
          {% assign collection_links = linklist %}
          {% assign collection_breadrumb_link = linklist.title | remove: 'Collection ' | handleize %}
        {% endif %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
{% endif %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% if collection_links.links.size > 0 %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection_links.title | remove: 'Collection ' }}</h4>
    <ul>
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

        <li>
          {% if link.url == '/' %}
            <h4 class="no-margin w-normal t-uppercase">{{ link.title }}</h4>
          {% else %}
            <a class="nav-link no-decoration{% if link.active %} active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endif %}
          {% if link.active %}{% assign collection_title = link.title %}{% endif %}
        </li>

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#" class="fg-text"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="margin-bottom-2x"></div>
  </div>
{% else %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection.title | escape }}</h4>
  </div>
{% endif %}
