<!-- snippets/collection-sort.liquid -->

{% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
<label for="SortBy" class="s-hide w-normal h5 no-margin inline line-height-1">{{ 'collection.sort.title' | t }}</label>
<select name="SortBy" class="s-hide inline v-middle" data-sort>
  {% for option in sort_options %}
    <option value="{{ option }}"{% if sort_by == option %} selected{% endif %}>{{ 'collection.sort.' | append: option | t }}</option>
  {% endfor %}
</select>

<div class="inline select-wrapper s-show">
  <select data-sort>
    {% for option in sort_options %}
      <option value="{{ option }}"{% if sort_by == option %} selected{% endif %}>{{ 'collection.sort.' | append: option | t }}</option>
    {% endfor %}
  </select>
  {% include 'icon' with 'down', icon_size: '20' %}
</div>

<script>
  $(document).ready(function() {
    // Update all applicable sorting selects
    $('[data-sort]').on('change', function() {
      var newSorting = $(this).val();
      $('[data-sort]').each(function() {
        if ($(this).val() != newSorting) {
          $(this).val(newSorting).change();
        }
      });
    });
  });
</script>
