{%- assign recommendation_container = settings.evergage_product_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = '#shopify-section-template-product .related-products #TabRelated_1 .row.condensed.no-margin' %}
{% endif %}
<style>
	.Evergage_ProductDefinition {
	  display: none;
	}
</style>
<script>
	$(function() {
	    var productDefinitions = {
	        "_id": "{{ product.variants.first.sku }}",
	        "name": "{{ product.title | escape }}",
	        "description": "{{ product.description | escape }}",
	        "imageUrl": "{{ product | img_url: '280x280' }}",
	        "url": "{{ product.url }}",
	        "currency": "{{ shop.currency }}",
	        "categories": "",
	        "listPrice": "{{ product.variants.first.price | money_without_currency}}",
	        "price": "{{ product.variants.first.price | money_without_currency}}"
	    };
	    $('body').append("<div class='Evergage_ProductDefinition' id='Evergage_ProductDefinition'></div>");
	    for (var productDefinitionKey in productDefinitions) {
	        $('#Evergage_ProductDefinition').append("<span id=" + productDefinitionKey + ">" + productDefinitions[productDefinitionKey] + "</span>");
	    }
	    
	    $('{{ recommendation_container }}').append("<div mybuyszone='1'></div>"); 
	    $('.template-product #mobile_mb_reviews_section').append("<div mybuyszone='1'></div>"); 

	    if($('#TabRelated_2 > .row').length > 0) {
	    	$('#shopify-section-template-product .related-products #TabRelated_2 .row.condensed.no-margin').append("<div mybuyszone='2'></div>");
	    }
	});
</script>
