<!-- /snippets/form-search.liquid -->

<form action="/pages/search-results-page" method="get" role="search" class="form-search form-group wide relative">
  <input type="text" class="no-border" name="q" placeholder="{{ 'search.form_title' | t }}" aria-label="{{ 'search.title' | t }}">
  <input type="hidden" name="type" value="product">
  <button class="bitmap no-hover absolute" type="submit">
    <img src="{{ 'button-search.png' | asset_url }}">
  </button>
</form>
