<!-- snippets/icon-social.liquid -->

{% comment %}
  Don't forget to compress your icons! https://jakearchibald.github.io/svgomg/
  All icons must be created at a viewbox of 48x48 regardless of icon_size to be scaled to

  Use the variable below to assign the style of icon you wish to use. Choose from glyph, circle, rounded and coloured
{% endcomment %}

{% assign icon = icon-social | replace: '_', '-' | downcase | strip %}
{% capture icon_name %}social.{{ icon-social }}{% endcapture %}
{% capture icon_translation %}social.{{ icon | replace: '-', '_' }}{% endcapture %}

{% unless style %}
  {% assign style = 'circle' %}
{% endunless %}

{% unless icon_size %}
  {% assign icon_size = 24 %}
{% endunless %}

<span class="icon" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" class="{{ icon }}" width="{{ icon_size }}" height="{{ icon_size }}" aria-label="{{ shop.name }} on {{ icon_translation | t }}" role="img" viewbox="0 0 48 48">
    <title>{{ shop.name }} {{ 'social.on' | t }} {{ icon_translation | t }}</title>
    <desc>{{ shop.name }} {{ 'social.on' | t }} {{ icon_translation | t }}</desc>
      {% if style == 'glyph' %}

        {%- case icon -%}

        {% when 'facebook' %}
          <path class="fill" d="M18.06306,46L18,26h-8v-8h8v-5c0-7.42279,4.59664-11,11.21828-11 c3.17183,0,5.89786,0.23615,6.6923,0.3417v7.75726l-4.59246,0.00209c-3.60122,0-4.2985,1.71125-4.2985,4.22238V18H37.5l-4,8 h-6.48038v20H18.06306z"></path>
        {% when 'instagram' %}
          <g class="fill">
            <path d="M24 4.324c6.408 0 7.167.024 9.698.14 2.73.125 5.266.672 7.216 2.622 1.95 1.95 2.497 4.485 2.622 7.216.115 2.53.14 3.29.14 9.698s-.024 7.167-.14 9.698c-.125 2.73-.672 5.266-2.622 7.216-1.95 1.95-4.485 2.497-7.216 2.622-2.53.115-3.29.14-9.698.14s-7.168-.024-9.698-.14c-2.73-.125-5.266-.672-7.216-2.622-1.95-1.95-2.497-4.485-2.622-7.216-.115-2.53-.14-3.29-.14-9.698s.024-7.167.14-9.698c.125-2.73.672-5.266 2.622-7.216 1.95-1.95 4.485-2.497 7.216-2.622 2.53-.115 3.29-.14 9.698-.14M24 0c-6.518 0-7.335.028-9.895.144-3.9.178-7.326 1.133-10.077 3.884C1.278 6.778.322 10.203.144 14.105.028 16.665 0 17.482 0 24s.028 7.335.144 9.895c.178 3.9 1.133 7.326 3.884 10.077 2.75 2.75 6.175 3.706 10.077 3.884 2.56.116 3.377.144 9.895.144s7.335-.028 9.895-.144c3.9-.178 7.326-1.133 10.077-3.884 2.75-2.75 3.706-6.175 3.884-10.077.116-2.56.144-3.377.144-9.895s-.028-7.335-.144-9.895c-.178-3.9-1.133-7.326-3.884-10.077-2.75-2.75-6.175-3.706-10.077-3.884C31.335.028 30.518 0 24 0z"/>
            <path d="M24 11.676c-6.807 0-12.324 5.518-12.324 12.324S17.193 36.324 24 36.324 36.324 30.807 36.324 24 30.807 11.676 24 11.676zM24 32c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"/>
            <circle cx="36.811" cy="11.189" r="2.88"/>
          </g>
        {% when 'twitter' %}
          <path class="fill" d="M48 9.1c-1.8.8-3.7 1.3-5.7 1.6 2-1.2 3.6-3.1 4.3-5.4-1.9 1.1-4 1.9-6.3 2.4-1.8-1.9-4.4-3.1-7.2-3.1-5.4 0-9.8 4.4-9.8 9.8 0 .8.1 1.5.3 2.2-8.1-.4-15.4-4.3-20.3-10.3C2.5 7.8 2 9.4 2 11.2c0 3.4 1.7 6.4 4.4 8.2-1.6-.1-3.1-.5-4.5-1.2v.1c0 4.8 3.4 8.8 7.9 9.7-.8.2-1.7.3-2.6.3-.6 0-1.3-.1-1.9-.2 1.3 3.9 4.9 6.8 9.2 6.8-3.4 2.6-7.6 4.2-12.2 4.2-.8 0-1.6 0-2.3-.1 4.4 2.8 9.5 4.4 15.1 4.4 18.1 0 28-15 28-28v-1.3c1.9-1.3 3.6-3 4.9-5z"/>
        {% when 'pinterest' %}
          <path class="fill" d="M24 0C10.7 0 0 10.7 0 24c0 10.2 6.3 18.9 15.3 22.3-.2-1.9-.4-4.8.1-6.9.4-1.9 2.8-11.9 2.8-11.9s-.7-1.4-.7-3.6c0-3.3 1.9-5.8 4.3-5.8 2 0 3 1.5 3 3.4 0 2.1-1.3 5.1-2 8-.6 2.4 1.2 4.3 3.6 4.3 4.3 0 7.5-4.5 7.5-11 0-5.7-4.1-9.8-10-9.8-6.8 0-10.8 5.1-10.8 10.4 0 2.1.8 4.3 1.8 5.5.2.2.2.4.2.7-.2.8-.6 2.4-.7 2.7-.1.4-.3.5-.8.3-3-1.4-4.9-5.8-4.9-9.3 0-7.6 5.5-14.5 15.9-14.5 8.3 0 14.8 5.9 14.8 13.9 0 8.3-5.2 14.9-12.5 14.9-2.4 0-4.7-1.3-5.5-2.8 0 0-1.2 4.6-1.5 5.7-.5 2.1-2 4.7-3 6.3 2.2.7 4.6 1.1 7.1 1.1 13.3 0 24-10.7 24-24C48 10.7 37.3 0 24 0z"/>
        {% when 'fancy' %}
          <path class="fill" d="M11.088 14.176v20.168c0 .864.56 1.44 1.392 1.44h6.96v7.204c0 2.46 1.82 4.32 4.18 4.32 2.38 0 4.18-1.86 4.18-4.32v-7.194h6.968c.836 0 1.396-.576 1.396-1.44V14.188c0-7.204-5.572-12.97-12.54-12.97-6.966-.006-12.536 5.754-12.536 12.956v.002z"/>
        {% when 'youtube' %}
          <path class="fill" d="M47.5 14.4s-.5-3.3-1.9-4.8c-1.8-1.9-3.9-1.9-4.8-2-6.7-.5-16.8-.5-16.8-.5s-10.1 0-16.8.5c-.9.1-3 .1-4.8 2C1 11.1.5 14.4.5 14.4S0 18.3 0 22.2v3.6c0 3.9.5 7.8.5 7.8s.5 3.3 1.9 4.8c1.8 1.9 4.2 1.9 5.3 2.1 3.8.4 16.3.5 16.3.5s10.1 0 16.8-.5c.9-.1 3-.1 4.8-2 1.4-1.5 1.9-4.8 1.9-4.8s.5-3.9.5-7.8v-3.6c0-4-.5-7.9-.5-7.9zM19 30.2V16.7l13 6.8-13 6.7z"/>
        {% when 'vimeo' %}
          <path class="fill" d="M48 12.8c-.2 4.7-3.5 11.1-9.8 19.2-6.5 8.5-12 12.7-16.6 12.7-2.8 0-5.2-2.6-7.1-7.7-1.3-4.7-2.6-9.5-3.9-14.2-1.4-5.2-3-7.7-4.6-7.7-.4 0-1.6.8-3.8 2.3l-2.2-3c2.4-2.1 4.7-4.2 7-6.2 3.2-2.7 5.5-4.2 7.1-4.3 3.7-.4 6 2.2 6.9 7.7.9 5.9 1.6 9.6 1.9 11 1.1 4.9 2.3 7.3 3.6 7.3 1 0 2.5-1.6 4.5-4.8 2-3.2 3.1-5.6 3.2-7.2.3-2.7-.8-4.1-3.2-4.1-1.1 0-2.3.3-3.6.8C29.8 6.8 34.4 3 41 3.3c4.9.1 7.3 3.3 7 9.5z"/>
        {% when 'google-plus' %}
          <g class="fill">
            <path d="M48 22h-4v-4h-4v4h-4v4h4v4h4v-4h4v-4z"/>
            <path d="M33.053 22.01L18 22v6h8.602c-.464 2.54-3.007 7.172-9.602 7.172-5.804 0-10.54-4.81-10.54-10.734 0-5.926 4.736-10.735 10.54-10.735 3.303 0 5.513 1.41 6.776 2.623l4.614-4.444c-2.963-2.77-6.8-4.444-11.39-4.444-9.4 0-17 7.6-17 17 0 9.398 7.6 17 17 17 11.696 0 17.72-9.708 16.053-19.43z"/>
          </g>
        {% else %}
          <!-- No '{{ icon }}' icon with '{{ style }}' style found -->
          <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
        {%- endcase -%}

      {% elsif style == 'circle' %}

        {%- case icon -%}
        {% when 'facebook' %}
          <path class="fill" d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm6.3 16.05h-2.25c-1.8 0-2.1.9-2.1 2.1v2.7h4.2l-.6 4.2h-3.6V36H21.6V25.05h-3.75v-4.2h3.75V17.7c-.15-3.75 2.1-5.7 5.4-5.7 1.5 0 2.85.15 3.3.15v3.9z"/>
        {% when 'instagram' %}
          <g class="fill">
            <circle cx="24" cy="24" r="3"/>
            <path d="M30 15H18c-1.402 0-3 1.598-3 3v12c0 1.43 1.57 3 3 3h12c1.402 0 3-1.598 3-3V18c0-1.402-1.598-3-3-3zm-6 15c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm6.218-10.722c-.796 0-1.44-.645-1.44-1.44 0-.795.645-1.44 1.44-1.44.794 0 1.44.645 1.44 1.44 0 .795-.646 1.44-1.44 1.44z"/>
            <path d="M24 0C10.745 0 0 10.745 0 24c0 13.254 10.745 24 24 24s24-10.746 24-24C48 10.745 37.255 0 24 0zm12 30c0 3.084-2.916 6-6 6H18c-3.084 0-6-2.916-6-6V18c0-3.084 2.916-6 6-6h12c3.084 0 6 2.916 6 6v12z"/>
          </g>
        {% when 'twitter' %}
          <path class="fill" d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm9.6 19.05v.6c0 6.45-4.95 13.95-13.95 13.95-2.85 0-5.4-.75-7.5-2.25h1.2c2.25 0 4.5-.75 6.15-2.1-2.1 0-3.9-1.5-4.65-3.45.3 0 .6.15.9.15.45 0 .9 0 1.35-.15-2.25-.45-3.9-2.4-3.9-4.8.6.3 1.35.6 2.25.6-1.35-.9-2.25-2.4-2.25-4.05 0-.9.3-1.8.6-2.55 2.4 3 6 4.95 10.2 5.1-.15-.3-.15-.75-.15-1.05 0-2.7 2.25-4.95 4.95-4.95 1.35 0 2.7.6 3.6 1.5 1.05-.15 2.25-.6 3.15-1.2-.3 1.2-1.2 2.1-2.1 2.7 1.05-.15 1.95-.45 2.85-.75-.9 1.2-1.8 2.1-2.7 2.7z"/>
        {% when 'pinterest' %}
          <path class="fill" d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm1.8 29.4c-1.5 0-2.85-.75-3.3-1.65 0 0-.75 3.15-.9 3.75-.6 2.1-2.4 4.35-2.55 4.5-.15.15-.3.15-.3-.15s-.45-3 0-5.25c.3-1.05 1.8-7.5 1.8-7.5s-.45-.9-.45-2.25c0-2.1 1.2-3.6 2.7-3.6 1.2 0 1.8.9 1.8 2.1 0 1.2-.75 3.15-1.2 4.95-.3 1.5.75 2.7 2.25 2.7C28.2 27 30 23.7 30 19.65c0-3-2.1-5.25-5.7-5.25-4.2 0-6.75 3.15-6.75 6.6 0 1.2.3 2.1.9 2.7.3.3.3.45.15.75 0 .3-.15.9-.3 1.05-.15.3-.3.45-.75.3-1.95-.75-2.85-2.85-2.85-5.25 0-3.9 3.3-8.55 9.9-8.55 5.25 0 8.7 3.75 8.7 7.95 0 5.4-3 9.45-7.5 9.45z"/>
        {% when 'fancy' %}
          <path class="fill" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0zm-7 18.747V29.25c0 .45.292.75.725.75h3.624v3.75c0 1.28.947 2.25 2.176 2.25 1.24 0 2.176-.97 2.176-2.25v-3.746h3.63c.434 0 .726-.3.726-.75v-10.5c0-3.752-2.902-6.754-6.53-6.754C19.9 11.997 17 14.996 17 18.746z"/>
        {% when 'youtube' %}
          <path class="fill" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0zm11.607 19.357s-.223-1.658-.93-2.412c-.894-.943-1.937-.98-2.384-1.018-3.388-.226-8.378-.226-8.378-.226s-4.99 0-8.34.227c-.484.037-1.49.075-2.383 1.018-.708.716-.93 2.412-.93 2.412S12 21.317 12 23.277v1.848c0 1.96.223 3.92.223 3.92s.224 1.66.93 2.413c.895.943 2.086.943 2.645 1.018 1.9.19 8.117.226 8.117.226s4.99 0 8.34-.263c.485-.04 1.49-.077 2.384-1.02.706-.716.93-2.412.93-2.412s.26-1.96.26-3.92V23.24c0-1.922-.223-3.883-.223-3.883zm-14.15 7.955v-6.786L27.9 23.92l-6.442 3.392z"/>
        {% when 'vimeo' %}
          <path class="fill" d="M24 0c13.255 0 24 10.745 24 24S37.255 48 24 48 0 37.255 0 24 10.745 0 24 0zm11.993 18.443c.112-3.104-1.048-4.712-3.554-4.712-3.292-.11-5.573 1.76-6.733 5.61.6-.223 1.197-.373 1.758-.373 1.197 0 1.758.673 1.608 2.057-.074.86-.598 2.057-1.608 3.628-.972 1.57-1.758 2.356-2.244 2.356-.635 0-1.233-1.234-1.757-3.665-.187-.71-.524-2.543-.972-5.498-.448-2.73-1.57-4.002-3.44-3.815-.786.037-1.983.785-3.553 2.132-1.122 1.047-2.282 2.057-3.48 3.104l1.123 1.46c1.048-.75 1.683-1.123 1.87-1.123.823 0 1.61 1.272 2.32 3.852.672 2.356 1.308 4.713 1.944 7.07.973 2.58 2.17 3.85 3.553 3.85 2.244 0 5.012-2.13 8.266-6.357 3.18-4.04 4.787-7.256 4.9-9.575z"/>
        {% when 'google-plus' %}
          <path class="fill" d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm-5.85 34.5c-5.85 0-10.5-4.65-10.5-10.5s4.65-10.5 10.5-10.5c2.85 0 5.25 1.05 7.05 2.7l-2.85 2.7c-.75-.75-2.1-1.65-4.2-1.65-3.6 0-6.45 3-6.45 6.6 0 3.6 3 6.6 6.45 6.6 4.2 0 5.7-3 6-4.5H18V22.5h10.2c.15.45.15 1.05.15 1.8 0 6-4.05 10.2-10.2 10.2zm22.35-9h-3v3h-3v-3h-3v-3h3v-3h3v3h3v3z"/>
        {% else %}
          <!-- No '{{ icon }}' icon with '{{ style }}' style found -->
          <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
        {%- endcase -%}

      {% elsif style == 'rounded' %}

        {%- case icon -%}
        {% when 'facebook' %}
          <path class="fill" d="M42 0H6C2.7 0 0 2.7 0 6v36c0 3.3 2.7 6 6 6h36c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zM30.3 16.05h-2.25c-1.8 0-2.1.9-2.1 2.1v2.7h4.2l-.6 4.2h-3.6V36H21.6V25.05h-3.75v-4.2h3.75V17.7c-.15-3.75 2.1-5.7 5.4-5.7 1.5 0 2.85.15 3.3.15v3.9z"/>
        {% when 'instagram' %}
          <g class="fill">
            <path d="M30 15H18c-1.402 0-3 1.598-3 3v12c0 1.43 1.57 3 3 3h12c1.402 0 3-1.598 3-3V18c0-1.402-1.598-3-3-3zm-6 15c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm6.218-10.722c-.796 0-1.44-.645-1.44-1.44 0-.795.645-1.44 1.44-1.44.794 0 1.44.645 1.44 1.44 0 .795-.646 1.44-1.44 1.44z"/>
            <circle cx="24" cy="24" r="3"/>
            <path d="M42 0H6C2.687 0 0 2.687 0 6v36c0 3.313 2.687 6 6 6h36c3.313 0 6-2.687 6-6V6c0-3.313-2.687-6-6-6zm-6 30c0 3.084-2.916 6-6 6H18c-3.084 0-6-2.916-6-6V18c0-3.084 2.916-6 6-6h12c3.084 0 6 2.916 6 6v12z"/>
          </g>
        {% when 'twitter' %}
          <path class="fill" d="M42 0H6C2.7 0 0 2.7 0 6v36c0 3.3 2.7 6 6 6h36c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zm-8.4 19.05v.6c0 6.45-4.95 13.95-13.95 13.95-2.85 0-5.4-.75-7.5-2.25h1.2c2.25 0 4.5-.75 6.15-2.1-2.1 0-3.9-1.5-4.65-3.45.3 0 .6.15.9.15.45 0 .9 0 1.35-.15-2.25-.45-3.9-2.4-3.9-4.8.6.3 1.35.6 2.25.6-1.35-.9-2.25-2.4-2.25-4.05 0-.9.3-1.8.6-2.55 2.4 3 6 4.95 10.2 5.1-.15-.3-.15-.75-.15-1.05 0-2.7 2.25-4.95 4.95-4.95 1.35 0 2.7.6 3.6 1.5 1.05-.15 2.25-.6 3.15-1.2-.3 1.2-1.2 2.1-2.1 2.7 1.05-.15 1.95-.45 2.85-.75-.9 1.2-1.8 2.1-2.7 2.7z"/>
        {% when 'pinterest' %}
          <path class="fill" d="M42 0H6C2.7 0 0 2.7 0 6v36c0 3.3 2.7 6 6 6h36c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zM25.8 29.4c-1.5 0-2.85-.75-3.3-1.65 0 0-.75 3.15-.9 3.75-.6 2.1-2.4 4.35-2.55 4.5-.15.15-.3.15-.3-.15s-.45-3 0-5.25c.3-1.05 1.8-7.5 1.8-7.5s-.45-.9-.45-2.25c0-2.1 1.2-3.6 2.7-3.6 1.2 0 1.8.9 1.8 2.1 0 1.2-.75 3.15-1.2 4.95-.3 1.5.75 2.7 2.25 2.7C28.2 27 30 23.7 30 19.65c0-3-2.1-5.25-5.7-5.25-4.2 0-6.75 3.15-6.75 6.6 0 1.2.3 2.1.9 2.7.3.3.3.45.15.75 0 .3-.15.9-.3 1.05-.15.3-.3.45-.75.3-1.95-.75-2.85-2.85-2.85-5.25 0-3.9 3.3-8.55 9.9-8.55 5.25 0 8.7 3.75 8.7 7.95 0 5.4-3 9.45-7.5 9.45z"/>
        {% when 'fancy' %}
          <path class="fill" d="M6 0h36c3.314 0 6 2.686 6 6v36c0 3.314-2.686 6-6 6H6c-3.314 0-6-2.686-6-6V6c0-3.314 2.686-6 6-6zm11 17.872v12.252c0 .525.335.875.833.875h4.163v4.376c0 1.494 1.09 2.624 2.5 2.624 1.424 0 2.5-1.13 2.5-2.624v-4.37h4.17c.5 0 .834-.35.834-.876V17.88c0-4.377-3.333-7.88-7.5-7.88-4.168-.004-7.5 3.496-7.5 7.87v.002z"/>
        {% when 'youtube' %}
          <path class="fill" d="M6 0h36c3.314 0 6 2.686 6 6v36c0 3.314-2.686 6-6 6H6c-3.314 0-6-2.686-6-6V6c0-3.314 2.686-6 6-6zm29.607 19.357s-.223-1.658-.93-2.412c-.894-.943-1.937-.98-2.384-1.018-3.388-.226-8.378-.226-8.378-.226s-4.99 0-8.34.227c-.484.037-1.49.075-2.383 1.018-.708.716-.93 2.412-.93 2.412S12 21.317 12 23.277v1.848c0 1.96.223 3.92.223 3.92s.224 1.66.93 2.413c.895.943 2.086.943 2.645 1.018 1.9.19 8.117.226 8.117.226s4.99 0 8.34-.263c.485-.04 1.49-.077 2.384-1.02.706-.716.93-2.412.93-2.412s.26-1.96.26-3.92V23.24c0-1.922-.223-3.883-.223-3.883zm-14.15 7.955v-6.786L27.9 23.92l-6.442 3.392z"/>
        {% when 'vimeo' %}
          <path class="fill" d="M6 0h36c3.314 0 6 2.686 6 6v36c0 3.314-2.686 6-6 6H6c-3.314 0-6-2.686-6-6V6c0-3.314 2.686-6 6-6zm29.993 18.443c.112-3.104-1.048-4.712-3.554-4.712-3.292-.11-5.573 1.76-6.733 5.61.6-.223 1.197-.373 1.758-.373 1.197 0 1.758.673 1.608 2.057-.074.86-.598 2.057-1.608 3.628-.972 1.57-1.758 2.356-2.244 2.356-.635 0-1.233-1.234-1.757-3.665-.187-.71-.524-2.543-.972-5.498-.448-2.73-1.57-4.002-3.44-3.815-.786.037-1.983.785-3.553 2.132-1.122 1.047-2.282 2.057-3.48 3.104l1.123 1.46c1.048-.75 1.683-1.123 1.87-1.123.823 0 1.61 1.272 2.32 3.852.672 2.356 1.308 4.713 1.944 7.07.973 2.58 2.17 3.85 3.553 3.85 2.244 0 5.012-2.13 8.266-6.357 3.18-4.04 4.787-7.256 4.9-9.575z"/>
        {% when 'google-plus' %}
          <path class="fill" d="M42 0H6C2.7 0 0 2.7 0 6v36c0 3.3 2.7 6 6 6h36c3.3 0 6-2.7 6-6V6c0-3.3-2.7-6-6-6zM18.15 34.5c-5.85 0-10.5-4.65-10.5-10.5s4.65-10.5 10.5-10.5c2.85 0 5.25 1.05 7.05 2.7l-2.85 2.7c-.75-.75-2.1-1.65-4.2-1.65-3.6 0-6.45 3-6.45 6.6 0 3.6 3 6.6 6.45 6.6 4.2 0 5.7-3 6-4.5H18V22.5h10.2c.15.45.15 1.05.15 1.8 0 6-4.05 10.2-10.2 10.2zm22.35-9h-3v3h-3v-3h-3v-3h3v-3h3v3h3v3z"/>
        {% else %}
          <!-- No '{{ icon }}' icon with '{{ style }}' style found -->
          <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
        {%- endcase -%}

      {% elsif style == 'colorful' %}

        {%- case icon -%}
        {% when 'facebook' %}
          <g>
            <path fill="#39579A" d="M46,48c1.10457,0,2-0.89543,2-2V2c0-1.10457-0.89543-2-2-2H2C0.89543,0,0,0.89543,0,2v44
            c0,1.10457,0.89543,2,2,2H46z"/>
            <path fill="#FFFFFF" d="M25.51917,48V29H19v-7l6.51917,0v-5.17462c0-6.19977,3.78661-9.57566,9.31723-9.57566
            c2.64922,0,4.92609,0.19724,5.58964,0.2854v6.47912l-3.83578,0.00174C33.5824,14.01598,33,15.44527,33,17.54265V22h7l-1,7h-6v19
            H25.51917z"/>
          </g>
        {% when 'instagram' %}
          <g>
          	<path fill="#E02D69" d="M24,0c-6.518,0-7.335,0.028-9.895,0.144c-3.9,0.178-7.326,1.133-10.077,3.884
          		c-2.75,2.75-3.706,6.175-3.884,10.077C0.028,16.665,0,17.482,0,24c0,6.518,0.028,7.335,0.144,9.895
          		c0.178,3.9,1.133,7.326,3.884,10.077c2.75,2.75,6.175,3.706,10.077,3.884C16.665,47.972,17.482,48,24,48s7.335-0.028,9.895-0.144
          		c3.899-0.178,7.326-1.133,10.077-3.884c2.75-2.75,3.706-6.175,3.884-10.077C47.972,31.335,48,30.518,48,24s-0.028-7.335-0.144-9.895
          		c-0.178-3.9-1.133-7.326-3.884-10.077c-2.75-2.75-6.175-3.706-10.077-3.884C31.335,0.028,30.518,0,24,0L24,0z"></path>
          	<path fill="#FFFFFF" d="M24,10.883c4.272,0,4.778,0.016,6.465,0.093c1.821,0.083,3.511,0.448,4.811,1.748
          		c1.3,1.3,1.665,2.99,1.748,4.811c0.077,1.687,0.093,2.193,0.093,6.465s-0.016,4.778-0.093,6.465
          		c-0.083,1.821-0.448,3.511-1.748,4.811c-1.3,1.3-2.99,1.665-4.811,1.748c-1.687,0.077-2.193,0.093-6.465,0.093
          		s-4.778-0.016-6.465-0.093c-1.821-0.083-3.511-0.448-4.811-1.748c-1.3-1.3-1.665-2.99-1.748-4.811
          		c-0.077-1.687-0.093-2.193-0.093-6.465s0.016-4.778,0.093-6.465c0.083-1.821,0.448-3.511,1.748-4.811
          		c1.3-1.3,2.99-1.665,4.811-1.748C19.222,10.899,19.728,10.883,24,10.883 M24,8c-4.345,0-4.89,0.018-6.597,0.096
          		c-2.6,0.119-4.884,0.756-6.718,2.589c-1.833,1.833-2.47,4.117-2.589,6.718C8.018,19.11,8,19.655,8,24
          		c0,4.345,0.018,4.89,0.096,6.597c0.119,2.6,0.756,4.884,2.589,6.718c1.833,1.833,4.117,2.47,6.718,2.589
          		C19.11,39.982,19.655,40,24,40s4.89-0.018,6.597-0.096c2.6-0.119,4.884-0.756,6.718-2.589c1.833-1.833,2.47-4.117,2.589-6.718
          		C39.982,28.89,40,28.345,40,24s-0.018-4.89-0.096-6.597c-0.119-2.6-0.756-4.884-2.589-6.718c-1.833-1.833-4.117-2.47-6.718-2.589
          		C28.89,8.018,28.345,8,24,8L24,8z"></path>
          	<path fill="#FFFFFF" d="M24,15.784c-4.538,0-8.216,3.679-8.216,8.216s3.679,8.216,8.216,8.216
          		s8.216-3.679,8.216-8.216S28.538,15.784,24,15.784z M24,29.333c-2.946,0-5.333-2.388-5.333-5.333c0-2.946,2.388-5.333,5.333-5.333
          		c2.946,0,5.333,2.388,5.333,5.333C29.333,26.946,26.946,29.333,24,29.333z"></path>
          	<circle fill="#FFFFFF" cx="32.541" cy="15.459" r="1.92"></circle>
          </g>
        {% when 'twitter' %}
          <g>
            <path fill="#69ACE0" d="M48,9.11341c-1.76603,0.78322-3.66389,1.31268-5.65607,1.55067
            c2.03332-1.21873,3.5948-3.14867,4.33001-5.44828c-1.90268,1.12855-4.01024,1.94811-6.25344,2.3898
            c-1.79636-1.914-4.35574-3.10992-7.18805-3.10992c-5.43885,0-9.84807,4.40923-9.84807,9.84756
            c0,0.77191,0.0871,1.5234,0.25495,2.24422c-8.1844-0.41065-15.4407-4.33121-20.29778-10.28923
            C2.49387,7.75272,2.0083,9.44432,2.0083,11.24909c0,3.41649,1.73858,6.43073,4.38093,8.19676
            c-1.61427-0.05109-3.13272-0.49415-4.4605-1.23177c-0.00069,0.04115-0.00084,0.08231-0.00084,0.1238
            c0,4.77144,3.39452,8.75168,7.8996,9.6563c-0.82642,0.22494-1.69641,0.34532-2.5945,0.34532
            c-0.63458,0-1.25149-0.06173-1.8528-0.17661c1.25319,3.91234,4.89001,6.75958,9.19929,6.83914
            c-3.37036,2.64116-7.61654,4.21549-12.23032,4.21549C1.55427,39.21751,0.77036,39.17088,0,39.08
            c4.35814,2.79408,9.53447,4.42431,15.09573,4.42431c18.11374,0,28.0189-15.00571,28.0189-28.01916
            c0-0.42694-0.00959-0.85164-0.02846-1.27394C45.01011,12.82274,46.67978,11.08826,48,9.11341z"/>
          </g>
        {% when 'pinterest' %}
          <g>
            <path fill="#FFFFFF" d="M48,24c0,13.25491-10.74522,23.99987-24,23.99987S0,37.25491,0,24C0,10.74522,10.74522,0.00013,24,0.00013
            S48,10.74522,48,24"/>
            <path fill="#BD081C" d="M23.97145,2.25318C11.96105,2.25318,2.22463,11.9896,2.22463,24
            c0,9.21299,5.73188,17.08208,13.82164,20.25073c-0.19021-1.72064-0.36175-4.35987,0.07557-6.23819
            c0.39505-1.69722,2.55008-10.8097,2.55008-10.8097s-0.65056-1.30266-0.65056-3.22869c0-3.02385,1.75266-5.2814,3.93495-5.2814
            c1.85531,0,2.75163,1.39299,2.75163,3.06335c0,1.86584-1.188,4.65539-1.80116,7.24071
            c-0.51232,2.16456,1.08551,3.92971,3.22038,3.92971c3.86524,0,6.83625-4.07552,6.83625-9.95849
            c0-5.20683-3.74144-8.84742-9.08377-8.84742c-6.18763,0-9.81961,4.64112-9.81961,9.43754c0,1.86906,0.72002,3.87337,1.61839,4.96285
            c0.17759,0.21527,0.20373,0.40405,0.15086,0.6237c-0.16514,0.68697-0.53199,2.16405-0.60402,2.46627
            c-0.0949,0.39812-0.31521,0.48248-0.72722,0.29086c-2.71624-1.26434-4.41427-5.2352-4.41427-8.42482
            c0-6.86006,4.98423-13.15994,14.36892-13.15994c7.54392,0,13.40669,5.37563,13.40669,12.55992
            c0,7.4948-4.7257,13.52656-11.28484,13.52656c-2.20353,0-4.27524-1.14479-4.98433-2.49712c0,0-1.09038,4.15217-1.35476,5.16964
            c-0.49112,1.88896-1.8164,4.25675-2.70293,5.7011c2.03484,0.62992,4.19713,0.96979,6.43895,0.96979
            c12.01053,0,21.74694-9.73641,21.74694-21.74694C45.71839,11.9896,35.98199,2.25318,23.97145,2.25318z"/>
          </g>
        {% when 'google-plus' %}
          <g>
            <path fill="#DE4D3B" d="M48,22h-4v-4h-4v4h-4v4h4v4h4v-4h4V22z"/>
            <path fill="#DE4D3B" d="M33.05286,22.00891L18,22v6h8.60217c-0.46423,2.53943-3.0072,7.17175-9.60217,7.17175
            c-5.80432,0-10.54004-4.80859-10.54004-10.73425c0-5.92567,4.73572-10.73426,10.54004-10.73426
            c3.30286,0,5.51282,1.40857,6.77576,2.6228l4.61426-4.44421C25.42712,9.11316,21.58997,7.43751,17,7.43751
            c-9.39856,0-17,7.60143-17,17c0,9.39855,7.60144,17,17,17C28.69557,41.43751,34.71981,31.73002,33.05286,22.00891z"/>
          </g>
        {% when 'fancy' %}
          <g fill="none">
            <path d="M0 5.3C0 2.3 2.4 0 5.3 0h37.4c3 0 5.3 2.4 5.3 5.3v37.4c0 3-2.4 5.4-5.3 5.4H5.3c-3 0-5.3-2.3-5.3-5.3V5.3z" fill="#40A4E6"/>
            <path d="M26.5 31H32c1 0 1.5-.7 1.5-1.4V18.2c0-5.3-4.3-9.5-9.5-9.5s-9.5 4.2-9.5 9.5v11.4c0 .7.6 1.3 1.4 1.3h5.6v6c0 1.5 1 2.6 2.4 2.6s2.5-1 2.5-2.5v-6z" fill="#FFF"/>
          </g>
        {% when 'youtube' %}
          <path fill="#DC2217" d="M47.5 14.4s-.4-3.3-2-4.8c-1.7-2-3.8-2-4.7-2C34 7 24 7 24 7s-10 0-16.8.6c-1 0-3 0-4.8 2-1.5 1.5-2 4.8-2 4.8s-.4 4-.4 7.8v3.6c0 4 .5 7.8.5 7.8s.4 3.3 2 4.7c1.7 2 4 2 5.2 2 3.8.5 16.3.6 16.3.6s10 0 16.8-.6c1 0 3 0 4.8-2 1.5-1.5 2-4.8 2-4.8s.4-4 .4-7.8v-3.6c0-4-.5-7.8-.5-7.8z"/><path fill="#FFF" d="M19 30.2V16.7l13 6.8-13 6.7z"/>
        {% when 'vimeo' %}
          <path fill="#00B6EC" d="M48 12.8c-.2 4.7-3.5 11-9.8 19.2-6.5 8.5-12 12.8-16.6 12.8-2.8 0-5-2.6-7-7.8l-4-14.2C9.2 17.6 7.6 15 6 15c-.3 0-1.6.8-3.7 2.3l-2.3-3 7-6c3.2-3 5.5-4.3 7-4.4 4-.5 6.2 2 7 7.5 1 6 1.6 9.6 2 11 1 5 2.2 7.3 3.5 7.3 1 0 2.5-1.5 4.5-4.7 2-3 3-5.5 3.3-7.2.3-2.7-.8-4-3.3-4-1 0-2.3.2-3.5.7C29.8 6.8 34.5 3 41 3.3c5 0 7.3 3.3 7 9.5z"/>
        {% else %}
          <!-- No '{{ icon }}' icon with '{{ style }}' style found -->
          <path class="stroke" d="M26.6 5.4L5.4 26.6"/><circle class="stroke" cx="16" cy="16" r="15"/>
        {%- endcase -%}

      {% else %}
        <!-- Icon '{{ style }}' style not found -->
      {% endif %}
  </svg>
</span>
{% assign icon_size = null %}
