<!-- /snippets/social-meta-tags.liquid -->

{% comment %}
  Open graph tags
{% endcomment %}
{% if template == 'index' %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  {% if settings.og_share_image %}
  <meta property="og:image" content="http:{{ settings.og_share_image | img_url: '1200x1200' }}"> 
  <meta property="og:image:secure_url" content="https:{{ settings.og_share_image | img_url: '1200x1200' }}" /> 
  {% endif %}
{% elsif template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  <meta property="og:image" content="http:{{ product.featured_image | img_url: '1024x1024' }}">
  <meta property="og:image:secure_url" content="https:{{ product.featured_image | img_url: '1024x1024' }}">
  <meta property="og:description" content="{{ product.description | strip_html | escape }}">
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  {% if article.image %}
    <meta property="og:image" content="http:{{ article | img_url: '1024x1024' }}">
    <meta property="og:image:secure_url" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
  <meta property="og:description" content="{{ article.excerpt_or_content | strip_html | escape }}">
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title | escape }}">
  {% if settings.og_share_image %}
    <meta property="og:image" content="http:{{ settings.og_share_image | img_url: '1200x1200' }}"> 
    <meta property="og:image:secure_url" content="https:{{ settings.og_share_image | img_url: '1200x1200' }}" /> 
  {% elsif settings.logo != blank %}
    <meta property="og:image" content="http:{{ settings.logo | img_url: '800x800' }}">
    <meta property="og:image:secure_url" content="https:{{ settings.logo | img_url: '800x800' }}">
  {% endif %}
{% endif %}
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">

{% comment %}
  Twitter card
{% endcomment %}
{% unless settings.social_twitter_link == blank %}
  <meta name="twitter:site" content="@{{ settings.social_twitter_link | split: 'twitter.com/' | last }}">
{% endunless %}
{% if template contains 'article' and article.image %}
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  {% unless template contains 'product'%}
  <meta name="twitter:card" content="summary">
  {% endunless %}
{% endif %}
{% if template == 'index' %}
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description | escape }}">
  {% if settings.twitter_share_image %} 
  <meta name="twitter:image" content="http:{{ settings.twitter_share_image | img_url: '1200x1200' }}"> 
  {% endif %}
{% elsif template contains 'product' %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncate: 200, '' | escape }}">
  <meta name="twitter:image" content="https:{{ product.featured_image | img_url: '1024x1024' }}">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncate: 200, '' | escape }}">
  {% if article.image %}
    <meta property="twitter:image" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
{% endif %}
