<!-- /snippets/popup-quicklook.liquid -->

<div id="PopupQuicklook" class="popup overlay" role="alert">
  <div class="popup-inner">
    <div class="popup-content">
      <div class="popup-overflow">
        <div id="Quicklook"></div>
      </div>
      <a href="#close" class="popup-close" data-close data-target="#PopupQuicklook" aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
    </div>
  </div>
</div>

<script id="QuicklookTemplate" type="text/x-handlebars-template">
  {% raw %}
  <div class="row collapsed no-margin">

    <div class="column l7 m7 s12 collapsed relative">
      <div class="product-zoom-overlay absolute center s-hide bg-alternate fg-foreground palette"><h5 class="no-margin">{{{ title }}}</h5></div>
      <div id="ProductPhoto" class="margin-bottom">
        {{#compare images.length '>' 0}}
          {{#each images}}
            <div class="product-image bg-foreground zoom-wrapper">
              <img src="{{this}}">
            </div>
          {{/each}}
        {{else}}
          <div class="product-image bg-foreground">
            <div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
          </div>
        {{/compare}}
      </div>

      {{#compare images.length '>' 1}}
        <div id="ProductThumbs" class="row collapse s-hide">
          {{#each images}}
            <div class="column l3 m3 s6">
              <div class="product-image bg-foreground thumbnail" data-thumbnail>
                <div class="ratio" data-ratio="1:1" style="background-image:url({{this}})"></div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/compare}}
    </div>

    <div class="column l5 m5 s12 collapsed">
      <div class="product-description-tabs">
        <div class="tab-toggles">
          <div class="s-hide active" data-tab-toggle="#TabOverview" data-tab-parent=".product-description-tabs">
            {% endraw %}{{ 'product.overview' | t }}{% raw %}
          </div>
          <div class="s-hide" data-tab-toggle="#TabDescription" data-tab-parent=".product-description-tabs">
            {% endraw %}{{ 'product.description' | t }}{% raw %}
          </div>
        </div>
        <div class="tab-content margin-bottom-2x">
          <div class="s-show active" data-accordion-toggle data-accordion-parent=".product-description-tabs">
            {% endraw %}{{ 'product.overview' | t }}{% raw %}
          </div>
          <!-- Overview content -->
          <div id="TabOverview" class="active" data-tab-content data-accordion-content>
            <h5 class="no-margin w-bold"><a href="/products/{{handle}}">{{{ title }}}</a></h5>
            <p>{% endraw %}{{ 'product.our_price' | t }}{% raw %}<span class="money" id="ProductPrice">{{ price }}</span></p>
            <form id="AddToCartForm">
              <div class="product-variants">
                {{#compare variants.length '>' 1}}
                  {{#compare variants.0.title '!=' "Default Title"}}
                    {{#each options}}
                      <select class="margin-bottom-2x quicklookSelect" data-index="option{{inc @key}}">
                        <option value="">Select an option</option>
                        {{#each ../variants}}
                          <option value="{{this.title}}">{{this.title}}</option>
                        {{/each}}
                      </select>
                    {{/each}}
                  {{/compare}}
                {{/compare}}
              </div>

              <div id="productFormContainer">
                <label for="Quantity" class="no-margin inline w-normal v-middle">{% endraw %}{{ 'product.variants.quantity' | t }}{% raw %}</label>
                <div class="quantity-adjust inline v-middle">
                  <input type="number" class="quantity" name="quantity" value="1" min="1" data-quick-add-quantity>
                </div>
                <p class="no-margin">
                  {{metafields.shipsto.country}}
                </p>
                <p>
                  {{#compare metafields.productinfo.customizable '==' 'yes'}}
                    <a class="button medium no-hover margin-top-2x" href="/products/{{handle}}">
                      {{{strings.customize}}}
                    </a>
                  {{else}}
                    {{#compare variants.length '>' 1}}
                      <button class="medium no-hover margin-top-2x" data-close data-target="#PopupQuicklook" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1" disabled>
                        <span class="AddToCartText" data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
                          {{{strings.makeASelection}}}
                        </span>
                      </button>
                    {{else}}
                      <button class="medium no-hover margin-top-2x" data-close data-target="#PopupQuicklook" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1" {{#unless variants.0.available}}disabled{{/unless}}>
                        <span class="AddToCartText" data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
                          {{#compare metafields.pre_order '==' true}}
                            {{{strings.preOrder}}}
                          {{else}}
                            {{#unless variants.0.available}}
                            {{{strings.soldOut}}}
                            {{else}}
                            {{{strings.addToCart}}}
                            {{/unless}}
                          {{/compare}}
                        </span>
                      </button>
                    {{/compare}}
                  {{/compare}}
                  <div style="color: #FF4136; font-weight: bold; ">ALL SALES FINAL</div>
                </p>
              </div>
            </form>

            <div class="rte"><p>{{{ metafields.description.short }}}</p></div>
          </div>
          <!-- Accordion toggle -->
          <div class="s-show" data-accordion-toggle data-accordion-parent=".product-description-tabs">
            {% endraw %}<p>{{ 'product.description' | t }}</p>{% raw %}
          </div>
          <!-- Description content -->
          <div id="TabDescription" data-tab-content data-accordion-content>
            <div class="rte"><p>{{{ description }}}</p></div>
            <p>{% endraw %}{{ 'product.our_price' | t }}{% raw %}<span class="money" id="ProductPrice">{{ price }}</span></p>

            <form id="pseudoForm">

              <div class="product-variants">
                {{#compare variants.length '>' 1}}
                  {{#compare variants.0.title '!=' "Default Title"}}
                    {{#each options}}
                      <select class="margin-bottom-2x pseudoQuicklookSelect" data-index="option{{inc @key}}">
                        <option value="">Select an option</option>
                        {{#each ../variants}}
                          <option value="{{this.title}}">{{this.title}}</option>
                        {{/each}}
                      </select>
                    {{/each}}
                  {{/compare}}
                {{/compare}}
              </div>

              <div id="productFormContainer">
                <label for="Quantity" class="no-margin inline w-normal v-middle">{% endraw %}{{ 'product.variants.quantity' | t }}{% raw %}</label>
                <div class="quantity-adjust inline v-middle">
                  <input type="number" class="quantity" name="quantity" value="1" min="1" data-pseudo-quick-add-quantity>
                </div>
                <p class="no-margin">
                  {{metafields.shipsto.country}}
                </p>
                <p>
                  {{#compare metafields.productinfo.customizable '==' 'yes'}}
                    <a class="button medium no-hover medium no-hover margin-top-2x" href="/products/{{handle}}">
                      {{{strings.customize}}}
                    </a>
                  {{else}}
                    {{#compare variants.length '>' 1}}
                      <button class="medium no-hover margin-top-2x" data-close data-target="#PopupQuicklook" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1" disabled>
                        <span class="AddToCartText" data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
                          {{{strings.makeASelection}}}
                        </span>
                      </button>
                    {{else}}
                      <button class="medium no-hover margin-top-2x" data-close data-target="#PopupQuicklook" type="submit" name="add" data-quick-add="{{ variants.0.id }}" data-quick-add-qty="1" {{#unless variants.0.available}}disabled{{/unless}}>
                        <span class="AddToCartText" data-add-text="{{#compare metafields.pre_order '==' true}}{{{strings.preOrder}}}{{else}}{{{strings.addToCart}}}{{/compare}}">
                          {{#compare metafields.pre_order '==' true}}
                            {{{strings.preOrder}}}
                          {{else}}
                            {{#unless variants.0.available}}
                            {{{strings.soldOut}}}
                            {{else}}
                            {{{strings.addToCart}}}
                            {{/unless}}
                          {{/compare}}
                        </span>
                      </button>
                    {{/compare}}
                  {{/compare}}
                  <div style="color: #FF4136; font-weight: bold; ">ALL SALES FINAL</div>
                </p>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
  {% endraw %}
</script>

<script>
  // Email validation
  function isQuicklookEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }

  $(document).ready(function() {
    concrete.quickLook = {
      settings: {
        popup: '#PopupQuicklook',
        trigger: '[data-quicklook]',
        container: '#Quicklook',
        template: '#QuicklookTemplate',
        addToCartText: '.AddToCartText',
        images: {
          currentSlide: 0,
          container: '#ProductPhoto',
          zoom: {
            container: '.zoom-wrapper'
          },
          slick: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            autoplay: false,
            fade: true,
            dots: false,
            arrows: false,
            pauseOnHover: false,
            speed: {{ settings.transition_speed }},
            adaptiveHeight: false,
            responsive: [
              {
                breakpoint: {{ settings.breakpoint_m }},
                settings: {
                  dots: true,
                  customPaging: function(slider, i) {
                    return '';
                  }
                }
              }
            ]
          }
        }
      },
      images: function() {
        $(concrete.quickLook.settings.images.container).slick(concrete.quickLook.settings.images.slick);
        concrete.quickLook.thumbnails(concrete.quickLook.settings.container);
        concrete.quickLook.zoom(concrete.quickLook.settings.container);
      },
      zoom: function(target) {
        $(target).find(concrete.quickLook.settings.images.container + ' ' + concrete.quickLook.settings.images.zoom.container).zoom({
          onZoomIn: function() {
            $(target).find(concrete.quickLook.settings.images.zoom.container).closest('#Quicklook').find('.product-zoom-overlay').addClass('active');
          },
          onZoomOut: function() {
            $(target).find(concrete.quickLook.settings.images.zoom.container).closest('#Quicklook').find('.product-zoom-overlay').removeClass('active');
          }
        });
      },
      thumbnails: function(target) {
        $(target).find('[data-thumbnail]').on({
          mouseenter: function() {
            var currentSlide = $(concrete.quickLook.settings.images.container).slick('slickCurrentSlide');
            concrete.quickLook.settings.images.currentSlide = currentSlide;
            var index = $(this).closest('.column').index();
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          },
          mouseleave: function() {
            var index = concrete.quickLook.settings.images.currentSlide;
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          },
          click: function() {
            $('[data-thumbnail]').removeClass('active');
            $(this).addClass('active');
            var index = $(this).closest('.column').index();
            concrete.quickLook.settings.images.currentSlide = index;
            $(target).find(concrete.quickLook.settings.images.container).slick('slickGoTo', index);
          }
        });
      },
      init: function() {
        var quicklookPopup = new Focus(concrete.quickLook.settings.popup);

        $(document).on('focus:close', function(event, target) {
          if (target == concrete.quickLook.settings.popup) {
            setTimeout(function() {
              $(concrete.quickLook.settings.popup).find('.slick-initialized').slick('unslick');
              $(concrete.quickLook.settings.container).empty();
            }, {{ settings.transition_speed }});
          }
        });

        // Raincheck on click
        $('body').on('click', '#raincheckQuicklookSubmit', function(e) {
          // prevent default so that we do not submit the product form
          e.preventDefault();

          // Prevent blank submissions
          if (isQuicklookEmail($('#raincheckQuicklookEmail').val()) != '') {
            // Manually serialize the data because we are not using a true form.
            var serialized = "customer_email=" + encodeURIComponent($('#raincheckQuicklookEmail').val()) + "&product_id=" + encodeURIComponent($('#raincheckQuicklookProductID').val());
            $('#raincheckQuicklookContainer').css('cursor', 'wait').find('button').css('pointer-events', 'none').css('opacity', '0.5');
            // Post the data to the app
            $.post('//raincheck-elkfox.herokuapp.com/add/?shop={{ shop.permanent_domain | remove: '.myshopify.com' }}', serialized)
            .done (
              function(response) {
                $("#raincheckQuicklookContainer").removeAttr('style').find('button').removeAttr('style');
                if (response!=="OK") {
                  $("#raincheckQuicklookOutOfStock").hide()
                  $("#raincheckQuicklookForm").hide()
                  $("#raincheckQuicklookError .errorMessage").html(response)
                  $("#raincheckQuicklookError").show()
                } else {
                  $("#raincheckQuicklookOutOfStock").hide()
                  $("#raincheckQuicklookForm").hide()
                  $("#raincheckQuicklookSuccess").show()
                }
              }
            )
            .error (
              function(XMLHttpRequest, textStatus, errorThrown) {
                $("#raincheckQuicklookContainer").removeAttr('style').find('button').removeAttr('style');
                $("#raincheckQuicklookError .errorMessage").html('<i>Something went wrong, please try that again<i>')
                $("#raincheckQuicklookError").show()
              }
            )
          }
        });

        $('body').on('click', concrete.quickLook.settings.trigger, function(event) {
          event.preventDefault();
          // Get the id of the product that we wish to load
          var productSelector = $(this).data('quicklook');

          // We use this as a selector for productSlick
          var quicklookObject = $(this);

          // This element stores our product json
          var product = $('pre[data-product="'+ productSelector +'"]').first().text();
          var metafields = $('pre[data-metafields="'+ productSelector +'"]').first().text();
          product = $.parseJSON(product);
          metafields = $.parseJSON(metafields);
          product.metafields = metafields;
          product.strings = concrete.strings;

          // Parse our data froma string to valid JSON
          var context = product;

          // Get the Handlebars template
          var source = $(concrete.quickLook.settings.template).html();

          // Compile our product JSON with the template
          var template = Handlebars.compile(source);

          // Return the html
          var html = template(context);

          // Update the popups html
          $(concrete.quickLook.settings.container).html(html);

          // Format all of the money$ - these need to be wrapped in <span class="money">
          $(concrete.quickLook.settings.container).find('span.money').each(function() {
            var money = $(this).text();
            $(this).html(concrete.Currency.formatMoney(money));
          });

          // Initialize the slick slideshow inside the popup
          concrete.quickLook.images();

          // Init qty selectors
          $(concrete.quickLook.settings.container).find('[data-quick-add-quantity]').on('input, change', function(event) {
            var newQty = $(this).val();
            $(concrete.quickLook.settings.container).find('[data-pseudo-quick-add-quantity]').val(newQty);
            $(concrete.quickLook.settings.container).find('[data-quick-add-qty]').attr('data-quick-add-qty', newQty);
          });

          // Init pseudo quantity selectors
          $(concrete.quickLook.settings.container).find('[data-pseudo-quick-add-quantity]').on('input, change', function(event) {
            var newQty = $(this).val();
            $(concrete.quickLook.settings.container).find('[data-quick-add-quantity]').val(newQty);
            $(concrete.quickLook.settings.container).find('[data-quick-add-qty]').attr('data-quick-add-qty', newQty);
          });

          // Construct the dropdown to be a legitamte option selector
          options = {
            // This need to be an overarching elemnt that always exists
            $container: $(concrete.quickLook.settings.popup),
            // Don't change the url to match the variant in the quicklook context
            enableHistoryState: false,
            // This is the dropdown itself
            singleOptionSelector: '.quicklookSelect',
            // this is our product json
            product: context
          }
          // construct!
          var variantSwitcher = new concrete.Variants(options);

          // Variant select onChange
          $(document).on('change', '.quicklookSelect', function() {
            var option = $(this).data('index');
            var value = $(this).val();
            $(concrete.quickLook.settings.popup).find('.pseudoQuicklookSelect[data-index="'+option+'"]').val(value);
          });
          // Pseudo variant select onChange
          $(document).on('change', '.pseudoQuicklookSelect', function() {
            var option = $(this).data('index');
            var value = $(this).val();
            $(concrete.quickLook.settings.popup).find('.quicklookSelect[data-index="'+option+'"]').val(value);
            variantSwitcher._onSelectChange();
          });

          // Do what needs doing when the variant is changed
          $(concrete.quickLook.settings.popup).on('variantChange', function(event) {
            if (event.variant) {
              $('#raincheckQuicklookProductID').val(event.variant.id);
              // Update the quick-add button to contain the correct variant
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').data('quick-add', event.variant.id);

              // Check if out variant is sold out or not and change the button to suit
              if (event.variant.available) {
                $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", false).find(concrete.quickLook.settings.addToCartText).html($(concrete.quickLook.settings.popup).find('[data-quick-add]').find(concrete.quickLook.settings.addToCartText).data('add-text'));
                $("#raincheckQuicklookContainer").hide();
                $("#productFormContainer").show();
              } else {
                $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", true).find(concrete.quickLook.settings.addToCartText).html(concrete.strings.soldOut);
                $("#raincheckQuicklookContainer").show();
                $("#productFormContainer").hide();
              }
            } else {
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop("disabled", true).find(concrete.quickLook.settings.addToCartText).html(concrete.strings.makeASelection);
            }
          });

          // Disable the add to cart button when we switch back to the "Select an option" option
          options.$container.on('change', options.singleOptionSelector, function() {
            if ($(this).val() == '') {
              $(concrete.quickLook.settings.popup).find('[data-quick-add]').prop('disabled', true);
            }
          });

          quicklookPopup.show();
        })
      }
    }

    concrete.quickLook.init();
  });
</script>
