<!-- /snippets/popup-cart.liquid -->

{% comment %}
  This snippets adds the ability to display the cart contents on any shopify page.
  Dependencies:
   - Handlebars
{% endcomment %}

<div id="PopupCart" class="popup outset sticky">
  <div class="popup-inner">
    <div class="popup-content fg-text palette left">
      <div class="items">
        <div class="row table table-header collapse s-hide">
          <div class="column l6">
            <h5 class="no-margin">{{ 'cart.popup.product' | t }}</h5>
          </div>
          <div class="column l2">
            <h5 class="no-margin">{{ 'cart.popup.price' | t }}</h5>
          </div>
          <div class="column l1">
            <h5 class="no-margin">{{ 'cart.popup.quantity' | t }}</h5>
          </div>
          <div class="column l3">
            <h5 class="no-margin">{{ 'cart.popup.sub_total' | t }}</h5>
          </div>
        </div>
        <div class="row table s-show">
          <div class="column l12">
            <h3 class="no-margin">{{ 'cart.header' | t }}</h3>
          </div>
        </div>
        <hr>
        <div data-item-container>
          {% for item in cart.items %}
            <div class="row cart-item table collapse">
              <div class="column l6 m6 s8 v-top">
                <div class="row table collapse">
                  <div class="column l3 v-top">
                    <div class="product-image">
                      {% if item.properties.ezp_thumbnail %}
                        <div class="ratio" data-ratio="1:1" style="background-image:url({{ item.properties.ezp_thumbnail }})"></div>
                      {% else %}
                        {% if item.image %}
                          <div class="ratio" data-ratio="1:1" style="background-image:url({{ item.image | img_url: '200x' }})"></div>
                        {% else %}
                          <div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="column l9 v-top">
                    <p class="w-bold">
                      <a class="fg-brand" href="{{ item.url }}">{{ item.title }}</a>
                    </p>
                    <p class="no-margin s-show">{{ 'cart.popup.quantity' | t }}: {{ item.quantity }}</p>
                  </div>
                </div>
              </div>
              <div class="column l2 v-top s-hide">
                {% if item.product.compare_at_price > item.price %}
                  <p class="no-margin">
                    <span class="sale_price">{{ item.price | money }}</span>
                  </p>
                  <p class="no-margin">
                    <span class="original_price">{{ item.product.compare_at_price | money }}</span>
                  </p>
                  <p class="no-margin">
                    <span class="savings">
                      {% assign difference = item.product.compare_at_price | minus: item.price %}
                      {% assign difference = difference | append: '.0' %}
                      {% assign savings = difference | divided_by: item.product.compare_at_price | times: 100 %}
                      (save {{ savings | round | append: '%' }})
                    </span>
                  </p>
                {% else  %}
                  <p class="no-margin">
                    <span>{{ item.price | money }}</span>
                  </p>
                {% endif %}
              </div>
              <div class="column l1 v-top s-hide">
                <p class="no-margin">{{ item.quantity }}</p>
              </div>
              <div class="column l3 m3 s4 v-top s-right">
                {% if item.total_discount > 0 %}
                  <p class="no-margin">
                    {% if item.line_price != 0 %}{{ item.line_price | money_with_currency  }}{% else %}Free{% endif %}
                    <span> </span>
                    <s class="small">{{ item.original_line_price | money_with_currency }}</s>
                  </p>
                  {% for discount in item.discounts %}
                    <small class="no-margin">{{ discount.title }}</small><br>
                  {% endfor %}
                {% else %}
                  <p class="no-margin">
                    {{ item.line_price | money_with_currency }}
                  </p>
                {% endif %}
              </div>
            </div>
          {% else %}
            <p class="fg-alternate center h6 w-normal">{{ 'cart.empty' | t }}</p>
          {% endfor %}
        </div>
      </div>
      <hr class="dashed">
      <div class="padding-top padding-bottom">
        <div class="row collapse table">
          <div class="column l6 m6 s12 s-center v-middle">
            <a class="button medium w-bold" href="/cart" aria-label="{{ 'cart.view_cart' | t }}">{{ 'cart.view_cart' | t }}</a>
          </div>
          <div class="column l6 right v-middle s-hide">
            <a href="/checkout" class="button medium blue w-bold" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a>
          </div>
        </div>
        <div class="row collapse table s-show">
          <div class="column l12 center">
            <a href="/checkout" class="button medium blue w-bold margin-top" aria-label="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</a>
          </div>
        </div>
        <a href="#close" class="popup-close" data-close data-target="#PopupCart.popup" aria-label="{{ 'common.close' | t }}"><img src="{{ 'cart-close.png' | asset_url }}"></a>
      </div>
    </div>
  </div>
  {% raw %}
  <script data-cart-template type="text/x-handlebars-template">
    <div class="row cart-item table collapse">
      <div class="column l6 m6 s8 v-top">
        <div class="row table collapse">
          <div class="column l3 v-top">
            <div class="product-image">
              {{#if lineItem.properties.ezp_thumbnail}}
                <div class="ratio" data-ratio="1:1" style="background-image:url({{lineItem.properties.ezp_thumbnail}})"></div>
              {{else}}
                {{#if lineItem.image}}
                  <div class="ratio" data-ratio="1:1" style="background-image:url({{lineItem.image}})"></div>
                {{else}}
                  <div class="ratio placeholder-background-product-1" data-ratio="1:1"></div>
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="column l9 v-top">
            <p class="w-bold">
              <a class="fg-brand" href="{{lineItem.url}}">{{lineItem.title}}</a>
            </p>
            <p class="no-margin s-show">{% endraw %}{{ 'cart.popup.quantity' | t }}:{% raw %} {{lineItem.quantity}}</p>
          </div>
        </div>
      </div>
      <div class="column l2 v-top s-hide">
        <p class="no-margin">
          ${{formatMoney lineItem.price}}
        </p>
      </div>
      <div class="column l1 v-top s-hide">
        <p class="no-margin">{{lineItem.quantity}}</p>
      </div>
      <div class="column l3 m3 s4 v-top s-right">
        {{#if lineItem.total_discount}}
          <p class="no-margin">
            {{#if lineItem.line_price}}
              ${{formatMoney lineItem.line_price}}
            {{else}}
              Free
            {{/if}}
            <span> </span>
            <s class="small">${{formatMoney lineItem.original_line_price}}</s>
          </p>
          {{#each lineItem.discounts}}
             <small class="no-margin">{{this.title}}</small><br>
          {{/each}}
        {{else}}
          <p class="no-margin">
            ${{formatMoney lineItem.line_price}}
          </p>
        {{/if}}
      </div>
    </div>
  </script>
  {% endraw %}
</div>
<script>
  var cartPopup = new Focus('#PopupCart.popup');
</script>
