<!-- snippets/product-description.liquid -->

{% comment %}
  Product info tabs and accordions.

  Desktop view has tabs and mobile views have accordion.

  The tabs require an id to fire correctly

  The accordion needs to be after the tab in the DOM to fire correctly.
{% endcomment %}

<div class="product-description">
  {% if has_tabs %}
    <div class="tab-toggles">
      {% if tabs and product_tabs != blank %}
        {% for tab in product_tabs %}

          {% comment %}
            Desktop and tablet full description tab buttons
          {% endcomment %}
          <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabDescription_{{ forloop.index }}" data-tab-parent=".product-description">
            {% if tab contains '</h4>' %}
              {{ tab | append: '<h4>' | split: '</h4>' | first | append: '</h4>' }}
            {% else %}
              {% if product.type == 'Blu-ray & DVD' %}{{ 'product.synopsis' | t }}{% else %}{{ 'product.overview' | t }}{% endif %}
            {% endif %}
          </div>

          {% comment %}
           Mobile full description tab button
          {% endcomment %}
          <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
            {% if tab contains '</h4>' %}
              {{ tab | append: '<h4>' | split: '</h4>' | first | append: '</h4>' }}
            {% else %}
              {% if product.type == 'Blu-ray & DVD' %}{{ 'product.synopsis' | t }}{% else %}{{ 'product.overview' | t }}{% endif %}
            {% endif %}
          </div>

          {% comment %}
            Mobile description split tab buttons
          {% endcomment %}
          <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
            <div class="rte" itemprop="description">
              {% if tab contains '</h4>' %}
                {{ tab | split: '</h4>' | last }}
              {% else %}
                {{ tab }}
              {% endif %}
            </div>
          </div>
          {% assign active_tab = true %}
        {% endfor %}
      {% else %}
        {% comment %}
          Description split tab currently not in use as we are using metafields for short descritpion.
        {% endcomment %}
        {% comment %}
          {% unless product_description == blank %}
            <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabDescription" data-tab-parent=".product-description">{{ 'product.overview' | t }}</div>
            <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">{{ 'product.overview' | t }}</div>
            <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
              <div class="rte" itemprop="description">
                {% unless product_description contains '<p' %}<p>{% endunless %}
                  {{ product_description }}
                {% unless product_description contains '<p' %}</p>{% endunless %}
              </div>
            </div>
            {% assign active_tab = true %}
          {% endunless %}
        {% endcomment %}

        {% comment %}
          Overview description tab button
        {% endcomment %}
        <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabDescription" data-tab-parent=".product-description">{% if product.type == 'Blu-ray & DVD' %}{{ 'product.synopsis' | t }}{% else %}{{ 'product.overview' | t }}{% endif %}</div>
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">{% if product.type == 'Blu-ray & DVD' %}{{ 'product.synopsis' | t }}{% else %}{{ 'product.overview' | t }}{% endif %}</div>
        {% comment %}
          Accordion contents
        {% endcomment %}
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
          <div class="rte" itemprop="description">
            <p>
              {{ product.description }}
            </p>
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}


      {% if product.metafields.productinfo.size_chart != blank %}
        {% comment %}
          Size chart tab buttons
        {% endcomment %}
        <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabSizeChart" data-tab-parent=".product-description">
          Size chart
        </div>
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
          Size chart
        </div>
        {% comment %}
          Size chart accordion content
        {% endcomment %}
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
          <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

          </div>
        </div>
      {% endif %}

      {% if product.variants[0].metafields.variantinfo.runtime != blank or product.variants[0].metafields.variantinfo.format != blank %}
        {% comment %}
          Film specification tab buttons
        {% endcomment %}
        <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabFilmDetails" data-tab-parent=".product-description">
          Details
        </div>
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
          Details
        </div>
        {% comment %}
          Film specification accordion content
        {% endcomment %}
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
          <div class="rte">
            <p>
              {% if product.variants[0].metafields.variantinfo.runtime != blank %}
                <strong>Running Time:</strong> {{ product.variants[0].metafields.variantinfo.runtime }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.format != blank %}
                <strong>Format:</strong> {{ product.variants[0].metafields.variantinfo.format }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.packaging_type != blank %}
                <strong>Box Type:</strong> {{ product.variants[0].metafields.variantinfo.packaging_type }}<br>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}

      {% if product.metafields.productinfo.customizable == 'yes' %}
        {% comment %}
          Personalization explanation tab buttons
        {% endcomment %}
        <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabPersonalize" data-tab-parent=".product-description">
          Personalizing your product
        </div>
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description">
          Personalizing your product
        </div>
        {% comment %}
          Personalization explanation accordion content
        {% endcomment %}
        <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
          <div class="rte">
            <p>
              It's easy to create your own customized merchandise on WBshop.com. For items like this one which allow you to add your own text, simply click the "Customize It" button to get started. Then click the mouse in the top text region of the product. Enter the text you'd like to include and click the "Done" button.
            </p>
            <p>
              If the product has more than one text region you can click the left and right arrows in the white help box to move from one region to another before clicking the "Done" button. Also, some products let you select the typeface you'd like to use, as well as the text color and other attributes.
            </p>
            <p>
              When you're finished customizing your product please check your work carefully to make sure that all the text is spelled correctly. Then simply click the "Add to Cart" button and your unique creation will be ready for you to purchase. It's that easy!
            </p>
          </div>
        </div>
      {% endif %}

      {% comment %}
        Theme section tabs
      {% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'tab' %}
          {% assign display = false %}

          {% if block.settings.display == '' or block.settings.display_on == blank %}
            {% assign display = true %}
          {% elsif block.settings.display == 'tag' %}
            {% if product.tags contains block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'type' %}
            {% if product.type == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'vendor' %}
            {% if product.vendor == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% endif %}

          {% if display %}
            <div class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-toggle="#TabBlock_{{ block.id }}" data-tab-parent=".product-description" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                <div class="rte">{{ block.settings.title }}</div>
              {% elsif pages[block.settings.page].title != blank %}
                <div class="rte">{{ pages[block.settings.page].title }}</div>
              {% endif %}
            </div>
            <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-toggle data-accordion-parent=".product-description" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                <div class="rte">{{ block.settings.title }}</div>
              {% elsif pages[block.settings.page].title != blank %}
                <div class="rte">{{ pages[block.settings.page].title }}</div>
              {% endif %}
            </div>
            <div class="s-show{% unless active_tab %} active{% endunless %}" data-accordion-content>
              {% if pages[block.settings.page].content != blank %}
                <div class="rte">{{ pages[block.settings.page].content }}</div>
              {% else %}
                <div class="rte">{{ block.settings.content }}</div>
              {% endif %}
            </div>
            {% assign active_tab = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    {% assign active_tab = false %}

    {% comment %}
      Tab contents
    {% endcomment %}
    <div class="tab-content margin-bottom-2x s-hide">
      {% if tabs and product_tabs != blank %}
        {% for tab in product_tabs %}
          <div id="TabDescription_{{ forloop.index }}" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
            <div class="rte" itemprop="description">
              {% if tab contains '</h4>' %}
                {{ tab | split: '</h4>' | last }}
              {% else %}
                {{ tab }}
              {% endif %}
            </div>
          </div>
          {% assign active_tab = true %}
        {% endfor %}
      {% else %}
        {% comment %}
          {% unless product_description == blank %}
            <div id="TabDescription" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
              <div class="rte" itemprop="description">
                {% unless product_description contains '<p' %}<p>{% endunless %}
                  {{ product_description }}
                {% unless product_description contains '<p' %}</p>{% endunless %}
              </div>
            </div>
            {% assign active_tab = true %}
          {% endunless %}
        {% endcomment %}

        {% comment %}
          Description/Overview tab content
        {% endcomment %}
        <div id="TabDescription" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte" itemprop="description">
            <p>{{ product.description }}</p>
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% comment %}
        Size chart tab content
      {% endcomment %}
      {% if product.metafields.productinfo.size_chart != blank %}
        <div id="TabSizeChart" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% comment %}
        Movie specifications tab content
      {% endcomment %}
      {% if product.variants[0].metafields.variantinfo.runtime != blank or product.variants[0].metafields.variantinfo.format != blank %}
        <div id="TabFilmDetails" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte">
            <p>
              {% if product.variants[0].metafields.variantinfo.runtime != blank %}
                <strong>Running Time:</strong> {{ product.variants[0].metafields.variantinfo.runtime }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.format != blank %}
                <strong>Format:</strong> {{ product.variants[0].metafields.variantinfo.format }}<br>
              {% endif %}
              {% if product.variants[0].metafields.variantinfo.packaging_type != blank %}
                <strong>Box Type:</strong> {{ product.variants[0].metafields.variantinfo.packaging_type }}<br>
              {% endif %}
            </p>
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% comment %}
        Size chart tab content
      {% endcomment %}
      {% if product.metafields.productinfo.customizable == 'yes' %}
        <div id="TabPersonalize" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
          <div class="rte">
            <p>
              It's easy to create your own customized merchandise on WBshop.com. For items like this one which allow you to add your own text, simply click the "Customize It" button to get started. Then click the mouse in the top text region of the product. Enter the text you'd like to include and click the "Done" button.
            </p>
            <p>
              If the product has more than one text region you can click the left and right arrows in the white help box to move from one region to another before clicking the "Done" button. Also, some products let you select the typeface you'd like to use, as well as the text color and other attributes.
            </p>
            <p>
              When you're finished customizing your product please check your work carefully to make sure that all the text is spelled correctly. Then simply click the "Add to Cart" button and your unique creation will be ready for you to purchase. It's that easy!
            </p>
          </div>
        </div>
        {% assign active_tab = true %}
      {% endif %}

      {% for block in section.blocks %}
        {% if block.type == 'tab' %}
          {% assign display = false %}

          {% if block.settings.display == '' or block.settings.display_on == blank %}
            {% assign display = true %}
          {% elsif block.settings.display == 'tag' %}
            {% if product.tags contains block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'type' %}
            {% if product.type == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% elsif block.settings.display == 'vendor' %}
            {% if product.vendor == block.settings.display_on %}
              {% assign display = true %}
            {% endif %}
          {% endif %}

          {% if display %}
            <div id="TabBlock_{{ block.id }}" class="s-hide{% unless active_tab %} active{% endunless %}" data-tab-content>
              {% if pages[block.settings.page].content != blank %}
                <div class="rte">{{ pages[block.settings.page].content }}</div>
              {% else %}
                <div class="rte">{{ block.settings.content }}</div>
              {% endif %}
            </div>
            {% assign active_tab = true %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% comment %}
      Description split tab currently not in use as we are using metafields for short descriptions
    {% endcomment %}
    {% comment %}
      {% unless product_description == blank %}
        <div class="rte margin-bottom-2x" itemprop="description">
          {% unless product_description contains '<p' %}<p>{% endunless %}
            {{ product_description }}
          {% unless product_description contains '<p' %}</p>{% endunless %}
        </div>
      {% endunless %}
    {% endcomment %}
    <div class="rte margin-bottom-2x" itemprop="description">
      <p>{{ product.description }}</p>
    </div>
  {% endif %}
</div>

<script>
  $(document).on('ready', function() {
    $("[data-include-content]").each(function() {
      var file = $(this).data('include-content');
      $(this).load(file);
    });
  });
</script>
