<!-- snippets/product-related.liquid -->

{% assign related_limit = 3 %}
{% assign related_counter = 0 %}
{% assign parent_product = product %}
{% assign has_related = false %}
{% assign has_related_category = false %}
{% assign recommended_products = '' %}

{% case related_limit %}
  {% when 2 %}
    {% assign column_width = 'column l6 m6 s6' %}
  {% when 3 %}
    {% assign column_width = 'column l4 m4 s12' %}
  {% when 4 %}
    {% assign column_width = 'column l3 m6 s12' %}
  {% when 6 %}
    {% assign column_width = 'column l2 m6 s12' %}
{% endcase %}

{% comment %}
  Get any curated related products
  First from metafields, then from tagged product handles prepended with 'related-'
{% endcomment %}
{% if parent_product.metafields.related.products %}
  {% assign related_products = product.metafields.related.products | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
  {% assign has_related = true %}
{% else %}
  {% assign related_products = '' %}
  {% for tag in parent_product.tags %}
    {% if tag contains 'related-' %}
      {% assign product_handle = tag | remove: 'related-' %}
      {% if product_handle == all_products[product_handle].handle %}
        {% assign related_products = related_products | append: ',' | append: product_handle %}
        {% assign has_related = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign related_products = related_products | remove_first: ',' | split: ',' %}
{% endif %}

{% comment %}
  If there are no curated products, we'll grab related items from this product's collections instead
{% endcomment %}
{% unless has_related %}
  {% if collection %}
    {% assign related_collection = collection %}
  {% elsif parent_product.collections.size > 0 %}
    {% assign related_collection = parent_product.collections | last %}
  {% else %}
    {% assign related_collection = collections.all %}
  {% endif %}
  {% assign related_products = related_collection.products | limit: related_limit %}
{% endunless %}

{% comment %}
  Let's also recommend related products based on this product's existing collections
{% endcomment %}
{% if collection %}
  {% assign related_category_collection = collection %}
  {% assign has_related_category = true %}
{% elsif parent_product.collections.size > 0 %}
  {% assign related_category_collection = parent_product.collections | first %}
  {% assign has_related_category = true %}
{% else %}
  {% assign related_category_collection = collections.all %}
  {% assign has_related_category = true %}
{% endif %}
{% assign related_category_products = related_category_collection.products %}

<div class="related-products padding-top-2x padding-bottom-2x">
  <div class="tab-toggles">
    <div class="active" data-tab-toggle="#TabRelated_1" data-tab-parent=".related-products">
      {{ 'product.related.for_you' | t }}
    </div>
    {% if has_related_category %}
      <div class="" data-tab-toggle="#TabRelated_2" data-tab-parent=".related-products">
        {{ 'product.related.more' | t }}
      </div>
    {% endif %}
    <div class="row condensed no-margin s-show" id="mobile_mb_reviews_section">
    </div>
  </div>

  <div class="tab-contents">
    <div id="TabRelated_1" class="active" data-tab-content>
      <div class="row condensed no-margin"> 
      </div>
    </div>
    {% if has_related_category %}
      <div id="TabRelated_2" data-tab-content>
        <div class="row condensed no-margin">
        </div>
      </div>
    {% endif %}
  </div>
</div>
