<!-- /snippets/template-collection-landing.liquid -->

{% assign heading = section.settings.heading %}

<div class="container l padding-bottom-2x padding-top-2x drop-shadow">
  {% if collection.image %}
    <img class="wide s-hide" src="{{ collection.image | img_url: '1400x' }}" alt="{{ collection.title }}">
  {% endif %}

  <div class="row collapsed no-margin columns-18">
    <div class="column collapsed l4 m4 s18 s-hide">
      <aside>
        {% include 'collection-links' with 'no-limit' %}
      </aside>
    </div>
    <div class="row l-table m-table condensed no-margin m-hide l-hide xl-hide">
      <div class="column l6 m6 s12 left v-middle">
        <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">
          {% if collection_title != blank %}
            {{ collection_title }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </h1>
        {% if collection.description != blank %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
      <div class="column l6 right v-middle">
        <div class="s-hide">
          <label class="inline no-margin v-middle">{{ 'collection.view.title' | t }}</label>
          {% for view in collection_views %}
            {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
            <p class="inline v-middle no-margin">
              {% if view == collection_view %}
                <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
              {% else %}
                <a class="no-decoration" href="/collections/{{ collection.handle }}?type={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-collection-view="{{ view }}">
                  <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                  <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                </a>
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column collapsed l14 m14 s18 main-content">
      <header data-section-type="collection">
        <div class="row collapse no-margin">
          <div class="column l12">
            {% include 'collection-promos' %}
          </div>
        </div>

        {% if heading %}
          <div class="row l-table m-table collapsed margin-bottom">
            <div class="column l6 m6 s12 left v-middle">
              <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">{{ collection.title }}</h1>
              {% if collection.description != blank %}
                <div class="rte">
                  {{ collection.description }}
                </div>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endif %}
      </header>

      <section>
        {% for block in section.blocks %}
          {% if block.type == 'slideshow' %}
            <!-- block.type = slideshow -->
            {% if block.settings.collection == collection.handle %}
              {% assign speed = block.settings.speed %}
              {% assign thumbnails = block.settings.thumbnails %}
              {% assign pause = true %}
              {% assign fade = false %}
              {% assign arrows = false %}
              {% assign size = 0 %}
              {% assign count = 0 %}
              {% assign thumbnail_size = '2000x' %}
              {% assign thumbnail_ratio = '2:1' %}

              <div class="row collapse slideshow-{{ block.id }}" {{ block.shopify_attributes}}>
                <div class="column {% if thumbnails %}l10{% else %}l12{% endif %} m12 s12 margin-bottom">
                  <div class="slideshow-container bg-border">
                    <div id="slick-{{ block.id }}">
                      {% for i in (1..5) %}
                        {% assign image_key = 'image_' | append: i %}
                        {% assign link_key = 'link_' | append: i %}
                        {% if block.settings[image_key] != blank %}
                          {% assign size = size | plus: 1 %}
                          {% if block.settings[link_key] != blank %}<a class="block" href="{{ block.settings[link_key] }}">{% endif %}
                            <div class="wide main-image" style="background-image:url({{ block.settings[image_key] | img_url: '1400x' }}); background-size: cover;">
                            </div>
                          {% if block.settings[link_key] != blank %}</a>{% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% if thumbnails %}
                  <div class="column l2 m-hide s-hide">
                    <div class="thumbnails">
                      {% for i in (1..5) %}
                        <div class="thumbnail{% if i == 1 %} active{% endif %}" data-index="{{ i }}">
                          {% assign title_key = 'title_' | append: i %}
                          {% assign subtitle_key = 'subtitle_' | append: i %}
                          <h6 class="no-margin">{{ block.settings[title_key] }}</h6>
                          <p class="no-margin">{{ block.settings[subtitle_key] }}</p>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>

              <script>
                concrete.slideshow_{{ block.id }} = {
                  settings: {
                    autoplay: {% if speed == 0 %}false{% else %}true{% endif %},
                    speed: {{ settings.transition_speed | times: 3 }},
                    fade: {{ fade }},
                    arrows: {{ arrows }},
                    pauseOnHover: {{ pause }},
                    autoplaySpeed: {{ speed }}000,
                    dots: false,
                    infinite: true,
                    adaptiveHeight: {% if height == ''%}true{% else %}false{% endif %},
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    responsive: [
                      {
                        breakpoint: {{ settings.breakpoint_l }},
                        settings: {
                          arrows: false
                        }
                      }
                    ]
                  },
                  slideshow: function() {
                    $('#slick-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
                  }
                }

                // Theme Editor Javascript API
                $(document).on('shopify:section:load', function(event) {
                  concrete.slideshow_{{ block.id }}.slideshow();
                });

                // Initialise
                $(document).ready(function() {
                  concrete.slideshow_{{ block.id }}.slideshow();
                });

                // On before slide change
                $('#slick-{{ block.id }}').on('beforeChange', function(event, slick, currentSlide, nextSlide){
                  var index = nextSlide+1;
                  $('.thumbnail').removeClass('active');
                  $('.thumbnails [data-index="'+ index +'"]').addClass('active')
                });

                $(document).on('click', '.thumbnail', function() {
                  var index = $(this).data('index');
                  $('#slick-{{ block.id }}').slick('slickGoTo', index-1);
                });
              </script>
            {% endif %}
          {% elsif block.type == 'collection-row' %}
            {% if block.settings.collection == collection.handle %}
              {% if block.settings.banner != blank %}
                <div class="row collapse no-clear">
                  <div class="column l12">
                    <img class="wide" src="{{ block.settings.banner | img_url: '3000x' }}">
                  </div>
                </div>
              {% endif %}
              <div class="row collapse no-clear collection-row {{ block.settings.background }}">
                {% for i in (1..3) %}
                  <div class="column l4 m4 s12">
                    {% assign image_key = 'image_' | append: i %}
                    {% assign link_key = 'link_' | append: i %}
                    {% assign title_key = 'title_' | append: i %}
                    <a href="{{ block.settings[link_key] }}">
                      <div class="wrapper">
                        <h3 class="h1 center f-feature w-black">{{ block.settings[title_key] }}</h3>
                        <img src="{{ block.settings[image_key] | img_url: '3000x' }}">
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% elsif block.type == 'product-slideshow' %}
            {% if block.settings.collection == collection.handle %}

              {% assign banner = block.settings.banner %}
              {% assign speed = 3000 %}
              {% assign pause = true %}
              {% assign fade = false %}
              {% assign arrows = true %}
              {% capture previous_icon %}<span class="slick-prev icon-large">{% include 'icon' with 'previous', icon_size: 36 %}</span>{% endcapture %}
              {% assign previous_icon = previous_icon | strip_newlines %}
              {% capture next_icon %}<span class="slick-next icon-large">{% include 'icon' with 'next', icon_size: 36 %}</span>{% endcapture %}
              {% assign next_icon = next_icon | strip_newlines %}
              {% assign size = 0 %}
              {% assign count = 0 %}
              {% assign slideshow_collection = collections[block.settings.products] %}
              {% if banner %}
                <div class="row collapse padding-top padding-bottom">
                  <div class="column l12">
                    <img src="{{ banner | img_url: '2000x' }}">
                  </div>
                </div>
              {% endif %}
              <div class="row collapse no-clear product-slideshow" id="slideshow-{{ block.id }}" {{ block.shopify_attributes}}>
                {% for product in slideshow_collection.products %}
                  <div class="column v-middle">
                    <a href="{{ product.url }}" class="image-link" title="{{ product.title }}">
                      <img src="{{ product.featured_image | img_url: '500x' }}" alt="Image of {{ product.title }}">
                    </a>
                  </div>
                {% endfor %}
              </div>

              <script>
                concrete.slideshow_{{ block.id }} = {
                  settings: {
                    autoplay: true,
                    speed: {{ settings.transition_speed | times: 3 }},
                    fade: {{ fade }},
                    arrows: {{ arrows }},
                    pauseOnHover: {{ pause }},
                    autoplaySpeed: {{ speed }}000,
                    dots: false,
                    slidesToShow: 5,
                    slidesToScroll: 4,
                    {% if arrows %}
                      prevArrow: '{{ previous_icon }}',
                      nextArrow: '{{ next_icon }}',
                    {% endif %}
                    swipeToSlide: true,
                    responsive: [
                      {
                        breakpoint: {{ settings.breakpoint_l }},
                        settings: {
                          arrows: false,
                          slidesToShow: 4,
                          slidesToScroll: 3
                        }
                      },
                      {
                        breakpoint: {{ settings.breakpoint_m }},
                        settings: {
                          arrows: false,
                          slidesToShow: 3,
                          slidesToScroll: 2
                        }
                      }
                    ]
                  },
                  slideshow: function() {
                    $('#slideshow-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
                  }
                }

                // Theme Editor Javascript API
                $(document).on('shopify:section:load', function(event) {
                  concrete.slideshow_{{ block.id }}.slideshow();
                });

                // Initialise
                $(document).ready(function() {
                  concrete.slideshow_{{ block.id }}.slideshow();
                });
              </script>
            {% endif %}
          {% endif %}

        {% endfor %}


        <div class="row collapse no-clear">
          {% for block in section.blocks %}
            {% if block.type == 'collection' or block.type == 'button-banner' or block.type == 'iframe' %}
              {% if block.settings.collection == collection.handle %}
                {% if block.settings.width == 'third' %}
                  {% assign column_width = 'l4 m4 s6' %}
                {% elsif block.settings.width == 'half' %}
                  {% assign column_width = 'l6 m6 s6' %}
                {% else %}
                  {% assign column_width = 'l12' %}
                {% endif %}

                {% if block.type == 'collection' %}
                  <!-- block.type = collection -->

                  {% assign link = block.settings.link %}
                  {% unless link == blank %}
                    <div class="column {{ column_width }}" {{ block.shopify_attributes }}>
                      {% if link contains '/collections/' %}
                        {% assign collection_handle = link | remove: '/collections/' %}
                        {% assign collection_block = collections[collection_handle] %}
                        <a href="{{ collection_block.url }}" title="{{ collection_block.title }}">
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ collection_block.title }}">
                          {% elsif collection_block.image != blank %}
                            <img class="wide" src="{{ collection_block.image | img_url: '1024x1042'}}" alt="{{ collection_block.title }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% elsif link contains '/products/' %}
                        {% assign product_handle = link | remove: '/products/' %}
                        {% assign product_block = all_products[product_handle] %}
                        <a href="{{ product_block.url }}" title="{{ product_block.title }}">
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ product_block.title }}">
                          {% elsif product_block.featured_image != blank %}
                            <img class="wide" src="{{ product_block.featured_image | img_url: '1024x1042'}}" alt="{{ product_block.title }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% else %}
                        <a href="{{ link }}" title="{{ block.settings.heading }}"{% if link contains 'http' %} target="_blank"{% endif %}>
                          {% if block.settings.image != blank %}
                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ block.settings.heading }}">
                          {% else %}
                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
                          {% endif %}
                        </a>
                      {% endif %}

                      <div class="padding-bottom-2x"></div>
                    </div>
                  {% endunless %}
                {% elsif block.type == 'button-banner' %}
                  {% if block.settings.collection == collection.handle %}
                    <div class="row collapse table button-banner">
                      <div class="column l9 m7 s6 tall">
                        <div class="button-banner-title tall bg-text fg-foreground">
                          <h2 class="f-block no-margin">{{ block.settings.text }}</h2>
                        </div>
                      </div>
                      <div class="column l3 m5 s6 tall relative">
                        <div class="button-banner-button tall bg-brand fg-foreground palette overlay absolute">
                          <a class="f-feature w-bold h2 block tall no-hover no-margin" href="{{ block.settings.link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}{% include 'icon' with 'menu-arrow', icon_size: 10 %}</a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% elsif block.type == 'iframe' %}
                  {% assign html = block.settings.html %}
                  {% unless html == blank %}
                    <div class="column {{ column_width }}" {{ block.shopify_attributes }}>{{ html }}</div>
                  {% endunless %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

      </section>
    </div>
  </div>

</div>
