<!-- /snippets/template-collection-landing2.liquid -->
{% assign filters = section.settings.filters %}
{% assign sorting = section.settings.sorting %}
{% assign views = section.settings.views %}
{% assign quicklook = section.settings.quicklook %}
{% assign pagination = section.settings.pagination %}

{% comment %}
  Collection view options
{% endcomment %}
{% assign pagination_amounts = '' %}

{% if collection.products_count > 24 %}
  {% assign pagination_amounts = pagination_amounts | append: '24' %}
{% endif %}
{% if collection.products_count > 48 %}
  {% assign pagination_amounts = pagination_amounts | append: ',48' %}
{% endif %}

{% assign pagination_amounts = pagination_amounts | split: ',' %}
{% assign collection_views = 'grid,list' | split: ',' %}
{% assign sort_options = 'manual,best-selling,title-ascending,title-descending,price-ascending,price-descending,created-descending,created-ascending' | split: ',' %}

{% comment %}
  Let's grab a few url queries from the canonical_url
  ?collection is used for the collection pagination amount
  ?type is used for the collection view
{% endcomment %}
{% if canonical_url contains 'collection=' %}
  {% assign pagination_amount = canonical_url | split: 'collection=' | last %}
  {% if pagination_amount contains '&' %}
    {% assign pagination_amount = pagination_amount | split: '&' | first %}
  {% endif %}
  {% assign pagination_amount = pagination_amount | plus: 0 %}
{% endif %}

{% unless pagination_amount %}
  {% if pagination_amounts.size > 0 %}
    {% assign pagination_amount = pagination_amounts | first | plus: 0 %}
  {% else %}
    {% assign pagination_amount = 24 %}
  {% endif %}
{% endunless %}

{% if canonical_url contains 'type=' %}
  {% assign collection_view = canonical_url | split: 'type=' | last %}
  {% if collection_view contains '&' %}
    {% assign collection_view = collection_view | split: '&' | first %}
  {% endif %}
{% endif %}

{% unless collection_view %}
  {% assign collection_view = collection_views | first %}
{% endunless %}

{% paginate collection.products by pagination_amount %}

  <div class="container l drop-shadow padding-bottom-2x padding-top-2x">
    {% if collection.image %}
      {% assign image_size = collection.image.width | append: 'x' %}
      <img class="wide s-hide margin-bottom-05x" src="{{ collection.image | img_url: image_size }}" alt="{{ collection.title }}">
    {% endif %}

    <div class="row collapsed no-margin columns-18">

      {% if filters %}
        <div class="column collapsed l4 m4 s18 s-hide">
          <aside>
            {% include 'collection-links' %}
            {% include 'collection-filters' %}
          </aside>
        </div>
      {% endif %}


    <div class="row l-table m-table condensed no-margin m-hide l-hide xl-hide">
      <div class="column l6 m6 s12 left v-middle mobile-banner">
      </div>
      <div class="column l6 right v-middle">
        <div class="s-hide">
          <label class="inline no-margin v-middle">{{ 'collection.view.title' | t }}</label>
          {% for view in collection_views %}
            {% assign view_translation = 'collection.view.' | append: view | t | downcase %}
            <p class="inline v-middle no-margin">
              {% if view == collection_view %}
                <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
              {% else %}
                <a class="no-decoration" href="/collections/{{ collection.handle }}?type={{ view }}" title="{{ 'collection.view.collection' | t: view: view_translation }}" data-collection-view="{{ view }}">
                  <img class="v-middle" src="{{ 'view-' | append: view | append: '.png' | asset_url }}">
                  <span class="v-middle">{{ 'collection.view.' | append: view | t }}</span>
                </a>
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column collapsed l14 m14 s18 main-content" id="bg">
	    <div>
	      <header data-section-type="collection">
	      	  <div class="row condensed no-margin">
	            <div class="column l6 m6 s12">
	              <div class="s-hide">
	                {% include 'theme-breadcrumbs' %}
	              </div>
	            </div>
	            <div class="column l6 m6 s12">
	              <div class="s-hide right">
	                {% include 'collection-view' %}
	              </div>
	            </div>
	          </div>

	          <div class="margin-bottom-05x"></div>
	        <div class="row collapse no-margin">
	          <div class="column l12">
	            {% include 'collection-promos' %}
	          </div>
	        </div>

	        {% if heading %}
	          <div class="row l-table m-table collapsed margin-bottom">
	            <div class="column l6 m6 s12 left v-middle">
	              <h1 class="w-normal t-uppercase{% unless collection.description != blank %} no-margin{% endunless %}">{{ collection.title }}</h1>
	              {% if collection.description != blank %}
	                <div class="rte">
	                  {{ collection.description }}
	                </div>
	              {% endif %}
	            </div>
	          </div>
	          <hr>
	        {% endif %}
	      </header>

	      <section>
	        {% for block in section.blocks %}
	          {% if block.type == 'slideshow' %}
	            <!-- block.type = slideshow -->
	            {% if block.settings.collection == collection.handle %}
	              {% assign speed = block.settings.speed %}
	              {% assign thumbnails = block.settings.thumbnails %}
	              {% assign pause = true %}
	              {% assign fade = false %}
	              {% assign arrows = false %}
	              {% assign size = 0 %}
	              {% assign count = 0 %}
	              {% assign thumbnail_size = '2000x' %}
	              {% assign thumbnail_ratio = '2:1' %}

	              <div class="row collapse slideshow-{{ block.id }}" id="slideshow-{{ forloop.index }}" {{ block.shopify_attributes}}>
	                <div class="column {% if thumbnails %}l10{% else %}l12{% endif %} m12 s12 margin-bottom slide-width">
	                  <div class="slideshow-container bg-border">
	                    <div id="slick-{{ block.id }}">
	                      {% for i in (1..5) %}
	                        {% assign image_key = 'image_' | append: i %}
	                        {% assign link_key = 'link_' | append: i %}
	                        {% if block.settings[image_key] != blank %}
	                          {% assign size = size | plus: 1 %}
	                          {% if block.settings[link_key] != blank %}<a class="block" href="{{ block.settings[link_key] }}">{% endif %}
	                            <div class="wide main-image" style="background-image:url({{ block.settings[image_key] | img_url: '1400x' }}); background-size: cover;">
	                            </div>
	                          {% if block.settings[link_key] != blank %}</a>{% endif %}
	                        {% endif %}
	                      {% endfor %}
	                    </div>
	                  </div>
	                </div>
	              </div>
				  <script>
				  	$(document).ready(function() {
				  		function checkWidth() {
				  			var windowsize = $(window).width();
					  		if (windowsize < 440)  {
					  			$('#slideshow-1').hide();
					  			$('#slideshow-2').show();
					  		} else {
					  			$('#slideshow-1').show();
					  			$('#slideshow-2').hide();
					  		}
				  		}
				  		checkWidth();
				  		$(window).resize(checkWidth);
				  	});

				  </script>

	              <script>
	                concrete.slideshow_{{ block.id }} = {
	                  settings: {
	                    autoplay: {% if speed == 0 %}false{% else %}true{% endif %},
	                    speed: {{ settings.transition_speed | times: 3 }},
	                    fade: {{ fade }},
	                    arrows: {{ arrows }},
	                    pauseOnHover: {{ pause }},
	                    autoplaySpeed: {{ speed }}000,
	                    dots: false,
	                    infinite: true,
	                    adaptiveHeight: {% if height == ''%}true{% else %}false{% endif %},
	                    slidesToShow: 1,
	                    slidesToScroll: 1,
	                    responsive: [
	                      {
	                        breakpoint: {{ settings.breakpoint_l }},
	                        settings: {
	                          arrows: false
	                        }
	                      }
	                    ]
	                  },
	                  slideshow: function() {
	                    $('#slick-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
	                  }
	                }

	                // Theme Editor Javascript API
	                $(document).on('shopify:section:load', function(event) {
	                  concrete.slideshow_{{ block.id }}.slideshow();
	                });

	                // Initialise
	                $(document).ready(function() {
	                  concrete.slideshow_{{ block.id }}.slideshow();
	                });

	                // On before slide change
	                $('#slick-{{ block.id }}').on('beforeChange', function(event, slick, currentSlide, nextSlide){
	                  var index = nextSlide+1;
	                  $('.thumbnail').removeClass('active');
	                  $('.thumbnails [data-index="'+ index +'"]').addClass('active')
	                });

	                $(document).on('click', '.thumbnail', function() {
	                  var index = $(this).data('index');
	                  $('#slick-{{ block.id }}').slick('slickGoTo', index-1);
	                });
	              </script>
	            {% endif %}
	          {% elsif block.type == 'collection-row' %}
	            {% if block.settings.collection == collection.handle %}
	              {% if block.settings.banner != blank %}
	                <div class="row collapse no-clear">
	                  <div class="column l12">
	                    <img class="wide" src="{{ block.settings.banner | img_url: '3000x' }}">
	                  </div>
	                </div>
	              {% endif %}
	              <div class="row collapse no-clear collection-row {{ block.settings.background }}">
	                {% for i in (1..3) %}
	                  <div class="column l4 m4 s12">
	                    {% assign image_key = 'image_' | append: i %}
	                    {% assign link_key = 'link_' | append: i %}
	                    {% assign title_key = 'title_' | append: i %}
	                    <a href="{{ block.settings[link_key] }}">
	                      <div class="wrapper">
	                        <h3 class="h1 center f-feature w-black">{{ block.settings[title_key] }}</h3>
	                        <img src="{{ block.settings[image_key] | img_url: '3000x' }}">
	                      </div>
	                    </a>
	                  </div>
	                {% endfor %}
	              </div>
	            {% endif %}
	          {% elsif block.type == 'product-slideshow' %}
	            {% if block.settings.collection == collection.handle %}

	              {% assign banner = block.settings.banner %}
	              {% assign speed = 3000 %}
	              {% assign pause = true %}
	              {% assign fade = false %}
	              {% assign arrows = true %}
	              {% capture previous_icon %}<span class="slick-prev icon-large">{% include 'icon' with 'previous', icon_size: 36 %}</span>{% endcapture %}
	              {% assign previous_icon = previous_icon | strip_newlines %}
	              {% capture next_icon %}<span class="slick-next icon-large">{% include 'icon' with 'next', icon_size: 36 %}</span>{% endcapture %}
	              {% assign next_icon = next_icon | strip_newlines %}
	              {% assign size = 0 %}
	              {% assign count = 0 %}
	              {% assign slideshow_collection = collections[block.settings.products] %}
	              {% if banner %}
	                <div class="row collapse padding-top padding-bottom">
	                  <div class="column l12">
	                    <img src="{{ banner | img_url: '2000x' }}">
	                  </div>
	                </div>
	              {% endif %}
	              <div class="row collapse no-clear product-slideshow" id="slideshow-{{ block.id }}" {{ block.shopify_attributes}}>
	                {% for product in slideshow_collection.products %}
	                  <div class="column v-middle">
	                    <a href="{{ product.url }}" class="image-link" title="{{ product.title }}">
	                      <img src="{{ product.featured_image | img_url: '500x' }}" alt="Image of {{ product.title }}">
	                    </a>
	                  </div>
	                {% endfor %}
	              </div>

	              <script>
	                concrete.slideshow_{{ block.id }} = {
	                  settings: {
	                    autoplay: true,
	                    speed: {{ settings.transition_speed | times: 3 }},
	                    fade: {{ fade }},
	                    arrows: {{ arrows }},
	                    pauseOnHover: {{ pause }},
	                    autoplaySpeed: {{ speed }}000,
	                    dots: false,
	                    slidesToShow: 5,
	                    slidesToScroll: 4,
	                    {% if arrows %}
	                      prevArrow: '{{ previous_icon }}',
	                      nextArrow: '{{ next_icon }}',
	                    {% endif %}
	                    swipeToSlide: true,
	                    responsive: [
	                      {
	                        breakpoint: {{ settings.breakpoint_l }},
	                        settings: {
	                          arrows: false,
	                          slidesToShow: 4,
	                          slidesToScroll: 3
	                        }
	                      },
	                      {
	                        breakpoint: {{ settings.breakpoint_m }},
	                        settings: {
	                          arrows: false,
	                          slidesToShow: 3,
	                          slidesToScroll: 2
	                        }
	                      }
	                    ]
	                  },
	                  slideshow: function() {
	                    $('#slideshow-{{ block.id }}').slick(concrete.slideshow_{{ block.id }}.settings);
	                  }
	                }

	                // Theme Editor Javascript API
	                $(document).on('shopify:section:load', function(event) {
	                  concrete.slideshow_{{ block.id }}.slideshow();
	                });

	                // Initialise
	                $(document).ready(function() {
	                  concrete.slideshow_{{ block.id }}.slideshow();
	                });
	              </script>
	            {% endif %}
	          {% endif %}

	        {% endfor %}


	        <div class="row collapse no-clear">
	          {% for block in section.blocks %}
	            {% if block.type == 'collection' or block.type == 'button-banner' or block.type == 'iframe' %}
	              {% if block.settings.collection == collection.handle %}
	                {% if block.settings.width == 'third' %}
	                  {% assign column_width = 'l4 m4 s6' %}
	                {% elsif block.settings.width == 'half' %}
	                  {% assign column_width = 'l6 m6 s6' %}
	                {% else %}
	                  {% assign column_width = 'l12' %}
	                {% endif %}

	                {% if block.type == 'collection' %}
	                  <!-- block.type = collection -->

	                  {% assign link = block.settings.link %}
	                  {% unless link == blank %}
	                    <div class="column {{ column_width }}" {{ block.shopify_attributes }}>
	                      {% if link contains '/collections/' %}
	                        {% assign collection_handle = link | remove: '/collections/' %}
	                        {% assign collection_block = collections[collection_handle] %}
	                        <a href="{{ collection_block.url }}" title="{{ collection_block.title }}">
	                          {% if block.settings.image != blank %}
	                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ collection_block.title }}">
	                          {% elsif collection_block.image != blank %}
	                            <img class="wide" src="{{ collection_block.image | img_url: '1024x1042'}}" alt="{{ collection_block.title }}">
	                          {% else %}
	                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
	                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
	                          {% endif %}
	                        </a>
	                      {% elsif link contains '/products/' %}
	                        {% assign product_handle = link | remove: '/products/' %}
	                        {% assign product_block = all_products[product_handle] %}
	                        <a href="{{ product_block.url }}" title="{{ product_block.title }}">
	                          {% if block.settings.image != blank %}
	                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ product_block.title }}">
	                          {% elsif product_block.featured_image != blank %}
	                            <img class="wide" src="{{ product_block.featured_image | img_url: '1024x1042'}}" alt="{{ product_block.title }}">
	                          {% else %}
	                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
	                            <div class="ratio placeholder-background-product-{{ placeholder }}" data-ratio="1:1"></div>
	                          {% endif %}
	                        </a>
	                      {% else %}
	                        <a href="{{ link }}" title="{{ block.settings.heading }}"{% if link contains 'http' %} target="_blank"{% endif %}>
	                          {% if block.settings.image != blank %}
	                            <img class="wide" src="{{ block.settings.image | img_url: '1024x1042'}}" alt="{{ block.settings.heading }}">
	                          {% else %}
	                            {%- capture placeholder -%}{%- cycle '1','2','3','4','5','6' -%}{%- endcapture -%}
	                            <div class="ratio placeholder-background-collection-{{ placeholder }}" data-ratio="1:1"></div>
	                          {% endif %}
	                        </a>
	                      {% endif %}

	                      <div class="padding-bottom-2x"></div>
	                    </div>
	                  {% endunless %}
	                {% elsif block.type == 'button-banner' %}
	                  {% if block.settings.collection == collection.handle %}
	                    <div class="row collapse table button-banner">
	                      <div class="column l9 m7 s6 tall">
	                        <div class="button-banner-title tall bg-text fg-foreground">
	                          <h2 class="f-block no-margin">{{ block.settings.text }}</h2>
	                        </div>
	                      </div>
	                      <div class="column l3 m5 s6 tall relative">
	                        <div class="button-banner-button tall bg-brand fg-foreground palette overlay absolute">
	                          <a class="f-feature w-bold h2 block tall no-hover no-margin" href="{{ block.settings.link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}{% include 'icon' with 'menu-arrow', icon_size: 10 %}</a>
	                        </div>
	                      </div>
	                    </div>
	                  {% endif %}
	                {% elsif block.type == 'iframe' %}
	                  {% assign html = block.settings.html %}
	                  {% unless html == blank %}
	                    <div class="column {{ column_width }}" {{ block.shopify_attributes }}>{{ html }}</div>
	                  {% endunless %}
	                {% endif %}
	              {% endif %}
	            {% endif %}
	          {% endfor %}
	        </div>

	      </section>
	    </div>




	      <div class="column collapsed {% if filters %}l14 m14{% else %}l18 m18{% endif %} s18 padding-right collection-section">
	        <header data-section-type="collection" class="margin-bottom">
	          <div class="row condensed no-margin">
	            <div class="column l12">
	              {% include 'collection-promos' %}

	              {% if collection.description != blank %}
	                <div class="rte">
	                  {{ collection.description }}
	                </div>
	              {% endif %}
	            </div>
	          </div>

	          <div class="margin-bottom"></div>

	          <div class="row condensed no-margin s-show">
	            <div class="column l12">
	              <div class="margin-bottom margin-top">
	                {% include 'collection-sort' %}
	                {% if filters %}
	                  <div id="MobileFilters"></div>
	                {% endif %}
	              </div>
	              {% include 'theme-breadcrumbs' %}
	            </div>
	          </div>

	          <div class="row collapse table s-hide no-margin">
	            <div class="column l3 left v-middle">
	              {% include 'collection-sort' %}
	            </div>
	            <div class="column l9 right v-middle">
	              {% include 'collection-pagination' %}
	            </div>
	          </div>
	        </header>

	        <section>
	          <div class="row condensed-small">
	            {% for product in collection.products %}
	              {% if collection_view == 'list' %}
	                {% include 'collection-product' with 'list' %}
	              {% else %}
	                {% include 'collection-product' %}
	              {% endif %}
	            {% else %}
	              {% if collection.handle == 'all' and current_tags == '' %}
	                {% unless emptyState %}
	                  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
	                  {% assign emptyState = true %}
	                {% endunless %}
	                {% include 'onboarding-empty-collection' %}
	              {% else %}
	                <div class="column l12">
	                  <h4>{{ 'collection.no_matches.title' | t }}</h4>
	                  {% if current_tags %}
	                    <p>{{ 'collection.no_matches.filters' | t }}</p>
	                  {% endif %}
	                </div>
	              {% endif %}
	            {% endfor %}
	          </div>
	          <div class="row collapse">
	            <div class="column l12 right s-center v-middle">
	              <div class="padding-bottom-05x">
	                {% include 'collection-pagination' %}
	              </div>
	            </div>
	          </div>
	        </section>

	      </div>
		</div>
    </div>
  </div>

{% endpaginate %}

<script>
  $(document).ready(function() {

    // Product collection filters
    concrete.filters = {
      settings: {
        filter: '[data-collection-filter]',
        reset: '[data-collection-filter-reset]'
      },
      listeners: function() {
        $(document).on('click', concrete.filters.settings.reset, function(event) {
          event.preventDefault();
          var reset = $(this).data('collection-filter-reset');
          $('input[name="' + reset + '"]:checked').prop('checked', false);
          concrete.filters.updateTags($(this).closest('.collection-filters'));
        });

        $(document).on('change', concrete.filters.settings.filter, function(event) {
          concrete.filters.updateTags($(this).closest('.collection-filters'));
        });
      },
      updateTags: function(target) {
        var newTags = [];

        $(target).find(concrete.filters.settings.filter).each(function() {
          if ($(this).data('collection-filter') == 'tag') {
            if ($(this).is(':checked')) {
              newTags.push($(this).data('filter'));
            }
          }
        });

        if (newTags.length) {
          var query = newTags.join('+');
          window.location.href = $('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
        } else {
          {% if collection.handle %}
            window.location.href = '/collections/{{ collection.handle }}';
          {% elsif collection.products.first.type == collection.title %}
            window.location.href = '{{ collection.title | url_for_type }}';
          {% elsif collection.products.first.vendor == collection.title %}
            window.location.href = '{{ collection.title | url_for_vendor }}';
          {% endif %}
        }
      }
    }

    concrete.filters.listeners();
  });
</script>
