<!-- /snippets/theme-nav-toggled.liquid -->

<nav class="theme-nav-toggled drawer drawer-overlay from-left bg-background l-hide" id="NavToggled" role="navigation">
  <div class="drawer-inner">
    <a href="/" class="h3">
      Home
      {% include 'icon' with 'right-arrow', icon_size: '26' %}
    </a>
    {% if primary_menu.links.size > 0 %}
      <div role="navigation" class="accordion-primary">
        <span class="h3" data-accordion-toggle>
          Shop by Category
          {% include 'icon' with 'down-arrow', icon_size: '26' %}
        </span>
        <div data-accordion-content data-accordion-parent=".accordion-primary">
          {% include 'theme-nav-accordion' with primary_menu, menu_titles: false %}
        </div>
      </div>
    {% endif %}

    {% if secondary_menu.links.size > 0 %}
      <div role="navigation" class="accordion-secondary">
        <span class="h3" data-accordion-toggle>
          Shop by Show
          {% include 'icon' with 'down-arrow', icon_size: '26' %}
        </span>
        <div data-accordion-content data-accordion-parent=".accordion-secondary">
          {% include 'theme-nav-accordion' with secondary_menu, menu_titles: false %}
        </div>
      </div>
    {% endif %}

    <a href="/account" class="h3">
      {{ 'account.title' | t }}
      {% include 'icon' with 'right-arrow', icon_size: '26' %}
    </a>
    <a href="/pages/contact-us" class="h3">
      {{ 'contact_us.title' | t }}
      {% include 'icon' with 'right-arrow', icon_size: '26' %}
    </a>
    {% comment %}
    {% if tertiary_menu.links.size > 0 %}
      <ul class="account-menu">
        {% include 'theme-nav-account' %}
      </ul>
    {% endif %}
    {% endcomment %}
    <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">
      {{ 'common.close' | t }}
    </a>

  </div>
</nav>
