<!-- /snippets/theme-nav-main.liquid -->

{% assign nav_menu = theme-nav-main %}
{% comment %}
  Menus can be split either by desired rows or desired columns depending on dropdown_split_logic
  Set dropdown_split and dropdown_split_logic just before including this snippet

  Menu row + column defaults below:
{% endcomment %}

{% unless dropdown_split %}
  {% assign dropdown_split_logic = 'rows' %}
{% endunless %}

{% unless dropdown_split %}
  {% assign dropdown_split = 8 %}
{% endunless %}

{% assign column_count = 2 %}
{% if dropdown_split_logic == 'columns' %}
  {% assign column_count = dropdown_split %}
{% endif %}

{% comment %}
  George - I was having issues with the new tiered linklists so I have split them up into seperate layouts for the secondary and primary menus.
{% endcomment %}
{% if nav_menu.title == 'Main menu' %}
  <ul class="inline">
    {% for link in nav_menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% assign img_src = child_list_handle | prepend: 'menu-' | append: '.png' %}
      {% assign img_hover_src = child_list_handle | prepend: 'menu-' | append: '--hover.png' %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="first-level dropdown v-middle" aria-haspopup="true" data-id="{{ child_list_handle }}">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
          <div class="dropdown-menu bg-foreground{% if linklists[child_list_handle].links.size > dropdown_split %} dropdown-menu--large--{{ column_count }}{% endif %}">
            {% for block in section.blocks %}
              {% assign menu = block.settings.title | handleize %}
              {% if block.type == 'submenu' %}
                {% if menu == child_list_handle %}
                  {% if block.settings.menu_title != blank %}
                    <h5 class="fg-text no-margin">{{ block.settings.menu_title }}</h5>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <div class="row table collapse no-margin fg-brand">
              {% if linklists[child_list_handle].links.size > dropdown_split %}
                {% assign column_width = 'l12' %}
                {% case column_count %}
                  {% when 2 %}
                    {% assign column_width = 'l6' %}
                  {% when 3 %}
                    {% assign column_width = 'l4' %}
                  {% when 4 %}
                    {% assign column_width = 'l3' %}
                  {% when 6 %}
                    {% assign column_width = 'l2' %}
                {% endcase %}

                {% if dropdown_split_logic == 'columns' %}
                  {% assign split_amount = linklists[child_list_handle].links.size | divided_by: dropdown_split %}
                  {% assign split_break_lower = 0 %}

                  {% for i in (1..dropdown_split) %}
                    {% assign split_break_upper = split_amount | times: forloop.index %}
                    <div class="column {{ column_width }}">
                      {% if forloop.last %}
                        <ul>
                          {% for childlink in linklists[child_list_handle].links %}
                            {% if forloop.index > split_break_lower %}
                              <li>
                                <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        {% for block in section.blocks %}
                          {% if block.type == 'submenu' %}
                            {% assign menu = block.settings.title | handleize %}
                            {% if menu == child_list_handle %}
                              {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                                <div class="featured-content">
                                  <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                    <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                    {% if block.settings.link_text != '' %}
                                      <p class="no-margin">
                                        {{ block.settings.link_text }}
                                      </p>
                                    {% endif %}
                                  </a>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <ul>
                          {% for childlink in linklists[child_list_handle].links %}
                            {% if forloop.index > split_break_lower and forloop.index <= split_break_upper %}
                              <li>
                                <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    {% assign split_break_lower = split_break_upper %}
                  {% endfor %}
                {% else %}

                  <div class="column {{ column_width }}">
                    <ul>
                      {% for childlink in linklists[child_list_handle].links %}
                        {% if forloop.index <= dropdown_split %}
                          <li>
                            <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column {{ column_width }} v-top">
                    <ul>
                      {% for childlink in linklists[child_list_handle].links %}
                        {% if forloop.index > dropdown_split %}
                          <li>
                            <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% for block in section.blocks %}
                      {% if block.type == 'submenu' %}
                        {% assign menu = block.settings.title | handleize %}
                        {% if menu == child_list_handle %}
                          {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                            <div class="featured-content">
                              <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                {% if block.settings.link_text != '' %}
                                  <p class="no-margin">
                                    {{ block.settings.link_text }}
                                  </p>
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% else %}
                <div class="column l12">
                  <ul>
                    {% for childlink in linklists[child_list_handle].links %}
                      <li>
                        <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% for block in section.blocks %}
                    {% if block.type == 'submenu' %}
                      {% assign menu = block.settings.title | handleize %}
                      {% if menu == child_list_handle %}
                        {% if block.settings.featured_image != blank and block.settings.featured_link != blank %}
                          <div class="featured-content">
                            <a href="{{ block.settings.featured_link }}" class="no-decoration">
                              <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                              {% if block.settings.link_text != '' %}
                                <p class="no-margin">
                                  {{ block.settings.link_text }}
                                </p>
                              {% endif %}
                            </a>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% else %}
        <li class="first-level v-middle">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% elsif nav_menu.title == 'Shop by Title' %}
  <ul class="inline">
    {% for link in nav_menu.links %}
      {% assign child_list_handle = link.title | handleize %}

      {% assign img_src = child_list_handle | prepend: 'menu-' | append: '.png' %}
      {% assign img_hover_src = child_list_handle | prepend: 'menu-' | append: '--hover.png' %}
      {% if child_list_handle == 'all-shows' %}
        <li class="first-level dropdown v-middle" aria-haspopup="true" data-id="{{ child_list_handle }}">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
          {% if linklists[child_list_handle].links.size > 0 %}
            <div class="dropdown-menu bg-foreground{% if linklists[child_list_handle].links.size > dropdown_split %} dropdown-menu--large--{{ column_count | plus: 1 }}{% endif %}">
              {% for block in section.blocks %}
                {% assign menu = block.settings.title | handleize %}
                {% if block.type == 'submenu' %}
                  {% if menu == child_list_handle %}
                    {% if block.settings.menu_title != blank %}
                      <h5 class="fg-text no-margin">{{ block.settings.menu_title }}</h5>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              <div class="row table collapse no-margin fg-brand">
                {% if linklists[child_list_handle].links.size > dropdown_split %}
                  {% assign column_width = 'l12' %}
                  {% case column_count %}
                    {% when 2 %}
                      {% assign column_width = 'l6' %}
                    {% when 3 %}
                      {% assign column_width = 'l4' %}
                    {% when 4 %}
                      {% assign column_width = 'l3' %}
                    {% when 6 %}
                      {% assign column_width = 'l2' %}
                  {% endcase %}

                  {% if dropdown_split_logic == 'columns' %}
                    {% assign split_amount = linklists[child_list_handle].links.size | divided_by: dropdown_split | plus: 1 %}
                    {% assign split_break_lower = 0 %}

                    {% for i in (1..dropdown_split) %}
                      {% assign split_break_upper = split_amount | times: forloop.index %}
                      <div class="column {{ column_width }} v-top">
                        {% if forloop.last %}
                          <ul class="character-menu">
                            {% for childlink in linklists[child_list_handle].links %}
                              {% if forloop.index > split_break_lower %}
                                <li>
                                  <a href="{{ childlink.url }}" class="nav-link fg-text w-bold no-decoration{% if childlink.active %} active{% endif %}">
                                    <div class="row table collapse">
                                      <div class="column l5 v-middle">
                                        {% assign childlink_image = childlink.title | handleize | prepend: 'menu-character-' | append: '.png' %}
                                        <img src="{{ childlink_image | asset_url }}">
                                      </div>
                                      <div class="column l7 v-middle">
                                        <span class="character-name">{{ childlink.title | escape }}</span>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                          {% for block in section.blocks %}
                            {% if block.type == 'submenu' %}
                              {% assign menu = block.settings.title | handleize %}
                              {% if menu == child_list_handle %}
                                {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                                  <div class="featured-content">
                                    <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                      <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                      {% if block.settings.link_text != '' %}
                                        <p class="no-margin">
                                          {{ block.settings.link_text }}
                                        </p>
                                      {% endif %}
                                    </a>
                                  </div>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          <ul class="character-menu">
                            {% for childlink in linklists[child_list_handle].links %}
                              {% if forloop.index > split_break_lower and forloop.index <= split_break_upper %}
                                <li>
                                  <a href="{{ childlink.url }}" class="nav-link fg-text w-bold no-decoration{% if childlink.active %} active{% endif %}">
                                    <div class="row table collapse">
                                      <div class="column l5 v-middle">
                                        {% assign childlink_image = childlink.title | handleize | prepend: 'menu-character-' | append: '.png' %}
                                        <img src="{{ childlink_image | asset_url }}">
                                      </div>
                                      <div class="column l7 v-middle">
                                        <span class="character-name">{{ childlink.title | escape }}</span>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                      {% assign split_break_lower = split_break_upper %}
                    {% endfor %}
                  {% else %}

                    <div class="column {{ column_width }}">
                      <ul>
                        {% for childlink in linklists[child_list_handle].links %}
                          {% if forloop.index <= dropdown_split %}
                            <li>
                              <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="column {{ column_width }}">
                      <ul>
                        {% for childlink in linklists[child_list_handle].links %}
                          {% if forloop.index > dropdown_split %}
                            <li>
                              <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                      {% for block in section.blocks %}
                        {% if block.type == 'submenu' %}
                          {% assign menu = block.settings.title | handleize %}
                          {% if menu == child_list_handle %}
                            {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                              <div class="featured-content">
                                <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                  <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                  {% if block.settings.link_text != '' %}
                                    <p class="no-margin">
                                      {{ block.settings.link_text }}
                                    </p>
                                  {% endif %}
                                </a>
                              </div>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% else %}
                  <div class="column l12">
                    <ul>
                      {% for childlink in linklists[child_list_handle].links %}
                        <li>
                          <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                    {% for block in section.blocks %}
                      {% if block.type == 'submenu' %}
                        {% assign menu = block.settings.title | handleize %}
                        {% if menu == child_list_handle %}
                          {% if block.settings.featured_image != blank and block.settings.featured_link != blank %}
                            <div class="featured-content">
                              <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                {% if block.settings.link_text != '' %}
                                  <p class="no-margin">
                                    {{ block.settings.link_text }}
                                  </p>
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </li>
      {% else %}
        <li class="first-level v-middle">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <ul class="inline">
    {% for link in nav_menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% assign img_src = child_list_handle | prepend: 'menu-' | append: '.png' %}
      {% assign img_hover_src = child_list_handle | prepend: 'menu-' | append: '--hover.png' %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="first-level dropdown v-middle" aria-haspopup="true" data-id="{{ child_list_handle }}">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
          <div class="dropdown-menu bg-foreground{% if linklists[child_list_handle].links.size > dropdown_split %} dropdown-menu--large--{{ column_count }}{% endif %}">
            {% for block in section.blocks %}
              {% assign menu = block.settings.title | handleize %}
              {% if block.type == 'submenu' %}
                {% if menu == child_list_handle %}
                  {% if block.settings.menu_title != blank %}
                    <h5 class="fg-text no-margin">{{ block.settings.menu_title }}</h5>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <div class="row table collapse no-margin fg-brand">
              {% if linklists[child_list_handle].links.size > dropdown_split %}
                {% assign column_width = 'l12' %}
                {% case column_count %}
                  {% when 2 %}
                    {% assign column_width = 'l6' %}
                  {% when 3 %}
                    {% assign column_width = 'l4' %}
                  {% when 4 %}
                    {% assign column_width = 'l3' %}
                  {% when 6 %}
                    {% assign column_width = 'l2' %}
                {% endcase %}

                {% if dropdown_split_logic == 'columns' %}
                  {% assign split_amount = linklists[child_list_handle].links.size | divided_by: dropdown_split %}
                  {% assign split_break_lower = 0 %}

                  {% for i in (1..dropdown_split) %}
                    {% assign split_break_upper = split_amount | times: forloop.index %}
                    <div class="column {{ column_width }}">
                      {% if forloop.last %}
                        <ul>
                          {% for childlink in linklists[child_list_handle].links %}
                            {% if forloop.index > split_break_lower %}
                              <li>
                                <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                        {% for block in section.blocks %}
                          {% if block.type == 'submenu' %}
                            {% assign menu = block.settings.title | handleize %}
                            {% if menu == child_list_handle %}
                              {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                                <div class="featured-content">
                                  <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                    <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                    {% if block.settings.link_text != '' %}
                                      <p class="no-margin">
                                        {{ block.settings.link_text }}
                                      </p>
                                    {% endif %}
                                  </a>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        <ul>
                          {% for childlink in linklists[child_list_handle].links %}
                            {% if forloop.index > split_break_lower and forloop.index <= split_break_upper %}
                              <li>
                                <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    {% assign split_break_lower = split_break_upper %}
                  {% endfor %}
                {% else %}

                  <div class="column {{ column_width }}">
                    <ul>
                      {% for childlink in linklists[child_list_handle].links %}
                        {% if forloop.index <= dropdown_split %}
                          <li>
                            <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="column {{ column_width }}">
                    <ul>
                      {% for childlink in linklists[child_list_handle].links %}
                        {% if forloop.index > dropdown_split %}
                          <li>
                            <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% for block in section.blocks %}
                      {% if block.type == 'submenu' %}
                        {% assign menu = block.settings.title | handleize %}
                        {% if menu == child_list_handle %}
                          {% if block.settings.featured_link != blank and block.settings.featured_image != blank %}
                            <div class="featured-content">
                              <a href="{{ block.settings.featured_link }}" class="no-decoration">
                                <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                                {% if block.settings.link_text != '' %}
                                  <p class="no-margin">
                                    {{ block.settings.link_text }}
                                  </p>
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% else %}
                <div class="column l12">
                  <ul>
                    {% for childlink in linklists[child_list_handle].links %}
                      <li>
                        <a href="{{ childlink.url }}" class="nav-link no-decoration{% if childlink.active %} active{% endif %}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% for block in section.blocks %}
                    {% if block.type == 'submenu' %}
                      {% assign menu = block.settings.title | handleize %}
                      {% if menu == child_list_handle %}
                        {% if block.settings.featured_image != blank and block.settings.featured_link != blank %}
                          <div class="featured-content">
                            <a href="{{ block.settings.featured_link }}" class="no-decoration">
                              <img src="{{ block.settings.featured_image | img_url: '800x' }}">
                              {% if block.settings.link_text != '' %}
                                <p class="no-margin">
                                  {{ block.settings.link_text }}
                                </p>
                              {% endif %}
                            </a>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% else %}
        <li class="first-level v-middle">
          <a href="{{ link.url }}" title="{{ link.title }}" class="button bitmap nav-link{% if link.active %} active{% endif %}">
            <img src="{{ img_src | asset_url }}">
            <img src="{{ img_hover_src | asset_url }}" class="hover">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
