<!-- /snippets/theme-nav-accordion.liquid -->

{% assign nav_menu = theme-nav-accordion %}
{% assign menu_title = title_overwrite | default: nav_menu.title %}
{% if menu_titles %}
  <h3>{{ menu_title }}</h3>
{% endif %}

<ul class="accordion-{{ nav_menu.title | handleize }}">
  {% for link in nav_menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="dropdown" aria-haspopup="true" data-id="{{ child_list_handle }}">
        <a href="{{ link.url }}" data-accordion-toggle data-accordion-parent=".accordion-{{ nav_menu.title | handleize }}" class="nav-link">
          {{ link.title }}
          {% include 'icon' with 'down-arrow', icon_size: '26' %}
        </a>
        <ul class="dropdown-menu" data-accordion-content>
          {% for childlink in linklists[child_list_handle].links %}
            <li>
              <a href="{{ childlink.url }}" class="nav-link">
                {{ childlink.title }}
                {% include 'icon' with 'right-arrow', icon_size: '26' %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li>
        <a href="{{ link.url }}" class="nav-link">
          {{ link.title }}
          {% include 'icon' with 'right-arrow', icon_size: '26' %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
