{% comment %}
-------------------------------------------------------------------------------
Version: v1.0.0
Version Date: 4/16/2018
-------------------------------------------------------------------------------
{% endcomment %}

{% if settings.subscribe_enabled %}

<script>
</script>
<div class="subscribe-form-errors"></div>
<div class="subscribe site-footer__newsletter">
  <label for="Email" class="h4">{{ settings.subscribe_miniform_title }}</label>
  <span class="sub-title">{{ settings.subscribe_miniform_sub_title }}</span>
  <span id="footer-form-message"></span>
  <form id="SubscribeMini">
    <div class="input-group newsletter">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email" 
             name="contact[email]"
             id="Email" 
             class="input-group__field newsletter__input"
             value="{% if customer %}{{ customer.email }}{% endif %}" 
             placeholder="Enter your email">
      <span class="input-group__btn">
        <button type="submit" class="btn newsletter__submit" name="commit">
          {% if settings.subscribe_button_text != '' %}
            <span class="newsletter_submit-text--large">{{ settings.subscribe_button_text }}</span>
          {% else %}
            <span class="newsletter_submit-text--large">Submit</span>
          {% endif %}
        </button>
      </span>
    </div>
  </form>
</div>

<div id="SubscribeExtended" style="display:none;">
  <style>
  label[for="Email"].h4 {
    text-transform: uppercase;
  }
  .subscribe .title {
    display: block;
  }

  .subscribe .sub-title {
    display: block;
  }

  #SubscribeExtended .required-tip {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: right;
    clear: both;
  }

  #SubscribeExtended .required-warning {
    margin: 0 auto;
    max-width: 500px;
  }

  #SubscribeExtended .required-warning.inactive, 
  #SubscribeExtended .age-restriction.inactive {
    display: none;
  }

  #SubscribeExtended .required-warning.active, 
  #SubscribeExtended .age-restriction.active {
    display: block;
    background: #dc3545;
    color: #FFF;
    border-radius: 3px;
    padding: 12px 12px;
    margin-bottom: 20px;
  }

  #SubscribeExtended .policies {
    width: 100%;
    text-align: right;
    max-width: 500px;
    margin: 0 0 0 auto;
    text-decoration: underline;
  }

  #SubscribeExtended form {
    overflow: auto;
  }

  #SubscribeExtended .subscribe-input {
    margin: 15px 0;
  }

  #SubscribeExtended .subscribe-input .field-error.inactive {
    display: none;
  }

  #SubscribeExtended .subscribe-input .field-error.active {
    display: block;
    color: #dc3545;
  }

  #SubscribeExtended .subscribe-input .checkbox-label label {
    display: inline;
  }

  #SubscribeExtended .subscribe-input .checkbox-label label.error {
    color: #dc3545;
  }

  #SubscribeExtended .subscribe-input input.error {
    border: 1px solid #dc3545;
  }

  #SubscribeExtended .subscribe-input input[type="text"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-input input[type="email"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-input input[type="date"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-submit input[type="submit"] {
    height: 40px;
    float: right;
  }

  .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] {
    width: 50% !important;
    left: 30% !important;
    background: #555;
    border-radius: 0px;
    position: fixed;
  }

  .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] > .ui-dialog-titlebar > .ui-dialog-titlebar-close {
    background: transparent;
    border: none;
    color: transparent;
  }

  .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] > .ui-dialog-titlebar > .ui-dialog-titlebar-close:before {
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] > .ui-dialog-titlebar > .ui-dialog-titlebar-close:after {
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid #000;
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
  }

  #SubscribeExtended {
    padding: 0 50px 15px;
  }

  .ui-widget-overlay {
    background: rgba(0,0,0,0.75);
  }

  @media screen and (max-width: 750px) {
    #SubscribeExtended {
      padding: 0px 10px 15px;
    }
    .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] > .ui-dialog-titlebar > .ui-dialog-titlebar-close:after {
      top: -12px;
    }
    .ui-dialog[role="dialog"][aria-describedby="SubscribeExtended"] {
      width: 80% !important;
      left: 10% !important;
    }
  }
  </style>

  <script>
  var checkJQuery = setInterval( function() {
    if(jQuery == undefined || $ == undefined ) {
      return;
    }
    clearInterval(checkJQuery);
    
    if($('.form--success').length != 0 ){   
      $('#footer-form-message').append($('.form--success').html());
      $('#footer-form-message').addClass('form--success');
    }

    $(function() {
        $('#SubscribeMini').submit(function(event) {
          event.preventDefault();

          var dataEmail = $(this).find('#Email').val();
          $('input[name="contact[email]"]').val(dataEmail);

          $('#SubscribeExtended').dialog({
            modal: true,
            resizable: false,
            draggable: false,
            open: function() {
              $('.ui-widget-overlay').bind('click', function(event){
                $('#SubscribeExtended').dialog('close');
              });
            },
            close: function() {
              $('#PageContainer').removeAttr('style');
              $('#shopify-section-header').removeAttr('style');
            }
          });
          $('.form--success').removeClass('visually-hidden');
        });
    });

    $(function() {
      $('#contact_form').submit(function(event) {

        //Clear Existing Errors
        $('.required-warning').removeClass('active');
        $('.required-warning').addClass('inactive');

        //Establish/Reset Validation Error Counter
        var errorCounter = 0;

        if($(this).find('input[name="contact[first_name]"]').length) {
          $(this).find('input[name="contact[first_name]"]').removeClass('error');
          if ($(this).find('input[name="contact[first_name]"]').val() == '') {
            $(this).find('input[name="contact[first_name]"]').addClass('error');
            errorCounter++;
          }
        }

        if($(this).find('input[name="contact[last_name]"]').length) {
          $(this).find('input[name="contact[last_name]"]').removeClass('error');
          if ($(this).find('input[name="contact[last_name]"]').val() == '') {
            $(this).find('input[name="contact[last_name]"]').addClass('error');
            errorCounter++;
          }
        }

        if($(this).find('input[name="contact[email]"]').length) {
          $(this).find('input[name="contact[email]"]').removeClass('error');
          if ($(this).find('input[name="contact[email]"]').val() == '') {
            $(this).find('input[name="contact[email]"]').addClass('error');
            errorCounter++;
          }
        }

        if($(this).find('input[name="contact[note][Date Of Birth]"]').length) {
          $(this).find('input[name="contact[note][Date Of Birth]"]').removeClass('error');
          $(this).find('#field-error_date-of-birth').removeClass('active');
          $(this).find('#field-error_date-of-birth').addClass('inactive');
          if ($(this).find('input[name="contact[note][Date Of Birth]"]').val() == '') {
            $(this).find('input[name="contact[note][Date Of Birth]"]').addClass('error');
            errorCounter++;
          } else {
            if($(this).find('input[name="contact[note][Date Of Birth]"]').attr('data-minimum-age')) {
              var dateToday = new Date();
              var dateInput = new Date($(this).find('input[name="contact[note][Date Of Birth]"]').val());
              var currentAge = dateToday.getFullYear() - dateInput.getFullYear();
              var m = dateToday.getMonth() - dateInput.getMonth();
              if (m < 0 || (m === 0 && dateToday.getDate() < dateInput.getDate())) {
                  currentAge--;
              }
              if(currentAge < $(this).find('input[name="contact[note][Date Of Birth]"]').attr('data-minimum-age')) {
                //$(this).find('input[name="contact[note][Date Of Birth]"]').addClass('error');
                //$(this).find('#field-error_date-of-birth').addClass('active');
                //errorCounter++;
                event.preventDefault();
                $('.age-restriction').removeClass('inactive');
                $('.age-restriction').addClass('active');
              }
            }
          }
        }

        if($(this).find('input[name="customer[accepts_marketing]"]').length) {
          $(this).find('label[for="checkbox"]').removeClass('error');
          if (!$(this).find('input[name="customer[accepts_marketing]"]').is(':checked')) {
            $(this).find('label[for="checkbox"]').addClass('error');
            errorCounter++;
          }
        }

        //Check Error Count & Stop Submission If > 0 || Disable Button If Successful
        if (errorCounter !== 0) {
          event.preventDefault();
          $('.required-warning').removeClass('inactive');
          $('.required-warning').addClass('active');
        } else {
        }

      });
    });

    $(document).ready(function(event) {
      if($('#contact_form > p.form--success').length > 0 ) {
        window.history.pushState( null, null, window.location.pathname);
        if($('#subscription_form_submit_popup > div').html().length != 0 ) {
          $('#subscription_form_submit_popup').removeClass('visually-hidden');
          $('#subscription_form_submit_popup').dialog({
            closeOnEscape: false,
            title:'Subscribed Successfully',
            hide: 'blind',
            modal: true,
            resizable: false, 
            draggable: false, 
            open: function(event, ui) {
              
            }
          });
          $('#subscription_form_submit_popup').closest('div[role="dialog"]').addClass('customer_subscription_form_submit_success_popup');
        }
      }
    });
  }, 500);
  </script>

  <span class="required-warning inactive">Please complete all required fields before submitting this form.</span>
  <span class="age-restriction inactive">{{ settings.subscribe_fields_age_restriction_warning }}</span>
  <span class="required-tip">* - Required Fields</span>

  {% form 'customer' %}

    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="form--success visually-hidden">{{ 'general.newsletter_form.confirmation' | t }}</p>
      <div class="visually-hidden" id="subscription_form_submit_popup"><div>{{ settings.subscribe_form_submit_success_message }}</div></div>
    {% endif %}

    {% if settings.subscribe_fields_first_name %}
      <div class="subscribe-input">
        <label>* First Name:</label>
        <input type="text" name="contact[first_name]" value="{% if customer %}{{ customer.first_name }}{% endif %}">
      </div>
    {% endif %}

    {% if settings.subscribe_fields_last_name %}
      <div class="subscribe-input">
        <label>* Last Name:</label>
        <input type="text" name="contact[last_name]" value="{% if customer %}{{ customer.last_name }}{% endif %}">
      </div>
    {% endif %}

    <div class="subscribe-input">
      <label>* Email Address:</label>
      <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}">
    </div>

    {% if settings.subscribe_fields_date_of_birth %}
      <div class="subscribe-input">
        <label>* Date Of Birth:</label>
        <input type="date" name="contact[note][Date Of Birth]" {% if settings.subscribe_fields_date_of_birth_minimum != '' %}data-minimum-age="{{ settings.subscribe_fields_date_of_birth_minimum }}"{% endif %}>
        <span class="field-error inactive" id="field-error_date-of-birth">You must be 18 years of age or older to sign up. Please get the help of a parent or guardian to continue.</span>
      </div>
    {% endif %}

    {% if settings.subscribe_fields_acceptance %}
      <div class="subscribe-input">
        <span>*</span>
        <input checked type="checkbox" name="customer[accepts_marketing]" id="checkbox">
        <span class="checkbox-label"><label for="checkbox">{{ settings.subscribe_fields_acceptance_text }}</label></span>
      </div>
    {% endif %}

    <div class="subscribe-submit">
      {% if settings.subscribe_button_text != '' %}
        <input type="submit" name="subscribe" value="{{ settings.subscribe_button_text }}" class="btn"></a>
      {% else %}
        <input type="submit" name="subscribe" value="Submit" class="btn"></a>
      {% endif %}
    </div>

  {% endform %}

  <div class="policies">
    {% if settings.subscribe_policy_page_privacy_policy != '' %}
      <a href="https://{{ shop.domain }}/pages/{{ settings.subscribe_policy_page_privacy_policy }}">Privacy Policy</a>
    {% endif %}
  </div>
</div>

{% endif %}
