<!-- /templates/customers/login.recover.liquid -->

<div class="container l padding-bottom-2x">

  <div class="clearfix no-margin">
    <div class="column l6 m6 s12">
      <h1 class="w-normal no-margin">{{ 'account.recover.title' | t }}</h1>
      <p class="padding-bottom">{{ 'account.recover.message_html' | t }}</p>

      {% include 'form-recover' %}

      <p class="margin-top-2x">{{ 'account.recover.create_account_html' | t }}</p>
    </div>
  </div>

</div>
