<!-- /templates/customers/login.liquid -->

<div class="container l login">
  <div class="margin-bottom clearfix">
    
    <!------------------------------------------------------>
    <!--Password Recovery Success Message------------------->
    <!------------------------------------------------------>
    <script>
    $(document).ready(function () {
      if (window.location.href.indexOf('#recover') > -1) {
        $('#recover-status').removeClass('inactive');
        $('#recover-status').addClass('active');
      }
    });
    </script>
    <div id="recover-status" class="inactive">If you have an account with us, we have sent you an email with a link to reset your password. If you don't see this in your inbox, please check your spam folder.</div>
    <!------------------------------------------------------>

    <div class="column l12 m12 s12 content">
      <p>{{ 'account.login.register_sub_title_html' | t }}</p>
      <ul>{{ 'account.welcome.content_html' | t }}</ul>
    </div>
  </div>
  <div class="clearfix">
    <div class="column l6 m6 s-hide">
      <div class="register-wrapper account-form">
        <h1 class="register-title w-bold no-margin">{{ 'account.login.register_title' | t }}</h1>
      {% include 'form-register' %}
      </div>
    </div>

    <div class="column l6 m6 s12 keep-right login-wrapper">
      <div class="account-form">
        <h1 class="login-title no-margin w-bold ">{{ 'account.login.title' | t }}</h1>

        {% include 'form-login' %}

        <div class="s-show margin-bottom"></div>
      </div>
      <div class="right margin-top">
        <img src="{{ 'papoo.jpg' | asset_url }}">
      </div>
    </div>
  </div>
  <div class="padding-bottom-2x"></div>
</div>
