<!-- <div id="qab_placeholder"></div> -->
<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
<!--   <figure class="collection--image">
    <a href="/pages/buffy-slay-day"><img class="buf-collection--image" src="{{ 'buf_header_slayday.png' | asset_url }}" alt="Buffy Slay Day">
      <img class="buf-collection--image--mob" src="{{ 'buf_headermob_slayday.png' | asset_url }}" alt="Buffy Slay Day"></a>
  </figure> -->
  {% section 'dynamic-promo-grid' %}
  
  <div class="gateway-wrapper {{collection.handle}}-gateway-wrapper">
  	
    <div class="gateway--outer">
      {% section 'gateway-sidebar-buf' %}
      <div class="gateway--right">
        {% section 'dynamic-promo-grid2' %}
      </div>
      {% section 'gateway-coll-buf' %}
      {% section 'gateway-coll-buf2' %}
    </div>
    
  </div>
</div>
