<style>
  #brand-nav-bbg-on{
    display: block;
  }
</style>

{% section 'static-collection-bbg' %}

<script>
  var img1 = document.getElementById("brand-nav-bbg"),
      img2 = document.getElementById("brand-nav-bbg-on");

  img1.onmouseover = function(){
    img2.style.display = "block";
  }

  img1.onmouseout = function(){
    img2.style.display = "block";
  }
</script>