<!-- <div id="qab_placeholder"></div> -->
<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
<!--   <figure class="collection--image">
    <a href="/pages/buffy-slay-day"><img class="buf-collection--image" src="{{ 'buf_header_slayday.png' | asset_url }}" alt="Buffy Slay Day">
      <img class="buf-collection--image--mob" src="{{ 'buf_headermob_slayday.png' | asset_url }}" alt="Buffy Slay Day"></a>
  </figure> -->
  {% section 'dynamic-promo-grid-emp' %}
  
  <div class="gateway-wrapper {{collection.handle}}-gateway-wrapper">
  	
    <div class="gateway--outer">
      <div class="gateway--right">
        <div class="emp-copy">FOX, Empire and artist Derrick Adams invite you to join them in supporting Turnaround Arts, a school improvement program of the Kennedy Center that uses the arts to help revitalize struggling schools.  100% of FOX profits from the sale of this specially-designed merchandise will support their mission of helping students, teachers, and families nationwide benefit from the transformative power of the arts in education. <a style="color: #8C8071;" href="http://turnaroundarts.kennedy-center.org/">Learn more about Turnaround Arts here.</a></div>
        <video controls><source src="{{'180924_EMP_video-compressed.mp4' | asset_url }}" type="video/mp4"></video>
        <div class="emp-gateway-grid">
          <img src="{{ '180924_EMP_sectout_derrickadams.jpg' | asset_url }}">
        </div>
      </div>
      {% section 'static-collection-emp' %}
    </div>
    
  </div>
</div>
