<style>
  #brand-nav-bbg-on{
    display: block;
  }
</style>

<!-- <div id="qab_placeholder"></div> -->
<div class="gateway-bkgd {{collection.handle}}-gateway-bkgd">
  <figure class="collection--image">
    <a href="/collections/bobs-burgers"><img class="bbg-collection--image" src="{{ 'catheader_bbg_tunein_d.jpg' | asset_url }}" alt="Bob's Burgers"></a>
    <a href="/collections/bobs-burgers"><img class="bbg-collection--image--mob" src="{{ 'catheader_bbg_tunein_m.jpg' | asset_url }}" alt="Bob's Burgers"></a>
  </figure>
  
  <div class="gateway-wrapper {{collection.handle}}-gateway-wrapper">
  	
    <div class="gateway--outer">
      {% section 'gateway-sidebar-bbg' %}
      <div class="gateway--right">
        {% section 'dynamic-promo-grid3' %}
      </div>

      {% section 'gateway-coll-bbg' %}
      {% section 'gateway-coll-bbg2' %}
    </div>
    
  </div>
</div>

<script>
  var img1 = document.getElementById("brand-nav-bbg"),
      img2 = document.getElementById("brand-nav-bbg-on");

  img1.onmouseover = function(){
    img2.style.display = "block";
  }

  img1.onmouseout = function(){
    img2.style.display = "block";
  }
</script>