{{ content_for_index }}

<style>
  body{
    background-image: url('{{ 'fxt_bkgd.jpg' | asset_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
  }
</style>