{% assign show_breadcrumbs = true %}

{% if show_breadcrumbs %}
  {% include 'advanced-tag-loop' %}

  {%- capture delimiter -%}
    <span class="breadcrumbs-delimiter" aria-hidden="true">
      /
    </span>
  {%- endcapture -%}

  <nav class="breadcrumbs-container" role="navigation" aria-label="breadcrumbs">
    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
    {% if template contains 'page' %}

      {{ delimiter }}
      <span>{{ page.title }}</span>

    {% elsif template contains 'product' %}

      {% if collection.url %}
        {{ delimiter }}
        {{ collection.title | link_to: collection.url }}
      {% endif %}
      {{ delimiter }}
      <span>{{ product.title }}</span>

    {% elsif template contains 'list-collections' %}

      {{ delimiter }}
      <span>{{ 'general.breadcrumbs.collections' | t }}</span>

    {% elsif template contains 'collection' and collection.handle %}

      {{ delimiter }}
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        {{ delimiter }}

        {% for tag in current_tags %}

          {% assign is_advanced_tag = false %}
          {% assign cat = tag | split: '_' | first %}
          {% unless cat == tag %}
            {% if cat_array contains cat %}
              {% assign is_advanced_tag = true %}
              <span class="breadcrumbs-tag">
                {{ tag | remove_first: cat | remove_first: '_' }}
              </span>
            {% endif %}
          {% endunless %}

          {% unless is_advanced_tag %}
            <span class="breadcrumbs-tag">{{ tag }}</span>
          {% endunless %}

          {% unless forloop.last %}
            <span class="breadcrumbs-tag">+</span>
          {% endunless %}
        {% endfor %}
      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}

    {% elsif template == 'blog' %}

      {{ delimiter }}
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        {{ delimiter }}
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}

    {% elsif template == 'article' %}

      {{ delimiter }}
      {{ blog.title | link_to: blog.url }}
      {{ delimiter }}
      <span>{{ article.title }}</span>

    {% elsif template contains 'search' and search.performed %}
      {%
        include 'search-sanitizer',
        search_terms: search.terms
      %}

      {{ delimiter }}
      <span>{{ 'search.general.breadcrumbs_count' | t: terms: sanitized_terms, count: search.results_count }}</span>

    {% else %}

      {{ delimiter }}
       <span>{{ page_title }}</span>

    {% endif %}
  </nav>
{% endif %}