{% comment %}
  @param filter_style {String}
    Type of filtering style, 'none', 'tags', or 'groups'

  @param filter_position {String}
    Where to position filters, 'above_menus', or 'below_menus'

  @param filter_limit {String}
    How many tags (non grouped) should show

  @param menu_depth {String}
    How many child menus to show
{% endcomment %}

<div class="productgrid--sidebar">

  {% if filter_position == 'above_menus' %}
    {% include 'product-grid-sidebar-filters' %}
  {% endif %}

  {% comment %}
    Collection menus
  {% endcomment %}
    {% assign sidebar_menu_depth = menu_depth | times: 1 %}

    <div class="productgrid--sidebar-section has-accordion">
      {% for block in section.blocks %}
        {% assign menu = block.settings.menu %}

        {% if linklists[menu] == blank or linklists[menu].links.size == 0 %}
          {% comment %}
            Exit iteration if a menu doesn't exist, or selected menu has no links
          {% endcomment %}
          {% break %}
        {% endif %}
        <h2 class="productgrid--sidebar-title" data-accordion-trigger>
          Shop by Category
          <span onclick="myFunction()" class="accordion--icon">
            {% include 'icon-chevron-down' %}
          </span>
        </h2>

        <div class="productgrid--sidebar-item productgrid--sidebar-menu accordion--content" data-accordion-content>
          {%
            include 'navmenu',
            menu: block.settings.menu,
            depth: 1,
            max_depth: sidebar_menu_depth,
            submenu_arrows: false,
            is_site_nav: false,
            has_triggers: false,
          %}
        </div>
      {% endfor %}
    </div>

</div>
