{% assign sort_handles = "manual|best-selling|created-descending|price-ascending|price-descending|title-ascending|title-descending" | split: "|" %}

{%- if type == 'select' -%}
  <div class="productgrid--utils utils-sortby">
    <label
      class="utils-sortby-title"
      for="product_grid_sort"
    >
      {{ 'product_grid.sort_by.title' | t }}
    </label>

    <button
      class="utils-sortby-button"
      aria-hidden="true"
      data-productgrid-modal-sort
    >
      {{ 'product_grid.sort_by.title' | t }}
    </button>

    <div class="utils-sortby-select form-field-select-wrapper no-label">
      <select
        class="form-field form-field-select"
        id="product_grid_sort"
        data-productgrid-trigger-sort>
        {%- for handle in sort_handles -%}
          {% assign sort_active = false %}
          {% if collection.sort_by == blank and collection.default_sort_by == handle %}
            {% assign sort_active = true %}
          {% elsif collection.sort_by == handle %}
            {% assign sort_active = true %}
          {% endif %}
          <option value="{{handle}}" {% if sort_active %}selected="selected"{% endif %}>
            {{- 'product_grid.sort_by.' | append: handle | replace: '-', '_' | t -}}
          </option>
        {%- endfor -%}
      </select>
      {% include 'icon-chevron-down-small' %}
    </div>
  </div>
{%- endif -%}

{%- if type == 'modal' -%}
  <div class="utils-sortby--modal" aria-hidden="true" data-productgrid-sort-content>
    <span class="utils-sortby--modal-title">
      {{ 'product_grid.sort_by.title' | t }}
    </span>

    <ul class="utils-sortby--modal-list">
      {%- for handle in sort_handles -%}
        {% assign sort_active = false %}
        {% if collection.sort_by == blank and collection.default_sort_by == handle %}
          {% assign sort_active = true %}
        {% elsif collection.sort_by == handle %}
          {% assign sort_active = true %}
        {% endif %}

        {% assign button_class = 'utils-sortby--modal-button' %}
        {% if sort_active %}
          {% assign button_class = button_class | append: ' utils-sortby--modal-button--active' %}
        {% endif %}

        <li class="utils-sortby--modal-item">
          <button
            class="{{ button_class }}"
            value="{{ handle }}"
            data-productgrid-trigger-sort-button
            {% if sort_active %}
              disabled
            {% endif %}
          >
            {{- 'product_grid.sort_by.' | append: handle | replace: '-', '_' | t -}}
          </button>
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}