<div class="product-gallery--slider" data-product-slider>
  <div class="product-gallery--loader">
    {% include 'icon-spinner' %}
  </div>

  {% if product.images.size > 0 %}
    {% for image in product.images %}
      {% assign img_alt = product.title | escape %}
      {% if image.alt != blank %}
        {% assign img_alt = image.alt | escape %}
      {% endif %}
      <figure
        class="product-gallery--image {% if selected_image == image %}image--selected{% endif %}"
        data-product-image="{{ image.id }}"
        data-product-image-index="{{ forloop.index0 }}"
      >
        <img
          src="{{ image | img_url: 'x700' }}"
          {% if image.width >= 1400 %}
            srcset="{{ image | img_url: 'x1400' }} 2x"
          {% endif %}
          alt="{{ img_alt }}"
        >
      </figure>
    {% endfor %}
  {% else %}
    <figure class="product-gallery--image product-gallery--image-placeholder">
      {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
    </figure>
  {% endif %}
</div>

{% if product.images.size > 1 %}
  <nav class="product-gallery--navigation" data-product-slider-pagination>
    {% for image in product.images %}
      <button
        class="product-gallery--thumbnail-trigger {% if selected_image == image %}thumbnail--selected{% endif %}"
        data-product-thumbnail="{{ forloop.index0 }}"
        type="button"
      >
        <img
          class="product-gallery--thumbnail"
          src="{{ image | img_url: 'x47' }}"
          {% if image.height >= 94 %}
            srcset="{{ image | img_url: 'x47', scale: 2 }} 2x"
         {% endif %}
          alt="{{ image.alt | escape }}"
        >
      </button>
    {% endfor %}
  </nav>
{% endif %}

