{%- comment -%}
  @param blocks {array}
    Array of blocks to iterate block stylings through
{%- endcomment -%}

<style>
  {% for block in blocks %}
    {% assign bg_color = 'transparent' %}
    {% assign bg_image = '' %}
    {% assign bg_image_retina = false %}

    {% if block.settings.image %}
      {% assign bg_image = block.settings.image | img_url: 'master' %}
      {% assign bg_image_retina = block.settings.image | img_url: 'master' %}
      {% assign bg_mobimage = block.settings.mob_image | img_url: 'master' %}
      {% assign bg_mobimage_retina = block.settings.mob_image | img_url: 'master' %}
    {% else %}
      {%- capture bg_image -%}
        {% assign text = settings.color_text %}
        {% assign body_background = settings.color_background %}

        {% assign bg_color = text | color_mix: body_background, 10 %}
        {% assign svg_fill = text | color_mix: body_background, 35 %}
        {%-
          include 'placeholder_svg_uri'
          placeholder: 'image',
          color_string: svg_fill
         -%}
      {%- endcapture -%}
    {% endif %}
    .promo-block--{{ block.id }} {
      color: {{ block.settings.color }};
      background-color: {{ bg_color }};
      background-image: url('{{ bg_image | strip_newlines }}');
    }

    {% if bg_image_retina %}
      @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px),
        (min-resolution: 144dpi) and (min-width: 1024px) {
        .promo-block--{{ block.id }} {
          background-image: url('{{ bg_image_retina }}');
        }
      }
    {% endif %}
    {% if bg_mobimage %}
      @media only screen and (max-width: 767px){
        .promo-block--{{ block.id }} {
          background-image: url('{{ bg_mobimage }}');
        }
      }
    {% endif %}
  {% endfor %}
</style>
