{% if customer %}
                                    {% assign customerId = customer.id %}
                                    {% assign customerName = customer.name %}
                                    {% assign customerEmail = customer.email %}
                                {% endif %}
                                <script>AMSBConfig = {user : {name : "{{ customerName }}", email : "{{ customerEmail }}", id : "{{ customerId }}", country : ""}, site : {id : "26014", domain : "fox-tv-shop.myshopify.com", platform : "sb_shopify"}, version : "15"};</script>
                                