/* Cart ======================================================================*/

.quantity-adjust {
  @include prefixer(user-select, none, webkit moz ms o spec);
  input.quantity {
    display: inline-block;
    width: $gutter/1.5;
    height: $gutter/2.5;
    line-height: $gutter/2.5 - $borderWeight*2;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-color: $colorForeground;
    border-color: $colorBorder;
    font-size: $h5Base;
    color: $colorText;
    &[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.template-cart {
  .cart-related {
    padding: $gutter/5;
    background-color: lighten($colorForeground, 100%);
    border: $borderWeight $borderStyle lighten($colorBorder, 50%);
    border-radius: $gutter/10;
  }

  #CartHeader {
    @include gradient(#c49b6b, #d2bda3, top);
    padding: $gutter/10;
  }

  .additional-cart-content {
    p, h6 {
      font-size: $smallBase;
    }
    hr {
      border-top-color: lighten($colorText, 80%);
    }
  }

  .cart-row {
    border-bottom: $borderWeight $borderStyle $colorBorder;
    .product-image {
      margin-right: $gutter/2.5;
      .ratio {
        border: $borderWeight $borderStyle $colorBorder;
      }
    }
    .sale_price {
      color: $colorError;
    }
    .original_price {
      text-decoration: line-through;
    }
    .savings {
      font-size: 10px;
    }
    input.quantity {
      background-color: lighten($colorForeground, 100%);
      border-color: lighten($colorText, 80%);
    }
  }

  .coupon-code {
    background-color: lighten($colorForeground, 100%);
    border-radius: $gutter/8.33;
    border: $borderWeight $borderStyle lighten($colorText, 80%);
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
  }
}
