/* Search ====================================================================*/

.form-search {
  input[type="text"] {
    width: 85%;
    font-size: 1rem;
  }
  button {
    img {
      height: 100%;
    }
  }
}

.template-search {
  aside {
    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .search-filters {
        display: block !important;
      }
    }
  }
}

// Snize results page
.template-page {
  #MainContent {
    #snize-search-results-grid-mode {
      span.snize-thumbnail {
        background-color: $colorForeground !important;
      }
    }
  }
}

.snize.snize-search-results {
  div.snize-filters-sidebar {
    border-right: $borderWeight $borderStyle $colorText;
  }
  div.slider-container.snize-theme .scale ins {
    color: $colorForeground;
  }

  .snize-search-results-content {
    padding: $gutter/4 !important;
    hr {
      border-color: $colorText !important;
    }
    a {
      color: $colorText !important;
    }
    .snize-product {
      color: $colorText !important;
      .snize-title {
        font-weight: $fontBold !important;
        color: $colorText !important;
      }
      .snize-price-list {
        color: $colorText !important;
      }
    }
  }

  div.snize-pagination ul li {
    a, span {
      color: $colorForeground !important;
      &:hover, &.active {
        background-color: $colorForeground !important;
        color: $colorText !important;
      }
    }
  }
}
