//========== Variables ==========//
$slider-text-color: 				#ffffff;

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Book'), url('AvenirLTStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Medium'), url('AvenirLTStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Heavy'), url('AvenirLTStd-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Light';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Light'), url('AvenirLTStd-Light.otf') format('opentype');
}

$font-family: 'Avenir Next';
$font-family-tertiary  : 'Avenir Next'; // font for menu
$font-family-septenary : 'Avenir Next'; // font for slideshow
$font-family-senary    : 'Avenir Next Medium'; // font for Price
$font-icon 	   		   : "FontAwesome";

$theme-font-size: 					14px;
$theme-font-size-medium: 			18px;
//////////////////// Variables defined for Themes + Skins ////////////////
$theme-color-default: 			    #000000;
$theme-color-secondary:				#a30f0f;
$theme-color-tertiary:              #6e6e6e;
$theme-color-four:					#e27979;

$theme-bg-color:					#ffffff;

$theme-text-color:					#6e6e6e;
$theme-text-color-secondary:		#6e6e6e;
$theme-text-color-tertiary:			#6e6e6e;
$theme-text-banner-color:			#ffffff;

//-------- BORDERS
$border-color:						#ededed;
$main-border:						1px solid $border-color;
$main-border-hover:                 1px solid $theme-color-secondary;

//--------- BUTTON
$theme-button-one-color:      #ffffff;
$theme-button-one-bg:       #a30f0f;
$theme-button-one-border:     #a30f0f;
$theme-button-one-hover-color:    #ffffff;
$theme-button-one-hover-bg:     #a30f0f;
$theme-button-one-hover-border:   #a30f0f;
$theme-button-two-color:      #6e6e6e;
$theme-button-two-bg:       #ffffff;
$theme-button-two-border:     #ffffff;
$theme-button-two-hover-color:    #ffffff;
$theme-button-two-hover-bg:     #6e6e6e;
$theme-button-two-hover-border:   #6e6e6e;

//-- Mixins ===============================//
@mixin clearfix() {
    &:before, &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}
// Animations
@mixin animation($animation) {
    -webkit-animation: $animation;
            animation: $animation;
}
@mixin animation-name($name) {
    -webkit-animation-name: $name;
            animation-name: $name;
}
@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
            animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
            animation-direction: $direction;
}
@mixin animation-fill-mode($animation-fill-mode){
    -webkit-animation-fill-mode: $animation-fill-mode;
    -moz-animation-fill-mode: $animation-fill-mode;
    -ms-animation-fill-mode: $animation-fill-mode;
    -o-animation-fill-mode: $animation-fill-mode;
    animation-fill-mode: $animation-fill-mode;
}
@mixin transition($transition...) {
    -webkit-transition: $transition;
            transition: $transition;
}
@mixin content-animation($animation-name) {
    @if $animation-name == bounce {
        0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
        40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
        70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
        90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}
    } @else if $animation-name == bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
        20% {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
        40% {-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
        60% {opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
        80% {-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}
        100% {opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
    } @else if $animation-name == bounceInDown {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
        75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
        90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInLeft {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
        75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
        90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInRight {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
        75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
        90% {-webkit-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInUp {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
        75% {-webkit-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
        90% {-webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
        100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    } @else if $animation-name == fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}
@mixin keyframes-animation($animation-name){
    @-webkit-keyframes $animation-name{
        @content;
    }
    @-ms-keyframes $animation-name{
        @content;
    }
    @-moz-keyframes $animation-name{
        @content;
    }
    @keyframes $animation-name{
        @content;
    }
}
@mixin keyframes($name : empty){
    @include keyframes-animation($name){
        @include content-animation($name);
    };
    .#{$name}{
        @include animation-name($name);
        @include animation-duration(1s);
        @include animation-fill-mode(backwards);
        @include animation-iteration-count(none);
    }
}

// Call keyframes
@include keyframes(bounceIn);
@include keyframes(bounceInDown);
@include keyframes(bounceInLeft);
@include keyframes(bounceInRight);
@include keyframes(bounceInUp);
@include keyframes(fade);


//-- Slideshow ========================================= //
    #slideshow{
        .slider-container{
            overflow: hidden;
            background-color: #ffffff;
          	
        }
    }
    .slider-container{
        margin: 0px;
        background-color: transparent;
        position: relative;
        width: 100%;
    }
	.apollo_slides{
    	position:relative;
      	background: url(//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/loading.gif?41515) no-repeat center center;
        width:100%;
        height:auto;
        overflow: hidden;
      	img {
            position:absolute;
            top:0px;
            left:0px;
            max-width: none;
        }
      	a.nivo-imageLink {
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            border:0;
            padding:0;
            margin:0;
            z-index:6;
            display:none;
            background:white;
            filter:alpha(opacity=0);
            opacity:0;
        }
    }
	.apollo-html-caption{
    	display: none;
    }
	.nivo-main-image {
        display: block !important;
        position: relative !important;
        width: 100% !important;
    }
    .nivo-slice {
        display:block;
        position:absolute;
        z-index:5;
        height:100%;
        top:0;
    }
    .nivo-box {
        display:block;
        position:absolute;
        z-index:5;
        overflow:hidden;
    }
    .nivo-box img { display:block; }
    .nivo-caption {
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        z-index:8;
        display: none;
      	
      		top: 35%;
      	
    }
    .slide-caption{
        position:absolute;
        margin:0px auto;
        width:700px;
        left:0px;
        right:0px;
      	z-index:9;
        .text_first{
            font-family:$font-family-septenary;
          	font-size:14px;
            color:$slider-text-color;
            text-shadow:none;
            margin:0px 20px 5px;
            text-transform:uppercase;
          	padding:0px;
        }
        h3{
            font-family:$font-family-septenary;
            font-weight:300;
          	font-size:48px;
            text-transform:uppercase;
            color:$slider-text-color;
            margin:0px 20px 20px;
            padding:0px;
            @media screen and (max-width:767px){
                font-size:24px;
            }
        }
        p{
            color:$slider-text-color;
            font-family:$font-family-septenary;
          	font-size: 18px;
          	margin:0px 20px;
            padding:10px 0px;
            font-weight:300;
            @media screen and (max-width:991px){
                display:none;
            }
            .price-slideshow{
                font-weight:700;
                font-size:24px;
                margin-top:15px;
                display:inline-block;
            }
        }
        .btn-slide{
          	font-family:$font-family-septenary;
            font-size:$theme-font-size;
          	background:#000000;
            border:1px solid #000000;
          	color:#ffffff;
            margin:10px 20px;
            padding:10px 15px;
            text-transform:uppercase;
          	@include transition(all 0.3s ease);
          	&:hover,&:focus{
                background:#000000;
                border-color:#000000;
                color:#000000;
            }
        }
    }
    
        
        
        
        

        
        

        
        

        
        

        
        


        
            .caption_1{
                
                    top: 0px;
                
              	
              		left: 0px;
              		right: auto;
              	
                .text_first{

                }
            }
            .nivo-caption .caption_1  h3{
                @extend .fade;
                @include animation-delay(1s);
            }
            .nivo-caption .caption_1  p{
                @extend .fade;
                @include animation-delay(1.5s);
            }
            .nivo-caption .caption_1  a{
                @extend .fade;
                @include animation-delay(2s);
            }
            .nivo-caption .caption_1 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
        


        
            .caption_2{
                
                    top: 0px;
                
              	
              		left: 0px;
              		right: auto;
              	
                .text_first{

                }
            }
            .nivo-caption .caption_2  h3{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_2  p{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_2  a{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_2 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
        


        
            .caption_3{
                
                    top: 0px;
                
              	
              		left: 0px;
              		right: auto;
              	
                .text_first{

                }
            }
            .nivo-caption .caption_3  h3{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_3  p{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_3  a{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_3 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
        


        
            .caption_4{
                
                    top: 0px;
                
              	
              		text-align: center;
              	
                .text_first{

                }
            }
            .nivo-caption .caption_4  h3{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_4  p{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_4  a{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_4 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
        


        
            .caption_5{
                
                    top: 0px;
                
              	
              		text-align: center;
              	
                .text_first{

                }
            }
            .nivo-caption .caption_5  h3{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_5  p{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_5  a{
                @extend .fade;
                @include animation-delay(0.5s);
            }
            .nivo-caption .caption_5 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
        


        
    
    
        .nivo-controlNav{
            display: none;
        }
    
    
        .nivo-directionNav{
            a{
                position: absolute;
                top: 50%;
                margin: -30px 0px 0px 0px;
                display: block;
                cursor: pointer;
                font-size: 0px;
              	z-index: 10;
                width:40px;
                height:40px;
                line-height:40px;
                background-color:#fff;
                @include transition(all 0.35s ease);
                color:#A30F0F;
                @include opacity(0);
                .slider-container:hover &{
                    @include opacity(1);
                }
                &:before{
                    font-family: $font-icon;
                    font-size: 16px;
                    position:absolute;
                    top: 0px;
                    right: 0px;
                    height: 100%;
                    width: 100%;
                    line-height: 40px;
                    text-align: center;
                }
                &:hover{
                    background-color:#A30F0F;
                    color: #fff;
                }
                &.nivo-prevNav{
                    left: 0px;
                    &:before{
                        content: "\f104";
                    }
                }
                &.nivo-nextNav{
                    right: 0px;
                    left: auto;
                    &:before{
                        content: "\f105";
                      	font-family: $font-icon;;
                    }
                }
            }
        }
    
	.caption-fullwidth.container{
    	position: absolute;
      	left: 0px;
      	right: 0px;
      	margin: 0px auto;
      	z-index: 9;
    }
//-- End Slideshow ===================================== //

