//========== GENERAL VARS ==========//
$app-brand-prefix        : leo;

$block-prefix 			 : block;
$block-selector          : block;
$block-heading-selector  : title_block;
$block-content-selector  : block_content;

/***********************************************************************/
// some basic colors
$white:			 				    #FFFFFF; 
$black:							    #000000;
$blue:                              #6087D2;  // Skin blue
$wild-sand:                         #ffffff;  
$silver:                            #f5f5f5;  
$red:            					#ff0000;
$red-light:            				#ff9999;
$yellow-light:           			#ffdc73;
$nocolor:							transparent;
$ease-out-quad:cubic-bezier(0.25, 0.46, 0.45, 0.94);

// Variables paths 
// ========================================================================
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Book'), url('AvenirLTStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Medium'), url('AvenirLTStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Heavy'), url('AvenirLTStd-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Light';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Light'), url('AvenirLTStd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Black';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Black'), url('AvenirLTStd-Black.otf') format('opentype');
}

$font-family: 'proxima-nova', sans-serif;
$font-family-tertiary  : 'proxima-nova', sans-serif; // font for menu
$font-family-septenary : 'proxima-nova', sans-serif; // font for slideshow
$font-family-senary    : 'proxima-nova', sans-serif; // font for Price
$font-icon 	   		   : "FontAwesome";

$theme-font-size: 					14px;
$theme-font-size-medium: 			18px;
//////////////////// Variables defined for Themes + Skins //////////////// 
$theme-color-default: 			    #000000;
$theme-color-secondary:				#a30f0f;
$theme-color-tertiary:              #6e6e6e;
$theme-color-four:					#e27979;

$theme-bg-color:					#ffffff;

$theme-text-color:					#6e6e6e;
$theme-text-color-secondary:		#6e6e6e;
$theme-text-color-tertiary:			#6e6e6e;
$theme-text-banner-color:			#ffffff;

//-------- BORDERS
$border-color:						#ededed;
$main-border:						1px solid $border-color;
$main-border-hover:                 1px solid $theme-color-secondary;

//--------- BUTTON

$theme-button-one-color:      #ffffff;
$theme-button-one-bg:       #a30f0f;
$theme-button-one-border:     #a30f0f;
$theme-button-one-hover-color:    #ffffff;
$theme-button-one-hover-bg:     #a30f0f;
$theme-button-one-hover-border:   #a30f0f;
$theme-button-two-color:      #6e6e6e;
$theme-button-two-bg:       #ffffff;
$theme-button-two-border:     #ffffff;
$theme-button-two-hover-color:    #ffffff;
$theme-button-two-hover-bg:     #6e6e6e;
$theme-button-two-hover-border:   #6e6e6e;

//--------- BACKGROUNDS
$dark-background:                   $black;
$light-background:                  $white;
// Variables
// --------------------------------------------------
$rtl-left : left;
$rtl-right : right;
$theme-gutter-width: 20px;
//========== MENU VARS ==========//
// Mega Menu Module
// ========================================================================
$megamenu-bg:   #ffffff;
$megamenu-bg-outsite:   #ffffff;
$megamenu-color:    #000000;
$megamenu-link-color:   #000000;
$megamenu-link-hover-color: #a30f0f;
$megamenu-link-bg-hover-color:  rgba(0,0,0,0);
$megamenu-sub-text-color:   #222222;
$megamenu-sub-link-color:   #000000;
$megamenu-sub-link-hover-color: #a30f0f;

$megamenu-font-family:                  $font-family-tertiary;
$megamenu-link-font-family:             $font-family;
$megamenu-font-weight:                  700;
$megamenu-caret:                        $megamenu-link-color;
$megamenu-text-align:                   left;

$megamenu-parent-font-size:             14px;
$megamenu-parent-padding:               12px 20px;
$megamenu-parent-text-transform:        uppercase;
$megamenu-sub-bg-color:                 #ffffff;
$megamenu-sub-radius:                   0px;
$megamenu-sub-shadow:                   0px 0px 5px 0px rgba(0, 0, 0, 0.24);
$megamenu-sub-padding:                  15px 0px;
$megamenu-sub-min-width:                185px;
$megamenu-sub-border:                   0;
$megamenu-sub-font-size:                14px;
$megamenu-sub-caret-color:              $megamenu-sub-text-color;

$megamenu-heading-letter:               0px;
$megamenu-heading-title-font-family:    $font-family-tertiary;
$megamenu-heading-color:                $megamenu-sub-text-color;
$megamenu-line-border:                  1px solid #646464;
$megamenu-arrow-bg:                     darken($megamenu-sub-bg-color, 20%);
// Vertical Menu Module
// 
$vermenu-bg:   #FFFFFF;
$vermenu-color:    #000000;
$vermenu-link-color:   #000000;
$vermenu-link-hover-color: #666666;
$vermenu-link-bg-hover-color:  #FFFFFF;
$vermenu-sub-text-color:   #666666;
$vermenu-sub-link-color:   #666666;
$vermenu-sub-link-hover-color: #000000;

$vermenu-font-family:                  $font-family-tertiary;
$vermenu-link-font-family:             $font-family;
$vermenu-font-weight:                  normal;
$vermenu-caret:                        $megamenu-link-color;
$vermenu-text-align:                   left;

$vermenu-parent-font-size:             14px;
$vermenu-parent-padding:               15px 30px 15px 15px;
$vermenu-parent-text-transform:        none;
$vermenu-sub-bg-color:                 #FFFFFF;
$vermenu-sub-radius:                   0px;
$vermenu-sub-shadow:                   0px 0px 5px 0px rgba(0, 0, 0, 0.24);
$vermenu-sub-padding:                  30px 25px;
$vermenu-sub-min-width:                220px;
$vermenu-sub-border:                   0;
$vermenu-sub-font-size:                14px;
$vermenu-sub-caret-color:              $megamenu-sub-text-color;

$vermenu-heading-letter:               0px;
$vermenu-heading-title-font-family:    $font-family-tertiary;
$vermenu-heading-color:                $vermenu-sub-text-color;
$vermenu-line-border:                  1px solid #646464;
$vermenu-arrow-bg:                     darken($megamenu-sub-bg-color, 20%);

$vermenu-icon-color: #000000;
//========== MIXINS ==========//
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}
@mixin tab-focus() {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin size($width, $height) {
	width: $width;
	height: $height;
}
@mixin square($size) {
	@include size($size, $size);
}
@mixin placeholder($color: $input-color-placeholder) {
	&::-moz-placeholder           { color: $color;   // Firefox
	                              opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
	&:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
	&::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}
@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin hide-text() {
	font: #{0/0} a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
@mixin text-hide() {
	@include hide-text();
}
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
	box-shadow: $shadow;
}
@mixin transition($transition...) {
	-webkit-transition: $transition;
			transition: $transition;
}
@mixin transition-property($transition-property...) {
	-webkit-transition-property: $transition-property;
			transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees); // IE9 only
          transform: rotate($degrees);
}
@mixin scale($scale-args...) {
  -webkit-transform: scale($scale-args);
      -ms-transform: scale($scale-args); // IE9 only
          transform: scale($scale-args);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); // IE9 only
          transform: translate($x, $y);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
          transform: skew($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
      -ms-transform: rotateX($degrees); // IE9 only
          transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
      -ms-transform: rotateY($degrees); // IE9 only
          transform: rotateY($degrees);
}
@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
     -moz-perspective: $perspective;
          perspective: $perspective;
}
@mixin perspective-origin($perspective) {
  -webkit-perspective-origin: $perspective;
     -moz-perspective-origin: $perspective;
          perspective-origin: $perspective;
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin; // IE9 only
          transform-origin: $origin;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
          animation: $animation;
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
          animation-name: $name;
}
@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
          animation-direction: $direction;
}
@mixin backface-visibility($visibility){
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}
@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
          user-select: $select;
}
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
  -webkit-column-count: $column-count;
     -moz-column-count: $column-count;
          column-count: $column-count;
  -webkit-column-gap: $column-gap;
     -moz-column-gap: $column-gap;
          column-gap: $column-gap;
}
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode; // IE10+
       -o-hyphens: $mode;
          hyphens: $mode;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
  background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}
@mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}
@mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}
@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}
@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-1x}"), "#{$file-1x}"));

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url(if($bootstrap-sass-asset-helper, twbs-image-path("#{$file-2x}"), "#{$file-2x}"));
    background-size: $width-1x $height-1x;
  }
}
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
@mixin nav-divider($color: #e5e5e5) {
  height: 1px;
  margin: (($line-height-computed / 2) - 1) 0;
  overflow: hidden;
  background-color: $color;
}
@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  & > .panel-heading {
    color: $heading-text-color;
    background-color: $heading-bg-color;
    border-color: $heading-border;

    + .panel-collapse .panel-body {
      border-top-color: $border;
    }
  }
  & > .panel-footer {
    + .panel-collapse .panel-body {
      border-bottom-color: $border;
    }
  }
}
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}
@mixin table-row-variant($state, $background) {
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.#{$state},
    > th.#{$state},
    &.#{$state} > td,
    &.#{$state} > th {
      background-color: $background;
    }
  }
  .table-hover > tbody > tr {
    > td.#{$state}:hover,
    > th.#{$state}:hover,
    &.#{$state}:hover > td,
    &.#{$state}:hover > th {
      background-color: darken($background, 5%);
    }
  }
}
@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;
  }

  a.list-group-item-#{$state} {
    color: $color;

    .list-group-item-heading { color: inherit; }

    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 5%);
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
@mixin pagination-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  > li {
    > a,
    > span {
      padding: $padding-vertical $padding-horizontal;
      font-size: $font-size;
    }
    &:first-child {
      > a,
      > span {
        @include border-left-radius($border-radius);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius($border-radius);
      }
    }
  }
}
@mixin label-variant($color) {
  background-color: $color;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    background-color: darken($color, 10%);
  }
}
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover {
    color: darken($color, 10%);
  }
}
@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-height - $element-height) / 2);
  margin-bottom: (($navbar-height - $element-height) / 2);
}
@mixin progress-bar-variant($color) {
  background-color: $color;
  .progress-striped & {
    @include gradient-striped();
  }
}
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
  table#{$parent}  { display: table; }
  tr#{$parent}     { display: table-row !important; }
  th#{$parent},
  td#{$parent}     { display: table-cell !important; }
}
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @include clearfix();
}
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}
@mixin make-xs-column-offset($columns) {
  @media (min-width: $screen-xs-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xs-column-push($columns) {
  @media (min-width: $screen-xs-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xs-column-pull($columns) {
  @media (min-width: $screen-xs-min) {
    right: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-push($columns) {
  @media (min-width: $screen-sm-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-pull($columns) {
  @media (min-width: $screen-sm-min) {
    right: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-offset($columns) {
  @media (min-width: $screen-md-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (min-width: $screen-md-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (min-width: $screen-md-min) {
    right: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-offset($columns) {
  @media (min-width: $screen-lg-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-push($columns) {
  @media (min-width: $screen-lg-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-pull($columns) {
  @media (min-width: $screen-lg-min) {
    right: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-columns() {
  $list: '';
  $i: 1;
  $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    position: relative;
    min-height: 1px;
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}
@mixin float-grid-columns($class) {
  $list: '';
  $i: 1;
  $list: ".col-#{$class}-#{$i}";
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
  }
}
@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) {
    .col-#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) {
    .col-#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}
@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline  {
    color: $text-color;
  }
  .form-control {
    border-color: $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
      @include box-shadow($shadow);
    }
  }
  .input-group-addon {
    color: $text-color;
    border-color: $border-color;
    background-color: $background-color;
  }
  .form-control-feedback {
    color: $text-color;
  }
}
@mixin form-control-focus($color: $input-border-focus) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
  }
}
@mixin input-size($parent, $input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  #{$parent} {
    height: $input-height;
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
  }
  select#{$parent} {
    height: $input-height;
    line-height: $input-height;
  }
  textarea#{$parent},
  select[multiple]#{$parent} {
    height: auto;
  }
}
@mixin border-exclude-top($border-deep, $border-type , $border-color ){
   border-bottom: $border-deep $border-type $border-color ;
   border-left: $border-deep $border-type $border-color ;
   border-right: $border-deep $border-type $border-color ;
}
@mixin border-exclude-bottom($border-deep, $border-type , $border-color ){
   border-top: $border-deep $border-type $border-color ;
   border-left: $border-deep $border-type $border-color ;
   border-right: $border-deep $border-type $border-color ;
}
@mixin border-exclude-left($border-deep, $border-type , $border-color ){
   border-top: $border-deep $border-type $border-color ;
   border-bottom: $border-deep $border-type $border-color ;
   border-right: $border-deep $border-type $border-color ;
}
@mixin border-exclude-right($border-deep, $border-type , $border-color ){
   border-top: $border-deep $border-type $border-color ;
   border-bottom: $border-deep $border-type $border-color ;
   border-left: $border-deep $border-type $border-color ;
}
@mixin rounded-corners ($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   -o-border-radius: $radius;
   border-radius: $radius;
}
@mixin clearboxstyle(){
   background: none;
   border:none;
}
@mixin clearfloat(){
   float: none;
   width: 100%;
}
@mixin transform-style($transform-style){
   -webkit-transform-style: $transform-style;                    
   -moz-transform-style: $transform-style;                    
   -ms-transform-style: $transform-style;                    
   -o-transform-style: $transform-style;                    
   transform-style: $transform-style;
}
@mixin backface-visibility($backface-visibility){
   backface-visibility: $backface-visibility;  /* W3C */
   -webkit-backface-visibility: $backface-visibility; /* Safari & Chrome */
   -moz-backface-visibility: $backface-visibility; /* Firefox */
   -ms-backface-visibility: $backface-visibility; /* Internet Explorer */
   -o-backface-visibility: $backface-visibility; /* Opera */
}
@mixin animation-theme($animation-duration, $animation-fill-mode, $animation-name){
   -webkit-animation-duration: $animation-duration; 
   -moz-animation-duration: $animation-duration; 
   -ms-animation-duration: $animation-duration; 
   -o-animation-duration: $animation-duration; 
   animation-duration: $animation-duration; 

   -webkit-animation-fill-mode: $animation-fill-mode;
   -moz-animation-fill-mode: $animation-fill-mode;
   -ms-animation-fill-mode: $animation-fill-mode;
   -o-animation-fill-mode: $animation-fill-mode;
   animation-fill-mode: $animation-fill-mode;

   -webkit-animation-name: $animation-name;
   -moz-animation-name: $animation-name; 
   -ms-animation-name: $animation-name; 
   -o-animation-name: $animation-name; 
   animation-name: $animation-name; 
}
@mixin perspective($perspective){
   -webkit-perspective: $perspective;
   -ms-perspective: $perspective;
   -moz-perspective: $perspective;
   -o-perspective: $perspective;
   perspective: $perspective;    
}
@mixin transition-timing-function($timing-function) {
   -moz-transition-timing-function: $timing-function;
   -o-transition-timing-function: $timing-function;
   -webkit-transition-timing-function: $timing-function;
   transition-timing-function: $timing-function;
}
@mixin transform($arguments){
   -webkit-transform: $arguments;
   -moz-transform:    $arguments;
   -ms-transform:     $arguments;
   -o-transform:      $arguments;
}
@mixin appearance($appearance){
   appearance: $appearance;
   -moz-appearance: $appearance;
   -ms-appearance: $appearance;
   -o-appearance: $appearance;
   -webkit-appearance: $appearance; 
}
@mixin rgba($colour, $alpha)
{
   $alphaColour: hsla(hue($colour), saturation($colour), lightness($colour), $alpha);
   $ieAlphaColour: argb($alphaColour);   
   background-color: $colour; 
   background-color: $alphaColour;       
   zoom: 1; 
   background-color: transparent\9;   
   
   
}
@mixin border-rgba($colour, $alpha)
{
   $alphaColour: hsla(hue($colour), saturation($colour), lightness($colour), $alpha);
   $ieAlphaColour: argb($alphaColour);   
   border-color: $colour; 
   border-color: $alphaColour;       
   zoom: 1; 
   border-color: transparent\9;
  
}
@mixin sub-heading($sub-heading-bg, $sub-heading-color) {
  color: $sub-heading-color;
  a{
    color: $sub-heading-color;
    &:hover{
      color: $sub-heading-color;
    }
  }
  padding: $base-box-padding;
  position: relative;
  background: $sub-heading-bg;  
}

@mixin sub-heading-before {
  height: 0;
  width: 0;
  @include rtl-right(45%);
  top: 100%;
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-top-color: $gray-lighter;
}
@mixin background-hover {
  color: $text-color;
  background: rgba(228, 50, 40, 0.3);
}
@mixin button-variant-outline($color, $background, $border, $colorhover, $bghover, $borderhover ) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition(all 0.35s ease);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $colorhover;
    background-color: $bghover;
    border-color: $borderhover ;
    @include transition(all 0.35s ease);
  }
  .open & { &.dropdown-toggle {
    color: $colorhover;
    background-color: $bghover;
        border-color: $borderhover ;
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
@mixin block-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  & .#{$block-heading-selector} {
    color: $heading-text-color;
    a{
      color: $heading-text-color;
    }
    background-color: $heading-bg-color;
    border-color: $heading-border;
    + .#{$block-prefix}-collapse .#{$block-content-selector} {
      border-top-color: $border;
    }
  }
  & > .#{$block-prefix}-footer {
    + .#{$block-prefix}-collapse .#{$block-prefix}-body {
      border-bottom-color: $border;
    }
  }
}
@mixin container-layout-variant($color, $background){
    background: $background;
    color: $color;
}  
@mixin rtl-base-simple ($property, $direction) {
  #{$property}:$direction;
  .rtl & {
    @if $direction == $rtl-right {
      #{$property}:$rtl-left;
    }
    @else {
      #{$property}:$rtl-right;
    }
  }
}
@mixin rtl-base-inherit ($property, $direction, $value, $inherit : inherit) {
  #{$property}-#{$direction}: $value;
  .rtl & {
    @if $direction == $rtl-right {
      #{$property}-#{$rtl-left}: $value;
    }
    @else {
      #{$property}-#{$rtl-right}: $value;
    }
    #{$property}-#{$direction}: $inherit;
  }
}

@mixin rtl-base-toprightbottomleft ($property, $t, $r, $b, $l) {
  #{$property}: $t $r $b $l;
  .rtl & {
    #{$property}: $t $l $b $r;
  }
}
@mixin rtl-direction ($forBody : true) {
  direction: ltr;
  @if $forBody {
    &.rtl {
      direction: rtl;
    }
  }
  @else {
    .rtl & {
      direction: rtl;
    }
  }
}
@mixin rtl-font-family ($ltr, $rtl, $forBody : false) {
  font-family: $ltr;
  @if $forBody {
    &.rtl, &.non-latin {
      font-family:$rtl;
    }
  }
  @else {
    .rtl &, .non-latin & {
      font-family:$rtl;
    }
  }
}
@mixin rtl-margin ($t, $r, $b, $l) {
  @include rtl-base-toprightbottomleft(margin,$t, $r, $b, $l);
}
@mixin rtl-margin-left ($value) {
  @include rtl-base-inherit(margin,$rtl-left,$value);
}
@mixin rtl-margin-right ($value) {
  @include rtl-base-inherit(margin,$rtl-right,$value);
}
@mixin rtl-padding ($t, $r, $b, $l) {
  @include rtl-base-toprightbottomleft(padding,$t, $r, $b, $l);
}
@mixin rtl-padding-left ($value) {
  @include rtl-base-inherit(padding,$rtl-left,$value);
}
@mixin rtl-padding-right ($value) {
  @include rtl-base-inherit(padding,$rtl-right,$value);
}
@mixin rtl-border-width ($t,$r,$b,$l) {
  @include rtl-base-toprightbottomleft(border-width,$t,$r,$b,$l);
}
@mixin rtl-border-style ($t,$r,$b,$l) {
  @include rtl-base-toprightbottomleft(border-style,$t,$r,$b,$l);
}
@mixin rtl-border-left ($value) {
  @include rtl-base-inherit(border,$rtl-left,$value);
}
@mixin rtl-border-right ($value) {
  @include rtl-base-inherit(border,$rtl-right,$value);
}
@mixin rtl-left ($value) {
  #{$rtl-left}: $value;
  .rtl & {
    #{$rtl-right}: $value;
    #{$rtl-left}: auto;
  }
}
@mixin rtl-right ($value) {
  #{$rtl-right}: $value;
  .rtl & {
    #{$rtl-left}: $value;
    #{$rtl-right}: auto;
  }
}
@mixin rtl-text-align-left () {
  @include rtl-base-simple(text-align, $rtl-left);
}
@mixin rtl-text-align-right () {
  @include rtl-base-simple(text-align, $rtl-right);
}
@mixin rtl-float-left () {
  @include rtl-base-simple(float, $rtl-left);
}
@mixin rtl-float-right () {
  @include rtl-base-simple(float, $rtl-right);
}
@mixin rtl-background-position-left ($vertical) {
  background-position:$rtl-left $vertical !important;
  .rtl & {
    background-position:$rtl-right $vertical !important;
  }
}
@mixin rtl-background-position-right ($vertical) {
  background-position:$rtl-right $vertical;
  .rtl & {
    background-position:$rtl-left $vertical;
  }
}
@mixin rtl-background-position-percent ($vertical, $horPercent) {
  background-position:$horPercent $vertical;
  .rtl & {
    background-position:100% - $horPercent $vertical;
  }
}
@mixin rtl-text-shadow ($x, $rest) {
  text-shadow: $x $rest;
  .rtl & {
    text-shadow: -1 * $x $rest;
  }
}
@mixin rtl-box-shadow ($x, $rest) {
  -moz-box-shadow: $x $rest;
  -webkit-box-shadow: $x $rest;
  box-shadow: $x $rest;
  .rtl & {
    -moz-box-shadow: -1 * $x $rest;
    -webkit-box-shadow: -1 * $x $rest;
    box-shadow: -1 * $x $rest;
  }
}
@mixin rtl-border-radius($tl, $tr, $br, $bl) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
  .rtl & {
    -moz-border-radius: $tr $tl $bl $br;
    -webkit-border-radius: $tr $tl $bl $br;
    border-radius: $tr $tl $bl $br;
  }
}
@mixin rtl-border-radius-topright ($value) {
  -moz-border-top-#{$rtl-right}-radius: $value;
  -webkit-border-top-#{$rtl-right}-radius: $value;
  border-top-#{$rtl-right}-radius: $value;
  .rtl & {
    -moz-border-top-#{$rtl-left}-radius: $value;
    -webkit-border-top-#{$rtl-left}-radius: $value;
    border-top-#{$rtl-left}-radius: $value;
    -moz-border-top-#{$rtl-right}-radius: inherit;
    -webkit-border-top-#{$rtl-right}-radius: inherit;
    border-top-#{$rtl-right}-radius: inherit;
  }
}
@mixin rtl-border-radius-bottomright ($value) {
  -moz-border-bottom-#{$rtl-right}-radius: $value;
  -webkit-border-bottom-#{$rtl-right}-radius: $value;
  border-bottom-#{$rtl-right}-radius: $value;
  .rtl & {
    -moz-border-bottom-#{$rtl-left}-radius: $value;
    -webkit-border-bottom-#{$rtl-left}-radius: $value;
    border-bottom-#{$rtl-left}-radius: $value;
    -moz-border-bottom-#{$rtl-right}-radius: inherit;
    -webkit-border-bottom-#{$rtl-right}-radius: inherit;
    border-bottom-#{$rtl-right}-radius: inherit;
  }
}
@mixin rtl-border-radius-topleft ($value) {
  -moz-border-top-#{$rtl-left}-radius: $value;
  -webkit-border-top-#{$rtl-left}-radius: $value;
  border-top-#{$rtl-left}-radius: $value;
  .rtl & {
    -moz-border-top-#{$rtl-right}-radius: $value;
    -webkit-border-top-#{$rtl-right}-radius: $value;
    border-top-#{$rtl-right}-radius: $value;
    -moz-border-top-#{$rtl-left}-radius: inherit;
    -webkit-border-top-#{$rtl-left}-radius: inherit;
    border-top-#{$rtl-left}-radius: inherit;
  }
}
@mixin rtl-border-radius-bottomleft ($value) {
  -moz-border-bottom-#{$rtl-left}-radius: $value;
  -webkit-border-bottom-#{$rtl-left}-radius: $value;
  border-bottom-#{$rtl-left}-radius: $value;
  .rtl & {
    -moz-border-bottom-#{$rtl-right}-radius: $value;
    -webkit-border-bottom-#{$rtl-right}-radius: $value;
    border-bottom-#{$rtl-right}-radius: $value;
    -moz-border-bottom-#{$rtl-left}-radius: inherit;
    -webkit-border-bottom-#{$rtl-left}-radius: inherit;
    border-bottom-#{$rtl-left}-radius: inherit;
  }
}
@mixin inline-block(){
  display: inline-block;
  vertical-align: middle;
}

//========== SASS ==========//
//==========================//
#apollo-menu{
    font-family: $megamenu-font-family;
    color: $megamenu-color;
  	padding: 0px;
    margin: 0px;
}
.apollo-megamenu{
	ul, ol {
        list-style: outside none none;
        margin: 0px;
        padding: 0px;
    }
}
#apollo-top-menu{
    padding: 0px;
    position: relative;
    display: block;
    text-align: center;
}
#apollo-menu{
    .navbar{
        background: $megamenu-bg;
        border: 0;
        margin: 0;
        padding: 0;
        @include rounded-corners(0);
    }
    /* menu level 1 */
    .navbar-nav{
      float:right;
      padding-right:60px;
        > li {
            margin:0px;
            &.full-width {
                position: static;
                > .dropdown-menu  {
                    width: 100% !important;
                }
            }
            &.aligned-center {
                > .dropdown-menu  {
                    left: 50%;
                    @include translate(-50%, 0);
                }
            }
            > a{
                position: relative;
              	padding: 12px 13px;              
              	font-size: $megamenu-parent-font-size;
                text-transform:  $megamenu-parent-text-transform;
                background-color: transparent;
              	color: $megamenu-link-color;
                font-family: 'Avenir Next Black';
                @media screen and (max-width: 1390px){
                  padding: 12px 10px;
                }
                @media screen and (max-width: 1280px){
                  font-size: 13px;
                }
              	@media screen and (max-width: 1250px){
                  padding: 12px 7px;
                }
                @media screen and (max-width: 1008px){
                  padding: 12px 6px;
                }
                @include transition(all 350ms ease-out);
                &:hover,&:focus,&:active{                   
                  color: $megamenu-link-hover-color;              
                  background-color: $megamenu-link-bg-hover-color;
                
                }
            }
            &.dropdown:hover{
              	>a{
                  	&:after{
                    	border-bottom-width: 6px;
                      	@include opacity(1);
                      	@include transition(border 300ms ease-out 0s);
                    }
                }
            }
            .caret{
                width: 10px;
              	border: 0px;
              	&:before{
                	content: "\f107";
                  	font-family: $font-icon;
                  	position: absolute;
                  	top: 13px;
                  	right: 10px;
                    font-weight:normal;
                }
            }
        }       
    }
    /* level 2 */
    .dropdown-menu{         
        top: 100%;  
        left: 0px;
        display: block;
        visibility: hidden;
        height: auto;
        font-weight: 400;
        @include opacity(0);
        @include transform(translate(0,15px));
        color: $megamenu-sub-text-color;
        border: $megamenu-sub-border;
        min-width: 195px;
        padding: $megamenu-sub-padding;
        background-color: $megamenu-sub-bg-color;                           
        @include rounded-corners($megamenu-sub-radius);                         
        @include box-shadow($megamenu-sub-shadow);
        @include transition(all 0.3s $ease-out-quad 0s);
      	@include rtl-text-align-left();
        z-index: 999999!important;
        .mega-col-inner{
          ul{
            li:nth-child(5n){
              line-height: 30px;
            }
          }
        }
        li{
            line-height: 30px;
            padding: 3px 0;
            a{    
                display: block;
                color:$megamenu-sub-link-color;
                padding: 0 15px;
                font-weight: normal;
                font-size: $megamenu-sub-font-size;            
                &:hover{
                    background-color: transparent;
                    color: $megamenu-sub-link-hover-color;
                    .fa{
                        color: $megamenu-sub-link-hover-color;
                    }
                }
              	.caret{
                    &:before{
                        content: "\f105";
                        top: 2px;
                    }
                }
            }           
        }       
        .menu-title{
            margin: 5px 0px 10px;
          	font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: $megamenu-heading-color;
            letter-spacing: $megamenu-heading-letter;
          	a{
            	color: $megamenu-heading-color;
              	&:hover{color: $megamenu-sub-link-hover-color;}
            }
        }
        a > .menu-title{
            text-transform: none;
            color: $megamenu-sub-text-color;
        }
    }
    .dropdown-sub{
        padding: 20px;
        li{
            a{
                padding: 0px;
            }
        }
    }
    .dropdown{      
        &:hover{
            > .dropdown-menu{                       
              visibility: visible;
              @include transform(translate(0,0));
              @include opacity(1);
            }
        }       
    }
    /* level > 3 */
    .dropdown-submenu{
        position: relative;
        .dropdown-menu{                     
            top: 0;
            right: auto;
            left: 120%;                 
            position: absolute;
            display: block;
            visibility: hidden;
            @include opacity(0);
            @include transition(all 0.4s ease);
        }
      	
        &:hover{
            > .dropdown-menu{    
                visibility: visible;        
                left: 100%;
                @include opacity(1);
                @include transition(all 0.4s ease);
            }
        }
    }
    .mega-group {       
        & > .dropdown-toggle {          
            border: 0;  
            display: block;         
            letter-spacing: 3px;                
            text-transform: uppercase;                  
            font-family: $megamenu-heading-title-font-family;   
            color: $megamenu-heading-color;         
            .fa{
                color: $white;
            }
        }   
    } 

    .megamenu .cols1{
        min-width:200px;
    }
    .megamenu .cols2{
        min-width:500px;
    }
    .megamenu .cols3{
        min-width:740px;
    }
    // product
    .product-block{
        background: $nocolor;
        margin: 0px;
        .image{
            height: auto; 
            @include rtl-float-left(); 
            width: 30%; 
            margin: 0 0 10px;
            border: none;
            .product_img_link{
              &:before{
                display:none;
              }
              img{
                @include transform(scale(1.0));
              }
            }
        }
        .product-meta{
            width: 70%;
            padding: 0px 10px;
            @include rtl-float-left();
            @include rtl-text-align-left();
            .product-name{
              	font-size: $theme-font-size + 2;
                color: $megamenu-sub-link-color;
              	line-height: 16px;
                &:hover{
                    color: $megamenu-sub-link-hover-color;
                }
            }
            .product-desc{
                display: none;
            }
            .price{
                color: $theme-color-default;
            }
        }
    }
    // manufacture
    .manu-logo{
        img{
            border: $main-border;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    //blockhtml
    .block-html{
        .box-image{
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
            margin: 0px;
        }
    }

    .btn-menu-canvas{
        background-color: $white;
        color: $theme-color-default;
        margin: 0px;
        @include transition(all 0.35s ease 0s);
        &:hover{
            background-color: white;
            @include transition(all 0.35s ease 0s);
        }
    }
}
/* CANVAS MENU */
#off-canvas-button{
    background-color: $theme-color-four;
    text-align: right;
    font-size: 0px;
    color: $white;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    .off-canvas-nav{
        font-size: 14px;
        width: 40px;
        height: 40px;
        float: right;
        position: relative;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
}
.off-canvas-active {
    #page {
        position: fixed;
        margin: 0 auto;
        left:0px;right:0px;
        @include transition(all 500ms ease 0s);
        @include translate(240px, 0);
      	&:before{
        	content: "";
          	position: absolute;
          	top: 0px;
          	left: 0px;
          	width: 100%;
          	height: 100%;
          	z-index: 1050;
          	background: rgba(0, 0, 0, 0.2);
        }
    }
}
#off-canvas-nav {
    position: fixed;
    left: 0;
    visibility: hidden;
    top: 0;
    width: 0;
    background: white;
    z-index: 999;
    font-family: $megamenu-font-family;
    @include transition(all 500ms ease 0s);
    @include translate(0, 0);
    &.active{
        @include transition(all 500ms ease 0s);
        @include translate(240px, 0);
        visibility: visible;
      	position: absolute;
    }
  	ul{
    	list-style:none;
      	padding:0px;
    }
    .offcanvas-mainnav {
        background-color: $silver;
        position: absolute;
        top: 0;
        left: -240px;
        overflow: hidden;
        width: 240px;
      	min-height:100vh;
    }
    .navbar-nav{
        padding: 0px 10px;
        margin: 0 !important;
        > li{
            border-top: 1px solid $white;
            > a{
                color: $theme-text-color;
                font-size: $theme-font-size + 2;
                font-weight: 500;
                @include transition(all 0.35s ease);
              	display: block;
                &:hover{
                    background-color: $theme-color-four;
                    color: $white;
                    @include transition(all 0.35s ease);
                }
                > .caret{
                    display: block;
                }
            }
            ul li{
                a{
                    font-size: $theme-font-size;
                    display: block;
                    border-bottom: 1px dotted $border-color;
                  	padding: 4px 0px;
                }
            }
        }
    }
    .nav .caret {
        float: right;
        width: 10px;
        height: 10px;
        margin-top: 5px;
        display: none;
    }
    .dropdown-menu{
        font-size: $theme-font-size + 2;
        position: relative;
        display: inline-block;
        left: 0;
        right: 0;
        top: 0;
        float: none;
        margin: 0;
        @include box-shadow(none);
        width: 100%!important;
        border: 0;
        padding: 10px 15px;
        @include translate(0, 0);
        .block-video{
            display: none;
        }
    }
  	.dropdown.parent{
      	>.dropdown-menu{
        	display:none;
        }
      	&.open{
        	>.dropdown-menu{display:block;}
        }
      	.dropdown-toggle{
        	position:absolute;
          	top:0px;
          	right:0px;
          	width:60px;
          	height:40px;
          	z-index:10;
          	text-align:center;
          	cursor:pointer;
          	&:before{
            	content:"\f107";
              	font-family:$font-icon;
              	font-size:24px;
            }
        }
      	.dropdown-sub{background-color:$white;}
    }
  	.products_menu{display:none;}
  	.menu-title{margin-bottom:5px;}
    .mega-col{
        width: 100% !important;
        margin-bottom: 20px;
    }
    [class*="col-"], [class^="col-"]{
        width: 100% !important;
    }
    ul.nav-links{
        @include rtl-padding(3px, 3px, 3px, 15px);
    }
}

@media (min-width: 991px ){ // 991px
    // Menu Canvas
    .off-canvas-active > #page,
    .off-canvas-active > #off-canvas-nav{       
        @include translate(0, 0);
        position:relative!important;
    }
    #off-canvas-button{ display:none !important}
}
//========== VERTICAL MENU ==========//
.shapes{
	&.round{
      	position: relative;
      	@include rtl-float-right();
      	display: none;
      	width: 20px;
      	height: 20px;
      	background: lighten($theme-color-default, 13.5%);
     	border: none;
      	border-radius: 100%;
      	margin-top: 8px;
    }
  	&.bottom{
      	display: none;
    	position: absolute;
      	top: 50%;
      	@include rtl-left(50%);
      	border-top: 7px solid $white;
      	border-right: 5px solid $nocolor;
      	border-left: 5px solid $nocolor;
      	@include rtl-margin-left(-5px);
      	margin-top: -2px;
    }
}
.verticalmenu{
  	background: $vermenu-bg;
  	ul, ol {
        list-style: outside none none;
        margin: 0px;
        padding: 0px;
    }
  	.navbar{
    	margin: 0px;
      	border: 0px;
      	border-top: $main-border;
    }
  	.navbar-collapse{
    	padding: 0px;
    }
  	.navbar-nav{
      	margin: 0px;
    	> li{
          	width: 100%;
          	border-top: $main-border;
          	position: static !important;
          	> a{
            	position:relative;
              	padding:$vermenu-parent-padding;
                font-size:$vermenu-parent-font-size;
                font-weight:normal;
                text-transform:$vermenu-parent-text-transform;
                color:$vermenu-link-color;
                background:transparent;
                font-weight:$vermenu-font-weight;
              	line-height:25px;
                @include transition(all 350ms ease-out);
                &:hover,&:focus,&:active{                   
                    color: $vermenu-link-hover-color;              
                    background: $vermenu-link-bg-hover-color;
                }
              	.menu-desc{
                	font-size: $vermenu-parent-font-size - 2;
                  	font-style:italic;
                  	color: $theme-text-color-secondary;
                  	display: block;
                  	line-height: 14px;
                }
            }
          	&:first-child{
            	border-top: 0px;
            }
          	.caret{
            	position:absolute;
              	top:0;
              	@include rtl-right(0px);
              	border:0px;
              	width:30px;
              	height:55px;
              	line-height:50px;
              	text-align:center;
              	&:before{
                	content:"\f107";
                  	font-family:$font-icon;
                  	
                }
            }
          	&:hover,&:focus{
              	> .caret{
                	border-right-color: $white;
                  	@include transition(all 350ms ease-out);
                }	
            }
          	&.dropdown{
              	> .dropdown-menu{
                	min-height: 100%;
                }
                &:hover{
                    > .dropdown-menu{
                        visibility: visible;
                        @include opacity(1);
                        @include transition(all 0.3s linear 0s);
                    }
                }
            }
          	
          		
          		
          		
          	
          		
          		
          		
          	
          		
          		
          		
          	
          		
          		
          		
          	
          		
          		
          		
          	
          		
          		
          		
          	
        }
    }
  	/* level 2 */
    .dropdown-menu{         
        top: 0px; 
      	left: 100%;
      	margin-left: 2px;
        display: block;
        visibility: hidden;
        font-weight: normal;
        @include opacity(0);
        color: $vermenu-sub-text-color;    
        border: $vermenu-sub-border;
        min-width: $vermenu-sub-min-width;
        padding: $vermenu-sub-padding;
        background-color: $vermenu-sub-bg-color;                           
        @include rounded-corners($vermenu-sub-radius);                         
        @include box-shadow($vermenu-sub-shadow);
        @include transition(all 0.3s linear 0s);
      	#right_column &{
        	margin-left: 0px;
          	margin-right: 2px;
          	left: auto;
          	right: 100%;
          	
        }
        li{
            padding: 5px 30px 5px 0;
            a{    
                display: block;
                color:$vermenu-sub-link-color;
                padding: 0px;
                font-weight: 400;
                font-size: $vermenu-sub-font-size;
                line-height: 22px;              
                &:hover{
                    background-color: transparent;
                    color: $vermenu-sub-link-hover-color;                  
                    .fa{
                        color: $vermenu-sub-link-hover-color;              
                    }
                }
              	.sidebar &{
                  	padding: 0px;
                }
            }
          	.caret{
            	height:32px;
              	line-height:30px;
            }
          	&:hover{
              	> .dropdown-menu{
                	top: 0px;
                  	left: 100%;
                  	right: auto;
                  	@include opacity(1);
                  	visibility: visible;
                }
            }
        }       
        .menu-title{
            margin: 5px 0px;
            text-transform: uppercase;
          	font-weight: 600;
          	font-size: 11px;
            color: $vermenu-heading-color;
            letter-spacing: $vermenu-heading-letter;
        }
      	.mega-col-inner {
        	margin-bottom: 10px;
        }
        a > .menu-title{
            text-transform: none;
            color: $vermenu-sub-text-color;
        }
    }
    .dropdown-sub{
        
    }
  	.product-block{
        background: $nocolor;
        margin: 0px;
      	.product-container{
        	float: left;
          	width: 50%;
          	padding: 0px 10px;
        }
      	.product-meta{
        	text-align: center;
        }
    } 
}
@media (max-width: 991px) { // max 991px
  	#apollo-verticalmenu{
    	margin-bottom: 20px;
      	.block-title{
        	cursor: pointer;
        }
    }
  	.verticalmenu{
      	.navbar-nav{
        	margin: 0px;
          	>li{
              	>a{
                  	@include rtl-padding(15px, 35px, 16px, 15px);
                  	&:after{
                      	background: $nocolor !important;
                    }
                }
              	&.menu-open{
                  	> a{
                    	border-bottom: $main-border;
                    }
                  	> .dropdown-menu{
                      	padding: 10px;
                      	left:0;
                      	right:0;
                  		@include inline-block();
                    }
                }
            }
          	
        }
      	.dropdown-menu{ 
            position: relative;
            display: none;
            left: 0;
            right: 0;
            top: 0;
            float: none;
            margin: 0;
            @include box-shadow(none);
            width: 100%!important;
            border: 0;
          	visibility: visible;
          	@include opacity(1);
            @include translate(0, 0);
          	li{
              	&.menu-open{
                	> .dropdown-menu{
                      	padding: 10px;
                  		@include inline-block();
                    }
                }
            }
        }
      	.product-block{
          	.product-container{
            	width: 100%;
            }
        }
    }
}
.menu-icon{
  	position: relative;
  	display: block;
  	
  		@include rtl-padding-left(35px);
  	
  	.fa{
      	position: absolute;
      	top: 4px;
      	left: 0px;
      	width: 30px;
      	line-height: 17px;
      	font-size: 20px;
      	color: $vermenu-icon-color;
      	text-align: left;
    }
  	.menu-title{
    	display: block;
    }
}

    
    	
		
		
			.menu-icon-1{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_1.png?41515") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-2{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_2.png?41515") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-3{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_3.png?41515") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-4{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_4.png?41515") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-5{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_5.png?41515") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-6{
              	background: url("//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/vertical_icon_6.png?41515") no-repeat left center;
            }
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	

//========== END VERTICAL MENU ==========//
#apollo-menucanvas{
  &:not(.mm-menu){
    display: none;
  }
}
.mm-hidden {
    display: none !important; 
}
.mm-wrapper {
    overflow-x: hidden;
    position: relative;
}
.mm-panel {
    @include transition(0.4s ease);
    @include transform(translate3d(100%, 0, 0));
    &.mm-opened {
        @include transform(translate3d(0%, 0, 0));
    }
    &.mm-subopened {
        @include transform(translate3d(-100%, 0, 0));
    }
    &.mm-highest {
        z-index: 1;
    }
}
.mm-vertical{
    .mm-panel {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        .mm-listview &{
            display: none;
            padding: 10px 0 10px 10px;
            .mm-listview{
                >li{
                    &:last-child{
                        &:after{
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
    .mm-listview{
        .mm-panel{
            display: none;
            padding: 10px 0 10px 10px;
            .mm-listview{
                >li{
                    &:last-child{
                        &:after{
                            border-color: transparent;
                        }
                    }
                }
            }
        }
    }
    li{
        &.mm-opened{
            > .mm-panel{
                display: block;
            }
        }
    }
}
li.mm-vertical.mm-opened > .mm-panel{
    display: block;
}
.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
    height: 40px;
    bottom: auto;
}
.mm-vertical .mm-listview > li > .mm-next:after,
.mm-listview > li.mm-vertical > .mm-next:after {
    top: 16px;
    bottom: auto;
}
.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
    @include transform(rotate(45deg));
}

.mm-header {
    border-bottom: 1px solid transparent;
    text-align: center;
    line-height: 20px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    > a {
        text-decoration: none;
        display: block;
        padding: 10px 0;
    }
    .mm-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .mm-btn {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        z-index: 1;
        &:first-child {
            padding-left: 20px;
            left: 0; 
        }
        &:last-child {
            padding-right: 20px;
            right: 0;
        }
    }
}
.mm-listview,
.mm-listview > li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
.mm-listview {
    font: inherit;
    font-size: $theme-font-size + 1;
    a{
        &,&:hover{
            text-decoration: none;
        }
    }
    >li{
        position: relative;
        > a, > span{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #000;
            line-height: 20px;
            display: block;
            padding: 10px 10px 10px 20px;
            margin: 0;
            &:hover{
                color: $theme-color-secondary;
            }
        }
        &:not(.mm-divider){
            &:after{
                content: '';
                border-bottom-width: 1px;
                border-bottom-style: solid;
                display: block;
                position: absolute;
                left: 20px;
                right: 0;
                bottom: 0;
            }
        }
    }
    .mm-next{
        background: rgba(3, 2, 1, 0);
        width: 50px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        &:before{
            content: '';
            border-left-width: 1px;
            border-left-style: solid;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
        + a, + span{
            margin-right: 50px;
        }
        &.mm-fullsubopen{
            width: 100%;
            &:before{
                border-left: none;
            }
            + a, + span{
                padding-right: 50px;
                margin-right: 0;
            }
        }
    }
}

.mm-menu > .mm-panel > .mm-listview {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-menu > .mm-panel > .mm-listview.mm-first {
    margin-top: -20px; }
  .mm-menu > .mm-panel > .mm-listview.mm-last {
    padding-bottom: 20px;
    padding-top: 10px;
  }

.mm-prev:before,
.mm-next:after {
    content: '';
    border: 2px solid $nocolor;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    @include transform(rotate(-45deg));
}

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 20px; }

.mm-next:after {
  border-top: none;
  border-left: none;
  right: 20px; }

.mm-divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px; }

.mm-listview > li.mm-spacer {
  padding-top: 40px; }
  .mm-listview > li.mm-spacer > .mm-next {
    top: 40px; }
  .mm-listview > li.mm-spacer.mm-divider {
    padding-top: 25px; }

.mm-menu {
    background: #ffffff;
    color: $theme-text-color;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 80%;
    min-width: 140px;
    max-width: 440px; 
    > .mm-panel, &{
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }
    > .mm-panel {
        background: inherit;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 0 20px;
        &.mm-hasheader {
            padding-top: 40px;
        }
        &:before,&:after{
            content: '';
            display: block;
            height: 20px;
        }
    }
    .mm-header {
        border-color: rgba(0, 0, 0, 0.1);
        > a {
            color: $theme-color-secondary;
            font-size: $theme-font-size + 1;
            font-weight: bold;
            text-transform: uppercase;
        }
        .mm-btn{
            &:after,&:before{
                border-color: $theme-text-color-secondary;
            }
        }
    }
    .mm-listview{
        >li{
            &:after{
                border-color: $border-color;
            }
            >a{
                &.mm-prev,&.mm-next{
                    color: $theme-text-color;
                    &:hover{
                        &:after{
                            border-color: $theme-text-color-secondary;
                        }
                    }
                    &:after{
                        border-color: rgba(0, 0, 0, 0.3);
                    }
                    &:before{
                        border-color: rgba(0, 0, 0, 0.0);
                    }
                }
            }
            &.mm-selected{
                >a:not(.mm-next), >span{
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}
.mm-menu.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview li.mm-opened.mm-vertical > .mm-panel{
    background: rgba(0, 0, 0, 0.05);
}
.mm-menu .mm-divider{
    background: rgba(0, 0, 0, 0.05);
}

/*
    jQuery.mmenu offcanvas addon CSS
*/
.mm-page{
    box-sizing: border-box;
    position: relative;
}

.mm-slideout{
    @include transition(transform 0.4s ease);
}

html.mm-opened{
    overflow: hidden;
    position: relative;
}
html.mm-opened body{
    overflow: hidden;
}
html.mm-opened .mm-page{
    min-height: 100vh;
}

html.mm-background .mm-page{
    background: inherit;
}

#mm-blocker{
    background: rgba(3, 2, 1, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker{
    display: block;
}
.mm-menu.mm-offcanvas{
    display: none;
    position: fixed;
}
.mm-menu.mm-current {
    display: block;
}

html.mm-opening .mm-slideout{
    @include transform(translate(80%, 0));
  	@include box-shadow(inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26));
}
@media all and (max-width: 175px){
    html.mm-opening .mm-slideout{
        @include transform(translate(140px, 0));
      	@include box-shadow(inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26));
    }
}
@media all and (min-width: 550px) {
    html.mm-opening .mm-slideout {
        @include transform(translate(440px, 0));
      	@include box-shadow(inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26));
    }
}
/*
    jQuery.mmenu autoHeight addon CSS
*/
.mm-menu.mm-top.mm-autoheight, .mm-menu.mm-bottom.mm-autoheight{
    max-height: 80%;
}
.mm-menu.mm-top.mm-autoheight.mm-fullscreen, .mm-menu.mm-bottom.mm-autoheight.mm-fullscreen{
    max-height: 100%;
}
.mm-menu.mm-measureheight > .mm-panel{
    bottom: auto !important;
    height: auto !important;
}
/*
    jQuery.mmenu buttonbars addon CSS
*/
.mm-buttonbar{
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}
.mm-buttonbar:after {
    content: '';
    display: block;
    clear: both;
}
.mm-buttonbar > * {
    border-left: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mm-buttonbar > a {
    text-decoration: none;
}
.mm-buttonbar > input {
    position: absolute;
    left: -1000px;
    top: -1000px;
}
.mm-buttonbar > input:checked + label {
    border-color: transparent  !important;
}
.mm-buttonbar > *:first-child,
.mm-buttonbar > input:first-child + * {
    border-left: none;
}
.mm-buttonbar.mm-buttonbar-2 > * {
    width: 50%;
}
.mm-buttonbar.mm-buttonbar-3 > * {
    width: 33.33%;
}
.mm-buttonbar.mm-buttonbar-4 > * {
    width: 25%;
}
.mm-buttonbar.mm-buttonbar-5 > * {
    width: 20%;
}
.mm-header .mm-buttonbar{
    margin-top: 0px;
    margin-left: -30px;
    margin-right: -30px;
}
.mm-footer .mm-buttonbar{
    border: none;
    border-radius: none;
    line-height: 40px;
    margin: -10px -10px 0 -20px;
}
.mm-footer .mm-buttonbar > * {
    border-left: none;
}
.mm-listview > li > .mm-buttonbar {
    margin: 10px 20px;
}

.mm-menu .mm-buttonbar {
    border-color: rgba(0, 0, 0, 0.7);
    background: #f3f3f3;
}
.mm-menu .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.7);
    color: #f3f3f3;
}
/*
    jQuery.mmenu counters addon CSS
*/
em.mm-counter {
    font: inherit;
    font-size: 14px;
    font-style: normal;
    text-indent: 0;
    line-height: 20px;
    display: block;
    margin-top: -10px;
    position: absolute;
    right: 50px;
    top: 50%;
}
em.mm-counter + a.mm-next {
    padding-left: 40px;
}
em.mm-counter + a.mm-next + a,
em.mm-counter + a.mm-next + span {
    margin-right: 90px;
}
em.mm-counter + a.mm-fullsubopen {
    padding-left: 0;
}
.mm-vertical > .mm-counter {
    top: 12px;
    margin-top: 0;
}
.mm-vertical.mm-spacer > .mm-counter {
    margin-top: 40px;
}
.mm-nosubresults > .mm-counter {
    display: none;
}
.mm-menu em.mm-counter {
    color: rgba(0, 0, 0, 0.3);
}

/*
    jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker{
    @include transition-duration(0s);
}
/*
    jQuery.mmenu footer addon CSS
*/
.mm-footer {
    background: inherit;
    border-top: 1px solid transparent;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    @include transform(translate3d(0, 0, 0));
}
.mm-menu.mm-hasfooter > .mm-panel {
    bottom: 40px;
}
.mm-menu .mm-footer {
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}
/*
    jQuery.mmenu header addon CSS
*/
.mm-menu > .mm-header {
    background: inherit;
    z-index: 3;
    @include transform(translate3d(0, 0, 0));
}
.mm-menu > .mm-header .mm-close:after {
    content: 'x';
}

.mm-menu.mm-hassearch > .mm-header {
    top: 50px;
}

.mm-menu.mm-hasheader .mm-panel .mm-header {
    display: none;
}
.mm-menu.mm-hasheader .mm-panel,
.mm-menu.mm-hasheader .mm-fixeddivider {
    top: 45px;
}
.mm-menu.mm-hasheader.mm-hassearch .mm-panel,
.mm-menu.mm-hasheader.mm-hassearch .mm-fixeddivider {
    top: 85px;
}
/*
    jQuery.mmenu dividers addon CSS
*/
.mm-divider > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    line-height: 25px;
}
.mm-divider.mm-opened a.mm-next:after {
    @include transform(rotate(45deg));
}

.mm-collapsed:not(.mm-uncollapsed) {
    display: none;
}

.mm-fixeddivider {
    background: inherit;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @include transform(translate3d(0, 0, 0));
}
.mm-fixeddivider:after {
    content: none !important;
    display: none !important;
}
.mm-hasdividers .mm-fixeddivider {
    display: block;
}
.mm-menu .mm-fixeddivider span {
    background: rgba(0, 0, 0, 0.05);
}
/*
    jQuery.mmenu searchfield addon CSS
*/
.mm-menu > .mm-search{
    display: none;
    background: inherit;
    z-index: 3;
    @include transform(translate3d(0, 0, 0));
}

.mm-search{
    width: 100%;
    padding: 10px 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    &, & input{
        box-sizing: border-box;
    }
    input {
        border: $main-border;
        font-size: $theme-font-size;
        color: $theme-text-color;
        outline: none;
        display: block;
        width: 100%;
        height: 35px;
        line-height: 35px;
        margin: 0;
        padding: 0 10px 2px;
        background: #F2F2F2;
        &::-ms-clear{
            display: none;
        }
        &:focus{
            border-color: $theme-color-default;
        }
    }
}
.mm-panel.mm-hassearch{
    padding-top: 40px;
}
.mm-panel.mm-hassearch.mm-hasheader {
    padding-top: 80px;
}
.mm-panel.mm-hassearch.mm-hasheader .mm-search {
    top: 40px;
}
.mm-noresultsmsg {
    text-align: center;
    font-size: 21px;
    display: none;
    padding: 40px 0;
}
.mm-noresults .mm-noresultsmsg {
    display: block;
}
.mm-noresults .mm-indexer{
    display: none !important;
}
.mm-menu li.mm-nosubresults > a.mm-next {
    display: none;
}
.mm-menu li.mm-nosubresults > a.mm-next + a,
.mm-menu li.mm-nosubresults > a.mm-next + span {
    padding-right: 10px;
}
.mm-menu.mm-hassearch .mm-panel,
.mm-menu.mm-hassearch .mm-fixeddivider {
    top: 40px;
}
.mm-menu .mm-noresultsmsg {
    color: rgba(0, 0, 0, 0.3);
}

/*
    jQuery.mmenu sectionIndexer addon CSS
*/
.mm-indexer {
    background: inherit;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    width: 20px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: -100px;
    z-index: 3;
    @include transition(right 0.4s ease);
    @include transform(translate3d(0, 0, 0));
}
.mm-indexer a {
    text-decoration: none;
    display: block;
    height: 3.71%;
}
.mm-indexer ~ .mm-panel.mm-hasindexer {
    padding-right: 40px;
}
.mm-hasindexer .mm-indexer{
    right: 0;
}
.mm-hasindexer .mm-fixeddivider {
    right: 20px;
}
.mm-hasheader .mm-indexer {
    top: 50px;
}
.mm-hasfooter .mm-indexer {
    bottom: 50px;
}
.mm-hassearch .mm-indexer {
    top: 50px;
}
.mm-hassearch.mm-hasheader .mm-indexer {
    top: 90px;
}
.mm-menu .mm-indexer a {
    color: rgba(0, 0, 0, 0.3);
}
/*
    jQuery.mmenu toggles addon CSS
*/
input.mm-toggle,
input.mm-check {
    position: absolute;
    left: -10000px;
}

label.mm-toggle,
label.mm-check {
    margin: 0;
    position: absolute;
    bottom: 50%;
    z-index: 2;
}
  label.mm-toggle:before,
  label.mm-check:before {
    content: '';
    display: block;
}
label.mm-toggle {
    border-radius: 30px;
    width: 50px;
    height: 30px;
    margin-bottom: -15px;
}
label.mm-toggle:before {
    border-radius: 30px;
    width: 28px;
    height: 28px;
    margin: 1px;
}

input.mm-toggle:checked ~ label.mm-toggle:before {
    float: right;
}

label.mm-check {
    width: 30px;
    height: 30px;
    margin-bottom: -15px;
}
label.mm-check:before {
    border-left: 3px solid;
    border-bottom: 3px solid;
    width: 40%;
    height: 20%;
    margin: 25% 0 0 20%;
    opacity: 0.1;
    @include transform(rotate(-45deg));
}
input.mm-check:checked ~ label.mm-check:before {
    opacity: 1;
}
label.mm-toggle, label.mm-check {
    right: 20px;
}
label.mm-toggle + a,
label.mm-toggle + span {
    padding-right: 80px;
}
label.mm-check + a,
label.mm-check + span {
    padding-right: 60px;
}
a.mm-next + label.mm-toggle, a.mm-next + label.mm-check {
    right: 60px;
}
a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span, a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
    margin-right: 50px;
}
a.mm-next + label.mm-toggle + a,
a.mm-next + label.mm-toggle + span {
    padding-right: 70px;
}
a.mm-next + label.mm-check + a,
a.mm-next + label.mm-check + span {
    padding-right: 50px;
}
em.mm-counter + a.mm-next + label.mm-toggle, em.mm-counter + a.mm-next + label.mm-check {
    right: 100px;
}
em.mm-counter + a.mm-next + label.mm-toggle + a,
em.mm-counter + a.mm-next + label.mm-toggle + span, em.mm-counter + a.mm-next + label.mm-check + a,
em.mm-counter + a.mm-next + label.mm-check + span {
    margin-right: 90px;
}
.mm-menu label.mm-toggle {
    background: rgba(0, 0, 0, 0.1);
}
.mm-menu label.mm-toggle:before {
    background: #f3f3f3;
}
.mm-menu input.mm-toggle:checked ~ label.mm-toggle {
    background: #4bd963;
}
.mm-menu label.mm-check:before {
    border-color: rgba(0, 0, 0, 0.7);
}
/*
    jQuery.mmenu borderstyle extension CSS
*/
.mm-menu.mm-border-none .mm-listview > li:after,
.mm-listview.mm-border-none > li:after {
    content: none;
}

.mm-menu.mm-border-full .mm-listview > li:after,
.mm-listview.mm-border-full > li:after {
    left: 0 !important;
}
/*
    jQuery.mmenu effects extension CSS
*/
html.mm-effect-slide .mm-menu.mm-offcanvas {
    @include transition(transform 0.4s ease);
}
html.mm-effect-slide.mm-opened .mm-menu.mm-offcanvas {
    @include transform(translate3d(-30%, 0, 0));
}
html.mm-effect-slide.mm-opening .mm-menu.mm-offcanvas {
    @include transform(translate3d(0%, 0, 0));
}
html.mm-effect-slide.mm-right.mm-opened .mm-menu.mm-offcanvas {
    @include transform(translate3d(30%, 0, 0));
}
html.mm-effect-slide.mm-right.mm-opening .mm-menu.mm-offcanvas {
    @include transform(translate3d(0%, 0, 0));
}
html.mm-effect-zoom-menu .mm-menu.mm-offcanvas {
    @include transition(transform 0.4s ease);
}
html.mm-effect-zoom-menu.mm-opened .mm-menu.mm-offcanvas {
    @include transform(scale(0.7, 0.7) translate3d(-30%, 0, 0));
    @include transform-origin(left center);
}
html.mm-effect-zoom-menu.mm-opening .mm-menu.mm-offcanvas {
    @include transform(scale(1, 1) translate3d(0%, 0, 0));
}
html.mm-effect-zoom-menu.mm-right.mm-opened .mm-menu.mm-offcanvas {
    @include transform(scale(0.7, 0.7) translate3d(30%, 0, 0));
    @include transform-origin(right center);
}
html.mm-effect-zoom-menu.mm-right.mm-opening .mm-menu.mm-offcanvas {
    @include transform(scale(1, 1) translate3d(0%, 0, 0));
}

html.mm-effect-zoom-panels .mm-menu .mm-panel {
    @include transform(scale(1.5, 1.5) translate3d(100%, 0, 0));
    @include transform-origin(left center);
    @include transform-origin(transform left);
}
html.mm-effect-zoom-panels .mm-menu .mm-panel.mm-opened {
    @include transform(scale(1, 1) translate3d(0%, 0, 0));
}
html.mm-effect-zoom-panels .mm-menu .mm-panel.mm-opened.mm-subopened {
    @include transform(scale(0.7, 0.7) translate3d(-30%, 0, 0));
}
/*
    jQuery.mmenu fullscreen extension CSS
*/
.mm-menu.mm-fullscreen {
    width: 100%;
    min-width: 140px;
    max-width: 10000px;
}

html.mm-opening.mm-fullscreen .mm-slideout {
    @include transform(translate(100%, 0));
}

@media all and (max-width: 140px) {
    html.mm-opening.mm-fullscreen .mm-slideout {
        @include transform(translate(140px, 0));
    }
}
@media all and (min-width: 10000px) {
    html.mm-opening.mm-fullscreen .mm-slideout {
        @include transform(translate(10000px, 0));
    }
}
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    @include transform(translate(-100%, 0));
}

@media all and (max-width: 140px) {
    html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
        @include transform(translate(-140px, 0));
    }
}
@media all and (min-width: 10000px) {
    html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
        @include transform(translate(-10000px, 0));
    }
}
.mm-menu.mm-fullscreen.mm-top, .mm-menu.mm-fullscreen.mm-bottom {
    height: 100%;
    min-height: 140px;
    max-height: 10000px;
}

html.mm-opened.mm-fullscreen .mm-page {
    box-shadow: none !important;
}

/*
    jQuery.mmenu multiline extension CSS
*/
.mm-menu.mm-multiline .mm-listview > li > a,
.mm-menu.mm-multiline .mm-listview > li > span,
.mm-listview.mm-multiline > li
.mm-listview > li.mm-multiline > a,
.mm-listview.mm-multiline > li
.mm-listview > li.mm-multiline > span {
    text-overflow: clip;
    white-space: normal;
}
/*
    jQuery.mmenu pageshadow extension CSS
*/
.mm-menu.mm-pageshadow:after {
    content: "";
    display: block;
    width: 20px;
    height: 120%;
    position: absolute;
    left: 100%;
    top: -10%;
    z-index: 99;
}
.mm-menu.mm-pageshadow.mm-right:after {
    left: auto;
    right: 100%;
}
.mm-menu.mm-pageshadow.mm-next:after, .mm-menu.mm-pageshadow.mm-front:after {
    content: none;
    display: none;
}
.mm-menu.mm-pageshadow:after {

}
/*
    jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.mm-menu.mm-right {
    left: auto;
    right: 0;
}

.mm-menu.mm-bottom {
    top: auto;
    bottom: 0;
}

html.mm-right.mm-opening .mm-slideout {
    @include transform(translate(-80%, 0));
}
@media all and (max-width: 175px) {
    html.mm-right.mm-opening .mm-slideout {
        @include transform(translate(-140px, 0));
    }
}
@media all and (min-width: 550px) {
    html.mm-right.mm-opening .mm-slideout {
        @include transform(translate(-440px, 0));
    }
}
/*
    jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
    transform: none !important;
    z-index: 0 !important;
    @include transform(none);
}

.mm-menu.mm-front {
    z-index: 1;
}

.mm-menu.mm-front, .mm-menu.mm-next {
    @include transition(transform 0.4s ease);
    @include transform(translate3d(-100%, 0, 0));
}
.mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    @include transform(translate3d(100%, 0, 0));
}
.mm-menu.mm-top {
    @include transform(translate3d(0, -100%, 0));
}
.mm-menu.mm-bottom {
    @include transform(translate3d(0, 100%, 0));
}

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
    @include transform(translate3d(0, 0, 0));
}

.mm-menu.mm-top, .mm-menu.mm-bottom {
    height: 80%;
    min-height: 140px;
    max-height: 880px;
}
/*
    jQuery.mmenu themes extension CSS
*/
.mm-menu.mm-theme-dark {
    background: #333333;
    color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark .mm-header {
    border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-header > a {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-header .mm-btn:before,
.mm-menu.mm-theme-dark .mm-header .mm-btn:after {
    border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-listview > li:after {
    border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-listview > li > a.mm-prev, .mm-menu.mm-theme-dark .mm-listview > li > a.mm-next {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-listview > li > a.mm-prev:before, .mm-menu.mm-theme-dark .mm-listview > li > a.mm-next:after {
    border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-listview > li > a.mm-prev:after, .mm-menu.mm-theme-dark .mm-listview > li > a.mm-next:before {
    border-color: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-dark .mm-listview li.mm-opened.mm-vertical > .mm-panel{
    background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-theme-dark .mm-divider {
    background: rgba(255, 255, 255, 0.05);
}
.mm-menu.mm-theme-dark .mm-buttonbar {
    border-color: rgba(255, 255, 255, 0.8);
    background: #333333;
}
.mm-menu.mm-theme-dark .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.8);
    color: #333333;
}
.mm-menu.mm-theme-dark label.mm-check:before {
    border-color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark em.mm-counter{
    color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-footer{
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark .mm-fixeddivider span {
    background: rgba(255, 255, 255, 0.05);
}

.mm-menu.mm-pageshadow.mm-theme-dark:after{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.mm-menu.mm-theme-dark .mm-search input {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
.mm-menu.mm-theme-dark .mm-noresultsmsg {
    color: rgba(255, 255, 255, 0.4);
}

.mm-menu.mm-theme-dark .mm-indexer a {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-dark label.mm-toggle {
    background: rgba(0, 0, 0, 0.15);
}
.mm-menu.mm-theme-dark label.mm-toggle:before {
    background: #333333;
}
.mm-menu.mm-theme-dark input.mm-toggle:checked ~ label.mm-toggle {
    background: #4bd963;
}
.mm-menu.mm-theme-white {
    background: white;
    color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white .mm-header {
    border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-header > a {
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-header .mm-btn:before,
.mm-menu.mm-theme-white .mm-header .mm-btn:after {
    border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-listview > li:after {
    border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-listview > li > a.mm-prev, .mm-menu.mm-theme-white .mm-listview > li > a.mm-next {
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-listview > li > a.mm-prev:before, .mm-menu.mm-theme-white .mm-listview > li > a.mm-next:after {
    border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-listview > li > a.mm-prev:after, .mm-menu.mm-theme-white .mm-listview > li > a.mm-next:before {
    border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > span {
    background: rgba(0, 0, 0, 0.05);
}
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-white.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-white .mm-listview li.mm-opened.mm-vertical > .mm-panel {
    background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-theme-white .mm-divider {
    background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-theme-white .mm-buttonbar {
    border-color: rgba(0, 0, 0, 0.6);
    background: white;
}
.mm-menu.mm-theme-white .mm-buttonbar > * {
    border-color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white .mm-buttonbar > input:checked + label {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
.mm-menu.mm-theme-white label.mm-check:before {
    border-color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white em.mm-counter {
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-footer {
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-fixeddivider span {
    background: rgba(0, 0, 0, 0.03);
}
.mm-menu.mm-pageshadow.mm-theme-white:after {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.mm-menu.mm-theme-white .mm-search input {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
}
.mm-menu.mm-theme-white .mm-noresultsmsg {
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white .mm-indexer a {
    color: rgba(0, 0, 0, 0.3);
}
.mm-menu.mm-theme-white label.mm-toggle {
    background: rgba(0, 0, 0, 0.1);
}
.mm-menu.mm-theme-white label.mm-toggle:before {
    background: white;
}
.mm-menu.mm-theme-white input.mm-toggle:checked ~ label.mm-toggle {
    background: #4bd963;
}
.mm-menu.mm-theme-black {
    background: black;
    color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black .mm-header{
    border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-header > a {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-header .mm-btn:before,
.mm-menu.mm-theme-black .mm-header .mm-btn:after {
    border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-listview > li:after {
    border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-listview > li > a.mm-prev, .mm-menu.mm-theme-black .mm-listview > li > a.mm-next{
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-listview > li > a.mm-prev:before, .mm-menu.mm-theme-black .mm-listview > li > a.mm-next:after {
    border-color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-listview > li > a.mm-prev:after, .mm-menu.mm-theme-black .mm-listview > li > a.mm-next:before {
    border-color: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu.mm-theme-black .mm-listview > li.mm-selected > span {
    background: rgba(255, 255, 255, 0.3);
}
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > a.mm-next,
.mm-menu.mm-theme-black.mm-vertical .mm-listview li.mm-opened > .mm-panel,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-theme-black .mm-listview li.mm-opened.mm-vertical > .mm-panel{
    background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black .mm-divider {
    background: rgba(255, 255, 255, 0.2);
}

.mm-menu.mm-theme-black .mm-buttonbar{
    border-color: rgba(255, 255, 255, 0.6);
    background: black;
}
.mm-menu.mm-theme-black .mm-buttonbar > * {
    border-color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black .mm-buttonbar > input:checked + label {
    background: rgba(255, 255, 255, 0.6);
    color: black;
}
.mm-menu.mm-theme-black label.mm-check:before {
    border-color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black em.mm-counter {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-footer {
    border-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-fixeddivider span {
    background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-pageshadow.mm-theme-black:after {
    content: none;
    display: none;
}
.mm-menu.mm-theme-black .mm-search input {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
}
.mm-menu.mm-theme-black .mm-noresultsmsg {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black .mm-indexer a {
    color: rgba(255, 255, 255, 0.4);
}
.mm-menu.mm-theme-black label.mm-toggle {
    background: rgba(255, 255, 255, 0.2);
}
.mm-menu.mm-theme-black label.mm-toggle:before {
    background: black;
}
.mm-menu.mm-theme-black input.mm-toggle:checked ~ label.mm-toggle {
    background: #4bd963;
}
/*LEFT*/
.side-nav-left {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
    display: block!important;
}
.drag-target-left, .hide.drag-target-left {
	width: 3px;
	z-index: 101;
	display: block;
	position: fixed;
	left: -100px;
	top: 0px;
	bottom: 0;
  	transition: all 0.6s ease 0s;
}
.over-cover {
	position:fixed;
	top:0;
	left:100%!important;
	z-index:-100;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}

.button-collapse-left, .hide.button-collapse-left {
    position: fixed;
    top: 50%;
    left: -100px;
    width: 40px;
    height: 40px;
    background-color: $nocolor;
    z-index: 99990;
    transition: all 0.6s ease 0s;
  	.mdi-navigation-menu{
    	display: block;
      	position: relative;
      	width: 25px;
      	height: 40px;
      	line-height: 40px;
      	text-align: center;
      	background: $theme-color-secondary;
      	&:before{
        	content: "\f054";
          	font-family: $font-icon;
          	font-size: $theme-font-size;
          	color: $white;
          	display: block;
        }
      	&:after{
        	content: "";
          	position: fixed;
          	top: 0px;
          	bottom: 0px;
          	left: 0px;
          	height: 100%;
          	width: 5px;
          	background: $theme-color-secondary;
        }
    }
  	.mm-opened &{
    	display: none;
    }
}
.side-nav-container-left .side-nav-left {
	min-height: 100%;
	top: 0px;
	max-height: 100%;
	overflow: auto;
	height: 100%;
	position: fixed;
	left: 0px!important;
	background-color: #FFF;
	max-width: 300px;
  	z-index: 99990;
}
.box-left-menu {
	border: 1px solid #bdbdbd;
	background-color: #f5f5f5;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 400px;
	left: 0;
}
.menu-close {
	display: none;
}
body, .over-cover {
	left:0;
	margin-left: 0;
	transition: all 0.3s ease 0s;
}
.move-left-to-right #page {
  	z-index:-1;
	margin-left: 250px;
  	display: block;
  	width: 100%;
	transition: all 0.6s ease 0s;
}
body.move-left-to-right .over-cover {
	background:rgba(0,0,0,0.6);
	z-index:300;
	left: 250px!important;
  	@include transition(all 0.3s);	
	display: block!important;
}
.drag-panel-left {
    background-color: $theme-bg-color;
    width: 3px;
    height: 100%;
}

/*RIGHT*/

.side-nav-right {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: block!important;
}
.drag-target-right, .hide.drag-target-right {
	width: 3px;
	z-index: 101;
	display: block;
	position: fixed;
	top: 0px;
  	right: -100px;
	bottom: 0;
  	transition: all 0.6s ease 0s;
}

.button-collapse-right, .hide.button-collapse-right {
    right: -100px;
    position: fixed;
    top: 50%;
    width:60px;
    text-align:right;
    height:40px;
    z-index: 99990;
    background-color: $nocolor;
    transition: all 0.6s ease 0s;
}
.side-nav-container-right .side-nav-right {
	min-height: 100%;
	top: 0px;
	max-height: 100%;
	overflow: auto;
	height: 100%;
	position: fixed;
	background-color: #FFF;
	max-width: 250px;
  	right: 0!important;
  	z-index: 99990!important;
}
.box-right-menu {
	border: 1px solid #bdbdbd;
	background-color: #f5f5f5;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 400px;
	right: 0;
}
body.move-right-to-left {
  	position: relative;
  	left: -250px!important;
}
body.move-right-to-left .over-cover {
	background:rgba(0,0,0,0.6);
	z-index:300!important;
	transition: all 0.3s ease 0s;
	display: block!important;
  	left: 0!important;
}
.drag-panel-right {
    background-color: $theme-bg-color;
    width: 3px;
    float: right;
    height: 100%;
}
.move-right-to-left #page {
  	z-index:-1;
	margin-right: 250px;
  	display: block;
  	width: 100%;
	transition: all 0.6s ease 0s;
}
@media screen and (max-width: 767px) {
  	/*LEFT - MENU*/
  	.button-collapse-left, .drag-target-left {
    	left: 0;
    	transition: all 0.6s ease 0s;
  	}
  	.off-canvas-active{
    	.button-collapse-left, .drag-target-left {
      		left: 240px;
      		transition: all 0.3s ease 0s;
      		display:none;
    	}
  	}
  	.hide.drag-target-left, .hide.button-collapse-left {
 		left: -100px;
    	transition: all 0.6s ease 0s;
  	}
  	/*RIGHT - MENU*/
  	.button-collapse-right, .drag-target-right {
    	right: 0;
    	transition: all 0.6s ease 0s;
  	}
  	.hide.drag-target-right, .hide.button-collapse-right {
    	right: -100px;
    	transition: all 0.6s ease 0s;
  	}
}