// some basic colors
$white:			 				    #FFFFFF; 
$black:							    #000000;
$blue:                              #6087D2;  // Skin blue
$wild-sand:                         #ffffff;  
$silver:                            #f5f5f5;  
$red:            					#ff0000;
$red-light:            				#ff9999;
$yellow-light:           			#ffdc73;
$nocolor:							transparent;

// Variables paths 
// ========================================================================
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Book'), url('AvenirLTStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Medium'), url('AvenirLTStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Heavy'), url('AvenirLTStd-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir Next Light';
  font-style: normal;
  font-weight: normal;
  src: local('AvenirLTStd-Light'), url('AvenirLTStd-Light.otf') format('opentype');
}

$font-family: 'Avenir Next';
$font-family-tertiary  : 'Avenir Next'; // font for menu
$font-family-septenary : 'Avenir Next'; // font for slideshow
$font-family-senary    : 'Avenir Next Medium'; // font for Price
$font-icon 	   		   : "FontAwesome";

$theme-font-size: 					14px;
$theme-font-size-medium: 			18px;
//////////////////// Variables defined for Themes + Skins //////////////// 
$theme-color-default: 			    #000000;
$theme-color-secondary:				#a30f0f;
$theme-color-tertiary:              #6e6e6e;
$theme-color-four:					#e27979;

$theme-bg-color:					#ffffff;

$theme-text-color:					#ffffff;
$theme-text-color-secondary:		#6e6e6e;
$theme-text-color-tertiary:			#6e6e6e;
$theme-text-banner-color:			#ffffff;

//-------- BORDERS
$border-color:						#ededed;
$main-border:						1px solid $border-color;
$main-border-hover:                 1px solid $theme-color-secondary;

//--------- BUTTON
$theme-button-one-color:      #ffffff;
$theme-button-one-bg:       #a30f0f;
$theme-button-one-border:     #a30f0f;
$theme-button-one-hover-color:    #ffffff;
$theme-button-one-hover-bg:     #a30f0f;
$theme-button-one-hover-border:   #a30f0f;
$theme-button-two-color:      #6e6e6e;
$theme-button-two-bg:       #ffffff;
$theme-button-two-border:     #ffffff;
$theme-button-two-hover-color:    #ffffff;
$theme-button-two-hover-bg:     #6e6e6e;
$theme-button-two-hover-border:   #6e6e6e;

$theme-gutter-width: 30px;

$passwordPageUseBgImage: true;


.template-password{
  	height: 100vh;
  	text-align: center;
  	.modal-backdrop{
    	background: $theme-bg-color;
      	&.in{
            opacity: 1;

        }
    }
}
.password-page{
  	display: table;
  	height: 100%;
  	width: 100%;
  	background-color: $theme-bg-color;
  	@if $passwordPageUseBgImage {
    	background-image: url(//cdn.shopify.com/s/files/1/1505/6302/t/86/assets/pwBackground.jpg?41515);
    	background-size: cover;
    	background-repeat: no-repeat;
    	color: $theme-text-color;
  	} @else {
      	color: $theme-text-color;
  	}
    a {
      	color: inherit;
    }
  	hr {
    	@if $passwordPageUseBgImage {
      		border-color: $border-color;
        } @else {
            border-color: $border-color;
        }
  	}
}

.shopify-logo-svg{
  	width: 82px;
    height: 24px;
  	display: inline-block;
  	line-height: 0;
  	vertical-align: top;
  	path {
    	fill: currentColor;
  	}
  	.lt-ie9 & {
    	display: none;
  	}
}
.pwPageHeader{
	display: table-row;
  	height: 1px;
  	.pwPageHeaderInner{
    	display: table-cell;
      	vertical-align: top;
  		padding: 30px;
    }
}
.pwPageContent{
  	display: table-row;
  	height: 1px;
  	.pwPageContentInner{
    	display: table-cell;
      	vertical-align: middle;
  		padding: 30px;
    }
}
.pwFooter{
	display: table-row;
  	height: 1px;
  	.pwFooterInner{
    	display: table-cell;
      	vertical-align: bottom;
  		padding: 30px;
    }
}
.btnModal{
	font-size: $theme-font-size + 4;
  	color: $theme-text-color;
  	&:hover{
    	color: $theme-color-default;
    }
}
.pwPageLogo{
	margin-top: 85px;
}
.pwPageContentOpen{
	font-size: 60px;
  	color: $theme-text-color;
  	margin: 0px;
  	padding: 20px 0px;
  	text-transform: none;
}
.pwSignupFormHeading.h5{
	color: $white;
  	margin: 0px;
  	padding: 10px 0px;
  	font-size: $theme-font-size;
  	font-weight: 400;
  	text-transform: none;
}
.pwSignupForm{
	max-width: 500px;
  	margin: 0px auto;
  	.input-group{
      	.form-control{
        	height: 44px;
          	font-size: $theme-font-size + 1;
        }
      	.btn{
        	height: 44px;
          	padding: 6px 20px;
          	font-weight: 500;
          	font-size: $theme-font-size + 1;
          	text-transform: uppercase;
        }
    }
}
.copyright{
	line-height: 30px;
  	margin: 0px;
  	a{
    	color: $white;
      	&:hover{
        	color: $theme-color-default;
        }
    }
}
#LoginModal{
  	.modal-body{
    	padding: 30px 50px;
    }
  	.input-group{
    	.form-control{
        	height: 44px;
          	font-size: $theme-font-size + 1;
        }
      	.btn{
        	height: 44px;
          	padding: 6px 20px;
          	font-weight: 500;
          	font-size: $theme-font-size + 1;
          	text-transform: uppercase;
        }
    }
  	.admin-login{
    	margin: 15px 0px 0px;
      	a{
        	color: $theme-color-default;
        }
    }
  	p.h4{
    	margin: 20px 0px;	
      	line-height: 30px;
      	
    }
}