<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="djPt0DyA5STFAbJKkSxjawGlRPJneqWzvaX3KnSjOL8" />
  <meta name="google-site-verification" content="4QlWxxvzdZ4-JxxVBpA-iIkfrKTGJCt6AB7q1nahFdM" />
  <meta name="google-site-verification" content="dhvGr9DnQqXKlF1Ie4f5s1M_hnTBEld3fMK2_Tg9pa0" />
  <meta name="google-site-verification" content="bd3nmkDOVRkEn7Y-vexSJVKujTYH7qRS6eyQyCJzfAo" />
  <meta name="google-site-verification" content="CHO1Ptlr_4wXX_vOqVSdoPuiU_bKaiYbAXg4YhzIoDw" />
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://code.jquery.com">
  <link rel="preconnect" href="https://aracahq.com">
  <link rel="preconnect" href="https://cdn.shopify.com">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'pdp-video.scss.css' | asset_url | stylesheet_tag }}
  {{ 'consent-manager.css' | asset_url | stylesheet_tag }}
  {% if settings.password_validation_enabled %}
  {{ 'password-validation.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template.name == 'product' and settings.shopify_recommendations_enabled %}
  {{ 'pdp-style.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer="defer"></script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'jquery-ui.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'custom.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'custom.min.js' | asset_url }}"></script><![endif]-->
  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% include 'password-validation' %}
  {% include 'geolocation-redirect' %}

  {% include 'field-validation' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'pdp-video.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'pdp-video.js' | asset_url }}"></script><![endif]-->
  {% if template.name == 'search' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'search-script.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'search-script.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  {% if template.name == 'cart' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'cart-script.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'cart-script.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  {% if template.name == 'index' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'index-script.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'index-script.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  {% if template.name == 'collection' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'collection-script.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'collection-script.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  {% if template.name == 'product' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'pdp-script.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'pdp-script.min.js' | asset_url }}"></script><![endif]-->
  {% if settings.shopify_recommendations_enabled %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'pdp-recommendation-script.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'pdp-recommendation-script.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  {% endif %}

  {% include 'consent-management' %} 
  {% include 'facebook-pixel' %}
  <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SRLKJv"></script>
</head>

<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-center">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    {% section 'popups' %}

  </div>
  {% include 'swym-isa-custom' %}
  {% include 'ajaxify-cart' %}
  {% include 'swymSnippet' %}

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "SRLKJv",
      platform: "shopify",
      exclude_on_tags: "NLA-ITEM" });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false},
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#000",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"}});
  </script>


</body>
</html>
