{% comment %}
  The contents of the collection.multiitem.liquid template can be found in /sections/collection-template-multiitem.liquid
{% endcomment %}

{% section 'collection-template-multiitem' %}
