<html>

  <head>
    <title>We'll Be Right Back!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="//cdn.shopify.com/s/files/1/0082/7192/1204/files/vector-smart-object_2x_1c523773-82e4-4d60-a32d-ed284c6c5c23_1024x1024@2x.png?v=1557514980" sizes="16x16" type="image/png">

    <style>
      @font-face {
        font-family: AvenirPro-Regular;
        src: url(https://cdn.shopify.com/s/files/1/2597/4248/t/91/assets/AvenirNextLTPro-Regular.otf);
      }
      @font-face {
        font-family: AvenirPro-Demi;
        src: url(https://cdn.shopify.com/s/files/1/2597/4248/t/91/assets/AvenirNextLTPro-Demi.otf);
      }
      body {
        font-family: AvenirPro-Regular;
      }
      body .content {
        top: 30%;
        position: relative;
      }
      body .content .logo {
        max-width: 355px;
        margin: 0 auto;
      }
      body .content .logo img {
        width: 100%;
      }
      body .content .message {
        font-size: 20px;
        text-align: center;
        margin-top: 65px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <div class="logo">
        <img src="//cdn.shopify.com/s/files/1/0082/7192/1204/files/vector-smart-object_2x_1c523773-82e4-4d60-a32d-ed284c6c5c23_1024x1024@2x.png?v=1557514980" />
      </div>
      <div class="message">We are temporarily down for maintenance, and will be back shortly!</div>
    </div>
  </body>

</html>
