<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- ===========================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/

  The Araca Group
  https://github.com/Elkfox/The-Araca-Group

  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
============================================================================ -->

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    {% include 'meta-favorites' %}
    {% include 'tealium-global' %}
    <title>{{ shop.name }} - {{ page_title }}</title>
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type="text/css">
      .cardholder-appreciation {
        color: #39b33d;
        padding: 10px;
        border: 1px solid rgb(217, 253, 193);
        border-radius: 5px;
        background-color: rgb(228, 252, 231);
        width: auto;
        font-weight: bold;
        margin-bottom: 20px;
      }
    </style>

    {% include 'field-validation' %}

    {% include 'evergage' %}

    <script src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">

        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% for discount in checkout.discounts %}
              {% if discount.code == 'National Geographic Credit Card Discount' %}
                <div class="cardholder-appreciation" >Thank you for being a National Geographic Card Holder!</div>
              {% endif %}
            {% endfor %}

            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>

        <script>
          // Identify each step on load and change
          $(document).on('page:load page:change', function() {
            // With 'page:change' in place, we can target dynamically loaded elements
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });
          // Identify each step on load only
          $(document).on('page:load', function() {
            if ((Shopify.Checkout.step) !== undefined) {
              // console.log(Shopify.Checkout.step)
              if (Shopify.Checkout.step === 'contact_information') {
                // This is contact information
              } else if (Shopify.Checkout.step === 'shipping_method') {
                // This is order confirmation
              } else if (Shopify.Checkout.step === 'payment_method') {
              }
            } else {
              // Thank you page
            }
          });


        </script>
      </div>
    </div>

    {% include 'checkout-gift-note' %}

    {{ tracking_code }}

    <script type="text/javascript">
      if(localStorage != undefined && localStorage.credit_card_code != undefined) {
        localStorage.credit_card_code = undefined;
      }

      function mask_promocode_onsubmit(){
        var discount_code = $("input#checkout_reduction_code").val();
        if( (discount_code.toUpperCase().indexOf('NATIONAL GEOGRAPHIC CREDIT CARD DISCOUNT') !== -1) || (discount_code.indexOf('412667') !== -1) ) {
          $("input#checkout_reduction_code").val('');
          $("form.edit_checkout.animate-floating-labels > div.fieldset > div.field").addClass("field--error");
          return false;
        }
        return true;
      }

      var reduction_code_form_check = setInterval( function() {
        if( $('button[type="submit"].field__input-btn.btn').length == 0 ) {
          return;
        }
        $('button[type="submit"].field__input-btn.btn').on('click', mask_promocode_onsubmit);
      },1000);

    </script>

    <!-------------------------------------------------------------->
    <!--START: Add 'Learn More' Link To Payment Method Section------>
    <!-------------------------------------------------------------->
    <script>
      var checkSectionTextExists = setInterval(function() {
         if ($('.step[data-step="payment_method"] > form > .step__sections > .section--payment-method > .section__header > .section__text').length) {
            $('.step[data-step="payment_method"] > form > .step__sections > .section--payment-method > .section__header > .section__text').append("<a title='Privacy policy' data-modal='policy-2135326769' data-close-text='Close' href='/29592384/policies/2135326769.html'>Learn More</a>");
            clearInterval(checkSectionTextExists);
         }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'Learn More' Link To Payment Method Section-------->
    <!-------------------------------------------------------------->

    <!------------------------------------------------------->
    <!--START: Modify Checkout Privacy Links----------------->
    <!------------------------------------------------------->
    <script>
      //Remove 'Privacy policy' Link
      $('.main__footer > div[role="contentinfo"] > .policy-list > .policy-list__item a[title="Privacy policy"]').closest('.policy-list__item').remove();

      //Change 'Terms of service' Link Text To 'Purchase Terms Of Service'
      $('.main__footer > div[role="contentinfo"] > .policy-list > .policy-list__item a[title="Terms of service"]').html('Purchase Terms Of Service');

      //Add 'National Geographic Terms Of Service' External Link
      $('.main__footer > div[role="contentinfo"] > .policy-list').append('<li class="policy-list__item"><a title="National Geographic Terms Of Service" target="_blank" href="https://www.nationalgeographic.com/community/terms/">National Geographic Terms Of Service</a></li>');

      //Add 'National Geographic Privacy Policy' External Link
      $('.main__footer > div[role="contentinfo"] > .policy-list').append('<li class="policy-list__item"><a title="National Geographic Privacy Policy" target="_blank" href="https://www.nationalgeographic.com/community/privacy/">National Geographic Privacy Policy</a></li>');
    </script>
    <!------------------------------------------------------->
    <!--END: Modify Checkout Privacy Links------------------->
    <!------------------------------------------------------->

    <!-------------------------------------------------------------->
    <!--START: Add 'View Shipping Rates' Link----------------------->
    <!-------------------------------------------------------------->
    <script>
      var checkInjectTargetExists_ShippingMethodSectionHeader = setInterval(function() {
        var InjectTarget_ShippingMethodSectionHeader = '.step__sections > .section--shipping-method > .section__header';
        if ($(InjectTarget_ShippingMethodSectionHeader).length) {
          $(InjectTarget_ShippingMethodSectionHeader).find('.section__title').css('float', 'left');
          $(InjectTarget_ShippingMethodSectionHeader).append('<a style="margin-left:10px" title="Shipping Rates" data-modal="shipping-rates" data-close-text="Close" href="{{ 'shipping-rates.html' | asset_url }}">View Shipping Rates</a>');
          clearInterval(checkInjectTargetExists_ShippingMethodSectionHeader);
        }
      }, 100);
    </script>
    <!-------------------------------------------------------------->
    <!--END: Add 'View Shipping Rates' Link------------------------->
    <!-------------------------------------------------------------->

    <!-------------------------------------------------------------->
    <!--START: SteelHouse Tracking Pixel---------------------------->
    <!-------------------------------------------------------------->

    <!-- INSTALL ON ALL PAGES OF SITE-->
    <script type="text/javascript">
    (function(){"use strict";var e=null,b="4.0.0",
    n="22899",
    additional="term=value",
    t,r,i;try

    {t=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,2048)):""}
    catch(o)

    {t=document.referrer!==null?document.referrer.toString().substring(0,2048):""}
    try

    {r=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}
    catch(u)

    {r=document.location}
    try

    {i=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,2048)):""}
    catch(a){try

    {i=r!==null?encodeURIComponent(r.toString().substring(0,2048)):""}
    catch(f){i=""}}var l,c=document.createElement("script"),h=null,p=document.getElementsByTagName("script"),d=Number(p.length)-1,v=document.getElementsByTagName("script")[d];if(typeof l==="undefined")

    {l=Math.floor(Math.random()*1e17)}
    h="dx.steelhousemedia.com/spx?""dxver="+b"&shaid="n"&tdr="t"&plh="i"&cb="+l+additional;c.type="text/javascript";c.src=("https:"===document.location.protocol?"https://":"http://")+h;v.parentNode.insertBefore(c,v)})()
    </script>

  </body>
</html>
