<!doctype html>

<!-- ===========================================================================
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/

Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
============================================================================ -->

<!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

<head>

  <script src="//cdn.blueconic.net/natgeo.js" async></script>

  <!-- META ================================================================ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="google-site-verification" content="JQ_hH_uI-_Y8Zf5KwVBTpeyKwRlnlZi_Mf9MJ5F-ReU" />
  <meta name="google-site-verification" content="rg2FoqtEwcD2dL6XFobofkxdQn1J-xGP3i_AqC4klZc" />
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{% include 'meta-title' %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  {% include 'meta-social-tags' %}
  {% include 'meta-favorites' %}
  {% include 'theme-typography' %}

  <!-- Shopify ============================================================= -->
  {{ content_for_header }}

  <!-- CSS ================================================================= -->
  {{ 'app.scss.css' | asset_url | stylesheet_tag }}

  <!-- CSS ================================================================= -->
  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}

  <!-- JavaScript =========================================================== -->
  {% if shop.customer_accounts_enabled and template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  <script>
    var cart; // Make cart functions global
    $(document).ready(function() {
      cart = new Cartfox.Cart({{ cart | json }}, {
        // addItem: '[data-add-to-cart]',
        addItem: '.data-add-to-cart',
        cartItemCount: "[data-cart-item-count]",
        cartTotal: "[data-cart-total]",
        decreaseQuantity: "[data-minus-one]",
        increaseQuantity: "[data-plus-one]",
        itemQuantity: '[data-item-quantity]',
        removeItem: '[data-remove-item]',
        emptyTemplate: '[data-cart-template]',
        itemsContainer: '[data-item-container]'
      });

      if(localStorage != undefined && localStorage.credit_card_code =='National Geographic Credit Card Discount') {
        $('a[href="/checkout"]').on('click', function(event) {
          event.preventDefault();
          window.location.href = this.href + '?discount='+encodeURIComponent(localStorage.credit_card_code);
        });
      }
    });
  </script>
  {{ 'free-gifts.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
    {% if product.metafields.productinfo.customizable == 'yes' %}
      <script type="text/javascript" src="//apps.ezprints.com/home/406f4883-addd-4b0c-8b96-119877ac44c1.ezp"></script>
      <script type="text/javascript">

        var templateId = '{{ product.selected_or_first_available_variant.sku }}';
        var ezpSku = '{{ product.selected_or_first_available_variant.metafields.ezp.sku }}'
        var ezpSkuToProductIdMap = {
          {%- for variant in product.variants -%}
            {%- if variant.metafields.ezp.sku != blank -%}
              '{{ variant.metafields.ezp.sku }}': '{{ variant.id }}',
            {%- endif -%}
          {%- endfor -%}
        }
        // fires when the application is ready for use
        var readyHandler = function() {
          console.log('ready');
        };
        var loadHandler = function() {
          console.log('load');
        };
        var saveHandler = function() {
          console.log('save');
        };
        var templateHandler = function() {
          console.log('template');
        };
        var addToCartHandler = function(projectId, ezpSku, thumbnail) {
          var variantId = ezpSkuToProductIdMap[ezpSku];
          var properties = {
            ezp_projectId: projectId,
            ezp_sku: ezpSku,
            ezp_thumbnail: thumbnail
          }
          // (variant id, quantity, line item properties)
          cart.addItem(variantId, 1, properties);
          ezPrintsPopup.hide();
        };
        var errorHandler = function(error) {
          console.log(error);
        };
        var app = ezp.apps.createTemplateApp({
          preferHtml5: true,
          transparent: true,
          elementId: 'ezPrintsContainer', // The id of the element the iframe will be loaded in
          projectId: '',
          width: 750, // width of the app iframe
          height: 600, //Height of the app iframe
          sku: ezpSku, // SKU of the EZPrints product - i.e the product that will be printed on such as a mug.
          addToCartCallback: addToCartHandler, // fired when the product is added to the EZprints cart
          errorCallback: errorHandler, // Fired when the app throws an error
          readyCallback: readyHandler, // Fired when the app is ready
          loadCallback: loadHandler, // Callback for after the app has loaded
          saveCallback: saveHandler, // Fired when the customisation is saved
          templateLoadCallback: templateHandler, // Fired when a template is loaded
          templateId: templateId, // Defines a template for the app to use
          singleMediaUploadEnabled: true, // Allows users to upload files from their device
          mediaPickerSources: ['ezpservices','facebook','flickr','picasa','smugmug'], // Allows users to upload images from these sources.
          // comboTrayInitialAssetCollectionUri: "EMPTY" // Not sure what this does, there is no documentation for it but it existed on the old site.
        });
      </script>
    {% endif %}
  {% endif %}

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  <!---------------------------------------------->
  <!--Start Bing Script--------------------------->
  <!---------------------------------------------->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"53000029"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <!--End Bing Script----------------------------->

  <!-- Start Google Code for Remarketing Tag -->
  <!--------------------------------------------------
  Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
  --------------------------------------------------->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1068832973;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1068832973/?guid=ON&script=0"/>
  </div>
  </noscript>
  <!-- End Google Code for Remarketing Tag -->

  <!-- Start SteelHouse Tracking Pixel -->
  <!-- INSTALL ON ALL PAGES OF SITE-->
  <script type="text/javascript">
  (function(){"use strict";var e=null,b="4.0.0",
  n="22899",
  additional="term=value",
  t,r,i;try

  {t=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,2048)):""}
  catch(o)

  {t=document.referrer!==null?document.referrer.toString().substring(0,2048):""}
  try

  {r=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}
  catch(u)

  {r=document.location}
  try

  {i=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,2048)):""}
  catch(a){try

  {i=r!==null?encodeURIComponent(r.toString().substring(0,2048)):""}
  catch(f){i=""}}var l,c=document.createElement("script"),h=null,p=document.getElementsByTagName("script"),d=Number(p.length)-1,v=document.getElementsByTagName("script")[d];if(typeof l==="undefined")

  {l=Math.floor(Math.random()*1e17)}
  h="dx.steelhousemedia.com/spx?"+"dxver="+b+"&shaid="+n+"&tdr="+t+"&plh="+i+"&cb="+l+additional;c.type="text/javascript";c.src=("https:"===document.location.protocol?"https://":"http://")+h;v.parentNode.insertBefore(c,v)})()
  </script>
  <!-- End SteelHouse Tracking Pixel -->

  <!-- Start AdLucent Parallel Tracking Pixel -->
  <script type="text/javascript">
  var adlDays=30;
  var adlClkID,adlName;
  if (/[?&]gclid=/.test(document.location.search)) {
    adlName="gclid";
  } else if(/[?&]adlclid=/.test(document.location.search)) {
    adlName="adlclid";
  }
  if (adlName) {
    adlClkID =
  document.location.search.substring(document.location.search.match("[?&]"+adlName.toString()+"=").index+adlName.length+2).split("&")[0];
    document.cookie = "_adlClkID="+adlClkID+"; max-age="+(60*60*24*adlDays).toString()+"; path=/";
  }</script>

  <!-- End AdLucent Parallel Tracking Pixel -->

  {% include 'field-validation' %}


  {% include 'tealium-global' %}
  {{ 'pdp-video.scss.css' | asset_url | stylesheet_tag }}
  {% include 'evergage' %}

  <script type="text/javascript">
    ! function(o, t) {
        var e = window.bronto = function() {
            "string" == typeof arguments[0] && e.q.push(arguments), e.go && e.go()
        };
        e.q = e.q || [];
        var n = o.createElement(t),
            s = o.getElementsByTagName(t)[0];
        s.parentNode.insertBefore(n, s), n.async = !0, n.onload = e, n.src = "https://snip.bronto.com/v2/sites/eyJ0eXBlIjoic2l0ZWhhc2giLCJpZCI6ImI4ZjVjM2I1MmU5NWQ0YjU0ZTczZDBlZTgzNGI2NzUxMDYzYmE2Yzk0M2IzOWJiMDRjODlkNDNmNTNlZTlhNzQifQ==/assets/bundle.js"
    }(document, "script");
  </script>

  {% include 'consent-management' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != null %} suffix-{{ template.suffix }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">

  {% section 'theme-announcements' %}
  {% section 'theme-header' %}
  {% section 'free-gifts' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'theme-footer' %}
  {% section 'theme-popups' %}

  {% include 'popup-quicklook' %}
  {% include 'popup-error' %}

  <script type="text/javascript">
    // Cart error handling
    const quickAddCallback = (cart)=>{
      //cartPopup.show();
      //$('html, body').animate({ scrollTop: $('.theme-header').offset().top }, {{ settings.transition_speed }});

      $('[data-cart-item-count]').html( cart.item_count );
      $('[data-cart-total]').html(
        concrete.Currency.formatMoney(
          cart.total_price 
        )
      );

      var quantity = $("[name=quantity]").val();
      $('#addedToCart_qty').html( quantity );
      $('#mobile_item_quantity').html( quantity );

      if($('label.inline.swatch-selector.center.active').length > 0) {
        $('#AddedToCartPopup #product_title > #added_product_variant_type').empty();
        $('#AddedToCartPopup #product_title > #added_product_variant_type').append(" - " + $('label.inline.swatch-selector.center.active').html());
      }
      $('#close_added_to_cart_popup').on('click',function(){$('#AddedToCartPopup').removeClass('visible');});
      $('#popup_continue_shopping').on('click',function(){$('#AddedToCartPopup').removeClass('visible');});
      $('#popup_continue_shopping_mobile').on('click',function(){$('#AddedToCartMobilePopup').removeClass('visible');});
      $('#AddedToCartPopup').addClass('visible');
      $('#AddedToCartPopup').removeAttr('style');
      $('#AddedToCartMobilePopup').addClass('visible');
      $('#AddedToCartMobilePopup').removeAttr('style');
    }
    $(document).on('cartfox:requestComplete', function(event, cart, error) {
      if (error) {
        $("#ErrorPopup").find("#errorMessage").text(error);
        errorPopup.show();
      } else {
        (async()=>{
          {% unless template == 'cart' %}
            try{
              cart = await FREE_GIFT_PLUGIN.adjustCart();
            }catch(error){
              $("#ErrorPopup").find("#errorMessage").text(error);
              errorPopup.show();
            }
            quickAddCallback(cart);
          {% endunless %}
        })();
      }
    });

    // Sign up form submissions
    $(document).on('keyup keydown keypress', '#submitSubscribeForm', function(event) {
      var keyCode = event.keyCode || event.which;
      if (keyCode === 13) {
        event.preventDefault();
        return false;
      }
    });

    $(document).on('click', '#submitSubscribeForm', function(e) {
      e.preventDefault();
      //$(this).addClass('disabled');
      var errors = [];
      var $dateOfBirth = $(this).closest('#contact_form').find('.dateOfBirth');
      var $errors = $(this).closest('#contact_form').children('div.error-wrapper');
      if ($dateOfBirth.length) {
        var dob = Date.parse($dateOfBirth.val());
        if ((isNaN(dob) || dob < 0)) {
          var error = '<li>Date must be valid MM/DD/YYYY</li>';
          errors.push(error);
        }
      }
      if(errors.length === 0) {
        $(this).closest('#contact_form').submit();
      } else {
        if($errors.children('span.errors').length){
          for (var error = 0; error < errors.length; error++) {
            $errors.children('span.errors ul').append(errors[error])
          }
        } else {
          var html = '<span class="errors">';
          html+='<ul>';
          for (var error = 0; error < errors.length; error++) {
            html+= errors[error];
          }
          html+='</ul>';
          html+='</span>';
          $errors.html(html);
        }

        $errors.slideDown();
        $(this).removeClass('disabled');
        errors = [];
      }
    });
  </script>
  {% include 'swym-wishlist' %}
  {% include 'swym-personalizedgifts-wishlist' %}

  <!---------------------------------------------->
  <!--Start LiveChat Script----------------------->
  <!---------------------------------------------->
  <script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 7029551;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
  </script>
  <!--End LiveChat Script------------------------->


{% include 'swymSnippet' %}

{% include 'stamped-global' %}

</body>
</html>
