{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_netflix_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width-no-padding socials">
    <div class="grid grid--no-gutters">
      {% if social_icons %}
        <div class="text-center site-footer__social-icons-wrapper">
          <div class="site-footer__social-header">CONNECT WITH US</div>
          <div class="netflix-originals-link">
              {% if settings.social_netflix_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_netflix_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Netflix' }}">
                    <img data-sizes="auto" data-src="{{ 'social-netflix.png' | asset_url }}" class="lazyload">
                    <span class="icon__fallback-text">Netflix</span>
                  </a>
                </li>
              {% endif %}
            </div>
            <div class="youtube-originals-link">
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <img data-sizes="auto" data-src="{{ 'social-youtube.png' | asset_url }}" class="lazyload">
                    <span class="icon__fallback-text">YouTube</span>
                  </a>
                </li>
              {% endif %}
            </div>
          <ul class="list--inline site-footer__social-icons social-icons">
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="page-width">
    <div class="grid grid--no-gutters">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item site-footer__newsletter-wrapper">
          <div class="site-footer__newsletter" id="footer-newsletter">
            {% include 'subscribe' %}
          </div>
        </div>
      {% endif %}

      <div class="footer-menu-items">
        <div class="grid__item">
          {% if linklists[section.settings.footer_linklist].links.size > 0 %}
            <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist].title }}</span>
            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
              {% for link in linklists[section.settings.footer_linklist].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="grid__item">
          {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
            <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_two].title }}</span>
            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
              {% for link in linklists[section.settings.footer_linklist_two].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="grid__item">
          {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
            <span class="site-footer__linklist_title">{{ linklists[section.settings.footer_linklist_three].title }}</span>
            <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
              {% for link in linklists[section.settings.footer_linklist_three].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>


    </div>

    <div class="grid grid--no-gutters footer-bottom-section">
      <div class="medium-up--one-third footer-left">
      </div>

      <div class="medium-up--one-third footer-right">
        <div class="site-footer__copyright">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">Email: <a style="color: #fff;" href="">.com</a> &nbsp;<span class="s-hide">|</span>&nbsp;<br class="l-hide m-hide"> Phone: <a href="tel:">?</a><br>8am - 8pm EST Mon-Fri &nbsp; | &nbsp; 10am - 6pm EST Sat</small>
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text' | t}}</small>
            <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_legaltext' | t}}</small>
          {% endunless %}
          {% if section.settings.show_payment_icons %}
            
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              <p>WE ACCEPT:</p>
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  <li class="payment-icon">
                    <img data-sizes="auto" data-src="{{ 'payment-amex.png' | file_img_url: '300x300' }}" class="lazyload">
                  </li>
                  <li class="payment-icon">
                    <img data-sizes="auto" data-src="{{ 'payment-discover.png' | file_img_url: '300x300' }}" class="lazyload">
                  </li>
                  <li class="payment-icon">
                    <img data-sizes="auto" data-src="{{ 'payment-mastercard.png' | file_img_url: '300x300' }}" class="lazyload">
                  </li>
                  
                  <li class="payment-icon">
                    <img data-sizes="auto" data-src="{{ 'payment-visa.png' | file_img_url: '300x300' }}" class="lazyload">
                  </li>
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="medium-up--one-third footer-center">
        {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
        <div class="site-footer__copyright--bottom">
          <small class="site-footer__copyright-content">{{ 'layout.footer.copyright_text' | t}}</small>
          <small class="site-footer__copyright-content"><img data-sizes="auto" data-src="{{ 'araca-logo.png' | file_img_url: '60x60' }}" class="lazyload"> &copy; {{ 'now' | date: "%Y" }} All Rights Reserved. &trade; &amp; &copy;{{ 'now' | date: "%Y" }} {{ 'layout.footer.copyright_legaltext' | t}}</small>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_four",
        "label": "Additional menu",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
