<!-- /templates/customers/reset_password.liquid -->

<div class="container s">

  <div id="PasswordResetForm">
    {% form 'reset_customer_password' %}

      <h1 class="w-normal">{{ 'account.reset.title' | t }}</h1>
      <p>{{ 'account.reset.message' | t: email: email }}</p>

      {{ form.errors | default_errors }}

      <label for="ResetPassword" class="clearfix">{{ 'account.form.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword"{% if form.errors contains 'password' %} class="error"{% endif %}>

      <label for="PasswordConfirmation" class="clearfix">{{ 'account.form.password_confirmation' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation"{% if form.errors contains 'password_confirmation' %} class="error"{% endif %}>

      <p class="no-margin"><button type="submit" class="blue medium">{{ 'account.reset.submit' | t }}</button></p>

    {% endform %}
  </div>

</div>
