<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="djPt0DyA5STFAbJKkSxjawGlRPJneqWzvaX3KnSjOL8" />
  <meta name="google-site-verification" content="4QlWxxvzdZ4-JxxVBpA-iIkfrKTGJCt6AB7q1nahFdM" />
  <meta name="google-site-verification" content="dhvGr9DnQqXKlF1Ie4f5s1M_hnTBEld3fMK2_Tg9pa0" />
  <meta name="google-site-verification" content="-E77OMRpZugu_n0O2ZniS78cFexeEvtc5yBLAUPQySQ" />
  <meta name="theme-color" content="#000000">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="dns-prefetch" href="//code.jquery.com">
  <link rel="dns-prefetch" href="//aracahq.com">
  <link rel="dns-prefetch" href="//cdn.shopify.com">
  <link rel="dns-prefetch" href="//js.maxmind.com">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//cdn.evgnet.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//cdn.segment.com">
  <link rel="dns-prefetch" href="//swymprod.azureedge.net">
  <link rel="dns-prefetch" href="//api.segment.io">
  <link rel="dns-prefetch" href="//store.swymrelay.com">
  <link rel="dns-prefetch" href="//productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="//shopify.kount.net">
  <link rel="dns-prefetch" href="//cdn-stamped-io.azureedge.net">
  <link rel="dns-prefetch" href="//godog.shopifycloud.com">
  <link rel="dns-prefetch" href="//stamped.io">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//ui.powerreviews.com">
  <link rel="preconnect" href="//code.jquery.com" crossorigin>
  <link rel="preconnect" href="//aracahq.com">
  <link rel="preconnect" href="//cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="//js.maxmind.com">
  <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>
  <link rel="preconnect" href="//cdn.evgnet.com" crossorigin>
  <link rel="preconnect" href="//ui.powerreviews.com">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
  {% if settings.password_validation_enabled %}{{ 'password-validation.scss.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ 'consent-manager.css' | asset_url | stylesheet_tag }}
  {% if settings.product_recommendations_enabled %}
  {{ 'recommendations.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  <style>
  .ajaxified-cart-feedback {display: block;line-height: 36px;font-size: 90%;vertical-align: middle;}
  .ajaxified-cart-feedback.success {color: #3D9970;}
  .ajaxified-cart-feedback.error {color: #FF4136;}
  .ajaxified-cart-feedback a {border-bottom: 1px solid;}
  .ui-tabs-vertical {width: 55em;}
  .ui-tabs-vertical .ui-tabs-nav {padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li {clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0;}
  .ui-tabs-vertical .ui-tabs-nav li a {display:block;}
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {padding-bottom: 0; padding-right: .1em; border-right-width: 1px;}
  .ui-tabs-vertical .ui-tabs-panel {padding: 1em; float: right; width: 40em;}
  </style>
  {% include 'google-fonts' %}
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        preOrder: {{ 'products.product.preorder' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="https://code.jquery.com/jquery-3.3.1.min.js"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'jquery-ui.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'ajaxify-cart.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'ajaxify-cart.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme-js-functions.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme-js-functions.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'modules.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'modules.min.js' | asset_url }}"></script><![endif]-->

  <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% include 'evergage' %}
  {% if settings.segment_analytics_enabled %}
  {% include 'segment-analytics' %}
  {% include 'segment-helper' %}
  {% endif %}

  {% include 'consent-management' %}
</head>
{%- assign is_premium_customer = false %}
{%- assign product_price_multiplier = 1.00 %}
{% if customer and customer.tags contains 'premium' %}
  {%- assign is_premium_customer = true %}
  {%- assign product_price_multiplier = 0.80 %}
{% endif %}
  {% if template == "product" and template.suffix != "light" %}<script type="text/javascript" defer="defer" src="{{ 'pdp-js.min.js' | asset_url }}"></script>{% endif %}
</head>
<body class="template-{{ template | split: '.' | first }}">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  {% section 'header' %}
  <div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {% section 'popups' %}
  </div>
  {% include 'swym-wishlist' %}
  {% include 'swym-personalizedgifts-wishlist' %}
  {% include 'swymSnippet' %}
  <script type="text/javascript" charset="utf-8">
    var shappify_customer_tags = {{ customer.tags | json }}
  </script>
  {% if customer %}
  <span class="hide" id="customer-loggsed-in"></span>
  {% endif %}
</body>
</html>
