{%- assign hasNewsletter = false -%}
{%- assign blockCount = 0 -%}

{%- for block in section.blocks -%}
  {%- assign blockCount = blockCount | plus: 1 -%}
  {%- case block.type -%}
  {%- when 'newsletter' -%}
    {%- assign hasNewsletter = true -%}
  {%- endcase -%}
{%- endfor -%}

<footer
  class="
    main-footer
    {% if hasNewsletter %}upper-footer-has-newsletter{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="footer">

  {% assign linklistCount = 0 %}
  {% for i in (1..3) %}
    {% capture linklistOption %}footer-linklist-{{ i }}{% endcapture %}
    {% capture linklist %}{{ section.settings[linklistOption] }}{% endcapture %}

    {% if linklist.size > 0 %}
      {% assign linklistCount = linklistCount | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% if section.blocks.size > 0 %}
    <div class="upper-footer upper-footer-item-count-{{ blockCount }}">

      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'rich-text' -%}
          <div class="upper-footer-item footer-blurb">
            {% if section.settings.headings %}
              <h4 class="section-title">{{ block.settings.heading | escape }}</h4>
            {% endif %}

            <div class="rte">{{ block.settings.rich_text }}</div>
          </div>
        {%- when 'menu' -%}
          {% assign linklist = linklists[block.settings.menu] %}

          {% if linklist.links.size > 0 %}
            <div class="upper-footer-item footer-linklist">
              {% if section.settings.headings %}
                <h4 class="section-title">{{ linklist.title }}</h4>
              {% endif %}

              <ul>
                {% for link in linklist.links %}
                  <li><a href="{{ link.url }}" {% if link.url contains 'http://' or link.url contains 'https://' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {%- when 'newsletter' -%}
          <div class="mailing-list">
            {% if section.settings.headings %}
              <h4 class="section-title">{{ 'general.newsletter.title' | t }}</h4>
            {% endif %}

            {% form 'customer' %}
              <input class="mailing-list-email" name="contact[email]" type="email" placeholder="Subscribe to the RTJ Shop" value="">
              <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
              <div class="mailing-list-submit">
                <input class="submit" name="subscribe" type="submit" value="{{ 'general.newsletter.subscribe' | t }}">
              </div>
            {% endform %}
            {% include 'social' %}
          </div>
      	  
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {% endif %}

  <div class="sub-footer">
    {% if shop.enabled_payment_types.size > 0 and section.settings.footer-payment-options %}
      <div class="site-footer-item">
        {% include 'payment' %}
      </div>
    {% endif %}

    <div class="copyright-wrapper">
      <p class="copyright" role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }}. All Rights Reserved.</p>
    </div>
  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "headings",
      "label": "Show footer headings"
    },
    {
      "type": "checkbox",
      "id": "footer-payment-options",
      "label": "Show payment icons"
    }
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "rich_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "social-links",
      "name": "Social links",
      "settings": [
        {
           "type": "paragraph",
           "content": "Social media account settings can be found in the \"social media\" section of \"general settings\"."
        }
      ],
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
      ],
      "limit": 1
    }
  ]
}
{% endschema %}