
{% include 'breadcrumbs' %}

{% assign product_id = product.id %}
{% assign variant = product.selected_or_first_available_variant %}

{% assign use_zoom = false %}
{% if section.settings.zoom %}
  {% assign use_zoom = true %}
{% endif %}

{% assign use_slideshow = false %}
{% if section.settings.images-layout == 'slideshow' %}
  {% assign use_slideshow = true %}
{% endif %}

{% assign use_masonry = false %}
{% if section.settings.page-layout == 'masonry' %}
  {% assign use_masonry = true %}
  {% assign use_slideshow = false %}
{% endif %}

{% assign related_products_position = section.settings.related-products-position %}
{% if use_masonry %}
  {% comment %}Related products in masonry grid must be below product{% endcomment %}
  {% assign related_products_position = 'below' %}
{% endif %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

<section
  class="main-product-wrap
    product-wrap
    {% if section.settings.related-products %}related-products-position-{{ related_products_position }}{% endif %}"
  itemscope
  itemtype="http://schema.org/Product"
  data-product-id="{{ product_id }}"
  {% unless use_slideshow %}data-images-list-view{% endunless %}
  {% if section.settings.zoom %}data-zoom{% endif %}
  {% if section.settings.linked-options %}data-linked-options{% endif %}
  {% if section.settings.ajax %}data-ajax{% endif %}
  {% if use_masonry %}data-product-masonry{% endif %}
  data-section-id="{{ section.id }}"
  data-section-type="product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}">

  <div
    class="product-images {% if use_masonry %}product-images-masonry{% endif %}"
    {% if use_masonry and product.images.size > 1 %}data-masonry-gallery{% endif %}
  >
    {% if use_masonry and product.images.size > 1 %}
      <div class="product-image-masonry-sizer" data-masonry-image-sizer></div>
    {% endif %}

    {% if use_slideshow %}

      <div class="product-main-image">
        {% assign main_image = variant.image | default: product.featured_image %}
        {% assign main_image_alt = product.title %}
        {% if main_image.alt != blank %}
          {% assign main_image_alt = main_image.alt %}
        {% endif %}

        {% if main_image != blank %}
          <img
            src="{{ main_image | img_url: '1024x1024' }}"
            alt="{{ main_image_alt | escape }}"
           >
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% if section.settings.zoom %}
          <div class="product-zoom"></div>
        {% endif %}
      </div>

      {% if product.images.size > 1 %}
        <div class="product-thumbnails-outer-wrapper">
          {% if product.images.size > 4 %}
            <span class="product-thumbnails-navigation-previous">&#xe601;</span>
          {% endif %}
          <div class="product-thumbnails-wrapper">
            <div class="product-thumbnails {% if product.images.size > 4 %}has-side-scroll{% endif %}">
              {% for image in product.images %}
                <div class="product-thumbnail {% if mainImage == image %}active{% endif %}">
                  <img
                    alt="{{ image.alt | escape }}"
                    data-high-res="{{ image | img_url: '1024x1024' }}"
                    src="{{ image | img_url: 'compact' }}"
                    data-image-id="{{ image.id }}"
                  >
                </div>
              {% endfor %}
            </div>
          </div>
          {% if product.images.size > 4 %}
            <span class="product-thumbnails-navigation-next">&#xe600;</span>
          {% endif %}
        </div>
      {% endif %}

    {% else %}


      {%- for image in product.images -%}
        {% assign use_large_image = false %}
        {% if product.images.size == 2 %}
          {% assign use_large_image = true %}
        {% elsif forloop.first and use_masonry %}
          {% assign use_large_image = true %}
        {% endif %}

        {% assign image_alt = product.title %}
        {% if image.alt != blank %}
          {% assign image_alt = image.alt %}
        {% endif %}

        <div class="product-image {% if use_large_image %}product-image-wide{% endif %}">
          <img
            src="{{ image | img_url: '1024x1024' }}"
            alt="{{ image_alt | escape }}"
            data-image-id="{{ image.id }}"
          >
        </div>
      {%- endfor -%}

    {% endif %}
  </div>

  <div class="product-details-wrapper">
    <div class="product-details">

      {% if section.settings.vendor %}
        <a class="product-vendor" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
      {% endif %}
      <h1 class="product-title" itemprop="name">{{ product.title }}</h1>
      <p class="shortDescription">
        {% assign description = product.metafields.description %}
        {% assign key = "short" %}
        {{ description.short }}
      </p>
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      <p class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ product.price_min | money_without_currency }}">

        <span class="product-price-minimum money">
          {% include 'money', value: variant.price, price: variant.price %}
        </span>

        <span
          class="product-price-compare money original {% if variant.compare_at_price > variant.price %}visible{% endif %}"
        >
          {% include 'money', value: variant.compare_at_price %}
        </span>

        {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock">
        {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock">
        {% endif %}

      </p>
      <p>
        {% assign sku = product.metafields.sku %}
        {% assign key = "parent" %}
        SKU: {{ sku.parent }}<br>
        {% assign preorder = product.metafields.preorder %}
        {% assign key = "date" %}
        {{ preorder.date }}
      </p>

      <form class="product-form"
        id="product-form-{{ product_id }}"
        action="/cart/add"
        method="post"
        data-product-form="{{ product_id }}"
      >
        {% unless product.has_only_default_variant %}
          <div class="product-options">
            {%-
              include 'product-options-dropdown',
              form_id: product_id
            -%}

            <div class="selector-wrapper no-js-required">
              <label for="product-select-{{ product_id }}"></label>
              <select
                class="product-select"
                name="id"
                id="product-select-{{ product_id }}"
                data-select-ignore
              >
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option
                    {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                      value="{{ variant.id }}" data-variant-id="{{ variant.id }}" data-sku="{{ variant.sku }}">
                      {{ variant.title }} - {% include 'money', value: variant.price %}
                    </option>
                  {% else %}
                    <option disabled="disabled" data-variant-id="{{ variant.id }}" value="{{ variant.id }}">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        {% else %}
          <input
            class="product-select"
            name="id"
            value="{{ product.variants[0].id }}"
            type="hidden"
            data-variant-title="{{ product.variants[0].title }}" />
        {% endunless %}

        {% if product.available %}

          <div id="infiniteoptions-container"></div>
          <div id="uploadery-container"></div>

          <div class="product-quantity inline-input-wrapper">
            <label>{{ 'general.general.quantity' | t }}</label>
            <input type="text" name="quantity" value="1" />
          </div>
        {% endif %}


        <div class="add-to-cart">
          {% if variant.available %}
            <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          {% else %}
            <input type="submit" class="disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
          {% endif %}
        </div>

        <div class="product-message"></div>

      </form>
      
      {% if section.settings.share-buttons %}
        {% include 'share-buttons' %}
      {% endif %}
      

    </div>
  </div>
  
  <div class="tabs-container">
    <ul class="tabs">
      <li id="more1"><a href="#tab-1">Description</a></li>
      {% assign sizechart = product.metafields.sizechart %}
      {% assign key = 'file' %}
      {% if sizechart.file %}
      <li id="more2"><a href="#sizechart">Size Chart</a></li>
      {% endif %}
      <li id="more3"><a href="#tab-3">Reviews</a></li>
    </ul>
    <div class="tabs-wrapper">
      <div id="tab-1">
      {{ product.description }}
      </div>
      {% assign sizechart = product.metafields.sizechart %}
      {% assign key = 'file' %}
      {% if sizechart.file %}
      <div id="sizechart">
        <script type="text/javascript">
			$.noConflict();
			jQuery( document ).ready(function ($) {
              var $url = '{{ sizechart.file }}';

              $segment = $('#sizechart');
              $.ajax({
                  url: $url,
                  type:'GET',
                  success: function(response) {
                      $segment.prepend(response);             
                  },
                  error: function(xhr) {
                      console.log(xhr);
                  }
              });
            });
        </script>
      </div>
      {% endif %}
      <div id="tab-3">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>
  </div>

  {% assign addToCartText = 'Pre-Order' %}

  {%
    include 'product-json',
    id: product_id,
    add_to_cart_text: addToCartText,
    enable_history: true
  %}
</section>

{% if section.settings.related-products %}
  {%
    include 'related-products'
    related_products_position: related_products_position,
    related_collection: collection,
    current_product_id: product_id,
    use_masonry: use_masonry
  %}
{% endif %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "vendor",
      "label": "Show vendor name"
    },
    {
      "type": "select",
      "id": "page-layout",
      "label": "Page layout",
      "options": [
        {
          "value": "default",
          "label": "Grid (Default)"
        },
        {
          "value": "masonry",
          "label": "Masonry"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "images-layout",
      "label": "Images layout",
      "info": "This only applies to grid layout",
      "options": [
        {
          "value": "slideshow",
          "label": "Slideshow"
        },
        {
          "value": "list-view",
          "label": "List view"
        }
      ],
      "default": "slideshow"
    },
    {
      "type": "checkbox",
      "id": "zoom",
      "label": "Enable image zoom",
      "info": "The image zoom functionality only works with the slideshow layout"
    },
    {
      "type": "checkbox",
      "id": "related-products",
      "label": "Show related products"
    },
    {
      "type": "select",
      "id": "related-products-position",
      "label": "Align related products",
      "info": "This only applies to grid layout",
      "options": [
        {
          "value": "below",
          "label": "Below product info"
        },
        {
          "value": "right",
          "label": "Right of product info"
        }
      ],
      "default": "below"
    },
    {
      "type": "checkbox",
      "id": "ajax",
      "label": "Add product to cart without leaving product page"
    },
    {
      "type": "header",
      "content": "Show sharing icons"
    },
    {
      "type": "checkbox",
      "id": "share-buttons",
      "label": "Show share icons"
    }
  ]
}
{% endschema %}

<script>
  var productOptions = [];
  {% for option in product.options %}
  var optionObj = {};
  optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
  productOptions.push(optionObj);
  {% endfor %}
</script>