/* Banner ====================================================================*/

.index-section-banner {
  line-height: 1;
  font-size: 0;
  a {
    display: block;
  }
  @include sm() {
    .container {
      padding: 0;
    }
  }
}
