/* Hero slideshow ============================================================*/

.index-section-hero-slideshow {
  .hero-slideshow-inner {
    @include l() {
      border: $borderWeight $borderStyle $colorBorder;
      padding: $gutter/5;
    }
  }

  .thumbnails {
    margin-bottom: $gutter/10;
    .ratio {
      margin-bottom: $gutter/10;
    }
  }
}
