/*  General
/*-------------------------- */
html,
body { font-size: 14px; color: #051b28; }
a{ color:#000000; }
a:hover , .product-shop div .wishlist i,.sidebar-links .widget-content > ul > li > a:hover {color:#575757;}

.grid-item .product-image .product-label:before{border-top: 60px solid #A71820;}
.module-title h2 span:before,.grid-item .add-to-link .wishlist:hover, .product-shop div .wishlist:hover{background:#575757;}
span.special-price, .special-price span,.regular-product span,#block-top .block-icon i,.sidebar-custom label:hover,
.sidebar-custom.price input[type=checkbox] + label:hover:before,
.sidebar-custom.price input[type=checkbox]:checked + label:before,.sidebar-custom.price input[type=checkbox]:checked + label,.breadcrumb a:hover,.breadcrumb span.current-tag,
.collection-view a.active span, .collection-view a:hover span,.search-mobile .input-group-btn button:hover,#search-top button:after,
.header-cart .top-cart #dropdown-cart a.btn-remove:hover i,.quick-view .product-shop .price, .product-shop .price > span,
.faqs .panel-title a:not(.collapsed),.grid-item .add-to-link .wishlist{color:#575757;}
.faqs .panel-title a:not(.collapsed):before{border-color:#575757;background:#575757;color:#fff;}
.swatch input:checked + label, .swatch label:hover{border-color:#575757;}
.sidebar-custom.color ul li a:hover, .sidebar-custom.color ul li a.active,#add-to-cart-form #quantity:focus{border:1px solid #575757;}

.customer-links > li a,#currencies-top *,#search-top .icon-search.btn,.customer-links li i{color:#ffffff;}
.customer-links > li{border-left:1px solid rgba(204,204,204,0.75); margin-top: 5px;}
.customer-links > li:first-child{border:none;}
.customer-links li:hover *,#currencies-top *:hover,#currencies-top:hover .popup-title >*,#search-top button i{color:#ff9248;}

.blog-detail .user-tags li  { color:#000000; }

.page-header h2, .page-header h1 { color:#000000; text-align: left;}

.breadcrumb a, 
.breadcrumb span {color:#282828;  text-transform:capitalize;}

/*  Background
/*-------------------------- */
.site-header.on,
.template-index {
  
    background-color: #A818A7;
  
  
	background-image: url(//cdn.shopify.com/s/files/1/1456/4276/t/14/assets/bg-body.png?16349992661098580618);
  
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

@media only screen and (max-width: 1440px){
  .template-index {
  	background-image: none;
  }
}

/* Megamenu */
.dropdown-sub {background: #ffffff;}
.site-nav .level-top > a{color: #c9c9c9;}
.site-nav .level-top > a:hover{color: #000000!important;}
.site-nav .menu-dropdown .dropdown-sub .menu-title {color: #4e4d4d;}
.site-nav .dropdown-sub ul li a{color: #4e4d4d;}
.site-nav .dropdown-sub ul li a:hover{color:#7B0085!important;}



/*  Footer
/*-------------------------- */
.footer-container {
   
    background: #f3f3f3;
  
  
  
  color:#7d7d7d
}
.footer-bottom { border-color: #aaaaaa; }

.footer-top h3 { color: #000000; }
.footer-container a,
.footer-bottom address {color: #7d7d7d; font-size: 12px;}
.footer-container li:hover * { color: #a71820; }
.footer-container .footer-top .footer-icon-share li a:hover{border:1px solid #a71820;background:#a71820;}

.footer-container .footer-top .footer-icon-share li a:hover *{color:#fff;}


/* Border product item */
.products-grid .grid-item-border .product-image,
.grid-item-border.product-img-box .product-photo-container { border-color: #c3c3c3;}

/*  Button
/*-------------------------- */
.footer-bottom  address a{
color:#000000;
}
.footer-bottom  address a:hover{
color:#000000;
}
.btn,#verticalmenu ul li.parent-title,.header-cart { 
  background-color: #000000; 
  color: #ffffff;
  border-color: #000000;
}


.header-cart .top-cart a#cartToggle i{
background-color: #000000; 
  color: #ffffff;
  border-color: #000000;
}

/* Title Color */
label,
.spr-icon,
.widget-title fieldset.box-title legend,
.home-instagram .widget-title h3,
.sidebar .widget-title,
.recently-viewed-products h2,
.refined-widgets > span,
.tab-content h4,
.tab-content .spr-form-title,
.tab-content .spr-review .spr-review-header-title,
.tab-content .spr-review .spr-review-header-byline,
.cart-list .money,
#shipping-calculator h3,
#add-comment-title, 
.title-comment,
.lookbook-slideshow { color:#000000; }

/* Body Color */
.product-shop .spr-badge .spr-badge-caption,
.product-shop .product-infor label { color: #051b28; }

/* font-size */
.tab-content .spr-review-content-body { font-size: 14px; }

.site-nav .widget-featured-product .btn,
.spr-summary-actions a { font-size: 13px; }

.cart-row .btn { font-size: 16px;}
.header-top{ background-color: #051b28;}
/*  Fonts
/*-------------------------- */


#cart-count,.home-category .block-content h3, .block-images .title h3, .block-images .title span {font-family: Helvetica; }
body {font-family: Helvetica; }
.product-top-sale .grid-item .product-title{font-family: Helvetica; }






.products-grid .product-des { bottom: 0; }





.newsneter .paralax-images{background:url(//cdn.shopify.com/s/files/1/1456/4276/t/14/assets/bg_newsneter.jpg?16349992661098580618) center center no-repeat ;
  background-position: center center!important;background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 500px;
  width: 100%;
  top: 0!important;
  z-index: -1;
}




.popupnewsletter{background:url(//cdn.shopify.com/s/files/1/1456/4276/t/14/assets/bg_newsletter.jpg?16349992661098580618) scroll right center no-repeat ;
	
}



.paralx-main .paralax-images{
	background:url(//cdn.shopify.com/s/files/1/1456/4276/t/14/assets/paralax-img.jpg?16349992661098580618) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 1000px;
    width: 100%;
   	z-index: -1;
    background-attachment: fixed;
}


#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;background-position: center center;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #fff;
  z-index: 99;background-image:url(loadding-page.gif);background-repeat:no-repeat;
  text-align: center;
}





