<!-- snippets/collection-links.liquid -->

{% assign collection_links = blank %}
{% assign collection_breadrumb_link = blank %}
{% assign collection_links_avoid = 'main-menu,footer-menu,categories-menu,more-characters,shop-by-title' %}
{% assign collection_link_count_total = 0 %}
{% assign collection_link_count = 0 %}
{% assign collection_houses = 'game-of-thrones,' %}

{% if collection-links == 'no-limit' %}
  {% assign collection_link_limit = 1000 %}
{% else %}
  {% assign collection_link_limit = 9 %}
{% endif %}

{% for linklist in linklists %}
  {% assign linklist_handle = linklist.title | handleize %}
  {% if collection_links_avoid contains linklist_handle %}
    {% continue %}
  {% endif %}

  {% assign linklist_title = linklist.title | replace: '&', 'and' | remove: 'Collection ' %}
  {% if linklist_title == collection.title %}
    {% assign collection_links = linklist %}
  {% endif %}
{% endfor %}

{% comment %}{% if collection_links.links.size == 0 or collection_links == blank %}
  {% include 'collection-filters' %}
{% endif %}{% endcomment %}

{% if collection_links.links.size > 0 %}
  {% for link in collection_links.links %}
    {% assign collection_link_count_total = collection_link_count_total | plus: 1 %}
  {% endfor %}
{% endif %}

{% assign is_brands_collection = false %}
{% assign brands_menu_list = linklists['brands'] %}
{% assign collection_brand = blank %}
{% for _blink in brands_menu_list.links %}
  {% if _blink.url == collection.url %}
    {% assign collection_brand = _blink %}
    {% assign is_brands_collection = true %}
    {% break %}
  {% elsif _blink.links != blank %}
    {% for _cblink in _blink.links %}
      {% if _cblink.url == collection.url %}
        {% assign collection_brand = _blink %}
        {% assign is_brands_collection = true %}
        {% break %}
      {% elsif _cblink.links != blank %}
        {% for _gcblink in _cblink.links %}
          {% if _gcblink.url == collection.url %}
            {% assign collection_brand = _blink %}
            {% assign is_brands_collection = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if is_brands_collection %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection_brand.title | remove: 'Collection ' }}</h4>
    {% if collection_brand.links != blank %}
    <ul class="sublinks">
      {% comment %}<h4 class="sidebar-category-header t-uppercase">Category</h4>{% endcomment %}
      {% for link in collection_brand.links %}
          {% if link.links != blank %}
        <li class="level--0">
          <div class="sub_brand_menu">
            <h4 class="no-margin t-uppercase level--0 {% if collection.url == link.url %}current-collection{% endif %}"><a href="{{ link.url }}">{{link.title}}</a></h4>
            <ul class="sublinks">
              {% for _clink in link.links %}
                <li class="level--1 link">
                  <a href="{{ _clink.url }}" class="nav-link no-decoration {% if collection.url == _clink.url %}current-collection{% endif %}">{{ _clink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
          {% else %}
            {% if link.url == '/' %}
        <li class="title">
          <h4 class="no-margin w-normal t-uppercase">{{link.title}}</h4>  
        </li>
            {% else %}
        <li class="link{% if collection.url == link.url %} current-collection{% endif %}">
          <a class="nav-link no-decoration" href="{{ link.url }}" title="{{ link.title }}">{{link.title}}</a>
        </li>
            {% endif %}
          {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    <h4 class="t-uppercase no-margin filters-title">{{ 'collections.filters.title' | t }}</h4>
    {% include 'collection-filters' %}
  </div>
{% elsif collection_links.links.size > 0 %}
  <div class="collection-links s-hide">
    <!-- <h4 class="t-uppercase no-margin collection-title">{{ collection.title }}</h4> -->
    <ul class="sublinks">
      {% for link in collection_links.links %}
        {% assign collection_link_count = collection_link_count | plus: 1 %}

        {% if collection_link_count == collection_link_limit and collection_link_count_total >= collection_link_limit %}
          <div data-collapse-content>
        {% endif %}

          {% if link.url == '/' %}
        <li class="title">
            <h4 class="no-margin w-normal t-uppercase">{{ link.title }}</h4>
        </li>
          {% else %}
        <li class="link">
            <a class="nav-link no-decoration{% if link.active %} active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        </li>
          {% endif %}
          {% if link.active %}{% assign collection_title = link.title %}{% endif %}

        {% if collection_link_count == collection_link_count_total and collection_link_count >= collection_link_limit %}
          </div>
          <p class="no-margin" data-collapse-toggle><a href="#"><span class="more">{{ 'collection.filter.more' | t }}</span><span class="less">{{ 'collection.filter.less' | t }}</span></a></p>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="margin-bottom-2x"></div>
    {% include 'collection-filters' %}
  </div>
{% elsif collection_links.links.size == 0 or collection_links == blank %}
    <div class="collection-links s-hide">
     {% assign full_menu_list = linklists['categories-menu'] %}

     {% assign parent_collection = blank %}
     {% assign level = 0 %}

     {% for _blink in full_menu_list.links %}
      {% if _blink.url == collection.url %}
        {% assign parent_collection = _blink %}
        {% break %}
      {% elsif _blink.links != blank %}
        {% for _cblink in _blink.links %}
          {% if _cblink.url == collection.url %}
            {% assign parent_collection = _blink %}
            {% break %}
          {% elsif _cblink.links != blank %}
            {% for _gcblink in _cblink.links %}
              {% if _gcblink.url == collection.url %}
                {% assign parent_collection = _cblink %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
     {% endfor %}

     {% if parent_collection == blank %}
       {% assign full_menu_list = linklists['main-menu-1'] %}

       {% assign parent_collection = blank %}
       {% assign level = 0 %}

       {% for _blink in full_menu_list.links %}
        {% if _blink.url == collection.url %}
          {% assign parent_collection = _blink %}
          {% break %}
        {% elsif _blink.links != blank %}
          {% for _cblink in _blink.links %}
            {% if _cblink.url == collection.url %}
              {% assign parent_collection = _blink %}
              {% break %}
            {% elsif _cblink.links != blank %}
              {% for _gcblink in _cblink.links %}
                {% if _gcblink.url == collection.url %}
                  {% assign parent_collection = _cblink %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
       {% endfor %}
     {% endif %}

      {% if parent_collection != blank %}
       <h4 class="t-uppercase no-margin">{{ parent_collection.title }}</h4>
       <ul class="sublinks sub-categories-sublinks">
       {% for slink in parent_collection.links %}
        <li class="link{% if slink.title == collection.title or slink.url == collection.url %} current-collection{% endif %}" data-level="{{ level }}">
          {% if slink.url == '/' %}
            <span class="nav-link no-decoration" title="{{slink.title}}">{{ slink.title }}</span>
          {% else %}
            <a class="nav-link no-decoration" href="{{ slink.url }}" title="{{slink.title}}">{{slink.title}}</a>
          {% endif %}
        </li>
        {% endfor %}
       </ul>
      {% else %}
      {% comment %}<h4 class="t-uppercase no-margin">{{ collection.title }}</h4>{% endcomment %}
      {% endif %}
      {% comment %}<h4 class="t-uppercase no-margin filters-title">{{ 'collections.filters.title' | t }}</h4>{% endcomment %}
     {% include 'collection-filters' %}
  </div>
{% else %}
  <div class="collection-links s-hide">
    <h4 class="t-uppercase no-margin">{{ collection.title }}</h4>
  </div>
{% endif %}
