<!--snippets/product-tags.liquid-->
{%- assign custom_tag = settings.custom_sales_tag_tag | strip %}
{% if product.tags contains custom_tag %} 
	<span class="product-tag-label product-tag__custom{% if settings.custom_tag_hidden %} visually-hidden{% endif %}">{{ settings.custom_sales_tag_label | strip }}</span>
{% else %}
{% for tag in product.tags %} 
  {% if tag == '3NEW' %}
    <span class="product-tag-label product-tag__new">New</span>
    {% break %}
  {% elsif tag == 'ONSALE' or compare_at_price > price %}
    <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
    {% break %}
  {% endif %}
{% endfor %}
{% endif %}