<!--snippets/product-accordion -->

<!-- Normal Product Accordion -->
{% if product.metafields.productinfo.format == blank %}
<div id="product-accordion">


      <h3 class="accordion-first">Product Details</h3>
      <div class="accordion-content">
        {{ product.description }}
      </div>

    {% if product.metafields.productinfo.size_chart != blank %}
      <h3 class="accordion-accordion-first">Size Chart</h3>
      <div class="accordion-content">
        <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

        </div>
      </div>
    {% endif %}

    <h3 class="accordion-title">Reviews</h3>
    <div class="accordion-content">
      {% include 'stamped-pdp-full' %}
    </div>

</div>
{% endif %}

<!-- DVD/BLU-RAY Product Accordion -->

{% if product.metafields.productinfo.format != blank %}

<div id="product-accordion">
  <h3 class="accordion-first">Synopsis</h3>
  <div class="accordion-content">
    {{ product.description }}
  </div>
</div>

<div id="product-accordion-2">
  <h3 class="accordion-first">Product Details</h3>
  <div class="accordion-content">
    <!-- Metafield List Loops -->
    {% if product.metafields.productinfo.actors != blank %}
    {% assign actors = product.metafields.productinfo.actors | split:',' %}
      <p class="product-details-section"><strong>Actors:</strong>
      {% for actor in actors %}<a href="/pages/search-results-page?q={{actor}}">
        {{ actor }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.directors != blank %}
    {% assign directors = product.metafields.productinfo.directors | split:',' %}
      <p class="product-details-section"><strong>Directors:</strong>
      {% for director in directors %}<a href="/pages/search-results-page?q={{director}}">
        {{ director }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.writers != blank %}
    {% assign writers = product.metafields.productinfo.writers | split:',' %}
      <p class="product-details-section"><strong>Writers:</strong>
      {% for writer in writers %}<a href="/pages/search-results-page?q={{writer}}">
        {{ writer }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.rating_symbol != blank %}
    {% assign rating_symbols = product.metafields.productinfo.rating_symbol | split:',' %}
      <p class="product-details-section"><strong>Rating:</strong>
      {% for rating_symbol in rating_symbols %}<a href="/pages/search-results-page?q={{rating_symbol}}">
        {{ rating_symbol }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.genres != blank %}
    {% assign genres = product.metafields.productinfo.genres | split:',' %}
      <p class="product-details-section"><strong>Genres:</strong>
      {% for genre in genres %}<a href="/pages/search-results-page?q={{genre}}">
        {{ genre }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.theatrical_release_date != blank %}
    {% assign theatrical_release_dates = product.metafields.productinfo.theatrical_release_date | split:',' %}
      <p class="product-details-section"><strong>Theatrical Release Date:</strong>
      {% for theatrical_release_date in theatrical_release_dates %}
        {{ theatrical_release_date }}<span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.format != blank %}
    {% assign formats = product.metafields.productinfo.format | split:',' %}
      <p class="product-details-section"><strong>Format:</strong>
      {% for format in formats %}
        {{ format }}<span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.media_quantity != blank %}
    {% assign media_quantitys = product.metafields.productinfo.media_quantity | split:',' %}
      <p class="product-details-section"><strong>Media Quantity:</strong>
      {% for media_quantity in media_quantitys %}<a href="/pages/search-results-page?q={{media_quantity}}">
        {{ media_quantity }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.runtime != blank %}
    {% assign runtimes = product.metafields.productinfo.runtime | split:',' %}
      <p class="product-details-section"><strong>Runtime:</strong>
      {% for runtime in runtimes %}<a href="/pages/search-results-page?q={{runtime}}">
        {{ runtime }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.subtitles != blank %}
    {% assign subtitles = product.metafields.productinfo.subtitles | split:',' %}
      <p class="product-details-section"><strong>Subtitles:</strong>
      {% for subtitle in subtitles %}<a href="/pages/search-results-page?q={{subtitle}}">
        {{ subtitle }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}

    {% if product.metafields.productinfo.special_features != blank %}
    {% assign special_features = product.metafields.productinfo.special_features | split:',' %}
      <p class="product-details-section"><strong>Special Features:</strong>
      {% for special_feature in special_features %}<a href="/pages/search-results-page?q={{special_feature}}">
        {{ special_feature }}</a><span class="metafield-list-comma">,</span>
      {% endfor %}
      </p>
    {% endif %}
  </div>



  <h3 class="accordion-title">Reviews</h3>
  <div class="accordion-content">
    {% include 'stamped-pdp-full' %}
  </div>


</div>
{% endif %}



<script>
  $(document).ready(function(){
      $('#product-accordion').accordion({
          classes: {
            "ui-accordion-header": "accordion-first",
            "ui-accordion-header-collapsed": "accordion-title",
            "ui-accordion-content": "accordion-content"
          },
          collapsible: true
      });
      $('#product-accordion-2').accordion({
          classes: {
            "ui-accordion-header": "accordion-first",
            "ui-accordion-header-collapsed": "accordion-title",
            "ui-accordion-content": "accordion-content"
          },
          collapsible: true
      });
  });
</script>
