<div id="shop-brands-tabs">
  {% if linklists[section.settings.main_linklist].links[1] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[1] -%}
    <div id="shop-brands-featured-products">
      {% assign featured_products_count = 0 %}
      {%- assign dropdown_promos = '' %}
      {% for block in section.blocks %}
        {% if block.type == 'submenu' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="shop-brands-content">
      <div id="featured-brands-list">
          <div class="featured-brands-title">
            <h1>Featured Brands:</h1>
          </div>
      {% for link in list.links %}
          {%- assign navigation_image = link.title | handleize | prepend: 'navigation-' | append: '.png' %}
          <div class="featured-brand-name" data-brand-type="{{ link.title | handleize}}">
            {% unless link.url == '/' %}<a href="{{ link.url }}" data-brand-type="{{ link.title | handleize}}">{% endunless %}{% unless link.title == 'All Brands' %}<img class="navigation-image lazyload" data-size="auto" data-src="{{ navigation_image | asset_url }}">{% endunless %}{{ link.title }}{% unless link.url == '/' %}</a>{% endunless %} 
          </div>
      {% endfor %}
      </div>
      <div id="featured-brands-content">
        {% for link in list.links %}
        <div class="featured-brand-contents" data-content-for-brand="{{ link.title | handleize}}" {% if link.title == 'All Brands' %}style="display: block;"{% endif %}>
          {%- assign _image_block_type = link.title | handleize | append: '-ti' %}
          {%- assign image_found_for_block = false %}
            {% for _block in section.blocks %}
            {% if _block.type == _image_block_type %}
            {% if image_found_for_block == false %}
          <div class="featured-brand-images" data-image-block-for="{{ link.title | handleize}}">
            {%- assign image_found_for_block = true %}
            {% endif %}
            <div class="featured-brand-image" data-featured-image-block="{{ _block.id }}">
              <a href="{{ _block.settings.top_icon_url }}">
                <img data-size="auto" data-src="{{ _block.settings.top_icon | img_url: '1024x' }}" class="lazyload">
              </a>
            </div>
            {% endif %}
            {% if _block == section.blocks.last and image_found_for_block == true %}
          </div>
            {% endif %}
            {% endfor %}

          {%- assign sub_section = false %}
          {% for _link in link.links %}
          {%- assign _link_title = _link.title %}
          {% if _link == link.links.first %}
          <div class="featured-brands-items">
          {% endif %}
            
            {% if _link.url == '/' %}
              {% if sub_section == false %}
              <div class="featured-brands-items-subsection-wrapper">
              <div class="featured-brands-items-subsection">
              {%- assign sub_section = true %}
              {% else %}
              </div></div>
              <div class="featured-brands-items-subsection-wrapper">
              <div class="featured-brands-items-subsection">
              {% endif %}
            {% endif %}
            <div class="featured-brands-item{% if _link.url == '/' %} brands-item-title{% endif %}">
              {% if _link.url == '/' %}
              <span>{{ _link.title }}</span>
              {% else %}
              <a href="{{ _link.url }}">{{ _link.title }}</a>
              {% endif %}
            </div>
            {% if _link == link.links.last and sub_section == true %}
            </div></div>
            {% endif %}
          {% if _link == link.links.last %}
          </div>
          {% endif %}

          {% endfor %}
          {% for _block in section.blocks %}
            {% if _block.type == 'nav-brands-promo-tout' and _block.settings.brand_title == link.title  %}
              {%- assign brand_name = _block.settings.brand_title %}
              {%- assign brand_image = _block.settings.brand_image | img_url: '1024x' %}
              {%- assign brand_url = _block.settings.brand_promo_url %}
            <div class="featured-brands-items-promo-section">
              <a href="{{ brand_url }}">
                <img data-size="auto" data-src="{{ brand_image }}" class="lazyload">
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor%}
      </div>       
        
        {% comment %}{% capture sublink_title %}{{ link.handle }}{% endcapture %}
        {% if linklists[sublink_title].links != blank %}
          <div class="shop-brands-show-content" id="shop-brands-content-{{link.handle}}" {% if link == list.links.last %}style="display: flex;"{% endif %}>
            <div class="shop-brands-show-content-list">
              <div class="list-title">
                <a href="{{link.url}}">{{ link.title }}</a>
              </div>
                <ul>
                {% for llink in linklists[sublink_title].links %}
                  <li>
                    <a href="{{llink.url}}">{{ llink.title }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
          </div>
        {% endif %}{% endcomment %}
    </div>
  {% endif %}
</div>
