<div id="shop-categories-tabs">
  {% if linklists[section.settings.main_linklist].links[0] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[0] -%}
    <div id="shop-categories-featured-products">
      {% assign featured_products_count = 0 %}
      {%- assign dropdown_promos = '' %}
      {% for block in section.blocks %}
        {% if block.type == 'submenu' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="shop-categories-content">
      <div id="featured-categories-list">
          <div class="featured-categories-title"></div>
      {% for link in list.links %}
          <div class="featured-category-name" data-category-type="{{ link.title | handleize}}"><a href="{{ link.url }}" data-category-type="{{ link.title | handleize}}">{{ link.title }}</a></div>
      {% endfor %}
      </div>
      <div id="featured-categories-content">
        {% for link in list.links %}
        <div class="featured-category-contents" data-content-for-category="{{ link.title | handleize}}">
          {%- assign _image_block_type = link.title | handleize | append: '-ti' %}
          {%- assign image_found_for_block = false %}
            {% for _block in section.blocks %}
            {% if _block.type == _image_block_type %}
            {% if image_found_for_block == false %}
          <div class="featured-category-images" data-image-block-for="{{ link.title | handleize}}">
            {%- assign image_found_for_block = true %}
            {% endif %}
            <div class="featured-category-image" data-featured-image-block="{{ _block.id }}">
              <a href="{{ _block.settings.top_icon_url }}">
                <img data-size="auto" data-src="{{ _block.settings.top_icon | img_url: '1024x' }}" class="lazyload">
              </a>
            </div>
            {% endif %}
            {% if _block == section.blocks.last and image_found_for_block == true %}
          </div>
            {% endif %}
            {% endfor %}

          {%- assign sub_section = false %}
          {% for _link in link.links %}
          {%- assign _link_title = _link.title %}
          {% if _link == link.links.first %}
          <div class="featured-categories-items">
          {% endif %}
            
            {% if _link.url == '/' %}
              {% if sub_section == false %}
              <div class="featured-categories-items-subsection-wrapper">
              <div class="featured-categories-items-subsection">
              {%- assign sub_section = true %}
              {% else %}
              </div></div>
              <div class="featured-categories-items-subsection-wrapper">
              <div class="featured-categories-items-subsection">
              {% endif %}
            {% endif %}
            <div class="featured-categories-item{% if _link.url == '/' %} categories-item-title{% endif %}">
              {% if _link.url == '/' %}
              <span>{{ _link.title }}</span>
              {% else %}
              <a href="{{ _link.url }}">{{ _link.title }}</a>
              {% endif %}
            </div>
            {% if _link == link.links.last and sub_section == true %}
            </div></div>
            {% endif %}
          {% if _link == link.links.last %}
          </div>
          {% endif %}

          {% endfor %}
          {% for _block in section.blocks %}
            {% if _block.type == 'nav-categories-promo-tout' and _block.settings.category_title == link.title  %}
              {%- assign category_name = _block.settings.category_title %}
              {%- assign category_image = _block.settings.category_image | img_url: '1024x' %}
              {%- assign category_url = _block.settings.category_promo_url %}
            <div class="featured-categories-items-promo-section">
              <a href="{{ category_url }}">
                <img data-size="auto" data-src="{{ category_image }}" class="lazyload">
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor%}
      </div>       
    </div>
  {% endif %}
</div>
