{% comment %}
-------------------------------------------------------------------------------
Version: v1.0.0
Version Date: 4/16/2018
-------------------------------------------------------------------------------
{% endcomment %}

{% if settings.subscribe_enabled %}

<div class="subscribe">
  <span class="title">{{ settings.subscribe_miniform_title }}</span>
  <span class="sub-title">{{ settings.subscribe_miniform_sub_title }}</span>
  <form id="SubscribeMini">
    <input type="hidden" name="contact[tags]" value="newsletter">
    <input type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email">
    <button type="submit">
      {% if settings.subscribe_button_text != '' %}
        <span>{{ settings.subscribe_button_text }}</span>
      {% else %}
        <span>Submit</span>
      {% endif %}
    </button>
  </form>
</div>

<div id="SubscribeExtended" style="display:none;">
  <style>
  .subscribe .title {
    display: block;
  }

  .subscribe .sub-title {
    display: block;
  }

  #SubscribeExtended .required-tip {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: right;
    clear: both;
  }

  #SubscribeExtended .required-warning {
    margin: 0 auto;
    max-width: 500px;
  }

  #SubscribeExtended .required-warning.inactive {
    display: none;
  }

  #SubscribeExtended .required-warning.active {
    display: block;
    background: #dc3545;
    color: #FFF;
    border-radius: 3px;
    padding: 12px 12px;
    margin-bottom: 20px;
  }

  #SubscribeExtended .policies {
    width: 100%;
    text-align: right;
    max-width: 500px;
    margin: 0 0 0 auto;
    text-decoration: underline;
  }

  #SubscribeExtended form {
    overflow: auto;
  }

  #SubscribeExtended .subscribe-input {
    margin: 15px 0;
  }

  #SubscribeExtended .subscribe-input .field-error.inactive {
    display: none;
  }

  #SubscribeExtended .subscribe-input .field-error.active {
    display: block;
    color: #dc3545;
  }

  #SubscribeExtended .subscribe-input .checkbox-label label {
    display: inline;
  }

  #SubscribeExtended .subscribe-input .checkbox-label label.error {
    color: #dc3545;
  }

  #SubscribeExtended .subscribe-input input.error {
    border: 1px solid #dc3545;
  }

  #SubscribeExtended .subscribe-input input[type="text"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-input input[type="email"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-input input[type="date"] {
    height: 40px;
    width: 100%;
  }

  #SubscribeExtended .subscribe-submit input[type="submit"] {
    height: 40px;
    float: right;
  }
  </style>

  <span class="required-warning inactive">Please complete all required fields before submitting this form.</span>
  <span class="required-tip">* - Required Fields</span>

  {% form 'customer' %}

    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="form--success visually-hidden">{{ 'general.newsletter_form.confirmation' | t }}</p>
      <div class="visually-hidden" id="subscription_form_submit_popup"><div>Thank you for subscribing to the WB Shop newsletter!</div></div>
    {% endif %}

    {% if settings.subscribe_fields_first_name %}
      <div class="subscribe-input">
        <label>* First Name:</label>
        <input type="text" name="contact[first_name]" value="{% if customer %}{{ customer.first_name }}{% endif %}">
      </div>
    {% endif %}

    {% if settings.subscribe_fields_last_name %}
      <div class="subscribe-input">
        <label>* Last Name:</label>
        <input type="text" name="contact[last_name]" value="{% if customer %}{{ customer.last_name }}{% endif %}">
      </div>
    {% endif %}

    <div class="subscribe-input">
      <label>* Email Address:</label>
      <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}">
    </div>

    {% if settings.subscribe_fields_date_of_birth %}
      <div class="subscribe-input">
        <label>* Date Of Birth:</label>
        <input type="date" name="contact[note][Date Of Birth]" {% if settings.subscribe_fields_date_of_birth_minimum != '' %}data-minimum-age="{{ settings.subscribe_fields_date_of_birth_minimum }}"{% endif %}>
        <span class="field-error inactive" id="field-error_date-of-birth">You must be 18 years of age or older to sign up. Please get the help of a parent or guardian to continue.</span>
      </div>
    {% endif %}

    {% if settings.subscribe_fields_acceptance %}
      <div class="subscribe-input">
        <span>*</span>
        <input checked type="checkbox" name="customer[accepts_marketing]" id="checkbox">
        <span class="checkbox-label"><label for="checkbox">{{ settings.subscribe_fields_acceptance_text }}</label></span>
      </div>
    {% endif %}

    <div class="subscribe-submit">
      {% if settings.subscribe_button_text != '' %}
        <input type="submit" name="subscribe" value="{{ settings.subscribe_button_text }}"></a>
      {% else %}
        <input type="submit" name="subscribe" value="Submit"></a>
      {% endif %}
    </div>

  {% endform %}

  <div class="policies">
    {% if settings.subscribe_policy_page_privacy_policy != '' %}
      <a href="https://{{ shop.domain }}/pages/{{ settings.subscribe_policy_page_privacy_policy }}">Privacy Policy</a>
    {% endif %}
  </div>
</div>

{% endif %}
