{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="collection_catheader">
  <img class="desktop-catheader small--hide lazyload" data-sizes="auto" data-src="{{ 'snc_catheader4.jpg' | asset_url }}">
  <img class="mob-catheader medium-up--hide lazyload" data-sizes="auto" data-src="{{ 'snc_mobcatheader2.jpg' | asset_url }}">
</div>
<!-- <div class="marketing-banner">
  <a href="/collections/mugs-drinkware"><img class="marketing-banner-img" src="{{ 'sga_header_coffeeday.png' | asset_url }}">
</div> -->
{% section 'slideshow-snc' %}

<div class="snc-categories">
  <a href="/collections/sonic-apparel"><div class="snc-catbtns">APPAREL</div></a>
  <a href="/collections/sonic-accessories"><div class="snc-catbtns">ACCESSORIES</div></a>
  <a href="/collections/sonic-collectibles"><div class="snc-catbtns">COLLECTIBLES</div></a>
  <a href="/collections/sonic-home-decor"><div class="snc-catbtns">HOME DECOR</div></a>
</div>

<div class="goingfast-header"><img data-sizes="auto" data-src="{{ 'snc_newarrivals_header.png' | asset_url }}" class="lazyload"></div>
{% section 'collection' %}

<div class="snc-subtout-section">
  {% section 'image-bar' %}
  {% section 'image-bar2' %}
</div>