<div id="qab_placeholder"></div>
{{ content_for_index }}
<!-- <div class="home_featured-collections">
  <div><a href="/"><img src="{{ 'SGA_coll_revofshinobi.jpg' | asset_url }}"></a></div>
  <div><a href="/"><img src="{{ 'SGA_coll_sonicforces.jpg' | asset_url }}"></a></div>
  <div><a href="/"><img src="{{ 'SGA_coll_genesis.jpg' | asset_url }}"></a></div>
</div> -->