<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- ===========================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/

  The Araca Group
  https://github.com/Elkfox/The-Araca-Group

  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
============================================================================ -->

<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% include 'field-validation' %}
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">

        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <script>
      // Identify each step on load and change
      $(document).on('page:load page:change', function() {
        // Update any EZP customised thumbnails in the order summary
        {% assign spent_ids = '' %}
        var thumbnails = {
        {%- for item in checkout.line_items -%}
          {%- if item.properties._ezp_thumbnail -%}
            {% assign variant_id = item.variant.id %}
            {% if spent_ids contains variant_id %}{% continue %}{% endif %}
            '{{ variant_id }}': [{%- for child_item in checkout.line_items -%}{%-if child_item.variant.id == variant_id -%}'{{ child_item.properties._ezp_thumbnail }}',{% endif %}{%- endfor -%}]{%- unless forloop.last -%},{%- endunless -%}
            {% assign spent_ids = spent_ids | append: ',' %}
          {%- endif -%}
        {%- endfor -%}
        }

        for (var id in thumbnails) {
          if (thumbnails.hasOwnProperty(id)) {
            $('[data-variant-id="'+id+'"]').each(function(i) {
              if ($(this).data('has-image') === undefined) {
                $(this).data('has-image', 'true');
                $(this).find('.product-thumbnail__image').attr('src', thumbnails[id][i]);
              }
            });
          }
        }

        // With 'page:change' in place, we can target dynamically loaded elements
        if ((Shopify.Checkout.step) !== undefined) {
          // console.log(Shopify.Checkout.step)
          if (Shopify.Checkout.step === 'contact_information') {
            // This is contact information
          } else if (Shopify.Checkout.step === 'shipping_method') {
            // This is order confirmation
          }
        } else {
          // Thank you page
        }
      });
      // Identify each step on load only
      $(document).on('page:load', function() {
        if ((Shopify.Checkout.step) !== undefined) {
          // console.log(Shopify.Checkout.step)
          if (Shopify.Checkout.step === 'contact_information') {
            // This is contact information
          } else if (Shopify.Checkout.step === 'shipping_method') {
            // This is order confirmation
          }
        } else {
          // Thank you page
        }
      });
    </script>

    <!-------------------------------------------------------------->
    <!--START: Add Gift Note Feature-------------------------------->
    <!-------------------------------------------------------------->
    {% include 'checkout-gift-note' %}
    <!-------------------------------------------------------------->
    <!--END: Add Gift Note Feature---------------------------------->
    <!-------------------------------------------------------------->

    {{ tracking_code }}

    {% assign template = 'checkout' %}
    {% include 'mybuys-global' %}

  </body>
</html>
