<!doctype html>

<!-- ===========================================================================
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/

Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
============================================================================ -->

<!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

<head>
  <!-- META ================================================================ -->
  <meta name="google-site-verification" content="xvlv6VEepBCnEzqFkpnhnQL8w5AQOqquZy8nalRVbco" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{% include 'meta-title' %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  {% include 'meta-social-tags' %}
  {% include 'meta-favorites' %}
  {% include 'theme-typography' %}

  <!-- Shopify ============================================================= -->
  {{ content_for_header }}

  <!-- CSS ================================================================= -->
  {{ 'app.scss.css' | asset_url | stylesheet_tag }}

  <!-- JavaScript =========================================================== -->
  {% if shop.customer_accounts_enabled and template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  {{ 'mybuys.js' | asset_url | script_tag }}

  <script>
    var cart; // Make cart functions global
    $(document).ready(function() {
      cart = new Cartfox.Cart({{ cart | json }}, {
        addItem: '[data-add-to-cart]',
        cartItemCount: "[data-cart-item-count]",
        cartTotal: "[data-cart-total]",
        decreaseQuantity: "[data-minus-one]",
        increaseQuantity: "[data-plus-one]",
        itemQuantity: '[data-item-quantity]',
        removeItem: '[data-remove-item]',
        emptyTemplate: '[data-cart-template]',
        itemsContainer: '[data-item-container]'
      });
    });
  </script>

  <!-- Power Reviews assets -->
  <script src='//ui.powerreviews.com/stable/4.0/ui.js'></script>

  {% include 'consent-manager' %}

  <!-- Harry Potter Bing Conversion Code
// please install on all pages on Harry Potter -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o=

{ti:"5190306"}
;o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()

{var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
</script>
<!-- END Harry Potter Bing Conversion Code-->

{% include 'field-validation' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != null %} suffix-{{ template.suffix }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">

  {% section 'theme-announcements' %}
  {% section 'theme-header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'theme-footer' %}
  {% section 'theme-popups' %}

  {% include 'popup-quicklook' %}
  {% include 'popup-error' %}

  <script type="text/javascript">
    // Cart error handling
    $(document).on('cartfox:requestComplete', function(event, cart, error) {
      if (error) {
        $("#ErrorPopup").find("#errorMessage").text(error);
        errorPopup.show();
      } else {
        {% unless template == 'cart' %}
          cartPopup.show();
          $('html, body').animate({ scrollTop: $('.theme-header').offset().top }, {{ settings.transition_speed }});
        {% endunless %}
      }
    });

    $('#PopupSubscribe #contact_form').on('keyup keydown keypress', function(event) {
      var keyCode = event.keyCode || event.which;
      if (keyCode === 13) {
        event.preventDefault();
        return false;
      }
    });

    $(document).on('click', '#submitSubscribeForm', function(e) {
      e.preventDefault();
      $(this).addClass('disabled');
      var errors = [];
      var $dateOfBirth = $(this).closest('#contact_form').find('.dateOfBirth');
      var $errors = $(this).closest('#contact_form').children('div.error-wrapper');
      if ($dateOfBirth.length) {
      	var dob = Date.parse($dateOfBirth.val());
      	if ((isNaN(dob) || dob < 0)) {
          console.log(dob)
      	  var error = '<li>Date must be valid MM/DD/YYYY</li>';
      	  errors.push(error);
    	   }
      }
      if(errors.length === 0) {
      	$(this).closest('#contact_form').submit();
      } else {
      	if($errors.children('span.errors').length){
      	  for (var error = 0; error < errors.length; error++) {
      		    $errors.children('span.errors ul').append(errors[error])
      	  }
      	} else {
      	  var html = '<span class="errors">';
      	  html+='<ul>';
      	  for (var error = 0; error < errors.length; error++) {
      		    html+= errors[error];
      	  }
      	  html+='</ul>';
      	  html+='</span>';
      	  $errors.html(html);
      	}

      	$errors.slideDown();
      	$(this).removeClass('disabled');
      	errors = [];
      }
    });
  </script>

  {% include 'swym-wishlist' %}

  {% include 'mybuys-global' %}

</body>
</html>
