<div>
</div>
<script>
  var freeGifts = [
  {% for block in section.blocks %}
    {
      productId: '{{ block.settings.gift_with_purchase }}',
      tag: '{{ block.settings.tag }}',
    }
   {% endfor %}
  ]
  window.localStorage.setItem('freeGifts', JSON.stringify(freeGifts));
</script>
{% schema %}
  {
      "name": "Free Gifts",
      "settings": [
      ],
      "blocks": [
          {
              "name": "Free Gift",
              "type": "free-gift",
              "settings": [
                  {
                    "type": "text",
                    "id": "tag",
                    "label": "Tag"
                  },
                  {
                    "type": "product",
                    "id": "gift_with_purchase",
                    "label": "Free Gift"
                  }
              ]
          }
      ]
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
