<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-promo-mosaic">
</script>

<section class="promo-mosaic--container">
  {% if section.settings.title != blank %}
    <h1 class="home-section--title">
      {{ section.settings.title | escape }}
    </h1>
  {% endif %}

  <div class="home-section--content promo-mosaic--height-{{ section.settings.section_height }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-mosaic--inner promo-mosaic--layout-{{ section.blocks.size }}">
        {% assign layout_name = 'promo-mosaic-' | append: section.blocks.size %}
        {% include layout_name %}
      </div>
    {% endif %}
  </div>

  {%
    include 'promo-block-background',
    blocks: section.blocks
  %}
</section>

{% schema %}
  {
    "name": "Mosaic",
    "class": "promo-mosaic--section",
    "max_blocks": 7,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Mosaic"
      },
      {
        "id": "section_height",
        "type": "select",
        "label": "Section height",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Mosaic"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news.",
          "info": "Limited to 120 characters."
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mosaic",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
