<script
  type="application/json"
  data-section-type="static-gateway"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }}
    }
  }
</script>

{% assign show_sidebar = false %}
{% assign show_filters = true %}
{% assign show_filter_trigger = false %}

{% if section.settings.filter_style == 'none' %}
  {% assign show_filters = false %}
{% endif %}

{% if section.settings.show_sidebar %}
  {% comment %}
    Sidebar toggle is used on mobile only, and will only show Filters
  {% endcomment %}

  {% if collection.all_tags.size > 0 and show_filters %}
    {% assign show_filter_trigger = true %}
  {% endif %}

  {% if section.blocks.size > 0 or collection.all_tags.size > 0 and show_filters %}
    {% comment %}
      Sidebar to show only if there are tags in the collection, or there are menus
    {% endcomment %}
    {% assign show_sidebar = true %}
  {% endif %}
{% endif %}

{%- capture collection_classes -%}
  {% if show_sidebar %}
    layout--has-sidebar
  {% else %}
    layout--no-sidebar
  {% endif %}
{%- endcapture -%}

{% if show_sidebar %}
  {%
    include 'gateway-grid-sidebar',
    filter_style: section.settings.filter_style,
    filter_position: section.settings.filter_position,
    filter_limit: section.settings.filter_limit,
    menu_depth: section.settings.menu_depth_range
  %}
{% endif %}
{% schema %}
  {
    "name": "Gateway Sidebar",
	"class": "gateway-sidebar--section",
    "settings": [
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "checkbox",
        "id": "show_sidebar",
        "label": "Show sidebar",
        "default": true
      }
	],
	"blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "id": "menu",
            "type": "link_list",
            "label": "Menu"
          }
        ],
        "limit": 10
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
