<script src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript" defer="defer"></script>
<script src="{{ 'consentmanagement-jquery-ui.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'consent-management.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'consent-management.css' | asset_url }}">

<div class="consent-management-dialog mini">
  <div class="container">
    <span>This website collects data to provide you with the best possible shopping experience. Our use of your data is described in our <a href="/pages/privacy-policy">Privacy Policy</a>. By clicking 'I Accept' you are agreeing to the terms of our <a href="/pages/privacy-policy">Privacy Policy</a>.</span>
    <form id="ConsentForm" data-post-url="https://aracahq.com/consents/consent/create">
      <input type="hidden" name="customer_id" value="{{ customer.id }}" />
      <input type="hidden" name="frontend_identifier" value="{{ shop.permanent_domain }}" />
      <div class="options">
        <div class="accept-consent-option">
          <input type="submit" value="I Accept" data-consent-option="accept"/>
        </div>
        <div class="additional-consent-options">
          <a href="#" data-consent-option="manage-consent">No, I'd like to change how my data is used</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="consent-management-dialog extended">
  <div class="container">
    <span>This website collects data to provide you with the best possible shopping experience. Our use of your data is described in our <a href="/pages/privacy-policy">Privacy Policy</a>; however, you may specify alternative data collection preferences for your account below. By clicking 'Update My Preferences' you are agreeing to the terms of our <a href="/pages/privacy-policy">Privacy Policy</a>, as revised by your choices below.</span>
    <form id="ConsentForm" data-post-url="https://aracahq.com/consents/consent/create">
      <input type="hidden" name="customer_id" value="{{ customer.id }}" />
      <input type="hidden" name="frontend_identifier" value="{{ shop.permanent_domain }}" />
      <ul class="accordion disabled"> {% comment %}Toggle between "disabled" and "enabled" class to turn accordion on/off{% endcomment %}
        <li>
          <input type="checkbox" name="required_consent" checked disabled />
          <a>Required</a>
          <p>In order to provide basic shopping cart functionality, there are a few pieces of data that we need to capture. The capture of this data is required for us to fulfill our contractual obligation.</p>
        </li>
        <li>
          <input type="checkbox" name="analytics_consent" />
          <a>Analytics</a>
          <p>We collect data based on your browsing and shopping behavior to be analyzed for various purposes, such as providing a better shopping experience to our customers.</p>
        </li>
        <li>
          <input type="checkbox" name="functionality_consent" />
          <a>Functionality (Recommended)</a>
          <p>We offer an enhanced shopping experience using functionality provided by third-parties, who require us to share your personal data with them in order to provide personalized services to you. You can find more information on the services and the data shared in our Privacy Policy.</p>
        </li>
        <li>
          <input type="checkbox" name="marketing_consent" />
          <a>Marketing</a>
          <p>We collect data on your shopping behavior, to present you with useful marketing content such as promotions.</p>
        </li>
        <li>
          <input type="checkbox" name="targeting_consent" />
          <a>Targeting</a>
          <p>We collect data on your shopping behavior, to provide you with a personalized shopping experience such as product recommendations.</p>
        </li>
        <li>
          <input type="checkbox" name="do_not_sell_my_personal_information" />
          <a>Do not sell my personal information</a>
          <p></p>
        </li>
      </ul>
      <a href="" class="navigate-back">&larr; Cancel</a>
      <input type="submit" value="Update My Preferences" />
    </form>
  </div>
</div>
