{% for block in section.blocks %}
	{% case block.settings.image_amount %}
	{% when 'one' %}
	  {%- assign grid_item_width_tout = 'grid__item' -%}
	{% when 'two' %}
	  {%- assign grid_item_width_tout = 'grid__item medium-up--one-half' -%}
	{% when 'three' %}
	  {%- assign grid_item_width_tout = 'grid__item small--one-half medium-up--one-third' -%}
	{% endcase %}

	{% if block.settings.collection_page == collection.handle %}
		<div class="{{ grid_item_width_tout }}">	
			{% unless block.settings.tout_link == blank %}
				<a href="{{ block.settings.tout_link }}">
				{% endunless %}

					{% unless block.settings.collection_image == blank %}
						<img data-size="auto" data-src="{{ block.settings.collection_image | img_url: '965x600' }}" alt="" class="lazyload">
					{% endunless %}

				{% unless block.settings.tout_link == blank %}
				</a>
			{% endunless %}
		</div>
	{% endif %}
{% endfor %}