<div id="sub-navigation-shop-by-category">
  {% if linklists[section.settings.main_linklist].links[0] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[0] -%}
    <div id="shop-categories-featured-item-section" class="shop-categories-navigation-promo-section">
      {% assign featured_products_count = 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'nav-category-products' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if featured_products_count > 0 %}
      <div class="featured-products">
        <span>Featured Product{% if featured_products_count > 1 %}s{% endif %}</span>
        <div class="featured-product-items grid">
        {% for block in section.blocks %}
          {% if block.type == 'nav-category-products' %}
            {% assign product = all_products[ block.settings.categories_featured_product] %}
            <div class="featured-product-item">
            {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
              <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
            {% endif %}
            <a href="{{ product.url }}">
              <div class="product-image">
                <div class="main-image-holder">
                  <img class="product-single-image lazyload" data-size="auto" data-src="{{ product.images.first.src | img_url: '110x110', scale: 2 }}" alt="{{ product.images.first.alt | escape }}">
                  {% if product.images.size > 1 %}
                  <img class="product-single-image lazyload" data-size="auto" data-src="{{ product.images.last.src | img_url: '110x110', scale: 2 }}" alt="{{ product.images.first.alt | escape }}" style="display: none;">
                  {% endif %}
                </div>
              </div>
              <div>
                <p class="nav-featured-product-title">{{ product.title }}</p>
              </div>
              <div class="product-price">
                {%- assign current_variant = product.selected_or_first_available_variant -%}
                <p>
                  {% if current_variant.compare_at_price > current_variant.price %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
                      <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                        <span id="ProductPrice-{{ section.id }}"
                          itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                          {{ current_variant.price | money }}
                        </span>
                      </span>

                      <span class="savings">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
                  {% else %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s id="ComparePrice" class="hide">{{ current_variant.compare_at_price | money }}</s>
                    <span class="product-price__price product-price__price">
                      <span id="ProductPrice"
                        itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                        {{ current_variant.price | money }}
                      </span>
                    </span>
                  {% endif %}
                </p>
              </div>
            </a>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div id="shop-categories-content">
      <div class="shop-categories-navigation-content">
        {% for link in list.links %}
        <div id="shop-categories-{{link.handle}}" class="shop-categories-navigation-section">
          <div class="shop-categories-navigation-section-level-0">
            <ul class="shop-categories-navigation-section-level-1">
            {% if link.links != blank %}
              <li class="list-title"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% for llink in link.links %}
              <li><a href="{{ llink.url }}">{{ llink.title }}</a></li>
              {% endfor%}
            {% else %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
