<script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js?shop=shop-dcshop.myshopify.com"></script>
<script src="{{ 'stamped.js' | asset_url }}" defer="defer"></script>
