$star-pdp-size: 24px;
$star-collection-size: 20px;
$star-color: #367DE4;
$button-background-color: #367DE4;
$button-text-color: #FFF;
$tab-underline-color: #367DE4;

#shopify-section-product-template,
#shopify-section-template-product,
.template-product,
.product-detail-content,
#shopify-section-static-product,
.product--section {
  .stamped-product-reviews-badge {
    margin: 12px 0 12px 0;
    .stamped-badge {
      .stamped-badge-starrating {
        i {
          color: $star-color;
          &:before {
            font-size: $star-pdp-size;
          }
        }
      }
    }
  }

  #stamped-main-widget {
    .stamped-container {
      .stamped-header {
        .stamped-summary {
          .summary-overview {
            .stamped-summary-starrating {
              i {
                &:before {
                  color: $star-color;
                }
              }
            }
          }
          .stamped-summary-actions {
            margin-bottom: auto;
            a {
              &.stamped-summary-actions-newreview {
                background: $button-background-color;
                border: 1px solid $button-background-color;
                color: $button-text-color;
              }
            }
          }
        }
      }
      .stamped-content {
        .stamped-tab-container {
          .stamped-tabs {
            li {
              &.active {
                border-bottom: 3px solid $tab-underline-color;
              }
            }
          }
        }
        form.new-review-form {
          fieldset {
            &.stamped-form-actions {
              .stamped-file-uploader {
                label[for="stamped-file-uploader-input"] {
                  .stamped-file-uploader-btn {
                    background: $button-background-color;
                    border: 1px solid $button-background-color !important;
                    color: $button-text-color;
                  }
                }
              }
              #stamped-button-submit {
                background: $button-background-color;
                border: 1px solid $button-background-color;
                color: $button-text-color;
              }
            }
          }
        }
        .stamped-messages {
          .stamped-empty-state {
            &:before {
              color: $star-color;
            }
          }
        }
      }
    }
  }
}

#shopify-section-collection-template,
#shopify-section-template-collection,
.template-collection,
.collection-content,
#shopify-section-static-collection,
.collection--section {
  .stamped-product-reviews-badge {
    margin: 5px 0 0 0;
    .stamped-badge {
      .stamped-badge-starrating {
        i {
          &:before {
            color: $star-color;
            font-size: $star-collection-size;
          }
        }
      }
      .stamped-badge-caption {
        display: none;
      }
    }
  }
}
