/*******************************************************************************
All Password Validation Styling Should Be Done In This File, Below These Lines
*******************************************************************************/
input[type="password"].password-validation-error-marker {
    border: 1px solid #900;
}

#password-validation-tip {
  margin-bottom: 15px;
}

#password-validation-errors {
    border: 2px solid #900;
    padding: 10px 25px;
    color: #900;
    margin-bottom: 20px;
    text-align: left;
    span {
      font-weight: bold;
    }
    ul {
      margin-left: 20px;
      li {
        list-style:  disc;
      }
    }
}
