
<div id="breadcrumb" class="desktop-12 tablet-6 mobile-3">
  <a href="/" class="homepage-link" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  {% if template contains "product" %}
  {% if collection %}            
  <span class="separator">&raquo;</span> 
  {% if collection.handle %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  {{ collection.title | link_to: url }}
  {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
  {{ collection.title | link_to_type }}
  {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
  {{ collection.title | link_to_vendor }}
  {% endif %}
  {% else %}
  <span class="separator">&raquo;</span> 
  {{ product.type | link_to_type }}
  {% endif %}
  <span class="separator">&raquo;</span>
  <span class="page-title">{{ page_title }}</span>
  {% elsif template == "article" %}
  <span class="separator">&raquo;</span> 
  {{ blog.title | link_to: blog.url }}
  <span class="separator">&raquo;</span>
  <span class="page-title">{{ page_title }}</span>
  {% elsif template contains "collection" %}
  {% if current_tags.size > 0 %}
  <span class="separator">&raquo;</span>
  {{ collection.title | link_to: collection.url }}
  <span class="separator">&raquo;</span>
  <span class="page-title">{{ current_tags | remove: 'type'| remove: 'show' | remove: '_' | remove: '[' | remove: ']'| remove: '"' | replace: '-', ' ' }}</span>
  {% else %}
  <span class="separator">&raquo;</span>
  <span class="page-title">{{ page_title }}</span>
  {% endif %}
  {% else %}
  <span class="separator">&raquo;</span>
  <span class="page-title">{{ page_title }}</span>
  {% endif %}
</div>

<div class="clear"></div>