<a class="show mobile-3" href="#"><img style="max-width: 25px; vertical-align: middle;" src="{{ 'icon-filter-blk.png' | asset_url }}"> <span style="font-size: 14px; padding-left: 5px; color: #000; vertical-align: middle;" id="filters-label">Filters</span></a>

<div class="desktop-2 tablet-6 mobile-3" id="aside">
  <div id="sidebar">

    <div class="sidebar-title">{{ collection.title | remove: 'Ferdinand' | remove: 'Predator' | remove: 'Alien' | remove: 'Planet of the Apes' | remove: 'Super Troopers' }}</div>
   
    
    {% comment %}
    Include block settings for collection template to add sidebar menus
    {% endcomment %}
    
    {% for block in section.blocks %}
     {% if block.type == 'vendor_list' %}    
      {% if collection.handle == "all" %}
      <ul>
        <label>{{ 'collections.general.shop_by_designer' | t }}</label>
        {% for product_vendor in shop.vendors %}
        <li>{{ product_vendor | link_to_vendor  }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <ul>
        <label>{{ 'collections.general.shop_by_designer' | t }}</label>
        {% for product_vendor in collection.all_vendors %}
        <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% else %}
    
    <ul {{ block.shopify_attributes }}>
      <label>{{ block.settings.title }}</label>
      {% for link in linklists[block.settings.side_nav].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
    
    {% endif %}
    
    {% endfor %}
    


  </div>

  <script>
    Shopify.queryParams = {};
    if (location.search.length) {
      for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
        aKeyValue = aCouples[i].split('=');
        if (aKeyValue.length > 1) {
          Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
        }
      }
    }
    jQuery('#sort-by')
    .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
         .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams);
    });
  </script>   

  {% if section.settings.sticky-sidebar %}
  <script>

    if($(window).width() > 980){

      $('#sidebar').stickySidebar({

        sidebarTopMargin: 100,
        footerThreshold: 100

      });  
    };
  </script>
  {% endif %}

</div>