{% if link.title == section.settings.megadropdown_link %}
<li class="dropdown">{{ link.title | link_to: link.url }}  
  <ul class="megamenu">
    <div class="mega-container">
      {% if section.settings.nav-image != blank  %}
      <span class="desktop-3 tablet-hide mm-image">
    	{%- assign image_size = '300x' -%}
      <a href="{{ section.settings.nav_promo_link }}">
        <img src="{{ section.settings.nav-image | img_url: image_size }}">
      </a>
      </span>
      {% endif %}     
      <span class="{% if section.settings.nav-image != blank %}desktop-9{% else %}desktop-12{% endif %} tablet-6">      
        {% case section.blocks.size %}
        {% when 0 %}
        {% when 1 %}
        {% assign column_width = 'desktop-12 tablet-fourth' %}
        {% when 2 %}
        {% assign column_width = 'desktop-6 tablet-fourth' %}
        {% when 3 %}
        {% assign column_width = 'desktop-4 tablet-fourth' %}
        {% when 4 %}
        {% assign column_width = 'desktop-3 tablet-fourth' %}
        {% endcase %}  
        {% for block in section.blocks %}      
        <li class="{{ column_width }}">
          <h4>{{ block.settings.title }}</h4>
          <ul class="mega-stack" {{ block.shopify_attributes }}>
            {% for link in linklists[block.settings.mega-nav].links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %} 
      </span>      
    </div>
  </ul>
</li>
{% elsif linklists[link.handle] and linklists[link.handle].links.size > 0 %}
<li class="dropdown"><a href="{{ link.url }}" class="dlinks">{{ link.title }}</a>  
  {% if linkurl contains 'collections/' %}
  {% assign collection = link.object %}
  <ul class="megamenu">
    <div class="mega-container">
      <!-- Start Megamenu Inner Links -->
      <li class="desktop-2 tablet-1">
        <h4>{{ link.title }}</h4>
        <ul class="mega-stack">
          {% for l in linklists[link.handle].links %}
          <li><a href="{{ l.url }}">{{ l.title }}</a></li>    
          {% endfor %}
        </ul>
      </li> 
      {% for product in collection.products limit: 5 %}
      <li class="desktop-2 product-index">
        <div class="ci">
          <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ image.alt }}" />
          </a>
        </div>
        <div class="product-details">  
          <p><a href="{{ product.url | widthin: collection }}">{{ product.title }}</a></p>
          <div class="price">
            <a href="{{ product.url | widthin: collection }}">
              {% if product.price < product.compare_at_price %}
              <div class="onsale">{{ product.price | money }}</div>
              <div class="was">{{ product.compare_at_price | money }}</div>
              {% else %}
              <div class="prod-price">{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
              {% endif %}	
            </a>
          </div>          
        </div>
      </li>
      {% endfor %}        
    </div>
  </ul>
  {% else %}
  <ul class="submenu">
    {% for l in linklists[link.handle].links %}
    {% if linklists[l.handle] and linklists[l.handle].links.size > 0 %}      
    <li class="nest"><a href="{{ l.url }}">{{ l.title }}</a>                 
      <ul class="nested">
        {% for l in linklists[l.handle].links %}
        <li><a href="{{ l.url }}">{{ l.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li><a href="{{ l.url }}">{{ l.title }}</a></li>    
    {% endif %}

    {% endfor %}
  </ul>
  {% endif %}
</li>
{% else %}
<li class="navmenu-id-{{ link.handle }}">{{ link.title | link_to: link.url }}</li>
{% endif %}