<div class="ci">
  {% if product.available %}
  {% for col in product.collections %}
  {% if col.handle == 'new' %}
  <div class="new icn">{{ 'products.general.new' | t }}</div>
  {% endif %}
  {% endfor %}

  {% if sca_price < sca_compare_at_price %}
  <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
  {% endif %}

  {% else %}
  <div class="so icn">{{ 'products.general.sold' | t }}</div>
  {% endif %}         

  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <div class="reveal">
      <img src="{{ product.featured_image.src | product_img_url: '500x' }}" alt="{{ product.featured_image.alt | escape }}" />
      {% if settings.image-flip and product.images.size > 1 %}
      <div class="hidden">
        <img src="{{ product.images[1] | product_img_url: '500x' }}" alt="{{ product.images[1].alt | escape }}" />
      </div>
      {% endif %}
    </div>
  </a>
</div>

<div class="product-info"> 
  {% if settings.quickview %}
  <a class="fancybox.ajax product-modal" rel="nofollow" href="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</a>
  {% endif %}
</div> 

<div class="product-details">  
  <a href="{{ product.url | within: collection }}"> 
    <h3>{{ product.title }}</h3>      
    {% if settings.vendor %}<h4>{{ product.vendor }}</h4>{% endif %}
  </a>  
  <div class="price">
    {% if on_sale %}
    <div class="onsale">{{ prod.price | money }}</div>
    <div class="was">{{ prod.compare_at_price | money }}</div>
    {% else %}
    <div class="prod-price">{% if prod.price_varies %} {{ 'products.general.from' | t }} {{ prod.price_min | money }} - {{ prod.price_max | money }} {% else %}{{ prod.price | money }}{% endif %}</div>
    {% endif %}	
  </div>
</div>
