{% comment %}
Smart e-commerce App (SEA Inc)
http://www.secomapp.com
-----------------------------
This snippet provides the default templates for Freegifts app showing Gift Slider on Cart page/popup.
It also have the script codes need for the app running, please do not reuse or edit those codes if doesn't
have permission of us.
{% endcomment %}

<script id="sca_fg_cart_ShowGiftAsProductTemplate" type="text/template">
  {%raw%}
  <div class="item not-sca-qv" id="sca-freegift-{{productID}}">
    <a class="close_box" style="display: none;position: absolute;top:5px;right: 10px;font-size: 22px;font-weight: bold;cursor: pointer;text-decoration:none;color: #aaa;">×</a>
    <img class="lazyOwl" data-src="{{productImageURL}}">
    <div class="sca-product-shop">
      <div class="f-fix"><span class="sca-product-title" style="white-space: nowrap;color:#000;{{showfgTitle}}">{{productTitle}}</span>
          <div id="product-variants-{{productID}}">
            <div class="sca-price" id="price-field-{{productID}}">
              <span class="sca-old-price">{{variant_compare_at_price}}</span>
              <span class="sca-special-price">{{variant_price}}</span>
            </div>
            <div id="stay-content-sca-freegift-{{productID}}" class="sca-fg-cart-item">
              <a class="close_box" style="display: none;position: absolute;top:5px;right: 10px;font-size: 22px;font-weight: bold;cursor: pointer;text-decoration:none;color: #aaa;">×</a>
              <select id="product-select-{{productID}}" name="id" style="display: none">
                {{optionVariantData}}
              </select>
            </div>
          </div>
          <button type='button' id="sca-btn-select-{{productID}}" class="sca-button" onclick="onclickSelect_{{productID}}();"><span>{{SelectButton}}</span></button>
          <button type='button' id="sca-btn-{{productID}}" class="sca-button" style="display: none"><span>{{AddToCartButton}}</span></button>
      </div>
    </div>
  </div>
  {%endraw%}
</script>
<script id = "sca_fg_cart_ShowGiftAsProductScriptTemplate" type="text/template">
  {%raw%}
  var selectCallback_{{productID}}=function(_,t){if(_?(_.available?($("#sca-btn-{{productID}}").removeClass("disabled").removeAttr("disabled").html("<span>{{AddToCartButton}}</span>").fadeTo(200,1),$("#sca-btn-{{productID}}").unbind("click"),$("#sca-btn-{{productID}}").click(SECOMAPP.jQuery.proxy(function(){SECOMAPP.addGiftToCart(_.id,1)},_))):$("#sca-btn-{{productID}}").html("<span>{{UnavailableButton}}</span>").addClass("disabled").attr("disabled","disabled").fadeTo(200,.5),_.compare_at_price>_.price?$("#price-field-{{productID}}").html("<span class='sca-old-price'>"+SECOMAPP.formatMoney(_.compare_at_price)+"</span>&nbsp;<s class='sca-special-price'>"+SECOMAPP.formatMoney(_.price)+"</s>"):$("#price-field-{{productID}}").html("<span class='sca-special-price'>"+SECOMAPP.formatMoney(_.price)+"</span>")):$("#sca-btn-{{productID}}").html("<span>{{UnavailableButton}}</span>").addClass("disabled").attr("disabled","disabled").fadeTo(200,.5),_&&_.featured_image){var a=$("#sca-freegift-{{productID}} img"),o=_.featured_image,n=a[0];Shopify.Image.switchImage(o,n,function(_,t,a){$(a).parents("a").attr("href",_),$(a).attr("src",_)})}},onclickSelect_{{productID}}=function(){SECOMAPP.jQuery.getJSON("/products/{{productHandle}}.js",{_: new Date().getTime()},function(_){1==_.options.length&&$("<label><strong>"+_.options[0].name+"</strong></label>").insertBefore("#product-select-{{productID}}");var t=[];SECOMAPP.jQuery.each(_.options,function(_,a){t[_]=a.name}),_.options=t;for(var a={{variantsGiftList}},o={{mainVariantsList}},n=_.variants.length-1;n>-1;n--)a.indexOf(_.variants[n].id)<0&&o.indexOf(_.variants[n].id)<0&&_.variants.splice(n,1);for(var e=o.length-1;e>-1;e--){var c=a[e],i=o[e],s=0,r=0;for(n=_.variants.length-1;n>-1;n--)_.variants[n].id==c?s=n:_.variants[n].id==i&&(r=n);"undefined"!=typeof SECOMAPP&&void 0!==SECOMAPP.fgsettings&&!0===SECOMAPP.fgsettings.sca_sync_gift&&void 0!==SECOMAPP.fgsettings.sca_fg_gift_variant_quantity_format&&"equal_original_inventory"===SECOMAPP.fgsettings.sca_fg_gift_variant_quantity_format&&(_.variants[s].available=_.variants[r].available,_.variants[s].inventory_management=_.variants[r].inventory_management),_.variants[s].option1=_.variants[r].option1,_.variants[s].options[0].name=_.variants[r].options[0].name,_.variants[s].options[1]&&(_.variants[s].options[1].name=_.variants[r].options[1].name,_.variants[s].option2=_.variants[r].option2),_.variants[s].options[2]&&(_.variants[s].options[2].name=_.variants[r].options[2].name,_.variants[s].option3=_.variants[r].option3),_.variants[s].title=_.variants[r].title,_.variants[s].name=_.variants[r].name,_.variants[s].public_title=_.variants[r].public_title,_.variants.splice(r,1)}$("#sca-btn-select-{{productID}}").hide(),$("#product-select-{{productID}}").show(),$("#sca-btn-{{productID}}").show(),$("#stay-content-sca-freegift-{{productID}} .close_box").show(),$("#stay-content-sca-freegift-{{productID}} .close_box").click(function(){$("#stay-content-sca-freegift-{{productID}}").hide(),$("#sca-btn-{{productID}}").hide(),$("#sca-btn-select-{{productID}}").show()}),new Shopify.OptionSelectors("product-select-{{productID}}",{product:_,onVariantSelected:selectCallback_{{productID}},enableHistoryState:!0}),1==_.variants.length&&-1!==_.variants[0].title.indexOf("Default")?jQuery("#sca-freegift-{{productID}} .selector-wrapper").hide():($("#stay-content-sca-freegift-{{productID}}").show(),$("#stay-content-sca-freegift-{{productID}}").focus()),onclickSelect_{{productID}}=function(){$("#stay-content-sca-freegift-{{productID}}").show(),$("#sca-btn-{{productID}}").show(),$("#sca-btn-select-{{productID}}").hide()}})};
  {%endraw%}
</script>

<script id="sca_fg_cart_ShowGiftAsVariantTemplate" type="text/template">
  {%raw%}
  <div class="item not-sca-qv" id="sca-freegift-{{variantID}}">
    <img class="lazyOwl" data-src="{{variantImageURL}}">
    <div class="sca-product-shop">
      <div class="f-fix">
        <span class="sca-product-title" style="white-space: nowrap;color:#000;">{{variantTitle}}</span>
        <div class="sca-price">
          <span class="sca-old-price">{{variant_compare_at_price}}</span>
          <span class="sca-special-price">{{variant_price}}</span>
        </div>
        <button type="button" id="sca-btn{{variantID}}" class="sca-button" onclick="SECOMAPP.addGiftToCart({{variantID}},1);">
          <span>{{AddToCartButton}}</span>
        </button>
      </div>
    </div>
  </div>
  {%endraw%}
</script>

<script id="sca_fg_prod_GiftList" type="text/template">
  {%raw%}
  <a style="text-decoration: none !important" id ="{{giftShowID}}" class="product-image freegif-product-image freegift-info-{{giftShowID}}"
     title="{{giftTitle}}" href="/products/{{productsHandle}}">
    <img class="not-sca-qv" src="{{giftImgUrl}}" alt="{{giftTitle}}" />
  </a>
  {%endraw%}
</script>

<script id="sca_fg_prod_Gift_PopupDetail" type="text/template">
  {%raw%}
  <div class="sca-fg-item fg-info-{{giftShowID}}" style="display:none;z-index:2147483647;">
    <div class="sca-fg-item-options">
      <div class="sca-fg-item-option-title">
        <em>{{freegiftRuleName}}</em>
      </div>
      <div class="sca-fg-item-option-ct">
        <!--        <div class="sca-fg-image-item">
                        <img src="{{giftImgUrl}}" /> -->
        <div class="sca-fg-item-name">
          <a href="#">{{giftTitle}}</a>
        </div>
        <!--        </div> -->
      </div>
    </div>
  </div>
  {%endraw%}
</script>

<script id="sca_fg_ajax_GiftListPopup" type="text/template">
  {%raw%}
  <div id="freegift_popup" class="mfp-hide">
    <div id="sca-fg-owl-carousel">
      <div id="freegift_cart_container" class="sca-fg-cart-container" style="display: none;">
        <div id="freegift_message" class="owl-carousel"></div>
      </div>
      <div id="sca-fg-slider-cart" style="display: none;">
        <div class="sca-fg-cart-title">
          <strong>{{popupTitle}}</strong>
        </div>
        <div id="sca_freegift_list" class="owl-carousel"></div>
      </div>
    </div>
  </div>
  {%endraw%}
</script>

{% comment %}
========================================
||  DO NOT EDIT THE CODES BELLOW !!!  ||
========================================
{% endcomment %}

{{ 'sca.freegift.css' | asset_url | stylesheet_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
    Shopify.money_format = {{ shop.money_format | json }};
    //enable checking free gifts condition when checkout clicked
    if ((typeof SECOMAPP) === 'undefined') { window.SECOMAPP = {}; };
    SECOMAPP.enableOverrideCheckout = true;
</script>
{% include 'sca.freegifts.status'%}
