{% if section.settings.show-sku %}<span class="variant-sku"></span>{% endif %}
<div class="product-form--regular">
  <div>

    <div class="product-add FoxConnectBTN">
      {% assign foxconnect = product.metafields.foxconnect %}
      {% assign key = 'link' %}
      <div class="product-form--atc-button" style="margin-top: 30px;">
        <a style="padding: 5px 10px" class="atc-button--text foxconnect-AddToCartText" id="AddToCart" target="_blank" href="{{ foxconnect.link }}">
          {% if product.tags contains 'Show_Alien'%}
          Purchase Here
          {% else %}
          Buy at Fox Connect
          {% endif %}
        </a>
      </div>
    </div>

    <!-- include 'wishlist-button-product' with '{{ product.id }}' -->

    {% if enable_social_sharing and is_product_modal == false %}
      {{ share_buttons | strip_newlines }}
    {% endif %}
  </div>
</div> 


{% if product.variants.size > 1 or product.options.size > 1 %}

  <script type="application/json" id="ProductJson-{{ product.id }}">
    {{ product | json }}
  </script>

{% endif %}

  
