{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
      }
      .announcement-bar--link{
        display: inline-block;
      }
      .announcement-bar__message a {
        font-size: 10px;
        color: inherit;
        text-transform: capitalize;
        text-decoration: none;
        display: inline-block;
      }
      .popup-link{
        font-size: 10px;
        text-decoration: underline;
        text-transform: uppercase;
        display: inline-block;
        font-family: 'Lato-Heavy', Arial, sans-serif;
      }
      .popup-link:before {
        content: ' ';
        display: inline-block;
        background: #000;
        height: 5px;
        width: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 50%;
      }
      .announcement-bar__message .announcement-bar__links {
        float: right;
      }

      .announcement-bar__message .announcement-bar__links a {
        color: {{ section.settings.color_text }};
        text-transform: capitalize;
        font-weight: normal;
        text-decoration: underline;
        margin-right: 20px;
        border-left: 1px solid;
        padding-left: 15px;
      }
      .announcement-bar__message .announcement-bar__links a:first-child {
        border-left: none;
      }
    </style>

    {% if section.settings.message_text != blank %}
      <div class="announcement-bar">
        {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
        {% endif %}
          <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {% if section.settings.message_text != blank %}  
        </a>
        {% endif %}
        <a class="popup-link" data-popup data-popup-id="freeship-details">see details</a>
      </div>
    {% endif %}


<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-top-icons">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="site-header__account">
          My Account
          <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
        </a>
      {% else %}
        <a href="/account/login" class="site-header__account">
          My Account
          <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
        </a>
      {% endif %}
    {% endif %}
            
    <a href="#swym-wishlist">Wish List</a>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
      {% else %}
        <a href="/account/login">
          Sign In
        </a>
      {% endif %}
    {% endif %}

    <a href="/cart" id="minicart-open-link" class="site-header__cart">
      {% include 'icon-cart' %}
      <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
      <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
      {% if cart.item_count > -1 %}
        <div id="CartCount" class="site-header__cart-count">
          <span>{{ cart.item_count }}</span>
          <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        </div>
      {% endif %}
      <span>Cart</span>
    </a>
    {% include 'popup-cart' %}
    <div class="minicart-overlay"></div>
  </div>
  <header class="site-header{% if section.settings.align_logo == 'left' %} logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table">
      {% unless linklists[section.settings.main_linklist] == blank %}
        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
          {% include 'icon-hamburger' %}
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
        </button>
      {% endunless %}

      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      {% endif %}

      <div class="grid__item small--one-half {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if template.name == 'index' %}
          <h1 class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h2 site-header__logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ 'HBO_FInalLogo.svg' | asset_url }}"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% if section.settings.align_logo == 'center' %}
        <div class="grid__item small--hide medium-up--one-third">
          <div class="site-header__search">
            {% include 'search-form' %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
      {% endif %}

      <div class="grid__item small--one-half {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          {% if section.settings.align_logo == 'left' %}
            <div class="site-header__search small--hide">
              {% include 'search-form' %}
            </div>
          {% endif %}

          <a href="/cart" id="minicart-open-link-mobile" class="site-header__cart">
            {% include 'icon-cart' %}
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > -1 %}
              <div id="CartCount-mobile" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>

        </div>

      </div>
    </div>

    <div class="site-header__search mobile-search-form">
      {% include 'search-form' %}
    </div>
  </header>
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item border-bottom">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
            </a>
          {% else %}
            <a href="/account/login" class="site-header__account">
              <b>My Account</b>
              <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
            </a>
          {% endif %}
        {% endif %}

        {% unless linklists[section.settings.main_linklist] == blank %}
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
          </button>
        {% endunless %}

      </li>
      <li class="mobile-nav__item border-bottom">
        <a href="/apps/tracktor/" class="site-header__trackorder">
          <b>Track My Order</b>
        </a>
      </li>
      <li class="mobile-nav__item border-bottom">
        {% include 'mobile-nav' %}
      </li>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign outerLoopIndex = forloop.index -%}
      {% endfor %}
    </ul>
  </nav>

  <div id="navigation-content" {% unless template == 'index' %}class="border-bottom"{% endunless %}>
    <div id="navigation-shop-by-category">
      {% include 'shop-categories-navigation' %}
    </div>
    <div id="navigation-shop-shows">
      {% include 'shop-shows-navigation' %}
    </div>
  </div>

  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', nav_alignment: 'site-nav--centered' %}
  </nav>
  {% endif %}

  <div data-section="header-brand-logo">
    <div class="page-width logo-bar-section">
      {% if section.blocks.size > 0 %}
        <div class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
          {% for block in section.blocks %}
            {% if block.type == "brand_logo_image" %}
              <div class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
                {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" class="logo-bar__link">
                {% endif %}
                {% if block.settings.image != blank %}
                  {% assign logo_bar_img_class = 'logo-bar__image logo-bar__image_size__' | append: block.settings.logo_image_max_width %}
                  {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, logo_bar_img_class }}
                  {% if block.settings.hover_image != blank %}
                  {% assign logo_bar_hover_img_class = 'logo-bar__image logo-bar__hover_image logo-bar__image_size__' | append: block.settings.logo_image_max_width %}
                  {{ block.settings.hover_image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, logo_bar_hover_img_class }}
                  {% endif %}
                {% else %}
                  {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
                <style>
                  .logo-bar__image_size__{{ block.settings.logo_image_max_width }}{
                    max-width: {{ block.settings.logo_image_max_width }}%;
                  }
                </style>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "url",
        "id": "navigation_featured_link",
        "label": "Navigation Featured Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_featured_link_image",
        "label": "Navigation Featured Link Image"
      },
      {
        "type": "url",
        "id": "navigation_promo_link",
        "label": "Navigation Promo Link"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_image",
        "label": "Navigation Promo Link image"
      },
      {
        "type": "image_picker",
        "id": "navigation_promo_link_mobile_image",
        "label": "Navigation Promo Link Mobile image"
      }
    ],
    "blocks": [
      {
        "type": "submenu",
        "name": "Shows Products",
        "settings": [
          {
            "type": "header",
            "content": "Shows Featured Products",
            "info": "Add featured products to Shows Navigation Menu"
          },
          {
            "type": "product",
            "id": "shows_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "nav-category-products",
        "name": "Category Products",
        "settings": [
          {
            "type": "header",
            "content": "Category Featured Products",
            "info": "Add featured products to Categories Navigation Menu"
          },
          {
            "type": "product",
            "id": "categories_featured_product",
            "label": "Featured Product"
          }
        ]
      },
      {
        "type": "brand_logo_image",
        "name": "Header Brand Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "hover_image",
            "label": "Hover Image"
          },
          {
            "type": "range",
            "id": "logo_image_max_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Logo Image Size",
            "default": 100
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}
