<!-- snippets/collection-filters.liquid -->
{% capture json_links %}
{%- include 'collection-filter-list' -%}
{% endcapture %}

{%- assign tags = collection.all_tags | t -%}


{% for tag in tags %}
  
{% endfor %}

<div id="Filter-Navigation">
</div>
{% paginate collection.all_products by 10000 %}
<script type="text/javascript">
  var checker = setInterval( function() {

  if( jQuery == undefined || $ != jQuery) {
    return;
  }
  clearInterval(checker);

  var url = window.location.pathname;
  var collection = undefined;
  var selected_tag = undefined;  
  var filters = {{ json_links }};
  var collectionTags = [{% for tag in collection.tags %}{ 'name': '{{ tag | title }}', 'url': '{{ tag | handleize }}', 'count': 0 }{% unless tag == collection.tags.last %},{% endunless %}{% endfor %}];
  var currentTags = [ {% for tag in current_tags %} { '{{ tag | json }}' :  '{{ tag | handleize }}' }{% unless tag == current_tags.last %},{% endunless %}{% endfor %}];

  var navigation = {};
  for(filter_key in filters) {
    navigation[filter_key] = [];
  }

  collectionTags.forEach(function(tag){
    for( var filter_label in filters) {
      if( filters[filter_label].indexOf(tag.name) != -1) {
        navigation[filter_label].push(tag);
      }
    }
  });
  console.log("1");
  console.log(navigation);

  

  if(url.split("/").length >= 3 ) {
    collection = url.split("/")[2];
  }

  if( url.split("/").length == 4 && url.split("/")[3] != "") {
    selected_tag = url.split("/")[3].split("+");
  }

  for(var tag_item in navigation) {
    if(navigation[tag_item].length != 0) {
        var filterHolder = $('#Filter-Navigation');
        filterHolder.append("<div><h5 class='no-margin t-uppercase'>"+tag_item+"</h5><ul id='filter-"+tag_item.replace(/ /g,'-').toLowerCase()+"'><li class='view_all'></li></ul></div>");
        navigation[tag_item].forEach(function(item){
         
          var products_tags = [];

          {% if collection.all_products.size != 0 %}
            {% assign current_collection_products = collection.all_products %}
          {% else if %}
            {% assign current_collection_products = collections.all.all_products %}
          {% endif %}

          {% for product in current_collection_products %}
            {% if current_tags == nil %}
                products_tags = products_tags.concat({{ product.tags | json }});
            {% else %}
              {% for tag_ in current_tags %}  
                {% if product.tags contains tag_ %}
                  {% if tag_ == current_tags.last %}
                    products_tags = products_tags.concat({{ product.tags | json }});
                  {% else %}
                    {% continue %}
                  {% endif %}
                {% else %}
                  {% break %}
                {% endif; %}
              {% endfor%}
            {% endif %}
          {% endfor %}
          
          console.log("2");
          console.log(products_tags);

          products_tags.forEach(function(product_tag){
            if( product_tag == item.name ) {
              item.count++;
            }
          });

          console.log("3");
          console.log(navigation);
          
          console.log("4");
          console.log("{{collections.all.products.size}}");
          {% paginate collection.all_products by 10000 %}
          console.log("{{collections.all_products.size}}");
          {% endpaginate %}

          var link_class = "Filter";
          if(selected_tag != undefined && selected_tag.indexOf(item.url) != -1) {
            link_class += " Selected";
          }
          jQuery("#Filter-Navigation > div > ul#filter-"+tag_item.replace(/ /g,'-').toLowerCase()).append("<li class='"+link_class+"'><a href='#' onclick='filterCollection(event)' id='"+item.url+"'> "+item.name+" ("+item.count+") </a> </li>");
        });

    }

  }

  var jq_ui_checker = setInterval(function(){
    if(jQuery == undefined && jQuery.ui == undefined) {
      return;
    }
    clearInterval(jq_ui_checker);
    $('#Collection > div.filters-toolbar__item').prepend('<div id="MobileFiltersContainer"><h3>Filter</h3><div id="Mobile-Navigation"></div></div>');
    $('#Mobile-Navigation').append($('#Filter-Navigation').html());
    $('#Filter-Navigation > div').accordion({ collapsible: true, active: false });
    if($('#Filter-Navigation li.Filter.Selected').length > 0 ) {
      $('#Filter-Navigation > div > ul > li.Filter.Selected').parent().parent().accordion("option","active",0);
    }
    $('#Mobile-Navigation > div').accordion({ collapsible: true, active: false });
    $('#MobileFiltersContainer').accordion({ collapsible: true, active: false });
  },100);


  if( jQuery("#Filter-Navigation > div > ul > li.Filter.Selected").length > 0) {
    jQuery("#Filter-Navigation > div > ul > li.Filter.Selected").siblings('.view_all').html("<a class='view_all_link'>&laquo; View All</a>");
    jQuery("#Filter-Navigation > div > ul > li.view_all > a.view_all_link").on("click",function(event){
      event.preventDefault();
      if(window.location.search != "") {
        var pathname = window.location.pathname.replace(window.location.search, "");
        window.history.replaceState(null,null, pathname);
      }
      var currentAppliedFilters = window.location.pathname.split("/")[3].split("+");
      var filterToRemove = [];
      if($(this).parent().siblings('.Filter.Selected').length >= 1) {
        filterToRemove.push($(this).parent().siblings('.Filter.Selected').find('a').attr('id'));
      } 
      filterToRemove.forEach(function(item){
        currentAppliedFilters.splice(currentAppliedFilters.indexOf(item),1);
      });
      var path = window.location.pathname.split("/");
      path[3] = currentAppliedFilters.join('+');
      window.location.pathname = path.join('/');
    });
  }
  }, 100);

  function filterCollection(event) {
    var id = event.target.id;
    event.preventDefault();
    var pathname = window.location.pathname;
    if(window.location.search != "") {
      pathname = pathname.replace(window.location.search, "");
      window.history.replaceState(null,null, pathname);
    }
    var currentUrlPath = pathname.split("/");  
    if( currentUrlPath.length == 3 || currentUrlPath[3] == "" ) {
        pathname = pathname+"/"+id;
        pathname= pathname.replace("//","/");
        window.location.pathname = pathname;
    }else if( currentUrlPath.length == 4 ) {
      var selected_tag = currentUrlPath[3].split("+");
      if(selected_tag.indexOf(id) == -1) {
        pathname = pathname+"+"+id;
        window.location.pathname = pathname;
      } 
      else {
        selected_tag.splice( selected_tag.indexOf(id), 1);
        currentUrlPath[3] = selected_tag.join("+");
        window.location.pathname = currentUrlPath.join("/");
      }
    }
  }

</script>
{% endpaginate %}
