/* Wishlist + ================================================================*/

.swym-button-bar, .swym-inject {
  display: none !important;
}

// Product template
.template-product {
  .inactive {
    pointer-events: none;
    opacity: 0.5;
    &.swym-loaded {
      pointer-events: all;
      opacity: 1;
    }
    .add {
      display: inline;
    }
    .added {
      display: none;
    }
    &.disabled {
      .add {
        display: none;
      }
      .added {
        display: inline;
      }
    }
  }
}

// App proxy page
.swym-hosted-page {
  #MainContent {
    .swym-button {
      color: $colorBrand !important;
    }
  }
}
