<!doctype html>

<!-- ===========================================================================
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/

Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
============================================================================ -->

<!--[if IE 9]><html class="ie9 no-js" lang="{{ shop.locale }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ shop.locale }}"><!--<![endif]-->

<head>
  <!-- META ================================================================ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="xZ-Fv5z4POhhfB4-YhEW9_T_faEED7jYKVa4IVl1mYY" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{% include 'meta-title' %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  {% include 'meta-social-tags' %}
  {% include 'meta-favorites' %}
  {% include 'theme-typography' %}

  <!-- Shopify ============================================================= -->
  {{ content_for_header }}

  <!-- CSS ================================================================= -->
  {{ 'app.scss.css' | asset_url | stylesheet_tag }}

  <!-- JavaScript =========================================================== -->
  {% if shop.customer_accounts_enabled and template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  {{ 'mybuys.js' | asset_url | script_tag }}

  <script>
    var cart; // Make cart functions global
    $(document).ready(function() {
      cart = new Cartfox.Cart({{ cart | json }}, {
        addItem: '[data-add-to-cart]',
        cartItemCount: "[data-cart-item-count]",
        cartTotal: "[data-cart-total]",
        decreaseQuantity: "[data-minus-one]",
        increaseQuantity: "[data-plus-one]",
        itemQuantity: '[data-item-quantity]',
        removeItem: '[data-remove-item]',
        emptyTemplate: '[data-cart-template]',
        itemsContainer: '[data-item-container]'
      });
    });
  </script>

  {% include 'consent-manager' %}

  <!-- Hobbit Bing Conversion Code
// please install on all pages on Hobbit -->

  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o=

  {ti:"5187261"}
  ;o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()

  {var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)}
  ,i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
  </script>
  <!-- END Hobbit Bing Conversion Code-->
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != null %} suffix-{{ template.suffix }}{% endif %}" itemscope itemtype="http://schema.org/WebSite">

  {% section 'theme-announcements' %}
  {% section 'theme-header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'theme-footer' %}
  {% section 'theme-popups' %}

  {% include 'popup-quicklook' %}
  {% include 'popup-error' %}

  <script type="text/javascript">
    // Cart error handling
    $(document).on('cartfox:requestComplete', function(event, cart, error) {
      if (error) {
        $("#ErrorPopup").find("#errorMessage").text(error);
        errorPopup.show();
      } else {
        {% unless template == 'cart' %}
          cartPopup.show();
          $('html, body').animate({ scrollTop: $('.theme-header').offset().top }, {{ settings.transition_speed }});
        {% endunless %}
      }
    });
  </script>

  {% include 'swym-wishlist' %}

  {% include 'mybuys-global' %}

</body>
</html>
