$activeColor: transparent;

.mobile-tab-menu {
  background-image: url('{{ 'background-mobile-body.jpg' | asset_url }}');
  [data-tab-toggle] {
    width: 50%;
    margin: 0;
    display: inline-block;
    float: left;
    border-radius: 6px 6px 0 0;
    border: 0;
    padding: $gutter/3 $gutter/10;
    text-align: center;
    text-transform: none;
    font-weight: $fontBold;
    font-size: $h3Base;
    color: $activeColor;
    background-color: $colorHighlight;
    background: $colorHighlight;
    &.active {
      color: $colorBackground;
      background-color: $activeColor;
      background: $activeColor;
      &:after {
        background: none;
      }
    }
  }
  [data-tab-content] {
    padding: 0;
    background: $activeColor;
    border-radius: 0;
    width: 100%;
    color: $colorBackground;
    a {
      color: $colorBackground;
      display: block;
    }
    li {
      padding: $gutter/10 $gutter/4;
      border-bottom: solid 1px #ccc;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  a {
    padding: $gutter/10 0;
    border: 0;
    position: relative;
    font-size: 1rem;
    color: #fff;
    font-weight: $fontBold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    &[data-accordion-toggle] {
      &:after {
        content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="16,10 12,14 8,10 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="10,8 14,12 10,16 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
    }
  }
  [data-accordion-content] {
    border: 0;
    a {
      border: 0;
    }
  }
}
