<div id="cart">
  
  
  <!-- Begin empty cart -->
  {% if cart.item_count == 0 %}
  <div class="row">
    <div class="col-lg-12 expanded-message">
      <br>
      <br>
      <h2 class="tc">Your cart is empty!</h2>
    </div>
  </div>
  <!-- End empty cart -->
  
  <!-- Begin cart -->
  {% else %}
  <div class="row">
    <div id="fsb_placeholder"></div>
    <div class="col-lg-12">
      <!--h1>Your cart</h1-->
      <form action="/cart" method="post" id="cartform" class="fix-shadow">
        <div class="col-md-8 col-sm-8 cart-list">
          <table>
            <thead>
              <tr>
                <th class="image">&nbsp;</th>
                <th class="item">Product</th>
                <th class="qty">Qty</th>
                <th class="price">Price</th>
                <th class="remove">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr>
                <td class="image">
                  <div class="product_image">
                    <a href="{{ item.url }}">
                      <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.product.title }}" />
                    </a>
                  </div>
                </td>
                <td class="item">
                  <a href="{{ item.url }}">
                    <strong>{{ item.product.title }}</strong>
                    {% if item.product.variants.size > 1 %}
                    <span class="variant_title">{{ item.variant.title }}</span>
                    {% endif %}
                  </a>
                </td>
                <td class="cart-qty">
                  <input type="text" size="4" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" />
                </td>
                <td class="price">{{ item.line_price | money }}</td>
                <td class="remove"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart"><i class="icon_close"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="subtotal"><p class="t-title">Total price :</p>
            <p class="price"><span class="total"><strong>{{ cart.total_price | money }}</strong></span></p>
          </div>
          <div class="cart-comment">
           {% if settings.cart_notes %}
            <h3 class="add-comments">Note Additional comments</h3>
            <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
            {% endif %}

            {% comment %}
              If notes are used, adjust the column width
            {% endcomment %}

            {% comment %}
              name="checkout" is required for the update button to work
            {% endcomment %}

          </div>
          <div class="cart-buttons inner-right inner-left">
            <input type="submit" id="update-cart" class="btn" name="update" value="{{ 'Update Cart'}}" />
            <input type="submit" id="checkout" class="btn" name="checkout" value="{{ 'Check Out'}}" />
            <div id="location">
              <p style="text-align: left; margin: 10px 0;">
                <input style="margin: 0 5px 0 10px; display: inline-block; width: 10%; max-width: 15px;" type="checkbox" id="agree" />
                <label id="agreelabel" style="display:inline-block; font-weight: 400; font-size: 13px; line-height: 1.5; width: 88%;" for="agree">
                  <span style="color: red;">*</span> If I ship my order outside of the USA, I accept that I am responsible for any and all import fees, duties and/or local taxes.
                </label>
              </p>
            </div>
          </div>
          </div>
      </form>
    </div>
    <div class="clearfix"></div>
    
  </div>
  
  {% endif %}
  
  
  
  <!-- End cart -->
  
</div> 

