<body>
<div class="container">
<!-- Marketing Banner Starts -->
<!--   <div style="padding-top: 10px;"><a href="/pages/shipping-delivery"><img src="https://cdn.shopify.com/s/files/1/1456/4276/files/prc_homeheader_holidaysched.jpg?16943462424161270761"></a></div> -->
<!-- Marketing Banner Ends -->
  <div class="row">
    {% include 'homepage-flexslider' %}
  </div>
  <div class="row home-category">
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/home-decor">
          <div class="block-home-category">
            <img src="{{ 'preacher_sectout_blankets.jpg' | asset_url}}">
          </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 first home-category-item-1">
      <div class="row category-item-2">
        <div>
          <a href="/collections/accessories">
          <div class="block-home-category" style="float: right;">
            <img src="{{ 'preacher_sectout_cases.jpg' | asset_url}}">
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
        <div class="home-products">
          {% if settings.enable_product_home %}
          <div class="title-tab-home">
            {% if settings.product_home_title != blank %}
            <div class="module-title"><h2><span>{{ settings.product_home_title }}</span></h2></div>
            {% endif %}
          </div>
          <div class="top-product">
            {% assign sale_off_collection = settings.product_home_collection %}
            {% assign row_limit_setting = settings.limit_product_home %}               
            {% assign current_collection = collections[sale_off_collection] %}
            {% assign owl_id = 'owl_tabnewcc' %}
            {% include 'carousel-product' %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row home-feature">
    {% include 'home-block-core-feature'%}
  </div>
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
        <div class="home-products">
          {% if settings.enable_product_home_2 %}
          <div class="title-tab-home">
            {% if settings.product_home_title_2 != blank %}
            <div class="module-title"><h2><span>{{ settings.product_home_title_2 }}</span></h2></div>
            {% endif %}
          </div>
          <div class="top-product">
            {% assign item_in_page = settings.home_mostview_itempage | plus:0 %}
            {% assign columns_product = settings.home_mostview_columntab | plus:0 %}
            {% assign product_in_tab = settings.limit_product_home_2 | plus:0 %}    
            {% assign collection_produclists = collections[settings.product_home_collection_2].products %}
            {% capture row_in_tab %}{{ item_in_page | divided_by: columns_product }}{% endcapture %}

            {% assign sale_off_collection = settings.product_home_collection_2 %}
            {% assign row_limit_setting = settings.limit_product_home_2 %}               
            {% assign current_collection = collections[sale_off_collection] %}
            {% assign owl_id = 'owl_tabnewcc2' %}
            {% include 'carousel-product2' %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 wrap-main-content">
      <div class="col-home-collection no-padding">
		<div class="home-products">
          {% if settings.enable_product_home_2 %}
          <div class="title-tab-home">
            {% if settings.product_home_title_2 != blank %}
            	<div class="module-title"><h2><span>Social Feed</span></h2></div>
            {% endif %}
          </div>
			<div class="elfsight-sapp-38864a50-c119-11e8-8401-c7f4897b375f"></div>
          {% endif %}
        </div>
    </div>
   </div>
  </div>
<!--   <div class="row">
    {% if settings.display_blog_home %}	
    <div class="col-xs-12 home-blog">
      {% include 'home-blog' %}
    </div>
    {% endif %}
  </div> -->
  <script>
    jQuery('.main-content').removeClass('container');
  </script>
  {% include 'home-block-icon-top' %}
</div>
</body>