
<header class="page-header">
    <h2>{{ page.title }}</h2>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="rte">
  {{ page.content }}
</div>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>