/* Variables =================================================================*/

$colorAdditional: #0075f1;
$colorBlue: #1575ec;
$colorCyan: #34d7ef;

/* Global =================================================================*/

body {
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}

#MainContent {
  padding: 0;
}

.drop-shadow {
  @include prefixer(box-shadow, 0 37px 74px rgba(204, 204, 204, 1), webkit moz ms spec);
}

.image-link {
  display: inline-block;
}

/* Grid System ===============================================================*/

// Rows
.row {
  margin: 0 (-$gutter/2) $gutter/3;
}

/* Header =================================================================*/

.logo {
  margin-bottom: 0;
  line-height: 1;
  @include l() {
    top: auto;
    margin: 0;
    .logo-flare {
      display: none;
    }
  }
}

.theme-header {
  .form-search {
    input {
      font-size: 0.75rem;
      background-color: $colorText;
      color: $colorBackground;
      &::placeholder {
        color: $colorBackground;
      }
      &::-webkit-input-placeholder {
        color: $colorBackground;
      }
      &::-moz-placeholder {
        color: $colorBackground;
      }
      &::-moz-placeholder {
        color: $colorBackground;
      }
    }
    @include s() {
      position: relative;
      display: block;
      width: 100%;
      padding: 0 10px;
      input {
        width: 100%;
      }
      button {
        right: 10px;
        width: 41px;
      }
    }
    @include m() {
      position: relative;
      display: block;
      width: 100%;
      padding: 0 10px;
      input {
        width: 100%;
      }
      button {
        right: 10px;
        width: 41px;
      }
    }
  }
}

/* Footer =================================================================*/

.theme-footer {
  padding: 0;
  p {
    line-height: 1.25;
    a:not(.button) {
      color: darken($colorBorder, 15%);
      text-decoration: underline;
    }
  }
  .footer-link {
    color: #0078F0;
    font-weight: $fontBold;
    font-size: $h6Base;
  }
  .menu-title {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  a {
    .icon svg .fill {
      fill: $colorBrand !important;
    }
  }
  .border-top-bottom {
    border-top: 1px $colorBackground solid;
    border-bottom: 1px $colorBackground solid;
    padding: $gutter/5 0;
    margin: $gutter/5 0;
  }
  .form-group {
    height: auto;
    input {
      width: 68%;
    }
  }
}

.credit {
  .disclaimer p {
    line-height: 1.7;
  }
}

.template-index {
  .featured-column-row {
    ul li a {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 0.6rem;
    }
  }
}

/* Navigation =============================================================*/

.character-menu {
  a:hover {
    background: transparent !important;
    span {
      text-decoration: underline;
    }
  }
  .column {
    &:before {
      border-left: 0 !important;
    }
    .character-name {
      display: block;
      margin-left: $gutter/5;
      font-size: 11.5px;
    }
  }
}

.theme-nav-secondary {
  > ul {
    li {
      margin-right: $gutter/9;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.tertiary-menu {
  border-bottom: 0;
  margin-bottom: 0;
  line-height: 2;
  font-size: 0;
  li {
    font-size: $h4Base;
    & + li {
      margin-left: $gutter/5;
      &:before {
        content: "";
        margin-right: 0;
      }
    }
  }
}

/* Hero slideshow ============================================================*/
.index-section-hero-slideshow {
  .hero-slideshow-inner {
    padding: 0;
  }

  .thumbnails {
    margin: 0;
    padding: $gutter/10 0;
    background-color: $colorText;
    .thumbnail {
      padding: 0 ($gutter/25) 0 0;
      &:last-of-type {
        .content {
          border-right: 0;
        }
      }
      .content {
        margin: $gutter/10 0 0;
        color: $colorBackground;
        border-right: $borderStyle $colorAlternate 2px;
        padding: $gutter/10 $gutter/5;
        h4 {
          color: $colorAlternate;
        }
        h4, p {
          font-size: 0.8125rem;
        }
      }
      &.active, &:hover {
        .content {
          h4 {
            color: $colorAdditional;
          }
          p {
            // font-size: 0.75rem;
          }
        }
      }
      &:last-of-type {
        padding: 0;
      }
    }
  }
}

.slick-slider .slick-dots {
  margin-bottom: 0;
  li {
    background-color: $colorText;
    &.slick-active {
      background-color: $colorBrand;
    }
  }
}

/* Collection ================================================================*/

.template-collection {
  .collection-title {
    font-size: 2.5rem;
    line-height: 1;
    padding-top: $gutter/6.25;
  }
  aside {
    .collection-links {
      .nav-link {
        font-size: $h5Base;
      }
      h4 {
        font-size: 0.85rem;
        margin-bottom: $gutter/4;
      }
      ul {
        li {
          display: block;
          line-height: 1;
          a {
            display: block;
            padding: $gutter/7.5 $gutter/2 $gutter/7.5 $gutter/3.33;
            background-repeat: no-repeat;
            background-position: $gutter/16.667 $gutter/6;
            color: $colorText;
            font-weight: 200;
            &:hover, &.active {
              background-image: url('menu-arrow.svg?v3');
              background-color: transparent;
              color: $colorAlternate;
              cursor: pointer;
            }
          }
        }
        [data-collapse-toggle] {
          padding: $gutter/10 0 $gutter/10 $gutter/3.33;
        }
      }
    }

    @include ml() {
      border-right: $borderWeight $borderStyle $colorBorder;
      padding-right: $gutter/5;
      margin-right: $gutter/5;
      .collection-filters, .collection-links {
        display: block !important;
      }
    }
  }

  @include s() {
    [data-collapse-toggle] {
      .open, .close {
        padding-left: $gutter/3.33;
      }
      .close {
        display: none;
      }
      .open {
        display: inline;
      }
      &.active {
        .close {
          display: inline;
        }
        .open {
          display: none;
        }
      }
    }
    .collection-filters {
      padding: $gutter/5 0 0;
      margin-bottom: $gutter/3.33;
      border-bottom: $borderStyle $borderWeight $colorBorder;
      [data-collapse-content] {
        display: block !important;
      }
    }
  }

  .slideshow-container {
    padding: 0px;
    .slick-slider .slick-dots li {
      background-color: $colorForeground;
      &.slick-active {
        background-color: $colorText;
      }
    }
  }

  .thumbnails {
    margin: 0;
    background: $colorText;
    .thumbnail {
      color: $colorBackground;
      display: block;
      height: 20%;
      width: 100%;
      padding: $gutter/8 $gutter/5;
      border-top: 1px solid $colorBackground;
      position: relative;
      &:first-of-type {
        border-top: 0;
      }
      &.active {
        border-left: 1px solid $colorBackground;
        &:before {
          content: "";
    			position: absolute;
    			width: 15px;
    			height: 15px;
    			background: $colorText;
          border-left: solid 1px $colorBackground;
          border-bottom: solid 1px $colorBackground;
    			top: 50%;
    			left: 0;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
    			// box-shadow: 0px 0px 1px 0px rgb(255, 255, 255);
        }
      }
      h6 {
        color: $colorAlternate;
      }
      p {
        font-family: $headingFontStack;
        font-size: $smallBase*0.9;
        font-weight: $bodyFontWeight;
        line-height: $smallBase;
      }
    }
  }

  .pagination {
    .pagination-amount {
      & + .pagination-amount {
        &:before {
          content: "|";
        }
      }
    }
  }

  .collection-row {
    padding-bottom: $gutter/2;
    a {
      text-decoration:none;
      &:hover {
        text-decoration: none;
      }
    }
    &.pink {
      @include gradient(lighten($colorBrand, 100%), $colorBrand, top);
      h3 {
        color: $colorBrand;
        text-transform: uppercase;
      }
    }
    &.yellow {
      @include gradient(lighten($colorHighlight, 100%), $colorHighlight, top);
      h3 {
        color: $colorText;
        text-transform: uppercase;
      }
    }
    &.none {
      background: transparent;
      h3 {
        color: $colorText;
        text-transform: uppercase;
      }
    }
    &.blue {
      @include gradient(lighten($colorAlternate, 100%), $colorAlternate, top);
      h3 {
        color: $colorAlternate;
        text-transform: uppercase;
      }
    }
    .column {
      padding-left: 0;
      padding-right: 0;
      border-right: solid 2px transparent;
      border-left: solid 2px transparent;
      .wrapper {
        padding-top: $gutter/2;
        background: $colorBackground;
      }
    }
  }

  .product-slideshow {
    &.slick-slider {
      .slick-arrow {
        &.slick-prev {
          left: 0px;
        }
        &.slick-next {
          right: 0px;
        }
      }
    }
    .image-link {
      padding-right: $gutter/6;
    }
    padding: $gutter/2 $gutter/1.5;
    @include gradient($colorBlue, $colorCyan, top);
    .icon svg .stroke {
      stroke: $colorBackground;
    }
  }

  .row.button-banner {
    margin-bottom: $gutter/5;
    .button-banner-title {
      padding: $gutter/10 $gutter/5;
      @include ml() {
        margin-right: $gutter/10;
      }
      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1;
      }
    }
    .button-banner-button {
      padding: $gutter/25 $gutter/5;
      background-color: $colorBrand;
      color: $colorForeground;
      &:hover {
        background-color: $colorText;
        color: $colorForeground;
      }
    }
  }
}

.mobile-tab-menu {
  [data-tab-toggle] {
    width: 50%;
    border: 3px solid $colorText;
    margin: 0;
    display: inline-block;
    float: left;
    color: $colorText;
    border-radius: 6px 6px 0 0;
    border-bottom: 0;
    padding: $gutter/3 $gutter/10;
    text-align: center;
    font-size: 15px;
    font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
    font-weight: $featureFontWeight;
    background-color: $colorHighlight;
    background: $colorHighlight;
    &.active {
      background-color: $colorBrand;
      background: $colorBrand;
      &:after {
        background: none;
      }
    }
  }
  [data-tab-content] {
    padding: 0;
    background: $colorBrand;
    border: 3px solid $colorText;
    border-top: 0px;
    border-radius: 0 0 6px 6px;
    width: 100%;
    color: $colorBackground;
    font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
    font-weight: $featureFontWeight;
    a {
      color: $colorBackground;
      display: block;
    }
    li {
      padding: $gutter/10 $gutter/4;
      border-bottom: solid 1px #fff;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  a {
    padding: $gutter/10 0;
    border: 0;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    font-family: "AvenirNextRoundedPro-Demi", $featureFontStack;
    font-weight: $featureFontWeight;
    &[data-accordion-toggle] {

      &:after {
        content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="16,10 12,14 8,10 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
      }
    }
    &:after {
      display: block;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24"><g class="nc-icon-wrapper" fill="#ffffff"><polyline fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" points="10,8 14,12 10,16 " transform="translate(0, 0)" stroke-linejoin="round"></polyline></g></svg>');
    }
  }
  [data-accordion-content] {
    border: 0;
    a {
      border: 0;
    }
  }
}

/* Product =================================================================*/

[data-add-to-cart] {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  padding: $gutter/10 $gutter/4;
  height: auto;
}

#OutOfStockPopup{
  h5{
    margin-bottom: 0;
    .red,
    .results {
      color: red;
    }
  }
}