<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center" id="page-header">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% if page_title == 'Search Results'%}
<style type="text/css">
div.section-header { margin-bottom: 0px; }

div.section-header h1 { 
  text-align: left;
  font-family: 'BebasNeue-Bold', Georgia, serif !important; 
  color: {{ settings.color_header_text }}; 
  font-size: 40px; 
  margin-bottom: 0px; 
}

div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel {}

.page-container>.main-content>.page-width>.grid>.grid__item {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    left: 0px;
}

div.snize.snize-search-results {
  background: #fff !important;
  margin-right: 0px;
}

#snize-search-results-grid-mode span.snize-description,
div.snize div.snize-main-panel {
    display: inline-block;
    position: absolute !important;
    border: none;
}
#snize-search-results-grid-mode li.snize-product {
    width: 33% !important;
}

#snize-search-results-grid-mode .snize-price-list{
    text-align: center!important;
    font-size: 20px!important;
    font-weight: 600;
    font-family: 'Magorian', Georgia, serif;
    color: {{ settings.color_secondary_button }} !important; 
}

#snize-search-results-grid-mode .snize-price-list .snize-price {
  display: inline-block;
}

#snize-search-results-grid-mode .snize-price-list .snize-discounted-price {
  color: #000 !important; 
  font-size: 16px; 
  display: inline-block; 
  width: auto; 
  margin-left: -108px;
  padding-bottom: 3px;
}

div.snize div.snize-main-panel-controls {
    display: none !important;
}

div.snize div.snize-main-panel-view-mode {
    display: none;
}

div.snize div.snize-main-panel-dropdown {
    background-image: url({{ 'ico-select.svg' | asset_url }});
    background-repeat: no-repeat;
    border: none;
    background-position: right center; 
    color: #8c8d8f; 
}

div.snize div.snize-main-panel-dropdown a {
    margin: 0px;
    display: inline-block;
    height: 35px;
    width: 150px;
    max-width: 180px;
    background: transparent;
    color: #8c8d8f;
    border: none;
    font-size: 24px;
    font-family: 'BebasNeue-Bold', Arial, serif; 
}


#snize-search-results-grid-mode div.snize-product-label{
  font-family: 'StreetB-Regular', Arial, sans-serif;
  padding: 5px 10px !important;
  font-size: 12px !important;
}

#snize-search-results-grid-mode div.snize-product-label .snize-right-arrow{
  display: none;
}

div.snize div.snize-main-panel-dropdown a .caret{
  display: none !important;
}

div.snize div.snize-main-panel-dropdown>a span {
    line-height: 38px;
    margin-left: 10px;
    font-family: 'BebasNeue-Bold', Arial, serif; 
    font-size: 24px;
    color: #8c8d8f; 
}

div.snize div.snize-main-panel-dropdown a .caret {
    position: absolute;
    right: 10px;
    top: 17px;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content {
    margin-right: 0px;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content a {
    line-height: 30px;
    padding: 0px 0px 0 12px;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content a.current {
    background-position-x: 140px;
}

div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content a:first-child {
    margin-top: 5px;
    line-height: 36px;
    border: none;
}

#snize-search-results-grid-mode span.snize-overhidden {
    background: none;
}

#snize-search-results-grid-mode span.snize-thumbnail {
    border: none !important; 
    max-width: 100%; 

}

div.snize-ac-results li.snize-category a.snize-view-link,
div.snize li.snize-product span.snize-title,
div.snize li.snize-product .snize-price-list {
    color: #3d4246!important;
    text-align: left;
    font-size: 16px!important;
}

div.snize li.snize-product .snize-price-list {
    font-weight: normal;
}

div.snize ul.snize-product-filters-list li.snize-disabled {
    display: none!important;
}

div.snize div.snize-search-results-header,
#snize-search-results-grid-mode li.snize-product span.snize-title,
div.snize div.snize-product-filters-title {
    color: {{ settings.color_body_text }}!important;
    font-family: 'Magorian', Georgia, serif;
    text-align: left;
    line-height: 14px!important;
    margin-bottom: 0;
    padding: 10px 0 10px;
    font-weight: 600;
}

#snize-search-results-grid-mode li.snize-product span.snize-title {
  font-weight:  400;
  line-height: 22px !important;
  max-width: 220px;
  margin: 0 auto;
  padding-bottom: 10px;
  height: auto;
  max-height: 8.2em !important;
  -webkit-line-clamp: 8 !important;
}

#snize-search-results-grid-mode .snize-thumbnail-wrapper:after {
  display: block;
    width: 100%;
    max-width: 250px;
    content: '';
    height: 20px;
    background: url(//cdn.shopify.com/s/files/1/2597/5112/t/87/assets/grid_scroll.png?7667741436271118647) no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

#snize-search-results-grid-mode li.snize-product .snize-view-link, #snize-search-results-grid-mode li.snize-product .snize-item {
    border-bottom: none;
}

div.snize div.snize-search-results-header {
    margin-left: 0px; 
    font-size: 14px; 
}

div.snize div.snize-search-field {
    display: none;
}

div.snize ul.snize-product-filters-list {
    max-height: 100%!important;
}

div.snize ul.snize-product-filters-list li {
    margin: 0px !important;
}

div.snize ul.snize-product-filters-list li .snize-filter-checkbox span {
    top: 11px;
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0); 
    display: none;
}

div.snize ul.snize-product-filters-list li .snize-filter-checkbox span:after {
  display: 'none'
}

div.snize ul.snize-product-filters-list li:hover .snize-filter-checkbox span, 
div.snize ul.snize-product-filters-list li .snize-filter-checkbox input[type=checkbox]:checked + span {
    top: 11px;
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0); 
    background: url({{ 'splatter_gold.png' | asset_url }}) no-repeat; 
    background-size: contain;
    display: inline-block;
}

div.snize ul.snize-product-filters-list li .snize-filter-checkbox input[type=checkbox]:checked + span:after {
  opacity: 0;
}

div.snize ul.snize-product-filters-list li:hover .snize-filter-checkbox input {
  display: none;
}

div.snize ul.snize-product-filters-list li label:hover>span {
  color: {{ settings.color_header_text }};
  transition: all .2s;
}

div.snize ul.snize-product-filters-list li>label>span {
    color: {{ settings.color_body_secondary_text }};
    margin: 4px 0;
    font-size: 14px;
    line-height: 2;
}

div.snize > div {
  display: inline-block !important;
} 

div.snize ul.snize-product-filters-list li:hover span, 
div.snize ul.snize-product-filters-list li.filter--selected>label>span {
    color: {{ settings.color_header_text }};
    transition: all .2s;
}

div.snize div.snize-filters-sidebar {
    border: none!important;
    margin-right: 0px;
    width: 25% !important;
    padding-right: 10px;
    top: -65px; 
}
div.snize div.snize-search-results-main-content {
  width: 75%;
  display: inline-block;
}

div.snize div.snize-filters-sidebar a.filters-clear-link {
    text-decoration: none;
    border-bottom: none;
}

div.snize div.snize-filters-sidebar a.filters-clear-link:hover {
    color: {{ settings.color_header_text }};
    transition: all .2s;
}

div.snize div.snize-filters-sidebar a.filters-clear-link:hover:before {
    content: ' ';
    display: inline-block;
    background: url(//cdn.shopify.com/s/files/1/2597/5112/t/62/assets/splatter_gold.png?1530763…) no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    background-position-y: 3px;
    float: left;
    margin-top: 5px;
    margin-left: -12px;
}

div.snize .snize-product-filters-block {
    border-bottom: none;
}

div.snize-product-filters-block>div.snize-product-filters-title>span {
    font-size: 24px;
    margin-top: 5px;
    padding: .5em 0;
    text-transform: capitalize;
    font-family: 'BebasNeue-Regular', Arial, sans-serif;
    color: {{ settings.color_header_text }};
}

div.snize-product-filters-block>div.snize-product-filters-title span.snize-product-filters-price-symbol {
  font-size: 26px;
  color: {{ settings.color_header_text }};
}

div.snize-product-filters-block>div.snize-product-filters-title>span:after {
    content: '';
    float: right;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 2px solid {{ settings.color_secondary_button }};
    border-bottom: 2px solid {{ settings.color_secondary_button }};
    margin-top: 6px;
    transform: rotate(45deg);
}

div.snize-product-filters-block>div.snize-product-filters-title.open>span:after {
    margin-top: 14px;
    transform: rotate(-135deg);
}

div.snize div.snize-product-filters-title{
  padding: 7px 25px 7px 0px !important;
}
div.snize div.snize-product-filters-title i.snize-product-filters-open,
div.snize div.snize-product-filters-title i.snize-product-filters-close {
    display: none !important;
}

div.snize-ac-results div.snize-price-list {
    color: #8F2B2B;
    font-size: 14px;
    font-weight: normal;
}

div.snize-ac-results span.snize-title {
    color: #000;
    font-size: 16px;
    line-height: 1.2;
}

div.snize-ac-results li {
    color: #3d4246!important;
    text-align: left!important;
}

div.snize-ac-results li.snize-ac-over-nodrop {
    background: none;
}

div.snize-ac-results li.snize-category a.snize-view-link {
    line-height: 1.2;
}

div.snize div.snize-pagination {
    text-align: center;
    width: 100% !important; 
    margin-right: -13.5%;
}

div.snize div.snize-pagination ul li a {
    border: none;
    font-size: 0.9375em;
    display: inline-block;
    padding: 0 5px;
    font-family: 'Lato', Arial, sans-serif;
    color: {{ settings.color_body_secondary_text }} !important; 
}

div.snize.snize-search-results div.snize-pagination ul li span, 
div.snize.snize-search-results div.snize-pagination ul li a {
    color: {{ settings.color_body_secondary_text }} !important; 
}

div.snize div.snize-pagination ul li:first-child a {
    border-left: none;
}

div.snize div.snize-pagination ul li span {
    border: none;
}

div.snize div.snize-pagination ul li a.active,
div.snize div.snize-pagination ul li a:hover {
    opacity: 1;
    background: unset;
}

div.snize div.snize-pagination ul li:first-child span {
  border-top: none; 
  border-left: none;
}

div.snize div.snize-pagination ul li .snize-pagination-prev {
    color: transparent !important;
    cursor: pointer;
    border: solid {{ settings.color_body_secondary_text }};
    display: inline-block;
    padding: 3px;
    border-width: 0 1px 1px 0;
    height: 8px;
    width: 8px;
    border-radius: 0px;
    transform: rotate(135deg);
    margin-top: 7px;
    opacity: 0.5;
}

div.snize div.snize-pagination ul li .snize-pagination-next {
    color: transparent !important;
    cursor: pointer;
    border: solid {{ settings.color_body_secondary_text }};
    display: inline-block;
    padding: 3px;
    border-width: 0 1px 1px 0;
    height: 8px;
    width: 8px;
    border-radius: 0px;
    transform: rotate(-45deg);
    margin-top: 7px;
    opacity: 0.5;
}

div.snize.snize-search-results div.snize-pagination ul li span.snize-pagination-prev,
div.snize.snize-search-results div.snize-pagination ul li span.snize-pagination-next, 
div.snize.snize-search-results div.snize-pagination ul li a.snize-pagination-prev,
div.snize.snize-search-results div.snize-pagination ul li a.snize-pagination-next  {
  color: transparent !important; 
}

div.snize div.snize-pagination ul li span.snize-pagination-prev.disabled,
div.snize div.snize-pagination ul li span.snize-pagination-next.disabled {
    cursor: default;
    opacity: 0.5;
}

div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a{
  background-image: url({{ 'ico-select.svg' | asset_url }});
  background-repeat: no-repeat;
  background-position: right 10px center;
  width: 100%;
}

@media screen and (max-width: 767px) {
    .page-container>.main-content>.page-width>.grid>.grid__item {
        width: 100%;
    }
    div.snize div.snize-filters-sidebar {
        width: 100% !important;
        border-right: none !important;
    }
    div.snize div#snize_filters_block {
        width: 25%;
    }
    div.snize div#snize_filters_block>div.snize-product-filters-title {
        border: none;
        border-radius: 2px;
        padding: .5em .5em .5em .7em;
        background-color: transparent;
    }

    div.snize div#snize_filters_block>div.snize-product-filters-title:after {
      content: '';
      background-image: url({{ 'ico-select.svg' | asset_url }});
      background-repeat: no-repeat;
      background-position: right 10px center;
      position: absolute;
      display: inline-block;
      background-color: transparent;
      margin-left: 15px;
      margin-top: 1px;
    }
    div.snize div#snize_filters_block>div.snize-product-filters-title.open:after {
      transform: rotate(180deg);
      margin-left: 5px;
    }
    div#snize_filters_block>div.snize-product-filters-title>span {
        font-size: 20px;
        text-transform: capitalize;
    }
    div#snize_filters_block>div.snize-product-filters-title>span:after {
        display: none;
    }
    div.snize div.snize-product-filters-title:after {
      display: none; 
    }
    div.snize div.snize-search-results-main-content {
      width: 100%;
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode {

    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode ul {
      width: 100% !important; 
      margin: auto; 
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode ul li.snize-product {
      width: calc(50% - 20px) !important;  
      padding: 0px;
      margin: auto;
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode span.snize-thumbnail{
      height: auto; 
      width: 100%; 
      max-width: 100%; 
      padding: 0px;
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode span.snize-overhidden {
      padding: 0px; 
      margin: auto; 
      max-height: 100% !important;
      height: auto !important;
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode li.snize-product span.snize-title {
      max-height: 100% !important;
      height: auto !important; 
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode .snize-price-list, 
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode .snize-price-list > .snize-discounted-price { 
      font-size: 18px !important; 
    }
    div.snize div.snize-search-results-main-content div#snize-search-results-grid-mode .snize-price-list {
      padding: 10px 0px;
    }
    div.snize div.snize-pagination {
        text-align: center;
    }
    div.snize-search-results.snize-mobile-design div.snize-main-panel-controls {
        visiblity: visible;
        display: none;
    }
    html div.snize div.snize-main-panel{
        position: absolute !important;
        top: 105px; 
    }
    div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown {
        float: right !important; 
        margin: 10px 6px 6px 6px; 
        right: 15px; 
        top: 39px; 
        width: 100%; 
        background: none; 
    }
    div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {

    }
}
#snize-search-results-grid-mode li.snize-product span.snize-title {
  -webkit-line-clamp: 8.8 !important;
  text-align: center; 
}

#snize-search-results-grid-mode span.snize-thumbnail img {
  max-height: 278px !important;
}

@media only screen and (max-width: 990px) {
  #snize-search-results-grid-mode span.snize-thumbnail {
    padding-bottom: 0% !important;
    padding-right: 0% !important;
    height: 196px;
  }
  #snize-search-results-grid-mode ul {
    width: 100% !important;
    margin-left: auto;
  }
  #snize-search-results-grid-mode li.snize-product {
    margin-bottom: 30px;
  }
  #snize-search-results-grid-mode span.snize-overhidden {
    padding-right: 6%;
  }

}

@media only screen and (max-width: 937px) {
  #snize-search-results-grid-mode span.snize-overhidden {
    padding-right: 6%;
  }
  #snize-search-results-grid-mode ul {
    margin-top: -66px;
  }
  div.snize div.snize-search-results-main-content {
    width: 70%;
  }
  div.snize div.snize-filters-sidebar {
    width: 30% !important;
  }
}

@media only screen and (max-width: 867px) {
  #snize-search-results-grid-mode {
    width: 500px !important;
  }
}


@media only screen and (max-width: 827px) {
  div.snize-product-filters-block>div.snize-product-filters-title>span {
    font-size: 20px;
  }
  div.snize div.snize-filters-sidebar {
    width: 25% !important;
  }
  div.snize div.snize-search-results-main-content {
    width: 75%;
  }
  div.snize div.snize-product-filters-title {
    padding: 7px 4px 7px 0px !important;
  }
  div.snize div.snize-main-panel-dropdown>a span {
    font-size: 20px;
  }


}


@media only screen and (width: 768px) {
  #snize-search-results-grid-mode li.snize-product {
    width: 25% !important;
  }
  #snize-search-results-grid-mode ul {
    width: 103% !important;
  }
  div.snize div.snize-product-filters-title:after {
    display: none;
  }
  div.snize div.snize-filters-sidebar {
    padding-left: 0px;
  }
  div.snize div.snize-main-panel-dropdown>a span {
    margin-right: 15px;
  }
  #snize-search-results-grid-mode ul {
    margin-top: -19px;
    padding-left: 10px;
  }
  #snize-search-results-grid-mode li.snize-product {
    padding-right: 0px;
  }
  div.snize div.snize-header {
    width: calc( 77vw - 75px) !important;
  }

}

@media only screen and (max-width: 767px) {
  div.snize div.snize-filters-sidebar {
    width: 100% !important;
  }
  div.snize div.snize-main-panel-dropdown>a span {
    margin-right: 15px;
  }
  #snize-search-results-grid-mode span.snize-thumbnail img {
    max-height: 167px !important;
  }
  div.snize div.snize-search-results-main-content {
    width: 100%;
  }
  #snize-search-results-grid-mode {
    width: 100% !important;
  }
  div.snize div.snize-main-panel-dropdown>a span, div.snize div.snize-main-panel-dropdown a, div.snize-product-filters-block>div.snize-product-filters-title>span {
    font-family: 'Magorian';
    font-size: 16px;
    color: #000;
  }
  div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content a {
    width: 100%;
    font-size: 16px;
    color: #000;
  }
  div#snize_filters_block>div.snize-product-filters-title>span {
    font-size: 16px;
    color: #000;
  }
  div.snize-product-filters-block>div.snize-product-filters-title span.snize-product-filters-price-symbol {
    display: none;
  }

}

@media only screen and (max-width: 414px) {
  div.snize div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content {
    min-width: 16px;
  }
  div.snize div#snize_filters_block {
    width: 42%;
  }
  div.snize div#snize_filters_block>div.snize-product-filters-title, div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {
    border: 1px solid #ddd;
  }
  div#snize_filters_block>div.snize-product-filters-title>span {
    padding-left: 15px;
  }
  .snize-product-filters-title  {
      height: 21px;
      width: 140px;
    }
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {
    right: -30px;
    top: -2px;
    padding: 0 15px;
  }
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content {
    left: 30px;
    right: -63px;
    margin-top: -3px;
  }
}

@media only screen and (max-width: 375px) {
  div.snize div.snize-main-panel-dropdown>a span {
    margin-left: 0px;
    margin-right: 0px;
  }
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {
    right: -72px;
    top: -2px;
    padding: 0 15px;
    width: 85px;
  }
  div.snize div#snize_filters_block>div.snize-product-filters-title, div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {
    width: 110px;
  }
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown > a {
    right: 11px;
  }
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown {
  right: -77px;
}
  div.snize-search-results.snize-mobile-design div.snize-main-panel-dropdown ul.snize-main-panel-dropdown-content {
    left: -9px;
    right: -8px;
    margin-top: -3px;
 }
 .snize-filters-sidebar .snize-product-filters {
  padding-left: 0px;
 }
 div.snize div#snize_filters_block>div.snize-product-filters-title:after {
  margin-left: 45px
 }
 div.snize div.snize-main-panel {
  right: 60px;
 }
div.snize div#snize_filters_block>div.snize-product-filters-title.open:after {
  margin-left: 37px;
}
 
}

   




</style>
{% endif %}

