<div> 
    <div class="popup popup_1 visually-hidden" id="popup_1">
        <div class="popup-text" id="popup-text"> 
            <p><i>I hereby certify that:</i></p>
            <p>I am a bona fide resident of the State of Florida;</p>
            <p><i>I agree with and share JohnnyCare’s and Our Lady of Perpetual Health’s “Statement of Beliefs,” listed below:</i></p>
            <ul>
                <li>I believe in caring for one another <i>(Galatians 6:2)</i>.</li>
                <li>I believe in not getting sick.</li>
                <li>I believe in not having a preexisting condition.</li>
                <li>I believe that I shouldn’t be paying for health care for anyone who might be sitting on their couch eating bonbons all day, every day.</li>
                <li>I believe it’s my right to direct my own health care, free from government restraints, dictates and oversight.</li>
                <li>I believe in JohnnyCare’s right not to pay for my financial or medical needs.</li>
                <li>I believe all my health care needs can be managed with a mini first-aid kit;</li>
            </ul>
            <p><i>I agree to the terms and conditions set forth in JohnnyCare’s <u><a href="{{'member_guide.pdf' | file_url }}" target="_blank">Sharing Guidelines</a></u>;</i></p>
            <p><i>I have read and understood Florida’s legal notice about health care sharing ministries:</i></p>
            <p>Notice: The organization facilitating the sharing of medical expenses is not an insurance company, and neither its guidelines nor its plan of operation is an insurance policy. Membership is not offered through an insurance company, and the organization is not subject to the regulatory requirements or consumer protections of the Florida Insurance Code. Whether anyone chooses to assist you with your medical bills will be totally voluntary because no other participant is compelled by law to contribute toward your medical bills. As such, participation in the organization or a subscription to any of its documents should never be considered to be insurance. Regardless of whether you receive any payments for medical expenses or whether this organization continues to operate, you are always personally responsible for the payment of your own medical bills.</p>
            <p><i>I understand that my health care sharing ministry membership dues are not deductible as a charitable contribution.</i></p> 
        </div>

        {%- assign product = all_products['johnnycare-membership'] %} 
        {% unless product == empty %}
        <script type="application/json" id="ProductJson-{{ section.id }}">
            {{ product | json }}
        </script>
        {% assign metafield_namespaces = 'description,productinfo,shipping,shipsto,sku,preorder' | split: ',' %}
        <script type="application/json" data-metafields="product-metafields-json">
            {
            {%- for namespace in metafield_namespaces -%}
                {{ namespace | json }}: {
                {%- for metafield in product.metafields[namespace] -%}
                    {{ metafield | first | json }}: {{ metafield | last | json }}{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor -%}
                },
            {%- endfor -%}
            "pre_order": {{ collection_pre_order | json }}
            }
        </script>
        {% endunless %} 
        <form id="CompliancePopupAddToCart" name="CompliancePopupAddToCart" action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            <input type="number" id="ProductSelect" name="id" value="{{ product.first_available_variant.id }}" class="product-form__input visually-hidden">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input visually-hidden"> 
            <input type="hidden" name="tags" value="{{ product.tags | join : ","  }}">
            <input type="hidden" name="handle" value="{{ product.handle  }}">
        </form>

        <div class="row">
            <div class="col-md-6">
                <input form="CompliancePopupAddToCart" type="checkbox" id="popup_1_agree" name="popup_1" value="popup_1_agree" required />
                <span class="checkbox-label">PRAISE BE, I AGREE</span>
                {% comment %}<div class="required">Required</div>
                <div class="required">Join JohnnyCare</div>
                <div class="required">You must check 'agree' to proceed.</div>{% endcomment %}
            </div>
            <div class="col-md-6">
                <div class="navigation">
                    <button form="CompliancePopupAddToCart" type="submit" name="add" class="navigator next" data-cart-count="{{ cart.item_count }}">
                        <span id="AddToCartText-{{ section.id }}">
                            Join JohnnyCare
                        </span>
                    </button> 
                </div>
            </div>
        </div> 
        <div class="row visually-hidden warning-box">
            <p style="color: red">You must check 'agree' to proceed.</p>
        </div>
    </div>
    <div class="addtocart-overlay"></div>
</div>