{%- assign recommendation_container = settings.evergage_cart_page_position | trim %}
{% if recommendation_container == '' %}
{%- assign recommendation_container = 'body #MainContent' %}
{% endif %}
<script>
	$(function() {
	    $('{{ recommendation_container }}').append("<div id=\"Evergage_CartRecommendation\" class=\"shopify-section\"></div>");
	});
</script>
