<!-- /snippets/popup-ezprints.liquid -->

{% assign deployment_key = "e65d2491-16e2-4fc9-86cd-1505057c340e" %}

{% comment %}
  Style for Customizer
{% endcomment %}
  {{ 'ezp-customizer.scss.css' | asset_url | stylesheet_tag }}

{% comment %}
  ezp picker [ media || text only ]

  When its value is y, the media picker won't be displayed
{% endcomment %}
{% assign ezptextonlyMetaValue = 'none' %}
{% if product.metafields.productinfo.ezptextonly %}
  {% assign ezptextonlyMetaValue = product.metafields.productinfo.ezptextonly | downcase %} 
{% endif %}

{% comment %}
  Displays the product customiser app and customizer app agreement.
{% endcomment %}

<div id="PopupEzPrints" class="popup-ezp overlay">
  <div class="popup-inner">
    <div class="popup-content left">
      <div class="container l">
        <div id="ezPrintsContainer"></div>
      </div>
      <a href="#close" class="popup-close" data-close aria-label="{{ 'general.close' | t }}">{% include 'icon-close-popup' %}</a>
    </div>
  </div>
</div>

<div id="PopupEzPrintsAgreement" class="popup-ezp overlay">
  <div class="popup-inner">
    <div class="popup-content left">
      <div class="container s">
        <div class="row no-margin">
          <div class="column l12">
            <p class="center">
              {{ 'products.product.ezp.title' | t }}
            </p>
            <p class="center">
              {{ 'products.product.ezp.terms' | t }}
            </p>
          </div>
        </div>
        <div class="row no-margin">
          <div class="column l6">
            <p class="right">
              <button id="CustomizeDecline">DECLINE</button>
            </p>
          </div>
          <div class="column l6">
            <p>
              <button id="CustomizeAccept">ACCEPT</button>
            </p>
          </div>
        </div>
      </div>

      <a href="#close" class="popup-close" data-close aria-label="{{ 'general.close' | t }}">{% include 'icon-close-popup' %}</a>
    </div>
  </div>
</div>
{% comment %}
  EZPrints lib url
{% endcomment %}
  <script type="text/javascript" src="//apps.ezprints.com/home/{{ deployment_key }}.ezp"></script>
{% comment %}
  For Popup ( Ezprints )
{% endcomment %}
  <script type="text/javascript">
    function popupShow(element) {
      $('.page-container').addClass('nonetransform');
      $(element).addClass('visible');
      // $('.popup-ezp').click(function() {
      //   popupClose($(this).closest('.popup-ezp'));
      // });
    }
    function popupClose(element) {
      $(element).removeClass('visible');
      $('.page-container').removeClass('nonetransform');
    }
    /*Popup Close*/
      $(document).on('click', '.popup-close', function() {
        popupClose($(this).closest('.popup-ezp'));
      }); 
  </script>
{% comment %}
  To using Customizer
{% endcomment %}
  <script>
    var customizer_properties = {};

    $(document).ready(function() {

      let ezPrintsPopup = $('#PopupEzPrints');
      let ezPrintsAgreementPopup = $('#PopupEzPrintsAgreement');

      $(document).on('click', '#CustomizeAccept', function(event) {
        event.preventDefault();
        Cookies.set('customize_agreement', 'true');
        popupClose(ezPrintsAgreementPopup);
        popupShow(ezPrintsPopup);
      });
      $(document).on('click', '#CustomizeDecline', function(event) {
        event.preventDefault();
        popupClose(ezPrintsAgreementPopup);
      });

      $(document).on('click', '#CustomizeProduct', function(event) {
        event.preventDefault();
        var variant_selected = true;
        {% if multiple_variants %}
          $('.single-option-selector').each(function() {
            if($(this).val() === "") {
              variant_selected = false;
              return alert('Please select a '+$(this).data('name')+'.');
            }
          })
          if(!variant_selected) return;
        {% endif %}
        if(typeof Cookies.get('customize_agreement') == 'undefined') {
          popupShow(ezPrintsAgreementPopup);
        } else {
          popupShow(ezPrintsPopup);
        }
      });

      var templateId = '{{ product.selected_or_first_available_variant.sku }}';
      var ezpSku = '{{ product.selected_or_first_available_variant.metafields.variantinfo.ezp_sku }}'
      var productIdToEzpMap = {
        {%- for variant in product.variants -%}
          {%- if variant.metafields.variantinfo.ezp_sku != blank -%}
            '{{ variant.id }}': {
              sku: '{{ variant.metafields.variantinfo.ezp_sku }}',
              template: '{{ variant.sku }}'
            },
          {%- endif -%}
        {%- endfor -%}
      }

      // fires when the application is ready for use
      var readyHandler = function() {
        
        $('#CustomizeProduct').fadeIn();
        $('.single-option-selector').each(function() {
          $(this).show();
        })
      };
      var loadHandler = function() {
        
      };
      var saveHandler = function() {
        
      };
      var templateHandler = function() {
        
      };
      var addToCartHandler = function(projectId, ezpSku, thumbnail) {
        var variantId = $('select[name="id"]').val();
        customizer_properties = {
          _ezp_projectId: projectId,
          _ezp_sku: ezpSku,
          _ezp_thumbnail: thumbnail
        };

        popupClose(ezPrintsPopup);
        $('form[action="/cart/add"]').trigger('submit'); 
        if($(window).width() < 678){
          if($('body').css('overflow') == "hidden") {
            $('body').css('overflow',''); 
          } 
          if(typeof(document.exitFullscreen) == 'function' && (document.fullScreen || document.mozFullScreen || document.webkitIsFullScreen || document.msFullscreenElement)) {
            document.exitFullscreen(); 
          } 
        } 
      };
      var errorHandler = function(error) {
        
      };
      var ezpApp = ezp.apps.createTemplateApp({
        preferHtml5: true,
        transparent: true,
        elementId: 'ezPrintsContainer', // The id of the element the iframe will be loaded in
        projectId: '',
        width: 975, // width of the app iframe
        height: 600, //Height of the app iframe
        sku: ezpSku, // SKU of the EZPrints product - i.e the product that will be printed on such as a mug.
        addToCartCallback: addToCartHandler, // fired when the product is added to the EZprints cart
        errorCallback: errorHandler, // Fired when the app throws an error
        readyCallback: readyHandler, // Fired when the app is ready
        loadCallback: loadHandler, // Callback for after the app has loaded
        saveCallback: saveHandler, // Fired when the customisation is saved
        templateLoadCallback: templateHandler, // Fired when a template is loaded
        templateId: templateId, // Defines a template for the app to use
        {% unless ezptextonlyMetaValue == 'y' %}
          singleMediaUploadEnabled: true, // Allows users to upload files from their device
          mediaPickerSources: ['ezpservices','facebook','flickr','picasa','smugmug'], // Allows users to upload images from these sources.
        {% endunless %}
      });

      $(document).on('variantChange', function(event) {
        // turn it into a string
        if (typeof event.variant != 'undefined') {
          if (typeof event.variant.id != 'undefined') {
            var variant = event.variant.id+''
            ezpApp.setSku(productIdToEzpMap[variant].sku, productIdToEzpMap[variant].template);
          }
        }
      }); 

      if (document.getElementsByClassName("ezp-customizable-item-form").length > 0) {
        var __waitforezp = setInterval(function(){ 
          if(document.getElementById("CustomizeProduct").style.display == "none") {
            return;
          } 
          if(document.getElementsByClassName("ezp-customizable-item").length > 0) {
            document.getElementsByClassName("ezp-customizable-item")[0].classList.remove("ezp-customizable-item"); 
          }
          document.getElementsByClassName("ezp-customizable-item-form")[0].classList.remove("ezp-customizable-item-form"); 
          clearInterval(__waitforezp); 
        }, 500); 
      } 
    });
  </script>

{% comment %}
  Diplayed Button
{% endcomment %}

  <button class="button medium t-uppercase btn product-form__cart-submit" {% unless current_variant.available %}disabled="disabled"{% endunless %} id="CustomizeProduct" style="display: none;">
    {% unless current_variant.available %} 
      {% if product.variants.size < 2 %}
        {{ 'products.product.sold_out' | t }} 
      {% else %}
        Make a selection
      {% endif %}
    {% else %}
      {{ 'products.product.ezp.customize' | t }}
    {% endunless %}  
  </button>

{% comment %}
  Script For Button Selection
{% endcomment %}
  
  <script type="text/javascript">
    let ezpButtonVariantList = {        
      {% for variant in product.variants %}
        '{{ variant.title | escape }}': {{ variant.available }},
      {% endfor %}
    };

    var customizableButton = $("#CustomizeProduct");
    var customizableButtonText = "{{ 'products.product.ezp.customize' | t }}";
    var soldOutButtonText = "{{ 'products.product.sold_out' | t }}";

    function variantEnabledEzp(optionValue) {
      if (typeof ezpButtonVariantList[optionValue] != 'undefined') {
        if (ezpButtonVariantList[optionValue]) {
          return true;
        }
      }
      return false;
    }

    $(document).ready(function() {

      var optionValueEzp = '';

      if (customizableButton.closest('.product-form').length > 0) {
        if (customizableButton.closest('.product-form').find('.single-option-selector').length > 0) {
          customizableButton.closest('.product-form').find('.single-option-selector').change(function() {
            optionValueEzp = $(this).val();
            if (optionValueEzp != '') {
              if (variantEnabledEzp(optionValueEzp)) {
                $(customizableButton).prop('disabled', false);
                $(customizableButton).text(customizableButtonText);
              } else {
                $(customizableButton).prop('disabled', true);
                $(customizableButton).text(soldOutButtonText);
              }
            } else {
              $(customizableButton).prop('disabled', true);
              $(customizableButton).text('Make a selection');
            }
          });
        }
      }
    });
  </script>
