<!--snippets/product-accordion -->
<div id="product-accordion">
		<h3 class="accordion-first">Overview</h3>
    <div class="accordion-content">
      {{ product.description }}
    </div>

		{% if product.metafields.productinfo.size_chart != blank %}
		<h3 class="accordion-title">Size Chart</h3>
    <div class="accordion-content">
      <div class="rte" data-include-content="{{ product.metafields.productinfo.size_chart | file_url }}">

      </div>
    </div>
    {% endif %}

    <h3 class="accordion-title">Reviews</h3>
    <div class="accordion-content">
      {% include 'stamped-pdp-full' %}
    </div>
</div>

<script>
  $(document).ready(function(){
      $('#product-accordion').accordion({
          classes: {
            "ui-accordion-header": "accordion-first",
            "ui-accordion-header-collapsed": "accordion-title",
            "ui-accordion-content": "accordion-content"
          },
          collapsible: true
      });
  });
</script>
