<!--snippets/product-tags.liquid-->
{% for tag in product.tags %}
  {% case tag %}
    {% when 'SOLDOUT' %}
      <span class="product-tag-label product-tag__soldout-label">Sold Out</span>
      {% break %}
    {% when '1EXCLUSIVE' %}
      <span class="product-tag-label">Exclusive</span>
      {% break %}
    {% when '2BESTSELLER' %}
      <span class="product-tag-label">Best Seller</span>
      {% break %}
    {% when '3NEW' %}
      <span class="product-tag-label">New</span>
      {% break %}
    {% when 'ONSALE' %}
      <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
      {% break %}
    {% when 'new-arrival' %}
    <span class="product-tag-label">New Arrival</span>
    {% break %}
  {% endcase %}
{% endfor %}
