<!-- snippets/social-list.liquid -->
<ul class="list--inline site-footer__social-icons social-icons">
{% if settings.social_instagram_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
      {% include 'icon-instagram' %}
      <span class="icon__fallback-text">Instagram</span>
    </a>
  </li>
{% endif %}
{% if settings.social_facebook_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
      {% include 'icon-facebook' %}
      <span class="icon__fallback-text">Facebook</span>
    </a>
  </li>
{% endif %}
{% if settings.social_twitter_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
      {% include 'icon-twitter' %}
      <span class="icon__fallback-text">Twitter</span>
    </a>
  </li>
{% endif %}
{% if settings.social_pinterest_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
      {% include 'icon-pinterest' %}
      <span class="icon__fallback-text">Pinterest</span>
    </a>
  </li>
{% endif %}
{% if settings.social_tumblr_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
      {% include 'icon-tumblr' %}
      <span class="icon__fallback-text">Tumblr</span>
    </a>
  </li>
{% endif %}
{% if settings.social_snapchat_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
      {% include 'icon-snapchat' %}
      <span class="icon__fallback-text">Snapchat</span>
    </a>
  </li>
{% endif %}
{% if settings.social_youtube_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
      {% include 'icon-youtube' %}
      <span class="icon__fallback-text">YouTube</span>
    </a>
  </li>
{% endif %}
{% if settings.social_vimeo_link != blank %}
  <li>
    <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
      {% include 'icon-vimeo' %}
      <span class="icon__fallback-text">Vimeo</span>
    </a>
  </li>
{% endif %}
{% if template.name == 'blog' or template.name == 'article' %}
  <li>
    <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
      {% include 'icon-rss' %}
      <span class="icon__fallback-text">RSS</span>
    </a>
  </li>
{% endif %}
</ul>