{{ 'https://az814789.vo.msecnd.net/toolkit/1.2.29/appmate.js' | script_tag }}

{% assign wkShopName = shop.name | replace: '&amp;', '&' %}
<script type="text/javascript">
;(function(){
  if (typeof Appmate === 'undefined') return; // In case lib didn't load.

  Appmate.init({
    shop: {
      domain: '{{ shop.domain }}'
    },
    session: {
      customer: '{{ customer.id }}'
    },
    globals: {
      settings: {
        app_wk_icon: '{{ settings.app_wk_icon }}',
        app_wk_share_position: '{{ settings.app_wk_share_position }}',
        app_wk_products_per_row: {{ settings.app_wk_products_per_row }}
      },
      customer: '{{ customer.id }}',
      customer_accounts_enabled: {{ shop.customer_accounts_enabled }},
    },
    wishlist: {
      loginRequired: {{ settings.app_wk_login_required }},
      handle: "/pages/wishlist",
      proxyHandle: "/a/wk",
      share: {
        handle: "/pages/shared-wishlist",
        title: 'My Wishlist',
        description: 'Check out some of my favorite things @ {{ wkShopName }}.',
        imageTitle: '{{ wkShopName }}',
        hashTags: 'wishlist',
        twitterUser: false // will be used with via
      }
    }
  });
})();
</script>

<script type="text/javascript">
;(function(){
  if (typeof Appmate === 'undefined') return; // In case lib didn't load.

  Appmate.wk.on({
    'click [data-wk-add-product]': eventHandler(function(){
      var product = this.getAttribute('data-wk-add-product');
      var variant = $(this).parents('form').find('select[name="id"]').val();
      Appmate.wk.addProduct(product, variant);
    }),
    'click [data-wk-remove-product]': eventHandler(function(){
      var product = this.getAttribute('data-wk-remove-product');
      Appmate.wk.removeProduct(product);
    }),
    'click [data-wk-remove-item]': eventHandler(function(){
      var item = this.getAttribute('data-wk-remove-item');
      fadeOrNot($(this), function() {
        Appmate.wk.removeItem(item);
      });
    }),
    'click [data-wk-clear-wishlist]': eventHandler(function(){
      var wishlist = this.getAttribute('data-wk-clear-wishlist');
      Appmate.wk.clear(wishlist);
    }),
    'click [data-wk-share]': eventHandler(function(){
      var button = $(this);
      var wishlist = button.attr('data-wk-share');
      var service = button.attr('data-wk-share-service');
      if (service === 'contact') {
        Appmate.wk.createShareLink(wishlist).then(function(result) {
          var contactUrl = '/pages/contact-us';
          var message = 'Here is the link to my list:\n' + result.data.url;
          window.location.href=contactUrl + '?message=' + encodeURIComponent(message);
        });
      } else if (service != 'link') {
        var shareUrl = Appmate.wk.createShareUrl(wishlist, service);
        window.open(
          shareUrl,
          'wishlist_share',
          'height=590, width=770, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no'
        );
      } else {
        button.removeClass('wk-disabled');
        Appmate.wk.createShareLink(wishlist).then(function(result) {
          $('#wk-share-link-text').addClass('wk-visible').find('.wk-text').html('' + result.data.url);
          var copyButton = $('#wk-share-link-text .wk-clipboard');
          var copyText = copyButton.html();
          var clipboard = Appmate.wk.clipboard(copyButton[0]);
          clipboard.on('success', function(e) {
            copyButton.html('copied');
            setTimeout(function(){
              copyButton.html(copyText);
            }, 2000);
          });
          button.removeClass('wk-disabled');
        });
      }
    }),
    'click [data-wk-move-to-cart]': eventHandler(function(){
      var $elem = $(this);
      $form = $elem.parents('form');
      $elem.prop("disabled", true);

      var item = this.getAttribute('data-wk-move-to-cart');
      var formData = $form.serialize();

      fadeOrNot($elem, function(){
        Appmate.wk
        .moveToCart(item, formData)
        .then(function(){
          window.scrollTo(0, 0);
          location.reload();
          $elem.prop("disabled", false);
        });
      });
    }),
    'render .wk-option-select': function(elem){
      appmateOptionSelect(elem);
    },
    'login-required': function (intent) {
      var redirect = {
        path: window.location.pathname,
        intent: intent
      };
      window.location = '/account/login?wk-redirect=' + encodeURIComponent(JSON.stringify(redirect));
    },
    'render .swiper-container': function (elem) {
      initSlider()
    },
    'ready': function () {
      $(document).ready(initSlider);
      $(document).ready(fillContactForm);

      var redirect = Appmate.wk.getQueryParam('wk-redirect');
      if (redirect) {
        Appmate.wk.addLoginRedirect($('#customer_login'), JSON.parse(redirect));
      }
      var intent = Appmate.wk.getQueryParam('wk-intent');
      if (intent) {
        intent = JSON.parse(intent);
        switch (intent.action) {
          case 'addProduct':
            Appmate.wk.addProduct(intent.product, intent.variant)
            break;
          default:
            console.warn('Wishlist King: Intent not implemented', intent)
        }
        if (window.history && window.history.pushState) {
          history.pushState(null, null, window.location.pathname);
        }
      }
    }
  });

  function initSlider () {
    if (Swiper) {
      var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 20,
        slidesPerView: 4,
        breakpoints: {
          380: {
            slidesPerView: 1,
            spaceBetween: 0,
          },
          480: {
            slidesPerView: 2,
            spaceBetween: 20,
          }
        }
      })
    }
  }

  function fillContactForm() {
    if (document.getElementById('contact_form')) {
      var message = Appmate.wk.getQueryParam('message');
      var bodyElement = document.querySelector("#contact_form textarea[name='contact[body]']");
      if (bodyElement && message) {
        bodyElement.value = message;
      }
    }
  }

  function eventHandler (callback) {
    return function (event) {
      if (typeof callback === 'function') {
        callback.call(this, event)
      }
      if (event) {
        event.preventDefault();
        event.stopPropagation();
      }
    }
  }

  function fadeOrNot($elem, callback){
    if ($elem.parents('.wk-fadeout').length) {
      $elem.parents('.wk-fadeout').fadeOut(callback);
    } else {
      callback();
    }
  }
})();

</script>

{% raw %}

<script id="wishlist-icon-filled" data="wishlist" type="text/x-template" app="wishlist-king">
{% if settings.app_wk_icon == "heart" %}
  <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'>
    <path d='M47.199 4c-6.727 0-12.516 5.472-15.198 11.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274 0-16.8 7.527-16.8 16.802 0 18.865 19.031 23.812 32.001 42.464 12.26-18.536 31.999-24.2 31.999-42.464 0-9.274-7.527-16.802-16.801-16.802z' fill='#000'></path>
  </svg>
{% elsif settings.app_wk_icon == "star" %}
  <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='64' height='60.9' viewBox='0 0 64 64'>
    <path d='M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z' fill='#be8508'></path>
  </svg>
{% endif %}
</script>

<script id="wishlist-icon-empty" data="wishlist" type="text/x-template" app="wishlist-king">
{% if settings.app_wk_icon == "heart" %}
  <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='64px' height='60.833px' viewBox='0 0 64 60.833'>
    <path stroke='#000' stroke-width='5' stroke-miterlimit='10' fill-opacity='0' d='M45.684,2.654c-6.057,0-11.27,4.927-13.684,10.073 c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349,0-15.125,6.776-15.125,15.127c0,16.983,17.134,21.438,28.812,38.231 c11.038-16.688,28.811-21.787,28.811-38.231C60.811,9.431,54.033,2.654,45.684,2.654z'/>
  </svg>
{% elsif settings.app_wk_icon == "star" %}
  <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='64' height='60.9' viewBox='0 0 64 64'>
    <path d='M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z' fill='#be8508'></path>
  </svg>
{% endif %}
</script>

<script id="wishlist-icon-remove" data="wishlist" type="text/x-template" app="wishlist-king">
  <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'>
   <g>
     <path fill='#000000' stroke-width='0.25pt' d='m100,60l-40,40l170,170l40,-40l-170,-170z'/>
     <path fill='#000000' stroke-width='0.25pt' d='m60,230l170,-170l40,40l-170,170l-40,-40z'/>
   </g>
  </svg>
</script>

<script id="wishlist-link" data="wishlist" type="text/x-template" app="wishlist-king">
{% if wishlist.item_count %}
  {% assign link_icon = 'wishlist-icon-filled' %}
{% else %}
  {% assign link_icon = 'wishlist-icon-empty' %}
{% endif %}
<a href="{{ wishlist.url }}" class="wk-link wk-{{ wishlist.state }}" title="View Wishlist"><div class="wk-icon">{% include link_icon %}</div><span class="wk-label">Wishlist</span> <span class="wk-count">({{ wishlist.item_count }})</span></a>
</script>

<script id="wishlist-link-li" data="wishlist" type="text/x-template" app="wishlist-king">
<li class="wishlist-link-li wk-{{ wishlist.state }}">
  {% include 'wishlist-link' %}
</li>
</script>

<script id="wishlist-button-product" data="product" type="text/x-template" app="wishlist-king">
{% if product.in_wishlist %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
  {% assign btn_icon = 'wishlist-icon-filled' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
  {% assign btn_icon = 'wishlist-icon-empty' %}
{% endif %}

<button type="button" class="wk-button-product {{ btn_action }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ product.id }}">
  <div class="wk-icon">
    {% include btn_icon %}
  </div>
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-button-collection" data="product" type="text/x-template" app="wishlist-king">
{% if product.in_wishlist %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
  {% assign btn_icon = 'wishlist-icon-filled' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
  {% assign btn_icon = 'wishlist-icon-empty' %}
{% endif %}

<button type="button" class="wk-button-collection {{ btn_action }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ product.id }}">
  <div class="wk-icon">
    {% include btn_icon %}
  </div>
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-button-wishlist-page" data="product" type="text/x-template" app="wishlist-king">
{% if wishlist.read_only %}
  {% assign item_id = product.id %}
{% else %}
  {% assign item_id = product.wishlist_item_id %}
{% endif %}

{% assign add_class = '' %}
{% if product.in_wishlist and wishlist.read_only == true %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-product' %}
  {% assign btn_icon = 'wishlist-icon-filled' %}
{% elsif product.in_wishlist and wishlist.read_only == false %}
  {% assign btn_text = 'In Wishlist' %}
  {% assign btn_title = 'Remove from Wishlist' %}
  {% assign btn_action = 'wk-remove-item' %}
  {% assign btn_icon = 'wishlist-icon-remove' %}
  {% assign add_class = 'wk-with-hover' %}
{% else %}
  {% assign btn_text = 'Add to Wishlist' %}
  {% assign btn_title = 'Add to Wishlist' %}
  {% assign btn_action = 'wk-add-product' %}
  {% assign btn_icon = 'wishlist-icon-empty' %}
  {% assign add_class = 'wk-with-hover' %}
{% endif %}

<button type="button" class="wk-button-wishlist-page {{ btn_action }} {{ add_class }}" title="{{ btn_title }}" data-{{ btn_action }}="{{ item_id }}">
  <div class="wk-icon">
    {% include btn_icon %}
  </div>
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-button-wishlist-clear" data="wishlist" type="text/x-template" app="wishlist-king">
{% assign btn_text = 'Clear Wishlist' %}
{% assign btn_title = 'Clear Wishlist' %}
{% assign btn_class = 'wk-button-wishlist-clear' %}

<button type="button" class="{{ btn_class }}" title="{{ btn_title }}" data-wk-clear-wishlist="{{ wishlist.permaId }}">
  <span class="wk-label">{{ btn_text }}</span>
</button>
</script>

<script id="wishlist-shared" data="shared_wishlist" type="text/x-template" app="wishlist-king">
{% assign wishlist = shared_wishlist %}
{% include 'wishlist-collection' with wishlist %}
</script>

<script id="wishlist-collection" data="wishlist" type="text/x-template" app="wishlist-king">
<div class='wishlist-collection'>
{% if wishlist.item_count == 0 %}
  {% include 'wishlist-collection-empty' %}
{% else %}
  {% if customer_accounts_enabled and customer == false and wishlist.read_only == false %}
    {% include 'wishlist-collection-login-note' %}
  {% endif %}

  {% if settings.app_wk_share_position == "top" %}
    {% unless wishlist.read_only %}
      {% include 'wishlist-collection-share' %}
    {% endunless %}
  {% endif %}

  {% include 'wishlist-collection-loop' %}

  {% if settings.app_wk_share_position == "bottom" %}
    {% unless wishlist.read_only %}
      {% include 'wishlist-collection-share' %}
    {% endunless %}
  {% endif %}

  {% unless wishlist.read_only %}
    {% include 'wishlist-button-wishlist-clear' %}
  {% endunless %}
{% endif %}
</div>
</script>

<script id="wishlist-row" data="wishlist" type="text/x-template" app="wishlist-king">
<div class='wk-wishlist-row'>
  {% if wishlist.item_count != 0 %}
  <h2 class="wk-wishlist-row-title">Add more from Wishlist</h2>
  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {% for product in wishlist.products %}
            {% assign hide_default_title = false %}
            {% if product.variants.length == 1 and product.variants[0].title contains 'Default' %}
              {% assign hide_default_title = true %}
            {% endif %}
            <div
              id="wk-item-{{ product.wishlist_item_id }}"
              class="swiper-slide wk-item wk-fadeout"
              data-wk-item="{{ product.wishlist_item_id }}"
            >
              {% include 'wishlist-collection-product-image' with product %}
              {% include 'wishlist-collection-product-title' with product %}
              {% include 'wishlist-collection-product-price' %}
              {% include 'wishlist-collection-product-form' with product %}
            </div>
          {% endfor %}
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
  </div>
  <div class="swiper-button-prev">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>
  <div class="swiper-button-next">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>
  {% endif %}
</div>
</script>

<script id="wishlist-collection-empty" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  <div class="wk-span12">
    <h3 class="wk-wishlist-empty-note">Your wishlist is empty!</h3>
  </div>
</div>
</script>

<script id="wishlist-collection-login-note" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  <p class="wk-span12 wk-login-note">
    To permanently save your wishlist please <a href="/account/login">login</a> or <a href="/account/register">sign up</a>.
  </p>
</div>
</script>

<script id="wishlist-collection-share" data="wishlist" type="text/x-template" app="wishlist-king">
  <h3 id="wk-share-head">Share Wishlist</h3>
  <ul id="wk-share-list">
    <li>{% include 'wishlist-share-button-fb' %}</li>
    <li>{% include 'wishlist-share-button-pinterest' %}</li>
    <li>{% include 'wishlist-share-button-twitter' %}</li>
    <li>{% include 'wishlist-share-button-email' %}</li>
    <li>{% include 'wishlist-share-button-link' %}</li>
    {% comment %}
    <li>{% include 'wishlist-share-button-contact' %}</li>
    {% endcomment %}
    <li>{% include 'wishlist-share-button-whatsapp' %}</li>
  </ul>
  <div id="wk-share-link-text"><span class="wk-text"></span><button class="wk-clipboard" data-clipboard-target="#wk-share-link-text .wk-text">copy link</button></div>
</script>

<script id="wishlist-collection-loop" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-row">
  {% assign item_count = 0 %}
  {% for product in wishlist.products %}
    {% assign item_count = item_count | plus: 1 %}
    {% unless limit and item_count > limit %}
      {% assign hide_default_title = false %}
      {% if product.variants.length == 1 and product.variants[0].title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      {% assign items_per_row = settings.app_wk_products_per_row %}
      {% assign wk_item_width = 100 | divided_by: items_per_row %}

      <div class="wk-item-column" style="width: {{ wk_item_width }}%">
        <div id="wk-item-{{ product.wishlist_item_id }}" class="wk-item {{ wk_item_class }} {% unless wishlist.read_only %}wk-fadeout{% endunless %}" data-wk-item="{{ product.wishlist_item_id }}">

          {% include 'wishlist-collection-product-image' with product %}
          {% include 'wishlist-button-wishlist-page' with product %}
          {% include 'wishlist-collection-product-title' with product %}
          {% include 'wishlist-collection-product-price' %}
          {% include 'wishlist-collection-product-form' with product %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
</script>

<script id="wishlist-collection-product-image" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-image">
  <a href="{{ product | variant_url }}" class="wk-variant-link wk-content" title="View product">
    <img class="wk-variant-image"
       src="{{ product | variant_img_url: 'large' }}"
       alt="{{ product.title }}" />
  </a>
</div>
</script>

<script id="wishlist-collection-product-title" data="wishlist" type="text/x-template" app="wishlist-king">
<div class="wk-product-title">
  <a href="{{ product | variant_url }}" class="wk-variant-link" title="View product">{{ product.title }}</a>
</div>
</script>

<script id="wishlist-collection-product-price" data="wishlist" type="text/x-template" app="wishlist-king">
{% assign variant = product.selected_or_first_available_variant %}
<div class="wk-purchase">
  <span class="wk-price wk-price-preview">
    {% if variant.price < variant.compare_at_price %}
    <span class="saleprice">{{ variant.price | money }}</span> <del>{{ variant.compare_at_price | money }}</del>
    {% else %}
    {{ variant.price | money }}
    {% endif %}
  </span>
</div>
</script>

<script id="wishlist-collection-product-form" data="wishlist" type="text/x-template" app="wishlist-king">
<form id="wk-add-item-form-{{ product.wishlist_item_id }}" action="/cart/add" method="post" class="wk-add-item-form">

  <!-- Begin product options -->
  <div class="wk-product-options {% if hide_default_title %}wk-no-options{% endif %}">

    <div class="wk-select" {% if hide_default_title %} style="display:none"{% endif %}>
      <select id="wk-option-select-{{ product.wishlist_item_id }}" class="wk-option-select" name="id">

        {% for variant in product.variants %}
        <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
          {{ variant.title }} - {{ variant.price | money }}
        </option>
        {% endfor %}

      </select>
    </div>

    {% comment %}
      {% if settings.display_quantity_dropdown and product.available %}
      <div class="wk-selector-wrapper">
        <label>Quantity</label>
        <input class="wk-quantity" type="number" name="quantity" value="1" class="wk-item-quantity" />
      </div>
      {% endif %}
    {% endcomment %}

    <div class="wk-purchase-section{% if product.variants.length > 1 %} wk-multiple{% endif %}">
      {% unless product.available %}
      <input type="submit" class="wk-add-to-cart disabled" disabled="disabled" value="Sold Out" />
      {% else %}
        {% assign cart_action = 'wk-move-to-cart' %}
        {% if wishlist.read_only %}
          {% assign cart_action = 'wk-add-to-cart' %}
        {% endif %}
        <input type="submit" class="wk-add-to-cart" data-{{ cart_action }}="{{ product.wishlist_item_id }}" name="add" value="Add to Cart" />
      {% endunless %}
    </div>
  </div>
  <!-- End product options -->
</form>
</script>

<script id="wishlist-share-button-fb" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share on Facebook" data-wk-share-service="facebook" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g>
          <path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105s2.988,0,2.988,0V0.513L14.171,0.5C10.244,0.5,9.5,3.438,9.5,5.32 v2.145h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/>
        </g>
      </svg>
    </div>
    <span>Facebook</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-twitter" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share on Twitter" data-wk-share-service="twitter" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g>
          <path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.228,0.016c0.938-0.562,0.981-0.957,1.32-2.019c-0.878,0.521-1.851,0.9-2.886,1.104 C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544c0,0.356,0.04,0.703,0.117,1.036 C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617c0,1.577,0.803,2.967,2.021,3.782 C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888c0,2.202,1.566,4.038,3.646,4.456 c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155C5.783,18.102,3.372,18.737,1,18.459 C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929c0-0.198-0.003-0.393-0.012-0.588 C21.769,6.343,22.835,5.746,23.444,4.834z"/>
        </g>
      </svg>
    </div>
    <span>Twitter</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-pinterest" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share on Pinterest" data-wk-share-service="pinterest" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--pinterest resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <path d="M12.137,0.5C5.86,0.5,2.695,5,2.695,8.752c0,2.272,0.8 ,4.295,2.705,5.047c0.303,0.124,0.574,0.004,0.661-0.33 c0.062-0.231,0.206-0.816,0.271-1.061c0.088-0.331,0.055-0.446-0.19-0.736c-0.532-0.626-0.872-1.439-0.872-2.59 c0-3.339,2.498-6.328,6.505-6.328c3.548,0,5.497,2.168,5.497,5.063c0,3.809-1.687,7.024-4.189,7.024 c-1.382,0-2.416-1.142-2.085-2.545c0.397-1.675,1.167-3.479,1.167-4.688c0-1.081-0.58-1.983-1.782-1.983 c-1.413,0-2.548,1.461-2.548,3.42c0,1.247,0.422,2.09,0.422,2.09s-1.445,6.126-1.699,7.199c-0.505,2.137-0.076,4.756-0.04,5.02 c0.021,0.157,0.224,0.195,0.314,0.078c0.13-0.171,1.813-2.25,2.385-4.325c0.162-0.589,0.929-3.632,0.929-3.632 c0.459,0.876,1.801,1.646,3.228,1.646c4.247,0,7.128-3.871,7.128-9.053C20.5,4.15,17.182,0.5,12.137,0.5z"/>
      </svg>
    </div>
    <span>Pinterest</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-whatsapp" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share via WhatsApp" data-wk-share-service="whatsapp" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path stroke="none" d="M20.1,3.9C17.9,1.7,15,0.5,12,0.5C5.8,0.5,0.7,5.6,0.7,11.9c0,2,0.5,3.9,1.5,5.6l-1.6,5.9l6-1.6c1.6,0.9,3.5,1.3,5.4,1.3l0,0l0,0c6.3,0,11.4-5.1,11.4-11.4C23.3,8.9,22.2,6,20.1,3.9z M12,21.4L12,21.4c-1.7,0-3.3-0.5-4.8-1.3l-0.4-0.2l-3.5,1l1-3.4L4,17c-1-1.5-1.4-3.2-1.4-5.1c0-5.2,4.2-9.4,9.4-9.4c2.5,0,4.9,1,6.7,2.8c1.8,1.8,2.8,4.2,2.8,6.7C21.4,17.2,17.2,21.4,12,21.4z M17.1,14.3c-0.3-0.1-1.7-0.9-1.9-1c-0.3-0.1-0.5-0.1-0.7,0.1c-0.2,0.3-0.8,1-0.9,1.1c-0.2,0.2-0.3,0.2-0.6,0.1c-0.3-0.1-1.2-0.5-2.3-1.4c-0.9-0.8-1.4-1.7-1.6-2c-0.2-0.3,0-0.5,0.1-0.6s0.3-0.3,0.4-0.5c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0-0.4,0-0.5c0-0.1-0.7-1.5-1-2.1C8.9,6.6,8.6,6.7,8.5,6.7c-0.2,0-0.4,0-0.6,0S7.5,6.8,7.2,7c-0.3,0.3-1,1-1,2.4s1,2.8,1.1,3c0.1,0.2,2,3.1,4.9,4.3c0.7,0.3,1.2,0.5,1.6,0.6c0.7,0.2,1.3,0.2,1.8,0.1c0.6-0.1,1.7-0.7,1.9-1.3c0.2-0.7,0.2-1.2,0.2-1.3C17.6,14.5,17.4,14.4,17.1,14.3z"/>
      </svg>
    </div>
    <span>WhatsApp</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-email" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share via Email" data-wk-share-service="email" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <path d="M22,4H2C0.897,4,0,4.897,0,6v12c0,1.103,0.897,2,2,2h20c1.103,0,2-0.897,2-2V6C24,4.897,23.103,4,22,4z M7.248,14.434 l-3.5,2C3.67,16.479,3.584,16.5,3.5,16.5c-0.174,0-0.342-0.09-0.435-0.252c-0.137-0.239-0.054-0.545,0.186-0.682l3.5-2 c0.24-0.137,0.545-0.054,0.682,0.186C7.571,13.992,7.488,14.297,7.248,14.434z M12,14.5c-0.094,0-0.189-0.026-0.271-0.08l-8.5-5.5 C2.997,8.77,2.93,8.46,3.081,8.229c0.15-0.23,0.459-0.298,0.691-0.147L12,13.405l8.229-5.324c0.232-0.15,0.542-0.084,0.691,0.147 c0.15,0.232,0.083,0.542-0.148,0.691l-8.5,5.5C12.189,14.474,12.095,14.5,12,14.5z M20.934,16.248 C20.842,16.41,20.673,16.5,20.5,16.5c-0.084,0-0.169-0.021-0.248-0.065l-3.5-2c-0.24-0.137-0.323-0.442-0.186-0.682 s0.443-0.322,0.682-0.186l3.5,2C20.988,15.703,21.071,16.009,20.934,16.248z"/>
      </svg>
    </div>
    <span>Email</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-link" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Share via link" data-wk-share-service="link" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--link resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg version='1.1' xmlns='https://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
        <path d='M459.654,233.373l-90.531,90.5c-49.969,50-131.031,50-181,0c-7.875-7.844-14.031-16.688-19.438-25.813
        l42.063-42.063c2-2.016,4.469-3.172,6.828-4.531c2.906,9.938,7.984,19.344,15.797,27.156c24.953,24.969,65.563,24.938,90.5,0
        l90.5-90.5c24.969-24.969,24.969-65.563,0-90.516c-24.938-24.953-65.531-24.953-90.5,0l-32.188,32.219
        c-26.109-10.172-54.25-12.906-81.641-8.891l68.578-68.578c50-49.984,131.031-49.984,181.031,0
        C509.623,102.342,509.623,183.389,459.654,233.373z M220.326,382.186l-32.203,32.219c-24.953,24.938-65.563,24.938-90.516,0
        c-24.953-24.969-24.953-65.563,0-90.531l90.516-90.5c24.969-24.969,65.547-24.969,90.5,0c7.797,7.797,12.875,17.203,15.813,27.125
        c2.375-1.375,4.813-2.5,6.813-4.5l42.063-42.047c-5.375-9.156-11.563-17.969-19.438-25.828c-49.969-49.984-131.031-49.984-181.016,0
        l-90.5,90.5c-49.984,50-49.984,131.031,0,181.031c49.984,49.969,131.031,49.969,181.016,0l68.594-68.594
        C274.561,395.092,246.42,392.342,220.326,382.186z'/>
      </svg>
    </div>
    <span>E-Mail</span>
  </div>
</a>
{% endunless %}
</script>

<script id="wishlist-share-button-contact" data="wishlist" type="text/x-template" app="wishlist-king">
{% unless wishlist.empty %}
<a href class="wk-button-share resp-sharing-button__link" title="Send to customer service" data-wk-share-service="contact" data-wk-share="{{ wishlist.permaId }}">
  <div class="resp-sharing-button resp-sharing-button--link resp-sharing-button--large">
    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M19 2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-6 16h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 11.9 13 12.5 13 14h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>
      </svg>
    </div>
    <span>E-Mail</span>
  </div>
</a>
{% endunless %}
</script>

{% endraw %}


<script>
var appmateSelectCallback = function(variant, selector) {
  var shop = Appmate.wk.globals.shop;
  var product = Appmate.wk.getProduct(variant.product_id);
  var itemId = $(selector.variantIdField).parents('[data-wk-item]').attr('data-wk-item');
  var container = $('#wk-item-' + itemId);

  if (variant) {
    Appmate.wk.updateItem(itemId, {selected_variant_id: variant.id});
  }

  var imageUrl = '';

  if (variant && variant.image) {
    imageUrl = Appmate.wk.filters.img_url(variant, '1024x');
  } else if (product) {
    imageUrl = Appmate.wk.filters.img_url(product, '1024x');
  }

  if (imageUrl) {
    container.find('.wk-variant-image').attr('src', imageUrl);
  }
  var formatMoney = Appmate.wk.filters.money;
  if (variant && (variant.available || variant.inventory_policy === 'continue')) {
    container.find('.wk-add-to-cart').removeAttr('disabled').removeClass('disabled').attr('value', 'Add to Cart');
    if(variant.price < variant.compare_at_price){
      container.find('.wk-price-preview').html(formatMoney(variant.price) + " <del>" + formatMoney(variant.compare_at_price) + "</del>");
    } else {
      container.find('.wk-price-preview').html(formatMoney(variant.price));
    }
  } else {
    container.find('.wk-add-to-cart').addClass('disabled').attr('disabled', 'disabled').attr('value', 'Sold Out');
    var message = variant ? "Sold Out" : "Unavailable";
    container.find('.wk-price-preview').text(message);
  }

};

function appmateOptionSelect(el){
  if (!Shopify || !Shopify.OptionSelectors) {
    throw new Error('Missing option_selection.js! Please check templates/page.wishlist.liquid');
  }

  var id = el.getAttribute('id');
  var itemId = $(el).parents('[data-wk-item]').attr('data-wk-item');
  var container = $('#wk-item-' + itemId);

  Appmate.wk.getItem(itemId).then(function(product){
    var selector = new Shopify.OptionSelectors(id, {
      product: product,
      onVariantSelected: appmateSelectCallback,
      enableHistoryState: false
    });

    if (product.selected_variant_id) {
      selector.selectVariant(product.selected_variant_id);
    }

    // Add label if only one product option and it isn't 'Title'.
    if (product.options.length == 1 && product.options[0] != 'Title') {
      $(container)
      .find('.selector-wrapper:eq(0)')
      .prepend('<label>' + product.options[0] + '</label>');
    }
  });
}

</script>

{{ 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css' | stylesheet_tag }}
{{ 'appmate-wishlist-king.scss.css' | asset_url | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js' | script_tag }}
