{%- capture block_class -%}
  site-footer-block-item
  site-footer-block-{{ block.type | replace: '_', '-' }}
  {% if block.type == 'menu' %}has-accordion{% endif %}
{%- endcapture -%}

<div class="{{ block_class | strip_newlines }}" {{ block.shopify_attributes }}>

  {% if block.type == 'menu' %}
      <h2 class="site-footer-block-title" data-accordion-trigger>
        {{ linklists[block.settings.menu].title | escape }}

        <span class="site-footer-block-icon accordion--icon">
          {% include 'icon-chevron-down' %}
        </span>
      </h2>

      <div class="site-footer-block-content accordion--content" data-accordion-content>
        {%
          include 'navmenu',
          menu: block.settings.menu,
          depth: 1,
          max_depth: 1
        %}
      </div>
  {% elsif block.type == 'rich_text' or block.type == 'newsletter' %}
    {% if block.settings.title != blank %}
      <h2 class="site-footer-block-title">
        {{ block.settings.title | escape }}
      </h2>
    {% endif %}

    {% if block.settings.text != blank %}
      <div class="site-footer-block-content rte">
        {{ block.settings.text }}
      </div>
    {% endif %}

    {% if block.type == 'newsletter' %}
      <p class="newsletter-agree">Send me email updates and offers from FX and its Company Affiliates. I can opt out at any time. By signing up below, I agree to the <a href="https://www.foxprivacy.com/us/privacy.html">FX Privacy Policy</a> and <a href="/pages/terms-conditions">Terms of Use</a>.</p>   
      {% include 'newsletter' %}
  	  {% include 'social-list' %}
    {% endif %}
      
  {% endif %}

</div>
