{% comment %}
  @param product {Object}
    Required to show product information
{% endcomment %}

{% assign emphasize_price = settings.product_grid_emphasize_price %}
{% assign enable_quick_look = settings.product_grid_quick_look %}
{% assign enable_quick_buy = settings.product_grid_quick_buy %}
{% assign money_format = shop.money_format | strip_html %}
{% assign show_modal = enable_quick_look %}

{% if product %}
  {% assign compare_at_price = product.compare_at_price %}
  {% assign compare_at_price_varies = product.compare_at_price_varies %}
  {% assign price = product.price %}
  {% assign price_varies = product.price_varies %}
  {% assign product_available = product.available %}
  {% assign product_title = product.title %}
  {% assign product_link = product.url | within: collection %}
{% else %}
  {% assign onboarding = true %}
  {% assign compare_at_price = 1999 %}
  {% assign compare_at_price_varies = false %}
  {% assign price = 1999 %}
  {% assign price_varies = false %}
  {% assign product_available = true %}
  {% assign product_title = 'onboarding.product.title' | t %}
  {% assign product_link = '#' %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign has_variants = false %}
{% unless product.has_only_default_variant %}
  {% assign has_variants = true %}
{% endunless %}

{%- capture classes -%}
  productgrid--item
  imagestyle--{{ settings.product_grid_image_style }}
  {% unless product.featured_image %}imagestyle--no-image{% endunless %}
  {% if on_sale %}productitem--sale{% endif %}
  {% if emphasize_price %}productitem--emphasis{% endif %}
{%- endcapture -%}

<article
  class="{{ classes | strip_newlines }}"
  data-product-item
  tabindex="1">
  <div class="productitem" data-product-item-content>
    <a class="productitem--image-link" href="{{ product.url | within: collection }}">
      <figure class="productitem--image" data-product-item-image>
        {% if product.featured_image %}
          <img
            alt="{{ product.featured_image.alt | escape }}"
            src="{{ product.featured_image | img_url: '512x' }}">
        {% else %}
          {%- capture index -%}
            {%- cycle '1', '2', '3', '4', '5', '6' -%}
          {%- endcapture -%}
          {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder--image' }}
        {% endif %}

        {%
          include 'product-badge',
          class_root: 'productitem',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price
        %}
      </figure>
    </a>

    {%- capture product_item_price -%}
      {%
        include 'product-price',
        class_root: 'productitem',
        price: price,
        price_varies: price_varies,
        compare_at_price: compare_at_price,
        compare_at_price_varies: compare_at_price_varies,
        on_sale: on_sale,
        emphasize_price: emphasize_price
      %}
    {%- endcapture  -%}

    <div class="productitem--info">
      {% if emphasize_price %}
        {{ product_item_price }}
      {% endif %}

      <h2 class="productitem--title">
        <a href="{{ product_link }}" tabindex="1">
          {{ product_title }}
        </a>
      </h2>

      {% unless emphasize_price %}
        {{ product_item_price }}
      {% endunless %}

<!--       {% if settings.product_ratings_reviews %}
        <div class="productitem--ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %} -->
    </div>

    {% if enable_quick_look or enable_quick_buy %}
      {% comment %}
        Default button appearance and text
      {% endcomment %}
      {% assign quick_look_text = 'product.buttons.quick_look' | t %}
      {% assign quick_buy_text = 'product.buttons.add_to_cart' | t %}

      {% assign quick_look_classes = 'productitem--action-trigger button-secondary' %}
      {% assign quick_buy_classes = 'productitem--action-trigger productitem--action-atc button-primary' %}

      {% if has_variants %}
        {% assign quick_buy_text = 'product.buttons.choose_options' | t %}
        {% assign show_modal = true %}
      {% endif %}

      {% unless product_available %}
        {% assign quick_buy_text = 'product.buttons.sold_out' | t %}
        {% assign quick_buy_classes = quick_buy_classes | append: ' disabled' %}
      {% endunless %}

      <div class="productitem--actions" data-product-actions>

        {% if enable_quick_look %}
          <div class="productitem--action" id="quicklook">
            <button
              class="{{ quick_look_classes }}"
              data-quickshop-full
              type="button"
              tabindex="1"
            >
              {{ quick_look_text }}
            </button>
          </div>
        {% endif %}
        <script>
          var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

          if(isMobile){
              $('.productitem--action').css('display', 'none');
          };
        </script>

        {% if enable_quick_buy %}
          <div class="productitem--action">
            <button
              class="{{ quick_buy_classes }}"
              tabindex="1"
              type="button"
              aria-label="{{ quick_buy_text }}"
              {% unless has_variants %}
                data-quick-buy
              {% else %}
                data-quickshop-slim
              {% endunless %}
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              {% unless product_available %}disabled{% endunless %}
            >
              <span class="atc-button--text">
                {{ quick_buy_text }}
              </span>
              <span class="atc-button--icon">
                {%- include 'icon-spinner' -%}
              </span>
            </button>
          </div>
        {% endif %}

      </div>
    {% endif %}
  </div>

  {% if show_modal %}	
		{% assign x = 'product'%}
  			{%if  product.template_suffix=='foxconnect'%}{% assign x = 'product-foxconnect'%}{% endif%}
  {%if  product.template_suffix=='pre-order'%}{% assign x = 'product-preorder'%}{% endif%}
    {%- capture modal_html -%}
      {%-
        include x,
        layout: false,
        is_product_modal: true
      -%}
    {%- endcapture -%}
    <div class="productitem-quickshop" data-product-quickshop="{{ product.id }}">
      <script
        type="application/json"
        data-product-quickshop-data
      >
        {
          "settings": {
            "cart_redirection": {{ settings.product_cart_redirect | json }},
            "money_format": {{ money_format | json }}
          },
          "context": {
            "product_available": {% if product.template_suffix =='pre-order' %}{{ 'product.buttons.pre_order' | t | json }}{%elsif  product.template_suffix=='foxconnect'%}"Buy at Fox Connect"{% else %}{{ 'product.buttons.add_to_cart' | t | json }} {% endif%},
            "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
          },
          "product": {{ product | json }}
        }
      </script>

      <script
        type="application/json"
        data-product-quickshop-html
      >
        {{ modal_html | json }}
      </script>
    </div>
  {% endif %}

  {% if enable_quick_buy %}
    <script type="application/json" data-quick-buy-settings>
      {
        "cart_redirection": {{ settings.product_cart_redirect | json }},
        "money_format": {{ money_format | json }}
      }
    </script>
  {% endif %}
</article>
