/******** Color Codes ********/
$color-grey: #767676;  
$color-grey-two: #6a6e74; 
$color-light-grey: #d7d7d7; 
$color-light-grey-two: #eceaeb; 
$color-light-grey-three: #d1d1d1; 
$color-light-grey-four: #ddd; 
$color-dark-grey: #3d4246; 
$color-dark-grey-two: #333; 
$color-dark-grey-three: #7c7c7c; 
$color-dark-grey-four: #7b7b7b; 
$color-button-accent: #00addd; 
$color-black: #000000; 
$color-black-two: #1c1a1a; 
$color-blood: #7d0203; 
$color-brownish-grey: #646464; 
$color-brownish-grey-two: #5f5f5f; 
$color-cerulean: #017cc0; 
$color-cerulean-two: #027ebe;  
$color-charcoal-grey: #2c2e33; 
$color-dark-taupe: #624141; 
$color-darkish-red: #a80001; 
$color-greenish-teal: #3fca89; 
$color-greenish-teal-two: #3cc284; 
$color-greyish: #b7b7b7; 
$color-greyish-brown: #585757; 
$color-indian-red: #7f0303; 
$color-midnight: #010409; 
$color-milk-chocolate: #4f1f1f; 
$color-rouge: #7e1519; 
$color-rouge-two: #7f1617; 
$color-very-light-pink: #fffefe; 
$color-warm-grey: #767676; 
$color-warm-grey-two: #898989; 
$color-white: #ffffff; 
$color-white-two: #ededed; 
/*****************************/ 



/***********************************************************************************************************
 **                                   Shopify Product Recommendation Section                              **
 ***********************************************************************************************************/ 
div[id="shopify-section-shopify-product-recommendations"] {
  width: 100%;
  margin: auto;
  display: block; 
  padding-top: 25px;
  margin-top: 75px;
  
  .product-template__recommendations-container {
    
    header.section-header {
      margin-bottom: 0;
      h2 {
        margin-bottom: 0; 
        font-family: 'Antonio-Bold'; 
        color: $color-black; 
        font-size: 34px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: -0.2px; 
        text-align: center;  
        text-transform: uppercase;  
      }
      &>.section-header__title {
        @media only screen and (max-width: 325px) {
          font-size: 1em;
        }
      } 

      &:before {
        content: ''; 
        display: block; 
        background: url({{ 'img-opened-door-aperture.png' | asset_url }}) no-repeat; 
        background-size: contain; 
        background-position: center; 
        margin: auto;
        width: 200px; 
        height: 41.5841px; 
      }
    }

    aside {
      margin-left: 0px;
    }

    .grid { 
      margin-left: 0; 

      &.product-template__recommendations-grid {
        overflow: visible;

        &>button {
          &.slick-prev {
            left: -20px;
            z-index: 1;
            &:before {
              color: transparent;
              background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_cbcbcb.png?7348073847935110952) no-repeat;
              background-size: contain;
              height: 26px;
              width: 20px;
              display: block;
              opacity: 1;
              @media only screen and (max-width: 500px){
                display: none;
              }
            }

            &:hover {
              &:before {
                background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/leftarrow_404040.png?7348073847935110952);
              }
            }

            @media only screen and (max-width: 768px) {
              left: -5px;
            }
          }
          &.slick-next {
            right: -25px;

            &:before {
              color: transparent;
              background: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_cbcbcb.png?7348073847935110952) no-repeat;
              background-size: contain;
              height: 26px;
              width: 20px;
              display: block;
              opacity: 1;
              @media only screen and (max-width: 500px){
                display: none;
              }
            }

            &:hover {
              &:before {
                background-image: url(//cdn.shopify.com/s/files/1/0006/6060/2935/files/rightarrow_404040.png?7348073847935110952);
              }
            }

            @media only screen and (max-width: 768px) {
              right: -5px;
            }
          } 
        } 

        .slick-dots {
          width: 100%;
          bottom: 0px;
          li {
            width:  14px;
            height: 14px;
            margin: 0 5px; 
            border-radius: 16px; 
            opacity: 0.75;    
            transition: background 0.6s ease; 

            button {
              width: 100%;
              height: 100%;
              background-color: $color-greyish;
              transition: background 0.6s ease; 
              border-radius: 100%; 

              &:before {
                width: 100%;
                height: 100%;
                background-color: transparent;
              }
            }

            &.slick-active { 
              width: 18px; 
              height: 18px; 
              opacity: 1; 

              button {
                background: url({{ 'img-carousel-active.png' | asset_url }}) no-repeat; 
                background-position: center; 
                background-size: cover; 
              }
            }
          }
        } 

        &>.slick-list {
          margin: auto;

          &>.slick-track {
            @media only screen and (max-width: 1230px) {
              margin-left: 5px;
            }
            &>.grid__item { 
              padding: 0px;
              &.medium-up--one-quarter {
                padding-left: 0px;
                clear: none;

                &:nth-child(4n+1) {
                  clear: none;
                }

                &>.grid-view-item {
                  &>a {
                    text-align: center; 

                    &.grid-view-item__link { 
                      .grid-view-item__title {
                        text-align: center;
                        padding: 10px 0;
                        color: $color-black; 
                        font-weight: 600;
                        font-size: 15px;  
                        @media only screen and (max-width: 1024px){
                          font-size: 14px;
                        }
                        @media only screen and (max-width: 414px){
                          padding-top: 0;
                          text-align: left;
                        } 
                      }
                      .grid-view-item__meta {
                        text-align: center;
                        margin-top: 0px;
                        @media only screen and (max-width: 414px){
                          text-align: left;
                          padding-bottom: 20px;
                        }

                        .product-price__price {
                          font-weight: 500;
                          color: #3b3b3b;
                        }
                      } 
                    }

                    .grid-view-item__title {
                      padding: 5px 0px 0px; 
                      font-size: 17px; 
                      font-family: 'Avenir-Bold'; 
                      font-weight: bold;
                      font-style: normal;
                      font-stretch: normal;
                      line-height: 1.59;
                      letter-spacing: normal;
                      text-align: left;  
                      text-transform: uppercase; 
                      margin: auto; 
                      max-width: 280px; 

                      @media only screen and (max-width: 1100px) {
                        font-size: 15px; 
                      } 
                    }

                    .grid-view-item__meta {
                      padding: 0px; 
                      max-width: 280px; 
                      margin: 5px auto auto;

                      .product-price__price {
                        color: $color-black; 
                        font-size: 17px; 
                        font-family: 'Avenir-Regular'; 
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.59;
                        letter-spacing: normal;
                        text-align: left;  
                        text-transform: uppercase;  

                        @media only screen and (max-width: 1100px) {
                          font-size: 15px; 
                        } 
                      }
                    }
                  }
                }

                @media only screen and (max-width: 1245px) and (min-width: 1025px) {
                  padding: 5px;
                }

                @media only screen and (max-width: 1024px) {
                  padding: 0 0px; 
                }

                @media only screen and (max-width: 960px) {
                  padding: 5px;
                }
              }
            }
          }

          @media only screen and (max-width: 767px) {
            width: 66.67%; 
            margin-left: 0px; 
            overflow: visible; 
          }
        }
      }

      &>.grid__item {
        padding-left: 0px;
      }
    }
    @media only screen and (max-width: 1280px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
