{%- comment %}<locksmith:bf5c>{% endcomment -%}
  {%- include 'locksmith', locksmith_context: 'layout/start' %}{% capture locksmith_source -%}
{%- comment %}</locksmith:bf5c>{% endcomment -%}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
        {% if settings.favicon_enable %}
            <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        {% endif %}
        <title>
            {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        </title>
        {% if page_description %}
            {%- comment %}<locksmith:cb65>{% endcomment -%}
              {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
              {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
            {%- comment %}</locksmith:cb65>{% endcomment -%}
        {% endif %}
        <!-- Product meta ============================================================= -->
        {% include 'open-graph-tags' %}
        {% include 'twitter-card' %}
        <!-- Helpers ================================================================== -->
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="theme-color" content="{{ settings.color_primary }}">
        {{ 'cj-event-storage.js' | asset_url | script_tag }}
        <!-- Theme js ================================================================= -->
        {% include 'head-js' %}
        <!-- Theme css ================================================================ -->
        {% include 'head-css' %}

        <script src="{{ 'js.cookie.min.js' | asset_url }}" defer="defer"></script>

        <!-- Header hook for plugins ================================================== -->
        {{ content_for_header }}
	    <script type="text/javascript" async="" src="//www.searchanise.com/widgets/shopify/init.js?a=4u0h3T9O4N&amp;shop=shop-thewalkingdead.myshopify.com"></script>

      {% include 'consent-management' %}
</head>
    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ settings.theme_float_style }} {{ settings.theme_header_style }} {{ settings.theme_layout_mode }}  {{ settings.theme_skins }} {% if collection.title == 'Crowdtwist Exclusives' %}crowdtwist-template{% endif %}" >
      	<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
      <div id="page">
            <section id="page_content" class="">
                <header id="header">
                  {% assign heade_check = settings.header_style %}
                  {% case heade_check %}
                   {% when 'header-1' %}
                  	{% include 'header' %}
                   {% when 'header-2' %}
                  	{% include 'header-2' %}
                  {% when 'header-3' %}
                  	{% include 'header-3' %}
                  {% when 'header-4' %}
                  	{% include 'header-4' %}
                  {% when 'header-5' %}
                  	{% include 'header-5' %}
                  {% else %}
                    Please select header
              	  {% endcase %}
                </header>
                <main class="main-content">
                    {{ content_for_layout }}
                </main>
                  <footer id="footer">
                    {% assign footer_check = settings.footer_style %}
                    {% case footer_check %}
                      {% when 'footer-1' %}
                        {% include 'footer' %}
                      {% when 'footer-2' %}
                        {% include 'footer-2' %}
                      {% when 'footer-3' %}
                        {% include 'footer-3' %}
                      {% when 'footer-4' %}
                        {% include 'footer-4' %}
                      {% when 'footer-5' %}
                        {% include 'footer-5' %}
                      {% when 'footer-6' %}
                        {% include 'footer-6' %}
                      {% else %}
                        Please select Footer
                      {% endcase %}
                  </footer>
              	{% include 'apollo-modal' %}
                {% if settings.theme_quickview_enable %}
                    {% include 'product-quickview' %}
                {% endif %}
              	{% if settings.ajax_cart_enable %}
              		{% include 'ajax-cart-template' %}
              	{% endif %}
            </section>
            {% if settings.theme_backtotop_enable %}
                <p id="back-top">
                    <a href="#top" title="Scroll To Top">Scroll To Top</a>
                </p>
          	{% endif %}
            {% if settings.theme_paneltool_enable %}
                {% include 'paneltool' %}
            {% endif %}
      	</div>
        {% if settings.apollo_megamenu_enable %}
            {% include 'block-menu-canvas' %}
        {% endif %}
      	{% if settings.pnewletter_enable and template contains 'index' %}
        	{% include 'block-popup-newletter' %}
        {% endif %}
      	{% include 'footer-js' %}
        {% include 'pick-an-option' %}
<!--         {% include 'amasty_xnotif-product-snippet' %} -->

{%include 'sc-pb-25052016'%}
</body>
</html>

{%- comment %}<locksmith:f3d2>{% endcomment -%}
  {%- endcapture %}{% include 'locksmith', locksmith_context: 'layout/end' -%}
{%- comment %}</locksmith:f3d2>{% endcomment -%}
