<!-- /templates/customers/activate_account.liquid -->

<div class="container l padding-bottom-2x">
  <div class="row no-margin">
    <div class="column l12 m12 s12">
      <h1 class="w-normal no-margin">
        {{ 'account.activate.title' | t }}
      </h1>
    </div>

    <div class="column l12 m12 s12">
      <div id="ActivateAccountForm">
        {% form 'activate_customer_password' %}

          {{ form.errors | default_errors }}

          <label for="CustomerPassword">{{ 'account.form.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'account.form.password' | t }}">

          <label for="CustomerPasswordConfirmation">{{ 'account.form.password_confirmation' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'account.form.password_confirmation' | t }}">

          <div class="row no-margin">
            <div class="column l6">
              <input type="submit" name="decline" value="{{ 'form.cancel' | t }}">
            </div>
            <div class="column l6">
              <input type="submit" value="{{ 'form.submit' | t }}">
            </div>
          </div>
        {% endform %}
      </div>

    </div>
  </div>
</div>
