<!-- /templates/customers/login.liquid -->

<div class="container l padding-bottom-2x">

  <div class="row no-margin">
    <div class="column l6 m6 s12">
      <h1 class="w-normal no-margin">{{ 'account.login.title' | t }}</h1>
      <p class="padding-bottom">{{ 'account.login.sub_title_html' | t }}</p>

      {% include 'form-login' %}

      {% if shop.checkout.guest_login %}
        <h2 class="h3 w-normal">{{ 'account.login.guest' | t }}</h2>
        {% form 'guest_login' %}
          <input type="submit" value="{{ 'account.login.continue' | t }}">
        {% endform %}
      {% endif %}
      <div class="s-show margin-bottom"></div>
    </div>
    <div class="column l6 m6 s12">
      <h1 class="w-normal no-margin">{{ 'account.login.register_title' | t }}</h1>
      <p>{{ 'account.login.register_sub_title_html' | t }}</p>
      <p>{{ 'account.welcome.content_html' | t }}</p>
      <a class="button medium" href="/account/register">{{ 'account.login.register' | t }}</a>
    </div>
  </div>

</div>
