.wishlist,
.swym-button-bar{
  border: none !important;
  width: auto !important;
  padding: 0;
  line-height: 0;
  height: auto;
  text-align: left;
  &.button-bar {
    background: transparent;
    position: relative;
  }
  .swym-button {
    margin: 9px 0px !important;
  }
}