<nav class="small--hide" id="AccessibleNav" role="navigation">
	{% include 'side-nav', nav_alignment: 'site-nav--centered' %}
</nav>

{% schema %}
  {
    "name": "Side Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "sidebar_linklist",
        "label": "Sidebar Navigation",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
