/*==============================================================================
Feel free to add your own header, but please keep the following:
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
==============================================================================*/

window.concrete = window.concrete || {};

// perhaps turn into an assign in function?
concrete.strings = {
  soldOut: '<img src="{{ 'button-add_to_cart.png' | asset_url }}">',
  addToCart: '<img src="{{ 'button-add_to_cart.png' | asset_url }}">',
  preOrder: '<img src="{{ 'button-pre_order.png' | asset_url }}">',
  unavailable: '<img src="{{ 'button-add_to_cart.png' | asset_url }}">',
  customize: '<img src="{{ 'button-more_details.png' | asset_url }}">',
  makeASelection: '<img src="{{ 'button-add_to_cart.png' | asset_url }}">',
};

concrete.urlParams = {};

/*================ Concrete ================*/
// =require concrete/cache.js
// =require concrete/utils.js
// =require concrete/a11y.js
// =require concrete/currency.js
// =require concrete/sections.js
// =require concrete/navigation.js
// =require concrete/images.js
// =require concrete/collection.js
// =require concrete/variants.js
// =require concrete/product.js
// =require concrete/empty-section.js


// Initialize on document ready
$(document).ready(function() {
  // Register sections js
  var sections = new concrete.Sections();
  sections.register('product', concrete.Product);
  sections.register('collection', concrete.Collection);
  concrete.Tabs();
  concrete.handlebarsHelpers();
})
