<div class="product col-sm-4 col-xs-12">
  
  <!-- Begin product image -->
  <div class="image">
    <a href="{{ collection.url }}">
      {% if collection.image %}
        <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt }}" />
      {% else %}
        <img src="{{ collection.products.first.featured_image | product_img_url: 'large' }}" alt="{{ collection.title | escape  }}" />
      {% endif %}
    </a>
  </div>
  <!-- End product image -->
  
  <!-- Begin product description -->
  <div class="col-info">
    <a href="{{ collection.url }}" class="clearfix">
      <h4 class="title">{{ collection.title }}</h4>
      <span class="price">{{ collection.products_count }} {{ 'collections.general.items_with_count' | t: count: collections.general.items_with_count }}</span>
    </a>
  </div>
  <!-- End product description -->
  
</div>

{% cycle 'clear-collection-list': '', '', '<div style="clear:both;"></div>' %}