{% if settings.collection_colllist_show %}
<div class="sidebar-block collection-block">
  <div class="sidebar-title">{{ 'minimal.collection.collection_listing' |t }}</div>
  <div class="sidebar-content">
    <ul class="list-cat">
      <li class="active"><a href="{{ collection.url }}">View All</a></li>
      {% for coll in collections %}      
        {% if coll.title == collection.title %}
          <li class="active"><a href="{{ coll.url}}">{{ coll.title }}</a></li>
        {% else %}
          <li><a href="{{ coll.url}}">{{ coll.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if settings.collection_filter_show %}
<div class="sidebar-block filter-block">
  <div class="sidebar-title">{{ 'minimal.collection.filter_title' |t }}</div>
  <div id="tags-filter-content" class="sidebar-content">
     {% include 'collection_tag-filter' %}
  </div>
</div>
{% endif %}

{% if settings.collection_type_show %}
<div class="sidebar-block type-block">
  <div class="sidebar-title">{{ 'minimal.collection.type_title' |t }}</div>
  <div class="sidebar-content">
    <ul>
     {% for product_type in shop.types %}
      <li>
        {{ product_type | link_to_type }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}