{% if settings.show_multiple_currencies %}

{{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
{{ "jquery.currencies.min.js" | asset_url | script_tag }}

<script>

 jQuery('.currencies li').on(clickEv, function() {
    if(!$(this).hasClass('active')){
      jQuery('.currencies li').removeClass('active');
      var cls = jQuery(this).attr('class');
      jQuery('.' + cls).addClass('active');
      
      /*var selectedValue = jQuery(this).find('input[type=hidden]').val();
      jQuery('.currencies_src option[value='+selectedValue+']').attr('selected', true);
      jQuery('.currencies_src').change();
      jQuery('.currency').removeClass('open');*/
      var selectedValue = jQuery(this).find('input[type=hidden]').val();
      Currency.convertAll(Currency.currentCurrency, selectedValue);
      jQuery('.currency_code').html(Currency.currentCurrency);
      jQuery(this).parents('#currency').removeClass('open');
    }
  });  
  
Currency.format = '{{ settings.currency_format | default: 'money_with_currency_format' }}';

var shopCurrency = '{{ shop.currency }}';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.moneyFormats[shopCurrency].money_with_currency_format = {{ shop.money_with_currency_format | strip_html | json }};
Currency.moneyFormats[shopCurrency].money_format = {{ shop.money_format | strip_html | json }};
  
/* Default currency */
var defaultCurrency = '{{ settings.default_currency | default: shop.currency }}';
  
/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
jQuery('span.money span.money').each(function() {
  jQuery(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
jQuery('span.money').each(function() {
  jQuery(this).attr('data-currency-{{ shop.currency }}', jQuery(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
    jQuery('.currency_code').html(defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if (jQuery('[name=currencies]').size() && jQuery('[name=currencies] option[value=' + cookieCurrency + ']').size() === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;  
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
  jQuery('#currencies li').removeClass('active');
  jQuery('#currencies #currency-'+cookieCurrency).addClass('active');
  jQuery('.currency_code').html(cookieCurrency);
}

jQuery('[name=currencies]').val(Currency.currentCurrency).change(function() {
  var newCurrency = jQuery(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  jQuery('.currency_code').html(Currency.currentCurrency);
  jQuery(this).parents('#currency').removeClass('open');
  jQuery('.selected-currency').text(Currency.currentCurrency);
});

$('.currencies li').removeClass('active');
$('.currencies .currency-' + Currency.cookie.read()).addClass('active');  
  
var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.selected-currency').text(Currency.currentCurrency);
};

$('body').on('ajaxCart.afterCartLoad', function(cart) {
  Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
  jQuery('.currency_code').html(Currency.currentCurrency);
  jQuery(this).parents('#currency').removeClass('open');
  jQuery('.selected-currency').text(Currency.currentCurrency);  
});

jQuery('.selected-currency').text(Currency.currentCurrency);

  function currenciesCallbackSpecial(id){
    jQuery(id).each(function() {
      jQuery(this).attr('data-currency-{{ shop.currency }}', jQuery(this).html());
    });
    Currency.convertAll(shopCurrency, Currency.cookie.read(), id);
  }
</script>

{% endif %}