
<div class="groupbottomblocks-title"><h4>{{ settings.home_followus_title | upcase}}</h4></div>
<div class="groupbottomblocks-content">
  {{ settings.home_followus_content }}
</div>
<div class="followus-content footer_social">
  {% if settings.home_facebook_link != blank %}<a href="{{ settings.home_facebook_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Facebook' }}" class="icon-social facebook"><i class="fa fa-facebook"></i></a>{% endif %}
  {% if settings.home_twitter_link != blank %}<a href="{{ settings.home_twitter_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Twitter' }}" class="icon-social twitter"><i class="fa fa-twitter"></i></a>{% endif %}            
  {% if settings.home_google_link != blank %}<a href="{{ settings.home_google_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Google+' }}" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>{% endif %}                        
  {% if settings.home_linkedin_link != blank %}<a href="{{ settings.home_linkedin_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'linkedin' }}" class="icon-social linkedin"><i class="fa fa-linkedin"></i></a>{% endif %}                        
  {% if settings.home_pinterest_link != blank %}<a href="{{ settings.home_pinterest_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Pinterest' }}" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>{% endif %}
  {% if settings.home_instagram_link != blank %}<a href="{{ settings.home_instagram_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Instagram' }}" class="icon-social instagram"><i class="fa fa-instagram"></i></a>{% endif %}                                    
  {% if settings.home_youtube_link != blank %}<a href="{{ settings.home_youtube_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Youtube' }}" class="icon-social youtube"><i class="fa fa-youtube"></i></a>{% endif %}	
  {% if settings.home_vimeo_link != blank %}<a href="{{ settings.home_vimeo_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Vimeo' }}" class="icon-social vimeo"><i class="fa fa-vimeo"></i></a>{% endif %}	
  {% if settings.home_tumblr_link != blank %}<a href="{{ settings.home_tumblr_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Tumblr' }}" class="icon-social tumblr"><i class="fa fa-tumblr"></i></a>{% endif %}	
</div>
