{% assign submenu = l.title | handleize %}
{% if settings.megamenu_items_1 == l.title or settings.megamenu_items_2 == l.title or settings.megamenu_items_3 == l.title %}
<li class="{% if l.active %}active {% endif %}dropdown mega-menu">
  <a href="{{ l.url }}" {% if settings.megamenu_items_3 == l.title %} onclick="add_href('{{ l.url }}');" id="show_href{{check_mobile}}" {% endif %}class="dropdown-toggle dropdown-link" data-toggle="dropdown">
    <span>{{ l.title }}</span>
    <i class="fa fa-angle-down"></i>
    <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
    <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
  </a>
  {% if settings.megamenu_items_1 == l.title %}  
  <div class="megamenu-container col-4 megamenu-container-1 dropdown-menu" {% if settings.display_menu_image_1 %} style="background-image:url({{ 'mega-bg-01.png' | asset_url }})"{% endif %}>
    <ul class="sub-mega-menu">
      {% if settings.mega_linklist_1_1 != "" %}
      <li class="mega1-collumn1 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_1_1] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_1_2 != "" %}
      <li class="mega1-collumn2 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_1_2] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_1_3 != "" %}
      <li class="mega1-collumn3 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_1_3] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_1_4 != "" %}
      <li class="mega1-collumn4 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_1_4] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
    <div class="megamenu-collection-1">
      {% for product in collections[settings.megamenu_items_1_collection].products limit: 5 %}
      <div class="megamenu-product">     
        {% include 'navigation_proditem' %}
      </div>
      {% endfor %}
    </div>
    <span class="megamenu-action-1">
      <a href="/collections/all">{{ settings.megamenu_items_1_actiontext | capitalize }}<i class="fa fa-angle-double-right"></i></a> 
    </span>
    <script>
      $(window).ready(function($) {
        $('.megamenu-container-1').css("width",$('.main-header-inner').innerWidth());
      });
      $( window ).resize(function() {
        $('.megamenu-container-1').css("width",$('.main-header-inner').innerWidth());
      });
    </script>
  </div>  
  {% elsif settings.megamenu_items_2 == l.title %}
  <div class="megamenu-container megamenu-container-2 dropdown-menu" {% if settings.display_menu_image_2 %} style="background-image:url({{ 'mega-bg-02.png' | asset_url }})"{% endif %}>
    <ul class="sub-mega-menu">
      {% if settings.mega_linklist_2_1 != "" %}
      <li class="mega1-collumn1 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_2_1] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_2_2 != "" %}
      <li class="mega1-collumn2 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_2_2] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_2_3 != "" %}
      <li class="mega1-collumn3 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_2_3] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if settings.mega_linklist_2_4 != "" %}
      <li class="mega1-collumn4 col-sm-3">
        {% assign list = linklists[settings.mega_linklist_2_4] %}
        <ul>
          <li class="list-title">{{ list.title }}</li>
          {% for link in list.links %}
          <li class="list-unstyled li-sub-mega">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>           
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
    <div class="megamenu-collection-1">
      {% for product in collections[settings.megamenu_items_2_collection].products limit: 5 %}
      <div class="megamenu-product">     
        {% include 'navigation_proditem' %}
      </div>
      {% endfor %}
    </div>
    <span class="megamenu-action-1">
      <a href="/collections/all">{{ settings.megamenu_items_1_actiontext | capitalize }}<i class="fa fa-angle-double-right"></i></a> 
    </span>
    <script>
      $(window).ready(function($) {
        $('.megamenu-container-2').css("width",$('.main-header-inner').innerWidth());
      });
      $( window ).resize(function() {
        $('.megamenu-container-2').css("width",$('.main-header-inner').innerWidth());
      });
    </script>
  </div>
  {% elsif settings.megamenu_items_3 == l.title %}
  <div class="megamenu-container megamenu-container-3 dropdown-menu">                  
    <div class="tabbable">
      <ul class="nav nav-pills nav-stacked">
        {% for i in (1..3) %}
        {% capture show %}megamenu_3_{{ i }}{% endcapture %}
        {% capture title %}megamenu_3_{{ i }}_title{% endcapture %}
        {% if settings[show] %}
        {% if i == 1 %}
        <li class="active" onclick="remove_href();" ><a href="#{{show}}{{check_mobile}}" data-toggle="tab">{{settings[title]}}</a></li>
        {% else %}
        <li  onclick="remove_href();"><a href="#{{show}}{{check_mobile}}" data-toggle="tab">{{settings[title]}}</a></li>
        {% endif %} 
        {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for i in (1..3) %}
        {% capture show %}megamenu_3_{{ i }}{% endcapture %}
        {% if settings[show] %}
        {% if i == 1 %}
        <div class="tab-pane active" id="{{show}}{{check_mobile}}">
          <div class="tab-pane-group">
            {% for j in (1..6) %}
            {% capture vendor %}https://cs-men-fashion-ties.myshopify.com/collections/vendors?q=Vendor%20{{ j }}{% endcapture %}
            {% if j > 4 %}
            	{% capture vendor %}https://cs-men-fashion-ties.myshopify.com/collections/vendors?q=Vendor%20{{ j | minus:4 }}{% endcapture %}
            {% endif %}
            {% capture image %}megamenu_3_{{ i }}_{{ j }}.png{% endcapture %}
            <div class=" megamenu-img">
              <a href="{{vendor}}">
              	<img src="{{ image | asset_url }}" alt="{{image}}" onError="style.display = 'none';" />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="tab-pane" id="{{show}}{{check_mobile}}">
          <div class="tab-pane-group active">            
              {% for j in (1..6) %}
              {% capture vendor %}https://cs-men-fashion-ties.myshopify.com/collections/vendors?q=Vendor%20{{ j }}{% endcapture %}
              {% if j > 4 %}
                  {% capture vendor %}https://cs-men-fashion-ties.myshopify.com/collections/vendors?q=Vendor%20{{ j | minus:4 }}{% endcapture %}
              {% endif %}
              {% capture image %}megamenu_3_{{ i }}_{{ j }}.png{% endcapture %}
              <div class="megamenu-img">
                <a href="{{vendor}}">
                  <img src="{{ image | asset_url }}" alt="{{image}}" onError="style.display = 'none';" />
                </a>
              </div>
              {% endfor %}            
          </div>
        </div>
        {% endif %} 
        {% endif %}
        {% endfor %}
      </div>
    </div>           
    <!-- /row -->
    <script>
      function remove_href(){
      	$("#show_hrefno").attr("href", "#");
      }
      function add_href(href){
      	$("#show_hrefno").attr("href", href);
      }
    </script>
  </div>
  {% endif %}
</li>
{% else %}

{% if linklists[submenu].links.size > 0 %}
<li class="nav-item{% if l.active %} active{% endif %} dropdown navigation">
  <a href="{{ l.url }}" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
    <span>{{ l.title }}</span>
    <i class="fa fa-angle-down"></i>
    <i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
    <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="list-title">{{ l.title }}</li>
    {% for l in linklists[submenu].links %}
    {% include 'navigation_sub-links' with forloop.index %}
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="nav-item{% if l.active %} active{% endif %}">
  <a href="{{ l.url }}">
    <span>{{ l.title }}</span>
  </a>
</li>
{% endif %}
{% endif %}