
  <div class="row-container product list-unstyled clearfix">  
    <div class="row-left">
      <a href="{{ product.url | within: collection }}" class="hoverBorder container_item"> 
        <div class="hoverBorderWrapper">
          {% for image in product.images %}
          
          {% endfor %}
          {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
          {% assign number_images = number_of_images | plus:0 %}
          <img src="{{ product.featured_image | product_img_url: 'large' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
          <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
          {% if number_images > 1 and settings.product_item_effect == 'rotation' %}
          <span class="hidden-sm hidden-xs back">
            <img src="{{ product.images[1]| product_img_url: 'large' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />    
          </span>
          
          {% endif %}
        </div>
      </a>
    </div>
  </div> 
