  <div id="newsletter-popup" class="modal fade" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="nl-wraper-popup bounceInDown" style="background-image: url({{ 'mailing_bg.png' | asset_url }})">
      <div class="nl-wraper-popup-inner"> 
<!--         <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
          <h4>{{ settings.news_title }}</h4>    
          {{ settings.news_sub }}      
          <div class="group_input">
            <input class="form-control" type="email" name="EMAIL" placeholder="{{ settings.news_input }}" />
            <button class="btn" type="submit"><i class="fa fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Submit"></i></button>
          </div>       
        </form> -->
        
        {% form 'customer' %}
          <h4>{{ settings.news_title }}</h4>    
          {{ settings.news_sub }}   
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form-success" style="color: #fff; font-size: 18px; text-align: center; text-transform: capitalize;">Thanks for signing up!</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" id="mail" class="input-group-field newsletter-signup" placeholder="Enter your email here" style="color:#aaa; height: 30px; width: 230px; border: 1px solid #323232; padding: 0 5px;">
            <button type="submit" name="subscribe" class="btn subscribeBtn" style="height: 30px; line-height: 30px; padding: 0 10px; background-color: #FF5576; color: #fff; margin-left: -5px;">
              <input style="background-color: transparent; border: none; line-height: 20px; height: 30px;"type="submit" value="Subscribe">
            </button>
          {% endif %}
        {% endform %}
        <br><br>
        <p class="popup-privacy-link" style="font-size: 11px;">TBS's use of your email will be consistent with its <a style="color: #FF5576;" href="http://www.tbs.com/privacy.html">privacy policy.</a></p>
        
        <div class="nl-popup-close"><span onclick="$('#newsletter-popup').modal('hide')"  data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-times"></i></span></div>
      </div>
    </div>
  </div>