<div class="sidebar-block collection-block">
  <div class="sidebar-title">{{ 'minimal.collection.collection_listing' |t }}</div>
    <div class="sidebar-content">
      <ul class="list-cat">  
        <li {% if collection.handle == 'baby-apparel' %} class="active" {% endif %}>
            <a href="/collections/baby-apparel" title="Baby Apparel">
                Baby Apparel
            </a>
        </li>
        <li {% if collection.handle == 'hoodies' %} class="active" {% endif %}>
            <a href="/collections/hoodies" title="Hoodies">
                Hoodies
            </a>
        </li>
        <li {% if collection.handle == 'shirts' %} class="active" {% endif %}>
            <a href="/collections/shirts" title="Shirts">
                Shirts
            </a>
        </li>
        <li>
            <a href="/collections/apparel" title="Apparel">
                View All Apparel
            </a>
        </li>
	  </ul>
	</div>
</div>
