<div class="sidebar-block collection-block">
  <div class="sidebar-title">{{ 'minimal.collection.collection_listing' |t }}</div>
    <div class="sidebar-content">
      <ul class="list-cat">  
        <li {% if collection.handle == category.handle %} class="active" {% endif %}>
            <a href="/collections/sp-mugs" title="SP Mugs">
                Mugs
            </a>
        </li>
        <li {% if collection.handle == category.handle %} class="active" {% endif %}>
            <a href="/collections/sp-phonecases" title="SP Phone Cases">
                Phone Cases
            </a>
        </li>
        <li {% if collection.handle == category.handle %} class="active" {% endif %}>
            <a href="/collections/sp-shirts" title="SP Shirts">
                Shirts
            </a>
        </li>
        <li {% if collection.handle == category.handle %} class="active" {% endif %}>
            <a href="/collections/sp-totebags" title="SP Tote Bags">
                Tote Bags
            </a>
        </li>
        {% if collection.title == 'Search Party' %}
        <li class="active">
            <a href="/collections/search-party" title="Search Party">
                View All
            </a>
        </li>
        {% endif %}
	  </ul>
	</div>
</div>
