<div class="sidebar-block collection-block">
  <div class="sidebar-title">{{ 'minimal.collection.collection_listing' |t }}</div>
    <div class="sidebar-content">
      <ul class="list-cat">   
        <li {% if collection.handle == 'full-frontal-with-samantha-bee-accessories' %} class="active" {% endif %}>
            <a href="/collections/full-frontal-with-samantha-bee-accessories" title="FFSB Accessories">
                Accessories
            </a>
        </li>
        <li {% if collection.handle == 'full-frontal-with-samantha-bee-shirts' %} class="active" {% endif %}>
            <a href="/collections/full-frontal-with-samantha-bee-shirts" title="FFSB Apparel">
                Apparel
            </a>
        </li>
        <li {% if collection.handle == 'full-frontal-with-samantha-bee-mugs' %} class="active" {% endif %}>
            <a href="/collections/full-frontal-with-samantha-bee-mugs" title="FFSB Mugs">
                Mugs
            </a>
        </li>
        <li {% if collection.handle == 'full-frontal-with-samantha-bee-notebooks' %} class="active" {% endif %}>
            <a href="/collections/full-frontal-with-samantha-bee-notebooks" title="FFSB Notebooks">
                Notebooks
            </a>
        </li>
        <li {% if collection.handle == 'full-frontal-with-samantha-bee-phone-cases' %} class="active" {% endif %}>
            <a href="/collections/full-frontal-with-samantha-bee-phone-cases" title="FFSB Phone Cases">
                Phone Cases
            </a>
        </li>
        
        {% if collection.title == 'Full Frontal with Samantha Bee' %}
        <li class="active">
            <a href="/collections/full-frontal-with-samantha-bee" title="Full Frontal With Samantha Bee">
                View All
            </a>
        </li>
        {% else %}
        <li>
            <a href="/collections/full-frontal-with-samantha-bee" title="Full Frontal With Samantha Bee">
                View All
            </a>
        </li>
        {% endif %}
	  </ul>
	</div>
</div>
