<div class="social">
  {% if settings.social_facebook_link != blank %}
  	<a target="_blank" href="https://www.facebook.com/fullfrontalsamb" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
      <i class="fa fa-facebook"></i>
  	</a>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
    <a target="_blank" href="https://twitter.com/fullfrontalsamb" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
      <i class="fa fa-twitter"></i>
    </a>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  	<a target="_blank" href="https://www.instagram.com/fullfrontalsamb/" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
      <i class="fa fa-instagram"></i>
  	</a>
  {% endif %}
</div>