{% if settings.footer_info %}
<section class="information-block">
  <div class="information-wrapper">
    <div class="container">
      <div class="row">
        <div class="information-inner">
<!--           <div class="footer_infologo"><a href="{{ shop.url}}"><img src="{{ 'footer_logo.png' | asset_url }}" alt="footer_logo" /></a></div> -->
          <div class="footer_content">
            {% if settings.fi_about_show%}
              <div class="footer-block01 about-us col-ms-5 col-md-5">
                <div class="footer-title "><h5 class="footerTitle">{{ settings.fi_about_title }}</h5></div>
                <div class="fi-aboutus-content">
                  {{ settings.fi_about }}
                </div>
              </div>
            {% endif %}
            {% if settings.useful_show %}
            <div class="footer-block02 aboutus-links col-ms-4 col-md-4">
                <div class="footer-title"><h5 class="footerTitle">{{ settings.useful_title }}</h5></div>
                <div class="fi-useful-content">
                  	<a class="footerLinks" href="http://www.tbs.com/privacy.html"><p style="margin-bottom: 0;">TBS Privacy Policy</p></a>
              		<a class="footerLinks" href="http://www.tbs.com/terms.html"><p style="margin-bottom: 0;">TBS Terms &amp; Conditions</p></a>
              		<a class="footerLinks" href="/pages/privacy-policy"><p style="margin-bottom: 0;">Araca Privacy Policy</p></a>
              		<a class="footerLinks" href="/pages/terms-conditions"><p style="margin-bottom: 0;">Araca Terms &amp; Conditions</p></a>
              		<a class="footerLinks" href="/pages/safe-shopping-guarantee"><p style="margin-bottom: 0;">Safe Shopping Guarantee</p></a>
                  <a class="footerLinks" href="/pages/privacy-policy#your-rights-under-ccpa"><p style="margin-bottom: 0;">Do Not Sell My Info</p></a>
                </div>
            </div>
            {% endif %}
            {% if settings.instagram_show %}
            <div class="footer-block03 instagram_feed col-ms-3 col-md-3" id="follow-us" style="padding-left: 50px;">
              <div class="footer-title"><h5 class="footerTitle">Newsletter</h5></div>
              {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p class="form-success" style="color: #fff; font-size: 18px; text-align: center; text-transform: capitalize;">Thanks for signing up!</p>
                {% else %}
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" id="mail" class="input-group-field newsletter-signup" placeholder="Enter your email here" style="color:#aaa; height: 30px; width: 230px; border: 1px solid #323232; padding: 0 5px;">
                  <button type="submit" name="subscribe" class="btn subscribeBtn" style="height: 30px; line-height: 30px; padding: 0 10px; background-color: #FF5576; color: #fff; margin-left: -5px;">
                    <input style="background-color: transparent; border: none; line-height: 20px; height: 30px;"type="submit" value="Subscribe">
                  </button>
                {% endif %}
              {% endform %}
              <div class="footer-title" style="padding-top: 20px; margin-bottom: 10px;"><h5 class="footerTitle">{{ settings.instagram_title }}</h5></div>
              <div class="footer-content" style="margin-bottom: 10px;">
  					<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #FF5576; color: #FF5576;" alt="Facebook" href="https://www.facebook.com/TBSNetwork/" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"><i class="fa fa-facebook" style="width: 15px;height: 15px;"></i></a>
    				<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #FF5576; color:#FF5576;" alt="Twitter" href="https://twitter.com/TBSNetwork/" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"><i class="fa fa-twitter" style="width: 15px;height: 15px;"></i></a>
  					<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #FF5576; color:#FF5576;" alt="YouTube" href="https://www.youtube.com/user/TBS" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}"><i class="fa fa-youtube" style="width: 15px;height: 15px;"></i></a>
                	<a target="_blank" class="footerLinks" style="padding: 8px; border-radius: 50%;border: 3px solid #FF5576; color:#FF5576;" alt="Instagram" href="https://www.instagram.com/tbsnetwork/" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"><i class="fa fa-instagram" style="width: 15px;height: 15px;"></i></a>
              </div>
                	<p class="phone"><i class="fa fa-phone"></i> 800-353-1092</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="copy-right">
  <div class="copy-right-wrapper">
    <div class="container">
      <div class="row">
        <div class="copy-right-inner">
          <div class="footer_links">
            <ul>
              {% assign list = linklists[settings.footer_info_link] %}
              {% for link in list.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a><i class="">/</i></li>
              {% endfor %}
            </ul>
          </div>
          <div class="footer_copyright">
            <div id="copy-text1">Shop.tbs.com is operated under a license from Turner Entertainment Networks, Inc. by Araca Merchandise L.P.,<br> which is solely responsible for the site's content and all aspects of your purchase.</div>
            <img id="araca-logo"src="https://cdn.shopify.com/s/files/1/1499/2644/files/AracaLogo-White.png?546078065720797656" >
          <span id="copy-text2">&copy; 2016 All Rights Reserved.<br><br/>&trade; & &copy; 2016 Turner Entertainment Networks, Inc.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
