<style>
  #main-content{
    padding-top: 0px!important;  
  }
</style>

{% if settings.collection_banner_show and collection.image %}
<section class="top-banner list-collection-banner">
  <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title | escape }}" />
</section>
{% endif %}

{% if collection.handle == "all" %}
<section class="list-collection-banner">
  <img src="{{ 'collection_banner_all.jpg' | asset_url }}" alt="{{'collections.general.all_items'|t}}" />
</section>
{% endif %}


<div class="home-wrapper">
  {% if collection.title contains "Full Frontal with Samantha Bee"%}
  <div class="home-header"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/SamBeeHeader_Wednesdays.jpg?1017566125421223808"></div>
  {% else %}
    {% if collection.title contains "Search Party" %}
    <div class="home-header"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/tbs_header_spy.jpg?17305660533736460144"></div>
    {% endif %}
  {% endif %}
</div>

<!-- <section class="collection-heading">
  <div class="collection-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="collection-heading-inner">
          <h1 class="page-title"><span>{{ collection.title }}</span></h1>
          {% if settings.collection_desc_show and collection.description != "" %}
          {{ collection.description }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <div id="qab_placeholder" style="padding-top: 10px;" ></div> -->


<section class="collection-content">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="collection-inner">
          <!-- Tags loading -->
          <div id="tags-load" style="display:none;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
          <div id="collection">
            {% paginate collection.products by settings.pagination_limit %}
            <div class="collection-leftsidebar sidebar col-sm-3 clearfix">
              {% if collection.title contains "Full Frontal with Samantha Bee"%}
              	{% include 'collection_leftsidebar_ffsb' %}
              {% else %}
    			{% if collection.title contains "Search Party" %}
              		{% include 'collection_leftsidebar_sp' %}
                {% endif %}
              {% endif %}
            </div>
            <div class="collection-mainarea col-sm-9 clearfix">
              <div class="collection-toolbar">
                <div class="group_toolbar">
                  {% paginate collection.products by 12 %}
<!--                   <div class="breadcrumb clearfix">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
                    <span class="arrow-space">&#62;</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url"><span itemprop="title">{{ collection.title }}</span></a></span>

                    {% if current_tags %}
                    {% for tag in current_tags %}
                    <span class="arrow-space">&#62;</span>
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>
                    {% endfor %}
                    {% endif %}

                  </div> -->
                  {% endpaginate %}
                  <!-- View as -->
                  {% if settings.collection_grid_list %}
                  <div class="grid_list">
                    <ul class="list-inline option-set hidden-xs" data-option-key="layoutMode">
                      <li data-option-value="fitRows" id="goGrid" class="active goAction {% if settings.collection_grid_list_default == 'grid' %} active{% endif %}" data-toggle="tooltip" data-placement="top" title="Grid">
                        <i class="fa fa fa-th"></i>
                      </li>
                      <li data-option-value="straightDown" id="goList" class="goAction {% if settings.collection_grid_list_default == 'list' %} active{% endif %}" data-toggle="tooltip" data-placement="top" title="List">
                        <i class="fa fa-th-list"></i>
                      </li>
                    </ul>
                  </div>
                  {% endif %}
                  <!-- Number product per page -->
                  {% if settings.collection_perpage %}
                  <div class="show-per-page">
                    <div id="showButtonWarper" class="dropdown-toggle" data-toggle="dropdown">
                      <button id="showButton">
                        <span class="name">12 products per page</span>
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <i class="sub-dropdown1"></i>
                      <i class="sub-dropdown"></i>
                    </div>
                    <div id="showBox" class="control-container dropdown-menu">
                      <ul id="showForm" class="list-unstyled text-left list-styled">
                        <li class="show {% if settings.pagination_limit == "12"%}active{%endif%}">
                          <a href="/collections/{{collection.handle}}?view=12">{{'collections.perpage.12'|t}}</a>
                        </li>
                        <li class="show {% if settings.pagination_limit == "18"%}active{%endif%}">
                          <a href="/collections/{{collection.handle}}?view=18">{{'collections.perpage.18'|t}}</a>
                        </li>
                        <li class="show {% if settings.pagination_limit == "24"%}active{%endif%}">
                          <a href="/collections/{{collection.handle}}?view=24">{{'collections.perpage.24'|t}}</a>
                        </li>
                        <li class="show {% if settings.pagination_limit == "30"%}active{%endif%}">
                          <a href="/collections/{{collection.handle}}?view=30">{{'collections.perpage.30'|t}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  {% endif%}
                  <!-- Sort by -->
                  {% if settings.collection_sort and collection.products_count > 1 %}
                  <div class="sortBy">
                    <div id="sortButtonWarper" class="dropdown-toggle" data-toggle="dropdown">
                      <button id="sortButton">
                        <span class="name">{{'collections.sorting.featured'|t}}</span><i class="fa fa-caret-down"></i>
                      </button>
                      <i class="sub-dropdown1"></i>
                      <i class="sub-dropdown"></i>
                    </div>
                    <div id="sortBox" class="control-container dropdown-menu">
                      <ul id="sortForm" class="list-unstyled option-set text-left list-styled" data-option-key="sortBy">
                        <li class="sort manual"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=manual">{{'collections.sorting.featured'|t}}</a></li>
                        <li class="sort price-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-ascending">{{'collections.sorting.price_ascending'|t}}</a></li>
                        <li class="sort price-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-descending">{{'collections.sorting.price_descending'|t}}</a></li>
                        <li class="sort title-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-ascending">{{'collections.sorting.az'|t}}</a></li>
                        <li class="sort title-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-descending">{{'collections.sorting.za'|t}}</a></li>
                        <li class="sort created-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-ascending">{{'collections.sorting.date_ascending'|t}}</a></li>
                        <li class="sort created-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-descending">{{'collections.sorting.date_descending'|t}}</a></li>
                        <li class="sort best-selling"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=best-selling">{{'collections.sorting.best_selling'|t}}</a></li>
                      </ul>
                    </div>
                  </div>        
                  {% endif %}                  

                </div>
              </div>                

              {% if collection.products.size == 0 %}
              {% include 'helper-default-products' %}
              {% endif %}

              <div class="collection-items clearfix">
                <div class="products">
                  {% for product in collection.products %}
                  {% include 'collection_product_sidebar' with collection.handle %}
                  {% endfor %}
                </div>                  
              </div>
              <div class="collection-bottom-toolbar">
                <div class="product-counter col-sm-6">
                  {% if paginate.current_page == 1 %} {% capture xnumber %}1{% endcapture%}
                  {% else %} {% capture xnumber %} {{paginate.current_page | minus:1 | times: settings.pagination_limit | plus: 1}} {% endcapture%}
                  {% endif %}
                  {% capture ynumber%}{{paginate.current_page | times: settings.pagination_limit}} {% endcapture%}
                  {% if paginate.pages == paginate.current_page %} {% capture ynumber %} {{collection.products_count}} {% endcapture%}{%endif%}  
                  {{'minimal.collection.showing'|t:x:xnumber,y:ynumber,z:collection.products_count}}
                </div>
                <div class="product-pagination col-sm-6">
                  {% include 'pagination' %}
                </div>
              </div>
            </div>
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="home_featuredproduct_wrapper" style="padding-bottom: 40px;">
  <div class="container" id="ig-container">
    <div class="row">
      <div class="home_featuredproduct_inner">
        <div id="ig-header"><h4 id="ig-follow">Follow Full Frontal with Samantha Bee!</h4>
          <a href="https://www.facebook.com/fullfrontalsamb/"><i class="fa fa-facebook" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
          <a href="https://www.twitter.com/fullfrontalsamb/"><i class="fa fa-twitter" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/fullfrontalsamb/"><i class="fa fa-youtube" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/fullfrontalsamb/"><i class="fa fa-instagram" style="font-size: 18px; padding: 0 5px;" aria-hidden="true"></i></a>
          <p style="padding-top: 5px;">Visit <a target="_blank" href="http://www.samanthabee.com">SamanthaBee.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function() {
    if(location.search.search("sort_by=") == -1){

    }
    else{
      if(location.search != ""){
        var stpo = location.search.search("sort_by=")+8, sortby_url = '.'+location.search.substr(stpo).split('='), sortby_url_a = sortby_url+" a";
        $(sortby_url).addClass("active");
        $('#sortButton .name').html($(sortby_url_a).html());
      }
      else{
        $('.manual').addClass("active");
      }
    }    
  });
</script>
