<style>
  .main-banner-wrapper .home_maintouts_row .home_maintouts1{
    width: 33%; 
    display:inline-block;
    text-align: center;
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 767px){
    .main-banner-wrapper .home_maintouts_row .home_maintouts1{
      width: 32.9%!important;
    }
  }
  @media only screen and (max-width: 570px){
    .main-banner-wrapper .home_maintouts_row .home_maintouts1{
      width: 32.8%!important;
    }
  }
  @media only screen and (max-width: 460px){
    .main-banner-wrapper .home_maintouts_row .home_maintouts1{
      width: 32.7%!important;
    }
  }
  @media only screen and (max-width: 375px){
    .main-banner-wrapper .home_maintouts_row .home_maintouts1{
      width: 32.6%!important;
    }
  }
  @media only screen and (max-width: 320px){
    .main-banner-wrapper .home_maintouts_row .home_maintouts1{
      width: 32.5%!important;
    }
  }
  .main-banner-wrapper{    
    max-width: 1200px;
    margin: 0 auto;
  }
  #home_topbanner{clear: both;}
  .main-slideshow{
    clear: both;
    display:block!important
  }
</style>
<!-- <div class="main-banner-wrapper">
  <div class="home_maintouts_row">
    <div class="home_maintouts1"><a href="/collections/full-frontal-with-samantha-bee"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/sambee_main2017.png?10053563584343084645"></a></div>
    <div class="home_maintouts1"><a href="/collections/conan"><img src="{{ 'tbs_header_conan.jpg' | asset_url }}"></a></div>
    <div class="home_maintouts1"><a href="/collections/search-party"><img src="{{ 'tbs_header_searchparty.jpg' | asset_url }}"></a></div>
  </div>
</div> -->

{% if settings.maincarousel_active %}
<section class="main-slideshow">
  <div id="home-slideshow" class="home-slideshow-wrapper">
    {% if settings.slide-active-1 != false or slide-active-2 != false or settings.slide-active-3 != false or settings.slide-active-4 != false or settings.slide-active-5 != false %}    
    <div class="home-slideshow-inner">
      <div class="home-slideshow">
        <ul class="slides">
          {% for i in (1..5) %}
          {% capture show_slide %}slide-active-{{ i }}{% endcapture %}
          {% capture image %}slide-image-{{ i }}.jpg{% endcapture %}
          {% capture caption %}slide-caption-{{ i }}{% endcapture %}                  
          {% capture link %}slide-link-{{ i }}{% endcapture %}                           
          {% capture actiontext %}slide-action-text-{{ i }}{% endcapture %}
          {% capture captionposition %}slide-position-{{ i }}{% endcapture %}          
          {% if settings[show_slide] %}
          <li class="slideshow-{{i}}">
            <a class="slide-action" href="{{settings[link]}}">
              <img src="{{ image | asset_url }}" alt="{{image}}" />
              <div class="caption position-{{ settings[captionposition] }}">
                <div class="slide-caption">
                  <div class="dis_tablecell">
                    <div class="container">
                      <p>{{ settings[caption] }}</p>
                    </div>                  
                  </div>                    
                </div>                             
              </div>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

<!-- <section class="home_sectouts">
  <div class="home_sectouts_row">
    <div class="home_sectouts_img" id="home_sectouts_img1"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/tbs_homesec_shirts.jpg?282504578152086814"></div>
    <div class="home_sectouts_img" id="home_sectouts_img2"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/tbs_homesec_notebooks.jpg?282504578152086814"></div>
    <div class="home_sectouts_img" id="home_sectouts_img3"><img src="https://cdn.shopify.com/s/files/1/1499/2644/files/tbs_homesec_tote.jpg?282504578152086814"></div>
  </div>
</section> -->

{% if settings.home_topbanner_active %}
<section id="home_topbanner">
  <div class="home_topbanner_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_topbanner_inner">
          {% for i in (1..3) %}
            {% capture caption %}home_topbanner_{{ i }}_caption{% endcapture %}
          	{% capture link %}home_topbanner_{{ i }}_link{% endcapture %}
            {% capture image %}home_topbanner_{{ i }}_image.jpg{% endcapture %}
            <div class="col-sm-4">
              <div class="home_topbanner_right">
                <a href="{{ settings[link] }}"><img class="home_coll3Img" src='{{ image | asset_url }}' alt=""></a>
              </div>
            </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if settings.home_topbanner2_active %}
<section id="home_topbanner">
  <div class="home_topbanner_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_topbanner_inner">
          {% for i in (1..3) %}
            {% capture caption %}home_topbanner2_{{ i }}_caption{% endcapture %}
          	{% capture link %}home_topbanner2_{{ i }}_link{% endcapture %}
            {% capture image %}home_topbanner2_{{ i }}_image.jpg{% endcapture %}
            <div class="col-sm-4">
              <div class="home_topbanner_left">
                <div class="caption_banner">
                  {{ settings[caption] }}
                </div>                
                <a class="home_topbanner_action" href="{{settings[link]}}">{{settings.home_topbanner2_actiontext}}<i class="fa fa-angle-double-right"></i></a>
              </div>
              <div class="home_topbanner_right">
                <a href="{{ settings[link] }}"><img class="home_coll3Img" src='{{ image | asset_url }}' alt=""></a>
              </div>
            </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if settings.home_newarrival_active %}
<section id="home_newarrival_layout">
  <div class="home_newarrival_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_newarrival_inner">
          <div class="home_newarrival-title home-title"><h4>{{ settings.home_newarrival_title }}</h4></div>
          <div class="home_newarrival-content home-content"> 
            <div class="newarrival-products">
              {% for product in collections[settings.home_newarrival_collection].products limit: settings.home_newarrival_number %}
              <div class="col-sm-12 product-group">     
                {% include 'index_proditem' %}
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>   
</section>
{% endif %}

{% if settings.home_groupbottomblocks_active %}
<section id="home_groupbottomblocks">
  <div class="home_groupbottomblocks_wrapper">
    <div class="container">
      <div class="row">
        <div class="home_groupbottomblocks_inner">
          {% if settings.home_blog_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_blog' %}
            </div>
          {% endif %}
          {% if settings.home_followus_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_follow' %}
            </div>
          {% endif %}
          {% if settings.home_newsletter_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_newsletter' %}
            </div>
          {% endif %}
          {% if settings.home_styleguide_enable %}
            <div class="col-sm-3">
              {% include 'groupbottomblocks_styleguide' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>   
</section>
{% endif %}

