
<header class="page-header">
    <h2>{{ page.title }}</h2>
</header>

<div class="rte">
  <style type="text/css">
  .privacy-policy {
    font: 300 13px/15px Arial, sans-serif;
    max-width: 996px;
    margin: auto;
  }

  .privacy-policy a {
    color: blue;
  }

  .privacy-policy .strong {
    font-weight: 600;
  }

  .privacy-policy .columns {
    border: 1px solid #000;
    padding: 5px;
  }

  .privacy-policy div {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }

  .privacy-policy ul {
    padding: 0 40px;
    list-style: disc;
  }

  .privacy-policy ol {
    padding: 0 40px;
    list-style: upper-roman;
  }
  </style>

  <div class="privacy-policy">
    <h1>PRIVACY POLICY</h1>
    <p>Last Updated: January 24, 2020</p>
    <hr>
    <div>
        <p>Welcome to {{ shop.name }}! This shop is owned and operated by Araca Merchandise L.P. Like you, everyone at Araca is a huge fan of entertainment. We specialize in creating online shops that help fans pursue their passion for collecting. Thank you for visiting and have a great time!</p>
        <p>Your privacy is important to us. Araca Merchandise L.P. and its affiliates (&ldquo;Araca,&rdquo; &ldquo;we,&rdquo; &ldquo;us,&rdquo; or &ldquo;our&rdquo;) provide this notice explaining our information practices and the choices you can make about the collection and use of information while you are shopping in our online shops, including via mobile sites (collectively, the &ldquo;Services&rdquo;). For certain offerings of our Services, there may be additional notices about information practices and choices. Please read those additional privacy disclosures to understand how they apply to you.</p>
        <p class="strong"><em>By visiting our shop, you are accepting and consenting to the practices described in this Privacy Policy. Please read them carefully.&nbsp; You can change your consent to this Privacy Policy, or manage your privacy preferences, at any time <a href="#consentmanagement-trigger-extended">here</a>.&nbsp;</em></p>
        <p>The following is a summary of the highlights of our Privacy Policy that we thought you would be most interested in:</p>
        <table>
            <tbody>
                <tr>
                    <td width="444" class="columns">
                        <p><a href="#info-we-collect">Information We Collect From You</a></p>

                        <ul>
                            <li><strong>Account information you provide</strong>.&nbsp;&nbsp; When you register for an account or engage with our Services, you provide personal information (e.g., name, address, e-mail, phone number, credit card information) to allow us to service your account.</li>
                            <li><strong>Other information you provide</strong>.&nbsp; You may also provide us with information when interacting with our Services, e.g., information about your interests in our products and services.</li>
                            <li><strong>Your activity in the Store</strong>. We collect information on the Store pages you visit, the locations you click on, the items you add to your shopping cart, and the products you buy.</li>
                            <li><strong>Information from your device</strong>.&nbsp; We collect information from the browser you use, and your navigation to and away from our Store.&nbsp; We use Cookies to collect this information.&nbsp;</li>
                        </ul>
                    </td>
                    <td width="444" class="columns">
                        <p><a href="#your-choices">Managing Your Information</a></p>

                        <ul>
                            <li>You may erase, update or correct your profile information through our <a href="/account">Account Settings page</a>, by sending us an email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>, or by calling 1-877-640-2120.</li>
                            <li>If you want to unsubscribe or receive fewer promotional e-mails, click the Update Your Preferences link included in our marketing emails, or simply follow the unsubscribe instructions in our marketing e-mails.</li>
                            <li>To reject certain cookies, choose the option in your browser settings to receive a notice before a cookie is stored on your device. To specify which cookies you wish to accept, click <a href="#consentmanagement-trigger-extended">here</a>.</li>
                            <li>To opt-out of use of cookies by certain of our advertisers or technology vendors who help deliver ads tailored to your profile and preferences, visit&nbsp;<a href="http://www.networkadvertising.org/">Network Advertising Initiative</a>&nbsp;and/or the&nbsp;<a href="http://www.aboutads.info/choices">Self-Regulatory Program for Online Behavioral Advertising</a>&nbsp;or&nbsp;<a href="http://youronlinechoices.com/">Your Online Choices</a>.</li>
                            <li>Your devices provide certain opt-out choices that you can control. Consult your device settings for more information.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td width="444" class="columns">
                        <p><a href="#use-of-info">How We Use Your Information</a></p>

                        <ul>
                            <li><strong>To fulfill your orders</strong>.&nbsp; We use the account information you provide to fulfill your requests, track and ship orders, and to communicate with you regarding an order.</li>
                            <li><strong>To improve our Services</strong>.&nbsp; We use your purchases and preferences to enhance and improve our product offerings, services, and business operations.</li>
                            <li><strong>To suggest additional Services and products</strong>.&nbsp; We may display personalized content and advertising from us or from our business partners to provide information on products and messages we think will interest you.</li>
                        </ul>
                    </td>
                    <td class="columns">
                        <p><a href="#disclosure-of-info">Disclosure of Information</a></p>

                        <p>We may share your information:</p>
                        <ul>
                            <li>Where we have your consent.</li>
                            <li>With third party service providers and other companies that work on our behalf or with our affiliates.</li>
                            <li>With business partners, such as those who sponsor a sweepstakes, contest or promotion.</li>
                            <li>With the licensor of this website, and the licensor&rsquo;s affiliates.</li>
                            <li>In the event of a corporate transaction.</li>
                            <li>When required by law.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td width="444" class="columns">
                        <p><a href="#additional-info">Additional Information</a></p>

                        <ul>
                            <li>We take appropriate security measures designed to safeguard the information we collect.</li>
                            <li>We do not sell products for purchase by children. We sell products for purchase by adults.</li>
                            <li>We operate internationally, but our computer systems are based in the U.S., so your information will be processed in the U.S. that may have different data laws than your country.</li>
                        </ul>
                    </td>
                    <td class="columns">
                        <p><a href="#your-california-privacy-rights">Your California Privacy Rights</a></p>

                        <p>The California Consumer Privacy Act (“CCPA”) gives California residents certain rights:</p>
                        <ul>
                            <li>The right to request more details about (i) the categories of information we collect or (ii) the specific pieces of personal information we collect (and how we use or disclose that information);</li>
                            <li>The right to update or delete your personal information;</li>
                            <li>The right to <a href="#consentmanagement-trigger-extended">opt out</a> of any sale of your information; and</li>
                            <li>The right not to face discrimination for exercising your CCPA rights.</li>
                        </ul>

                        <p>You may email <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a> or call 877-640-2120 (toll free) to exercise any of your CCPA rights.</p>
                    </td>
                </tr>
                <tr>
                  <td width="444" class="columns">
                    <p><a href="#contact-us">Contact us</a></p>

                    <p>If you have any questions about this Privacy Policy, please contact us at&nbsp;<a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>&nbsp;or at</p>
                    <p>Araca Merchandise L.P.
                        <br /> Attn: Privacy Resolution Team
                        <br /> 545 West 45th Street, 10th Floor&nbsp;
                        <br /> New York, NY 10036
                    </p>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="info-we-collect">
        <h2>INFORMATION WE COLLECT</h2>
        <p>We collect information about you in a few different ways, including when you provide it to us directly through the Services and from your interaction with our Services. Certain third parties may also collect information about you, either directly or from your interaction with our Services.</p>
        <h3>Information You Provide to Us.</h3>
        <p>We collect information that you voluntarily give to us. When you create an account to browse and purchase products in the shop, you provide us information like your name, address, email address, telephone number, and credit card and billing information. &nbsp;&nbsp;We may also collect content you choose to post to our Services, like comments, product reviews and ratings, and videos and photos. For example, you may upload a photo to the shop in order to customize merchandise you would like to purchase.</p>
        <h3>Information We Collect from Your Device.</h3>
        <p>We also collect certain information when you use our Services, such as the type of browser you are using (e.g., Chrome, Firefox, Internet Explorer, Safari) and the version of your browser, the type of operating system you are using (e.g., Windows, Mac OS, iOS, Android), the domain name of your Internet service provider or mobile carrier, IP address, mobile device IP address (e.g., MAC address), unique device identifier, your precise location information, and certain usage information.</p>
        <h3>Information From Other Sources.</h3>
    	<p>We may, on occasion, combine information we receive online with outside records and use such information in accordance with this Privacy Policy, such as to enhance our ability to market to you products or services that may be of interest to you and to personalize your experience</p>
        <h3 id="cookies">Cookies and Other Technical Information.</h3>
        <p>Our Services use &ldquo;cookies&rdquo; and other similar technology such as &ldquo;Web beacons.&rdquo; Cookies are text files containing small amounts of information which are downloaded to your device when you visit a site. Cookies are then sent back to the originating site on each subsequent visit, or to another site that recognizes that cookie.</p>
        <p>Cookies do a lot of different jobs, like remembering your preferences, and generally improving the user experience. You can find more information about cookies at&nbsp;<a href="http://www.allaboutcookies.org/">All About Cookies</a>. Web beacons are electronic images that often work in conjunction with cookies.</p>
        <p>We use cookies for the following purposes:</p>
        <ol>
            <li><strong>Required Functions</strong>.&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Certain cookies are required for the basic functionality of our shopping cart.</li>
            <li><strong>Analytics</strong>.&nbsp; We use cookies to track and collect data across our Store, which we review in order to provide a better shopping experience.</li>
            <li><strong>Marketing</strong>.&nbsp; We use cookies to provide you with relevant marketing materials from this Store.</li>
            <li><strong>Marketing Additional Services</strong>.&nbsp; We use cookies to alert our customers to additional services and products provided by third-parties.</li>
        </ol>
        <p>Our service providers also use cookies, and these cookies may be stored on your computer when you visit our website for the following purposes:</p>
        <ol>
            <li>to provide us with our core shopping cart functionality.</li>
            <li>to analyze the use of our website.</li>
            <li>to provide our customers with a wishlist feature and to notify customers when items are back in stock.</li>
        </ol>
        <ol start="4">
            <li>to provide recommended shopping suggestions.</li>
            <li>to provide our shopping cart with the ability to geo-locate a user based on their IP Address.</li>
            <li>to provide us with a content-delivery network for content on our store.</li>
            <li>to provide us with a mailing list signup popup.</li>
        </ol>
        <p>Cookies allow you to take advantage of some of our shop&rsquo;s essential features. If you block or otherwise reject some of our cookies, you will not be able to add items to your shopping cart.</p>
        <p>By accepting this Privacy Policy, you specifically agree to our use of cookies and Web beacons as described herein. &nbsp;&nbsp;For information on how to opt-out of certain cookies, please review the section below entitled&nbsp;<a href="#cookies_others">Your Choices: Cookies.</a></p>
        <p>We do not currently alter our practices when we receive Do Not Track signals because there is no consensus among industry participants as to what "Do Not Track" means in this context. To find out more about "Do Not Track," you may wish to visit&nbsp;<a href="http://allaboutdnt.com/">All About Do Not Track</a>.</p>
    </div>
    <div id="use-of-info">
        <h2>HOW WE USE THE INFORMATION</h2>
        <p>We use information we, or our third party service providers, collect about you for a few different purposes, either as described in this policy or as we otherwise disclose to you when you interact with our Services. For example, we may use your information as follows:</p>
        <h3>Providing Products and Services.</h3>
        <p>We use the information we collect about you to:</p>
        <ul>
            <li>provide you with our products, programs, and services;</li>
            <li>process your transactions, track and ship orders;</li>
            <li>administer surveys, sweepstakes or contests;</li>
            <li>respond to your inquiries about our offerings;</li>
            <li>provide, personalize, and improve our offerings and Services; and</li>
            <li>offer you other products, programs or services from us and our affiliates, business partners, and selected third parties that we believe may be of interest to you.</li>
        </ul>
        <h3>Communicating with You.</h3>
        <p>We use the information we collect about you to communicate with you, including via email, phone, sms text message or push notifications, as you decide, for reasons such as:</p>
        <ul>
            <li>to confirm purchases you have made through our Services;</li>
            <li>to confirm that your purchases have shipped;</li>
            <li>to invite you to review purchases made via the Services;</li>
            <li>to notify you of items left in your shopping cart;</li>
            <li>to notify you when you have won a contest or sweepstakes;</li>
            <li>to notify you when we make changes to our user agreements;</li>
            <li>to fulfill a request by you for an online newsletter;</li>
            <li>to provide you with product recommendations;</li>
            <li>to provide you with access to personalized information based on your location;</li>
            <li>to contact you about your account with us; and</li>
            <li>to offer you other products, programs or services from us and our affiliates, business partners, and selected third parties that we believe may be of interest to you.</li>
        </ul>
        <p>We use the information that you provide about others to enable us to send them invitations, gifts, cards, or other content on your behalf or through our Services. From time to time, we also may use this information to offer products, programs, or services to them.</p>
        <h3>Improving and Personalizing the Service.</h3>
        <p>We use aggregate information about you and non-personal information that we collect to improve the design, functionality and content of our Services, and to enable us to personalize your experience with our Services and offerings. We use this information to (i) provide, maintain, personalize, protect, improve, and develop our products, programs, and services and to operate our business, (ii) to analyze usage and performance of our Services, and (iii) for us and our affiliates, business partners, and selected third parties to offer you products, programs, or services.</p>
        <p><strong>Retaining Your Information</strong>.&nbsp; We keep your data as long as required to service your account, to promote our legitimate business interests, and to comply with our legal and contractual obligations.&nbsp; You may remove your data at any time by emailing <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>.&nbsp;
            <br /> </p>
    </div>
    <div id="disclosure-of-info">
        <h2>INFORMATION SHARING AND DISCLOSURE</h2>
        <h3>Legal and Law Enforcement Purposes.</h3>
        <p>We may disclose personal information in response to legal process, for example in response to a court order or a subpoena, or in response to a law enforcement agency's request. We also may disclose such information to third parties in connection with fraud-scoring, detection, and prevention activities or where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our <a href="/pages/terms-and-conditions/">Terms of Use</a>, to protect our rights and the rights of others, and as otherwise required by law.</p>
        <h3>Business Transactions.</h3>
        <p>We may transfer information about you in the event of or negotiation of a business transaction, such as if we are acquired by, sold to, or merged with another company, or in connection with financing, bankruptcy, or dissolution proceedings.</p>
        <h3>Service Providers.</h3>
        <p>Our agents and contractors, such as our shipping partners, order management system and fraud prevention providers, may have access to personal information to help carry out the services they are performing for us, such as shipping orders, processing orders, hosting product reviews, and preventing fraud.</p>
        <h3>Licensors and Other Third Parties.</h3>
        <p>We may disclose aggregate information and non-personal information about you to certain of our product and/or website Licensors and their affiliates, and business partners to improve our Services, and we may disclose personal information about you to certain product Licensors to communicate with you about their own products and services if you choose to receive such communications.</p>
        <h3>Technology Providers and Ad Servers.</h3>
        <p>While using the Service, third parties may present or serve advertisements, provide us with data collection, reporting, ad response measurement, and site analytics, and assist with delivery of relevant marketing messages and advertisements. These third parties may view, edit, or set their own cookies. The use of these technologies by these third parties is subject to their own privacy policies and is not covered by this Privacy Policy. They may also obtain information about other applications that you have downloaded to your mobile device, the mobile websites you visit, and other information about you or your device in order to help analyze and serve anonymous targeted advertising on the Services and elsewhere. For more information about third party ad servers and your ability to opt-out of targeted advertising from such third parties, please visit the&nbsp;<a href="http://www.networkadvertising.org/">Network Advertising Initiative</a>&nbsp;and/or the&nbsp;<a href="http://www.aboutads.info/choices">Self-Regulatory Program for Online Behavioral Advertising</a>&nbsp;or&nbsp;<a href="http://youronlinechoices.com/">Your Online Choices</a>. Please note that opting-out through these programs will stop certain targeted advertising, but will still allow the collection of usage data for some purposes, including research, analytics and internal operations.</p>
        <h3>Video Purchasing Information.</h3>
        <p>We may share the titles of the films or TV shows that you have purchased through our Services (e.g., DVDs or Blu-rays) with third party services, including our Product Licensors or business partners, in order to fulfill your order, create and track wish lists and order histories, recommend products to you based on your interests, for research purposes, and to improve our Services.</p>
        <h3>Linked Sites.</h3>
        <p>Some of our Sites contain links to other sites whose information practices may be different from ours. Visitors should consult the other sites&rsquo; privacy policies before submitting any information, as we have no control over information that is submitted to, or collected by, these third parties.</p>
        <h3>Sponsors and Co-Promotions.</h3>
        <p>We sometimes may offer contests, sweepstakes, promotions, games, applications or social network integrations that are sponsored by or co-branded with identified third parties. By virtue of these relationships, the third parties may obtain personal information that you voluntarily submit to participate in the activity. We have no control over these third parties' use of this information.</p>
    </div>
    <div id="your-rights-under-ccpa">
        <h2>YOUR RIGHTS UNDER THE CALIFORNIA CONSUMER PRIVACY ACT</h2>
        <p>The California Consumer Privacy Act (“CCPA”) gives California residents certain rights:</p>
        <ul>
          <li>The right to request more details about (i) the categories of information we collect or (ii) the specific pieces of personal information we collect (and how we use or disclose that information);</li>
          <li>The right to delete your personal information;</li>
          <li>The right to <a href="#consentmanagement-trigger-extended">opt out</a> of any sale of your information; and</li>
          <li>The right not to face discrimination for exercising your CCPA rights.</li>
        </ul>

        <ol>
          <li>
            If you want to know what data we’ve collected.
            <ul>
              <li>The categories of data we collect are described in this Privacy Policy at <a href="#info-we-collect">Information We Collect</a>.</li>
              <li>
                If you want to request a copy of your data that we have collected, you can contact us:
                <ul>
                  <li>via email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>; or</li>
                  <li>by calling (toll free) 1-877-640-2120.</li>
                </ul>
              </li>
              <li>We will verify your request using the information you’ve provided for your account, including your email address. Government identification may be required.</li>
            </ul>
          </li>

          <li>
            If you want to update the data we have on file.
            <ul>
              <li>
                If you want to update the data we have on file, you can contact us:
                <ul>
                  <li>via email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>; or</li>
                  <li>by calling (toll free) 1-877-640-2120.</li>
                </ul>
              </li>
              <li>We will verify your request using the information you’ve provided for your account, including your email address. Government identification may be required.</li>
            </ul>
          </li>

          <li>
            If you want us to delete the data we’ve collected.
            <ul>
              <li>
                If you want to delete your data that we have on file, you can contact us:
                <ul>
                  <li>via email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>; or</li>
                  <li>by calling (toll free) 1-877-640-2120.</li>
                </ul>
              </li>
              <li>We will verify your request using the information you’ve provided for your account, including your email address. Government identification may be required.</li>
              <li>Please note we may retain your data, following a deletion request, for a limited time to finish fulfilling any purchases you may have made on this site.  We may also retain your data to conduct security investigations or comply with legal requirements.</li>
            </ul>
          </li>

          <li>
            If you don’t want us to sell your personal information.
            <ul>
              <li>If you want to opt out of future sales of your personal information, or otherwise update your preferences with respect to your data, please <a href="#consentmanagement-trigger-extended">click here</a>.</li>
              <li>
                You can also contact us:
                <ul>
                  <li>via email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>; or</li>
                  <li>by calling (toll free) 1-877-640-2120.</li>
                </ul>
              </li>
              <li>We will verify your request using the information you’ve provided for your account, including your email address. Government identification may be required.</li>
              <li>After we confirm your request not to sell your information, we will remove your information from any data that is transferred as part of a sale. </li>
            </ul>
          </li>
        </ol>

        <p>We don’t discriminate if you exercise any of your CCPA rights with respect to your data. We don’t charge different prices or deny services to anyone who exercises their rights to control how their data is used on this website.</p>
    </div>
    <div id="your-choices">
        <h2>YOUR CHOICES</h2>
        <p>There are a number of ways you can learn about, control and make changes to how we and third parties collect, use and share your information.</p>
        <h3>Profile Information.</h3>
        <p>You may update or correct your profile information through our <a href="/account">Account Settings page</a>&nbsp;or by sending us an email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a> or by calling 1-877-640-2120.  </p>
        <h3>Marketing Communications.</h3>
        <p>We provide you with an opportunity to express your preferences with respect to receiving certain marketing communications from us or from unaffiliated third parties. If you ever decide in the future that you would like to update these preferences, you can visit our Marketing Preference page where you may choose how often you would like to receive certain communications from us or where you may choose to unsubscribe from receiving certain communications from us. Additionally, you may follow the &ldquo;unsubscribe&rdquo; instructions provided in any marketing email you receive from us. You may also send us an email at <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a> or call 1-877-640-2120 with your request, and we will edit your preferences accordingly. Please note, if you unsubscribe or opt out of communications, we may still send you non-promotional e-mails, such as e-mails about your account, order and shipping confirmations, notifications that you left something in your shopping cart, or in regard to our ongoing business relations.</p>
        <h3 id="cookies_others">Cookies.</h3>
        <p><a href="#consentmanagement-trigger-extended">You can specify which types of cookies you wish to accept by clicking here</a>. Many web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies from our servers. If you wish to reject cookies from our site, but wish to accept those from other sites, you may choose the option in your browser settings to receive a notice before a cookie is stored on your device. Please consult the &ldquo;Help&rdquo; section of your browser for more information. To find out more, please consult&nbsp;<a href="http://www.allaboutcookies.org/">All About Cookies</a>. If you choose to remove or reject cookies, this could affect certain features of our Services and may result in removing opt-out cookies used to express your choice about online tracking and personalized ads. You can choose to opt-out of use of cookies by many of our advertisers, advertising technology vendors and other advertising-related services who help deliver ads tailored to your profile and preferences at the following:&nbsp;<a href="http://www.networkadvertising.org/">Network Advertising Initiative</a>&nbsp;and/or the&nbsp;<a href="http://www.aboutads.info/choices">Self-Regulatory Program for Online Behavioral Advertising</a>&nbsp;or&nbsp;<a href="http://youronlinechoices.com/">Your Online Choices</a>. If you remove your cookies, use a different browser, or buy a new computer, you will need to renew your opt-out choices. You can avoid the use of cookies by Google Analytics relating to your use of our shop by downloading and installing the Browser Plugin available&nbsp;<a href="https://tools.google.com/dlpage/gaoptout?hl=en-GB">here</a>.</p>
        <h3>Video Purchasing Information.</h3>
        <p>If you reside in the U.S., you may withdraw your consent for us to use and share your video purchasing information with certain third parties that are not incidental to our ordinary course of business, on a specific title by title basis, or from any ongoing disclosures with such third parties, by emailing us at&nbsp;<a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a> or by calling 1-877-640-2120.</p>
        <h3>Device Settings.</h3>
        <p>Devices and device system software provide certain opt-out choices that you can control. For example, Apple iOS and Google Play Services provide an opt-out choice that you can use to control in-app advertisements, and mobile device operating systems provide opt-out choices for push notifications or alerts and collection of location information. If you previously chose to receive push notifications on your mobile device from us but no longer wish to receive them, you can manage your preferences either through your device or app settings, depending on the type of device. Please consult your device settings for more information or to opt out using these mechanisms.</p>
    </div>
    <div id="additional-info">
        <h2>Security.</h2>
        <p>Your security is important to us and we have put in place appropriate technical and organizational procedures designed to safeguard the information we collect through the Services. Unfortunately, no security system can be guaranteed to be 100% secure, so we cannot guarantee the security of the information you provide to us. To help protect your information, you should not share your account information or password, reuse your password on other websites, or use a password you have used on other websites. For more information on password protection practices click&nbsp;<a href="http://oag.ca.gov/privacy/safe-password-practices">here</a>. If you share your account information or password with others or allow others to access your account, you will be responsible for their actions. While you are responsible for maintaining the confidentiality and security of your account information, if you become aware of a security issue affecting our Services or any authorized use of your account, please let us know immediately by contacting us at&nbsp;<a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a>.</p>
    </div>
    <div>
        <h2>General Audience Service.</h2>
        <p>We do not sell products for purchase by children. We sell products for purchase by adults. Therefore, we do not knowingly collect personal information from children under the age of 13.</p>
    </div>
    <div>
        <h2>International Transfers.</h2>
        <p>We operate internationally, however our computer systems are currently based in the United States. Your personal information will be processed by us in the U.S. where data protection and privacy regulations may be different from those of your country of residence. If you use our Services from outside the U.S., you consent to the collection and/or processing in the U.S. of your personal information, which includes the use of cookies as described&nbsp;<a href="#cookies">above</a>.</p>
    </div>
    <div>
        <h2>Changes to this Policy.</h2>
        <p>From time to time, we may update this Privacy Policy. We will notify you about material changes in the way we treat personal information by placing a notice on this website or by sending you an email message. We encourage you to periodically check back and review this policy so that you always will know our current privacy practices.</p>
    </div>
    <div id="contact-us">
        <h2>How to Contact Us.</h2>
        <p>Thank you so much for your interest in our online shops and for reading this policy. We hope you enjoy our Services. If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
          <li>By Email: <a href="mailto:privacy@araca.com?subject=Privacy Request ({{ shop.name }})">privacy@araca.com</a></li>
          <li>
            By Mail:
            <br>
            <span>Araca Merchandise L.P.</span>
            <br>
            <span>Attn: Privacy Resolution Team</span>
            <br>
            <span>545 West 45th Street, 10th Floor</span>
            <br>
            <span>New York, NY 10036</span>
            <br>
            <span>United States</span>
          </li>
          <li>By Calling: 1-877-640-2120.</li>
        </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
