<section class="blcontactog-heading">
  <div class="contact-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="contact-heading-inner">
          <h1 class="page-title"><span>{{ page.title }}</span></h1>
          <div class="breadcrumb clearfix">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{ page.title }}" title="{{ page.title }}">{{ page.title }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_banner_show-content">
  <div class="blcontact_banner_showog-wrapper">
    <div class="container">
      <div class="row">
        <div class="contact_banner_show-inner">
          <div id="page"> 
              
              <div class="page-with-contact-form">
				<div class="contact-form col-md-6">
                  {% form 'contact' %}
                  {% if form.posted_successfully? %}
                  <div class="successForm feedback">
                    <p>{{ 'contact.form.post_success' | t }}</p>
                  </div>
                  {% endif %}

                  {% if form.errors %}
                  <div class="errorForm feedback">
                    <p>{{ 'contact.form.post_error' | t }}</p>
                    {% for field in form.errors %}
                      <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}

                  <div id="contactFormWrapper">
                    <p>
                      <label>{{ 'contact.form.name' | t }}:</label><br/>
                      <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.placeholder.name' | t }}" />
                    </p>
                    <p>
                      <label>{{ 'contact.form.email' | t }}:</label><br/>
                      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.placeholder.email' | t }}" />
                    </p> 
                    <p>
                      <label>{{ 'contact.form.message' | t }}:</label><br/>
                      <textarea rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.placeholder.message' | t }}"></textarea>
                    </p>
                    <p>
                      <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" class="btn" />
                    </p>
                  </div>
                  {% endform %}
                </div>
            </div>
            <div class="call-desc">
            	<h6 class="margin-top-20">GIVE US A CALL</h6>
            	<p>Want to speak with a sales representative? Drop us a line and we’d be happy to answer any questions!</p>
            	<p style="font-size: 18px!important; color: #222; font-weight: bold;"><i class="fa fa-phone"></i>800-353-1092</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if settings.contact_map and settings.contact_address != '' %}
<section class="google-maps-content">
  <div class="google-maps-wrapper">
    <div class="google-maps-inner">
      <div id="contact_map" class="map"></div>
    </div>
  </div>
</section>
{% endif %}


