{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon_enable %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ shop.name }}">
    <meta property="og:url" content="{{ shop.url }}">
    {% if settings.logo_use_image %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
	{% endif %}
    
    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'password.scss.css' | asset_url | stylesheet_tag }}

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  </head>

  <body class="template-password">
    <div class="password-page__logo">
      {% if settings.use_logo %}
        <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
      {% else %}
        <h1 class="h2">
          <span>{{ shop.name }}</span>
        </h1>
      {% endif %}
    </div>
    <div class="home-wrapper">
      <div class="home-header"><img class="home-headerImg" src="https://cdn.shopify.com/s/files/1/1499/2644/files/SamBee_header.jpg?17213576571801797486"></div>
    </div>
    <div class="password-page__wrapper">
<!--       <header class="password-page__header" role="banner">
        <div class="password-page__header__inner">
          <p class="password-login text-right small--text-center">
            <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
              <svg xmlns="http://www.w3.org/2000/svg" class="lock-icon-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
                <title>Lock icon</title>
                <path fill="#FFFFFF" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
              </svg>
              {{ settings.password_link }}
            </a>
          </p>
        </div>
      </header> -->

      <div class="password-page__main" role="main">
        <div class="password-page__main__inner">
          <h2 class="password-page__hero">Coming Soon!</h2>
          {% unless shop.password_message == blank %}
            <div class="password-page__message">
              {{ shop.password_message }}
            </div>
            <hr class="hr">
          {% endunless %}

          <div class="password-page__signup-form">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form-success" style="color: grey; font-size: 20px;">Thanks for signing up!</p>
              {% else %}
                <p class="h4">Sign up to get a first look at new products, exclusive sales and more!</p>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="hidden-label">{{ settings.password_signup_form_email_label }}</label>
                <div class="input-group">
                  <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ settings.password_signup_form_email_placeholder }}">
                  <span class="input-group-btn">
                    <input type="submit" class="btn password-page__signup-form__submit" value="{{ settings.password_signup_form_submit }}">
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>

          {% if settings.share_facebook or settings.share_twitter or settings.share_google %}
          <div class="password-page__social-sharing">
            <p class="h4">{{ settings.password_spread_the_word }}</p>
            {% include 'social-sharing' %}
          </div>
          {% endif %}
        </div>
        <footer style="background-color: #323232; bottom: 0; width: 100%; padding: 30px 0; margin-top: 200px;">
          <div>
          	<div><h5 font-size: 18px;>SECURITY & PRIVACY</h5></div>
            <div>          
                <a style="font-size: 12px; text-transform: uppercase;" href="http://www.tbs.com/privacy.html"><p style="margin-bottom: 0;">TBS Privacy Policy</p></a>
                <a style="font-size: 12px; text-transform: uppercase;" href="http://www.tbs.com/terms.html"><p style="margin-bottom: 0;">TBS Terms &amp; Conditions</p></a>
            </div><br>
            <div style="font-size: 10px;">Shop.tbs.com is operated under a license from Turner by Bolder Road LLC.<br>which is solely responsible for the site's content and all aspects of your purchase.<br>&copy; 2016 All Rights Reserved.<br><br>&trade; & &copy; 2016 Turner Entertainment Networks, Inc.</div>
          </div>
        </footer>
      </div>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <p class="h4">{{ settings.password_login_form_heading }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{{ settings.password_login_form_password_label }}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ settings.password_login_form_password_placeholder }}" autofocus>
        <span class="input-group-btn">
          <input type="submit" class="btn password-page__login-form__submit" value="{{ settings.password_login_form_submit }}">
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ settings.password_admin_link_html }}</p>
    </div>

    {{ 'magnific-popup.min.js' | asset_url | script_tag }}
    {{ 'social-buttons.js' | asset_url | script_tag }}

    <script>
    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: {{ settings.password_close | json }},
        removalDelay: 500,
        callbacks: {
          open: function() {
            window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
          }
        }
      });
      if ( $('.storefront-password-form .errors').size() ) {
        $('.js-toggle-login-modal').click();
      }
    });
    </script>
    
  </body>
</html>
