 {% if settings.enable_breadcrumb %}
<section class="detail-heading">
  <div class="detail-heading-wrapper">
    <div class="container">
      <div class="row">
        <div class="detail-heading-inner">
          <h3 class="page-title">
            <span>
              {% if collection %}
              <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
              {% else %}
              <a href="/collections/all" title="All Products">{{ 'general.breadcrumbs.products' | t }}</a>
              {% endif %}
            </span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- <div id="qab_placeholder" ></div> -->

<section class="product-detail-content">
  <div class="detail-content-wrapper">
    <div class="container">
      <div class="breadcrumb clearfix">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
          {% else %}
          <a href="/collections/all" title="All Products">{{ 'general.breadcrumbs.products' | t }}</a>
          {% endif %}
        </span>
      </div>
      <div class="row">
        <div class="detail-content-inner">
          <div id="product" class="{{ product.handle }} detail-content">
            <div class="col-md-12 info-detail-pro clearfix">
              <div class="col-md-6" id="product-image">                          
                <div id="featuted-image" class="image featured">
                  {% if product.images.size > 0 %}       
                  {% assign featured_image = product.selected_variant.featured_image | default: product.featured_image %}
                  {% if settings.enable_product_image_zoom %}
                  <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
                  {% else %}
                  <a href="{{ featured_image | img_url: '1024x1024' }}" class="zoom" id="placeholder">
                    <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
                  </a>
                  {% endif %}
                  {% else %}
                  <img src="{{ 'No_Image_2.png' | asset_url }}" />
                  {% endif %}
                </div>

                {% if product.images.size > 1 %}
                <div id="gallery-images" class="thumbs clearfix">
                  <div class="gallery-images-inner">
                    <div class="slider-3itemsc">
                      {% assign featured_image = product.selected_variant.featured_image | default: product.featured_image %}
                      {% for image in product.images %}
                      {% if settings.enable_product_image_zoom %}
                      <div class="image{% cycle 'last-in-row': '', '', '', ' last-in-row' %}{% if image == featured_image %} active{% endif %}">
                        <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery">
                          <img src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                        </a>
                      </div>
                      {% else %}
                      <div class="image{% cycle 'last-in-row': '', '', '', ' last-in-row' %}">
                        <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}">
                          <img src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                        </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>                  
                </div>
                {% endif %}
              </div>
              <div class="col-md-6" id="product-information">
                <h1 class="title">{{ product.title }}</h1>                                                                                                

                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                {% assign hide_default_title = true %} 
                {% endif %}
                
                {% if settings.enable_rating_star %}
                  <div class="rating-star">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                  <script>
                    $('#reviews').click(function(e) {
                      e.preventDefault();
                      var scrollto = $(this).attr('href');
                      var fix_scrollto = $(scrollto).offset().top + 1800;
                      $('html, body').animate({
                        scrollTop: fix_scrollto
                      }, 500);
                    });
                  </script>
                {% endif %}
                <br style="clear:both;">
                {% assign description = product.metafields.description %}
                {% assign key = 'short' %}
                <p class="shortDescription">{{ description.short }}</p>
                {% if product.available %}
                <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                {% endif %}
                  <div class="product-options {% if hide_default_title %}no-options {% endif %}">					

                    {% assign variant = product.selected_or_first_available_variant %}
                    <div class="purchase">
                      <div class="prices">
                        {% if product.compare_at_price > product.price %}
                        <span class="compare-price" style="text-decoration: line-through;">{{ product.compare_at_price_max | money }}</span>
                      <span class="price on-sale" itemprop="price">{{ product.price | money }} {% if product.compare_at_price_max > product.price %} <span style="color: #A71820; font-size: 15px; vertical-align: bottom;">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>{% endif %}</span>
                        {% else %}
                        <span class="price" itemprop="price">{{ product.price | money }}</span>
                        {% endif %}
                      </div>
                    </div>

                    {% if settings.enable_vendor %}
                    <div class="product_vendor">{{ 'minimal.product.vendor' |t :x:product.vendor }}</div>
                    {% endif %}

                    {% if settings.enable_type %}
                    <div class="product_type">{{ 'minimal.product.type' |t :x:product.type }}</div>
                    {% endif %}

                    {% assign sku = product.metafields.sku %}
                    {% assign key = 'parent' %}
                    <p class="parentSKU">SKU: {{ sku.parent }}</p>

                    {% if settings.enable_quickoverview %}
                    <div class="description">                      
                      {{ product.description | strip_html | truncatewords: settings.detail_qov_lenght }}
                    </div>
                    {% endif %}

                    {% if settings.color_swatch %}
                    {% if product.available %}
                    {% for option in product.options %}
                    {% include 'swatch' with option %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% if product.available %}
                    <div class="select clearfix"{% if hide_default_title or settings.color_swatch %} style="display:none"{% endif %}>
                      <select id="product-select" name="id">
                        {% for variant in product.variants %}
                        <option value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    {% if settings.display_quantity_dropdown %}
                    <div class="quantity-wrapper clearfix">
                      <label class="wrapper-title">Qty</label>
                      <div class="wrapper">
                        <span class="qty-down btooltip" data-toggle="tooltip" data-placement="top" title="Decrease" data-src="#quantity">
                          <i class="fa fa-minus"></i>
                        </span>
                        <input id="quantity" type="text" name="quantity" value="1" maxlength="5" size="5" class="item-quantity" />
                        <span class="qty-up btooltip" data-toggle="tooltip" data-placement="top" title="Increase" data-src="#quantity">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% assign shipsto = product.metafields.shipsto %}
                    {% assign key = 'country' %}
                    <p class="shipsCountry">{{ shipsto.country }}</p>
                    {% if product.available %}
                    {% assign shipping = product.metafields.shipping %}
                    {% assign key = 'days' %}
                    <p class="shipsinX">{{ shipping.days }}</p>
                    {% endif %}
                    <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
                      <div class="purchase">
                        {% unless product.available %}
                        <div id="sold-out" style="padding-bottom: 30px;">
                          <p style="padding-top: 30px; color: red; font-size: 20px;">SOLD OUT</p>
                        </div>
                        {% else %}
                        <button id="add-to-cart" class="btn add-to-cart" type="submit" name="add"><i class="fa fa-shopping-bag"></i>{{"products.product.add_to_cart"|t}}</button>                        
                        <div style="padding-top: 15px; color: #A71820; font-weight: bold; ">ALL SALES FINAL</div>
                        <div id="cart-animation" style="display:none">1</div>
                        {% if settings.display_wishlist %}
                        <div class="add-to-wishlist">
                          {% if product.available %}
                          {% if customer %}
                          {% include 'wish-list' %}
                          {% else %}
                          <span class="non-user" data-toggle="tooltip" data-placement="right" title="{{ 'collections.product_item.wishlist_note' | t }}"><i class="fa fa-heart fa-2x"></i></span>
                          {% endif %}
                          {% endif %}
                        </div>
                        {% endif %}
                        {% endunless %}
                        
                      </div>
                    </div>
                  </div>
                {% if product.available %}
                </form>
                {% endif %}

                

                {% if settings.social_sharing_products %}
                <div class="supports-fontface">
                  {% include 'social-sharing' %}
                </div>
                {% endif %}
              </div>              
            </div>
            {% if settings.display_tab %}
            <div id="tabs-information" class="col-md-12" >
              <div class="col-md-12 tabs-title">
                <ul class="nav nav-tabs tabs-left sideways">
                  {% if settings.product_tab_desc %}<li class="active"><a href="#desc" data-toggle="tab">{{ settings.product_tab_desc_title }}</a></li>{% endif %}
                  {% if settings.product_tab_reviews%}<li><a href="#reviews" data-toggle="tab">{{ settings.product_tab_reviews_title }}</a></li>{% endif %}
                  {% if product.metafields.productinfo.size_chart != blank %}
                    {% if settings.product_tab_delivery%}<li><a href="#sizechart" data-toggle="tab">{{ settings.product_tab_delivery_title }}</a></li>{% endif %}
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-12 tabs-content">
                <div class="tab-content">
                  {% if settings.product_tab_desc %}<div class="tab-pane active" id="desc">{{ product.description }}</div>{% endif %}
                  {% if settings.product_tab_reviews %}<div class="tab-pane fade" id="reviews"><div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div></div>{% endif %}
                  {% if product.metafields.productinfo.size_chart != blank %}
                  	{% if settings.product_tab_delivery %}
                    <div class="tab-pane fade" id="sizechart">
                      <script type="text/javascript">
                          var $url = '{{ product.metafields.productinfo.size_chart | file_url }}';
                          var $ = jQuery.noConflict();
                          $segment = $('#sizechart');
                          $.ajax({
                              url: $url,
                              type:'GET',
                              success: function(response) {
                                  $segment.prepend(response);             
                              },
                              error: function(xhr) {
                                  console.log(xhr);
                              }
                          });
                      </script>
                    </div>	
                  	{% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="display:none" id="preloading">
  {% for image in product.images offset: 1 %}
  {{ image | product_img_url: '1024x1024' | img_tag }}
  {% endfor %}
</div>

<script>
  var selectCallback = function(variant, selector) {
    if (variant && variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.featured img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>" + "(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)");
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      var message = variant ? {{ 'products.product.sold_out_html' | t | json }} : {{ 'products.product.unavailable_html' | t | json }};
     jQuery('#price-preview').html('{{ product.price | money }}');
    }
  };

  jQuery(document).ready(function($){
          
    $('#gallery-images div.image').on('click', function() {
      var $this = $(this);
      var parent = $this.parents('#gallery-images');
      parent.find('.image').removeClass('active');
      $this.addClass('active');
    });
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
	{% if product.available and product.options.size > 1 %}
      Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}
    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
    {% endif %}

  });
  </script>
<!-- brontoBrowseObject:start -->
<script>
  (function(window) {
    var BROWSE_PRODUCT = "brontoBrowseObject";
    window[BROWSE_PRODUCT] = {
      product: {{ product | json }}
    };
  })(window);
</script>
<!-- brontoBrowseObject:end -->
