<div class="products-container">
	{% for product in artist_collection.products %}
	{% if product.variants.size > 1 %}
		{% assign current_variant = product.selected %}
	{% else %}
		{% assign current_variant = product.first_available_variant %}
	{% endif %}
	<a href="{{ product.url }}" alt="{{ product.title }}">
		<div class="artist-product">
			<div class="product-image">
				<img class="product-single-image lazyload" data-sizes="auto" data-src="{{ product.images.first.src | img_url: '330x330', scale: 2 }}" alt="{{ product.images.first.alt | escape }}">
			</div>	
			<div class="product-info">
				<div class="product-name">{{ product.title }}</div>
				<div class="product-price">
					<span class="product-price__price product-price__price-{{ section.id }}">
	                	<span id="ProductPrice-{{ section.id }}"
	                  itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
	                  	{% if product.variants.size > 1 %}
	                  	{{ product.first_available_variant.price | money }} - {{ product.variants.last.price | money }}
	                  	{% else %}
	                  	{{ product.first_available_variant.price | money }}
	                  	{% endif %}
	                	</span>
	              	</span>
	          	</div>
			</div>
		</div>
	</a>
	{% endfor %}
</div>
