<!-- snippets/collection-filters.liquid -->
{% capture json_links %}
{%- include 'collection-filter-list' -%}
{% endcapture %}
{%- assign tags = collection.all_tags | t -%}
<div id="Filter-Navigation">
  {% include 'sort-by-popup' %}
</div>
<div class="applied-filters">
  {% for _applied_tag in current_tags %}<span class="filter_tag">{{ _applied_tag | link_to_remove_tag: _applied_tag }}</span>{% endfor %}
</div>
<script id="collection--tags" type="application/json">[{% for tag in collection.tags %}{ "name": "{{ tag | title | escape }}", "url": "{{ tag | handleize }}", "count": 0 }{% unless tag == collection.tags.last %},{% endunless %}{% endfor %}]</script> 
<script id="current--tags" type="application/json">[ {% for tag in current_tags %} { {{ tag | json }} :  "{{ tag | handleize }}" }{% unless tag == current_tags.last %},{% endunless %}{% endfor %}]</script>
<script id="filters" type="application/json">{{ json_links }}</script>
<script type="text/javascript" src="{{ 'collection-filters.min.js' | asset_url }}" defer="defer"></script>
