{% for block in section.blocks %}
	{% if block.type == 'header_image_block' %}
		{% if block.settings.display == 'all_collections' %}
		<div class="header-image-container">
			<div class="header-image header-image-section-{{block.id}}">
				<div class="image-text-container">
					{% if block.settings.collection_header_image_text != '' %}
					<h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
					{% if block.settings.collection_header_image_sub_text.size > 0 %}<h3 class="image-sub-text">{{ block.settings.collection_header_image_sub_text }}</h3>{% endif %}
					{% endif %}
				</div>
			</div>
			<style type="text/css">
				{% if block.settings.image %}
				{% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
				.header-image-section-{{block.id}} {
					background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
					background-size: cover;
					background-repeat: no-repeat; 
					height: {{ block.settings.collection_header_image_size | times: 2 }}px;
					text-align: right;
					margin-bottom: 20px;
				}
				{% if block.settings.image_mobile %}
				@media only screen and (max-width: 767px) {
					.header-image-section-{{block.id}} {
				    	background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
				    	height: {{ block.settings.collection_header_mobile_image_size | times: 2 }}px;
					}
				 }
				{% endif %}
				{% endif %}
				{% if block.settings.collection_header_image_text != '' %}
				.header-image-section-{{block.id}} .image-text-container {
					position: relative;
					top: {{ block.settings.collection_header_image_container_top }}%;
					right: 25px;
				}
				.header-image-section-{{block.id}} .image-text {
					font-size: {{block.settings.collection_header_image_text_size}}px;
					color: {{block.settings.header_image_text_color}};
					position: relative;
					{% if block.settings.collection_header_image_sub_text.size > 0 %}
					margin-bottom: 5px;
					{% endif %}
				}
				.header-image-section-{{block.id}} .image-sub-text {
					font-size: {{block.settings.collection_header_image_sub_text_size}}px;
					color: {{block.settings.header_image_sub_text_color}};
					position: relative;
				}
				@media only screen and (max-width: 767px) {
					.header-image-section-{{block.id}} .image-text-container {
						top: {{ block.settings.collection_header_mobile_image_container_top }}%;
					}
					.header-image-section-{{block.id}} .image-text {
						font-size: {{block.settings.collection_header_mobile_image_text_size}}px;
					}
					.header-image-section-{{block.id}} .image-sub-text {
						font-size: {{block.settings.collection_header_mobile_image_sub_text_size}}px;
					}
				}
				{% endif %}
			</style>
		</div>
		{% elsif block.settings.display == 'link_list' %}
			{% if block.settings.link_list %}
				{% assign link_list = linklists[block.settings.link_list] %}
				{% assign collection_matched = false %}
				{% for link in link_list.links %}
					{% if link.url == collection.url %}
						{% assign collection_matched = true %}
						{% break %}
					{% elsif link.links %}
						{% for child_link in link.links %}
							{% if child_link.url == collection.url %}
								{% assign collection_matched = true %}
								{% break %}
							{% elsif child_link.links %}
								{% for child_link_1 in child_link.links %}
									{% if child_link_1.url == collection.url %}
										{% assign collection_matched = true %}
										{% break %}
									{% elsif child_link_1.links %}
										{% for child_link_2 in child_link_1.links %}
											{% if child_link_2.url == collection.url %}
												{% assign collection_matched = true %}
											{% endif %}
											{% if collection_matched %}
												{% break %}
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if collection_matched %}
										{% break %}
									{% endif %}
								{% endfor %}
								{% if collection_matched %}
									{% break %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
					{% if collection_matched %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% if collection_matched %}
				<div class="header-image-container">
					<div class="header-image header-image-section-{{block.id}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]">
						<div class="image-text-container">
							{% if block.settings.collection_header_image_text != '' %}
							<h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
							{% if block.settings.collection_header_image_sub_text.size > 0 %}<h3 class="image-sub-text">{{ block.settings.collection_header_image_sub_text }}</h3>{% endif %}
							{% endif %}
						</div>
					</div>
					<style type="text/css">
						{% if block.settings.image %}
						{% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
						.header-image-section-{{block.id}} {
							background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
							background-size: cover;
							background-repeat: no-repeat;
							height: {{ block.settings.collection_header_image_size | times: 2 }}px; 
							text-align: right;
							margin-bottom: 20px;
						}
						{% if block.settings.image_mobile %}
						@media only screen and (max-width: 767px) {
							.header-image-section-{{block.id}} {
						    	background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
						    	height: {{ block.settings.collection_header_mobile_image_size | times: 2 }}px;
							}
						 }
						{% endif %}
						{% endif %}
						{% if block.settings.collection_header_image_text != '' %}
						.header-image-section-{{block.id}} .image-text-container {
							position: relative;
							top: {{ block.settings.collection_header_image_container_top }}%;
							right: 25px;
						}
						.header-image-section-{{block.id}} .image-text {
							font-size: {{block.settings.collection_header_image_text_size}}px;
							color: {{block.settings.header_image_text_color}};
							position: relative;
							{% if block.settings.collection_header_image_sub_text.size > 0 %}
							margin-bottom: 5px;
							{% endif %}
						}
						.header-image-section-{{block.id}} .image-sub-text {
							font-size: {{block.settings.collection_header_image_sub_text_size}}px;
							color: {{block.settings.header_image_sub_text_color}};
							position: relative;
						}
						@media only screen and (max-width: 767px) {
							.header-image-section-{{block.id}} .image-text-container {
								top: {{ block.settings.collection_header_mobile_image_container_top }}%;
							}
							.header-image-section-{{block.id}} .image-text {
								font-size: {{block.settings.collection_header_mobile_image_text_size}}px;
							}
							.header-image-section-{{block.id}} .image-sub-text {
								font-size: {{block.settings.collection_header_mobile_image_sub_text_size}}px;
							}
						}
						{% endif %}
					</style>
				</div>
				{% endif %}
			{% endif %}
		{% elsif block.settings.display == 'collection' %}
			{% if block.settings.collection and block.settings.collection == collection.handle %}
			<div class="header-image-container">
				<div class="header-image header-image-section-{{block.id}}">
					<div class="image-text-container">
						{% if block.settings.collection_header_image_text != '' %}
						<h1 class="image-text">{{ block.settings.collection_header_image_text }}</h1>
						{% if block.settings.collection_header_image_sub_text.size > 0 %}<h3 class="image-sub-text">{{ block.settings.collection_header_image_sub_text }}</h3>{% endif %}
						{% endif %}
					</div>
				</div>
				<style type="text/css">
					{% if block.settings.image %}
					{% capture image_size %}x{{block.settings.collection_header_image_size}}{% endcapture %}
					.header-image-section-{{block.id}} {
						background-image: url("{{ block.settings.image | img_url: image_size, scale: 2 }}");
						background-size: cover;
						background-repeat: no-repeat; 
						height: {{ block.settings.collection_header_image_size | times: 2 }}px;
						text-align: right;
						margin-bottom: 20px;
					}
					{% if block.settings.image_mobile %}
					@media only screen and (max-width: 767px) {
						.header-image-section-{{block.id}} {
					    	background-image: url("{{ block.settings.image_mobile | img_url: image_size, scale: 2 }}");
					    	height: {{ block.settings.collection_header_mobile_image_size | times: 2 }}px;
						}
					 }
					{% endif %}
					{% endif %}
					{% if block.settings.collection_header_image_text != '' %}
					.header-image-section-{{block.id}} .image-text-container {
						position: relative;
						top: {{ block.settings.collection_header_image_container_top }}%;
						right: 25px;
					}
					.header-image-section-{{block.id}} .image-text {
						font-size: {{block.settings.collection_header_image_text_size}}px;
						color: {{block.settings.header_image_text_color}};
						position: relative;
						{% if block.settings.collection_header_image_sub_text.size > 0 %}
						margin-bottom: 5px;
						{% endif %}
					}
					.header-image-section-{{block.id}} .image-sub-text {
						font-size: {{block.settings.collection_header_image_sub_text_size}}px;
						color: {{block.settings.header_image_sub_text_color}};
						position: relative;
					}
					@media only screen and (max-width: 767px) {
						.header-image-section-{{block.id}} .image-text-container {
							top: {{ block.settings.collection_header_mobile_image_container_top }}%;
						}
						.header-image-section-{{block.id}} .image-text {
							font-size: {{block.settings.collection_header_mobile_image_text_size}}px;
						}
						.header-image-section-{{block.id}} .image-sub-text {
							font-size: {{block.settings.collection_header_mobile_image_sub_text_size}}px;
						}
					}
					{% endif %}
				</style>
			</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}