{%- assign collection_title = block.settings.collection_title -%}
{%- assign collection_link_text = block.settings.collection_link_text -%}  
{%- assign collection_image = block.settings.collection_image -%}
{%- assign collection_url = block.settings.collection_url -%}
{%- assign collection_image_alt_text = block.settings.collection_image_alt_text -%}

<div class="collection-grid-item">
  <a href="{{ collection_url }}" class="collection-grid-item__link">
    {% if collection_image != blank %}
      <div class="collection-grid-item__overlay-wrapper">
        <div class="collection-grid-item__overlay box lazyload js">
           <img data-sizes="auto" data-src="{{ collection_image | img_url: '350x' }}" class="lazyload" alt="{% if collection_image_alt_text != blank %}{{ collection_image_alt_text | escape }}{% else %}{{ collection_url | replace: '/collections/', '' | capitalize | replace: '-', ' ' }}{% endif %}">
        </div>     
     </div>
   {% endif %}
   {% if collection_title != blank %}
    <div class="collection-grid-item__title-wrapper">
      <h3 class="collection-grid-item__title">{{ collection_title }}</h3>
      {% if collection_link_text != blank %}
      <h5 class="collection-grid-item__sublink">{{ collection_link_text }}</h5>
      {% endif %}
    </div>
    {% endif %}
  </a>
</div>
