<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: HBO Shop - All Pages - Landing Page Unique
URL of the webpage where the tag is expected to be placed: https://shop.hbo.com/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 05/24/2018
-->
<script type=""text/javascript"">
var axel = Math.random() + """";
var a = axel * 10000000000000;
document.write('<iframe src=""https://6356875.fls.doubleclick.net/activityi;src=6356875;type=all;cat=shoplpu;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1;num=' + a + '?"" width=""1"" height=""1"" frameborder=""0"" style=""display:none""></iframe>');
</script>
<noscript>
<iframe src=""https://6356875.fls.doubleclick.net/activityi;src=6356875;type=all;cat=shoplpu;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1;num=1?"" width=""1"" height=""1"" frameborder=""0"" style=""display:none""></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
