<div class="{{ logo_classes }}">
    {% comment %} Use the uploaded logo from theme settings if enabled. Site name gets precedence with H1 tag on homepage, div on other pages. {% endcomment %} 
    {% if template.name == 'index' %}
    <h1 class="h2 site-header__logo">
    {% else %}
      <div class="h2 site-header__logo">
    {% endif %}
        {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <a href="/" itemprop="url" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
          {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
          <img class="lazyload js"
               data-src="{{ 'DCU_logo.svg' | asset_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ logo_alt | escape }}"
               itemprop="logo"
               style="max-width: {{ section.settings.logo_max_width }}px">
          <noscript>
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <img src="{{ 'DCU_logo.svg' | asset_url }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo"
                 style="max-width: {{ section.settings.logo_max_width }}px;">
          </noscript>
          <p class="logo-text m-hide">DC UNIVERSE SHOP</p>
        </a>
        <span class="visually-hidden">{{shop.name}}</span>
    {% if template.name == 'index' %}
      </h1> 
    {% else %}
      </div>
    {% endif %}
</div>