{% if settings.mybuys_enabled %}

  <div id="hidden_mybuys" style="display:none;">
    {% for item in cart.items %}
      <span class="pid_mb">{{ item.product.metafields.sku.parent }}</span>
      <span class="qty_mb">{{ item.quantity }}</span>
      <span class="amt_mb">{{ item.product.price|divided_by:100|round:2 }}</span>
    {% endfor %}
    <span class="orderID_mb"></span>
    <span class="CartTotalAmt_mb">{{ cart.total_price|divided_by:100|round:2}}</span>
    <span class="email_mb"></span>
  </div>

  {% if settings.mybuys_zones_shopping_cart_enabled %}
    <div mybuyszone="{{ settings.mybuys_zones_shopping_cart_zone_id }}" class="padding-top-5x"></div>
    <script type="text/javascript">
      var mybuysCheck = setInterval(function() {
        if(typeof mybuys == 'undefined') {
          return;
        }

        clearInterval(mybuysCheck);

        mybuys.setPageType("SHOPPING_CART");
        mybuys.set("email","");
        mybuys.set("amount","{{ cart.total_price|divided_by:100|round:2}}");
        mybuys.set("optin","y");
        {% for item in cart.items %}
          mybuys.addCartItemQtySubtotal("{{ item.product.metafields.sku.parent }}","{{ item.quantity }}","{{ item.product.price|divided_by:100|round:2 }}");
        {% endfor %}

      }, 100);
    </script>
  {% endif %}

{% endif %}
