<div class="product-form__item product-form__item--submit premium-only">
  <span class="btn product-form__cart-submit product-form__cart-submit--small premium-only">
    <span>DC Universe Exclusive</span>
  </span>
</div>
