<p id="quantity-label">QTY</p>
<div class="product-form__item product-form__item--quantity">
  <select name="quantity" id="Quantity" class="product-form__input">
   {% for i in (1..10) %}
      <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>
</div>
{% unless product.has_only_default_variant %}
  {% for option in product.options_with_values %}
    <div class="selector-wrapper js product-form__item">
      <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
        {% for value in option.values %}
          <option value="{{ value | escape }}"{% if option.selected_value == value %} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  {% endfor %}
{% endunless %}
<div class="product-form__item product-form__item--submit">
  <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
    <span id="AddToCartText-{{ section.id }}">
      {% unless current_variant.available %}
        {{ 'products.product.sold_out' | t }}
      {% else %}
        {% if product.metafields.preorder.date != blank %}
          {{ 'products.product.preorder' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endif %}
      {% endunless %}
    </span>
  </button>
  {% if product.available %}
  <div class="meta-text">
    {% if product.metafields.preorder.date != blank %}
      <p id="meta-preorder">{{ product.metafields.preorder.date }}</p>
    {% endif %}

    <!-- {% if product.metafields.shipsto.country != blank %}
      <p>{{ product.metafields.shipsto.country }}</p>
    {% endif %} -->

    {% if product.metafields.shipping.days != blank %}
      <p>{{ product.metafields.shipping.days }}</p>
    {% endif %}
    <p class="sku">ITEM # {{ product.metafields.sku.parent }}</p>
  </div>
  {% endif %}
</div>
