<div class="product-form__item product-form__item--submit registered-only">
  <span class="btn product-form__cart-submit product-form__cart-submit--small registered-only">
    <span>Join DC Universe To Purchase</span>
  </span>
</div>
