<script type="text/javascript">
	$(document).ready(function() {
			
		if(localStorage.getItem('checkout_started') == undefined) {
			localStorage.setItem('checkout_started', 'started');
			analytics.track('Checkout Started', {
				value: {{ checkout.subtotal_price | divided_by: 100.00 }},
				revenue: {{ checkout.total_price | divided_by: 100.00 }},
				shipping: {{ checkout.shipping_price | divided_by: 100.00 }},
				tax: {{ checkout.tax_price | divided_by: 100.00 }},
				discount: {{ checkout.discounts_amount | divided_by: 100.00 }},
				coupon: {{ checkout.discounts | json }},
				currency: 'USD',
				products: [
				{% for _item in checkout.line_items %}
					{	
						product_id: "{{ _item.sku }}",
						sku: "{{ _item.sku }}",
						category: "{{ _item.product.type }}",
						name: "{{ _item.title | escape }}",
						variant: "{{ _item.variant.title | escape }}",
						price: parseFloat({{ _item.price | divided_by: 100.00 }}),
						quantity: parseInt({{ _item.quantity }}),
						coupon: "{{ _item.discounts | json }}",
						url: "{{ _item.url }}",
						image_url: "{{ _item.product.featured_image.src | img_src: '800x' }}"
					}{% unless _item == checkout.line_items.last %},{% endunless%}		
				{% endfor %}
				]
			});
		}
		
		var _checkout_step = parseInt($('.breadcrumb > .breadcrumb__item--current').index()); 
		if(_checkout_step < 0) {
			_checkout_step = undefined; 
		} 

		analytics.track('Checkout Step Viewed', {
			checkout_id: "{{ checkout.id }}",
			step: _checkout_step,
			shipping_method: "{{ checkout.shipping_method.title }}",
			payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
		});

		if(window.location.search.indexOf('previous_step') != -1) {
			var previous_step = window.location.search.substring('?previous_step='.length, window.location.search.indexOf('&'));
			if(localStorage.getItem('checkout_step_tracked') == undefined || localStorage.getItem('checkout_step_tracked').indexOf(previous_step) == -1 ) {
				localStorage.setItem('checkout_step_tracked', localStorage.getItem('checkout_step_tracked') + ',' + previous_step);
				analytics.track('Checkout Step Completed', {
					checkout_id: "{{ checkout.id }}",
					step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1),
					shipping_method: "{{ checkout.shipping_method.title }}",
					payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
				});
				
				if(previous_step == 'shipping_method') {
					analytics.track('Shipping Info Entered', {
						checkout_id: '{{ checkout.id }}',
						step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1)
					});
				}

				if(previous_step == 'payment_method') {
					analytics.track('Payment Info Entered', {
						checkout_id: '{{ checkout.id }}',
						step: parseInt($('.breadcrumb > .breadcrumb__item--current').index() - 1),
						shipping_method: "{{ checkout.shipping_method.title }}",
						payment_method: "{% for _transaction in checkout.transactions %}{{ _transaction.kind }}{% if _transaction != checkout.transactions.last %},{% endif %}{% endfor %}"
					});
				}
			}
		}

		$('.step__sections select[data-trekkie-id="shipping_address_field"]').on('change', function(event){
 			var stored_address = $(this).find(':selected').attr('data-properties');
 			if(stored_address != undefined) {
 				analytics.track('Shipping Info Selected', {
 					checkout_id: "{{ checkout.id }}", 
 					step: parseInt($('.breadcrumb > .breadcrumb__item--current').index())
 				});
 			}
		});

		$('button[data-trekkie-id="apply_discount_button"]').on('click', applyDiscountBtnClicked);

		$('.applied-reduction-code__clear-button').parent().submit( function(event) {
			analytics.track('Coupon Removed', {
				cart_id: localStorage.getItem('cart_id'),
				coupon_id: $('.applied-reduction-code__information').html().trim(),
				discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
			});
		});
	
	});

	function detectCheckoutStep() {

	}

	function applyDiscountBtnClicked(event) {
		var coupon_id = $('#checkout_reduction_code').val();

		analytics.track('Coupon Entered', {
			cart_id: localStorage.getItem('cart_id'),
			coupon_id: coupon_id
		});

		var waitForCouponResult = setInterval(function() {
			if($('#order-summary .order-summary__sections .order-summary__section--discount .edit_checkout .fieldset .field--error').length < 1 && $('.applied-reduction-code').length < 1) {
				return;
			}

			clearInterval(waitForCouponResult);

			$('button[data-trekkie-id="apply_discount_button"]').on('click', applyDiscountBtnClicked);

			if($('.applied-reduction-code').length > 0) {
				analytics.track('Coupon Applied', {
					cart_id: localStorage.getItem('cart_id'),
					coupon_id: $('.applied-reduction-code__information').html().trim(),
					discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
				});

				$('.applied-reduction-code__clear-button').parent().submit( function(event) {
					analytics.track('Coupon Removed', {
						cart_id: localStorage.getItem('cart_id'),
						coupon_id: $('.applied-reduction-code__information').html().trim(),
						discount: parseFloat($('.total-line__price > .order-summary__emphasis[data-checkout-discount-amount-target]').attr('data-checkout-discount-amount-target')/100)
					});
				});
			} else {
				analytics.track('Coupon Denied', {
					cart_id: localStorage.getItem('cart_id'),
					coupon_id: coupon_id,
					reason: $('#error-for-reduction_code').html().trim() 
				});
			}

		}, 1000);
	}

</script>