{% if settings.segment_analytics_enabled %}
<div class="visually-hidden hide" id="cart_products_list">
{% for _item in cart.items %}
<span class="product" data-product-id="{{ _item.product.metafields.sku.parent }}" 
		 data-product-sku="{{ _item.product.metafields.sku.parent }}" 
		 data-category="{{ _item.product.type }}" 
		 data-name="{{ _item.product.title | escape }}" 
		 data-variant="{{ _item.variant.title | escape }}" 
		 data-price="{{ _item.price | divided_by: 100.00 }}" 
		 data-quantity="{{ _item.quantity }}"  
		 data-url="{{ _item.url }}" 
		 data-image-url="{{ _item.product.featured_image.src | img_url: '800x' }}" >
</span>
{% endfor %}
</div>
<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'cart-js.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'cart-js.min.js' | asset_url }}"></script><![endif]--> 
{% endif %}