{% if settings.segment_analytics_enabled %}
<!-- Segment Product Snippet -->
<script type="text/javascript">
	var product = {
		product_id: "{{ product.metafields.sku.parent }}",
		sku: "{{ product.metafields.sku.parent }}",
		category: "{{ product.type }}",
		name: "{{ product.title }}",
		variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title }}"{% else %}"{{ product.first_available_variant.title}}"{% endif %},
		price: parseFloat({{ product.first_available_variant.price | divided_by: 100.00 }}),
		quantity: undefined,
		coupon: undefined,
		currency: 'USD',
		position: undefined,
		value: undefined,
		url: "{{ product.url }}",
		image_url: "{{ product.featured_image.src | img_url: '800x' }}"
	};
	analytics.page('Product Detail');
	analytics.track('Product Viewed', product);

	$('button#AddToCart-product-template').on('click', function(event) {
		trackProductAdd();
	});

	function trackProductAdd() {
		analytics.track('Product Added', {
			cart_id: undefined,
			product_id: "{{ product.metafields.sku.parent }}",
			sku: "{{ product.metafields.sku.parent }}",
			category: "{{ product.type }}",
			name: "{{ product.title }}",
			variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title }}"{% else %}"{{ product.first_available_variant.title}}"{% endif %},
			price: parseFloat({{ product.first_available_variant.price | divided_by: 100.00 }}),
			quantity: parseInt($('.product-form-product-template #Quantity').val()),
			coupon: undefined,
			currency: 'USD',
			position: undefined,
			value: parseFloat('{{ product.first_available_variant.price | divided_by: 100.00 }}' * $('.product-form-product-template #Quantity').val()),
			url: '{{ product.url }}',
			image_url: '{{ product.featured_image | img_url }}'
		});
	}

	var checkPowerreviewsInitialized = setInterval( function() {
		
		if($('.spr-form-actions input[type="submit"]').length < 1) {
			return;
		}

		clearInterval(checkPowerreviewsInitialized);

		$('.spr-form-actions input[type="submit"]').closest('form').on('submit', function(event) {
			
			var product_id = "{{ product.metafields.sku.parent }}";
			var review_body = $(this).find('.spr-form-review-body > .spr-form-input textarea').val();
			var rating = $(this).find('.spr-form-review-rating > .spr-starrating > .spr-icon.spr-icon-star:not(.spr-icon-star-empty)').length;

			var waitForReviewSubmitResponse = setInterval(function() {
				
				if($('.spr-form-message').length < 1) {
					return;
				}

				clearInterval(waitForReviewSubmitResponse);

				if($('.spr-form-message').hasClass('spr-form-message-success')) {
					analytics.track('Product Reviewed', {
						product_id: product_id,
						review_body: review_body,
						rating: rating.toString()
					});
				}

			}, 1000);

		});

	}, 500);

	var checkSwymWishlistButtonInitialized = setInterval(function() {
		if($('.quantity-addtocart .swym-btn-container .swym-add-to-wishlist').length < 1) {
			return;
		}
		clearInterval(checkSwymWishlistButtonInitialized);
		$('.swym-add-to-wishlist:not(.disabled)').click(function(event) {
			if($('.swym-add-to-wishlist').hasClass('swym-segment-reported')) {
			} else {
				var wishlist_id = Cookies.get('swym-email');
				var wishlist_name = Cookies.get('swym-currentFilter');
				analytics.track('Product Added to Wishlist', {
					wishlist_id: wishlist_id,
					wishlist_name: wishlist_name,
					product_id: "{{ product.metafields.sku.parent }}",
					sku: "{{ product.metafields.sku.parent }}",
					category: "{{ product.type }}",
					name: "{{ product.title }}",
					variant: {% if product.variants.size > 1 %}"{{ product.selected_or_first_available_variant.title }}"{% else %}"{{ product.first_available_variant.title}}"{% endif %},
					price: parseFloat({{ product.first_available_variant.price | divided_by: 100.00 }}),
					url: "{{ product.url }}",
					image_url: "{{ product.featured_image.src | img_url: '800x' }}"
				});
				$('.swym-add-to-wishlist').addClass('swym-segment-reported');
			}
		});

	}, 500);
</script>
{% endif %}