{% if settings.segment_analytics_enabled %}
<!-- Segment Collection Snippet -->
<script type="text/javascript">
	var collection_products = [
		{% for _product in collection.products %}
		{
			product_id: "{{ _product.metafields.sku.parent }}",
			sku: "{{ _product.metafields.sku.parent }}",
			category: "{{ collection.current_type }}",
			name: "{{ _product.title | escape }}",
			brand: "{{ _product.vendor }}",
			variant: undefined,
			quantity: undefined,
			coupon: undefined,
			position: undefined,
			price: parseFloat({{ _product.price | divided_by: 100.00 }}),
			url: '{{ _product.url }}',
			image_url: '{{ _product.featured_image | image_url }}'
		}{% unless _product == collection.products.last %},{% endunless %}
		{% endfor %}
	];
	analytics.page('{{ collection.title }}');
	analytics.track('Product List Viewed', {
			list_id: '{{ collection.id }}',
			list_name: "{{ collection.title }}",
			category: undefined,
			products: collection_products
		});

	$('#SortBy').on('change', function(event) {

		analytics.track('Product List Filtered', {
			list_id: '{{ collection.id }}',
			list_name: '{{ collection.title }}',
			filters: undefined,
			sorts: undefined
		});
	});

	{% if current_tags %}
		$(document).ready(function(){
			var selected_filters = [];
			$('.Filter.Selected > a').each(function(element) {
				var filter = $(this).attr('id').toString();
				var group = $(this).parent().parent().parent().find('.filter-title').html().trim();
				selected_filters.push({ "type": group, "value": filter });
			});

			analytics.track('Product List Filtered', {
				list_id: '{{ collection.id }}',
				list_name: '{{ collection.title }}',
				filters: selected_filters,
				products: collection_products
			});
		});
	{% endif %}
	

</script>
{% endif %}