{% comment %}
	Initialize Variables 
{% endcomment%}
<script type="text/javascript">

	{% if customer %}
		if(window.sessionStorage.getItem('user_logged_in') != 'true' ){
			var url_params = window.location.search.substr(1).split('&');
			var user_id_param = '{{ settings.segment_user_url_parameter }}';
			var user_id = undefined;
			url_params.forEach(function(_i){
				if(_i.indexOf(user_id_param) === 0) {
					user_id = _i.split('=')[1];
				}
			});

			if(user_id != undefined){
				analytics.identify(user_id);
				window.sessionStorage.setItem('user_logged_in', 'true');
			}

			var param_rewrite = [];
			url_params.forEach(function(_i,_index){
				if(_i.indexOf(user_id_param) !== 0) {
					param_rewrite[param_rewrite.length] = _i;
				}
			});
			if( window.location.search.substr(1).split('&').length > 1 ){
				window.history.replaceState(null, null, window.location.pathname+'?'+param_rewrite.join('&'));
			} else {
				window.history.replaceState(null, null, window.location.pathname);
			}
		}
	{% endif %}


	var waitForJQueryLoad = setInterval(function(){
	if( jQuery == undefined && window.sessionStorage.getItem('user_logged_in') == 'true' ){
	  return;
	}
	clearInterval(waitForJQueryLoad);

	var _pagetype = detectPage();

	switch(_pagetype) {
		case 'search-results-page': 
			var search_term = window.location.search.split('=')[1];
			trackItemSearched(search_term);
			break;
		case 'homepage': 
			analytics.page('Shop Home');
			break;
		case 'non-collection-page': 
			var page_title = '';  
			var _url_pathname = window.location.pathname; 
			if(_url_pathname.indexOf('wishlist') != -1) { 
				page_title = 'Account Wishlist'; 
			} else if(_url_pathname == '/account') {
				page_title = 'Account'; 
			} else if(_url_pathname == '/account/addresses') {
				page_title = 'Account Addresses'; 
			} else {
				page_title = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1).toUpperCase().replace('-',' ');  
			}
			analytics.page(page_title);
			break;
		default:
	}

	$('a.minicart-remove-link').on('click', function(event) {
		trackProductRemoveFromMinicart($(event.target));
	});

	$('.cart__actions a.cart__remove:not([name="update"])').on('click', function(event) {
		trackProductRemoveFromCartPage($(event.target));
	});

	$('#shopify-section-footer').on('click', function(event) {
		if($(event.target).is('a')) {
			var link_text = $(event.target).html().trim();
			var link_url = $(event.target).attr('href');

			analytics.track('Link Clicked', {
				link_text: link_text,
				link_url: link_url
			});
		}
	});

	$('a[href="/account/login"]').on('click', function(event){
		analytics.track('Login Clicked');
	});

	$('a[href="https://www.dcuniverse.com/"].announcement-bar--link').on('click', function(event) {
		analytics.track('Back To DC Clicked');
	});

	$('.featured-collection-viewall-link > a').on('click', function(event) {
		var collection_url = $(this).attr('href') + '.json';
		$.get({
			url: collection_url,
			success: function(data) {
				analytics.track('See All CTA Clicked', {
					collection_id: data.collection.id,
					collection_title: data.collection.title
				});
			},
			dataType: 'json'
		});
	});

	$('.collection-grid .grid__item > .collection-grid-item > a.collection-grid-item__link').on('click', function(event) {
		var collection_url = $(this).attr('href') + '.json';
		$.get({
			url: collection_url,
			success: function(data) {
				analytics.track('Collection Tile Clicked', {
					collection_id: data.collection.id,
					collection_title: data.collection.title
				});
			}
		});
	});

	$('a[href="/checkout"]').on('click', function(event) {
		localStorage.setItem('cart_id', Cookies.get('cart'));
	});

	if($('.shopify-section.index-section .grid').length > 0) {
		var waitForCarouselsToInitialize = setInterval(function(){

			if($('.shopify-section.index-section .grid.slick-initialized').length < 1) {
				return;
			}

			clearInterval(waitForCarouselsToInitialize);

			$('.shopify-section.index-section .grid .slick-track .grid__item a').on('click', function(event) {
				var url = $(this).attr('href')+'.json';
				var carousel_index = $(this).closest('.grid__item').attr('data-slick-index') - $(this).closest('.slick-track').find('.grid__item.slick-active.slick-current').attr('data-slick-index') + 1;
				var carousel_item_type = '';
				
				if(url.indexOf('collections') != -1) {
					if(url.indexOf('products') != -1) {
						carousel_item_type = 'product';
					} else {
						carousel_item_type = 'collection';
					}
				}
				var item = undefined;

				$.get({
					url: url,
					success: function(data) {
						item = data[carousel_item_type];
						analytics.track('Carousel Item Clicked', {
							carousel_index: carousel_index,
							carouse_item_id: item.id,
							carousel_item_name: item.title,
							carousel_item_type: carousel_item_type
						});
						if(carousel_item_type == 'product') {
							var product_variant = item.variants[0];
							var product_sku = product_variant.sku;
							if(item.variants.length > 1) {
								product_sku = product_sku.substr(0, product_sku.indexOf('-'));
							}

							analytics.track('Product Clicked', {
								product_id: product_sku,
								sku: product_sku,
								category: product_variant.type,
								name: item.title,
								price: parseFloat(product_variant.price),
								variant: product_variant.title,
								url: url.replace('.json',''),
								image_url: item.image.src
							});
						}
					},
					dataType: 'json'
				});
			});


		}, 1000);
	}


	if($('body.swym-hosted-page').length > 0) {
		var waitWishlistItemsLoad = setInterval(function(){

			if($('.swym-add-to-cart').length < 1 ) {
				return;
			}

			clearInterval(waitWishlistItemsLoad);

			$('.swym-add-to-cart > a').on('click', function(event) {
				var product_uri = $(this).closest('li.swym-item').attr('data-uri') + '.js';
				var product_data_epi = $(this).closest('li.swym-item').attr('data-epi');
				$.get({
					url: product_uri,
					success: function(data) {
						var product_variant = data.variants[0];

						if(data.variants.length > 1) {
							for( var __i = 0; __i < data.variants.length; __i++ ) {
								if( data.variants[__i].id == product_data_epi) {
									product_variant = data.variants[__i];
									break;
								}
							}
						}

						analytics.track('Wishlist Product Added to Cart', {
							wishlist_id: Cookies.get('swym-email'),
							wishlist_name: Cookies.get('swym-currentFilter'),
							cart_id: Cookies.get('cart'),
							product_id: product_variant.sku,
							sku: product_variant.sku,
							category: product_variant.type,
							name: data.title,
							price: parseFloat(product_variant.price/100),
							quantity: 1,
							currency: 'USD',
							value: parseFloat(product_variant.price/100),
							url: data.url,
							image_url: data.featured_image
						});
					},
					dataType: 'json'
				});
			});

			$('.swym-remove > a').on('click', function(event) {
				var product_uri = $(this).closest('li.swym-item').attr('data-uri')+'.js';
				var product_data_epi = $(this).closest('li.swym-item').attr('data-epi');
				$.get({
					url: product_uri,
					success: function(data) {
						console.log(data);
						var product_variant = data.variants[0];

						if(data.variants.length > 1) {
							for( var __i = 0; __i < data.variants.length; __i++ ) {
								if( data.variants[__i].id == product_data_epi) {
									product_variant = data.variants[__i];
									break;
								}
							}
						}

						analytics.track('Product Removed From Wishlist', {
							wishlist_id: Cookies.get('swym-email'),
							wishlist_name: Cookies.get('swym-currentFilter'),
							product_id: product_variant.sku,
							sku: product_variant.sku,
							category: product_variant.type,
							name: data.title,
							price: parseFloat(product_variant.price/100),
							currency: 'USD',
							url: data.url,
							image_url: data.featured_image
						});

					},
					dataType: 'json'
				});

			});

		}, 1000);
	}

    }, 500);			

	function detectPage() {
		var path = window.location.pathname;
		
		if(path.indexOf('search-results-page') != -1 || path == '/search') {
			return 'search-results-page';
		}
		
		if(path == "/") {
			return 'homepage';
		}

		if(path.indexOf('collections') == -1) {
			return 'non-collection-page';
		}

	}

	function trackItemSearched(search_term) {
		analytics.track('Products Searched', {
			query: search_term
		});
	}

	function trackCollection(collection_id, collection_name, collection_products ) {
		//analytics.page(collection_name);
		analytics.track('Product List Viewed', {
			list_id: collection_id,
			list_name: collection_name,
			products: collection_products
		});
	}



	function trackCollectionFilters(collection_id, collection_name, filters, sorts, collection_products ) {
		analytics.track('Product List Filtered', {
			list_id: collection_id,
			list_name: collection_name,
			filters: filters,
			sorts: sorts,
			products: collection_products
		});
	}

	function trackProductRemove(product) {
		analytics.track('Product Removed', {
			product_id: product.sku,
			sku: product.sku,
			category: product.type,
			name: product.title,
			price: parseFloat((product.price / 100).toFixed(2)),
			quantity: parseInt(product.quantity),
			url: window.location.href,
			image_url: product.featured_image
		});
	}

	function trackProductRemoveFromMinicart(link) {
		var minicart_item = $(link).closest('li.minicart-item');
		var sku = $(minicart_item).find('.minicart-item-info > .minicart-item-sku').html().replace('SKU:','').trim();
		var product_type = $(minicart_item).find('.minicart-item-info > .minicart-item-additional-info > .minicart-item-type').html().trim();
		var product_title = $(minicart_item).find('.minicart-item-info > .minicart-item-title > a > h4').html().trim();
		var product_price = $(minicart_item).find('.minicart-item-info > .minicart-item-price').html().trim().replace('$','');
		var product_quantity = $(minicart_item).find('.minicart-item-info > .minicart-item-quantity > .input-group > input').val();
		var product_url = $(minicart_item).find('.minicart-item-image > a').attr('href');
		var product_image = $(minicart_item).find('.minicart-item-image > a > img').attr('src');
		var cart_id = Cookies.get('cart');
		analytics.track('Product Removed', {
			product_id: sku,
			sku: sku,
			category: product_type,
			name: product_title,
			price: parseFloat(product_price),
			quantity: parseInt(product_quantity),
			url: product_url,
			image_url: product_image
		});
	}

	function trackProductRemoveFromCartPage(link) {
		var product_sku = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > #cart-template-sku').html().replace('SKU:','').trim();
		var minicart_link = undefined;
		var product_type = $(link).closest('tr.cart__row').find('.cart__meta > .meta-text > #cart-template-product-type').html().trim();
		var product_title = $(link).closest('tr.cart__row').find('.cart__meta > .list-view-item__title >  a').html().trim();
		if(product_title.indexOf('<') != -1) {
			product_title = product_title.substr(0, product_title.indexOf('<')).trim();
		}
		var product_price = $(link).closest('tr.cart__row').find('.cart__price-wrapper > .product-price__price > #ProductPrice-cart-template').attr('content');
		var product_quantity = $(link).closest('tr.cart__row').find('.cart__update-wrapper > .cart__qty > .product-form__item--quantity > .input-group > #Quantity').val();
		var product_url = $(link).closest('tr.cart__row').find('.cart__meta > .list-view-item__title > a').attr('href');
		var product_image = $(link).closest('tr.cart__row').find('.cart__image-wrapper > a > img').attr('src');
		var cart_id = Cookies.get('cart');
		analytics.track('Product Removed', {
			product_id: product_sku, 
			sku: product_sku,
			category: product_type,
			name: product_title,
			price: parseFloat(product_price),
			quantity: parseInt(product_quantity),
			url: product_url,
			image_url: product_image
		});
	}

</script>