{% if settings.segment_analytics_enabled %}
<script type="text/javascript">
{% if customer %}
if(window.sessionStorage.getItem('user_login_reported') == null){window.sessionStorage.setItem('user_login_reported', true);}
{% else %}
if(window.sessionStorage.getItem('user_login_reported') == true){window.sessionStorage.removeItem('user_login_reported');}
{% endif %}
</script>
{% endif %}