<div id="shop-shows-tabs">
  {% if linklists[section.settings.main_linklist].links[1] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[1] -%}
    <div id="shop-shows-featured-products">
      {% assign featured_products_count = 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'submenu' %}
          {% assign featured_products_count = featured_products_count | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if featured_products_count > 0 %}
      <div class="featured-products">
        <span>Featured Product{% if featured_products_count > 1 %}s{% endif %}</span>
        <div class="featured-product-items grid">
        {% for block in section.blocks %}
          {% if block.type == 'submenu' %}
            {% assign product = all_products[block.settings.shows_featured_product] %}
            <div class="featured-product-item">

              {% include 'product-tags' %} 

              <a href="{{ product.url}}">
              <div class="product-image">
                <div class="main-image-holder">
                  <img class="product-single-image lazyload" data-sizes="auto" data-src="{{ product.images.first.src | img_url: '110x110', scale: 2 }}" alt="{{ product.images.first.alt | escape }}">
                  {% if product.images.size > 1 %}
                  <img class="product-single-image lazyload" data-sizes="auto" data-src="{{ product.images.last.src | img_url: '110x110', scale: 2 }}" alt="{{ product.images.first.alt | escape }}" style="display: none;">
                  {% endif %}
                </div>
              </div>
              <div>
                <p class="nav-featured-product-title">{{ product.title }}</p>
              </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div id="shop-shows-content">
      {% for link in list.links %}       
        {% capture sublink_title %}{{ link.handle }}{% endcapture %}
        {% if linklists[sublink_title].links != blank %}
          <div class="shop-shows-show-content" id="shop-shows-content-{{link.handle}}" {% if link == list.links.last %}style="display: flex;"{% endif %}>
            <div class="shop-shows-show-content-list">
              <div class="list-title">
                <a href="{{link.url}}">{{ link.title }}</a>
              </div>
                <ul>
                {% for llink in linklists[sublink_title].links %}
                  <li>
                    <a href="{{llink.url}}">{{ llink.title }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
