<div id="sub-navigation-featured">
  {% if linklists[section.settings.main_linklist].links[2] != blank %}
    {%- assign list = linklists[section.settings.main_linklist].links[2] -%}
    <div id="shop-featured-content">
      <div class="shop-featured-navigation-content">
        {% for link in list.links %}
        <div id="shop-featured-{{link.handle}}" class="shop-featured-navigation-section">
          <div class="shop-featured-navigation-section-level-0">
            <ul class="shop-featured-navigation-section-level-1">
            {% if link.links != blank %}
              <li class="list-title"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% for llink in link.links %}
              <li><a href="{{ llink.url }}">{{ llink.title }}</a></li>
              {% endfor%}
            {% else %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
