{% if section.settings.tags_enable or section.settings.sort_enable %}
  {% if section.settings.sort_enable %}
    <div class="filters-toolbar__item filter-group-container" id="filters-sortby-container">
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      {%- assign title = 'Sort By' %}
      {% case sort_by %}
        {% when 'manual' %}{%- capture title %}{{ 'collections.sorting.featured' | t }}{% endcapture %}
        {% when 'best-selling' %}{%- capture title %}{{ 'collections.sorting.best_selling' | t }}{% endcapture %}
        {% when 'title-ascending' %}{%- capture title %}{{ 'collections.sorting.az' | t }}{% endcapture %}
        {% when 'title-descending' %}{%- capture title %}{{ 'collections.sorting.za' | t }}{% endcapture %}
        {% when 'price-ascending' %}{%- capture title %}{{ 'collections.sorting.price_ascending' | t }}{% endcapture %}
        {% when 'price-descending' %}{%- capture title %}{{ 'collections.sorting.price_descending' | t }}{% endcapture %}
        {% when 'created-descending' %}{%- capture title %}{{ 'collections.sorting.date_descending' | t }}{% endcapture %}
      {% endcase %}
      <div class="no-margin t-capitalize filter-title" data-popup="sort-by">{{ title }}</div>
      <div id="filter-sort-by" class="filter-popup">
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "manual" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="manual">{{ 'collections.sorting.featured' | t }}</a></div>
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "best-selling" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="best-selling">{{ 'collections.sorting.best_selling' | t }}</a></div>
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "title-ascending"  %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="title-ascending">{{ 'collections.sorting.az' | t }}</a></div>
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "title-descending" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="title-descending">{{ 'collections.sorting.za' | t }}</a></div>
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "price-ascending" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</a></div>
        <div class="Filter">
          <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "price-descending" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="price-descending">{{ 'collections.sorting.price_descending' | t }}</a></div>
        <div class="Filter">
           <a href="#" onclick="filterCollectionBy(event)" {% if sort_by == "created-descending" %} data-applied-sort-by="marked"{% endif %} data-marked-for-sort-by="created-descending">{{ 'collections.sorting.date_descending' | t }}</a></div>
      </div>
    </div>
  {% endif %}
{% endif %}
<script>
  function filterCollectionBy(event) {
    event.preventDefault();
    $(event.target).parent().parent().find('a[data-applied-sort-by="marked"]').removeAttr('data-applied-sort-by');
    $(event.target).attr('data-applied-sort-by','marked');
  }
</script>