{% comment %}
This is for widgets that share content on Facebook.
See the Facebook Linter: https://developers.facebook.com/tools/debug
{% endcomment %}

{% if template contains 'product' %}
  <meta property="og:type" content="product" />
  <meta property="og:title" content="{{ product.title | strip_html | escape }}" />
  <meta property="og:image" content="http:{{ product.featured_image.src | product_img_url: '1200x1200' }}" />
  <meta property="og:image:secure_url" content="https:{{ product.featured_image.src | product_img_url: '1200x1200' }}" />
  <meta property="og:price:amount" content="{{ product.price | money_without_currency }}" />
  <meta property="og:price:currency" content="{{ shop.currency }}" />
{% elsif template contains 'article' %}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ article.title | strip_html | escape }}" />
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      <meta property="og:image" content="http:{{ src }}" />
      <meta property="og:image:secure_url" content="https:{{ src }}" />
    {% endif %}
  {% endif %}
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page_title | escape }}" />
  {% if settings.og_share_image %}
    <meta property="og:image" content="http:{{ settings.og_share_image | img_url: '1200x1200' }}">
    <meta property="og:image:secure_url" content="https:{{ settings.og_share_image | img_url: '1200x1200' }}" />
  {% elsif settings.use_logo %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}" />
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}" />
  {% endif %}
{% endif %}

{% if page_description %}
<meta property="og:description" content="{{ page_description | escape }}" />
{% endif %}
<meta property="og:url" content="{{ canonical_url }}" />
<meta property="og:site_name" content="{{ shop.name }}" />
