<!-- Footer scripts -->
{{ 'bootstrap.min.js' | asset_url | script_tag }}  
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'owl.carousel.min.js' | asset_url | script_tag }}
{{ 'jquery.jcarousel.latest.min.js' | asset_url | script_tag }}
{{ 'jquery.elevateZoom-3.0.8.min.js' | asset_url | script_tag }}
{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
{{ 'jquery.fakecrop.js' | asset_url | script_tag }}
{%  include 'new-currency' %}
{{ 'jquery.history.js' | asset_url | script_tag }}
{{ 'gosh-scrip.js' | asset_url | script_tag }}
{{ 'modernizr.custom.js' | asset_url | script_tag }}
{{ 'classie.js' | asset_url | script_tag }}
{{ 'jquery.localscroll-1.2.7-min.js' | asset_url | script_tag }}
{{ 'jquery.parallax-1.1.3.js' | asset_url | script_tag }}
{{ 'jquery.imageScroll.js' | asset_url | script_tag }}
{{ 'free-gifts.js' | asset_url | script_tag }}
{{ 'ajax.jquery.js' | asset_url | script_tag }}

<script>
  jQuery('.header-top a.close').bind('click',function(){
    jQuery('.header-top a.close').attr('href','javascript:void(0)');
    jQuery('.header-top').toggle();
  });
</script>
