<header id="header-content">
  <div class="header-top">
    <div class="container no-padding">
      <div class="top-currency row">
        <div class="col-md-4 col-lg-4 col-sm-4 StarzLogo">
          <div class="amc-logo" style="padding: 5px 0;">
            <a href="https://www.starz.com/series/outlander/episodes"><span id="watchOnText" style="color: #fff; font-family: Helvetica, sans-serif; vertical-align:middle; font-weight: 300; font-size: 12px;">Watch on</span> <img src="https://cdn.shopify.com/s/files/1/1527/6355/files/starz_logo.png?3460724417590513740"></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 freeshipMessage">Free Shipping on orders over $100</div>
        <div class="bar-content header-content-right col-lg-4 col-md-4 col-sm-4" style="vertical-align: middle; float: right; padding-right: 0;">
          <div class="header-links">
            <div class="cusstom-link">

              {% if shop.customer_accounts_enabled %}
              {% if customer %}
              <ul class="customer-links">
                {% if settings.enable_wishlist %}
<!--                 <li class="wishlist">
                  <i class="icon_heart" aria-hidden="true"></i>
                  <a href="/pages/wish-list" title="My Wishlist">My Wishlist</a>
                </li> -->
                {% endif %}
                 <li>
                  {{ 'Logout' | customer_logout_link }}

                </li>
                <li>
                  <a class="my-account" href="/account"></a>
                </li>
              </ul>
              {% else %}
              <ul class="customer-links">
                <li><a href="/account/register"><i class="icon_profile" aria-hidden="true"></i></a>
                </li>
                <li><a href="/account/login"><i class="icon_lock-open" aria-hidden="true"></i></a>
                </li>
<!--                 <li class="wishlist">
                  <i class="icon_heart" aria-hidden="true"></i>
                  <a href="/pages/wish-list" title="My Wishlist">My Wishlist</a>
                </li> -->
                <li>{% include 'new-currency-top' %}</li>
              </ul>

              {% endif %}
              {% endif %}
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
  <div class="container no-padding">



    <div class="header-inner">

      <div class="row main-header">

        <div class="col-xs-4 visible-xs toggle-me">
          <div class="toggle-menu">
            <button class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas" data-target="#off-canvas-nav">
              <i class="icon_menu"></i>
            </button>
          </div>
        </div>

        <div class="logo col-md-4 col-sm-4 col-xs-12">
          <div class="">
            {% if settings.use_logo %}
            <h1><a href="/"><img style="width: 350px;" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
            {% if template == 'index' %}
            <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
            {% endif %}
            {% else %}
            <h1><a href="/">{{ shop.name }}</a></h1>
            {% endif %}
          </div>
          <div class="logo-sticky">
            {% if settings.use_logo_sticky %}
            <a href="/"><img src="{{ 'logo-sticky.png' | asset_url }}" alt="{{ shop.name }}" /></a>
            {% endif %}
          </div>

        </div>
        <div class="text-right">
          <div id="search-top">
            {% include 'search-bar' %}
          </div>
           <div class="header-cart">
            <!--%include 'customer_links' %-->
            <div class="top-cart">
              <div class="top-cart">
                <a href="/cart" id="cartToggle">
                  <span class="icon top-icon-cart"><i class="fa fa-shopping-cart"></i>
                    <span class="wrap-cart-mini">
                     <span id="cart-count">{{ cart.item_count }} item</span> - <span class="price-cart-mini">{{cart.total_price | money}}</span> 
                    </span>
                  </span>
                </a> 
              </div>
              <div id="dropdown-cart" style="display:none"> 
                <div class="cart-empty">
                  <p>You have no items in your shopping cart.</p>
                </div>
                <div class="mini_cart_header">
                  <ol class="cart-list">  
                    {% for item in cart.items %}

                    {% comment %}<!-- FREE GIFTS MODULE -->{% endcomment %}
                    {% assign controlExtraClass = '' %}
                    {% if item.product.tags contains 'IS-FREE-GIFT' %}
                      {% assign controlExtraClass = 'freegift-hidden' %}
                    {% endif %}
                    {% comment %}<!-- / FREE GIFTS MODULE -->{% endcomment %}

                    <li class="item" id="cart-item-{{item.id}}">
                      <a href="{{item.url}}" title="{{item.title}}" class="product-image"><img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
                      <div class="product-inner">

                        <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}</a></p>
                        <div class="option">
                          {% if item.product.variants.size != 0 %}
                          {% unless item.variant.title contains 'Default' %}
                          <small>{{ item.variant.title }}</small>
                          {% endunless %}
                          {% endif %}
                        </div>
                        <div class="cart-collateral"><span class="price">{{item.price | money}}  (x {{item.quantity}})</span></div>
                        <a href="javascript:void(0)" title="Remove Item" class="btn-remove btn-remove-ajax {{ controlExtraClass }}"><i class="fa fa-times"></i></a>
                      </div>
                    </li>
                    {% endfor %}
                  </ol>
                  <div class="summary">                
                    <p class="total">
                      <span class="label" style="color:#000; vertical-align: bottom;">Total: </span>
                      <span class="price" style="vertical-align: bottom;"> {{cart.total_price | money}}</span> 
                    </p>
                  </div>
                  <div class="actions">
                    <div class="view-cart btn"><a href="/cart">View Cart</a></div>
                    <button class="btn" onclick="window.location='/checkout'">Checkout</button>
                  </div>
                </div>
              </div>
              {% comment %}
              If customer accounts are enabled, provide login and create account links
              {% endcomment %}
            </div> <!-- End Top Header --> 
          </div>
        </div>

      </div>


    </div> 

  </div>  


  <div class="header">
    <div class="container">
      <div class="row header-menu">
        <div class="col-sm-3 col-xs-12" id="vertical-menu">
          {% include 'verticalmenu' %}
        </div>
        <div class="menu-main-home col-lg-12 col-md-12 col-sm-12 hidden-xs">

          <div class="menu-top ">
            <div class="menu-action">{% include 'site-nav' %}</div>
          </div>
        </div>
        <div class="hotline col-lg-3 col-sm-3 visible-lg">
            {% if settings.use_hotline_top %}
            <div class="info-contact-top primary_color">
              <div class="phone"><p>Hotline: <span>{{settings.text_hotline}}</span></p></div>
            </div>
            {%endif%}
        </div>
      </div>
    </div>
  </div>
  <div style="height: 3px; background-image: url('https://cdn.shopify.com/s/files/1/1527/6355/files/header_border.jpg?14629273009899298516');"></div>
</header>