{% if settings.display_faqs_mission %}
<div class="out-misson faqs" id="accordion2">

  <div class="module-title"><h2><span>{{ settings.faqs_block_out_misson_tile }}</span></h2></div>    
  <div class="sub-title">{{ settings.faqs-block_out_misson }}</div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            {{ settings.faqs_block_out_misson_tile_1 }}
            
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        {{ settings.faqs-block_out_misson_1 }}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            {{ settings.faqs_block_out_misson_tile_2 }}
            
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        {{ settings.faqs-block_out_misson_2 }}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            {{ settings.faqs_block_out_misson_tile_3 }}
            
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        {{ settings.faqs-block_out_misson_3 }}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            {{ settings.faqs_block_out_misson_tile_4 }}
            
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        {{ settings.faqs-block_out_misson_4 }}
      </div>
    </div>
  </div> 

</div>
<script>
  jQuery(document).ready(function(){
    jQuery('#accordion2').collapse({
      toggle: false
    });
  });
</script>
<div class="block-images-right">
  {{ 'images-block-right1.jpg' | asset_url | img_tag }}
  {{ 'images-block-right2.jpg' | asset_url | img_tag }}
</div>
{% endif %}