{% if settings.display_about_home %}
<section class="about-home">
  <div class="container-fluid">
    <div id="widget-static-block" class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="block-item">
          {% if settings.about_icon_1 != blank %}
     		{{ settings.about_icon_1 }}
          {% endif %}
          {% if settings.about_content != blank %}
          <div class="content">
            {{ settings.about_content }}
          </div>
          {% endif %}

          {% if settings.about_button != blank %}
          <div class="button">
            <a class="btn" href="{{ settings.about_button_link }}">{{ settings.about_button }}</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="block-item">
         {% if settings.about_icon_2 != blank %}
     		{{ settings.about_icon_2 }}
          {% endif %}
          {% if settings.about_content_2 != blank %}
          <div class="content">
            {{ settings.about_content_2 }}
          </div>
          {% endif %}

          {% if settings.about_button_2 != blank %}
          <div class="button">
            <a class="btn" href="{{ settings.about_button_link_2 }}">{{ settings.about_button_2 }}</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="block-item">
          {% if settings.about_icon_3 != blank %}
     		{{ settings.about_icon_3 }}
          {% endif %}
          {% if settings.about_content_3 != blank %}
          <div class="content">
            {{ settings.about_content_3 }}
          </div>
          {% endif %}

          {% if settings.about_button_3 != blank %}
          <div class="button">
            <a class="btn" href="{{ settings.about_button_link_3 }}">{{ settings.about_button_3 }}</a>
          </div>
          {% endif %}
        </div>
      </div>
      
    </div>
  </div>
</section>
{% endif %}