{% if settings.display_blog_home %}	
<div class="main-blog">
  <div class="title-tab-home">
    {% if settings.blog_title != blank %}
    <div class="module-title">
      <h2><span>{{ settings.blog_title }}</span></h2>
    </div>
    {% endif %}
  </div>
  <div class="box-content">
    <div id="latest-blogs" class="">

      {% for article in blogs.news.articles  %}
      <div class="item">
        <div class="blog-item"> 
          {% if article.content contains '<img' %}
          <div class="image">
            {% assign content_blog_home = article.content %}
            <img src="{% include 'blog-images' %}" title="{{ article.title }}" class="img-responsive replace-2x" alt="{{ article.title }}" />

          </div>
          {% endif %}
          <div class="content-blog">
            <h3 class="p10">{{ article.title | link_to: article.url }}</h3>
            <div class="short-des">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
              {% else %}
              <p>{{ article.content | strip_html | truncatewords: 8 }}</p>
              {% endif %}
            </div>
            <div class="read-more"><a href="{{ article.url }}"><span>Read more</span><i class="fa fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

</div>
<script>
  $(document).ready(function() {
    $("#latest-blogs").owlCarousel({
      itemsCustom : [
        [320, 1],
        [360, 1],
        [450,1],
        [600, 2],
        [1000, {{ settings.blog_limit }}],
        [1600, {{ settings.blog_limit }}]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>
{% endif %}