{% comment %}
  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  This example has three products per column on desktop, two on
  our medium breakpoint, and a single row on small screens.
{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}

{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign lable_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}

{% assign lable_out = true %}
{% if product.available  %}
  {% assign lable_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}

{% assign product_limitation = 0 %}
{% if settings.display_infinite_scrolling_homepage %}
{% assign product_limitation = settings.product_list_limit | plus: 0 %}
{% assign productIndex = forloop.index |minus:1 | modulo: product_limitation %}
{% else %}
{% assign productIndex = forloop.index |minus:1 %}
{% endif %}

{% assign delayTime = 200 | times : productIndex %}
{% if settings.collection_results_per_row1 != blank and settings.collection_results_per_row1 != '5' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row1 %}
{% assign columns = 12 | divided_by: product_grid %}
<div class="grid-item grid-{{product_grid}}" id="product-{{ product.id }}" >

{% else %}
<div class="grid-item product-item " id="product-{{ product.id }}" >
{% endif %}

 
  <div class="product-image col-xs-4">
    {% if lable_out %}
    <div class="product-label">
      <span>out of stock</span>
    </div>
    {% endif %}
     <a href="{{ product.url | within: collection }}" class="grid-image">
        <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        {% if settings.product_image_hover %}
        <span class="product-image-hover" data-idproduct="{{ product.id }}">
          {% for image in product.images %}
            {% if forloop.first != true %}
              <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}

      </a>
    <div class="quickview-button">
        <a href="javascript:void(0)" id="{{ product.handle }}" title="Quick View" class="sca-qv-button"><i class="fa fa-expand"></i></a>
      </div>
  </div>
  <div class="product-content col-xs-8">
    <h3><a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
     {% if settings.display_product_reviews %}
      	<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}
    <div class="price-box">
      {% if lable_sale %}
      <p class="sale" style="line-height: 1.5">
        {% if product.compare_at_price_min != product.compare_at_price_max %}
        <span class="old-price">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</span>
        <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }} - {{ product.price_max | money }}</span><br>
        <span class="percentage-off" style="color: #A71820;">(Save {{ product.compare_at_price_min | minus:product.price_min | times:100 | divided_by:product.compare_at_price_min |round: 0 }}%)</span>
        {% else %}
        <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
        <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span><br>
        <span class="percentage-off" style="color: #A71820;">(Save {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max |round: 0 }}%)</span>
        {% endif %}
      </p>
      {% else %}
      <p class="regular-product">
        {% comment %}
          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
          if your variants have different prices.
        {% endcomment %}
        <span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
      </p>
      {% endif %}
    </div> 
 
  </div>
</div>