<div class="loading cbox">Processing...</div>
<div class="ajax-error-cbox cbox">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-cbox cbox">
	<div class="content">

        <p class="success-message show-cart">Your item(s) has been added.</p>
        <p class="success-message show-wishlist">added to wishlist success.</p>        
        <div class="cart-buttons inner-right inner-left addedBox">
          <a href="javascript:void(0)" class="close-cbox continueShop"><input type="submit" class="btn" value="Continue Shopping" /></a>
          <a href="/cart"> <input type="submit" class="btn continueShop" name="cart" value="View Cart" /></a>
        </div>
      <a href="javascript:void(0)" class="close-cbox"><span class="icon_close"></span></a>
 	</div>    
</div>