{% if settings.show_multiple_currencies %}
	
    <div id="currencies-top" class="">
     
       <div class="popup-title dropdown-toggle">
          	
            {% for i in (1..5) %}
                {% capture currency_t %}supported_currencies_{{ i }}{% endcapture %}
                {% capture currency_img_t %}currencies_img_{{ i }}.png{% endcapture %}
                {% if settings[currency_t] == shop.currency %}
                    {% assign currency_img_current = currency_img_t %}
                    {% assign currency_current = settings[currency_t] %}
                {% endif %}
            {% endfor %}
            <span id="pre-currencies" class="text-label"><img src="{{ currency_img_current | asset_url }}" alt="" />{{ currency_current }}</span>
          	<span class="fa fa-angle-down"></span>
        </div>
        <div class="dropdown-currency">
            <ul id="currencies" class="currencies_ul list-unstyle">
                {% for i in (1..5) %}
                    {% capture currency %}supported_currencies_{{ i }}{% endcapture %}
                    {% capture currency_img %}currencies_img_{{ i }}.png{% endcapture %}
                    {% assign currency_size = settings[currency] | size %}
                    {% if currency_size > 0 %}
                        <li class="">
                           <a data-currency="{{ settings[currency] }}" class=" currency {% if shop.currency == settings[currency] %}selected{% endif %}" href="#" rel="nofollow">           
                                 <img src="{{ currency_img | asset_url }}" alt="" /> {{ settings[currency] }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if settings.show_multiple_currencies %}
  <script>
    jQuery(function() {

      jQuery('#currencies li a').on('click', function() {
          jQuery('#pre-currencies').attr('data-currency', jQuery(this).data('currency'));
      });

    });

  </script>
  <style>

    {% for i in (1..5) %}
      {% capture currency %}supported_currencies_{{ i }}{% endcapture %}
      {% capture currency_img %}currencies_img_{{ i }}.png{% endcapture %}
      {% capture currency_img %}currencies_img_{{ i }}.png{% endcapture %}
      {% assign currency_size = settings[currency] | size %}
      {% if currency_size > 0 %}
       #currencies-top div[data-currency="{{ settings[currency] }}"]  {background: url({{ currency_img | asset_url }}) no-repeat 0 5px;}
      {% endif %}
    {% endfor %}
  </style>
{% endif %}