{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
{% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
    <p class="form-success" style="color: #fff; font-size: 18px; text-align: center;">Thanks for signing up!</p>
  {% else %}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <input type="email" name="contact[email]" value="{% if customer %}{{ customer.email }}{% endif %}" id="mail" class="input-group-field" placeholder="Enter your email here">
    <span class="input-group-btn">
	    <button type="submit" class="btn" value="" name="subscribe" style="background-color: #BE8842;">Subscribe</button>
	  </span>
  {% endif %}
{% endform %}


