{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}


{% if settings.display_product_icon_share %}
<div class="mt-social-links social-icons share-row">
  {% if settings.social_title_2 != blank %}              
  <a  target="popup" onclick="window.open('//www.facebook.com/sharer.php?u={{ permalinkURL }}','popup','width=600,height=600'); return false;" class="icon icon_facebook tip-top tooltipstered"><span class="{{ settings.product_icon_share_1 }}"></span></a>     
  {% endif %}
  {% if settings.product_icon_share_2 != blank %} 
  <a target="popup" onclick="window.open('//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}','popup','width=600,height=600'); return false;" class="icon icon_twitter tip-top tooltipstered"><span class="{{ settings.product_icon_share_2 }}"></span></a>  
  {% endif %}
  {% if settings.product_icon_share_3 != blank %} 
  <a target="popup" onclick="window.open('//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}','popup','width=600,height=600'); return false;" class="icon icon_email tip-top tooltipstered"><span class="{{ settings.product_icon_share_3 }}"></span></a>    
  {% endif %}
</div>

{% endif %}
