
{% assign delayTime = 200 | times : forloop.index %}
{% if settings.collection_results_per_row != blank and settings.collection_results_per_row != '5' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row %}
{% assign columns = 12 | divided_by: product_grid %}
{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign lable_sale = true %}
{% endif %}

<div class="grid-item product-item col-lg-{{settings.collection_results_per_row}} col-sm-6 col-xs-6 item-category" id="product-{{ product.id }}">
  {% else %}
  <div class="grid-item product-item " id="product-{{ product.id }}">
    {% endif %}

    {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
    you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
    - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

    {% endcomment %}
    <div class="container-product">
      <div class="product-image">
        {% assign found = false %}
        {% for c in product.collections %}
          {% if c.handle == "5-off-2-day-shipping" %}
            {% assign found = true %}
          {% endif %}
        {% endfor %}

        {% if found == true %}
          <span class="icon-label new-box">
            <img src="https://cdn.shopify.com/s/files/1/1527/6355/files/otl_badge.png?15548028677518297261">
          </span>
        {% endif %}
        <a href="{{ product.url | within: collection }}" class="product-grid-image">
          <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          {% if settings.product_image_hover %}
          <span class="product-image-hover" data-idproduct="{{ product.id }}">
            {% for image in product.images %}
            {% if forloop.first != true %}
            <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </a>
        <div class="quickview-button">
          <a href="javascript:void(0)" id="{{ product.handle }}" title="Quick View" class="view-more"><span class="btn-view btn">View More</span></a>
        </div>
      </div>



      <div class="product-content">
        <h3><a class="product-title" href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
        {% if settings.display_product_reviews %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

        <div class="price-box">
          {% if lable_sale %}
          <p class="sale">
            {% if product.compare_at_price_min != product.compare_at_price_max %}
            <span class="old-price">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</span>
            <span class="special-price">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
            {% else %}
            <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
            <span class="special-price">{{ product.price_min | money }}</span> 
            {% endif %}
          </p>
          {% else %}
          <p class="regular-product">
            {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
            {% endcomment %}
            {% if product.price_varies %} 
            <span >{{ product.price_min | money }} - {{ product.price_max | money }} </span>
            {% else %}
              <span >{{ product.price | money }} </span>
            {% endif %}
          </p>
          {% endif %}
          {% if lable_sale or lable_out %}
          <div class="">
            {% if lable_sale %}
            {% if product.compare_at_price_min != product.compare_at_price_max %}
              <span id="savePercent">(Save {{ product.compare_at_price_max | minus: product.price_max | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
            {% else %}
              <span id="savePercent">(Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: ".0"}}%)</span>
            {% endif %}
            {% endif %}
            {% if lable_out %}
            <span id="outStock">OUT OF STOCK</span>
            {% endif %}
          </div>
          {% endif %}
        </div>

<!--         <p class="short-description">{{ product.description | strip_html | truncatewords: 50 }}</p> -->
        <div class="product-button">
<!--           <div class="action">
            {% assign variantCount = product.variants | size %}
            <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data" style="padding:0px;">    
              {% if sold_out %}
              <input class="btn add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" />
              {% else %}
              {% if variantCount > 1 %}    
              <input class="btn add-to-cart-btn" type="button" onclick="window.location.href='{{product.url}}'" value="Select" />
              {% else %}
              <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
              <input class="btn add-to-cart-btn" type="submit" value="Add to Cart" />
              {% endif %}
              {% endif %}
            </form>     
          </div> -->
          <div class="add-to-link">
            {% include 'wishlist-product' %} 
          </div>
        </div>
      </div>
    </div>
  </div>
