{% raw  %}
<script id="saso-cross-sell-popup" type="text/x-handlebars-template">
<div class="saso-cross-sell-popup">
    <span class="saso-notifications-message">{{notifications_message}}</span>
    <br>

	<table><tr>
    {{#products}}    
    <td class="saso-product-container" data-product-id="{{id}}" data-variant-id="{{variants.0.id}}">
        <div class="image"><a href="/products/{{handle}}" class="saso-crosssell-nav" data-product-id="{{id}}"><img src="{{image.src}}" /></a></div>
        <div class="title">{{title}}</div>
        <div class="variant-title">{{variant_title}}</div>
        <span class="was-price">{{{variants.0.compare_at_price}}}</span>
        <span class="price">{{{variants.0.price}}}</span>
        <div class="select-options" style="{{style_options}}"><a href="/products/{{handle}}" class="saso-crosssell-nav" data-product-id="{{id}}">Choose options</a></div>
        <br>
        <button class="add-to-cart saso-crosssell-nav" data-product-id="{{id}}" data-variant-id="{{variants.0.id}}">Add to Cart</button>
    </td>
    {{/products}}
    </tr></table>
    
    <div class="saso-hide-when-embedded">
      <br>
      <p><a href="#" class="close">Thanks, please continue</a></p>
    </div>
  </div>

</script>


<script id="saso-volume-discount-tiers" type="text/x-handlebars-template">
<div class="saso-volume-discount-tiers">
    <h4>Buy more, Save more</h4>

	<table class="saso-table">
		<tr><th>Minimum Qty</th><th>Price per item</th><th>&nbsp;</th></tr>
        {{#tiers}}
    	<tr>
        	<td>{{quantity}}</td>
        	<td>{{{price.title}}}</td>
            <td><a href="#" class="add-to-cart" data-quantity="{{quantity}}">Add to Cart</a></td>
  		</tr>    
    	{{/tiers}}
    </table>
</div>

</script>


{% endraw %}