{% if settings.enable_wishlist %}
  {% if customer %}
    {% assign value = product.id %}
    {% capture productID %}{{ product.id }}{% endcapture %}
    {% for tag in customer.tags %}
      {% capture tagID %}{{ tag }}{% endcapture %}
      {% if tagID contains productID %}
        {% capture value %}x{{ tagID }}{% endcapture %}
      {% endif %}
      {% if value.size == 0 %}{% assign value = productID %}{% endif %}
    {% endfor %}

    {% unless value.size == 0 %}
      {% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
      {% assign check = check | split:'.' %}
      {% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
    {% endunless %}

    {% if display %}
      {% form 'customer' %}
        <input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
        <input type="hidden" name="contact[tags]" value="{{ value }}" />
<button class="wishlist" ><i class="fa fa-heart-o"></i><span>Add to wishlist</span></button>
      {% endform %}
    {% else %}
<a class="wishlist" href="/pages/wish-list" ><i aria-hidden="true" class="icon_heart"></i><span>Go to wishlist</span></a>
    {% endif %}
  {% else %}
<a class="wishlist" href="/account/login" ><i aria-hidden="true" class="icon_heart"></i><span>Add to wishlist</span></a>
  {% endif %}
{% endif %}