/*******************************************************************************
All MyBuys Styling Should Be Done In This File, Below These Lines
*******************************************************************************/
#mybuyspagezone1 {
  margin: 25px 0 35px 30px;
  position: relative;
  display: none;
  float: left;
  width: 100%;

  .MB_PROD1 {
    width: 100% !important;

    .MB_STY0 {
      font-family: 'StreetB-Regular';
      font-size: 16px;
      padding: 10px 0;
      margin-left: 25px;
      color: #333;
      font-weight: 800;
      margin-bottom: 10px;
      margin-left: 30px;
      visibility: hidden;
      &:before{
        content: 'You Might Also Like:';
        visibility: visible;
      }
    }

    .MB_STY1 {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      .MB_STY2 {
        max-width: 1174px;
        width: 100%;
        ul.MB_STY3 {
          li.MB_PRODUCTSLOT {  
            .MB_STY4 {
              a.MB_PRODUCTIMAGELINK {
                img.MB_PRODUCTIMAGE {
                }
              }
            }
            .MB_STY5 {
              a.MB_PRODUCTNAME, a.MB_PRODUCTNAMELINK {
                color: #3d4246;
                font-family: 'StreetB-Medium', Arial, sans-serif;
                line-height: 22px;
                font-size: 16px;
                padding: 10px 0;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

  }
  @media only screen and (max-width: 1198px) and (min-width: 1025px){
    .MB_STY1,
    .MB_STY0 {
      max-width: 1000px!important;
      margin: 15px auto!important;
    }
    .MB_STY2{
      max-width: 950px!important;
    }
  }
  @media only screen and (max-width: 1024px) and (min-width: 769px){
    .MB_STY1,
    .MB_STY0 {
      max-width: 768px!important;
      margin: 15px auto!important;
    }
    .MB_STY2{
      max-width: 704px!important;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 768px){
    margin: 0;
    .MB_STY1,
    .MB_STY0 {
      max-width: 650px!important;
    }
    .MB_STY2{
      max-width: 480px!important;
    }
  }
  @media only screen and (max-width: 767px){
    .MB_STY1,
    .MB_STY0 {
      max-width: 300px!important;
      margin: 15px auto!important;
    }
    .MB_STY2{
      max-width: 236px!important;
    }
  }
  @media only screen and (max-width: 414px){
    .MB_STY1,
    .MB_STY0 {
      max-width: 270px!important;
      margin: 0!important;
    }
  }
}
