{% layout none %}
{% assign product_tags = '' %}
{% paginate collection.products by collection.all_products_count %}
{% for product in collection.products %}
	{% capture product_tags %}{{ product_tags }}{% if product_tags != '' %},{% endif %}{{product.tags | join:','}}{% endcapture %}
{% endfor %}
{% assign _tags = product_tags | split: ',' %}
{% assign __tags = _tags | sort %}
{% assign current_tag = __tags[0] %}
{% assign counter = 0 %}
{% for _t in __tags %}
	{% if _t == current_tag %}
		{% assign counter = counter | plus: '1' %}
	{% else %}
		{% capture ___tags %}{{ ___tags }},{{ current_tag | handleize }}:{{ counter }}{% endcapture %}
		{% assign counter = 1 %}
		{% assign current_tag = _t %}
	{% endif %}
{% endfor %}
{% capture ___tags %}{{ ___tags }},{{ current_tag | handleize }}:{{ counter }}{% endcapture %}
{{ ___tags | split: ',' | json }}
{% endpaginate %}
 