$(window).on('load', function() {
    if($('#cart-products-recommendation-info').length > 0) {
        var __product_to_load = $('#cart-products-recommendation-info > div:first-child');
        $(".cart-related > .row.collapse").append('<div class="shopify-recommendations-container"><div class="padding-top-5x"><div></div></div></div>')
        var recommendations_url = window.location.origin + __product_to_load.attr('data-base-url')+".json?product_id="+__product_to_load.attr('data-product-id')+"&limit=3"; 
        $.getJSON(recommendations_url, function(data) { 
            data.products.forEach(function(item) {
                var _product_title = item.title; 
                var _product_image = item.featured_image;
                var _product_price = item.price / 100;
                var _product_url = item.url; 
                var _item_template = $('#cart-recommendations-item-template').clone(); 
                var _product_compare_price = item.compare_at_price; 
                $(_item_template).find('.background-image').attr('style','background-image:url('+_product_image+')'); 
                $(_item_template).find('.product-title').html(_product_title); 
                $(_item_template).find('p.padding-top.padding-bottom').html('$'+_product_price); 
                $(_item_template).find('a').attr('href',_product_url); 
                $(".cart-related > .row.collapse .shopify-recommendations-container > div > div").append(_item_template);   
                $(".cart-related > .row.collapse .shopify-recommendations-container > div > div > div").removeClass("visually-hidden"); 
            }); 
        }); 
    }
});
