<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="10" height="10">
  <path d="M26 16c0-.3-.2-.6-.4-.8l-18-13c-.3-.2-.7-.3-1.1-.1-.3.2-.5.5-.5.9v26c0 .4.2.7.5.9.2.1.3.1.5.1s.4-.1.6-.2l18-13c.2-.2.4-.5.4-.8z" fill="#3bb9ff"/>
</svg>
