<!-- /templates/blog.liquid -->

{% paginate blog.articles by 4 %}

  <div class="container l">
    <div class="row">

      <div class="column l12">

        {% if current_tags %}
          <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
        {% else %}
          <h1>{{ blog.title }}</h1>
        {% endif %}

        {% for article in blog.articles %}

          <div class="article">

            <h2 class="h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>

            {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
            {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%A, %-d %B, %Y' }}</time>{% endcapture %}
            <p>{{ 'blog.article.author_on_date_html' | t: author: author, date: date }}
              {% if article.tags.size > 0 %}
                <br>
                <span>{{ 'common.tags' | t }}:</span>
                {% for tag in article.tags %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              {% endif %}
              {% if blog.comments_enabled? %}
                <br>
                <a href="{{ article.url }}#comments">{{ 'blog.comments.with_count' | t: count: article.comments_count }}</a>
              {% endif %}
            </p>

            {% if article.image %}
              <a href="{{ article.url }}">
                {{ article | img_url: '1024x1024' | img_tag: article.title }}
              </a>
            {% endif %}

            <div class="rte">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
              {% endif %}
            </div>

            <p><a href="{{ article.url }}">{{ 'blog.article.read_more' | t }}</a></p>

          </div>

          {% unless forloop.last %}<hr>{% endunless %}

        {% endfor %}

        {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}

      </div>

    </div>
  </div>

{% endpaginate %}
