<!-- /templates/collection.liquid -->

{% section 'template-collection' %}

{% assign pagination_amounts = '12,24,48' | split: ',' %}
{% if canonical_url contains 'collection=' %}
  {% assign pagination_amount = canonical_url | split: 'collection=' | last %}
  {% if pagination_amount contains '&' %}
    {% assign pagination_amount = pagination_amount | split: '&' | first %}
  {% endif %}
  {% assign pagination_amount = pagination_amount | plus: 0 %}
{% endif %}

{% unless pagination_amount %}
  {% assign pagination_amount = pagination_amounts | last | plus: 0 %}
{% endunless %}
