{%- layout none -%}
{%- paginate collection.products by 25 -%}
  {%- for product in collection.products -%}
    {%- for tag in product.tags -%}
      {{- tag | handleize -}}
      {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
{%- endpaginate -%}
