<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bostonballet" viewBox="0 -10 180 200">
  <path id="Selection"
        fill="none" stroke="black"
        d="M 87.00,7.00
           C 98.61,7.00 112.12,4.59 120.81,14.04
             123.92,17.42 126.51,21.38 125.00,26.00
             120.42,6.76 106.53,8.00 91.00,8.00
             84.67,8.00 78.19,7.49 72.00,9.00
             74.92,5.74 82.76,7.00 87.00,7.00 Z
           M 73.00,26.00
           C 83.06,26.00 90.90,27.04 97.32,35.99
             102.90,43.79 101.22,48.13 104.31,49.89
             110.09,53.17 120.23,43.54 122.78,39.00
             122.78,39.00 127.00,27.00 127.00,27.00
             126.74,32.60 125.81,38.35 122.36,42.96
             119.35,47.00 116.63,47.30 114.00,52.00
             134.62,54.14 144.75,78.02 137.52,96.00
             133.70,105.53 127.28,107.59 126.40,112.09
             126.40,112.09 126.91,127.00 126.91,127.00
             126.13,138.38 121.67,149.15 113.84,157.49
             107.15,164.63 98.46,169.59 89.00,171.87
             84.16,173.04 79.91,174.88 77.00,170.00
             89.77,166.26 95.46,168.15 107.15,157.52
             130.81,136.03 127.53,101.60 101.00,84.10
             86.02,74.22 67.14,77.00 50.00,77.00
             50.00,77.00 50.00,134.00 50.00,134.00
             50.00,134.00 46.00,134.00 46.00,134.00
             46.00,134.00 46.00,26.00 46.00,26.00
             46.00,26.00 64.00,26.00 64.00,26.00
             66.55,25.95 69.23,26.07 70.83,23.69
             72.49,21.18 72.00,13.23 72.00,10.00
             72.00,10.00 73.00,26.00 73.00,26.00 Z
           M 72.00,73.00
           C 77.24,72.99 82.21,72.78 87.00,70.32
             91.01,68.26 93.96,64.98 96.01,61.00
             100.96,51.33 98.21,38.89 88.68,33.10
             82.86,29.56 75.64,29.01 69.00,29.00
             65.52,28.99 53.01,28.09 51.02,30.60
             49.77,32.19 50.00,36.01 50.00,38.00
             50.00,38.00 50.00,65.00 50.00,65.00
             50.02,68.45 50.05,69.64 51.00,73.00
             51.00,73.00 72.00,73.00 72.00,73.00 Z
           M 137.28,93.00
           C 142.48,76.14 133.73,57.62 116.00,53.24
             113.30,52.57 107.78,51.55 105.15,52.31
             100.37,53.70 103.92,57.36 98.00,63.00
             98.00,63.00 91.00,75.00 91.00,75.00
             108.80,80.08 117.49,92.29 125.00,108.00
             131.73,105.30 135.19,99.74 137.28,93.00 Z
           M 92.00,68.00
           C 92.00,68.00 93.00,69.00 93.00,69.00
             93.00,69.00 93.00,68.00 93.00,68.00
             93.00,68.00 92.00,68.00 92.00,68.00 Z
           M 112.00,88.00
           C 112.00,88.00 113.00,89.00 113.00,89.00
             113.00,89.00 113.00,88.00 113.00,88.00
             113.00,88.00 112.00,88.00 112.00,88.00 Z
           M 110.00,89.00
           C 110.00,89.00 111.00,90.00 111.00,90.00
             111.00,90.00 111.00,89.00 111.00,89.00
             111.00,89.00 110.00,89.00 110.00,89.00 Z
           M 111.00,155.00
           C 111.00,155.00 112.00,156.00 112.00,156.00
             112.00,156.00 112.00,155.00 112.00,155.00
             112.00,155.00 111.00,155.00 111.00,155.00 Z
           M 88.00,170.00
           C 88.00,170.00 89.00,171.00 89.00,171.00
             89.00,171.00 89.00,170.00 89.00,170.00
             89.00,170.00 88.00,170.00 88.00,170.00 Z" />
</svg>
